Repository ag-grid/ag-charts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ag-grid/ag-charts-team, @markdurrant, @taktran, @alantreadway, @rmc-software

.github/CODEOWNERS:

# NOTE: Order of entries matters - later entries have higher precedence.

# Attribute code-owners so default reviewers are assigned to PRs.
* @ag-grid/ag-charts-team

# Astro + website changes to be reviewed by website team.
*.scss @markdurrant
*.astro @taktran
/packages/ag-charts-website/astro/** @taktran
/packages/ag-charts-website/components/** @taktran
/packages/ag-charts-website/features/** @taktran
/packages/ag-charts-website/layouts/** @taktran
/packages/ag-charts-website/stores/** @taktran
/packages/ag-charts-website/utils/** @taktran

# Docs updates to be reviewed by Eng VP.
/packages/ag-charts-website/content/** @alantreadway @rmc-software
*.mdoc @rmc-software

# Charts library code to be reviewed by Chart TL.
/packages/ag-charts-community/** @alantreadway
/packages/ag-charts-enterprise/** @alantreadway

# Sensitive build/repo files to be reviewed by Chart TL.
**/package.json @alantreadway
nx.json @alantreadway
**/project.json @alantreadway
**/tsconfig.json @alantreadway
**/tsconfig.*.json @alantreadway

CRT-337 - Fix initial focus reset handling.
  packages/ag-charts-community/src/chart/chart.ts
Owners: @alantreadway

Release prep for 10.0.0-beta.20240628.1220
  .env
  libraries/ag-charts-test/package.json
  package.json
  packages/ag-charts-angular/package.json
  packages/ag-charts-angular/projects/ag-charts-angular/package.json
  packages/ag-charts-community-examples/package.json
  packages/ag-charts-community/package.json
  packages/ag-charts-community/src/version.ts
  packages/ag-charts-enterprise/package.json
  packages/ag-charts-locale/package.json
  packages/ag-charts-react/package.json
  packages/ag-charts-types/package.json
  packages/ag-charts-vue3/package.json
  packages/ag-charts-website/.env.build
  packages/ag-charts-website/.env.build.archive
  packages/ag-charts-website/.env.build.production
  packages/ag-charts-website/.env.build.staging
  packages/ag-charts-website/.env.dev
  packages/ag-charts-website/.env.preview
  packages/ag-charts-website/.env.preview.production
  packages/ag-charts-website/.env.preview.staging
  packages/ag-charts-website/package.json
  plugins/ag-charts-generate-chart-thumbnail/package.json
  plugins/ag-charts-generate-code-reference-files/package.json
  plugins/ag-charts-generate-example-files/package.json
Owners: @ag-grid/ag-charts-team, @alantreadway

CRT-354 - Fix build.
  plugins/ag-charts-generate-chart-thumbnail/src/executors/generate/executor.ts
  plugins/ag-charts-generate-chart-thumbnail/src/executors/generate/generator/constants.ts
Owners: @ag-grid/ag-charts-team

CRT-373 Animate the pie/donut highlight labels
  packages/ag-charts-community/src/chart/series/polar/donutSeries.ts
  packages/ag-charts-community/src/chart/series/polar/pieSeries.ts
Owners: @alantreadway

CRT-397 Move zoom context menu actions to extraSeriesActions
  packages/ag-charts-community/src/chart/interaction/contextMenuRegistry.ts
  packages/ag-charts-enterprise/src/features/context-menu/contextMenu.ts
  packages/ag-charts-enterprise/src/features/zoom/zoomContextMenu.ts
  packages/ag-charts-types/src/chart/contextMenuOptions.ts
Owners: @alantreadway, @ag-grid/ag-charts-team

update ordinal time snapshots
  packages/ag-charts-enterprise/src/axes/ordinal/__image_snapshots__/ordinal-time-axis-test-ts-ordinal-time-axis-examples-for-ordinal-time-axis-tick-min-spacing-flip-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-enterprise/src/axes/ordinal/__image_snapshots__/ordinal-time-axis-test-ts-ordinal-time-axis-examples-for-ordinal-time-axis-tick-min-spacing-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-enterprise/src/axes/ordinal/__image_snapshots__/ordinal-time-axis-test-ts-ordinal-time-axis-examples-for-ordinal-time-axis-tick-min-spacing-manual-rotation-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-enterprise/src/axes/ordinal/__image_snapshots__/ordinal-time-axis-test-ts-ordinal-time-axis-examples-for-ordinal-time-axis-tick-min-spacing-reversed-axes-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-enterprise/src/axes/ordinal/__image_snapshots__/ordinal-time-axis-test-ts-ordinal-time-axis-examples-for-ordinal-time-axis-time-stamp-data-flip-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-enterprise/src/axes/ordinal/__image_snapshots__/ordinal-time-axis-test-ts-ordinal-time-axis-examples-for-ordinal-time-axis-time-stamp-data-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-enterprise/src/axes/ordinal/__image_snapshots__/ordinal-time-axis-test-ts-ordinal-time-axis-examples-for-ordinal-time-axis-time-stamp-data-manual-rotation-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-enterprise/src/axes/ordinal/__image_snapshots__/ordinal-time-axis-test-ts-ordinal-time-axis-examples-for-ordinal-time-axis-time-stamp-data-reversed-axes-it-should-render-to-canvas-as-expected-1-snap.png
Owners: @alantreadway

CRT-383: Ordinal time axis - Center tick labels spread
  packages/ag-charts-community/src/scale/ordinalTimeScale.ts
Owners: @alantreadway

CRT-398 Fix sector artefacting
  packages/ag-charts-community/src/scene/shape/sector.ts
Owners: @alantreadway

CRT-351 - Inline code block should switch example code to match the framework
  packages/ag-charts-website/src/content/docs/financial-chart-types/index.mdoc
Owners: @rmc-software

CRT-356: Website / Financial - Feature toggles do not appear in the API
  packages/ag-charts-types/src/api/presetOptions.ts
  packages/ag-charts-website/src/content/docs/financial-chart-types/index.mdoc
Owners: @ag-grid/ag-charts-team, @rmc-software

CRT-353 Fix floating toolbar shifting position when toggled by proxy
  packages/ag-charts-community/src/chart/toolbar/toolbar.ts
Owners: @alantreadway

Revert "CRT-364 Fix context menu 'zoom to here' action when not clicking a node"
  packages/ag-charts-enterprise/src/features/zoom/zoomContextMenu.ts
Owners: @alantreadway

CRT-337 - Fix click on canvas not focusing.
  packages/ag-charts-community/src/chart/interaction/keyNavManager.ts
Owners: @alantreadway

Release prep for 10.0.0-beta.20240628.1220
  .env
  libraries/ag-charts-test/package.json
  package.json
  packages/ag-charts-angular/package.json
  packages/ag-charts-angular/projects/ag-charts-angular/package.json
  packages/ag-charts-community-examples/package.json
  packages/ag-charts-community/package.json
  packages/ag-charts-community/src/version.ts
  packages/ag-charts-enterprise/package.json
  packages/ag-charts-locale/package.json
  packages/ag-charts-react/package.json
  packages/ag-charts-types/package.json
  packages/ag-charts-vue3/package.json
  packages/ag-charts-website/.env.build
  packages/ag-charts-website/.env.build.archive
  packages/ag-charts-website/.env.build.production
  packages/ag-charts-website/.env.build.staging
  packages/ag-charts-website/.env.dev
  packages/ag-charts-website/.env.preview
  packages/ag-charts-website/.env.preview.production
  packages/ag-charts-website/.env.preview.staging
  packages/ag-charts-website/package.json
  plugins/ag-charts-generate-chart-thumbnail/package.json
  plugins/ag-charts-generate-code-reference-files/package.json
  plugins/ag-charts-generate-example-files/package.json
Owners: @ag-grid/ag-charts-team, @alantreadway

CRT-337 - Fix click on canvas not focusing.
  packages/ag-charts-community/src/chart/chart.ts
  packages/ag-charts-community/src/chart/dom/domStyles.css
Owners: @alantreadway

CRT-337 - Add comment to explain reset logic change.
  packages/ag-charts-community/src/chart/chart.ts
Owners: @alantreadway

CRT-337 - Fix initial focus reset handling.
  packages/ag-charts-community/src/chart/chart.ts
Owners: @alantreadway

CRT-354 - Add ag-financial theme type.
  packages/ag-charts-community/src/api/preset/priceVolumePreset.ts
  packages/ag-charts-types/src/chart/themeOptions.ts
Owners: @alantreadway, @ag-grid/ag-charts-team

CRT-396 Update i18n
  packages/ag-charts-locale/src/ar-EG.ts
  packages/ag-charts-locale/src/bg-BG.ts
  packages/ag-charts-locale/src/cs-CZ.ts
  packages/ag-charts-locale/src/da-DK.ts
  packages/ag-charts-locale/src/de-DE.ts
  packages/ag-charts-locale/src/el-GR.ts
  packages/ag-charts-locale/src/es-ES.ts
  packages/ag-charts-locale/src/fa-IR.ts
  packages/ag-charts-locale/src/fi-FI.ts
  packages/ag-charts-locale/src/fr-FR.ts
  packages/ag-charts-locale/src/he-IL.ts
  packages/ag-charts-locale/src/hr-HR.ts
  packages/ag-charts-locale/src/hu-HU.ts
  packages/ag-charts-locale/src/it-IT.ts
  packages/ag-charts-locale/src/ja-JP.ts
  packages/ag-charts-locale/src/ko-KR.ts
  packages/ag-charts-locale/src/main.test.ts
  packages/ag-charts-locale/src/nb-NO.ts
  packages/ag-charts-locale/src/nl-NL.ts
  packages/ag-charts-locale/src/pl-PL.ts
  packages/ag-charts-locale/src/pt-BR.ts
  packages/ag-charts-locale/src/pt-PT.ts
  packages/ag-charts-locale/src/ro-RO.ts
  packages/ag-charts-locale/src/sk-SK.ts
  packages/ag-charts-locale/src/sv-SE.ts
  packages/ag-charts-locale/src/tr-TR.ts
  packages/ag-charts-locale/src/uk-UA.ts
  packages/ag-charts-locale/src/ur-PK.ts
  packages/ag-charts-locale/src/vi-VN.ts
  packages/ag-charts-locale/src/zh-CN.ts
  packages/ag-charts-locale/src/zh-HK.ts
  packages/ag-charts-locale/src/zh-TW.ts
Owners: @ag-grid/ag-charts-team

CRT-358 Hide i18n frameowk examples for angular, vue
  packages/ag-charts-website/src/content/docs/localisation/index.mdoc
Owners: @rmc-software

Release prep for 10.0.0-beta.20240628
  .env
  libraries/ag-charts-test/package.json
  package.json
  packages/ag-charts-angular/package.json
  packages/ag-charts-angular/projects/ag-charts-angular/package.json
  packages/ag-charts-community-examples/package.json
  packages/ag-charts-community/package.json
  packages/ag-charts-community/src/version.ts
  packages/ag-charts-enterprise/package.json
  packages/ag-charts-locale/package.json
  packages/ag-charts-react/package.json
  packages/ag-charts-types/package.json
  packages/ag-charts-vue3/package.json
  packages/ag-charts-website/.env.build
  packages/ag-charts-website/.env.build.archive
  packages/ag-charts-website/.env.build.production
  packages/ag-charts-website/.env.build.staging
  packages/ag-charts-website/.env.dev
  packages/ag-charts-website/.env.preview
  packages/ag-charts-website/.env.preview.production
  packages/ag-charts-website/.env.preview.staging
  packages/ag-charts-website/package.json
  plugins/ag-charts-generate-chart-thumbnail/package.json
  plugins/ag-charts-generate-code-reference-files/package.json
  plugins/ag-charts-generate-example-files/package.json
Owners: @ag-grid/ag-charts-team, @alantreadway

CRT-395 TC1 Fix zoom axis-leave handling
  packages/ag-charts-enterprise/src/features/zoom/zoom.ts
Owners: @alantreadway

Revert "CRT-391: Bar series using nice time axis by default"
  packages/ag-charts-community/src/chart/series/cartesian/barSeriesModule.ts
Owners: @alantreadway

Improve Hebrew locale translations
  packages/ag-charts-locale/src/he-IL.ts
  packages/ag-charts-types/src/chart/localeOptions.ts
Owners: @ag-grid/ag-charts-team

minor cleanup
  packages/ag-charts-locale/src/he-IL.ts
Owners: @ag-grid/ag-charts-team

AG-3390 - Financial Charts page first pass
  packages/ag-charts-website/public/docs/financial-charts/gif-animation.gif
  packages/ag-charts-website/src/content/docs/financial-charts/index.mdoc
Owners: @ag-grid/ag-charts-team, @rmc-software

fix types
  packages/ag-charts-community/src/chart/locale/defaultMessageFormatter.ts
Owners: @alantreadway

Release prep for 10.0.0-beta.20240628.1359
  .env
  libraries/ag-charts-test/package.json
  package.json
  packages/ag-charts-angular/package.json
  packages/ag-charts-angular/projects/ag-charts-angular/package.json
  packages/ag-charts-community-examples/package.json
  packages/ag-charts-community/package.json
  packages/ag-charts-community/src/version.ts
  packages/ag-charts-enterprise/package.json
  packages/ag-charts-locale/package.json
  packages/ag-charts-react/package.json
  packages/ag-charts-types/package.json
  packages/ag-charts-vue3/package.json
  packages/ag-charts-website/.env.build
  packages/ag-charts-website/.env.build.archive
  packages/ag-charts-website/.env.build.production
  packages/ag-charts-website/.env.build.staging
  packages/ag-charts-website/.env.dev
  packages/ag-charts-website/.env.preview
  packages/ag-charts-website/.env.preview.production
  packages/ag-charts-website/.env.preview.staging
  packages/ag-charts-website/package.json
  plugins/ag-charts-generate-chart-thumbnail/package.json
  plugins/ag-charts-generate-code-reference-files/package.json
  plugins/ag-charts-generate-example-files/package.json
Owners: @ag-grid/ag-charts-team, @alantreadway

intial gifs
  packages/ag-charts-website/public/docs/financial-charts/annotations.gif
  packages/ag-charts-website/public/docs/financial-charts/chart-types.gif
  packages/ag-charts-website/public/docs/financial-charts/zoom.gif
  packages/ag-charts-website/src/content/docs/financial-charts/index.mdoc
Owners: @ag-grid/ag-charts-team, @rmc-software

AG-11527 - Disable redundant volume series tooltip.
  packages/ag-charts-community/src/api/preset/priceVolumePreset.ts
Owners: @alantreadway

Exclude snapshots from NPM package.
  packages/ag-charts-community/.npmignore
  packages/ag-charts-enterprise/.npmignore
  tools/sanity-check-package.js
Owners: @alantreadway, @ag-grid/ag-charts-team

Remove area FC type.
  packages/ag-charts-community/src/api/preset/priceVolumePreset.ts
  packages/ag-charts-types/src/api/presetOptions.ts
  packages/ag-charts-website/src/content/docs/financial-chart-types/_examples/switching-chart-types/index.html
  packages/ag-charts-website/src/content/docs/financial-chart-types/_examples/switching-chart-types/main.ts
Owners: @alantreadway, @ag-grid/ag-charts-team

AG-3390 - Remove dummy gif
  packages/ag-charts-website/public/docs/financial-charts/gif-animation.gif
Owners: @ag-grid/ag-charts-team

Ag 3390 fc overview page (#1940)
  packages/ag-charts-website/public/docs/financial-charts/annotations.gif
  packages/ag-charts-website/public/docs/financial-charts/chart-types.gif
  packages/ag-charts-website/public/docs/financial-charts/zoom.gif
  packages/ag-charts-website/src/content/docs/financial-charts/index.mdoc
Owners: @ag-grid/ag-charts-team, @rmc-software

CRT-400 - Prevent panning + range-zoom-button from updating FC volume chart Y zoom.
  packages/ag-charts-community/src/api/preset/priceVolumePreset.ts
  packages/ag-charts-community/src/chart/axis/axis.ts
  packages/ag-charts-community/src/chart/cartesianChart.ts
  packages/ag-charts-community/src/chart/chartAxis.ts
Owners: @alantreadway

AG-3390 Financial Charts Overview draft
  packages/ag-charts-website/src/content/docs/financial-charts/_examples/annotation-initial/data.ts
  packages/ag-charts-website/src/content/docs/financial-charts/_examples/annotation-initial/index.html
  packages/ag-charts-website/src/content/docs/financial-charts/_examples/annotation-initial/main.ts
  packages/ag-charts-website/src/content/docs/financial-charts/_examples/switching-chart-types/data.ts
  packages/ag-charts-website/src/content/docs/financial-charts/_examples/switching-chart-types/index.html
  packages/ag-charts-website/src/content/docs/financial-charts/_examples/switching-chart-types/main.ts
  packages/ag-charts-website/src/content/docs/financial-charts/_examples/switching-chart-types/styles.css
  packages/ag-charts-website/src/content/docs/financial-charts/_examples/toolbar-buttons/data.ts
  packages/ag-charts-website/src/content/docs/financial-charts/_examples/toolbar-buttons/index.html
  packages/ag-charts-website/src/content/docs/financial-charts/_examples/toolbar-buttons/main.ts
  packages/ag-charts-website/src/content/docs/financial-charts/index.mdoc
Owners: @ag-grid/ag-charts-team, @rmc-software

smaller gifs
  packages/ag-charts-website/public/docs/financial-charts/annotations.gif
  packages/ag-charts-website/public/docs/financial-charts/chart-types.gif
  packages/ag-charts-website/public/docs/financial-charts/zoom.gif
Owners: @ag-grid/ag-charts-team

Type fixes
  packages/ag-charts-community/src/chart/series/cartesian/bubbleSeriesProperties.ts
  packages/ag-charts-enterprise/src/series/range-bar/rangeBarProperties.ts
  packages/ag-charts-types/src/series/cartesian/bubbleOptions.ts
  packages/ag-charts-types/src/series/cartesian/heatmapOptions.ts
  packages/ag-charts-types/src/series/cartesian/rangeBarOptions.ts
  packages/ag-charts-website/src/content/gallery/_examples/horizontal-range-bar-with-labels/main.ts
  packages/ag-charts-website/src/content/gallery/_examples/range-bar-with-labels/main.ts
Owners: @alantreadway, @ag-grid/ag-charts-team

AG-3390 Financial Charts Overview draft
  packages/ag-charts-website/src/content/docs/financial-charts/_examples/annotation-initial/data.ts
  packages/ag-charts-website/src/content/docs/financial-charts/_examples/annotation-initial/index.html
  packages/ag-charts-website/src/content/docs/financial-charts/_examples/annotation-initial/main.ts
  packages/ag-charts-website/src/content/docs/financial-charts/_examples/switching-chart-types/data.ts
  packages/ag-charts-website/src/content/docs/financial-charts/_examples/switching-chart-types/index.html
  packages/ag-charts-website/src/content/docs/financial-charts/_examples/switching-chart-types/main.ts
  packages/ag-charts-website/src/content/docs/financial-charts/_examples/switching-chart-types/styles.css
  packages/ag-charts-website/src/content/docs/financial-charts/_examples/toolbar-buttons/data.ts
  packages/ag-charts-website/src/content/docs/financial-charts/_examples/toolbar-buttons/index.html
  packages/ag-charts-website/src/content/docs/financial-charts/_examples/toolbar-buttons/main.ts
  packages/ag-charts-website/src/content/docs/financial-charts/index.mdoc
Owners: @ag-grid/ag-charts-team, @rmc-software

AG-3390 Remove Area Chart Type
  packages/ag-charts-website/src/content/docs/financial-charts/_examples/switching-chart-types/index.html
  packages/ag-charts-website/src/content/docs/financial-charts/_examples/switching-chart-types/main.ts
Owners: @ag-grid/ag-charts-team
