Repository ag-grid/ag-charts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ag-grid/ag-charts-team, @markdurrant, @taktran, @alantreadway, @rmc-software

.github/CODEOWNERS:

# NOTE: Order of entries matters - later entries have higher precedence.

# Attribute code-owners so default reviewers are assigned to PRs.
* @ag-grid/ag-charts-team

# Astro + website changes to be reviewed by website team.
*.scss @markdurrant
*.astro @taktran
/packages/ag-charts-website/astro/** @taktran
/packages/ag-charts-website/components/** @taktran
/packages/ag-charts-website/features/** @taktran
/packages/ag-charts-website/layouts/** @taktran
/packages/ag-charts-website/stores/** @taktran
/packages/ag-charts-website/utils/** @taktran

# Docs updates to be reviewed by Eng VP.
/packages/ag-charts-website/content/** @alantreadway @rmc-software
*.mdoc @rmc-software

# Charts library code to be reviewed by Chart TL.
/packages/ag-charts-community/** @alantreadway
/packages/ag-charts-enterprise/** @alantreadway

# Sensitive build/repo files to be reviewed by Chart TL.
**/package.json @alantreadway
nx.json @alantreadway
**/project.json @alantreadway
**/tsconfig.json @alantreadway
**/tsconfig.*.json @alantreadway

Move to enterprise module
  packages/ag-charts-community/src/chart/factory/expectedEnterpriseModules.ts
  packages/ag-charts-community/src/chart/factory/registerInbuiltModules.ts
  packages/ag-charts-enterprise/src/series/radial-gauge/main.ts
  packages/ag-charts-enterprise/src/series/radial-gauge/radialGaugeModule.ts
  packages/ag-charts-enterprise/src/series/radial-gauge/radialGaugeSeries.ts
  packages/ag-charts-enterprise/src/series/radial-gauge/radialGaugeSeriesProperties.ts
  packages/ag-charts-enterprise/src/series/radial-gauge/radialGaugeUtil.ts
  packages/ag-charts-enterprise/src/setup.ts
Owners: @alantreadway

Enable full e2e test execution for PRs to catch issues that were being missed with incremental execution.
  .github/workflows/ci.yml
Owners: @ag-grid/ag-charts-team

AG-12605 - Temporary CI fix.
  packages/ag-charts-community/src/util/type-guards.ts
Owners: @alantreadway

AG-12510 - Cleanup MatrixTransform() method naming.
  packages/ag-charts-community/src/chart/legendMarkerLabel.ts
  packages/ag-charts-community/src/scene/transformable.ts
Owners: @alantreadway

AG-12510 - Improve robustness of isMatrixTransformType().
  packages/ag-charts-community/src/scene/transformable.ts
Owners: @alantreadway

AG-12510 - Cleanup redundant Transformable.toCanvas() calls.
  packages/ag-charts-community/src/scene/shape/linearGradientFill.ts
Owners: @alantreadway

AG-12510 - Remove redundant code.
  packages/ag-charts-enterprise/src/features/annotations/scenes/annotationScene.ts
Owners: @alantreadway

AG-12510 - Cleanup redundant Transformable.toCanvas() calls.
  packages/ag-charts-community/src/scene/shape/linearGradientFill.ts
Owners: @alantreadway

Use autosized labels for radial gauges
  packages/ag-charts-enterprise/src/series/map-shape/mapShapeSeriesProperties.ts
  packages/ag-charts-enterprise/src/series/radial-gauge/radialGaugeModule.ts
  packages/ag-charts-enterprise/src/series/radial-gauge/radialGaugeSeries.ts
  packages/ag-charts-enterprise/src/series/radial-gauge/radialGaugeSeriesProperties.ts
  packages/ag-charts-enterprise/src/series/radial-gauge/radialGaugeUtil.ts
  packages/ag-charts-enterprise/src/series/sunburst/sunburstSeriesProperties.ts
  packages/ag-charts-enterprise/src/series/treemap/treemapSeriesProperties.ts
  packages/ag-charts-enterprise/src/series/util/autoSizedLabel.ts
  packages/ag-charts-enterprise/src/series/util/labelFormatter.ts
  packages/ag-charts-types/src/chart/labelOptions.ts
  packages/ag-charts-types/src/series/gauge/radialGaugeOptions.ts
Owners: @alantreadway, @ag-grid/ag-charts-team

AG-12510 - Fix benchmarks.
  packages/ag-charts-community/benchmarks/__image_snapshots__/large-dataset-test-ts-large-dataset-benchmark-after-load-1-x-datum-highlight-1-snap.png
  packages/ag-charts-community/benchmarks/__image_snapshots__/large-dataset-test-ts-large-dataset-benchmark-after-load-4-x-datum-highlight-1-snap.png
  packages/ag-charts-community/benchmarks/__image_snapshots__/multi-series-test-ts-multi-series-benchmark-after-load-1-x-datum-highlight-1-snap.png
  packages/ag-charts-community/benchmarks/__image_snapshots__/multi-series-test-ts-multi-series-benchmark-after-load-15-x-datum-highlight-1-snap.png
  packages/ag-charts-community/benchmarks/benchmark.ts
Owners: @alantreadway

Fix initial animation
  packages/ag-charts-enterprise/src/series/radial-gauge/radialGaugeSeries.ts
  packages/ag-charts-enterprise/src/series/radial-gauge/radialGaugeSeriesProperties.ts
Owners: @alantreadway

lint
  packages/ag-charts-enterprise/src/series/radial-gauge/radialGaugeSeries.ts
  packages/ag-charts-enterprise/src/series/radial-gauge/radialGaugeUtil.ts
  packages/ag-charts-enterprise/src/series/util/labelFormatter.ts
Owners: @alantreadway

AG-12510 - Re-add scene node debug support.
  packages/ag-charts-community/src/scene/node.ts
  packages/ag-charts-community/src/scene/sceneDebug.ts
Owners: @alantreadway

AG-12510 Fix legend proxy button translation
  packages/ag-charts-community/src/chart/legend.ts
Owners: @alantreadway

AG-12369 Use consistent style for the focus indicators
  packages/ag-charts-community/src/chart/dom/theme.css
  packages/ag-charts-enterprise/src/components/menu/menu.css
  packages/ag-charts-enterprise/src/components/popover/popover.css
  packages/ag-charts-enterprise/src/features/color-picker/colorPickerStyles.css
  packages/ag-charts-enterprise/src/features/context-menu/contextMenuStyles.css
Owners: @alantreadway

AG-12369 Fix contextMenu.test.ts failures
  packages/ag-charts-enterprise/src/features/context-menu/contextMenu.ts
Owners: @alantreadway

AG-12369 Refactor initMenuKeyNav params and return-type
  packages/ag-charts-community/src/chart/dom/focusIndicator.ts
  packages/ag-charts-community/src/util/keynavUtil.ts
  packages/ag-charts-enterprise/src/components/menu/menu.ts
  packages/ag-charts-enterprise/src/components/popover/popover.ts
  packages/ag-charts-enterprise/src/features/color-picker/colorPicker.ts
  packages/ag-charts-enterprise/src/features/context-menu/contextMenu.ts
Owners: @alantreadway

AG-12369 Use `outline` instead of `border` for focus
  packages/ag-charts-community/src/chart/toolbar/toolbarStyles.css
Owners: @alantreadway

AG-12369 Fix auto-import
  packages/ag-charts-community/src/chart/dom/focusIndicator.ts
Owners: @alantreadway

AG-12369 Fix eslint errors
  packages/ag-charts-community/src/util/keynavUtil.ts
Owners: @alantreadway

cleanup
  packages/ag-charts-community/src/chart/axis/axis.ts
  packages/ag-charts-community/src/chart/axis/cartesianAxis.ts
  packages/ag-charts-community/src/chart/cartesianChart.ts
  packages/ag-charts-community/src/chart/chartAxis.ts
  packages/ag-charts-community/src/chart/flowProportionChart.ts
  packages/ag-charts-community/src/chart/gaugeChart.ts
  packages/ag-charts-community/src/chart/hierarchyChart.ts
  packages/ag-charts-community/src/chart/polarChart.ts
  packages/ag-charts-community/src/chart/topologyChart.ts
Owners: @alantreadway

Update sharp
  plugins/ag-charts-generate-chart-thumbnail/package.json
  yarn.lock
Owners: @alantreadway, @ag-grid/ag-charts-team

Change deepclone package
  packages/ag-charts-website/public/example-runner/charts-angular-boilerplate/systemjs.config.dev.js
  packages/ag-charts-website/public/example-runner/charts-angular-boilerplate/systemjs.config.js
  packages/ag-charts-website/public/example-runner/charts-react-boilerplate/systemjs.config.dev.js
  packages/ag-charts-website/public/example-runner/charts-react-boilerplate/systemjs.config.js
  packages/ag-charts-website/public/example-runner/charts-react-ts-boilerplate/systemjs.config.dev.js
  packages/ag-charts-website/public/example-runner/charts-react-ts-boilerplate/systemjs.config.js
  packages/ag-charts-website/public/example-runner/charts-vue3-boilerplate/systemjs.config.dev.js
  packages/ag-charts-website/public/example-runner/charts-vue3-boilerplate/systemjs.config.js
  plugins/ag-charts-generate-example-files/src/executors/generate/generator/transformation-scripts/chart-utils.test.ts
  plugins/ag-charts-generate-example-files/src/executors/generate/generator/transformation-scripts/chart-utils.ts
  plugins/ag-charts-generate-example-files/src/executors/generate/generator/transformation-scripts/chart-vanilla-to-angular.ts
  plugins/ag-charts-generate-example-files/src/executors/generate/generator/transformation-scripts/chart-vanilla-to-react-functional-ts.ts
  plugins/ag-charts-generate-example-files/src/executors/generate/generator/transformation-scripts/chart-vanilla-to-react-functional.ts
  plugins/ag-charts-generate-example-files/src/executors/generate/generator/transformation-scripts/chart-vanilla-to-vue3.ts
  plugins/ag-charts-generate-example-files/src/executors/generate/generator/utils/getPackageJson.ts
Owners: @ag-grid/ag-charts-team

AG-NONE ag-charts-community: move chart/dom and chart/locale dirs
  packages/ag-charts-community/src/chart/caption.ts
  packages/ag-charts-community/src/chart/chartContext.ts
  packages/ag-charts-community/src/chart/factory/registerInbuiltModules.ts
  packages/ag-charts-community/src/chart/interaction/ariaAnnouncementServices.ts
  packages/ag-charts-community/src/chart/interaction/cursorManager.ts
  packages/ag-charts-community/src/chart/interaction/gestureDetector.ts
  packages/ag-charts-community/src/chart/interaction/interactionManager.ts
  packages/ag-charts-community/src/chart/interaction/regionManager.ts
  packages/ag-charts-community/src/chart/interaction/toolbarManager.ts
  packages/ag-charts-community/src/chart/interaction/tooltipManager.ts
  packages/ag-charts-community/src/chart/keyboardUtil.ts
  packages/ag-charts-community/src/chart/overlay/chartOverlays.ts
  packages/ag-charts-community/src/chart/overlay/overlay.ts
  packages/ag-charts-community/src/chart/tooltip/tooltip.ts
  packages/ag-charts-community/src/chart/update/overlaysProcessor.ts
  packages/ag-charts-community/src/dom/boundedText.ts
  packages/ag-charts-community/src/dom/container.css
  packages/ag-charts-community/src/dom/domLayout.html
  packages/ag-charts-community/src/dom/domManager.ts
  packages/ag-charts-community/src/dom/domStyles.css
  packages/ag-charts-community/src/dom/focusIndicator.ts
  packages/ag-charts-community/src/dom/focusStyles.css
  packages/ag-charts-community/src/dom/focusStyles.ts
  packages/ag-charts-community/src/dom/icons.css
  packages/ag-charts-community/src/dom/proxyInteractionService.ts
  packages/ag-charts-community/src/dom/reset.css
  packages/ag-charts-community/src/dom/theme.css
  packages/ag-charts-community/src/locale/defaultMessageFormatter.ts
  packages/ag-charts-community/src/locale/locale.ts
  packages/ag-charts-community/src/locale/localeManager.ts
  packages/ag-charts-community/src/locale/localeModule.ts
  packages/ag-charts-community/src/module-support.ts
  packages/ag-charts-community/src/module/enterpriseModule.ts
  packages/ag-charts-community/src/module/moduleContext.ts
  packages/ag-charts-community/src/styles.css
Owners: @alantreadway

AG-NONE nx format
  packages/ag-charts-community/src/chart/caption.ts
  packages/ag-charts-community/src/chart/chartContext.ts
  packages/ag-charts-community/src/chart/factory/registerInbuiltModules.ts
  packages/ag-charts-community/src/chart/interaction/ariaAnnouncementServices.ts
  packages/ag-charts-community/src/chart/interaction/cursorManager.ts
  packages/ag-charts-community/src/chart/interaction/gestureDetector.ts
  packages/ag-charts-community/src/chart/interaction/interactionManager.ts
  packages/ag-charts-community/src/chart/interaction/regionManager.ts
  packages/ag-charts-community/src/chart/interaction/toolbarManager.ts
  packages/ag-charts-community/src/chart/interaction/tooltipManager.ts
  packages/ag-charts-community/src/chart/keyboardUtil.ts
  packages/ag-charts-community/src/chart/overlay/chartOverlays.ts
  packages/ag-charts-community/src/chart/overlay/overlay.ts
  packages/ag-charts-community/src/chart/tooltip/tooltip.ts
  packages/ag-charts-community/src/chart/update/overlaysProcessor.ts
  packages/ag-charts-community/src/dom/domManager.ts
  packages/ag-charts-community/src/dom/proxyInteractionService.ts
  packages/ag-charts-community/src/module/moduleContext.ts
Owners: @alantreadway

Fix duplicated sharp dependency
  yarn.lock
Owners: @ag-grid/ag-charts-team

AG-12510 - Re-add scene node debug support.
  packages/ag-charts-community/src/scene/scene.ts
Owners: @alantreadway

AG-12510 - Cleanup + fix legend pagination button handling.
  packages/ag-charts-community/src/chart/pagination/pagination.ts
  packages/ag-charts-community/src/scene/node.ts
  packages/ag-charts-community/src/scene/transformable.ts
Owners: @alantreadway

AG-12510 - Fix inconsistency in legend pagination bbox calculation.
  packages/ag-charts-community/src/chart/legend.ts
  packages/ag-charts-community/src/chart/pagination/pagination.ts
Owners: @alantreadway

Automated package version bump to 10.1.0-beta.20240818.
  .env
  libraries/ag-charts-test/package.json
  package.json
  packages/ag-charts-angular/package.json
  packages/ag-charts-angular/projects/ag-charts-angular/package.json
  packages/ag-charts-community-examples/package.json
  packages/ag-charts-community/package.json
  packages/ag-charts-community/src/version.ts
  packages/ag-charts-enterprise/package.json
  packages/ag-charts-locale/package.json
  packages/ag-charts-react/package.json
  packages/ag-charts-types/package.json
  packages/ag-charts-vue3/package.json
  packages/ag-charts-website/.env.build
  packages/ag-charts-website/.env.build.archive
  packages/ag-charts-website/.env.build.production
  packages/ag-charts-website/.env.build.staging
  packages/ag-charts-website/.env.dev
  packages/ag-charts-website/.env.preview
  packages/ag-charts-website/.env.preview.production
  packages/ag-charts-website/.env.preview.staging
  packages/ag-charts-website/package.json
  plugins/ag-charts-generate-chart-thumbnail/package.json
  plugins/ag-charts-generate-code-reference-files/package.json
  plugins/ag-charts-generate-example-files/package.json
Owners: @ag-grid/ag-charts-team, @alantreadway

AG-12510 - Fix lint.
  packages/ag-charts-community/src/scene/sceneDebug.ts
Owners: @alantreadway

AG-12510 - Update snapshots.
  packages/ag-charts-community/src/chart/__image_snapshots__/integrated-charts-examples-test-ts-integrated-charts-examples-changing-chart-type-for-donut-basic-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-community/src/chart/__image_snapshots__/legend-test-ts-legend-large-series-count-chart-legend-pagination-should-render-legend-correctly-at-position-bottom-1-snap.png
  packages/ag-charts-community/src/chart/__image_snapshots__/legend-test-ts-legend-large-series-count-chart-legend-pagination-should-render-legend-correctly-at-position-right-1-snap.png
  packages/ag-charts-community/src/chart/__image_snapshots__/legend-test-ts-legend-large-series-count-chart-should-render-legend-correctly-at-width-400-1-snap.png
  packages/ag-charts-community/src/chart/__image_snapshots__/legend-test-ts-legend-large-series-count-chart-should-render-legend-correctly-at-width-600-1-snap.png
  packages/ag-charts-community/src/chart/series/polar/__image_snapshots__/polar-series-test-ts-polar-series-create-for-pie-callout-labels-collisions-it-should-render-to-canvas-as-expected-1-snap.png
Owners: @alantreadway

cleanup
  packages/ag-charts-community/src/chart/axis/axis.ts
  packages/ag-charts-community/src/chart/cartesianChart.ts
  packages/ag-charts-community/src/chart/chartAxis.ts
Owners: @alantreadway

AG-12563 + AG-12560 - Update e2e snapshot
  packages/ag-charts-website/e2e/toolbar.spec.ts-snapshots/line-4-complete-chromium-darwin.png
Owners: @ag-grid/ag-charts-team

AG-12563 + AG-12560 - css clean up
  packages/ag-charts-enterprise/src/features/annotations/toolbar.css
Owners: @alantreadway

AG-12563 + AG-12560 - Combine lineStyle with lineDash properties
  packages/ag-charts-enterprise/src/features/annotations/annotationProperties.ts
  packages/ag-charts-enterprise/src/features/annotations/cross-line/crossLineProperties.ts
  packages/ag-charts-enterprise/src/features/annotations/disjoint-channel/disjointChannelProperties.ts
  packages/ag-charts-enterprise/src/features/annotations/line/lineProperties.ts
  packages/ag-charts-enterprise/src/features/annotations/parallel-channel/parallelChannelProperties.ts
Owners: @alantreadway

AG-12563 + AG-12560 - Clean up enums/types
  packages/ag-charts-enterprise/src/features/annotations/annotationTypes.ts
  packages/ag-charts-enterprise/src/features/annotations/annotations.ts
  packages/ag-charts-enterprise/src/features/annotations/annotationsConfig.ts
  packages/ag-charts-enterprise/src/features/annotations/callout/calloutProperties.ts
  packages/ag-charts-enterprise/src/features/annotations/comment/commentProperties.ts
  packages/ag-charts-enterprise/src/features/annotations/cross-line/crossLineProperties.ts
  packages/ag-charts-enterprise/src/features/annotations/disjoint-channel/disjointChannelProperties.ts
  packages/ag-charts-enterprise/src/features/annotations/line/lineProperties.ts
  packages/ag-charts-enterprise/src/features/annotations/note/noteProperties.ts
  packages/ag-charts-enterprise/src/features/annotations/parallel-channel/parallelChannelProperties.ts
  packages/ag-charts-enterprise/src/features/annotations/text/textProperties.ts
Owners: @alantreadway

AG-12563 + AG-12560 - Use hasFontSize type guard
  packages/ag-charts-enterprise/src/features/annotations/annotationsConfig.ts
Owners: @alantreadway

AG-12563 + AG-12560 - Line width and line style annotation options
  packages/ag-charts-community/src/chart/interaction/toolbarManager.ts
  packages/ag-charts-community/src/chart/toolbar/toolbar.ts
  packages/ag-charts-community/src/chart/toolbar/toolbarModule.ts
  packages/ag-charts-community/src/chart/toolbar/toolbarProperties.ts
  packages/ag-charts-community/src/chart/toolbar/toolbarStyles.css
  packages/ag-charts-community/src/chart/toolbar/toolbarStyles.ts
  packages/ag-charts-community/src/dom/icons.css
  packages/ag-charts-community/src/integrated-charts-scene.ts
  packages/ag-charts-community/src/scene/shape/shape.ts
  packages/ag-charts-community/src/util/validation.ts
  packages/ag-charts-enterprise/src/components/menu/menu.css
  packages/ag-charts-enterprise/src/components/menu/menu.ts
  packages/ag-charts-enterprise/src/features/annotations/annotationProperties.ts
  packages/ag-charts-enterprise/src/features/annotations/annotationTypes.ts
  packages/ag-charts-enterprise/src/features/annotations/annotations.ts
  packages/ag-charts-enterprise/src/features/annotations/annotationsConfig.ts
  packages/ag-charts-enterprise/src/features/annotations/annotationsModule.ts
  packages/ag-charts-enterprise/src/features/annotations/annotationsStateMachine.ts
  packages/ag-charts-enterprise/src/features/annotations/annotationsSuperTypes.ts
  packages/ag-charts-enterprise/src/features/annotations/cross-line/crossLineProperties.ts
  packages/ag-charts-enterprise/src/features/annotations/cross-line/crossLineScene.ts
  packages/ag-charts-enterprise/src/features/annotations/disjoint-channel/disjointChannelProperties.ts
  packages/ag-charts-enterprise/src/features/annotations/disjoint-channel/disjointChannelScene.ts
  packages/ag-charts-enterprise/src/features/annotations/line/lineProperties.ts
  packages/ag-charts-enterprise/src/features/annotations/line/lineScene.ts
  packages/ag-charts-enterprise/src/features/annotations/parallel-channel/parallelChannelProperties.ts
  packages/ag-charts-enterprise/src/features/annotations/parallel-channel/parallelChannelScene.ts
  packages/ag-charts-enterprise/src/features/annotations/toolbar.css
  packages/ag-charts-types/src/chart/toolbarOptions.ts
Owners: @alantreadway, @ag-grid/ag-charts-team

AG-12563 + AG-12560 - Fix menu strokeWidth pseudo element
  packages/ag-charts-enterprise/src/components/menu/menu.ts
Owners: @alantreadway
