Repository ag-grid/ag-charts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ag-grid/ag-charts-team, @markdurrant, @taktran, @alantreadway, @rmc-software

AG-9343 - Update image snapshots
  packages/ag-charts-enterprise/src/features/error-bar/__image_snapshots__/error-bar-test-ts-error-bars-should-apply-stroke-styling-to-whiskers-and-cap-as-expected-1-snap.png
  packages/ag-charts-enterprise/src/features/error-bar/__image_snapshots__/error-bar-test-ts-error-bars-should-default-to-marker-size-for-cap-length-on-line-series-1-snap.png
  packages/ag-charts-enterprise/src/features/error-bar/__image_snapshots__/error-bar-test-ts-error-bars-should-default-to-marker-size-for-cap-length-on-scatter-series-1-snap.png
  packages/ag-charts-enterprise/src/features/error-bar/__image_snapshots__/error-bar-test-ts-error-bars-should-override-cap-styling-as-expected-1-snap.png
Owners: @alantreadway

AG-9343 - Simplify error bar cap length calculation
  packages/ag-charts-enterprise/src/features/error-bar/errorBarNode.ts
Owners: @alantreadway

AG-9343 - Add enterpriseThemeTemplate
  packages/ag-charts-community/src/chart/factory/seriesTypes.ts
  packages/ag-charts-community/src/chart/factory/setupModules.ts
  packages/ag-charts-community/src/chart/series/cartesian/barSeriesModule.ts
  packages/ag-charts-community/src/chart/series/cartesian/lineSeriesModule.ts
  packages/ag-charts-community/src/chart/series/cartesian/scatterSeriesModule.ts
  packages/ag-charts-community/src/module/coreModules.ts
Owners: @alantreadway

AG-9343 - Add `lineDashOffset` to whisker properties
  packages/ag-charts-enterprise/src/features/error-bar/errorBar.ts
Owners: @alantreadway

Test fixes.
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/line-series-test-ts-line-series-multiple-overlapping-lines-should-render-line-series-with-the-correct-relative-z-index-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/areaSeries.test.ts
  packages/ag-charts-community/src/chart/series/cartesian/barSeries.test.ts
  packages/ag-charts-community/src/chart/series/cartesian/bubbleSeries.test.ts
  packages/ag-charts-community/src/chart/series/cartesian/lineSeries.test.ts
  packages/ag-charts-community/src/chart/series/cartesian/scatterSeries.test.ts
  packages/ag-charts-community/src/chart/series/polar/polarSeries.test.ts
Owners: @alantreadway

Test fixes.
  packages/ag-charts-community/src/chart/series/cartesian/lineSeries.test.ts
Owners: @alantreadway

AG-6535 Refactor state machines for simple cases
  packages/ag-charts-community/src/chart/axis/axis.ts
  packages/ag-charts-community/src/chart/series/cartesian/cartesianSeries.ts
  packages/ag-charts-community/src/chart/series/polar/polarSeries.ts
  packages/ag-charts-community/src/motion/states.ts
Owners: @alantreadway

AG-9343 - Fix merge conflict
  packages/ag-charts-enterprise/src/features/error-bar/errorBarTheme.ts
Owners: @alantreadway

Fix line series full path rendering 'flash' for 1 frame.
  packages/ag-charts-community/src/chart/series/cartesian/lineSeries.ts
  packages/ag-charts-community/src/scene/shape/path.ts
Owners: @alantreadway

AG-8557 Add zoom.enableDoubleClickToReset option
  packages/ag-charts-community/src/options/chart/zoomOptions.ts
  packages/ag-charts-enterprise/src/features/zoom/zoom.ts
Owners: @alantreadway

AG-8524 Fix typo
  packages/ag-charts-community/src/options/chart/zoomOptions.ts
Owners: @alantreadway

AG-8524 Refactor zoom magic numbers to unit const
  packages/ag-charts-enterprise/src/features/zoom/zoom.ts
  packages/ag-charts-enterprise/src/features/zoom/zoomTransformers.ts
Owners: @alantreadway

AG-8524 Clean zoom a little more
  packages/ag-charts-enterprise/src/features/zoom/zoomTransformers.ts
Owners: @alantreadway

Normalize markers formatter
  packages/ag-charts-community/src/chart/label.ts
  packages/ag-charts-community/src/chart/series/cartesian/areaSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/areaUtil.ts
  packages/ag-charts-community/src/chart/series/cartesian/bubbleSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/cartesianSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/lineSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/markerUtil.ts
  packages/ag-charts-community/src/chart/series/cartesian/scatterSeries.ts
  packages/ag-charts-community/src/chart/series/series.ts
  packages/ag-charts-community/src/chart/series/seriesMarker.ts
  packages/ag-charts-community/src/chart/series/test/examples.ts
  packages/ag-charts-community/src/options/chart/labelOptions.ts
  packages/ag-charts-community/src/options/series/cartesian/areaOptions.ts
  packages/ag-charts-community/src/options/series/cartesian/bubbleOptions.ts
  packages/ag-charts-community/src/options/series/cartesian/cartesianSeriesMarkerOptions.ts
  packages/ag-charts-community/src/options/series/cartesian/lineOptions.ts
  packages/ag-charts-community/src/options/series/cartesian/rangeAreaOptions.ts
  packages/ag-charts-community/src/options/series/cartesian/rangeBarOptions.ts
  packages/ag-charts-community/src/options/series/cartesian/scatterOptions.ts
  packages/ag-charts-community/src/options/series/hierarchy/treemapOptions.ts
  packages/ag-charts-community/src/options/series/markerOptions.ts
  packages/ag-charts-community/src/options/series/polar/radarOptions.ts
  packages/ag-charts-community/src/options/series/seriesOptions.ts
  packages/ag-charts-enterprise/src/series/radar/radarSeries.ts
  packages/ag-charts-enterprise/src/series/range-area/rangeArea.ts
  packages/ag-charts-enterprise/src/series/range-bar/rangeBar.ts
  packages/ag-charts-enterprise/src/series/treemap/treemapSeries.ts
Owners: @alantreadway

AG-9571 - Add error bars to gallery simple bar example
  packages/ag-charts-website/src/content/gallery/_examples/simple-horizontal-bar/data.ts
  packages/ag-charts-website/src/content/gallery/_examples/simple-horizontal-bar/main.ts
Owners: @ag-grid/ag-charts-team

AG-9343 - Increase default error bar cap length ratio
  packages/ag-charts-community/src/chart/series/cartesian/barSeriesModule.ts
Owners: @alantreadway

AG-9343 - Update snapshots
  packages/ag-charts-enterprise/src/features/error-bar/__image_snapshots__/error-bar-test-ts-error-bars-should-apply-stroke-styling-to-whiskers-and-cap-as-expected-1-snap.png
  packages/ag-charts-enterprise/src/features/error-bar/__image_snapshots__/error-bar-test-ts-error-bars-should-override-cap-styling-as-expected-1-snap.png
Owners: @alantreadway

AG-9343 - Update docs
  packages/ag-charts-website/src/content/docs/error-bars/index.mdoc
Owners: @rmc-software

AG-9206 - Make options reference header sticky and remove top level path in items
  packages/ag-charts-website/src/features/api-documentation/components/HeadingPath.tsx
  packages/ag-charts-website/src/features/api-documentation/components/JsObjectProperties.module.scss
  packages/ag-charts-website/src/features/api-documentation/components/JsObjectPropertyView.tsx
  packages/ag-charts-website/src/features/api-documentation/utils/getHeadingPath.test.ts
  packages/ag-charts-website/src/features/api-documentation/utils/removeTopLevelPath.ts
Owners: @ag-grid/ag-charts-team, @markdurrant

AG-9206 - Use id for smooth scrolling
  packages/ag-charts-website/src/components/pages-navigation/SideNavigation.tsx
  packages/ag-charts-website/src/features/api-documentation/utils/useJsObjectSelection.ts
  packages/ag-charts-website/src/pages/gallery.astro
  packages/ag-charts-website/src/utils/smoothScrollIntoView.ts
Owners: @ag-grid/ag-charts-team, @taktran

AG-9206 - Fix scroll position with sticky header with offset
  packages/ag-charts-website/src/features/api-documentation/utils/useJsObjectSelection.ts
  packages/ag-charts-website/src/utils/smoothScrollIntoView.ts
Owners: @ag-grid/ag-charts-team

fix conflicts
  packages/ag-charts-community/src/chart/series/cartesian/areaSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/markerUtil.ts
  packages/ag-charts-community/src/chart/series/series.ts
Owners: @alantreadway

AG-8238 Increase the sensitivity of the tests
  packages/ag-charts-enterprise/src/features/error-bar/__image_snapshots__/error-bar-test-ts-error-bars-should-apply-line-dash-styling-to-whiskers-and-cap-as-expected-1-snap.png
  packages/ag-charts-enterprise/src/features/error-bar/__image_snapshots__/error-bar-test-ts-error-bars-should-apply-styling-to-whiskers-and-cap-as-expected-1-snap.png
  packages/ag-charts-enterprise/src/features/error-bar/__image_snapshots__/error-bar-test-ts-error-bars-should-extend-y-axis-on-line-series-as-expected-1-snap.png
  packages/ag-charts-enterprise/src/features/error-bar/__image_snapshots__/error-bar-test-ts-error-bars-should-render-1-line-series-as-expected-1-snap.png
  packages/ag-charts-enterprise/src/features/error-bar/__image_snapshots__/error-bar-test-ts-error-bars-should-render-2-line-series-as-expected-1-snap.png
  packages/ag-charts-enterprise/src/features/error-bar/__image_snapshots__/error-bar-test-ts-error-bars-should-render-both-errorbars-on-continuous-line-series-as-expected-1-snap.png
  packages/ag-charts-enterprise/src/features/error-bar/__image_snapshots__/error-bar-test-ts-error-bars-should-render-both-errorbars-on-scatter-series-as-expected-1-snap.png
  packages/ag-charts-enterprise/src/features/error-bar/__image_snapshots__/error-bar-test-ts-error-bars-should-toggle-visibility-as-expected-1-snap.png
  packages/ag-charts-enterprise/src/features/error-bar/__image_snapshots__/error-bar-test-ts-error-bars-should-toggle-visibility-as-expected-2-snap.png
  packages/ag-charts-enterprise/src/features/error-bar/__image_snapshots__/error-bar-test-ts-error-bars-should-toggle-visibility-as-expected-3-snap.png
  packages/ag-charts-enterprise/src/features/error-bar/errorBar.test.ts
Owners: @alantreadway

AG-9206 - Fix 1px line coming through on top of options ref header
  packages/ag-charts-website/src/features/api-documentation/components/JsObjectProperties.module.scss
  packages/ag-charts-website/src/features/api-documentation/utils/useJsObjectSelection.ts
Owners: @markdurrant, @ag-grid/ag-charts-team

fix leftovers + line series markers unique behaviour
  packages/ag-charts-community/src/chart/series/cartesian/areaSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/bubbleSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/lineSeries.ts
  packages/ag-charts-community/src/chart/series/series.ts
  packages/ag-charts-community/src/chart/series/seriesMarker.ts
  packages/ag-charts-community/src/chart/themes/chartTheme.test.ts
  packages/ag-charts-community/src/options/agChartOptions.ts
  packages/ag-charts-community/src/options/series/cartesian/cartesianSeriesMarkerOptions.ts
  packages/ag-charts-website/src/content/docs/markers/index.mdoc
Owners: @alantreadway, @rmc-software

remove lineSeries specific case for updateMarkerStyle
  packages/ag-charts-community/src/chart/series/cartesian/lineSeries.ts
Owners: @alantreadway

Normalize markers formatter (#379)
  packages/ag-charts-community/src/chart/label.ts
  packages/ag-charts-community/src/chart/series/cartesian/areaSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/areaUtil.ts
  packages/ag-charts-community/src/chart/series/cartesian/bubbleSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/cartesianSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/lineSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/markerUtil.ts
  packages/ag-charts-community/src/chart/series/cartesian/scatterSeries.ts
  packages/ag-charts-community/src/chart/series/series.ts
  packages/ag-charts-community/src/chart/series/seriesMarker.ts
  packages/ag-charts-community/src/chart/series/test/examples.ts
  packages/ag-charts-community/src/chart/themes/chartTheme.test.ts
  packages/ag-charts-community/src/options/agChartOptions.ts
  packages/ag-charts-community/src/options/chart/labelOptions.ts
  packages/ag-charts-community/src/options/series/cartesian/areaOptions.ts
  packages/ag-charts-community/src/options/series/cartesian/bubbleOptions.ts
  packages/ag-charts-community/src/options/series/cartesian/cartesianSeriesMarkerOptions.ts
  packages/ag-charts-community/src/options/series/cartesian/lineOptions.ts
  packages/ag-charts-community/src/options/series/cartesian/rangeAreaOptions.ts
  packages/ag-charts-community/src/options/series/cartesian/rangeBarOptions.ts
  packages/ag-charts-community/src/options/series/cartesian/scatterOptions.ts
  packages/ag-charts-community/src/options/series/hierarchy/treemapOptions.ts
  packages/ag-charts-community/src/options/series/markerOptions.ts
  packages/ag-charts-community/src/options/series/polar/radarOptions.ts
  packages/ag-charts-community/src/options/series/seriesOptions.ts
  packages/ag-charts-enterprise/src/series/radar/radarSeries.ts
  packages/ag-charts-enterprise/src/series/range-area/rangeArea.ts
  packages/ag-charts-enterprise/src/series/range-bar/rangeBar.ts
  packages/ag-charts-enterprise/src/series/treemap/treemapSeries.ts
  packages/ag-charts-website/src/content/docs/markers/index.mdoc
Owners: @alantreadway, @rmc-software

Rename lineSeries.test.ts sub-suite.
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/line-series-test-ts-line-series-animation-should-animate-adding-points-at-0-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/line-series-test-ts-line-series-animation-should-animate-adding-removing-and-updating-simultaneously-at-0-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/line-series-test-ts-line-series-animation-should-animate-updating-points-to-undefined-at-0-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/line-series-test-ts-line-series-animation-should-animate-updating-points-to-undefined-at-50-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/line-series-test-ts-line-series-animation-should-animate-with-short-circuiting-when-run-again-before-it-finishes-at-0-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/line-series-test-ts-line-series-animation-should-animate-with-short-circuiting-when-run-again-before-it-finishes-at-100-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/line-series-test-ts-line-series-animation-should-animate-with-short-circuiting-when-run-again-before-it-finishes-at-25-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/line-series-test-ts-line-series-animation-should-animate-with-short-circuiting-when-run-again-before-it-finishes-at-50-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/line-series-test-ts-line-series-animation-should-animate-with-short-circuiting-when-run-again-before-it-finishes-at-75-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/line-series-test-ts-line-series-category-animation-should-animate-adding-points-after-at-0-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/line-series-test-ts-line-series-category-animation-should-animate-adding-points-after-at-100-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/line-series-test-ts-line-series-category-animation-should-animate-adding-points-after-at-50-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/line-series-test-ts-line-series-category-animation-should-animate-adding-points-at-0-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/line-series-test-ts-line-series-category-animation-should-animate-adding-points-at-100-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/line-series-test-ts-line-series-category-animation-should-animate-adding-points-at-50-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/line-series-test-ts-line-series-category-animation-should-animate-adding-points-before-at-0-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/line-series-test-ts-line-series-category-animation-should-animate-adding-points-before-at-100-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/line-series-test-ts-line-series-category-animation-should-animate-adding-points-before-at-50-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/line-series-test-ts-line-series-category-animation-should-animate-adding-removing-and-updating-simultaneously-at-0-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/line-series-test-ts-line-series-category-animation-should-animate-adding-removing-and-updating-simultaneously-at-100-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/line-series-test-ts-line-series-category-animation-should-animate-adding-removing-and-updating-simultaneously-at-50-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/line-series-test-ts-line-series-category-animation-should-animate-removing-points-at-0-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/line-series-test-ts-line-series-category-animation-should-animate-removing-points-at-100-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/line-series-test-ts-line-series-category-animation-should-animate-removing-points-at-50-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/line-series-test-ts-line-series-category-animation-should-animate-removing-the-first-point-at-0-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/line-series-test-ts-line-series-category-animation-should-animate-removing-the-first-point-at-100-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/line-series-test-ts-line-series-category-animation-should-animate-removing-the-first-point-at-50-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/line-series-test-ts-line-series-category-animation-should-animate-removing-the-last-point-at-0-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/line-series-test-ts-line-series-category-animation-should-animate-removing-the-last-point-at-100-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/line-series-test-ts-line-series-category-animation-should-animate-removing-the-last-point-at-50-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/line-series-test-ts-line-series-category-animation-should-animate-updating-points-at-0-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/line-series-test-ts-line-series-category-animation-should-animate-updating-points-at-100-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/line-series-test-ts-line-series-category-animation-should-animate-updating-points-at-50-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/line-series-test-ts-line-series-category-animation-should-animate-updating-points-to-undefined-at-0-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/line-series-test-ts-line-series-category-animation-should-animate-updating-points-to-undefined-at-100-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/line-series-test-ts-line-series-category-animation-should-animate-updating-points-to-undefined-at-50-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/lineSeries.test.ts
Owners: @alantreadway

Consolidated line series page plus other small edits
  packages/ag-charts-website/src/content/docs/bar-series/_examples/grouped-stack-shared-legend/main.ts
  packages/ag-charts-website/src/content/docs/bar-series/index.mdoc
  packages/ag-charts-website/src/content/docs/bubble-series/index.mdoc
  packages/ag-charts-website/src/content/docs/line-series/_examples/basic-line-labels/main.ts
  packages/ag-charts-website/src/content/docs/line-series/_examples/basic-line/main.ts
  packages/ag-charts-website/src/content/docs/line-series/_examples/customised-line/data.ts
  packages/ag-charts-website/src/content/docs/line-series/_examples/customised-line/index.html
  packages/ag-charts-website/src/content/docs/line-series/_examples/customised-line/main.ts
  packages/ag-charts-website/src/content/docs/line-series/_examples/legend-info/index.html
  packages/ag-charts-website/src/content/docs/line-series/_examples/line-marker-colors/index.html
  packages/ag-charts-website/src/content/docs/line-series/_examples/line-marker-colors/main.ts
  packages/ag-charts-website/src/content/docs/line-series/_examples/multi-line/index.html
  packages/ag-charts-website/src/content/docs/line-series/_examples/multi-line/main.ts
  packages/ag-charts-website/src/content/docs/line-series/_examples/simple-line/data.ts
  packages/ag-charts-website/src/content/docs/line-series/_examples/simple-line/index.html
  packages/ag-charts-website/src/content/docs/line-series/_examples/simple-line/main.ts
  packages/ag-charts-website/src/content/docs/line-series/_examples/time-line/data.ts
  packages/ag-charts-website/src/content/docs/line-series/_examples/time-line/main.ts
  packages/ag-charts-website/src/content/docs/line-series/_examples/two-number-axes/index.html
  packages/ag-charts-website/src/content/docs/line-series/_examples/two-number-axes/main.ts
  packages/ag-charts-website/src/content/docs/line-series/_examples/two-number-axes/style.css
  packages/ag-charts-website/src/content/docs/line-series/index.mdoc
Owners: @ag-grid/ag-charts-team, @rmc-software

format
  packages/ag-charts-website/src/content/docs/line-series/index.mdoc
Owners: @rmc-software

Mechanical refactor of spyOnAnimationManager().
  packages/ag-charts-community/src/chart/series/cartesian/areaSeries.test.ts
  packages/ag-charts-community/src/chart/series/cartesian/barSeries.test.ts
  packages/ag-charts-community/src/chart/series/cartesian/bubbleSeries.test.ts
  packages/ag-charts-community/src/chart/series/cartesian/lineSeries.test.ts
  packages/ag-charts-community/src/chart/series/cartesian/scatterSeries.test.ts
  packages/ag-charts-community/src/chart/series/polar/polarSeries.test.ts
  packages/ag-charts-community/src/chart/test/utils.ts
  packages/ag-charts-enterprise/src/series/box-plot/boxPlotSeries.test.ts
  packages/ag-charts-enterprise/src/series/histogram/histogramSeries.test.ts
  packages/ag-charts-enterprise/src/series/nightingale/nightingale.test.ts
  packages/ag-charts-enterprise/src/series/radar-area/radarArea.test.ts
  packages/ag-charts-enterprise/src/series/radar-line/radarLine.test.ts
  packages/ag-charts-enterprise/src/series/radial-bar/radialBar.test.ts
  packages/ag-charts-enterprise/src/series/radial-column/radialColumn.test.ts
  packages/ag-charts-enterprise/src/series/range-area/rangeArea.test.ts
  packages/ag-charts-enterprise/src/series/range-bar/rangeBar.test.ts
  packages/ag-charts-enterprise/src/series/waterfall/waterfall.test.ts
Owners: @alantreadway

AG-9343 - Remove gallery error bars section
  packages/ag-charts-website/src/content/gallery/data.json
Owners: @ag-grid/ag-charts-team

Fix Jest swc compiler sourcemaps, enabling debugging of tests.
  packages/ag-charts-community/.swcrc
  packages/ag-charts-enterprise/.swcrc
Owners: @alantreadway

AG-9532 - Increase chart axis title spacing
  packages/ag-charts-community/src/chart/themes/chartTheme.ts
Owners: @alantreadway

AG-9571 - Add multiple bubble series example
  packages/ag-charts-website/src/content/gallery/_examples/multiple-bubble-series/data.ts
  packages/ag-charts-website/src/content/gallery/_examples/multiple-bubble-series/index.html
  packages/ag-charts-website/src/content/gallery/_examples/multiple-bubble-series/main.ts
  packages/ag-charts-website/src/content/gallery/data.json
Owners: @ag-grid/ag-charts-team

AG-9584 - Theme specific crossline defaults
  packages/ag-charts-community/src/chart/themes/chartTheme.ts
  packages/ag-charts-community/src/chart/themes/darkTheme.ts
  packages/ag-charts-community/src/chart/themes/symbols.ts
Owners: @alantreadway

AG-9571 - Add crossLine to multiple bubble series example
  packages/ag-charts-website/src/content/gallery/_examples/multiple-bubble-series/main.ts
Owners: @ag-grid/ag-charts-team

AG-9571 - Add crossLines to bubble with negative values example
  packages/ag-charts-website/src/content/gallery/_examples/bubble-with-negative-values/main.ts
Owners: @ag-grid/ag-charts-team

Switch to new animation test approach.
  packages/ag-charts-community/src/chart/interaction/animationManager.ts
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/bar-series-test-ts-bar-series-initial-animation-for-column-time-x-axis-number-y-axis-should-animate-at-0-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/bar-series-test-ts-bar-series-initial-animation-for-column-time-x-axis-number-y-axis-should-animate-at-25-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/bar-series-test-ts-bar-series-initial-animation-for-column-time-x-axis-number-y-axis-should-animate-at-50-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/bar-series-test-ts-bar-series-update-animation-for-column-time-x-axis-number-y-axis-should-animate-at-0-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/bar-series-test-ts-bar-series-update-animation-for-column-time-x-axis-number-y-axis-should-animate-at-25-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/bar-series-test-ts-bar-series-update-animation-for-column-time-x-axis-number-y-axis-should-animate-at-50-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/areaSeries.test.ts
  packages/ag-charts-community/src/chart/series/cartesian/barSeries.test.ts
  packages/ag-charts-community/src/chart/series/cartesian/bubbleSeries.test.ts
  packages/ag-charts-community/src/chart/series/cartesian/lineSeries.test.ts
  packages/ag-charts-community/src/chart/series/cartesian/scatterSeries.test.ts
  packages/ag-charts-community/src/chart/series/polar/polarSeries.test.ts
  packages/ag-charts-community/src/chart/test/utils.ts
  packages/ag-charts-community/src/motion/fromToMotion.ts
  packages/ag-charts-enterprise/src/series/box-plot/boxPlotSeries.test.ts
  packages/ag-charts-enterprise/src/series/histogram/histogramSeries.test.ts
  packages/ag-charts-enterprise/src/series/nightingale/nightingale.test.ts
  packages/ag-charts-enterprise/src/series/radar-area/radarArea.test.ts
  packages/ag-charts-enterprise/src/series/radar-line/radarLine.test.ts
  packages/ag-charts-enterprise/src/series/radial-bar/__image_snapshots__/radial-bar-test-ts-radial-bar-chart-add-animation-for-example-options-should-animate-at-0-1-snap.png
  packages/ag-charts-enterprise/src/series/radial-bar/__image_snapshots__/radial-bar-test-ts-radial-bar-chart-add-animation-for-example-options-should-animate-at-25-1-snap.png
  packages/ag-charts-enterprise/src/series/radial-bar/__image_snapshots__/radial-bar-test-ts-radial-bar-chart-initial-animation-for-example-options-should-animate-at-0-1-snap.png
  packages/ag-charts-enterprise/src/series/radial-bar/__image_snapshots__/radial-bar-test-ts-radial-bar-chart-initial-animation-for-example-options-should-animate-at-25-1-snap.png
  packages/ag-charts-enterprise/src/series/radial-bar/__image_snapshots__/radial-bar-test-ts-radial-bar-chart-remove-animation-for-example-options-should-animate-at-0-1-snap.png
  packages/ag-charts-enterprise/src/series/radial-bar/__image_snapshots__/radial-bar-test-ts-radial-bar-chart-remove-animation-for-example-options-should-animate-at-25-1-snap.png
  packages/ag-charts-enterprise/src/series/radial-bar/__image_snapshots__/radial-bar-test-ts-radial-bar-chart-update-animation-for-example-options-should-animate-at-25-1-snap.png
  packages/ag-charts-enterprise/src/series/radial-bar/radialBar.test.ts
  packages/ag-charts-enterprise/src/series/radial-column/radialColumn.test.ts
  packages/ag-charts-enterprise/src/series/range-area/__image_snapshots__/range-area-test-ts-chart-initial-animation-for-range-area-options-should-animate-at-0-1-snap.png
  packages/ag-charts-enterprise/src/series/range-area/__image_snapshots__/range-area-test-ts-chart-initial-animation-for-range-area-options-should-animate-at-25-1-snap.png
  packages/ag-charts-enterprise/src/series/range-area/__image_snapshots__/range-area-test-ts-chart-initial-animation-for-range-area-options-should-animate-at-50-1-snap.png
  packages/ag-charts-enterprise/src/series/range-area/rangeArea.test.ts
  packages/ag-charts-enterprise/src/series/range-bar/__image_snapshots__/range-bar-test-ts-chart-initial-animation-for-range-column-options-should-animate-at-0-1-snap.png
  packages/ag-charts-enterprise/src/series/range-bar/__image_snapshots__/range-bar-test-ts-chart-initial-animation-for-range-column-options-should-animate-at-25-1-snap.png
  packages/ag-charts-enterprise/src/series/range-bar/__image_snapshots__/range-bar-test-ts-chart-initial-animation-for-range-column-options-should-animate-at-50-1-snap.png
  packages/ag-charts-enterprise/src/series/range-bar/rangeBar.test.ts
  packages/ag-charts-enterprise/src/series/waterfall/waterfall.test.ts
Owners: @alantreadway

AG-9272 Remove ErrorBoundSeriesNodeDatum.index
  packages/ag-charts-community/src/chart/interaction/highlightManager.ts
  packages/ag-charts-community/src/chart/series/cartesian/barSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/cartesianSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/lineSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/scatterSeries.ts
  packages/ag-charts-community/src/options/chart/errorBarOptions.ts
  packages/ag-charts-enterprise/src/features/error-bar/errorBar.ts
  packages/ag-charts-enterprise/src/features/error-bar/errorBarNode.ts
Owners: @alantreadway

.github/CODEOWNERS:

# NOTE: Order of entries matters - later entries have higher precedence.

# Attribute code-owners so default reviewers are assigned to PRs.
* @ag-grid/ag-charts-team

# Astro + website changes to be reviewed by website team.
*.scss @markdurrant
*.astro @taktran
/packages/ag-charts-website/astro/** @taktran
/packages/ag-charts-website/components/** @taktran
/packages/ag-charts-website/features/** @taktran
/packages/ag-charts-website/layouts/** @taktran
/packages/ag-charts-website/stores/** @taktran
/packages/ag-charts-website/utils/** @taktran

# Docs updates to be reviewed by Eng VP.
/packages/ag-charts-website/content/** @alantreadway @rmc-software
*.mdoc @rmc-software

# Charts library code to be reviewed by Chart TL.
/packages/ag-charts-community/** @alantreadway
/packages/ag-charts-enterprise/** @alantreadway

# Sensitive build/repo files to be reviewed by Chart TL.
**/package.json @alantreadway
nx.json @alantreadway
**/project.json @alantreadway
**/tsconfig.json @alantreadway
**/tsconfig.*.json @alantreadway
