Repository ag-grid/ag-charts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ag-grid/ag-charts-team, @markdurrant, @taktran, @alantreadway, @rmc-software

AG-11403 Do not hide focus box on map-line* series
  packages/ag-charts-enterprise/src/series/map-line-background/mapLineBackgroundSeries.ts
  packages/ag-charts-enterprise/src/series/map-line/mapLineSeries.ts
Owners: @alantreadway

Expand Zoom buttons docs
  packages/ag-charts-website/src/content/docs/accessibility/index.mdoc
  packages/ag-charts-website/src/content/docs/zoom/_examples/zoom-custom-buttons/data.ts
  packages/ag-charts-website/src/content/docs/zoom/_examples/zoom-custom-buttons/index.html
  packages/ag-charts-website/src/content/docs/zoom/_examples/zoom-custom-buttons/main.ts
  packages/ag-charts-website/src/content/docs/zoom/index.mdoc
Owners: @rmc-software, @ag-grid/ag-charts-team

update reset-zoom naming
  packages/ag-charts-website/src/content/docs/zoom/_examples/zoom-custom-buttons/main.ts
  packages/ag-charts-website/src/content/docs/zoom/index.mdoc
Owners: @ag-grid/ag-charts-team, @rmc-software

AG-11367 - Zoom buttons should honor zoom.enabled.
  packages/ag-charts-community/src/chart/toolbar/toolbar.ts
  packages/ag-charts-community/src/util/properties.ts
  packages/ag-charts-enterprise/src/features/zoom/zoom.ts
Owners: @alantreadway

AG-10852 - Ohlc Gallery example
  packages/ag-charts-website/src/content/gallery/_examples/ohlc/data.ts
  packages/ag-charts-website/src/content/gallery/_examples/ohlc/index.html
  packages/ag-charts-website/src/content/gallery/_examples/ohlc/main.ts
  packages/ag-charts-website/src/content/gallery/_examples/ohlc/styles.css
Owners: @ag-grid/ag-charts-team

AG-10852 - Simplify candlestick example
  packages/ag-charts-website/src/content/gallery/_examples/candlestick/main.ts
Owners: @ag-grid/ag-charts-team

AG-10852 - Hollow candlestick gallery example
  packages/ag-charts-website/src/content/gallery/_examples/candlestick-hollow/data.ts
  packages/ag-charts-website/src/content/gallery/_examples/candlestick-hollow/index.html
  packages/ag-charts-website/src/content/gallery/_examples/candlestick-hollow/main.ts
Owners: @ag-grid/ag-charts-team

AG-10852 - Candlestick Gallery example
  packages/ag-charts-website/src/content/gallery/_examples/candlestick/data.ts
  packages/ag-charts-website/src/content/gallery/_examples/candlestick/index.html
  packages/ag-charts-website/src/content/gallery/_examples/candlestick/main.ts
  packages/ag-charts-website/src/content/gallery/_examples/candlestick/styles.css
  packages/ag-charts-website/src/content/gallery/data.json
Owners: @ag-grid/ag-charts-team

AG-10852 - Make Ohlc openKey option required
  packages/ag-charts-community/src/options/series/cartesian/ohlcOptions.ts
Owners: @alantreadway

AG-10852 - Update gallery menu
  packages/ag-charts-website/src/content/gallery/data.json
Owners: @ag-grid/ag-charts-team

CRT-319 Do not clear legend focus rect when pressing Space/ENTER
  packages/ag-charts-community/src/chart/chart.ts
Owners: @alantreadway

AG-11380 Change aria announcement wording
  packages/ag-charts-community/src/chart/legend.ts
Owners: @alantreadway

AG-11369 - Fix repeating zoom icon images.
  packages/ag-charts-community/src/styles/icons.ts
Owners: @alantreadway

Release prep for 9.3.0-beta.20240426
  .env
  libraries/ag-charts-test/package.json
  package.json
  packages/ag-charts-angular/package.json
  packages/ag-charts-angular/projects/ag-charts-angular/package.json
  packages/ag-charts-community-examples/package.json
  packages/ag-charts-community/package.json
  packages/ag-charts-community/src/version.ts
  packages/ag-charts-enterprise/package.json
  packages/ag-charts-react/package.json
  packages/ag-charts-vue/package.json
  packages/ag-charts-vue3/package.json
  packages/ag-charts-website/.env.build
  packages/ag-charts-website/.env.build.archive
  packages/ag-charts-website/.env.build.production
  packages/ag-charts-website/.env.build.staging
  packages/ag-charts-website/.env.dev
  packages/ag-charts-website/.env.preview
  packages/ag-charts-website/.env.preview.production
  packages/ag-charts-website/.env.preview.staging
  packages/ag-charts-website/package.json
  plugins/ag-charts-generate-chart-thumbnail/package.json
  plugins/ag-charts-generate-code-reference-files/package.json
  plugins/ag-charts-generate-example-files/package.json
Owners: @ag-grid/ag-charts-team, @alantreadway

AG-10851 - Add tooltip renderer to custom ohlc/candlestick docs examples
  packages/ag-charts-website/src/content/docs/candlestick-series/_examples/candlestick-customisations/main.ts
  packages/ag-charts-website/src/content/docs/ohlc-series/_examples/ohlc-customisations/main.ts
Owners: @ag-grid/ag-charts-team

AG-11435 - Fix relative positions of focus wrapper and canvas for Integrated + Standalone cases.
  packages/ag-charts-community/src/chart/interaction/focusStyles.ts
  packages/ag-charts-community/src/scene/canvas/hdpiCanvas.ts
Owners: @alantreadway

Release prep for 9.3.0-beta.20240426.1401
  .env
  libraries/ag-charts-test/package.json
  package.json
  packages/ag-charts-angular/package.json
  packages/ag-charts-angular/projects/ag-charts-angular/package.json
  packages/ag-charts-community-examples/package.json
  packages/ag-charts-community/package.json
  packages/ag-charts-community/src/version.ts
  packages/ag-charts-enterprise/package.json
  packages/ag-charts-react/package.json
  packages/ag-charts-vue/package.json
  packages/ag-charts-vue3/package.json
  packages/ag-charts-website/.env.build
  packages/ag-charts-website/.env.build.archive
  packages/ag-charts-website/.env.build.production
  packages/ag-charts-website/.env.build.staging
  packages/ag-charts-website/.env.dev
  packages/ag-charts-website/.env.preview
  packages/ag-charts-website/.env.preview.production
  packages/ag-charts-website/.env.preview.staging
  packages/ag-charts-website/package.json
  plugins/ag-charts-generate-chart-thumbnail/package.json
  plugins/ag-charts-generate-code-reference-files/package.json
  plugins/ag-charts-generate-example-files/package.json
Owners: @ag-grid/ag-charts-team, @alantreadway

git subrepo pull external/ag-website-shared
  external/ag-website-shared/.gitrepo
  external/ag-website-shared/src/components/search/Search.module.scss
  external/ag-website-shared/src/components/video-section/VideoSection.module.scss
  external/ag-website-shared/src/content/license-features/chartsFeaturesMatrix.json
  external/ag-website-shared/src/content/products/menu.json
  external/ag-website-shared/src/design-system/components/_code.scss
Owners: @ag-grid/ag-charts-team, @markdurrant

git subrepo pull external/ag-website-shared (#1517)
  external/ag-website-shared/.gitrepo
  external/ag-website-shared/src/components/search/Search.module.scss
  external/ag-website-shared/src/components/video-section/VideoSection.module.scss
  external/ag-website-shared/src/content/license-features/chartsFeaturesMatrix.json
  external/ag-website-shared/src/content/products/menu.json
  external/ag-website-shared/src/design-system/components/_code.scss
Owners: @ag-grid/ag-charts-team, @markdurrant

AG-11439 Implement MapMarkerSeries.computeFocusBounds
  packages/ag-charts-enterprise/src/series/map-marker/mapMarkerSeries.ts
Owners: @alantreadway

AG-11439 Fix eslint error
  packages/ag-charts-enterprise/src/series/map-marker/mapMarkerSeries.ts
Owners: @alantreadway

Fix Crosshair rendering leaving garbage in the canvas.
  packages/ag-charts-enterprise/src/features/crosshair/crosshairLabel.ts
Owners: @alantreadway

Add nx dev:minimal for faster iteration.
  packages/ag-charts-website/project.json
  packages/all/project.json
Owners: @alantreadway

Release prep for 9.3.0-beta.20240426.1627
  .env
  libraries/ag-charts-test/package.json
  package.json
  packages/ag-charts-angular/package.json
  packages/ag-charts-angular/projects/ag-charts-angular/package.json
  packages/ag-charts-community-examples/package.json
  packages/ag-charts-community/package.json
  packages/ag-charts-community/src/version.ts
  packages/ag-charts-enterprise/package.json
  packages/ag-charts-react/package.json
  packages/ag-charts-vue/package.json
  packages/ag-charts-vue3/package.json
  packages/ag-charts-website/.env.build
  packages/ag-charts-website/.env.build.archive
  packages/ag-charts-website/.env.build.production
  packages/ag-charts-website/.env.build.staging
  packages/ag-charts-website/.env.dev
  packages/ag-charts-website/.env.preview
  packages/ag-charts-website/.env.preview.production
  packages/ag-charts-website/.env.preview.staging
  packages/ag-charts-website/package.json
  plugins/ag-charts-generate-chart-thumbnail/package.json
  plugins/ag-charts-generate-code-reference-files/package.json
  plugins/ag-charts-generate-example-files/package.json
Owners: @ag-grid/ag-charts-team, @alantreadway

Automated package version bump to 9.3.0-beta.20240428.
  .env
  libraries/ag-charts-test/package.json
  package.json
  packages/ag-charts-angular/package.json
  packages/ag-charts-angular/projects/ag-charts-angular/package.json
  packages/ag-charts-community-examples/package.json
  packages/ag-charts-community/package.json
  packages/ag-charts-community/src/version.ts
  packages/ag-charts-enterprise/package.json
  packages/ag-charts-react/package.json
  packages/ag-charts-vue/package.json
  packages/ag-charts-vue3/package.json
  packages/ag-charts-website/.env.build
  packages/ag-charts-website/.env.build.archive
  packages/ag-charts-website/.env.build.production
  packages/ag-charts-website/.env.build.staging
  packages/ag-charts-website/.env.dev
  packages/ag-charts-website/.env.preview
  packages/ag-charts-website/.env.preview.production
  packages/ag-charts-website/.env.preview.staging
  packages/ag-charts-website/package.json
  plugins/ag-charts-generate-chart-thumbnail/package.json
  plugins/ag-charts-generate-code-reference-files/package.json
  plugins/ag-charts-generate-example-files/package.json
Owners: @ag-grid/ag-charts-team, @alantreadway

Release prep for 9.3.0-beta.20240429
  .env
  libraries/ag-charts-test/package.json
  package.json
  packages/ag-charts-angular/package.json
  packages/ag-charts-angular/projects/ag-charts-angular/package.json
  packages/ag-charts-community-examples/package.json
  packages/ag-charts-community/package.json
  packages/ag-charts-community/src/version.ts
  packages/ag-charts-enterprise/package.json
  packages/ag-charts-react/package.json
  packages/ag-charts-vue/package.json
  packages/ag-charts-vue3/package.json
  packages/ag-charts-website/.env.build
  packages/ag-charts-website/.env.build.archive
  packages/ag-charts-website/.env.build.production
  packages/ag-charts-website/.env.build.staging
  packages/ag-charts-website/.env.dev
  packages/ag-charts-website/.env.preview
  packages/ag-charts-website/.env.preview.production
  packages/ag-charts-website/.env.preview.staging
  packages/ag-charts-website/package.json
  plugins/ag-charts-generate-chart-thumbnail/package.json
  plugins/ag-charts-generate-code-reference-files/package.json
  plugins/ag-charts-generate-example-files/package.json
Owners: @ag-grid/ag-charts-team, @alantreadway

Benchmark updates.
  packages/ag-charts-website/src/content/docs/benchmarks/_examples/summary/data.ts
Owners: @ag-grid/ag-charts-team

AG-11435 - Fix Integrated Mini Chart layout.
  packages/ag-charts-community/src/chart/chart.ts
  packages/ag-charts-community/src/scene/canvas/hdpiCanvas.ts
  packages/ag-charts-community/src/scene/layersManager.ts
  packages/ag-charts-community/src/scene/scene.ts
Owners: @alantreadway

CRT-330 - Align OHLC docs with example.
  packages/ag-charts-website/src/content/docs/ohlc-series/index.mdoc
Owners: @rmc-software

AG-11439 Clean up mapMarkerSeries.ts style formatters
  packages/ag-charts-enterprise/src/series/map-marker/mapMarkerSeries.ts
Owners: @alantreadway

AG-3390 Update meta-descriptions for SEO
  packages/ag-charts-website/src/content/docs/quick-start/index.mdoc
Owners: @rmc-software

AG-11454 Fix framework specific meta-descriptions
  packages/ag-charts-website/src/pages/[framework]/[pageName].astro
  packages/ag-charts-website/src/utils/markdoc/getFirstParagraphText.ts
Owners: @taktran, @ag-grid/ag-charts-team

AG-11454 Add specific check for isFramework
  packages/ag-charts-website/src/utils/markdoc/getFirstParagraphText.ts
Owners: @ag-grid/ag-charts-team

CRT-332 - Disable Map zooming due to label rendering issues.
  packages/ag-charts-enterprise/src/features/zoom/zoomModule.ts
  packages/ag-charts-enterprise/src/series/map-util/mapThemeDefaults.ts
Owners: @alantreadway

Release prep for 9.3.0-beta.20240429.1153
  .env
  libraries/ag-charts-test/package.json
  package.json
  packages/ag-charts-angular/package.json
  packages/ag-charts-angular/projects/ag-charts-angular/package.json
  packages/ag-charts-community-examples/package.json
  packages/ag-charts-community/package.json
  packages/ag-charts-community/src/version.ts
  packages/ag-charts-enterprise/package.json
  packages/ag-charts-react/package.json
  packages/ag-charts-vue/package.json
  packages/ag-charts-vue3/package.json
  packages/ag-charts-website/.env.build
  packages/ag-charts-website/.env.build.archive
  packages/ag-charts-website/.env.build.production
  packages/ag-charts-website/.env.build.staging
  packages/ag-charts-website/.env.dev
  packages/ag-charts-website/.env.preview
  packages/ag-charts-website/.env.preview.production
  packages/ag-charts-website/.env.preview.staging
  packages/ag-charts-website/package.json
  plugins/ag-charts-generate-chart-thumbnail/package.json
  plugins/ag-charts-generate-code-reference-files/package.json
  plugins/ag-charts-generate-example-files/package.json
Owners: @ag-grid/ag-charts-team, @alantreadway

AG-11454 Add specific check for isFramework
  packages/ag-charts-website/src/utils/markdoc/getFirstParagraphText.ts
Owners: @ag-grid/ag-charts-team

AG-3390 Update meta-descriptions for SEO
  packages/ag-charts-website/src/content/docs/quick-start/index.mdoc
Owners: @rmc-software

AG-11454 Fix framework specific meta-descriptions
  packages/ag-charts-website/src/pages/[framework]/[pageName].astro
  packages/ag-charts-website/src/utils/markdoc/getFirstParagraphText.ts
Owners: @taktran, @ag-grid/ag-charts-team

Release prep for 9.3.0-beta.20240429.1233
  .env
  libraries/ag-charts-test/package.json
  package.json
  packages/ag-charts-angular/package.json
  packages/ag-charts-angular/projects/ag-charts-angular/package.json
  packages/ag-charts-community-examples/package.json
  packages/ag-charts-community/package.json
  packages/ag-charts-community/src/version.ts
  packages/ag-charts-enterprise/package.json
  packages/ag-charts-react/package.json
  packages/ag-charts-vue/package.json
  packages/ag-charts-vue3/package.json
  packages/ag-charts-website/.env.build
  packages/ag-charts-website/.env.build.archive
  packages/ag-charts-website/.env.build.production
  packages/ag-charts-website/.env.build.staging
  packages/ag-charts-website/.env.dev
  packages/ag-charts-website/.env.preview
  packages/ag-charts-website/.env.preview.production
  packages/ag-charts-website/.env.preview.staging
  packages/ag-charts-website/package.json
  plugins/ag-charts-generate-chart-thumbnail/package.json
  plugins/ag-charts-generate-code-reference-files/package.json
  plugins/ag-charts-generate-example-files/package.json
Owners: @ag-grid/ag-charts-team, @alantreadway

AG-11442 Fix keynav with missing range-bar datums
  packages/ag-charts-enterprise/src/series/range-bar/rangeBar.ts
Owners: @alantreadway

.github/CODEOWNERS:

# NOTE: Order of entries matters - later entries have higher precedence.

# Attribute code-owners so default reviewers are assigned to PRs.
* @ag-grid/ag-charts-team

# Astro + website changes to be reviewed by website team.
*.scss @markdurrant
*.astro @taktran
/packages/ag-charts-website/astro/** @taktran
/packages/ag-charts-website/components/** @taktran
/packages/ag-charts-website/features/** @taktran
/packages/ag-charts-website/layouts/** @taktran
/packages/ag-charts-website/stores/** @taktran
/packages/ag-charts-website/utils/** @taktran

# Docs updates to be reviewed by Eng VP.
/packages/ag-charts-website/content/** @alantreadway @rmc-software
*.mdoc @rmc-software

# Charts library code to be reviewed by Chart TL.
/packages/ag-charts-community/** @alantreadway
/packages/ag-charts-enterprise/** @alantreadway

# Sensitive build/repo files to be reviewed by Chart TL.
**/package.json @alantreadway
nx.json @alantreadway
**/project.json @alantreadway
**/tsconfig.json @alantreadway
**/tsconfig.*.json @alantreadway
