Repository ag-grid/ag-charts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ag-grid/ag-charts-team, @markdurrant, @taktran, @alantreadway, @rmc-software

fix tsconfig
  packages/ag-charts-website/src/stores/frameworkStore.ts
  packages/ag-charts-website/tsconfig.json
Owners: @ag-grid/ag-charts-team, @alantreadway

Normalize all series axis default to vertical direction + fixed axis swapping logic + fixed(?) bullet series axis labels position
  packages/ag-charts-community/src/chart/factory/seriesTypes.ts
  packages/ag-charts-community/src/chart/series/cartesian/barSeriesModule.ts
  packages/ag-charts-enterprise/src/series/bullet/__image_snapshots__/bullet-series-test-ts-bullet-series-should-clip-everything-to-scale-max-1-snap.png
  packages/ag-charts-enterprise/src/series/bullet/__image_snapshots__/bullet-series-test-ts-bullet-series-should-extend-final-color-to-scale-max-1-snap.png
  packages/ag-charts-enterprise/src/series/bullet/__image_snapshots__/bullet-series-test-ts-bullet-series-should-process-first-datum-only-1-snap.png
  packages/ag-charts-enterprise/src/series/bullet/__image_snapshots__/bullet-series-test-ts-bullet-series-should-render-a-horizontal-bullet-as-expected-1-snap.png
  packages/ag-charts-enterprise/src/series/bullet/__image_snapshots__/bullet-series-test-ts-bullet-series-should-render-a-vertical-bullet-by-default-1-snap.png
  packages/ag-charts-enterprise/src/series/bullet/__image_snapshots__/bullet-series-test-ts-bullet-series-should-render-simple-bullet-1-snap.png
  packages/ag-charts-enterprise/src/series/bullet/__image_snapshots__/bullet-series-test-ts-bullet-series-should-use-explicit-axis-max-1-snap.png
  packages/ag-charts-enterprise/src/series/bullet/bulletDefaults.ts
  packages/ag-charts-enterprise/src/series/bullet/bulletModule.ts
  packages/ag-charts-enterprise/src/series/range-bar/rangeBarDefaults.ts
  packages/ag-charts-enterprise/src/series/range-bar/rangeBarModule.ts
  packages/ag-charts-enterprise/src/series/waterfall/waterfallDefaults.ts
  packages/ag-charts-enterprise/src/series/waterfall/waterfallModule.ts
Owners: @alantreadway

fixed bullet series axis position
  packages/ag-charts-enterprise/src/series/bullet/__image_snapshots__/bullet-series-test-ts-bullet-series-should-render-a-horizontal-bullet-as-expected-1-snap.png
  packages/ag-charts-enterprise/src/series/bullet/bulletModule.ts
Owners: @alantreadway

fix broken build, should still fix direction swap validation
  packages/ag-charts-community/src/chart/factory/seriesTypes.ts
  packages/ag-charts-website/src/content/docs/range-bar-series/_examples/multiple-horizontal-range-bars/main.ts
Owners: @alantreadway, @ag-grid/ag-charts-team

First pass cleanup of tooltip page
  packages/ag-charts-website/src/content/docs/error-bars/index.mdoc
  packages/ag-charts-website/src/content/docs/heatmap-series/index.mdoc
  packages/ag-charts-website/src/content/docs/markers/index.mdoc
  packages/ag-charts-website/src/content/docs/navigator/index.mdoc
  packages/ag-charts-website/src/content/docs/overlays/index.mdoc
  packages/ag-charts-website/src/content/docs/tooltips/_examples/default-tooltip-arrow/data.ts
  packages/ag-charts-website/src/content/docs/tooltips/_examples/default-tooltip-arrow/main.ts
  packages/ag-charts-website/src/content/docs/tooltips/_examples/default-tooltip-styling/data.ts
  packages/ag-charts-website/src/content/docs/tooltips/_examples/default-tooltip-styling/main.ts
  packages/ag-charts-website/src/content/docs/tooltips/_examples/default-tooltip/data.ts
  packages/ag-charts-website/src/content/docs/tooltips/_examples/default-tooltip/main.ts
  packages/ag-charts-website/src/content/docs/tooltips/_examples/interaction-range/data.ts
  packages/ag-charts-website/src/content/docs/tooltips/_examples/interaction-range/main.ts
  packages/ag-charts-website/src/content/docs/tooltips/_examples/tooltip-content-title/data.ts
  packages/ag-charts-website/src/content/docs/tooltips/_examples/tooltip-content-title/main.ts
  packages/ag-charts-website/src/content/docs/tooltips/_examples/tooltip-interaction/data.ts
  packages/ag-charts-website/src/content/docs/tooltips/_examples/tooltip-interaction/main.ts
  packages/ag-charts-website/src/content/docs/tooltips/_examples/tooltip-position/data.ts
  packages/ag-charts-website/src/content/docs/tooltips/_examples/tooltip-position/main.ts
  packages/ag-charts-website/src/content/docs/tooltips/_examples/tooltip-renderer/data.ts
  packages/ag-charts-website/src/content/docs/tooltips/_examples/tooltip-renderer/main.ts
  packages/ag-charts-website/src/content/docs/tooltips/index.mdoc
Owners: @rmc-software, @ag-grid/ag-charts-team

First pass cleanup of tooltip page
  packages/ag-charts-website/src/content/docs/tooltips/index.mdoc
Owners: @rmc-software

revert frameworkStore.ts changes so it can be pushed as a separate PR
  packages/ag-charts-website/src/stores/frameworkStore.ts
Owners: @ag-grid/ag-charts-team

AG-9223: Fix docs infinite loop bug
  packages/ag-charts-website/src/stores/frameworkStore.ts
Owners: @ag-grid/ag-charts-team

Update defaults for diverging color scale
  packages/ag-charts-community-examples/src/charts-overview/examples/market-index-treemap/main.ts
  packages/ag-charts-community/src/chart/themes/chartTheme.ts
  packages/ag-charts-community/src/chart/themes/darkTheme.ts
  packages/ag-charts-community/src/chart/themes/materialDark.ts
  packages/ag-charts-community/src/chart/themes/materialLight.ts
  packages/ag-charts-community/src/chart/themes/polychromaDark.ts
  packages/ag-charts-community/src/chart/themes/polychromaLight.ts
  packages/ag-charts-community/src/chart/themes/sheetsDark.ts
  packages/ag-charts-community/src/chart/themes/sheetsLight.ts
  packages/ag-charts-community/src/chart/themes/symbols.ts
  packages/ag-charts-community/src/chart/themes/vividDark.ts
  packages/ag-charts-community/src/chart/themes/vividLight.ts
  packages/ag-charts-enterprise/src/__image_snapshots__/gallery-examples-test-ts-gallery-examples-ag-chart-v-2-create-for-market-index-treemap-graph-example-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-enterprise/src/series/heatmap/heatmapModule.ts
  packages/ag-charts-enterprise/src/series/sunburst/sunburstSeriesModule.ts
  packages/ag-charts-enterprise/src/series/treemap/__image_snapshots__/treemap-series-test-ts-hierarchy-chart-series-highlighting-should-render-a-complex-chart-1-snap.png
  packages/ag-charts-enterprise/src/series/treemap/__image_snapshots__/treemap-series-test-ts-hierarchy-chart-series-highlighting-should-render-highlight-at-depth-0-1-snap.png
  packages/ag-charts-enterprise/src/series/treemap/__image_snapshots__/treemap-series-test-ts-hierarchy-chart-series-highlighting-should-render-highlight-at-depth-1-1-snap.png
  packages/ag-charts-enterprise/src/series/treemap/__image_snapshots__/treemap-series-test-ts-hierarchy-chart-series-highlighting-should-render-highlight-at-depth-2-1-snap.png
  packages/ag-charts-enterprise/src/series/treemap/__image_snapshots__/treemap-series-test-ts-hierarchy-chart-series-highlighting-should-render-highlight-at-depth-3-1-snap.png
  packages/ag-charts-enterprise/src/series/treemap/treemapSeriesModule.ts
  packages/ag-charts-website/src/content/docs/treemap-series/_examples/stock-market-index/main.ts
  packages/ag-charts-website/src/content/gallery/_examples/market-index-treemap/main.ts
Owners: @ag-grid/ag-charts-team, @alantreadway

Revert "AG-9223 - Fix trailing slash infinite loop" (#538)
  packages/ag-charts-website/astro.config.mjs
  packages/ag-charts-website/src/components/site-header/HeaderNav.tsx
  packages/ag-charts-website/src/components/top-bar/ApiTopBar.tsx
  packages/ag-charts-website/src/content/menu/data.json
  packages/ag-charts-website/src/features/docs/utils/filesData.ts
  packages/ag-charts-website/src/features/docs/utils/urlPaths.ts
  packages/ag-charts-website/src/features/example-runner/framework-templates/AngularTemplate.astro
  packages/ag-charts-website/src/features/example-runner/framework-templates/JavascriptTemplate.astro
  packages/ag-charts-website/src/features/example-runner/framework-templates/ReactTemplate.astro
  packages/ag-charts-website/src/features/example-runner/framework-templates/TypescriptTemplate.astro
  packages/ag-charts-website/src/features/example-runner/framework-templates/VueTemplate.astro
  packages/ag-charts-website/src/features/example-runner/framework-templates/lib/Scripts.tsx
  packages/ag-charts-website/src/features/example-runner/framework-templates/lib/Styles.tsx
  packages/ag-charts-website/src/features/example-runner/framework-templates/lib/SystemJs.tsx
  packages/ag-charts-website/src/features/examples-generator/utils/fileUtils.ts
  packages/ag-charts-website/src/features/gallery/utils/filesData.ts
  packages/ag-charts-website/src/features/gallery/utils/urlPaths.ts
  packages/ag-charts-website/src/pages/index.astro
  packages/ag-charts-website/src/utils/chartLibraryPaths.ts
  packages/ag-charts-website/src/utils/fs.ts
  packages/ag-charts-website/src/utils/pages.ts
  packages/ag-charts-website/src/utils/pathJoin.test.ts
  packages/ag-charts-website/src/utils/pathJoin.ts
  packages/ag-charts-website/src/utils/urlWithPrefix.test.ts
  packages/ag-charts-website/src/utils/urlWithPrefix.ts
  packages/ag-charts-website/tsconfig.json
Owners: @ag-grid/ag-charts-team, @taktran, @alantreadway

Normalize all series axes to default vertical direction (#539)
  packages/ag-charts-community/src/chart/factory/seriesTypes.ts
  packages/ag-charts-community/src/chart/series/cartesian/barSeriesModule.ts
  packages/ag-charts-enterprise/src/series/bullet/__image_snapshots__/bullet-series-test-ts-bullet-series-should-clip-everything-to-scale-max-1-snap.png
  packages/ag-charts-enterprise/src/series/bullet/__image_snapshots__/bullet-series-test-ts-bullet-series-should-extend-final-color-to-scale-max-1-snap.png
  packages/ag-charts-enterprise/src/series/bullet/__image_snapshots__/bullet-series-test-ts-bullet-series-should-process-first-datum-only-1-snap.png
  packages/ag-charts-enterprise/src/series/bullet/__image_snapshots__/bullet-series-test-ts-bullet-series-should-render-a-vertical-bullet-by-default-1-snap.png
  packages/ag-charts-enterprise/src/series/bullet/__image_snapshots__/bullet-series-test-ts-bullet-series-should-render-simple-bullet-1-snap.png
  packages/ag-charts-enterprise/src/series/bullet/__image_snapshots__/bullet-series-test-ts-bullet-series-should-use-explicit-axis-max-1-snap.png
  packages/ag-charts-enterprise/src/series/bullet/bulletDefaults.ts
  packages/ag-charts-enterprise/src/series/bullet/bulletModule.ts
  packages/ag-charts-enterprise/src/series/range-bar/rangeBarDefaults.ts
  packages/ag-charts-enterprise/src/series/range-bar/rangeBarModule.ts
  packages/ag-charts-enterprise/src/series/waterfall/waterfallDefaults.ts
  packages/ag-charts-enterprise/src/series/waterfall/waterfallModule.ts
  packages/ag-charts-website/src/content/docs/range-bar-series/_examples/multiple-horizontal-range-bars/main.ts
Owners: @alantreadway, @ag-grid/ag-charts-team

AG-9301 Add default lightgrey colorRange to bullet graphs
  packages/ag-charts-enterprise/src/series/bullet/bulletSeries.ts
Owners: @alantreadway

AG-9301 Update bullet snapshots
  packages/ag-charts-enterprise/src/series/bullet/__image_snapshots__/bullet-series-test-ts-bullet-series-should-process-first-datum-only-1-snap.png
  packages/ag-charts-enterprise/src/series/bullet/__image_snapshots__/bullet-series-test-ts-bullet-series-should-render-simple-bullet-1-snap.png
  packages/ag-charts-enterprise/src/series/bullet/__image_snapshots__/bullet-series-test-ts-bullet-series-should-use-explicit-axis-max-1-snap.png
Owners: @alantreadway

set all `persistentAtom` to `listen: false`
  packages/ag-charts-website/src/stores/darkmodeStore.ts
  packages/ag-charts-website/src/stores/themeStore.ts
Owners: @ag-grid/ag-charts-team

fix types
  packages/ag-charts-website/src/stores/darkmodeStore.ts
Owners: @ag-grid/ag-charts-team

AG-9223: Fix docs infinite loop bug (#541)
  packages/ag-charts-website/src/stores/darkmodeStore.ts
  packages/ag-charts-website/src/stores/frameworkStore.ts
  packages/ag-charts-website/src/stores/themeStore.ts
Owners: @ag-grid/ag-charts-team

Bring back border right to gridMenu
  packages/ag-charts-website/src/components/pages-navigation/gridMenu.module.scss
Owners: @markdurrant

Add light & darkmode styles for examples UI buttons
  packages/ag-charts-website/src/components/site-header/getDarkModeSnippet.ts
  packages/ag-charts-website/src/features/example-runner/framework-templates/lib/ExampleStyle.tsx
Owners: @ag-grid/ag-charts-team

Fix docs nav item active state
  packages/ag-charts-website/src/components/site-header/HeaderNav.tsx
Owners: @ag-grid/ag-charts-team

Update icon size
  packages/ag-charts-website/src/components/pages-navigation/PagesNavigation.module.scss
Owners: @markdurrant

Links and tabs improvements
  packages/ag-charts-website/src/components/pages-navigation/PagesNavigation.module.scss
  packages/ag-charts-website/src/components/pages-navigation/gridMenu.module.scss
  packages/ag-charts-website/src/design-system/components/_containers.scss
  packages/ag-charts-website/src/pages/gallery.astro
Owners: @markdurrant, @taktran

Update scroll in dark and gallery background
  packages/ag-charts-website/src/design-system/_base.scss
  packages/ag-charts-website/src/features/gallery/components/GalleryExampleLink.module.scss
Owners: @markdurrant

Fix single gallery example page series links
  packages/ag-charts-website/src/features/gallery/components/GallerySeriesLink.jsx
  packages/ag-charts-website/src/features/gallery/components/GallerySeriesLink.module.scss
  packages/ag-charts-website/src/pages/gallery/[pageName].astro
Owners: @ag-grid/ag-charts-team, @markdurrant, @taktran

Fix docs charts layout issues
  packages/ag-charts-website/src/components/pages-navigation/PagesNavigation.module.scss
  packages/ag-charts-website/src/components/pages-navigation/SideNavigation.module.scss
  packages/ag-charts-website/src/pages/[framework]/[pageName].astro
  packages/ag-charts-website/src/styles/docs.module.scss
Owners: @markdurrant, @taktran

Links color improvemenets dark
  packages/ag-charts-website/src/components/pages-navigation/gridMenu.module.scss
  packages/ag-charts-website/src/design-system/core/_variables.scss
Owners: @markdurrant

Revert tabs change
  packages/ag-charts-website/src/design-system/components/_containers.scss
Owners: @markdurrant

Fix layout bug with API refrences tables
  packages/ag-charts-website/src/features/api-documentation/components/ApiReference.module.scss
Owners: @markdurrant

Add support for cross axis labels on sunburst
  packages/ag-charts-enterprise/src/__image_snapshots__/gallery-examples-test-ts-gallery-examples-ag-chart-v-2-create-for-market-index-sunburst-graph-example-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-enterprise/src/series/sunburst/__image_snapshots__/sunburst-series-test-ts-sunburst-chart-series-highlighting-should-render-a-complex-chart-1-snap.png
  packages/ag-charts-enterprise/src/series/sunburst/__image_snapshots__/sunburst-series-test-ts-sunburst-chart-series-highlighting-should-render-highlight-at-depth-0-1-snap.png
  packages/ag-charts-enterprise/src/series/sunburst/__image_snapshots__/sunburst-series-test-ts-sunburst-chart-series-highlighting-should-render-highlight-at-depth-1-1-snap.png
  packages/ag-charts-enterprise/src/series/sunburst/__image_snapshots__/sunburst-series-test-ts-sunburst-chart-series-highlighting-should-render-highlight-at-depth-2-1-snap.png
  packages/ag-charts-enterprise/src/series/sunburst/__image_snapshots__/sunburst-series-test-ts-sunburst-chart-series-highlighting-should-render-highlight-at-depth-3-1-snap.png
  packages/ag-charts-enterprise/src/series/sunburst/sunburstSeries.ts
  packages/ag-charts-enterprise/src/series/treemap/treemapSeries.ts
  packages/ag-charts-enterprise/src/series/util/labelFormatter.test.ts
  packages/ag-charts-enterprise/src/series/util/labelFormatter.ts
Owners: @alantreadway

Fix merge bug
  packages/ag-charts-website/src/components/site-header/getDarkModeSnippet.ts
Owners: @ag-grid/ag-charts-team

Fix example button darkmode hover bug
  packages/ag-charts-website/src/features/example-runner/framework-templates/lib/ExampleStyle.tsx
Owners: @ag-grid/ag-charts-team

AG-9609 - Dark mode tweaks (#544)
  packages/ag-charts-website/src/components/pages-navigation/PagesNavigation.module.scss
  packages/ag-charts-website/src/components/pages-navigation/SideNavigation.module.scss
  packages/ag-charts-website/src/components/pages-navigation/gridMenu.module.scss
  packages/ag-charts-website/src/components/site-header/HeaderNav.tsx
  packages/ag-charts-website/src/components/site-header/getDarkModeSnippet.ts
  packages/ag-charts-website/src/design-system/_base.scss
  packages/ag-charts-website/src/design-system/components/_containers.scss
  packages/ag-charts-website/src/design-system/core/_variables.scss
  packages/ag-charts-website/src/features/api-documentation/components/ApiReference.module.scss
  packages/ag-charts-website/src/features/example-runner/framework-templates/lib/ExampleStyle.tsx
  packages/ag-charts-website/src/features/gallery/components/GalleryExampleLink.module.scss
  packages/ag-charts-website/src/features/gallery/components/GallerySeriesLink.jsx
  packages/ag-charts-website/src/features/gallery/components/GallerySeriesLink.module.scss
  packages/ag-charts-website/src/pages/[framework]/[pageName].astro
  packages/ag-charts-website/src/pages/gallery.astro
  packages/ag-charts-website/src/pages/gallery/[pageName].astro
  packages/ag-charts-website/src/styles/docs.module.scss
Owners: @markdurrant, @ag-grid/ag-charts-team, @taktran

Add deprecation warning to AgChart members
  packages/ag-charts-community/src/chart/agChartV2.ts
  packages/ag-charts-community/src/util/deprecation.ts
Owners: @alantreadway

Reduce license-check log-spam.
  packages/ag-charts-community/src/chart/agChartV2.ts
Owners: @alantreadway

AG-3390 - Add dark mode to changelog and pipeline
  packages/ag-charts-website/src/features/changelog/Changelog.tsx
  packages/ag-charts-website/src/features/pipeline/Pipeline.tsx
Owners: @ag-grid/ag-charts-team

AG-3390 - Extract dark mode hook
  packages/ag-charts-website/src/components/site-header/DarkModeToggle.jsx
  packages/ag-charts-website/src/utils/hooks/useDarkmode.ts
Owners: @ag-grid/ag-charts-team

Add deprecation warning to AgChart members (#545)
  packages/ag-charts-community/src/chart/agChartV2.ts
  packages/ag-charts-community/src/util/deprecation.ts
Owners: @alantreadway

Replace leftovers of AgChart ref
  packages/ag-charts-website/src/components/site-header/getDarkModeSnippet.ts
Owners: @ag-grid/ag-charts-team

Replace leftovers of AgChart ref (#546)
  packages/ag-charts-website/src/components/site-header/getDarkModeSnippet.ts
Owners: @ag-grid/ag-charts-team

AG-9790 - Fix options undefined error on homepage
  packages/ag-charts-website/src/components/site-header/getDarkModeSnippet.ts
  packages/ag-charts-website/src/content/docs/homepage/_examples/hero-chart/main.ts
  packages/ag-charts-website/src/features/homepage/components/HomepageExampleRunner.astro
Owners: @ag-grid/ag-charts-team, @taktran

AG-9790 - Fix up charts reference
  packages/ag-charts-website/src/components/site-header/getDarkModeSnippet.ts
Owners: @ag-grid/ag-charts-team

.github/CODEOWNERS:

# NOTE: Order of entries matters - later entries have higher precedence.

# Attribute code-owners so default reviewers are assigned to PRs.
* @ag-grid/ag-charts-team

# Astro + website changes to be reviewed by website team.
*.scss @markdurrant
*.astro @taktran
/packages/ag-charts-website/astro/** @taktran
/packages/ag-charts-website/components/** @taktran
/packages/ag-charts-website/features/** @taktran
/packages/ag-charts-website/layouts/** @taktran
/packages/ag-charts-website/stores/** @taktran
/packages/ag-charts-website/utils/** @taktran

# Docs updates to be reviewed by Eng VP.
/packages/ag-charts-website/content/** @alantreadway @rmc-software
*.mdoc @rmc-software

# Charts library code to be reviewed by Chart TL.
/packages/ag-charts-community/** @alantreadway
/packages/ag-charts-enterprise/** @alantreadway

# Sensitive build/repo files to be reviewed by Chart TL.
**/package.json @alantreadway
nx.json @alantreadway
**/project.json @alantreadway
**/tsconfig.json @alantreadway
**/tsconfig.*.json @alantreadway
