Repository ag-grid/ag-charts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ag-grid/ag-charts-team, @markdurrant, @taktran, @alantreadway, @rmc-software

.github/CODEOWNERS:

# NOTE: Order of entries matters - later entries have higher precedence.

# Attribute code-owners so default reviewers are assigned to PRs.
* @ag-grid/ag-charts-team

# Astro + website changes to be reviewed by website team.
*.scss @markdurrant
*.astro @taktran
/packages/ag-charts-website/astro/** @taktran
/packages/ag-charts-website/components/** @taktran
/packages/ag-charts-website/features/** @taktran
/packages/ag-charts-website/layouts/** @taktran
/packages/ag-charts-website/stores/** @taktran
/packages/ag-charts-website/utils/** @taktran

# Docs updates to be reviewed by Eng VP.
/packages/ag-charts-website/content/** @alantreadway @rmc-software
*.mdoc @rmc-software

# Charts library code to be reviewed by Chart TL.
/packages/ag-charts-community/** @alantreadway
/packages/ag-charts-enterprise/** @alantreadway

# Sensitive build/repo files to be reviewed by Chart TL.
**/package.json @alantreadway
nx.json @alantreadway
**/project.json @alantreadway
**/tsconfig.json @alantreadway
**/tsconfig.*.json @alantreadway

nx format fix
  packages/ag-charts-website/src/content/docs/area-series-test/_examples/continuous-animation/main.ts
  packages/ag-charts-website/src/content/docs/bar-series-test/_examples/animation-vertical/main.ts
  packages/ag-charts-website/src/content/docs/bar-series-test/_examples/animation/main.ts
  packages/ag-charts-website/src/content/docs/histogram-series-test/_examples/animation/main.ts
  packages/ag-charts-website/src/content/docs/line-series-test/_examples/continuous-animation/main.ts
  packages/ag-charts-website/src/content/docs/pie-series-test/_examples/animation/main.ts
  packages/ag-charts-website/src/content/docs/scatter-series-test/_examples/animation/main.ts
Owners: @ag-grid/ag-charts-team

nx format fix
  packages/ag-charts-website/src/content/docs/area-series-test/_examples/category-animation/main.ts
  packages/ag-charts-website/src/content/docs/range-bar-series/_examples/range-bar-labels/main.ts
  packages/ag-charts-website/src/content/gallery/_examples/line-with-labels/main.ts
  packages/ag-charts-website/src/content/gallery/_examples/multiple-range-bars/main.ts
Owners: @ag-grid/ag-charts-team

Automated package version bump to 9.0.0-beta.20231114.
  packages/ag-charts-angular/package.json
  packages/ag-charts-community-examples/package.json
  packages/ag-charts-community/package.json
  packages/ag-charts-enterprise/package.json
  packages/ag-charts-react/package.json
  packages/ag-charts-vue/package.json
  packages/ag-charts-vue3/package.json
  packages/ag-charts-website/package.json
Owners: @alantreadway

AG-9301 Add bulletSeries.test.ts
  packages/ag-charts-enterprise/src/series/bullet/bulletSeries.test.ts
Owners: @alantreadway

AG-9301 Add test for explicit axis[0].max
  packages/ag-charts-enterprise/src/series/bullet/bulletSeries.test.ts
Owners: @alantreadway

AG-9301 Add test for bullet colorRange clipping
  packages/ag-charts-enterprise/src/series/bullet/bulletSeries.test.ts
Owners: @alantreadway

AG-9301 Add snapshots for bulletSeries.test.ts
  packages/ag-charts-enterprise/src/series/bullet/__image_snapshots__/bullet-series-test-ts-bullet-series-should-clip-everything-to-scale-max-1-snap.png
  packages/ag-charts-enterprise/src/series/bullet/__image_snapshots__/bullet-series-test-ts-bullet-series-should-extend-final-color-to-scale-max-1-snap.png
  packages/ag-charts-enterprise/src/series/bullet/__image_snapshots__/bullet-series-test-ts-bullet-series-should-process-first-datum-only-1-snap.png
  packages/ag-charts-enterprise/src/series/bullet/__image_snapshots__/bullet-series-test-ts-bullet-series-should-render-a-horizontal-bullet-as-expected-1-snap.png
  packages/ag-charts-enterprise/src/series/bullet/__image_snapshots__/bullet-series-test-ts-bullet-series-should-render-a-vertical-bullet-by-default-1-snap.png
  packages/ag-charts-enterprise/src/series/bullet/__image_snapshots__/bullet-series-test-ts-bullet-series-should-render-simple-bullet-1-snap.png
  packages/ag-charts-enterprise/src/series/bullet/__image_snapshots__/bullet-series-test-ts-bullet-series-should-use-explicit-axis-max-1-snap.png
Owners: @alantreadway

AG-9301 Add test for multiple bullet datums
  packages/ag-charts-enterprise/src/series/bullet/bulletSeries.test.ts
Owners: @alantreadway

AG-9790 - Extract dark mode snippets
  packages/ag-charts-website/src/components/site-header/getDarkModeSnippet.ts
  packages/ag-charts-website/src/features/example-runner/components/CodeViewer.tsx
  packages/ag-charts-website/src/features/examples-generator/examplesGenerator.ts
  packages/ag-charts-website/src/features/examples-generator/transformation-scripts/chart-vanilla-to-angular.ts
  packages/ag-charts-website/src/features/examples-generator/transformation-scripts/chart-vanilla-to-react-functional.ts
  packages/ag-charts-website/src/features/examples-generator/transformation-scripts/chart-vanilla-to-react.ts
  packages/ag-charts-website/src/features/examples-generator/transformation-scripts/chart-vanilla-to-vue.ts
  packages/ag-charts-website/src/features/examples-generator/transformation-scripts/chart-vanilla-to-vue3.ts
  packages/ag-charts-website/src/features/examples-generator/utils/frameworkFilesGenerator.ts
Owners: @ag-grid/ag-charts-team

AG-9790 - Rename `isGalleryExample` to `ignoreDarkMode`
  packages/ag-charts-website/src/features/examples-generator/examplesGenerator.ts
  packages/ag-charts-website/src/features/examples-generator/utils/frameworkFilesGenerator.ts
  packages/ag-charts-website/src/features/gallery/utils/examplesGenerator.ts
Owners: @ag-grid/ag-charts-team

fix build
  packages/ag-charts-enterprise/rollup.config.cjs
  packages/ag-charts-website/src/features/gallery/utils/transformPlainEntryFile.ts
Owners: @alantreadway, @ag-grid/ag-charts-team

Hierarchy fixes
  packages/ag-charts-community/src/chart/hierarchyChart.ts
  packages/ag-charts-community/src/chart/series/hierarchy/hierarchySeries.ts
  packages/ag-charts-community/src/chart/series/test/examples.ts
  packages/ag-charts-community/src/options/series/hierarchy/treemapOptions.ts
  packages/ag-charts-enterprise/src/series/sunburst/sunburstSeries.ts
  packages/ag-charts-enterprise/src/series/sunburst/sunburstSeriesModule.ts
  packages/ag-charts-enterprise/src/series/treemap/treemapSeries.ts
  packages/ag-charts-enterprise/src/series/treemap/treemapSeriesModule.ts
  packages/ag-charts-enterprise/src/series/util/labelFormatter.test.ts
  packages/ag-charts-enterprise/src/series/util/labelFormatter.ts
  packages/ag-charts-website/src/content/docs/sunburst-series/_examples/org-chart/main.ts
  packages/ag-charts-website/src/content/docs/treemap-series/_examples/custom-colors/main.ts
  packages/ag-charts-website/src/content/docs/treemap-series/_examples/tile-padding/main.ts
  packages/ag-charts-website/src/content/docs/treemap-series/index.mdoc
Owners: @alantreadway, @ag-grid/ag-charts-team, @rmc-software

nx format fix
  packages/ag-charts-enterprise/rollup.config.cjs
Owners: @alantreadway

fix tests after merge
  packages/ag-charts-enterprise/src/series/bullet/bulletSeries.test.ts
Owners: @alantreadway

fix tests after merge
  packages/ag-charts-enterprise/src/series/bullet/bulletSeries.test.ts
Owners: @alantreadway

WIP colour changes
  packages/ag-charts-community/src/chart/series/hierarchy/hierarchySeries.ts
  packages/ag-charts-community/src/chart/themes/chartTheme.ts
  packages/ag-charts-community/src/chart/themes/darkTheme.ts
  packages/ag-charts-community/src/chart/themes/symbols.ts
  packages/ag-charts-community/src/options/series/hierarchy/sunburstOptions.ts
  packages/ag-charts-community/src/options/series/hierarchy/treemapOptions.ts
  packages/ag-charts-enterprise/src/series/sunburst/sunburstSeriesModule.ts
  packages/ag-charts-enterprise/src/series/treemap/treemapSeriesModule.ts
  packages/ag-charts-website/src/content/docs/sunburst-series/_examples/org-chart/main.ts
  packages/ag-charts-website/src/content/docs/treemap-series/_examples/custom-colors/main.ts
  packages/ag-charts-website/src/content/docs/treemap-series/_examples/org-chart/main.ts
  packages/ag-charts-website/src/content/docs/treemap-series/_examples/stock-market-index/main.ts
  packages/ag-charts-website/src/content/docs/treemap-series/_examples/tile-padding/main.ts
Owners: @alantreadway, @ag-grid/ag-charts-team

AG-9790 - Fix dark mode for homepage and gallery
  packages/ag-charts-website/src/components/site-header/DarkModeToggle.jsx
  packages/ag-charts-website/src/features/docs/utils/examplesGenerator.ts
  packages/ag-charts-website/src/features/gallery/components/GalleryExampleThemeDropdown.tsx
  packages/ag-charts-website/src/features/gallery/utils/examplesGenerator.ts
  packages/ag-charts-website/src/features/gallery/utils/getDarkModeTheme.ts
  packages/ag-charts-website/src/features/homepage/components/HomepageExampleRunner.astro
  packages/ag-charts-website/src/pages/gallery/examples/[exampleName]/[theme]-plain.png.ts
  packages/ag-charts-website/src/pages/gallery/examples/[exampleName]/plain-main.ts
  packages/ag-charts-website/src/utils/hooks/useTheme.ts
Owners: @ag-grid/ag-charts-team, @taktran

AG-8489 - Fix zero key PieSeries animating on data change.
  packages/ag-charts-community/src/chart/series/polar/pieSeries.ts
Owners: @alantreadway

AG-9790 - Fix dark mode for homepage and gallery (#523)
  packages/ag-charts-website/src/components/site-header/DarkModeToggle.jsx
  packages/ag-charts-website/src/components/site-header/getDarkModeSnippet.ts
  packages/ag-charts-website/src/features/docs/utils/examplesGenerator.ts
  packages/ag-charts-website/src/features/example-runner/components/CodeViewer.tsx
  packages/ag-charts-website/src/features/examples-generator/examplesGenerator.ts
  packages/ag-charts-website/src/features/examples-generator/transformation-scripts/chart-vanilla-to-angular.ts
  packages/ag-charts-website/src/features/examples-generator/transformation-scripts/chart-vanilla-to-react-functional.ts
  packages/ag-charts-website/src/features/examples-generator/transformation-scripts/chart-vanilla-to-react.ts
  packages/ag-charts-website/src/features/examples-generator/transformation-scripts/chart-vanilla-to-vue.ts
  packages/ag-charts-website/src/features/examples-generator/transformation-scripts/chart-vanilla-to-vue3.ts
  packages/ag-charts-website/src/features/examples-generator/utils/frameworkFilesGenerator.ts
  packages/ag-charts-website/src/features/gallery/components/GalleryExampleThemeDropdown.tsx
  packages/ag-charts-website/src/features/gallery/utils/examplesGenerator.ts
  packages/ag-charts-website/src/features/gallery/utils/getDarkModeTheme.ts
  packages/ag-charts-website/src/features/homepage/components/HomepageExampleRunner.astro
  packages/ag-charts-website/src/pages/gallery/examples/[exampleName]/[theme]-plain.png.ts
  packages/ag-charts-website/src/pages/gallery/examples/[exampleName]/plain-main.ts
  packages/ag-charts-website/src/utils/hooks/useTheme.ts
Owners: @ag-grid/ag-charts-team, @taktran

AG-8489 - Fix Pie radius changes on add/remove animation.
  packages/ag-charts-community/src/chart/series/polar/__image_snapshots__/polar-series-test-ts-polar-series-remove-animation-for-pie-series-should-animate-at-25-1-snap.png
  packages/ag-charts-community/src/chart/series/polar/__image_snapshots__/polar-series-test-ts-polar-series-remove-animation-for-pie-series-should-animate-at-50-1-snap.png
  packages/ag-charts-community/src/chart/series/polar/pieSeries.ts
  packages/ag-charts-community/src/chart/series/polar/pieUtil.ts
Owners: @alantreadway

AG-8489 - Fix phantom pie segment animation add/remove.
  packages/ag-charts-community/src/chart/series/polar/pieSeries.ts
  packages/ag-charts-website/src/content/docs/pie-series-test/_examples/animation/index.html
  packages/ag-charts-website/src/content/docs/pie-series-test/_examples/animation/main.ts
Owners: @alantreadway, @ag-grid/ag-charts-team

Refactor homepage styles into seperate Sass file
  packages/ag-charts-website/src/pages/homepage.module.scss
  packages/ag-charts-website/src/pages/index.astro
Owners: @markdurrant, @taktran

Homepage darkmode styles
  packages/ag-charts-website/src/features/homepage/components/HomepageSeriesSelector.module.scss
  packages/ag-charts-website/src/pages/homepage.module.scss
  packages/ag-charts-website/src/pages/index.astro
Owners: @markdurrant, @taktran

Style AG Grid logo for lightmode/darkmode
  packages/ag-charts-website/src/images/inline-svgs/ag-grid-logomark.svg
  packages/ag-charts-website/src/pages/homepage.module.scss
  packages/ag-charts-website/src/pages/index.astro
Owners: @ag-grid/ag-charts-team, @markdurrant, @taktran

Update homepage section background colors
  packages/ag-charts-website/src/pages/homepage.module.scss
Owners: @markdurrant

Homepage responsive styles
  packages/ag-charts-website/src/features/homepage/components/HomepageSeriesSelector.module.scss
  packages/ag-charts-website/src/pages/homepage.module.scss
Owners: @markdurrant

Update options, defaults
  packages/ag-charts-community-examples/src/charts-overview/examples/market-index-treemap/main.ts
  packages/ag-charts-community/src/chart/series/test/examples.ts
  packages/ag-charts-community/src/options/series/hierarchy/sunburstOptions.ts
  packages/ag-charts-community/src/options/series/hierarchy/treemapOptions.ts
  packages/ag-charts-enterprise/src/__image_snapshots__/gallery-examples-test-ts-gallery-examples-ag-chart-v-2-create-for-market-index-sunburst-graph-example-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-enterprise/src/__image_snapshots__/gallery-examples-test-ts-gallery-examples-ag-chart-v-2-create-for-market-index-treemap-graph-example-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-enterprise/src/series/sunburst/__image_snapshots__/sunburst-series-test-ts-sunburst-chart-series-highlighting-should-render-a-complex-chart-1-snap.png
  packages/ag-charts-enterprise/src/series/sunburst/__image_snapshots__/sunburst-series-test-ts-sunburst-chart-series-highlighting-should-render-highlight-at-depth-0-1-snap.png
  packages/ag-charts-enterprise/src/series/sunburst/__image_snapshots__/sunburst-series-test-ts-sunburst-chart-series-highlighting-should-render-highlight-at-depth-1-1-snap.png
  packages/ag-charts-enterprise/src/series/sunburst/__image_snapshots__/sunburst-series-test-ts-sunburst-chart-series-highlighting-should-render-highlight-at-depth-2-1-snap.png
  packages/ag-charts-enterprise/src/series/sunburst/__image_snapshots__/sunburst-series-test-ts-sunburst-chart-series-highlighting-should-render-highlight-at-depth-3-1-snap.png
  packages/ag-charts-enterprise/src/series/sunburst/__image_snapshots__/sunburst-series-test-ts-sunburst-chart-series-labels-for-sunburst-series-labels-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-enterprise/src/series/sunburst/sunburstSeries.ts
  packages/ag-charts-enterprise/src/series/sunburst/sunburstSeriesModule.ts
  packages/ag-charts-enterprise/src/series/treemap/__image_snapshots__/treemap-series-test-ts-hierarchy-chart-series-highlighting-should-render-a-complex-chart-1-snap.png
  packages/ag-charts-enterprise/src/series/treemap/__image_snapshots__/treemap-series-test-ts-hierarchy-chart-series-highlighting-should-render-highlight-at-depth-0-1-snap.png
  packages/ag-charts-enterprise/src/series/treemap/__image_snapshots__/treemap-series-test-ts-hierarchy-chart-series-highlighting-should-render-highlight-at-depth-1-1-snap.png
  packages/ag-charts-enterprise/src/series/treemap/__image_snapshots__/treemap-series-test-ts-hierarchy-chart-series-highlighting-should-render-highlight-at-depth-2-1-snap.png
  packages/ag-charts-enterprise/src/series/treemap/__image_snapshots__/treemap-series-test-ts-hierarchy-chart-series-highlighting-should-render-highlight-at-depth-3-1-snap.png
  packages/ag-charts-enterprise/src/series/treemap/__image_snapshots__/treemap-series-test-ts-hierarchy-chart-series-labels-for-treemap-series-labels-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-enterprise/src/series/treemap/treemapSeries.ts
  packages/ag-charts-enterprise/src/series/treemap/treemapSeriesModule.ts
  packages/ag-charts-website/src/content/docs/sunburst-series/_examples/org-chart/data.ts
  packages/ag-charts-website/src/content/docs/sunburst-series/_examples/org-chart/main.ts
  packages/ag-charts-website/src/content/docs/treemap-series/_examples/custom-colors/main.ts
  packages/ag-charts-website/src/content/docs/treemap-series/_examples/org-chart/main.ts
  packages/ag-charts-website/src/content/docs/treemap-series/_examples/stock-market-index/main.ts
  packages/ag-charts-website/src/content/docs/treemap-series/_examples/tile-padding/main.ts
  packages/ag-charts-website/src/content/gallery/_examples/market-index-treemap/main.ts
Owners: @ag-grid/ag-charts-team, @alantreadway

Fix treemap colours
  packages/ag-charts-community-examples/src/charts-overview/examples/market-index-treemap/main.ts
  packages/ag-charts-enterprise/src/__image_snapshots__/gallery-examples-test-ts-gallery-examples-ag-chart-v-2-create-for-market-index-treemap-graph-example-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-enterprise/src/series/treemap/__image_snapshots__/treemap-series-test-ts-hierarchy-chart-series-highlighting-should-render-a-complex-chart-1-snap.png
  packages/ag-charts-enterprise/src/series/treemap/__image_snapshots__/treemap-series-test-ts-hierarchy-chart-series-highlighting-should-render-highlight-at-depth-0-1-snap.png
  packages/ag-charts-enterprise/src/series/treemap/__image_snapshots__/treemap-series-test-ts-hierarchy-chart-series-highlighting-should-render-highlight-at-depth-1-1-snap.png
  packages/ag-charts-enterprise/src/series/treemap/__image_snapshots__/treemap-series-test-ts-hierarchy-chart-series-highlighting-should-render-highlight-at-depth-2-1-snap.png
  packages/ag-charts-enterprise/src/series/treemap/__image_snapshots__/treemap-series-test-ts-hierarchy-chart-series-highlighting-should-render-highlight-at-depth-3-1-snap.png
  packages/ag-charts-website/src/content/docs/treemap-series/_examples/stock-market-index/main.ts
  packages/ag-charts-website/src/content/gallery/_examples/market-index-treemap/main.ts
Owners: @ag-grid/ag-charts-team, @alantreadway

AG-9399 - Homepage design updates
  packages/ag-charts-website/src/features/homepage/components/HomepageSeriesSelector.module.scss
  packages/ag-charts-website/src/images/inline-svgs/ag-grid-logomark.svg
  packages/ag-charts-website/src/pages/homepage.module.scss
  packages/ag-charts-website/src/pages/index.astro
Owners: @markdurrant, @ag-grid/ag-charts-team, @taktran

AG-9571 - Update simple histogram example
  packages/ag-charts-website/src/content/gallery/_examples/simple-histogram/main.ts
Owners: @ag-grid/ag-charts-team

AG-9571 - New histogram with specified bins example
  packages/ag-charts-website/src/content/gallery/_examples/histogram-with-specified-bins/data.ts
  packages/ag-charts-website/src/content/gallery/_examples/histogram-with-specified-bins/main.ts
Owners: @ag-grid/ag-charts-team

AG-9571 - Histogram series label default theme
  packages/ag-charts-enterprise/src/series/histogram/histogramSeriesModule.ts
Owners: @alantreadway

AG-9571 - Update histogram mean aggregation example
  packages/ag-charts-website/src/content/gallery/_examples/xy-histogram-with-mean-aggregation/main.ts
Owners: @ag-grid/ag-charts-team

AG-9571 - Move combo examples to combination section
  packages/ag-charts-website/src/content/gallery/_examples/bar-line-combination/data.ts
  packages/ag-charts-website/src/content/gallery/_examples/bar-line-combination/index.html
  packages/ag-charts-website/src/content/gallery/_examples/bar-line-combination/main.ts
  packages/ag-charts-website/src/content/gallery/_examples/box-plot-scatter-combination/data.ts
  packages/ag-charts-website/src/content/gallery/_examples/box-plot-scatter-combination/index.html
  packages/ag-charts-website/src/content/gallery/_examples/box-plot-scatter-combination/main.ts
  packages/ag-charts-website/src/content/gallery/_examples/histogram-scatter-combination/data.ts
  packages/ag-charts-website/src/content/gallery/_examples/histogram-scatter-combination/index.html
  packages/ag-charts-website/src/content/gallery/_examples/histogram-scatter-combination/main.ts
  packages/ag-charts-website/src/content/gallery/_examples/horizontal-range-bar-scatter-combination/data.ts
  packages/ag-charts-website/src/content/gallery/_examples/horizontal-range-bar-scatter-combination/index.html
  packages/ag-charts-website/src/content/gallery/_examples/horizontal-range-bar-scatter-combination/main.ts
  packages/ag-charts-website/src/content/gallery/_examples/range-bar-line-combination/data.ts
  packages/ag-charts-website/src/content/gallery/_examples/range-bar-line-combination/index.html
  packages/ag-charts-website/src/content/gallery/_examples/range-bar-line-combination/main.ts
  packages/ag-charts-website/src/content/gallery/data.json
Owners: @ag-grid/ag-charts-team

Fix padding on left side nav
  packages/ag-charts-website/src/components/pages-navigation/PagesNavigation.module.scss
  packages/ag-charts-website/src/design-system/components/_containers.scss
Owners: @markdurrant

Change tab bar active color to white in dark mode
  packages/ag-charts-website/src/components/top-bar/ApiTopBar.module.scss
Owners: @markdurrant

Improvements to tab header component
  packages/ag-charts-website/src/design-system/components/_containers.scss
Owners: @markdurrant

Update side menu code panel background
  packages/ag-charts-website/src/features/api-documentation/components/OptionsNavigation.module.scss
Owners: @markdurrant

Attempt to style buttons better
  packages/ag-charts-website/src/features/example-runner/framework-templates/lib/ExampleStyle.tsx
Owners: @ag-grid/ag-charts-team

Adds custom scrollbar for menu in dark mode
  packages/ag-charts-website/src/components/pages-navigation/gridMenu.module.scss
  packages/ag-charts-website/src/design-system/_base.scss
Owners: @markdurrant
