Repository ag-grid/ag-charts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ag-grid/ag-charts-team, @markdurrant, @taktran, @alantreadway, @rmc-software

AG-9571 - Bubble series with labels gallery example
  packages/ag-charts-community/src/chart/series/cartesian/bubbleSeries.ts
  packages/ag-charts-website/src/content/gallery/_examples/bubble-with-labels/data.ts
  packages/ag-charts-website/src/content/gallery/_examples/bubble-with-labels/index.html
  packages/ag-charts-website/src/content/gallery/_examples/bubble-with-labels/main.ts
  packages/ag-charts-website/src/content/gallery/data.json
Owners: @alantreadway, @ag-grid/ag-charts-team

AG-9571 - Update simple bubble series gallery example
  packages/ag-charts-website/src/content/gallery/_examples/simple-bubble/main.ts
Owners: @ag-grid/ag-charts-team

AG-6686 - bubble series clean up
  packages/ag-charts-community/src/chart/series/cartesian/bubbleSeries.ts
Owners: @alantreadway

Ag 9609 darkmode (#388)
  packages/ag-charts-website/src/components/alert/Alert.module.scss
  packages/ag-charts-website/src/components/footer/Footer.module.scss
  packages/ag-charts-website/src/components/framework-selector/FrameworkSelector.module.scss
  packages/ag-charts-website/src/components/icon/Icon.tsx
  packages/ag-charts-website/src/components/site-header/DarkModeToggle.jsx
  packages/ag-charts-website/src/components/site-header/DarkModeToggle.module.scss
  packages/ag-charts-website/src/components/site-header/HeaderNav.tsx
  packages/ag-charts-website/src/components/site-header/SiteHeader.module.scss
  packages/ag-charts-website/src/components/top-bar/TopBar.module.scss
  packages/ag-charts-website/src/design-system/_base.scss
  packages/ag-charts-website/src/design-system/_color.scss
  packages/ag-charts-website/src/design-system/_interactions.scss
  packages/ag-charts-website/src/design-system/_root.scss
  packages/ag-charts-website/src/design-system/components/_code.scss
  packages/ag-charts-website/src/design-system/components/_containers.scss
  packages/ag-charts-website/src/design-system/core/_variables.scss
  packages/ag-charts-website/src/design-system/elements/_block.scss
  packages/ag-charts-website/src/design-system/elements/_button.scss
  packages/ag-charts-website/src/design-system/elements/_form-elements.scss
  packages/ag-charts-website/src/design-system/elements/_inline.scss
  packages/ag-charts-website/src/design-system/elements/_table.scss
  packages/ag-charts-website/src/features/api-documentation/components/ApiDocumentation.module.scss
  packages/ag-charts-website/src/features/api-documentation/components/JsObjectProperties.module.scss
  packages/ag-charts-website/src/features/api-documentation/components/JsObjectView.module.scss
  packages/ag-charts-website/src/features/api-explorer/components/Options.module.scss
  packages/ag-charts-website/src/features/example-runner/components/CodeViewer.module.scss
  packages/ag-charts-website/src/features/gallery/components/GalleryExampleLink.module.scss
  packages/ag-charts-website/src/features/gallery/components/GalleryExampleLink.tsx
  packages/ag-charts-website/src/layouts/Layout.astro
  packages/ag-charts-website/src/pages/gallery.astro
  packages/ag-charts-website/src/stores/darkmodeStore.ts
Owners: @markdurrant, @ag-grid/ag-charts-team, @taktran

AG-9206 - Extract options reference nav highlight as a component
  packages/ag-charts-website/src/features/api-documentation/components/Highlight.module.scss
  packages/ag-charts-website/src/features/api-documentation/components/Highlight.tsx
  packages/ag-charts-website/src/features/api-documentation/components/JsObjectView.tsx
Owners: @markdurrant, @ag-grid/ag-charts-team

Revert "AG-6686 - Extend bubble series sizeKey domain across all bubble series in chart"
  packages/ag-charts-community/src/chart/data/dataModel.ts
  packages/ag-charts-community/src/chart/data/processors.ts
  packages/ag-charts-community/src/chart/data/utilFunctions.ts
  packages/ag-charts-community/src/chart/series/cartesian/bubbleSeries.ts
Owners: @alantreadway

AG-9632 - Update API options highlight style options
  packages/ag-charts-website/src/features/api-documentation/components/Highlight.module.scss
  packages/ag-charts-website/src/features/api-documentation/components/JsObjectView.module.scss
  packages/ag-charts-website/src/features/api-documentation/components/JsObjectView.tsx
Owners: @markdurrant, @ag-grid/ag-charts-team

AG-9632 - Update API options bottom margin to prevent scrolling issues
  packages/ag-charts-website/src/features/api-documentation/components/JsObjectProperties.module.scss
  packages/ag-charts-website/src/features/api-documentation/components/JsObjectView.module.scss
Owners: @markdurrant

Make sure API options and Options reference are consistent
  packages/ag-charts-website/src/components/site-header/SiteLogo.tsx
  packages/ag-charts-website/src/components/style-guide/utils.ts
  packages/ag-charts-website/src/components/tabs/Tabs.tsx
  packages/ag-charts-website/src/features/api-documentation/components/JsObjectPropertiesView.tsx
  packages/ag-charts-website/src/features/api-documentation/components/JsObjectPropertyView.tsx
  packages/ag-charts-website/src/features/api-documentation/components/Property.tsx
  packages/ag-charts-website/src/features/api-documentation/components/SearchBox.tsx
  packages/ag-charts-website/src/features/api-documentation/components/ToggleDetails.tsx
  packages/ag-charts-website/src/features/api-documentation/types.d.ts
  packages/ag-charts-website/src/features/api-documentation/utils/documentationHelpers.ts
  packages/ag-charts-website/src/features/api-documentation/utils/dom.ts
  packages/ag-charts-website/src/features/api-documentation/utils/extractCodeSample.ts
  packages/ag-charts-website/src/features/api-documentation/utils/getPropertyType.ts
  packages/ag-charts-website/src/features/api-documentation/utils/html.ts
  packages/ag-charts-website/src/features/api-explorer/components/Editors.tsx
  packages/ag-charts-website/src/features/api-explorer/components/Options.tsx
  packages/ag-charts-website/src/features/api-explorer/utils/utils.ts
  packages/ag-charts-website/src/features/example-runner/framework-templates/lib/SystemJs.jsx
  packages/ag-charts-website/src/pages/gallery.astro
  packages/ag-charts-website/src/pages/options.astro
  packages/ag-charts-website/src/utils/doOnEnter.ts
  packages/ag-charts-website/src/utils/hooks/useToggle.ts
  packages/ag-charts-website/src/utils/smoothScrollIntoView.ts
Owners: @ag-grid/ag-charts-team, @taktran

AG-9542 - Use legend item marker strokeWidth config and limit strokeWidth to maximum 2 pixels if setting via series marker config
  packages/ag-charts-community/src/chart/legend.ts
  packages/ag-charts-community/src/chart/themes/chartTheme.ts
Owners: @alantreadway

AG-9542 - Update snapshots
  packages/ag-charts-community/src/chart/mapping/__snapshots__/prepare.test.ts.snap
Owners: @alantreadway

Fix issues
  packages/ag-charts-website/src/features/api-documentation/components/JsObjectPropertyView.tsx
  packages/ag-charts-website/src/features/api-documentation/components/Property.tsx
  packages/ag-charts-website/src/features/api-documentation/utils/documentationHelpers.ts
  packages/ag-charts-website/src/pages/options.astro
Owners: @ag-grid/ag-charts-team, @taktran

Fix issues
  packages/ag-charts-website/src/features/api-documentation/components/JsObjectView.tsx
  packages/ag-charts-website/src/features/api-documentation/components/SearchBox.tsx
Owners: @ag-grid/ag-charts-team

AG-9272 Implement ErrorBars mouse hover hit testing
  packages/ag-charts-enterprise/src/features/error-bar/errorBar.ts
  packages/ag-charts-enterprise/src/features/error-bar/errorBarNode.ts
Owners: @alantreadway

AG-9272 Show tooltip when mouse hovers on errorbars
  packages/ag-charts-community/src/chart/chart.ts
  packages/ag-charts-community/src/chart/interaction/tooltipManager.ts
  packages/ag-charts-enterprise/src/features/error-bar/errorBar.ts
Owners: @alantreadway

AG-8238 Refactor how errorBar.ts uses datums
  packages/ag-charts-community/src/chart/series/cartesian/cartesianSeries.ts
  packages/ag-charts-enterprise/src/features/error-bar/errorBar.ts
  packages/ag-charts-enterprise/src/features/error-bar/errorBarNode.ts
Owners: @alantreadway

AG-9272 Don't render tooltip over error bar
  packages/ag-charts-community/src/chart/chart.ts
Owners: @alantreadway

AG-9272 Move datum types to seriesTypes.ts
  packages/ag-charts-community/src/chart/chart.ts
  packages/ag-charts-community/src/chart/interaction/tooltipManager.ts
  packages/ag-charts-community/src/chart/series/cartesian/areaSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/barSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/cartesianSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/lineSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/scatterSeries.ts
  packages/ag-charts-community/src/chart/series/dataModelSeries.ts
  packages/ag-charts-community/src/chart/series/hierarchy/hierarchySeries.ts
  packages/ag-charts-community/src/chart/series/polar/pieSeries.ts
  packages/ag-charts-community/src/chart/series/polar/polarSeries.ts
  packages/ag-charts-community/src/chart/series/series.ts
  packages/ag-charts-community/src/chart/series/seriesTypes.ts
  packages/ag-charts-community/src/module-support.ts
Owners: @alantreadway

AG-9272 Short-circuit errorBarNode hit testing
  packages/ag-charts-enterprise/src/features/error-bar/errorBarNode.ts
Owners: @alantreadway

AG-9272 Implement tooltip.range=number on error bars
  packages/ag-charts-community/src/chart/interaction/tooltipManager.ts
  packages/ag-charts-enterprise/src/features/error-bar/errorBar.ts
  packages/ag-charts-enterprise/src/features/error-bar/errorBarNode.ts
Owners: @alantreadway

AG-9015 Use marker.strokeWidth when calculating capDefaults.lengthRatioMultiplier
  packages/ag-charts-community/src/chart/series/cartesian/lineSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/scatterSeries.ts
  packages/ag-charts-community/src/chart/series/seriesMarker.ts
  packages/ag-charts-enterprise/src/features/error-bar/__image_snapshots__/error-bar-test-ts-error-bars-should-default-to-marker-size-for-cap-length-on-scatter-series-1-snap.png
  packages/ag-charts-enterprise/src/features/error-bar/__image_snapshots__/error-bar-test-ts-error-bars-should-render-both-errorbars-on-scatter-series-as-expected-1-snap.png
  packages/ag-charts-enterprise/src/features/error-bar/__image_snapshots__/error-bar-test-ts-error-bars-should-use-marker-stroke-width-for-cap-length-ratio-1-snap.png
  packages/ag-charts-enterprise/src/features/error-bar/errorBar.test.ts
Owners: @alantreadway

AG-8524 Remove duplicate zoom AnchorPoint type def
  packages/ag-charts-enterprise/src/features/zoom/zoom.ts
  packages/ag-charts-enterprise/src/features/zoom/zoomAxisDragger.ts
  packages/ag-charts-enterprise/src/features/zoom/zoomScroller.ts
  packages/ag-charts-enterprise/src/features/zoom/zoomTransformers.ts
  packages/ag-charts-enterprise/src/features/zoom/zoomTypes.ts
Owners: @alantreadway

AG-8524 Fix zoom scroll speed to keep relative speed at all zoom levels
  packages/ag-charts-enterprise/src/features/zoom/zoomScroller.ts
Owners: @alantreadway

TEMP
  packages/ag-charts-community/src/chart/cartesianChart.ts
  packages/ag-charts-community/src/chart/chart.ts
  packages/ag-charts-community/src/chart/interaction/animationManager.ts
  packages/ag-charts-community/src/chart/interaction/highlightManager.ts
  packages/ag-charts-community/src/chart/layout/layoutService.ts
  packages/ag-charts-community/src/chart/series/cartesian/bubbleSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/cartesianSeries.ts
  packages/ag-charts-community/src/options/chart/zoomOptions.ts
  packages/ag-charts-enterprise/src/features/animation/animationModule.ts
  packages/ag-charts-enterprise/src/features/zoom/zoom.ts
  packages/ag-charts-enterprise/src/features/zoom/zoomScroller.ts
  packages/ag-charts-enterprise/src/features/zoom/zoomSelector.ts
  packages/ag-charts-enterprise/src/features/zoom/zoomTransformers.ts
  packages/ag-charts-website/src/content/docs/zoom/_examples/zoom-min-visible-items/data.ts
  packages/ag-charts-website/src/content/docs/zoom/_examples/zoom-min-visible-items/index.html
  packages/ag-charts-website/src/content/docs/zoom/_examples/zoom-min-visible-items/main.ts
  packages/ag-charts-website/src/content/docs/zoom/index.mdoc
  packages/ag-charts-website/src/content/gallery/_examples/simple-bar/main.ts
Owners: @alantreadway, @ag-grid/ag-charts-team, @rmc-software

AG-8564 CrossLine layout pre-calculation
  packages/ag-charts-community/src/chart/axis/axis.ts
  packages/ag-charts-community/src/chart/crossline/cartesianCrossLine.ts
  packages/ag-charts-community/src/chart/crossline/crossLine.ts
  packages/ag-charts-community/tools/dev-server/index.js
Owners: @alantreadway

AG-8564 Group Category Axis layout calculation
  packages/ag-charts-community/src/chart/axis/groupedCategoryAxis.ts
Owners: @alantreadway

AG-8564 Use transformed b-boxes for axis layout
  packages/ag-charts-community/src/chart/axis/axis.ts
Owners: @alantreadway

AG-8564 Calculate Axis layout before rendering
  packages/ag-charts-community/src/chart/axis/axis.ts
  packages/ag-charts-community/src/chart/axis/cartesianAxis.ts
  packages/ag-charts-community/src/chart/cartesianChart.ts
  packages/ag-charts-community/src/chart/chartAxis.ts
Owners: @alantreadway

AG-8564 Fix formatting
  packages/ag-charts-community/src/chart/axis/axis.ts
Owners: @alantreadway

AG-8564 Fix secondary axis scale
  packages/ag-charts-community/src/chart/axis/axis.ts
  packages/ag-charts-community/src/chart/axis/groupedCategoryAxis.ts
Owners: @alantreadway

AG-8564 Refactor Axis layout calculation
  packages/ag-charts-community/src/chart/axis/axis.ts
  packages/ag-charts-community/src/chart/axis/groupedCategoryAxis.ts
  packages/ag-charts-community/src/chart/crossline/cartesianCrossLine.ts
Owners: @alantreadway

AG-8564 Fix tick line positions
  packages/ag-charts-community/src/chart/axis/axis.ts
Owners: @alantreadway

AG-8564 Fix axis title layout
  packages/ag-charts-community/src/chart/axis/axis.ts
Owners: @alantreadway

AG-8564 Fix build
  packages/ag-charts-enterprise/src/axes/angle/angleAxis.ts
  packages/ag-charts-enterprise/src/axes/polar-crosslines/polarCrossLine.ts
  packages/ag-charts-enterprise/src/axes/radius/radiusAxis.ts
Owners: @alantreadway

AG-9571 - Gallery line series example with lots of data
  packages/ag-charts-website/src/content/gallery/_examples/multiple-line-series-large-data/data.ts
  packages/ag-charts-website/src/content/gallery/_examples/multiple-line-series-large-data/index.html
  packages/ag-charts-website/src/content/gallery/_examples/multiple-line-series-large-data/main.ts
  packages/ag-charts-website/src/content/gallery/data.json
Owners: @ag-grid/ag-charts-team

AG-9571 - Make All gallery examples enterprise
  packages/ag-charts-website/src/content/gallery/_examples/grouped-stack-bar/main.ts
  packages/ag-charts-website/src/content/gallery/_examples/grouped-stack-column/main.ts
  packages/ag-charts-website/src/content/gallery/_examples/line-legend-pagination/main.ts
  packages/ag-charts-website/src/content/gallery/_examples/multiple-line-series-large-data/main.ts
Owners: @ag-grid/ag-charts-team

AG-8636 Add min visible items options to zoom
  packages/ag-charts-community/src/chart/cartesianChart.ts
  packages/ag-charts-community/src/chart/layout/layoutService.ts
  packages/ag-charts-community/src/chart/series/cartesian/cartesianSeries.ts
  packages/ag-charts-community/src/options/chart/zoomOptions.ts
  packages/ag-charts-enterprise/src/features/zoom/__image_snapshots__/zoom-test-ts-zoom-scrolling-should-zoom-in-then-out-1-snap.png
  packages/ag-charts-enterprise/src/features/zoom/zoom.test.ts
  packages/ag-charts-enterprise/src/features/zoom/zoom.ts
  packages/ag-charts-enterprise/src/features/zoom/zoomSelector.ts
  packages/ag-charts-enterprise/src/features/zoom/zoomTransformers.ts
  packages/ag-charts-website/src/content/docs/zoom/_examples/zoom-min-visible-items/data.ts
  packages/ag-charts-website/src/content/docs/zoom/_examples/zoom-min-visible-items/index.html
  packages/ag-charts-website/src/content/docs/zoom/_examples/zoom-min-visible-items/main.ts
  packages/ag-charts-website/src/content/docs/zoom/index.mdoc
Owners: @alantreadway, @ag-grid/ag-charts-team, @rmc-software

AG-8524 Clean up zoom
  packages/ag-charts-community/src/chart/cartesianChart.ts
Owners: @alantreadway

AG-8681 - Update Material theme light & dark colours, add gray colour for Polychroma theme waterfall series
  packages/ag-charts-community/src/chart/themes/materialDark.ts
  packages/ag-charts-community/src/chart/themes/materialLight.ts
  packages/ag-charts-community/src/chart/themes/polychromaDark.ts
  packages/ag-charts-community/src/chart/themes/polychromaLight.ts
  packages/ag-charts-website/src/content/docs/themes/_examples/stock-themes/index.html
Owners: @alantreadway, @ag-grid/ag-charts-team

AG-9022 a11y: Change error bar docs customisation style
  packages/ag-charts-website/src/content/docs/error-bars/_examples/customisation/main.ts
  packages/ag-charts-website/src/content/docs/error-bars/index.mdoc
Owners: @ag-grid/ag-charts-team, @rmc-software

.github/CODEOWNERS:

# NOTE: Order of entries matters - later entries have higher precedence.

# Attribute code-owners so default reviewers are assigned to PRs.
* @ag-grid/ag-charts-team

# Astro + website changes to be reviewed by website team.
*.scss @markdurrant
*.astro @taktran
/packages/ag-charts-website/astro/** @taktran
/packages/ag-charts-website/components/** @taktran
/packages/ag-charts-website/features/** @taktran
/packages/ag-charts-website/layouts/** @taktran
/packages/ag-charts-website/stores/** @taktran
/packages/ag-charts-website/utils/** @taktran

# Docs updates to be reviewed by Eng VP.
/packages/ag-charts-website/content/** @alantreadway @rmc-software
*.mdoc @rmc-software

# Charts library code to be reviewed by Chart TL.
/packages/ag-charts-community/** @alantreadway
/packages/ag-charts-enterprise/** @alantreadway

# Sensitive build/repo files to be reviewed by Chart TL.
**/package.json @alantreadway
nx.json @alantreadway
**/project.json @alantreadway
**/tsconfig.json @alantreadway
**/tsconfig.*.json @alantreadway
