Repository ag-grid/ag-charts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ag-grid/ag-charts-team, @markdurrant, @taktran, @alantreadway, @rmc-software

AG-12345 - Rename rangeToolbar option to rangeButtons.
  packages/ag-charts-community/src/api/preset/priceVolumePreset.ts
  packages/ag-charts-types/src/api/presetOptions.ts
  packages/ag-charts-website/src/content/docs/financial-charts-configuration/_examples/chart-features/index.html
  packages/ag-charts-website/src/content/docs/financial-charts-configuration/_examples/chart-features/main.ts
  packages/ag-charts-website/src/content/docs/financial-charts-configuration/index.mdoc
Owners: @alantreadway, @ag-grid/ag-charts-team, @rmc-software

AG-12346 - Rename xKey option to dateKey.
  packages/ag-charts-community/src/api/preset/priceVolumePreset.ts
  packages/ag-charts-types/src/api/presetOptions.ts
  packages/ag-charts-website/src/content/docs/financial-charts-configuration/index.mdoc
Owners: @alantreadway, @ag-grid/ag-charts-team, @rmc-software

AG-12436 - Rename annotation option to toolbar.
  packages/ag-charts-community/src/api/preset/priceVolumePreset.ts
  packages/ag-charts-types/src/api/presetOptions.ts
  packages/ag-charts-website/src/content/docs/financial-charts-configuration/_examples/chart-features/index.html
  packages/ag-charts-website/src/content/docs/financial-charts-configuration/_examples/chart-features/main.ts
  packages/ag-charts-website/src/content/docs/financial-charts-configuration/index.mdoc
  packages/ag-charts-website/src/content/docs/financial-charts-toolbar/_examples/text-annotations/main.ts
Owners: @alantreadway, @ag-grid/ag-charts-team, @rmc-software

AG-12436 - Rename annotation option to toolbar.
  packages/ag-charts-community/src/api/preset/priceVolumePreset.ts
Owners: @alantreadway

Fix update-e2e-snapshots.yml checkout for PRs.
  .github/workflows/update-e2e-snapshots.yml
Owners: @ag-grid/ag-charts-team

AG-12126 Fix annotations popover not closing
  packages/ag-charts-enterprise/src/features/annotations/annotations.ts
Owners: @alantreadway

Fix update-e2e-snapshots.yml checkout for PRs.
  .github/workflows/update-e2e-snapshots.yml
Owners: @ag-grid/ag-charts-team

AG-12162 Fix textual point scenes updating after activating on create
  packages/ag-charts-enterprise/src/features/annotations/states/textualPointState.ts
Owners: @alantreadway

AG-12443 Add popover for line annotations
  packages/ag-charts-community/src/chart/toolbar/toolbarModule.ts
  packages/ag-charts-enterprise/src/features/annotations/annotations.ts
  packages/ag-charts-types/src/chart/toolbarOptions.ts
Owners: @alantreadway, @ag-grid/ag-charts-team

snapshots
  packages/ag-charts-community/src/module/__snapshots__/optionsModule.test.ts.snap
Owners: @alantreadway

AG-12162 Cleanup
  packages/ag-charts-community/src/scene/shape/svgPath.ts
  packages/ag-charts-locale/src/en-US.ts
Owners: @alantreadway, @ag-grid/ag-charts-team

AG-12388 Area series animation fixes
  packages/ag-charts-community/src/chart/series/cartesian/lineInterpolationUtil.ts
Owners: @alantreadway

Update e2e snapshots.
  packages/ag-charts-website/e2e/zoom.spec.ts-snapshots/after-navigator-drag-x-axis-chromium-darwin.png
  packages/ag-charts-website/e2e/zoom.spec.ts-snapshots/after-navigator-drag-y-axis-chromium-darwin.png
  packages/ag-charts-website/e2e/zoom.spec.ts-snapshots/before-navigator-drag-y-axis-chromium-darwin.png
  packages/ag-charts-website/e2e/zoom.spec.ts-snapshots/with-navigator-drag-x-axis-chromium-darwin.png
  packages/ag-charts-website/e2e/zoom.spec.ts-snapshots/with-navigator-drag-y-axis-chromium-darwin.png
Owners: @ag-grid/ag-charts-team

Fix nil checking
  packages/ag-charts-community/src/chart/series/cartesian/lineUtil.ts
Owners: @alantreadway

AG-11640: Dynamically resolve Omit when used with generics
  packages/ag-charts-website/src/features/api-documentation/apiReferenceHelpers.ts
  packages/ag-charts-website/src/features/api-documentation/components/ApiReference.tsx
  packages/ag-charts-website/src/features/api-documentation/components/OptionsNavigation.tsx
  plugins/ag-charts-generate-code-reference-files/src/doc-interfaces/types.ts
Owners: @ag-grid/ag-charts-team

AG-12169 - Change financial charts hlc styles
  packages/ag-charts-community/src/api/preset/priceVolumePreset.ts
  packages/ag-charts-community/src/chart/themes/chartTheme.ts
  packages/ag-charts-community/src/chart/themes/darkTheme.ts
  packages/ag-charts-community/src/chart/themes/defaultColors.ts
  packages/ag-charts-community/src/chart/themes/financialDark.ts
  packages/ag-charts-community/src/chart/themes/financialLight.ts
  packages/ag-charts-community/src/chart/themes/materialDark.ts
  packages/ag-charts-community/src/chart/themes/materialLight.ts
  packages/ag-charts-community/src/chart/themes/polychromaDark.ts
  packages/ag-charts-community/src/chart/themes/polychromaLight.ts
  packages/ag-charts-community/src/chart/themes/sheetsDark.ts
  packages/ag-charts-community/src/chart/themes/sheetsLight.ts
  packages/ag-charts-community/src/chart/themes/symbols.ts
  packages/ag-charts-community/src/chart/themes/vividDark.ts
  packages/ag-charts-community/src/chart/themes/vividLight.ts
Owners: @alantreadway

e2e
  packages/ag-charts-enterprise/src/features/popover/popover.ts
  packages/ag-charts-website/e2e/toolbar.spec.ts
Owners: @alantreadway, @ag-grid/ag-charts-team

AG-12009: FC axis labels clipped when range toolbar hidden
  packages/ag-charts-community/src/chart/cartesianChart.ts
  packages/ag-charts-community/src/chart/themes/financialDark.ts
  packages/ag-charts-community/src/chart/themes/financialLight.ts
Owners: @alantreadway

AG-12009: FC axis labels clipped when range toolbar hidden
  packages/ag-charts-community/src/api/preset/priceVolumePreset.ts
  packages/ag-charts-community/src/chart/themes/financialDark.ts
  packages/ag-charts-community/src/chart/themes/financialLight.ts
Owners: @alantreadway

update snapshot
  packages/ag-charts-enterprise/src/preset/__image_snapshots__/price-volume-preset-test-ts-price-volume-preset-create-financial-chart-for-minimal-it-should-render-to-canvas-as-expected-1-snap.png
Owners: @alantreadway

update snapshots
  packages/ag-charts-website/e2e/financial-charts-showcase.spec.ts-snapshots/zoom-and-hover-on-out-of-y-range-prices-chromium-darwin.png
  packages/ag-charts-website/e2e/toolbar.spec.ts-snapshots/line-annotation-1-button-active-chromium-darwin.png
  packages/ag-charts-website/e2e/toolbar.spec.ts-snapshots/line-annotation-2-drawing-chromium-darwin.png
  packages/ag-charts-website/e2e/toolbar.spec.ts-snapshots/line-annotation-3-complete-chromium-darwin.png
  packages/ag-charts-website/e2e/zoom.spec.ts-snapshots/after-navigator-drag-x-axis-chromium-darwin.png
  packages/ag-charts-website/e2e/zoom.spec.ts-snapshots/after-navigator-drag-y-axis-chromium-darwin.png
  packages/ag-charts-website/e2e/zoom.spec.ts-snapshots/before-navigator-drag-y-axis-chromium-darwin.png
  packages/ag-charts-website/e2e/zoom.spec.ts-snapshots/with-navigator-drag-x-axis-chromium-darwin.png
  packages/ag-charts-website/e2e/zoom.spec.ts-snapshots/with-navigator-drag-y-axis-chromium-darwin.png
Owners: @ag-grid/ag-charts-team

AG-12381 Fix pressing esc key in textual annotations
  packages/ag-charts-enterprise/src/features/annotations/annotationsStateMachine.ts
  packages/ag-charts-enterprise/src/features/annotations/note/noteScene.ts
Owners: @alantreadway

Disable e2e tests temporarily.
  .github/workflows/ci.yml
Owners: @ag-grid/ag-charts-team

AG-12330 Text size picker styling
  packages/ag-charts-enterprise/src/features/annotations/annotations.css
  packages/ag-charts-enterprise/src/features/annotations/annotations.ts
  packages/ag-charts-enterprise/src/features/annotations/toolbar.css
  packages/ag-charts-enterprise/src/features/popover/popover.css
  packages/ag-charts-enterprise/src/features/popover/popover.ts
  packages/ag-charts-enterprise/src/styles.css
  packages/ag-charts-locale/src/en-US.ts
Owners: @alantreadway, @ag-grid/ag-charts-team

AG-12169 - Rename symbol
  packages/ag-charts-community/src/api/preset/priceVolumePreset.ts
  packages/ag-charts-community/src/chart/themes/chartTheme.ts
  packages/ag-charts-community/src/chart/themes/symbols.ts
Owners: @alantreadway

AG-12129 - Tweak ag-sheets up/down palette colours.
  packages/ag-charts-community/src/chart/themes/sheetsDark.ts
  packages/ag-charts-community/src/chart/themes/sheetsLight.ts
Owners: @alantreadway

AG-12129 - Fix build break.
  packages/ag-charts-community/src/chart/themes/sheetsDark.ts
  packages/ag-charts-community/src/chart/themes/sheetsLight.ts
Owners: @alantreadway

Refactor general cleanup of text annotations
  packages/ag-charts-enterprise/src/features/annotations/annotations.ts
  packages/ag-charts-enterprise/src/features/annotations/annotationsStateMachine.ts
  packages/ag-charts-enterprise/src/features/annotations/note/noteScene.ts
  packages/ag-charts-enterprise/src/features/annotations/scenes/textualPointScene.ts
  packages/ag-charts-enterprise/src/features/annotations/states/textualPointState.ts
  packages/ag-charts-enterprise/src/features/annotations/states/textualStartEndState.ts
Owners: @alantreadway

AG-12383 Fix text canvas wrapping after overflow chart area
  packages/ag-charts-enterprise/src/features/annotations/scenes/textualPointScene.ts
Owners: @alantreadway

AG-12383 Fix text canvas wrapping after overflow chart area
  packages/ag-charts-enterprise/src/features/annotations/scenes/textualPointScene.ts
Owners: @alantreadway

FC docs update
  packages/ag-charts-website/src/content/docs/financial-charts-configuration/index.mdoc
  packages/ag-charts-website/src/content/docs/financial-charts-toolbar/_examples/text-annotations/main.ts
  packages/ag-charts-website/src/content/docs/financial-charts-toolbar/index.mdoc
  packages/ag-charts-website/src/content/docs/range-buttons/index.mdoc
  packages/ag-charts-website/src/content/docs/upgrade-to-ag-charts-10-1/index.mdoc
  packages/ag-charts-website/src/content/versions/ag-charts-versions.json
Owners: @rmc-software, @ag-grid/ag-charts-team

Add temporary ts-expect-error
  packages/ag-charts-website/src/content/docs/financial-charts-toolbar/_examples/text-annotations/main.ts
Owners: @ag-grid/ag-charts-team

AG-12301 - Fix highlight lag on annotation drag.
  packages/ag-charts-community/src/chart/series/seriesAreaHighlightManager.ts
Owners: @alantreadway

Annotations toolbar fixes
  packages/ag-charts-enterprise/src/features/annotations/annotations.ts
  packages/ag-charts-locale/src/en-US.ts
Owners: @alantreadway, @ag-grid/ag-charts-team

Update e2e snapshots.
  packages/ag-charts-website/e2e/financial-charts-showcase.spec.ts-snapshots/zoom-and-hover-on-out-of-y-range-prices-chromium-darwin.png
  packages/ag-charts-website/e2e/toolbar.spec.ts-snapshots/line-annotation-1-button-active-chromium-darwin.png
  packages/ag-charts-website/e2e/toolbar.spec.ts-snapshots/line-annotation-2-drawing-chromium-darwin.png
  packages/ag-charts-website/e2e/toolbar.spec.ts-snapshots/line-annotation-3-complete-chromium-darwin.png
  packages/ag-charts-website/e2e/zoom.spec.ts-snapshots/after-navigator-drag-x-axis-chromium-darwin.png
  packages/ag-charts-website/e2e/zoom.spec.ts-snapshots/after-navigator-drag-y-axis-chromium-darwin.png
  packages/ag-charts-website/e2e/zoom.spec.ts-snapshots/before-navigator-drag-y-axis-chromium-darwin.png
  packages/ag-charts-website/e2e/zoom.spec.ts-snapshots/with-navigator-drag-x-axis-chromium-darwin.png
  packages/ag-charts-website/e2e/zoom.spec.ts-snapshots/with-navigator-drag-y-axis-chromium-darwin.png
Owners: @ag-grid/ag-charts-team

AG-12448 Toolbar updates
  packages/ag-charts-community/src/chart/toolbar/toolbarModule.ts
  packages/ag-charts-community/src/module/__snapshots__/optionsModule.test.ts.snap
  packages/ag-charts-locale/src/en-US.ts
Owners: @alantreadway, @ag-grid/ag-charts-team

Prevent TextWrapper from removing empty lines
  packages/ag-charts-community/src/util/textWrapper.ts
Owners: @alantreadway

Do not avoid text wrap orphans on UGC
  packages/ag-charts-enterprise/src/features/annotations/note/noteScene.ts
  packages/ag-charts-enterprise/src/features/annotations/scenes/textualPointScene.ts
Owners: @alantreadway

cleanup
  packages/ag-charts-enterprise/src/features/annotations/annotationsConfig.ts
  packages/ag-charts-enterprise/src/features/text-input/textInput.ts
Owners: @alantreadway

cleanup
  packages/ag-charts-enterprise/src/features/annotations/note/noteScene.ts
Owners: @alantreadway

.github/CODEOWNERS:

# NOTE: Order of entries matters - later entries have higher precedence.

# Attribute code-owners so default reviewers are assigned to PRs.
* @ag-grid/ag-charts-team

# Astro + website changes to be reviewed by website team.
*.scss @markdurrant
*.astro @taktran
/packages/ag-charts-website/astro/** @taktran
/packages/ag-charts-website/components/** @taktran
/packages/ag-charts-website/features/** @taktran
/packages/ag-charts-website/layouts/** @taktran
/packages/ag-charts-website/stores/** @taktran
/packages/ag-charts-website/utils/** @taktran

# Docs updates to be reviewed by Eng VP.
/packages/ag-charts-website/content/** @alantreadway @rmc-software
*.mdoc @rmc-software

# Charts library code to be reviewed by Chart TL.
/packages/ag-charts-community/** @alantreadway
/packages/ag-charts-enterprise/** @alantreadway

# Sensitive build/repo files to be reviewed by Chart TL.
**/package.json @alantreadway
nx.json @alantreadway
**/project.json @alantreadway
**/tsconfig.json @alantreadway
**/tsconfig.*.json @alantreadway
