Repository ag-grid/ag-charts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ag-grid/ag-charts-team, @markdurrant, @taktran, @alantreadway, @rmc-software

.github/CODEOWNERS:

# NOTE: Order of entries matters - later entries have higher precedence.

# Attribute code-owners so default reviewers are assigned to PRs.
* @ag-grid/ag-charts-team

# Astro + website changes to be reviewed by website team.
*.scss @markdurrant
*.astro @taktran
/packages/ag-charts-website/astro/** @taktran
/packages/ag-charts-website/components/** @taktran
/packages/ag-charts-website/features/** @taktran
/packages/ag-charts-website/layouts/** @taktran
/packages/ag-charts-website/stores/** @taktran
/packages/ag-charts-website/utils/** @taktran

# Docs updates to be reviewed by Eng VP.
/packages/ag-charts-website/content/** @alantreadway @rmc-software
*.mdoc @rmc-software

# Charts library code to be reviewed by Chart TL.
/packages/ag-charts-community/** @alantreadway
/packages/ag-charts-enterprise/** @alantreadway

# Sensitive build/repo files to be reviewed by Chart TL.
**/package.json @alantreadway
nx.json @alantreadway
**/project.json @alantreadway
**/tsconfig.json @alantreadway
**/tsconfig.*.json @alantreadway

AG-13035 - Re-add AgCharts to /module entry point.
  packages/ag-charts-community/src/main-modules.ts
  packages/ag-charts-enterprise/src/main-modules.ts
Owners: @alantreadway

Automated package version bump to 10.2.0-beta.20241008.1216.
  .env
  libraries/ag-charts-test/package.json
  package.json
  packages/ag-charts-angular/package.json
  packages/ag-charts-angular/projects/ag-charts-angular/package.json
  packages/ag-charts-community-examples/package.json
  packages/ag-charts-community/package.json
  packages/ag-charts-community/src/version.ts
  packages/ag-charts-enterprise/package.json
  packages/ag-charts-locale/package.json
  packages/ag-charts-react/package.json
  packages/ag-charts-types/package.json
  packages/ag-charts-vue3/package.json
  packages/ag-charts-website/.env.build
  packages/ag-charts-website/.env.build.archive
  packages/ag-charts-website/.env.build.production
  packages/ag-charts-website/.env.build.staging
  packages/ag-charts-website/.env.dev
  packages/ag-charts-website/.env.preview
  packages/ag-charts-website/.env.preview.production
  packages/ag-charts-website/.env.preview.staging
  packages/ag-charts-website/.env.test:e2e
  packages/ag-charts-website/.env.test:e2e.docker
  packages/ag-charts-website/package.json
  plugins/ag-charts-generate-chart-thumbnail/package.json
  plugins/ag-charts-generate-code-reference-files/package.json
  plugins/ag-charts-generate-example-files/package.json
Owners: @ag-grid/ag-charts-team, @alantreadway

Cleanup minor issues on annotations
  packages/ag-charts-enterprise/src/features/annotations/arrow-down/arrowDownScene.ts
  packages/ag-charts-enterprise/src/features/annotations/arrow-up/arrowUpScene.ts
  packages/ag-charts-enterprise/src/features/annotations/callout/calloutScene.ts
  packages/ag-charts-enterprise/src/features/annotations/cross-line/crossLineScene.ts
  packages/ag-charts-enterprise/src/features/annotations/disjoint-channel/disjointChannelScene.ts
  packages/ag-charts-enterprise/src/features/annotations/line/lineScene.ts
  packages/ag-charts-enterprise/src/features/annotations/line/lineState.ts
  packages/ag-charts-enterprise/src/features/annotations/measurer/measurerState.ts
  packages/ag-charts-enterprise/src/features/annotations/note/noteScene.ts
  packages/ag-charts-enterprise/src/features/annotations/scenes/shapePointScene.ts
  packages/ag-charts-enterprise/src/features/annotations/text/textScene.ts
Owners: @alantreadway

Move Vec2 to _ModuleSupport
  packages/ag-charts-community/src/module-support.ts
  packages/ag-charts-community/src/sparklines-util.ts
  packages/ag-charts-enterprise/src/components/dialog/dialog.ts
  packages/ag-charts-enterprise/src/components/popover/anchoredPopover.ts
  packages/ag-charts-enterprise/src/components/popover/popover.ts
  packages/ag-charts-enterprise/src/features/annotations/annotations.ts
  packages/ag-charts-enterprise/src/features/annotations/annotationsStateMachine.ts
  packages/ag-charts-enterprise/src/features/annotations/annotationsSuperTypes.ts
  packages/ag-charts-enterprise/src/features/annotations/arrow-down/arrowDownScene.ts
  packages/ag-charts-enterprise/src/features/annotations/arrow-up/arrowUpScene.ts
  packages/ag-charts-enterprise/src/features/annotations/callout/calloutScene.ts
  packages/ag-charts-enterprise/src/features/annotations/comment/commentScene.ts
  packages/ag-charts-enterprise/src/features/annotations/cross-line/crossLineScene.ts
  packages/ag-charts-enterprise/src/features/annotations/disjoint-channel/disjointChannelScene.ts
  packages/ag-charts-enterprise/src/features/annotations/line/lineScene.ts
  packages/ag-charts-enterprise/src/features/annotations/measurer/measurerScene.ts
  packages/ag-charts-enterprise/src/features/annotations/measurer/measurerStatisticsScene.ts
  packages/ag-charts-enterprise/src/features/annotations/note/noteScene.ts
  packages/ag-charts-enterprise/src/features/annotations/parallel-channel/parallelChannelScene.ts
  packages/ag-charts-enterprise/src/features/annotations/scenes/capScene.ts
  packages/ag-charts-enterprise/src/features/annotations/scenes/channelScene.ts
  packages/ag-charts-enterprise/src/features/annotations/scenes/collidableLineScene.ts
  packages/ag-charts-enterprise/src/features/annotations/scenes/lineWithTextScene.ts
  packages/ag-charts-enterprise/src/features/annotations/scenes/linearScene.ts
  packages/ag-charts-enterprise/src/features/annotations/scenes/pointScene.ts
  packages/ag-charts-enterprise/src/features/annotations/scenes/shapePointScene.ts
  packages/ag-charts-enterprise/src/features/annotations/scenes/startEndScene.ts
  packages/ag-charts-enterprise/src/features/annotations/scenes/textualPointScene.ts
  packages/ag-charts-enterprise/src/features/annotations/scenes/textualStartEndScene.ts
  packages/ag-charts-enterprise/src/features/annotations/scenes/withBackgroundScene.ts
  packages/ag-charts-enterprise/src/features/annotations/states/dragState.ts
  packages/ag-charts-enterprise/src/features/annotations/text/textScene.ts
  packages/ag-charts-enterprise/src/features/annotations/text/util.ts
  packages/ag-charts-enterprise/src/features/annotations/utils/line.ts
  packages/ag-charts-enterprise/src/features/text-input/textInput.ts
Owners: @alantreadway

Replace LineCoords type with Vec4 in annotations
  packages/ag-charts-community/src/module-support.ts
  packages/ag-charts-community/src/util/vector.ts
  packages/ag-charts-community/src/util/vector4.ts
  packages/ag-charts-enterprise/src/features/annotations/annotationTypes.ts
  packages/ag-charts-enterprise/src/features/annotations/callout/calloutScene.ts
  packages/ag-charts-enterprise/src/features/annotations/cross-line/crossLineScene.ts
  packages/ag-charts-enterprise/src/features/annotations/disjoint-channel/disjointChannelScene.ts
  packages/ag-charts-enterprise/src/features/annotations/line/lineScene.ts
  packages/ag-charts-enterprise/src/features/annotations/measurer/measurerScene.ts
  packages/ag-charts-enterprise/src/features/annotations/parallel-channel/parallelChannelScene.ts
  packages/ag-charts-enterprise/src/features/annotations/scenes/channelScene.ts
  packages/ag-charts-enterprise/src/features/annotations/scenes/lineWithTextScene.ts
  packages/ag-charts-enterprise/src/features/annotations/scenes/linearScene.ts
  packages/ag-charts-enterprise/src/features/annotations/scenes/startEndScene.ts
  packages/ag-charts-enterprise/src/features/annotations/scenes/textualStartEndScene.ts
  packages/ag-charts-enterprise/src/features/annotations/scenes/withBackgroundScene.ts
  packages/ag-charts-enterprise/src/features/annotations/utils/line.ts
Owners: @alantreadway

Replace Coords type with Vec2 in annotations
  packages/ag-charts-enterprise/src/features/annotations/annotationTypes.ts
  packages/ag-charts-enterprise/src/features/annotations/annotations.ts
  packages/ag-charts-enterprise/src/features/annotations/annotationsStateMachine.ts
  packages/ag-charts-enterprise/src/features/annotations/annotationsSuperTypes.ts
  packages/ag-charts-enterprise/src/features/annotations/axisButton.ts
  packages/ag-charts-enterprise/src/features/annotations/callout/calloutScene.ts
  packages/ag-charts-enterprise/src/features/annotations/cross-line/crossLineScene.ts
  packages/ag-charts-enterprise/src/features/annotations/disjoint-channel/disjointChannelScene.ts
  packages/ag-charts-enterprise/src/features/annotations/parallel-channel/parallelChannelScene.ts
  packages/ag-charts-enterprise/src/features/annotations/scenes/channelScene.ts
  packages/ag-charts-enterprise/src/features/annotations/scenes/handle.ts
  packages/ag-charts-enterprise/src/features/annotations/scenes/linearScene.ts
  packages/ag-charts-enterprise/src/features/annotations/scenes/pointScene.ts
  packages/ag-charts-enterprise/src/features/annotations/scenes/startEndScene.ts
  packages/ag-charts-enterprise/src/features/annotations/utils/coords.ts
  packages/ag-charts-enterprise/src/features/annotations/utils/line.ts
  packages/ag-charts-enterprise/src/features/annotations/utils/values.ts
Owners: @alantreadway

AG-13087 Stop animation when focus is visible
  packages/ag-charts-community/src/chart/series/seriesAreaManager.ts
Owners: @alantreadway

AG-13063 Sparkline axes
  packages/ag-charts-community/src/api/preset/sparkline.ts
  packages/ag-charts-community/src/chart/series/cartesian/areaSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/barSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/barSeriesProperties.ts
  packages/ag-charts-community/src/chart/series/cartesian/bubbleSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/lineSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/scatterSeries.ts
  packages/ag-charts-community/src/chart/series/series.ts
  packages/ag-charts-enterprise/src/series/funnel/baseFunnelSeries.ts
  packages/ag-charts-enterprise/src/series/ohlc/ohlcSeriesBase.ts
  packages/ag-charts-enterprise/src/series/range-area/rangeArea.ts
  packages/ag-charts-enterprise/src/series/range-bar/rangeBarSeries.ts
  packages/ag-charts-types/src/chart/themeOptions.ts
  packages/ag-charts-types/src/chartBuilderOptions.ts
Owners: @alantreadway, @ag-grid/ag-charts-team

AG-3390 - Allow charts url to be on a different port on localhost
  packages/ag-charts-website/src/constants.ts
Owners: @ag-grid/ag-charts-team

Refactor to use Vec4 util fns
  packages/ag-charts-community/src/util/vector.ts
  packages/ag-charts-community/src/util/vector4.ts
  packages/ag-charts-enterprise/src/features/annotations/cross-line/crossLineScene.ts
  packages/ag-charts-enterprise/src/features/annotations/disjoint-channel/disjointChannelScene.ts
  packages/ag-charts-enterprise/src/features/annotations/line/lineScene.ts
  packages/ag-charts-enterprise/src/features/annotations/measurer/measurerScene.ts
  packages/ag-charts-enterprise/src/features/annotations/parallel-channel/parallelChannelScene.ts
  packages/ag-charts-enterprise/src/features/annotations/scenes/startEndScene.ts
  packages/ag-charts-enterprise/src/features/annotations/scenes/textualStartEndScene.ts
  packages/ag-charts-enterprise/src/features/annotations/scenes/withBackgroundScene.ts
  packages/ag-charts-enterprise/src/features/annotations/utils/line.ts
Owners: @alantreadway

cleanup
  packages/ag-charts-community/src/chart/legend.ts
  packages/ag-charts-community/src/scene/selection.ts
Owners: @alantreadway

AG-13078 - Fix bad merged.
  packages/ag-charts-community/src/chart/series/seriesAreaManager.ts
Owners: @alantreadway

Use same method to format values
  packages/ag-charts-community/src/chart/series/cartesian/areaSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/barSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/lineSeries.ts
  packages/ag-charts-community/src/module-support.ts
  packages/ag-charts-community/src/util/format.util.ts
  packages/ag-charts-enterprise/src/series/radar/radarSeries.ts
  packages/ag-charts-enterprise/src/series/radial-bar/radialBarSeries.ts
  packages/ag-charts-enterprise/src/series/radial-column/radialColumnSeriesBase.ts
  packages/ag-charts-enterprise/src/series/range-area/rangeArea.ts
  packages/ag-charts-enterprise/src/series/range-bar/rangeBarSeries.ts
  packages/ag-charts-enterprise/src/series/sunburst/sunburstSeries.ts
  packages/ag-charts-enterprise/src/series/treemap/treemapSeries.ts
  packages/ag-charts-enterprise/src/series/waterfall/waterfallSeries.ts
Owners: @alantreadway

Bar label placement
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/bar-series-test-ts-bar-series-label-placement-renders-label-placement-inside-end-direction-horizontal-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/bar-series-test-ts-bar-series-label-placement-renders-label-placement-inside-end-direction-vertical-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/bar-series-test-ts-bar-series-label-placement-renders-label-placement-inside-start-direction-horizontal-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/bar-series-test-ts-bar-series-label-placement-renders-label-placement-inside-start-direction-vertical-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/bar-series-test-ts-bar-series-label-placement-renders-label-placement-outside-end-direction-horizontal-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/bar-series-test-ts-bar-series-label-placement-renders-label-placement-outside-end-direction-vertical-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/bar-series-test-ts-bar-series-label-placement-renders-label-placement-outside-start-direction-horizontal-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/bar-series-test-ts-bar-series-label-placement-renders-label-placement-outside-start-direction-vertical-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/barSeries.test.ts
  packages/ag-charts-community/src/chart/series/cartesian/barSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/barSeriesProperties.ts
  packages/ag-charts-community/src/chart/series/cartesian/labelUtil.ts
  packages/ag-charts-types/src/series/cartesian/barOptions.ts
Owners: @alantreadway, @ag-grid/ag-charts-team

lint
  packages/ag-charts-types/src/chart/themeOptions.ts
  packages/ag-charts-types/src/chartBuilderOptions.ts
Owners: @ag-grid/ag-charts-team

AG-12943 Add warning when Sankey cannot be displayed
  packages/ag-charts-enterprise/src/series/chord/chordSeries.ts
  packages/ag-charts-enterprise/src/series/sankey/sankeySeries.ts
Owners: @alantreadway

pyramid is enterprise
  packages/ag-charts-website/src/content/docs-nav/docsNav.json
Owners: @ag-grid/ag-charts-team

Fix CI
  packages/ag-charts-community/src/chart/series/cartesian/areaSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/barSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/bubbleSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/lineSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/scatterSeries.ts
  packages/ag-charts-community/src/chart/series/series.ts
  packages/ag-charts-enterprise/src/series/funnel/baseFunnelSeries.ts
  packages/ag-charts-enterprise/src/series/ohlc/ohlcSeriesBase.ts
  packages/ag-charts-enterprise/src/series/range-area/rangeArea.ts
  packages/ag-charts-enterprise/src/series/range-bar/rangeBarSeries.ts
Owners: @alantreadway

Bar label placement
  packages/ag-charts-community/src/chart/series/cartesian/barSeries.test.ts
  packages/ag-charts-community/src/chart/series/cartesian/barSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/barSeriesProperties.ts
  packages/ag-charts-community/src/chart/series/cartesian/labelUtil.ts
  packages/ag-charts-types/src/series/cartesian/barOptions.ts
Owners: @alantreadway, @ag-grid/ag-charts-team

AG-13040 Clear unsnapped crosshairs on key press
  packages/ag-charts-enterprise/src/features/crosshair/crosshair.ts
Owners: @alantreadway

AG-13040 Update crosshair.test.ts snapshots
  packages/ag-charts-enterprise/src/features/crosshair/__image_snapshots__/crosshair-test-ts-crosshair-should-follow-mouse-pointer-on-series-hover-4-snap.png
  packages/ag-charts-enterprise/src/features/crosshair/__image_snapshots__/crosshair-test-ts-crosshair-should-follow-mouse-pointer-on-series-hover-5-snap.png
  packages/ag-charts-enterprise/src/features/crosshair/__image_snapshots__/crosshair-test-ts-crosshair-should-layout-correctly-with-series-area-padding-4-snap.png
  packages/ag-charts-enterprise/src/features/crosshair/__image_snapshots__/crosshair-test-ts-crosshair-should-layout-correctly-with-series-area-padding-5-snap.png
Owners: @alantreadway

snapshots
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/bar-series-test-ts-bar-series-label-placement-renders-label-placement-inside-end-direction-horizontal-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/bar-series-test-ts-bar-series-label-placement-renders-label-placement-inside-end-direction-vertical-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/bar-series-test-ts-bar-series-label-placement-renders-label-placement-inside-start-direction-horizontal-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/bar-series-test-ts-bar-series-label-placement-renders-label-placement-inside-start-direction-vertical-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/bar-series-test-ts-bar-series-label-placement-renders-label-placement-outside-end-direction-horizontal-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/bar-series-test-ts-bar-series-label-placement-renders-label-placement-outside-end-direction-vertical-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/bar-series-test-ts-bar-series-label-placement-renders-label-placement-outside-start-direction-horizontal-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/bar-series-test-ts-bar-series-label-placement-renders-label-placement-outside-start-direction-vertical-1-snap.png
Owners: @alantreadway

AG-13098 Fix e2e zoom-navigator test
  packages/ag-charts-community/src/dom/proxyInteractionStyles.css
Owners: @alantreadway

AG-13098 Use `opacity: 0` instead of appearance
  packages/ag-charts-community/src/dom/proxyInteractionStyles.css
Owners: @alantreadway

AG-13063 Add IS_ENTERPRISE theme variable
  packages/ag-charts-community/src/api/preset/sparkline.ts
  packages/ag-charts-community/src/chart/themes/chartTheme.ts
  packages/ag-charts-community/src/chart/themes/symbols.ts
Owners: @alantreadway

Normalise formatting
  packages/ag-charts-community/src/chart/navigator/navigator.ts
  packages/ag-charts-community/src/chart/series/polar/donutSeries.ts
  packages/ag-charts-community/src/chart/series/polar/pieSeries.ts
  packages/ag-charts-community/src/sparklines-util.ts
  packages/ag-charts-community/src/util/format.util.ts
  packages/ag-charts-community/src/util/number.ts
  packages/ag-charts-enterprise/src/series/radar/radarSeries.ts
  packages/ag-charts-enterprise/src/series/radial-column/radialColumnSeriesBase.ts
Owners: @alantreadway

fix + add tests
  packages/ag-charts-community/src/util/format.util.test.ts
  packages/ag-charts-community/src/util/number.test.ts
Owners: @alantreadway

AG-12095 Add quick measurer drawing
  packages/ag-charts-enterprise/src/features/annotations/annotationTypes.ts
  packages/ag-charts-enterprise/src/features/annotations/annotations.ts
  packages/ag-charts-enterprise/src/features/annotations/annotationsConfig.ts
  packages/ag-charts-enterprise/src/features/annotations/annotationsMenuOptions.ts
  packages/ag-charts-enterprise/src/features/annotations/annotationsModule.ts
  packages/ag-charts-enterprise/src/features/annotations/annotationsSuperTypes.ts
  packages/ag-charts-enterprise/src/features/annotations/measurer/measurerConfig.ts
  packages/ag-charts-enterprise/src/features/annotations/measurer/measurerProperties.ts
  packages/ag-charts-enterprise/src/features/annotations/measurer/measurerScene.ts
  packages/ag-charts-enterprise/src/features/annotations/measurer/measurerState.ts
  packages/ag-charts-enterprise/src/features/annotations/scenes/withBackgroundScene.ts
  packages/ag-charts-enterprise/src/features/annotations/settings-dialog/settingsDialog.ts
  packages/ag-charts-enterprise/src/features/annotations/utils/has.ts
  packages/ag-charts-enterprise/src/features/annotations/utils/types.ts
  packages/ag-charts-locale/src/en-US.ts
  packages/ag-charts-types/src/chart/annotationsOptions.ts
Owners: @alantreadway, @ag-grid/ag-charts-team

AG-11918 Allow preventing double click event on chart
  packages/ag-charts-community/src/chart/interaction/regionManager.ts
  packages/ag-charts-community/src/chart/series/seriesAreaManager.ts
  packages/ag-charts-community/src/util/listeners.ts
Owners: @alantreadway

AG-11910 - Only trigger keyboard navigation when not in annotation selected state
  packages/ag-charts-community/src/chart/interaction/interactionStateListener.ts
  packages/ag-charts-community/src/chart/interaction/keyNavManager.ts
  packages/ag-charts-community/src/chart/series/seriesAreaManager.ts
  packages/ag-charts-enterprise/src/features/annotations/annotations.ts
  packages/ag-charts-enterprise/src/features/annotations/axisButton.ts
  packages/ag-charts-enterprise/src/features/crosshair/crosshair.ts
Owners: @alantreadway

AG-12969 - Fix lint error
  packages/ag-charts-enterprise/src/features/annotations/annotations.ts
Owners: @alantreadway

AG-12969 - Fix lint error
  packages/ag-charts-enterprise/src/features/annotations/annotations.ts
Owners: @alantreadway

fix thumbnails build
  packages/ag-charts-community/src/util/format.util.test.ts
  packages/ag-charts-community/src/util/format.util.ts
Owners: @alantreadway

Add comments and re-order functions in annotations
  packages/ag-charts-enterprise/src/features/annotations/annotations.ts
Owners: @alantreadway

sort nav alphabetically within community and enterprise
  packages/ag-charts-website/src/content/docs-nav/docsNav.json
Owners: @ag-grid/ag-charts-team

make formatValue the defaultFormatter of series.getLabelText
  packages/ag-charts-community/src/chart/series/cartesian/areaSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/barSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/lineSeries.ts
  packages/ag-charts-community/src/chart/series/series.ts
  packages/ag-charts-enterprise/src/series/chord/chordSeries.ts
  packages/ag-charts-enterprise/src/series/radar/radarSeries.ts
  packages/ag-charts-enterprise/src/series/radial-bar/radialBarSeries.ts
  packages/ag-charts-enterprise/src/series/radial-column/radialColumnSeriesBase.ts
  packages/ag-charts-enterprise/src/series/range-area/rangeArea.ts
  packages/ag-charts-enterprise/src/series/range-bar/rangeBarSeries.ts
  packages/ag-charts-enterprise/src/series/sankey/sankeySeries.ts
  packages/ag-charts-enterprise/src/series/sunburst/sunburstSeries.ts
  packages/ag-charts-enterprise/src/series/treemap/treemapSeries.ts
  packages/ag-charts-enterprise/src/series/waterfall/waterfallSeries.ts
Owners: @alantreadway

AG-11910 - Fix deleting/cancelling annotations using keyboard
  packages/ag-charts-community/src/chart/series/seriesAreaManager.ts
  packages/ag-charts-enterprise/src/features/annotations/annotations.ts
  packages/ag-charts-enterprise/src/features/annotations/axisButton.ts
  packages/ag-charts-website/e2e/toolbar.spec.ts
Owners: @alantreadway, @ag-grid/ag-charts-team

Fix reset
  packages/ag-charts-community/src/dom/container.css
  packages/ag-charts-community/src/dom/reset.css
Owners: @alantreadway

update snapshots
  packages/ag-charts-community/src/chart/__image_snapshots__/cartesian-chart-test-ts-cartesian-chart-series-highlighting-should-correctly-change-highlighting-state-and-reset-1-snap.png
  packages/ag-charts-community/src/chart/__image_snapshots__/cartesian-chart-test-ts-cartesian-chart-series-highlighting-should-correctly-change-highlighting-state-and-reset-2-snap.png
  packages/ag-charts-community/src/chart/__image_snapshots__/cartesian-chart-test-ts-cartesian-chart-series-highlighting-should-correctly-change-highlighting-state-and-reset-3-snap.png
  packages/ag-charts-community/src/chart/__image_snapshots__/cartesian-chart-test-ts-cartesian-chart-series-highlighting-should-render-series-with-y-key-adults-appropriately-1-snap.png
  packages/ag-charts-community/src/chart/__image_snapshots__/cartesian-chart-test-ts-cartesian-chart-series-highlighting-should-render-series-with-y-key-children-appropriately-1-snap.png
  packages/ag-charts-community/src/chart/__image_snapshots__/cartesian-chart-test-ts-cartesian-chart-series-highlighting-should-render-series-with-y-key-men-appropriately-1-snap.png
  packages/ag-charts-community/src/chart/__image_snapshots__/cartesian-chart-test-ts-cartesian-chart-series-highlighting-should-render-series-with-y-key-portions-appropriately-1-snap.png
  packages/ag-charts-community/src/chart/__image_snapshots__/cartesian-chart-test-ts-cartesian-chart-series-highlighting-should-render-series-with-y-key-women-appropriately-1-snap.png
  packages/ag-charts-community/src/chart/series/__image_snapshots__/series-labels-test-ts-series-labels-create-for-area-column-combo-series-labels-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-community/src/chart/series/__image_snapshots__/series-labels-test-ts-series-labels-create-for-grouped-area-series-labels-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-community/src/chart/series/__image_snapshots__/series-labels-test-ts-series-labels-create-for-line-column-combo-series-labels-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/area-series-test-ts-area-series-create-for-stacked-area-stroke-marker-label-rendering-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/area-series-test-ts-area-series-create-for-stacked-area-stroke-marker-label-rendering-reversed-axes-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-community/src/util/format.util.test.ts
  packages/ag-charts-community/src/util/format.util.ts
  packages/ag-charts-enterprise/src/series/waterfall/__image_snapshots__/waterfall-test-ts-waterfall-series-initial-animation-for-horizontal-waterfall-column-options-should-animate-at-100-1-snap.png
  packages/ag-charts-enterprise/src/series/waterfall/__image_snapshots__/waterfall-test-ts-waterfall-series-initial-animation-for-waterfall-column-options-should-animate-at-100-1-snap.png
  packages/ag-charts-enterprise/src/series/waterfall/__image_snapshots__/waterfall-test-ts-waterfall-series-should-render-a-horizontal-waterfall-chart-as-expected-1-snap.png
  packages/ag-charts-enterprise/src/series/waterfall/__image_snapshots__/waterfall-test-ts-waterfall-series-should-render-a-horizontal-waterfall-chart-with-a-reversed-time-y-axis-1-snap.png
  packages/ag-charts-enterprise/src/series/waterfall/__image_snapshots__/waterfall-test-ts-waterfall-series-should-render-a-horizontal-waterfall-chart-with-a-time-y-axis-1-snap.png
  packages/ag-charts-enterprise/src/series/waterfall/__image_snapshots__/waterfall-test-ts-waterfall-series-should-render-a-horizontal-waterfall-chart-with-missing-and-invalid-values-1-snap.png
  packages/ag-charts-enterprise/src/series/waterfall/__image_snapshots__/waterfall-test-ts-waterfall-series-should-render-a-horizontal-waterfall-chart-with-reversed-axes-1-snap.png
  packages/ag-charts-enterprise/src/series/waterfall/__image_snapshots__/waterfall-test-ts-waterfall-series-should-render-a-horizontal-waterfall-chart-with-total-and-subtotal-bars-1-snap.png
  packages/ag-charts-enterprise/src/series/waterfall/__image_snapshots__/waterfall-test-ts-waterfall-series-should-render-a-waterfall-chart-as-expected-1-snap.png
  packages/ag-charts-enterprise/src/series/waterfall/__image_snapshots__/waterfall-test-ts-waterfall-series-should-render-a-waterfall-chart-with-a-reversed-time-x-axis-1-snap.png
  packages/ag-charts-enterprise/src/series/waterfall/__image_snapshots__/waterfall-test-ts-waterfall-series-should-render-a-waterfall-chart-with-a-time-x-axis-1-snap.png
  packages/ag-charts-enterprise/src/series/waterfall/__image_snapshots__/waterfall-test-ts-waterfall-series-should-render-a-waterfall-chart-with-missing-and-invalid-values-1-snap.png
  packages/ag-charts-enterprise/src/series/waterfall/__image_snapshots__/waterfall-test-ts-waterfall-series-should-render-a-waterfall-chart-with-reversed-axes-1-snap.png
  packages/ag-charts-enterprise/src/series/waterfall/__image_snapshots__/waterfall-test-ts-waterfall-series-should-render-a-waterfall-chart-with-total-and-subtotal-columns-1-snap.png
Owners: @alantreadway

update snapshots
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/bar-series-test-ts-bar-series-label-placement-renders-label-placement-inside-end-direction-horizontal-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/bar-series-test-ts-bar-series-label-placement-renders-label-placement-inside-end-direction-vertical-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/bar-series-test-ts-bar-series-label-placement-renders-label-placement-inside-start-direction-horizontal-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/bar-series-test-ts-bar-series-label-placement-renders-label-placement-inside-start-direction-vertical-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/bar-series-test-ts-bar-series-label-placement-renders-label-placement-outside-end-direction-horizontal-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/bar-series-test-ts-bar-series-label-placement-renders-label-placement-outside-end-direction-vertical-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/bar-series-test-ts-bar-series-label-placement-renders-label-placement-outside-start-direction-horizontal-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/bar-series-test-ts-bar-series-label-placement-renders-label-placement-outside-start-direction-vertical-1-snap.png
  packages/ag-charts-community/src/util/format.util.ts
Owners: @alantreadway
