Repository ag-grid/ag-charts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ag-grid/ag-charts-team, @markdurrant, @taktran, @alantreadway, @rmc-software

AG-9272 Implement errorbar highlight style
  packages/ag-charts-community/src/chart/interaction/highlightManager.ts
  packages/ag-charts-community/src/chart/series/cartesian/cartesianSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/lineSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/scatterSeries.ts
  packages/ag-charts-enterprise/src/features/error-bar/__image_snapshots__/error-bar-test-ts-error-bars-should-render-caps-over-highlight-1-snap.png
  packages/ag-charts-enterprise/src/features/error-bar/errorBar.ts
Owners: @alantreadway

Revert use of index in ScatterSeries.createNodeData
  packages/ag-charts-community/src/chart/series/cartesian/scatterSeries.ts
Owners: @alantreadway

Cleanup path clipping repetition, remove scaling if not needed.
  packages/ag-charts-community/src/scene/shape/path.ts
Owners: @alantreadway

Rework canvas overrides to allow for use of a Proxy in the future.
  packages/ag-charts-community/src/scene/canvas/hdpiCanvas.ts
  packages/ag-charts-community/src/scene/canvas/hdpiOffscreenCanvas.ts
Owners: @alantreadway

wip: simplifying docs types
  packages/ag-charts-website/src/components/Code.tsx
  packages/ag-charts-website/src/features/api-documentation/components/ApiDocumentation.module.scss
  packages/ag-charts-website/src/features/api-documentation/components/FunctionCodeSample.tsx
  packages/ag-charts-website/src/features/api-documentation/components/HeadingPath.tsx
  packages/ag-charts-website/src/features/api-documentation/components/InterfaceDocumentation.astro
  packages/ag-charts-website/src/features/api-documentation/components/InterfaceDocumentation.tsx
  packages/ag-charts-website/src/features/api-documentation/components/JsObjectPropertyView.tsx
  packages/ag-charts-website/src/features/api-documentation/components/MetaList.tsx
  packages/ag-charts-website/src/features/api-documentation/components/ObjectCodeSample.tsx
  packages/ag-charts-website/src/features/api-documentation/components/Property.tsx
  packages/ag-charts-website/src/features/api-documentation/components/Section.tsx
  packages/ag-charts-website/src/features/api-documentation/components/SplitName.tsx
  packages/ag-charts-website/src/features/api-documentation/types.d.ts
  packages/ag-charts-website/src/features/api-documentation/utils/applyInterfaceInclusions.ts
  packages/ag-charts-website/src/features/api-documentation/utils/documentationHelpers.ts
  packages/ag-charts-website/src/features/api-documentation/utils/getInterfaceName.ts
  packages/ag-charts-website/src/features/api-documentation/utils/getInterfacesToWrite.ts
  packages/ag-charts-website/src/features/api-documentation/utils/getPropertyType.ts
  packages/ag-charts-website/src/features/api-documentation/utils/getShouldLimitChildren.ts
  packages/ag-charts-website/src/features/api-documentation/utils/hooks.ts
  packages/ag-charts-website/src/features/api-documentation/utils/html.ts
  packages/ag-charts-website/src/features/api-documentation/utils/isGridOptionEvent.ts
  packages/ag-charts-website/src/features/api-documentation/utils/numbers.ts
  packages/ag-charts-website/src/features/api-documentation/utils/strings.ts
Owners: @ag-grid/ag-charts-team, @markdurrant, @taktran

AG-9571 - Reduce calendar heatmap example strokeWidth
  packages/ag-charts-website/src/content/gallery/_examples/calendar-heatmap/main.ts
Owners: @ag-grid/ag-charts-team

Allow fromToAnimations to set start/finish properties.
  packages/ag-charts-community/src/chart/series/cartesian/lineSeries.ts
  packages/ag-charts-community/src/motion/fromToMotion.ts
  packages/ag-charts-community/src/scene/shape/path.ts
Owners: @alantreadway

Fix line markers jumping to final position.
  packages/ag-charts-community/src/chart/series/cartesian/lineSeries.ts
  packages/ag-charts-community/src/chart/series/series.ts
Owners: @alantreadway

Partial revert "Switch to new animation test approach."
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/bar-series-test-ts-bar-series-initial-animation-for-column-time-x-axis-number-y-axis-should-animate-at-0-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/bar-series-test-ts-bar-series-initial-animation-for-column-time-x-axis-number-y-axis-should-animate-at-25-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/bar-series-test-ts-bar-series-initial-animation-for-column-time-x-axis-number-y-axis-should-animate-at-50-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/bar-series-test-ts-bar-series-update-animation-for-column-time-x-axis-number-y-axis-should-animate-at-0-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/bar-series-test-ts-bar-series-update-animation-for-column-time-x-axis-number-y-axis-should-animate-at-25-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/bar-series-test-ts-bar-series-update-animation-for-column-time-x-axis-number-y-axis-should-animate-at-50-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/areaSeries.test.ts
  packages/ag-charts-community/src/chart/series/cartesian/barSeries.test.ts
  packages/ag-charts-community/src/chart/series/cartesian/bubbleSeries.test.ts
  packages/ag-charts-community/src/chart/series/cartesian/lineSeries.test.ts
  packages/ag-charts-community/src/chart/series/cartesian/scatterSeries.test.ts
  packages/ag-charts-community/src/chart/series/polar/polarSeries.test.ts
  packages/ag-charts-community/src/chart/test/utils.ts
  packages/ag-charts-enterprise/src/series/box-plot/boxPlotSeries.test.ts
  packages/ag-charts-enterprise/src/series/histogram/histogramSeries.test.ts
  packages/ag-charts-enterprise/src/series/nightingale/nightingale.test.ts
  packages/ag-charts-enterprise/src/series/radar-area/radarArea.test.ts
  packages/ag-charts-enterprise/src/series/radar-line/radarLine.test.ts
  packages/ag-charts-enterprise/src/series/radial-bar/__image_snapshots__/radial-bar-test-ts-radial-bar-chart-add-animation-for-example-options-should-animate-at-0-1-snap.png
  packages/ag-charts-enterprise/src/series/radial-bar/__image_snapshots__/radial-bar-test-ts-radial-bar-chart-add-animation-for-example-options-should-animate-at-25-1-snap.png
  packages/ag-charts-enterprise/src/series/radial-bar/__image_snapshots__/radial-bar-test-ts-radial-bar-chart-initial-animation-for-example-options-should-animate-at-0-1-snap.png
  packages/ag-charts-enterprise/src/series/radial-bar/__image_snapshots__/radial-bar-test-ts-radial-bar-chart-initial-animation-for-example-options-should-animate-at-25-1-snap.png
  packages/ag-charts-enterprise/src/series/radial-bar/__image_snapshots__/radial-bar-test-ts-radial-bar-chart-remove-animation-for-example-options-should-animate-at-0-1-snap.png
  packages/ag-charts-enterprise/src/series/radial-bar/__image_snapshots__/radial-bar-test-ts-radial-bar-chart-remove-animation-for-example-options-should-animate-at-25-1-snap.png
  packages/ag-charts-enterprise/src/series/radial-bar/__image_snapshots__/radial-bar-test-ts-radial-bar-chart-update-animation-for-example-options-should-animate-at-25-1-snap.png
  packages/ag-charts-enterprise/src/series/radial-bar/radialBar.test.ts
  packages/ag-charts-enterprise/src/series/radial-column/radialColumn.test.ts
  packages/ag-charts-enterprise/src/series/range-area/__image_snapshots__/range-area-test-ts-chart-initial-animation-for-range-area-options-should-animate-at-0-1-snap.png
  packages/ag-charts-enterprise/src/series/range-area/__image_snapshots__/range-area-test-ts-chart-initial-animation-for-range-area-options-should-animate-at-25-1-snap.png
  packages/ag-charts-enterprise/src/series/range-area/__image_snapshots__/range-area-test-ts-chart-initial-animation-for-range-area-options-should-animate-at-50-1-snap.png
  packages/ag-charts-enterprise/src/series/range-area/rangeArea.test.ts
  packages/ag-charts-enterprise/src/series/range-bar/__image_snapshots__/range-bar-test-ts-chart-initial-animation-for-range-column-options-should-animate-at-0-1-snap.png
  packages/ag-charts-enterprise/src/series/range-bar/__image_snapshots__/range-bar-test-ts-chart-initial-animation-for-range-column-options-should-animate-at-25-1-snap.png
  packages/ag-charts-enterprise/src/series/range-bar/__image_snapshots__/range-bar-test-ts-chart-initial-animation-for-range-column-options-should-animate-at-50-1-snap.png
  packages/ag-charts-enterprise/src/series/range-bar/rangeBar.test.ts
  packages/ag-charts-enterprise/src/series/waterfall/waterfall.test.ts
Owners: @alantreadway

AG-9206 - Fix selection change being triggered incorrectly
  packages/ag-charts-website/src/features/api-documentation/utils/getShouldLimitParent.test.ts
  packages/ag-charts-website/src/features/api-documentation/utils/getShouldLimitParent.ts
  packages/ag-charts-website/src/utils/isPathExactMatch.test.ts
  packages/ag-charts-website/src/utils/isPathExactMatch.ts
  packages/ag-charts-website/src/utils/isPathMatch.test.ts
  packages/ag-charts-website/src/utils/isPathMatch.ts
Owners: @ag-grid/ag-charts-team

AG-9206 - Fix has changed function for selecting child elements
  packages/ag-charts-website/src/features/api-documentation/utils/getTopLevelSelectionChanged.test.ts
  packages/ag-charts-website/src/features/api-documentation/utils/getTopLevelSelectionChanged.ts
  packages/ag-charts-website/src/features/api-documentation/utils/modelPath.ts
  packages/ag-charts-website/src/features/api-documentation/utils/selectionHasChanged.test.ts
  packages/ag-charts-website/src/features/api-documentation/utils/selectionHasChanged.ts
  packages/ag-charts-website/src/features/api-documentation/utils/useJsObjectSelection.ts
Owners: @ag-grid/ag-charts-team

AG-9206 - Add support for removing top level path item
  packages/ag-charts-website/src/features/api-documentation/components/HeadingPath.tsx
  packages/ag-charts-website/src/features/api-documentation/components/JsObjectPropertiesView.tsx
  packages/ag-charts-website/src/features/api-documentation/components/JsObjectPropertyView.tsx
  packages/ag-charts-website/src/features/api-documentation/utils/getHeadingPath.test.ts
  packages/ag-charts-website/src/features/api-documentation/utils/removeTopLevelPath.test.ts
  packages/ag-charts-website/src/features/api-documentation/utils/removeTopLevelPath.ts
Owners: @ag-grid/ag-charts-team

AG-9206 - Fix top position of sticky header for small screens
  packages/ag-charts-website/src/features/api-documentation/components/JsObjectProperties.module.scss
Owners: @markdurrant

AG-9571 - Update bubble with categories example
  packages/ag-charts-website/src/content/gallery/_examples/bubble-with-categories/data.ts
  packages/ag-charts-website/src/content/gallery/_examples/bubble-with-categories/main.ts
Owners: @ag-grid/ag-charts-team

AG-9571 - Reorder bubble examples
  packages/ag-charts-website/src/content/gallery/data.json
Owners: @ag-grid/ag-charts-team

AG-9206 - Options reference round 10 - Hide top level path (#385)
  packages/ag-charts-website/src/features/api-documentation/components/HeadingPath.tsx
  packages/ag-charts-website/src/features/api-documentation/components/JsObjectProperties.module.scss
  packages/ag-charts-website/src/features/api-documentation/components/JsObjectPropertiesView.tsx
  packages/ag-charts-website/src/features/api-documentation/components/JsObjectPropertyView.tsx
  packages/ag-charts-website/src/features/api-documentation/utils/getHeadingPath.test.ts
  packages/ag-charts-website/src/features/api-documentation/utils/getShouldLimitParent.test.ts
  packages/ag-charts-website/src/features/api-documentation/utils/getShouldLimitParent.ts
  packages/ag-charts-website/src/features/api-documentation/utils/getTopLevelSelectionChanged.test.ts
  packages/ag-charts-website/src/features/api-documentation/utils/getTopLevelSelectionChanged.ts
  packages/ag-charts-website/src/features/api-documentation/utils/modelPath.ts
  packages/ag-charts-website/src/features/api-documentation/utils/removeTopLevelPath.test.ts
  packages/ag-charts-website/src/features/api-documentation/utils/removeTopLevelPath.ts
  packages/ag-charts-website/src/features/api-documentation/utils/selectionHasChanged.test.ts
  packages/ag-charts-website/src/features/api-documentation/utils/selectionHasChanged.ts
  packages/ag-charts-website/src/features/api-documentation/utils/useJsObjectSelection.ts
  packages/ag-charts-website/src/utils/isPathExactMatch.test.ts
  packages/ag-charts-website/src/utils/isPathExactMatch.ts
  packages/ag-charts-website/src/utils/isPathMatch.test.ts
  packages/ag-charts-website/src/utils/isPathMatch.ts
Owners: @ag-grid/ag-charts-team, @markdurrant

Fix lineSeries marker animation update after #379.
  packages/ag-charts-community/src/chart/series/cartesian/lineUtil.ts
Owners: @alantreadway

Prevent line animation after re-ordering of categories.
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/line-series-test-ts-line-series-category-animation-should-animate-adding-removing-and-updating-simultaneously-at-0-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/line-series-test-ts-line-series-category-animation-should-animate-adding-removing-and-updating-simultaneously-at-100-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/line-series-test-ts-line-series-category-animation-should-animate-adding-removing-and-updating-simultaneously-at-50-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/line-series-test-ts-line-series-category-animation-should-animate-updating-points-to-undefined-at-0-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/lineSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/lineUtil.ts
Owners: @alantreadway

AG-9206 - Add double click to expand options reference
  packages/ag-charts-website/src/features/api-documentation/components/JsObjectView.module.scss
  packages/ag-charts-website/src/features/api-documentation/components/JsObjectView.tsx
Owners: @markdurrant, @ag-grid/ag-charts-team

AG-9206 - Fix up type of handleSelection
  packages/ag-charts-website/src/features/api-documentation/types.d.ts
Owners: @ag-grid/ag-charts-team

AG-9206 - Highlight selection in left hand nav of options reference
  packages/ag-charts-website/src/features/api-documentation/components/JsObjectView.tsx
Owners: @ag-grid/ag-charts-team

AG-9609 - Update darkmode styles
  packages/ag-charts-website/src/design-system/_base.scss
  packages/ag-charts-website/src/design-system/_index.scss
  packages/ag-charts-website/src/design-system/_interactions.scss
  packages/ag-charts-website/src/design-system/_root.scss
  packages/ag-charts-website/src/design-system/_typography.scss
  packages/ag-charts-website/src/design-system/components/_code.scss
  packages/ag-charts-website/src/design-system/components/_containers.scss
  packages/ag-charts-website/src/design-system/core/_index.scss
  packages/ag-charts-website/src/design-system/core/_utils.scss
  packages/ag-charts-website/src/design-system/core/_variables.scss
  packages/ag-charts-website/src/design-system/elements/_block.scss
Owners: @markdurrant

AG-9609 - Update darkmode styles for several components
  packages/ag-charts-website/src/components/alert/Alert.module.scss
  packages/ag-charts-website/src/components/footer/Footer.module.scss
  packages/ag-charts-website/src/components/framework-selector/FrameworkSelector.module.scss
  packages/ag-charts-website/src/design-system/components/_code.scss
  packages/ag-charts-website/src/design-system/components/_containers.scss
Owners: @markdurrant

AG-9609 - Use localstorage darkmode
  packages/ag-charts-website/src/features/example-runner/components/CodeViewer.module.scss
  packages/ag-charts-website/src/layouts/Layout.astro
Owners: @markdurrant, @taktran

AG-9609 - Update design system Sass files to latest ag-grid version
  packages/ag-charts-website/src/design-system/_base.scss
  packages/ag-charts-website/src/design-system/_color.scss
  packages/ag-charts-website/src/design-system/_root.scss
  packages/ag-charts-website/src/design-system/core/_variables.scss
  packages/ag-charts-website/src/design-system/elements/_block.scss
  packages/ag-charts-website/src/design-system/elements/_button.scss
  packages/ag-charts-website/src/design-system/elements/_form-elements.scss
  packages/ag-charts-website/src/design-system/elements/_inline.scss
  packages/ag-charts-website/src/design-system/elements/_table.scss
Owners: @markdurrant

AG-9609 - Add darkmode toggle
  packages/ag-charts-website/src/components/site-header/DarkModeToggle.jsx
  packages/ag-charts-website/src/stores/darkmodeStore.ts
Owners: @ag-grid/ag-charts-team

AG-9397 - Update darkmode styles
  packages/ag-charts-website/src/design-system/_base.scss
  packages/ag-charts-website/src/design-system/_root.scss
  packages/ag-charts-website/src/design-system/components/_code.scss
  packages/ag-charts-website/src/design-system/components/_containers.scss
  packages/ag-charts-website/src/design-system/core/_variables.scss
  packages/ag-charts-website/src/design-system/elements/_inline.scss
Owners: @markdurrant

AG-9609 - Add darkmode toggle markup & styles
  packages/ag-charts-website/src/components/icon/Icon.tsx
  packages/ag-charts-website/src/components/site-header/DarkModeToggle.jsx
  packages/ag-charts-website/src/components/site-header/DarkModeToggle.module.scss
  packages/ag-charts-website/src/components/site-header/HeaderNav.tsx
  packages/ag-charts-website/src/components/site-header/SiteHeader.module.scss
  packages/ag-charts-website/src/design-system/_interactions.scss
Owners: @ag-grid/ag-charts-team, @markdurrant

AG-9609 - Update darkmode component styles
  packages/ag-charts-website/src/components/alert/Alert.module.scss
  packages/ag-charts-website/src/components/framework-selector/FrameworkSelector.module.scss
  packages/ag-charts-website/src/components/site-header/SiteHeader.module.scss
  packages/ag-charts-website/src/components/top-bar/TopBar.module.scss
  packages/ag-charts-website/src/design-system/core/_variables.scss
  packages/ag-charts-website/src/design-system/elements/_form-elements.scss
  packages/ag-charts-website/src/features/api-documentation/components/ApiDocumentation.module.scss
Owners: @markdurrant

AG-9609 - Update darkmode component styles, add darkmode styles for gallery/api pages
  packages/ag-charts-website/src/features/api-documentation/components/ApiDocumentation.module.scss
  packages/ag-charts-website/src/features/api-documentation/components/JsObjectProperties.module.scss
  packages/ag-charts-website/src/features/api-documentation/components/JsObjectView.module.scss
  packages/ag-charts-website/src/features/api-explorer/components/Options.module.scss
  packages/ag-charts-website/src/features/example-runner/components/CodeViewer.module.scss
  packages/ag-charts-website/src/features/gallery/components/GalleryExampleLink.module.scss
  packages/ag-charts-website/src/features/gallery/components/GalleryExampleLink.tsx
  packages/ag-charts-website/src/pages/gallery.astro
Owners: @markdurrant, @ag-grid/ag-charts-team, @taktran

AG-9609 - Format Sass files
  packages/ag-charts-website/src/components/site-header/DarkModeToggle.module.scss
  packages/ag-charts-website/src/design-system/_base.scss
  packages/ag-charts-website/src/design-system/_index.scss
  packages/ag-charts-website/src/design-system/_interactions.scss
  packages/ag-charts-website/src/design-system/_root.scss
  packages/ag-charts-website/src/design-system/_typography.scss
  packages/ag-charts-website/src/design-system/core/_index.scss
  packages/ag-charts-website/src/design-system/core/_utils.scss
  packages/ag-charts-website/src/design-system/core/_variables.scss
Owners: @markdurrant

Updated Area Series docs
  packages/ag-charts-website/src/content/docs/area-series-test/_examples/missing-data-area/data.ts
  packages/ag-charts-website/src/content/docs/area-series-test/_examples/missing-data-area/index.html
  packages/ag-charts-website/src/content/docs/area-series-test/_examples/missing-data-area/main.ts
  packages/ag-charts-website/src/content/docs/area-series-test/_examples/missing-data-area/styles.css
  packages/ag-charts-website/src/content/docs/area-series-test/index.mdoc
  packages/ag-charts-website/src/content/docs/area-series/_examples/simple-area/data.ts
  packages/ag-charts-website/src/content/docs/area-series/_examples/simple-area/index.html
  packages/ag-charts-website/src/content/docs/area-series/_examples/simple-area/main.ts
  packages/ag-charts-website/src/content/docs/area-series/_examples/single-area/data.ts
  packages/ag-charts-website/src/content/docs/area-series/_examples/single-area/main.ts
  packages/ag-charts-website/src/content/docs/area-series/index.mdoc
Owners: @ag-grid/ag-charts-team, @rmc-software

Updated Area Series docs
  packages/ag-charts-website/src/content/docs/area-series/_examples/customised-area/data.ts
  packages/ag-charts-website/src/content/docs/area-series/_examples/customised-area/index.html
  packages/ag-charts-website/src/content/docs/area-series/_examples/customised-area/main.ts
  packages/ag-charts-website/src/content/docs/area-series/_examples/missing-data-area/data.ts
  packages/ag-charts-website/src/content/docs/area-series/_examples/missing-data-area/main.ts
  packages/ag-charts-website/src/content/docs/area-series/_examples/simple-area/data.ts
  packages/ag-charts-website/src/content/docs/area-series/_examples/stacked-area/data.ts
  packages/ag-charts-website/src/content/docs/area-series/_examples/stacked-area/main.ts
  packages/ag-charts-website/src/content/docs/area-series/index.mdoc
  packages/ag-charts-website/src/content/docs/bar-series/index.mdoc
Owners: @ag-grid/ag-charts-team, @rmc-software

Updated Area Series docs
  packages/ag-charts-website/src/content/docs/area-series/index.mdoc
Owners: @rmc-software

AG-6686 - Extend bubble series sizeKey domain across all bubble series in chart
  packages/ag-charts-community/src/chart/data/dataModel.ts
  packages/ag-charts-community/src/chart/data/processors.ts
  packages/ag-charts-community/src/chart/data/utilFunctions.ts
  packages/ag-charts-community/src/chart/series/cartesian/bubbleSeries.ts
Owners: @alantreadway

website docs - simplify types
  packages/ag-charts-community/src/options/chart/tooltipOptions.ts
  packages/ag-charts-website/src/features/api-documentation/components/ChildrenSeparator.tsx
  packages/ag-charts-website/src/features/api-documentation/components/FunctionCodeSample.tsx
  packages/ag-charts-website/src/features/api-documentation/components/InterfaceDocumentation.tsx
  packages/ag-charts-website/src/features/api-documentation/components/Property.tsx
  packages/ag-charts-website/src/features/api-documentation/components/Section.tsx
  packages/ag-charts-website/src/features/api-documentation/components/SplitName.tsx
  packages/ag-charts-website/src/features/api-documentation/types.d.ts
  packages/ag-charts-website/src/features/api-documentation/utils/documentationHelpers.ts
  packages/ag-charts-website/src/features/api-documentation/utils/getInterfacesToWrite.ts
  packages/ag-charts-website/src/features/api-documentation/utils/getTypeLinks.ts
Owners: @alantreadway, @ag-grid/ag-charts-team

Updated Area Series docs
  packages/ag-charts-website/src/content/docs/area-series/_examples/multi-area/data.ts
  packages/ag-charts-website/src/content/docs/area-series/_examples/multi-area/index.html
  packages/ag-charts-website/src/content/docs/area-series/_examples/multi-area/main.ts
  packages/ag-charts-website/src/content/docs/area-series/_examples/single-area-markers-labels/data.ts
  packages/ag-charts-website/src/content/docs/area-series/_examples/single-area-markers-labels/index.html
  packages/ag-charts-website/src/content/docs/area-series/_examples/single-area-markers-labels/main.ts
  packages/ag-charts-website/src/content/docs/area-series/_examples/single-area-markers/data.ts
  packages/ag-charts-website/src/content/docs/area-series/_examples/single-area-markers/index.html
  packages/ag-charts-website/src/content/docs/area-series/_examples/single-area-markers/main.ts
Owners: @ag-grid/ag-charts-team

remove leftovers
  packages/ag-charts-website/src/features/api-documentation/utils/documentationHelpers.ts
Owners: @ag-grid/ag-charts-team

fix leftovers
  packages/ag-charts-website/src/features/api-documentation/components/JsObjectPropertyView.tsx
Owners: @ag-grid/ag-charts-team

cr changes + cleanup
  packages/ag-charts-website/src/features/api-documentation/components/JsObjectPropertyView.tsx
  packages/ag-charts-website/src/features/api-documentation/components/MetaList.tsx
  packages/ag-charts-website/src/features/api-documentation/components/Property.tsx
  packages/ag-charts-website/src/features/api-documentation/components/PropertyName.tsx
  packages/ag-charts-website/src/features/api-documentation/types.d.ts
  packages/ag-charts-website/src/features/api-documentation/utils/applyInterfaceInclusions.ts
  packages/ag-charts-website/src/features/api-documentation/utils/extractCodeSample.ts
Owners: @ag-grid/ag-charts-team

.github/CODEOWNERS:

# NOTE: Order of entries matters - later entries have higher precedence.

# Attribute code-owners so default reviewers are assigned to PRs.
* @ag-grid/ag-charts-team

# Astro + website changes to be reviewed by website team.
*.scss @markdurrant
*.astro @taktran
/packages/ag-charts-website/astro/** @taktran
/packages/ag-charts-website/components/** @taktran
/packages/ag-charts-website/features/** @taktran
/packages/ag-charts-website/layouts/** @taktran
/packages/ag-charts-website/stores/** @taktran
/packages/ag-charts-website/utils/** @taktran

# Docs updates to be reviewed by Eng VP.
/packages/ag-charts-website/content/** @alantreadway @rmc-software
*.mdoc @rmc-software

# Charts library code to be reviewed by Chart TL.
/packages/ag-charts-community/** @alantreadway
/packages/ag-charts-enterprise/** @alantreadway

# Sensitive build/repo files to be reviewed by Chart TL.
**/package.json @alantreadway
nx.json @alantreadway
**/project.json @alantreadway
**/tsconfig.json @alantreadway
**/tsconfig.*.json @alantreadway
