Repository ag-grid/ag-charts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ag-grid/ag-charts-team, @markdurrant, @taktran, @alantreadway, @rmc-software

.github/CODEOWNERS:

# NOTE: Order of entries matters - later entries have higher precedence.

# Attribute code-owners so default reviewers are assigned to PRs.
* @ag-grid/ag-charts-team

# Astro + website changes to be reviewed by website team.
*.scss @markdurrant
*.astro @taktran
/packages/ag-charts-website/astro/** @taktran
/packages/ag-charts-website/components/** @taktran
/packages/ag-charts-website/features/** @taktran
/packages/ag-charts-website/layouts/** @taktran
/packages/ag-charts-website/stores/** @taktran
/packages/ag-charts-website/utils/** @taktran

# Docs updates to be reviewed by Eng VP.
/packages/ag-charts-website/content/** @alantreadway @rmc-software
*.mdoc @rmc-software

# Charts library code to be reviewed by Chart TL.
/packages/ag-charts-community/** @alantreadway
/packages/ag-charts-enterprise/** @alantreadway

# Sensitive build/repo files to be reviewed by Chart TL.
**/package.json @alantreadway
nx.json @alantreadway
**/project.json @alantreadway
**/tsconfig.json @alantreadway
**/tsconfig.*.json @alantreadway

Dev server fixes
  packages/ag-charts-website/astro.config.mjs
  packages/ag-charts-website/plugins/agAutoRedirect.ts
  packages/ag-charts-website/plugins/agHtaccessGen.ts
  packages/ag-charts-website/src/middleware/index.ts
Owners: @ag-grid/ag-charts-team

Fix example homepage (WIP)
  packages/ag-charts-website/src/features/homepage/components/IndexGalleryExampleRunner.astro
  packages/ag-charts-website/src/pages/index.astro
Owners: @taktran

AG-12635 - Fix documentation archive for legacy charts website
  external/ag-website-shared/src/components/documentation-archive/DocumentationArchive.astro
  packages/ag-charts-website/src/constants.ts
  packages/ag-charts-website/src/pages/documentation-archive.astro
Owners: @taktran, @ag-grid/ag-charts-team

Radial gauge line markers
  packages/ag-charts-enterprise/src/series/radial-gauge/lineMarker.ts
  packages/ag-charts-enterprise/src/series/radial-gauge/radialGaugeSeries.ts
  packages/ag-charts-enterprise/src/series/radial-gauge/radialGaugeSeriesProperties.ts
  packages/ag-charts-types/src/series/gauge/radialGaugeOptions.ts
Owners: @alantreadway, @ag-grid/ag-charts-team

AG-12635 - Fix documentation archive for legacy charts website (#2341)
  external/ag-website-shared/src/components/documentation-archive/DocumentationArchive.astro
  packages/ag-charts-website/src/constants.ts
  packages/ag-charts-website/src/pages/documentation-archive.astro
Owners: @taktran, @ag-grid/ag-charts-team

Create unique component
  packages/ag-charts-website/src/features/homepage/components/IndexGalleryExampleRunner.astro
  packages/ag-charts-website/src/features/homepage/components/IndexGalleryExampleRunner.tsx
  packages/ag-charts-website/src/features/homepage/constants.ts
  packages/ag-charts-website/src/features/homepage/utils/urlPaths.ts
Owners: @taktran, @ag-grid/ag-charts-team

Add buttons to select specific chart
  packages/ag-charts-website/src/features/homepage/components/IndexGalleryExampleRunner.astro
  packages/ag-charts-website/src/features/homepage/components/IndexGalleryExampleRunner.tsx
  packages/ag-charts-website/src/pages/index.astro
Owners: @taktran, @ag-grid/ag-charts-team

Add button styling
  packages/ag-charts-website/src/features/homepage/components/IndexGalleryExampleRunner.tsx
  packages/ag-charts-website/src/pages/index.astro
Owners: @ag-grid/ag-charts-team, @taktran

Radial gauge a11y
  packages/ag-charts-community/src/chart/chart.ts
  packages/ag-charts-community/src/chart/gaugeChart.ts
  packages/ag-charts-community/src/chart/hierarchyChart.ts
  packages/ag-charts-community/src/chart/series/gaugeSeries.ts
  packages/ag-charts-enterprise/src/series/radial-gauge/radialGaugeSeries.ts
  packages/ag-charts-enterprise/src/series/radial-gauge/radialGaugeUtil.ts
  packages/ag-charts-locale/src/en-US.ts
  packages/ag-charts-website/src/content/gallery/_examples/customised-radial-gauge/main.ts
Owners: @alantreadway, @ag-grid/ag-charts-team

Change chart selection logic
  packages/ag-charts-website/src/features/homepage/components/FreeChartsExamples.tsx
  packages/ag-charts-website/src/features/homepage/components/IndexGalleryExampleRunner.module.scss
  packages/ag-charts-website/src/features/homepage/components/IndexGalleryExampleRunner.tsx
  packages/ag-charts-website/src/pages/index.astro
Owners: @ag-grid/ag-charts-team, @markdurrant, @taktran

Whitelist redirect urls
  packages/ag-charts-website/astro.config.mjs
  packages/ag-charts-website/plugins/agAutoRedirect.ts
Owners: @ag-grid/ag-charts-team

Tweaks to examples
  packages/ag-charts-website/src/features/homepage/components/IndexGalleryExampleRunner.module.scss
  packages/ag-charts-website/src/features/homepage/components/IndexGalleryExampleRunner.tsx
  packages/ag-charts-website/src/pages/index.astro
Owners: @markdurrant, @ag-grid/ag-charts-team, @taktran

AG-12635 - Merge back to latest (#2345)
  external/ag-website-shared/src/components/documentation-archive/DocumentationArchive.astro
  packages/ag-charts-website/src/constants.ts
  packages/ag-charts-website/src/pages-styles/homepage.module.scss
  packages/ag-charts-website/src/pages/documentation-archive.astro
  packages/ag-charts-website/src/utils/sitemapPages.ts
  tools/archive/uploadAndUnzipArchive.sh
  tools/release/archiveCurrentRelease.sh
  tools/release/prepareNewChartsDeployment.sh
  tools/release/prepareNewChartsDeploymentRemote.sh
  tools/release/switchChartsReleaseRemote.sh
  tools/release/switchRelease.sh
  tools/release/uploadReleaseZip.sh
Owners: @taktran, @ag-grid/ag-charts-team, @markdurrant

Add integrated charts demo
  packages/ag-charts-website/src/pages/index.astro
Owners: @taktran

AG-12568 - Add drag handle to annotation options toolbar
  packages/ag-charts-community/src/chart/interaction/toolbarManager.ts
  packages/ag-charts-community/src/chart/toolbar/toolbar.ts
  packages/ag-charts-community/src/chart/toolbar/toolbarModule.ts
  packages/ag-charts-community/src/chart/toolbar/toolbarProperties.ts
  packages/ag-charts-community/src/chart/toolbar/toolbarStyles.css
  packages/ag-charts-community/src/chart/toolbar/toolbarStyles.ts
  packages/ag-charts-community/src/chart/toolbar/toolbarTypes.ts
  packages/ag-charts-community/src/module-support.ts
  packages/ag-charts-enterprise/src/features/annotations/annotationTypes.ts
  packages/ag-charts-enterprise/src/features/annotations/annotations.ts
  packages/ag-charts-enterprise/src/features/annotations/arrow-down/arrowDownScene.ts
  packages/ag-charts-enterprise/src/features/annotations/scenes/annotationScene.ts
  packages/ag-charts-enterprise/src/features/annotations/scenes/pointScene.ts
  packages/ag-charts-enterprise/src/features/annotations/scenes/textualPointScene.ts
  packages/ag-charts-enterprise/src/features/annotations/scenes/textualStartEndScene.ts
  packages/ag-charts-locale/src/en-US.ts
  packages/ag-charts-types/src/chart/toolbarOptions.ts
Owners: @alantreadway, @ag-grid/ag-charts-team

Add latest highlight
  packages/ag-charts-website/src/content/versions/ag-charts-versions.json
Owners: @ag-grid/ag-charts-team

update version logic
  packages/ag-charts-website/src/pages/index.astro
Owners: @taktran

auto scroll tabs if no movement
  packages/ag-charts-website/src/features/homepage/components/IndexGalleryExampleRunner.module.scss
  packages/ag-charts-website/src/features/homepage/components/IndexGalleryExampleRunner.tsx
Owners: @markdurrant, @ag-grid/ag-charts-team

AG-12568 - Make drag handle of the floating bar not keyboard focusable
  packages/ag-charts-community/src/chart/toolbar/toolbar.ts
Owners: @alantreadway

AG-12568 - Remove hover styles from drag handle of the floating bar
  packages/ag-charts-community/src/chart/toolbar/toolbarStyles.css
Owners: @alantreadway

AG-12568 - Close open dropdowns or colour pickers on drag start
  packages/ag-charts-community/src/chart/interaction/toolbarManager.ts
  packages/ag-charts-community/src/chart/toolbar/toolbar.ts
  packages/ag-charts-enterprise/src/features/annotations/annotations.ts
Owners: @alantreadway

AG-12568 - Update community snapshots
  packages/ag-charts-community/src/module/__snapshots__/optionsModule.test.ts.snap
Owners: @alantreadway

Revert "AG-12037 CR Feedback: Fix TC 1"
  packages/ag-charts-community/src/chart/interaction/interactionManager.ts
  packages/ag-charts-community/src/dom/domManager.ts
Owners: @alantreadway

AG-12568 - rename to drag handle
  packages/ag-charts-community/src/chart/toolbar/toolbar.ts
  packages/ag-charts-community/src/chart/toolbar/toolbarStyles.css
  packages/ag-charts-community/src/chart/toolbar/toolbarStyles.ts
Owners: @alantreadway

AG-12568 - Update e2e snapshots
  packages/ag-charts-website/e2e/toolbar.spec.ts-snapshots/callout-2-end-chromium-darwin.png
  packages/ag-charts-website/e2e/toolbar.spec.ts-snapshots/callout-3-input-chromium-darwin.png
  packages/ag-charts-website/e2e/toolbar.spec.ts-snapshots/callout-5-fill-color-popover-chromium-darwin.png
  packages/ag-charts-website/e2e/toolbar.spec.ts-snapshots/line-4-complete-chromium-darwin.png
  packages/ag-charts-website/e2e/toolbar.spec.ts-snapshots/text-4-start-chromium-darwin.png
  packages/ag-charts-website/e2e/toolbar.spec.ts-snapshots/text-5-input-chromium-darwin.png
  packages/ag-charts-website/e2e/toolbar.spec.ts-snapshots/text-7-editing-chromium-darwin.png
  packages/ag-charts-website/e2e/toolbar.spec.ts-snapshots/text-8-font-size-popover-chromium-darwin.png
  packages/ag-charts-website/e2e/toolbar.spec.ts-snapshots/text-9-change-font-size-chromium-darwin.png
Owners: @ag-grid/ag-charts-team

AG-12568 - Fix lint error
  packages/ag-charts-community/src/chart/toolbar/toolbar.ts
Owners: @alantreadway

AG-12679 Clamp the palette color picker thumb
  packages/ag-charts-enterprise/src/features/color-picker/colorPicker.ts
Owners: @alantreadway

AG-12657 Always re-focus on the toolbar button that showed the menu
  packages/ag-charts-community/src/dom/domManager.ts
  packages/ag-charts-community/src/dom/focusIndicator.ts
  packages/ag-charts-community/src/util/keynavUtil.ts
  packages/ag-charts-enterprise/src/features/annotations/annotations.ts
Owners: @alantreadway

AG-12657 Fix e2e tests
  packages/ag-charts-enterprise/src/features/color-picker/colorPicker.ts
Owners: @alantreadway

Revert "auto scroll tabs if no movement"
  packages/ag-charts-website/src/features/homepage/components/IndexGalleryExampleRunner.module.scss
  packages/ag-charts-website/src/features/homepage/components/IndexGalleryExampleRunner.tsx
Owners: @markdurrant, @ag-grid/ag-charts-team

add cta
  packages/ag-charts-website/src/pages/index.astro
Owners: @taktran

AG-12600 Fix line text clipping to only apply to the line itself
  packages/ag-charts-community/src/integrated-charts-scene.ts
  packages/ag-charts-community/src/scene/clip.ts
  packages/ag-charts-community/src/scene/node.ts
  packages/ag-charts-enterprise/src/features/annotations/__image_snapshots__/annotations-test-ts-annotations-lines-with-text-should-render-line-annotations-with-text-1-snap.png
  packages/ag-charts-enterprise/src/features/annotations/__image_snapshots__/annotations-test-ts-annotations-lines-with-text-should-render-stacked-annotations-with-text-1-snap.png
  packages/ag-charts-enterprise/src/features/annotations/scenes/collidableLineScene.ts
  packages/ag-charts-enterprise/src/features/annotations/scenes/lineWithTextScene.ts
Owners: @alantreadway

Gauge a11y
  packages/ag-charts-enterprise/src/series/radial-gauge/radialGaugeSeries.ts
Owners: @alantreadway

git subrepo pull external/ag-website-shared
  external/ag-website-shared/.gitrepo
Owners: @ag-grid/ag-charts-team

Hack the docs examples to work
  packages/ag-charts-website/src/features/homepage/components/CodeOptions.module.scss
  packages/ag-charts-website/src/features/homepage/components/CodeOptions.tsx
  packages/ag-charts-website/src/features/homepage/components/CodeViewer.module.scss
  packages/ag-charts-website/src/features/homepage/components/CodeViewer.tsx
  packages/ag-charts-website/src/features/homepage/components/ExampleIFrame.module.scss
  packages/ag-charts-website/src/features/homepage/components/ExampleIFrame.tsx
  packages/ag-charts-website/src/features/homepage/components/ExampleRunner.module.scss
  packages/ag-charts-website/src/features/homepage/components/ExampleRunner.tsx
  packages/ag-charts-website/src/features/homepage/components/IndexDocsExampleRunner.astro
  packages/ag-charts-website/src/features/homepage/components/IndexDocsExampleRunner.tsx
  packages/ag-charts-website/src/features/homepage/components/LegacyExampleRunner.module.scss
  packages/ag-charts-website/src/pages/index.astro
Owners: @markdurrant, @ag-grid/ag-charts-team, @taktran

Fix imports (hack)
  packages/ag-charts-website/src/features/docs/components/DocsExampleRunner.astro
  packages/ag-charts-website/src/features/homepage/components/IndexCodeOptions.module.scss
  packages/ag-charts-website/src/features/homepage/components/IndexCodeOptions.tsx
  packages/ag-charts-website/src/features/homepage/components/IndexCodeViewer.module.scss
  packages/ag-charts-website/src/features/homepage/components/IndexCodeViewer.tsx
  packages/ag-charts-website/src/features/homepage/components/IndexDocsExampleRunner.tsx
  packages/ag-charts-website/src/features/homepage/components/IndexExampleIFrame.module.scss
  packages/ag-charts-website/src/features/homepage/components/IndexExampleIFrame.tsx
  packages/ag-charts-website/src/features/homepage/components/IndexExampleRunner.module.scss
  packages/ag-charts-website/src/features/homepage/components/IndexExampleRunner.tsx
  packages/ag-charts-website/src/features/homepage/components/IndexLegacyExampleRunner.module.scss
Owners: @taktran, @markdurrant, @ag-grid/ag-charts-team

AG-12466 Use menuitemradio role for the chartType tool
  packages/ag-charts-enterprise/src/components/menu/menu.ts
  packages/ag-charts-enterprise/src/features/chart-toolbar/chartToolbar.ts
Owners: @alantreadway

AG-12466 CR nit menuitemrole -> menuItemRole
  packages/ag-charts-enterprise/src/components/menu/menu.ts
  packages/ag-charts-enterprise/src/features/chart-toolbar/chartToolbar.ts
Owners: @alantreadway

Radial gauge options
  packages/ag-charts-types/src/series/gauge/radialGaugeOptions.ts
Owners: @ag-grid/ag-charts-team

Regex compat
  packages/ag-charts-community/src/chart/data/dataModel.ts
Owners: @alantreadway
