Repository ag-grid/ag-charts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ag-grid/ag-charts-team, @markdurrant, @taktran, @alantreadway, @rmc-software

.github/CODEOWNERS:

# NOTE: Order of entries matters - later entries have higher precedence.

# Attribute code-owners so default reviewers are assigned to PRs.
* @ag-grid/ag-charts-team

# Astro + website changes to be reviewed by website team.
*.scss @markdurrant
*.astro @taktran
/packages/ag-charts-website/astro/** @taktran
/packages/ag-charts-website/components/** @taktran
/packages/ag-charts-website/features/** @taktran
/packages/ag-charts-website/layouts/** @taktran
/packages/ag-charts-website/stores/** @taktran
/packages/ag-charts-website/utils/** @taktran

# Docs updates to be reviewed by Eng VP.
/packages/ag-charts-website/content/** @alantreadway @rmc-software
*.mdoc @rmc-software

# Charts library code to be reviewed by Chart TL.
/packages/ag-charts-community/** @alantreadway
/packages/ag-charts-enterprise/** @alantreadway

# Sensitive build/repo files to be reviewed by Chart TL.
**/package.json @alantreadway
nx.json @alantreadway
**/project.json @alantreadway
**/tsconfig.json @alantreadway
**/tsconfig.*.json @alantreadway

AG-10433 Add data source example to zoom docs and remove lazy load examples
  packages/ag-charts-website/src/content/docs/lazy-loading/_examples/lazy-loading-debug/main.ts
  packages/ag-charts-website/src/content/docs/lazy-loading/_examples/lazy-loading-granularity/fakeServer.ts
  packages/ag-charts-website/src/content/docs/lazy-loading/_examples/lazy-loading-granularity/index.html
  packages/ag-charts-website/src/content/docs/lazy-loading/_examples/lazy-loading-granularity/main.ts
  packages/ag-charts-website/src/content/docs/lazy-loading/_examples/lazy-loading-initial-zoom/data.ts
  packages/ag-charts-website/src/content/docs/lazy-loading/_examples/lazy-loading-initial-zoom/index.html
  packages/ag-charts-website/src/content/docs/lazy-loading/_examples/lazy-loading-initial-zoom/main.ts
  packages/ag-charts-website/src/content/docs/lazy-loading/_examples/lazy-loading-server/data.ts
  packages/ag-charts-website/src/content/docs/lazy-loading/_examples/lazy-loading-server/index.html
  packages/ag-charts-website/src/content/docs/lazy-loading/_examples/lazy-loading-window/data.ts
  packages/ag-charts-website/src/content/docs/lazy-loading/_examples/lazy-loading-window/index.html
  packages/ag-charts-website/src/content/docs/lazy-loading/_examples/lazy-loading-window/main.ts
  packages/ag-charts-website/src/content/docs/lazy-loading/_examples/lazy-loading/data.ts
  packages/ag-charts-website/src/content/docs/lazy-loading/_examples/lazy-loading/index.html
  packages/ag-charts-website/src/content/docs/lazy-loading/_examples/lazy-loading/main.ts
  packages/ag-charts-website/src/content/docs/lazy-loading/index.mdoc
  packages/ag-charts-website/src/content/docs/zoom/_examples/zoom-anchor-point/main.ts
  packages/ag-charts-website/src/content/docs/zoom/_examples/zoom-async/data.ts
  packages/ag-charts-website/src/content/docs/zoom/_examples/zoom-async/fakeServer.ts
  packages/ag-charts-website/src/content/docs/zoom/_examples/zoom-async/index.html
  packages/ag-charts-website/src/content/docs/zoom/_examples/zoom-async/main.ts
  packages/ag-charts-website/src/content/docs/zoom/_examples/zoom-axes/main.ts
  packages/ag-charts-website/src/content/docs/zoom/_examples/zoom-axis-dragging/main.ts
  packages/ag-charts-website/src/content/docs/zoom/_examples/zoom-context-menu/main.ts
  packages/ag-charts-website/src/content/docs/zoom/_examples/zoom-min-visible-items/main.ts
  packages/ag-charts-website/src/content/docs/zoom/_examples/zoom-pan-key/main.ts
  packages/ag-charts-website/src/content/docs/zoom/_examples/zoom-scrolling-step/main.ts
  packages/ag-charts-website/src/content/docs/zoom/_examples/zoom-selecting/main.ts
  packages/ag-charts-website/src/content/docs/zoom/_examples/zoom/main.ts
  packages/ag-charts-website/src/content/docs/zoom/index.mdoc
  packages/ag-charts-website/src/content/menu/data.json
Owners: @ag-grid/ag-charts-team, @rmc-software

Automated package version bump to 9.0.2-beta.20240214.1651.
  .env
  libraries/ag-charts-test/package.json
  package.json
  packages/ag-charts-angular/package.json
  packages/ag-charts-angular/projects/ag-charts-angular/package.json
  packages/ag-charts-community-examples/package.json
  packages/ag-charts-community/package.json
  packages/ag-charts-community/src/version.ts
  packages/ag-charts-enterprise/package.json
  packages/ag-charts-react/package.json
  packages/ag-charts-vue/package.json
  packages/ag-charts-vue3/package.json
  packages/ag-charts-website/.env.build
  packages/ag-charts-website/.env.build.archive
  packages/ag-charts-website/.env.build.production
  packages/ag-charts-website/.env.build.staging
  packages/ag-charts-website/.env.dev
  packages/ag-charts-website/.env.preview
  packages/ag-charts-website/.env.preview.production
  packages/ag-charts-website/.env.preview.staging
  packages/ag-charts-website/package.json
  plugins/ag-charts-generate-chart-thumbnail/package.json
  plugins/ag-charts-generate-code-reference-files/package.json
  plugins/ag-charts-generate-example-files/package.json
Owners: @ag-grid/ag-charts-team, @alantreadway

AG-10469 - Support dynamic licensing page window height and toggle
  packages/ag-charts-website/src/features/license-pricing/LicensePricing.tsx
Owners: @ag-grid/ag-charts-team

merge fix
  packages/ag-charts-community/src/chart/cartesianChart.ts
  packages/ag-charts-community/src/chart/chart.ts
Owners: @alantreadway

AG-10701 - Fix Pie + Donut specific redundant highlight styling animation.
  packages/ag-charts-community/src/chart/series/polar/donutSeries.ts
  packages/ag-charts-community/src/chart/series/polar/pieSeries.ts
Owners: @alantreadway

AG-10647 hide showInMiniChart from bullet series
  packages/ag-charts-community/src/options/series/cartesian/bulletOptions.ts
Owners: @alantreadway

AG-10715 Fix mini chart in dark mode
  packages/ag-charts-enterprise/src/features/navigator/navigatorModule.ts
Owners: @alantreadway

AG-10430 Fix overlays to use fully resolved shrink rect
  packages/ag-charts-community/src/chart/update/overlaysProcessor.ts
Owners: @alantreadway

AG-10662 Remove max spacing from gradient legend ticks
  packages/ag-charts-enterprise/src/gradient-legend/gradientLegendThemes.ts
Owners: @alantreadway

AG-10649 Fix options for minichart axes
  packages/ag-charts-community/src/chart/chart.ts
  packages/ag-charts-community/src/chart/navigator/shapes/rangeHandle.ts
Owners: @alantreadway

AG-10086 Add data source tests
  packages/ag-charts-community/src/chart/test/utils.ts
  packages/ag-charts-enterprise/src/features/data-source/__image_snapshots__/data-source-test-ts-data-source-should-load-data-asynchronously-1-snap.png
  packages/ag-charts-enterprise/src/features/data-source/__image_snapshots__/data-source-test-ts-data-source-with-window-should-change-the-window-after-a-change-in-zoom-1-snap.png
  packages/ag-charts-enterprise/src/features/data-source/__image_snapshots__/data-source-test-ts-data-source-with-window-should-change-the-window-after-a-change-in-zoom-2-snap.png
  packages/ag-charts-enterprise/src/features/data-source/__image_snapshots__/data-source-test-ts-data-source-with-window-should-load-a-window-at-the-end-1-snap.png
  packages/ag-charts-enterprise/src/features/data-source/__image_snapshots__/data-source-test-ts-data-source-with-window-should-load-a-window-in-the-middle-1-snap.png
  packages/ag-charts-enterprise/src/features/data-source/dataSource.test.ts
Owners: @alantreadway

AG-10718 - Increase search input width for larger screens, fix search results container offset issue
  packages/ag-charts-website/src/design-system/modules/Search.module.scss
Owners: @markdurrant

AG-10409 Add new K-Tree based input handling
  packages/ag-charts-community/src/chart/interaction/interactionManager.ts
  packages/ag-charts-community/src/chart/legend.ts
  packages/ag-charts-community/src/chart/legendDatum.ts
  packages/ag-charts-community/src/scene/util/ktree.ts
Owners: @alantreadway

AG-10409 Fix legend.test.ts
  packages/ag-charts-community/src/chart/legend.test.ts
Owners: @alantreadway

AG-10409 Move BBoxSet into utils/
  packages/ag-charts-community/src/chart/interaction/interactionManager.ts
  packages/ag-charts-community/src/util/bboxset.ts
Owners: @alantreadway

AG-10409 Fix chart.test.ts
  packages/ag-charts-community/src/chart/interaction/interactionManager.ts
Owners: @alantreadway

AG-10409 Reduce specificity of InteractionManager.addRegion arg #2
  packages/ag-charts-community/src/chart/interaction/interactionManager.ts
  packages/ag-charts-community/src/util/bboxset.ts
Owners: @alantreadway

AG-10409 Use a BBox array instead of a tree
  packages/ag-charts-community/src/chart/interaction/interactionManager.ts
  packages/ag-charts-community/src/scene/util/bboxset.ts
  packages/ag-charts-community/src/scene/util/ktree.ts
Owners: @alantreadway

AG-10409 Fix errorBar.test.ts
  packages/ag-charts-community/src/chart/legend.test.ts
  packages/ag-charts-community/src/chart/test/utils.ts
  packages/ag-charts-enterprise/src/features/error-bar/errorBar.test.ts
Owners: @alantreadway

AG-10409 Move new feature into new regionManager.ts class
  packages/ag-charts-community/src/chart/interaction/interactionManager.ts
  packages/ag-charts-community/src/chart/interaction/regionManager.ts
Owners: @alantreadway

AG-10409 Remove 'hover-end' and use existing 'leave' event
  packages/ag-charts-community/src/chart/interaction/interactionManager.ts
  packages/ag-charts-community/src/chart/legend.ts
Owners: @alantreadway

AG-10409 Fix BBox sort logic
  packages/ag-charts-community/src/util/bboxset.ts
Owners: @alantreadway

AG-10409 Make RegionManager depend on InteractionManager
  packages/ag-charts-community/src/chart/chart.ts
  packages/ag-charts-community/src/chart/interaction/interactionManager.ts
  packages/ag-charts-community/src/chart/interaction/regionManager.ts
  packages/ag-charts-community/src/chart/legend.ts
  packages/ag-charts-community/src/module/moduleContext.ts
Owners: @alantreadway

AG-10409 Revert obsolete changes to interactionManager.ts
  packages/ag-charts-community/src/chart/interaction/interactionManager.ts
Owners: @alantreadway

AG-10409 Rename InteractionTypesArray
  packages/ag-charts-community/src/chart/interaction/interactionManager.ts
  packages/ag-charts-community/src/chart/interaction/regionManager.ts
Owners: @alantreadway

AG-10409 Handle RegionManager cleanup
  packages/ag-charts-community/src/chart/chart.ts
  packages/ag-charts-community/src/chart/interaction/regionManager.ts
  packages/ag-charts-community/src/util/bboxset.ts
Owners: @alantreadway

AG-10409 Fix treemap/sunburst tests
  packages/ag-charts-community/src/chart/test/utils.ts
  packages/ag-charts-enterprise/src/series/sunburst/sunburstSeries.test.ts
  packages/ag-charts-enterprise/src/series/treemap/treemapSeries.test.ts
Owners: @alantreadway

AG-10430 Update loading overlay style and dark theme
  packages/ag-charts-community/src/chart/mapping/__snapshots__/prepare.test.ts.snap
  packages/ag-charts-community/src/chart/overlay/chartOverlays.ts
  packages/ag-charts-community/src/chart/themes/chartTheme.ts
Owners: @alantreadway

AG-10086 Change overlays processor to use layout complete event
  packages/ag-charts-community/src/chart/update/overlaysProcessor.ts
Owners: @alantreadway

AG-10086 Fix data window should not refresh on unchanged zoom
  packages/ag-charts-community/src/chart/update/dataWindowProcessor.ts
Owners: @alantreadway

AG-10409 Add new region-based input handling (#978)
  packages/ag-charts-community/src/chart/chart.ts
  packages/ag-charts-community/src/chart/interaction/interactionManager.ts
  packages/ag-charts-community/src/chart/interaction/regionManager.ts
  packages/ag-charts-community/src/chart/legend.test.ts
  packages/ag-charts-community/src/chart/legend.ts
  packages/ag-charts-community/src/chart/legendDatum.ts
  packages/ag-charts-community/src/chart/test/utils.ts
  packages/ag-charts-community/src/module/moduleContext.ts
  packages/ag-charts-community/src/util/bboxset.ts
  packages/ag-charts-enterprise/src/features/error-bar/errorBar.test.ts
  packages/ag-charts-enterprise/src/series/sunburst/sunburstSeries.test.ts
  packages/ag-charts-enterprise/src/series/treemap/treemapSeries.test.ts
Owners: @alantreadway

AG-10334 - Non-breaking theme palette type fixes.
  packages/ag-charts-community/src/options/chart/themeOptions.ts
Owners: @alantreadway

AG-9928 Remove unused TS file
  packages/ag-charts-community/src/scene/util/bboxset.ts
Owners: @alantreadway

Fix windows style new-line char error in examples generation
  plugins/ag-charts-generate-example-files/src/executors/generate/generator/transformation-scripts/parser-utils.ts
Owners: @ag-grid/ag-charts-team

AG-9928 Fix compilation due to incorrect merge
  packages/ag-charts-community/src/chart/legend.ts
Owners: @alantreadway

AG-10426 Fix data window processor default window values
  packages/ag-charts-community/src/scale/timeScale.ts
Owners: @alantreadway

AG-10676
  packages/ag-charts-community/src/chart/chart.ts
  packages/ag-charts-community/src/chart/interaction/syncManager.ts
Owners: @alantreadway

Release notes plus Navigator page docs
  packages/ag-charts-website/src/content/docs/navigator/_examples/mini-chart-styling/main.ts
  packages/ag-charts-website/src/content/docs/navigator/_examples/mini-chart/main.ts
  packages/ag-charts-website/src/content/docs/navigator/_examples/navigator-styling/main.ts
  packages/ag-charts-website/src/content/docs/navigator/_examples/navigator/main.ts
  packages/ag-charts-website/src/content/docs/navigator/index.mdoc
  packages/ag-charts-website/src/content/docs/upgrade-to-ag-charts-9-1/index.mdoc
  packages/ag-charts-website/src/content/docs/zoom/_examples/zoom-async/main.ts
  packages/ag-charts-website/src/content/menu/data.json
  packages/ag-charts-website/src/content/versions/data.json
Owners: @ag-grid/ag-charts-team, @rmc-software

Release notes plus Navigator page docs
  packages/ag-charts-website/src/content/docs/navigator/index.mdoc
Owners: @rmc-software

AG-10528 - Fix stacked BarSeries add/remove series animation.
  packages/ag-charts-community/src/chart/series/cartesian/barSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/barUtil.ts
  packages/ag-charts-community/src/chart/series/cartesian/histogramSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/histogramSeriesProperties.ts
  packages/ag-charts-enterprise/src/series/bullet/bulletSeries.ts
  packages/ag-charts-enterprise/src/series/range-bar/rangeBar.ts
  packages/ag-charts-enterprise/src/series/waterfall/waterfallSeries.ts
  packages/ag-charts-website/src/content/docs/bar-series-test/_examples/animation/index.html
  packages/ag-charts-website/src/content/docs/bar-series-test/_examples/animation/main.ts
Owners: @alantreadway, @ag-grid/ag-charts-team
