Repository ag-grid/ag-charts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ag-grid/ag-charts-team, @markdurrant, @taktran, @alantreadway, @rmc-software

Update image paths
  README.md
  packages/ag-charts-angular/README.md
  packages/ag-charts-community/README.md
  packages/ag-charts-enterprise/README.md
  packages/ag-charts-locale/README.md
  packages/ag-charts-react/README.md
  packages/ag-charts-types/README.md
  packages/ag-charts-vue3/README.md
  tools/readme/sync-readme-new.js
Owners: @ag-grid/ag-charts-team, @alantreadway

Cleanup SAM node pick logic.
  packages/ag-charts-community/src/chart/series/series.ts
  packages/ag-charts-community/src/chart/series/seriesAreaManager.ts
Owners: @alantreadway

Split out highlght handling.
  packages/ag-charts-community/src/chart/series/seriesAreaHighlightManager.ts
Owners: @alantreadway

Prevent icon wrapping
  README.md
Owners: @ag-grid/ag-charts-team

Split out highlght handling.
  packages/ag-charts-community/src/chart/series/temp.ts
Owners: @alantreadway

Split out highlght handling.
  packages/ag-charts-community/src/chart/series/seriesAreaManager.ts
Owners: @alantreadway

prevent icon wrapping #2
  README.md
Owners: @ag-grid/ag-charts-team

Add exception for community README
  packages/ag-charts-community/README.md
  tools/readme/sync-readme-new.js
Owners: @alantreadway, @ag-grid/ag-charts-team

Update ag grid links with correct framework
  packages/ag-charts-angular/README.md
  packages/ag-charts-react/README.md
  packages/ag-charts-vue3/README.md
  tools/readme/sync-readme-new.js
Owners: @ag-grid/ag-charts-team

AG-12294 Update icons
  packages/ag-charts-community/src/chart/dom/domStyles.css
  packages/ag-charts-community/src/chart/toolbar/toolbarModule.ts
  packages/ag-charts-community/src/chart/toolbar/toolbarStyles.css
  packages/ag-charts-types/src/chart/toolbarOptions.ts
Owners: @alantreadway, @ag-grid/ag-charts-team

AG-12294 Add icons test example page and e2e test
  packages/ag-charts-website/e2e/icons.spec.ts
  packages/ag-charts-website/e2e/icons.spec.ts-snapshots/icons-chromium-darwin.png
  packages/ag-charts-website/src/content/docs/financial-charts-test/_examples/icons/index.html
  packages/ag-charts-website/src/content/docs/financial-charts-test/_examples/icons/main.ts
  packages/ag-charts-website/src/content/docs/financial-charts-test/index.mdoc
Owners: @ag-grid/ag-charts-team, @rmc-software

Fix broken links
  README.md
Owners: @ag-grid/ag-charts-team

Update sync script
  tools/readme/sync-readme-new.js
  tools/readme/sync-readme.js
Owners: @ag-grid/ag-charts-team

re-run sync
  packages/ag-charts-angular/README.md
  packages/ag-charts-community/README.md
  packages/ag-charts-enterprise/README.md
  packages/ag-charts-locale/README.md
  packages/ag-charts-react/README.md
  packages/ag-charts-types/README.md
  packages/ag-charts-vue3/README.md
Owners: @ag-grid/ag-charts-team, @alantreadway

Split out highlght handling.
  packages/ag-charts-community/src/chart/series/seriesAreaFocusManager.ts
  packages/ag-charts-community/src/chart/series/seriesAreaHighlightManager.ts
  packages/ag-charts-community/src/chart/series/seriesAreaManager.ts
  packages/ag-charts-community/src/chart/series/util.ts
Owners: @alantreadway

Add single quote support to prettier
  tools/readme/sync-readme.js
Owners: @ag-grid/ag-charts-team

Update formatting
  packages/ag-charts-angular/README.md
  packages/ag-charts-community/README.md
  packages/ag-charts-enterprise/README.md
  packages/ag-charts-locale/README.md
  packages/ag-charts-react/README.md
  packages/ag-charts-types/README.md
  packages/ag-charts-vue3/README.md
Owners: @ag-grid/ag-charts-team, @alantreadway

AG-12294 Update old icons to legacy
  packages/ag-charts-community/src/chart/dom/domManager.ts
  packages/ag-charts-community/src/chart/dom/domStyles.css
  packages/ag-charts-community/src/chart/toolbar/toolbar.ts
  packages/ag-charts-community/src/chart/toolbar/toolbarModule.ts
  packages/ag-charts-community/src/chart/toolbar/toolbarTypes.ts
  packages/ag-charts-enterprise/src/features/annotations/axisButton.css
  packages/ag-charts-enterprise/src/features/annotations/axisButton.ts
  packages/ag-charts-types/src/chart/toolbarOptions.ts
Owners: @alantreadway, @ag-grid/ag-charts-team

Fix merge conflict compile error.
  packages/ag-charts-community/src/chart/series/seriesAreaManager.ts
Owners: @alantreadway

AG-12294 Update e2e tests for icons
  packages/ag-charts-website/e2e/financial-charts-showcase.spec.ts-snapshots/zoom-and-hover-on-out-of-y-range-prices-chromium-darwin.png
  packages/ag-charts-website/e2e/toolbar.spec.ts-snapshots/line-annotation-1-button-active-chromium-darwin.png
  packages/ag-charts-website/e2e/toolbar.spec.ts-snapshots/line-annotation-2-drawing-chromium-darwin.png
  packages/ag-charts-website/e2e/toolbar.spec.ts-snapshots/line-annotation-3-complete-chromium-darwin.png
  packages/ag-charts-website/e2e/zoom.spec.ts-snapshots/after-navigator-drag-x-axis-chromium-darwin.png
  packages/ag-charts-website/e2e/zoom.spec.ts-snapshots/after-navigator-drag-y-axis-chromium-darwin.png
  packages/ag-charts-website/e2e/zoom.spec.ts-snapshots/before-navigator-drag-y-axis-chromium-darwin.png
  packages/ag-charts-website/e2e/zoom.spec.ts-snapshots/with-navigator-drag-x-axis-chromium-darwin.png
  packages/ag-charts-website/e2e/zoom.spec.ts-snapshots/with-navigator-drag-y-axis-chromium-darwin.png
Owners: @ag-grid/ag-charts-team

Update NPM keywords
  packages/ag-charts-angular/package.json
  packages/ag-charts-community/package.json
  packages/ag-charts-enterprise/package.json
  packages/ag-charts-react/package.json
  packages/ag-charts-vue3/package.json
Owners: @alantreadway

AG-12294 Update options test snapshot
  packages/ag-charts-community/src/module/__snapshots__/optionsModule.test.ts.snap
Owners: @alantreadway

Remove image script
  tools/readme/update-readme-image.js
Owners: @ag-grid/ag-charts-team

Split out tooltip handling.
  packages/ag-charts-community/src/chart/series/seriesAreaTooltipManager.ts
Owners: @alantreadway

Split out tooltip handling.
  packages/ag-charts-community/src/chart/series/temp.ts
Owners: @alantreadway

Split out tooltip handling.
  packages/ag-charts-community/src/chart/series/seriesAreaManager.ts
Owners: @alantreadway

Split out tooltip handling.
  packages/ag-charts-community/src/chart/series/seriesAreaManager.ts
  packages/ag-charts-community/src/chart/series/seriesAreaTooltipManager.ts
  packages/ag-charts-community/src/chart/series/seriesTypes.ts
Owners: @alantreadway

Split out nodeClick handling.
  packages/ag-charts-community/src/chart/series/seriesAreaClickManager.ts
Owners: @alantreadway

AG-12088 Refactor out common textual annotation behaviour
  packages/ag-charts-enterprise/src/features/annotations/annotationTypes.ts
  packages/ag-charts-enterprise/src/features/annotations/annotationsConfig.ts
  packages/ag-charts-enterprise/src/features/annotations/annotationsModule.ts
  packages/ag-charts-enterprise/src/features/annotations/annotationsSuperTypes.ts
  packages/ag-charts-enterprise/src/features/annotations/callout/calloutProperties.ts
  packages/ag-charts-enterprise/src/features/annotations/callout/calloutScene.ts
  packages/ag-charts-enterprise/src/features/annotations/callout/calloutState.ts
  packages/ag-charts-enterprise/src/features/annotations/comment/commentProperties.ts
  packages/ag-charts-enterprise/src/features/annotations/comment/commentScene.ts
  packages/ag-charts-enterprise/src/features/annotations/comment/commentState.ts
  packages/ag-charts-enterprise/src/features/annotations/note/noteProperties.ts
  packages/ag-charts-enterprise/src/features/annotations/note/noteScene.ts
  packages/ag-charts-enterprise/src/features/annotations/note/noteState.ts
  packages/ag-charts-enterprise/src/features/annotations/properties/textualProperties.ts
  packages/ag-charts-enterprise/src/features/annotations/scenes/textualScene.ts
  packages/ag-charts-enterprise/src/features/annotations/states/textualState.ts
  packages/ag-charts-enterprise/src/features/annotations/text/textProperties.ts
  packages/ag-charts-enterprise/src/features/annotations/text/textScene.ts
  packages/ag-charts-enterprise/src/features/annotations/text/textState.ts
  packages/ag-charts-types/src/chart/annotationsOptions.ts
Owners: @alantreadway, @ag-grid/ag-charts-team

Split out nodeClick handling.
  packages/ag-charts-community/src/chart/series/temp.ts
Owners: @alantreadway

Split out nodeClick handling.
  packages/ag-charts-community/src/chart/series/seriesAreaManager.ts
Owners: @alantreadway

Pointer mode fixes
  packages/ag-charts-community/src/chart/interaction/interactionManager.ts
  packages/ag-charts-community/src/chart/tooltip/tooltip.ts
  packages/ag-charts-enterprise/src/features/color-picker/colorPickerTemplate.html
Owners: @alantreadway

Update pointer capture vernacular
  packages/ag-charts-community/src/chart/interaction/interactionManager.ts
  packages/ag-charts-community/src/chart/tooltip/tooltip.ts
  packages/ag-charts-enterprise/src/features/color-picker/colorPickerTemplate.html
Owners: @alantreadway

AG-12294 Add non-updated alt icons back with original names
  packages/ag-charts-community/src/chart/dom/domStyles.css
  packages/ag-charts-types/src/chart/toolbarOptions.ts
Owners: @alantreadway, @ag-grid/ag-charts-team

Snapshots
  packages/ag-charts-enterprise/src/features/error-bar/__snapshots__/errorBar.test.ts.snap
Owners: @alantreadway

Split out nodeClick handling.
  packages/ag-charts-community/src/chart/chart.ts
  packages/ag-charts-community/src/chart/series/seriesAreaClickManager.ts
  packages/ag-charts-community/src/chart/series/seriesAreaManager.ts
Owners: @alantreadway

AG-12294 Add deprecation for zoom alt icons
  packages/ag-charts-community/src/chart/toolbar/toolbarProperties.ts
  packages/ag-charts-types/src/chart/toolbarOptions.ts
Owners: @alantreadway, @ag-grid/ag-charts-team

Updated supported framework docs
  packages/ag-charts-website/src/content/docs/supported-frameworks/index.mdoc
Owners: @rmc-software

Cleanup SeriesAreaManager.
  packages/ag-charts-community/src/chart/series/seriesAreaClickManager.ts
  packages/ag-charts-community/src/chart/series/seriesAreaFocusManager.ts
  packages/ag-charts-community/src/chart/series/seriesAreaHighlightManager.ts
  packages/ag-charts-community/src/chart/series/seriesAreaManager.ts
  packages/ag-charts-community/src/chart/series/seriesAreaTooltipManager.ts
Owners: @alantreadway

Fix zoom double-click handling.
  packages/ag-charts-community/src/chart/series/seriesAreaClickManager.ts
Owners: @alantreadway

.github/CODEOWNERS:

# NOTE: Order of entries matters - later entries have higher precedence.

# Attribute code-owners so default reviewers are assigned to PRs.
* @ag-grid/ag-charts-team

# Astro + website changes to be reviewed by website team.
*.scss @markdurrant
*.astro @taktran
/packages/ag-charts-website/astro/** @taktran
/packages/ag-charts-website/components/** @taktran
/packages/ag-charts-website/features/** @taktran
/packages/ag-charts-website/layouts/** @taktran
/packages/ag-charts-website/stores/** @taktran
/packages/ag-charts-website/utils/** @taktran

# Docs updates to be reviewed by Eng VP.
/packages/ag-charts-website/content/** @alantreadway @rmc-software
*.mdoc @rmc-software

# Charts library code to be reviewed by Chart TL.
/packages/ag-charts-community/** @alantreadway
/packages/ag-charts-enterprise/** @alantreadway

# Sensitive build/repo files to be reviewed by Chart TL.
**/package.json @alantreadway
nx.json @alantreadway
**/project.json @alantreadway
**/tsconfig.json @alantreadway
**/tsconfig.*.json @alantreadway
