Repository ag-grid/ag-charts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ag-grid/ag-charts-team, @markdurrant, @taktran, @alantreadway, @rmc-software

AG-9321 Clip colorRange[].stop to scale.max
  packages/ag-charts-enterprise/src/series/bullet/bulletSeries.ts
Owners: @alantreadway

AG-9301 Clip everything to scale.max
  packages/ag-charts-enterprise/src/series/bullet/bulletSeries.ts
Owners: @alantreadway

AG-9301 Update AgBulletSeriesOptions
  packages/ag-charts-community/src/options/series/cartesian/bulletOptions.ts
Owners: @alantreadway

AG-9301 Use axes[0].max in bullet series
  packages/ag-charts-community/src/chart/factory/seriesTypes.ts
  packages/ag-charts-community/src/chart/factory/setupModules.ts
  packages/ag-charts-community/src/chart/mapping/prepare.ts
  packages/ag-charts-community/src/module/coreModules.ts
  packages/ag-charts-enterprise/src/series/bullet/bulletDefaults.ts
  packages/ag-charts-enterprise/src/series/bullet/bulletModule.ts
  packages/ag-charts-enterprise/src/series/bullet/bulletSeries.ts
Owners: @alantreadway

AG-9301 Process only the first datum in bullet graphs
  packages/ag-charts-enterprise/src/series/bullet/bulletSeries.ts
Owners: @alantreadway

AG-9649 - Remove redundant scatter+bubble diff.
  packages/ag-charts-community/src/chart/series/cartesian/bubbleSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/scatterSeries.ts
Owners: @alantreadway

AG-9649 - Remove redundant scatter+bubble diff.
  packages/ag-charts-community/src/chart/series/cartesian/bubbleSeries.ts
Owners: @alantreadway

Fix AG-9675 (#508)
  packages/ag-charts-community/src/chart/series/cartesian/bubbleSeries.ts
Owners: @alantreadway

Update snapshots
  packages/ag-charts-enterprise/src/__image_snapshots__/gallery-examples-test-ts-gallery-examples-ag-chart-v-2-create-for-market-index-sunburst-graph-example-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-enterprise/src/series/sunburst/__image_snapshots__/sunburst-series-test-ts-sunburst-chart-series-highlighting-should-render-a-complex-chart-1-snap.png
  packages/ag-charts-enterprise/src/series/sunburst/__image_snapshots__/sunburst-series-test-ts-sunburst-chart-series-highlighting-should-render-highlight-at-depth-0-1-snap.png
  packages/ag-charts-enterprise/src/series/sunburst/__image_snapshots__/sunburst-series-test-ts-sunburst-chart-series-highlighting-should-render-highlight-at-depth-1-1-snap.png
  packages/ag-charts-enterprise/src/series/sunburst/__image_snapshots__/sunburst-series-test-ts-sunburst-chart-series-highlighting-should-render-highlight-at-depth-2-1-snap.png
  packages/ag-charts-enterprise/src/series/sunburst/__image_snapshots__/sunburst-series-test-ts-sunburst-chart-series-highlighting-should-render-highlight-at-depth-3-1-snap.png
  packages/ag-charts-enterprise/src/series/sunburst/__image_snapshots__/sunburst-series-test-ts-sunburst-chart-series-labels-for-sunburst-series-labels-it-should-render-to-canvas-as-expected-1-snap.png
Owners: @alantreadway

AG-9609 - Fix example runner missing preview icon
  packages/ag-charts-website/src/components/icon/Icon.tsx
Owners: @ag-grid/ag-charts-team

AG-3390 - Remove redundant import
  packages/ag-charts-website/src/components/tabs/TabsWithHtmlChildren.astro
Owners: @taktran

AG-9571 - Change gallery simple pie example
  packages/ag-charts-website/src/content/gallery/_examples/simple-pie/data.ts
  packages/ag-charts-website/src/content/gallery/_examples/simple-pie/main.ts
Owners: @ag-grid/ag-charts-team

AG-9571 - Update gallery pie with variable radii example
  packages/ag-charts-website/src/content/gallery/_examples/pie-with-variable-radius/main.ts
Owners: @ag-grid/ag-charts-team

AG-9571 - Update gallery pie in a doughnut example
  packages/ag-charts-website/src/content/gallery/_examples/pie-in-a-doughnut/main.ts
Owners: @ag-grid/ag-charts-team

AG-9571 - Update gallery simple doughnut example
  packages/ag-charts-website/src/content/gallery/_examples/simple-doughnut/data.ts
  packages/ag-charts-website/src/content/gallery/_examples/simple-doughnut/main.ts
Owners: @ag-grid/ag-charts-team

AG-9571 - New Gallery multiple doughnuts example
  packages/ag-charts-website/src/content/gallery/_examples/multiple-doughnuts/data.ts
  packages/ag-charts-website/src/content/gallery/_examples/multiple-doughnuts/index.html
  packages/ag-charts-website/src/content/gallery/_examples/multiple-doughnuts/main.ts
Owners: @ag-grid/ag-charts-team

AG-9571 - New Gallery doughnut with variable radius example
  packages/ag-charts-website/src/content/gallery/_examples/doughnut-with-variable-radius/data.ts
  packages/ag-charts-website/src/content/gallery/_examples/doughnut-with-variable-radius/index.html
  packages/ag-charts-website/src/content/gallery/_examples/doughnut-with-variable-radius/main.ts
Owners: @ag-grid/ag-charts-team

AG-9571 - Add new doughnut examples to gallery
  packages/ag-charts-website/src/content/gallery/data.json
Owners: @ag-grid/ag-charts-team

AG-6686 - Update default dark themes background color
  packages/ag-charts-community/src/chart/themes/darkTheme.ts
Owners: @alantreadway

AG-6686 - Update test screenshots
  packages/ag-charts-community/src/chart/__image_snapshots__/integrated-charts-examples-test-ts-integrated-charts-examples-changing-chart-type-for-crossfilter-bar-filtered-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-community/src/chart/__image_snapshots__/integrated-charts-examples-test-ts-integrated-charts-examples-changing-chart-type-for-crossfilter-bar-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-community/src/chart/__image_snapshots__/integrated-charts-examples-test-ts-integrated-charts-examples-changing-chart-type-for-crossfilter-column-filtered-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-community/src/chart/__image_snapshots__/integrated-charts-examples-test-ts-integrated-charts-examples-changing-chart-type-for-crossfilter-column-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-community/src/chart/__image_snapshots__/integrated-charts-examples-test-ts-integrated-charts-examples-changing-chart-type-for-crossfilter-pie-filtered-it-should-render-to-canvas-as-expected-1-snap.png
Owners: @alantreadway

Move to HSL over HSB, add support for HSL linear gradients
  packages/ag-charts-community/src/integrated-charts-scene.ts
  packages/ag-charts-community/src/scale/colorScale.test.ts
  packages/ag-charts-community/src/scale/colorScale.ts
  packages/ag-charts-community/src/scene/bbox.ts
  packages/ag-charts-community/src/scene/node.ts
  packages/ag-charts-community/src/scene/scene.ts
  packages/ag-charts-community/src/scene/shape/linearGradientFill.ts
  packages/ag-charts-community/src/util/color.ts
  packages/ag-charts-enterprise/src/gradient-legend/__image_snapshots__/gradient-legend-test-ts-chart-should-render-placeholder-chart-as-expected-1-snap.png
  packages/ag-charts-enterprise/src/gradient-legend/gradientLegend.ts
  packages/ag-charts-enterprise/src/series/heatmap/__image_snapshots__/heatmap-test-ts-chart-should-render-placeholder-chart-as-expected-1-snap.png
  packages/ag-charts-enterprise/src/series/sunburst/__image_snapshots__/sunburst-series-test-ts-sunburst-chart-series-labels-for-sunburst-series-labels-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-enterprise/src/series/treemap/__image_snapshots__/treemap-series-test-ts-hierarchy-chart-series-labels-for-treemap-series-labels-it-should-render-to-canvas-as-expected-1-snap.png
Owners: @alantreadway

Re-enable vertical gradients
  packages/ag-charts-community/src/scene/shape/linearGradientFill.ts
  packages/ag-charts-enterprise/src/gradient-legend/gradientLegend.ts
Owners: @alantreadway

AG-9717 - Rework Axis label selection datums ready for animation.
  packages/ag-charts-community/src/chart/axis/axis.ts
  packages/ag-charts-community/src/chart/axis/axisUtil.ts
  packages/ag-charts-community/src/module-support.ts
  packages/ag-charts-enterprise/src/axes/angle/angleAxis.ts
  packages/ag-charts-enterprise/src/axes/radius/radiusAxis.ts
Owners: @alantreadway

AG-9717 - Add animated axis label example.
  packages/ag-charts-website/src/content/docs/axes-labels-test/_examples/axis-label-rotation/data.ts
  packages/ag-charts-website/src/content/docs/axes-labels-test/_examples/axis-label-rotation/index.html
  packages/ag-charts-website/src/content/docs/axes-labels-test/_examples/axis-label-rotation/main.ts
  packages/ag-charts-website/src/content/docs/axes-labels-test/_examples/axis-label-rotation/styles.css
  packages/ag-charts-website/src/content/docs/axes-labels-test/index.mdoc
Owners: @ag-grid/ag-charts-team, @rmc-software

Cleanup legend docs and examples. Small changes to quick start
  packages/ag-charts-website/src/content/docs/create-a-basic-chart/index.mdoc
  packages/ag-charts-website/src/content/docs/formatters/index.mdoc
  packages/ag-charts-website/src/content/docs/legend-test/_examples/legend-layout-horizontal/index.html
  packages/ag-charts-website/src/content/docs/legend-test/_examples/legend-layout-horizontal/main.ts
  packages/ag-charts-website/src/content/docs/legend-test/_examples/legend-layout-horizontal/styles.css
  packages/ag-charts-website/src/content/docs/legend-test/_examples/legend-layout-vertical/index.html
  packages/ag-charts-website/src/content/docs/legend-test/_examples/legend-layout-vertical/main.ts
  packages/ag-charts-website/src/content/docs/legend-test/_examples/legend-layout-vertical/styles.css
  packages/ag-charts-website/src/content/docs/legend-test/_examples/legend-pagination/data.ts
  packages/ag-charts-website/src/content/docs/legend-test/_examples/legend-pagination/index.html
  packages/ag-charts-website/src/content/docs/legend-test/_examples/legend-pagination/main.ts
  packages/ag-charts-website/src/content/docs/legend-test/_examples/legend-pagination/styles.css
  packages/ag-charts-website/src/content/docs/legend-test/index.mdoc
  packages/ag-charts-website/src/content/docs/legend/_examples/legend-constraints/data.ts
  packages/ag-charts-website/src/content/docs/legend/_examples/legend-constraints/main.ts
  packages/ag-charts-website/src/content/docs/legend/_examples/legend-customisation/data.ts
  packages/ag-charts-website/src/content/docs/legend/_examples/legend-customisation/index.html
  packages/ag-charts-website/src/content/docs/legend/_examples/legend-customisation/main.ts
  packages/ag-charts-website/src/content/docs/legend/_examples/legend-customisation/styles.css
  packages/ag-charts-website/src/content/docs/legend/_examples/legend-pagination/main.ts
  packages/ag-charts-website/src/content/docs/legend/_examples/legend-position/data.ts
  packages/ag-charts-website/src/content/docs/legend/index.mdoc
  packages/ag-charts-website/src/content/docs/quick-start/index.mdoc
Owners: @rmc-software, @ag-grid/ag-charts-team

AG-3390 - Add framework root redirect to quick start
  packages/ag-charts-website/src/features/docs/constants.ts
  packages/ag-charts-website/src/features/docs/utils/pageData.ts
  packages/ag-charts-website/src/pages/[framework]/index.astro
  packages/ag-charts-website/src/pages/documentation.astro
  packages/ag-charts-website/src/pages/index.astro
Owners: @ag-grid/ag-charts-team, @taktran

Tweaks
  packages/ag-charts-community/src/scale/colorScale.test.ts
  packages/ag-charts-community/src/scene/scene.ts
Owners: @alantreadway

AG-8555 Add visible range scale to axis tick calculation
  packages/ag-charts-community/src/chart/axis/axis.ts
Owners: @alantreadway

Remove call to setTickCount() that would never resolve
  packages/ag-charts-community/src/chart/axis/axis.ts
Owners: @alantreadway

Add enterprise flag to navigator on left nav
  packages/ag-charts-website/src/content/menu/data.json
Owners: @ag-grid/ag-charts-team

AG-9717 - Axis label rotation animation.
  packages/ag-charts-community/src/chart/axis/axis.ts
  packages/ag-charts-community/src/chart/axis/axisUtil.ts
  packages/ag-charts-community/src/motion/fromToMotion.ts
  packages/ag-charts-enterprise/src/axes/radius/radiusAxis.ts
Owners: @alantreadway

AG-5670 Initial bullet graph animation
  packages/ag-charts-enterprise/src/series/bullet/bulletSeries.ts
Owners: @alantreadway

AG-9301 Set overrideable lengths of bullet graphs node shapes
  packages/ag-charts-community/src/options/series/cartesian/bulletOptions.ts
  packages/ag-charts-enterprise/src/series/bullet/bulletSeries.ts
  packages/ag-charts-enterprise/src/series/bullet/bulletThemes.ts
Owners: @alantreadway

AG-9715 - Make example runner `client:only`
  packages/ag-charts-website/src/features/docs/components/DocsExampleRunner.astro
  packages/ag-charts-website/src/features/example-runner/components/ExampleRunner.tsx
  packages/ag-charts-website/src/features/example-runner/components/ExampleRunnerContainer.astro
Owners: @taktran, @ag-grid/ag-charts-team

AG-3390 - Use variable instead of hard coding value
  packages/ag-charts-website/src/features/example-runner/components/ExampleRunner.tsx
Owners: @ag-grid/ag-charts-team

AG-3390 - Fix dark mode only applying to the first example runner
  packages/ag-charts-website/src/components/site-header/DarkModeToggle.jsx
  packages/ag-charts-website/src/features/example-runner/components/ExampleIFrame.tsx
Owners: @ag-grid/ag-charts-team

AG-8492 Add website examples to ts check
  packages/ag-charts-website/tsconfig.json
Owners: @alantreadway

Fix typescript errors in gallery and docs examples
  packages/ag-charts-community/src/options/chart/crossLineOptions.ts
  packages/ag-charts-community/src/options/chart/errorBarOptions.ts
  packages/ag-charts-enterprise/src/features/context-menu/contextMenuModule.ts
  packages/ag-charts-enterprise/src/features/error-bar/errorBarNode.ts
  packages/ag-charts-website/src/content/docs/area-series-test/_examples/category-animation/main.ts
  packages/ag-charts-website/src/content/docs/area-series-test/_examples/continuous-animation/main.ts
  packages/ag-charts-website/src/content/docs/axes-labels-test/_examples/axis-label-rotation/main.ts
  packages/ag-charts-website/src/content/docs/axes-labels/_examples/axis-label-rotation/main.ts
  packages/ag-charts-website/src/content/docs/bar-series-test/_examples/animation/main.ts
  packages/ag-charts-website/src/content/docs/bubble-series/_examples/bubble-chart-labels/main.ts
  packages/ag-charts-website/src/content/docs/error-bars-test/_examples/temperatures/main.ts
  packages/ag-charts-website/src/content/docs/legend-test/_examples/legend-layout-vertical/main.ts
  packages/ag-charts-website/src/content/docs/legend/_examples/legend-click-series-toggle/main.ts
  packages/ag-charts-website/src/content/docs/legend/_examples/legend-constraints/main.ts
  packages/ag-charts-website/src/content/docs/legend/_examples/legend-pagination/main.ts
  packages/ag-charts-website/src/content/docs/line-series-test/_examples/category-animation/main.ts
  packages/ag-charts-website/src/content/docs/line-series-test/_examples/continuous-animation/main.ts
  packages/ag-charts-website/src/content/docs/pie-series-test/_examples/animation/main.ts
  packages/ag-charts-website/src/content/docs/range-area-series/_examples/multiple-range-areas/main.ts
  packages/ag-charts-website/src/content/docs/range-bar-series-test/_examples/horizontal-range-bar-animation-add-data/main.ts
  packages/ag-charts-website/src/content/docs/range-bar-series-test/_examples/horizontal-range-bar-animation/main.ts
  packages/ag-charts-website/src/content/docs/range-bar-series-test/_examples/range-bar-animation-add-data/main.ts
  packages/ag-charts-website/src/content/docs/range-bar-series-test/_examples/range-bar-animation/main.ts
  packages/ag-charts-website/src/content/docs/range-bar-series/_examples/multiple-range-bars/main.ts
  packages/ag-charts-website/src/content/docs/range-bar-series/_examples/range-bar-labels/main.ts
  packages/ag-charts-website/src/content/docs/scatter-series-test/_examples/animation/main.ts
  packages/ag-charts-website/src/content/docs/series-highlighting/_examples/basic-pie-theme/main.ts
  packages/ag-charts-website/src/content/docs/series-highlighting/_examples/lines/main.ts
  packages/ag-charts-website/src/content/docs/themes/_examples/stock-themes/main.ts
  packages/ag-charts-website/src/content/docs/tooltips/_examples/default-tooltip/main.ts
  packages/ag-charts-website/src/content/docs/treemap-series/_examples/tile-padding/main.ts
  packages/ag-charts-website/src/content/gallery/_examples/bubble-with-negative-values/main.ts
  packages/ag-charts-website/src/content/gallery/_examples/large-datasets/main.ts
  packages/ag-charts-website/src/content/gallery/_examples/line-with-labels/main.ts
  packages/ag-charts-website/src/content/gallery/_examples/multiple-range-areas/main.ts
  packages/ag-charts-website/src/content/gallery/_examples/multiple-range-bars/main.ts
  packages/ag-charts-website/src/content/gallery/_examples/multiple-scatter-series/data.ts
  packages/ag-charts-website/src/content/gallery/_examples/radar-with-markers/main.ts
Owners: @alantreadway, @ag-grid/ag-charts-team

AG-8492 Add examples typescript check to build process
  packages/ag-charts-website/project.json
Owners: @alantreadway

AG-9301 Disable bullet selection garbage selection
  packages/ag-charts-enterprise/src/series/bullet/bulletSeries.ts
Owners: @alantreadway

.github/CODEOWNERS:

# NOTE: Order of entries matters - later entries have higher precedence.

# Attribute code-owners so default reviewers are assigned to PRs.
* @ag-grid/ag-charts-team

# Astro + website changes to be reviewed by website team.
*.scss @markdurrant
*.astro @taktran
/packages/ag-charts-website/astro/** @taktran
/packages/ag-charts-website/components/** @taktran
/packages/ag-charts-website/features/** @taktran
/packages/ag-charts-website/layouts/** @taktran
/packages/ag-charts-website/stores/** @taktran
/packages/ag-charts-website/utils/** @taktran

# Docs updates to be reviewed by Eng VP.
/packages/ag-charts-website/content/** @alantreadway @rmc-software
*.mdoc @rmc-software

# Charts library code to be reviewed by Chart TL.
/packages/ag-charts-community/** @alantreadway
/packages/ag-charts-enterprise/** @alantreadway

# Sensitive build/repo files to be reviewed by Chart TL.
**/package.json @alantreadway
nx.json @alantreadway
**/project.json @alantreadway
**/tsconfig.json @alantreadway
**/tsconfig.*.json @alantreadway
