Repository ag-grid/ag-charts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ag-grid/ag-charts-team, @markdurrant, @taktran, @alantreadway, @rmc-software

.github/CODEOWNERS:

# NOTE: Order of entries matters - later entries have higher precedence.

# Attribute code-owners so default reviewers are assigned to PRs.
* @ag-grid/ag-charts-team

# Astro + website changes to be reviewed by website team.
*.scss @markdurrant
*.astro @taktran
/packages/ag-charts-website/astro/** @taktran
/packages/ag-charts-website/components/** @taktran
/packages/ag-charts-website/features/** @taktran
/packages/ag-charts-website/layouts/** @taktran
/packages/ag-charts-website/stores/** @taktran
/packages/ag-charts-website/utils/** @taktran

# Docs updates to be reviewed by Eng VP.
/packages/ag-charts-website/content/** @alantreadway @rmc-software
*.mdoc @rmc-software

# Charts library code to be reviewed by Chart TL.
/packages/ag-charts-community/** @alantreadway
/packages/ag-charts-enterprise/** @alantreadway

# Sensitive build/repo files to be reviewed by Chart TL.
**/package.json @alantreadway
nx.json @alantreadway
**/project.json @alantreadway
**/tsconfig.json @alantreadway
**/tsconfig.*.json @alantreadway

AG-10044 - API options pages & toolbar layout improvements
  packages/ag-charts-website/src/design-system/modules/ApiReferencePage.module.scss
  packages/ag-charts-website/src/design-system/modules/OptionsNavigation.module.scss
  packages/ag-charts-website/src/design-system/modules/Toolbar.module.scss
Owners: @markdurrant

AG-10044 - Fix initial design system merge issues
  packages/ag-charts-website/src/design-system/modules/ApiReference.module.scss
  packages/ag-charts-website/src/design-system/modules/ChartsHomepage.module.scss
  packages/ag-charts-website/src/design-system/modules/GridDocs.module.scss
  packages/ag-charts-website/src/design-system/modules/docs.module.scss
Owners: @markdurrant

AG-10044 - Fix gallery single page darkmode background color bug
  packages/ag-charts-website/src/pages/gallery/examples/[exampleName]/example-runner.astro
Owners: @taktran

AG-10044 - Refactor & improve API pages toolbar
  packages/ag-charts-website/src/components/top-bar/ApiTopBar.tsx
  packages/ag-charts-website/src/design-system/modules/ApiTopBar.module.scss
  packages/ag-charts-website/src/design-system/modules/Toolbar.module.scss
Owners: @ag-grid/ag-charts-team, @markdurrant

AG-10044 - `nx format --all`
  packages/ag-charts-website/src/design-system/components/_code.scss
  packages/ag-charts-website/src/design-system/core/_variables.scss
  packages/ag-charts-website/src/design-system/elements/_button.scss
  packages/ag-charts-website/src/design-system/elements/_form-elements.scss
  packages/ag-charts-website/src/design-system/elements/_table.scss
  packages/ag-charts-website/src/design-system/modules/ChevronButtonRenderer.module.scss
  packages/ag-charts-website/src/design-system/modules/CodeViewer.module.scss
  packages/ag-charts-website/src/design-system/modules/Gif.module.scss
  packages/ag-charts-website/src/design-system/modules/GridHomepage.module.scss
  packages/ag-charts-website/src/design-system/modules/LearningVideos.module.scss
  packages/ag-charts-website/src/design-system/modules/Licenses.module.scss
  packages/ag-charts-website/src/design-system/modules/ToggleAutomatedExampleButton.module.scss
  packages/ag-charts-website/src/design-system/modules/TopBar.module.scss
  packages/ag-charts-website/src/design-system/style-guide/Alerts.tsx
  packages/ag-charts-website/src/design-system/style-guide/StyleGuide.tsx
  packages/ag-charts-website/src/design-system/style-guide/getCssVarValue.ts
  packages/ag-charts-website/src/features/docs/components/DocsFrameworkTemplate.astro
  packages/ag-charts-website/src/features/example-runner/components/FrameworkTemplate.astro
  packages/ag-charts-website/src/features/example-runner/framework-templates/AngularTemplate.astro
  packages/ag-charts-website/src/features/example-runner/framework-templates/ReactTemplate.astro
  packages/ag-charts-website/src/features/example-runner/framework-templates/TypescriptTemplate.astro
  packages/ag-charts-website/src/features/example-runner/framework-templates/VueTemplate.astro
  packages/ag-charts-website/src/features/gallery/components/GalleryFrameworkTemplate.astro
  packages/ag-charts-website/src/pages/[internalFramework]/[pageName]/examples/[exampleName]/codesandbox.astro
  packages/ag-charts-website/src/pages/gallery/examples/[exampleName]/codesandbox.astro
Owners: @markdurrant, @ag-grid/ag-charts-team, @taktran

AG-8196 Apply lineDash to legend line
  packages/ag-charts-community/src/chart/__image_snapshots__/legend-test-ts-legend-show-series-stroke-line-dash-1-snap.png
  packages/ag-charts-community/src/chart/legend.test.ts
  packages/ag-charts-community/src/chart/legend.ts
  packages/ag-charts-community/src/chart/legendDatum.ts
  packages/ag-charts-community/src/chart/markerLabel.ts
  packages/ag-charts-community/src/chart/series/cartesian/areaSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/lineSeries.ts
  packages/ag-charts-enterprise/src/series/range-area/rangeArea.ts
Owners: @alantreadway

AG-8196 Add legend.item.line.strokeWidth option
  packages/ag-charts-community/src/chart/__image_snapshots__/legend-test-ts-legend-show-series-stroke-line-stroke-width-override-1-snap.png
  packages/ag-charts-community/src/chart/legend.test.ts
  packages/ag-charts-community/src/chart/legend.ts
  packages/ag-charts-community/src/options/chart/legendOptions.ts
Owners: @alantreadway

AG-10155 - Format data on gallery examples
  packages/ag-charts-website/src/content/gallery/_examples/horizontal-range-bar-with-labels/main.ts
Owners: @ag-grid/ag-charts-team

AG-10271 Enable hi-dpi images in gallery
  packages/ag-charts-website/src/design-system/modules/GalleryExampleImage.module.scss
  packages/ag-charts-website/src/features/example-generator/index.ts
  packages/ag-charts-website/src/features/gallery/components/GalleryExampleImage.tsx
  packages/ag-charts-website/src/features/gallery/utils/urlPaths.ts
  packages/ag-charts-website/src/pages/debug/dev-files.astro
  packages/ag-charts-website/src/pages/dev/[...filePath].ts
  packages/ag-charts-website/src/pages/gallery/examples/[exampleName]/[theme]-plain.[format].ts
  packages/ag-charts-website/src/utils/devFileUrl.ts
  packages/ag-charts-website/src/utils/pages.ts
  plugins/ag-charts-generate-chart-thumbnail/src/executors/generate/executor.ts
  plugins/ag-charts-generate-chart-thumbnail/src/executors/generate/generator/thumbnailGenerator.ts
Owners: @markdurrant, @ag-grid/ag-charts-team, @taktran

docs-changes
  packages/ag-charts-community/src/options/chart/contextMenuOptions.ts
  packages/ag-charts-community/src/options/chart/eventOptions.ts
  packages/ag-charts-community/src/options/chart/radiusAxisOptions.ts
  packages/ag-charts-community/src/options/series/cartesian/cartesianOptions.ts
  packages/ag-charts-community/src/options/series/cartesian/waterfallOptions.ts
  packages/ag-charts-community/src/options/series/seriesOptions.ts
  packages/ag-charts-website/src/content/docs/tooltips/_examples/default-tooltip/index.html
  packages/ag-charts-website/src/content/docs/tooltips/_examples/default-tooltip/main.ts
  packages/ag-charts-website/src/content/docs/tooltips/index.mdoc
Owners: @alantreadway, @ag-grid/ag-charts-team, @rmc-software

AG-10268 - Add ag-charts-react UMD bundle.
  esbuild.config.cjs
  packages/ag-charts-react/.npmignore
  packages/ag-charts-react/project.json
Owners: @ag-grid/ag-charts-team, @alantreadway

Restore missing validation warnings on unknown user options
  packages/ag-charts-community/src/chart/agChartV2.ts
  packages/ag-charts-community/src/util/properties.ts
Owners: @alantreadway

AG-10268 - Add ag-charts-react UMD bundle.
  packages/ag-charts-react/.npmignore
Owners: @ag-grid/ag-charts-team

Use internal series ID internally and ignore user defined id
  packages/ag-charts-community/src/chart/agChartV2.test.ts
  packages/ag-charts-community/src/chart/mapping/prepareSeries.ts
  packages/ag-charts-community/src/chart/series/series.ts
  packages/ag-charts-community/src/chart/series/seriesLayerManager.ts
Owners: @alantreadway

update to example
  packages/ag-charts-website/src/content/docs/bar-series/_examples/grouped-stack-shared-legend/main.ts
Owners: @ag-grid/ag-charts-team

AG-10011 Add compatibility mode when sectorSpacing unset
  packages/ag-charts-community/src/chart/series/polar/pieSeries.ts
  packages/ag-charts-community/src/chart/series/polar/pieSeriesModule.ts
  packages/ag-charts-community/src/chart/series/polar/pieSeriesProperties.ts
  packages/ag-charts-community/src/options/series/polar/pieOptions.ts
Owners: @alantreadway

AG-10268 - Fix nx dev.
  packages/ag-charts-react/project.json
Owners: @alantreadway

wip - replace jsonMerge with mergeDefaults
  packages/ag-charts-community/src/chart/mapping/prepare.ts
  packages/ag-charts-community/src/chart/navigator/navigator.test.ts
  packages/ag-charts-community/src/chart/navigator/navigator.ts
  packages/ag-charts-community/src/chart/navigator/navigatorHandle.ts
  packages/ag-charts-community/src/chart/navigator/navigatorMask.ts
  packages/ag-charts-community/src/chart/navigator/shapes/rangeSelector.ts
  packages/ag-charts-community/src/chart/themes/chartTheme.ts
  packages/ag-charts-community/src/module/optionModules.ts
  packages/ag-charts-community/src/util/__snapshots__/json.test.ts.snap
  packages/ag-charts-community/src/util/decorator.ts
  packages/ag-charts-community/src/util/json.test.ts
  packages/ag-charts-community/src/util/json.ts
  packages/ag-charts-community/src/util/object.test.ts
  packages/ag-charts-community/src/util/object.ts
  packages/ag-charts-community/src/util/proxy.ts
  packages/ag-charts-community/src/util/type-guards.ts
  packages/ag-charts-community/src/util/types.ts
Owners: @alantreadway

Automated package version bump to 9.0.1-beta.20240109.
  .env
  libraries/ag-charts-test/package.json
  package.json
  packages/ag-charts-angular/package.json
  packages/ag-charts-angular/projects/ag-charts-angular/package.json
  packages/ag-charts-community-examples/package.json
  packages/ag-charts-community/package.json
  packages/ag-charts-community/src/version.ts
  packages/ag-charts-enterprise/package.json
  packages/ag-charts-react/package.json
  packages/ag-charts-vue/package.json
  packages/ag-charts-vue3/package.json
  packages/ag-charts-website/.env.build
  packages/ag-charts-website/.env.build.archive
  packages/ag-charts-website/.env.build.production
  packages/ag-charts-website/.env.build.staging
  packages/ag-charts-website/.env.dev
  packages/ag-charts-website/.env.preview
  packages/ag-charts-website/.env.preview.production
  packages/ag-charts-website/.env.preview.staging
  packages/ag-charts-website/package.json
  plugins/ag-charts-generate-chart-thumbnail/package.json
  plugins/ag-charts-generate-code-reference-files/package.json
  plugins/ag-charts-generate-example-files/package.json
Owners: @ag-grid/ag-charts-team, @alantreadway

wip - support enums in options types
  packages/ag-charts-community/src/chart/mapping/prepare.ts
  packages/ag-charts-community/src/options/chart/tooltipOptions.ts
  packages/ag-charts-community/src/util/type-guards.ts
  plugins/ag-charts-generate-code-reference-files/src/executors/generate/types-utils.ts
Owners: @alantreadway, @ag-grid/ag-charts-team

Update snapshots.
  packages/ag-charts-community/src/chart/__image_snapshots__/legend-test-ts-legend-show-series-stroke-line-dash-1-snap.png
  packages/ag-charts-community/src/chart/__image_snapshots__/legend-test-ts-legend-show-series-stroke-line-stroke-width-override-1-snap.png
Owners: @alantreadway

AG-10251 - Fix consistent handling of DataModel scoped extracted values.
  packages/ag-charts-community/src/chart/data/__snapshots__/dataModel.test.ts.snap
  packages/ag-charts-community/src/chart/data/dataController.test.ts
  packages/ag-charts-community/src/chart/data/dataController.ts
  packages/ag-charts-community/src/chart/data/dataModel.test.ts
  packages/ag-charts-community/src/chart/data/dataModel.ts
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/bar-series-test-ts-bar-series-create-for-stacked-column-category-data-per-series-clashing-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/bar-series-test-ts-bar-series-create-for-stacked-column-category-data-per-series-clashing-reversed-axes-it-should-render-to-canvas-as-expected-1-snap.png
Owners: @alantreadway

AG-10044 Small improvements to text wrapping on homepage
  packages/ag-charts-website/src/design-system/modules/ChartsHomepage.module.scss
Owners: @markdurrant

AG-10044 - Fix pipeline/changelog layout issues
  packages/ag-charts-website/src/design-system/modules/pipelineChangelog.module.scss
Owners: @markdurrant

AG-10044 Updates to code module isActive color
  packages/ag-charts-website/src/design-system/modules/CodeViewer.module.scss
Owners: @markdurrant

AG-10044 Update nav scroll on gallery
  packages/ag-charts-website/src/design-system/modules/Search.module.scss
  packages/ag-charts-website/src/design-system/modules/SiteHeader.module.scss
Owners: @markdurrant

AG-10044 - Fix menu hover bug
  packages/ag-charts-website/src/design-system/modules/Menu.module.scss
Owners: @markdurrant

AG-10044 Update border color on hover gallery
  packages/ag-charts-website/src/design-system/modules/GalleryExampleLink.module.scss
Owners: @markdurrant

AG-10044 Tweak API options colors
  packages/ag-charts-website/src/design-system/modules/ApiReference.module.scss
  packages/ag-charts-website/src/design-system/modules/OptionsNavigation.module.scss
Owners: @markdurrant

AG-10044 - Fix fix border issue for code snippets within tabs
  packages/ag-charts-website/src/design-system/components/_containers.scss
Owners: @markdurrant

AG-10044 - nx format --all
  packages/ag-charts-website/src/design-system/style-guide/Alerts.tsx
  packages/ag-charts-website/src/design-system/style-guide/StyleGuide.tsx
  packages/ag-charts-website/src/design-system/style-guide/getCssVarValue.ts
Owners: @ag-grid/ag-charts-team

AG-10044 Update example runner background
  packages/ag-charts-community/src/chart/themes/darkTheme.ts
  packages/ag-charts-website/src/features/example-runner/framework-templates/lib/ExampleStyle.tsx
Owners: @alantreadway, @ag-grid/ag-charts-team

AG-10044 - Make docs page headers consistient with Grid component
  packages/ag-charts-website/src/design-system/modules/Header.module.scss
Owners: @markdurrant

AG-10044 - Fix main content clipping for smaller screens
  packages/ag-charts-website/src/design-system/modules/docs.module.scss
Owners: @markdurrant

AG-10044 - Fix code snippet bottom background color issue
  packages/ag-charts-website/src/design-system/components/_code.scss
Owners: @markdurrant

AG-10044 - Fix mobile menu width issue:
  packages/ag-charts-website/src/design-system/modules/PagesNavigation.module.scss
Owners: @markdurrant

AG-10044 - Update examples buttons border widths 2px => 1px
  packages/ag-charts-website/src/features/example-runner/framework-templates/lib/ExampleStyle.tsx
Owners: @ag-grid/ag-charts-team

AG-10044 - Fix API options pages scrolling bug
  packages/ag-charts-website/src/design-system/_base.scss
  packages/ag-charts-website/src/design-system/modules/ApiReferencePage.module.scss
  packages/ag-charts-website/src/design-system/modules/OptionsNavigation.module.scss
  packages/ag-charts-website/src/design-system/modules/Toolbar.module.scss
Owners: @markdurrant

AG-10044 - Sync design system with Grid repo
  packages/ag-charts-website/src/design-system/modules/ImageCaption.module.scss
  packages/ag-charts-website/src/design-system/modules/WhatsNew.module.scss
  packages/ag-charts-website/src/design-system/modules/docs.module.scss
Owners: @markdurrant

AG-10044 - Improve API options pages layout for larger screens
  packages/ag-charts-website/src/design-system/modules/ApiReferencePage.module.scss
Owners: @markdurrant
