Repository ag-grid/ag-charts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ag-grid/ag-charts-team, @markdurrant, @taktran, @alantreadway, @rmc-software

Fix resetTransform scale on dpi != 1 (#1069)
  packages/ag-charts-community/src/scene/group.ts
  packages/ag-charts-community/src/scene/shape/linearGradientFill.ts
Owners: @alantreadway

Fix build.
  .eslintrc.json
  packages/ag-charts-community/src/module-support.ts
  packages/ag-charts-community/src/module/coreModules.ts
  packages/ag-charts-community/src/module/module.ts
Owners: @ag-grid/ag-charts-team, @alantreadway

Fix box plot corner radius
  packages/ag-charts-enterprise/src/series/box-plot/boxPlotGroup.ts
  packages/ag-charts-enterprise/src/series/box-plot/boxPlotSeries.ts
  packages/ag-charts-enterprise/src/series/box-plot/boxPlotSeriesProperties.ts
Owners: @alantreadway

cleanup
  packages/ag-charts-community/src/chart/series/seriesLayerManager.ts
  packages/ag-charts-community/src/util/compare.ts
Owners: @alantreadway

Separate layer management from scene
  packages/ag-charts-community/src/scene/layersManager.ts
  packages/ag-charts-community/src/scene/scene.ts
  packages/ag-charts-community/src/scene/sceneDebug.ts
Owners: @alantreadway

fix lint
  packages/ag-charts-community/src/scene/layersManager.ts
  packages/ag-charts-community/src/scene/scene.ts
  packages/ag-charts-community/src/scene/sceneDebug.ts
  packages/ag-charts-community/src/util/debug.ts
Owners: @alantreadway

remove leftovers and cleanup
  packages/ag-charts-community/src/chart/interaction/animationBatch.ts
  packages/ag-charts-community/src/chart/interaction/animationManager.ts
  packages/ag-charts-community/src/chart/interaction/interactionManager.ts
  packages/ag-charts-community/src/chart/series/cartesian/cartesianSeries.ts
  packages/ag-charts-community/src/chart/series/series.ts
  packages/ag-charts-community/src/chart/series/seriesLayerManager.ts
  packages/ag-charts-community/src/scene/group.ts
  packages/ag-charts-community/src/scene/layersManager.ts
  packages/ag-charts-community/src/scene/node.ts
  packages/ag-charts-community/src/scene/scene.ts
Owners: @alantreadway

remove leftovers and cleanup
  packages/ag-charts-community/src/scene/scene.ts
Owners: @alantreadway

Cleanup scene, move debug code to separate file (#1082)
  packages/ag-charts-community/src/chart/background/background.ts
  packages/ag-charts-community/src/chart/chart.ts
  packages/ag-charts-community/src/chart/interaction/animationBatch.ts
  packages/ag-charts-community/src/chart/interaction/animationManager.ts
  packages/ag-charts-community/src/chart/interaction/interactionManager.ts
  packages/ag-charts-community/src/chart/legend.ts
  packages/ag-charts-community/src/chart/legendDatum.ts
  packages/ag-charts-community/src/chart/navigator/navigator.ts
  packages/ag-charts-community/src/chart/series/cartesian/barSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/cartesianSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/histogramSeries.ts
  packages/ag-charts-community/src/chart/series/series.ts
  packages/ag-charts-community/src/chart/series/seriesLayerManager.ts
  packages/ag-charts-community/src/scene/canvas/hdpiCanvas.ts
  packages/ag-charts-community/src/scene/group.ts
  packages/ag-charts-community/src/scene/layersManager.ts
  packages/ag-charts-community/src/scene/node.ts
  packages/ag-charts-community/src/scene/scene.ts
  packages/ag-charts-community/src/scene/sceneDebug.ts
  packages/ag-charts-community/src/util/compare.ts
  packages/ag-charts-community/src/util/debug.ts
  packages/ag-charts-enterprise/src/features/crosshair/crosshair.ts
  packages/ag-charts-enterprise/src/features/zoom/zoom.ts
  packages/ag-charts-enterprise/src/gradient-legend/gradientLegend.ts
Owners: @alantreadway

changelog for patch release
  packages/ag-charts-website/public/changelog/releaseVersionNotes.json
  packages/ag-charts-website/public/changelog/releases/9_1_1.md
Owners: @ag-grid/ag-charts-team

AG-8595 Cache CartesianSeries.getMinRect
  packages/ag-charts-community/src/chart/series/cartesian/cartesianSeries.ts
Owners: @alantreadway

AG-8596 Cache Node.computeBBox result
  packages/ag-charts-community/src/scene/group.ts
  packages/ag-charts-community/src/scene/node.ts
Owners: @alantreadway

AG-8595 Check bbox cache recursively
  packages/ag-charts-community/src/scene/group.ts
  packages/ag-charts-community/src/scene/node.ts
Owners: @alantreadway

AG-8595 Update dirtyBBox flag
  packages/ag-charts-community/src/scene/group.ts
Owners: @alantreadway

AG-8595 Invalidate bbox cache when transform is dirty
  packages/ag-charts-community/src/scene/group.ts
  packages/ag-charts-community/src/scene/node.ts
Owners: @alantreadway

AG-10833 Re-enable corner radius docs
  packages/ag-charts-community/src/chart/series/cartesian/barUtil.ts
  packages/ag-charts-community/src/options/series/cartesian/barOptions.ts
  packages/ag-charts-community/src/options/series/cartesian/rangeBarOptions.ts
  packages/ag-charts-community/src/options/series/cartesian/waterfallOptions.ts
  packages/ag-charts-website/src/content/docs/bar-series/_examples/customising-corner-radius/main.ts
  packages/ag-charts-website/src/content/docs/bar-series/index.mdoc
  packages/ag-charts-website/src/content/docs/range-bar-series/_examples/customising-corner-radius/main.ts
  packages/ag-charts-website/src/content/docs/range-bar-series/index.mdoc
  packages/ag-charts-website/src/content/docs/waterfall-series/_examples/customising-corner-radius/main.ts
  packages/ag-charts-website/src/content/docs/waterfall-series/index.mdoc
Owners: @alantreadway, @ag-grid/ag-charts-team, @rmc-software

AG-10833 Doc updates
  packages/ag-charts-website/src/content/docs/bar-series/index.mdoc
  packages/ag-charts-website/src/content/docs/range-bar-series/index.mdoc
  packages/ag-charts-website/src/content/docs/waterfall-series/_examples/customising-corner-radius/data.ts
  packages/ag-charts-website/src/content/docs/waterfall-series/_examples/customising-corner-radius/index.html
  packages/ag-charts-website/src/content/docs/waterfall-series/_examples/customising-corner-radius/main.ts
  packages/ag-charts-website/src/content/docs/waterfall-series/index.mdoc
Owners: @rmc-software, @ag-grid/ag-charts-team

AG-8595 Make the RegionManager ignore invisible scene nodes
  packages/ag-charts-community/src/util/bboxset.ts
Owners: @alantreadway

AG-8595 Recursively if any of the parent translation are dirty
  packages/ag-charts-community/src/scene/node.ts
Owners: @alantreadway

TSConfig, ESLint config cleanup + removal of redundant packages.
  .eslintrc.json
  packages/ag-charts-community-examples/tsconfig.json
  packages/ag-charts-community/.eslintrc.json
  packages/ag-charts-enterprise/.eslintrc.json
  packages/ag-charts-website-e2e/.eslintrc.json
  packages/ag-charts-website-e2e/cypress.config.ts
  packages/ag-charts-website-e2e/project.json
  packages/ag-charts-website-e2e/src/e2e/app.cy.ts
  packages/ag-charts-website-e2e/src/fixtures/example.json
  packages/ag-charts-website-e2e/src/support/app.po.ts
  packages/ag-charts-website-e2e/src/support/commands.ts
  packages/ag-charts-website-e2e/src/support/e2e.ts
  packages/ag-charts-website-e2e/tsconfig.json
Owners: @ag-grid/ag-charts-team, @alantreadway

Nx cleanup and optimisation.
  libraries/ag-charts-test/project.json
  nx.json
  packages/ag-charts-angular/project.json
  packages/ag-charts-community-examples/project.json
  packages/ag-charts-community/project.json
  packages/ag-charts-enterprise/project.json
  packages/ag-charts-react/project.json
  packages/ag-charts-vue/package.json
  packages/ag-charts-vue/project.json
  packages/ag-charts-vue3/project.json
  packages/ag-charts-website/project.json
  packages/all/dev.sh
  packages/all/project.json
  plugins/ag-charts-generate-chart-thumbnail/project.json
  plugins/ag-charts-generate-code-reference-files/project.json
  plugins/ag-charts-generate-example-files/project.json
  plugins/ag-charts-task-autogen/project.json
Owners: @alantreadway, @ag-grid/ag-charts-team

Try skipping Java install for SonarQube scan.
  .github/workflows/ci.yml
Owners: @ag-grid/ag-charts-team

Add SonarQube feedback on PRs.
  .github/workflows/ci.yml
  .github/workflows/sonar-scanner.yml
Owners: @ag-grid/ag-charts-team

Add SonarQube feedback on PRs.
  .github/workflows/ci.yml
Owners: @ag-grid/ag-charts-team

Test sonarcloud warning.
  packages/ag-charts-community/src/chart/chart.ts
Owners: @alantreadway

Cleanup eslint config.
  .github/workflows/ci.yml
  packages/ag-charts-enterprise/.eslintrc.json
Owners: @ag-grid/ag-charts-team, @alantreadway

Linter fixes.
  packages/ag-charts-community/src/chart/agChartV2.ts
Owners: @alantreadway

Fix compile break.
  plugins/ag-charts-generate-chart-thumbnail/tsconfig.json
  plugins/ag-charts-generate-code-reference-files/tsconfig.json
  plugins/ag-charts-generate-example-files/tsconfig.json
  plugins/ag-charts-task-autogen/tsconfig.json
Owners: @alantreadway

Enable diff-based linting for PRs.
  .github/workflows/ci.yml
Owners: @ag-grid/ag-charts-team

Improved eslint config.
  .eslintrc.json
  package.json
  packages/ag-charts-community/.eslintrc.json
  packages/ag-charts-enterprise/.eslintrc.json
  tsconfig.base.json
  yarn.lock
Owners: @ag-grid/ag-charts-team, @alantreadway

Enable diff-based linting for PRs.
  .eslintrc.json
  .github/workflows/ci.yml
  package.json
  yarn.lock
Owners: @ag-grid/ag-charts-team, @alantreadway

Remove test function.
  packages/ag-charts-community/src/chart/chart.ts
Owners: @alantreadway

Fix ESLint config.
  .eslintrc.json
  packages/ag-charts-community/.eslintrc.json
  packages/ag-charts-enterprise/project.json
Owners: @ag-grid/ag-charts-team, @alantreadway

AG-8595 Cache CartesianSeries.getMinRect
  packages/ag-charts-community/src/chart/series/cartesian/cartesianSeries.ts
Owners: @alantreadway

Add modulesManager
  packages/ag-charts-community/src/chart/cartesianChart.ts
  packages/ag-charts-community/src/chart/chart.ts
  packages/ag-charts-community/src/chart/interaction/syncManager.ts
  packages/ag-charts-community/src/chart/modulesManager.ts
  packages/ag-charts-community/src/chart/series/dataModelSeries.ts
  packages/ag-charts-community/src/chart/series/series.ts
  packages/ag-charts-community/src/module/moduleMap.ts
  packages/ag-charts-enterprise/src/features/sync/chartSync.ts
Owners: @alantreadway

More Nx optimisations.
  packages/all/project.json
  plugins/ag-charts-task-autogen/src/generate-example-files.ts
  plugins/ag-charts-task-autogen/src/index.ts
Owners: @alantreadway, @ag-grid/ag-charts-team

More Nx optimisations.
  packages/ag-charts-community/project.json
  packages/ag-charts-react/project.json
  packages/ag-charts-website/project.json
Owners: @alantreadway

AG-10755 - Candlestick series
  packages/ag-charts-community/src/chart/factory/expectedEnterpriseModules.ts
  packages/ag-charts-community/src/options/agChartOptions.ts
  packages/ag-charts-community/src/options/chart/themeOptions.ts
  packages/ag-charts-community/src/options/series/cartesian/candlestickOptions.ts
  packages/ag-charts-community/src/options/series/cartesian/cartesianSeriesTypes.ts
  packages/ag-charts-enterprise/src/series/candlestick/candlestickGroup.ts
  packages/ag-charts-enterprise/src/series/candlestick/candlestickModule.ts
  packages/ag-charts-enterprise/src/series/candlestick/candlestickSeries.ts
  packages/ag-charts-enterprise/src/series/candlestick/candlestickSeriesProperties.ts
  packages/ag-charts-enterprise/src/series/candlestick/candlestickThemes.ts
  packages/ag-charts-enterprise/src/series/candlestick/candlestickTypes.ts
  packages/ag-charts-enterprise/src/series/candlestick/candlestickUtil.ts
  packages/ag-charts-enterprise/src/series/candlestick/main.ts
  packages/ag-charts-enterprise/src/setup.ts
Owners: @alantreadway

Automated package version bump to 9.1.0-beta.20240225.
  .env
  libraries/ag-charts-test/package.json
  package.json
  packages/ag-charts-angular/package.json
  packages/ag-charts-angular/projects/ag-charts-angular/package.json
  packages/ag-charts-community-examples/package.json
  packages/ag-charts-community/package.json
  packages/ag-charts-community/src/version.ts
  packages/ag-charts-enterprise/package.json
  packages/ag-charts-react/package.json
  packages/ag-charts-vue/package.json
  packages/ag-charts-vue3/package.json
  packages/ag-charts-website/.env.build
  packages/ag-charts-website/.env.build.archive
  packages/ag-charts-website/.env.build.production
  packages/ag-charts-website/.env.build.staging
  packages/ag-charts-website/.env.dev
  packages/ag-charts-website/.env.preview
  packages/ag-charts-website/.env.preview.production
  packages/ag-charts-website/.env.preview.staging
  packages/ag-charts-website/package.json
  plugins/ag-charts-generate-chart-thumbnail/package.json
  plugins/ag-charts-generate-code-reference-files/package.json
  plugins/ag-charts-generate-example-files/package.json
Owners: @ag-grid/ag-charts-team, @alantreadway

Nx 18.0.4 upgrade.
  .env
  nx.json
  package.json
  packages/ag-charts-community-examples/project.json
  packages/ag-charts-community/project.json
  packages/ag-charts-enterprise/project.json
  packages/ag-charts-website/project.json
  patches/@nx+esbuild+18.0.4.patch
  yarn.lock
Owners: @ag-grid/ag-charts-team, @alantreadway

.github/CODEOWNERS:

# NOTE: Order of entries matters - later entries have higher precedence.

# Attribute code-owners so default reviewers are assigned to PRs.
* @ag-grid/ag-charts-team

# Astro + website changes to be reviewed by website team.
*.scss @markdurrant
*.astro @taktran
/packages/ag-charts-website/astro/** @taktran
/packages/ag-charts-website/components/** @taktran
/packages/ag-charts-website/features/** @taktran
/packages/ag-charts-website/layouts/** @taktran
/packages/ag-charts-website/stores/** @taktran
/packages/ag-charts-website/utils/** @taktran

# Docs updates to be reviewed by Eng VP.
/packages/ag-charts-website/content/** @alantreadway @rmc-software
*.mdoc @rmc-software

# Charts library code to be reviewed by Chart TL.
/packages/ag-charts-community/** @alantreadway
/packages/ag-charts-enterprise/** @alantreadway

# Sensitive build/repo files to be reviewed by Chart TL.
**/package.json @alantreadway
nx.json @alantreadway
**/project.json @alantreadway
**/tsconfig.json @alantreadway
**/tsconfig.*.json @alantreadway
