Repository ag-grid/ag-charts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ag-grid/ag-charts-team, @markdurrant, @taktran, @alantreadway, @rmc-software

AG-8196 Consider marker.enabled when legend.showSeriesStroke=true
  packages/ag-charts-community/src/chart/legend.ts
  packages/ag-charts-community/src/chart/legendDatum.ts
  packages/ag-charts-community/src/chart/markerLabel.ts
  packages/ag-charts-community/src/chart/series/cartesian/lineSeries.ts
Owners: @alantreadway

AG-8196 Use a maximum strokeWidth of 2 in legend items
  packages/ag-charts-community/src/chart/legend.ts
Owners: @alantreadway

AG-8196 Add e2e test for showSeriesStroke
  packages/ag-charts-community/src/chart/__image_snapshots__/legend-test-ts-legend-show-series-stroke-areas-1-snap.png
  packages/ag-charts-community/src/chart/__image_snapshots__/legend-test-ts-legend-show-series-stroke-combination-1-snap.png
  packages/ag-charts-community/src/chart/__image_snapshots__/legend-test-ts-legend-show-series-stroke-lines-1-snap.png
  packages/ag-charts-community/src/chart/__image_snapshots__/legend-test-ts-legend-show-series-stroke-no-markers-1-snap.png
  packages/ag-charts-community/src/chart/legend.test.ts
Owners: @alantreadway

AG-9983 Change default download fileName
  packages/ag-charts-enterprise/src/features/context-menu/contextMenu.ts
Owners: @alantreadway

AG-10094 Update no-visible-series docs
  packages/ag-charts-community/src/options/chart/chartOptions.ts
  packages/ag-charts-website/src/content/docs/overlays/index.mdoc
Owners: @alantreadway, @rmc-software

Add support for line breaks for docs
  packages/ag-charts-community/src/options/chart/eventOptions.ts
  packages/ag-charts-community/src/options/chart/labelOptions.ts
  packages/ag-charts-website/package.json
  packages/ag-charts-website/src/features/api-documentation/components/ApiReference.tsx
  packages/ag-charts-website/src/features/api-documentation/components/ApiReferencePage.tsx
  yarn.lock
Owners: @alantreadway, @ag-grid/ag-charts-team

AG-10212 Rename esm artefacts to .mjs to ensure correct resolution, esp with vitest
  esbuild.config.cjs
  packages/ag-charts-community/package.json
  packages/ag-charts-enterprise/package.json
Owners: @ag-grid/ag-charts-team, @alantreadway

AG-10162 Set legend marker shape for range-area series
  packages/ag-charts-enterprise/src/series/range-area/rangeArea.ts
Owners: @alantreadway

AG-10162 Add e2e test for range-area legend shape
  packages/ag-charts-enterprise/src/series/range-area/__image_snapshots__/range-area-test-ts-chart-should-render-the-legend-shape-as-expected-1-snap.png
  packages/ag-charts-enterprise/src/series/range-area/rangeArea.test.ts
Owners: @alantreadway

AG-10152 Fix disappearing combination in charts
  packages/ag-charts-community/src/chart/series/cartesian/areaUtil.ts
  packages/ag-charts-community/src/chart/series/cartesian/lineUtil.ts
Owners: @alantreadway

Refactor chart options mechanism (part 2)
  packages/ag-charts-community/src/chart/chart.ts
  packages/ag-charts-community/src/chart/chartOptions.ts
  packages/ag-charts-community/src/chart/mapping/prepare.ts
  packages/ag-charts-community/src/chart/series/cartesian/barSeriesModule.ts
  packages/ag-charts-community/src/chart/series/polar/pieSeriesModule.ts
  packages/ag-charts-community/src/chart/themes/chartTheme.ts
  packages/ag-charts-community/src/chart/themes/constants.ts
  packages/ag-charts-community/src/util/array.ts
  packages/ag-charts-community/src/util/json.test.ts
  packages/ag-charts-community/src/util/json.ts
  packages/ag-charts-community/src/util/properties.ts
  packages/ag-charts-community/src/util/sizeMonitor.ts
  packages/ag-charts-community/src/util/type-guards.ts
  packages/ag-charts-community/src/util/validation.ts
  packages/ag-charts-enterprise/src/series/bullet/bulletSeries.test.ts
  packages/ag-charts-enterprise/src/series/bullet/bulletSeriesProperties.ts
  packages/ag-charts-enterprise/src/series/heatmap/heatmapSeriesProperties.ts
  packages/ag-charts-enterprise/src/series/treemap/treemapSeriesModule.ts
Owners: @alantreadway

AG-10152 Add e2e regression test
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/line-util-test-ts-line-util-ag-10152-markers-stay-visible-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/line-util-test-ts-line-util-ag-10152-markers-stay-visible-2-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/lineUtil.test.ts
Owners: @alantreadway

Refactor moduleMap
  packages/ag-charts-community/src/chart/agChartV2.ts
  packages/ag-charts-community/src/chart/axis/axis.ts
  packages/ag-charts-community/src/chart/chart.ts
  packages/ag-charts-community/src/chart/chartAxis.ts
  packages/ag-charts-community/src/chart/series/cartesian/cartesianSeries.ts
  packages/ag-charts-community/src/chart/series/dataModelSeries.ts
  packages/ag-charts-community/src/chart/series/series.ts
  packages/ag-charts-community/src/module/moduleMap.ts
  packages/ag-charts-community/src/module/optionModules.ts
Owners: @alantreadway

use Object.hasOwn + remove first series type from root of chart options object
  packages/ag-charts-community/src/chart/chartAxesTypes.ts
  packages/ag-charts-community/src/chart/factory/axisTypes.ts
  packages/ag-charts-community/src/chart/factory/chartTypes.ts
  packages/ag-charts-community/src/chart/mapping/__snapshots__/prepare.test.ts.snap
  packages/ag-charts-community/src/chart/mapping/prepare.ts
  packages/ag-charts-community/src/chart/mapping/types.ts
  packages/ag-charts-community/src/module/optionModules.ts
  packages/ag-charts-community/src/scene/canvas/hdpiCanvas.ts
  packages/ag-charts-community/src/util/id.ts
  packages/ag-charts-community/src/util/json.ts
  packages/ag-charts-community/src/util/value.ts
  packages/ag-charts-enterprise/src/series/box-plot/boxPlotSeries.ts
Owners: @alantreadway

cleanup
  packages/ag-charts-community/src/chart/mapping/prepare.ts
  packages/ag-charts-community/src/module/optionModules.ts
Owners: @alantreadway

AG-10138 Un-tangle darkmode logic so examples are formatted correctly when the darkmode snippet is removed
  packages/ag-charts-website/src/content/docs/bullet-series-test/_examples/5-bullets/index.html
  packages/ag-charts-website/src/middleware/index.ts
  packages/ag-charts-website/src/pages/[internalFramework]/[pageName]/examples/[exampleName]/contents.json.ts
  packages/ag-charts-website/src/pages/gallery/examples/[exampleName]/contents.json.ts
  packages/ag-charts-website/src/utils/format.ts
  plugins/ag-charts-generate-example-files/package.json
  plugins/ag-charts-generate-example-files/src/executors/generate/generator/transformation-scripts/chart-vanilla-to-angular.ts
  plugins/ag-charts-generate-example-files/src/executors/generate/generator/transformation-scripts/chart-vanilla-to-react-functional-ts.ts
  plugins/ag-charts-generate-example-files/src/executors/generate/generator/transformation-scripts/chart-vanilla-to-react-functional.ts
  plugins/ag-charts-generate-example-files/src/executors/generate/generator/transformation-scripts/chart-vanilla-to-typescript.ts
  plugins/ag-charts-generate-example-files/src/executors/generate/generator/transformation-scripts/chart-vanilla-to-vue.ts
  plugins/ag-charts-generate-example-files/src/executors/generate/generator/transformation-scripts/chart-vanilla-to-vue3.ts
  plugins/ag-charts-generate-example-files/src/executors/generate/generator/transformation-scripts/react-utils.ts
  plugins/ag-charts-generate-example-files/src/executors/generate/generator/utils/frameworkFilesGenerator.ts
  plugins/ag-charts-generate-example-files/src/executors/generate/generator/utils/getDarkModeSnippet.ts
  yarn.lock
Owners: @ag-grid/ag-charts-team, @alantreadway

AG-10021 - Hide extraneous codesandbox highlighter element
  packages/ag-charts-website/src/features/example-runner/framework-templates/lib/ExampleStyle.tsx
Owners: @ag-grid/ag-charts-team

AG-10021 - Fix example styles selector
  packages/ag-charts-website/src/features/example-runner/framework-templates/AngularTemplate.astro
  packages/ag-charts-website/src/features/example-runner/framework-templates/ReactTemplate.astro
  packages/ag-charts-website/src/features/example-runner/framework-templates/VueTemplate.astro
  packages/ag-charts-website/src/features/example-runner/framework-templates/lib/ExampleStyle.tsx
Owners: @taktran, @ag-grid/ag-charts-team

AG-10021 - Use form to open code sandbox instead of json URL
  packages/ag-charts-website/package.json
  packages/ag-charts-website/src/features/codeSandbox/components/OpenInCodeSandbox.tsx
  packages/ag-charts-website/src/features/codeSandbox/utils/codeSandbox.ts
  yarn.lock
Owners: @alantreadway, @ag-grid/ag-charts-team

no message
  packages/ag-charts-website/src/features/codeSandbox/utils/codeSandbox.ts
Owners: @ag-grid/ag-charts-team

AG-10021 - Move codesandbox style files to `public` folder
  packages/ag-charts-website/src/features/codeSandbox/utils/codeSandbox.ts
Owners: @ag-grid/ag-charts-team

AG-10021 - Add `children` property type to framework templates
  packages/ag-charts-website/src/features/example-runner/framework-templates/AngularTemplate.astro
  packages/ag-charts-website/src/features/example-runner/framework-templates/JavascriptTemplate.astro
  packages/ag-charts-website/src/features/example-runner/framework-templates/ReactTemplate.astro
  packages/ag-charts-website/src/features/example-runner/framework-templates/TypescriptTemplate.astro
  packages/ag-charts-website/src/features/example-runner/framework-templates/VueTemplate.astro
Owners: @taktran

AG-3390 - Remove redundant properties
  packages/ag-charts-website/src/features/example-runner/components/FrameworkTemplate.astro
  packages/ag-charts-website/src/features/example-runner/framework-templates/AngularTemplate.astro
  packages/ag-charts-website/src/features/example-runner/framework-templates/Props.tsx
  packages/ag-charts-website/src/features/example-runner/framework-templates/ReactTemplate.astro
  packages/ag-charts-website/src/features/example-runner/framework-templates/TypescriptTemplate.astro
  packages/ag-charts-website/src/features/example-runner/framework-templates/VueTemplate.astro
Owners: @taktran, @ag-grid/ag-charts-team

AG-3390 - Delete dist folders within packages
  packages/all/project.json
Owners: @alantreadway

AG-10021 - Split plunkr and codesandbox html endpoints
  packages/ag-charts-website/src/features/docs/components/DocsExampleRunner.tsx
  packages/ag-charts-website/src/features/docs/utils/urlPaths.ts
  packages/ag-charts-website/src/features/example-runner/components/ExternalLinks.tsx
  packages/ag-charts-website/src/features/gallery/components/GalleryExampleRunner.tsx
  packages/ag-charts-website/src/features/gallery/utils/urlPaths.ts
  packages/ag-charts-website/src/pages/[internalFramework]/[pageName]/examples/[exampleName]/codesandbox.astro
  packages/ag-charts-website/src/pages/[internalFramework]/[pageName]/examples/[exampleName]/plunkr.astro
  packages/ag-charts-website/src/pages/gallery/examples/[exampleName]/codesandbox.astro
  packages/ag-charts-website/src/pages/gallery/examples/[exampleName]/plunkr.astro
  packages/ag-charts-website/src/utils/sitemapPages.ts
Owners: @ag-grid/ag-charts-team, @taktran

AG-3390 - Reuse framework utils react framework check
  packages/ag-charts-website/src/features/codeSandbox/utils/codeSandbox.ts
Owners: @ag-grid/ag-charts-team

AG-10021 - Ignore system js for react codesandbox html endpoints
  packages/ag-charts-website/src/features/docs/components/DocsFrameworkTemplate.astro
  packages/ag-charts-website/src/features/example-runner/components/FrameworkTemplate.astro
  packages/ag-charts-website/src/features/example-runner/framework-templates/ReactTemplate.astro
  packages/ag-charts-website/src/pages/[internalFramework]/[pageName]/examples/[exampleName]/codesandbox.astro
Owners: @taktran

AG-3390 - Fix up GeneratedContents import
  packages/ag-charts-website/src/features/api-explorer/utils/templates.ts
  packages/ag-charts-website/src/features/codeSandbox/components/OpenInCodeSandbox.tsx
  packages/ag-charts-website/src/features/codeSandbox/utils/codeSandbox.ts
  packages/ag-charts-website/src/features/docs/components/DocsExampleRunner.astro
  packages/ag-charts-website/src/features/example-runner/components/CodeViewer.tsx
  packages/ag-charts-website/src/features/example-runner/components/ExampleRunner.tsx
  packages/ag-charts-website/src/features/example-runner/components/FrameworkTemplate.astro
  packages/ag-charts-website/src/features/gallery/components/GalleryFrameworkTemplate.astro
  packages/ag-charts-website/src/features/plunkr/components/OpenInPlunkr.tsx
  packages/ag-charts-website/src/features/plunkr/utils/plunkr.ts
Owners: @ag-grid/ag-charts-team, @taktran

CR changes
  packages/ag-charts-community/src/chart/mapping/prepare.ts
  packages/ag-charts-community/src/chart/themes/constants.ts
  packages/ag-charts-community/src/options/chart/types.ts
  packages/ag-charts-community/src/util/logger.ts
Owners: @alantreadway

AG-10021 - Move code sandbox highlighter styles to only code sandbox html
  packages/ag-charts-website/src/features/docs/components/DocsFrameworkTemplate.astro
  packages/ag-charts-website/src/features/example-runner/components/FrameworkTemplate.astro
  packages/ag-charts-website/src/features/example-runner/framework-templates/AngularTemplate.astro
  packages/ag-charts-website/src/features/example-runner/framework-templates/JavascriptTemplate.astro
  packages/ag-charts-website/src/features/example-runner/framework-templates/ReactTemplate.astro
  packages/ag-charts-website/src/features/example-runner/framework-templates/TypescriptTemplate.astro
  packages/ag-charts-website/src/features/example-runner/framework-templates/VueTemplate.astro
  packages/ag-charts-website/src/features/example-runner/framework-templates/lib/ExampleStyle.tsx
  packages/ag-charts-website/src/features/gallery/components/GalleryFrameworkTemplate.astro
  packages/ag-charts-website/src/pages/[internalFramework]/[pageName]/examples/[exampleName]/codesandbox.astro
  packages/ag-charts-website/src/pages/gallery/examples/[exampleName]/codesandbox.astro
Owners: @taktran, @ag-grid/ag-charts-team

CR changes
  packages/ag-charts-community/src/chart/themes/constants.ts
  packages/ag-charts-community/src/options/chart/types.ts
Owners: @alantreadway

Refactor chart options mechanism (part 2) (#806)
  packages/ag-charts-community/src/chart/agChartV2.ts
  packages/ag-charts-community/src/chart/axis/axis.ts
  packages/ag-charts-community/src/chart/chart.ts
  packages/ag-charts-community/src/chart/chartAxesTypes.ts
  packages/ag-charts-community/src/chart/chartAxis.ts
  packages/ag-charts-community/src/chart/chartOptions.ts
  packages/ag-charts-community/src/chart/factory/axisTypes.ts
  packages/ag-charts-community/src/chart/factory/chartTypes.ts
  packages/ag-charts-community/src/chart/mapping/__snapshots__/prepare.test.ts.snap
  packages/ag-charts-community/src/chart/mapping/prepare.ts
  packages/ag-charts-community/src/chart/mapping/types.ts
  packages/ag-charts-community/src/chart/series/cartesian/barSeriesModule.ts
  packages/ag-charts-community/src/chart/series/cartesian/cartesianSeries.ts
  packages/ag-charts-community/src/chart/series/dataModelSeries.ts
  packages/ag-charts-community/src/chart/series/polar/pieSeriesModule.ts
  packages/ag-charts-community/src/chart/series/series.ts
  packages/ag-charts-community/src/chart/themes/chartTheme.ts
  packages/ag-charts-community/src/chart/themes/constants.ts
  packages/ag-charts-community/src/module/moduleMap.ts
  packages/ag-charts-community/src/module/optionModules.ts
  packages/ag-charts-community/src/scene/canvas/hdpiCanvas.ts
  packages/ag-charts-community/src/util/array.ts
  packages/ag-charts-community/src/util/id.ts
  packages/ag-charts-community/src/util/json.test.ts
  packages/ag-charts-community/src/util/json.ts
  packages/ag-charts-community/src/util/logger.ts
  packages/ag-charts-community/src/util/properties.ts
  packages/ag-charts-community/src/util/sizeMonitor.ts
  packages/ag-charts-community/src/util/type-guards.ts
  packages/ag-charts-community/src/util/validation.ts
  packages/ag-charts-community/src/util/value.ts
  packages/ag-charts-enterprise/src/series/box-plot/boxPlotSeries.ts
  packages/ag-charts-enterprise/src/series/bullet/bulletSeries.test.ts
  packages/ag-charts-enterprise/src/series/bullet/bulletSeriesProperties.ts
  packages/ag-charts-enterprise/src/series/heatmap/heatmapSeriesProperties.ts
  packages/ag-charts-enterprise/src/series/treemap/treemapSeriesModule.ts
Owners: @alantreadway

AG-10021 - Fix codesandbox/example runner bugs (#807)
  packages/ag-charts-website/package.json
  packages/ag-charts-website/src/features/api-explorer/utils/templates.ts
  packages/ag-charts-website/src/features/codeSandbox/components/OpenInCodeSandbox.tsx
  packages/ag-charts-website/src/features/codeSandbox/utils/codeSandbox.ts
  packages/ag-charts-website/src/features/docs/components/DocsExampleRunner.astro
  packages/ag-charts-website/src/features/docs/components/DocsExampleRunner.tsx
  packages/ag-charts-website/src/features/docs/components/DocsFrameworkTemplate.astro
  packages/ag-charts-website/src/features/docs/utils/urlPaths.ts
  packages/ag-charts-website/src/features/example-runner/components/CodeViewer.tsx
  packages/ag-charts-website/src/features/example-runner/components/ExampleRunner.tsx
  packages/ag-charts-website/src/features/example-runner/components/ExternalLinks.tsx
  packages/ag-charts-website/src/features/example-runner/components/FrameworkTemplate.astro
  packages/ag-charts-website/src/features/example-runner/framework-templates/AngularTemplate.astro
  packages/ag-charts-website/src/features/example-runner/framework-templates/JavascriptTemplate.astro
  packages/ag-charts-website/src/features/example-runner/framework-templates/Props.tsx
  packages/ag-charts-website/src/features/example-runner/framework-templates/ReactTemplate.astro
  packages/ag-charts-website/src/features/example-runner/framework-templates/TypescriptTemplate.astro
  packages/ag-charts-website/src/features/example-runner/framework-templates/VueTemplate.astro
  packages/ag-charts-website/src/features/example-runner/framework-templates/lib/ExampleStyle.tsx
  packages/ag-charts-website/src/features/gallery/components/GalleryExampleRunner.tsx
  packages/ag-charts-website/src/features/gallery/components/GalleryFrameworkTemplate.astro
  packages/ag-charts-website/src/features/gallery/utils/urlPaths.ts
  packages/ag-charts-website/src/features/plunkr/components/OpenInPlunkr.tsx
  packages/ag-charts-website/src/features/plunkr/utils/plunkr.ts
  packages/ag-charts-website/src/pages/[internalFramework]/[pageName]/examples/[exampleName]/codesandbox.astro
  packages/ag-charts-website/src/pages/[internalFramework]/[pageName]/examples/[exampleName]/plunkr.astro
  packages/ag-charts-website/src/pages/gallery/examples/[exampleName]/codesandbox.astro
  packages/ag-charts-website/src/pages/gallery/examples/[exampleName]/plunkr.astro
  packages/ag-charts-website/src/utils/sitemapPages.ts
  packages/all/project.json
  yarn.lock
Owners: @alantreadway, @ag-grid/ag-charts-team, @taktran

AG-3390 - Pin `ng-packagr` version
  packages/ag-charts-angular/package.json
  yarn.lock
Owners: @alantreadway, @ag-grid/ag-charts-team

Revert "AG-10148 Don't animate lines hidden at initialisation"
  packages/ag-charts-community/src/chart/series/cartesian/lineSeries.ts
Owners: @alantreadway

AG-10148 Update path visiblity to match series visiblity
  packages/ag-charts-community/src/chart/series/cartesian/lineSeries.ts
Owners: @alantreadway

AG-10148 Update visibility as part of the swipe-in animation
  packages/ag-charts-community/src/chart/series/cartesian/lineSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/pathUtil.ts
Owners: @alantreadway

AG-8696 Fix highlighting on duplicate datums
  packages/ag-charts-community/src/chart/chart.ts
  packages/ag-charts-community/src/chart/series/cartesian/barSeries.ts
Owners: @alantreadway

AG-3390 - Don't hoist `ng-packagr`
  package.json
Owners: @alantreadway

theme constants changed to enums
  packages/ag-charts-community/src/chart/mapping/defaults.ts
  packages/ag-charts-community/src/chart/series/cartesian/barSeriesModule.ts
  packages/ag-charts-community/src/chart/series/cartesian/bubbleSeriesModule.ts
  packages/ag-charts-community/src/chart/series/cartesian/histogramSeriesModule.ts
  packages/ag-charts-community/src/chart/series/cartesian/scatterSeriesModule.ts
  packages/ag-charts-community/src/chart/themes/chartTheme.ts
  packages/ag-charts-community/src/chart/themes/constants.ts
  packages/ag-charts-enterprise/src/series/box-plot/boxPlotDefaults.ts
  packages/ag-charts-enterprise/src/series/bullet/bulletDefaults.ts
  packages/ag-charts-enterprise/src/series/bullet/bulletModule.ts
  packages/ag-charts-enterprise/src/series/heatmap/heatmapDefaults.ts
  packages/ag-charts-enterprise/src/series/nightingale/nightingaleDefaults.ts
  packages/ag-charts-enterprise/src/series/polarDefaults.ts
  packages/ag-charts-enterprise/src/series/radial-bar/radialBarDefaults.ts
  packages/ag-charts-enterprise/src/series/radial-column/radialColumnDefaults.ts
  packages/ag-charts-enterprise/src/series/range-area/rangeAreaDefaults.ts
  packages/ag-charts-enterprise/src/series/range-bar/rangeBarDefaults.ts
  packages/ag-charts-enterprise/src/series/waterfall/waterfallDefaults.ts
Owners: @alantreadway

.github/CODEOWNERS:

# NOTE: Order of entries matters - later entries have higher precedence.

# Attribute code-owners so default reviewers are assigned to PRs.
* @ag-grid/ag-charts-team

# Astro + website changes to be reviewed by website team.
*.scss @markdurrant
*.astro @taktran
/packages/ag-charts-website/astro/** @taktran
/packages/ag-charts-website/components/** @taktran
/packages/ag-charts-website/features/** @taktran
/packages/ag-charts-website/layouts/** @taktran
/packages/ag-charts-website/stores/** @taktran
/packages/ag-charts-website/utils/** @taktran

# Docs updates to be reviewed by Eng VP.
/packages/ag-charts-website/content/** @alantreadway @rmc-software
*.mdoc @rmc-software

# Charts library code to be reviewed by Chart TL.
/packages/ag-charts-community/** @alantreadway
/packages/ag-charts-enterprise/** @alantreadway

# Sensitive build/repo files to be reviewed by Chart TL.
**/package.json @alantreadway
nx.json @alantreadway
**/project.json @alantreadway
**/tsconfig.json @alantreadway
**/tsconfig.*.json @alantreadway
