Repository ag-grid/ag-charts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ag-grid/ag-charts-team, @markdurrant, @taktran, @alantreadway, @rmc-software

Fix ag-charts-react build.
  packages/ag-charts-react/.npmignore
  packages/ag-charts-react/package.json
  packages/ag-charts-react/project.json
  packages/ag-charts-react/tsconfig.types.json
Owners: @ag-grid/ag-charts-team, @alantreadway

esbuild config error-case fix.
  esbuild.config.cjs
Owners: @ag-grid/ag-charts-team

Fix devkit package version.
  plugins/ag-charts-generate-chart-thumbnail/package.json
  plugins/ag-charts-generate-code-reference-files/package.json
  plugins/ag-charts-generate-example-files/package.json
  plugins/ag-charts-task-autogen/package.json
  yarn.lock
Owners: @alantreadway, @ag-grid/ag-charts-team

nx format
  package.json
Owners: @alantreadway

Fix nx dev.
  packages/ag-charts-website/public/example-runner/charts-react-boilerplate/systemjs.config.dev.js
  packages/ag-charts-website/public/example-runner/charts-react-boilerplate/systemjs.config.js
  packages/ag-charts-website/public/example-runner/charts-react-ts-boilerplate/systemjs.config.dev.js
  packages/ag-charts-website/public/example-runner/charts-react-ts-boilerplate/systemjs.config.js
  packages/all/project.json
Owners: @ag-grid/ag-charts-team, @alantreadway

Fix ag-charts-react bundle size.
  packages/ag-charts-react/project.json
Owners: @alantreadway

Fix snapshots.
  packages/ag-charts-website/src/components/snippet/__snapshots__/snippetTransformer.test.ts.snap
Owners: @ag-grid/ag-charts-team

AG-10197, AG-10833, AG-10195 Corner radius fixes
  packages/ag-charts-community/src/chart/series/cartesian/histogramSeries.ts
  packages/ag-charts-community/src/options/series/cartesian/barOptions.ts
  packages/ag-charts-community/src/options/series/cartesian/boxPlotOptions.ts
  packages/ag-charts-community/src/options/series/cartesian/histogramOptions.ts
  packages/ag-charts-community/src/options/series/cartesian/rangeBarOptions.ts
  packages/ag-charts-community/src/options/series/cartesian/waterfallOptions.ts
  packages/ag-charts-website/src/content/docs/bar-series/index.mdoc
  packages/ag-charts-website/src/content/docs/range-bar-series/index.mdoc
Owners: @alantreadway, @rmc-software

AG-10755 - Candlestick mini chart options
  packages/ag-charts-community/src/options/chart/navigatorOptions.ts
Owners: @alantreadway

AG-10755 - Series node event + corner radius
  packages/ag-charts-enterprise/src/series/candlestick/candlestickSeries.ts
  packages/ag-charts-enterprise/src/series/candlestick/candlestickSeriesProperties.ts
Owners: @alantreadway

AG-10755 - tests
  packages/ag-charts-enterprise/src/series/candlestick/__image_snapshots__/candlestick-series-test-ts-candlestick-series-initial-animation-for-candlestick-options-should-animate-at-0-1-snap.png
  packages/ag-charts-enterprise/src/series/candlestick/__image_snapshots__/candlestick-series-test-ts-candlestick-series-initial-animation-for-candlestick-options-should-animate-at-100-1-snap.png
  packages/ag-charts-enterprise/src/series/candlestick/__image_snapshots__/candlestick-series-test-ts-candlestick-series-initial-animation-for-candlestick-options-should-animate-at-25-1-snap.png
  packages/ag-charts-enterprise/src/series/candlestick/__image_snapshots__/candlestick-series-test-ts-candlestick-series-initial-animation-for-candlestick-options-should-animate-at-50-1-snap.png
  packages/ag-charts-enterprise/src/series/candlestick/__image_snapshots__/candlestick-series-test-ts-candlestick-series-initial-animation-for-candlestick-options-should-animate-at-75-1-snap.png
  packages/ag-charts-enterprise/src/series/candlestick/__image_snapshots__/candlestick-series-test-ts-candlestick-series-should-render-a-candlestick-chart-as-expected-1-snap.png
  packages/ag-charts-enterprise/src/series/candlestick/__image_snapshots__/candlestick-series-test-ts-candlestick-series-should-render-a-candlestick-chart-as-expected-with-reversed-axes-1-snap.png
  packages/ag-charts-enterprise/src/series/candlestick/__image_snapshots__/candlestick-series-test-ts-candlestick-series-should-render-a-candlestick-chart-with-a-reversed-time-x-axis-1-snap.png
  packages/ag-charts-enterprise/src/series/candlestick/__image_snapshots__/candlestick-series-test-ts-candlestick-series-should-render-a-candlestick-chart-with-a-time-x-axis-1-snap.png
  packages/ag-charts-enterprise/src/series/candlestick/candlestickSeries.test.ts
Owners: @alantreadway

SonarQube high-severity fixes.
  packages/ag-charts-angular/projects/ag-charts-angular/src/lib/ag-charts-angular.component.ts
  packages/ag-charts-community/src/chart/gridLayout.ts
  packages/ag-charts-community/src/chart/interaction/animationBatch.ts
  packages/ag-charts-community/src/util/array.ts
  packages/ag-charts-enterprise/src/series/box-plot/boxPlotSeries.ts
  packages/ag-charts-enterprise/src/series/bullet/bulletSeries.ts
  packages/ag-charts-enterprise/src/series/treemap/treemapSeries.ts
  packages/ag-charts-enterprise/src/series/waterfall/waterfallSeries.ts
  sonar-project.properties
Owners: @ag-grid/ag-charts-team, @alantreadway

AG-10755 - tooltip
  packages/ag-charts-enterprise/src/series/candlestick/candlestickSeries.ts
Owners: @alantreadway

Refactor cleanup of zoom
  packages/ag-charts-enterprise/src/features/zoom/zoom.ts
  packages/ag-charts-enterprise/src/features/zoom/zoomAxisDragger.ts
  packages/ag-charts-enterprise/src/features/zoom/zoomPanner.ts
  packages/ag-charts-enterprise/src/features/zoom/zoomScroller.ts
  packages/ag-charts-enterprise/src/features/zoom/zoomSelector.ts
  packages/ag-charts-enterprise/src/features/zoom/zoomUtils.ts
Owners: @alantreadway

AG-10755 - cornerRadius
  packages/ag-charts-community/src/options/series/cartesian/candlestickOptions.ts
  packages/ag-charts-enterprise/src/series/candlestick/candlestickGroup.ts
  packages/ag-charts-enterprise/src/series/candlestick/candlestickSeries.ts
  packages/ag-charts-enterprise/src/series/candlestick/candlestickSeriesProperties.ts
  packages/ag-charts-enterprise/src/series/candlestick/candlestickTypes.ts
Owners: @alantreadway

AG-10233 Disable highlight when contextmenu is shown
  packages/ag-charts-community/src/chart/chart.ts
Owners: @alantreadway

AG-10755 - fix lint error
  packages/ag-charts-enterprise/src/series/candlestick/candlestickGroup.ts
Owners: @alantreadway

SonarQube high-severity fixes.
  packages/ag-charts-community/src/chart/cartesianChart.ts
  packages/ag-charts-community/src/chart/chartAxis.ts
  packages/ag-charts-community/src/chart/crossline/crossLine.ts
  packages/ag-charts-enterprise/src/axes/polar-crosslines/polarCrossLine.ts
Owners: @alantreadway

AG-10755 - Fix tests for reversed value axis
  packages/ag-charts-enterprise/src/series/candlestick/candlestickGroup.ts
  packages/ag-charts-enterprise/src/series/candlestick/candlestickSeries.ts
  packages/ag-charts-enterprise/src/series/candlestick/candlestickTypes.ts
Owners: @alantreadway

Reduce scope of no-negated-condition ESLint rule.
  patches/eslint+8.56.0.patch
Owners: @ag-grid/ag-charts-team

AG-10843: Fix chart size issue
  packages/ag-charts-community/src/scene/scene.ts
Owners: @alantreadway

Fix sync docs (tooltip)
  packages/ag-charts-website/src/content/docs/sync/_examples/basic-sync/main.ts
  packages/ag-charts-website/src/content/docs/sync/index.mdoc
Owners: @ag-grid/ag-charts-team, @rmc-software

AG-10838: Improve axes sync performance + disable sync on invalid config
  packages/ag-charts-community/src/chart/chart.ts
  packages/ag-charts-enterprise/src/features/sync/chartSync.ts
Owners: @alantreadway

AG-10755 - convert to scale util function
  packages/ag-charts-community/src/chart/series/util.ts
  packages/ag-charts-community/src/module-support.ts
  packages/ag-charts-enterprise/src/series/box-plot/boxPlotSeries.ts
  packages/ag-charts-enterprise/src/series/candlestick/candlestickSeries.ts
  packages/ag-charts-enterprise/src/series/candlestick/candlestickSeriesProperties.ts
Owners: @alantreadway

AG-10755 - remove unused import
  packages/ag-charts-enterprise/src/series/candlestick/candlestickSeriesProperties.ts
Owners: @alantreadway

improve changes check
  packages/ag-charts-enterprise/src/features/sync/chartSync.ts
Owners: @alantreadway

AG-10775 Add zoom range with domain values
  packages/ag-charts-community/src/chart/axis/axis.ts
  packages/ag-charts-community/src/chart/layout/layoutService.ts
  packages/ag-charts-community/src/chart/navigator/navigator.ts
  packages/ag-charts-community/src/options/chart/zoomOptions.ts
  packages/ag-charts-community/src/sparklines-util.ts
  packages/ag-charts-community/src/util/array.ts
  packages/ag-charts-enterprise/src/features/zoom/__image_snapshots__/zoom-test-ts-zoom-min-max-should-start-at-the-given-zoom-1-snap.png
  packages/ag-charts-enterprise/src/features/zoom/__image_snapshots__/zoom-test-ts-zoom-range-should-extend-the-range-to-the-end-1-snap.png
  packages/ag-charts-enterprise/src/features/zoom/__image_snapshots__/zoom-test-ts-zoom-range-should-extend-the-range-to-the-start-1-snap.png
  packages/ag-charts-enterprise/src/features/zoom/__image_snapshots__/zoom-test-ts-zoom-range-should-start-with-the-given-range-1-snap.png
  packages/ag-charts-enterprise/src/features/zoom/zoom.test.ts
  packages/ag-charts-enterprise/src/features/zoom/zoom.ts
  packages/ag-charts-enterprise/src/features/zoom/zoomRange.ts
  packages/ag-charts-website/src/content/docs/zoom/_examples/zoom-range/data.ts
  packages/ag-charts-website/src/content/docs/zoom/_examples/zoom-range/index.html
  packages/ag-charts-website/src/content/docs/zoom/_examples/zoom-range/main.ts
  packages/ag-charts-website/src/content/docs/zoom/index.mdoc
Owners: @alantreadway, @ag-grid/ag-charts-team, @rmc-software

AG-10755 - factor our bar group scale calculations
  packages/ag-charts-community/src/chart/series/cartesian/abstractBarSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/barSeries.ts
  packages/ag-charts-enterprise/src/series/box-plot/__image_snapshots__/box-plot-series-test-ts-box-plot-series-initial-animation-for-box-plot-bar-options-should-animate-at-100-1-snap.png
  packages/ag-charts-enterprise/src/series/box-plot/__image_snapshots__/box-plot-series-test-ts-box-plot-series-initial-animation-for-box-plot-bar-options-should-animate-at-50-1-snap.png
  packages/ag-charts-enterprise/src/series/box-plot/__image_snapshots__/box-plot-series-test-ts-box-plot-series-initial-animation-for-box-plot-bar-options-should-animate-at-75-1-snap.png
  packages/ag-charts-enterprise/src/series/box-plot/__image_snapshots__/box-plot-series-test-ts-box-plot-series-should-render-a-box-plot-chart-as-expected-1-snap.png
  packages/ag-charts-enterprise/src/series/box-plot/__image_snapshots__/box-plot-series-test-ts-box-plot-series-should-render-a-box-plot-chart-as-expected-with-reversed-axes-1-snap.png
  packages/ag-charts-enterprise/src/series/box-plot/boxPlotSeries.ts
  packages/ag-charts-enterprise/src/series/candlestick/__image_snapshots__/candlestick-series-test-ts-candlestick-series-initial-animation-for-candlestick-options-should-animate-at-100-1-snap.png
  packages/ag-charts-enterprise/src/series/candlestick/__image_snapshots__/candlestick-series-test-ts-candlestick-series-initial-animation-for-candlestick-options-should-animate-at-50-1-snap.png
  packages/ag-charts-enterprise/src/series/candlestick/__image_snapshots__/candlestick-series-test-ts-candlestick-series-initial-animation-for-candlestick-options-should-animate-at-75-1-snap.png
  packages/ag-charts-enterprise/src/series/candlestick/__image_snapshots__/candlestick-series-test-ts-candlestick-series-should-render-a-candlestick-chart-as-expected-1-snap.png
  packages/ag-charts-enterprise/src/series/candlestick/__image_snapshots__/candlestick-series-test-ts-candlestick-series-should-render-a-candlestick-chart-as-expected-with-reversed-axes-1-snap.png
  packages/ag-charts-enterprise/src/series/candlestick/candlestickSeries.ts
  packages/ag-charts-enterprise/src/series/candlestick/candlestickThemes.ts
  packages/ag-charts-enterprise/src/series/range-bar/rangeBar.ts
  packages/ag-charts-enterprise/src/series/waterfall/waterfallSeries.ts
Owners: @alantreadway

lint
  packages/ag-charts-community/src/options/series/cartesian/barOptions.ts
  packages/ag-charts-community/src/options/series/cartesian/histogramOptions.ts
Owners: @alantreadway

Lint fixes.
  packages/ag-charts-community/src/chart/series/cartesian/barSeries.ts
  packages/ag-charts-community/src/chart/series/hierarchy/hierarchySeries.ts
  packages/ag-charts-enterprise/src/axes/angle-number/linearAngleScale.ts
  packages/ag-charts-enterprise/src/axes/angle/angleAxis.ts
  packages/ag-charts-enterprise/src/axes/radius/radiusAxis.ts
  packages/ag-charts-enterprise/src/features/background/backgroundImage.test.ts
  packages/ag-charts-enterprise/src/features/context-menu/contextMenu.ts
  packages/ag-charts-enterprise/src/features/crosshair/crosshairLabel.ts
  packages/ag-charts-enterprise/src/features/error-bar/errorBar.ts
  packages/ag-charts-enterprise/src/features/navigator/miniChart.ts
  packages/ag-charts-enterprise/src/features/sync/chartSync.ts
  packages/ag-charts-enterprise/src/features/zoom/zoomAxisDragger.ts
  packages/ag-charts-enterprise/src/features/zoom/zoomPanner.ts
  packages/ag-charts-enterprise/src/galleryExamples.test.ts
  packages/ag-charts-enterprise/src/series/bullet/bulletSeries.ts
  packages/ag-charts-enterprise/src/series/heatmap/heatmapSeries.ts
  packages/ag-charts-enterprise/src/series/radar/radarSeries.ts
  packages/ag-charts-enterprise/src/series/range-area/rangeArea.ts
  packages/ag-charts-enterprise/src/series/range-bar/rangeBar.ts
  packages/ag-charts-enterprise/src/series/sunburst/sunburstSeries.test.ts
  packages/ag-charts-enterprise/src/series/sunburst/sunburstSeries.ts
  packages/ag-charts-enterprise/src/series/treemap/treemapSeries.test.ts
  packages/ag-charts-enterprise/src/series/treemap/treemapSeries.ts
  packages/ag-charts-enterprise/src/series/util/labelFormatter.ts
  packages/ag-charts-enterprise/src/series/waterfall/waterfallSeries.ts
  packages/ag-charts-enterprise/src/setup.ts
  packages/ag-charts-enterprise/src/utils/polar.ts
  plugins/ag-charts-generate-chart-thumbnail/src/executors-utils.ts
  plugins/ag-charts-generate-chart-thumbnail/src/executors/generate/generator/thumbnailGenerator.ts
  plugins/ag-charts-generate-code-reference-files/src/executors/generate/types-utils.ts
Owners: @alantreadway, @ag-grid/ag-charts-team

AG-8595 Remove variables in bboxset.ts
  packages/ag-charts-community/src/util/bboxset.ts
Owners: @alantreadway

AG-8595 Cache Group BBoxes
  packages/ag-charts-community/src/scene/node.ts
  packages/ag-charts-community/src/scene/shape/rect.ts
  packages/ag-charts-community/src/util/bboxset.ts
Owners: @alantreadway

AG-10853 Use RegionManager in navigator.ts
  packages/ag-charts-community/src/chart/interaction/regionManager.ts
  packages/ag-charts-community/src/chart/navigator/navigator.ts
Owners: @alantreadway

AG-10853 Use RegionManager in zoom.ts
  packages/ag-charts-community/src/chart/interaction/regionManager.ts
  packages/ag-charts-enterprise/src/features/crosshair/crosshair.ts
  packages/ag-charts-enterprise/src/features/zoom/zoom.ts
Owners: @alantreadway

SonarQube high-severity fixes.
  packages/ag-charts-angular/projects/ag-charts-angular/src/lib/ag-charts-angular.component.ts
  packages/ag-charts-community/src/chart/gridLayout.ts
  packages/ag-charts-community/src/chart/interaction/animationBatch.ts
  packages/ag-charts-community/src/util/array.ts
  packages/ag-charts-enterprise/src/series/box-plot/boxPlotSeries.ts
  packages/ag-charts-enterprise/src/series/bullet/bulletSeries.ts
  packages/ag-charts-enterprise/src/series/treemap/treemapSeries.ts
  packages/ag-charts-enterprise/src/series/waterfall/waterfallSeries.ts
  sonar-project.properties
Owners: @ag-grid/ag-charts-team, @alantreadway

Reduce scope of no-negated-condition ESLint rule.
  patches/eslint+8.56.0.patch
Owners: @ag-grid/ag-charts-team

SonarQube high-severity fixes.
  packages/ag-charts-community/src/chart/cartesianChart.ts
  packages/ag-charts-community/src/chart/chartAxis.ts
  packages/ag-charts-community/src/chart/crossline/crossLine.ts
  packages/ag-charts-enterprise/src/axes/polar-crosslines/polarCrossLine.ts
Owners: @alantreadway

AG-10766 Fix async zoom to only consider visible items for min rect
  packages/ag-charts-community/src/chart/chart.ts
  packages/ag-charts-community/src/chart/series/cartesian/cartesianSeries.ts
  packages/ag-charts-community/src/chart/series/series.ts
  packages/ag-charts-community/src/chart/series/seriesTypes.ts
  packages/ag-charts-community/src/chart/updateService.ts
  packages/ag-charts-enterprise/src/features/zoom/zoom.ts
Owners: @alantreadway

AG-10755 - remove comments
  packages/ag-charts-community/src/options/series/cartesian/candlestickOptions.ts
Owners: @alantreadway

Refactor zoom delta checks into dx/dy fns
  packages/ag-charts-enterprise/src/features/zoom/zoom.ts
  packages/ag-charts-enterprise/src/features/zoom/zoomAxisDragger.ts
  packages/ag-charts-enterprise/src/features/zoom/zoomUtils.ts
Owners: @alantreadway

.github/CODEOWNERS:

# NOTE: Order of entries matters - later entries have higher precedence.

# Attribute code-owners so default reviewers are assigned to PRs.
* @ag-grid/ag-charts-team

# Astro + website changes to be reviewed by website team.
*.scss @markdurrant
*.astro @taktran
/packages/ag-charts-website/astro/** @taktran
/packages/ag-charts-website/components/** @taktran
/packages/ag-charts-website/features/** @taktran
/packages/ag-charts-website/layouts/** @taktran
/packages/ag-charts-website/stores/** @taktran
/packages/ag-charts-website/utils/** @taktran

# Docs updates to be reviewed by Eng VP.
/packages/ag-charts-website/content/** @alantreadway @rmc-software
*.mdoc @rmc-software

# Charts library code to be reviewed by Chart TL.
/packages/ag-charts-community/** @alantreadway
/packages/ag-charts-enterprise/** @alantreadway

# Sensitive build/repo files to be reviewed by Chart TL.
**/package.json @alantreadway
nx.json @alantreadway
**/project.json @alantreadway
**/tsconfig.json @alantreadway
**/tsconfig.*.json @alantreadway
