Repository ag-grid/ag-charts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ag-grid/ag-charts-team, @markdurrant, @taktran, @alantreadway, @rmc-software

AG-10941 Panning WIP
  packages/ag-charts-community/src/chart/axis/axis.ts
  packages/ag-charts-community/src/chart/cartesianChart.ts
  packages/ag-charts-community/src/chart/chart.ts
  packages/ag-charts-community/src/chart/chartAxis.ts
  packages/ag-charts-community/src/chart/factory/expectedEnterpriseModules.ts
  packages/ag-charts-community/src/chart/interaction/zoomManager.ts
  packages/ag-charts-community/src/chart/series/topology/mercatorScale.ts
  packages/ag-charts-community/src/chart/topologyChart.ts
  packages/ag-charts-enterprise/src/features/navigator/miniChart.ts
  packages/ag-charts-enterprise/src/features/zoom/zoomModule.ts
  packages/ag-charts-enterprise/src/series/map-shape/mapShapeSeries.ts
Owners: @alantreadway

Use animation manager with zoom manager
  packages/ag-charts-enterprise/src/features/zoom/zoom.ts
  packages/ag-charts-enterprise/src/features/zoom/zoomPanner.ts
Owners: @alantreadway

AG-10941 Implement map zooming
  packages/ag-charts-community/src/chart/series/topology/mercatorScale.ts
  packages/ag-charts-community/src/chart/topologyChart.ts
  packages/ag-charts-enterprise/src/series/map-line-background/mapLineBackgroundModule.ts
  packages/ag-charts-enterprise/src/series/map-line/mapLineModule.ts
  packages/ag-charts-enterprise/src/series/map-marker/mapMarkerModule.ts
  packages/ag-charts-enterprise/src/series/map-shape-background/mapShapeBackgroundModule.ts
  packages/ag-charts-enterprise/src/series/map-shape/mapShapeModule.ts
  packages/ag-charts-enterprise/src/series/map-shape/mapShapeSeries.ts
  packages/ag-charts-enterprise/src/series/map-util/mapThemeDefaults.ts
Owners: @alantreadway

AG-11089 - Spruce up main README.md.
  .github/example-1-dark.png
  .github/example-1-light.png
  .github/example-2-dark.png
  .github/example-2-light.png
  README.md
  tools/readme/update-readme-image.js
Owners: @ag-grid/ag-charts-team

AG-11089 - Spruce up main README.md.
  .github/example-1-dark.png
  .github/example-1-light.png
  tools/readme/update-readme-image.js
Owners: @ag-grid/ag-charts-team

AG-11089 - Spruce up main README.md.
  README.md
Owners: @ag-grid/ag-charts-team

AG-11089 - Spruce up main README.md.
  README.md
Owners: @ag-grid/ag-charts-team

AG-11089 - Spruce up main README.md.
  README.md
Owners: @ag-grid/ag-charts-team

AG-11089 - Spruce up main README.md.
  README.md
Owners: @ag-grid/ag-charts-team

Release 9.2.1 (ag-charts-react)
  dist/packages/ag-charts-angular.tgz
  dist/packages/ag-charts-enterprise.tgz
  dist/packages/ag-charts-react.tgz
  dist/packages/ag-charts-vue.tgz
  dist/packages/ag-charts-vue3.tgz
  dist/packages/contents/ag-charts-react/package/package.json
  libraries/ag-charts-test/dist/package.json
  packages/ag-charts-react/dist/package/package.json
  packages/ag-charts-react/dist/types/package.json
  packages/ag-charts-react/dist/umd/package.json
  packages/ag-charts-react/package.json
Owners: @ag-grid/ag-charts-team, @alantreadway

lint
  packages/ag-charts-enterprise/src/series/map-shape/mapShapeSeries.ts
Owners: @alantreadway

AG-11089 - Spruce up main README.md.
  README.md
Owners: @ag-grid/ag-charts-team

AG-9843 Fix animation example
  packages/ag-charts-website/src/content/docs/animation/_examples/data-updates/main.ts
  packages/ag-charts-website/src/content/docs/animation/_examples/duration/main.ts
  packages/ag-charts-website/src/content/docs/animation/_examples/initial-load/main.ts
Owners: @ag-grid/ag-charts-team

fix tests
  packages/ag-charts-community/jest.config.ts
  packages/ag-charts-community/jest.setup.ts
  packages/ag-charts-community/package.json
  packages/ag-charts-community/src/chart/agChart.test.ts
  packages/ag-charts-community/src/chart/tooltip/__snapshots__/tooltip.test.ts.snap
  packages/ag-charts-community/src/module/optionsModule.test.ts
  packages/ag-charts-enterprise/jest.config.ts
  packages/ag-charts-enterprise/jest.setup.ts
  packages/ag-charts-enterprise/package.json
  patches/path2d+0.1.2.patch
  yarn.lock
Owners: @alantreadway, @ag-grid/ag-charts-team

basic use of Path2D works, 6 tooltip tests unpredictable
  packages/ag-charts-community/src/scene/gradient/linearGradient.ts
  packages/ag-charts-community/src/scene/internalPath2D.ts
  packages/ag-charts-community/src/scene/node.ts
  packages/ag-charts-community/src/scene/shape/linearGradientFill.ts
  packages/ag-charts-community/src/scene/shape/path.ts
  packages/ag-charts-community/src/scene/shape/rect.ts
  packages/ag-charts-community/src/scene/shape/shape.ts
  packages/ag-charts-enterprise/src/series/map-util/geoGeometry.ts
Owners: @alantreadway

AG-11089 - Spruce up main README.md.
  README.md
Owners: @ag-grid/ag-charts-team

AG-11165 Fix nightingale with corner radius for negative values
  packages/ag-charts-community/src/scene/shape/__image_snapshots__/sector-test-ts-sector-clipping-should-render-as-expected-1-snap.png
  packages/ag-charts-community/src/scene/shape/sector.test.ts
  packages/ag-charts-community/src/scene/shape/sector.ts
  packages/ag-charts-community/src/scene/util/sector.ts
  packages/ag-charts-enterprise/src/series/nightingale/nightingaleSeries.ts
  packages/ag-charts-enterprise/src/series/nightingale/nightingaleUtil.ts
  packages/ag-charts-enterprise/src/series/radial-column/radialColumnSeriesBase.ts
Owners: @alantreadway

AG-11089 - Add sync script for README.mds.
  README.md
  packages/ag-charts-angular/README.md
  packages/ag-charts-community/README.md
  packages/ag-charts-enterprise/README.md
  packages/ag-charts-react/README.md
  packages/ag-charts-vue/README.md
  packages/ag-charts-vue3/README.md
  tools/readme/sync-readme.js
Owners: @ag-grid/ag-charts-team, @alantreadway

AG-11120 Refactor angle ticks to allow customising minSpacing property
  packages/ag-charts-community/src/chart/axis/axis.ts
  packages/ag-charts-community/src/chart/axis/axisTick.ts
  packages/ag-charts-community/src/chart/axis/categoryAxis.ts
  packages/ag-charts-community/src/chart/axis/groupedCategoryAxis.ts
  packages/ag-charts-community/src/chart/axis/numberAxis.ts
  packages/ag-charts-community/src/chart/axis/timeAxis.ts
  packages/ag-charts-enterprise/src/axes/angle-category/angleCategoryAxis.ts
  packages/ag-charts-enterprise/src/axes/angle-number/angleNumberAxis.ts
  packages/ag-charts-enterprise/src/axes/angle-number/linearAngleScale.ts
  packages/ag-charts-enterprise/src/axes/radius/radiusAxis.ts
  packages/ag-charts-enterprise/src/gradient-legend/gradientLegend.ts
Owners: @alantreadway

AG-11089 - Add sync script for README.mds.
  packages/ag-charts-angular/README.md
  packages/ag-charts-community/README.md
  packages/ag-charts-enterprise/README.md
  packages/ag-charts-react/README.md
  packages/ag-charts-vue/README.md
  packages/ag-charts-vue3/README.md
  tools/readme/sync-readme.js
Owners: @ag-grid/ag-charts-team, @alantreadway

Fix radial column tests
  packages/ag-charts-enterprise/src/series/nightingale/nightingaleSeries.ts
  packages/ag-charts-enterprise/src/series/nightingale/nightingaleUtil.ts
  packages/ag-charts-enterprise/src/series/radial-column/radialColumnSeriesBase.ts
Owners: @alantreadway

AG-10859 - Extract common financial charts logic into base class
  packages/ag-charts-community/src/options/series/cartesian/candlestickOptions.ts
  packages/ag-charts-enterprise/src/series/candlestick/candlestickGroup.ts
  packages/ag-charts-enterprise/src/series/candlestick/candlestickSeries.ts
  packages/ag-charts-enterprise/src/series/candlestick/candlestickSeriesBase.ts
  packages/ag-charts-enterprise/src/series/candlestick/candlestickSeriesProperties.ts
  packages/ag-charts-enterprise/src/series/candlestick/candlestickTypes.ts
  packages/ag-charts-enterprise/src/series/candlestick/candlestickUtil.ts
Owners: @alantreadway

AG-10859 - Add Ohlc series
  packages/ag-charts-community/src/chart/factory/expectedEnterpriseModules.ts
  packages/ag-charts-community/src/options/agChartOptions.ts
  packages/ag-charts-community/src/options/chart/navigatorOptions.ts
  packages/ag-charts-community/src/options/chart/themeOptions.ts
  packages/ag-charts-community/src/options/series/cartesian/cartesianSeriesTypes.ts
  packages/ag-charts-community/src/options/series/cartesian/ohlcOptions.ts
  packages/ag-charts-enterprise/src/series/ohlc/main.ts
  packages/ag-charts-enterprise/src/series/ohlc/ohlcGroup.ts
  packages/ag-charts-enterprise/src/series/ohlc/ohlcModule.ts
  packages/ag-charts-enterprise/src/series/ohlc/ohlcSeries.ts
  packages/ag-charts-enterprise/src/series/ohlc/ohlcSeriesProperties.ts
  packages/ag-charts-enterprise/src/series/ohlc/ohlcThemes.ts
  packages/ag-charts-enterprise/src/series/ohlc/ohlcTypes.ts
  packages/ag-charts-enterprise/src/setup.ts
Owners: @alantreadway

make InternalPath2D string based
  packages/ag-charts-community/src/chart/series/polar/__image_snapshots__/donut-series-test-ts-donut-series-create-zerosum-donut-1-snap.png
  packages/ag-charts-community/src/scene/internalPath2D.ts
Owners: @alantreadway

AG-10859 - Fix circular dependency
  packages/ag-charts-community/src/options/series/cartesian/ohlcOptions.ts
  packages/ag-charts-enterprise/src/series/candlestick/candlestickSeriesProperties.ts
Owners: @alantreadway

fix thumbnails generation setup
  plugins/ag-charts-generate-chart-thumbnail/jest.config.ts
  plugins/ag-charts-generate-chart-thumbnail/jest.setup.ts
Owners: @ag-grid/ag-charts-team

AG-10859 - Ohlc options
  packages/ag-charts-community/src/options/agChartOptions.ts
  packages/ag-charts-community/src/options/series/cartesian/candlestickBaseOptions.ts
  packages/ag-charts-community/src/options/series/cartesian/candlestickOptions.ts
  packages/ag-charts-community/src/options/series/cartesian/ohlcOptions.ts
Owners: @alantreadway

AG-11071 - Fix sharded execution for gallery thumbnail tests.
  packages/ag-charts-website/tools/compare-gallery-thumbnails.js
Owners: @ag-grid/ag-charts-team

AG-10859 - Ohlc options
  packages/ag-charts-community/src/options/series/cartesian/ohlcOptions.ts
Owners: @alantreadway

fix thumbnails generation setup
  plugins/ag-charts-generate-chart-thumbnail/jest.config.ts
  plugins/ag-charts-generate-chart-thumbnail/jest.setup.ts
  plugins/ag-charts-generate-chart-thumbnail/src/executors/generate/executor.ts
Owners: @ag-grid/ag-charts-team

AG-11071 - Update snapshots.
  packages/ag-charts-website/tools/expected-thumbnails/ag-charts-website/gallery/_examples/radar-with-markers/.skip
  packages/ag-charts-website/tools/expected-thumbnails/ag-charts-website/gallery/_examples/real-time-data-updates/.skip
Owners: @ag-grid/ag-charts-team

AG-11142 Fix framework generator for financial charts examples
  packages/ag-charts-website/src/content/docs/animation/_examples/data-updates/index.html
  packages/ag-charts-website/src/content/docs/animation/_examples/duration/index.html
  packages/ag-charts-website/src/content/docs/animation/_examples/initial-load/index.html
  packages/ag-charts-website/src/content/docs/area-series/_examples/missing-data-area/index.html
  packages/ag-charts-website/src/content/docs/background/_examples/background-fill/index.html
  packages/ag-charts-website/src/content/docs/bar-series-test/_examples/animation-vertical/index.html
  packages/ag-charts-website/src/content/docs/bar-series-test/_examples/animation/index.html
  packages/ag-charts-website/src/content/docs/error-bars-test/_examples/boyles/index.html
  packages/ag-charts-website/src/content/docs/error-bars-test/_examples/temperatures/index.html
  packages/ag-charts-website/src/content/docs/financial-charts/_examples/candlestick-plus-volume/index.html
  packages/ag-charts-website/src/content/docs/financial-charts/_examples/candlestick-plus-volume/main.ts
  packages/ag-charts-website/src/content/docs/histogram-series-test/_examples/animation/index.html
  packages/ag-charts-website/src/content/docs/line-series/_examples/gap-line/index.html
  packages/ag-charts-website/src/content/docs/pie-series-test/_examples/animation/index.html
  packages/ag-charts-website/src/content/docs/radar-line-series-test/_examples/animation/index.html
  packages/ag-charts-website/src/content/docs/scatter-series-test/_examples/animation/index.html
  packages/ag-charts-website/src/content/docs/sunburst-series-test/_examples/org-chart/index.html
  packages/ag-charts-website/src/content/docs/treemap-series-test/_examples/org-chart/index.html
  packages/ag-charts-website/src/content/docs/zoom/_examples/zoom-async/index.html
  packages/ag-charts-website/src/content/docs/zoom/_examples/zoom-range/index.html
  plugins/ag-charts-generate-example-files/src/executors/generate/generator/transformation-scripts/chart-vanilla-to-react-functional-ts.ts
  plugins/ag-charts-generate-example-files/src/executors/generate/generator/transformation-scripts/chart-vanilla-to-react-functional.ts
Owners: @ag-grid/ag-charts-team

9.2.1 changelog
  packages/ag-charts-website/public/changelog/releaseVersionNotes.json
  packages/ag-charts-website/public/changelog/releases/9_2_1.md
Owners: @ag-grid/ag-charts-team

Restore example-2-{dark,light}.png for live npmjs.com README.md.
  .github/example-2-dark.png
  .github/example-2-light.png
Owners: @ag-grid/ag-charts-team

Fix build.
  packages/ag-charts-angular/README.md
  packages/ag-charts-community/README.md
  packages/ag-charts-enterprise/README.md
  packages/ag-charts-react/README.md
  packages/ag-charts-vue/README.md
  packages/ag-charts-vue3/README.md
  tools/readme/sync-readme.js
Owners: @ag-grid/ag-charts-team, @alantreadway

fix rectRound bug
  packages/ag-charts-community/jest.setup.ts
  packages/ag-charts-community/src/scene/internalPath2D.ts
  packages/ag-charts-community/src/scene/shape/rect.ts
  packages/ag-charts-enterprise/jest.setup.ts
Owners: @alantreadway

fix tests
  packages/ag-charts-community/benchmarks/__image_snapshots__/multi-series-test-ts-multi-series-benchmark-after-load-1-x-datum-highlight-1-snap.png
  packages/ag-charts-community/benchmarks/__image_snapshots__/multi-series-test-ts-multi-series-benchmark-after-load-1-x-legend-toggle-1-snap.png
  packages/ag-charts-community/benchmarks/__image_snapshots__/multi-series-test-ts-multi-series-benchmark-after-load-10-x-legend-toggle-1-snap.png
  packages/ag-charts-community/benchmarks/__image_snapshots__/multi-series-test-ts-multi-series-benchmark-after-load-15-x-datum-highlight-1-snap.png
  packages/ag-charts-community/benchmarks/__image_snapshots__/multi-series-test-ts-multi-series-benchmark-initial-load-1-snap.png
  packages/ag-charts-community/jest.jsdom-with-timezone.cjs
  packages/ag-charts-community/project.json
  packages/ag-charts-enterprise/benchmarks/__image_snapshots__/multi-series-test-ts-multi-series-benchmark-after-load-1-x-legend-toggle-1-snap.png
  packages/ag-charts-enterprise/benchmarks/__image_snapshots__/multi-series-test-ts-multi-series-benchmark-after-load-10-x-legend-toggle-1-snap.png
  packages/ag-charts-enterprise/benchmarks/__image_snapshots__/multi-series-test-ts-multi-series-benchmark-initial-load-1-snap.png
  packages/ag-charts-enterprise/project.json
Owners: @alantreadway

AG-10859 - Remove Readonly
  packages/ag-charts-community/src/options/series/cartesian/candlestickOptions.ts
Owners: @alantreadway

AG-10859 - Image snapshots
  packages/ag-charts-enterprise/src/series/ohlc/__image_snapshots__/ohlc-series-test-ts-ohlc-series-initial-animation-for-ohlc-options-should-animate-at-0-1-snap.png
  packages/ag-charts-enterprise/src/series/ohlc/__image_snapshots__/ohlc-series-test-ts-ohlc-series-initial-animation-for-ohlc-options-should-animate-at-100-1-snap.png
  packages/ag-charts-enterprise/src/series/ohlc/__image_snapshots__/ohlc-series-test-ts-ohlc-series-initial-animation-for-ohlc-options-should-animate-at-25-1-snap.png
  packages/ag-charts-enterprise/src/series/ohlc/__image_snapshots__/ohlc-series-test-ts-ohlc-series-initial-animation-for-ohlc-options-should-animate-at-50-1-snap.png
  packages/ag-charts-enterprise/src/series/ohlc/__image_snapshots__/ohlc-series-test-ts-ohlc-series-initial-animation-for-ohlc-options-should-animate-at-75-1-snap.png
  packages/ag-charts-enterprise/src/series/ohlc/__image_snapshots__/ohlc-series-test-ts-ohlc-series-should-render-a-ohlc-chart-as-expected-with-default-ordinal-time-x-axis-1-snap.png
  packages/ag-charts-enterprise/src/series/ohlc/__image_snapshots__/ohlc-series-test-ts-ohlc-series-should-render-a-ohlc-chart-as-expected-with-reversed-axes-1-snap.png
  packages/ag-charts-enterprise/src/series/ohlc/__image_snapshots__/ohlc-series-test-ts-ohlc-series-should-render-a-ohlc-chart-with-a-reversed-time-x-axis-1-snap.png
  packages/ag-charts-enterprise/src/series/ohlc/__image_snapshots__/ohlc-series-test-ts-ohlc-series-should-render-a-ohlc-chart-with-a-time-x-axis-1-snap.png
  packages/ag-charts-enterprise/src/series/ohlc/ohlcSeries.test.ts
Owners: @alantreadway

AG-11149 Allow setting custom range buttons in toolbar
  packages/ag-charts-community/src/chart/interaction/toolbarManager.ts
  packages/ag-charts-community/src/chart/toolbar/scenes/toolbarButton.ts
  packages/ag-charts-community/src/chart/toolbar/toolbar.ts
  packages/ag-charts-community/src/options/agChartOptions.ts
  packages/ag-charts-community/src/options/chart/rangeButtonsOptions.ts
  packages/ag-charts-enterprise/src/features/range-buttons/rangeButtons.ts
  packages/ag-charts-enterprise/src/features/range-buttons/rangeButtonsModule.ts
  packages/ag-charts-enterprise/src/features/range-buttons/rangeTypes.ts
  packages/ag-charts-enterprise/src/features/zoom/zoom.ts
Owners: @alantreadway

.github/CODEOWNERS:

# NOTE: Order of entries matters - later entries have higher precedence.

# Attribute code-owners so default reviewers are assigned to PRs.
* @ag-grid/ag-charts-team

# Astro + website changes to be reviewed by website team.
*.scss @markdurrant
*.astro @taktran
/packages/ag-charts-website/astro/** @taktran
/packages/ag-charts-website/components/** @taktran
/packages/ag-charts-website/features/** @taktran
/packages/ag-charts-website/layouts/** @taktran
/packages/ag-charts-website/stores/** @taktran
/packages/ag-charts-website/utils/** @taktran

# Docs updates to be reviewed by Eng VP.
/packages/ag-charts-website/content/** @alantreadway @rmc-software
*.mdoc @rmc-software

# Charts library code to be reviewed by Chart TL.
/packages/ag-charts-community/** @alantreadway
/packages/ag-charts-enterprise/** @alantreadway

# Sensitive build/repo files to be reviewed by Chart TL.
**/package.json @alantreadway
nx.json @alantreadway
**/project.json @alantreadway
**/tsconfig.json @alantreadway
**/tsconfig.*.json @alantreadway
