Repository ag-grid/ag-charts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ag-grid/ag-charts-team, @markdurrant, @taktran, @alantreadway, @rmc-software

.github/CODEOWNERS:

# NOTE: Order of entries matters - later entries have higher precedence.

# Attribute code-owners so default reviewers are assigned to PRs.
* @ag-grid/ag-charts-team

# Astro + website changes to be reviewed by website team.
*.scss @markdurrant
*.astro @taktran
/packages/ag-charts-website/astro/** @taktran
/packages/ag-charts-website/components/** @taktran
/packages/ag-charts-website/features/** @taktran
/packages/ag-charts-website/layouts/** @taktran
/packages/ag-charts-website/stores/** @taktran
/packages/ag-charts-website/utils/** @taktran

# Docs updates to be reviewed by Eng VP.
/packages/ag-charts-website/content/** @alantreadway @rmc-software
*.mdoc @rmc-software

# Charts library code to be reviewed by Chart TL.
/packages/ag-charts-community/** @alantreadway
/packages/ag-charts-enterprise/** @alantreadway

# Sensitive build/repo files to be reviewed by Chart TL.
**/package.json @alantreadway
nx.json @alantreadway
**/project.json @alantreadway
**/tsconfig.json @alantreadway
**/tsconfig.*.json @alantreadway

AG-10677 Move status ContextMenu state into the module context
  packages/ag-charts-community/src/chart/chart.ts
  packages/ag-charts-community/src/chart/interaction/contextMenuRegistry.ts
  packages/ag-charts-community/src/module-support.ts
  packages/ag-charts-community/src/module/moduleContext.ts
  packages/ag-charts-enterprise/src/features/context-menu/contextMenu.ts
  packages/ag-charts-enterprise/src/features/context-menu/contextMenuModule.ts
  packages/ag-charts-enterprise/src/features/zoom/zoom.ts
Owners: @alantreadway

AG-10677 Remove unused code
  packages/ag-charts-enterprise/src/features/context-menu/contextMenu.ts
Owners: @alantreadway

AG-10528 - Fix AreaSeries and LineSeries add/remove series animation.
  packages/ag-charts-community/src/chart/series/cartesian/areaSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/lineSeries.ts
  packages/ag-charts-website/src/content/docs/area-series-test/_examples/continuous-animation/index.html
  packages/ag-charts-website/src/content/docs/area-series-test/_examples/continuous-animation/main.ts
  packages/ag-charts-website/src/content/docs/line-series-test/_examples/continuous-animation/index.html
  packages/ag-charts-website/src/content/docs/line-series-test/_examples/continuous-animation/main.ts
Owners: @alantreadway, @ag-grid/ag-charts-team

AG-10528 - Test fixes.
  packages/ag-charts-community/src/chart/series/cartesian/barSeries.ts
Owners: @alantreadway

AG-10515 - Improve detection of collapsible animations.
  packages/ag-charts-community/src/motion/fromToMotion.ts
Owners: @alantreadway

AG-10528 - Reset axis animation state on Chart.resetAnimations().
  packages/ag-charts-community/src/chart/axis/axis.ts
  packages/ag-charts-community/src/chart/chart.ts
  packages/ag-charts-community/src/chart/chartAxis.ts
Owners: @alantreadway

AG-10528 - Skip trailing animation phases if earlier phases skipped.
  packages/ag-charts-community/src/chart/interaction/animationBatch.ts
  packages/ag-charts-community/src/motion/animation.ts
Owners: @alantreadway

AG-10528 - Skip trailing animation phases if earlier phases skipped.
  packages/ag-charts-community/src/chart/interaction/animationBatch.ts
  packages/ag-charts-community/src/chart/interaction/animationManager.ts
  packages/ag-charts-community/src/chart/overlay/chartOverlays.ts
  packages/ag-charts-community/src/motion/animation.ts
  packages/ag-charts-community/src/motion/fromToMotion.ts
Owners: @alantreadway

AG-10528 - Fix mis-rendered frames before AnimationBatch.endBatch() is called.
  packages/ag-charts-community/src/chart/chart.ts
  packages/ag-charts-community/src/chart/interaction/animationBatch.ts
Owners: @alantreadway

AG-10528 - Fix animated paths always collapsing to 0 duration.
  packages/ag-charts-community/src/motion/pathMotion.ts
  packages/ag-charts-enterprise/src/series/radar/radarSeries.ts
Owners: @alantreadway

AG-10528 - Cleanup naming.
  packages/ag-charts-community/src/chart/interaction/animationBatch.ts
  packages/ag-charts-community/src/chart/overlay/chartOverlays.ts
  packages/ag-charts-community/src/chart/test/utils.ts
  packages/ag-charts-community/src/motion/animation.ts
Owners: @alantreadway

AG-10528 - Cleanup.
  packages/ag-charts-community/src/motion/fromToMotion.ts
Owners: @alantreadway

Automated package version bump to 9.0.2-beta.20240216.
  .env
  libraries/ag-charts-test/package.json
  package.json
  packages/ag-charts-angular/package.json
  packages/ag-charts-angular/projects/ag-charts-angular/package.json
  packages/ag-charts-community-examples/package.json
  packages/ag-charts-community/package.json
  packages/ag-charts-community/src/version.ts
  packages/ag-charts-enterprise/package.json
  packages/ag-charts-react/package.json
  packages/ag-charts-vue/package.json
  packages/ag-charts-vue3/package.json
  packages/ag-charts-website/.env.build
  packages/ag-charts-website/.env.build.archive
  packages/ag-charts-website/.env.build.production
  packages/ag-charts-website/.env.build.staging
  packages/ag-charts-website/.env.dev
  packages/ag-charts-website/.env.preview
  packages/ag-charts-website/.env.preview.production
  packages/ag-charts-website/.env.preview.staging
  packages/ag-charts-website/package.json
  plugins/ag-charts-generate-chart-thumbnail/package.json
  plugins/ag-charts-generate-code-reference-files/package.json
  plugins/ag-charts-generate-example-files/package.json
Owners: @ag-grid/ag-charts-team, @alantreadway

AG-10607 Fix zoom min ratios to update on new data
  packages/ag-charts-enterprise/src/features/zoom/zoom.ts
Owners: @alantreadway

AG-10607 Fix zoom to ignore min ratios when using data source for infinite zoom
  packages/ag-charts-community/src/module-support.ts
  packages/ag-charts-enterprise/src/features/zoom/zoom.ts
Owners: @alantreadway

AG-10693 - Add support for different version notes button text
  packages/ag-charts-website/src/components/version/Version.tsx
  packages/ag-charts-website/src/content/versions/data.json
  packages/ag-charts-website/src/design-system/modules/Version.module.scss
  packages/ag-charts-website/src/pages/whats-new.astro
Owners: @ag-grid/ag-charts-team, @markdurrant, @taktran

AG-10686 - Remove hardcoded latest flag for what's new
  packages/ag-charts-website/src/components/version/Version.tsx
  packages/ag-charts-website/src/pages/whats-new.astro
Owners: @ag-grid/ag-charts-team, @taktran

Fix legend double-click toggle in animation cases.
  packages/ag-charts-community/src/chart/interaction/regionManager.ts
Owners: @alantreadway

Fix legend double-click toggle in animation cases.
  packages/ag-charts-community/src/chart/interaction/regionManager.ts
Owners: @alantreadway

AG-10625: Sync docs adjustments + Zoom depends on sync.axes
  packages/ag-charts-enterprise/src/features/sync/chartSync.ts
  packages/ag-charts-website/src/content/docs/sync/_examples/axes-sync/data.ts
  packages/ag-charts-website/src/content/docs/sync/_examples/axes-sync/main.ts
  packages/ag-charts-website/src/content/docs/sync/_examples/basic-sync/data.ts
  packages/ag-charts-website/src/content/docs/sync/_examples/basic-sync/index.html
  packages/ag-charts-website/src/content/docs/sync/_examples/basic-sync/main.ts
  packages/ag-charts-website/src/content/docs/sync/_examples/group-sync/data.ts
  packages/ag-charts-website/src/content/docs/sync/_examples/group-sync/main.ts
  packages/ag-charts-website/src/content/docs/sync/index.mdoc
Owners: @alantreadway, @ag-grid/ag-charts-team, @rmc-software

AG-10607 Update zoom async example with more data and zooming
  packages/ag-charts-website/src/content/docs/zoom/_examples/zoom-async/data.ts
  packages/ag-charts-website/src/content/docs/zoom/_examples/zoom-async/fakeServer.ts
  packages/ag-charts-website/src/content/docs/zoom/_examples/zoom-async/main.ts
Owners: @ag-grid/ag-charts-team

fix minor display inconsistency
  packages/ag-charts-website/src/content/docs/sync/index.mdoc
Owners: @rmc-software

AG-10638 - Show deprecationNotes and breakingChangesNotes in pipeline master-detail
  packages/ag-charts-website/public/pipeline/pipeline.json
  packages/ag-charts-website/src/features/pipeline/Pipeline.tsx
Owners: @ag-grid/ag-charts-team

AG-10429 Change data service to discard all but the latest response
  packages/ag-charts-community/src/chart/data/dataService.ts
Owners: @alantreadway

AG-10429 Change data service options to hidden public api
  packages/ag-charts-community/src/chart/data/dataService.ts
  packages/ag-charts-enterprise/src/features/data-source/dataSource.ts
Owners: @alantreadway

AG-10429 Remove loading overlay delay
  packages/ag-charts-community/src/chart/overlay/chartOverlays.ts
Owners: @alantreadway

AG-10086 Rename data service debug to 'data-source'
  packages/ag-charts-community/src/chart/data/dataService.ts
Owners: @alantreadway

AG-10089 Delete old lazy loading test example
  packages/ag-charts-website/src/content/docs/lazy-test/_examples/lazy/data.ts
  packages/ag-charts-website/src/content/docs/lazy-test/_examples/lazy/index.html
  packages/ag-charts-website/src/content/docs/lazy-test/_examples/lazy/main.ts
  packages/ag-charts-website/src/content/docs/lazy-test/index.mdoc
Owners: @ag-grid/ag-charts-team, @rmc-software

AG-10713 - Fix disappearing axis labels on animated legend double-click.
  packages/ag-charts-community/src/chart/axis/axisUtil.ts
Owners: @alantreadway

AG-10429 Fix data service tests
  packages/ag-charts-community/src/chart/data/dataService.ts
  packages/ag-charts-enterprise/src/features/data-source/dataSource.test.ts
Owners: @alantreadway

updated release notes and navigator comments
  packages/ag-charts-community/src/options/chart/navigatorOptions.ts
  packages/ag-charts-website/src/content/docs/upgrade-to-ag-charts-9-1/index.mdoc
  packages/ag-charts-website/src/content/docs/upgrade-to-ag-charts-9/index.mdoc
  packages/ag-charts-website/src/content/versions/data.json
Owners: @alantreadway, @rmc-software, @ag-grid/ag-charts-team

AG-10634 - Fix DonutSeries not rendering correctly for Integrated category type change.
  packages/ag-charts-community/src/chart/series/cartesian/areaSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/pathUtil.ts
  packages/ag-charts-community/src/motion/fromToMotion.ts
Owners: @alantreadway

AG-10429 Remove extra data service debug info
  packages/ag-charts-community/src/chart/data/dataService.ts
Owners: @alantreadway

AG-10430 Update loading overlay example and add custom spinner example
  packages/ag-charts-website/src/content/docs/overlays/_examples/loading-custom/index.html
  packages/ag-charts-website/src/content/docs/overlays/_examples/loading-custom/main.ts
  packages/ag-charts-website/src/content/docs/overlays/_examples/loading/index.html
  packages/ag-charts-website/src/content/docs/overlays/_examples/loading/main.ts
  packages/ag-charts-website/src/content/docs/overlays/index.mdoc
Owners: @ag-grid/ag-charts-team, @rmc-software

Automated package version bump to 9.0.2-beta.20240216.1549.
  .env
  libraries/ag-charts-test/package.json
  package.json
  packages/ag-charts-angular/package.json
  packages/ag-charts-angular/projects/ag-charts-angular/package.json
  packages/ag-charts-community-examples/package.json
  packages/ag-charts-community/package.json
  packages/ag-charts-community/src/version.ts
  packages/ag-charts-enterprise/package.json
  packages/ag-charts-react/package.json
  packages/ag-charts-vue/package.json
  packages/ag-charts-vue3/package.json
  packages/ag-charts-website/.env.build
  packages/ag-charts-website/.env.build.archive
  packages/ag-charts-website/.env.build.production
  packages/ag-charts-website/.env.build.staging
  packages/ag-charts-website/.env.dev
  packages/ag-charts-website/.env.preview
  packages/ag-charts-website/.env.preview.production
  packages/ag-charts-website/.env.preview.staging
  packages/ag-charts-website/package.json
  plugins/ag-charts-generate-chart-thumbnail/package.json
  plugins/ag-charts-generate-code-reference-files/package.json
  plugins/ag-charts-generate-example-files/package.json
Owners: @ag-grid/ag-charts-team, @alantreadway

AG-10233 Re-pick the highlighted node on contextmenu events
  packages/ag-charts-community/src/chart/chart.ts
Owners: @alantreadway

AG-10428 Add small delay on loading overlay to prevent flashes
  packages/ag-charts-community/src/chart/overlay/chartOverlays.ts
Owners: @alantreadway

AG-10431 Update data service to silently handle callback errors
  packages/ag-charts-community/src/chart/data/dataService.ts
Owners: @alantreadway

AG-10431 - Improve loading overlay dismissal in error case.
  packages/ag-charts-community/src/chart/data/dataService.ts
  packages/ag-charts-community/src/chart/update/dataWindowProcessor.ts
Owners: @alantreadway

Add enterprise indicators to Histogram series type.
  packages/ag-charts-website/src/content/docs/histogram-series/_examples/irregular-intervals/main.ts
  packages/ag-charts-website/src/content/docs/histogram-series/_examples/larger-bin-count/main.ts
  packages/ag-charts-website/src/content/docs/histogram-series/_examples/mean-histogram/main.ts
  packages/ag-charts-website/src/content/docs/histogram-series/_examples/simple/main.ts
  packages/ag-charts-website/src/content/docs/histogram-series/_examples/sum-histogram/main.ts
  packages/ag-charts-website/src/content/docs/histogram-series/index.mdoc
  packages/ag-charts-website/src/content/menu/data.json
Owners: @ag-grid/ag-charts-team, @rmc-software
