Repository ag-grid/ag-charts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ag-grid/ag-charts-team, @markdurrant, @taktran, @alantreadway, @rmc-software

.github/CODEOWNERS:

# NOTE: Order of entries matters - later entries have higher precedence.

# Attribute code-owners so default reviewers are assigned to PRs.
* @ag-grid/ag-charts-team

# Astro + website changes to be reviewed by website team.
*.scss @markdurrant
*.astro @taktran
/packages/ag-charts-website/astro/** @taktran
/packages/ag-charts-website/components/** @taktran
/packages/ag-charts-website/features/** @taktran
/packages/ag-charts-website/layouts/** @taktran
/packages/ag-charts-website/stores/** @taktran
/packages/ag-charts-website/utils/** @taktran

# Docs updates to be reviewed by Eng VP.
/packages/ag-charts-website/content/** @alantreadway @rmc-software
*.mdoc @rmc-software

# Charts library code to be reviewed by Chart TL.
/packages/ag-charts-community/** @alantreadway
/packages/ag-charts-enterprise/** @alantreadway

# Sensitive build/repo files to be reviewed by Chart TL.
**/package.json @alantreadway
nx.json @alantreadway
**/project.json @alantreadway
**/tsconfig.json @alantreadway
**/tsconfig.*.json @alantreadway

Lint fixes.
  packages/ag-charts-community/benchmarks/benchmark.ts
  packages/ag-charts-enterprise/benchmarks/multiSeries.test.ts
Owners: @alantreadway

AG-9177 -Refactor getData to single return point
  packages/ag-charts-enterprise/src/features/crosshair/crosshair.ts
Owners: @alantreadway

AG-10853 Remove obsolete RTI-1406 fix
  packages/ag-charts-community/src/chart/chart.ts
  packages/ag-charts-community/src/chart/interaction/tooltipManager.ts
  packages/ag-charts-community/src/chart/legend.ts
Owners: @alantreadway

AG-10853 Migrate toolbar.ts to use RegionManager
  packages/ag-charts-community/src/chart/interaction/regionManager.ts
  packages/ag-charts-community/src/chart/toolbar/toolbar.ts
Owners: @alantreadway

AG-9177 - Refactor getData to single return point
  packages/ag-charts-enterprise/src/features/crosshair/crosshair.ts
Owners: @alantreadway

AG-10898 Fix dates in bandscales not matching many data per series
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/line-series-test-ts-line-series-data-per-series-with-category-keys-should-render-as-expected-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/line-series-test-ts-line-series-data-per-series-with-continuous-keys-should-render-as-expected-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/lineSeries.test.ts
  packages/ag-charts-community/src/scale/bandScale.test.ts
  packages/ag-charts-community/src/scale/bandScale.ts
Owners: @alantreadway

AG-10916 Fix zoom range to not reset on update such as darkmode
  packages/ag-charts-enterprise/src/features/zoom/zoomRange.ts
Owners: @alantreadway

Automated package version bump to 9.1.1-beta.20240312.
  .env
  libraries/ag-charts-test/package.json
  package.json
  packages/ag-charts-angular/package.json
  packages/ag-charts-angular/projects/ag-charts-angular/package.json
  packages/ag-charts-community-examples/package.json
  packages/ag-charts-community/package.json
  packages/ag-charts-community/src/version.ts
  packages/ag-charts-enterprise/package.json
  packages/ag-charts-react/package.json
  packages/ag-charts-vue/package.json
  packages/ag-charts-vue3/package.json
  packages/ag-charts-website/.env.build
  packages/ag-charts-website/.env.build.archive
  packages/ag-charts-website/.env.build.production
  packages/ag-charts-website/.env.build.staging
  packages/ag-charts-website/.env.dev
  packages/ag-charts-website/.env.preview
  packages/ag-charts-website/.env.preview.production
  packages/ag-charts-website/.env.preview.staging
  packages/ag-charts-website/package.json
  plugins/ag-charts-generate-chart-thumbnail/package.json
  plugins/ag-charts-generate-code-reference-files/package.json
  plugins/ag-charts-generate-example-files/package.json
Owners: @ag-grid/ag-charts-team, @alantreadway

AG-10989 - Fix WaterfallSeries labels defaulting to enabled.
  packages/ag-charts-enterprise/src/series/waterfall/waterfallThemes.ts
Owners: @alantreadway

Adding properties to mini chart series ignore list, that I missed on AG-10780 originally.
  packages/ag-charts-community/src/options/chart/navigatorOptions.ts
  packages/ag-charts-website/src/content/docs/series-highlighting/index.mdoc
Owners: @alantreadway, @rmc-software

formatting
  packages/ag-charts-community/src/options/chart/navigatorOptions.ts
Owners: @alantreadway

Improve stability of label positions over resizes
  packages/ag-charts-enterprise/src/series/map-util/polygonUtil.ts
Owners: @alantreadway

AG-10996 Fix tooltip defaults when using map shape accessory
  packages/ag-charts-enterprise/src/series/map-shape-accessory/mapShapeAccessoryModule.ts
Owners: @alantreadway

AG-10958 Fix navigator and zoom start and end values validation
  packages/ag-charts-community/src/chart/navigator/navigator.ts
  packages/ag-charts-enterprise/src/features/zoom/zoomRange.ts
  packages/ag-charts-enterprise/src/features/zoom/zoomRatio.ts
Owners: @alantreadway

AG-10988 Fixes to scaling map markers and lines
  packages/ag-charts-enterprise/src/series/map-line/mapLineSeries.ts
  packages/ag-charts-enterprise/src/series/map-marker/mapMarkerSeries.ts
Owners: @alantreadway

typo in hidden options
  packages/ag-charts-community/src/options/chart/navigatorOptions.ts
Owners: @alantreadway

AG-10958 Fix navigator and zoom start values validation
  packages/ag-charts-community/src/chart/navigator/navigator.ts
  packages/ag-charts-enterprise/src/features/zoom/zoomRange.ts
  packages/ag-charts-enterprise/src/features/zoom/zoomRatio.ts
Owners: @alantreadway

AG-10904 - Fix axis tick/label jiggling.
  packages/ag-charts-community/src/chart/axis/axis.ts
Owners: @alantreadway

AG-10991 Move map marker series marker properties to top level, remove background property from map marker and line series
  packages/ag-charts-community/src/chart/series/seriesMarker.ts
  packages/ag-charts-community/src/chart/themes/chartTheme.ts
  packages/ag-charts-community/src/chart/themes/darkTheme.ts
  packages/ag-charts-community/src/chart/themes/symbols.ts
  packages/ag-charts-community/src/integrated-charts-scene.ts
  packages/ag-charts-community/src/options/series/topology/mapLineOptions.ts
  packages/ag-charts-community/src/options/series/topology/mapMarkerOptions.ts
  packages/ag-charts-community/src/options/series/topology/mapShapeOptions.ts
  packages/ag-charts-enterprise/src/series/map-line/mapLineModule.ts
  packages/ag-charts-enterprise/src/series/map-line/mapLineSeries.ts
  packages/ag-charts-enterprise/src/series/map-line/mapLineSeriesProperties.ts
  packages/ag-charts-enterprise/src/series/map-marker/mapMarkerModule.ts
  packages/ag-charts-enterprise/src/series/map-marker/mapMarkerSeries.ts
  packages/ag-charts-enterprise/src/series/map-marker/mapMarkerSeriesProperties.ts
  packages/ag-charts-enterprise/src/series/map-shape-accessory/mapShapeAccessoryModule.ts
  packages/ag-charts-enterprise/src/series/map-shape/mapShapeSeries.ts
  packages/ag-charts-website/src/content/docs/map-lines/_examples/background/data.ts
  packages/ag-charts-website/src/content/docs/map-lines/_examples/background/main.ts
  packages/ag-charts-website/src/content/docs/map-lines/_examples/background/topology.ts
  packages/ag-charts-website/src/content/docs/map-lines/_examples/lines/backgroundTopology.ts
  packages/ag-charts-website/src/content/docs/map-lines/_examples/lines/main.ts
  packages/ag-charts-website/src/content/docs/map-lines/index.mdoc
  packages/ag-charts-website/src/content/docs/map-markers/_examples/background/data.ts
  packages/ag-charts-website/src/content/docs/map-markers/_examples/background/index.html
  packages/ag-charts-website/src/content/docs/map-markers/_examples/background/main.ts
  packages/ag-charts-website/src/content/docs/map-markers/_examples/marker-series/backgroundTopology.ts
  packages/ag-charts-website/src/content/docs/map-markers/_examples/marker-series/main.ts
  packages/ag-charts-website/src/content/docs/map-markers/_examples/marker-size/backgroundTopology.ts
  packages/ag-charts-website/src/content/docs/map-markers/_examples/marker-size/main.ts
  packages/ag-charts-website/src/content/docs/map-markers/_examples/markers/backgroundTopology.ts
  packages/ag-charts-website/src/content/docs/map-markers/_examples/markers/main.ts
  packages/ag-charts-website/src/content/docs/map-markers/index.mdoc
  packages/ag-charts-website/src/content/docs/map-series-test/_examples/routing/main.ts
  packages/ag-charts-website/src/content/docs/map-shapes/_examples/backgrounds/data.ts
  packages/ag-charts-website/src/content/docs/map-shapes/_examples/backgrounds/index.html
  packages/ag-charts-website/src/content/docs/map-shapes/_examples/backgrounds/main.ts
  packages/ag-charts-website/src/content/docs/map-shapes/_examples/backgrounds/topology.ts
  packages/ag-charts-website/src/content/docs/map-shapes/index.mdoc
  packages/ag-charts-website/src/content/gallery/_examples/map-marker-series/main.ts
Owners: @alantreadway, @ag-grid/ag-charts-team, @rmc-software

AG-10904 - Fix axis tick/label jiggling.
  packages/ag-charts-community/benchmarks/__image_snapshots__/integrated-charts-large-scale-test-ts-integrated-charts-large-scale-benchmark-after-load-1-x-legend-toggle-1-snap.png
  packages/ag-charts-community/benchmarks/__image_snapshots__/integrated-charts-large-scale-test-ts-integrated-charts-large-scale-benchmark-after-load-4-x-legend-toggle-1-snap.png
  packages/ag-charts-community/benchmarks/__image_snapshots__/integrated-charts-large-scale-test-ts-integrated-charts-large-scale-benchmark-initial-load-1-snap.png
  packages/ag-charts-community/benchmarks/__image_snapshots__/large-dataset-test-ts-large-dataset-benchmark-after-load-1-x-datum-highlight-1-snap.png
  packages/ag-charts-community/benchmarks/__image_snapshots__/large-dataset-test-ts-large-dataset-benchmark-after-load-1-x-legend-toggle-1-snap.png
  packages/ag-charts-community/benchmarks/__image_snapshots__/large-dataset-test-ts-large-dataset-benchmark-after-load-4-x-datum-highlight-1-snap.png
  packages/ag-charts-community/benchmarks/__image_snapshots__/large-dataset-test-ts-large-dataset-benchmark-initial-load-1-snap.png
  packages/ag-charts-community/benchmarks/__image_snapshots__/multi-series-test-ts-multi-series-benchmark-after-load-1-x-datum-highlight-1-snap.png
  packages/ag-charts-community/benchmarks/__image_snapshots__/multi-series-test-ts-multi-series-benchmark-after-load-1-x-legend-toggle-1-snap.png
  packages/ag-charts-community/benchmarks/__image_snapshots__/multi-series-test-ts-multi-series-benchmark-after-load-10-x-legend-toggle-1-snap.png
  packages/ag-charts-community/benchmarks/__image_snapshots__/multi-series-test-ts-multi-series-benchmark-after-load-15-x-datum-highlight-1-snap.png
  packages/ag-charts-community/benchmarks/__image_snapshots__/multi-series-test-ts-multi-series-benchmark-initial-load-1-snap.png
  packages/ag-charts-enterprise/benchmarks/__image_snapshots__/multi-series-test-ts-multi-series-benchmark-after-load-1-x-legend-toggle-1-snap.png
  packages/ag-charts-enterprise/benchmarks/__image_snapshots__/multi-series-test-ts-multi-series-benchmark-after-load-10-x-legend-toggle-1-snap.png
  packages/ag-charts-enterprise/benchmarks/__image_snapshots__/multi-series-test-ts-multi-series-benchmark-initial-load-1-snap.png
Owners: @alantreadway

Fix gallery example
  packages/ag-charts-website/src/content/gallery/_examples/map-marker-series/main.ts
Owners: @ag-grid/ag-charts-team

Automated package version bump to 9.1.1-beta.20240312.1520.
  .env
  libraries/ag-charts-test/package.json
  package.json
  packages/ag-charts-angular/package.json
  packages/ag-charts-angular/projects/ag-charts-angular/package.json
  packages/ag-charts-community-examples/package.json
  packages/ag-charts-community/package.json
  packages/ag-charts-community/src/version.ts
  packages/ag-charts-enterprise/package.json
  packages/ag-charts-react/package.json
  packages/ag-charts-vue/package.json
  packages/ag-charts-vue3/package.json
  packages/ag-charts-website/.env.build
  packages/ag-charts-website/.env.build.archive
  packages/ag-charts-website/.env.build.production
  packages/ag-charts-website/.env.build.staging
  packages/ag-charts-website/.env.dev
  packages/ag-charts-website/.env.preview
  packages/ag-charts-website/.env.preview.production
  packages/ag-charts-website/.env.preview.staging
  packages/ag-charts-website/package.json
  plugins/ag-charts-generate-chart-thumbnail/package.json
  plugins/ag-charts-generate-code-reference-files/package.json
  plugins/ag-charts-generate-example-files/package.json
Owners: @ag-grid/ag-charts-team, @alantreadway

Fix label placement in maps
  packages/ag-charts-enterprise/src/series/map-util/lineStringUtil.ts
  packages/ag-charts-enterprise/src/series/map-util/polygonUtil.ts
Owners: @alantreadway

AG-10990 Resize map viewbox when toggling series
  packages/ag-charts-community/src/chart/topologyChart.ts
Owners: @alantreadway

Revert "Cleanup scene, move debug code to separate file (#1082)"
  packages/ag-charts-community/src/chart/background/background.ts
  packages/ag-charts-community/src/chart/chart.ts
  packages/ag-charts-community/src/chart/interaction/animationBatch.ts
  packages/ag-charts-community/src/chart/interaction/animationManager.ts
  packages/ag-charts-community/src/chart/interaction/interactionManager.ts
  packages/ag-charts-community/src/chart/legend.ts
  packages/ag-charts-community/src/chart/legendDatum.ts
  packages/ag-charts-community/src/chart/series/cartesian/barSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/cartesianSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/histogramSeries.ts
  packages/ag-charts-community/src/chart/series/series.ts
  packages/ag-charts-community/src/chart/series/seriesLayerManager.ts
  packages/ag-charts-community/src/scene/canvas/hdpiCanvas.ts
  packages/ag-charts-community/src/scene/group.ts
  packages/ag-charts-community/src/scene/layersManager.ts
  packages/ag-charts-community/src/scene/node.ts
  packages/ag-charts-community/src/scene/scene.ts
  packages/ag-charts-community/src/scene/sceneDebug.ts
  packages/ag-charts-community/src/util/compare.ts
  packages/ag-charts-community/src/util/debug.ts
  packages/ag-charts-enterprise/src/gradient-legend/gradientLegend.ts
Owners: @alantreadway

Compile fixes from revert conflicts
  packages/ag-charts-community/src/chart/chart.ts
  packages/ag-charts-community/src/scene/canvas/hdpiCanvas.ts
  packages/ag-charts-community/src/scene/node.ts
Owners: @alantreadway

AG-10923 Fix regression with dblclick
  packages/ag-charts-community/src/scene/canvas/hdpiCanvas.ts
  packages/ag-charts-community/src/scene/scene.ts
Owners: @alantreadway

Increase benchmark timeout.
  packages/ag-charts-community/benchmarks/largeDataset.test.ts
Owners: @alantreadway

AG-10997 Update tooltips for map series, fix map series interactions with legend
  packages/ag-charts-community/src/options/series/topology/mapLineOptions.ts
  packages/ag-charts-community/src/options/series/topology/mapMarkerOptions.ts
  packages/ag-charts-community/src/options/series/topology/mapShapeOptions.ts
  packages/ag-charts-enterprise/src/series/map-line/mapLineModule.ts
  packages/ag-charts-enterprise/src/series/map-line/mapLineSeries.ts
  packages/ag-charts-enterprise/src/series/map-line/mapLineSeriesProperties.ts
  packages/ag-charts-enterprise/src/series/map-marker/mapMarkerSeries.ts
  packages/ag-charts-enterprise/src/series/map-marker/mapMarkerSeriesProperties.ts
  packages/ag-charts-enterprise/src/series/map-shape/mapShapeSeries.ts
  packages/ag-charts-enterprise/src/series/map-shape/mapShapeSeriesProperties.ts
  packages/ag-charts-website/src/content/docs/map-shapes/_examples/multiple-series/main.ts
  packages/ag-charts-website/src/content/docs/map-shapes/_examples/multiple-series/topology.ts
Owners: @alantreadway, @ag-grid/ag-charts-team

Misc cleanup of Chart and Data Model
  packages/ag-charts-community/src/chart/agChartV2.ts
  packages/ag-charts-community/src/chart/background/background.ts
  packages/ag-charts-community/src/chart/caption.ts
  packages/ag-charts-community/src/chart/chart.ts
  packages/ag-charts-community/src/chart/chartProperties.ts
  packages/ag-charts-community/src/chart/data/__snapshots__/dataModel.test.ts.snap
  packages/ag-charts-community/src/chart/data/aggregateFunctions.ts
  packages/ag-charts-community/src/chart/data/dataController.ts
  packages/ag-charts-community/src/chart/data/dataModel.test.ts
  packages/ag-charts-community/src/chart/data/dataModel.ts
  packages/ag-charts-community/src/chart/data/processors.ts
  packages/ag-charts-community/src/chart/factory/registerInbuiltModules.ts
  packages/ag-charts-community/src/chart/factory/setupModules.ts
  packages/ag-charts-community/src/chart/interaction/tooltipManager.ts
  packages/ag-charts-community/src/chart/interaction/zoomManager.ts
  packages/ag-charts-community/src/chart/legend.ts
  packages/ag-charts-community/src/chart/modulesManager.ts
  packages/ag-charts-community/src/chart/series/cartesian/cartesianSeries.ts
  packages/ag-charts-community/src/chart/series/polar/donutSeries.ts
  packages/ag-charts-community/src/chart/series/polar/pieSeries.ts
  packages/ag-charts-community/src/chart/tooltip/tooltip.test.ts
  packages/ag-charts-community/src/chart/tooltip/tooltip.ts
  packages/ag-charts-community/src/module/module.ts
  packages/ag-charts-community/src/module/moduleContext.ts
  packages/ag-charts-community/src/module/moduleMap.ts
  packages/ag-charts-community/src/scene/selection.ts
  packages/ag-charts-community/src/util/object.test.ts
  packages/ag-charts-enterprise/src/features/animation/animation.ts
  packages/ag-charts-enterprise/src/features/background/background.ts
  packages/ag-charts-enterprise/src/features/background/backgroundImage.ts
  packages/ag-charts-enterprise/src/features/context-menu/contextMenu.ts
  packages/ag-charts-enterprise/src/features/crosshair/crosshair.ts
  packages/ag-charts-enterprise/src/features/crosshair/crosshairLabel.ts
  packages/ag-charts-enterprise/src/setup.ts
Owners: @alantreadway

AG-10553 - Fix animation + specified zoom rendering bug.
  packages/ag-charts-community/src/chart/series/cartesian/markerUtil.ts
Owners: @alantreadway

AG-10553 - Add sanity checks for animation durations.
  packages/ag-charts-community/src/chart/interaction/animationBatch.ts
  packages/ag-charts-community/src/chart/interaction/animationManager.ts
  packages/ag-charts-community/src/chart/series/cartesian/lineUtil.ts
Owners: @alantreadway

AG-10553 - Add sanity checks for animation durations.
  packages/ag-charts-community/src/chart/interaction/animationBatch.ts
  packages/ag-charts-community/src/chart/interaction/animationManager.ts
Owners: @alantreadway

AG-11013 Implement tooltip position type node for map shape series
  packages/ag-charts-community/src/chart/interaction/tooltipManager.ts
  packages/ag-charts-community/src/chart/series/seriesTypes.ts
  packages/ag-charts-enterprise/src/series/map-line/mapLineModule.ts
  packages/ag-charts-enterprise/src/series/map-line/mapLineSeries.ts
  packages/ag-charts-enterprise/src/series/map-marker/mapMarkerModule.ts
  packages/ag-charts-enterprise/src/series/map-marker/mapMarkerSeries.ts
  packages/ag-charts-enterprise/src/series/map-shape/mapShapeModule.ts
  packages/ag-charts-enterprise/src/series/map-shape/mapShapeSeries.ts
  packages/ag-charts-enterprise/src/series/map-util/lineStringUtil.ts
Owners: @alantreadway

Fix label placement
  packages/ag-charts-enterprise/src/series/map-util/lineStringUtil.ts
Owners: @alantreadway

fix format
  packages/ag-charts-community/src/chart/overlay/overlay.ts
  packages/ag-charts-enterprise/src/setup.ts
  packages/ag-charts-website/src/features/example-runner/components/FrameworkTemplate.astro
Owners: @alantreadway, @taktran

AG-11014 Map API docs
  packages/ag-charts-community/src/options/series/topology/mapLineOptions.ts
  packages/ag-charts-community/src/options/series/topology/mapMarkerOptions.ts
  packages/ag-charts-community/src/options/series/topology/mapShapeOptions.ts
  packages/ag-charts-community/src/scene/util/labelPlacement.ts
  packages/ag-charts-enterprise/src/series/map-line/mapLineSeries.ts
  packages/ag-charts-enterprise/src/series/map-line/mapLineSeriesProperties.ts
  packages/ag-charts-enterprise/src/series/map-shape/mapShapeSeries.ts
  packages/ag-charts-enterprise/src/series/map-shape/mapShapeSeriesProperties.ts
Owners: @alantreadway

keep diff a set/map
  packages/ag-charts-community/src/chart/axis/axis.ts
  packages/ag-charts-community/src/chart/data/dataModel.ts
  packages/ag-charts-community/src/chart/data/processors.ts
  packages/ag-charts-community/src/chart/overlay/overlay.ts
  packages/ag-charts-community/src/chart/series/cartesian/lineUtil.ts
  packages/ag-charts-community/src/chart/series/polar/donutSeries.ts
  packages/ag-charts-community/src/chart/series/polar/pieSeries.ts
  packages/ag-charts-community/src/motion/fromToMotion.ts
Owners: @alantreadway

AG-10937 Fix data per series with multiple values on one prop
  packages/ag-charts-community/src/chart/data/dataController.test.ts
  packages/ag-charts-community/src/chart/data/dataModel.ts
  packages/ag-charts-enterprise/src/features/error-bar/errorBar.test.ts
  packages/ag-charts-enterprise/src/series/map-shape/mapShapeSeries.ts
Owners: @alantreadway

ag-11002/ag-10913
  packages/ag-charts-community/src/chart/chart.ts
  packages/ag-charts-enterprise/src/series/box-plot/boxPlotSeries.ts
Owners: @alantreadway
