Repository ag-grid/ag-charts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ag-grid/ag-charts-team, @markdurrant, @taktran, @alantreadway, @rmc-software

.github/CODEOWNERS:

# NOTE: Order of entries matters - later entries have higher precedence.

# Attribute code-owners so default reviewers are assigned to PRs.
* @ag-grid/ag-charts-team

# Astro + website changes to be reviewed by website team.
*.scss @markdurrant
*.astro @taktran
/packages/ag-charts-website/astro/** @taktran
/packages/ag-charts-website/components/** @taktran
/packages/ag-charts-website/features/** @taktran
/packages/ag-charts-website/layouts/** @taktran
/packages/ag-charts-website/stores/** @taktran
/packages/ag-charts-website/utils/** @taktran

# Docs updates to be reviewed by Eng VP.
/packages/ag-charts-website/content/** @alantreadway @rmc-software
*.mdoc @rmc-software

# Charts library code to be reviewed by Chart TL.
/packages/ag-charts-community/** @alantreadway
/packages/ag-charts-enterprise/** @alantreadway

# Sensitive build/repo files to be reviewed by Chart TL.
**/package.json @alantreadway
nx.json @alantreadway
**/project.json @alantreadway
**/tsconfig.json @alantreadway
**/tsconfig.*.json @alantreadway

Bump package version for next RC.
  .env
  libraries/ag-charts-test/package.json
  package.json
  packages/ag-charts-angular/package.json
  packages/ag-charts-angular/projects/ag-charts-angular/package.json
  packages/ag-charts-community-examples/package.json
  packages/ag-charts-community/package.json
  packages/ag-charts-community/src/version.ts
  packages/ag-charts-enterprise/package.json
  packages/ag-charts-react/package.json
  packages/ag-charts-vue/package.json
  packages/ag-charts-vue3/package.json
  packages/ag-charts-website/.env.build
  packages/ag-charts-website/.env.build.archive
  packages/ag-charts-website/.env.build.production
  packages/ag-charts-website/.env.build.staging
  packages/ag-charts-website/.env.dev
  packages/ag-charts-website/.env.preview
  packages/ag-charts-website/.env.preview.production
  packages/ag-charts-website/.env.preview.staging
  packages/ag-charts-website/package.json
  plugins/ag-charts-generate-chart-thumbnail/package.json
  plugins/ag-charts-generate-code-reference-files/package.json
  plugins/ag-charts-generate-example-files/package.json
Owners: @ag-grid/ag-charts-team, @alantreadway

CRT-203 - Prevent tabed code examples from srolling vertically on Safari
  packages/ag-charts-website/src/design-system/components/_containers.scss
Owners: @markdurrant

CRT-238 - Add Integrated Charts line category animation example.
  packages/ag-charts-website/src/content/docs/line-series-test/_examples/integrated-category-animation/main.ts
Owners: @ag-grid/ag-charts-team

CRT-236 - Remove range area series label highlight selection
  packages/ag-charts-enterprise/src/series/range-area/rangeArea.ts
Owners: @alantreadway

CRT-220 - Fix header logo spinner animation
  packages/ag-charts-website/src/images/inline-svgs/ag-grid-logomark-loading.svg
Owners: @ag-grid/ag-charts-team

RTI-1898: Support removing options with `updateDelta` using `undefined`
  packages/ag-charts-community/src/chart/agChartV2.ts
  packages/ag-charts-community/src/module/optionsModule.ts
  packages/ag-charts-community/src/util/json.ts
  packages/ag-charts-community/src/util/type-guards.ts
Owners: @alantreadway

fix tests
  packages/ag-charts-community/src/chart/agChartV2.ts
Owners: @alantreadway

add an axis registry to keep the same pattern as series & legends
  packages/ag-charts-community/src/chart/chart.ts
  packages/ag-charts-community/src/chart/factory/axisRegistry.ts
  packages/ag-charts-community/src/chart/factory/axisTypes.ts
  packages/ag-charts-community/src/chart/factory/legendRegistry.ts
  packages/ag-charts-community/src/chart/factory/registerInbuiltModules.ts
  packages/ag-charts-community/src/chart/factory/setupModules.ts
  packages/ag-charts-community/src/chart/mapping/types.ts
  packages/ag-charts-community/src/chart/themes/chartTheme.ts
  packages/ag-charts-community/src/module/coreModules.ts
  packages/ag-charts-community/src/module/optionsModule.ts
Owners: @alantreadway

RTI-1898: Support removing options with `updateDelta` using `undefined` (#1046)
  packages/ag-charts-community/src/chart/agChartV2.ts
  packages/ag-charts-community/src/module/optionsModule.ts
  packages/ag-charts-community/src/util/json.ts
  packages/ag-charts-community/src/util/type-guards.ts
Owners: @alantreadway

CRT-238 - Fix Integrated column sort animation.
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/area-series-test-ts-area-series-add-update-remove-animation-add-for-stacked-area-graph-example-should-animate-at-0-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/area-series-test-ts-area-series-add-update-remove-animation-add-for-stacked-area-graph-example-should-animate-at-25-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/area-series-test-ts-area-series-add-update-remove-animation-add-for-stacked-area-graph-example-should-animate-at-50-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/area-series-test-ts-area-series-add-update-remove-animation-add-for-stacked-area-graph-example-should-animate-at-75-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/area-series-test-ts-area-series-add-update-remove-animation-remove-for-stacked-area-graph-example-should-animate-at-0-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/area-series-test-ts-area-series-add-update-remove-animation-remove-for-stacked-area-graph-example-should-animate-at-25-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/area-series-test-ts-area-series-add-update-remove-animation-remove-for-stacked-area-graph-example-should-animate-at-50-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/area-series-test-ts-area-series-add-update-remove-animation-remove-for-stacked-area-graph-example-should-animate-at-75-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/area-series-test-ts-area-series-legend-toggle-animation-hide-for-stacked-area-graph-example-should-animate-at-0-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/area-series-test-ts-area-series-legend-toggle-animation-hide-for-stacked-area-graph-example-should-animate-at-25-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/area-series-test-ts-area-series-legend-toggle-animation-hide-for-stacked-area-graph-example-should-animate-at-50-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/area-series-test-ts-area-series-legend-toggle-animation-hide-for-stacked-area-graph-example-should-animate-at-75-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/area-series-test-ts-area-series-legend-toggle-animation-show-for-stacked-area-graph-example-should-animate-at-0-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/area-series-test-ts-area-series-legend-toggle-animation-show-for-stacked-area-graph-example-should-animate-at-25-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/area-series-test-ts-area-series-legend-toggle-animation-show-for-stacked-area-graph-example-should-animate-at-50-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/area-series-test-ts-area-series-legend-toggle-animation-show-for-stacked-area-graph-example-should-animate-at-75-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/areaSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/lineSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/markerUtil.ts
Owners: @alantreadway

Bump package version for next RC.
  .env
  libraries/ag-charts-test/package.json
  package.json
  packages/ag-charts-angular/package.json
  packages/ag-charts-angular/projects/ag-charts-angular/package.json
  packages/ag-charts-community-examples/package.json
  packages/ag-charts-community/package.json
  packages/ag-charts-community/src/version.ts
  packages/ag-charts-enterprise/package.json
  packages/ag-charts-react/package.json
  packages/ag-charts-vue/package.json
  packages/ag-charts-vue3/package.json
  packages/ag-charts-website/.env.build
  packages/ag-charts-website/.env.build.archive
  packages/ag-charts-website/.env.build.production
  packages/ag-charts-website/.env.build.staging
  packages/ag-charts-website/.env.dev
  packages/ag-charts-website/.env.preview
  packages/ag-charts-website/.env.preview.production
  packages/ag-charts-website/.env.preview.staging
  packages/ag-charts-website/package.json
  plugins/ag-charts-generate-chart-thumbnail/package.json
  plugins/ag-charts-generate-code-reference-files/package.json
  plugins/ag-charts-generate-example-files/package.json
Owners: @ag-grid/ag-charts-team, @alantreadway

CRT-218 - Improve download image consistency for resize vs. no-resize cases.
  packages/ag-charts-community/src/chart/agChartV2.ts
Owners: @alantreadway

RTI-1875 - Disable tooltip update on AgChart.update() if animations are run.
  packages/ag-charts-community/src/chart/chart.ts
Owners: @alantreadway

Bump package version for next RC.
  .env
  libraries/ag-charts-test/package.json
  package.json
  packages/ag-charts-angular/package.json
  packages/ag-charts-angular/projects/ag-charts-angular/package.json
  packages/ag-charts-community-examples/package.json
  packages/ag-charts-community/package.json
  packages/ag-charts-community/src/version.ts
  packages/ag-charts-enterprise/package.json
  packages/ag-charts-react/package.json
  packages/ag-charts-vue/package.json
  packages/ag-charts-vue3/package.json
  packages/ag-charts-website/.env.build
  packages/ag-charts-website/.env.build.archive
  packages/ag-charts-website/.env.build.production
  packages/ag-charts-website/.env.build.staging
  packages/ag-charts-website/.env.dev
  packages/ag-charts-website/.env.preview
  packages/ag-charts-website/.env.preview.production
  packages/ag-charts-website/.env.preview.staging
  packages/ag-charts-website/package.json
  plugins/ag-charts-generate-chart-thumbnail/package.json
  plugins/ag-charts-generate-code-reference-files/package.json
  plugins/ag-charts-generate-example-files/package.json
Owners: @ag-grid/ag-charts-team, @alantreadway

CRT-207 - Skip processing legend-triggered highlight synchronization.
  packages/ag-charts-enterprise/src/features/sync/chartSync.ts
Owners: @alantreadway

Bump package version for next RC.
  .env
  libraries/ag-charts-test/package.json
  package.json
  packages/ag-charts-angular/package.json
  packages/ag-charts-angular/projects/ag-charts-angular/package.json
  packages/ag-charts-community-examples/package.json
  packages/ag-charts-community/package.json
  packages/ag-charts-community/src/version.ts
  packages/ag-charts-enterprise/package.json
  packages/ag-charts-react/package.json
  packages/ag-charts-vue/package.json
  packages/ag-charts-vue3/package.json
  packages/ag-charts-website/.env.build
  packages/ag-charts-website/.env.build.archive
  packages/ag-charts-website/.env.build.production
  packages/ag-charts-website/.env.build.staging
  packages/ag-charts-website/.env.dev
  packages/ag-charts-website/.env.preview
  packages/ag-charts-website/.env.preview.production
  packages/ag-charts-website/.env.preview.staging
  packages/ag-charts-website/package.json
  plugins/ag-charts-generate-chart-thumbnail/package.json
  plugins/ag-charts-generate-code-reference-files/package.json
  plugins/ag-charts-generate-example-files/package.json
Owners: @ag-grid/ag-charts-team, @alantreadway

CRT-203 - Fix snippet overscroll issues for safari
  packages/ag-charts-website/src/design-system/components/_code.scss
  packages/ag-charts-website/src/design-system/components/_containers.scss
Owners: @markdurrant

Introduce a StackTracker to replace repeat pattern in our code
  packages/ag-charts-community/src/chart/chart.ts
  packages/ag-charts-community/src/chart/interaction/cursorManager.ts
  packages/ag-charts-community/src/chart/interaction/highlightManager.ts
  packages/ag-charts-community/src/chart/interaction/tooltipManager.ts
  packages/ag-charts-community/src/chart/series/seriesStateManager.ts
  packages/ag-charts-community/src/chart/themes/chartTheme.ts
  packages/ag-charts-community/src/chart/tooltip/tooltip.ts
  packages/ag-charts-community/src/integrated-charts-theme.ts
  packages/ag-charts-community/src/util/json.ts
  packages/ag-charts-community/src/util/state-tracker.ts
  packages/ag-charts-enterprise/src/features/zoom/zoom.ts
Owners: @alantreadway

AG-9794 Reset cursor when leaving the seriesRect
  packages/ag-charts-community/src/chart/chart.ts
  packages/ag-charts-community/src/chart/interaction/regionManager.ts
Owners: @alantreadway

AG-8880 Fire click events on mousedown+mouseup events
  packages/ag-charts-community/src/chart/chart.ts
  packages/ag-charts-community/src/chart/interaction/interactionManager.ts
Owners: @alantreadway

AG-8880 Fix tests
  packages/ag-charts-community/src/chart/test/utils.ts
Owners: @alantreadway

AG-10366 - Fix tooltip position offset
  packages/ag-charts-community/src/chart/interaction/tooltipManager.ts
  packages/ag-charts-community/src/chart/tooltip/tooltip.ts
Owners: @alantreadway

CRT-237 Fix data source async clipping
  packages/ag-charts-community/src/chart/cartesianChart.ts
  packages/ag-charts-enterprise/src/features/data-source/__image_snapshots__/data-source-test-ts-data-source-should-clip-asynchronous-data-outside-domain-1-snap.png
  packages/ag-charts-enterprise/src/features/data-source/dataSource.test.ts
Owners: @alantreadway

AG-10750 - Fix histogram bin `count` aggregation
  packages/ag-charts-community/src/chart/series/cartesian/histogramSeries.ts
Owners: @alantreadway

Exclude *.test.* glob from SonarCloud scan.
  sonar-project.properties
Owners: @ag-grid/ag-charts-team

AG-10627 - Add GHA support for common release actions.
  .github/workflows/release-branch.yml
Owners: @ag-grid/ag-charts-team

Misc cleanup
  packages/ag-charts-community/src/chart/agChartV2.ts
  packages/ag-charts-community/src/chart/axis/groupedCategoryAxis.ts
  packages/ag-charts-community/src/chart/chart.ts
  packages/ag-charts-community/src/chart/crossline/cartesianCrossLine.ts
  packages/ag-charts-community/src/chart/data/dataModel.ts
  packages/ag-charts-community/src/chart/data/processors.ts
  packages/ag-charts-community/src/chart/gridLayout.ts
  packages/ag-charts-community/src/chart/interaction/gestureDetector.ts
  packages/ag-charts-community/src/chart/legend.ts
  packages/ag-charts-community/src/chart/mapping/themes.ts
  packages/ag-charts-community/src/chart/series/series.ts
  packages/ag-charts-community/src/motion/animation.ts
  packages/ag-charts-community/src/scene/changeDetectable.ts
  packages/ag-charts-community/src/scene/group.ts
  packages/ag-charts-community/src/scene/node.ts
  packages/ag-charts-community/src/scene/scene.ts
  packages/ag-charts-community/src/scene/shape/text.ts
  packages/ag-charts-community/src/util/callbackCache.ts
  packages/ag-charts-enterprise/src/axes/polar-crosslines/polarCrossLine.ts
  packages/ag-charts-enterprise/src/features/error-bar/errorBar.ts
  packages/ag-charts-enterprise/src/features/error-bar/errorBarNode.ts
  packages/ag-charts-enterprise/src/series/sunburst/sunburstSeries.ts
  packages/ag-charts-enterprise/src/series/treemap/treemapSeries.ts
  packages/ag-charts-enterprise/src/series/util/labelFormatter.ts
Owners: @alantreadway

AG-10366 - tooltip position 8px shift
  packages/ag-charts-community/src/chart/tooltip/tooltip.ts
Owners: @alantreadway

Exclude *.test.* glob from SonarCloud scan.
  sonar-project.properties
Owners: @ag-grid/ag-charts-team

CRT-203 - Fix snippet overscroll issues for safari
  packages/ag-charts-website/src/design-system/components/_code.scss
  packages/ag-charts-website/src/design-system/components/_containers.scss
Owners: @markdurrant

AG-10578 Remove leaked scope data from datums
  packages/ag-charts-community/src/chart/data/dataController.ts
Owners: @alantreadway

AG-10528 - Fix build break.
  packages/ag-charts-community/src/chart/overlay/chartOverlays.ts
Owners: @alantreadway

AG-7696 Enable animations for bar series with corner radii
  packages/ag-charts-community/src/chart/series/cartesian/barUtil.ts
  packages/ag-charts-community/src/chart/series/cartesian/histogramSeriesProperties.ts
  packages/ag-charts-community/src/motion/animation.ts
  packages/ag-charts-community/src/motion/fromToMotion.ts
  packages/ag-charts-community/src/scene/bbox.ts
  packages/ag-charts-community/src/util/interpolating.ts
  packages/ag-charts-enterprise/src/series/bullet/bulletSeries.ts
  packages/ag-charts-enterprise/src/series/range-bar/rangeBar.ts
Owners: @alantreadway

TSC
  packages/ag-charts-enterprise/src/series/waterfall/waterfallSeries.ts
Owners: @alantreadway

cleanup
  packages/ag-charts-community/src/scene/canvas/hdpiCanvas.ts
  packages/ag-charts-community/src/scene/canvas/hdpiOffscreenCanvas.ts
  packages/ag-charts-community/src/scene/scene.ts
  packages/ag-charts-community/src/util/debug.ts
  packages/ag-charts-community/src/util/draw-utils.ts
Owners: @alantreadway

AG-10772 - Fix chart image download for Integrated cases (PieSeries + disable animations).
  packages/ag-charts-community/src/chart/agChartV2.ts
  packages/ag-charts-enterprise/src/features/animation/animation.ts
Owners: @alantreadway

Automated package version bump to 9.1.0-beta.20240220.
  .env
  libraries/ag-charts-test/package.json
  package.json
  packages/ag-charts-angular/package.json
  packages/ag-charts-angular/projects/ag-charts-angular/package.json
  packages/ag-charts-community-examples/package.json
  packages/ag-charts-community/package.json
  packages/ag-charts-community/src/version.ts
  packages/ag-charts-enterprise/package.json
  packages/ag-charts-react/package.json
  packages/ag-charts-vue/package.json
  packages/ag-charts-vue3/package.json
  packages/ag-charts-website/.env.build
  packages/ag-charts-website/.env.build.archive
  packages/ag-charts-website/.env.build.production
  packages/ag-charts-website/.env.build.staging
  packages/ag-charts-website/.env.dev
  packages/ag-charts-website/.env.preview
  packages/ag-charts-website/.env.preview.production
  packages/ag-charts-website/.env.preview.staging
  packages/ag-charts-website/package.json
  plugins/ag-charts-generate-chart-thumbnail/package.json
  plugins/ag-charts-generate-code-reference-files/package.json
  plugins/ag-charts-generate-example-files/package.json
Owners: @ag-grid/ag-charts-team, @alantreadway

AG-10733 Fix lazy load when chart layout comes in delayed
  packages/ag-charts-community/src/chart/chart.ts
  packages/ag-charts-community/src/chart/update/dataWindowProcessor.ts
Owners: @alantreadway

AG-10627 - Add GHA support for common release actions.
  .github/workflows/release-branch.yml
Owners: @ag-grid/ag-charts-team

AG-10627 - Add GHA support for common release actions.
  .github/workflows/release-branch.yml
Owners: @ag-grid/ag-charts-team
