Repository ag-grid/ag-charts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ag-grid/ag-charts-team, @markdurrant, @taktran, @alantreadway, @rmc-software

.github/CODEOWNERS:

# NOTE: Order of entries matters - later entries have higher precedence.

# Attribute code-owners so default reviewers are assigned to PRs.
* @ag-grid/ag-charts-team

# Astro + website changes to be reviewed by website team.
*.scss @markdurrant
*.astro @taktran
/packages/ag-charts-website/astro/** @taktran
/packages/ag-charts-website/components/** @taktran
/packages/ag-charts-website/features/** @taktran
/packages/ag-charts-website/layouts/** @taktran
/packages/ag-charts-website/stores/** @taktran
/packages/ag-charts-website/utils/** @taktran

# Docs updates to be reviewed by Eng VP.
/packages/ag-charts-website/content/** @alantreadway @rmc-software
*.mdoc @rmc-software

# Charts library code to be reviewed by Chart TL.
/packages/ag-charts-community/** @alantreadway
/packages/ag-charts-enterprise/** @alantreadway

# Sensitive build/repo files to be reviewed by Chart TL.
**/package.json @alantreadway
nx.json @alantreadway
**/project.json @alantreadway
**/tsconfig.json @alantreadway
**/tsconfig.*.json @alantreadway

AG-9014 Render errorbars bars above the highlight
  packages/ag-charts-enterprise/src/features/error-bar/errorBar.ts
Owners: @alantreadway

AG-9014 Test errorbar zindex with highlight
  packages/ag-charts-enterprise/src/features/error-bar/__image_snapshots__/error-bar-test-ts-error-bars-should-render-caps-over-highlight-1-snap.png
  packages/ag-charts-enterprise/src/features/error-bar/errorBar.test.ts
Owners: @alantreadway

AG-9022 Improve the existing documentation of errorbars
  packages/ag-charts-website/src/content/docs/error-bars/_examples/tooltips-error-bars/main.ts
  packages/ag-charts-website/src/content/docs/error-bars/index.mdoc
Owners: @ag-grid/ag-charts-team, @rmc-software

AG-9022 Add errorbar styling documentation & example
  packages/ag-charts-website/src/content/docs/error-bars/_examples/styling/data.ts
  packages/ag-charts-website/src/content/docs/error-bars/_examples/styling/index.html
  packages/ag-charts-website/src/content/docs/error-bars/_examples/styling/main.ts
  packages/ag-charts-website/src/content/docs/error-bars/index.mdoc
Owners: @ag-grid/ag-charts-team, @rmc-software

AG-9022 Add ErrorBar Cap Length documentation
  packages/ag-charts-website/src/content/docs/error-bars/_examples/cap-length/data.ts
  packages/ag-charts-website/src/content/docs/error-bars/_examples/cap-length/index.html
  packages/ag-charts-website/src/content/docs/error-bars/_examples/cap-length/main.ts
  packages/ag-charts-website/src/content/docs/error-bars/_examples/cap-lengthRatio/data.ts
  packages/ag-charts-website/src/content/docs/error-bars/_examples/cap-lengthRatio/index.html
  packages/ag-charts-website/src/content/docs/error-bars/_examples/cap-lengthRatio/main.ts
  packages/ag-charts-website/src/content/docs/error-bars/index.mdoc
Owners: @ag-grid/ag-charts-team, @rmc-software

AG-9022 Add API Reference for Error Bars
  packages/ag-charts-community/src/options/chart/errorBarOptions.ts
  packages/ag-charts-community/src/options/series/cartesian/barOptions.ts
  packages/ag-charts-community/src/options/series/cartesian/lineOptions.ts
  packages/ag-charts-community/src/options/series/cartesian/scatterOptions.ts
  packages/ag-charts-website/src/content/docs/error-bars/index.mdoc
Owners: @alantreadway, @rmc-software

AG-9022 Remove the `brief_renderer` example
  packages/ag-charts-website/src/content/docs/error-bars/_examples/tooltips-error-bars/index.html
  packages/ag-charts-website/src/content/docs/error-bars/_examples/tooltips-error-bars/main.ts
  packages/ag-charts-website/src/content/docs/error-bars/index.mdoc
Owners: @ag-grid/ag-charts-team, @rmc-software

AG-9022 Use API ref in errorbar tooltip docs
  packages/ag-charts-community/src/options/chart/errorBarOptions.ts
  packages/ag-charts-website/src/content/docs/error-bars/index.mdoc
Owners: @alantreadway, @rmc-software

AG-9022 Document errorbars on continuous line plots
  packages/ag-charts-website/src/content/docs/error-bars/_examples/double/index.html
  packages/ag-charts-website/src/content/docs/error-bars/_examples/double/main.ts
  packages/ag-charts-website/src/content/docs/error-bars/index.mdoc
Owners: @ag-grid/ag-charts-team, @rmc-software

AG-9022 Don't use ?? in doc examples
  packages/ag-charts-website/src/content/docs/error-bars/_examples/single/main.ts
  packages/ag-charts-website/src/content/docs/error-bars/_examples/styling/main.ts
Owners: @ag-grid/ag-charts-team

AG-6686 - Fix docs combination chart example
  packages/ag-charts-website/src/content/docs/combination-series/_examples/combination/main.ts
Owners: @ag-grid/ag-charts-team

AG-9391 Radial Column animation tests
  packages/ag-charts-enterprise/src/series/radial-column/__image_snapshots__/radial-column-test-ts-radial-column-chart-add-animation-for-example-options-should-animate-at-0-1-snap.png
  packages/ag-charts-enterprise/src/series/radial-column/__image_snapshots__/radial-column-test-ts-radial-column-chart-add-animation-for-example-options-should-animate-at-100-1-snap.png
  packages/ag-charts-enterprise/src/series/radial-column/__image_snapshots__/radial-column-test-ts-radial-column-chart-add-animation-for-example-options-should-animate-at-25-1-snap.png
  packages/ag-charts-enterprise/src/series/radial-column/__image_snapshots__/radial-column-test-ts-radial-column-chart-add-animation-for-example-options-should-animate-at-50-1-snap.png
  packages/ag-charts-enterprise/src/series/radial-column/__image_snapshots__/radial-column-test-ts-radial-column-chart-add-animation-for-example-options-should-animate-at-75-1-snap.png
  packages/ag-charts-enterprise/src/series/radial-column/__image_snapshots__/radial-column-test-ts-radial-column-chart-remove-animation-for-example-options-should-animate-at-0-1-snap.png
  packages/ag-charts-enterprise/src/series/radial-column/__image_snapshots__/radial-column-test-ts-radial-column-chart-remove-animation-for-example-options-should-animate-at-100-1-snap.png
  packages/ag-charts-enterprise/src/series/radial-column/__image_snapshots__/radial-column-test-ts-radial-column-chart-remove-animation-for-example-options-should-animate-at-25-1-snap.png
  packages/ag-charts-enterprise/src/series/radial-column/__image_snapshots__/radial-column-test-ts-radial-column-chart-remove-animation-for-example-options-should-animate-at-50-1-snap.png
  packages/ag-charts-enterprise/src/series/radial-column/__image_snapshots__/radial-column-test-ts-radial-column-chart-remove-animation-for-example-options-should-animate-at-75-1-snap.png
  packages/ag-charts-enterprise/src/series/radial-column/__image_snapshots__/radial-column-test-ts-radial-column-chart-update-animation-for-example-options-should-animate-at-0-1-snap.png
  packages/ag-charts-enterprise/src/series/radial-column/__image_snapshots__/radial-column-test-ts-radial-column-chart-update-animation-for-example-options-should-animate-at-100-1-snap.png
  packages/ag-charts-enterprise/src/series/radial-column/__image_snapshots__/radial-column-test-ts-radial-column-chart-update-animation-for-example-options-should-animate-at-25-1-snap.png
  packages/ag-charts-enterprise/src/series/radial-column/__image_snapshots__/radial-column-test-ts-radial-column-chart-update-animation-for-example-options-should-animate-at-50-1-snap.png
  packages/ag-charts-enterprise/src/series/radial-column/__image_snapshots__/radial-column-test-ts-radial-column-chart-update-animation-for-example-options-should-animate-at-75-1-snap.png
  packages/ag-charts-enterprise/src/series/radial-column/radialColumn.test.ts
Owners: @alantreadway

Fix multiple series[].data updates skipping animations incorrectly.
  packages/ag-charts-community/src/chart/series/cartesian/barSeries.ts
  packages/ag-charts-community/src/chart/series/polar/pieSeries.ts
  packages/ag-charts-enterprise/src/series/histogram/histogramSeries.ts
Owners: @alantreadway

Use series options in error checking
  packages/ag-charts-community/src/module-support.ts
  packages/ag-charts-community/src/options/chart/errorBarOptions.ts
  packages/ag-charts-enterprise/src/features/error-bar/errorBar.ts
Owners: @alantreadway

Fix multiple series[].data updates skipping animations incorrectly.
  packages/ag-charts-enterprise/src/series/radial-bar/radialBarSeries.ts
  packages/ag-charts-enterprise/src/series/radial-column/radialColumnSeriesBase.ts
  packages/ag-charts-enterprise/src/series/range-bar/rangeBar.ts
Owners: @alantreadway

AG-3390 - Fix external links in docs
  packages/ag-charts-website/src/content/docs/axes-grid-lines/index.mdoc
  packages/ag-charts-website/src/content/docs/axes-labels/index.mdoc
  packages/ag-charts-website/src/content/docs/getting-started/index.mdoc
Owners: @rmc-software

AG-9272 Add test for continuous line errorbars
  packages/ag-charts-enterprise/src/features/error-bar/__image_snapshots__/error-bar-test-ts-error-bars-should-render-both-errorbars-on-continuous-line-series-as-expected-1-snap.png
  packages/ag-charts-enterprise/src/features/error-bar/__image_snapshots__/error-bar-test-ts-error-bars-should-render-both-errorbars-on-scatter-series-as-expected-1-snap.png
  packages/ag-charts-enterprise/src/features/error-bar/errorBar.test.ts
Owners: @alantreadway

AG-9272 Add tests for errorbar styling
  packages/ag-charts-enterprise/src/features/error-bar/__image_snapshots__/error-bar-test-ts-error-bars-should-apply-styling-to-whiskers-and-cap-as-expected-1-snap.png
  packages/ag-charts-enterprise/src/features/error-bar/__image_snapshots__/error-bar-test-ts-error-bars-should-override-cap-styling-as-expected-1-snap.png
  packages/ag-charts-enterprise/src/features/error-bar/errorBar.test.ts
Owners: @alantreadway

AG-8557 Add nodeDatumManager
  packages/ag-charts-community/src/chart/chart.ts
  packages/ag-charts-community/src/chart/interaction/nodeDatumManager.ts
  packages/ag-charts-community/src/module-support.ts
  packages/ag-charts-community/src/module/moduleContext.ts
Owners: @alantreadway

AG-8557 Change double click to not reset zoom if over a node
  packages/ag-charts-enterprise/src/features/zoom/zoom.ts
Owners: @alantreadway

AG-9293 Fix Nightingale removal + tests
  packages/ag-charts-enterprise/src/series/nightingale/__image_snapshots__/nightingale-test-ts-nightingale-chart-add-animation-for-example-options-should-animate-at-0-1-snap.png
  packages/ag-charts-enterprise/src/series/nightingale/__image_snapshots__/nightingale-test-ts-nightingale-chart-add-animation-for-example-options-should-animate-at-100-1-snap.png
  packages/ag-charts-enterprise/src/series/nightingale/__image_snapshots__/nightingale-test-ts-nightingale-chart-add-animation-for-example-options-should-animate-at-25-1-snap.png
  packages/ag-charts-enterprise/src/series/nightingale/__image_snapshots__/nightingale-test-ts-nightingale-chart-add-animation-for-example-options-should-animate-at-50-1-snap.png
  packages/ag-charts-enterprise/src/series/nightingale/__image_snapshots__/nightingale-test-ts-nightingale-chart-add-animation-for-example-options-should-animate-at-75-1-snap.png
  packages/ag-charts-enterprise/src/series/nightingale/__image_snapshots__/nightingale-test-ts-nightingale-chart-remove-animation-for-example-options-should-animate-at-0-1-snap.png
  packages/ag-charts-enterprise/src/series/nightingale/__image_snapshots__/nightingale-test-ts-nightingale-chart-remove-animation-for-example-options-should-animate-at-100-1-snap.png
  packages/ag-charts-enterprise/src/series/nightingale/__image_snapshots__/nightingale-test-ts-nightingale-chart-remove-animation-for-example-options-should-animate-at-25-1-snap.png
  packages/ag-charts-enterprise/src/series/nightingale/__image_snapshots__/nightingale-test-ts-nightingale-chart-remove-animation-for-example-options-should-animate-at-50-1-snap.png
  packages/ag-charts-enterprise/src/series/nightingale/__image_snapshots__/nightingale-test-ts-nightingale-chart-remove-animation-for-example-options-should-animate-at-75-1-snap.png
  packages/ag-charts-enterprise/src/series/nightingale/__image_snapshots__/nightingale-test-ts-nightingale-chart-update-animation-for-example-options-should-animate-at-0-1-snap.png
  packages/ag-charts-enterprise/src/series/nightingale/__image_snapshots__/nightingale-test-ts-nightingale-chart-update-animation-for-example-options-should-animate-at-100-1-snap.png
  packages/ag-charts-enterprise/src/series/nightingale/__image_snapshots__/nightingale-test-ts-nightingale-chart-update-animation-for-example-options-should-animate-at-25-1-snap.png
  packages/ag-charts-enterprise/src/series/nightingale/__image_snapshots__/nightingale-test-ts-nightingale-chart-update-animation-for-example-options-should-animate-at-50-1-snap.png
  packages/ag-charts-enterprise/src/series/nightingale/__image_snapshots__/nightingale-test-ts-nightingale-chart-update-animation-for-example-options-should-animate-at-75-1-snap.png
  packages/ag-charts-enterprise/src/series/nightingale/nightingale.test.ts
  packages/ag-charts-enterprise/src/series/nightingale/nightingaleUtil.ts
Owners: @alantreadway

AG-9521 Radial Bar animation tests
  packages/ag-charts-enterprise/src/series/radial-bar/__image_snapshots__/radial-bar-test-ts-radial-bar-chart-add-animation-for-example-options-should-animate-at-0-1-snap.png
  packages/ag-charts-enterprise/src/series/radial-bar/__image_snapshots__/radial-bar-test-ts-radial-bar-chart-add-animation-for-example-options-should-animate-at-100-1-snap.png
  packages/ag-charts-enterprise/src/series/radial-bar/__image_snapshots__/radial-bar-test-ts-radial-bar-chart-add-animation-for-example-options-should-animate-at-25-1-snap.png
  packages/ag-charts-enterprise/src/series/radial-bar/__image_snapshots__/radial-bar-test-ts-radial-bar-chart-add-animation-for-example-options-should-animate-at-50-1-snap.png
  packages/ag-charts-enterprise/src/series/radial-bar/__image_snapshots__/radial-bar-test-ts-radial-bar-chart-add-animation-for-example-options-should-animate-at-75-1-snap.png
  packages/ag-charts-enterprise/src/series/radial-bar/__image_snapshots__/radial-bar-test-ts-radial-bar-chart-remove-animation-for-example-options-should-animate-at-0-1-snap.png
  packages/ag-charts-enterprise/src/series/radial-bar/__image_snapshots__/radial-bar-test-ts-radial-bar-chart-remove-animation-for-example-options-should-animate-at-100-1-snap.png
  packages/ag-charts-enterprise/src/series/radial-bar/__image_snapshots__/radial-bar-test-ts-radial-bar-chart-remove-animation-for-example-options-should-animate-at-25-1-snap.png
  packages/ag-charts-enterprise/src/series/radial-bar/__image_snapshots__/radial-bar-test-ts-radial-bar-chart-remove-animation-for-example-options-should-animate-at-50-1-snap.png
  packages/ag-charts-enterprise/src/series/radial-bar/__image_snapshots__/radial-bar-test-ts-radial-bar-chart-remove-animation-for-example-options-should-animate-at-75-1-snap.png
  packages/ag-charts-enterprise/src/series/radial-bar/__image_snapshots__/radial-bar-test-ts-radial-bar-chart-update-animation-for-example-options-should-animate-at-0-1-snap.png
  packages/ag-charts-enterprise/src/series/radial-bar/__image_snapshots__/radial-bar-test-ts-radial-bar-chart-update-animation-for-example-options-should-animate-at-100-1-snap.png
  packages/ag-charts-enterprise/src/series/radial-bar/__image_snapshots__/radial-bar-test-ts-radial-bar-chart-update-animation-for-example-options-should-animate-at-25-1-snap.png
  packages/ag-charts-enterprise/src/series/radial-bar/__image_snapshots__/radial-bar-test-ts-radial-bar-chart-update-animation-for-example-options-should-animate-at-50-1-snap.png
  packages/ag-charts-enterprise/src/series/radial-bar/__image_snapshots__/radial-bar-test-ts-radial-bar-chart-update-animation-for-example-options-should-animate-at-75-1-snap.png
  packages/ag-charts-enterprise/src/series/radial-bar/radialBar.test.ts
Owners: @alantreadway

AG-9543 - Make crosshair labels more prominent, remove shadow
  packages/ag-charts-enterprise/src/features/crosshair/crosshairLabel.ts
  packages/ag-charts-enterprise/src/features/crosshair/crosshairTheme.ts
Owners: @alantreadway

AG-9474 - Decouple gridLine selection updates from axis tick options configuration and apply theme defaults
  packages/ag-charts-community/src/chart/themes/chartTheme.ts
  packages/ag-charts-community/src/chart/themes/symbols.ts
  packages/ag-charts-enterprise/src/axes/angle/angleAxis.ts
  packages/ag-charts-enterprise/src/axes/angle/angleAxisThemes.ts
  packages/ag-charts-enterprise/src/axes/radius/radiusAxis.ts
Owners: @alantreadway

AG-9206 - Resolve axes and series types to show all of them in options reference
  packages/ag-charts-website/src/features/api-documentation/utils/model.ts
  packages/ag-charts-website/src/pages/options.astro
Owners: @ag-grid/ag-charts-team, @taktran

AG-9022 - error bar doc updates
  packages/ag-charts-website/src/content/docs/box-plot-series/index.mdoc
  packages/ag-charts-website/src/content/docs/error-bars/_examples/cap-length/data.ts
  packages/ag-charts-website/src/content/docs/error-bars/_examples/cap-length/main.ts
  packages/ag-charts-website/src/content/docs/error-bars/_examples/cap-lengthRatio/data.ts
  packages/ag-charts-website/src/content/docs/error-bars/_examples/cap-lengthRatio/main.ts
  packages/ag-charts-website/src/content/docs/error-bars/_examples/customisation/data.ts
  packages/ag-charts-website/src/content/docs/error-bars/_examples/customisation/index.html
  packages/ag-charts-website/src/content/docs/error-bars/_examples/customisation/main.ts
  packages/ag-charts-website/src/content/docs/error-bars/_examples/double-error-bars/data.ts
  packages/ag-charts-website/src/content/docs/error-bars/_examples/double-error-bars/index.html
  packages/ag-charts-website/src/content/docs/error-bars/_examples/double-error-bars/main.ts
  packages/ag-charts-website/src/content/docs/error-bars/_examples/double/data.ts
  packages/ag-charts-website/src/content/docs/error-bars/_examples/double/index.html
  packages/ag-charts-website/src/content/docs/error-bars/_examples/double/main.ts
  packages/ag-charts-website/src/content/docs/error-bars/_examples/single-error-bars/data.ts
  packages/ag-charts-website/src/content/docs/error-bars/_examples/single-error-bars/index.html
  packages/ag-charts-website/src/content/docs/error-bars/_examples/single-error-bars/main.ts
  packages/ag-charts-website/src/content/docs/error-bars/_examples/single/data.ts
  packages/ag-charts-website/src/content/docs/error-bars/_examples/single/index.html
  packages/ag-charts-website/src/content/docs/error-bars/_examples/single/main.ts
  packages/ag-charts-website/src/content/docs/error-bars/_examples/styling/data.ts
  packages/ag-charts-website/src/content/docs/error-bars/_examples/styling/index.html
  packages/ag-charts-website/src/content/docs/error-bars/_examples/styling/main.ts
  packages/ag-charts-website/src/content/docs/error-bars/_examples/tooltips-error-bars/data.ts
  packages/ag-charts-website/src/content/docs/error-bars/_examples/tooltips-error-bars/main.ts
  packages/ag-charts-website/src/content/docs/error-bars/index.mdoc
Owners: @rmc-software, @ag-grid/ag-charts-team

AG-9022 - error bar doc updates
  packages/ag-charts-website/src/content/docs/error-bars/_examples/single-error-bars/data.ts
Owners: @ag-grid/ag-charts-team

AG-3390 - renamed donut to doughnut
  packages/ag-charts-website/src/components/icon/Icon.tsx
  packages/ag-charts-website/src/content/docs/donut-series/index.mdoc
  packages/ag-charts-website/src/content/docs/doughnut-series/index.mdoc
  packages/ag-charts-website/src/content/gallery/data.json
  packages/ag-charts-website/src/content/menu/data.json
  packages/ag-charts-website/src/layouts/APIViewLayout.astro
Owners: @ag-grid/ag-charts-team, @rmc-software, @taktran

AG-3390 - moved doughnut docs out of pie series
  packages/ag-charts-website/src/content/docs/doughnut-series/_examples/doughnut-chart/index.html
  packages/ag-charts-website/src/content/docs/doughnut-series/_examples/doughnut-chart/main.ts
  packages/ag-charts-website/src/content/docs/doughnut-series/_examples/multi-doughnut-shared/index.html
  packages/ag-charts-website/src/content/docs/doughnut-series/_examples/multi-doughnut-shared/main.ts
  packages/ag-charts-website/src/content/docs/doughnut-series/_examples/multi-doughnut/index.html
  packages/ag-charts-website/src/content/docs/doughnut-series/_examples/multi-doughnut/main.ts
  packages/ag-charts-website/src/content/docs/doughnut-series/_examples/text-inside-doughnut/data.ts
  packages/ag-charts-website/src/content/docs/doughnut-series/_examples/text-inside-doughnut/index.html
  packages/ag-charts-website/src/content/docs/doughnut-series/_examples/text-inside-doughnut/main.ts
  packages/ag-charts-website/src/content/docs/doughnut-series/index.mdoc
  packages/ag-charts-website/src/content/docs/pie-series/index.mdoc
Owners: @ag-grid/ag-charts-team, @rmc-software

AG-9206 - Resolve axes and series types to show all of them in options reference (#354)
  packages/ag-charts-website/src/features/api-documentation/utils/model.ts
  packages/ag-charts-website/src/pages/options.astro
Owners: @ag-grid/ag-charts-team, @taktran

AG-9419 Fix Angle Cross Line inner radius handling
  packages/ag-charts-enterprise/src/axes/angle/angleAxis.ts
  packages/ag-charts-enterprise/src/axes/polar-crosslines/angleCrossLine.ts
Owners: @alantreadway

AG-9419 Fix Radius Cross Line inner radius
  packages/ag-charts-enterprise/src/axes/angle/angleAxis.ts
  packages/ag-charts-enterprise/src/axes/polar-crosslines/angleCrossLine.ts
  packages/ag-charts-enterprise/src/axes/polar-crosslines/polarCrossLine.ts
  packages/ag-charts-enterprise/src/axes/polar-crosslines/radiusCrossLine.ts
  packages/ag-charts-enterprise/src/axes/radius/radiusAxis.ts
Owners: @alantreadway

AG-9543 - Update image snapshots
  packages/ag-charts-enterprise/src/features/error-bar/__image_snapshots__/error-bar-test-ts-error-bars-should-render-caps-over-highlight-1-snap.png
  packages/ag-charts-enterprise/src/series/histogram/__image_snapshots__/histogram-series-test-ts-histogram-series-series-highlighting-should-highlight-scatter-datum-when-overlapping-histogram-1-snap.png
Owners: @alantreadway

AG-9543 - Add space
  packages/ag-charts-enterprise/src/features/crosshair/crosshairLabel.ts
Owners: @alantreadway

AG-8647- Use user provided palette colors for heatmap series `colorRange`
  packages/ag-charts-enterprise/src/series/heatmap/heatmapModule.ts
  packages/ag-charts-enterprise/src/series/heatmap/heatmapThemes.ts
Owners: @alantreadway

AG-9391 Fix Radial Column/NIghtingale anim. phases
  packages/ag-charts-enterprise/src/series/nightingale/nightingaleUtil.ts
  packages/ag-charts-enterprise/src/series/radial-column/radialColumnUtil.ts
Owners: @alantreadway

AG-8681 - Use user provided palette colors for waterfall series items
  packages/ag-charts-community/src/chart/themes/chartTheme.ts
  packages/ag-charts-community/src/chart/themes/darkTheme.ts
  packages/ag-charts-community/src/chart/themes/materialDark.ts
  packages/ag-charts-community/src/chart/themes/materialLight.ts
  packages/ag-charts-community/src/chart/themes/polychromaDark.ts
  packages/ag-charts-community/src/chart/themes/polychromaLight.ts
  packages/ag-charts-community/src/chart/themes/sheetsDark.ts
  packages/ag-charts-community/src/chart/themes/sheetsLight.ts
  packages/ag-charts-community/src/chart/themes/vividDark.ts
  packages/ag-charts-community/src/chart/themes/vividLight.ts
  packages/ag-charts-enterprise/src/series/waterfall/waterfallModule.ts
  packages/ag-charts-enterprise/src/series/waterfall/waterfallThemes.ts
Owners: @alantreadway

AG-8681 - Update image snapshots
  packages/ag-charts-enterprise/src/series/waterfall/__image_snapshots__/waterfall-test-ts-chart-should-render-a-horizontal-waterfall-chart-with-missing-and-invalid-values-1-snap.png
  packages/ag-charts-enterprise/src/series/waterfall/__image_snapshots__/waterfall-test-ts-chart-should-render-a-horizontal-waterfall-chart-with-total-and-subtotal-bars-1-snap.png
  packages/ag-charts-enterprise/src/series/waterfall/__image_snapshots__/waterfall-test-ts-chart-should-render-a-waterfall-chart-with-missing-and-invalid-values-1-snap.png
  packages/ag-charts-enterprise/src/series/waterfall/__image_snapshots__/waterfall-test-ts-chart-should-render-a-waterfall-chart-with-total-and-subtotal-columns-1-snap.png
Owners: @alantreadway

AG-8260 Proper Polar grid for start & end angles
  packages/ag-charts-community/src/chart/axis/polarAxis.ts
  packages/ag-charts-community/src/chart/polarChart.ts
  packages/ag-charts-enterprise/src/axes/angle/angleAxis.ts
  packages/ag-charts-enterprise/src/axes/radius/radiusAxis.ts
Owners: @alantreadway

AG-9560 Fix ag-charts-community:lint-eslint no-console error
  packages/ag-charts-community/src/chart/agChartV2.ts
Owners: @alantreadway
