Repository ag-grid/ag-charts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ag-grid/ag-charts-team, @markdurrant, @taktran, @alantreadway, @rmc-software

.github/CODEOWNERS:

# NOTE: Order of entries matters - later entries have higher precedence.

# Attribute code-owners so default reviewers are assigned to PRs.
* @ag-grid/ag-charts-team

# Astro + website changes to be reviewed by website team.
*.scss @markdurrant
*.astro @taktran
/packages/ag-charts-website/astro/** @taktran
/packages/ag-charts-website/components/** @taktran
/packages/ag-charts-website/features/** @taktran
/packages/ag-charts-website/layouts/** @taktran
/packages/ag-charts-website/stores/** @taktran
/packages/ag-charts-website/utils/** @taktran

# Docs updates to be reviewed by Eng VP.
/packages/ag-charts-website/content/** @alantreadway @rmc-software
*.mdoc @rmc-software

# Charts library code to be reviewed by Chart TL.
/packages/ag-charts-community/** @alantreadway
/packages/ag-charts-enterprise/** @alantreadway

# Sensitive build/repo files to be reviewed by Chart TL.
**/package.json @alantreadway
nx.json @alantreadway
**/project.json @alantreadway
**/tsconfig.json @alantreadway
**/tsconfig.*.json @alantreadway

AG-11506 Fix status bar warnings
  packages/ag-charts-community/src/api/preset/priceVolumePreset.ts
  packages/ag-charts-enterprise/src/features/status-bar/statusBar.ts
  packages/ag-charts-enterprise/src/features/status-bar/statusBarModule.ts
Owners: @alantreadway

AG-11851 Add toolbar to the layout docs
  packages/ag-charts-website/src/content/docs/layout/index.mdoc
Owners: @rmc-software

qa fixes - wip
  packages/ag-charts-types/src/chart/callbackOptions.ts
Owners: @ag-grid/ag-charts-team

qa fixes - wip
  packages/ag-charts-enterprise/src/series/candlestick/candlestickSeries.ts
  packages/ag-charts-enterprise/src/series/candlestick/candlestickSeriesProperties.ts
  packages/ag-charts-enterprise/src/series/candlestick/candlestickTypes.ts
  packages/ag-charts-enterprise/src/series/ohlc/ohlcSeries.ts
  packages/ag-charts-enterprise/src/series/ohlc/ohlcSeriesBase.ts
  packages/ag-charts-enterprise/src/series/ohlc/ohlcSeriesProperties.ts
  packages/ag-charts-types/src/main.ts
  packages/ag-charts-types/src/series/cartesian/candlestickOptions.ts
  packages/ag-charts-types/src/series/cartesian/ohlcBaseOptions.ts
  packages/ag-charts-types/src/series/cartesian/ohlcOptions.ts
Owners: @alantreadway, @ag-grid/ag-charts-team

qa fixes - wip
  packages/ag-charts-community/src/chart/series/cartesian/bubbleSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/scatterSeriesProperties.ts
  packages/ag-charts-enterprise/src/series/map-marker/mapMarkerModule.ts
  packages/ag-charts-enterprise/src/series/map-marker/mapMarkerSeries.ts
Owners: @alantreadway

qa fixes - wip
  packages/ag-charts-types/src/chart/callbackOptions.ts
Owners: @ag-grid/ag-charts-team

AG-11949 - Add license setup page (#1864)
  .nxignore
  .prettierignore
  eslint.config.mjs
  external/ag-website-shared/src/components/code/Code.module.scss
  external/ag-website-shared/src/components/code/Code.tsx
  external/ag-website-shared/src/components/license-setup/components/LicenseSetup.astro
  external/ag-website-shared/src/components/license-setup/components/LicenseSetup.module.scss
  external/ag-website-shared/src/components/license-setup/components/LicenseSetup.tsx
  external/ag-website-shared/src/components/license-setup/utils/getDependencies.test.ts
  external/ag-website-shared/src/components/license-setup/utils/getDependencies.ts
  external/ag-website-shared/src/components/license-setup/utils/getSnippets.ts
  external/ag-website-shared/src/components/license-setup/utils/useLicenseData.ts
  external/ag-website-shared/src/components/license-setup/utils/useUpdateDataFromUrl.ts
  external/ag-website-shared/src/components/snippet/EmbedSnippet.astro
  external/ag-website-shared/src/components/snippet/Snippet.tsx
  external/ag-website-shared/src/components/snippet/SnippetFromRemoteUrl.tsx
  external/ag-website-shared/src/design-system/style-guide/TextElements.tsx
  external/ag-website-shared/src/images/fw-logos/index.ts
  external/ag-website-shared/src/markdoc/tags/embedSnippet.ts
  external/ag-website-shared/src/markdoc/tags/licenseSetup.ts
  external/ag-website-shared/src/utils/throwDevWarning.ts
  packages/ag-charts-website/markdoc.config.ts
  packages/ag-charts-website/src/components/license-setup/LicenseSetup.astro
  packages/ag-charts-website/src/components/pages-navigation/components/SideNavigation.tsx
  packages/ag-charts-website/src/components/pages-navigation/hooks/useScrollSpy.ts
  packages/ag-charts-website/src/components/snippet/Snippet.tsx
  packages/ag-charts-website/src/constants.ts
  packages/ag-charts-website/src/content/config.ts
  packages/ag-charts-website/src/content/docs/license-install/index.mdoc
  packages/ag-charts-website/src/content/menu/data.json
  packages/ag-charts-website/src/features/api-documentation/components/ApiReference.tsx
  packages/ag-charts-website/src/features/example-runner/components/CodeViewer.tsx
  packages/ag-charts-website/src/pages/[framework]/[pageName].astro
Owners: @ag-grid/ag-charts-team, @markdurrant, @taktran, @rmc-software

git subrepo push external/ag-website-shared
  external/ag-website-shared/.gitrepo
Owners: @ag-grid/ag-charts-team

Remove redundant Chart.processedOptions, fix stale options state bugs.
  packages/ag-charts-community/src/api/agCharts.ts
  packages/ag-charts-community/src/chart/chart.ts
  packages/ag-charts-community/src/chart/mapping/themes.test.ts
Owners: @alantreadway

qa fixes - wip
  packages/ag-charts-community/src/scene/shape/radialColumnShape.ts
  packages/ag-charts-enterprise/src/series/nightingale/nightingaleSeries.ts
  packages/ag-charts-enterprise/src/series/nightingale/nightingaleSeriesProperties.ts
  packages/ag-charts-enterprise/src/series/radial-bar/radialBarSeries.ts
  packages/ag-charts-enterprise/src/series/radial-column/radialColumnSeriesBase.ts
  packages/ag-charts-enterprise/src/series/radial-column/radialColumnSeriesBaseProperties.ts
  packages/ag-charts-types/src/series/polar/radialBarOptions.ts
  packages/ag-charts-types/src/series/polar/radialOptions.ts
Owners: @alantreadway, @ag-grid/ag-charts-team

remove console.log
  packages/ag-charts-community/src/scene/shape/radialColumnShape.ts
Owners: @alantreadway

git subrepo pull external/ag-website-shared
  external/ag-website-shared/.gitrepo
  external/ag-website-shared/src/components/license-setup/components/LicenseSetup.tsx
  external/ag-website-shared/src/design-system/elements/_form-elements.scss
Owners: @ag-grid/ag-charts-team, @markdurrant

AG-11850 - Annotations axis button styling
  packages/ag-charts-community/src/chart/dom/domStyles.css
  packages/ag-charts-enterprise/src/features/annotations/annotationUtils.ts
  packages/ag-charts-enterprise/src/features/annotations/annotations.ts
  packages/ag-charts-enterprise/src/features/annotations/axisButton.css
  packages/ag-charts-enterprise/src/features/annotations/axisButton.ts
Owners: @alantreadway

AG-11850 - Annotations axis label styling
  packages/ag-charts-enterprise/src/features/annotations/annotationProperties.ts
  packages/ag-charts-enterprise/src/features/annotations/annotationsModule.ts
  packages/ag-charts-enterprise/src/features/annotations/scenes/axisLabel.ts
Owners: @alantreadway

AG-11850 - Snap cross line annotations axis button on band scales
  packages/ag-charts-enterprise/src/features/annotations/annotationUtils.ts
  packages/ag-charts-enterprise/src/features/annotations/axisButton.ts
Owners: @alantreadway

AG-11919 - align crosshair label with axis labels and set theme-specific background color
  packages/ag-charts-community/src/chart/dom/domStyles.css
  packages/ag-charts-enterprise/src/features/crosshair/crosshairLabel.css
  packages/ag-charts-enterprise/src/features/crosshair/crosshairLabel.ts
  packages/ag-charts-enterprise/src/utils/position.ts
Owners: @alantreadway

Fix vue3 breakage on option update.
  packages/ag-charts-vue3/src/index.ts
Owners: @ag-grid/ag-charts-team

Update e2e test snapshots for MacOS.
  packages/ag-charts-website/e2e/keyboard-nav.spec.ts-snapshots/1st-datum-focus-chromium-darwin.png
  packages/ag-charts-website/e2e/keyboard-nav.spec.ts-snapshots/3rd-datum-2nd-series-focus-chromium-darwin.png
  packages/ag-charts-website/e2e/keyboard-nav.spec.ts-snapshots/legend-2nd-page-focus-chromium-darwin.png
  packages/ag-charts-website/e2e/keyboard-nav.spec.ts-snapshots/legend-focus-chromium-darwin.png
  packages/ag-charts-website/e2e/keyboard-nav.spec.ts-snapshots/legend-page-control-focus-chromium-darwin.png
  packages/ag-charts-website/e2e/keyboard-nav.spec.ts-snapshots/tabbed-back-into-chart-chromium-darwin.png
  packages/ag-charts-website/e2e/keyboard-nav.spec.ts-snapshots/tabbed-out-of-chart-chromium-darwin.png
Owners: @ag-grid/ag-charts-team

Add e2e button click tests.
  packages/ag-charts-website/e2e/examples.spec.ts
Owners: @ag-grid/ag-charts-team

AG-11506 - Cleanup management of preset _type state.
  packages/ag-charts-community/src/api/agCharts.ts
Owners: @alantreadway

Remove redundant reference to vue-class-component.
  package.json
Owners: @alantreadway

AG-11506 - Fix financial-chart-types/ e2e test config.
  packages/ag-charts-website/e2e/examples.spec.ts
Owners: @ag-grid/ag-charts-team

AG-11506 - Cleanup FC customization example color definitions.
  packages/ag-charts-website/src/content/docs/financial-chart-types/_examples/customization/main.ts
Owners: @ag-grid/ag-charts-team

AG-11506 - Rework themes to support semantic colours.
  packages/ag-charts-community/src/api/preset/priceVolumePreset.ts
  packages/ag-charts-community/src/chart/themes/chartTheme.ts
  packages/ag-charts-community/src/chart/themes/darkTheme.ts
  packages/ag-charts-community/src/chart/themes/defaultColors.ts
  packages/ag-charts-community/src/chart/themes/financialDark.ts
  packages/ag-charts-community/src/chart/themes/financialLight.ts
  packages/ag-charts-community/src/chart/themes/materialDark.ts
  packages/ag-charts-community/src/chart/themes/materialLight.ts
  packages/ag-charts-community/src/chart/themes/polychromaDark.ts
  packages/ag-charts-community/src/chart/themes/polychromaLight.ts
  packages/ag-charts-community/src/chart/themes/sheetsDark.ts
  packages/ag-charts-community/src/chart/themes/sheetsLight.ts
  packages/ag-charts-community/src/chart/themes/symbols.ts
  packages/ag-charts-community/src/chart/themes/vividDark.ts
  packages/ag-charts-community/src/chart/themes/vividLight.ts
  packages/ag-charts-community/src/module/coreModulesTypes.ts
  packages/ag-charts-community/src/module/optionsModule.ts
  packages/ag-charts-enterprise/src/features/status-bar/statusBarModule.ts
  packages/ag-charts-enterprise/src/series/candlestick/candlestickModule.ts
  packages/ag-charts-enterprise/src/series/heatmap/heatmapModule.ts
  packages/ag-charts-enterprise/src/series/map-line/mapLineModule.ts
  packages/ag-charts-enterprise/src/series/map-marker/mapMarkerModule.ts
  packages/ag-charts-enterprise/src/series/map-shape/mapShapeModule.ts
  packages/ag-charts-enterprise/src/series/nightingale/nightingaleModule.ts
  packages/ag-charts-enterprise/src/series/ohlc/ohlcModule.ts
  packages/ag-charts-enterprise/src/series/waterfall/waterfallModule.ts
  packages/ag-charts-enterprise/src/series/waterfall/waterfallThemes.ts
  packages/ag-charts-types/src/chart/themeOptions.ts
  packages/ag-charts-website/src/content/docs/financial-chart-types/_examples/customization/main.ts
  plugins/ag-charts-generate-example-files/src/executors/generate/generator/utils/getDarkModeSnippet.ts
Owners: @alantreadway, @ag-grid/ag-charts-team

AG-11949 - Don't update url when license changes
  external/ag-website-shared/src/components/license-setup/utils/useLicenseData.ts
Owners: @ag-grid/ag-charts-team

docs tweaks
  packages/ag-charts-website/src/content/docs/annotations/index.mdoc
  packages/ag-charts-website/src/content/docs/installation/index.mdoc
  packages/ag-charts-website/src/content/docs/license-install/index.mdoc
  packages/ag-charts-website/src/content/docs/licensing/index.mdoc
  packages/ag-charts-website/src/content/docs/toolbar/index.mdoc
  packages/ag-charts-website/src/content/docs/upgrade-to-ag-charts-10/index.mdoc
  packages/ag-charts-website/src/content/versions/ag-charts-versions.json
Owners: @rmc-software, @ag-grid/ag-charts-team

AG-11970 - Add large examples option to docs pages
  packages/ag-charts-website/src/content/config.ts
  packages/ag-charts-website/src/content/docs/financial-charts/index.mdoc
  packages/ag-charts-website/src/features/example-runner/components/ExampleRunner.module.scss
  packages/ag-charts-website/src/pages/[framework]/[pageName].astro
Owners: @ag-grid/ag-charts-team, @rmc-software, @markdurrant, @taktran

Update focus shapes for sankey, chord series
  packages/ag-charts-community/src/scene/extendedPath2D.ts
  packages/ag-charts-enterprise/src/series/chord/chordSeries.ts
  packages/ag-charts-enterprise/src/series/sankey/sankeySeries.ts
Owners: @alantreadway

AG-11974 - Update charts pricing page info
  external/ag-website-shared/src/content/license-features/chartsFeaturesMatrix.json
Owners: @ag-grid/ag-charts-team

Example generation fixes
  packages/ag-charts-website/public/example-runner/charts-angular-boilerplate/systemjs.config.dev.js
  packages/ag-charts-website/public/example-runner/charts-angular-boilerplate/systemjs.config.js
  packages/ag-charts-website/public/example-runner/charts-vue3-boilerplate/systemjs.config.dev.js
  packages/ag-charts-website/public/example-runner/charts-vue3-boilerplate/systemjs.config.js
  plugins/ag-charts-generate-example-files/src/executors/generate/generator/transformation-scripts/chart-utils.ts
  plugins/ag-charts-generate-example-files/src/executors/generate/generator/transformation-scripts/chart-vanilla-to-angular.ts
  plugins/ag-charts-generate-example-files/src/executors/generate/generator/transformation-scripts/chart-vanilla-to-vue3.ts
Owners: @ag-grid/ag-charts-team

Ag-11931: Fix docs memberType resolving
  packages/ag-charts-website/src/features/api-documentation/apiReferenceHelpers.ts
Owners: @ag-grid/ag-charts-team

AG-11970 - Add large examples option to docs pages (#1878)
  packages/ag-charts-website/src/content/config.ts
  packages/ag-charts-website/src/content/docs/financial-charts/index.mdoc
  packages/ag-charts-website/src/features/example-runner/components/ExampleRunner.module.scss
  packages/ag-charts-website/src/pages/[framework]/[pageName].astro
Owners: @ag-grid/ag-charts-team, @rmc-software, @markdurrant, @taktran

AG-11506 - Fix FC options types.
  packages/ag-charts-types/src/chart/chartBuilderOptions.ts
Owners: @ag-grid/ag-charts-team

git subrepo pull external/ag-website-shared
  external/ag-website-shared/.gitrepo
  external/ag-website-shared/src/components/code/Code.module.scss
Owners: @ag-grid/ag-charts-team, @markdurrant

AG-11850 - Narrow annotation util functions context type
  packages/ag-charts-enterprise/src/features/annotations/annotationUtils.ts
Owners: @alantreadway

AG-11506 - Add support for overlaid titles for FC use-cases.
  packages/ag-charts-community/src/chart/caption.ts
  packages/ag-charts-community/src/chart/themes/chartTheme.ts
  packages/ag-charts-community/src/chart/themes/financialDark.ts
  packages/ag-charts-community/src/chart/themes/financialLight.ts
  packages/ag-charts-community/src/chart/themes/symbols.ts
  packages/ag-charts-community/src/chart/update/baseLayoutProcessor.ts
  packages/ag-charts-website/src/content/docs/financial-charts/_examples/basic-financial-chart/main.ts
Owners: @alantreadway, @ag-grid/ag-charts-team

AG-11850 -Update snapshots
  packages/ag-charts-enterprise/src/features/annotations/__image_snapshots__/annotations-test-ts-annotations-initial-should-render-a-horizontal-cross-line-annotation-1-snap.png
  packages/ag-charts-enterprise/src/features/annotations/__image_snapshots__/annotations-test-ts-annotations-initial-should-render-a-vertical-cross-line-annotation-1-snap.png
Owners: @alantreadway

Change toolbar spacing and financial theme chart padding
  packages/ag-charts-community/src/api/preset/priceVolumePreset.ts
  packages/ag-charts-community/src/chart/themes/chartTheme.ts
  packages/ag-charts-community/src/chart/themes/financialDark.ts
  packages/ag-charts-community/src/chart/themes/financialLight.ts
  packages/ag-charts-community/src/chart/themes/symbols.ts
  packages/ag-charts-community/src/chart/toolbar/toolbar.ts
Owners: @alantreadway

AG-11850 - remove unused variable
  packages/ag-charts-community/src/chart/toolbar/toolbar.ts
Owners: @alantreadway

AG-11506 - Plumb more context into LayoutContext.
  packages/ag-charts-community/src/chart/chart.ts
  packages/ag-charts-community/src/chart/layout/layoutService.ts
  packages/ag-charts-community/src/chart/legend.ts
  packages/ag-charts-community/src/chart/navigator/navigator.ts
  packages/ag-charts-community/src/chart/toolbar/toolbar.ts
  packages/ag-charts-community/src/chart/update/baseLayoutProcessor.ts
  packages/ag-charts-community/src/module/baseModule.ts
  packages/ag-charts-enterprise/src/features/navigator/navigator.ts
  packages/ag-charts-enterprise/src/features/status-bar/statusBar.ts
  packages/ag-charts-enterprise/src/gradient-legend/gradientLegend.ts
Owners: @alantreadway
