Repository ag-grid/ag-charts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ag-grid/ag-charts-team, @markdurrant, @taktran, @alantreadway, @rmc-software

Fix click annotation button when already creating annotation
  packages/ag-charts-enterprise/src/features/annotations/annotations.ts
Owners: @alantreadway

AG-11771 - Make Licence Key pricing page section more prominent
  external/ag-website-shared/src/components/license-pricing/LicensePricing.tsx
  external/ag-website-shared/src/components/license-pricing/license-pricing.module.scss
Owners: @ag-grid/ag-charts-team, @markdurrant

git subrepo push external/ag-website-shared
  external/ag-website-shared/.gitrepo
Owners: @ag-grid/ag-charts-team

AG-11506 - Allow statusBar to overlay series area, and align to right of title.
  packages/ag-charts-community/src/chart/layout/layoutService.ts
  packages/ag-charts-community/src/chart/legend.ts
  packages/ag-charts-community/src/chart/navigator/navigator.ts
  packages/ag-charts-community/src/chart/toolbar/toolbar.ts
  packages/ag-charts-community/src/chart/update/baseLayoutProcessor.ts
  packages/ag-charts-community/src/module/baseModule.ts
  packages/ag-charts-enterprise/src/features/status-bar/statusBar.ts
  packages/ag-charts-enterprise/src/features/status-bar/statusBarModule.ts
Owners: @alantreadway

AG-11908 - Re-order toolbar buttons
  packages/ag-charts-community/src/chart/toolbar/toolbarModule.ts
Owners: @alantreadway

AG-11908 - Fix horizontal and vertical lines annotation buttons active state
  packages/ag-charts-enterprise/src/features/annotations/annotationTypes.ts
  packages/ag-charts-enterprise/src/features/annotations/annotations.ts
Owners: @alantreadway

AG-11506 - Code review fixes.
  packages/ag-charts-community/src/chart/themes/chartTheme.ts
Owners: @alantreadway

Update e2e
  packages/ag-charts-website/e2e/examples.spec.ts
  packages/ag-charts-website/e2e/keyboard-nav.spec.ts
  packages/ag-charts-website/e2e/util.ts
  packages/ag-charts-website/src/content/docs/axes-labels/_examples/axis-label-rotation/main.ts
  plugins/ag-charts-generate-example-files/src/executors/generate/generator/transformation-scripts/chart-utils.test.ts
Owners: @ag-grid/ag-charts-team

fix tests
  plugins/ag-charts-generate-example-files/src/executors/generate/generator/transformation-scripts/chart-utils.test.ts
Owners: @ag-grid/ag-charts-team

AG-11952 Update params for node in sankey, chord series
  packages/ag-charts-enterprise/src/series/chord/chordSeries.ts
  packages/ag-charts-enterprise/src/series/sankey/sankeySeries.ts
  packages/ag-charts-types/src/series/flow-proportion/chordOptions.ts
  packages/ag-charts-types/src/series/flow-proportion/sankeyOptions.ts
Owners: @alantreadway, @ag-grid/ag-charts-team

AG-11506 - Update snapshots.
  packages/ag-charts-community/src/module/__snapshots__/optionsModule.test.ts.snap
Owners: @alantreadway

Fix download examples
  packages/ag-charts-vue3/src/index.ts
  packages/ag-charts-website/e2e/examples.spec.ts
  plugins/ag-charts-generate-example-files/src/executors/generate/generator/transformation-scripts/chart-vanilla-to-react-functional.ts
Owners: @ag-grid/ag-charts-team

Fix bubble options + prepare for markerSelection style refactor to support changing shape using an itemStyler
  packages/ag-charts-community/src/chart/series/cartesian/areaSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/bubbleSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/cartesianSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/lineSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/scatterSeries.ts
  packages/ag-charts-community/src/chart/series/series.ts
  packages/ag-charts-enterprise/src/series/map-marker/mapMarkerSeries.ts
  packages/ag-charts-enterprise/src/series/radial-bar/radialBarSeries.ts
  packages/ag-charts-enterprise/src/series/range-area/rangeArea.ts
  packages/ag-charts-types/src/series/cartesian/bubbleOptions.ts
Owners: @alantreadway, @ag-grid/ag-charts-team

AG-11950 Fix legend alignment with `showSeriesStroke: true`
  packages/ag-charts-community/src/chart/legend.ts
  packages/ag-charts-community/src/chart/markerLabel.ts
Owners: @alantreadway

AG-11506 - Further FC preset refinement.
  packages/ag-charts-community/src/api/preset/priceVolumePreset.ts
  packages/ag-charts-community/src/chart/themes/chartTheme.ts
  packages/ag-charts-community/src/chart/themes/financialDark.ts
  packages/ag-charts-community/src/chart/themes/financialLight.ts
  packages/ag-charts-community/src/chart/themes/symbols.ts
  packages/ag-charts-community/src/module/__snapshots__/optionsModule.test.ts.snap
  packages/ag-charts-types/src/chart/chartBuilderOptions.ts
  packages/ag-charts-website/src/content/docs/annotations/_examples/annotation-customisation/main.ts
  packages/ag-charts-website/src/content/docs/annotations/_examples/annotation-disjoint-channel/main.ts
  packages/ag-charts-website/src/content/docs/annotations/_examples/annotation-editing/main.ts
  packages/ag-charts-website/src/content/docs/annotations/_examples/annotation-line/main.ts
  packages/ag-charts-website/src/content/docs/annotations/_examples/annotation-parallel-channel/main.ts
  packages/ag-charts-website/src/content/docs/annotations/_examples/annotation-save-restore/main.ts
Owners: @alantreadway, @ag-grid/ag-charts-team

Automated package version bump to 9.3.1-beta.20240626.
  .env
  libraries/ag-charts-test/package.json
  package.json
  packages/ag-charts-angular/package.json
  packages/ag-charts-angular/projects/ag-charts-angular/package.json
  packages/ag-charts-community-examples/package.json
  packages/ag-charts-community/package.json
  packages/ag-charts-community/src/version.ts
  packages/ag-charts-enterprise/package.json
  packages/ag-charts-locale/package.json
  packages/ag-charts-react/package.json
  packages/ag-charts-types/package.json
  packages/ag-charts-vue3/package.json
  packages/ag-charts-website/.env.build
  packages/ag-charts-website/.env.build.archive
  packages/ag-charts-website/.env.build.production
  packages/ag-charts-website/.env.build.staging
  packages/ag-charts-website/.env.dev
  packages/ag-charts-website/.env.preview
  packages/ag-charts-website/.env.preview.production
  packages/ag-charts-website/.env.preview.staging
  packages/ag-charts-website/package.json
  plugins/ag-charts-generate-chart-thumbnail/package.json
  plugins/ag-charts-generate-code-reference-files/package.json
  plugins/ag-charts-generate-example-files/package.json
Owners: @ag-grid/ag-charts-team, @alantreadway

Fix crossline annotations selecting and showing buttons on create
  packages/ag-charts-community/src/chart/interaction/toolbarManager.ts
  packages/ag-charts-community/src/chart/toolbar/toolbar.ts
  packages/ag-charts-enterprise/src/features/annotations/annotations.ts
  packages/ag-charts-enterprise/src/features/annotations/cross-line/crossLineScene.ts
  packages/ag-charts-enterprise/src/features/annotations/cross-line/crossLineState.ts
  packages/ag-charts-enterprise/src/features/annotations/scenes/annotation.ts
Owners: @alantreadway

AG-11908 - Fix axis label remaining on chart when annotation is deleted
  packages/ag-charts-enterprise/src/features/annotations/cross-line/crossLineScene.ts
Owners: @alantreadway

AG-11919 - Theme specific crosshair and axis label styles
  packages/ag-charts-community/src/chart/dom/domStyles.css
  packages/ag-charts-enterprise/src/features/annotations/axisButton.css
  packages/ag-charts-enterprise/src/features/crosshair/crosshairLabel.css
Owners: @alantreadway

Lint
  packages/ag-charts-enterprise/src/series/chord/chordSeries.ts
Owners: @alantreadway

AG-7538 - Crosshair docs updates
  packages/ag-charts-website/src/content/docs/axes-crosshairs/_examples/crosshair-label-format/main.ts
  packages/ag-charts-website/src/content/docs/axes-crosshairs/index.mdoc
Owners: @ag-grid/ag-charts-team, @rmc-software

AG-11506 - Fix Chart title z-index in overlay mode.
  packages/ag-charts-community/src/chart/chart.ts
Owners: @alantreadway

AG-11981 - Fix annotation.axesButton theme processing.
  packages/ag-charts-community/src/module/optionsModule.ts
Owners: @alantreadway

AG-11424 Announce changes to the chart overlay
  packages/ag-charts-community/src/chart/overlay/chartOverlays.ts
  packages/ag-charts-community/src/chart/overlay/overlay.ts
  packages/ag-charts-community/src/chart/themes/chartTheme.ts
  packages/ag-charts-community/src/chart/update/overlaysProcessor.ts
Owners: @alantreadway

AG-11424 Update snapshots
  packages/ag-charts-community/src/module/__snapshots__/optionsModule.test.ts.snap
Owners: @alantreadway

AG-11956 Ignore Shift-Arrowkeys in toolbars and menus
  packages/ag-charts-community/src/util/keynavUtil.ts
Owners: @alantreadway

AG-11956 Ignore key presses with modifies in KeyNavManager.
  packages/ag-charts-community/src/chart/interaction/keyNavManager.ts
Owners: @alantreadway

Snapshot fixes.
  packages/ag-charts-community/src/chart/__image_snapshots__/scene-test-ts-scene-on-translation-only-change-should-render-bar-series-correctly-after-update-1-snap.png
Owners: @alantreadway

Fix annotations top toolbar button click to not cancel
  packages/ag-charts-enterprise/src/features/annotations/annotations.ts
Owners: @alantreadway

Fix annotation crossline handles lock styles
  packages/ag-charts-enterprise/src/features/annotations/cross-line/crossLineScene.ts
  packages/ag-charts-enterprise/src/features/annotations/scenes/handle.ts
Owners: @alantreadway

Fix ThemeApi docs page by replacing type-literals with type-aliases
  packages/ag-charts-types/src/chart/themeOptions.ts
Owners: @ag-grid/ag-charts-team

Add sequencing to module iteration to fix toolbar/navigator positioning
  packages/ag-charts-community/src/module/moduleMap.ts
Owners: @alantreadway

AG-11970 - Extend header for large examples
  packages/ag-charts-website/src/features/docs/components/Header.module.scss
Owners: @markdurrant

fix initialState docs deep-link + revert series changes
  packages/ag-charts-community/src/chart/series/cartesian/areaSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/bubbleSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/cartesianSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/lineSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/scatterSeries.ts
  packages/ag-charts-community/src/chart/series/series.ts
  packages/ag-charts-enterprise/src/series/map-marker/mapMarkerSeries.ts
  packages/ag-charts-enterprise/src/series/radial-bar/radialBarSeries.ts
  packages/ag-charts-enterprise/src/series/range-area/rangeArea.ts
  packages/ag-charts-website/src/features/api-documentation/apiReferenceHelpers.ts
Owners: @alantreadway, @ag-grid/ag-charts-team

fix radial-bar itemStyler datum ref
  packages/ag-charts-enterprise/src/series/radial-bar/radialBarSeries.ts
Owners: @alantreadway

AG-11509 Add intermediate container for role="toolbar"
  packages/ag-charts-community/src/chart/toolbar/toolbar.ts
Owners: @alantreadway

financial chart docs and examples
  packages/ag-charts-types/src/chart/annotationsOptions.ts
  packages/ag-charts-website/public/changelog/releases/10_0_0.md
  packages/ag-charts-website/public/changelog/releases/9_3_1.md
  packages/ag-charts-website/src/content/docs/financial-chart-types/index.mdoc
  packages/ag-charts-website/src/content/docs/financial-charts/_examples/basic-financial-chart/main.ts
  packages/ag-charts-website/src/content/docs/financial-charts/index.mdoc
  packages/ag-charts-website/src/content/docs/toolbar/_examples/toolbar-buttons/main.ts
  packages/ag-charts-website/src/content/docs/toolbar/_examples/toolbar/main.ts
  packages/ag-charts-website/src/content/docs/toolbar/index.mdoc
  packages/ag-charts-website/src/content/docs/upgrade-to-ag-charts-10/index.mdoc
  packages/ag-charts-website/src/content/docs/zoom/_examples/zoom-custom-buttons/main.ts
Owners: @ag-grid/ag-charts-team, @rmc-software

fix broken example
  packages/ag-charts-website/src/content/docs/zoom/_examples/zoom-custom-buttons/main.ts
Owners: @ag-grid/ag-charts-team

AG-11981 - Cleanup preset styling.
  packages/ag-charts-community/src/api/preset/priceVolumePreset.ts
  packages/ag-charts-community/src/chart/themes/chartTheme.ts
  packages/ag-charts-community/src/chart/themes/financialDark.ts
  packages/ag-charts-community/src/chart/themes/financialLight.ts
  packages/ag-charts-community/src/chart/themes/symbols.ts
  packages/ag-charts-community/src/chart/toolbar/toolbarModule.ts
  packages/ag-charts-community/src/module/optionsModule.ts
Owners: @alantreadway

Fix toolbar example.
  packages/ag-charts-website/src/content/docs/toolbar/_examples/toolbar-buttons/main.ts
Owners: @ag-grid/ag-charts-team

.github/CODEOWNERS:

# NOTE: Order of entries matters - later entries have higher precedence.

# Attribute code-owners so default reviewers are assigned to PRs.
* @ag-grid/ag-charts-team

# Astro + website changes to be reviewed by website team.
*.scss @markdurrant
*.astro @taktran
/packages/ag-charts-website/astro/** @taktran
/packages/ag-charts-website/components/** @taktran
/packages/ag-charts-website/features/** @taktran
/packages/ag-charts-website/layouts/** @taktran
/packages/ag-charts-website/stores/** @taktran
/packages/ag-charts-website/utils/** @taktran

# Docs updates to be reviewed by Eng VP.
/packages/ag-charts-website/content/** @alantreadway @rmc-software
*.mdoc @rmc-software

# Charts library code to be reviewed by Chart TL.
/packages/ag-charts-community/** @alantreadway
/packages/ag-charts-enterprise/** @alantreadway

# Sensitive build/repo files to be reviewed by Chart TL.
**/package.json @alantreadway
nx.json @alantreadway
**/project.json @alantreadway
**/tsconfig.json @alantreadway
**/tsconfig.*.json @alantreadway
