Repository ag-grid/ag-charts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ag-grid/ag-charts-team, @markdurrant, @taktran, @alantreadway, @rmc-software

AG-12307 - Fix API pages top header for ALL API pages
  packages/ag-charts-website/src/components/top-bar/ApiTopBar.module.scss
  packages/ag-charts-website/src/layouts/APIViewLayout.astro
Owners: @markdurrant, @taktran

AG-12600 Fix lint issues
  packages/ag-charts-enterprise/src/features/annotations/annotations.test.ts
  packages/ag-charts-enterprise/src/features/annotations/cross-line/crossLineScene.ts
  packages/ag-charts-enterprise/src/features/annotations/line/lineScene.ts
Owners: @alantreadway

AG-12600 Refactor shared line with text scene behaviour
  packages/ag-charts-enterprise/src/features/annotations/cross-line/crossLineScene.ts
  packages/ag-charts-enterprise/src/features/annotations/disjoint-channel/disjointChannelScene.ts
  packages/ag-charts-enterprise/src/features/annotations/line/lineScene.ts
  packages/ag-charts-enterprise/src/features/annotations/parallel-channel/parallelChannelScene.ts
  packages/ag-charts-enterprise/src/features/annotations/scenes/channelScene.ts
  packages/ag-charts-enterprise/src/features/annotations/scenes/lineWithTextScene.ts
Owners: @alantreadway

AG-12600 Add line drawing text label
  packages/ag-charts-community/src/util/vector.ts
  packages/ag-charts-enterprise/src/features/annotations/annotationProperties.ts
  packages/ag-charts-enterprise/src/features/annotations/annotationsModule.ts
  packages/ag-charts-enterprise/src/features/annotations/line/lineProperties.ts
  packages/ag-charts-enterprise/src/features/annotations/line/lineScene.ts
  packages/ag-charts-types/src/chart/annotationsOptions.ts
  packages/ag-charts-website/src/content/docs/financial-charts-toolbar/_examples/line-drawings/main.ts
Owners: @alantreadway, @ag-grid/ag-charts-team

AG-12600 Change line text to use normal vectors for insets & offsets
  packages/ag-charts-community/src/util/vector.ts
  packages/ag-charts-enterprise/src/features/annotations/line/lineScene.ts
Owners: @alantreadway

AG-12600 Add parallel channel drawing text label
  packages/ag-charts-enterprise/src/features/annotations/annotationProperties.ts
  packages/ag-charts-enterprise/src/features/annotations/annotationsModule.ts
  packages/ag-charts-enterprise/src/features/annotations/parallel-channel/parallelChannelProperties.ts
  packages/ag-charts-enterprise/src/features/annotations/parallel-channel/parallelChannelScene.ts
  packages/ag-charts-enterprise/src/features/annotations/scenes/channelScene.ts
  packages/ag-charts-types/src/chart/annotationsOptions.ts
Owners: @alantreadway, @ag-grid/ag-charts-team

AG-12600 Add cross line drawing text label
  packages/ag-charts-enterprise/src/features/annotations/annotationsConfig.ts
  packages/ag-charts-enterprise/src/features/annotations/annotationsModule.ts
  packages/ag-charts-enterprise/src/features/annotations/cross-line/crossLineProperties.ts
  packages/ag-charts-enterprise/src/features/annotations/cross-line/crossLineScene.ts
  packages/ag-charts-types/src/chart/annotationsOptions.ts
  packages/ag-charts-website/src/content/docs/financial-charts-toolbar/_examples/line-drawings/main.ts
Owners: @alantreadway, @ag-grid/ag-charts-team

AG-12600 Add tests for linear drawings with text
  packages/ag-charts-enterprise/src/features/annotations/__image_snapshots__/annotations-test-ts-annotations-lines-with-text-should-render-disjoint-channel-annotations-with-text-1-snap.png
  packages/ag-charts-enterprise/src/features/annotations/__image_snapshots__/annotations-test-ts-annotations-lines-with-text-should-render-horizontal-line-annotations-with-text-1-snap.png
  packages/ag-charts-enterprise/src/features/annotations/__image_snapshots__/annotations-test-ts-annotations-lines-with-text-should-render-line-annotations-with-text-1-snap.png
  packages/ag-charts-enterprise/src/features/annotations/__image_snapshots__/annotations-test-ts-annotations-lines-with-text-should-render-parallel-channel-annotations-with-text-1-snap.png
  packages/ag-charts-enterprise/src/features/annotations/__image_snapshots__/annotations-test-ts-annotations-lines-with-text-should-render-vertical-line-annotations-with-text-1-snap.png
  packages/ag-charts-enterprise/src/features/annotations/annotations.test.ts
  packages/ag-charts-enterprise/src/features/annotations/scenes/channelScene.ts
Owners: @alantreadway

AG-12600 Add disjoint channel drawing text label
  packages/ag-charts-enterprise/src/features/annotations/annotationsModule.ts
  packages/ag-charts-enterprise/src/features/annotations/disjoint-channel/disjointChannelProperties.ts
  packages/ag-charts-enterprise/src/features/annotations/disjoint-channel/disjointChannelScene.ts
  packages/ag-charts-enterprise/src/features/annotations/line/lineScene.ts
  packages/ag-charts-enterprise/src/features/annotations/parallel-channel/parallelChannelScene.ts
  packages/ag-charts-enterprise/src/features/annotations/scenes/channelScene.ts
  packages/ag-charts-types/src/chart/annotationsOptions.ts
  packages/ag-charts-website/src/content/docs/financial-charts-toolbar/_examples/line-drawings/main.ts
Owners: @alantreadway, @ag-grid/ag-charts-team

AG-12600 Add outside clipping for annotation line scene with text
  packages/ag-charts-community/src/scene/group.ts
  packages/ag-charts-enterprise/src/features/annotations/annotationProperties.ts
  packages/ag-charts-enterprise/src/features/annotations/line/lineProperties.ts
  packages/ag-charts-enterprise/src/features/annotations/line/lineScene.ts
  packages/ag-charts-enterprise/src/features/annotations/scenes/annotationScene.ts
  packages/ag-charts-enterprise/src/features/navigator/miniChart.ts
Owners: @alantreadway

Align actions/checkout GHA version.
  .github/workflows/ci.yml
Owners: @ag-grid/ag-charts-team

AG-12307 - Fix API pages top header for ALL API pages (#2292)
  packages/ag-charts-website/src/components/top-bar/ApiTopBar.module.scss
  packages/ag-charts-website/src/layouts/APIViewLayout.astro
Owners: @markdurrant, @taktran

AG-12600 Update e2e snapshots
  packages/ag-charts-website/e2e/toolbar.spec.ts-snapshots/line-4-complete-chromium-darwin.png
Owners: @ag-grid/ag-charts-team

Radial gauge
  packages/ag-charts-community/src/api/preset/gauge.ts
  packages/ag-charts-community/src/integrated-charts-scene.ts
  packages/ag-charts-enterprise/src/series/radial-gauge/radialGaugeModule.ts
  packages/ag-charts-enterprise/src/series/radial-gauge/radialGaugeSeries.ts
  packages/ag-charts-enterprise/src/series/radial-gauge/radialGaugeSeriesProperties.ts
  packages/ag-charts-types/src/series/gauge/radialGaugeOptions.ts
Owners: @alantreadway, @ag-grid/ag-charts-team

AG-12068 - Fix annotation button states after lock
  packages/ag-charts-enterprise/src/features/annotations/annotationsConfig.ts
Owners: @alantreadway

AG-12068 - Add fill color picker to annotation options for arrows
  packages/ag-charts-enterprise/src/features/annotations/annotationsConfig.ts
  packages/ag-charts-enterprise/src/features/annotations/properties/shapePointProperties.ts
Owners: @alantreadway

AG-12068 - Add fill color picker to annotation options for arrows
  packages/ag-charts-enterprise/src/features/annotations/arrow-down/arrowDownProperties.ts
  packages/ag-charts-enterprise/src/features/annotations/arrow-up/arrowUpProperties.ts
Owners: @alantreadway

AG-12600 Fix removal of text node on line when label is empty
  packages/ag-charts-enterprise/src/features/annotations/scenes/lineWithTextScene.ts
  packages/ag-charts-website/e2e/toolbar.spec.ts-snapshots/line-4-complete-chromium-darwin.png
Owners: @alantreadway, @ag-grid/ag-charts-team

Use degrees for radial gauge
  packages/ag-charts-community/src/util/angle.ts
  packages/ag-charts-enterprise/src/series/radial-gauge/radialGaugeSeries.ts
  packages/ag-charts-enterprise/src/series/radial-gauge/radialGaugeSeriesProperties.ts
Owners: @alantreadway

AG-12521 - Fix range-bar support for time y-axis.
  packages/ag-charts-enterprise/src/series/range-bar/__image_snapshots__/range-bar-test-ts-range-bar-series-should-render-a-horizontal-range-bar-chart-with-date-values-as-expected-1-snap.png
  packages/ag-charts-enterprise/src/series/range-bar/__image_snapshots__/range-bar-test-ts-range-bar-series-should-render-a-horizontal-range-bar-chart-with-date-x-values-as-expected-1-snap.png
  packages/ag-charts-enterprise/src/series/range-bar/__image_snapshots__/range-bar-test-ts-range-bar-series-should-render-a-horizontal-range-bar-chart-with-date-y-values-as-expected-1-snap.png
  packages/ag-charts-enterprise/src/series/range-bar/__image_snapshots__/range-bar-test-ts-range-bar-series-should-render-a-range-bar-chart-with-date-values-as-expected-1-snap.png
  packages/ag-charts-enterprise/src/series/range-bar/__image_snapshots__/range-bar-test-ts-range-bar-series-should-render-a-range-bar-chart-with-date-x-values-as-expected-1-snap.png
  packages/ag-charts-enterprise/src/series/range-bar/__image_snapshots__/range-bar-test-ts-range-bar-series-should-render-a-range-bar-chart-with-date-y-values-as-expected-1-snap.png
  packages/ag-charts-enterprise/src/series/range-bar/rangeBar.test.ts
  packages/ag-charts-enterprise/src/series/range-bar/rangeBarSeries.ts
Owners: @alantreadway

AG-12646 - Improve Playwright e2e caching.
  .github/actions/setup-nx/action.yml
  .github/workflows/ci.yml
Owners: @ag-grid/ag-charts-team

AG-12646 - Improve Playwright e2e caching.
  .github/actions/setup-nx/action.yml
Owners: @ag-grid/ag-charts-team

Add axes to radial gauge
  packages/ag-charts-community/src/chart/axis/polarAxis.ts
  packages/ag-charts-community/src/chart/gaugeChart.ts
  packages/ag-charts-community/src/chart/polarChart.ts
  packages/ag-charts-community/src/chart/series/gaugeSeries.ts
  packages/ag-charts-community/src/module/coreModules.ts
  packages/ag-charts-enterprise/src/axes/angle/angleAxis.ts
  packages/ag-charts-enterprise/src/series/radial-gauge/radialGaugeModule.ts
  packages/ag-charts-enterprise/src/series/radial-gauge/radialGaugeSeries.ts
  packages/ag-charts-enterprise/src/series/radial-gauge/radialGaugeSeriesProperties.ts
  packages/ag-charts-types/src/series/gauge/radialGaugeOptions.ts
Owners: @alantreadway, @ag-grid/ag-charts-team

AG-12646 - Use dynamic matrix for unit/integration tests.
  .github/workflows/ci.yml
  tools/test/calculate-shards.js
Owners: @ag-grid/ag-charts-team

Lint
  packages/ag-charts-community/src/api/preset/gauge.ts
  packages/ag-charts-community/src/chart/gaugeChart.ts
  packages/ag-charts-types/src/series/gauge/gaugeOptions.ts
Owners: @alantreadway, @ag-grid/ag-charts-team

AG-12646 - Improve e2e matrix accuracy.
  .github/workflows/ci.yml
  packages/ag-charts-website/playwright.config.ts
Owners: @ag-grid/ag-charts-team

AG-12646 - Improve e2e worker utilisation.
  packages/ag-charts-website/playwright.config.ts
Owners: @ag-grid/ag-charts-team

AG-12646 - Improve e2e worker utilisation.
  packages/ag-charts-website/playwright.config.ts
Owners: @ag-grid/ag-charts-team

AG-12646 - Allow more time for Angular tests.
  packages/ag-charts-website/e2e/examples.spec.ts
  packages/ag-charts-website/playwright.config.ts
Owners: @ag-grid/ag-charts-team

AG-12646 - Allow more time for Angular tests.
  packages/ag-charts-website/e2e/examples.spec.ts
Owners: @ag-grid/ag-charts-team

introduce padBandExtent
  packages/ag-charts-community/src/chart/series/cartesian/abstractBarSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/barSeries.ts
  packages/ag-charts-enterprise/src/series/box-plot/boxPlotSeries.ts
  packages/ag-charts-enterprise/src/series/candlestick/__image_snapshots__/candlestick-series-test-ts-candlestick-series-should-render-a-candlestick-chart-with-a-reversed-time-x-axis-1-snap.png
  packages/ag-charts-enterprise/src/series/candlestick/__image_snapshots__/candlestick-series-test-ts-candlestick-series-should-render-a-candlestick-chart-with-a-time-x-axis-1-snap.png
  packages/ag-charts-enterprise/src/series/ohlc/__image_snapshots__/ohlc-series-test-ts-ohlc-series-should-render-a-ohlc-chart-with-a-reversed-time-x-axis-1-snap.png
  packages/ag-charts-enterprise/src/series/ohlc/__image_snapshots__/ohlc-series-test-ts-ohlc-series-should-render-a-ohlc-chart-with-a-time-x-axis-1-snap.png
  packages/ag-charts-enterprise/src/series/ohlc/ohlcSeriesBase.ts
  packages/ag-charts-enterprise/src/series/range-bar/rangeBarSeries.ts
  packages/ag-charts-enterprise/src/series/waterfall/waterfallSeries.ts
Owners: @alantreadway

AG-12635 - Move charts domain to `/charts` folder
  packages/ag-charts-types/src/chart/chartBuilderOptions.ts
  packages/ag-charts-website/.env.build
  packages/ag-charts-website/.env.build.production
  packages/ag-charts-website/.env.dev
  packages/ag-charts-website/.env.preview
  packages/ag-charts-website/.env.preview.production
  packages/ag-charts-website/src/features/api-documentation/components/ApiReference.tsx
  packages/ag-charts-website/src/pages-styles/homepage.module.scss
  packages/ag-charts-website/src/pages/index.astro
Owners: @ag-grid/ag-charts-team, @markdurrant, @taktran

AG-12635 - Convert robots.txt to robots-partial.txt for grid root site to consume
  packages/ag-charts-website/src/pages/robots-partial.txt.ts
  packages/ag-charts-website/src/pages/robots.txt.ts
Owners: @ag-grid/ag-charts-team

AG-12635 - Replace charts.ag-grid.com with ag-grid.com/charts
  README.md
  external/ag-website-shared/src/components/documentation-archive/DocumentationArchive.astro
  external/ag-website-shared/src/components/license-pricing/Licenses.tsx
  external/ag-website-shared/src/content/license-features/chartsFeaturesMatrix.json
  external/ag-website-shared/src/content/license-features/gridFeaturesMatrix.json
  external/ag-website-shared/src/content/products/menu.json
  packages/ag-charts-angular/README.md
  packages/ag-charts-angular/package.json
  packages/ag-charts-angular/projects/ag-charts-angular/README.md
  packages/ag-charts-angular/projects/ag-charts-angular/package.json
  packages/ag-charts-community/README.md
  packages/ag-charts-community/package.json
  packages/ag-charts-community/src/chart/factory/processEnterpriseOptions.ts
  packages/ag-charts-enterprise/README.md
  packages/ag-charts-enterprise/package.json
  packages/ag-charts-enterprise/src/license/licenseManager.ts
  packages/ag-charts-locale/README.md
  packages/ag-charts-locale/package.json
  packages/ag-charts-react/README.md
  packages/ag-charts-react/package.json
  packages/ag-charts-types/README.md
  packages/ag-charts-types/package.json
  packages/ag-charts-vue3/README.md
  packages/ag-charts-vue3/package.json
  packages/ag-charts-website/public/changelog/releases/10_0_0.md
  packages/ag-charts-website/public/changelog/releases/9_0_0.md
  packages/ag-charts-website/src/constants.ts
  packages/ag-charts-website/src/content/metadata/metadata.json
  packages/ag-charts-website/src/pages/sitemap.astro
  packages/ag-charts-website/src/pages/style-guide.astro
  tools/readme/sync-readme.js
Owners: @ag-grid/ag-charts-team, @taktran, @alantreadway

AG-12635 - Fix social proof images for pricing page
  external/ag-website-shared/src/components/license-pricing/SocialProof.jsx
  packages/ag-charts-website/src/components/quotes/quotesData.ts
Owners: @ag-grid/ag-charts-team

AG-12635 - Move robots disallow to json endpoint
  packages/ag-charts-website/src/pages/robots-disallow.json.ts
Owners: @ag-grid/ag-charts-team

AG-12635 - Update archive env for /charts
  packages/ag-charts-website/.env.build.archive
Owners: @ag-grid/ag-charts-team

AG-12501 - Allow dragging parallel channel from middle line
  packages/ag-charts-enterprise/src/features/annotations/parallel-channel/parallelChannelScene.ts
Owners: @alantreadway

AG-12635 - Remove charts subdomain for plausible
  packages/ag-charts-website/src/layouts/Layout.astro
Owners: @taktran

AG-12635 - Fix charts link for licensing page on local dev
  packages/ag-charts-website/src/constants.ts
Owners: @ag-grid/ag-charts-team

.github/CODEOWNERS:

# NOTE: Order of entries matters - later entries have higher precedence.

# Attribute code-owners so default reviewers are assigned to PRs.
* @ag-grid/ag-charts-team

# Astro + website changes to be reviewed by website team.
*.scss @markdurrant
*.astro @taktran
/packages/ag-charts-website/astro/** @taktran
/packages/ag-charts-website/components/** @taktran
/packages/ag-charts-website/features/** @taktran
/packages/ag-charts-website/layouts/** @taktran
/packages/ag-charts-website/stores/** @taktran
/packages/ag-charts-website/utils/** @taktran

# Docs updates to be reviewed by Eng VP.
/packages/ag-charts-website/content/** @alantreadway @rmc-software
*.mdoc @rmc-software

# Charts library code to be reviewed by Chart TL.
/packages/ag-charts-community/** @alantreadway
/packages/ag-charts-enterprise/** @alantreadway

# Sensitive build/repo files to be reviewed by Chart TL.
**/package.json @alantreadway
nx.json @alantreadway
**/project.json @alantreadway
**/tsconfig.json @alantreadway
**/tsconfig.*.json @alantreadway
