Repository ag-grid/ag-charts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ag-grid/ag-charts-team, @markdurrant, @taktran, @alantreadway, @rmc-software

.github/CODEOWNERS:

# NOTE: Order of entries matters - later entries have higher precedence.

# Attribute code-owners so default reviewers are assigned to PRs.
* @ag-grid/ag-charts-team

# Astro + website changes to be reviewed by website team.
*.scss @markdurrant
*.astro @taktran
/packages/ag-charts-website/astro/** @taktran
/packages/ag-charts-website/components/** @taktran
/packages/ag-charts-website/features/** @taktran
/packages/ag-charts-website/layouts/** @taktran
/packages/ag-charts-website/stores/** @taktran
/packages/ag-charts-website/utils/** @taktran

# Docs updates to be reviewed by Eng VP.
/packages/ag-charts-website/content/** @alantreadway @rmc-software
*.mdoc @rmc-software

# Charts library code to be reviewed by Chart TL.
/packages/ag-charts-community/** @alantreadway
/packages/ag-charts-enterprise/** @alantreadway

# Sensitive build/repo files to be reviewed by Chart TL.
**/package.json @alantreadway
nx.json @alantreadway
**/project.json @alantreadway
**/tsconfig.json @alantreadway
**/tsconfig.*.json @alantreadway

AG-3390 - Add skip gallery image generation flag to speed up build time
  packages/ag-charts-website/src/constants.ts
  packages/ag-charts-website/src/features/gallery/utils/pageData.ts
Owners: @ag-grid/ag-charts-team

CRT-6 - Remove generated Astro tags in example html
  packages/ag-charts-website/src/features/docs/components/DocsExampleRunner.tsx
  packages/ag-charts-website/src/features/example-runner/utils/removeGeneratedAstroTags.ts
  packages/ag-charts-website/src/features/gallery/components/GalleryExampleRunner.tsx
  packages/ag-charts-website/src/features/plunkr/components/OpenInPlunkr.tsx
Owners: @ag-grid/ag-charts-team

CRT-71 - Remove redundant marker factories
  packages/ag-charts-website/src/content/docs/markers/_examples/custom-marker/main.ts
  packages/ag-charts-website/src/content/gallery/_examples/bubble-with-custom-markers/main.ts
  packages/ag-charts-website/src/content/gallery/_examples/multiple-scatter-series/main.ts
  packages/ag-charts-website/src/content/gallery/_examples/scatter-with-custom-markers/main.ts
Owners: @ag-grid/ag-charts-team

CRT-107 - fix pie in doughnut inner title
  packages/ag-charts-website/src/content/gallery/_examples/pie-in-a-doughnut/main.ts
Owners: @ag-grid/ag-charts-team

AG-3390 - Update homepage features copy
  packages/ag-charts-website/src/pages/index.astro
Owners: @taktran

CRT-17 - move tooltips to theme.overrides where possible
  packages/ag-charts-website/src/content/gallery/_examples/area-with-markers/main.ts
  packages/ag-charts-website/src/content/gallery/_examples/line-with-time-axis/main.ts
  packages/ag-charts-website/src/content/gallery/_examples/multiple-line-series/main.ts
  packages/ag-charts-website/src/content/gallery/_examples/stacked-bar/main.ts
  packages/ag-charts-website/src/content/gallery/_examples/stacked-horizontal-bar/main.ts
Owners: @ag-grid/ag-charts-team

AG-9807 Move Charts Pipeline/Changelog to top level pages
  packages/ag-charts-website/public/changelog/changelog.json
  packages/ag-charts-website/public/changelog/releaseVersionNotes.json
  packages/ag-charts-website/public/changelog/releases/8_2_1.md
  packages/ag-charts-website/public/changelog/releases/9_0_0.md
  packages/ag-charts-website/src/components/release-notes/Collapsible.module.scss
  packages/ag-charts-website/src/components/release-notes/Collapsible.tsx
Owners: @ag-grid/ag-charts-team, @markdurrant

CRT-94 - update tooltip position example
  packages/ag-charts-website/src/content/docs/tooltips/_examples/tooltip-position/main.ts
Owners: @ag-grid/ag-charts-team

AG-9807 Move Charts Pipeline/Changelog to top level pages
  packages/ag-charts-website/public/changelog/changelog.json
  packages/ag-charts-website/public/changelog/releases/9_0_0.md
Owners: @ag-grid/ag-charts-team

CRT-96 - update overlay missing data snippet
  packages/ag-charts-website/src/content/docs/overlays/index.mdoc
Owners: @rmc-software

CRT-10 - Use X logo for twitter
  packages/ag-charts-website/src/components/icon/Icon.tsx
  packages/ag-charts-website/src/content/footer/data.json
  packages/ag-charts-website/src/images/inline-svgs/x-logo.svg
Owners: @ag-grid/ag-charts-team

CRT-58 Data Elements Docs tweaks
  packages/ag-charts-website/src/content/docs/axes-cross-lines/index.mdoc
  packages/ag-charts-website/src/content/docs/overlays/_examples/no-data/main.ts
Owners: @rmc-software, @ag-grid/ag-charts-team

CRT-126: Tooltip not always updating during "live" data changes (Fixed)
  packages/ag-charts-community/src/chart/chart.ts
Owners: @alantreadway

Fix bug when crosslines are regenerated
  packages/ag-charts-community/src/chart/cartesianChart.ts
Owners: @alantreadway

Fix tooltip title text colours in hierarchy charts
  packages/ag-charts-enterprise/src/series/sunburst/sunburstSeries.ts
  packages/ag-charts-enterprise/src/series/treemap/treemapSeries.ts
Owners: @alantreadway

Remove bundlephobia badges.
  README.md
  packages/ag-charts-angular/README.md
  packages/ag-charts-community/README.md
  packages/ag-charts-enterprise/README.md
  packages/ag-charts-react/README.md
  packages/ag-charts-vue/README.md
  packages/ag-charts-vue3/README.md
Owners: @ag-grid/ag-charts-team, @alantreadway

Fix series markers examples
  packages/ag-charts-website/public/example-runner/charts-react-boilerplate/systemjs.config.js
  packages/ag-charts-website/public/example-runner/charts-vue-boilerplate/systemjs.config.dev.js
  packages/ag-charts-website/public/example-runner/charts-vue-boilerplate/systemjs.config.js
  packages/ag-charts-website/public/example-runner/charts-vue3-boilerplate/systemjs.config.dev.js
  packages/ag-charts-website/public/example-runner/charts-vue3-boilerplate/systemjs.config.js
  packages/ag-charts-website/src/content/docs/markers/_examples/custom-marker/main.ts
Owners: @ag-grid/ag-charts-team

CRT-126: Tooltip not always updating during "live" data changes (Fixed) (#654)
  packages/ag-charts-community/src/chart/chart.ts
Owners: @alantreadway

CRT-117 - update crosshair docs titles
  packages/ag-charts-website/src/content/docs/axes-crosshairs/index.mdoc
Owners: @rmc-software

Remove highlight style for error bars
  packages/ag-charts-enterprise/src/features/error-bar/errorBar.ts
Owners: @alantreadway

Fix use of CDN paths for JS examples in production mode.
  packages/ag-charts-website/src/constants.ts
  packages/ag-charts-website/src/features/example-runner/framework-templates/lib/SystemJs.tsx
  packages/ag-charts-website/src/utils/chartLibraryPaths.ts
Owners: @ag-grid/ag-charts-team

CRT-33 Fix menu scrollbar styling and align what's new colors
  packages/ag-charts-website/src/components/pages-navigation/PagesNavigation.module.scss
  packages/ag-charts-website/src/components/pages-navigation/gridMenu.module.scss
  packages/ag-charts-website/src/components/version/Version.tsx
  packages/ag-charts-website/src/design-system/core/_variables.scss
  packages/ag-charts-website/src/pages/whats-new.astro
Owners: @markdurrant, @ag-grid/ag-charts-team, @taktran

AG-3390 - Remove unused community and enterprise scripts on layout
  packages/ag-charts-website/src/pages/index.astro
Owners: @taktran

CRT-120 - Update snapshots.
  packages/ag-charts-enterprise/src/features/error-bar/__image_snapshots__/error-bar-test-ts-error-bars-should-dim-opacity-on-highlight-1-snap.png
  packages/ag-charts-enterprise/src/features/error-bar/__image_snapshots__/error-bar-test-ts-error-bars-should-render-caps-over-highlight-1-snap.png
Owners: @alantreadway

AG-3390 - Fix What's New
  packages/ag-charts-website/src/components/version/Version.module.scss
  packages/ag-charts-website/src/components/version/Version.tsx
  packages/ag-charts-website/src/content/versions/data.json
  packages/ag-charts-website/src/pages/whats-new.astro
Owners: @markdurrant, @ag-grid/ag-charts-team, @taktran

AG-3390 - Update Changes List title
  packages/ag-charts-website/src/content/docs/upgrade-to-ag-charts-9/index.mdoc
Owners: @rmc-software

AG-3390 - What's new fixes (#658)
  packages/ag-charts-website/src/components/version/Version.module.scss
  packages/ag-charts-website/src/components/version/Version.tsx
  packages/ag-charts-website/src/content/docs/upgrade-to-ag-charts-9/index.mdoc
  packages/ag-charts-website/src/content/versions/data.json
  packages/ag-charts-website/src/pages/whats-new.astro
Owners: @markdurrant, @ag-grid/ag-charts-team, @rmc-software, @taktran

CRT-122 - Fix crosshair label styling
  packages/ag-charts-enterprise/src/features/crosshair/crosshairLabel.ts
  packages/ag-charts-website/src/content/docs/axes-crosshairs/_examples/crosshair-default-label-custom-css/styles.css
Owners: @alantreadway, @ag-grid/ag-charts-team

Automated package version bump to 9.0.0-beta.20231128.2029.
  packages/ag-charts-angular/package.json
  packages/ag-charts-community-examples/package.json
  packages/ag-charts-community/package.json
  packages/ag-charts-enterprise/package.json
  packages/ag-charts-react/package.json
  packages/ag-charts-vue/package.json
  packages/ag-charts-vue3/package.json
  packages/ag-charts-website/package.json
Owners: @alantreadway

CRT-132 - Fix missing ag-charts-react .d.ts files.
  packages/ag-charts-react/.npmignore
Owners: @ag-grid/ag-charts-team

CRT-132 - Fix sanity-check-package.js.
  tools/sanity-check-package.js
Owners: @ag-grid/ag-charts-team

Automated package version bump to 9.0.0-beta.20231128.2153.
  packages/ag-charts-angular/package.json
  packages/ag-charts-community-examples/package.json
  packages/ag-charts-community/package.json
  packages/ag-charts-enterprise/package.json
  packages/ag-charts-react/package.json
  packages/ag-charts-vue/package.json
  packages/ag-charts-vue3/package.json
  packages/ag-charts-website/package.json
Owners: @alantreadway

CRT-132 - Fix sanity-check-package.js.
  tools/sanity-check-package.js
Owners: @ag-grid/ag-charts-team

Automated package version bump to 9.0.0-beta.20231128.2222.
  packages/ag-charts-angular/package.json
  packages/ag-charts-community-examples/package.json
  packages/ag-charts-community/package.json
  packages/ag-charts-enterprise/package.json
  packages/ag-charts-react/package.json
  packages/ag-charts-vue/package.json
  packages/ag-charts-vue3/package.json
  packages/ag-charts-website/package.json
Owners: @alantreadway

AG-9807 Move Charts Pipeline/Changelog to top level pages
  packages/ag-charts-website/public/changelog/releases/9_0_0.md
Owners: @ag-grid/ag-charts-team

Release 9.0.0
  package.json
Owners: @alantreadway

Release 9.0.0
  dist/packages/ag-charts-angular.tgz
  dist/packages/ag-charts-community.tgz
  dist/packages/ag-charts-enterprise.tgz
  dist/packages/ag-charts-react.tgz
  dist/packages/ag-charts-vue.tgz
  dist/packages/ag-charts-vue3.tgz
  dist/packages/contents/ag-charts-angular/package/dist/ag-charts-angular/package.json
  dist/packages/contents/ag-charts-angular/package/projects/ag-charts-angular/package.json
  packages/ag-charts-angular/dist/ag-charts-angular/package.json
  packages/ag-charts-angular/projects/ag-charts-angular/package.json
Owners: @ag-grid/ag-charts-team, @alantreadway

Fix bump-versions.sh to include root + Angular project package.jsons.
  tools/bump-versions.sh
  tools/update-package-json-deps.js
Owners: @ag-grid/ag-charts-team

Release 9.0.0
  packages/ag-charts-website/public/example-runner/charts-angular-boilerplate/systemjs.config.js
Owners: @ag-grid/ag-charts-team

nx format
  packages/ag-charts-website/src/content/docs/axes-cross-lines/index.mdoc
Owners: @rmc-software
