Repository ag-grid/ag-charts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ag-grid/ag-charts-team, @markdurrant, @taktran, @alantreadway, @rmc-software

.github/CODEOWNERS:

# NOTE: Order of entries matters - later entries have higher precedence.

# Attribute code-owners so default reviewers are assigned to PRs.
* @ag-grid/ag-charts-team

# Astro + website changes to be reviewed by website team.
*.scss @markdurrant
*.astro @taktran
/packages/ag-charts-website/astro/** @taktran
/packages/ag-charts-website/components/** @taktran
/packages/ag-charts-website/features/** @taktran
/packages/ag-charts-website/layouts/** @taktran
/packages/ag-charts-website/stores/** @taktran
/packages/ag-charts-website/utils/** @taktran

# Docs updates to be reviewed by Eng VP.
/packages/ag-charts-website/content/** @alantreadway @rmc-software
*.mdoc @rmc-software

# Charts library code to be reviewed by Chart TL.
/packages/ag-charts-community/** @alantreadway
/packages/ag-charts-enterprise/** @alantreadway

# Sensitive build/repo files to be reviewed by Chart TL.
**/package.json @alantreadway
nx.json @alantreadway
**/project.json @alantreadway
**/tsconfig.json @alantreadway
**/tsconfig.*.json @alantreadway

remove redundant super usage + cleanup scale calc
  packages/ag-charts-community/src/chart/series/cartesian/areaSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/barSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/bubbleSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/cartesianSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/histogramSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/lineSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/scatterSeries.ts
  packages/ag-charts-enterprise/src/series/box-plot/boxPlotSeries.ts
  packages/ag-charts-enterprise/src/series/bullet/bulletSeries.ts
  packages/ag-charts-enterprise/src/series/candlestick/candlestickSeriesBase.ts
  packages/ag-charts-enterprise/src/series/heatmap/heatmapSeries.ts
  packages/ag-charts-enterprise/src/series/range-area/rangeArea.ts
  packages/ag-charts-enterprise/src/series/range-bar/rangeBar.ts
  packages/ag-charts-enterprise/src/series/waterfall/waterfallSeries.ts
Owners: @alantreadway

cleanup getDocument usage
  packages/ag-charts-community/src/chart/interaction/interactionManager.ts
  packages/ag-charts-community/src/chart/test/utils.ts
  packages/ag-charts-community/src/chart/tooltip/tooltip.test.ts
  packages/ag-charts-community/src/chart/tooltip/tooltip.ts
  packages/ag-charts-enterprise/src/features/context-menu/contextMenu.ts
  packages/ag-charts-enterprise/src/features/crosshair/crosshair.ts
Owners: @alantreadway

remove redundant bbox usage
  packages/ag-charts-community/src/chart/tooltip/tooltip.test.ts
  packages/ag-charts-community/src/chart/tooltip/tooltip.ts
Owners: @alantreadway

remove HdpiOffscreenCanvas ref
  packages/ag-charts-community/src/scene/group.ts
Owners: @alantreadway

fix
  packages/ag-charts-enterprise/src/series/candlestick/candlestickSeries.ts
Owners: @alantreadway

fix
  packages/ag-charts-community/src/chart/axis/axis.ts
  packages/ag-charts-community/src/scale/ordinalTimeScale.ts
  packages/ag-charts-community/src/scale/timeScale.ts
  packages/ag-charts-community/src/util/array.ts
  packages/ag-charts-enterprise/src/features/error-bar/errorBar.ts
Owners: @alantreadway

data model cleanup
  packages/ag-charts-community/src/chart/data/dataController.ts
  packages/ag-charts-community/src/chart/data/dataModel.ts
Owners: @alantreadway

fix resolveProcessedDataIndexById intent
  packages/ag-charts-community/src/chart/data/dataModel.ts
  packages/ag-charts-community/src/chart/series/cartesian/barSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/bubbleSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/lineSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/scatterSeries.ts
  packages/ag-charts-community/src/chart/series/polar/donutSeries.ts
  packages/ag-charts-community/src/chart/series/polar/pieSeries.ts
  packages/ag-charts-enterprise/src/series/bullet/bulletSeries.ts
  packages/ag-charts-enterprise/src/series/heatmap/heatmapSeries.ts
  packages/ag-charts-enterprise/src/series/map-line/mapLineSeries.ts
  packages/ag-charts-enterprise/src/series/map-marker/mapMarkerSeries.ts
  packages/ag-charts-enterprise/src/series/map-shape/mapShapeSeries.ts
  packages/ag-charts-enterprise/src/series/radar/radarSeries.ts
  packages/ag-charts-enterprise/src/series/radial-bar/radialBarSeries.ts
  packages/ag-charts-enterprise/src/series/radial-column/radialColumnSeriesBase.ts
  packages/ag-charts-enterprise/src/series/range-area/rangeArea.ts
  packages/ag-charts-enterprise/src/series/range-bar/rangeBar.ts
  packages/ag-charts-enterprise/src/series/waterfall/waterfallSeries.ts
Owners: @alantreadway

fix
  packages/ag-charts-community/src/chart/series/cartesian/barSeries.ts
  packages/ag-charts-enterprise/src/series/box-plot/boxPlotSeries.ts
Owners: @alantreadway

fix
  packages/ag-charts-enterprise/src/series/candlestick/candlestickSeriesBase.ts
Owners: @alantreadway

automatically inject scope to processors
  packages/ag-charts-community/src/chart/data/aggregateFunctions.ts
  packages/ag-charts-community/src/chart/data/dataController.ts
  packages/ag-charts-community/src/chart/data/dataModel.test.ts
  packages/ag-charts-community/src/chart/data/processors.ts
  packages/ag-charts-community/src/chart/series/cartesian/areaSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/barSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/bubbleSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/histogramSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/lineSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/scatterSeries.ts
  packages/ag-charts-community/src/chart/series/polar/donutSeries.ts
  packages/ag-charts-community/src/chart/series/polar/pieSeries.ts
  packages/ag-charts-community/src/chart/series/series.ts
  packages/ag-charts-enterprise/src/features/error-bar/errorBar.ts
  packages/ag-charts-enterprise/src/series/box-plot/boxPlotSeries.ts
  packages/ag-charts-enterprise/src/series/bullet/bulletSeries.ts
  packages/ag-charts-enterprise/src/series/candlestick/candlestickSeriesBase.ts
  packages/ag-charts-enterprise/src/series/heatmap/heatmapSeries.ts
  packages/ag-charts-enterprise/src/series/map-line/mapLineSeries.ts
  packages/ag-charts-enterprise/src/series/map-marker/mapMarkerSeries.ts
  packages/ag-charts-enterprise/src/series/map-shape/mapShapeSeries.ts
  packages/ag-charts-enterprise/src/series/radar/radarSeries.ts
  packages/ag-charts-enterprise/src/series/radial-bar/radialBarSeries.ts
  packages/ag-charts-enterprise/src/series/radial-column/radialColumnSeriesBase.ts
  packages/ag-charts-enterprise/src/series/range-area/rangeArea.ts
  packages/ag-charts-enterprise/src/series/range-bar/rangeBar.ts
  packages/ag-charts-enterprise/src/series/waterfall/waterfallSeries.ts
Owners: @alantreadway

Revert "AG-9843 Fix react examples loading auxilary script files"
  plugins/ag-charts-generate-example-files/src/executors/generate/generator/utils/frameworkFilesGenerator.ts
Owners: @ag-grid/ag-charts-team

AG-9843 Fix animation data updates react vanilla example
  packages/ag-charts-website/src/content/docs/animation/_examples/data-updates/provided/modules/reactFunctional/data.js
  packages/ag-charts-website/src/content/docs/animation/_examples/data-updates/provided/modules/reactFunctional/index.jsx
Owners: @ag-grid/ag-charts-team

AG-10217 - Add maxSpacing option
  packages/ag-charts-community/src/chart/axis/axis.ts
  packages/ag-charts-community/src/options/series/cartesian/cartesianOptions.ts
  packages/ag-charts-enterprise/src/axes/ordinal/ordinalTimeAxis.ts
Owners: @alantreadway

AG-10217 - Don't generate ticks if there is no domain
  packages/ag-charts-community/src/scale/ordinalTimeScale.ts
Owners: @alantreadway

AG-10217 - place ticks at domain values if domain length is less than maximum tick count
  packages/ag-charts-community/src/scale/ordinalTimeScale.ts
Owners: @alantreadway

AG-10217 - Enable crosshair by default
  packages/ag-charts-community/src/chart/themes/chartTheme.ts
  packages/ag-charts-community/src/chart/themes/symbols.ts
  packages/ag-charts-enterprise/src/axes/ordinal/ordinalTimeAxisThemes.ts
  packages/ag-charts-enterprise/src/features/crosshair/crosshairTheme.ts
Owners: @alantreadway

AG-11229 - Fix syncing of framework on pages without an example runner
  packages/ag-charts-website/src/features/docs/components/DocsExampleRunner.tsx
  packages/ag-charts-website/src/features/docs/components/Header.tsx
  packages/ag-charts-website/src/utils/hooks/useSyncFrameworkStoreState.ts
Owners: @ag-grid/ag-charts-team

Automated package version bump to 9.2.1-beta.20240403.1632.
  .env
  libraries/ag-charts-test/package.json
  package.json
  packages/ag-charts-angular/package.json
  packages/ag-charts-angular/projects/ag-charts-angular/package.json
  packages/ag-charts-community-examples/package.json
  packages/ag-charts-community/package.json
  packages/ag-charts-community/src/version.ts
  packages/ag-charts-enterprise/package.json
  packages/ag-charts-react/package.json
  packages/ag-charts-vue/package.json
  packages/ag-charts-vue3/package.json
  packages/ag-charts-website/.env.build
  packages/ag-charts-website/.env.build.archive
  packages/ag-charts-website/.env.build.production
  packages/ag-charts-website/.env.build.staging
  packages/ag-charts-website/.env.dev
  packages/ag-charts-website/.env.preview
  packages/ag-charts-website/.env.preview.production
  packages/ag-charts-website/.env.preview.staging
  packages/ag-charts-website/package.json
  plugins/ag-charts-generate-chart-thumbnail/package.json
  plugins/ag-charts-generate-code-reference-files/package.json
  plugins/ag-charts-generate-example-files/package.json
Owners: @ag-grid/ag-charts-team, @alantreadway

Automated package version bump to 9.2.1-beta.20240403.1708.
  .env
  libraries/ag-charts-test/package.json
  package.json
  packages/ag-charts-angular/package.json
  packages/ag-charts-angular/projects/ag-charts-angular/package.json
  packages/ag-charts-community-examples/package.json
  packages/ag-charts-community/package.json
  packages/ag-charts-community/src/version.ts
  packages/ag-charts-enterprise/package.json
  packages/ag-charts-react/package.json
  packages/ag-charts-vue/package.json
  packages/ag-charts-vue3/package.json
  packages/ag-charts-website/.env.build
  packages/ag-charts-website/.env.build.archive
  packages/ag-charts-website/.env.build.production
  packages/ag-charts-website/.env.build.staging
  packages/ag-charts-website/.env.dev
  packages/ag-charts-website/.env.preview
  packages/ag-charts-website/.env.preview.production
  packages/ag-charts-website/.env.preview.staging
  packages/ag-charts-website/package.json
  plugins/ag-charts-generate-chart-thumbnail/package.json
  plugins/ag-charts-generate-code-reference-files/package.json
  plugins/ag-charts-generate-example-files/package.json
Owners: @ag-grid/ag-charts-team, @alantreadway

no double defs id
  packages/ag-charts-community/src/chart/data/__snapshots__/dataModel.test.ts.snap
  packages/ag-charts-community/src/chart/data/dataModel.ts
Owners: @alantreadway

fix types
  packages/ag-charts-community/src/chart/series/util.ts
Owners: @alantreadway

remove unused matchIds
  packages/ag-charts-community/src/chart/data/dataModel.ts
Owners: @alantreadway

cleanup
  packages/ag-charts-community/src/chart/data/aggregateFunctions.ts
  packages/ag-charts-community/src/chart/data/dataModel.test.ts
  packages/ag-charts-community/src/chart/data/dataModel.ts
Owners: @alantreadway

Remove redundant jest-canvas-mock and add Path2D polyfill + patch
  packages/ag-charts-community/jest.config.ts
  packages/ag-charts-community/jest.setup.ts
  packages/ag-charts-community/package.json
  packages/ag-charts-community/project.json
  packages/ag-charts-community/src/chart/agChart.test.ts
  packages/ag-charts-community/src/module/optionsModule.test.ts
  packages/ag-charts-enterprise/jest.config.ts
  packages/ag-charts-enterprise/jest.setup.ts
  packages/ag-charts-enterprise/package.json
  packages/ag-charts-enterprise/project.json
  patches/path2d+0.1.2.patch
  plugins/ag-charts-generate-chart-thumbnail/src/executors/generate/executor.ts
  yarn.lock
Owners: @alantreadway, @ag-grid/ag-charts-team

Prevent duplicate IDs on definitions (#1366)
  packages/ag-charts-community/src/chart/axis/axis.ts
  packages/ag-charts-community/src/chart/data/__snapshots__/dataModel.test.ts.snap
  packages/ag-charts-community/src/chart/data/aggregateFunctions.ts
  packages/ag-charts-community/src/chart/data/dataController.ts
  packages/ag-charts-community/src/chart/data/dataModel.test.ts
  packages/ag-charts-community/src/chart/data/dataModel.ts
  packages/ag-charts-community/src/chart/data/processors.ts
  packages/ag-charts-community/src/chart/series/cartesian/areaSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/barSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/bubbleSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/histogramSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/lineSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/scatterSeries.ts
  packages/ag-charts-community/src/chart/series/polar/donutSeries.ts
  packages/ag-charts-community/src/chart/series/polar/pieSeries.ts
  packages/ag-charts-community/src/chart/series/series.ts
  packages/ag-charts-community/src/chart/series/util.ts
  packages/ag-charts-community/src/scale/ordinalTimeScale.ts
  packages/ag-charts-community/src/scale/timeScale.ts
  packages/ag-charts-community/src/util/array.ts
  packages/ag-charts-enterprise/src/features/error-bar/errorBar.ts
  packages/ag-charts-enterprise/src/series/box-plot/boxPlotSeries.ts
  packages/ag-charts-enterprise/src/series/bullet/bulletSeries.ts
  packages/ag-charts-enterprise/src/series/candlestick/candlestickSeriesBase.ts
  packages/ag-charts-enterprise/src/series/heatmap/heatmapSeries.ts
  packages/ag-charts-enterprise/src/series/map-line/mapLineSeries.ts
  packages/ag-charts-enterprise/src/series/map-marker/mapMarkerSeries.ts
  packages/ag-charts-enterprise/src/series/map-shape/mapShapeSeries.ts
  packages/ag-charts-enterprise/src/series/radar/radarSeries.ts
  packages/ag-charts-enterprise/src/series/radial-bar/radialBarSeries.ts
  packages/ag-charts-enterprise/src/series/radial-column/radialColumnSeriesBase.ts
  packages/ag-charts-enterprise/src/series/range-area/rangeArea.ts
  packages/ag-charts-enterprise/src/series/range-bar/rangeBar.ts
  packages/ag-charts-enterprise/src/series/waterfall/waterfallSeries.ts
Owners: @alantreadway

merge with latest
  packages/ag-charts-community/src/chart/data/processors.ts
  packages/ag-charts-community/src/chart/series/cartesian/areaSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/barSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/bubbleSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/histogramSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/lineSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/scatterSeries.ts
  packages/ag-charts-community/src/chart/series/dataModelSeries.ts
  packages/ag-charts-community/src/chart/series/polar/donutSeries.ts
  packages/ag-charts-community/src/chart/series/polar/pieSeries.ts
  packages/ag-charts-community/src/module-support.ts
Owners: @alantreadway

fix tests
  packages/ag-charts-community/src/chart/tooltip/tooltip.test.ts
Owners: @alantreadway

fix tests
  packages/ag-charts-community/src/chart/tooltip/__snapshots__/tooltip.test.ts.snap
  packages/ag-charts-community/src/chart/tooltip/tooltip.test.ts
Owners: @alantreadway

Remove redundant jest-canvas-mock and add Path2D polyfill + patch (#1368)
  packages/ag-charts-community/jest.config.ts
  packages/ag-charts-community/jest.setup.ts
  packages/ag-charts-community/package.json
  packages/ag-charts-community/project.json
  packages/ag-charts-community/src/chart/agChart.test.ts
  packages/ag-charts-community/src/chart/tooltip/__snapshots__/tooltip.test.ts.snap
  packages/ag-charts-community/src/chart/tooltip/tooltip.test.ts
  packages/ag-charts-community/src/module/optionsModule.test.ts
  packages/ag-charts-enterprise/jest.config.ts
  packages/ag-charts-enterprise/jest.setup.ts
  packages/ag-charts-enterprise/package.json
  packages/ag-charts-enterprise/project.json
  patches/path2d+0.1.2.patch
  plugins/ag-charts-generate-chart-thumbnail/src/executors/generate/executor.ts
  yarn.lock
Owners: @alantreadway, @ag-grid/ag-charts-team

remove unused AGG_VALUES_EXTENT
  packages/ag-charts-community/src/chart/data/__snapshots__/dataModel.test.ts.snap
  packages/ag-charts-community/src/chart/data/dataModel.test.ts
  packages/ag-charts-community/src/chart/data/dataModel.ts
  packages/ag-charts-community/src/chart/data/processors.ts
  packages/ag-charts-community/src/chart/series/series.ts
Owners: @alantreadway

fix
  packages/ag-charts-community/src/chart/data/dataModel.ts
Owners: @alantreadway

fix
  packages/ag-charts-community/src/chart/data/dataModel.ts
  packages/ag-charts-website/src/content/docs/benchmarks/_examples/large-dataset/main.ts
Owners: @alantreadway, @ag-grid/ag-charts-team

Prevent data process of non-visible series
  packages/ag-charts-community/src/chart/data/dataController.ts
  packages/ag-charts-community/src/chart/data/dataModel.ts
  packages/ag-charts-community/src/chart/series/cartesian/bubbleSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/histogramSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/scatterSeries.ts
  packages/ag-charts-enterprise/src/series/box-plot/boxPlotSeries.ts
  packages/ag-charts-enterprise/src/series/bullet/bulletSeries.ts
  packages/ag-charts-enterprise/src/series/candlestick/candlestickSeriesBase.ts
  packages/ag-charts-enterprise/src/series/radar/radarSeries.ts
  packages/ag-charts-enterprise/src/series/radial-bar/radialBarSeries.ts
  packages/ag-charts-enterprise/src/series/radial-column/radialColumnSeriesBase.ts
  packages/ag-charts-enterprise/src/series/range-area/rangeArea.ts
  packages/ag-charts-enterprise/src/series/range-bar/rangeBar.ts
  packages/ag-charts-enterprise/src/series/waterfall/waterfallSeries.ts
Owners: @alantreadway

Prevent data process of non-visible series (#1369)
  packages/ag-charts-community/src/chart/data/__snapshots__/dataModel.test.ts.snap
  packages/ag-charts-community/src/chart/data/dataController.ts
  packages/ag-charts-community/src/chart/data/dataModel.test.ts
  packages/ag-charts-community/src/chart/data/dataModel.ts
  packages/ag-charts-community/src/chart/data/processors.ts
  packages/ag-charts-community/src/chart/series/cartesian/bubbleSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/histogramSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/scatterSeries.ts
  packages/ag-charts-community/src/chart/series/series.ts
  packages/ag-charts-enterprise/src/series/box-plot/boxPlotSeries.ts
  packages/ag-charts-enterprise/src/series/bullet/bulletSeries.ts
  packages/ag-charts-enterprise/src/series/candlestick/candlestickSeriesBase.ts
  packages/ag-charts-enterprise/src/series/radar/radarSeries.ts
  packages/ag-charts-enterprise/src/series/radial-bar/radialBarSeries.ts
  packages/ag-charts-enterprise/src/series/radial-column/radialColumnSeriesBase.ts
  packages/ag-charts-enterprise/src/series/range-area/rangeArea.ts
  packages/ag-charts-enterprise/src/series/range-bar/rangeBar.ts
  packages/ag-charts-enterprise/src/series/waterfall/waterfallSeries.ts
  packages/ag-charts-website/src/content/docs/benchmarks/_examples/large-dataset/main.ts
Owners: @alantreadway, @ag-grid/ag-charts-team

Rename internal Path2D to prevent conflict with native
  packages/ag-charts-community/src/integrated-charts-scene.ts
  packages/ag-charts-community/src/scene/extendedPath2D.ts
  packages/ag-charts-community/src/scene/shape/path.ts
  packages/ag-charts-community/src/scene/shape/radialColumnShape.ts
  packages/ag-charts-community/src/scene/shape/rect.ts
  packages/ag-charts-enterprise/src/series/map-util/geoGeometry.ts
Owners: @alantreadway

replace draw with getPath2D
  packages/ag-charts-community/src/scene/extendedPath2D.ts
  packages/ag-charts-community/src/scene/shape/linearGradientFill.ts
  packages/ag-charts-community/src/scene/shape/path.ts
  packages/ag-charts-community/src/scene/shape/rect.ts
  packages/ag-charts-community/src/scene/shape/shape.ts
  packages/ag-charts-enterprise/src/series/map-util/geoGeometry.ts
Owners: @alantreadway

Rename internal Path2D to prevent conflict with native (#1370)
  packages/ag-charts-community/src/integrated-charts-scene.ts
  packages/ag-charts-community/src/scene/extendedPath2D.ts
  packages/ag-charts-community/src/scene/shape/linearGradientFill.ts
  packages/ag-charts-community/src/scene/shape/path.ts
  packages/ag-charts-community/src/scene/shape/radialColumnShape.ts
  packages/ag-charts-community/src/scene/shape/rect.ts
  packages/ag-charts-community/src/scene/shape/shape.ts
  packages/ag-charts-enterprise/src/series/map-util/geoGeometry.ts
Owners: @alantreadway

Misc cleanup
  packages/ag-charts-community/src/scene/gradient/linearGradient.ts
  packages/ag-charts-community/src/scene/node.ts
  packages/ag-charts-community/src/scene/scene.ts
  packages/ag-charts-community/src/scene/sceneDebug.ts
  packages/ag-charts-community/src/scene/shape/rect.ts
Owners: @alantreadway

Misc cleanup (#1371)
  packages/ag-charts-community/src/scene/gradient/linearGradient.ts
  packages/ag-charts-community/src/scene/node.ts
  packages/ag-charts-community/src/scene/scene.ts
  packages/ag-charts-community/src/scene/sceneDebug.ts
  packages/ag-charts-community/src/scene/shape/rect.ts
Owners: @alantreadway
