Repository ag-grid/ag-charts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ag-grid/ag-charts-team, @markdurrant, @taktran, @alantreadway, @rmc-software

.github/CODEOWNERS:

# NOTE: Order of entries matters - later entries have higher precedence.

# Attribute code-owners so default reviewers are assigned to PRs.
* @ag-grid/ag-charts-team

# Astro + website changes to be reviewed by website team.
*.scss @markdurrant
*.astro @taktran
/packages/ag-charts-website/astro/** @taktran
/packages/ag-charts-website/components/** @taktran
/packages/ag-charts-website/features/** @taktran
/packages/ag-charts-website/layouts/** @taktran
/packages/ag-charts-website/stores/** @taktran
/packages/ag-charts-website/utils/** @taktran

# Docs updates to be reviewed by Eng VP.
/packages/ag-charts-website/content/** @alantreadway @rmc-software
*.mdoc @rmc-software

# Charts library code to be reviewed by Chart TL.
/packages/ag-charts-community/** @alantreadway
/packages/ag-charts-enterprise/** @alantreadway

# Sensitive build/repo files to be reviewed by Chart TL.
**/package.json @alantreadway
nx.json @alantreadway
**/project.json @alantreadway
**/tsconfig.json @alantreadway
**/tsconfig.*.json @alantreadway

Fix mini-chart breaking drag-to-zoom-axes.
  packages/ag-charts-community/src/chart/chart.ts
Owners: @alantreadway

Release prep for 10.0.0-beta.20240628.1716
  .env
  libraries/ag-charts-test/package.json
  package.json
  packages/ag-charts-angular/package.json
  packages/ag-charts-angular/projects/ag-charts-angular/package.json
  packages/ag-charts-community-examples/package.json
  packages/ag-charts-community/package.json
  packages/ag-charts-community/src/version.ts
  packages/ag-charts-enterprise/package.json
  packages/ag-charts-locale/package.json
  packages/ag-charts-react/package.json
  packages/ag-charts-types/package.json
  packages/ag-charts-vue3/package.json
  packages/ag-charts-website/.env.build
  packages/ag-charts-website/.env.build.archive
  packages/ag-charts-website/.env.build.production
  packages/ag-charts-website/.env.build.staging
  packages/ag-charts-website/.env.dev
  packages/ag-charts-website/.env.preview
  packages/ag-charts-website/.env.preview.production
  packages/ag-charts-website/.env.preview.staging
  packages/ag-charts-website/package.json
  plugins/ag-charts-generate-chart-thumbnail/package.json
  plugins/ag-charts-generate-code-reference-files/package.json
  plugins/ag-charts-generate-example-files/package.json
Owners: @ag-grid/ag-charts-team, @alantreadway

AG-3390 - Financial Charts Overview tweaks
  packages/ag-charts-website/src/content/docs/financial-charts/_examples/basic-financial-chart/main.ts
  packages/ag-charts-website/src/content/docs/financial-charts/index.mdoc
Owners: @ag-grid/ag-charts-team, @rmc-software

AG-3390 - Financial Chart doc tweaks
  packages/ag-charts-website/src/content/docs/financial-chart-types/index.mdoc
  packages/ag-charts-website/src/content/docs/financial-charts/index.mdoc
  packages/ag-charts-website/src/content/docs/toolbar/_examples/toolbar/main.ts
  packages/ag-charts-website/src/content/docs/toolbar/index.mdoc
  packages/ag-charts-website/src/content/menu/data.json
Owners: @rmc-software, @ag-grid/ag-charts-team

AG-3390 - Financial Chart doc tweaks
  packages/ag-charts-website/src/components/pages-navigation/components/PagesNavigation.tsx
  packages/ag-charts-website/src/content/docs/annotations/index.mdoc
  packages/ag-charts-website/src/content/docs/financial-chart-types/_examples/toggle-financial-features/data.ts
  packages/ag-charts-website/src/content/docs/financial-chart-types/_examples/toggle-financial-features/index.html
  packages/ag-charts-website/src/content/docs/financial-chart-types/index.mdoc
  packages/ag-charts-website/src/content/docs/financial-charts-configuration/_examples/chart-features/data.ts
  packages/ag-charts-website/src/content/docs/financial-charts-configuration/_examples/chart-features/index.html
  packages/ag-charts-website/src/content/docs/financial-charts-configuration/_examples/chart-features/main.ts
  packages/ag-charts-website/src/content/docs/financial-charts-configuration/_examples/chart-features/styles.css
  packages/ag-charts-website/src/content/docs/financial-charts-configuration/_examples/chart-styling/data.ts
  packages/ag-charts-website/src/content/docs/financial-charts-configuration/_examples/chart-styling/index.html
  packages/ag-charts-website/src/content/docs/financial-charts-configuration/_examples/chart-styling/main.ts
  packages/ag-charts-website/src/content/docs/financial-charts-configuration/_examples/chart-types/data.ts
  packages/ag-charts-website/src/content/docs/financial-charts-configuration/_examples/chart-types/index.html
  packages/ag-charts-website/src/content/docs/financial-charts-configuration/_examples/chart-types/main.ts
  packages/ag-charts-website/src/content/docs/financial-charts-configuration/_examples/chart-types/styles.css
  packages/ag-charts-website/src/content/docs/financial-charts-configuration/_examples/default-configuration/data.ts
  packages/ag-charts-website/src/content/docs/financial-charts-configuration/_examples/default-configuration/index.html
  packages/ag-charts-website/src/content/docs/financial-charts-configuration/_examples/default-configuration/main.ts
  packages/ag-charts-website/src/content/docs/financial-charts-configuration/index.mdoc
  packages/ag-charts-website/src/content/docs/financial-charts/_examples/annotation-initial/data.ts
  packages/ag-charts-website/src/content/docs/financial-charts/_examples/annotation-initial/main.ts
  packages/ag-charts-website/src/content/docs/financial-charts/_examples/financial-charts-showcase/data.ts
  packages/ag-charts-website/src/content/docs/financial-charts/_examples/financial-charts-showcase/index.html
  packages/ag-charts-website/src/content/docs/financial-charts/_examples/financial-charts-showcase/main.ts
  packages/ag-charts-website/src/content/docs/financial-charts/_examples/switching-chart-types/data.ts
  packages/ag-charts-website/src/content/docs/financial-charts/_examples/switching-chart-types/index.html
  packages/ag-charts-website/src/content/docs/financial-charts/_examples/switching-chart-types/styles.css
  packages/ag-charts-website/src/content/docs/financial-charts/_examples/toolbar-buttons/data.ts
  packages/ag-charts-website/src/content/docs/financial-charts/_examples/toolbar-buttons/index.html
  packages/ag-charts-website/src/content/docs/financial-charts/_examples/toolbar-buttons/main.ts
  packages/ag-charts-website/src/content/docs/financial-charts/index.mdoc
  packages/ag-charts-website/src/content/docs/map-lines/index.mdoc
  packages/ag-charts-website/src/content/docs/map-markers/index.mdoc
  packages/ag-charts-website/src/content/docs/map-shapes/index.mdoc
  packages/ag-charts-website/src/content/docs/map-topology/index.mdoc
  packages/ag-charts-website/src/content/docs/maps/index.mdoc
  packages/ag-charts-website/src/content/docs/toolbar/index.mdoc
  packages/ag-charts-website/src/content/menu/data.json
Owners: @ag-grid/ag-charts-team, @rmc-software

AG-11974 - Updated charts pricing page info
  external/ag-website-shared/src/content/license-features/chartsFeaturesMatrix.json
Owners: @ag-grid/ag-charts-team

AG-3390 Financial Charts Overview draft
  packages/ag-charts-website/src/content/docs/financial-charts/_examples/annotation-initial/data.ts
  packages/ag-charts-website/src/content/docs/financial-charts/_examples/annotation-initial/index.html
  packages/ag-charts-website/src/content/docs/financial-charts/_examples/annotation-initial/main.ts
  packages/ag-charts-website/src/content/docs/financial-charts/_examples/switching-chart-types/data.ts
  packages/ag-charts-website/src/content/docs/financial-charts/_examples/switching-chart-types/index.html
  packages/ag-charts-website/src/content/docs/financial-charts/_examples/switching-chart-types/main.ts
  packages/ag-charts-website/src/content/docs/financial-charts/_examples/switching-chart-types/styles.css
  packages/ag-charts-website/src/content/docs/financial-charts/_examples/toolbar-buttons/data.ts
  packages/ag-charts-website/src/content/docs/financial-charts/_examples/toolbar-buttons/index.html
  packages/ag-charts-website/src/content/docs/financial-charts/_examples/toolbar-buttons/main.ts
  packages/ag-charts-website/src/content/docs/financial-charts/index.mdoc
Owners: @ag-grid/ag-charts-team, @rmc-software

CRT-395 TC1 Fix zoom axis-leave handling
  packages/ag-charts-enterprise/src/features/zoom/zoom.ts
Owners: @alantreadway

Release prep for 10.0.0-beta.20240628.1359
  .env
  libraries/ag-charts-test/package.json
  package.json
  packages/ag-charts-angular/package.json
  packages/ag-charts-angular/projects/ag-charts-angular/package.json
  packages/ag-charts-community-examples/package.json
  packages/ag-charts-community/package.json
  packages/ag-charts-community/src/version.ts
  packages/ag-charts-enterprise/package.json
  packages/ag-charts-locale/package.json
  packages/ag-charts-react/package.json
  packages/ag-charts-types/package.json
  packages/ag-charts-vue3/package.json
  packages/ag-charts-website/.env.build
  packages/ag-charts-website/.env.build.archive
  packages/ag-charts-website/.env.build.production
  packages/ag-charts-website/.env.build.staging
  packages/ag-charts-website/.env.dev
  packages/ag-charts-website/.env.preview
  packages/ag-charts-website/.env.preview.production
  packages/ag-charts-website/.env.preview.staging
  packages/ag-charts-website/package.json
  plugins/ag-charts-generate-chart-thumbnail/package.json
  plugins/ag-charts-generate-code-reference-files/package.json
  plugins/ag-charts-generate-example-files/package.json
Owners: @ag-grid/ag-charts-team, @alantreadway

Release prep for 10.0.0-beta.20240628.1716
  .env
  libraries/ag-charts-test/package.json
  package.json
  packages/ag-charts-angular/package.json
  packages/ag-charts-angular/projects/ag-charts-angular/package.json
  packages/ag-charts-community-examples/package.json
  packages/ag-charts-community/package.json
  packages/ag-charts-community/src/version.ts
  packages/ag-charts-enterprise/package.json
  packages/ag-charts-locale/package.json
  packages/ag-charts-react/package.json
  packages/ag-charts-types/package.json
  packages/ag-charts-vue3/package.json
  packages/ag-charts-website/.env.build
  packages/ag-charts-website/.env.build.archive
  packages/ag-charts-website/.env.build.production
  packages/ag-charts-website/.env.build.staging
  packages/ag-charts-website/.env.dev
  packages/ag-charts-website/.env.preview
  packages/ag-charts-website/.env.preview.production
  packages/ag-charts-website/.env.preview.staging
  packages/ag-charts-website/package.json
  plugins/ag-charts-generate-chart-thumbnail/package.json
  plugins/ag-charts-generate-code-reference-files/package.json
  plugins/ag-charts-generate-example-files/package.json
Owners: @ag-grid/ag-charts-team, @alantreadway

Ag 3390 fc overview page (#1940)
  packages/ag-charts-website/public/docs/financial-charts/annotations.gif
  packages/ag-charts-website/public/docs/financial-charts/chart-types.gif
  packages/ag-charts-website/public/docs/financial-charts/zoom.gif
  packages/ag-charts-website/src/content/docs/financial-charts/index.mdoc
Owners: @ag-grid/ag-charts-team, @rmc-software

Revert "CRT-391: Bar series using nice time axis by default"
  packages/ag-charts-community/src/chart/series/cartesian/barSeriesModule.ts
Owners: @alantreadway

Exclude snapshots from NPM package.
  packages/ag-charts-community/.npmignore
  packages/ag-charts-enterprise/.npmignore
  tools/sanity-check-package.js
Owners: @alantreadway, @ag-grid/ag-charts-team

Remove area FC type.
  packages/ag-charts-community/src/api/preset/priceVolumePreset.ts
  packages/ag-charts-types/src/api/presetOptions.ts
  packages/ag-charts-website/src/content/docs/financial-chart-types/_examples/switching-chart-types/index.html
  packages/ag-charts-website/src/content/docs/financial-chart-types/_examples/switching-chart-types/main.ts
Owners: @alantreadway, @ag-grid/ag-charts-team

CRT-400 - Prevent panning + range-zoom-button from updating FC volume chart Y zoom.
  packages/ag-charts-community/src/api/preset/priceVolumePreset.ts
  packages/ag-charts-community/src/chart/axis/axis.ts
  packages/ag-charts-community/src/chart/cartesianChart.ts
  packages/ag-charts-community/src/chart/chartAxis.ts
Owners: @alantreadway

AG-3390 - Financial Chart doc tweaks
  packages/ag-charts-website/src/components/pages-navigation/components/PagesNavigation.tsx
  packages/ag-charts-website/src/content/docs/annotations/index.mdoc
  packages/ag-charts-website/src/content/docs/financial-chart-types/_examples/toggle-financial-features/data.ts
  packages/ag-charts-website/src/content/docs/financial-chart-types/_examples/toggle-financial-features/index.html
  packages/ag-charts-website/src/content/docs/financial-chart-types/index.mdoc
  packages/ag-charts-website/src/content/docs/financial-charts-configuration/_examples/chart-features/data.ts
  packages/ag-charts-website/src/content/docs/financial-charts-configuration/_examples/chart-features/index.html
  packages/ag-charts-website/src/content/docs/financial-charts-configuration/_examples/chart-features/main.ts
  packages/ag-charts-website/src/content/docs/financial-charts-configuration/_examples/chart-features/styles.css
  packages/ag-charts-website/src/content/docs/financial-charts-configuration/_examples/chart-styling/data.ts
  packages/ag-charts-website/src/content/docs/financial-charts-configuration/_examples/chart-styling/index.html
  packages/ag-charts-website/src/content/docs/financial-charts-configuration/_examples/chart-styling/main.ts
  packages/ag-charts-website/src/content/docs/financial-charts-configuration/_examples/chart-types/data.ts
  packages/ag-charts-website/src/content/docs/financial-charts-configuration/_examples/chart-types/index.html
  packages/ag-charts-website/src/content/docs/financial-charts-configuration/_examples/chart-types/main.ts
  packages/ag-charts-website/src/content/docs/financial-charts-configuration/_examples/chart-types/styles.css
  packages/ag-charts-website/src/content/docs/financial-charts-configuration/_examples/default-configuration/data.ts
  packages/ag-charts-website/src/content/docs/financial-charts-configuration/_examples/default-configuration/index.html
  packages/ag-charts-website/src/content/docs/financial-charts-configuration/_examples/default-configuration/main.ts
  packages/ag-charts-website/src/content/docs/financial-charts-configuration/index.mdoc
  packages/ag-charts-website/src/content/docs/financial-charts/_examples/annotation-initial/data.ts
  packages/ag-charts-website/src/content/docs/financial-charts/_examples/annotation-initial/main.ts
  packages/ag-charts-website/src/content/docs/financial-charts/_examples/financial-charts-showcase/data.ts
  packages/ag-charts-website/src/content/docs/financial-charts/_examples/financial-charts-showcase/index.html
  packages/ag-charts-website/src/content/docs/financial-charts/_examples/financial-charts-showcase/main.ts
  packages/ag-charts-website/src/content/docs/financial-charts/_examples/switching-chart-types/data.ts
  packages/ag-charts-website/src/content/docs/financial-charts/_examples/switching-chart-types/index.html
  packages/ag-charts-website/src/content/docs/financial-charts/_examples/switching-chart-types/styles.css
  packages/ag-charts-website/src/content/docs/financial-charts/_examples/toolbar-buttons/data.ts
  packages/ag-charts-website/src/content/docs/financial-charts/_examples/toolbar-buttons/index.html
  packages/ag-charts-website/src/content/docs/financial-charts/_examples/toolbar-buttons/main.ts
  packages/ag-charts-website/src/content/docs/financial-charts/index.mdoc
  packages/ag-charts-website/src/content/docs/map-lines/index.mdoc
  packages/ag-charts-website/src/content/docs/map-markers/index.mdoc
  packages/ag-charts-website/src/content/docs/map-shapes/index.mdoc
  packages/ag-charts-website/src/content/docs/map-topology/index.mdoc
  packages/ag-charts-website/src/content/docs/maps/index.mdoc
  packages/ag-charts-website/src/content/docs/toolbar/index.mdoc
  packages/ag-charts-website/src/content/menu/data.json
Owners: @ag-grid/ag-charts-team, @rmc-software

smaller gifs
  packages/ag-charts-website/public/docs/financial-charts/annotations.gif
  packages/ag-charts-website/public/docs/financial-charts/chart-types.gif
  packages/ag-charts-website/public/docs/financial-charts/zoom.gif
Owners: @ag-grid/ag-charts-team

Fix mini-chart breaking drag-to-zoom-axes.
  packages/ag-charts-community/src/chart/chart.ts
Owners: @alantreadway

AG-3390 - Financial Chart doc tweaks
  packages/ag-charts-website/src/content/docs/financial-chart-types/index.mdoc
  packages/ag-charts-website/src/content/docs/financial-charts/index.mdoc
  packages/ag-charts-website/src/content/docs/toolbar/_examples/toolbar/main.ts
  packages/ag-charts-website/src/content/docs/toolbar/index.mdoc
  packages/ag-charts-website/src/content/menu/data.json
Owners: @rmc-software, @ag-grid/ag-charts-team

AG-11527 - Disable redundant volume series tooltip.
  packages/ag-charts-community/src/api/preset/priceVolumePreset.ts
Owners: @alantreadway

AG-11974 - Updated charts pricing page info
  external/ag-website-shared/src/content/license-features/chartsFeaturesMatrix.json
Owners: @ag-grid/ag-charts-team

Type fixes
  packages/ag-charts-community/src/chart/series/cartesian/bubbleSeriesProperties.ts
  packages/ag-charts-enterprise/src/series/range-bar/rangeBarProperties.ts
  packages/ag-charts-types/src/series/cartesian/bubbleOptions.ts
  packages/ag-charts-types/src/series/cartesian/heatmapOptions.ts
  packages/ag-charts-types/src/series/cartesian/rangeBarOptions.ts
  packages/ag-charts-website/src/content/gallery/_examples/horizontal-range-bar-with-labels/main.ts
  packages/ag-charts-website/src/content/gallery/_examples/range-bar-with-labels/main.ts
Owners: @alantreadway, @ag-grid/ag-charts-team

AG-3390 - Financial Charts Overview tweaks
  packages/ag-charts-website/src/content/docs/financial-charts/_examples/basic-financial-chart/main.ts
  packages/ag-charts-website/src/content/docs/financial-charts/index.mdoc
Owners: @ag-grid/ag-charts-team, @rmc-software

AG-3390 Remove Area Chart Type
  packages/ag-charts-website/src/content/docs/financial-charts/_examples/switching-chart-types/index.html
  packages/ag-charts-website/src/content/docs/financial-charts/_examples/switching-chart-types/main.ts
Owners: @ag-grid/ag-charts-team

gifs and docs
  packages/ag-charts-types/src/api/presetOptions.ts
  packages/ag-charts-website/public/docs/financial-charts/annotations-dark.gif
  packages/ag-charts-website/public/docs/financial-charts/annotations.gif
  packages/ag-charts-website/public/docs/financial-charts/chart-types-dark.gif
  packages/ag-charts-website/public/docs/financial-charts/chart-types.gif
  packages/ag-charts-website/public/docs/financial-charts/zoom-dark.gif
  packages/ag-charts-website/public/docs/financial-charts/zoom.gif
  packages/ag-charts-website/src/content/docs/annotations/index.mdoc
  packages/ag-charts-website/src/content/docs/financial-charts-configuration/index.mdoc
  packages/ag-charts-website/src/content/docs/financial-charts/index.mdoc
  packages/ag-charts-website/src/content/docs/themes/index.mdoc
  packages/ag-charts-website/src/content/docs/toolbar/index.mdoc
  packages/ag-charts-website/src/content/docs/upgrade-to-ag-charts-10/index.mdoc
Owners: @ag-grid/ag-charts-team, @rmc-software

gifs and docs
  packages/ag-charts-website/src/content/docs/annotations/index.mdoc
  packages/ag-charts-website/src/content/docs/financial-charts-configuration/index.mdoc
Owners: @rmc-software

format
  packages/ag-charts-website/src/content/docs/annotations/index.mdoc
Owners: @rmc-software

Allow forcing of all e2e tests on latest.
  .github/workflows/e2e.yml
  packages/ag-charts-website/e2e/examples.spec.ts
  packages/ag-charts-website/e2e/util.ts
Owners: @ag-grid/ag-charts-team

Update e2e snapshots for MacOS.
  packages/ag-charts-website/e2e/keyboard-nav.spec.ts-snapshots/1st-datum-focus-chromium-darwin.png
  packages/ag-charts-website/e2e/keyboard-nav.spec.ts-snapshots/3rd-datum-2nd-series-focus-chromium-darwin.png
  packages/ag-charts-website/e2e/keyboard-nav.spec.ts-snapshots/legend-2nd-page-focus-chromium-darwin.png
  packages/ag-charts-website/e2e/keyboard-nav.spec.ts-snapshots/legend-focus-chromium-darwin.png
  packages/ag-charts-website/e2e/keyboard-nav.spec.ts-snapshots/legend-page-control-focus-chromium-darwin.png
  packages/ag-charts-website/e2e/keyboard-nav.spec.ts-snapshots/tabbed-back-into-chart-chromium-darwin.png
  packages/ag-charts-website/e2e/keyboard-nav.spec.ts-snapshots/tabbed-out-of-chart-chromium-darwin.png
Owners: @ag-grid/ag-charts-team

Remove unnecessary styling in annotations initial example
  packages/ag-charts-website/src/content/docs/annotations/_examples/annotation-initial/main.ts
Owners: @ag-grid/ag-charts-team

Fix annotation restore example
  packages/ag-charts-website/src/content/docs/annotations/_examples/annotation-save-restore/main.ts
Owners: @ag-grid/ag-charts-team

Remove unnecessary styling in annotations initial example
  packages/ag-charts-website/src/content/docs/annotations/_examples/annotation-initial/main.ts
Owners: @ag-grid/ag-charts-team

Fix annotation restore example
  packages/ag-charts-website/src/content/docs/annotations/_examples/annotation-save-restore/main.ts
Owners: @ag-grid/ag-charts-team

Fix Sonar Scanner release job.
  .github/workflows/sonar-scanner-release.yml
Owners: @ag-grid/ag-charts-team

AG-12008 - Fix gif dark mode on finance page
  packages/ag-charts-website/markdoc.config.ts
  packages/ag-charts-website/src/components/image/ImageCaption.astro
  packages/ag-charts-website/src/components/image/ImageCaption.tsx
  packages/ag-charts-website/src/components/image/ImageCaptionLegacy.tsx
  packages/ag-charts-website/src/content/docs/financial-charts/index.mdoc
  packages/ag-charts-website/src/content/docs/financial-charts/resources/annotations-dark.gif
  packages/ag-charts-website/src/content/docs/financial-charts/resources/annotations.gif
  packages/ag-charts-website/src/content/docs/financial-charts/resources/chart-types-dark.gif
  packages/ag-charts-website/src/content/docs/financial-charts/resources/chart-types.gif
  packages/ag-charts-website/src/content/docs/financial-charts/resources/zoom-dark.gif
  packages/ag-charts-website/src/content/docs/financial-charts/resources/zoom.gif
Owners: @ag-grid/ag-charts-team, @taktran, @rmc-software

AG-12011 Fix annotation restoration to apply default themes
  packages/ag-charts-community/src/chart/annotation/annotationManager.ts
Owners: @alantreadway

Revert "Remove unnecessary styling in annotations initial example"
  packages/ag-charts-website/src/content/docs/annotations/_examples/annotation-initial/main.ts
Owners: @ag-grid/ag-charts-team

AG-12011 Fix annotation restore example to have styles
  packages/ag-charts-website/src/content/docs/annotations/_examples/annotation-save-restore/main.ts
Owners: @ag-grid/ag-charts-team

AG-12008 - Fix gif dark mode on finance page (#1948)
  packages/ag-charts-website/markdoc.config.ts
  packages/ag-charts-website/src/components/image/ImageCaption.astro
  packages/ag-charts-website/src/components/image/ImageCaption.tsx
  packages/ag-charts-website/src/components/image/ImageCaptionLegacy.tsx
  packages/ag-charts-website/src/content/docs/financial-charts/index.mdoc
  packages/ag-charts-website/src/content/docs/financial-charts/resources/annotations-dark.gif
  packages/ag-charts-website/src/content/docs/financial-charts/resources/annotations.gif
  packages/ag-charts-website/src/content/docs/financial-charts/resources/chart-types-dark.gif
  packages/ag-charts-website/src/content/docs/financial-charts/resources/chart-types.gif
  packages/ag-charts-website/src/content/docs/financial-charts/resources/zoom-dark.gif
  packages/ag-charts-website/src/content/docs/financial-charts/resources/zoom.gif
Owners: @ag-grid/ag-charts-team, @taktran, @rmc-software

AG-12011 Fix annotation restoration to apply default themes
  packages/ag-charts-community/src/chart/annotation/annotationManager.ts
Owners: @alantreadway
