Repository ag-grid/ag-charts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ag-grid/ag-charts-team, @markdurrant, @taktran, @alantreadway, @rmc-software

Fix item styler types
  packages/ag-charts-community/src/chart/series/cartesian/barSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/barUtil.ts
  packages/ag-charts-community/src/chart/series/polar/donutSeriesProperties.ts
  packages/ag-charts-community/src/chart/series/polar/pieSeriesProperties.ts
  packages/ag-charts-community/src/chart/series/seriesTooltip.ts
  packages/ag-charts-enterprise/src/series/box-plot/boxPlotSeriesProperties.ts
  packages/ag-charts-enterprise/src/series/candlestick/candlestickSeriesBase.ts
  packages/ag-charts-enterprise/src/series/chord/chordSeries.ts
  packages/ag-charts-enterprise/src/series/chord/chordSeriesProperties.ts
  packages/ag-charts-enterprise/src/series/heatmap/heatmapSeries.ts
  packages/ag-charts-enterprise/src/series/map-line/mapLineSeries.ts
  packages/ag-charts-enterprise/src/series/map-marker/mapMarkerSeries.ts
  packages/ag-charts-enterprise/src/series/map-shape/mapShapeSeries.ts
  packages/ag-charts-enterprise/src/series/radar/radarSeriesProperties.ts
  packages/ag-charts-enterprise/src/series/radial-bar/radialBarSeries.ts
  packages/ag-charts-enterprise/src/series/radial-column/radialColumnSeriesBase.ts
  packages/ag-charts-enterprise/src/series/range-bar/rangeBar.ts
  packages/ag-charts-enterprise/src/series/sankey/sankeySeriesProperties.ts
  packages/ag-charts-enterprise/src/series/sunburst/sunburstSeries.ts
  packages/ag-charts-enterprise/src/series/sunburst/sunburstSeriesProperties.ts
  packages/ag-charts-enterprise/src/series/treemap/treemapSeriesProperties.ts
  packages/ag-charts-types/src/chart/callbackOptions.ts
  packages/ag-charts-types/src/chart/tooltipOptions.ts
  packages/ag-charts-types/src/series/cartesian/barOptions.ts
  packages/ag-charts-types/src/series/cartesian/boxPlotOptions.ts
  packages/ag-charts-types/src/series/cartesian/candlestickBaseOptions.ts
  packages/ag-charts-types/src/series/cartesian/heatmapOptions.ts
  packages/ag-charts-types/src/series/flow-proportion/chordOptions.ts
  packages/ag-charts-types/src/series/flow-proportion/sankeyOptions.ts
  packages/ag-charts-types/src/series/hierarchy/sunburstOptions.ts
  packages/ag-charts-types/src/series/hierarchy/treemapOptions.ts
  packages/ag-charts-types/src/series/polar/donutOptions.ts
  packages/ag-charts-types/src/series/polar/pieOptions.ts
  packages/ag-charts-types/src/series/polar/radarOptions.ts
  packages/ag-charts-types/src/series/topology/mapMarkerOptions.ts
Owners: @alantreadway, @ag-grid/ag-charts-team

Fix examples
  packages/ag-charts-community/src/chart/series/cartesian/areaSeriesProperties.ts
  packages/ag-charts-community/src/chart/series/cartesian/bubbleSeriesProperties.ts
  packages/ag-charts-community/src/chart/series/cartesian/lineSeriesProperties.ts
  packages/ag-charts-community/src/chart/series/cartesian/scatterSeriesProperties.ts
  packages/ag-charts-community/src/chart/series/series.ts
  packages/ag-charts-community/src/chart/series/seriesMarker.ts
  packages/ag-charts-enterprise/src/series/radar/radarSeriesProperties.ts
  packages/ag-charts-enterprise/src/series/range-area/rangeAreaProperties.ts
  packages/ag-charts-types/src/series/markerOptions.ts
  packages/ag-charts-website/src/content/gallery/_examples/donut-with-variable-radius/main.ts
  packages/ag-charts-website/src/content/gallery/_examples/multiple-box-plots/main.ts
  packages/ag-charts-website/src/content/gallery/_examples/multiple-donuts/main.ts
Owners: @alantreadway, @ag-grid/ag-charts-team

AG-11136 - Remove cross line annotation axis label when not in axis range
  packages/ag-charts-community/src/chart/axis/axis.ts
  packages/ag-charts-community/src/module/axisContext.ts
  packages/ag-charts-enterprise/src/features/annotations/annotationTypes.ts
  packages/ag-charts-enterprise/src/features/annotations/cross-line/crossLineScene.ts
Owners: @alantreadway

Fix waterfall styler types
  packages/ag-charts-enterprise/src/series/chord/chordSeriesProperties.ts
  packages/ag-charts-enterprise/src/series/heatmap/heatmapSeriesProperties.ts
  packages/ag-charts-enterprise/src/series/map-line/mapLineSeriesProperties.ts
  packages/ag-charts-enterprise/src/series/map-marker/mapMarkerSeriesProperties.ts
  packages/ag-charts-enterprise/src/series/map-shape/mapShapeSeries.ts
  packages/ag-charts-enterprise/src/series/map-shape/mapShapeSeriesProperties.ts
  packages/ag-charts-enterprise/src/series/radar/radarSeriesProperties.ts
  packages/ag-charts-enterprise/src/series/radial-bar/radialBarSeriesProperties.ts
  packages/ag-charts-enterprise/src/series/radial-column/radialColumnSeriesBaseProperties.ts
  packages/ag-charts-enterprise/src/series/range-bar/rangeBarProperties.ts
  packages/ag-charts-enterprise/src/series/sankey/sankeySeriesProperties.ts
  packages/ag-charts-enterprise/src/series/sunburst/sunburstSeriesProperties.ts
  packages/ag-charts-enterprise/src/series/treemap/treemapSeriesProperties.ts
  packages/ag-charts-enterprise/src/series/waterfall/waterfallSeries.ts
  packages/ag-charts-enterprise/src/series/waterfall/waterfallSeriesProperties.ts
  packages/ag-charts-types/src/series/cartesian/waterfallOptions.ts
  packages/ag-charts-types/src/series/hierarchy/sunburstOptions.ts
  packages/ag-charts-types/src/series/hierarchy/treemapOptions.ts
  packages/ag-charts-types/src/series/polar/radarOptions.ts
  packages/ag-charts-types/src/series/topology/mapShapeOptions.ts
Owners: @alantreadway, @ag-grid/ag-charts-team

AG-11136 - Skip translations tests
  packages/ag-charts-locale/src/main.test.ts
Owners: @ag-grid/ag-charts-team

Fix waterfall examples
  packages/ag-charts-enterprise/src/series/waterfall/waterfallSeries.ts
  packages/ag-charts-website/src/content/gallery/_examples/simple-waterfall/main.ts
Owners: @alantreadway, @ag-grid/ag-charts-team

git subrepo push external/ag-website-shared
  external/ag-website-shared/.gitrepo
Owners: @ag-grid/ag-charts-team

AG-11890 Update colour picker styles
  packages/ag-charts-enterprise/src/features/color-picker/colorPicker.ts
  packages/ag-charts-enterprise/src/features/color-picker/colorPickerStyles.css
Owners: @alantreadway

AG-11956 Ignore key-presses with modifiers in keynavUtil.ts
  packages/ag-charts-community/src/util/keynavUtil.ts
Owners: @alantreadway

AG-11956 Fix eslint error
  packages/ag-charts-community/src/util/keynavUtil.ts
Owners: @alantreadway

AG-11892 Update color picker to reposition within canvas bounds
  packages/ag-charts-enterprise/src/features/annotations/annotations.ts
  packages/ag-charts-enterprise/src/features/color-picker/colorPicker.ts
Owners: @alantreadway

no deprecations in changelog
  packages/ag-charts-website/src/content/docs/upgrade-to-ag-charts-10/index.mdoc
Owners: @rmc-software

Revert axis changes
  packages/ag-charts-community/src/chart/axis/categoryAxis.ts
Owners: @alantreadway

git subrepo pull external/ag-website-shared
  external/ag-website-shared/.gitrepo
  external/ag-website-shared/src/components/icon/Icon.tsx
  external/ag-website-shared/src/components/select/Select.tsx
Owners: @ag-grid/ag-charts-team

AG-11837 - Add copy to clipboard for some code snippets
  packages/ag-charts-website/src/components/Code.module.scss
  packages/ag-charts-website/src/components/Code.tsx
  packages/ag-charts-website/src/features/example-runner/components/ExampleRunnerContainer.astro
Owners: @markdurrant, @ag-grid/ag-charts-team, @taktran

fix tests
  packages/ag-charts-types/src/series/polar/radialOptions.ts
Owners: @ag-grid/ag-charts-team

fix formatting
  packages/ag-charts-types/src/series/polar/radialOptions.ts
Owners: @ag-grid/ag-charts-team

update i18n docs
  packages/ag-charts-community/src/scene/shape/line.ts
  packages/ag-charts-website/src/content/docs/localisation/index.mdoc
Owners: @alantreadway, @rmc-software

Revert "update i18n docs"
  packages/ag-charts-community/src/scene/shape/line.ts
  packages/ag-charts-website/src/content/docs/localisation/index.mdoc
Owners: @alantreadway, @rmc-software

update i18n docs
  packages/ag-charts-website/src/content/docs/localisation/index.mdoc
Owners: @rmc-software

wip
  packages/ag-charts-enterprise/src/series/candlestick/candlestickSeriesBase.ts
  packages/ag-charts-enterprise/src/series/candlestick/candlestickTypes.ts
  packages/ag-charts-enterprise/src/series/candlestick/candlestickUtil.ts
Owners: @alantreadway

Initial infra for auto translations
  .vscode/settings.json
  packages/ag-charts-locale/en-US.tsv
  packages/ag-charts-locale/generate.mjs
  packages/ag-charts-locale/src/en-US.ts
Owners: @ag-grid/ag-charts-team

AG-11506 - Update Financial Charts docs to new structure.
  packages/ag-charts-website/src/content/docs/financial-chart-types/_examples/customization/data.ts
  packages/ag-charts-website/src/content/docs/financial-chart-types/_examples/customization/index.html
  packages/ag-charts-website/src/content/docs/financial-chart-types/_examples/customization/main.ts
  packages/ag-charts-website/src/content/docs/financial-chart-types/_examples/switching-chart-types/data.ts
  packages/ag-charts-website/src/content/docs/financial-chart-types/_examples/switching-chart-types/index.html
  packages/ag-charts-website/src/content/docs/financial-chart-types/_examples/switching-chart-types/main.ts
  packages/ag-charts-website/src/content/docs/financial-chart-types/_examples/switching-chart-types/styles.css
  packages/ag-charts-website/src/content/docs/financial-chart-types/index.mdoc
  packages/ag-charts-website/src/content/docs/financial-charts/_examples/basic-financial-chart/data.ts
  packages/ag-charts-website/src/content/docs/financial-charts/_examples/basic-financial-chart/index.html
  packages/ag-charts-website/src/content/docs/financial-charts/_examples/basic-financial-chart/main.ts
  packages/ag-charts-website/src/content/docs/financial-charts/_examples/candlestick-plus-volume/index.html
  packages/ag-charts-website/src/content/docs/financial-charts/_examples/candlestick-plus-volume/main.ts
  packages/ag-charts-website/src/content/docs/financial-charts/_examples/stock-tracking/main.ts
  packages/ag-charts-website/src/content/docs/financial-charts/index.mdoc
  packages/ag-charts-website/src/content/menu/data.json
Owners: @ag-grid/ag-charts-team, @rmc-software

AG-11915 Fix colour picker z indicies
  packages/ag-charts-enterprise/src/features/color-picker/colorPickerStyles.css
Owners: @alantreadway

AG-11506 - Rework candlestick-volume preset to price-volume, hide type option for FC.
  packages/ag-charts-angular/projects/ag-charts-angular/src/lib/ag-financial-charts.component.ts
  packages/ag-charts-community/src/api/agCharts.ts
  packages/ag-charts-community/src/api/preset/presets.ts
  packages/ag-charts-community/src/api/preset/priceVolumePreset.ts
  packages/ag-charts-community/src/chart/chart.ts
  packages/ag-charts-community/src/chart/chartProxy.ts
  packages/ag-charts-types/src/api/presetOptions.ts
  packages/ag-charts-vue3/src/index.ts
  packages/ag-charts-website/src/content/docs/financial-chart-types/_examples/switching-chart-types/main.ts
Owners: @ag-grid/ag-charts-team, @alantreadway

AG-11136 - Add comment to follow up and re-enable translations tests
  packages/ag-charts-locale/src/main.test.ts
Owners: @ag-grid/ag-charts-team

AG-11506 - Switch annotation examples to use FC entry-point.
  packages/ag-charts-community/src/api/preset/priceVolumePreset.ts
  packages/ag-charts-types/src/api/presetOptions.ts
  packages/ag-charts-website/src/content/docs/annotations/_examples/annotation-customisation/main.ts
  packages/ag-charts-website/src/content/docs/annotations/_examples/annotation-disjoint-channel/main.ts
  packages/ag-charts-website/src/content/docs/annotations/_examples/annotation-editing/main.ts
  packages/ag-charts-website/src/content/docs/annotations/_examples/annotation-line/main.ts
  packages/ag-charts-website/src/content/docs/annotations/_examples/annotation-parallel-channel/main.ts
  packages/ag-charts-website/src/content/docs/annotations/_examples/annotation-save-restore/main.ts
Owners: @alantreadway, @ag-grid/ag-charts-team

fix e2e
  packages/ag-charts-website/src/content/docs/stylers/_examples/item-styler/data.ts
Owners: @ag-grid/ag-charts-team

AG-11506 - Add more FC chart-types.
  packages/ag-charts-community/src/api/preset/priceVolumePreset.ts
  packages/ag-charts-types/src/api/presetOptions.ts
  packages/ag-charts-website/src/content/docs/financial-chart-types/_examples/switching-chart-types/index.html
  packages/ag-charts-website/src/content/docs/financial-chart-types/_examples/switching-chart-types/main.ts
Owners: @alantreadway, @ag-grid/ag-charts-team

AG-11955 Change annotations toolbars enabled by default
  packages/ag-charts-community/src/chart/toolbar/toolbarModule.ts
  packages/ag-charts-community/src/module/__snapshots__/optionsModule.test.ts.snap
  packages/ag-charts-website/src/content/docs/annotations/_examples/annotation-initial/main.ts
  packages/ag-charts-website/src/content/docs/annotations/index.mdoc
Owners: @alantreadway, @ag-grid/ag-charts-team, @rmc-software

AG-11955 Fix annotations & zoom toolbar conflict disabling zoom toolbar
  packages/ag-charts-community/src/chart/toolbar/toolbar.ts
  packages/ag-charts-community/src/chart/toolbar/toolbarModule.ts
  packages/ag-charts-community/src/module/__snapshots__/optionsModule.test.ts.snap
Owners: @alantreadway

AG-11917 Remove defaultPrevent() on drag event
  packages/ag-charts-enterprise/src/features/zoom/zoom.ts
Owners: @alantreadway

AG-10318 Update locale docs
  packages/ag-charts-website/src/content/docs/localisation/index.mdoc
Owners: @rmc-software

qa fixes - wip
  packages/ag-charts-community/src/chart/series/cartesian/barUtil.ts
  packages/ag-charts-enterprise/src/series/heatmap/heatmapSeries.ts
  packages/ag-charts-enterprise/src/series/radial-bar/radialBarSeries.ts
  packages/ag-charts-enterprise/src/series/radial-column/radialColumnSeriesBase.ts
  packages/ag-charts-enterprise/src/series/range-bar/rangeBarModule.ts
  packages/ag-charts-enterprise/src/series/range-bar/rangeBarSeries.ts
  packages/ag-charts-types/src/series/cartesian/rangeBarOptions.ts
  packages/ag-charts-types/src/series/polar/radialOptions.ts
Owners: @alantreadway, @ag-grid/ag-charts-team

AG-11837 - Remove copy to clipboard functionality from default code snippets for performance reasons
  packages/ag-charts-website/src/components/Code.tsx
Owners: @ag-grid/ag-charts-team

qa fixes - wip
  packages/ag-charts-community/src/chart/series/polar/donutSeries.ts
  packages/ag-charts-community/src/chart/series/polar/pieSeries.ts
  packages/ag-charts-enterprise/src/series/box-plot/boxPlotGroup.ts
  packages/ag-charts-enterprise/src/series/box-plot/boxPlotSeries.ts
  packages/ag-charts-enterprise/src/series/box-plot/boxPlotSeriesProperties.ts
  packages/ag-charts-types/src/series/cartesian/boxPlotOptions.ts
  packages/ag-charts-types/src/series/polar/donutOptions.ts
  packages/ag-charts-types/src/series/polar/pieOptions.ts
Owners: @alantreadway, @ag-grid/ag-charts-team

AG-11924 Ensure changing chart type preserves container size
  packages/ag-charts-community/src/chart/baseManager.ts
  packages/ag-charts-community/src/chart/chart.ts
  packages/ag-charts-community/src/chart/dom/domManager.ts
  packages/ag-charts-community/src/util/listeners.ts
Owners: @alantreadway

AG-11955 Fix annotations tests
  packages/ag-charts-enterprise/src/features/annotations/annotations.test.ts
Owners: @alantreadway

qa fixes - wip
  packages/ag-charts-community/src/chart/series/polar/donutSeries.ts
  packages/ag-charts-community/src/chart/series/polar/pieSeries.ts
  packages/ag-charts-enterprise/src/features/error-bar/errorBarNode.ts
  packages/ag-charts-enterprise/src/series/chord/chordSeries.ts
  packages/ag-charts-enterprise/src/series/map-line/mapLineSeries.ts
  packages/ag-charts-enterprise/src/series/map-marker/mapMarkerSeries.ts
  packages/ag-charts-enterprise/src/series/map-shape/mapShapeSeries.ts
  packages/ag-charts-enterprise/src/series/radar/radarSeries.ts
  packages/ag-charts-enterprise/src/series/sankey/sankeySeries.ts
  packages/ag-charts-enterprise/src/series/sunburst/sunburstSeries.ts
  packages/ag-charts-enterprise/src/series/treemap/treemapSeries.ts
  packages/ag-charts-types/src/chart/callbackOptions.ts
  packages/ag-charts-types/src/series/hierarchy/sunburstOptions.ts
  packages/ag-charts-types/src/series/hierarchy/treemapOptions.ts
  packages/ag-charts-types/src/series/typeUtils.ts
Owners: @alantreadway, @ag-grid/ag-charts-team

qa fixes - wip
  packages/ag-charts-types/src/chart/callbackOptions.ts
Owners: @ag-grid/ag-charts-team

.github/CODEOWNERS:

# NOTE: Order of entries matters - later entries have higher precedence.

# Attribute code-owners so default reviewers are assigned to PRs.
* @ag-grid/ag-charts-team

# Astro + website changes to be reviewed by website team.
*.scss @markdurrant
*.astro @taktran
/packages/ag-charts-website/astro/** @taktran
/packages/ag-charts-website/components/** @taktran
/packages/ag-charts-website/features/** @taktran
/packages/ag-charts-website/layouts/** @taktran
/packages/ag-charts-website/stores/** @taktran
/packages/ag-charts-website/utils/** @taktran

# Docs updates to be reviewed by Eng VP.
/packages/ag-charts-website/content/** @alantreadway @rmc-software
*.mdoc @rmc-software

# Charts library code to be reviewed by Chart TL.
/packages/ag-charts-community/** @alantreadway
/packages/ag-charts-enterprise/** @alantreadway

# Sensitive build/repo files to be reviewed by Chart TL.
**/package.json @alantreadway
nx.json @alantreadway
**/project.json @alantreadway
**/tsconfig.json @alantreadway
**/tsconfig.*.json @alantreadway
