Repository ag-grid/ag-charts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ag-grid/ag-charts-team, @markdurrant, @taktran, @alantreadway, @rmc-software

.github/CODEOWNERS:

# NOTE: Order of entries matters - later entries have higher precedence.

# Attribute code-owners so default reviewers are assigned to PRs.
* @ag-grid/ag-charts-team

# Astro + website changes to be reviewed by website team.
*.scss @markdurrant
*.astro @taktran
/packages/ag-charts-website/astro/** @taktran
/packages/ag-charts-website/components/** @taktran
/packages/ag-charts-website/features/** @taktran
/packages/ag-charts-website/layouts/** @taktran
/packages/ag-charts-website/stores/** @taktran
/packages/ag-charts-website/utils/** @taktran

# Docs updates to be reviewed by Eng VP.
/packages/ag-charts-website/content/** @alantreadway @rmc-software
*.mdoc @rmc-software

# Charts library code to be reviewed by Chart TL.
/packages/ag-charts-community/** @alantreadway
/packages/ag-charts-enterprise/** @alantreadway

# Sensitive build/repo files to be reviewed by Chart TL.
**/package.json @alantreadway
nx.json @alantreadway
**/project.json @alantreadway
**/tsconfig.json @alantreadway
**/tsconfig.*.json @alantreadway

AG-13142 Set role="img" on the announcers
  packages/ag-charts-community/src/chart/series/seriesAreaManager.ts
  packages/ag-charts-community/src/dom/domLayout.html
  packages/ag-charts-community/src/dom/focusSwapChain.ts
  packages/ag-charts-community/src/util/attributeUtil.ts
Owners: @alantreadway

AG-13142 Short-circuit FocusIndicator.move
  packages/ag-charts-community/src/dom/focusIndicator.ts
Owners: @alantreadway

AG-13142 Fix FocusIndicator.isFocusVisible() logic
  packages/ag-charts-community/src/dom/focusIndicator.ts
Owners: @alantreadway

AG-13142 Simplify onFocus/onBlur logic in FocusSwapChain
  packages/ag-charts-community/src/chart/series/seriesAreaManager.ts
  packages/ag-charts-community/src/dom/focusSwapChain.ts
Owners: @alantreadway

AG-13142 Configure announcer with CSS class and fix :focus-visible
  packages/ag-charts-community/src/chart/interaction/regionManager.ts
  packages/ag-charts-community/src/chart/series/seriesAreaManager.ts
  packages/ag-charts-community/src/dom/container.css
  packages/ag-charts-community/src/dom/focusIndicator.ts
  packages/ag-charts-community/src/dom/focusSwapChain.ts
  packages/ag-charts-community/src/util/attributeUtil.ts
Owners: @alantreadway

AG-13142 Move FocusIndicator out of ChartContext
  packages/ag-charts-community/src/chart/chart.ts
  packages/ag-charts-community/src/chart/chartContext.ts
  packages/ag-charts-community/src/chart/interaction/keyNavManager.ts
  packages/ag-charts-community/src/chart/series/seriesAreaManager.ts
  packages/ag-charts-community/src/module/moduleContext.ts
Owners: @alantreadway

AG-13142 Remove tabindex from .ag-charts-sereis.area
  packages/ag-charts-community/src/chart/chart.ts
  packages/ag-charts-community/src/chart/series/seriesAreaManager.ts
  packages/ag-charts-community/src/dom/domManager.ts
  packages/ag-charts-community/src/dom/focusSwapChain.ts
Owners: @alantreadway

AG-13142 Do not handle 'blur' events without a 'focus' event
  packages/ag-charts-community/src/chart/series/seriesAreaManager.ts
Owners: @alantreadway

AG-13067 Set CSS bounds on the legend role="list"
  packages/ag-charts-community/src/chart/legend.ts
  packages/ag-charts-community/src/chart/legendDOMProxy.ts
Owners: @alantreadway

AG-13142 Fix e2e test for AG-13166
  packages/ag-charts-community/src/chart/series/seriesAreaManager.ts
Owners: @alantreadway

AG-13142 Hide the inactive announcer from AT
  packages/ag-charts-community/src/dom/focusSwapChain.ts
Owners: @alantreadway

AG-13142 Fix eslint errors/warnings
  packages/ag-charts-community/src/chart/legendDOMProxy.ts
  packages/ag-charts-community/src/chart/series/seriesAreaManager.ts
Owners: @alantreadway

AG-13142 Hide inactive announcer with aria-hidden="true"
  packages/ag-charts-community/src/dom/focusSwapChain.ts
Owners: @alantreadway

AG-13142 Fix incorrect overrideFocusVisible logic
  packages/ag-charts-community/src/dom/focusIndicator.ts
Owners: @alantreadway

AG-13142 Make FocusIndicator actively listen for 'swap' events
  packages/ag-charts-community/src/chart/series/seriesAreaManager.ts
  packages/ag-charts-community/src/dom/focusIndicator.ts
  packages/ag-charts-community/src/dom/focusSwapChain.ts
Owners: @alantreadway

Revert "AG-12815 - Revert zoom state API for release prep. (#2469)"
  packages/ag-charts-community/src/chart/chart.ts
  packages/ag-charts-community/src/chart/chartProxy.ts
  packages/ag-charts-community/src/chart/navigator/navigator.ts
  packages/ag-charts-enterprise/src/features/data-source/dataSource.test.ts
  packages/ag-charts-enterprise/src/features/features.test.ts
  packages/ag-charts-enterprise/src/features/navigator/navigator.test.ts
  packages/ag-charts-enterprise/src/features/zoom/zoom.test.ts
  packages/ag-charts-enterprise/src/features/zoom/zoomRange.ts
  packages/ag-charts-types/src/api/initialStateOptions.ts
  packages/ag-charts-types/src/chart/navigatorOptions.ts
  packages/ag-charts-types/src/chart/zoomOptions.ts
  packages/ag-charts-website/src/content/docs/api-state-test/_examples/initial-state/main.ts
  packages/ag-charts-website/src/content/docs/api-state/_examples/state-save-restore/main.ts
  packages/ag-charts-website/src/content/docs/api-state/index.mdoc
  packages/ag-charts-website/src/content/docs/navigator/_examples/mini-chart-styling/main.ts
  packages/ag-charts-website/src/content/docs/navigator/_examples/mini-chart/main.ts
  packages/ag-charts-website/src/content/docs/navigator/_examples/navigator-styling/main.ts
  packages/ag-charts-website/src/content/docs/sync/_examples/basic-sync/main.ts
  packages/ag-charts-website/src/content/docs/zoom/_examples/zoom-range/data.ts
  packages/ag-charts-website/src/content/docs/zoom/_examples/zoom-range/index.html
  packages/ag-charts-website/src/content/docs/zoom/_examples/zoom-range/main.ts
  packages/ag-charts-website/src/content/docs/zoom/index.mdoc
Owners: @alantreadway, @ag-grid/ag-charts-team, @rmc-software

cleaup
  packages/ag-charts-community/src/chart/series/cartesian/lineSeries.ts
  packages/ag-charts-enterprise/src/series/line/lineAggregation.ts
  packages/ag-charts-enterprise/src/series/line/lineSeries.ts
  packages/ag-charts-website/src/content/docs/high-performance-charts/_examples/line-series/data.ts
Owners: @alantreadway, @ag-grid/ag-charts-team

AG-13142 Fire on 'swap' event to initialise the event handler
  packages/ag-charts-community/src/dom/focusSwapChain.ts
Owners: @alantreadway

lint
  packages/ag-charts-community/src/api/preset/sparkline.ts
Owners: @alantreadway

AG-11993 Move zoom state save/restore to zoom manager
  packages/ag-charts-community/src/chart/interaction/zoomManager.ts
  packages/ag-charts-community/src/chart/navigator/navigator.ts
  packages/ag-charts-enterprise/src/features/features.test.ts
  packages/ag-charts-enterprise/src/features/navigator/navigator.test.ts
  packages/ag-charts-enterprise/src/features/zoom/__image_snapshots__/zoom-test-ts-zoom-initial-state-should-extend-the-range-to-the-end-1-snap.png
  packages/ag-charts-enterprise/src/features/zoom/__image_snapshots__/zoom-test-ts-zoom-initial-state-should-extend-the-range-to-the-start-1-snap.png
  packages/ag-charts-enterprise/src/features/zoom/__image_snapshots__/zoom-test-ts-zoom-initial-state-should-start-with-the-given-range-1-snap.png
  packages/ag-charts-enterprise/src/features/zoom/zoom.test.ts
  packages/ag-charts-enterprise/src/features/zoom/zoom.ts
  packages/ag-charts-enterprise/src/features/zoom/zoomRange.ts
  packages/ag-charts-enterprise/src/features/zoom/zoomRatio.ts
  packages/ag-charts-enterprise/src/features/zoom/zoomToolbar.ts
  packages/ag-charts-enterprise/src/features/zoom/zoomTypes.ts
  packages/ag-charts-types/src/chart/navigatorOptions.ts
  packages/ag-charts-types/src/chart/zoomOptions.ts
  packages/ag-charts-website/src/content/docs/api-state/_examples/state-save-restore/main.ts
Owners: @alantreadway, @ag-grid/ag-charts-team

AG-13244 - Finish icons styles refactor
  external/ag-website-shared/src/components/license-setup/components/LicenseSetup.module.scss
  packages/ag-charts-website/src/components/pages-navigation/components/Menu.module.scss
  packages/ag-charts-website/src/features/api-documentation/components/OptionsNavigation.module.scss
  packages/ag-charts-website/src/features/docs/components/Header.module.scss
  packages/ag-charts-website/src/features/example-runner/components/CodeOptions.module.scss
  packages/ag-charts-website/src/features/example-runner/components/ExampleRunner.module.scss
  packages/ag-charts-website/src/features/gallery/components/GallerySeriesLink.module.scss
  packages/ag-charts-website/src/pages-styles/pipelineChangelog.module.scss
  packages/ag-charts-website/src/pages/gallery-test.astro
  packages/ag-charts-website/src/pages/gallery.astro
Owners: @markdurrant, @taktran

Bump eslint version to fix local execution.
  .eslintrc.json
  package.json
  packages/ag-charts-angular/package.json
  packages/ag-charts-enterprise/package.json
  yarn.lock
Owners: @ag-grid/ag-charts-team, @alantreadway

Fix lint error.
  packages/ag-charts-enterprise/src/features/annotations/annotationsStateMachine.ts
Owners: @alantreadway

Fix compatibility of eslint configs in shared packages.
  .env
  external/ag-shared/.env
  external/ag-website-shared/.env
  package.json
  yarn.lock
Owners: @ag-grid/ag-charts-team, @alantreadway

AG-13063 Sparkline axis updates
  packages/ag-charts-community/src/api/preset/sparkline.ts
  packages/ag-charts-types/src/presets/sparkline/sparklineAxisOptions.ts
Owners: @alantreadway, @ag-grid/ag-charts-team

fix new number formatter rounding issue
  packages/ag-charts-community/src/chart/series/polar/pieSeries.ts
  packages/ag-charts-community/src/util/format.util.ts
Owners: @alantreadway

update
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/histogram-series-test-ts-histogram-series-create-for-histogram-with-specified-bins-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/histogram-series-test-ts-histogram-series-create-for-xy-histogram-with-mean-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/histogram-series-test-ts-histogram-series-reversed-axes-for-histogram-with-specified-bins-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/histogram-series-test-ts-histogram-series-reversed-axes-for-xy-histogram-with-mean-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-community/src/chart/tooltip/tooltip.test.ts
  packages/ag-charts-community/src/util/format.util.test.ts
Owners: @alantreadway

Update E2E snapshots. (#2859)
  packages/ag-charts-website/e2e/context-menu.spec.ts-snapshots/pan-to-here-chromium-linux.png
  packages/ag-charts-website/e2e/context-menu.spec.ts-snapshots/zoom-contextmenu-chromium-linux.png
  packages/ag-charts-website/e2e/context-menu.spec.ts-snapshots/zoom-to-here-chromium-linux.png
  packages/ag-charts-website/e2e/zoom.spec.ts-snapshots/zoom-crosshairs-after-wheel-zoom-chromium-linux.png
Owners: @ag-grid/ag-charts-team

update
  packages/ag-charts-enterprise/src/__image_snapshots__/gallery-examples-test-ts-gallery-examples-ag-chart-v-2-create-for-histogram-with-specified-bins-example-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-enterprise/src/__image_snapshots__/gallery-examples-test-ts-gallery-examples-ag-chart-v-2-create-for-xy-histogram-with-mean-example-it-should-render-to-canvas-as-expected-1-snap.png
Owners: @alantreadway

update snapshots
  packages/ag-charts-community/benchmarks/__image_snapshots__/multi-series-test-ts-multi-series-benchmark-after-load-1-x-datum-highlight-1-snap.png
  packages/ag-charts-community/benchmarks/__image_snapshots__/multi-series-test-ts-multi-series-benchmark-after-load-1-x-legend-toggle-1-snap.png
  packages/ag-charts-community/benchmarks/__image_snapshots__/multi-series-test-ts-multi-series-benchmark-after-load-10-x-legend-toggle-1-snap.png
  packages/ag-charts-community/benchmarks/__image_snapshots__/multi-series-test-ts-multi-series-benchmark-after-load-15-x-datum-highlight-1-snap.png
  packages/ag-charts-community/benchmarks/__image_snapshots__/multi-series-test-ts-multi-series-benchmark-initial-load-1-snap.png
  packages/ag-charts-community/benchmarks/__image_snapshots__/simple-chart-test-ts-simple-chart-benchmark-after-load-1-x-legend-toggle-1-snap.png
  packages/ag-charts-community/benchmarks/__image_snapshots__/simple-chart-test-ts-simple-chart-benchmark-after-load-10-x-legend-toggle-1-snap.png
  packages/ag-charts-community/benchmarks/__image_snapshots__/simple-chart-test-ts-simple-chart-benchmark-initial-load-1-snap.png
Owners: @alantreadway

update snapshots
  packages/ag-charts-enterprise/src/series/pyramid/__image_snapshots__/pyramid-test-ts-pyramid-series-pyramid-series-pointer-events-should-handle-legend-click-event-1-snap.png
  packages/ag-charts-enterprise/src/series/pyramid/__image_snapshots__/pyramid-test-ts-pyramid-series-pyramid-series-pointer-events-should-handle-legend-click-event-2-snap.png
  packages/ag-charts-enterprise/src/series/pyramid/__image_snapshots__/pyramid-test-ts-pyramid-series-pyramid-series-pointer-events-should-handle-legend-click-event-3-snap.png
  packages/ag-charts-enterprise/src/series/pyramid/__image_snapshots__/pyramid-test-ts-pyramid-series-series-highlighting-should-render-a-chart-1-snap.png
  packages/ag-charts-enterprise/src/series/pyramid/__image_snapshots__/pyramid-test-ts-pyramid-series-series-highlighting-should-render-highlight-of-node-1-snap.png
Owners: @alantreadway

AG-3390 - Fix update algolia script for new menu structure
  packages/ag-charts-website/update-algolia.js
Owners: @ag-grid/ag-charts-team

AG-13282 Upgrade target to es2022
  nx.json
  tsconfig.base.json
Owners: @alantreadway

AG-3390 - Update algolia script so unix chrome path is the default
  packages/ag-charts-website/update-algolia.js
Owners: @ag-grid/ag-charts-team
