Repository ag-grid/ag-charts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ag-grid/ag-charts-team, @markdurrant, @taktran, @alantreadway, @rmc-software

.github/CODEOWNERS:

# NOTE: Order of entries matters - later entries have higher precedence.

# Attribute code-owners so default reviewers are assigned to PRs.
* @ag-grid/ag-charts-team

# Astro + website changes to be reviewed by website team.
*.scss @markdurrant
*.astro @taktran
/packages/ag-charts-website/astro/** @taktran
/packages/ag-charts-website/components/** @taktran
/packages/ag-charts-website/features/** @taktran
/packages/ag-charts-website/layouts/** @taktran
/packages/ag-charts-website/stores/** @taktran
/packages/ag-charts-website/utils/** @taktran

# Docs updates to be reviewed by Eng VP.
/packages/ag-charts-website/content/** @alantreadway @rmc-software
*.mdoc @rmc-software

# Charts library code to be reviewed by Chart TL.
/packages/ag-charts-community/** @alantreadway
/packages/ag-charts-enterprise/** @alantreadway

# Sensitive build/repo files to be reviewed by Chart TL.
**/package.json @alantreadway
nx.json @alantreadway
**/project.json @alantreadway
**/tsconfig.json @alantreadway
**/tsconfig.*.json @alantreadway

Better integrate Astro reload with watch.js.
  packages/ag-charts-website/astro.config.mjs
  packages/ag-charts-website/plugins/agHotModuleReload.ts
  packages/all/watch.js
Owners: @ag-grid/ag-charts-team

AG-11148 Move memento into api/state/
  packages/ag-charts-community/src/api/agCharts.ts
  packages/ag-charts-community/src/api/state/memento.test.ts
  packages/ag-charts-community/src/api/state/memento.ts
  packages/ag-charts-community/src/chart/annotation/annotationManager.ts
  packages/ag-charts-community/src/chart/chartProxy.ts
Owners: @alantreadway

Support Python <3.12 in check-versions.sh.
  tools/dependencies/check-versions.sh
Owners: @ag-grid/ag-charts-team

AG-11148 Change saveAnnotations/restoreAnnotations to getState/setState
  packages/ag-charts-community/src/api/state/memento.test.ts
  packages/ag-charts-community/src/api/state/memento.ts
  packages/ag-charts-community/src/chart/annotation/annotationManager.ts
  packages/ag-charts-community/src/chart/chartProxy.ts
  packages/ag-charts-types/src/chart/chartBuilderOptions.ts
  packages/ag-charts-website/src/content/docs/annotations/_examples/annotation-save-restore/main.ts
Owners: @alantreadway, @ag-grid/ag-charts-team

Rename toolbar and color picker child element check fns
  packages/ag-charts-community/src/chart/interaction/toolbarManager.ts
  packages/ag-charts-enterprise/src/features/annotations/annotations.ts
  packages/ag-charts-enterprise/src/features/color-picker/colorPicker.ts
Owners: @alantreadway

Fix annotation ordinal scale snapping
  packages/ag-charts-enterprise/src/features/annotations/annotationTypes.ts
  packages/ag-charts-enterprise/src/features/annotations/annotationUtils.ts
Owners: @alantreadway

snapshots
  packages/ag-charts-community/src/module/__snapshots__/optionsModule.test.ts.snap
  packages/ag-charts-community/src/module/optionsModule.test.ts
Owners: @alantreadway

lockfile
  yarn.lock
Owners: @ag-grid/ag-charts-team

enterprise
  packages/ag-charts-community/src/chart/series/polar/pieSeriesProperties.ts
  packages/ag-charts-enterprise/src/features/annotations/annotationProperties.ts
  packages/ag-charts-enterprise/src/features/annotations/scenes/axisLabel.ts
  packages/ag-charts-enterprise/src/series/box-plot/boxPlotSeries.ts
  packages/ag-charts-enterprise/src/series/box-plot/boxPlotSeriesProperties.ts
  packages/ag-charts-enterprise/src/series/candlestick/candlestickSeries.ts
  packages/ag-charts-enterprise/src/series/candlestick/candlestickSeriesBase.ts
  packages/ag-charts-enterprise/src/series/candlestick/candlestickSeriesProperties.ts
  packages/ag-charts-enterprise/src/series/chord/chordSeries.ts
  packages/ag-charts-enterprise/src/series/chord/chordSeriesProperties.ts
  packages/ag-charts-enterprise/src/series/heatmap/heatmapSeries.ts
  packages/ag-charts-enterprise/src/series/heatmap/heatmapSeriesProperties.ts
  packages/ag-charts-enterprise/src/series/map-line/mapLineSeries.ts
  packages/ag-charts-enterprise/src/series/map-line/mapLineSeriesProperties.ts
  packages/ag-charts-enterprise/src/series/map-marker/mapMarkerSeries.ts
  packages/ag-charts-enterprise/src/series/map-marker/mapMarkerSeriesProperties.ts
  packages/ag-charts-enterprise/src/series/map-shape/mapShapeSeries.ts
  packages/ag-charts-enterprise/src/series/map-shape/mapShapeSeriesProperties.ts
  packages/ag-charts-enterprise/src/series/ohlc/ohlcSeriesProperties.ts
  packages/ag-charts-enterprise/src/series/radar/radarSeriesProperties.ts
  packages/ag-charts-enterprise/src/series/radial-bar/radialBarSeries.ts
  packages/ag-charts-enterprise/src/series/radial-bar/radialBarSeriesProperties.ts
  packages/ag-charts-enterprise/src/series/radial-column/radialColumnSeriesBase.ts
  packages/ag-charts-enterprise/src/series/radial-column/radialColumnSeriesBaseProperties.ts
  packages/ag-charts-enterprise/src/series/range-bar/rangeBar.ts
  packages/ag-charts-enterprise/src/series/range-bar/rangeBarProperties.ts
  packages/ag-charts-enterprise/src/series/sankey/sankeySeries.ts
  packages/ag-charts-enterprise/src/series/sankey/sankeySeriesProperties.ts
  packages/ag-charts-enterprise/src/series/sunburst/sunburstSeries.ts
  packages/ag-charts-enterprise/src/series/sunburst/sunburstSeriesProperties.ts
  packages/ag-charts-enterprise/src/series/treemap/treemapSeries.ts
  packages/ag-charts-enterprise/src/series/treemap/treemapSeriesProperties.ts
  packages/ag-charts-enterprise/src/series/waterfall/waterfallSeries.ts
  packages/ag-charts-enterprise/src/series/waterfall/waterfallSeriesProperties.ts
Owners: @alantreadway

nx format
  packages/ag-charts-community/src/chart/label.ts
Owners: @alantreadway

fix example
  packages/ag-charts-website/src/content/docs/error-bars-test/_examples/temperatures/main.ts
Owners: @ag-grid/ag-charts-team

Update fw dependencies in nx
  packages/ag-charts-angular/project.json
  packages/ag-charts-react/project.json
  packages/ag-charts-vue3/project.json
Owners: @alantreadway

Add missing `no-batching` tag to projects using executors that don't support --batch.
  packages/ag-charts-angular/project.json
  packages/ag-charts-react/project.json
  packages/ag-charts-vue3/project.json
  plugins/ag-charts-generate-chart-thumbnail/project.json
  plugins/ag-charts-generate-code-reference-files/project.json
  plugins/ag-charts-generate-example-files/project.json
Owners: @alantreadway

Partial revert of #1721.
  packages/ag-charts-enterprise/src/license/licenseManager.ts
Owners: @alantreadway

Fix zoom module theme buttons to use localisation
  packages/ag-charts-enterprise/src/features/zoom/zoomModule.ts
Owners: @alantreadway

AG-11788 VoiceOver for flow prop. series
  packages/ag-charts-community/src/chart/chart.ts
  packages/ag-charts-community/src/chart/hierarchyChart.ts
  packages/ag-charts-community/src/chart/series/hierarchy/hierarchySeries.ts
  packages/ag-charts-community/src/chart/series/seriesTypes.ts
  packages/ag-charts-community/src/locales/en.ts
  packages/ag-charts-enterprise/src/series/flow-proportion/flowProportionSeries.ts
Owners: @alantreadway

Fix calculate-next-version.js
  tools/calculate-next-version.js
Owners: @ag-grid/ag-charts-team

Automated package version bump to 9.3.1-beta.20240612.1641.
  .env
  libraries/ag-charts-test/package.json
  package.json
  packages/ag-charts-angular/package.json
  packages/ag-charts-angular/projects/ag-charts-angular/package.json
  packages/ag-charts-community-examples/package.json
  packages/ag-charts-community/package.json
  packages/ag-charts-community/src/version.ts
  packages/ag-charts-enterprise/package.json
  packages/ag-charts-react/package.json
  packages/ag-charts-types/package.json
  packages/ag-charts-vue3/package.json
  packages/ag-charts-website/.env.build
  packages/ag-charts-website/.env.build.archive
  packages/ag-charts-website/.env.build.production
  packages/ag-charts-website/.env.build.staging
  packages/ag-charts-website/.env.dev
  packages/ag-charts-website/.env.preview
  packages/ag-charts-website/.env.preview.production
  packages/ag-charts-website/.env.preview.staging
  packages/ag-charts-website/package.json
  plugins/ag-charts-generate-chart-thumbnail/package.json
  plugins/ag-charts-generate-code-reference-files/package.json
  plugins/ag-charts-generate-example-files/package.json
Owners: @ag-grid/ag-charts-team, @alantreadway

Fix ag-charts-vue3 package missing types.
  packages/ag-charts-vue3/.npmignore
Owners: @ag-grid/ag-charts-team

Automated package version bump to 9.3.1-beta.20240612.1657.
  .env
  libraries/ag-charts-test/package.json
  package.json
  packages/ag-charts-angular/package.json
  packages/ag-charts-angular/projects/ag-charts-angular/package.json
  packages/ag-charts-community-examples/package.json
  packages/ag-charts-community/package.json
  packages/ag-charts-community/src/version.ts
  packages/ag-charts-enterprise/package.json
  packages/ag-charts-react/package.json
  packages/ag-charts-types/package.json
  packages/ag-charts-vue3/package.json
  packages/ag-charts-website/.env.build
  packages/ag-charts-website/.env.build.archive
  packages/ag-charts-website/.env.build.production
  packages/ag-charts-website/.env.build.staging
  packages/ag-charts-website/.env.dev
  packages/ag-charts-website/.env.preview
  packages/ag-charts-website/.env.preview.production
  packages/ag-charts-website/.env.preview.staging
  packages/ag-charts-website/package.json
  plugins/ag-charts-generate-chart-thumbnail/package.json
  plugins/ag-charts-generate-code-reference-files/package.json
  plugins/ag-charts-generate-example-files/package.json
Owners: @ag-grid/ag-charts-team, @alantreadway

AG-11701 Add toolbar button sections and update annotation icons
  packages/ag-charts-community/src/chart/toolbar/toolbar.ts
  packages/ag-charts-community/src/chart/toolbar/toolbarModule.ts
  packages/ag-charts-community/src/chart/toolbar/toolbarStyles.css
  packages/ag-charts-community/src/chart/toolbar/toolbarStyles.ts
  packages/ag-charts-community/src/chart/toolbar/toolbarTypes.ts
  packages/ag-charts-community/src/locales/en.ts
  packages/ag-charts-community/src/module/__snapshots__/optionsModule.test.ts.snap
  packages/ag-charts-community/src/styles/styles.css
  packages/ag-charts-enterprise/src/features/annotations/annotations.ts
  packages/ag-charts-types/src/chart/toolbarOptions.ts
Owners: @alantreadway, @ag-grid/ag-charts-team

AG-11462 Fix radius category padding
  packages/ag-charts-community/src/scale/bandScale.ts
  packages/ag-charts-community/src/scale/scale.ts
  packages/ag-charts-enterprise/src/axes/radius-category/radiusCategoryAxis.ts
Owners: @alantreadway

Revert "AG-11462 Fix radius category padding"
  packages/ag-charts-community/src/scale/bandScale.ts
  packages/ag-charts-community/src/scale/scale.ts
  packages/ag-charts-enterprise/src/axes/radius-category/radiusCategoryAxis.ts
Owners: @alantreadway

AG-11462 Fix radius category padding
  packages/ag-charts-community/src/scale/bandScale.ts
  packages/ag-charts-community/src/scale/scale.ts
  packages/ag-charts-enterprise/src/axes/radius-category/radiusCategoryAxis.ts
Owners: @alantreadway

snapshots
  packages/ag-charts-enterprise/src/axes/polar-crosslines/__image_snapshots__/polar-cross-line-test-ts-polar-cross-line-create-for-radial-bar-circle-crosslines-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-enterprise/src/axes/polar-crosslines/__image_snapshots__/polar-cross-line-test-ts-polar-cross-line-create-for-radial-bar-polygon-crosslines-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-enterprise/src/series/radial-bar/__image_snapshots__/radial-bar-test-ts-radial-bar-series-add-animation-for-example-options-should-animate-at-0-1-snap.png
  packages/ag-charts-enterprise/src/series/radial-bar/__image_snapshots__/radial-bar-test-ts-radial-bar-series-add-animation-for-example-options-should-animate-at-100-1-snap.png
  packages/ag-charts-enterprise/src/series/radial-bar/__image_snapshots__/radial-bar-test-ts-radial-bar-series-add-animation-for-example-options-should-animate-at-25-1-snap.png
  packages/ag-charts-enterprise/src/series/radial-bar/__image_snapshots__/radial-bar-test-ts-radial-bar-series-add-animation-for-example-options-should-animate-at-50-1-snap.png
  packages/ag-charts-enterprise/src/series/radial-bar/__image_snapshots__/radial-bar-test-ts-radial-bar-series-add-animation-for-example-options-should-animate-at-75-1-snap.png
  packages/ag-charts-enterprise/src/series/radial-bar/__image_snapshots__/radial-bar-test-ts-radial-bar-series-initial-animation-for-example-options-should-animate-at-0-1-snap.png
  packages/ag-charts-enterprise/src/series/radial-bar/__image_snapshots__/radial-bar-test-ts-radial-bar-series-initial-animation-for-example-options-should-animate-at-100-1-snap.png
  packages/ag-charts-enterprise/src/series/radial-bar/__image_snapshots__/radial-bar-test-ts-radial-bar-series-initial-animation-for-example-options-should-animate-at-25-1-snap.png
  packages/ag-charts-enterprise/src/series/radial-bar/__image_snapshots__/radial-bar-test-ts-radial-bar-series-initial-animation-for-example-options-should-animate-at-50-1-snap.png
  packages/ag-charts-enterprise/src/series/radial-bar/__image_snapshots__/radial-bar-test-ts-radial-bar-series-initial-animation-for-example-options-should-animate-at-75-1-snap.png
  packages/ag-charts-enterprise/src/series/radial-bar/__image_snapshots__/radial-bar-test-ts-radial-bar-series-remove-animation-for-example-options-should-animate-at-0-1-snap.png
  packages/ag-charts-enterprise/src/series/radial-bar/__image_snapshots__/radial-bar-test-ts-radial-bar-series-remove-animation-for-example-options-should-animate-at-100-1-snap.png
  packages/ag-charts-enterprise/src/series/radial-bar/__image_snapshots__/radial-bar-test-ts-radial-bar-series-remove-animation-for-example-options-should-animate-at-25-1-snap.png
  packages/ag-charts-enterprise/src/series/radial-bar/__image_snapshots__/radial-bar-test-ts-radial-bar-series-remove-animation-for-example-options-should-animate-at-50-1-snap.png
  packages/ag-charts-enterprise/src/series/radial-bar/__image_snapshots__/radial-bar-test-ts-radial-bar-series-remove-animation-for-example-options-should-animate-at-75-1-snap.png
  packages/ag-charts-enterprise/src/series/radial-bar/__image_snapshots__/radial-bar-test-ts-radial-bar-series-should-render-normalized-radial-bar-as-expected-1-snap.png
  packages/ag-charts-enterprise/src/series/radial-bar/__image_snapshots__/radial-bar-test-ts-radial-bar-series-should-render-normalized-radial-bar-as-expected-2-snap.png
  packages/ag-charts-enterprise/src/series/radial-bar/__image_snapshots__/radial-bar-test-ts-radial-bar-series-should-render-radial-bar-chart-as-expected-1-snap.png
  packages/ag-charts-enterprise/src/series/radial-bar/__image_snapshots__/radial-bar-test-ts-radial-bar-series-should-render-radial-bar-chart-as-expected-with-reversed-axes-1-snap.png
  packages/ag-charts-enterprise/src/series/radial-bar/__image_snapshots__/radial-bar-test-ts-radial-bar-series-should-render-stacked-radial-bar-as-expected-1-snap.png
  packages/ag-charts-enterprise/src/series/radial-bar/__image_snapshots__/radial-bar-test-ts-radial-bar-series-should-render-stacked-radial-bar-as-expected-with-reversed-axes-1-snap.png
  packages/ag-charts-enterprise/src/series/radial-bar/__image_snapshots__/radial-bar-test-ts-radial-bar-series-update-animation-for-example-options-should-animate-at-0-1-snap.png
  packages/ag-charts-enterprise/src/series/radial-bar/__image_snapshots__/radial-bar-test-ts-radial-bar-series-update-animation-for-example-options-should-animate-at-100-1-snap.png
  packages/ag-charts-enterprise/src/series/radial-bar/__image_snapshots__/radial-bar-test-ts-radial-bar-series-update-animation-for-example-options-should-animate-at-25-1-snap.png
  packages/ag-charts-enterprise/src/series/radial-bar/__image_snapshots__/radial-bar-test-ts-radial-bar-series-update-animation-for-example-options-should-animate-at-50-1-snap.png
  packages/ag-charts-enterprise/src/series/radial-bar/__image_snapshots__/radial-bar-test-ts-radial-bar-series-update-animation-for-example-options-should-animate-at-75-1-snap.png
Owners: @alantreadway

AG-11755 Galery examples updates
  packages/ag-charts-website/src/content/gallery/_examples/100--stacked-area/main.ts
  packages/ag-charts-website/src/content/gallery/_examples/line-with-time-axis/main.ts
  packages/ag-charts-website/src/content/gallery/_examples/multiple-line-series/main.ts
  packages/ag-charts-website/src/content/gallery/_examples/stacked-area/main.ts
Owners: @ag-grid/ag-charts-team

Fix CI
  tools/calculate-next-version.js
Owners: @ag-grid/ag-charts-team

Fix all translations section in locale docs
  packages/ag-charts-website/src/utils/pages.ts
Owners: @ag-grid/ag-charts-team

scatter/bubble options
  packages/ag-charts-community/src/chart/series/cartesian/bubbleSeriesProperties.ts
  packages/ag-charts-community/src/chart/series/cartesian/scatterSeriesProperties.ts
  packages/ag-charts-community/src/chart/series/series.ts
  packages/ag-charts-types/src/chart/callbackOptions.ts
  packages/ag-charts-types/src/chart/errorBarOptions.ts
  packages/ag-charts-types/src/series/cartesian/bubbleOptions.ts
  packages/ag-charts-types/src/series/cartesian/scatterOptions.ts
Owners: @alantreadway, @ag-grid/ag-charts-team

Fix FW docs
  packages/ag-charts-angular/projects/ag-charts-angular/src/lib/ag-charts.component.spec.ts
  packages/ag-charts-vue3/package.json
  packages/ag-charts-website/src/content/docs/api-download/index.mdoc
  packages/ag-charts-website/src/content/docs/installation/index.mdoc
  packages/ag-charts-website/src/content/docs/quick-start/index.mdoc
  plugins/ag-charts-generate-example-files/src/executors/generate/generator/transformation-scripts/vue-utils.test.ts
Owners: @ag-grid/ag-charts-team, @alantreadway, @rmc-software

AG-11591 Update snapshots
  packages/ag-charts-community/src/module/__snapshots__/optionsModule.test.ts.snap
  packages/ag-charts-community/src/module/optionsModule.test.ts
Owners: @alantreadway

AG-11370 Move tab-guard logic back into DOMManager
  packages/ag-charts-community/src/chart/chart.ts
  packages/ag-charts-community/src/chart/chartContext.ts
  packages/ag-charts-community/src/chart/dom/domManager.ts
  packages/ag-charts-community/src/scene/scene.ts
  packages/ag-charts-community/src/util/guardedElement.ts
Owners: @alantreadway

AG-11370 Add listeners to canvas only for keyboard events
  packages/ag-charts-community/src/chart/interaction/interactionManager.ts
Owners: @alantreadway

AG-11370 Move tab-guards around <canvas> instead of domManager root
  packages/ag-charts-community/src/chart/chart.ts
  packages/ag-charts-community/src/scene/canvas/hdpiCanvas.ts
  packages/ag-charts-community/src/scene/scene.ts
  packages/ag-charts-community/src/util/guardedElement.ts
Owners: @alantreadway

AG-11370 Add listeners on <canvas> instead of on root <div>
  packages/ag-charts-community/src/chart/chart.ts
  packages/ag-charts-community/src/chart/dom/domManager.ts
  packages/ag-charts-community/src/chart/interaction/interactionManager.ts
Owners: @alantreadway

AG-11370 Remove DOMManager.getDocumentCanvas()
  packages/ag-charts-community/src/chart/chartContext.ts
  packages/ag-charts-community/src/chart/dom/domManager.ts
  packages/ag-charts-community/src/chart/interaction/interactionManager.ts
Owners: @alantreadway

AG-11370 CR: Use DOM.addEventListener in InteractionManager
  packages/ag-charts-community/src/chart/chartContext.ts
  packages/ag-charts-community/src/chart/dom/domManager.ts
  packages/ag-charts-community/src/chart/interaction/interactionManager.ts
Owners: @alantreadway

AG-11370 Remove unused code after rebase
  packages/ag-charts-community/src/chart/dom/domManager.ts
Owners: @alantreadway

AG-11370 Fix 'ag-charts-tab-guard' styling
  packages/ag-charts-community/src/chart/dom/domManager.ts
Owners: @alantreadway

AG-11370 Fix DOMManager.setTabIndex
  packages/ag-charts-community/src/chart/dom/domManager.ts
  packages/ag-charts-community/src/chart/interaction/keyNavManager.ts
Owners: @alantreadway
