Repository ag-grid/ag-charts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ag-grid/ag-charts-team, @markdurrant, @taktran, @alantreadway, @rmc-software

.github/CODEOWNERS:

# NOTE: Order of entries matters - later entries have higher precedence.

# Attribute code-owners so default reviewers are assigned to PRs.
* @ag-grid/ag-charts-team

# Astro + website changes to be reviewed by website team.
*.scss @markdurrant
*.astro @taktran
/packages/ag-charts-website/astro/** @taktran
/packages/ag-charts-website/components/** @taktran
/packages/ag-charts-website/features/** @taktran
/packages/ag-charts-website/layouts/** @taktran
/packages/ag-charts-website/stores/** @taktran
/packages/ag-charts-website/utils/** @taktran

# Docs updates to be reviewed by Eng VP.
/packages/ag-charts-website/content/** @alantreadway @rmc-software
*.mdoc @rmc-software

# Charts library code to be reviewed by Chart TL.
/packages/ag-charts-community/** @alantreadway
/packages/ag-charts-enterprise/** @alantreadway

# Sensitive build/repo files to be reviewed by Chart TL.
**/package.json @alantreadway
nx.json @alantreadway
**/project.json @alantreadway
**/tsconfig.json @alantreadway
**/tsconfig.*.json @alantreadway

CRT-561 Fix axis button to hide when tab out like crosshairs
  packages/ag-charts-enterprise/src/features/annotations/axisButton.ts
Owners: @alantreadway

CRT-545 Fix radius types
  packages/ag-charts-types/src/presets/gauge/radialGaugeOptions.ts
Owners: @ag-grid/ag-charts-team

Version Bump
  .env
  libraries/ag-charts-test/package.json
  package.json
  packages/ag-charts-angular/package.json
  packages/ag-charts-angular/projects/ag-charts-angular/package.json
  packages/ag-charts-community-examples/package.json
  packages/ag-charts-community/package.json
  packages/ag-charts-community/src/version.ts
  packages/ag-charts-enterprise/package.json
  packages/ag-charts-locale/package.json
  packages/ag-charts-react/package.json
  packages/ag-charts-types/package.json
  packages/ag-charts-vue3/package.json
  packages/ag-charts-website/.env.build
  packages/ag-charts-website/.env.build.archive
  packages/ag-charts-website/.env.build.production
  packages/ag-charts-website/.env.build.staging
  packages/ag-charts-website/.env.dev
  packages/ag-charts-website/.env.preview
  packages/ag-charts-website/.env.preview.production
  packages/ag-charts-website/.env.preview.staging
  packages/ag-charts-website/.env.test:e2e
  packages/ag-charts-website/.env.test:e2e.docker
  packages/ag-charts-website/package.json
  plugins/ag-charts-generate-chart-thumbnail/package.json
  plugins/ag-charts-generate-code-reference-files/package.json
  plugins/ag-charts-generate-example-files/package.json
Owners: @ag-grid/ag-charts-team, @alantreadway

Fix build break after merge.
  packages/ag-charts-enterprise/src/features/annotations/states/stateTypes.ts
Owners: @alantreadway

AG-NONE Move legend.proxy* properties into a new file
  packages/ag-charts-community/src/chart/legend.ts
  packages/ag-charts-community/src/chart/legendDOMProxy.ts
Owners: @alantreadway

Account for new module files in dist
  tools/release/validateDistFolders.sh
Owners: @ag-grid/ag-charts-team

Release 10.3.0 Prep
  .env
  libraries/ag-charts-test/package.json
  package.json
  packages/ag-charts-angular/package.json
  packages/ag-charts-angular/projects/ag-charts-angular/package.json
  packages/ag-charts-community-examples/package.json
  packages/ag-charts-community/package.json
  packages/ag-charts-community/src/version.ts
  packages/ag-charts-enterprise/package.json
  packages/ag-charts-enterprise/src/license/licenseManager.ts
  packages/ag-charts-locale/package.json
  packages/ag-charts-react/package.json
  packages/ag-charts-types/package.json
  packages/ag-charts-vue3/package.json
  packages/ag-charts-website/.env.build
  packages/ag-charts-website/.env.build.archive
  packages/ag-charts-website/.env.build.production
  packages/ag-charts-website/.env.build.staging
  packages/ag-charts-website/.env.dev
  packages/ag-charts-website/.env.preview
  packages/ag-charts-website/.env.preview.production
  packages/ag-charts-website/.env.preview.staging
  packages/ag-charts-website/.env.test:e2e
  packages/ag-charts-website/.env.test:e2e.docker
  packages/ag-charts-website/package.json
  plugins/ag-charts-generate-chart-thumbnail/package.json
  plugins/ag-charts-generate-code-reference-files/package.json
  plugins/ag-charts-generate-example-files/package.json
Owners: @ag-grid/ag-charts-team, @alantreadway

AG-3390 - Fix node Algolia script for new docs nav
  packages/ag-charts-website/update-algolia.js
Owners: @ag-grid/ag-charts-team

AG-3390 - Fix node Algolia script for new docs nav (#2811)
  packages/ag-charts-website/update-algolia.js
Owners: @ag-grid/ag-charts-team

AG-NONE Move initRovingTabIndex to LegendDOMProxy
  packages/ag-charts-community/src/chart/legend.ts
  packages/ag-charts-community/src/chart/legendDOMProxy.ts
Owners: @alantreadway

AG-3390 - Fix node Algolia script for new docs nav
  packages/ag-charts-website/update-algolia.js
Owners: @ag-grid/ag-charts-team

AG-13233 - Add legend to Shadow-DOM example.
  packages/ag-charts-website/src/content/docs/layout-test/_examples/layout-shadow-dom/main.ts
Owners: @ag-grid/ag-charts-team

AG-NONE Move getItemAria* methods into legendDOMProxy.ts
  packages/ag-charts-community/src/chart/legend.ts
  packages/ag-charts-community/src/chart/legendDOMProxy.ts
Owners: @alantreadway

AG-NONE Add a getter for Selection.nodes().length
  packages/ag-charts-community/src/chart/legend.ts
  packages/ag-charts-community/src/scene/selection.ts
Owners: @alantreadway

CRT-555 - Update customised radial gauge example
  packages/ag-charts-website/src/content/gallery/_examples/customised-radial-gauge/index.html
  packages/ag-charts-website/src/content/gallery/_examples/customised-radial-gauge/main.ts
  packages/ag-charts-website/src/content/gallery/data.json
Owners: @ag-grid/ag-charts-team

AG-NONE Move initLegendItemToolbar into legendDOMProxy.ts
  packages/ag-charts-community/src/chart/legend.ts
  packages/ag-charts-community/src/chart/legendDOMProxy.ts
Owners: @alantreadway

AG-NONE Move Legend.onLocaleChanged logic to legendDOMProxy.ts
  packages/ag-charts-community/src/chart/legend.ts
  packages/ag-charts-community/src/chart/legendDOMProxy.ts
Owners: @alantreadway

AG-NONE Make LegendDOMProxy.getItemAria* methods private
  packages/ag-charts-community/src/chart/legend.ts
  packages/ag-charts-community/src/chart/legendDOMProxy.ts
Owners: @alantreadway

AG-NONE Move Legend.onDataChanged to LegendDOMProxy
  packages/ag-charts-community/src/chart/legend.ts
  packages/ag-charts-community/src/chart/legendDOMProxy.ts
Owners: @alantreadway

AG-NONE Make itemList and itemDescription private
  packages/ag-charts-community/src/chart/legend.ts
  packages/ag-charts-community/src/chart/legendDOMProxy.ts
Owners: @alantreadway

AG-NONE Move Legend.updateItemProxyButtons to LegendDOMProxy
  packages/ag-charts-community/src/chart/legend.ts
  packages/ag-charts-community/src/chart/legendDOMProxy.ts
Owners: @alantreadway

AG-NONE Make LegendDOMProxy.destroyFns private
  packages/ag-charts-community/src/chart/legendDOMProxy.ts
Owners: @alantreadway

AG-NONE Move pagination cursor update logic to LegendDOMProxy
  packages/ag-charts-community/src/chart/legend.ts
  packages/ag-charts-community/src/chart/legendDOMProxy.ts
Owners: @alantreadway

AG-3390 - Fix clicking of homepage automated example (#2813)
  external/ag-website-shared/src/components/automated-examples/examples/integrated-charts/createScript.ts
  external/ag-website-shared/src/components/automated-examples/lib/agElements/agElementsConfig.ts
  external/ag-website-shared/src/components/automated-examples/lib/constants.ts
Owners: @ag-grid/ag-charts-team

AG-NONE Move Legend.updatePaginationProxyButtons into LegendDOMProxy
  packages/ag-charts-community/src/chart/legend.ts
  packages/ag-charts-community/src/chart/legendDOMProxy.ts
Owners: @alantreadway

Version Bump
  .env
  libraries/ag-charts-test/package.json
  package.json
  packages/ag-charts-angular/package.json
  packages/ag-charts-angular/projects/ag-charts-angular/package.json
  packages/ag-charts-community-examples/package.json
  packages/ag-charts-community/package.json
  packages/ag-charts-community/src/version.ts
  packages/ag-charts-enterprise/package.json
  packages/ag-charts-locale/package.json
  packages/ag-charts-react/package.json
  packages/ag-charts-types/package.json
  packages/ag-charts-vue3/package.json
  packages/ag-charts-website/.env.build
  packages/ag-charts-website/.env.build.archive
  packages/ag-charts-website/.env.build.production
  packages/ag-charts-website/.env.build.staging
  packages/ag-charts-website/.env.dev
  packages/ag-charts-website/.env.preview
  packages/ag-charts-website/.env.preview.production
  packages/ag-charts-website/.env.preview.staging
  packages/ag-charts-website/.env.test:e2e
  packages/ag-charts-website/.env.test:e2e.docker
  packages/ag-charts-website/package.json
  plugins/ag-charts-generate-chart-thumbnail/package.json
  plugins/ag-charts-generate-code-reference-files/package.json
  plugins/ag-charts-generate-example-files/package.json
Owners: @ag-grid/ag-charts-team, @alantreadway

AG-NONE Flip last remaining LegendDOMProxy props to private
  packages/ag-charts-community/src/chart/legendDOMProxy.ts
Owners: @alantreadway

AG-NONE Make LegendDOMProxy.updateVisibility private
  packages/ag-charts-community/src/chart/legend.ts
  packages/ag-charts-community/src/chart/legendDOMProxy.ts
Owners: @alantreadway

AG-NONE Make idPrefix a LegendDOMProxy private property
  packages/ag-charts-community/src/chart/legend.ts
  packages/ag-charts-community/src/chart/legendDOMProxy.ts
Owners: @alantreadway

AG-NONE Use a LegendDOMProxyUpdateParams type in update()
  packages/ag-charts-community/src/chart/legend.ts
  packages/ag-charts-community/src/chart/legendDOMProxy.ts
Owners: @alantreadway

AG-NONE Make initLegendList private
  packages/ag-charts-community/src/chart/legend.ts
  packages/ag-charts-community/src/chart/legendDOMProxy.ts
Owners: @alantreadway

AG-NONE Remove unused import
  packages/ag-charts-community/src/chart/legendDOMProxy.ts
Owners: @alantreadway

AG-13182 - Save text and exit text edit mode on chart resize
  packages/ag-charts-enterprise/src/features/annotations/annotations.ts
  packages/ag-charts-enterprise/src/features/annotations/annotationsStateMachine.ts
  packages/ag-charts-enterprise/src/features/annotations/states/stateTypes.ts
  packages/ag-charts-enterprise/src/features/annotations/states/textualPointState.ts
  packages/ag-charts-enterprise/src/features/annotations/states/textualStartEndState.ts
Owners: @alantreadway

AG-NONE Fix @typescript-eslint/prefer-readonly error
  packages/ag-charts-community/src/chart/legend.ts
Owners: @alantreadway

Incremental axis cleanup (1)
  packages/ag-charts-community/src/chart/axis/__image_snapshots__/time-axis-test-ts-time-axis-examples-when-zooming-for-should-render-as-expected-as-zoom-0-35-0-375-2-snap.png
  packages/ag-charts-community/src/chart/axis/__image_snapshots__/time-axis-test-ts-time-axis-examples-when-zooming-for-should-render-as-expected-as-zoom-0-4-0-4125-2-snap.png
  packages/ag-charts-community/src/chart/axis/__snapshots__/timeAxis.test.ts.snap
  packages/ag-charts-community/src/chart/axis/axis.ts
  packages/ag-charts-community/src/chart/axis/axisTicks.ts
  packages/ag-charts-community/src/module/axisContext.ts
  packages/ag-charts-community/src/scene/selection.ts
  packages/ag-charts-community/src/util/tempUtils.ts
  packages/ag-charts-enterprise/src/features/annotations/__image_snapshots__/annotations-test-ts-annotations-initial-should-render-a-date-price-range-annotation-1-snap.png
  packages/ag-charts-enterprise/src/features/annotations/__image_snapshots__/annotations-test-ts-annotations-initial-should-render-a-date-range-annotation-1-snap.png
  packages/ag-charts-enterprise/src/features/annotations/__image_snapshots__/annotations-test-ts-annotations-lines-with-text-should-render-date-price-range-annotations-with-text-1-snap.png
  packages/ag-charts-enterprise/src/features/annotations/annotationTypes.ts
  packages/ag-charts-enterprise/src/features/annotations/annotations.ts
  packages/ag-charts-enterprise/src/features/annotations/axisButton.ts
  packages/ag-charts-enterprise/src/features/annotations/cross-line/crossLineScene.ts
  packages/ag-charts-enterprise/src/features/annotations/measurer/measurerScene.ts
  packages/ag-charts-enterprise/src/features/annotations/utils/validation.ts
  packages/ag-charts-enterprise/src/features/annotations/utils/values.ts
  packages/ag-charts-enterprise/src/features/crosshair/crosshair.ts
Owners: @alantreadway

AG-13233 - Add styleContainer to avoid detached DOM causing styling issues.
  packages/ag-charts-community/src/chart/chart.ts
  packages/ag-charts-community/src/chart/chartContext.ts
  packages/ag-charts-community/src/chart/chartProperties.ts
  packages/ag-charts-community/src/dom/domManager.ts
  packages/ag-charts-types/src/chart/chartOptions.ts
  packages/ag-charts-website/src/content/docs/layout-test/_examples/layout-detached-shadow-dom/exampleConfig.json
  packages/ag-charts-website/src/content/docs/layout-test/_examples/layout-detached-shadow-dom/index.html
  packages/ag-charts-website/src/content/docs/layout-test/_examples/layout-detached-shadow-dom/main.ts
  packages/ag-charts-website/src/content/docs/layout-test/_examples/layout-detached-shadow-dom/styles.css
  packages/ag-charts-website/src/content/docs/layout-test/index.mdoc
Owners: @alantreadway, @ag-grid/ag-charts-team, @rmc-software

missing snapshot
  packages/ag-charts-community/src/chart/axis/__image_snapshots__/time-axis-test-ts-time-axis-examples-when-zooming-for-should-render-as-expected-as-zoom-0-45-0-45625-2-snap.png
Owners: @alantreadway

AG-13031 - Remove 'layout' example option
  packages/ag-charts-website/src/features/example-runner/components/FrameworkTemplate.astro
  packages/ag-charts-website/src/features/example-runner/framework-templates/AngularTemplate.astro
  packages/ag-charts-website/src/features/example-runner/framework-templates/JavascriptTemplate.astro
  packages/ag-charts-website/src/features/example-runner/framework-templates/ReactTemplate.astro
  packages/ag-charts-website/src/features/example-runner/framework-templates/TypescriptTemplate.astro
  packages/ag-charts-website/src/features/example-runner/framework-templates/VueTemplate.astro
Owners: @taktran

AG-13031 - Don't render example control styles for external sites (Plunkr, Codesandbox)
  external/ag-website-shared/src/components/example-runner/example-controls.css
  packages/ag-charts-website/src/features/docs/components/DocsFrameworkTemplate.astro
  packages/ag-charts-website/src/features/example-runner/components/FrameworkTemplate.astro
  packages/ag-charts-website/src/features/example-runner/framework-templates/AngularTemplate.astro
  packages/ag-charts-website/src/features/example-runner/framework-templates/JavascriptTemplate.astro
  packages/ag-charts-website/src/features/example-runner/framework-templates/ReactTemplate.astro
  packages/ag-charts-website/src/features/example-runner/framework-templates/TypescriptTemplate.astro
  packages/ag-charts-website/src/features/example-runner/framework-templates/VueTemplate.astro
  packages/ag-charts-website/src/pages/[internalFramework]/[pageName]/examples/[exampleName]/codesandbox.astro
  packages/ag-charts-website/src/pages/[internalFramework]/[pageName]/examples/[exampleName]/plunkr.astro
Owners: @ag-grid/ag-charts-team, @taktran

AG-13031 - Tweak example controls css
  external/ag-website-shared/src/components/example-runner/example-controls.css
Owners: @ag-grid/ag-charts-team
