Repository ag-grid/ag-charts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ag-grid/ag-charts-team, @markdurrant, @taktran, @alantreadway, @rmc-software

.github/CODEOWNERS:

# NOTE: Order of entries matters - later entries have higher precedence.

# Attribute code-owners so default reviewers are assigned to PRs.
* @ag-grid/ag-charts-team

# Astro + website changes to be reviewed by website team.
*.scss @markdurrant
*.astro @taktran
/packages/ag-charts-website/astro/** @taktran
/packages/ag-charts-website/components/** @taktran
/packages/ag-charts-website/features/** @taktran
/packages/ag-charts-website/layouts/** @taktran
/packages/ag-charts-website/stores/** @taktran
/packages/ag-charts-website/utils/** @taktran

# Docs updates to be reviewed by Eng VP.
/packages/ag-charts-website/content/** @alantreadway @rmc-software
*.mdoc @rmc-software

# Charts library code to be reviewed by Chart TL.
/packages/ag-charts-community/** @alantreadway
/packages/ag-charts-enterprise/** @alantreadway

# Sensitive build/repo files to be reviewed by Chart TL.
**/package.json @alantreadway
nx.json @alantreadway
**/project.json @alantreadway
**/tsconfig.json @alantreadway
**/tsconfig.*.json @alantreadway

AG-12380 Fix clear all annotations and toolbar while drawing
  packages/ag-charts-enterprise/src/features/annotations/annotationTypes.ts
  packages/ag-charts-enterprise/src/features/annotations/annotations.ts
  packages/ag-charts-enterprise/src/features/annotations/annotationsSuperTypes.ts
  packages/ag-charts-enterprise/src/features/annotations/states/textualPointState.ts
  packages/ag-charts-enterprise/src/features/annotations/states/textualStartEndState.ts
Owners: @alantreadway

AG-12330 Show selected font size
  packages/ag-charts-enterprise/src/features/annotations/annotations.ts
Owners: @alantreadway

AG-12377 Fix deleting text annotation while editing
  packages/ag-charts-enterprise/src/features/annotations/annotations.ts
  packages/ag-charts-enterprise/src/features/annotations/annotationsStateMachine.ts
Owners: @alantreadway

AG-12366 - Add placeholder text for all text annotations
  packages/ag-charts-community/src/chart/dom/theme.css
  packages/ag-charts-enterprise/src/features/annotations/annotations.ts
  packages/ag-charts-enterprise/src/features/annotations/callout/calloutProperties.ts
  packages/ag-charts-enterprise/src/features/annotations/comment/commentProperties.ts
  packages/ag-charts-enterprise/src/features/annotations/properties/textualPointProperties.ts
  packages/ag-charts-enterprise/src/features/annotations/properties/textualStartEndProperties.ts
  packages/ag-charts-enterprise/src/features/annotations/states/textualPointState.ts
  packages/ag-charts-enterprise/src/features/annotations/states/textualStartEndState.ts
  packages/ag-charts-enterprise/src/features/text-input/textInput.ts
  packages/ag-charts-enterprise/src/features/text-input/textInputStyles.css
Owners: @alantreadway

AG-12341 Remove text align from annotations memento
  packages/ag-charts-community/src/chart/annotation/annotationManager.ts
Owners: @alantreadway

Update translations
  packages/ag-charts-locale/src/en-US.ts
Owners: @ag-grid/ag-charts-team

Fix textWrap config + height calculation on first edit
  packages/ag-charts-enterprise/src/features/annotations/note/noteScene.ts
  packages/ag-charts-enterprise/src/features/annotations/scenes/textualPointScene.ts
  packages/ag-charts-enterprise/src/features/text-input/textInput.ts
Owners: @alantreadway

AG-12161 - Remove stroke properties from comment text annotation
  packages/ag-charts-enterprise/src/features/annotations/comment/commentProperties.ts
  packages/ag-charts-enterprise/src/features/annotations/comment/commentScene.ts
Owners: @alantreadway

AG-12301 - Fix console warnings.
  packages/ag-charts-community/src/chart/series/seriesAreaHighlightManager.ts
Owners: @alantreadway

AG-12455 Adjust padding in popover
  packages/ag-charts-enterprise/src/features/popover/popover.css
Owners: @alantreadway

AG-12366 - Remove comment
  packages/ag-charts-enterprise/src/features/text-input/textInput.ts
Owners: @alantreadway

AG-12455 Adjust padding in popover (#2116)
  packages/ag-charts-enterprise/src/features/popover/popover.css
Owners: @alantreadway

AG-12160 - Fix position of callout body
  packages/ag-charts-enterprise/src/features/annotations/callout/calloutProperties.ts
  packages/ag-charts-enterprise/src/features/annotations/callout/calloutScene.ts
Owners: @alantreadway

AG-12160 - Add start and end to options interface
  packages/ag-charts-types/src/chart/annotationsOptions.ts
Owners: @ag-grid/ag-charts-team

AG-12160 - Fix other text annotation options
  packages/ag-charts-types/src/chart/annotationsOptions.ts
  packages/ag-charts-website/src/content/docs/financial-charts-toolbar/_examples/text-annotations/main.ts
Owners: @ag-grid/ag-charts-team

Revert "AG-12161 - Remove stroke properties from comment text annotation"
  packages/ag-charts-enterprise/src/features/annotations/comment/commentProperties.ts
  packages/ag-charts-enterprise/src/features/annotations/comment/commentScene.ts
Owners: @alantreadway

capitalisation
  packages/ag-charts-locale/src/en-US.ts
Owners: @ag-grid/ag-charts-team

type cleanup
  packages/ag-charts-enterprise/src/features/annotations/scenes/textualPointScene.ts
Owners: @alantreadway

AG-12301 - Fix annotation update conflicting with series highlight processing.
  packages/ag-charts-community/src/chart/chart.ts
  packages/ag-charts-community/src/chart/chartUpdateType.ts
  packages/ag-charts-community/src/chart/series/seriesAreaClickManager.ts
  packages/ag-charts-community/src/chart/series/seriesAreaFocusManager.ts
  packages/ag-charts-community/src/chart/series/seriesAreaHighlightManager.ts
  packages/ag-charts-community/src/chart/series/seriesAreaManager.ts
  packages/ag-charts-community/src/chart/series/seriesAreaTooltipManager.ts
  packages/ag-charts-community/src/chart/updateService.ts
  packages/ag-charts-enterprise/src/features/annotations/annotations.ts
  packages/ag-charts-enterprise/src/features/zoom/zoom.ts
Owners: @alantreadway

AG-12418 - Make callout corner & side tails more visually consistent
  packages/ag-charts-enterprise/src/features/annotations/callout/calloutScene.ts
Owners: @alantreadway

AG-12418 - Tweak callout padding
  packages/ag-charts-enterprise/src/features/annotations/callout/calloutScene.ts
Owners: @alantreadway

AG-12418 - Make callout padding static, set specific padding for each direction
  packages/ag-charts-enterprise/src/features/annotations/callout/calloutScene.ts
Owners: @alantreadway

AG-12301 - Lint fixes.
  packages/ag-charts-community/src/chart/series/seriesAreaHighlightManager.ts
Owners: @alantreadway

Revert "AG-12161 - Remove stroke properties from comment text annotation"
  packages/ag-charts-enterprise/src/features/annotations/comment/commentProperties.ts
  packages/ag-charts-enterprise/src/features/annotations/comment/commentScene.ts
Owners: @alantreadway

AG-12301 - Update snapshots.
  packages/ag-charts-enterprise/src/features/zoom/__image_snapshots__/zoom-test-ts-zoom-panning-should-pan-both-axes-1-snap.png
Owners: @alantreadway

AG-12161 - Set default stroke for comment to transparent. Use theme stroke if provided. Fallback to theme stroke/fill for handle
  packages/ag-charts-enterprise/src/features/annotations/annotationsModule.ts
  packages/ag-charts-enterprise/src/features/annotations/comment/commentScene.ts
Owners: @alantreadway

AG-12418 - Fix typo
  packages/ag-charts-enterprise/src/features/annotations/callout/calloutScene.ts
Owners: @alantreadway

AG-12418 - Make callout padding readonly
  packages/ag-charts-enterprise/src/features/annotations/callout/calloutScene.ts
Owners: @alantreadway

AG-12162 Remove font size button from note annotation
  packages/ag-charts-enterprise/src/features/annotations/annotations.ts
  packages/ag-charts-enterprise/src/features/annotations/annotationsConfig.ts
Owners: @alantreadway

AG-12162 Change note fill to use line color icon
  packages/ag-charts-enterprise/src/features/annotations/annotationsConfig.ts
  packages/ag-charts-enterprise/src/features/annotations/note/noteProperties.ts
Owners: @alantreadway

AG-12162 Fix text annotation options and theme
  packages/ag-charts-enterprise/src/features/annotations/annotationsModule.ts
  packages/ag-charts-enterprise/src/features/annotations/note/noteScene.ts
  packages/ag-charts-types/src/chart/annotationsOptions.ts
Owners: @alantreadway, @ag-grid/ag-charts-team

AG-12162 Fix note zIndex when hovered
  packages/ag-charts-community/src/chart/layers.ts
  packages/ag-charts-enterprise/src/features/annotations/note/noteScene.ts
  packages/ag-charts-enterprise/src/features/annotations/scenes/annotationScene.ts
Owners: @alantreadway

AG-12162 Add stroke to comment theme
  packages/ag-charts-types/src/chart/annotationsOptions.ts
Owners: @ag-grid/ag-charts-team

AG-12162 Add note annotation shape colours to theme
  packages/ag-charts-community/src/chart/themes/chartTheme.ts
  packages/ag-charts-community/src/chart/themes/darkTheme.ts
  packages/ag-charts-community/src/chart/themes/symbols.ts
  packages/ag-charts-enterprise/src/features/annotations/annotationsModule.ts
Owners: @alantreadway

AG-12366 - Fix placeholder color
  packages/ag-charts-enterprise/src/features/annotations/callout/calloutProperties.ts
  packages/ag-charts-enterprise/src/features/annotations/comment/commentProperties.ts
Owners: @alantreadway

AG-12366 - Fix placeholder font-weight
  packages/ag-charts-enterprise/src/features/text-input/textInputStyles.css
Owners: @alantreadway

AG-12460 Improve padding and hover interaction
  packages/ag-charts-enterprise/src/features/popover/popover.css
Owners: @alantreadway

AG-12418 - Add `getTextInputCoords` override to callout annotations
  packages/ag-charts-enterprise/src/features/annotations/callout/calloutProperties.ts
Owners: @alantreadway

AG-12418 - Fix left postion of text input box
  packages/ag-charts-enterprise/src/features/annotations/callout/calloutProperties.ts
Owners: @alantreadway

AG-12366 - Fix callout annotation placeholder text on initial creation before second click
  packages/ag-charts-enterprise/src/features/annotations/properties/textualStartEndProperties.ts
  packages/ag-charts-enterprise/src/features/annotations/scenes/textualStartEndScene.ts
  packages/ag-charts-enterprise/src/features/annotations/states/textualStartEndState.ts
Owners: @alantreadway
