Repository ag-grid/ag-charts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ag-grid/ag-charts-team, @markdurrant, @taktran, @alantreadway, @rmc-software

Remove explicit GHA status updates.
  .github/workflows/ci.yml
  .github/workflows/e2e.yml
Owners: @ag-grid/ag-charts-team

AG-12053 - Simplify gallery examples robots.txt
  packages/ag-charts-website/src/utils/sitemapPages.ts
Owners: @ag-grid/ag-charts-team

AG-12051 - Add play/pause buttons
  external/ag-website-shared/src/components/icon/Icon.tsx
  external/ag-website-shared/src/components/video/Video.module.scss
  external/ag-website-shared/src/components/video/Video.tsx
Owners: @ag-grid/ag-charts-team, @markdurrant

AG-12051 - Add darkmode videos
  external/ag-website-shared/src/components/video/Video.astro
  external/ag-website-shared/src/components/video/Video.tsx
  external/ag-website-shared/src/markdoc/tags/video.ts
Owners: @taktran, @ag-grid/ag-charts-team

AG-12051 - Add `autoplay` & `showPlayPauseButtons` attributes
  external/ag-website-shared/src/components/video/Video.tsx
Owners: @ag-grid/ag-charts-team

AG-12051 - Add dummy video component
  external/ag-website-shared/src/components/video/Video.astro
  external/ag-website-shared/src/components/video/Video.module.scss
  external/ag-website-shared/src/components/video/Video.tsx
  external/ag-website-shared/src/markdoc/tags/video.ts
  packages/ag-charts-website/markdoc.config.ts
  packages/ag-charts-website/src/content/docs/financial-charts/index.mdoc
  packages/ag-charts-website/src/content/docs/financial-charts/resources/example-video-file-dark.mp4
  packages/ag-charts-website/src/content/docs/financial-charts/resources/example-video-file-light.mp4
Owners: @taktran, @markdurrant, @ag-grid/ag-charts-team, @rmc-software

AG-12051 - Add video to page
  external/ag-website-shared/src/components/video/Video.astro
  external/ag-website-shared/src/components/video/Video.tsx
  external/ag-website-shared/src/markdoc/tags/video.ts
  packages/ag-charts-website/src/content/docs/financial-charts/index.mdoc
  packages/ag-charts-website/src/content/docs/financial-charts/resources/example-video-file.mp4
  packages/ag-charts-website/src/features/docs/utils/filesData.ts
Owners: @taktran, @ag-grid/ag-charts-team, @rmc-software

git subrepo pull external/ag-website-shared
  external/ag-website-shared/.gitrepo
  external/ag-website-shared/src/components/footer/Footer.module.scss
  external/ag-website-shared/src/components/license-setup/utils/templates.ts
  external/ag-website-shared/src/content/license-features/gridFeaturesMatrix.json
Owners: @ag-grid/ag-charts-team, @markdurrant

AG-12053 - Add archive folders to robots.txt and add noindex
  packages/ag-charts-website/src/layouts/Layout.astro
  packages/ag-charts-website/src/pages/robots.txt.ts
  packages/ag-charts-website/src/utils/env.ts
  packages/ag-charts-website/src/utils/sitemapPages.ts
Owners: @taktran, @ag-grid/ag-charts-team

AG-12051 - Update financial charts overview gif/videos
  external/ag-website-shared/src/components/video/Video.module.scss
  external/ag-website-shared/src/components/video/Video.tsx
  packages/ag-charts-website/src/content/docs/financial-charts/index.mdoc
  packages/ag-charts-website/src/content/docs/financial-charts/resources/annotations-dark.mp4
  packages/ag-charts-website/src/content/docs/financial-charts/resources/annotations.gif
  packages/ag-charts-website/src/content/docs/financial-charts/resources/annotations.mp4
  packages/ag-charts-website/src/content/docs/financial-charts/resources/chart-types-dark.gif
  packages/ag-charts-website/src/content/docs/financial-charts/resources/chart-types-dark.mp4
  packages/ag-charts-website/src/content/docs/financial-charts/resources/chart-types.gif
  packages/ag-charts-website/src/content/docs/financial-charts/resources/chart-types.mp4
  packages/ag-charts-website/src/content/docs/financial-charts/resources/example-video-file-dark.mp4
  packages/ag-charts-website/src/content/docs/financial-charts/resources/example-video-file.mp4
  packages/ag-charts-website/src/content/docs/financial-charts/resources/zoom-dark.mp4
  packages/ag-charts-website/src/content/docs/financial-charts/resources/zoom.gif
Owners: @markdurrant, @ag-grid/ag-charts-team, @rmc-software

wip
  packages/ag-charts-community/src/util/textMeasurer.ts
  packages/ag-charts-enterprise/src/series/map-shape/mapShapeSeries.ts
  packages/ag-charts-enterprise/src/series/treemap/treemapSeries.ts
  packages/ag-charts-enterprise/src/series/util/autoSizedLabel.ts
  packages/ag-charts-enterprise/src/series/util/labelFormatter.ts
Owners: @alantreadway

Add watch.js repeated respawn detection.
  packages/all/watch.js
Owners: @ag-grid/ag-charts-team

AG-12067 - Avoid jsonApply and setPath from allowing prototype pollution.
  packages/ag-charts-community/src/util/json.ts
  packages/ag-charts-community/src/util/object.ts
Owners: @alantreadway

Lint fix.
  packages/ag-charts-enterprise/src/preset/test/stockData.ts
Owners: @alantreadway

AG-12067 - Avoid jsonApply and setPath from allowing prototype pollution.
  packages/ag-charts-community/src/util/object.ts
Owners: @alantreadway

AG-12042 Fix zoom to here going to wrong position
  packages/ag-charts-enterprise/src/features/zoom/zoom.ts
  packages/ag-charts-enterprise/src/features/zoom/zoomContextMenu.ts
  packages/ag-charts-website/e2e/context-menu.spec.ts
  packages/ag-charts-website/e2e/context-menu.spec.ts-snapshots/pan-to-here-chromium-darwin.png
  packages/ag-charts-website/e2e/context-menu.spec.ts-snapshots/zoom-to-here-chromium-darwin.png
Owners: @alantreadway, @ag-grid/ag-charts-team

Release prep for 10.0.1
  .env
  libraries/ag-charts-test/package.json
  package.json
  packages/ag-charts-angular/package.json
  packages/ag-charts-angular/projects/ag-charts-angular/package.json
  packages/ag-charts-community-examples/package.json
  packages/ag-charts-community/package.json
  packages/ag-charts-community/src/version.ts
  packages/ag-charts-enterprise/package.json
  packages/ag-charts-locale/package.json
  packages/ag-charts-react/package.json
  packages/ag-charts-types/package.json
  packages/ag-charts-vue3/package.json
  packages/ag-charts-website/.env.build
  packages/ag-charts-website/.env.build.archive
  packages/ag-charts-website/.env.build.production
  packages/ag-charts-website/.env.build.staging
  packages/ag-charts-website/.env.dev
  packages/ag-charts-website/.env.preview
  packages/ag-charts-website/.env.preview.production
  packages/ag-charts-website/.env.preview.staging
  packages/ag-charts-website/package.json
  plugins/ag-charts-generate-chart-thumbnail/package.json
  plugins/ag-charts-generate-code-reference-files/package.json
  plugins/ag-charts-generate-example-files/package.json
Owners: @ag-grid/ag-charts-team, @alantreadway

Release prep for 10.0.1
  .env
  libraries/ag-charts-test/package.json
  package.json
  packages/ag-charts-angular/package.json
  packages/ag-charts-angular/projects/ag-charts-angular/package.json
  packages/ag-charts-community-examples/package.json
  packages/ag-charts-community/package.json
  packages/ag-charts-community/src/version.ts
  packages/ag-charts-enterprise/package.json
  packages/ag-charts-locale/package.json
  packages/ag-charts-react/package.json
  packages/ag-charts-types/package.json
  packages/ag-charts-vue3/package.json
  packages/ag-charts-website/.env.build
  packages/ag-charts-website/.env.build.archive
  packages/ag-charts-website/.env.build.production
  packages/ag-charts-website/.env.build.staging
  packages/ag-charts-website/.env.dev
  packages/ag-charts-website/.env.preview
  packages/ag-charts-website/.env.preview.production
  packages/ag-charts-website/.env.preview.staging
  packages/ag-charts-website/package.json
  plugins/ag-charts-generate-chart-thumbnail/package.json
  plugins/ag-charts-generate-code-reference-files/package.json
  plugins/ag-charts-generate-example-files/package.json
Owners: @ag-grid/ag-charts-team, @alantreadway

Fix CI branch specification for releases.
  .github/workflows/ci.yml
Owners: @ag-grid/ag-charts-team

Fix CI branch specification for releases.
  .github/workflows/ci.yml
Owners: @ag-grid/ag-charts-team

AG-12053 - Add archive folders to robots.txt and add noindex (#1962)
  packages/ag-charts-website/src/layouts/Layout.astro
  packages/ag-charts-website/src/pages/robots.txt.ts
  packages/ag-charts-website/src/utils/env.ts
  packages/ag-charts-website/src/utils/sitemapPages.ts
Owners: @taktran, @ag-grid/ag-charts-team

AG-12024 Change range buttons labels `m/y` to `M/Y`
  packages/ag-charts-locale/src/en-US.ts
  packages/ag-charts-website/e2e/toolbar.spec.ts-snapshots/line-annotation-1-button-active-chromium-darwin.png
  packages/ag-charts-website/e2e/toolbar.spec.ts-snapshots/line-annotation-2-drawing-chromium-darwin.png
  packages/ag-charts-website/e2e/toolbar.spec.ts-snapshots/line-annotation-3-complete-chromium-darwin.png
  packages/ag-charts-website/e2e/zoom.spec.ts-snapshots/after-navigator-drag-x-axis-chromium-darwin.png
  packages/ag-charts-website/e2e/zoom.spec.ts-snapshots/after-navigator-drag-y-axis-chromium-darwin.png
  packages/ag-charts-website/e2e/zoom.spec.ts-snapshots/before-navigator-drag-y-axis-chromium-darwin.png
  packages/ag-charts-website/e2e/zoom.spec.ts-snapshots/with-navigator-drag-x-axis-chromium-darwin.png
  packages/ag-charts-website/e2e/zoom.spec.ts-snapshots/with-navigator-drag-y-axis-chromium-darwin.png
Owners: @ag-grid/ag-charts-team

Remove out of date comment
  packages/ag-charts-locale/src/main.test.ts
Owners: @ag-grid/ag-charts-team

wip
  packages/ag-charts-enterprise/src/series/util/labelFormatter.test.ts
  packages/ag-charts-enterprise/src/series/util/labelFormatter.ts
Owners: @alantreadway

wip
  packages/ag-charts-community/src/module-support.ts
  packages/ag-charts-community/src/scene/shape/text.ts
  packages/ag-charts-community/src/util/textMeasurer.ts
  packages/ag-charts-community/src/util/textWrapper.ts
  packages/ag-charts-enterprise/src/series/util/labelFormatter.test.ts
Owners: @alantreadway

wip
  packages/ag-charts-community/src/chart/axis/axis.ts
  packages/ag-charts-community/src/chart/label.ts
  packages/ag-charts-community/src/chart/legend.ts
  packages/ag-charts-community/src/integrated-charts-scene.ts
  packages/ag-charts-community/src/scene/shape/text.ts
  packages/ag-charts-community/src/util/textMeasurer.ts
Owners: @alantreadway

AG-12010 Fix navigator to not update independent y-axes
  packages/ag-charts-community/src/chart/navigator/navigator.ts
  packages/ag-charts-website/e2e/zoom.spec.ts-snapshots/after-navigator-drag-x-axis-chromium-darwin.png
  packages/ag-charts-website/e2e/zoom.spec.ts-snapshots/after-navigator-drag-y-axis-chromium-darwin.png
  packages/ag-charts-website/e2e/zoom.spec.ts-snapshots/before-navigator-drag-y-axis-chromium-darwin.png
  packages/ag-charts-website/e2e/zoom.spec.ts-snapshots/with-navigator-drag-x-axis-chromium-darwin.png
  packages/ag-charts-website/e2e/zoom.spec.ts-snapshots/with-navigator-drag-y-axis-chromium-darwin.png
Owners: @alantreadway, @ag-grid/ag-charts-team

git subrepo pull external/ag-website-shared
  external/ag-website-shared/.gitrepo
  external/ag-website-shared/src/components/footer/Footer.module.scss
  external/ag-website-shared/src/components/license-setup/utils/templates.ts
  external/ag-website-shared/src/content/license-features/gridFeaturesMatrix.json
Owners: @ag-grid/ag-charts-team, @markdurrant

wip
  packages/ag-charts-community/src/chart/__image_snapshots__/caption-test-ts-caption-create-text-align-center-1-snap.png
  packages/ag-charts-community/src/chart/__image_snapshots__/caption-test-ts-caption-create-text-align-left-1-snap.png
  packages/ag-charts-community/src/chart/__image_snapshots__/caption-test-ts-caption-create-text-align-mixed-1-snap.png
  packages/ag-charts-community/src/chart/__image_snapshots__/caption-test-ts-caption-create-text-align-right-1-snap.png
  packages/ag-charts-community/src/chart/__image_snapshots__/cartesian-chart-test-ts-cartesian-chart-small-chart-width-should-render-chart-correctly-at-width-160-1-snap.png
  packages/ag-charts-community/src/chart/__image_snapshots__/cartesian-chart-test-ts-cartesian-chart-small-chart-width-should-render-chart-correctly-at-width-240-1-snap.png
  packages/ag-charts-community/src/chart/__image_snapshots__/cartesian-chart-test-ts-cartesian-chart-small-chart-width-should-render-chart-correctly-at-width-320-1-snap.png
  packages/ag-charts-community/src/chart/__image_snapshots__/cartesian-chart-test-ts-cartesian-chart-small-chart-width-should-render-chart-correctly-at-width-400-1-snap.png
  packages/ag-charts-community/src/chart/__image_snapshots__/cartesian-chart-test-ts-cartesian-chart-small-chart-width-should-render-chart-correctly-at-width-80-1-snap.png
  packages/ag-charts-community/src/chart/__image_snapshots__/gallery-examples-test-ts-gallery-examples-ag-chart-v-2-create-for-bar-chart-example-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-community/src/chart/__image_snapshots__/gallery-examples-test-ts-gallery-examples-ag-chart-v-2-create-for-bar-chart-with-labels-example-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-community/src/chart/__image_snapshots__/legend-test-ts-legend-large-series-count-chart-should-render-legend-correctly-at-width-200-1-snap.png
  packages/ag-charts-community/src/chart/__image_snapshots__/legend-test-ts-legend-large-series-count-chart-should-render-legend-correctly-at-width-400-1-snap.png
  packages/ag-charts-community/src/chart/axis/__image_snapshots__/axis-examples-test-ts-axis-examples-auto-wrap-axis-labels-cases-for-bar-chart-example-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-community/src/chart/axis/__image_snapshots__/axis-examples-test-ts-axis-examples-auto-wrap-axis-labels-cases-for-bar-chart-with-labels-example-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-community/src/chart/axis/__image_snapshots__/axis-examples-test-ts-axis-examples-auto-wrap-axis-labels-cases-for-column-chart-example-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-community/src/chart/axis/__image_snapshots__/axis-examples-test-ts-axis-examples-auto-wrap-axis-labels-cases-for-column-chart-with-labels-example-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-community/src/chart/axis/__image_snapshots__/axis-examples-test-ts-axis-examples-auto-wrap-axis-labels-cases-for-grouped-bar-chart-example-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-community/src/chart/axis/__image_snapshots__/axis-examples-test-ts-axis-examples-auto-wrap-axis-labels-cases-for-grouped-column-chart-example-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-community/src/chart/axis/__image_snapshots__/axis-examples-test-ts-axis-examples-auto-wrap-axis-labels-cases-for-one-hundred-percent-stacked-bar-example-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-community/src/chart/axis/__image_snapshots__/axis-examples-test-ts-axis-examples-auto-wrap-axis-labels-cases-for-one-hundred-percent-stacked-column-example-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-community/src/chart/axis/__image_snapshots__/axis-examples-test-ts-axis-examples-auto-wrap-axis-labels-cases-for-simple-line-chart-example-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-community/src/chart/axis/__image_snapshots__/axis-examples-test-ts-axis-examples-auto-wrap-axis-labels-cases-for-stacked-bar-chart-example-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-community/src/chart/axis/__image_snapshots__/axis-examples-test-ts-axis-examples-auto-wrap-axis-labels-cases-for-stacked-column-chart-example-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-community/src/scene/shape/text.test.ts
  packages/ag-charts-community/src/scene/shape/text.ts
  packages/ag-charts-community/src/util/textMeasurer.ts
  packages/ag-charts-enterprise/src/axes/__image_snapshots__/polar-axes-test-ts-polar-axes-should-render-radius-cross-line-as-expected-1-snap.png
  packages/ag-charts-enterprise/src/axes/__image_snapshots__/polar-axes-test-ts-polar-axes-should-render-radius-cross-line-range-as-expected-1-snap.png
  packages/ag-charts-enterprise/src/axes/__image_snapshots__/polar-axes-test-ts-polar-axes-should-render-radius-cross-line-range-with-circle-shape-as-expected-1-snap.png
  packages/ag-charts-enterprise/src/axes/__image_snapshots__/polar-axes-test-ts-polar-axes-should-render-radius-cross-line-with-circle-shape-as-expected-1-snap.png
Owners: @alantreadway

wip
  packages/ag-charts-community/src/scene/shape/text.ts
  packages/ag-charts-community/src/util/textWrapper.ts
  packages/ag-charts-enterprise/src/series/util/labelFormatter.ts
Owners: @alantreadway

wip
  packages/ag-charts-community/src/chart/axis/axis.ts
  packages/ag-charts-community/src/chart/caption.ts
  packages/ag-charts-community/src/scene/shape/text.test.ts
  packages/ag-charts-community/src/scene/shape/text.ts
  packages/ag-charts-enterprise/src/axes/angle/angleAxis.ts
  packages/ag-charts-enterprise/src/series/chord/chordSeries.ts
  packages/ag-charts-enterprise/src/series/sankey/sankeySeries.ts
  packages/ag-charts-enterprise/src/series/treemap/treemapSeries.ts
  packages/ag-charts-enterprise/src/series/util/labelFormatter.ts
Owners: @alantreadway

Skip failing test-case.
  packages/ag-charts-website/e2e/examples.spec.ts
Owners: @ag-grid/ag-charts-team

wip
  packages/ag-charts-community/src/scene/shape/text.test.ts
  packages/ag-charts-community/src/scene/shape/text.ts
  packages/ag-charts-enterprise/src/features/status-bar/statusBar.ts
  packages/ag-charts-enterprise/src/series/chord/chordSeries.ts
  packages/ag-charts-enterprise/src/series/sankey/sankeySeries.ts
Owners: @alantreadway

Vue fix
  packages/ag-charts-vue3/src/index.ts
Owners: @ag-grid/ag-charts-team

Revert "Skip failing test-case."
  packages/ag-charts-website/e2e/examples.spec.ts
Owners: @ag-grid/ag-charts-team

AG-12051 - Add script to compress videos on website
  external/ag-website-shared/scripts/compress-video/README.md
  external/ag-website-shared/scripts/compress-video/package-lock.json
  external/ag-website-shared/scripts/compress-video/package.json
  external/ag-website-shared/scripts/compress-video/src/cli.ts
  external/ag-website-shared/scripts/compress-video/src/utils/agFiles.ts
  external/ag-website-shared/scripts/compress-video/src/utils/files.ts
  external/ag-website-shared/scripts/compress-video/src/utils/video.ts
  package.json
Owners: @ag-grid/ag-charts-team, @alantreadway

AG-12051 - Resize videos on website
  packages/ag-charts-website/src/content/docs/financial-charts/resources/annotations-dark.mp4
  packages/ag-charts-website/src/content/docs/financial-charts/resources/annotations.mp4
  packages/ag-charts-website/src/content/docs/financial-charts/resources/chart-types-dark.mp4
  packages/ag-charts-website/src/content/docs/financial-charts/resources/chart-types.mp4
  packages/ag-charts-website/src/content/docs/financial-charts/resources/zoom-dark.mp4
Owners: @ag-grid/ag-charts-team

Vue fix
  packages/ag-charts-vue3/src/index.ts
Owners: @ag-grid/ag-charts-team

Release prep for 10.0.1-beta.20240703.1513
  .env
  libraries/ag-charts-test/package.json
  package.json
  packages/ag-charts-angular/package.json
  packages/ag-charts-angular/projects/ag-charts-angular/package.json
  packages/ag-charts-community-examples/package.json
  packages/ag-charts-community/package.json
  packages/ag-charts-community/src/version.ts
  packages/ag-charts-enterprise/package.json
  packages/ag-charts-locale/package.json
  packages/ag-charts-react/package.json
  packages/ag-charts-types/package.json
  packages/ag-charts-vue3/package.json
  packages/ag-charts-website/.env.build
  packages/ag-charts-website/.env.build.archive
  packages/ag-charts-website/.env.build.production
  packages/ag-charts-website/.env.build.staging
  packages/ag-charts-website/.env.dev
  packages/ag-charts-website/.env.preview
  packages/ag-charts-website/.env.preview.production
  packages/ag-charts-website/.env.preview.staging
  packages/ag-charts-website/package.json
  plugins/ag-charts-generate-chart-thumbnail/package.json
  plugins/ag-charts-generate-code-reference-files/package.json
  plugins/ag-charts-generate-example-files/package.json
Owners: @ag-grid/ag-charts-team, @alantreadway

wip
  packages/ag-charts-community/src/chart/legend.ts
  packages/ag-charts-community/src/chart/series/cartesian/bubbleSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/scatterSeries.ts
  packages/ag-charts-community/src/scene/sceneDebug.ts
  packages/ag-charts-community/src/scene/shape/text.test.ts
  packages/ag-charts-community/src/scene/shape/text.ts
  packages/ag-charts-community/src/util/memo.ts
  packages/ag-charts-community/src/util/textWrapper.ts
  packages/ag-charts-enterprise/src/series/map-line/mapLineSeries.ts
  packages/ag-charts-enterprise/src/series/map-marker/mapMarkerSeries.ts
  packages/ag-charts-enterprise/src/series/map-shape/mapShapeSeries.ts
Owners: @alantreadway

.github/CODEOWNERS:

# NOTE: Order of entries matters - later entries have higher precedence.

# Attribute code-owners so default reviewers are assigned to PRs.
* @ag-grid/ag-charts-team

# Astro + website changes to be reviewed by website team.
*.scss @markdurrant
*.astro @taktran
/packages/ag-charts-website/astro/** @taktran
/packages/ag-charts-website/components/** @taktran
/packages/ag-charts-website/features/** @taktran
/packages/ag-charts-website/layouts/** @taktran
/packages/ag-charts-website/stores/** @taktran
/packages/ag-charts-website/utils/** @taktran

# Docs updates to be reviewed by Eng VP.
/packages/ag-charts-website/content/** @alantreadway @rmc-software
*.mdoc @rmc-software

# Charts library code to be reviewed by Chart TL.
/packages/ag-charts-community/** @alantreadway
/packages/ag-charts-enterprise/** @alantreadway

# Sensitive build/repo files to be reviewed by Chart TL.
**/package.json @alantreadway
nx.json @alantreadway
**/project.json @alantreadway
**/tsconfig.json @alantreadway
**/tsconfig.*.json @alantreadway
