Repository ag-grid/ag-charts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ag-grid/ag-charts-team, @markdurrant, @taktran, @alantreadway, @rmc-software

.github/CODEOWNERS:

# NOTE: Order of entries matters - later entries have higher precedence.

# Attribute code-owners so default reviewers are assigned to PRs.
* @ag-grid/ag-charts-team

# Astro + website changes to be reviewed by website team.
*.scss @markdurrant
*.astro @taktran
/packages/ag-charts-website/astro/** @taktran
/packages/ag-charts-website/components/** @taktran
/packages/ag-charts-website/features/** @taktran
/packages/ag-charts-website/layouts/** @taktran
/packages/ag-charts-website/stores/** @taktran
/packages/ag-charts-website/utils/** @taktran

# Docs updates to be reviewed by Eng VP.
/packages/ag-charts-website/content/** @alantreadway @rmc-software
*.mdoc @rmc-software

# Charts library code to be reviewed by Chart TL.
/packages/ag-charts-community/** @alantreadway
/packages/ag-charts-enterprise/** @alantreadway

# Sensitive build/repo files to be reviewed by Chart TL.
**/package.json @alantreadway
nx.json @alantreadway
**/project.json @alantreadway
**/tsconfig.json @alantreadway
**/tsconfig.*.json @alantreadway

CRT-312 Fix heatmap focus indicator x/y offset
  packages/ag-charts-enterprise/src/series/heatmap/heatmapSeries.ts
Owners: @alantreadway

CRT-305 Fix react examples with clone local var of options
  plugins/ag-charts-generate-example-files/src/executors/generate/generator/transformation-scripts/chart-utils.ts
Owners: @ag-grid/ag-charts-team

CRT-308 Fix axes types page category link
  packages/ag-charts-website/src/content/docs/axes-types/index.mdoc
Owners: @rmc-software

CRT-322 Trigger mouseBlur when clicking on the overlay
  packages/ag-charts-community/src/chart/interaction/interactionManager.ts
  packages/ag-charts-community/src/chart/interaction/keyNavManager.ts
Owners: @alantreadway

CRT-312 Fix heatmap focus indicator x/y offset (#1490)
  packages/ag-charts-enterprise/src/series/heatmap/heatmapSeries.ts
Owners: @alantreadway

CRT-324 Fix overlay focus indicator rect
  packages/ag-charts-community/src/chart/overlay/chartOverlays.ts
  packages/ag-charts-community/src/chart/overlay/overlay.ts
Owners: @alantreadway

CRT-322 Trigger mouseBlur when clicking on the overlay (#1493)
  packages/ag-charts-community/src/chart/interaction/interactionManager.ts
  packages/ag-charts-community/src/chart/interaction/keyNavManager.ts
Owners: @alantreadway

CRT-328 Fix sync to use chart.ctx.updateService
  packages/ag-charts-community/src/chart/interaction/syncManager.ts
  packages/ag-charts-enterprise/src/features/sync/chartSync.ts
Owners: @alantreadway

CRT-298 - Fix rendering of zero-height Rect's with rounded corners.
  packages/ag-charts-community/src/scene/shape/rect.ts
Owners: @alantreadway

Fix update-release.sh for new process.
  tools/update-release.sh
Owners: @ag-grid/ag-charts-team

Release prep for 9.3.0-beta.20240424
  .env
  libraries/ag-charts-test/package.json
  package.json
  packages/ag-charts-angular/package.json
  packages/ag-charts-angular/projects/ag-charts-angular/package.json
  packages/ag-charts-community-examples/package.json
  packages/ag-charts-community/package.json
  packages/ag-charts-community/src/version.ts
  packages/ag-charts-enterprise/package.json
  packages/ag-charts-react/package.json
  packages/ag-charts-vue/package.json
  packages/ag-charts-vue3/package.json
  packages/ag-charts-website/.env.build
  packages/ag-charts-website/.env.build.archive
  packages/ag-charts-website/.env.build.production
  packages/ag-charts-website/.env.build.staging
  packages/ag-charts-website/.env.dev
  packages/ag-charts-website/.env.preview
  packages/ag-charts-website/.env.preview.production
  packages/ag-charts-website/.env.preview.staging
  packages/ag-charts-website/package.json
  plugins/ag-charts-generate-chart-thumbnail/package.json
  plugins/ag-charts-generate-code-reference-files/package.json
  plugins/ag-charts-generate-example-files/package.json
Owners: @ag-grid/ag-charts-team, @alantreadway

CRT-298 - Fix rendering of zero-height Rect's with rounded corners.
  packages/ag-charts-community/src/chart/__image_snapshots__/cartesian-chart-test-ts-cartesian-chart-stacked-bar-series-highlighting-should-render-series-with-y-key-local-authority-appropriately-1-snap.png
Owners: @alantreadway

CRT-313 Fix donut series example folder
  packages/ag-charts-website/src/content/docs/pie-series-test/_examples/animation-donut/index.html
  packages/ag-charts-website/src/content/docs/pie-series-test/_examples/animation-donut/main.ts
Owners: @ag-grid/ag-charts-team

CRT-325 Search forward & backward for enabled datum
  packages/ag-charts-community/src/chart/series/dataModelSeries.ts
Owners: @alantreadway

CRT-301 - Add series title to scatter series example
  packages/ag-charts-website/src/content/gallery/_examples/multiple-scatter-series/main.ts
  packages/ag-charts-website/src/content/gallery/_examples/simple-bar/main.ts
Owners: @ag-grid/ag-charts-team

CRT-310 - Fix Integrated charts animation test example reset.
  packages/ag-charts-website/src/content/docs/line-series-test/_examples/integrated-category-animation/main.ts
Owners: @ag-grid/ag-charts-team

Release prep for 9.3.0-beta.20240425
  .env
  libraries/ag-charts-test/package.json
  package.json
  packages/ag-charts-angular/package.json
  packages/ag-charts-angular/projects/ag-charts-angular/package.json
  packages/ag-charts-community-examples/package.json
  packages/ag-charts-community/package.json
  packages/ag-charts-community/src/version.ts
  packages/ag-charts-enterprise/package.json
  packages/ag-charts-react/package.json
  packages/ag-charts-vue/package.json
  packages/ag-charts-vue3/package.json
  packages/ag-charts-website/.env.build
  packages/ag-charts-website/.env.build.archive
  packages/ag-charts-website/.env.build.production
  packages/ag-charts-website/.env.build.staging
  packages/ag-charts-website/.env.dev
  packages/ag-charts-website/.env.preview
  packages/ag-charts-website/.env.preview.production
  packages/ag-charts-website/.env.preview.staging
  packages/ag-charts-website/package.json
  plugins/ag-charts-generate-chart-thumbnail/package.json
  plugins/ag-charts-generate-code-reference-files/package.json
  plugins/ag-charts-generate-example-files/package.json
Owners: @ag-grid/ag-charts-team, @alantreadway

CRT-329 - Fix Integrated Charts focus box rendering.
  packages/ag-charts-community/src/chart/interaction/focusStyles.ts
Owners: @alantreadway

CRT-300 Fix layout on keyboard nav example
  packages/ag-charts-website/src/content/docs/accessibility/_examples/keyboard-navigation/index.html
Owners: @ag-grid/ag-charts-team

CRT-300 Fix layout on keyboard nav example
  packages/ag-charts-website/src/content/docs/accessibility/_examples/keyboard-navigation/index.html
Owners: @ag-grid/ag-charts-team

AG-3390 - Load tracking script asynchronously
  packages/ag-charts-website/src/layouts/Layout.astro
Owners: @taktran

AG-3390 - Load tracking script asynchronously (#1502)
  packages/ag-charts-website/src/layouts/Layout.astro
Owners: @taktran

AG-11369 Add floating toolbar translation
  packages/ag-charts-community/src/chart/toolbar/toolbar.ts
  packages/ag-charts-community/src/chart/toolbar/toolbarStyles.ts
Owners: @alantreadway

CRT-302 - Fix PieSeries animation phases.
  packages/ag-charts-community/src/chart/series/polar/__image_snapshots__/polar-series-test-ts-polar-series-add-animation-for-pie-series-should-animate-at-25-1-snap.png
  packages/ag-charts-community/src/chart/series/polar/__image_snapshots__/polar-series-test-ts-polar-series-add-animation-for-pie-series-should-animate-at-50-1-snap.png
  packages/ag-charts-community/src/chart/series/polar/__image_snapshots__/polar-series-test-ts-polar-series-add-animation-for-pie-series-should-animate-at-75-1-snap.png
  packages/ag-charts-community/src/chart/series/polar/__image_snapshots__/polar-series-test-ts-polar-series-remove-animation-for-pie-series-should-animate-at-25-1-snap.png
  packages/ag-charts-community/src/chart/series/polar/__image_snapshots__/polar-series-test-ts-polar-series-remove-animation-for-pie-series-should-animate-at-50-1-snap.png
  packages/ag-charts-community/src/chart/series/polar/__image_snapshots__/polar-series-test-ts-polar-series-remove-animation-for-pie-series-should-animate-at-75-1-snap.png
  packages/ag-charts-community/src/chart/series/polar/__image_snapshots__/polar-series-test-ts-polar-series-update-animation-for-pie-series-should-animate-at-25-1-snap.png
  packages/ag-charts-community/src/chart/series/polar/__image_snapshots__/polar-series-test-ts-polar-series-update-animation-for-pie-series-should-animate-at-50-1-snap.png
  packages/ag-charts-community/src/chart/series/polar/__image_snapshots__/polar-series-test-ts-polar-series-update-animation-for-pie-series-should-animate-at-75-1-snap.png
  packages/ag-charts-community/src/chart/series/polar/pieUtil.ts
Owners: @alantreadway

Bump large-dataset expected memory slightly.
  packages/ag-charts-community/benchmarks/largeDataset.test.ts
Owners: @alantreadway

CRT-306 - Fix Histogram legend toggle.
  packages/ag-charts-community/src/chart/series/cartesian/histogramSeries.ts
Owners: @alantreadway

Improve release create/update scripts.
  tools/create-release.sh
Owners: @ag-grid/ag-charts-team

CRT-320 Set textContent instead of aria-label content
  packages/ag-charts-community/src/chart/interaction/ariaAnnouncementServices.ts
Owners: @alantreadway

CRT-319 - Pull KeyNavManager into ChartContext.
  packages/ag-charts-community/src/chart/chart.ts
  packages/ag-charts-community/src/chart/chartContext.ts
  packages/ag-charts-community/src/chart/interaction/regionManager.ts
Owners: @alantreadway

CRT-319 - Add animation start/stop events.
  packages/ag-charts-community/src/chart/interaction/animationBatch.ts
  packages/ag-charts-community/src/chart/interaction/animationManager.ts
Owners: @alantreadway

CRT-319 - Blur keyboard focus on animation start.
  packages/ag-charts-community/src/chart/chart.ts
Owners: @alantreadway

CRT-320 Set textContent instead of aria-label content (#1504)
  packages/ag-charts-community/src/chart/interaction/ariaAnnouncementServices.ts
Owners: @alantreadway

CRT-316 Take formatter size into consideration
  packages/ag-charts-community/src/chart/series/cartesian/areaSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/bubbleSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/lineSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/markerUtil.ts
  packages/ag-charts-community/src/chart/series/cartesian/scatterSeries.ts
  packages/ag-charts-community/src/chart/series/series.ts
  packages/ag-charts-enterprise/src/series/radar/radarSeries.ts
  packages/ag-charts-enterprise/src/series/radar/radarSeriesProperties.ts
  packages/ag-charts-enterprise/src/series/range-area/rangeArea.ts
  packages/ag-charts-enterprise/src/series/range-area/rangeAreaProperties.ts
Owners: @alantreadway

CRT-316 Fix misused datum
  packages/ag-charts-community/src/chart/series/cartesian/areaSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/bubbleSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/lineSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/scatterSeries.ts
  packages/ag-charts-enterprise/src/series/radar/radarSeries.ts
  packages/ag-charts-enterprise/src/series/range-area/rangeArea.ts
Owners: @alantreadway

Release prep for 9.3.0-beta.20240425.1439
  .env
  libraries/ag-charts-test/package.json
  package.json
  packages/ag-charts-angular/package.json
  packages/ag-charts-angular/projects/ag-charts-angular/package.json
  packages/ag-charts-community-examples/package.json
  packages/ag-charts-community/package.json
  packages/ag-charts-community/src/version.ts
  packages/ag-charts-enterprise/package.json
  packages/ag-charts-react/package.json
  packages/ag-charts-vue/package.json
  packages/ag-charts-vue3/package.json
  packages/ag-charts-website/.env.build
  packages/ag-charts-website/.env.build.archive
  packages/ag-charts-website/.env.build.production
  packages/ag-charts-website/.env.build.staging
  packages/ag-charts-website/.env.dev
  packages/ag-charts-website/.env.preview
  packages/ag-charts-website/.env.preview.production
  packages/ag-charts-website/.env.preview.staging
  packages/ag-charts-website/package.json
  plugins/ag-charts-generate-chart-thumbnail/package.json
  plugins/ag-charts-generate-code-reference-files/package.json
  plugins/ag-charts-generate-example-files/package.json
Owners: @ag-grid/ag-charts-team, @alantreadway

AG-11323 Fix histogram keyboard navigation order
  packages/ag-charts-community/src/chart/series/cartesian/histogramSeries.ts
Owners: @alantreadway

AG-11422 Do not create nodeDatums for missing datums
  packages/ag-charts-enterprise/src/series/radial-column/radialColumnSeriesBase.ts
Owners: @alantreadway

AG-11398 Rename 'reset-zoom' to 'reset'
  packages/ag-charts-community/src/chart/mapping/__snapshots__/prepare.test.ts.snap
  packages/ag-charts-community/src/chart/toolbar/toolbarModule.ts
  packages/ag-charts-community/src/options/chart/toolbarOptions.ts
  packages/ag-charts-community/src/styles/icons.ts
  packages/ag-charts-enterprise/src/features/zoom/zoomModule.ts
  packages/ag-charts-enterprise/src/features/zoom/zoomToolbar.ts
Owners: @alantreadway

AG-11426 - Disable keyboard nav to zoom buttons.
  packages/ag-charts-community/src/chart/toolbar/toolbar.ts
Owners: @alantreadway

AG-11403 Hide focus indicator box on some series types
  packages/ag-charts-community/src/chart/chart.ts
  packages/ag-charts-community/src/chart/keyboardUtil.ts
  packages/ag-charts-community/src/chart/legend.ts
  packages/ag-charts-community/src/chart/series/dataModelSeries.ts
  packages/ag-charts-community/src/chart/series/polar/polarSeries.ts
  packages/ag-charts-community/src/chart/series/series.ts
  packages/ag-charts-enterprise/src/series/map-line-background/mapLineBackgroundSeries.ts
  packages/ag-charts-enterprise/src/series/map-line/mapLineSeries.ts
  packages/ag-charts-enterprise/src/series/map-shape/mapShapeSeries.ts
Owners: @alantreadway
