Repository ag-grid/ag-charts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ag-grid/ag-charts-team, @markdurrant, @taktran, @alantreadway, @rmc-software

.github/CODEOWNERS:

# NOTE: Order of entries matters - later entries have higher precedence.

# Attribute code-owners so default reviewers are assigned to PRs.
* @ag-grid/ag-charts-team

# Astro + website changes to be reviewed by website team.
*.scss @markdurrant
*.astro @taktran
/packages/ag-charts-website/astro/** @taktran
/packages/ag-charts-website/components/** @taktran
/packages/ag-charts-website/features/** @taktran
/packages/ag-charts-website/layouts/** @taktran
/packages/ag-charts-website/stores/** @taktran
/packages/ag-charts-website/utils/** @taktran

# Docs updates to be reviewed by Eng VP.
/packages/ag-charts-website/content/** @alantreadway @rmc-software
*.mdoc @rmc-software

# Charts library code to be reviewed by Chart TL.
/packages/ag-charts-community/** @alantreadway
/packages/ag-charts-enterprise/** @alantreadway

# Sensitive build/repo files to be reviewed by Chart TL.
**/package.json @alantreadway
nx.json @alantreadway
**/project.json @alantreadway
**/tsconfig.json @alantreadway
**/tsconfig.*.json @alantreadway

CRT-552 - Add missing `archive` config for thumbnail tasks.
  packages/ag-charts-website/project.json
Owners: @alantreadway

CRT-552 - Add missing `archive` config for thumbnail tasks.
  plugins/ag-charts-task-autogen/src/generate-chart-thumbnails.ts
Owners: @ag-grid/ag-charts-team

Fix typo in options contract interface name.
  packages/ag-charts-types/src/chart/themeOptions.ts
Owners: @ag-grid/ag-charts-team

Show target labels for single gauges in the gallery
  plugins/ag-charts-generate-chart-thumbnail/src/executors/generate/generator/patchOptions.ts
Owners: @ag-grid/ag-charts-team

CRT-533 Update pagination button cursor on clicks
  packages/ag-charts-community/src/chart/legend.ts
  packages/ag-charts-community/src/util/attributeUtil.ts
Owners: @alantreadway

Target TS fixes
  packages/ag-charts-community/src/api/preset/gauge.ts
  packages/ag-charts-types/src/chart/themeOptions.ts
  packages/ag-charts-types/src/presets/gauge/linearGaugeOptions.ts
Owners: @alantreadway, @ag-grid/ag-charts-team

CRT-555 - Remove axis theme overrides from funnel examples
  packages/ag-charts-website/src/content/gallery/_examples/customised-funnel/main.ts
  packages/ag-charts-website/src/content/gallery/_examples/simple-cone-funnel/main.ts
Owners: @ag-grid/ag-charts-team

CRT-557 - Disable thumbnail gradient legend.
  plugins/ag-charts-generate-chart-thumbnail/src/executors/generate/generator/patchOptions.ts
Owners: @ag-grid/ag-charts-team

CRT-555 - Update bullet example
  packages/ag-charts-website/src/content/gallery/_examples/simple-bullet/main.ts
Owners: @ag-grid/ag-charts-team

CRT-544 - Fix Polar Series key-nav context menu.
  packages/ag-charts-community/src/chart/series/seriesAreaManager.ts
Owners: @alantreadway

CRT-545 Radial gauge docs
  packages/ag-charts-types/src/presets/gauge/radialGaugeOptions.ts
Owners: @ag-grid/ag-charts-team

CRT-558 Ensure display: none is set when legend is hidden
  packages/ag-charts-community/src/chart/legend.ts
  packages/ag-charts-community/src/util/attributeUtil.ts
Owners: @alantreadway

CRT-554 - Fix Radar crossline removed when legend is toggled / axis domain is changed
  packages/ag-charts-website/src/content/gallery/_examples/radar-with-markers/data.ts
  packages/ag-charts-website/src/content/gallery/_examples/radar-with-markers/main.ts
Owners: @ag-grid/ag-charts-team

CRT-547 - Match AreaSeries missing X/Y value handling for RangeBar.
  packages/ag-charts-enterprise/src/series/range-bar/rangeBarSeries.ts
Owners: @alantreadway

CRT-547 - Rollback AreaSeries missing X value handling for RangeBar.
  packages/ag-charts-enterprise/src/series/range-bar/rangeBarSeries.ts
Owners: @alantreadway

CRT-555 - Update linear gauge example
  packages/ag-charts-website/src/content/gallery/_examples/simple-linear-gauge/main.ts
Owners: @ag-grid/ag-charts-team

CRT-543 Set hoverDevice to 'mouse' on 'hover' events
  packages/ag-charts-community/src/chart/series/seriesAreaManager.ts
Owners: @alantreadway

CRT-528 - Fix navigator reference during thumbnail rendering.
  packages/ag-charts-community/src/util/number.ts
Owners: @alantreadway

CRT-535 Remove extendStart & extendEnd from measurer options
  packages/ag-charts-types/src/chart/annotationsOptions.ts
Owners: @ag-grid/ag-charts-team

CRT-530 Fix drag callout end handle relative to mouse pointer
  packages/ag-charts-enterprise/src/features/annotations/scenes/startEndScene.ts
Owners: @alantreadway

Version Bump
  .env
  libraries/ag-charts-test/package.json
  package.json
  packages/ag-charts-angular/package.json
  packages/ag-charts-angular/projects/ag-charts-angular/package.json
  packages/ag-charts-community-examples/package.json
  packages/ag-charts-community/package.json
  packages/ag-charts-community/src/version.ts
  packages/ag-charts-enterprise/package.json
  packages/ag-charts-locale/package.json
  packages/ag-charts-react/package.json
  packages/ag-charts-types/package.json
  packages/ag-charts-vue3/package.json
  packages/ag-charts-website/.env.build
  packages/ag-charts-website/.env.build.archive
  packages/ag-charts-website/.env.build.production
  packages/ag-charts-website/.env.build.staging
  packages/ag-charts-website/.env.dev
  packages/ag-charts-website/.env.preview
  packages/ag-charts-website/.env.preview.production
  packages/ag-charts-website/.env.preview.staging
  packages/ag-charts-website/.env.test:e2e
  packages/ag-charts-website/.env.test:e2e.docker
  packages/ag-charts-website/package.json
  plugins/ag-charts-generate-chart-thumbnail/package.json
  plugins/ag-charts-generate-code-reference-files/package.json
  plugins/ag-charts-generate-example-files/package.json
Owners: @ag-grid/ag-charts-team, @alantreadway

CRT-562 Change axis button to not be keyboard focusable
  packages/ag-charts-enterprise/src/features/annotations/axisButton.ts
Owners: @alantreadway

CRT-555 - Update bullet example
  packages/ag-charts-website/src/content/gallery/_examples/simple-bullet/main.ts
Owners: @ag-grid/ag-charts-team

CRT-554 - Fix Radar crossline removed when legend is toggled / axis domain is changed
  packages/ag-charts-website/src/content/gallery/_examples/radar-with-markers/data.ts
Owners: @ag-grid/ag-charts-team

Fix faulty import
  packages/ag-charts-community/src/chart/legend.ts
  packages/ag-charts-community/src/chart/navigator/navigator.ts
Owners: @alantreadway

CRT-535 Add missing docs for measurer extends options
  packages/ag-charts-types/src/chart/annotationsOptions.ts
Owners: @ag-grid/ag-charts-team

CRT-549 Remove clipping from standalone charts
  packages/ag-charts-community/src/chart/standaloneChart.ts
Owners: @alantreadway

CRT-529 - Fix zoom pan not working when an annotation is selected
  packages/ag-charts-enterprise/src/features/annotations/annotationsStateMachine.ts
Owners: @alantreadway

CRT-528 Initialise slider values
  packages/ag-charts-community/src/chart/navigator/navigator.ts
Owners: @alantreadway

CRT-557 - Disable thumbnail gradient legend.
  plugins/ag-charts-generate-chart-thumbnail/src/executors/generate/generator/patchOptions.ts
Owners: @ag-grid/ag-charts-team

CRT-555 - Use theme overrides for linear gauge target styles
  packages/ag-charts-website/src/content/gallery/_examples/simple-linear-gauge/main.ts
Owners: @ag-grid/ag-charts-team

CRT-548 Only consider cartesian axes for region manager
  packages/ag-charts-community/src/chart/axis/axis.ts
  packages/ag-charts-community/src/chart/axis/cartesianAxis.ts
  packages/ag-charts-community/src/chart/chart.ts
  packages/ag-charts-community/src/chart/chartAxis.ts
Owners: @alantreadway

CRT-546 Update legend button cursor
  packages/ag-charts-community/src/chart/legend.ts
  packages/ag-charts-community/src/dom/proxyInteractionService.ts
  packages/ag-charts-community/src/util/attributeUtil.ts
Owners: @alantreadway

CRT-555 - Update pyramid example
  packages/ag-charts-website/src/content/gallery/_examples/simple-pyramid/data.ts
  packages/ag-charts-website/src/content/gallery/_examples/simple-pyramid/main.ts
Owners: @ag-grid/ag-charts-team

CRT-531 Give all legend <buttons> the same CSS height
  packages/ag-charts-community/src/chart/legend.ts
Owners: @alantreadway

CRT-536 Add both keynav orientations to the legend
  packages/ag-charts-community/src/chart/legend.ts
Owners: @alantreadway

Revert "SVGPath bug fixes"
  packages/ag-charts-community/src/scene/shape/svgPath.ts
Owners: @alantreadway

CRT-528 Do not call preventDefault on navigator sliders
  packages/ag-charts-community/src/chart/navigator/navigator.ts
Owners: @alantreadway

CRT-542 Add formatter for pyramid series stage label
  packages/ag-charts-enterprise/src/series/pyramid/pyramidProperties.ts
  packages/ag-charts-enterprise/src/series/pyramid/pyramidSeries.ts
  packages/ag-charts-types/src/series/standalone/pyramidOptions.ts
Owners: @alantreadway, @ag-grid/ag-charts-team

Version Bump
  .env
  libraries/ag-charts-test/package.json
  package.json
  packages/ag-charts-angular/package.json
  packages/ag-charts-angular/projects/ag-charts-angular/package.json
  packages/ag-charts-community-examples/package.json
  packages/ag-charts-community/package.json
  packages/ag-charts-community/src/version.ts
  packages/ag-charts-enterprise/package.json
  packages/ag-charts-locale/package.json
  packages/ag-charts-react/package.json
  packages/ag-charts-types/package.json
  packages/ag-charts-vue3/package.json
  packages/ag-charts-website/.env.build
  packages/ag-charts-website/.env.build.archive
  packages/ag-charts-website/.env.build.production
  packages/ag-charts-website/.env.build.staging
  packages/ag-charts-website/.env.dev
  packages/ag-charts-website/.env.preview
  packages/ag-charts-website/.env.preview.production
  packages/ag-charts-website/.env.preview.staging
  packages/ag-charts-website/.env.test:e2e
  packages/ag-charts-website/.env.test:e2e.docker
  packages/ag-charts-website/package.json
  plugins/ag-charts-generate-chart-thumbnail/package.json
  plugins/ag-charts-generate-code-reference-files/package.json
  plugins/ag-charts-generate-example-files/package.json
Owners: @ag-grid/ag-charts-team, @alantreadway
