Repository ag-grid/ag-charts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ag-grid/ag-charts-team, @markdurrant, @taktran, @alantreadway, @rmc-software

AG-11264 Replace product dropdown reference
  packages/ag-charts-website/src/components/productDropdown/ProductDropdown.tsx
  packages/ag-charts-website/src/components/site-header/SiteHeader.astro
  packages/ag-charts-website/src/legacy-design-system/modules/ProductDropdown.module.scss
Owners: @ag-grid/ag-charts-team, @taktran, @markdurrant

AG-11264 - Fix typo
  external/ag-website-shared/src/design-system/style-guide/Alerts.tsx
Owners: @ag-grid/ag-charts-team

git subrepo push external/ag-website-shared
  external/ag-website-shared/.gitrepo
Owners: @ag-grid/ag-charts-team

AG-11264 - Move <Alert/> component to website shared
  packages/ag-charts-website/markdoc.config.ts
  packages/ag-charts-website/src/components/alert/Alert.tsx
  packages/ag-charts-website/src/components/alert/Idea.tsx
  packages/ag-charts-website/src/components/alert/Note.tsx
  packages/ag-charts-website/src/components/alert/Warning.tsx
  packages/ag-charts-website/src/features/changelog/Changelog.tsx
  packages/ag-charts-website/src/features/pipeline/Pipeline.tsx
Owners: @ag-grid/ag-charts-team

AG-11264 - Update parent sha of .gitrepo
  external/ag-website-shared/.gitrepo
Owners: @ag-grid/ag-charts-team

AG-11260 - Fix single time data-point tick labels.
  packages/ag-charts-community/src/chart/axis/timeAxis.ts
Owners: @alantreadway

AG-11260 - Fix centring of bar-like series on continuous X axis.
  packages/ag-charts-community/src/chart/series/cartesian/barSeries.ts
  packages/ag-charts-enterprise/src/series/box-plot/boxPlotSeries.ts
  packages/ag-charts-enterprise/src/series/candlestick/candlestickSeriesBase.ts
  packages/ag-charts-enterprise/src/series/range-bar/rangeBar.ts
Owners: @alantreadway

wip
  packages/ag-charts-community/src/sandbox/chart/chartOptions.ts
  packages/ag-charts-community/src/sandbox/data/dataPipeline.ts
  packages/ag-charts-community/src/sandbox/data/dataProcessor.ts
  packages/ag-charts-community/src/sandbox/defs/animationModule.ts
  packages/ag-charts-community/src/sandbox/defs/barSeriesModule.ts
  packages/ag-charts-community/src/sandbox/defs/chartOptionsDef.ts
  packages/ag-charts-community/src/sandbox/defs/commonOptionsDefs.ts
  packages/ag-charts-community/src/sandbox/defs/testDefs.ts
  packages/ag-charts-community/src/sandbox/render/stage.ts
  packages/ag-charts-community/src/sandbox/types/commonTypes.ts
  packages/ag-charts-community/src/sandbox/types/moduleTypes.ts
  packages/ag-charts-community/src/sandbox/util/pipelineQueue.ts
  packages/ag-charts-community/src/sandbox/util/pool.ts
  packages/ag-charts-community/src/sandbox/util/validation.test.ts
  packages/ag-charts-community/src/sandbox/util/validation.ts
Owners: @alantreadway

AG-10859 - Add warning for missing required options
  packages/ag-charts-community/src/util/properties.test.ts
  packages/ag-charts-community/src/util/properties.ts
Owners: @alantreadway

AG-10859 - Make openKey required
  packages/ag-charts-enterprise/src/series/candlestick/candlestickSeriesProperties.ts
  packages/ag-charts-enterprise/src/series/ohlc/ohlcSeries.test.ts
Owners: @alantreadway

Cleanup Matrix and use native DOMMatrix where possible
  packages/ag-charts-community/src/chart/axis/axis.ts
  packages/ag-charts-community/src/chart/axis/groupedCategoryAxis.ts
  packages/ag-charts-community/src/scene/matrix.ts
  packages/ag-charts-community/src/scene/node.ts
Owners: @alantreadway

fix eslint config
  .eslintrc.json
Owners: @ag-grid/ag-charts-team

add DOMMatrix polyfill for tests
  packages/ag-charts-community/jest.jsdom-with-timezone.cjs
  packages/ag-charts-community/jest.setup.ts
  packages/ag-charts-community/src/chart/test/domMatrix-polyfill.ts
  packages/ag-charts-community/src/scene/node.ts
  packages/ag-charts-enterprise/jest.setup.ts
Owners: @alantreadway

docs tweaks plus placeholder accessiblity page
  packages/ag-charts-website/src/content/docs/accessibility/index.mdoc
  packages/ag-charts-website/src/content/docs/axes-grid-lines/_examples/axis-grid-lines/main.ts
  packages/ag-charts-website/src/content/docs/axes-grid-lines/index.mdoc
  packages/ag-charts-website/src/content/docs/supported-frameworks/index.mdoc
  packages/ag-charts-website/src/content/gallery/_examples/map-lines-markers/cycleRouteData.ts
  packages/ag-charts-website/src/content/menu/data.json
Owners: @rmc-software, @ag-grid/ag-charts-team

Fix tests polyfill
  packages/ag-charts-community/src/chart/test/domMatrix-polyfill.ts
  packages/ag-charts-community/src/scene/matrix.test.ts
  packages/ag-charts-community/src/scene/matrix.ts
Owners: @alantreadway

revert
  .eslintrc.json
Owners: @ag-grid/ag-charts-team

.eslintrc.json
  .eslintrc.json
Owners: @ag-grid/ag-charts-team

.eslintrc.json
  .eslintrc.json
  packages/ag-charts-community/.eslintrc.js
  packages/ag-charts-enterprise/.eslintrc.js
Owners: @ag-grid/ag-charts-team, @alantreadway

.eslintrc.json
  packages/ag-charts-community/src/chart/test/domMatrix-polyfill.ts
Owners: @alantreadway

AG-11264 - Update subrepo parent sha
  external/ag-website-shared/.gitrepo
Owners: @ag-grid/ag-charts-team

git subrepo pull external/ag-website-shared
  external/ag-website-shared/.gitrepo
  external/ag-website-shared/src/markdoc/tags/kbd.ts
Owners: @ag-grid/ag-charts-team

AG-11272 Add AriaAnnouncementServices
  packages/ag-charts-community/src/chart/caption.ts
  packages/ag-charts-community/src/chart/chartContext.ts
  packages/ag-charts-community/src/chart/interaction/ariaAnnouncementServices.ts
  packages/ag-charts-community/src/module/moduleContext.ts
Owners: @alantreadway

AG-11272 Add aria announcements for series/datums
  packages/ag-charts-community/src/chart/chart.ts
  packages/ag-charts-community/src/chart/chartContext.ts
  packages/ag-charts-community/src/chart/interaction/ariaAnnouncementServices.ts
Owners: @alantreadway

AG-11272 Add aria announcements for legend
  packages/ag-charts-community/src/chart/legend.ts
Owners: @alantreadway

AG-11190 Fix bug where hidden captions would get focused
  packages/ag-charts-community/src/chart/interaction/regionManager.ts
Owners: @alantreadway

AG-11190 Make non-truncated caption focusable
  packages/ag-charts-community/src/chart/caption.ts
Owners: @alantreadway

AG-11310 - Add kbd markdoc component
  packages/ag-charts-website/markdoc.config.ts
Owners: @ag-grid/ag-charts-team

AG-11190 Fix TC3: errors when tabbing into disable legend
  packages/ag-charts-community/src/chart/legend.ts
Owners: @alantreadway

AG-11310 - Add markdoc kbd custom tag (#1407)
  external/ag-website-shared/.gitrepo
  external/ag-website-shared/src/markdoc/tags/kbd.ts
  packages/ag-charts-website/markdoc.config.ts
Owners: @ag-grid/ag-charts-team

fix tests and nx tasks
  libraries/ag-charts-test/src/canvas/mock-canvas.ts
  packages/ag-charts-community/jest.config.ts
  packages/ag-charts-community/jest.jsdom-env.cjs
  packages/ag-charts-community/src/chart/agChart.test.ts
  packages/ag-charts-community/src/chart/agChartV2.test.ts
  packages/ag-charts-community/src/chart/agChartV2.ts
  packages/ag-charts-community/src/chart/chart.test.ts
  packages/ag-charts-community/src/chart/legend.test.ts
  packages/ag-charts-community/src/chart/mapping/prepare.test.ts
  packages/ag-charts-community/src/chart/series/cartesian/histogramSeries.test.ts
  packages/ag-charts-community/src/module/enterpriseModule.ts
  packages/ag-charts-community/src/scene/matrix.ts
  packages/ag-charts-community/src/util/test/mockCanvas.ts
  packages/ag-charts-enterprise/jest.config.ts
  packages/ag-charts-enterprise/src/features/background/backgroundImage.test.ts
  packages/ag-charts-enterprise/src/features/context-menu/contextMenu.test.ts
  packages/ag-charts-enterprise/src/features/error-bar/errorBar.test.ts
  packages/ag-charts-enterprise/src/features/features.test.ts
  packages/ag-charts-enterprise/src/license/licenseManager.ts
  packages/ag-charts-enterprise/src/series/map-line/mapLineSeries.test.ts
  packages/ag-charts-enterprise/src/series/map-marker/mapMarkerSeries.test.ts
  packages/ag-charts-enterprise/src/series/map-shape/mapShapeSeries.test.ts
  packages/ag-charts-enterprise/src/series/sunburst/sunburstSeries.test.ts
  packages/ag-charts-enterprise/src/series/treemap/treemapSeries.test.ts
  packages/ag-charts-enterprise/src/series/treemap/treemapSeries.ts
  packages/ag-charts-enterprise/src/setup.ts
  packages/ag-charts-enterprise/src/test/utils.ts
  plugins/ag-charts-generate-chart-thumbnail/jest.config.ts
  plugins/ag-charts-generate-chart-thumbnail/src/executors/generate/executor.ts
  plugins/ag-charts-generate-chart-thumbnail/src/executors/generate/generator/thumbnailGenerator.ts
Owners: @ag-grid/ag-charts-team, @alantreadway

revert redundant changes
  plugins/ag-charts-generate-chart-thumbnail/src/executors/generate/generator/thumbnailGenerator.ts
Owners: @ag-grid/ag-charts-team

leftovers
  plugins/ag-charts-generate-chart-thumbnail/src/executors/generate/executor.ts
Owners: @ag-grid/ag-charts-team

revert
  packages/ag-charts-community/.eslintrc.js
  packages/ag-charts-enterprise/.eslintrc.js
Owners: @alantreadway

AG-11268 Update toolbar styles to use grid variables
  packages/ag-charts-community/src/chart/chart.ts
  packages/ag-charts-community/src/chart/chartContext.ts
  packages/ag-charts-community/src/chart/interaction/toolbarManager.ts
  packages/ag-charts-community/src/chart/toolbar/toolbar.ts
  packages/ag-charts-community/src/chart/toolbar/toolbarStyles.ts
  packages/ag-charts-community/src/styles/reset.css
  packages/ag-charts-community/src/styles/reset.ts
  packages/ag-charts-community/src/styles/styles.ts
  packages/ag-charts-community/src/styles/theme-default-dark.css
  packages/ag-charts-community/src/styles/theme-default-dark.ts
  packages/ag-charts-community/src/styles/theme-default.css
  packages/ag-charts-community/src/styles/theme-default.ts
Owners: @alantreadway

AG-11268 Update toolbars to fill width and height
  packages/ag-charts-community/src/chart/toolbar/toolbar.ts
  packages/ag-charts-community/src/chart/toolbar/toolbarStyles.ts
Owners: @alantreadway

AG-11268 Rename toolbar section to group
  packages/ag-charts-community/src/chart/interaction/toolbarManager.ts
  packages/ag-charts-community/src/chart/toolbar/toolbar.ts
  packages/ag-charts-community/src/chart/toolbar/toolbarProperties.ts
  packages/ag-charts-community/src/options/chart/toolbarOptions.ts
  packages/ag-charts-enterprise/src/features/annotations/annotations.ts
  packages/ag-charts-enterprise/src/features/zoom/zoom.ts
Owners: @alantreadway

AG-11268 Remove unused css files
  packages/ag-charts-community/src/styles/reset.css
  packages/ag-charts-community/src/styles/theme-default-dark.css
  packages/ag-charts-community/src/styles/theme-default.css
Owners: @alantreadway

revert
  packages/ag-charts-community/src/module/enterpriseModule.ts
  packages/ag-charts-enterprise/src/license/licenseManager.ts
  packages/ag-charts-enterprise/src/setup.ts
Owners: @alantreadway

revert
  packages/ag-charts-enterprise/src/license/licenseManager.ts
Owners: @alantreadway

revert
  packages/ag-charts-community/src/chart/agChartV2.ts
Owners: @alantreadway

.github/CODEOWNERS:

# NOTE: Order of entries matters - later entries have higher precedence.

# Attribute code-owners so default reviewers are assigned to PRs.
* @ag-grid/ag-charts-team

# Astro + website changes to be reviewed by website team.
*.scss @markdurrant
*.astro @taktran
/packages/ag-charts-website/astro/** @taktran
/packages/ag-charts-website/components/** @taktran
/packages/ag-charts-website/features/** @taktran
/packages/ag-charts-website/layouts/** @taktran
/packages/ag-charts-website/stores/** @taktran
/packages/ag-charts-website/utils/** @taktran

# Docs updates to be reviewed by Eng VP.
/packages/ag-charts-website/content/** @alantreadway @rmc-software
*.mdoc @rmc-software

# Charts library code to be reviewed by Chart TL.
/packages/ag-charts-community/** @alantreadway
/packages/ag-charts-enterprise/** @alantreadway

# Sensitive build/repo files to be reviewed by Chart TL.
**/package.json @alantreadway
nx.json @alantreadway
**/project.json @alantreadway
**/tsconfig.json @alantreadway
**/tsconfig.*.json @alantreadway
