Repository ag-grid/ag-charts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ag-grid/ag-charts-team, @markdurrant, @taktran, @alantreadway, @rmc-software

.github/CODEOWNERS:

# NOTE: Order of entries matters - later entries have higher precedence.

# Attribute code-owners so default reviewers are assigned to PRs.
* @ag-grid/ag-charts-team

# Astro + website changes to be reviewed by website team.
*.scss @markdurrant
*.astro @taktran
/packages/ag-charts-website/astro/** @taktran
/packages/ag-charts-website/components/** @taktran
/packages/ag-charts-website/features/** @taktran
/packages/ag-charts-website/layouts/** @taktran
/packages/ag-charts-website/stores/** @taktran
/packages/ag-charts-website/utils/** @taktran

# Docs updates to be reviewed by Eng VP.
/packages/ag-charts-website/content/** @alantreadway @rmc-software
*.mdoc @rmc-software

# Charts library code to be reviewed by Chart TL.
/packages/ag-charts-community/** @alantreadway
/packages/ag-charts-enterprise/** @alantreadway

# Sensitive build/repo files to be reviewed by Chart TL.
**/package.json @alantreadway
nx.json @alantreadway
**/project.json @alantreadway
**/tsconfig.json @alantreadway
**/tsconfig.*.json @alantreadway

Cleanup leftovers
  packages/ag-charts-community/src/chart/data/dataModel.ts
  packages/ag-charts-community/src/chart/series/cartesian/areaSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/barSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/lineSeries.ts
  packages/ag-charts-community/src/chart/series/polar/donutSeries.ts
  packages/ag-charts-community/src/chart/series/polar/pieSeries.ts
  packages/ag-charts-community/src/module/optionsModule.ts
  packages/ag-charts-community/src/scene/extendedPath2D.ts
  packages/ag-charts-community/src/scene/shape/sector.test.ts
  packages/ag-charts-enterprise/src/axes/angle/angleAxis.ts
  packages/ag-charts-enterprise/src/axes/polar-crosslines/angleCrossLine.ts
Owners: @alantreadway

AG-10782 Update toolbar to html and move rangeButtons to toolbar
  packages/ag-charts-community/src/chart/factory/expectedEnterpriseModules.ts
  packages/ag-charts-community/src/chart/interaction/toolbarManager.ts
  packages/ag-charts-community/src/chart/mapping/__snapshots__/prepare.test.ts.snap
  packages/ag-charts-community/src/chart/toolbar/toolbar.ts
  packages/ag-charts-community/src/chart/toolbar/toolbarModule.ts
  packages/ag-charts-community/src/chart/toolbar/toolbarProperties.ts
  packages/ag-charts-community/src/chart/toolbar/toolbarStyles.ts
  packages/ag-charts-community/src/options/agChartOptions.ts
  packages/ag-charts-community/src/options/chart/chartOptions.ts
  packages/ag-charts-community/src/options/chart/rangeButtonsOptions.ts
  packages/ag-charts-community/src/options/chart/toolbarOptions.ts
  packages/ag-charts-enterprise/src/features/range-buttons/main.ts
  packages/ag-charts-enterprise/src/features/range-buttons/rangeButtons.ts
  packages/ag-charts-enterprise/src/features/range-buttons/rangeButtonsModule.ts
  packages/ag-charts-enterprise/src/features/zoom/zoom.ts
  packages/ag-charts-enterprise/src/setup.ts
  packages/ag-charts-website/src/content/docs/financial-charts/_examples/candlestick-plus-volume/main.ts
  packages/ag-charts-website/src/content/docs/financial-charts/_examples/candlestick-volume-combo/main.ts
  packages/ag-charts-website/src/content/docs/financial-charts/_examples/stock-tracking/main.ts
Owners: @alantreadway, @ag-grid/ag-charts-team

AG-10792 Fix zoom range domain when using 'all' range button
  packages/ag-charts-enterprise/src/features/zoom/zoomRange.ts
Owners: @alantreadway

AG-10217 - Remove crosshair theme extension
  packages/ag-charts-community/src/chart/themes/chartTheme.ts
  packages/ag-charts-community/src/chart/themes/symbols.ts
  packages/ag-charts-enterprise/src/axes/ordinal/ordinalTimeAxisThemes.ts
  packages/ag-charts-enterprise/src/features/crosshair/crosshairTheme.ts
Owners: @alantreadway

AG-10217 - Update tests
  packages/ag-charts-community/src/scale/ordinalTimeScale.test.ts
  packages/ag-charts-community/src/scale/ordinalTimeScale.ts
  packages/ag-charts-enterprise/src/series/candlestick/__image_snapshots__/candlestick-series-test-ts-candlestick-series-should-render-a-candlestick-chart-as-expected-with-reversed-axes-1-snap.png
  packages/ag-charts-enterprise/src/series/ohlc/__image_snapshots__/ohlc-series-test-ts-ohlc-series-should-render-a-ohlc-chart-as-expected-with-reversed-axes-1-snap.png
Owners: @alantreadway

AG-9843 Add vue, angular examples for animation data-updates
  packages/ag-charts-website/src/content/docs/animation/_examples/data-updates/main.ts
  packages/ag-charts-website/src/content/docs/animation/_examples/data-updates/provided/modules/angular/app.component.ts
  packages/ag-charts-website/src/content/docs/animation/_examples/data-updates/provided/modules/angular/data.ts
  packages/ag-charts-website/src/content/docs/animation/_examples/data-updates/provided/modules/angular/main.ts
  packages/ag-charts-website/src/content/docs/animation/_examples/data-updates/provided/modules/vue/data.js
  packages/ag-charts-website/src/content/docs/animation/_examples/data-updates/provided/modules/vue/main.js
  packages/ag-charts-website/src/content/docs/animation/_examples/data-updates/provided/modules/vue3/data.js
  packages/ag-charts-website/src/content/docs/animation/_examples/data-updates/provided/modules/vue3/main.js
Owners: @ag-grid/ag-charts-team

revert area & line
  packages/ag-charts-community/src/chart/series/cartesian/areaSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/lineSeries.ts
Owners: @alantreadway

AG-11238 Add support for treemap corner radius
  packages/ag-charts-community/src/options/series/hierarchy/treemapOptions.ts
  packages/ag-charts-enterprise/src/series/treemap/treemapSeries.ts
  packages/ag-charts-enterprise/src/series/treemap/treemapSeriesProperties.ts
Owners: @alantreadway

Cleanup leftovers (#1373)
  packages/ag-charts-community/src/chart/data/dataModel.ts
  packages/ag-charts-community/src/chart/series/cartesian/areaSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/barSeries.ts
  packages/ag-charts-community/src/chart/series/polar/donutSeries.ts
  packages/ag-charts-community/src/chart/series/polar/pieSeries.ts
  packages/ag-charts-community/src/module/optionsModule.ts
  packages/ag-charts-community/src/scene/extendedPath2D.ts
  packages/ag-charts-community/src/scene/shape/sector.test.ts
  packages/ag-charts-enterprise/src/axes/angle/angleAxis.ts
  packages/ag-charts-enterprise/src/axes/polar-crosslines/angleCrossLine.ts
Owners: @alantreadway

base example
  packages/ag-charts-community/src/chart/series/cartesian/barSeries.ts
  packages/ag-charts-community/src/sandbox/agCharts.ts
  packages/ag-charts-community/src/sandbox/chart/baseChart.ts
  packages/ag-charts-community/src/sandbox/chart/chartOptions.ts
  packages/ag-charts-community/src/sandbox/chart/dataPipeline.ts
  packages/ag-charts-community/src/sandbox/chart/domains.ts
  packages/ag-charts-community/src/sandbox/chart/layout.ts
  packages/ag-charts-community/src/sandbox/chart/scene.ts
  packages/ag-charts-community/src/sandbox/chart/series.ts
  packages/ag-charts-community/src/sandbox/chart/types.ts
  packages/ag-charts-community/src/sandbox/main.ts
  packages/ag-charts-community/src/sandbox/modules/animation.ts
  packages/ag-charts-community/src/sandbox/modules/barSeries.ts
  packages/ag-charts-community/src/sandbox/modules/defs/animationModule.ts
  packages/ag-charts-community/src/sandbox/modules/defs/barSeriesModule.ts
  packages/ag-charts-community/src/sandbox/modules/defs/commonOptions.ts
  packages/ag-charts-community/src/sandbox/modules/types.ts
  packages/ag-charts-community/src/sandbox/util/eventEmitter.ts
  packages/ag-charts-community/src/sandbox/util/object.ts
  packages/ag-charts-community/src/sandbox/util/resizeObserver.ts
  packages/ag-charts-community/src/sandbox/util/stageQueue.ts
  packages/ag-charts-community/src/sandbox/util/validate.ts
  packages/ag-charts-community/src/util/dom.ts
Owners: @alantreadway

Tests
  packages/ag-charts-enterprise/src/series/treemap/treemapSeries.test.ts
Owners: @alantreadway

Snapshots
  packages/ag-charts-enterprise/src/__image_snapshots__/gallery-examples-test-ts-gallery-examples-ag-chart-v-2-create-for-treemap-with-color-range-example-it-should-render-to-canvas-as-expected-1-snap.png
Owners: @alantreadway

minor optional validator improvement
  packages/ag-charts-community/src/sandbox/chart/chartOptions.ts
  packages/ag-charts-community/src/sandbox/util/validate.ts
Owners: @alantreadway

Upgrade path2d-polyfill and remove patch our fix has been officially released
  packages/ag-charts-community/package.json
  packages/ag-charts-enterprise/package.json
  patches/path2d+0.1.2.patch
  yarn.lock
Owners: @alantreadway, @ag-grid/ag-charts-team

Upgrade path2d-polyfill and remove patch (#1378)
  packages/ag-charts-community/package.json
  packages/ag-charts-enterprise/package.json
  patches/path2d+0.1.2.patch
  yarn.lock
Owners: @alantreadway, @ag-grid/ag-charts-team

wip
  packages/ag-charts-community/src/sandbox/chart/chartOptions.ts
  packages/ag-charts-community/src/sandbox/chart/dataPipeline.ts
  packages/ag-charts-community/src/sandbox/chart/scene.ts
  packages/ag-charts-community/src/sandbox/modules/defs/animationModule.ts
  packages/ag-charts-community/src/sandbox/modules/defs/barSeriesModule.ts
  packages/ag-charts-community/src/sandbox/modules/defs/commonOptions.ts
  packages/ag-charts-community/src/sandbox/modules/types.ts
  packages/ag-charts-community/src/sandbox/util/validation.ts
  packages/ag-charts-community/src/util/dom.ts
Owners: @alantreadway

AG-11235 - Update what's new page to link to user framework page
  packages/ag-charts-website/src/components/version/Version.tsx
  packages/ag-charts-website/src/content/versions/data.json
  packages/ag-charts-website/src/pages/whats-new.astro
  packages/ag-charts-website/src/utils/hooks/useFrameworkFromStore.ts
Owners: @ag-grid/ag-charts-team, @taktran

AG-11235 - Update grid localhost url
  packages/ag-charts-website/src/constants.ts
Owners: @ag-grid/ag-charts-team

improve options/validations
  packages/ag-charts-community/src/sandbox/chart/chartOptions.ts
  packages/ag-charts-community/src/sandbox/chart/types.ts
  packages/ag-charts-community/src/sandbox/modules/defs/animationModule.ts
  packages/ag-charts-community/src/sandbox/modules/defs/barSeriesModule.ts
  packages/ag-charts-community/src/sandbox/modules/defs/commonOptions.ts
  packages/ag-charts-community/src/sandbox/util/string.ts
  packages/ag-charts-community/src/sandbox/util/validation.ts
Owners: @alantreadway

nit
  packages/ag-charts-community/src/sandbox/chart/baseChart.ts
  packages/ag-charts-community/src/sandbox/util/string.ts
  packages/ag-charts-community/src/sandbox/util/validation.ts
Owners: @alantreadway

AG-11180 Document framework support
  packages/ag-charts-website/src/content/docs/installation/index.mdoc
  packages/ag-charts-website/src/content/docs/supported-browsers/index.mdoc
  packages/ag-charts-website/src/content/docs/supported-frameworks/index.mdoc
  packages/ag-charts-website/src/content/docs/supported-frameworks/resources/angular.svg
  packages/ag-charts-website/src/content/docs/supported-frameworks/resources/react.svg
  packages/ag-charts-website/src/content/docs/supported-frameworks/resources/vue.svg
  packages/ag-charts-website/src/content/menu/data.json
Owners: @rmc-software, @ag-grid/ag-charts-team

wip - fix validation types
  packages/ag-charts-community/src/chart/series/cartesian/barSeries.ts
  packages/ag-charts-community/src/sandbox/chart/chartOptions.ts
  packages/ag-charts-community/src/sandbox/chart/types.ts
  packages/ag-charts-community/src/sandbox/modules/barSeries.ts
  packages/ag-charts-community/src/sandbox/modules/defs/barSeriesModule.ts
  packages/ag-charts-community/src/sandbox/modules/defs/commonOptions.ts
  packages/ag-charts-community/src/sandbox/modules/types.ts
  packages/ag-charts-community/src/sandbox/util/validation.ts
Owners: @alantreadway

Rename 'annotation' layer to 'addon'
  packages/ag-charts-community/src/chart/cartesianChart.ts
  packages/ag-charts-community/src/chart/chart.ts
  packages/ag-charts-community/src/chart/hierarchyChart.ts
  packages/ag-charts-community/src/chart/layers.ts
  packages/ag-charts-community/src/chart/series/cartesian/barSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/cartesianSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/lineSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/scatterSeries.ts
  packages/ag-charts-community/src/chart/series/series.ts
  packages/ag-charts-community/src/chart/series/seriesLayerManager.ts
  packages/ag-charts-community/src/chart/topologyChart.ts
  packages/ag-charts-enterprise/src/features/error-bar/errorBar.ts
  packages/ag-charts-enterprise/src/series/bullet/bulletSeries.ts
Owners: @alantreadway

Fix compiler error
  packages/ag-charts-enterprise/src/features/error-bar/errorBar.ts
Owners: @alantreadway

AG-11181 Add security docs
  packages/ag-charts-website/src/content/docs/security/index.mdoc
  packages/ag-charts-website/src/content/menu/data.json
Owners: @rmc-software, @ag-grid/ag-charts-team

wip
  packages/ag-charts-community/src/sandbox/agCharts.ts
  packages/ag-charts-community/src/sandbox/chart/baseChart.ts
  packages/ag-charts-community/src/sandbox/chart/chartOptions.ts
  packages/ag-charts-community/src/sandbox/chart/dataPipeline.ts
  packages/ag-charts-community/src/sandbox/chart/types.ts
  packages/ag-charts-community/src/sandbox/main.ts
  packages/ag-charts-community/src/sandbox/modules/defs/commonOptions.ts
  packages/ag-charts-community/src/sandbox/util/validation.test.ts
  packages/ag-charts-community/src/sandbox/util/validation.ts
Owners: @alantreadway

AG-10782 Add toolbar docs and fix position visibility
  packages/ag-charts-community/src/chart/interaction/toolbarManager.ts
  packages/ag-charts-community/src/chart/toolbar/toolbar.ts
  packages/ag-charts-community/src/chart/toolbar/toolbarModule.ts
  packages/ag-charts-community/src/chart/toolbar/toolbarProperties.ts
  packages/ag-charts-community/src/chart/toolbar/toolbarStyles.ts
  packages/ag-charts-community/src/chart/toolbar/toolbarTypes.ts
  packages/ag-charts-community/src/options/chart/toolbarOptions.ts
  packages/ag-charts-website/src/content/docs/toolbar/_examples/toolbar-buttons/data.ts
  packages/ag-charts-website/src/content/docs/toolbar/_examples/toolbar-buttons/index.html
  packages/ag-charts-website/src/content/docs/toolbar/_examples/toolbar-buttons/main.ts
  packages/ag-charts-website/src/content/docs/toolbar/_examples/toolbar-positions/data.ts
  packages/ag-charts-website/src/content/docs/toolbar/_examples/toolbar-positions/index.html
  packages/ag-charts-website/src/content/docs/toolbar/_examples/toolbar-positions/main.ts
  packages/ag-charts-website/src/content/docs/toolbar/_examples/toolbar/data.ts
  packages/ag-charts-website/src/content/docs/toolbar/_examples/toolbar/index.html
  packages/ag-charts-website/src/content/docs/toolbar/_examples/toolbar/main.ts
  packages/ag-charts-website/src/content/docs/toolbar/index.mdoc
  packages/ag-charts-website/src/content/menu/data.json
Owners: @alantreadway, @ag-grid/ag-charts-team, @rmc-software

wip
  packages/ag-charts-community/src/sandbox/agCharts.ts
  packages/ag-charts-community/src/sandbox/axes/baseAxis.ts
  packages/ag-charts-community/src/sandbox/chart/baseChart.ts
  packages/ag-charts-community/src/sandbox/chart/cartesianChart.ts
  packages/ag-charts-community/src/sandbox/chart/chartOptions.ts
  packages/ag-charts-community/src/sandbox/chart/hierarchyChart.ts
  packages/ag-charts-community/src/sandbox/chart/polarChart.ts
  packages/ag-charts-community/src/sandbox/chart/series.ts
  packages/ag-charts-community/src/sandbox/chart/topologyChart.ts
  packages/ag-charts-community/src/sandbox/data/dataPipeline.ts
  packages/ag-charts-community/src/sandbox/data/domains.ts
  packages/ag-charts-community/src/sandbox/defs/animationModule.ts
  packages/ag-charts-community/src/sandbox/defs/barSeriesModule.ts
  packages/ag-charts-community/src/sandbox/defs/commonOptions.ts
  packages/ag-charts-community/src/sandbox/modules/animation.ts
  packages/ag-charts-community/src/sandbox/modules/types.ts
  packages/ag-charts-community/src/sandbox/render/layout.ts
  packages/ag-charts-community/src/sandbox/render/scene.ts
  packages/ag-charts-community/src/sandbox/series/barSeries.ts
  packages/ag-charts-community/src/sandbox/series/baseSeries.ts
  packages/ag-charts-community/src/sandbox/types.ts
Owners: @alantreadway

AG-11181 Update security docs
  packages/ag-charts-website/src/content/docs/security/index.mdoc
Owners: @rmc-software

wip
  packages/ag-charts-community/src/sandbox/agCharts.ts
  packages/ag-charts-community/src/sandbox/chart/baseChart.ts
  packages/ag-charts-community/src/sandbox/data/dataPipeline.ts
  packages/ag-charts-community/src/sandbox/data/dataProcessor.ts
Owners: @alantreadway

wip
  packages/ag-charts-community/src/sandbox/chart/baseChart.ts
  packages/ag-charts-community/src/sandbox/data/dataPipeline.ts
  packages/ag-charts-community/src/sandbox/data/dataProcessor.ts
Owners: @alantreadway

wip
  packages/ag-charts-community/src/chart/overlay/loadingSpinner.ts
  packages/ag-charts-community/src/chart/overlay/overlay.ts
  packages/ag-charts-community/src/sandbox/agCharts.ts
  packages/ag-charts-community/src/sandbox/render/scene.ts
  packages/ag-charts-community/src/util/dom.ts
Owners: @alantreadway

wip
  packages/ag-charts-community/src/sandbox/agCharts.ts
  packages/ag-charts-community/src/sandbox/chart/baseChart.ts
  packages/ag-charts-community/src/sandbox/chart/cartesianChart.ts
  packages/ag-charts-community/src/sandbox/chart/chartOptions.ts
  packages/ag-charts-community/src/sandbox/chart/hierarchyChart.ts
  packages/ag-charts-community/src/sandbox/chart/polarChart.ts
  packages/ag-charts-community/src/sandbox/chart/topologyChart.ts
  packages/ag-charts-community/src/sandbox/data/domains.ts
  packages/ag-charts-community/src/sandbox/defs/animationModule.ts
  packages/ag-charts-community/src/sandbox/defs/barSeriesModule.ts
  packages/ag-charts-community/src/sandbox/defs/commonOptions.ts
  packages/ag-charts-community/src/sandbox/defs/commonOptionsDefs.ts
  packages/ag-charts-community/src/sandbox/defs/testDefs.ts
  packages/ag-charts-community/src/sandbox/render/scene.ts
  packages/ag-charts-community/src/sandbox/series/barSeries.ts
  packages/ag-charts-community/src/sandbox/types.ts
  packages/ag-charts-community/src/sandbox/types/agChartsTypes.ts
  packages/ag-charts-community/src/sandbox/types/axisTypes.ts
  packages/ag-charts-community/src/sandbox/types/commonTypes.ts
  packages/ag-charts-community/src/sandbox/types/moduleTypes.ts
  packages/ag-charts-community/src/sandbox/types/seriesTypes.ts
Owners: @alantreadway

wip
  packages/ag-charts-community/src/sandbox/chart/baseChart.ts
  packages/ag-charts-community/src/sandbox/data/dataProcessor.ts
  packages/ag-charts-community/src/sandbox/defs/barSeriesModule.ts
  packages/ag-charts-community/src/sandbox/types/commonTypes.ts
  packages/ag-charts-community/src/sandbox/types/moduleTypes.ts
  packages/ag-charts-community/src/sandbox/util/stageQueue.ts
Owners: @alantreadway

Automated package version bump to 9.2.1-beta.20240407.
  .env
  libraries/ag-charts-test/package.json
  package.json
  packages/ag-charts-angular/package.json
  packages/ag-charts-angular/projects/ag-charts-angular/package.json
  packages/ag-charts-community-examples/package.json
  packages/ag-charts-community/package.json
  packages/ag-charts-community/src/version.ts
  packages/ag-charts-enterprise/package.json
  packages/ag-charts-react/package.json
  packages/ag-charts-vue/package.json
  packages/ag-charts-vue3/package.json
  packages/ag-charts-website/.env.build
  packages/ag-charts-website/.env.build.archive
  packages/ag-charts-website/.env.build.production
  packages/ag-charts-website/.env.build.staging
  packages/ag-charts-website/.env.dev
  packages/ag-charts-website/.env.preview
  packages/ag-charts-website/.env.preview.production
  packages/ag-charts-website/.env.preview.staging
  packages/ag-charts-website/package.json
  plugins/ag-charts-generate-chart-thumbnail/package.json
  plugins/ag-charts-generate-code-reference-files/package.json
  plugins/ag-charts-generate-example-files/package.json
Owners: @ag-grid/ag-charts-team, @alantreadway

wip
  packages/ag-charts-community/src/sandbox/axes/baseAxis.ts
  packages/ag-charts-community/src/sandbox/chart/cartesianChart.ts
  packages/ag-charts-community/src/sandbox/chart/polarChart.ts
  packages/ag-charts-community/src/sandbox/defs/barSeriesModule.ts
  packages/ag-charts-community/src/sandbox/modules/baseModule.ts
  packages/ag-charts-community/src/sandbox/modules/moduleRegistry.ts
  packages/ag-charts-community/src/sandbox/series/baseSeries.ts
  packages/ag-charts-community/src/sandbox/types/axisTypes.ts
  packages/ag-charts-community/src/sandbox/types/moduleTypes.ts
Owners: @alantreadway

wip
  packages/ag-charts-community/src/sandbox/agCharts.ts
  packages/ag-charts-community/src/sandbox/bootstrap.ts
  packages/ag-charts-community/src/sandbox/defs/animationModule.ts
  packages/ag-charts-community/src/sandbox/main.ts
  packages/ag-charts-community/src/sandbox/modules/animation.ts
  packages/ag-charts-community/src/sandbox/types/agChartsTypes.ts
  packages/ag-charts-community/src/sandbox/types/axisTypes.ts
  packages/ag-charts-community/src/sandbox/types/commonTypes.ts
Owners: @alantreadway

Fix bar series stacking on visibility change
  packages/ag-charts-community/src/chart/series/cartesian/barSeries.ts
Owners: @alantreadway

Add formats back in
  packages/ag-charts-website/src/content/docs/axes-labels/index.mdoc
Owners: @rmc-software

Add formats back in
  packages/ag-charts-website/src/content/docs/axes-labels/index.mdoc
Owners: @rmc-software
