Repository ag-grid/ag-charts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ag-grid/ag-charts-team, @markdurrant, @taktran, @alantreadway, @rmc-software

CRT-503: Crosshair label goes outside bounds
  packages/ag-charts-website/src/content/gallery/_examples/multiple-box-plots/main.ts
Owners: @ag-grid/ag-charts-team

CRT-498: API docs - Warning on unknown type "tuple"
  packages/ag-charts-website/src/features/api-documentation/apiReferenceHelpers.ts
Owners: @ag-grid/ag-charts-team

Version bump work
  tools/release/createGitHubReleaseAttachArtifacts.mjs
  tools/release/publishDistArtifactsToNpm.sh
  tools/release/pushIfValidChangeset.sh
  tools/release/sanityCheckPackages.js
  tools/release/utils/utils.js
  tools/release/validateDistFolders.sh
Owners: @ag-grid/ag-charts-team

Fix duplicate comment
  packages/ag-charts-locale/src/en-US.ts
Owners: @ag-grid/ag-charts-team

Translate iconAltTextAlignCenter and iconAltTextPositionCenter keys
  packages/ag-charts-locale/src/ar-EG.ts
  packages/ag-charts-locale/src/bg-BG.ts
  packages/ag-charts-locale/src/cs-CZ.ts
  packages/ag-charts-locale/src/da-DK.ts
  packages/ag-charts-locale/src/de-DE.ts
  packages/ag-charts-locale/src/el-GR.ts
  packages/ag-charts-locale/src/es-ES.ts
  packages/ag-charts-locale/src/fa-IR.ts
  packages/ag-charts-locale/src/fi-FI.ts
  packages/ag-charts-locale/src/fr-FR.ts
  packages/ag-charts-locale/src/he-IL.ts
  packages/ag-charts-locale/src/hr-HR.ts
  packages/ag-charts-locale/src/hu-HU.ts
  packages/ag-charts-locale/src/it-IT.ts
  packages/ag-charts-locale/src/ja-JP.ts
  packages/ag-charts-locale/src/ko-KR.ts
  packages/ag-charts-locale/src/nb-NO.ts
  packages/ag-charts-locale/src/nl-NL.ts
  packages/ag-charts-locale/src/pl-PL.ts
  packages/ag-charts-locale/src/pt-BR.ts
  packages/ag-charts-locale/src/pt-PT.ts
  packages/ag-charts-locale/src/ro-RO.ts
  packages/ag-charts-locale/src/sk-SK.ts
  packages/ag-charts-locale/src/sv-SE.ts
  packages/ag-charts-locale/src/tr-TR.ts
  packages/ag-charts-locale/src/uk-UA.ts
  packages/ag-charts-locale/src/ur-PK.ts
  packages/ag-charts-locale/src/vi-VN.ts
  packages/ag-charts-locale/src/zh-CN.ts
  packages/ag-charts-locale/src/zh-HK.ts
  packages/ag-charts-locale/src/zh-TW.ts
Owners: @ag-grid/ag-charts-team

run format, fix build
  tools/release/createGitHubReleaseAttachArtifacts.mjs
  tools/release/sanityCheckPackages.js
  tools/release/utils/utils.js
Owners: @ag-grid/ag-charts-team

CRT-467 - Remove redundant animation warning.
  packages/ag-charts-community/src/chart/interaction/animationBatch.ts
Owners: @alantreadway

CRT-501: Gradient Legend - Scale is inverted when vertically positioned
  packages/ag-charts-enterprise/src/gradient-legend/gradientLegend.ts
Owners: @alantreadway

CRT-486 - Fix annotations text wrapping when at the edge of the chart
  packages/ag-charts-enterprise/src/features/annotations/annotationsStateMachine.ts
Owners: @alantreadway

Area series animation fixes
  packages/ag-charts-community/src/chart/series/cartesian/areaUtil.ts
  packages/ag-charts-community/src/chart/series/cartesian/lineInterpolationUtil.ts
Owners: @alantreadway

correct dpr
  packages/ag-charts-website/src/content/docs/financial-charts/resources/zoom-dark.mp4
  packages/ag-charts-website/src/content/docs/financial-charts/resources/zoom.mp4
Owners: @ag-grid/ag-charts-team

CRT-508 - Fix Polar axis hover not allowing highlight + tooltips.
  packages/ag-charts-community/src/chart/chart.ts
  packages/ag-charts-community/src/chart/series/seriesAreaClickManager.ts
  packages/ag-charts-community/src/chart/series/seriesAreaHighlightManager.ts
  packages/ag-charts-community/src/chart/series/seriesAreaManager.ts
  packages/ag-charts-community/src/chart/series/seriesAreaTooltipManager.ts
Owners: @alantreadway

Lint fixes.
  packages/ag-charts-community/src/chart/series/cartesian/lineInterpolationUtil.ts
Owners: @alantreadway

CRT-471 Fix channels to use actual top/bottom line for text position
  packages/ag-charts-enterprise/src/features/annotations/scenes/lineWithTextScene.ts
Owners: @alantreadway

CRT-486 - Fix annotations text wrapping when at the edge of the chart
  packages/ag-charts-enterprise/src/features/annotations/scenes/textualPointScene.ts
  packages/ag-charts-enterprise/src/features/annotations/scenes/textualStartEndScene.ts
Owners: @alantreadway

CRT-471 Fix parallel channel text position bottom outside
  packages/ag-charts-enterprise/src/features/annotations/__image_snapshots__/annotations-test-ts-annotations-lines-with-text-should-render-parallel-channel-annotations-with-text-1-snap.png
  packages/ag-charts-enterprise/src/features/annotations/scenes/lineWithTextScene.ts
Owners: @alantreadway

CRT-482 Remove 'not allowed' cursor from channel validation
  packages/ag-charts-enterprise/src/features/annotations/annotations.ts
Owners: @alantreadway

CRT-491 Fix history for cut & paste, removes copy from history
  packages/ag-charts-enterprise/src/features/annotations/annotations.ts
  packages/ag-charts-enterprise/src/features/annotations/annotationsStateMachine.ts
Owners: @alantreadway

Update gallery examples
  packages/ag-charts-website/src/content/gallery/_examples/customised-radial-gauge/main.ts
Owners: @ag-grid/ag-charts-team

CRT-502 Fix select element label to use textContent
  packages/ag-charts-community/src/dom/elements.ts
Owners: @alantreadway

CRT-487 - Fix pasted annotation styles
  packages/ag-charts-enterprise/src/features/annotations/annotations.ts
Owners: @alantreadway

CRT-479 Fix svg arc generation
  packages/ag-charts-community/src/scene/extendedPath2D.ts
Owners: @alantreadway

Version Bump
  .env
  libraries/ag-charts-test/package.json
  package.json
  packages/ag-charts-angular/package.json
  packages/ag-charts-angular/projects/ag-charts-angular/package.json
  packages/ag-charts-community-examples/package.json
  packages/ag-charts-community/package.json
  packages/ag-charts-community/src/version.ts
  packages/ag-charts-enterprise/package.json
  packages/ag-charts-locale/package.json
  packages/ag-charts-react/package.json
  packages/ag-charts-types/package.json
  packages/ag-charts-vue3/package.json
  packages/ag-charts-website/.env.build
  packages/ag-charts-website/.env.build.archive
  packages/ag-charts-website/.env.build.production
  packages/ag-charts-website/.env.build.staging
  packages/ag-charts-website/.env.dev
  packages/ag-charts-website/.env.preview
  packages/ag-charts-website/.env.preview.production
  packages/ag-charts-website/.env.preview.staging
  packages/ag-charts-website/package.json
  plugins/ag-charts-generate-chart-thumbnail/package.json
  plugins/ag-charts-generate-code-reference-files/package.json
  plugins/ag-charts-generate-example-files/package.json
Owners: @ag-grid/ag-charts-team, @alantreadway

CRT-473 Gallery example generation fixes
  plugins/ag-charts-generate-chart-thumbnail/src/executors/generate/generator/patchOptions.ts
Owners: @ag-grid/ag-charts-team

CRT-468 Animation workaround
  packages/ag-charts-community/src/chart/series/cartesian/lineSeries.ts
Owners: @alantreadway

CRT-485 Use overlay HTML element instead of aria announcer for bounds
  packages/ag-charts-community/src/chart/interaction/ariaAnnouncementServices.ts
  packages/ag-charts-community/src/chart/series/seriesAreaFocusManager.ts
  packages/ag-charts-community/src/chart/update/overlaysProcessor.ts
Owners: @alantreadway

CRT-469 Fix gallery links for gauges
  packages/ag-charts-website/src/content/gallery/data.json
Owners: @ag-grid/ag-charts-team

CRT-494 Add missing api docs for annotation options
  packages/ag-charts-types/src/chart/annotationsOptions.ts
Owners: @ag-grid/ag-charts-team

CRT-494 Change note background theme option to optional
  packages/ag-charts-types/src/chart/annotationsOptions.ts
Owners: @ag-grid/ag-charts-team

CRT-500 Enforce DPI when downloading chart with explicit width/height
  packages/ag-charts-community/src/chart/chartProxy.ts
Owners: @alantreadway

CRT-484 - Prevent text input element focus scrolling the page when being clipped off the chart
  packages/ag-charts-community/src/util/dom.ts
Owners: @alantreadway

CRT-495 - Prevent redraw causing custom markers to grow.
  packages/ag-charts-community/src/chart/series/cartesian/markerUtil.ts
  packages/ag-charts-community/src/chart/series/series.ts
  packages/ag-charts-community/src/scene/point.ts
Owners: @alantreadway

CRT-516 Handle reversed axis ticks
  packages/ag-charts-community/src/chart/axis/axisTicks.ts
Owners: @alantreadway

CRT-504 Update types
  packages/ag-charts-types/src/chart/zoomOptions.ts
Owners: @ag-grid/ag-charts-team

CRT-481 Remove debug code
  packages/ag-charts-enterprise/src/features/context-menu/contextMenu.ts
Owners: @alantreadway

CRT-481 Fix e2e failure by remove blur handlers before closing
  packages/ag-charts-community/src/util/keynavUtil.ts
Owners: @alantreadway

CRT-481 Close context menu when focus away from it
  packages/ag-charts-community/src/util/keynavUtil.ts
  packages/ag-charts-enterprise/src/features/context-menu/contextMenu.ts
Owners: @alantreadway

CRT-519 - Increase font weight of see child props button
  external/ag-website-shared/src/components/reference-documentation/ApiReference.module.scss
Owners: @markdurrant

CRT-519 - Add line break for API description 'See: Themes Reference'
  packages/ag-charts-types/src/chartBuilderOptions.ts
Owners: @ag-grid/ag-charts-team

CRT-519 - Prevent parent/child lines overlaping prop names
  external/ag-website-shared/src/components/reference-documentation/ApiReference.module.scss
Owners: @markdurrant

.github/CODEOWNERS:

# NOTE: Order of entries matters - later entries have higher precedence.

# Attribute code-owners so default reviewers are assigned to PRs.
* @ag-grid/ag-charts-team

# Astro + website changes to be reviewed by website team.
*.scss @markdurrant
*.astro @taktran
/packages/ag-charts-website/astro/** @taktran
/packages/ag-charts-website/components/** @taktran
/packages/ag-charts-website/features/** @taktran
/packages/ag-charts-website/layouts/** @taktran
/packages/ag-charts-website/stores/** @taktran
/packages/ag-charts-website/utils/** @taktran

# Docs updates to be reviewed by Eng VP.
/packages/ag-charts-website/content/** @alantreadway @rmc-software
*.mdoc @rmc-software

# Charts library code to be reviewed by Chart TL.
/packages/ag-charts-community/** @alantreadway
/packages/ag-charts-enterprise/** @alantreadway

# Sensitive build/repo files to be reviewed by Chart TL.
**/package.json @alantreadway
nx.json @alantreadway
**/project.json @alantreadway
**/tsconfig.json @alantreadway
**/tsconfig.*.json @alantreadway
