Repository ag-grid/ag-charts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ag-grid/ag-charts-team, @markdurrant, @taktran, @alantreadway, @rmc-software

AG-11671 - Update versions dates
  packages/ag-charts-website/src/content/versions/ag-charts-versions.json
Owners: @ag-grid/ag-charts-team

AG-11653 Ensure labels show when pie/donut has a solid fill highlight
  packages/ag-charts-community/src/chart/__image_snapshots__/gallery-examples-test-ts-gallery-examples-ag-chart-v-2-create-for-simple-pie-chart-example-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-community/src/chart/chart.test.ts
  packages/ag-charts-community/src/chart/series/__image_snapshots__/series-labels-test-ts-series-labels-create-for-pie-series-labels-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-community/src/chart/series/polar/__image_snapshots__/polar-series-test-ts-polar-series-create-for-pie-callout-labels-collisions-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-community/src/chart/series/polar/__image_snapshots__/polar-series-test-ts-polar-series-create-for-pie-sectors-different-radii-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-community/src/chart/series/polar/__image_snapshots__/polar-series-test-ts-polar-series-create-for-pie-sectors-different-radii-small-radius-min-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-community/src/chart/series/polar/__image_snapshots__/polar-series-test-ts-polar-series-create-for-pie-series-negative-values-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-community/src/chart/series/polar/__image_snapshots__/polar-series-test-ts-polar-series-remove-animation-for-pie-series-should-animate-at-100-1-snap.png
  packages/ag-charts-community/src/chart/series/polar/donutSeries.ts
  packages/ag-charts-community/src/chart/series/polar/pieSeries.ts
  packages/ag-charts-community/src/chart/series/polar/polarSeries.ts
Owners: @alantreadway

Fix missing Nx dependency from Community to ag-charts-test.
  libraries/ag-charts-test/project.json
Owners: @alantreadway

AG-11680 Area series line style docs
  packages/ag-charts-website/src/content/docs/area-series/_examples/line-style/data.ts
  packages/ag-charts-website/src/content/docs/area-series/_examples/line-style/index.html
  packages/ag-charts-website/src/content/docs/area-series/_examples/line-style/main.ts
  packages/ag-charts-website/src/content/docs/area-series/_examples/line-style/styles.css
  packages/ag-charts-website/src/content/docs/area-series/index.mdoc
Owners: @ag-grid/ag-charts-team, @rmc-software

Cleanup ag-charts-test Nx setup.
  libraries/ag-charts-test/project.json
Owners: @alantreadway

AG-11698 Add annotation lock/unlock buttons
  packages/ag-charts-community/src/chart/interaction/toolbarManager.ts
  packages/ag-charts-community/src/chart/toolbar/toolbar.ts
  packages/ag-charts-community/src/chart/toolbar/toolbarModule.ts
  packages/ag-charts-community/src/chart/toolbar/toolbarStyles.ts
  packages/ag-charts-community/src/module/__snapshots__/optionsModule.test.ts.snap
  packages/ag-charts-community/src/options/chart/toolbarOptions.ts
  packages/ag-charts-community/src/styles/icons.ts
  packages/ag-charts-enterprise/src/features/annotations/annotationProperties.ts
  packages/ag-charts-enterprise/src/features/annotations/annotations.ts
  packages/ag-charts-enterprise/src/features/annotations/line/lineScene.ts
  packages/ag-charts-enterprise/src/features/annotations/scenes/channelScene.ts
  packages/ag-charts-enterprise/src/features/annotations/scenes/handle.ts
  packages/ag-charts-enterprise/src/features/zoom/zoomToolbar.ts
Owners: @alantreadway

Update snapshot
  packages/ag-charts-enterprise/src/features/zoom/__image_snapshots__/zoom-test-ts-zoom-listeners-should-not-zoom-out-when-double-clicking-a-node-1-snap.png
Owners: @alantreadway

Improve example generator error messages.
  plugins/ag-charts-generate-example-files/src/executors-utils.ts
  plugins/ag-charts-generate-example-files/src/executors/generate/executor.ts
Owners: @ag-grid/ag-charts-team

AG-8192 - Update API docs.
  packages/ag-charts-community/src/options/chart/chartBuilderOptions.ts
  packages/ag-charts-website/src/content/docs/api-create-update/index.mdoc
Owners: @alantreadway, @rmc-software

AG-8192 - Update API docs.
  packages/ag-charts-website/src/content/docs/api-download/_examples/download/index.html
  plugins/ag-charts-generate-example-files/src/executors/generate/generator/transformation-scripts/chart-vanilla-to-angular.ts
  plugins/ag-charts-generate-example-files/src/executors/generate/generator/transformation-scripts/chart-vanilla-to-react-functional-ts.ts
  plugins/ag-charts-generate-example-files/src/executors/generate/generator/transformation-scripts/chart-vanilla-to-react-functional.ts
  plugins/ag-charts-generate-example-files/src/executors/generate/generator/transformation-scripts/chart-vanilla-to-vue3.ts
  plugins/ag-charts-generate-example-files/src/executors/generate/generator/transformation-scripts/parser-utils.ts
Owners: @ag-grid/ag-charts-team

git subrepo pull external/ag-website-shared
  external/ag-website-shared/.gitrepo
  external/ag-website-shared/eslint.config.mjs
  external/ag-website-shared/src/components/community/pages/home.astro
  external/ag-website-shared/src/components/documentation-archive/DocumentationArchive.astro
  external/ag-website-shared/src/components/documentation-archive/DocumentationArchive.module.scss
  external/ag-website-shared/src/components/sitemap/sitemap.module.scss
  external/ag-website-shared/src/components/whats-new/pages/whats-new.astro
  external/ag-website-shared/src/content/community/showcase.json
  external/ag-website-shared/src/content/community/tools-extensions.json
  external/ag-website-shared/src/design-system/core/_breakpoints.scss
Owners: @ag-grid/ag-charts-team, @taktran, @markdurrant

AG-8192 - Add Promise-based JS+TS example.
  packages/ag-charts-website/src/content/docs/api-create-update/_examples/wait-for-update/data.ts
  packages/ag-charts-website/src/content/docs/api-create-update/_examples/wait-for-update/index.html
  packages/ag-charts-website/src/content/docs/api-create-update/_examples/wait-for-update/main.ts
  packages/ag-charts-website/src/content/docs/api-create-update/_examples/wait-for-update/styles.css
  packages/ag-charts-website/src/content/docs/api-create-update/index.mdoc
  plugins/ag-charts-generate-example-files/src/executors/generate/generator/examplesGenerator.ts
  plugins/ag-charts-generate-example-files/src/executors/generate/generator/transformation-scripts/chart-vanilla-to-react-functional-ts.ts
  plugins/ag-charts-generate-example-files/src/executors/generate/generator/transformation-scripts/chart-vanilla-to-react-functional.ts
  plugins/ag-charts-generate-example-files/src/executors/generate/generator/transformation-scripts/parser-utils.ts
  plugins/ag-charts-generate-example-files/src/executors/generate/generator/transformation-scripts/react-utils.ts
Owners: @ag-grid/ag-charts-team, @rmc-software

AG-11136 Move event.region? property into regionManager.ts
  packages/ag-charts-community/src/chart/interaction/interactionManager.ts
  packages/ag-charts-community/src/chart/interaction/keyNavManager.ts
  packages/ag-charts-community/src/chart/interaction/regionManager.ts
Owners: @alantreadway

AG-11136 Fix build
  packages/ag-charts-community/src/chart/interaction/contextMenuRegistry.ts
  packages/ag-charts-community/src/chart/interaction/regionManager.ts
Owners: @alantreadway

AG-11757 Automatically change legend page when keynav
  packages/ag-charts-community/src/chart/legend.ts
  packages/ag-charts-community/src/chart/markerLabel.ts
Owners: @alantreadway

AG-11757 Remove RegionManager.updateFocusIndicatorRect
  packages/ag-charts-community/src/chart/chart.ts
  packages/ag-charts-community/src/chart/interaction/regionManager.ts
  packages/ag-charts-community/src/chart/keyboardUtil.ts
  packages/ag-charts-community/src/chart/legend.ts
  packages/ag-charts-community/src/module/moduleContext.ts
Owners: @alantreadway

AG-11757 Fix highlighting when focusing on legend items
  packages/ag-charts-community/src/chart/dom/proxyInteractionService.ts
  packages/ag-charts-community/src/chart/legend.ts
Owners: @alantreadway

AG-11757 Make the legend an aria-toolbar
  packages/ag-charts-community/src/chart/legend.ts
  packages/ag-charts-community/src/util/dom.ts
Owners: @alantreadway

AG-11757 Remove DOM child in Legend.destroy()
  packages/ag-charts-community/src/chart/legend.ts
Owners: @alantreadway

AG-11757 Add proxy buttons for legend pagination
  packages/ag-charts-community/src/chart/dom/proxyInteractionService.ts
  packages/ag-charts-community/src/chart/interaction/regionManager.ts
  packages/ag-charts-community/src/chart/legend.ts
  packages/ag-charts-community/src/chart/marker/marker.ts
  packages/ag-charts-community/src/chart/navigator/navigator.ts
  packages/ag-charts-community/src/chart/navigator/shapes/rangeHandle.ts
  packages/ag-charts-community/src/scene/group.ts
  packages/ag-charts-community/src/util/bboxinterface.ts
Owners: @alantreadway

AG-11757 Fix legend.test.ts
  packages/ag-charts-community/src/chart/legend.ts
Owners: @alantreadway

AG-10318 Localisation MVP
  packages/ag-charts-community/src/chart/chart.ts
  packages/ag-charts-community/src/chart/chartContext.ts
  packages/ag-charts-community/src/chart/factory/registerInbuiltModules.ts
  packages/ag-charts-community/src/chart/hierarchyChart.ts
  packages/ag-charts-community/src/chart/interaction/ariaAnnouncementServices.ts
  packages/ag-charts-community/src/chart/legend.ts
  packages/ag-charts-community/src/chart/locale/defaultMessageFormatter.ts
  packages/ag-charts-community/src/chart/locale/en.ts
  packages/ag-charts-community/src/chart/locale/locale.ts
  packages/ag-charts-community/src/chart/locale/localeManager.ts
  packages/ag-charts-community/src/chart/locale/localeModule.ts
  packages/ag-charts-community/src/chart/overlay/chartOverlays.ts
  packages/ag-charts-community/src/chart/overlay/overlay.ts
  packages/ag-charts-community/src/chart/toolbar/toolbar.ts
  packages/ag-charts-community/src/chart/toolbar/toolbarModule.ts
  packages/ag-charts-community/src/chart/update/overlaysProcessor.ts
  packages/ag-charts-community/src/module/__snapshots__/optionsModule.test.ts.snap
  packages/ag-charts-community/src/module/moduleContext.ts
  packages/ag-charts-enterprise/src/features/context-menu/contextMenu.ts
  packages/ag-charts-enterprise/src/features/zoom/zoomContextMenu.ts
Owners: @alantreadway

fix legend gradient
  packages/ag-charts-community/src/chart/axis/axis.ts
  packages/ag-charts-enterprise/src/axes/angle-category/angleCategoryAxis.ts
  packages/ag-charts-enterprise/src/axes/angle-number/angleNumberAxis.ts
  packages/ag-charts-enterprise/src/axes/radius/radiusAxis.ts
  packages/ag-charts-enterprise/src/gradient-legend/gradientLegend.ts
Owners: @alantreadway

fix ci
  packages/ag-charts-enterprise/src/axes/ordinal/ordinalTimeAxis.ts
Owners: @alantreadway

AG-10318 Add missing locale strings
  packages/ag-charts-community/src/chart/chart.ts
  packages/ag-charts-community/src/chart/chartContext.ts
  packages/ag-charts-community/src/chart/dom/proxyInteractionService.ts
  packages/ag-charts-community/src/chart/legend.ts
  packages/ag-charts-community/src/chart/locale/defaultMessageFormatter.ts
  packages/ag-charts-community/src/chart/locale/en.ts
  packages/ag-charts-community/src/chart/locale/localeManager.ts
  packages/ag-charts-community/src/chart/navigator/navigator.ts
Owners: @alantreadway

AG-11502 Add annotations keyboard cancel and delete actions
  packages/ag-charts-community/src/chart/interaction/keyNavManager.ts
  packages/ag-charts-community/src/chart/interaction/regionManager.ts
  packages/ag-charts-enterprise/src/features/annotations/annotations.ts
  packages/ag-charts-enterprise/src/features/annotations/cross-line/crossLineState.ts
  packages/ag-charts-enterprise/src/features/annotations/disjoint-channel/disjointChannelState.ts
  packages/ag-charts-enterprise/src/features/annotations/line/lineState.ts
  packages/ag-charts-enterprise/src/features/annotations/parallel-channel/parallelChannelState.ts
Owners: @alantreadway

fix ci
  packages/ag-charts-community/src/chart/axis/axis.ts
  packages/ag-charts-community/src/chart/axis/axisTick.ts
  packages/ag-charts-community/src/chart/axis/polarAxis.ts
  packages/ag-charts-community/src/chart/chartAxis.ts
  packages/ag-charts-community/src/chart/test/examples-axes.ts
  packages/ag-charts-community/src/options/chart/axisOptions.ts
  packages/ag-charts-community/src/options/series/cartesian/cartesianOptions.ts
Owners: @alantreadway

snapshots
  packages/ag-charts-community/src/module/__snapshots__/optionsModule.test.ts.snap
Owners: @alantreadway

fix ci
  packages/ag-charts-community/src/options/chart/axisOptions.ts
  packages/ag-charts-community/src/options/series/cartesian/cartesianOptions.ts
Owners: @alantreadway

Update packages/ag-charts-website/src/pages/documentation-archive.astro
  packages/ag-charts-website/src/pages/documentation-archive.astro
Owners: @taktran

AG-11775 Fix error on pie/donut legend highlight
  packages/ag-charts-community/src/chart/series/polar/donutSeries.ts
  packages/ag-charts-community/src/chart/series/polar/pieSeries.ts
Owners: @alantreadway

Update packages/ag-charts-website/src/pages/documentation-archive.astro
  packages/ag-charts-website/src/pages/documentation-archive.astro
Owners: @taktran

Add annotation tests and cross-line options
  packages/ag-charts-community/jest.setup.ts
  packages/ag-charts-community/src/options/chart/annotationsOptions.ts
  packages/ag-charts-enterprise/jest.setup.ts
  packages/ag-charts-enterprise/src/features/annotations/__image_snapshots__/annotations-test-ts-annotations-initial-should-render-a-disjoint-channel-annotation-1-snap.png
  packages/ag-charts-enterprise/src/features/annotations/__image_snapshots__/annotations-test-ts-annotations-initial-should-render-a-horizontal-cross-line-annotation-1-snap.png
  packages/ag-charts-enterprise/src/features/annotations/__image_snapshots__/annotations-test-ts-annotations-initial-should-render-a-line-annotation-1-snap.png
  packages/ag-charts-enterprise/src/features/annotations/__image_snapshots__/annotations-test-ts-annotations-initial-should-render-a-parallel-channel-annotation-1-snap.png
  packages/ag-charts-enterprise/src/features/annotations/__image_snapshots__/annotations-test-ts-annotations-initial-should-render-a-vertical-cross-line-annotation-1-snap.png
  packages/ag-charts-enterprise/src/features/annotations/annotations.test.ts
Owners: @alantreadway

fix ci
  packages/ag-charts-community/src/options/chart/axisOptions.ts
  packages/ag-charts-community/src/options/chart/polarAxisOptions.ts
  packages/ag-charts-community/src/options/chart/radiusAxisOptions.ts
  packages/ag-charts-community/src/options/series/cartesian/cartesianOptions.ts
  packages/ag-charts-website/src/content/docs/axes-ticks/_examples/axis-tick-interval/main.ts
  packages/ag-charts-website/src/content/docs/axes-ticks/_examples/axis-tick-values/main.ts
Owners: @alantreadway, @ag-grid/ag-charts-team

AG-11706: Fix docs/formatter
  packages/ag-charts-community/src/chart/series/cartesian/scatterSeriesProperties.ts
  packages/ag-charts-community/src/options/series/cartesian/scatterOptions.ts
Owners: @alantreadway

Update packages/ag-charts-website/src/content/docs/api-create-update/_examples/wait-for-update/main.ts
  packages/ag-charts-website/src/content/docs/api-create-update/_examples/wait-for-update/main.ts
Owners: @ag-grid/ag-charts-team

Update plugins/ag-charts-generate-example-files/src/executors/generate/generator/transformation-scripts/parser-utils.ts
  plugins/ag-charts-generate-example-files/src/executors/generate/generator/transformation-scripts/parser-utils.ts
Owners: @ag-grid/ag-charts-team

Update plugins/ag-charts-generate-example-files/src/executors/generate/generator/transformation-scripts/parser-utils.ts
  plugins/ag-charts-generate-example-files/src/executors/generate/generator/transformation-scripts/parser-utils.ts
Owners: @ag-grid/ag-charts-team

AG-11544 Create a stylised sitemap
  packages/ag-charts-website/src/content/footer/data.json
  packages/ag-charts-website/src/pages/sitemap.astro
Owners: @ag-grid/ag-charts-team, @taktran

AG-3390 Remove framework selector from h1
  packages/ag-charts-website/src/features/docs/components/Header.module.scss
  packages/ag-charts-website/src/features/docs/components/Header.tsx
Owners: @markdurrant, @ag-grid/ag-charts-team

.github/CODEOWNERS:

# NOTE: Order of entries matters - later entries have higher precedence.

# Attribute code-owners so default reviewers are assigned to PRs.
* @ag-grid/ag-charts-team

# Astro + website changes to be reviewed by website team.
*.scss @markdurrant
*.astro @taktran
/packages/ag-charts-website/astro/** @taktran
/packages/ag-charts-website/components/** @taktran
/packages/ag-charts-website/features/** @taktran
/packages/ag-charts-website/layouts/** @taktran
/packages/ag-charts-website/stores/** @taktran
/packages/ag-charts-website/utils/** @taktran

# Docs updates to be reviewed by Eng VP.
/packages/ag-charts-website/content/** @alantreadway @rmc-software
*.mdoc @rmc-software

# Charts library code to be reviewed by Chart TL.
/packages/ag-charts-community/** @alantreadway
/packages/ag-charts-enterprise/** @alantreadway

# Sensitive build/repo files to be reviewed by Chart TL.
**/package.json @alantreadway
nx.json @alantreadway
**/project.json @alantreadway
**/tsconfig.json @alantreadway
**/tsconfig.*.json @alantreadway
