Repository ag-grid/ag-charts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ag-grid/ag-charts-team, @markdurrant, @taktran, @alantreadway, @rmc-software

.github/CODEOWNERS:

# NOTE: Order of entries matters - later entries have higher precedence.

# Attribute code-owners so default reviewers are assigned to PRs.
* @ag-grid/ag-charts-team

# Astro + website changes to be reviewed by website team.
*.scss @markdurrant
*.astro @taktran
/packages/ag-charts-website/astro/** @taktran
/packages/ag-charts-website/components/** @taktran
/packages/ag-charts-website/features/** @taktran
/packages/ag-charts-website/layouts/** @taktran
/packages/ag-charts-website/stores/** @taktran
/packages/ag-charts-website/utils/** @taktran

# Docs updates to be reviewed by Eng VP.
/packages/ag-charts-website/content/** @alantreadway @rmc-software
*.mdoc @rmc-software

# Charts library code to be reviewed by Chart TL.
/packages/ag-charts-community/** @alantreadway
/packages/ag-charts-enterprise/** @alantreadway

# Sensitive build/repo files to be reviewed by Chart TL.
**/package.json @alantreadway
nx.json @alantreadway
**/project.json @alantreadway
**/tsconfig.json @alantreadway
**/tsconfig.*.json @alantreadway

çleanup calculateScaling
  packages/ag-charts-community/src/chart/series/cartesian/areaSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/barSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/bubbleSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/cartesianSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/histogramSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/lineSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/scatterSeries.ts
  packages/ag-charts-enterprise/src/series/box-plot/boxPlotSeries.ts
  packages/ag-charts-enterprise/src/series/bullet/bulletSeries.ts
  packages/ag-charts-enterprise/src/series/candlestick/candlestickSeries.ts
  packages/ag-charts-enterprise/src/series/heatmap/heatmapSeries.ts
  packages/ag-charts-enterprise/src/series/range-area/rangeArea.ts
  packages/ag-charts-enterprise/src/series/range-bar/rangeBar.ts
  packages/ag-charts-enterprise/src/series/waterfall/waterfallSeries.ts
Owners: @alantreadway

Test fixes.
  packages/ag-charts-community/src/chart/axis/__image_snapshots__/grouped-category-axis-test-ts-grouped-category-axis-examples-for-integrated-charts-grouped-category-axis-example-flip-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-community/src/chart/axis/__image_snapshots__/grouped-category-axis-test-ts-grouped-category-axis-examples-for-integrated-charts-grouped-category-axis-example-reversed-axes-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-community/src/chart/data/processors.ts
Owners: @alantreadway

Update corner radius scaling logic
  packages/ag-charts-community/src/chart/series/polar/donutSeries.ts
  packages/ag-charts-community/src/chart/series/polar/pieSeries.ts
  packages/ag-charts-community/src/scene/shape/__image_snapshots__/sector-test-ts-sector-rendering-should-render-as-expected-1-snap.png
  packages/ag-charts-community/src/scene/shape/sector.ts
  packages/ag-charts-enterprise/src/series/sunburst/sunburstSeries.ts
Owners: @alantreadway

AG-6576 Collect canvas statistics in benchmark tests
  libraries/ag-charts-test/src/benchmarks/timing.ts
  libraries/ag-charts-test/src/canvas/mock-canvas.ts
  packages/ag-charts-community/benchmarks/benchmark.ts
  packages/ag-charts-community/src/util/test/mockCanvas.ts
  packages/ag-charts-website/src/content/docs/benchmarks/_examples/summary/data.ts
  packages/ag-charts-website/src/content/docs/benchmarks/_examples/summary/main.ts
Owners: @ag-grid/ag-charts-team, @alantreadway

cleanup Path2D
  packages/ag-charts-community/src/chart/series/cartesian/areaSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/lineSeries.ts
  packages/ag-charts-community/src/chart/series/series.ts
  packages/ag-charts-community/src/motion/pathMotion.ts
  packages/ag-charts-community/src/scene/path2D.ts
  packages/ag-charts-community/src/scene/shape/radialColumnShape.ts
  packages/ag-charts-community/src/scene/shape/rect.ts
  packages/ag-charts-enterprise/src/axes/angle/angleAxis.ts
  packages/ag-charts-enterprise/src/axes/polar-crosslines/angleCrossLine.ts
  packages/ag-charts-enterprise/src/axes/polar-crosslines/radiusCrossLine.ts
  packages/ag-charts-enterprise/src/axes/radius/radiusAxis.ts
  packages/ag-charts-enterprise/src/series/radar-area/radarAreaSeries.ts
  packages/ag-charts-enterprise/src/series/radar/radarSeries.ts
  packages/ag-charts-enterprise/src/series/range-area/rangeArea.ts
  packages/ag-charts-enterprise/src/series/waterfall/waterfallSeries.ts
Owners: @alantreadway

cleanup Path2D
  packages/ag-charts-community/src/scene/path2D.ts
Owners: @alantreadway

remove always empty findNodes
  packages/ag-charts-community/src/scene/node.ts
  packages/ag-charts-community/src/scene/scene.ts
  packages/ag-charts-community/src/scene/sceneDebug.ts
Owners: @alantreadway

cleanup Path2D
  packages/ag-charts-community/src/scene/path2D.ts
Owners: @alantreadway

Tweak mock-console.ts to make seeing console stack traces easier.
  libraries/ag-charts-test/src/console/mock-console.ts
Owners: @ag-grid/ag-charts-team

Tweak mock-console.ts to make seeing console stack traces easier.
  libraries/ag-charts-test/src/console/mock-console.ts
Owners: @ag-grid/ag-charts-team

AG-9843 Remove updateDelta from examples, as it does not work well with framework examples
  packages/ag-charts-website/src/content/docs/animation/_examples/data-updates/main.ts
  packages/ag-charts-website/src/content/docs/animation/_examples/duration/main.ts
  packages/ag-charts-website/src/content/docs/animation/_examples/initial-load/main.ts
  packages/ag-charts-website/src/content/docs/area-series-test/_examples/category-animation/main.ts
  packages/ag-charts-website/src/content/docs/area-series/_examples/missing-data-area/main.ts
  packages/ag-charts-website/src/content/docs/background/_examples/background-fill/main.ts
  packages/ag-charts-website/src/content/docs/line-series/_examples/gap-line/main.ts
  plugins/ag-charts-generate-example-files/src/executors/generate/generator/transformation-scripts/chart-vanilla-src-parser.ts
  plugins/ag-charts-generate-example-files/src/executors/generate/generator/transformation-scripts/chart-vanilla-to-react-functional-ts.ts
  plugins/ag-charts-generate-example-files/src/executors/generate/generator/transformation-scripts/chart-vanilla-to-react-functional.ts
  plugins/ag-charts-generate-example-files/src/executors/generate/generator/transformation-scripts/react-utils.ts
Owners: @ag-grid/ag-charts-team

AG-11125 Fix highlight layer not being clipped
  packages/ag-charts-community/src/chart/cartesianChart.ts
  packages/ag-charts-community/src/chart/update/baseLayoutProcessor.ts
Owners: @alantreadway

AG-8416 Split Quadtree into exact/nearest classes
  packages/ag-charts-community/src/scene/util/quadtree.ts
Owners: @alantreadway

AG-8416 Add HitTester type in quadtree.ts
  packages/ag-charts-community/src/scene/util/quadtree.ts
Owners: @alantreadway

AG-8416 Rename node types to stay consistent
  packages/ag-charts-community/src/scene/util/quadtree.ts
Owners: @alantreadway

AG-8416 Split QuadtreeElem into exact/nearest types
  packages/ag-charts-community/src/scene/util/quadtree.ts
Owners: @alantreadway

AG-8416 Use the correct BBox for the quadtree root
  packages/ag-charts-community/src/chart/series/cartesian/barSeries.ts
Owners: @alantreadway

AG-8416 Partially implement BarSeries.pickNodeClosestDatum
  packages/ag-charts-community/src/chart/series/cartesian/barSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/cartesianSeries.ts
  packages/ag-charts-community/src/scene/shape/rect.ts
Owners: @alantreadway

AG-8416 Fix imports
  packages/ag-charts-community/src/chart/series/cartesian/barSeries.ts
Owners: @alantreadway

AG-8416 Move bar-series quadtree initialisation logic into util file
  packages/ag-charts-community/src/chart/series/cartesian/barSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/quadtreeUtil.ts
Owners: @alantreadway

Revert "AG-8416 Fix crosshair.test.ts"
  packages/ag-charts-enterprise/src/features/crosshair/crosshair.test.ts
Owners: @alantreadway

AG-8416 Add support for 'nearest' in histograms
  packages/ag-charts-community/src/chart/series/cartesian/histogramSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/histogramSeriesModule.ts
  packages/ag-charts-community/src/chart/series/cartesian/quadtreeUtil.ts
Owners: @alantreadway

AG-8416 Add better abstraction for getQuadTree()
  packages/ag-charts-community/src/chart/series/cartesian/barSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/cartesianSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/histogramSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/quadtreeUtil.ts
Owners: @alantreadway

AG-8416 Fix crosshair.test.ts
  packages/ag-charts-enterprise/src/features/crosshair/crosshair.test.ts
Owners: @alantreadway

AG-8416 Add 'nearest' support for donut/pie
  packages/ag-charts-community/src/chart/series/polar/donutSeries.ts
  packages/ag-charts-community/src/chart/series/polar/donutSeriesModule.ts
  packages/ag-charts-community/src/chart/series/polar/pieSeries.ts
  packages/ag-charts-community/src/chart/series/polar/pieSeriesModule.ts
  packages/ag-charts-community/src/chart/series/polar/pieUtil.ts
  packages/ag-charts-community/src/chart/series/polar/polarSeries.ts
Owners: @alantreadway

AG-8416 Fix compilation error
  packages/ag-charts-community/src/chart/series/polar/pieUtil.ts
Owners: @alantreadway

AG-8416 Fix quadtree root box
  packages/ag-charts-community/src/chart/series/cartesian/cartesianSeries.ts
Owners: @alantreadway

AG-8416 Add 'nearest' support for treemap
  packages/ag-charts-community/src/chart/series/hierarchy/hierarchySeries.ts
  packages/ag-charts-community/src/integrated-charts-scene.ts
  packages/ag-charts-enterprise/src/series/treemap/treemapModule.ts
  packages/ag-charts-enterprise/src/series/treemap/treemapSeries.ts
Owners: @alantreadway

AG-8416 Move duplicate code into quadtreeUtil.ts
  packages/ag-charts-community/src/chart/series/cartesian/barSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/cartesianSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/histogramSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/quadtreeUtil.ts
Owners: @alantreadway

AG-11137 Fix radial bar with negative values
  packages/ag-charts-enterprise/src/series/radial-bar/radialBarSeries.ts
Owners: @alantreadway

AG-8416 Disable nearest pickMode for next minor release
  packages/ag-charts-community/src/chart/series/cartesian/barSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/histogramSeries.ts
  packages/ag-charts-community/src/chart/series/hierarchy/hierarchySeries.ts
  packages/ag-charts-community/src/chart/series/polar/donutSeries.ts
  packages/ag-charts-community/src/chart/series/polar/pieSeries.ts
Owners: @alantreadway

AG-8416 Fix sonar errors
  packages/ag-charts-community/src/chart/series/cartesian/barSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/quadtreeUtil.ts
Owners: @alantreadway

AG-6576 Add script to collect benchmarks for old versions
  packages/ag-charts-community/benchmarks/benchmark.ts
  tools/benchmark/collate-reports.js
  tools/benchmark/collect-version-benchmark.sh
  tools/benchmark/get-benchmark-versions.js
Owners: @alantreadway, @ag-grid/ag-charts-team

AG-8416 Fix build from rebase error
  packages/ag-charts-community/src/chart/series/cartesian/histogramSeriesModule.ts
  packages/ag-charts-community/src/chart/series/polar/donutSeriesModule.ts
  packages/ag-charts-community/src/chart/series/polar/pieSeriesModule.ts
  packages/ag-charts-enterprise/src/series/treemap/treemapModule.ts
Owners: @alantreadway

Apply suggestions from code review
  packages/ag-charts-enterprise/src/series/radial-bar/radialBarSeries.ts
Owners: @alantreadway

Backfill b9.0.0 and b9.0.2 benchmark data.
  packages/ag-charts-website/src/content/docs/benchmarks/_examples/summary/data.ts
Owners: @ag-grid/ag-charts-team

AG-6576 Add script to collect benchmarks for old versions
  packages/ag-charts-community/benchmarks/benchmark.ts
  tools/benchmark/collate-reports.js
  tools/benchmark/collect-version-benchmark.sh
  tools/benchmark/get-benchmark-versions.js
Owners: @alantreadway, @ag-grid/ag-charts-team

AG-10154 Make react examples more idiomatic
  packages/ag-charts-community-examples/src/charts-overview/examples/log-axis/index.html
  packages/ag-charts-community-examples/src/charts-overview/examples/log-axis/main.ts
  packages/ag-charts-website/src/content/docs/area-series-test/_examples/category-animation/main.ts
  packages/ag-charts-website/src/content/docs/area-series-test/_examples/continuous-animation/main.ts
  packages/ag-charts-website/src/content/docs/axes-grid-lines/_examples/axis-grid-lines/index.html
  packages/ag-charts-website/src/content/docs/axes-grid-lines/_examples/axis-grid-lines/main.ts
  packages/ag-charts-website/src/content/docs/axes-ticks/_examples/axis-tick-placement/main.ts
  packages/ag-charts-website/src/content/docs/axes-ticks/_examples/time-axis-label-format/index.html
  packages/ag-charts-website/src/content/docs/axes-ticks/_examples/time-axis-label-format/main.ts
  packages/ag-charts-website/src/content/docs/axes-types/_examples/number-vs-log/index.html
  packages/ag-charts-website/src/content/docs/axes-types/_examples/number-vs-log/main.ts
  packages/ag-charts-website/src/content/docs/events/_examples/interaction-ranges/main.ts
  packages/ag-charts-website/src/content/docs/tooltips/_examples/interaction-range/main.ts
  packages/ag-charts-website/src/content/docs/tooltips/_examples/tooltip-position/main.ts
  packages/ag-charts-website/src/content/gallery/_examples/log-axis/main.ts
  plugins/ag-charts-generate-example-files/src/executors/generate/generator/transformation-scripts/chart-vanilla-to-react-functional-ts.ts
  plugins/ag-charts-generate-example-files/src/executors/generate/generator/transformation-scripts/chart-vanilla-to-react-functional.ts
Owners: @ag-grid/ag-charts-team

Backfill b9.0.0 and b9.0.2 benchmark data.
  packages/ag-charts-website/src/content/docs/benchmarks/_examples/summary/data.ts
Owners: @ag-grid/ag-charts-team

Backfill benchmark data to b9.0.0.
  packages/ag-charts-website/src/content/docs/benchmarks/_examples/large-dataset/main.ts
  packages/ag-charts-website/src/content/docs/benchmarks/_examples/summary/data.ts
Owners: @ag-grid/ag-charts-team
