Repository ag-grid/ag-charts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ag-grid/ag-charts-team, @markdurrant, @taktran, @alantreadway, @rmc-software

Remove redundant check in parallel channel scene
  packages/ag-charts-enterprise/src/features/annotations/parallel-channel/parallelChannelScene.ts
Owners: @alantreadway

snapshots
  packages/ag-charts-enterprise/src/series/range-area/__image_snapshots__/range-area-test-ts-range-area-series-should-render-a-range-area-chart-with-missing-and-invalid-y-values-1-snap.png
Owners: @alantreadway

add reverse test to ordinalTimeScale.test.ts
  packages/ag-charts-community/src/scale/__snapshots__/ordinalTimeScale.test.ts.snap
  packages/ag-charts-community/src/scale/ordinalTimeScale.test.ts
Owners: @alantreadway

wip
  packages/ag-charts-community/src/scale/bandScale.ts
  packages/ag-charts-community/src/scale/ordinalTimeScale.ts
  packages/ag-charts-community/src/util/number.ts
Owners: @alantreadway

AG-11702 Make color picker not a module
  packages/ag-charts-community/src/chart/factory/expectedEnterpriseModules.ts
  packages/ag-charts-enterprise/src/features/color-picker/colorPicker.ts
  packages/ag-charts-enterprise/src/features/color-picker/colorPickerModule.ts
  packages/ag-charts-enterprise/src/features/color-picker/main.ts
  packages/ag-charts-enterprise/src/setup.ts
Owners: @alantreadway

Add LayoutService debugging output.
  packages/ag-charts-community/src/chart/layout/layoutService.ts
Owners: @alantreadway

AG-11450 - Fix mouse-move listener registration when transferableResources are provided.
  packages/ag-charts-community/src/chart/interaction/interactionManager.ts
Owners: @alantreadway

AG-11370 Set tabIndex=0 on legend pagination buttons
  packages/ag-charts-community/src/chart/dom/proxyInteractionService.ts
  packages/ag-charts-community/src/chart/legend.ts
Owners: @alantreadway

AG-NONE Fix ariaLabel of legend items
  packages/ag-charts-community/src/chart/locale/en.ts
Owners: @alantreadway

AG-11757 Only create proxy pagination button when needed
  packages/ag-charts-community/src/chart/legend.ts
Owners: @alantreadway

AG-NONE Use role="group" for legend pagination container
  packages/ag-charts-community/src/chart/dom/proxyInteractionService.ts
  packages/ag-charts-community/src/chart/legend.ts
Owners: @alantreadway

nx format
  packages/ag-charts-community/src/chart/legend.ts
Owners: @alantreadway

AG-NONE Set overflow: hidden on proxy buttons.
  packages/ag-charts-community/src/chart/dom/proxyInteractionService.ts
Owners: @alantreadway

AG-11782 Implement pickNodeClosestDatum() in RadialBarSeries
  packages/ag-charts-enterprise/src/series/radial-bar/radialBarSeries.ts
Owners: @alantreadway

AG-11450 - Fix mouse-move listener registration when transferableResources are provided.
  packages/ag-charts-community/src/chart/interaction/interactionManager.ts
Owners: @alantreadway

git subrepo pull external/ag-website-shared
  external/ag-website-shared/.gitrepo
  external/ag-website-shared/src/components/open-in-cta/OpenInCTA.module.scss
  external/ag-website-shared/src/components/open-in-cta/OpenInCTA.tsx
Owners: @ag-grid/ag-charts-team, @markdurrant

Bump package version to 9.3.1-beta.20240602.2
  .env
  libraries/ag-charts-test/package.json
  package.json
  packages/ag-charts-angular/package.json
  packages/ag-charts-angular/projects/ag-charts-angular/package.json
  packages/ag-charts-community-examples/package.json
  packages/ag-charts-community/package.json
  packages/ag-charts-community/src/version.ts
  packages/ag-charts-enterprise/package.json
  packages/ag-charts-react/package.json
  packages/ag-charts-vue3/package.json
  packages/ag-charts-website/.env.build
  packages/ag-charts-website/.env.build.archive
  packages/ag-charts-website/.env.build.production
  packages/ag-charts-website/.env.build.staging
  packages/ag-charts-website/.env.dev
  packages/ag-charts-website/.env.preview
  packages/ag-charts-website/.env.preview.production
  packages/ag-charts-website/.env.preview.staging
  packages/ag-charts-website/package.json
  plugins/ag-charts-generate-chart-thumbnail/package.json
  plugins/ag-charts-generate-code-reference-files/package.json
  plugins/ag-charts-generate-example-files/package.json
Owners: @ag-grid/ag-charts-team, @alantreadway

AG-11687 Sankey, Chord examples
  packages/ag-charts-enterprise/src/series/chord/chordSeries.ts
  packages/ag-charts-website/src/content/gallery/_examples/chord-customisation/main.ts
  packages/ag-charts-website/src/content/gallery/_examples/sankey-advanced/index.html
  packages/ag-charts-website/src/content/gallery/_examples/sankey-advanced/main.ts
  packages/ag-charts-website/src/content/gallery/_examples/sankey/main.ts
  packages/ag-charts-website/src/content/gallery/data.json
Owners: @alantreadway, @ag-grid/ag-charts-team

AG-11814 Resolve duplicate meta-descriptions
  packages/ag-charts-website/src/pages/options/[memberName]/[type].astro
  packages/ag-charts-website/src/pages/sitemap.astro
  packages/ag-charts-website/src/pages/style-guide.astro
Owners: @taktran

AG-11812 Fix duplicate title tags
  packages/ag-charts-website/src/pages/options/[memberName]/[type].astro
Owners: @taktran

AG-11816 Resolve missing title tags
  packages/ag-charts-website/src/pages/[framework]/index.astro
  packages/ag-charts-website/src/pages/documentation.astro
Owners: @taktran

AG-11816 Fix redirect
  packages/ag-charts-website/src/pages/[framework]/index.astro
Owners: @taktran

git subrepo pull external/ag-website-shared
  external/ag-website-shared/.gitrepo
  external/ag-website-shared/src/components/license-pricing/Licenses.module.scss
  external/ag-website-shared/src/components/license-pricing/Licenses.tsx
Owners: @ag-grid/ag-charts-team, @markdurrant

AG-11815 fix missing h1 headings
  packages/ag-charts-website/src/pages-styles/gallery.module.scss
  packages/ag-charts-website/src/pages/[framework]/index.astro
  packages/ag-charts-website/src/pages/changelog.astro
  packages/ag-charts-website/src/pages/documentation.astro
  packages/ag-charts-website/src/pages/gallery.astro
  packages/ag-charts-website/src/pages/options.astro
  packages/ag-charts-website/src/pages/pipeline.astro
  packages/ag-charts-website/src/pages/sitemap.astro
  packages/ag-charts-website/src/pages/style-guide.astro
  packages/ag-charts-website/src/pages/themes-api.astro
Owners: @markdurrant, @taktran

Improve caching of Nx plugin targets.
  plugins/ag-charts-generate-chart-thumbnail/project.json
  plugins/ag-charts-generate-code-reference-files/project.json
  plugins/ag-charts-generate-example-files/project.json
Owners: @alantreadway

AG-11450 - Improve AgCharts and AgChartInstance docs.
  packages/ag-charts-community/src/options/chart/chartBuilderOptions.ts
  packages/ag-charts-website/src/content/docs/api-create-update/index.mdoc
  packages/ag-charts-website/src/content/docs/api-download/index.mdoc
  plugins/ag-charts-generate-code-reference-files/src/doc-interfaces/types-utils.ts
Owners: @alantreadway, @rmc-software, @ag-grid/ag-charts-team

Fix build.
  packages/ag-charts-community/src/options/chart/chartBuilderOptions.ts
Owners: @alantreadway

AG-11818 - Update docs archive page content
  packages/ag-charts-website/src/content/versions/ag-charts-versions.json
Owners: @ag-grid/ag-charts-team

git subrepo pull external/ag-website-shared
  external/ag-website-shared/.gitrepo
  external/ag-website-shared/src/components/documentation-archive/DocumentationArchive.astro
Owners: @ag-grid/ag-charts-team, @taktran

AG-8192 - Tweak docs.
  packages/ag-charts-website/src/content/docs/api-create-update/index.mdoc
Owners: @rmc-software

AG-11699 Fix annotations simultaneous drag & click pointer events
  packages/ag-charts-enterprise/src/features/annotations/annotations.ts
Owners: @alantreadway

AG-11808 Add tension property for chord series links
  packages/ag-charts-community/src/options/series/flow-proportion/chordOptions.ts
  packages/ag-charts-enterprise/src/series/chord/chordLink.ts
  packages/ag-charts-enterprise/src/series/chord/chordSeries.ts
  packages/ag-charts-enterprise/src/series/chord/chordSeriesProperties.ts
Owners: @alantreadway

Fix nx dev build.
  packages/ag-charts-community/src/options/chart/chartBuilderOptions.ts
Owners: @alantreadway

CSS test
  esbuild.config.cjs
  packages/ag-charts-enterprise/src/features/color-picker/colorPicker.ts
  packages/ag-charts-enterprise/src/features/color-picker/colorPickerStyles.css
  packages/ag-charts-enterprise/src/features/color-picker/colorPickerStyles.ts
  packages/ag-charts-enterprise/src/typings.ts
Owners: @ag-grid/ag-charts-team, @alantreadway

AG-11385 Add new keydown handlers for disabled floating buttons
  packages/ag-charts-community/src/util/keynavUtil.ts
Owners: @alantreadway

AG-11385 Set tabIndex=0 on the first enabled button
  packages/ag-charts-community/src/util/keynavUtil.ts
Owners: @alantreadway

Add jest support for css
  packages/ag-charts-enterprise/jest.config.ts
  packages/ag-charts-enterprise/src/features/color-picker/colorPicker.test.ts
  packages/ag-charts-enterprise/style-mock.js
  packages/ag-charts-enterprise/tsconfig.spec.json
Owners: @alantreadway

AG-11699 Add annotations cancel on clicking any other region
  packages/ag-charts-enterprise/src/features/annotations/annotations.ts
Owners: @alantreadway

Use jest-text-transformer
  packages/ag-charts-enterprise/jest.config.ts
  packages/ag-charts-enterprise/package.json
  packages/ag-charts-enterprise/style-mock.js
  yarn.lock
Owners: @alantreadway, @ag-grid/ag-charts-team

Revive `AgPolarAxisType` in the public options contract.
  packages/ag-charts-community/src/options/series/polar/polarOptions.ts
Owners: @alantreadway

.github/CODEOWNERS:

# NOTE: Order of entries matters - later entries have higher precedence.

# Attribute code-owners so default reviewers are assigned to PRs.
* @ag-grid/ag-charts-team

# Astro + website changes to be reviewed by website team.
*.scss @markdurrant
*.astro @taktran
/packages/ag-charts-website/astro/** @taktran
/packages/ag-charts-website/components/** @taktran
/packages/ag-charts-website/features/** @taktran
/packages/ag-charts-website/layouts/** @taktran
/packages/ag-charts-website/stores/** @taktran
/packages/ag-charts-website/utils/** @taktran

# Docs updates to be reviewed by Eng VP.
/packages/ag-charts-website/content/** @alantreadway @rmc-software
*.mdoc @rmc-software

# Charts library code to be reviewed by Chart TL.
/packages/ag-charts-community/** @alantreadway
/packages/ag-charts-enterprise/** @alantreadway

# Sensitive build/repo files to be reviewed by Chart TL.
**/package.json @alantreadway
nx.json @alantreadway
**/project.json @alantreadway
**/tsconfig.json @alantreadway
**/tsconfig.*.json @alantreadway
