Repository ag-grid/ag-charts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ag-grid/ag-charts-team, @markdurrant, @taktran, @alantreadway, @rmc-software

.github/CODEOWNERS:

# NOTE: Order of entries matters - later entries have higher precedence.

# Attribute code-owners so default reviewers are assigned to PRs.
* @ag-grid/ag-charts-team

# Astro + website changes to be reviewed by website team.
*.scss @markdurrant
*.astro @taktran
/packages/ag-charts-website/astro/** @taktran
/packages/ag-charts-website/components/** @taktran
/packages/ag-charts-website/features/** @taktran
/packages/ag-charts-website/layouts/** @taktran
/packages/ag-charts-website/stores/** @taktran
/packages/ag-charts-website/utils/** @taktran

# Docs updates to be reviewed by Eng VP.
/packages/ag-charts-website/content/** @alantreadway @rmc-software
*.mdoc @rmc-software

# Charts library code to be reviewed by Chart TL.
/packages/ag-charts-community/** @alantreadway
/packages/ag-charts-enterprise/** @alantreadway

# Sensitive build/repo files to be reviewed by Chart TL.
**/package.json @alantreadway
nx.json @alantreadway
**/project.json @alantreadway
**/tsconfig.json @alantreadway
**/tsconfig.*.json @alantreadway

AG-10779: Fix axes sync race-condition
  packages/ag-charts-enterprise/src/features/sync/chartSync.ts
Owners: @alantreadway

remove console.log
  packages/ag-charts-enterprise/src/features/sync/chartSync.ts
Owners: @alantreadway

Fix resetTransform scale on dpi != 1
  packages/ag-charts-community/src/scene/group.ts
  packages/ag-charts-community/src/scene/shape/linearGradientFill.ts
Owners: @alantreadway

release notes tweak
  .gitignore
  packages/ag-charts-website/src/content/docs/upgrade-to-ag-charts-9-1/index.mdoc
Owners: @ag-grid/ag-charts-team, @rmc-software

release notes tweak
  .gitignore
Owners: @ag-grid/ag-charts-team

AG-9928 Fix RegionManager 'enter' logic
  packages/ag-charts-community/src/chart/interaction/regionManager.ts
Owners: @alantreadway

Alternative solution
  packages/ag-charts-community/src/chart/chart.ts
  packages/ag-charts-community/src/chart/chartUpdateType.ts
  packages/ag-charts-community/src/chart/interaction/regionManager.ts
  packages/ag-charts-community/src/chart/interaction/tooltipManager.ts
  packages/ag-charts-community/src/chart/series/cartesian/cartesianSeries.ts
  packages/ag-charts-community/src/chart/tooltip/tooltip.ts
  packages/ag-charts-enterprise/src/features/sync/chartSync.ts
  packages/ag-charts-enterprise/src/series/bullet/bulletSeries.ts
  packages/ag-charts-website/src/content/docs/sync/index.mdoc
Owners: @alantreadway, @rmc-software

AG-8880 Fix mouseup+mousedown click handling on legend
  packages/ag-charts-community/src/chart/interaction/regionManager.ts
Owners: @alantreadway

AG-10199 Fix arcIntersections
  packages/ag-charts-community/src/scene/intersection.ts
  packages/ag-charts-community/src/util/angle.ts
Owners: @alantreadway

AG-10199 Check for intersection with arc connector lines
  packages/ag-charts-community/src/scene/path2D.ts
Owners: @alantreadway

AG-10199 Always check for intersection with connector lines
  packages/ag-charts-community/src/scene/path2D.ts
Owners: @alantreadway

AG-10199 Remove redundant normalizeAngle360
  packages/ag-charts-community/src/scene/intersection.ts
Owners: @alantreadway

AG-10199 Remove unused import
  packages/ag-charts-community/src/scene/intersection.ts
Owners: @alantreadway

AG-10199 Use Point.isPointInPath if the Rect uses curved corners
  packages/ag-charts-community/src/scene/shape/rect.ts
Owners: @alantreadway

AG-10199 Fix isBetweenAngles on full 360 turns
  packages/ag-charts-community/src/util/angle.ts
Owners: @alantreadway

cleanup
  packages/ag-charts-community/src/chart/chart.ts
  packages/ag-charts-enterprise/src/features/sync/chartSync.ts
  packages/ag-charts-website/src/content/docs/sync/index.mdoc
Owners: @alantreadway, @rmc-software

remove console.log
  packages/ag-charts-enterprise/src/features/sync/chartSync.ts
Owners: @alantreadway

AG-10779: Fix axes sync race-condition
  packages/ag-charts-enterprise/src/features/sync/chartSync.ts
Owners: @alantreadway

Release notes (#1070)
  packages/ag-charts-website/src/content/docs/upgrade-to-ag-charts-9-1/index.mdoc
Owners: @rmc-software

Release notes (#1070)
  packages/ag-charts-website/src/content/docs/upgrade-to-ag-charts-9-1/index.mdoc
Owners: @rmc-software

Fix chart siblings sync race condition
  packages/ag-charts-community/src/chart/chart.ts
  packages/ag-charts-community/src/chart/interaction/syncManager.ts
  packages/ag-charts-enterprise/src/features/sync/chartSync.ts
Owners: @alantreadway

add timeout
  packages/ag-charts-community/src/chart/chart.ts
  packages/ag-charts-community/src/chart/interaction/syncManager.ts
  packages/ag-charts-enterprise/src/features/sync/chartSync.ts
Owners: @alantreadway

Fix chart siblings sync race condition (#1073)
  packages/ag-charts-community/src/chart/chart.ts
  packages/ag-charts-community/src/chart/interaction/syncManager.ts
  packages/ag-charts-enterprise/src/features/sync/chartSync.ts
Owners: @alantreadway

Fix chart siblings sync race condition (#1073)
  packages/ag-charts-community/src/chart/chart.ts
  packages/ag-charts-community/src/chart/interaction/syncManager.ts
  packages/ag-charts-enterprise/src/features/sync/chartSync.ts
Owners: @alantreadway

AG-8218 Add initial zoom options
  packages/ag-charts-community/src/chart/agChartV2.ts
  packages/ag-charts-community/src/chart/chart.ts
  packages/ag-charts-community/src/chart/interaction/zoomManager.ts
  packages/ag-charts-community/src/chart/navigator/navigator.ts
  packages/ag-charts-community/src/options/chart/zoomOptions.ts
  packages/ag-charts-enterprise/src/features/sync/chartSync.ts
  packages/ag-charts-enterprise/src/features/zoom/__image_snapshots__/zoom-test-ts-zoom-initial-should-start-at-the-given-zoom-1-snap.png
  packages/ag-charts-enterprise/src/features/zoom/zoom.test.ts
  packages/ag-charts-enterprise/src/features/zoom/zoom.ts
Owners: @alantreadway

Update zoom module to use properties
  packages/ag-charts-enterprise/src/features/zoom/zoom.ts
  packages/ag-charts-enterprise/src/features/zoom/zoomProperties.ts
Owners: @alantreadway

AG-10198 Fix bar series animations with corner radii
  packages/ag-charts-community/src/chart/series/cartesian/barSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/barUtil.ts
  packages/ag-charts-enterprise/src/series/range-bar/rangeBar.ts
Owners: @alantreadway

Revert "Fix chart siblings sync race condition (#1073)"
  packages/ag-charts-community/src/chart/chart.ts
  packages/ag-charts-community/src/chart/interaction/syncManager.ts
  packages/ag-charts-enterprise/src/features/sync/chartSync.ts
Owners: @alantreadway

Upgrade prettier to 3.2.5.
  package.json
  packages/ag-charts-community/src/chart/data/dataModel.ts
  packages/ag-charts-community/src/util/types.ts
  packages/ag-charts-website/package.json
  patches/prettier+3.2.5.patch
  plugins/ag-charts-generate-example-files/package.json
  yarn.lock
Owners: @alantreadway, @ag-grid/ag-charts-team

Upgrade eslint to latest.
  package.json
  yarn.lock
Owners: @alantreadway, @ag-grid/ag-charts-team

AG-10780 Update options for minichart series
  packages/ag-charts-community/src/options/agChartOptions.ts
  packages/ag-charts-community/src/options/chart/navigatorOptions.ts
  packages/ag-charts-community/src/options/chart/themeOptions.ts
  packages/ag-charts-website/src/pages/options.astro
  packages/ag-charts-website/src/pages/options/[memberName]/[type].astro
  plugins/ag-charts-generate-code-reference-files/src/executors/generate/types-utils.ts
Owners: @alantreadway, @taktran, @ag-grid/ag-charts-team

nx format
  packages/ag-charts-community/src/chart/data/dataModel.ts
  packages/ag-charts-community/src/util/types.ts
Owners: @alantreadway

AG-9928 Add test for legend hover logic
  packages/ag-charts-community/src/chart/legend.test.ts
  packages/ag-charts-community/src/chart/test/utils.ts
  packages/ag-charts-enterprise/src/features/error-bar/errorBar.test.ts
Owners: @alantreadway

AG-8880 Add tests for mouseup+mousedown click events
  packages/ag-charts-community/src/chart/chart.test.ts
  packages/ag-charts-community/src/chart/test/utils.ts
Owners: @alantreadway

Remove error and code duplication
  packages/ag-charts-community/src/chart/legend.test.ts
Owners: @alantreadway

Cleanup scene, move debug code to separate file
  packages/ag-charts-community/src/chart/background/background.ts
  packages/ag-charts-community/src/chart/chart.ts
  packages/ag-charts-community/src/chart/legend.ts
  packages/ag-charts-community/src/chart/legendDatum.ts
  packages/ag-charts-community/src/chart/navigator/navigator.ts
  packages/ag-charts-community/src/chart/series/cartesian/barSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/histogramSeries.ts
  packages/ag-charts-community/src/scene/canvas/hdpiCanvas.ts
  packages/ag-charts-community/src/scene/group.ts
  packages/ag-charts-community/src/scene/node.ts
  packages/ag-charts-community/src/scene/scene.ts
  packages/ag-charts-community/src/scene/sceneDebug.ts
  packages/ag-charts-enterprise/src/features/crosshair/crosshair.ts
  packages/ag-charts-enterprise/src/features/zoom/zoom.ts
  packages/ag-charts-enterprise/src/gradient-legend/gradientLegend.ts
Owners: @alantreadway

AG-10197 Enable corner radius for histogram series
  packages/ag-charts-community/src/chart/series/cartesian/histogramSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/histogramSeriesProperties.ts
Owners: @alantreadway

Make circular deps a lint failure.
  packages/ag-charts-community/.dependency-cruiser.js
  packages/ag-charts-community/src/chart/factory/axisRegistry.ts
  packages/ag-charts-community/src/module/axisModule.ts
  packages/ag-charts-community/src/module/coreModules.ts
  packages/ag-charts-community/src/options/chart/navigatorOptions.ts
  packages/ag-charts-enterprise/.dependency-cruiser.js
  packages/ag-charts-enterprise/src/series/radar/radarSeries.ts
  packages/ag-charts-enterprise/src/series/radar/radarSeriesProperties.ts
  packages/ag-charts-enterprise/src/series/range-area/rangeArea.ts
  packages/ag-charts-enterprise/src/series/range-area/rangeAreaProperties.ts
Owners: @alantreadway

nx format --all
  packages/ag-charts-community/src/chart/data/dataModel.ts
  packages/ag-charts-community/src/util/types.ts
Owners: @alantreadway

AG-10195 Enable rounded corners on box plot
  packages/ag-charts-enterprise/src/series/box-plot/boxPlotGroup.ts
Owners: @alantreadway
