Repository ag-grid/ag-charts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ag-grid/ag-charts-team, @markdurrant, @taktran, @alantreadway, @rmc-software

.github/CODEOWNERS:

# NOTE: Order of entries matters - later entries have higher precedence.

# Attribute code-owners so default reviewers are assigned to PRs.
* @ag-grid/ag-charts-team

# Astro + website changes to be reviewed by website team.
*.scss @markdurrant
*.astro @taktran
/packages/ag-charts-website/astro/** @taktran
/packages/ag-charts-website/components/** @taktran
/packages/ag-charts-website/features/** @taktran
/packages/ag-charts-website/layouts/** @taktran
/packages/ag-charts-website/stores/** @taktran
/packages/ag-charts-website/utils/** @taktran

# Docs updates to be reviewed by Eng VP.
/packages/ag-charts-website/content/** @alantreadway @rmc-software
*.mdoc @rmc-software

# Charts library code to be reviewed by Chart TL.
/packages/ag-charts-community/** @alantreadway
/packages/ag-charts-enterprise/** @alantreadway

# Sensitive build/repo files to be reviewed by Chart TL.
**/package.json @alantreadway
nx.json @alantreadway
**/project.json @alantreadway
**/tsconfig.json @alantreadway
**/tsconfig.*.json @alantreadway

Replace docs type generation pipeline and rendering components
  packages/ag-charts-community/project.json
  packages/ag-charts-community/src/options/chart/chartBuilderOptions.ts
  packages/ag-charts-community/src/util/time/interval.ts
  packages/ag-charts-website/markdoc.config.ts
  packages/ag-charts-website/package.json
  packages/ag-charts-website/src/content/docs/bar-series/index.mdoc
  packages/ag-charts-website/src/features/api-documentation/ApiReference.astro
  packages/ag-charts-website/src/features/api-documentation/api-reference-types.ts
  packages/ag-charts-website/src/features/api-documentation/components/ApiDocumentation.module.scss
  packages/ag-charts-website/src/features/api-documentation/components/ApiReference.tsx
  packages/ag-charts-website/src/features/api-documentation/components/PropertyName.tsx
  packages/ag-charts-website/src/utils/devFiles.ts
  packages/ag-charts-website/src/utils/pages.ts
  plugins/ag-charts-build-tools/executors.json
  plugins/ag-charts-build-tools/src/executors/generate-code-reference-files/executor-new.ts
  plugins/ag-charts-build-tools/src/executors/generate-code-reference-files/executors-utils.ts
  plugins/ag-charts-build-tools/src/executors/generate-code-reference-files/types-utils.ts
  yarn.lock
Owners: @alantreadway, @ag-grid/ag-charts-team, @rmc-software, @taktran, @markdurrant

AG-9342 - Add tabs/tabItem markdoc tag
  packages/ag-charts-website/markdoc.config.ts
  packages/ag-charts-website/src/components/tabs/TabHtmlItem.tsx
  packages/ag-charts-website/src/components/tabs/TabsWithHtmlChildren.astro
  packages/ag-charts-website/src/components/tabs/TabsWithHtmlChildren.tsx
Owners: @ag-grid/ag-charts-team, @taktran

AG-9254 Update animation docs and remove old examples
  packages/ag-charts-website/src/content/docs/animation/_examples/area/data.ts
  packages/ag-charts-website/src/content/docs/animation/_examples/area/index.html
  packages/ag-charts-website/src/content/docs/animation/_examples/area/main.ts
  packages/ag-charts-website/src/content/docs/animation/_examples/bar/data.ts
  packages/ag-charts-website/src/content/docs/animation/_examples/bar/index.html
  packages/ag-charts-website/src/content/docs/animation/_examples/bar/main.ts
  packages/ag-charts-website/src/content/docs/animation/_examples/column/data.ts
  packages/ag-charts-website/src/content/docs/animation/_examples/column/index.html
  packages/ag-charts-website/src/content/docs/animation/_examples/column/main.ts
  packages/ag-charts-website/src/content/docs/animation/_examples/data-updates/data.ts
  packages/ag-charts-website/src/content/docs/animation/_examples/data-updates/index.html
  packages/ag-charts-website/src/content/docs/animation/_examples/data-updates/main.ts
  packages/ag-charts-website/src/content/docs/animation/_examples/duration/data.ts
  packages/ag-charts-website/src/content/docs/animation/_examples/duration/index.html
  packages/ag-charts-website/src/content/docs/animation/_examples/duration/main.ts
  packages/ag-charts-website/src/content/docs/animation/_examples/histogram/data.ts
  packages/ag-charts-website/src/content/docs/animation/_examples/histogram/index.html
  packages/ag-charts-website/src/content/docs/animation/_examples/histogram/main.ts
  packages/ag-charts-website/src/content/docs/animation/_examples/initial-load/data.ts
  packages/ag-charts-website/src/content/docs/animation/_examples/initial-load/index.html
  packages/ag-charts-website/src/content/docs/animation/_examples/initial-load/main.ts
  packages/ag-charts-website/src/content/docs/animation/_examples/line/data.ts
  packages/ag-charts-website/src/content/docs/animation/_examples/line/index.html
  packages/ag-charts-website/src/content/docs/animation/_examples/line/main.ts
  packages/ag-charts-website/src/content/docs/animation/_examples/pie/index.html
  packages/ag-charts-website/src/content/docs/animation/_examples/pie/main.ts
  packages/ag-charts-website/src/content/docs/animation/_examples/scatter/data.ts
  packages/ag-charts-website/src/content/docs/animation/_examples/scatter/index.html
  packages/ag-charts-website/src/content/docs/animation/_examples/scatter/main.ts
  packages/ag-charts-website/src/content/docs/animation/index.mdoc
Owners: @ag-grid/ag-charts-team, @rmc-software

cleanup
  packages/ag-charts-website/src/utils/pages.ts
Owners: @ag-grid/ag-charts-team

AG-9342 - Allow tabLabels not to be passed in
  packages/ag-charts-website/markdoc.config.ts
  packages/ag-charts-website/src/components/tabs/TabsWithHtmlChildren.astro
  packages/ag-charts-website/src/components/tabs/TabsWithHtmlChildren.tsx
Owners: @ag-grid/ag-charts-team, @taktran

Ressurect animation examples
  packages/ag-charts-website/src/content/docs/bar-series-test/_examples/animation-vertical/data.ts
  packages/ag-charts-website/src/content/docs/bar-series-test/_examples/animation-vertical/index.html
  packages/ag-charts-website/src/content/docs/bar-series-test/_examples/animation-vertical/main.ts
  packages/ag-charts-website/src/content/docs/bar-series-test/_examples/animation/bar/data.ts
  packages/ag-charts-website/src/content/docs/bar-series-test/_examples/animation/bar/index.html
  packages/ag-charts-website/src/content/docs/bar-series-test/_examples/animation/bar/main.ts
  packages/ag-charts-website/src/content/docs/bar-series-test/index.mdoc
  packages/ag-charts-website/src/content/docs/histogram-series-test/_examples/animation/data.ts
  packages/ag-charts-website/src/content/docs/histogram-series-test/_examples/animation/index.html
  packages/ag-charts-website/src/content/docs/histogram-series-test/_examples/animation/main.ts
  packages/ag-charts-website/src/content/docs/histogram-series-test/index.mdoc
  packages/ag-charts-website/src/content/docs/pie-series-test/_examples/animation/index.html
  packages/ag-charts-website/src/content/docs/pie-series-test/_examples/animation/main.ts
  packages/ag-charts-website/src/content/docs/pie-series-test/index.mdoc
  packages/ag-charts-website/src/content/docs/scatter-series-test/_examples/animation/data.ts
  packages/ag-charts-website/src/content/docs/scatter-series-test/_examples/animation/index.html
  packages/ag-charts-website/src/content/docs/scatter-series-test/_examples/animation/main.ts
  packages/ag-charts-website/src/content/docs/scatter-series-test/index.mdoc
Owners: @ag-grid/ag-charts-team, @rmc-software

Fix merge.
  packages/ag-charts-website/src/content/docs/bar-series-test/_examples/animation/data.ts
  packages/ag-charts-website/src/content/docs/bar-series-test/_examples/animation/index.html
  packages/ag-charts-website/src/content/docs/bar-series-test/_examples/animation/main.ts
Owners: @ag-grid/ag-charts-team

AG-9570 - new line series gallery example
  packages/ag-charts-website/src/content/gallery/_examples/multiple-line-series/data.ts
  packages/ag-charts-website/src/content/gallery/_examples/multiple-line-series/index.html
  packages/ag-charts-website/src/content/gallery/_examples/multiple-line-series/main.ts
  packages/ag-charts-website/src/content/gallery/data.json
Owners: @ag-grid/ag-charts-team

AG-9570 - Update line series gallery example
  packages/ag-charts-website/src/content/gallery/_examples/line-legend-pagination/main.ts
Owners: @ag-grid/ag-charts-team

Remove test tooling from SonarLint scope.
  sonar-project.properties
Owners: @ag-grid/ag-charts-team

Fix missing type handing + CR changes
  packages/ag-charts-community/project.json
  packages/ag-charts-community/src/chart/agChartV2.ts
  packages/ag-charts-community/src/chart/cartesianChart.ts
  packages/ag-charts-community/src/chart/chart.ts
  packages/ag-charts-community/src/chart/hierarchyChart.ts
  packages/ag-charts-community/src/chart/polarChart.ts
  packages/ag-charts-community/src/options/chart/chartBuilderOptions.ts
  packages/ag-charts-website/markdoc.config.ts
  packages/ag-charts-website/src/content/docs/api-create-update/index.mdoc
  packages/ag-charts-website/src/content/docs/api-download/index.mdoc
  packages/ag-charts-website/src/features/api-documentation/components/ApiDocumentation.astro
  packages/ag-charts-website/src/features/api-documentation/components/ApiDocumentation.tsx
  packages/ag-charts-website/src/features/api-documentation/components/ApiReference.tsx
  plugins/ag-charts-build-tools/src/executors/generate-code-reference-files/types-utils.ts
Owners: @alantreadway, @ag-grid/ag-charts-team, @rmc-software, @taktran

Add docs-resolved-interfaces to the build process
  packages/ag-charts-website/project.json
Owners: @alantreadway

AG-9342 - Replace docs with long API references with tabs
  packages/ag-charts-website/src/content/docs/axes-types/index.mdoc
  packages/ag-charts-website/src/content/docs/error-bars/index.mdoc
  packages/ag-charts-website/src/content/docs/events/index.mdoc
  packages/ag-charts-website/src/content/docs/heatmap-series/index.mdoc
  packages/ag-charts-website/src/content/docs/nightingale-series/index.mdoc
  packages/ag-charts-website/src/content/docs/radar-area-series/index.mdoc
  packages/ag-charts-website/src/content/docs/radar-line-series/index.mdoc
  packages/ag-charts-website/src/content/docs/radial-bar-series/index.mdoc
  packages/ag-charts-website/src/content/docs/radial-column-series/index.mdoc
  packages/ag-charts-website/src/content/docs/tooltips/index.mdoc
Owners: @rmc-software

try to fix build
  packages/ag-charts-website/src/content/docs/events/index.mdoc
  plugins/ag-charts-build-tools/src/executors/generate-code-reference-files/types-utils.ts
Owners: @rmc-software, @ag-grid/ag-charts-team

AG-9342 - Rename Tab components to be clearer
  packages/ag-charts-website/markdoc.config.ts
  packages/ag-charts-website/src/components/tabs/TabHtmlContent.tsx
  packages/ag-charts-website/src/components/tabs/TabNavItem.tsx
  packages/ag-charts-website/src/components/tabs/Tabs.tsx
  packages/ag-charts-website/src/components/tabs/TabsWithHtmlChildren.tsx
Owners: @ag-grid/ag-charts-team

try to fix build
  packages/ag-charts-community/src/options/chart/chartBuilderOptions.ts
Owners: @alantreadway

try to fix build
  plugins/ag-charts-build-tools/src/executors/generate-code-reference-files/types-utils.ts
Owners: @ag-grid/ag-charts-team

Fix PieSeries highlight during animation.
  packages/ag-charts-community/src/chart/series/polar/pieSeries.ts
Owners: @alantreadway

try to fix build
  packages/ag-charts-website/src/content/docs/axes-cross-lines/index.mdoc
  packages/ag-charts-website/src/features/api-documentation/components/ApiDocumentation.module.scss
  packages/ag-charts-website/src/features/api-documentation/components/ApiReference.tsx
  packages/ag-charts-website/src/features/api-documentation/components/JsObjectView.tsx
  packages/ag-charts-website/src/utils/pages.ts
Owners: @rmc-software, @markdurrant, @ag-grid/ag-charts-team

AG-9342 - Add tabbed component to docs (#413)
  packages/ag-charts-website/markdoc.config.ts
  packages/ag-charts-website/src/components/tabs/TabHtmlContent.tsx
  packages/ag-charts-website/src/components/tabs/TabNavItem.tsx
  packages/ag-charts-website/src/components/tabs/Tabs.tsx
  packages/ag-charts-website/src/components/tabs/TabsWithHtmlChildren.astro
  packages/ag-charts-website/src/components/tabs/TabsWithHtmlChildren.tsx
  packages/ag-charts-website/src/components/tabs/constants.ts
  packages/ag-charts-website/src/content/docs/axes-types/index.mdoc
  packages/ag-charts-website/src/content/docs/error-bars/index.mdoc
  packages/ag-charts-website/src/content/docs/events/index.mdoc
  packages/ag-charts-website/src/content/docs/heatmap-series/index.mdoc
  packages/ag-charts-website/src/content/docs/nightingale-series/index.mdoc
  packages/ag-charts-website/src/content/docs/radar-area-series/index.mdoc
  packages/ag-charts-website/src/content/docs/radar-line-series/index.mdoc
  packages/ag-charts-website/src/content/docs/radial-bar-series/index.mdoc
  packages/ag-charts-website/src/content/docs/radial-column-series/index.mdoc
  packages/ag-charts-website/src/content/docs/tooltips/index.mdoc
Owners: @ag-grid/ag-charts-team, @taktran, @rmc-software

try to fix build
  packages/ag-charts-website/src/content/docs/animation/index.mdoc
Owners: @rmc-software

Fix series-label animations.
  packages/ag-charts-community/src/chart/series/cartesian/lineSeries.ts
  packages/ag-charts-website/src/content/docs/line-series-test/_examples/continuous-animation/main.ts
Owners: @alantreadway, @ag-grid/ag-charts-team

rename noHeader to hideHeader
  packages/ag-charts-community/src/options/chart/chartBuilderOptions.ts
  packages/ag-charts-website/markdoc.config.ts
  packages/ag-charts-website/src/content/docs/api-create-update/index.mdoc
  packages/ag-charts-website/src/content/docs/api-download/index.mdoc
  packages/ag-charts-website/src/content/docs/axes-cross-lines/index.mdoc
  packages/ag-charts-website/src/content/docs/axes-types/index.mdoc
  packages/ag-charts-website/src/features/api-documentation/components/ApiReference.tsx
Owners: @alantreadway, @ag-grid/ag-charts-team, @rmc-software

AG-9570 - Update line series gallery examples
  packages/ag-charts-website/src/content/gallery/_examples/line-legend-pagination/main.ts
  packages/ag-charts-website/src/content/gallery/_examples/simple-line/data.ts
  packages/ag-charts-website/src/content/gallery/_examples/simple-line/main.ts
Owners: @ag-grid/ag-charts-team

AG-9632 - Make parent properties on the top of the page bold
  packages/ag-charts-website/src/features/api-documentation/components/ApiDocumentation.module.scss
  packages/ag-charts-website/src/features/api-documentation/components/JsObjectProperties.module.scss
Owners: @markdurrant

AG-9570 - Update line series gallery examples
  packages/ag-charts-website/src/content/gallery/_examples/multiple-line-series/main.ts
Owners: @ag-grid/ag-charts-team

AG-9570 - new line series with labels gallery example
  packages/ag-charts-website/src/content/gallery/_examples/line-with-labels/data.ts
  packages/ag-charts-website/src/content/gallery/_examples/line-with-labels/index.html
  packages/ag-charts-website/src/content/gallery/_examples/line-with-labels/main.ts
  packages/ag-charts-website/src/content/gallery/data.json
Owners: @ag-grid/ag-charts-team

AG-9570 - Update line series gallery examples
  packages/ag-charts-website/src/content/gallery/_examples/simple-line/data.ts
Owners: @ag-grid/ag-charts-team

AG-9570 - Update line series gallery examples
  packages/ag-charts-website/src/content/gallery/data.json
Owners: @ag-grid/ag-charts-team

AG-9655 Implement algolia search in charts
  packages/ag-charts-website/package.json
  packages/ag-charts-website/src/components/search/Search.tsx
  packages/ag-charts-website/src/utils/env.ts
  packages/ag-charts-website/update-algolia.js
Owners: @alantreadway, @ag-grid/ag-charts-team

nx format.
  packages/ag-charts-website/src/components/search/Search.tsx
  packages/ag-charts-website/update-algolia.js
Owners: @ag-grid/ag-charts-team

AG-3390 - removed DEVELOPING.md
  DEVELOPING.md
Owners: @ag-grid/ag-charts-team

Add option to hide required members visualisation + cleanup of the new executor options
  packages/ag-charts-community/project.json
  packages/ag-charts-website/markdoc.config.ts
  packages/ag-charts-website/src/content/docs/api-create-update/index.mdoc
  packages/ag-charts-website/src/content/docs/api-download/index.mdoc
  packages/ag-charts-website/src/features/api-documentation/components/ApiReference.tsx
  plugins/ag-charts-build-tools/executors.json
  plugins/ag-charts-build-tools/src/executors/generate-code-reference-files/executor-new.ts
  plugins/ag-charts-build-tools/src/executors/generate-code-reference-files/schema-new.json
  plugins/ag-charts-build-tools/src/executors/generate-code-reference-files/types-utils.ts
Owners: @alantreadway, @ag-grid/ag-charts-team, @rmc-software

revert accidentally committed changes
  plugins/ag-charts-build-tools/src/executors/generate-code-reference-files/types-utils.ts
Owners: @ag-grid/ag-charts-team

type cleanup for docs
  packages/ag-charts-community/src/options/chart/chartBuilderOptions.ts
  packages/ag-charts-community/src/options/chart/chartOptions.ts
  packages/ag-charts-community/src/options/series/hierarchy/hierarchyOptions.ts
Owners: @alantreadway

AG-9342 - Add tabs to all API reference pages
  packages/ag-charts-website/src/content/docs/animation/index.mdoc
  packages/ag-charts-website/src/content/docs/area-series/index.mdoc
  packages/ag-charts-website/src/content/docs/axes-crosshairs/index.mdoc
  packages/ag-charts-website/src/content/docs/background-image/index.mdoc
  packages/ag-charts-website/src/content/docs/background/index.mdoc
  packages/ag-charts-website/src/content/docs/bar-series/index.mdoc
  packages/ag-charts-website/src/content/docs/box-plot-series/index.mdoc
  packages/ag-charts-website/src/content/docs/bubble-series/index.mdoc
  packages/ag-charts-website/src/content/docs/context-menu/index.mdoc
  packages/ag-charts-website/src/content/docs/histogram-series/index.mdoc
  packages/ag-charts-website/src/content/docs/legend/index.mdoc
  packages/ag-charts-website/src/content/docs/line-series/index.mdoc
  packages/ag-charts-website/src/content/docs/markers/index.mdoc
  packages/ag-charts-website/src/content/docs/navigator/index.mdoc
  packages/ag-charts-website/src/content/docs/overlays/index.mdoc
  packages/ag-charts-website/src/content/docs/pie-series/index.mdoc
  packages/ag-charts-website/src/content/docs/range-area-series/index.mdoc
  packages/ag-charts-website/src/content/docs/range-bar-series/index.mdoc
  packages/ag-charts-website/src/content/docs/scatter-series/index.mdoc
  packages/ag-charts-website/src/content/docs/series/index.mdoc
  packages/ag-charts-website/src/content/docs/treemap-series/index.mdoc
  packages/ag-charts-website/src/content/docs/waterfall-series/index.mdoc
  packages/ag-charts-website/src/content/docs/zoom/index.mdoc
Owners: @rmc-software

AG-3390 - Fix options reference links
  packages/ag-charts-website/src/content/docs/api-create-update/index.mdoc
  packages/ag-charts-website/src/content/docs/formatters/index.mdoc
  packages/ag-charts-website/src/content/docs/series/index.mdoc
Owners: @rmc-software

Bubble docs update plus minor changes
  packages/ag-charts-website/src/content/docs/area-series/index.mdoc
  packages/ag-charts-website/src/content/docs/bubble-series/index.mdoc
  packages/ag-charts-website/src/content/docs/scatter-series/index.mdoc
Owners: @rmc-software

AG-3390 - Remove unnecessary chart example runner options string parsing
  packages/ag-charts-website/markdoc.config.ts
  packages/ag-charts-website/src/content/docs/animation/index.mdoc
  packages/ag-charts-website/src/content/docs/axes-cross-lines/index.mdoc
  packages/ag-charts-website/src/content/docs/axes-crosshairs/index.mdoc
  packages/ag-charts-website/src/content/docs/background-image/index.mdoc
  packages/ag-charts-website/src/content/docs/bar-series/index.mdoc
  packages/ag-charts-website/src/content/docs/box-plot-series/index.mdoc
  packages/ag-charts-website/src/content/docs/context-menu/index.mdoc
  packages/ag-charts-website/src/content/docs/error-bars/index.mdoc
  packages/ag-charts-website/src/content/docs/heatmap-series/index.mdoc
  packages/ag-charts-website/src/content/docs/histogram-series/index.mdoc
  packages/ag-charts-website/src/content/docs/navigator/index.mdoc
  packages/ag-charts-website/src/content/docs/nightingale-series/index.mdoc
  packages/ag-charts-website/src/content/docs/radar-area-series/index.mdoc
  packages/ag-charts-website/src/content/docs/radar-line-series/index.mdoc
  packages/ag-charts-website/src/content/docs/radial-bar-series/index.mdoc
  packages/ag-charts-website/src/content/docs/radial-column-series/index.mdoc
  packages/ag-charts-website/src/content/docs/range-area-series/index.mdoc
  packages/ag-charts-website/src/content/docs/range-bar-series-test/index.mdoc
  packages/ag-charts-website/src/content/docs/range-bar-series/index.mdoc
  packages/ag-charts-website/src/content/docs/treemap-series/index.mdoc
  packages/ag-charts-website/src/content/docs/waterfall-series/index.mdoc
  packages/ag-charts-website/src/content/docs/zoom/index.mdoc
  packages/ag-charts-website/src/features/docs/components/DocsExampleRunner.astro
  packages/ag-charts-website/src/features/example-runner/utils/getExampleOptionsFromString.test.ts
  packages/ag-charts-website/src/features/example-runner/utils/getExampleOptionsFromString.ts
Owners: @ag-grid/ag-charts-team, @rmc-software, @taktran

AG-3390 - Remove unnecessary example runner enterprise option
  packages/ag-charts-website/src/content/docs/animation/index.mdoc
  packages/ag-charts-website/src/content/docs/axes-cross-lines/index.mdoc
  packages/ag-charts-website/src/content/docs/axes-crosshairs/index.mdoc
  packages/ag-charts-website/src/content/docs/background-image/index.mdoc
  packages/ag-charts-website/src/content/docs/bar-series/index.mdoc
  packages/ag-charts-website/src/content/docs/box-plot-series/index.mdoc
  packages/ag-charts-website/src/content/docs/context-menu/index.mdoc
  packages/ag-charts-website/src/content/docs/error-bars/index.mdoc
  packages/ag-charts-website/src/content/docs/heatmap-series/index.mdoc
  packages/ag-charts-website/src/content/docs/histogram-series/index.mdoc
  packages/ag-charts-website/src/content/docs/navigator/index.mdoc
  packages/ag-charts-website/src/content/docs/nightingale-series/index.mdoc
  packages/ag-charts-website/src/content/docs/radar-area-series/index.mdoc
  packages/ag-charts-website/src/content/docs/radar-line-series/index.mdoc
  packages/ag-charts-website/src/content/docs/radial-bar-series/index.mdoc
  packages/ag-charts-website/src/content/docs/radial-column-series/index.mdoc
  packages/ag-charts-website/src/content/docs/range-area-series/index.mdoc
  packages/ag-charts-website/src/content/docs/range-bar-series-test/index.mdoc
  packages/ag-charts-website/src/content/docs/range-bar-series/index.mdoc
  packages/ag-charts-website/src/content/docs/treemap-series/index.mdoc
  packages/ag-charts-website/src/content/docs/waterfall-series/index.mdoc
  packages/ag-charts-website/src/content/docs/zoom/index.mdoc
  packages/ag-charts-website/src/features/example-runner/types.d.ts
Owners: @rmc-software, @ag-grid/ag-charts-team
