Repository ag-grid/ag-charts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ag-grid/ag-charts-team, @markdurrant, @taktran, @alantreadway, @rmc-software

AG-10893 Fix minichart updating
  packages/ag-charts-community/src/chart/chart.ts
  packages/ag-charts-enterprise/src/features/navigator/miniChart.ts
Owners: @alantreadway

AG-10914 Fix pixel alignment for navigator on 1x displays
  packages/ag-charts-community/src/chart/navigator/navigatorModule.ts
  packages/ag-charts-community/src/chart/navigator/shapes/rangeHandle.ts
  packages/ag-charts-community/src/chart/navigator/shapes/rangeMask.ts
Owners: @alantreadway

AG-10775 Fix zoom range axis update with date domains
  packages/ag-charts-enterprise/src/features/zoom/zoomRange.ts
Owners: @alantreadway

Explicit mention of zoom features, to match integrated toolpanel
  packages/ag-charts-website/src/content/docs/zoom/index.mdoc
Owners: @rmc-software

AG-10217 - Make ordinal time scale index map keys date ranges to enable setting tick values and configuring crosslines
  packages/ag-charts-community/src/scale/bandScale.ts
  packages/ag-charts-community/src/scale/ordinalTimeScale.ts
Owners: @alantreadway

AG-10217 - Treat crossline type `line` for ordinal time scale the same as continuous scales
  packages/ag-charts-community/src/chart/crossline/cartesianCrossLine.ts
Owners: @alantreadway

AG-10775 Fix zoom ratio test
  packages/ag-charts-enterprise/src/features/zoom/zoom.ts
Owners: @alantreadway

Fix CI Jest test shard parameters.
  .github/workflows/ci.yml
Owners: @ag-grid/ag-charts-team

Add support for nx benchmark ag-charts-enterprise.
  libraries/ag-charts-test/src/benchmarks/timing.ts
  libraries/ag-charts-test/src/console/mock-console.ts
  libraries/ag-charts-test/src/examples/load-example.ts
  libraries/ag-charts-test/src/index.ts
  packages/ag-charts-community/benchmarks/benchmark.ts
  packages/ag-charts-community/src/chart/test/mockConsole.ts
  packages/ag-charts-enterprise/benchmarks/__image_snapshots__/multi-series-test-ts-multi-series-benchmark-after-load-1-x-legend-toggle-1-snap.png
  packages/ag-charts-enterprise/benchmarks/__image_snapshots__/multi-series-test-ts-multi-series-benchmark-after-load-10-x-legend-toggle-1-snap.png
  packages/ag-charts-enterprise/benchmarks/__image_snapshots__/multi-series-test-ts-multi-series-benchmark-initial-load-1-snap.png
  packages/ag-charts-enterprise/benchmarks/multiSeries.test.ts
  packages/ag-charts-enterprise/jest.config.ts
  packages/ag-charts-enterprise/project.json
Owners: @ag-grid/ag-charts-team, @alantreadway

Add support for nx benchmark ag-charts-enterprise.
  packages/ag-charts-community/.dependency-cruiser.js
  packages/ag-charts-enterprise/.dependency-cruiser.js
Owners: @alantreadway

AG-10217 - Ordinal time scale with reversed domain
  packages/ag-charts-community/src/scale/ordinalTimeScale.ts
Owners: @alantreadway

AG-10217 - Remove groupPaddingInner from ordinal time scale defaults
  packages/ag-charts-enterprise/src/axes/ordinal/ordinalTimeAxisThemes.ts
  packages/ag-charts-enterprise/src/series/candlestick/candlestickThemes.ts
Owners: @alantreadway

AG-10217 - Snapshot updates
  packages/ag-charts-enterprise/src/series/candlestick/__image_snapshots__/candlestick-series-test-ts-candlestick-series-initial-animation-for-candlestick-options-should-animate-at-100-1-snap.png
  packages/ag-charts-enterprise/src/series/candlestick/__image_snapshots__/candlestick-series-test-ts-candlestick-series-initial-animation-for-candlestick-options-should-animate-at-25-1-snap.png
  packages/ag-charts-enterprise/src/series/candlestick/__image_snapshots__/candlestick-series-test-ts-candlestick-series-initial-animation-for-candlestick-options-should-animate-at-50-1-snap.png
  packages/ag-charts-enterprise/src/series/candlestick/__image_snapshots__/candlestick-series-test-ts-candlestick-series-initial-animation-for-candlestick-options-should-animate-at-75-1-snap.png
  packages/ag-charts-enterprise/src/series/candlestick/__image_snapshots__/candlestick-series-test-ts-candlestick-series-should-render-a-candlestick-chart-as-expected-with-default-ordinal-time-x-axis-1-snap.png
  packages/ag-charts-enterprise/src/series/candlestick/__image_snapshots__/candlestick-series-test-ts-candlestick-series-should-render-a-candlestick-chart-as-expected-with-reversed-axes-1-snap.png
Owners: @alantreadway

AG-10217 - use for loop to break out early
  packages/ag-charts-community/src/scale/ordinalTimeScale.ts
Owners: @alantreadway

AG-10657 Remove chart.ts 'wheel' handlers
  packages/ag-charts-community/src/chart/chart.ts
Owners: @alantreadway

AG-10657 Fix warnings about excessive updates
  packages/ag-charts-community/src/chart/chart.ts
Owners: @alantreadway

AG-10657 Reset zoom's cursor when leaving the seriesRect
  packages/ag-charts-enterprise/src/features/zoom/zoom.ts
Owners: @alantreadway

AG-10853 Make both the series and axes groups of the 'series' region
  packages/ag-charts-community/src/chart/chart.ts
  packages/ag-charts-community/src/chart/interaction/regionManager.ts
  packages/ag-charts-community/src/util/bboxset.ts
  packages/ag-charts-enterprise/src/features/zoom/zoom.ts
Owners: @alantreadway

AG-10657 Remove async dispatch in RegionManager
  packages/ag-charts-community/src/chart/interaction/regionManager.ts
Owners: @alantreadway

AG-10782 Add toolbar for zoom range buttons
  packages/ag-charts-community/src/chart/chart.ts
  packages/ag-charts-community/src/chart/factory/expectedEnterpriseModules.ts
  packages/ag-charts-community/src/chart/factory/registerInbuiltModules.ts
  packages/ag-charts-community/src/chart/interaction/toolbarManager.ts
  packages/ag-charts-community/src/chart/mapping/__snapshots__/prepare.test.ts.snap
  packages/ag-charts-community/src/chart/toolbar/scenes/toolbarButton.ts
  packages/ag-charts-community/src/chart/toolbar/scenes/toolbarContainer.ts
  packages/ag-charts-community/src/chart/toolbar/toolbar.ts
  packages/ag-charts-community/src/chart/toolbar/toolbarModule.ts
  packages/ag-charts-community/src/module-support.ts
  packages/ag-charts-community/src/module/moduleContext.ts
  packages/ag-charts-community/src/options/chart/chartOptions.ts
  packages/ag-charts-community/src/options/chart/rangeButtonsOptions.ts
  packages/ag-charts-enterprise/src/features/range-buttons/main.ts
  packages/ag-charts-enterprise/src/features/range-buttons/rangeButtons.ts
  packages/ag-charts-enterprise/src/features/range-buttons/rangeButtonsModule.ts
  packages/ag-charts-enterprise/src/features/range-buttons/rangeTypes.ts
  packages/ag-charts-enterprise/src/features/zoom/zoom.ts
  packages/ag-charts-enterprise/src/setup.ts
  packages/ag-charts-website/src/content/docs/financial-charts/_examples/candlestick-plus-volume/index.html
  packages/ag-charts-website/src/content/docs/financial-charts/_examples/candlestick-plus-volume/main.ts
  packages/ag-charts-website/src/content/docs/financial-charts/_examples/candlestick-volume-combo/main.ts
  packages/ag-charts-website/src/content/docs/financial-charts/_examples/stock-tracking/index.html
  packages/ag-charts-website/src/content/docs/financial-charts/_examples/stock-tracking/main.ts
Owners: @alantreadway, @ag-grid/ag-charts-team

Fix test.
  packages/ag-charts-community/src/chart/chartHeapMemory.test.ts
Owners: @alantreadway

AG-10657 Keep private RegionManager.dispatch
  packages/ag-charts-community/src/chart/interaction/regionManager.ts
Owners: @alantreadway

Zoom docs rework for clarity
  packages/ag-charts-community/src/options/chart/zoomOptions.ts
  packages/ag-charts-website/src/content/docs/zoom/_examples/zoom/main.ts
  packages/ag-charts-website/src/content/docs/zoom/index.mdoc
Owners: @alantreadway, @ag-grid/ag-charts-team, @rmc-software

Data controller optimisations
  packages/ag-charts-community/src/chart/data/dataController.ts
  packages/ag-charts-community/src/chart/data/dataModel.ts
Owners: @alantreadway

Docs update
  packages/ag-charts-community/src/chart/chart.ts
  packages/ag-charts-community/src/chart/hierarchyChart.ts
  packages/ag-charts-community/src/chart/series/topologySeries.ts
  packages/ag-charts-community/src/chart/topologyChart.ts
  packages/ag-charts-community/src/options/series/topology/mapMarkerOptions.ts
  packages/ag-charts-community/src/options/series/topology/mapOptions.ts
  packages/ag-charts-community/src/options/series/topology/topologyOptions.ts
  packages/ag-charts-enterprise/src/series/map-marker/mapMarkerSeries.ts
  packages/ag-charts-enterprise/src/series/map-marker/mapMarkerSeriesProperties.ts
  packages/ag-charts-enterprise/src/series/map-util/geometryUtil.ts
  packages/ag-charts-enterprise/src/series/map-util/polygonUtil.ts
  packages/ag-charts-enterprise/src/series/map/mapModule.ts
  packages/ag-charts-enterprise/src/series/map/mapSeries.ts
  packages/ag-charts-enterprise/src/series/map/mapSeriesProperties.ts
  packages/ag-charts-website/src/content/docs/map-lines/_examples/background/backgroundTopology.ts
  packages/ag-charts-website/src/content/docs/map-lines/_examples/background/data.ts
  packages/ag-charts-website/src/content/docs/map-lines/_examples/background/index.html
  packages/ag-charts-website/src/content/docs/map-lines/_examples/background/main.ts
  packages/ag-charts-website/src/content/docs/map-lines/_examples/background/topology.ts
  packages/ag-charts-website/src/content/docs/map-lines/_examples/lines/main.ts
  packages/ag-charts-website/src/content/docs/map-lines/index.mdoc
  packages/ag-charts-website/src/content/docs/map-markers/_examples/background/backgroundTopology.ts
  packages/ag-charts-website/src/content/docs/map-markers/_examples/background/data.ts
  packages/ag-charts-website/src/content/docs/map-markers/_examples/background/index.html
  packages/ag-charts-website/src/content/docs/map-markers/_examples/background/main.ts
  packages/ag-charts-website/src/content/docs/map-markers/_examples/marker-size/backgroundTopology.ts
  packages/ag-charts-website/src/content/docs/map-markers/_examples/marker-size/data.ts
  packages/ag-charts-website/src/content/docs/map-markers/_examples/marker-size/index.html
  packages/ag-charts-website/src/content/docs/map-markers/_examples/marker-size/main.ts
  packages/ag-charts-website/src/content/docs/map-markers/_examples/markers/backgroundTopology.ts
  packages/ag-charts-website/src/content/docs/map-markers/index.mdoc
  packages/ag-charts-website/src/content/docs/map-shapes/_examples/heatmap-series/main.ts
  packages/ag-charts-website/src/content/docs/map-shapes/_examples/labels/data.ts
  packages/ag-charts-website/src/content/docs/map-shapes/_examples/labels/index.html
  packages/ag-charts-website/src/content/docs/map-shapes/_examples/labels/main.ts
  packages/ag-charts-website/src/content/docs/map-shapes/_examples/labels/topology.ts
  packages/ag-charts-website/src/content/docs/map-shapes/_examples/multiple-series/main.ts
  packages/ag-charts-website/src/content/docs/map-shapes/index.mdoc
Owners: @alantreadway, @ag-grid/ag-charts-team, @rmc-software

merge conflicts
  packages/ag-charts-community/src/chart/data/dataController.ts
  packages/ag-charts-community/src/chart/data/dataModel.ts
Owners: @alantreadway

Revert "Refactor Data Domain"
  packages/ag-charts-community/src/chart/data/aggregateFunctions.ts
  packages/ag-charts-community/src/chart/data/dataDomain.ts
  packages/ag-charts-community/src/chart/data/dataModel.ts
  packages/ag-charts-community/src/chart/data/utilFunctions.ts
Owners: @alantreadway

Fix @jest/globals import error in thumbnail gen.
  libraries/ag-charts-test/src/console/mock-console.ts
  libraries/ag-charts-test/tsconfig.lib.json
Owners: @ag-grid/ag-charts-team, @alantreadway

Fix @jest/globals import error in thumbnail gen.
  libraries/ag-charts-test/src/console/mock-console.ts
  libraries/ag-charts-test/tsconfig.lib.json
Owners: @ag-grid/ag-charts-team, @alantreadway

lint
  packages/ag-charts-community/package.json
  packages/ag-charts-enterprise/src/series/map-marker/mapMarkerSeries.ts
  packages/ag-charts-enterprise/src/series/map-marker/mapMarkerSeriesProperties.ts
  packages/ag-charts-enterprise/src/series/map/mapSeries.ts
Owners: @alantreadway

Update examples
  packages/ag-charts-website/src/content/docs/map-markers/_examples/background/main.ts
  packages/ag-charts-website/src/content/docs/map-markers/_examples/marker-size/backgroundTopology.ts
  packages/ag-charts-website/src/content/docs/map-markers/_examples/marker-size/main.ts
Owners: @ag-grid/ag-charts-team

Fix gallery thumbnail generation.
  plugins/ag-charts-generate-chart-thumbnail/project.json
  plugins/ag-charts-generate-chart-thumbnail/src/executors/generate/generator/thumbnailGenerator.ts
  plugins/ag-charts-generate-example-files/src/executors/generate/executor.ts
  plugins/ag-charts-generate-example-files/src/executors/generate/generator/examplesGenerator.ts
  plugins/ag-charts-generate-example-files/src/index.ts
Owners: @alantreadway, @ag-grid/ag-charts-team

fix tests
  packages/ag-charts-community/src/chart/data/dataController.test.ts
  packages/ag-charts-community/src/chart/data/dataController.ts
Owners: @alantreadway

revert revert dataDomain changes
  packages/ag-charts-community/src/chart/data/aggregateFunctions.ts
  packages/ag-charts-community/src/chart/data/dataDomain.ts
  packages/ag-charts-community/src/chart/data/dataModel.ts
  packages/ag-charts-community/src/chart/data/utilFunctions.ts
Owners: @alantreadway

fix lint
  packages/ag-charts-community/src/chart/data/dataController.ts
Owners: @alantreadway

Data controller optimisations (#1165)
  packages/ag-charts-community/src/chart/data/aggregateFunctions.ts
  packages/ag-charts-community/src/chart/data/dataController.test.ts
  packages/ag-charts-community/src/chart/data/dataController.ts
  packages/ag-charts-community/src/chart/data/dataDomain.ts
  packages/ag-charts-community/src/chart/data/dataModel.ts
  packages/ag-charts-community/src/chart/data/utilFunctions.ts
Owners: @alantreadway

Change invalid sync warning message
  packages/ag-charts-enterprise/src/features/sync/chartSync.ts
Owners: @alantreadway

AG-8255 - Fix tooltip position example
  packages/ag-charts-website/src/content/docs/tooltips/_examples/tooltip-position/main.ts
Owners: @ag-grid/ag-charts-team

AG-8255 - Fix typescript error
  packages/ag-charts-website/src/content/docs/tooltips/_examples/tooltip-position/main.ts
Owners: @ag-grid/ag-charts-team

AG-10755 - Remove `name` and `shadow` from candlestick item options
  packages/ag-charts-community/src/options/series/cartesian/candlestickOptions.ts
Owners: @alantreadway

.github/CODEOWNERS:

# NOTE: Order of entries matters - later entries have higher precedence.

# Attribute code-owners so default reviewers are assigned to PRs.
* @ag-grid/ag-charts-team

# Astro + website changes to be reviewed by website team.
*.scss @markdurrant
*.astro @taktran
/packages/ag-charts-website/astro/** @taktran
/packages/ag-charts-website/components/** @taktran
/packages/ag-charts-website/features/** @taktran
/packages/ag-charts-website/layouts/** @taktran
/packages/ag-charts-website/stores/** @taktran
/packages/ag-charts-website/utils/** @taktran

# Docs updates to be reviewed by Eng VP.
/packages/ag-charts-website/content/** @alantreadway @rmc-software
*.mdoc @rmc-software

# Charts library code to be reviewed by Chart TL.
/packages/ag-charts-community/** @alantreadway
/packages/ag-charts-enterprise/** @alantreadway

# Sensitive build/repo files to be reviewed by Chart TL.
**/package.json @alantreadway
nx.json @alantreadway
**/project.json @alantreadway
**/tsconfig.json @alantreadway
**/tsconfig.*.json @alantreadway
