Repository ag-grid/ag-charts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ag-grid/ag-charts-team, @markdurrant, @taktran, @alantreadway, @rmc-software

git subrepo pull external/ag-website-shared
  external/ag-website-shared/.gitrepo
  external/ag-website-shared/src/design-system/components/_containers.scss
Owners: @ag-grid/ag-charts-team, @markdurrant

AG-11644 Update quality badge alt text
  packages/ag-charts-website/src/content/docs/security/index.mdoc
Owners: @rmc-software

AG-11644 Reformat index.mdoc page
  packages/ag-charts-website/src/content/docs/security/index.mdoc
Owners: @rmc-software

Cleanup bandScale
  packages/ag-charts-community/src/scale/__snapshots__/bandScale.test.ts.snap
  packages/ag-charts-community/src/scale/bandScale.test.ts
  packages/ag-charts-community/src/scale/bandScale.ts
Owners: @alantreadway

wip
  packages/ag-charts-community/src/sandbox/scales/bandScale.ts
Owners: @alantreadway

fix radial-bar
  packages/ag-charts-community/src/scale/bandScale.ts
Owners: @alantreadway

git subrepo pull external/ag-website-shared
  external/ag-website-shared/.gitrepo
  external/ag-website-shared/project.json
  external/ag-website-shared/scripts/subrepo/src/cli.ts
  external/ag-website-shared/src/components/community/layout/CommunityLayout.module.scss
  external/ag-website-shared/src/components/community/pages/home.module.scss
  external/ag-website-shared/src/components/sitemap/Sitemap.tsx
  external/ag-website-shared/src/components/sitemap/sitemap.module.scss
  external/ag-website-shared/src/components/sitemap/utils/sitemaputils.ts
  external/ag-website-shared/src/components/whats-new/pages/whats-new.astro
  external/ag-website-shared/src/content/community/community-menu.json
  external/ag-website-shared/src/content/community/events-images.json
  external/ag-website-shared/src/content/community/events.json
  external/ag-website-shared/src/content/community/news-updates/podcasts.json
  external/ag-website-shared/src/content/community/support.json
  external/ag-website-shared/src/content/community/tools-extensions.json
  external/ag-website-shared/src/markdoc/tags/oneTrustCookies.ts
Owners: @ag-grid/ag-charts-team, @alantreadway, @markdurrant, @taktran

AG-11544 Create a stylised sitemap
  packages/ag-charts-website/src/content/footer/data.json
  packages/ag-charts-website/src/pages/sitemap.astro
Owners: @ag-grid/ag-charts-team, @taktran

AG-11450 - Add CSS variables for flex canvas centering.
  packages/ag-charts-community/src/chart/dom/domManager.ts
  packages/ag-charts-community/src/styles/theme-default.ts
Owners: @alantreadway

Automated package version bump to 9.3.1-beta.20240520.
  .env
  libraries/ag-charts-test/package.json
  package.json
  packages/ag-charts-angular/package.json
  packages/ag-charts-angular/projects/ag-charts-angular/package.json
  packages/ag-charts-community-examples/package.json
  packages/ag-charts-community/package.json
  packages/ag-charts-community/src/version.ts
  packages/ag-charts-enterprise/package.json
  packages/ag-charts-react/package.json
  packages/ag-charts-vue3/package.json
  packages/ag-charts-website/.env.build
  packages/ag-charts-website/.env.build.archive
  packages/ag-charts-website/.env.build.production
  packages/ag-charts-website/.env.build.staging
  packages/ag-charts-website/.env.dev
  packages/ag-charts-website/.env.preview
  packages/ag-charts-website/.env.preview.production
  packages/ag-charts-website/.env.preview.staging
  packages/ag-charts-website/package.json
  plugins/ag-charts-generate-chart-thumbnail/package.json
  plugins/ag-charts-generate-code-reference-files/package.json
  plugins/ag-charts-generate-example-files/package.json
Owners: @ag-grid/ag-charts-team, @alantreadway

AG-11450 - Fix canvas bounds calculation.
  packages/ag-charts-community/src/chart/dom/domManager.ts
Owners: @alantreadway

AG-10486 QA Feedback for Legend Context Menu (1)
  packages/ag-charts-community/src/chart/interaction/contextMenuRegistry.ts
  packages/ag-charts-community/src/chart/legend.ts
Owners: @alantreadway

AG-10486 Fix event handling of extraLegendItemActions (2)
  packages/ag-charts-community/src/chart/interaction/highlightManager.ts
  packages/ag-charts-community/src/chart/legend.ts
  packages/ag-charts-enterprise/src/features/context-menu/contextMenu.ts
Owners: @alantreadway

AG-10486 CR Feedback
  packages/ag-charts-enterprise/src/features/context-menu/contextMenu.ts
Owners: @alantreadway

AG-10486 Add contextMenu.extraLegendItemActions user option (2)
  packages/ag-charts-community/src/options/chart/contextMenuOptions.ts
  packages/ag-charts-community/src/options/chart/legendOptions.ts
  packages/ag-charts-enterprise/src/features/context-menu/contextMenu.ts
Owners: @alantreadway

Lint fixes.
  packages/ag-charts-community/src/scale/bandScale.test.ts
Owners: @alantreadway

AG-3390 Remove framework selector from h1
  packages/ag-charts-website/src/features/docs/components/Header.module.scss
  packages/ag-charts-website/src/features/docs/components/Header.tsx
Owners: @markdurrant, @ag-grid/ag-charts-team

AG-11569 Remove meta-refresh tag
  packages/ag-charts-website/src/pages/[framework]/index.astro
  packages/ag-charts-website/src/pages/documentation.astro
Owners: @taktran

AG-3390 Remove icon & links from h1 tag
  packages/ag-charts-website/src/pages/gallery/[pageName].astro
Owners: @taktran

AG-11568 Fix broken links
  external/ag-website-shared/src/content/license-features/chartsFeaturesMatrix.json
Owners: @ag-grid/ag-charts-team

Automated package version bump to 9.3.1-beta.20240520.1516.
  .env
  libraries/ag-charts-test/package.json
  package.json
  packages/ag-charts-angular/package.json
  packages/ag-charts-angular/projects/ag-charts-angular/package.json
  packages/ag-charts-community-examples/package.json
  packages/ag-charts-community/package.json
  packages/ag-charts-community/src/version.ts
  packages/ag-charts-enterprise/package.json
  packages/ag-charts-react/package.json
  packages/ag-charts-vue3/package.json
  packages/ag-charts-website/.env.build
  packages/ag-charts-website/.env.build.archive
  packages/ag-charts-website/.env.build.production
  packages/ag-charts-website/.env.build.staging
  packages/ag-charts-website/.env.dev
  packages/ag-charts-website/.env.preview
  packages/ag-charts-website/.env.preview.production
  packages/ag-charts-website/.env.preview.staging
  packages/ag-charts-website/package.json
  plugins/ag-charts-generate-chart-thumbnail/package.json
  plugins/ag-charts-generate-code-reference-files/package.json
  plugins/ag-charts-generate-example-files/package.json
Owners: @ag-grid/ag-charts-team, @alantreadway

AG-11569 Remove meta-refresh tag
  packages/ag-charts-website/src/pages/[framework]/index.astro
Owners: @taktran

wip
  packages/ag-charts-community/src/sandbox/scales/__snapshots__/colorScale.test.ts.snap
  packages/ag-charts-community/src/sandbox/scales/colorScale.test.ts
  packages/ag-charts-community/src/sandbox/scales/colorScale.ts
  packages/ag-charts-community/src/sandbox/util/colors.util.ts
  packages/ag-charts-community/src/sandbox/util/interpolate.util.ts
Owners: @alantreadway

Sankey, chord updates, docs
  packages/ag-charts-enterprise/src/series/chord/chordSeries.ts
  packages/ag-charts-enterprise/src/series/flow-proportion/flowProportionProperties.ts
  packages/ag-charts-enterprise/src/series/flow-proportion/flowProportionSeries.ts
  packages/ag-charts-enterprise/src/series/flow-proportion/flowProportionUtil.ts
  packages/ag-charts-enterprise/src/series/sankey/sankeyLayout.ts
  packages/ag-charts-enterprise/src/series/sankey/sankeyLink.ts
  packages/ag-charts-enterprise/src/series/sankey/sankeySeries.ts
  packages/ag-charts-enterprise/src/series/sankey/sankeySeriesProperties.ts
  packages/ag-charts-website/src/content/docs/chord-series/_examples/simple-sankey/index.html
  packages/ag-charts-website/src/content/docs/chord-series/_examples/simple-sankey/main.ts
  packages/ag-charts-website/src/content/docs/chord-series/index.mdoc
  packages/ag-charts-website/src/content/docs/sankey-series/_examples/simple-sankey/index.html
  packages/ag-charts-website/src/content/docs/sankey-series/_examples/simple-sankey/main.ts
  packages/ag-charts-website/src/content/docs/sankey-series/index.mdoc
  packages/ag-charts-website/src/content/menu/data.json
Owners: @alantreadway, @ag-grid/ag-charts-team, @rmc-software

AG-11450 - Fix tooltip bound calculation.
  packages/ag-charts-community/src/chart/chart.test.ts
  packages/ag-charts-community/src/chart/tooltip/tooltip.ts
  packages/ag-charts-enterprise/src/features/error-bar/__snapshots__/errorBar.test.ts.snap
  packages/ag-charts-enterprise/src/series/map-line/mapLineSeries.test.ts
  packages/ag-charts-enterprise/src/series/map-marker/mapMarkerSeries.test.ts
  packages/ag-charts-enterprise/src/series/map-shape/mapShapeSeries.test.ts
  packages/ag-charts-enterprise/src/series/sunburst/sunburstSeries.test.ts
  packages/ag-charts-enterprise/src/series/treemap/treemapSeries.test.ts
  packages/all/project.json
Owners: @alantreadway

Lint fixes.
  packages/ag-charts-community/src/chart/chart.test.ts
  packages/ag-charts-community/src/chart/legend.ts
  packages/ag-charts-enterprise/src/series/map-line/mapLineSeries.test.ts
  packages/ag-charts-enterprise/src/series/map-marker/mapMarkerSeries.test.ts
  packages/ag-charts-enterprise/src/series/map-shape/mapShapeSeries.test.ts
  packages/ag-charts-enterprise/src/series/sunburst/sunburstSeries.test.ts
  packages/ag-charts-enterprise/src/series/treemap/treemapSeries.test.ts
Owners: @alantreadway

AG-11297 Make the navigator a vertical toolbar
  packages/ag-charts-community/src/chart/dom/proxyInteractionService.ts
  packages/ag-charts-community/src/chart/legend.ts
  packages/ag-charts-community/src/chart/navigator/navigator.ts
  packages/ag-charts-community/src/chart/toolbar/toolbarUtil.ts
Owners: @alantreadway

Automated package version bump to 9.3.1-beta.20240521.
  .env
  libraries/ag-charts-test/package.json
  package.json
  packages/ag-charts-angular/package.json
  packages/ag-charts-angular/projects/ag-charts-angular/package.json
  packages/ag-charts-community-examples/package.json
  packages/ag-charts-community/package.json
  packages/ag-charts-community/src/version.ts
  packages/ag-charts-enterprise/package.json
  packages/ag-charts-react/package.json
  packages/ag-charts-vue3/package.json
  packages/ag-charts-website/.env.build
  packages/ag-charts-website/.env.build.archive
  packages/ag-charts-website/.env.build.production
  packages/ag-charts-website/.env.build.staging
  packages/ag-charts-website/.env.dev
  packages/ag-charts-website/.env.preview
  packages/ag-charts-website/.env.preview.production
  packages/ag-charts-website/.env.preview.staging
  packages/ag-charts-website/package.json
  plugins/ag-charts-generate-chart-thumbnail/package.json
  plugins/ag-charts-generate-code-reference-files/package.json
  plugins/ag-charts-generate-example-files/package.json
Owners: @ag-grid/ag-charts-team, @alantreadway

wip
  packages/ag-charts-community/src/sandbox/scales/__snapshots__/colorScale.test.ts.snap
  packages/ag-charts-community/src/sandbox/scales/colorScale.test.ts
  packages/ag-charts-community/src/sandbox/scales/colorScale.ts
  packages/ag-charts-community/src/sandbox/util/colors.util.ts
Owners: @alantreadway

AG-11450 - Adjust event handler bindings for shadow DOM case.
  packages/ag-charts-community/src/chart/dom/domManager.ts
  packages/ag-charts-community/src/chart/interaction/interactionManager.ts
Owners: @alantreadway

AG-11564 Update meta-description generation logic
  packages/ag-charts-website/src/pages/[framework]/[pageName].astro
  packages/ag-charts-website/src/utils/markdoc/getFirstParagraphText.ts
Owners: @taktran, @ag-grid/ag-charts-team

AG-11564 Resolve duplicate meta-descriptions
  packages/ag-charts-website/src/content/docs/upgrade-to-ag-charts-10/index.mdoc
  packages/ag-charts-website/src/content/docs/upgrade-to-ag-charts-9-1/index.mdoc
  packages/ag-charts-website/src/content/docs/upgrade-to-ag-charts-9-2/index.mdoc
  packages/ag-charts-website/src/content/docs/upgrade-to-ag-charts-9-3/index.mdoc
  packages/ag-charts-website/src/content/docs/upgrade-to-ag-charts-9/index.mdoc
  packages/ag-charts-website/src/layouts/APIViewLayout.astro
  packages/ag-charts-website/src/pages/changelog.astro
  packages/ag-charts-website/src/pages/gallery.astro
  packages/ag-charts-website/src/pages/gallery/[pageName].astro
  packages/ag-charts-website/src/pages/options.astro
  packages/ag-charts-website/src/pages/pipeline.astro
  packages/ag-charts-website/src/pages/themes-api.astro
Owners: @rmc-software, @taktran

Sankey, Chord series, docs
  packages/ag-charts-community/src/scene/canvas/hdpiCanvas.ts
  packages/ag-charts-enterprise/src/series/chord/chordModule.ts
  packages/ag-charts-enterprise/src/series/chord/chordSeries.ts
  packages/ag-charts-enterprise/src/series/flow-proportion/flowProportionSeries.ts
  packages/ag-charts-enterprise/src/series/flow-proportion/flowProportionUtil.ts
  packages/ag-charts-enterprise/src/series/sankey/sankeyLink.ts
  packages/ag-charts-enterprise/src/series/sankey/sankeyModule.ts
  packages/ag-charts-website/src/content/docs/chord-series/_examples/simple-chord/index.html
  packages/ag-charts-website/src/content/docs/chord-series/_examples/simple-chord/main.ts
  packages/ag-charts-website/src/content/docs/chord-series/_examples/simple-sankey/main.ts
  packages/ag-charts-website/src/content/docs/chord-series/index.mdoc
  packages/ag-charts-website/src/content/docs/sankey-series/index.mdoc
  packages/ag-charts-website/src/features/example-runner/components/FrameworkTemplate.astro
Owners: @alantreadway, @ag-grid/ag-charts-team, @rmc-software, @taktran

wip
  packages/ag-charts-community/src/options/series/flow-proportion/chordOptions.ts
  packages/ag-charts-community/src/options/series/flow-proportion/flowProportionOptions.ts
  packages/ag-charts-community/src/options/series/flow-proportion/sankeyOptions.ts
  packages/ag-charts-enterprise/src/series/chord/chordSeries.ts
  packages/ag-charts-enterprise/src/series/chord/chordSeriesProperties.ts
  packages/ag-charts-enterprise/src/series/flow-proportion/flowProportionProperties.ts
  packages/ag-charts-enterprise/src/series/flow-proportion/flowProportionSeries.ts
  packages/ag-charts-enterprise/src/series/sankey/sankeyLayout.ts
  packages/ag-charts-enterprise/src/series/sankey/sankeySeries.ts
  packages/ag-charts-enterprise/src/series/sankey/sankeySeriesProperties.ts
  packages/ag-charts-website/src/content/docs/chord-series/_examples/simple-chord/main.ts
  packages/ag-charts-website/src/content/docs/chord-series/index.mdoc
  packages/ag-charts-website/src/content/docs/sankey-series/_examples/justification/index.html
  packages/ag-charts-website/src/content/docs/sankey-series/_examples/justification/main.ts
  packages/ag-charts-website/src/content/docs/sankey-series/_examples/justification/styles.css
  packages/ag-charts-website/src/content/docs/sankey-series/_examples/simple-sankey/main.ts
  packages/ag-charts-website/src/content/docs/sankey-series/index.mdoc
Owners: @alantreadway, @ag-grid/ag-charts-team, @rmc-software

Cleanup ticks implementation
  packages/ag-charts-community/src/scale/linearScale.ts
  packages/ag-charts-community/src/scale/logScale.ts
  packages/ag-charts-community/src/scale/timeScale.ts
  packages/ag-charts-community/src/util/secondaryAxisTicks.ts
  packages/ag-charts-community/src/util/ticks.ts
  packages/ag-charts-enterprise/src/axes/angle-number/linearAngleScale.ts
Owners: @alantreadway

Replace ticks module default export with a named export
  packages/ag-charts-community/src/chart/series/cartesian/histogramSeries.ts
  packages/ag-charts-community/src/scale/linearScale.ts
  packages/ag-charts-community/src/scale/logScale.test.ts
  packages/ag-charts-community/src/scale/logScale.ts
  packages/ag-charts-community/src/sparklines-util.ts
  packages/ag-charts-community/src/util/ticks.test.ts
  packages/ag-charts-community/src/util/ticks.ts
Owners: @alantreadway

simplify createTicks signature
  packages/ag-charts-community/src/chart/series/cartesian/histogramSeries.ts
  packages/ag-charts-community/src/scale/linearScale.ts
  packages/ag-charts-community/src/scale/logScale.ts
  packages/ag-charts-community/src/util/ticks.test.ts
  packages/ag-charts-community/src/util/ticks.ts
Owners: @alantreadway

Sankey, chord docs
  packages/ag-charts-enterprise/src/series/chord/chordSeries.ts
  packages/ag-charts-enterprise/src/series/sankey/sankeyLayout.ts
  packages/ag-charts-enterprise/src/series/sankey/sankeySeries.ts
  packages/ag-charts-website/src/content/docs/chord-series/_examples/link-style/index.html
  packages/ag-charts-website/src/content/docs/chord-series/_examples/link-style/main.ts
  packages/ag-charts-website/src/content/docs/chord-series/_examples/node-style/index.html
  packages/ag-charts-website/src/content/docs/chord-series/_examples/node-style/main.ts
  packages/ag-charts-website/src/content/docs/chord-series/index.mdoc
  packages/ag-charts-website/src/content/docs/sankey-series/_examples/link-style/index.html
  packages/ag-charts-website/src/content/docs/sankey-series/_examples/link-style/main.ts
  packages/ag-charts-website/src/content/docs/sankey-series/_examples/node-style/index.html
  packages/ag-charts-website/src/content/docs/sankey-series/_examples/node-style/main.ts
  packages/ag-charts-website/src/content/docs/sankey-series/index.mdoc
Owners: @alantreadway, @ag-grid/ag-charts-team, @rmc-software

AG-11577 Allow negative sector spacing in pie, donut series to allow stroke overlapping
  packages/ag-charts-community/src/chart/series/polar/donutSeries.ts
  packages/ag-charts-community/src/chart/series/polar/donutSeriesProperties.ts
  packages/ag-charts-community/src/chart/series/polar/pieSeries.ts
  packages/ag-charts-community/src/chart/series/polar/pieSeriesProperties.ts
Owners: @alantreadway

refactor niceTicksDomain
  packages/ag-charts-community/src/scale/continuousScale.ts
  packages/ag-charts-community/src/scale/linearScale.ts
  packages/ag-charts-community/src/util/ticks.ts
Owners: @alantreadway

.github/CODEOWNERS:

# NOTE: Order of entries matters - later entries have higher precedence.

# Attribute code-owners so default reviewers are assigned to PRs.
* @ag-grid/ag-charts-team

# Astro + website changes to be reviewed by website team.
*.scss @markdurrant
*.astro @taktran
/packages/ag-charts-website/astro/** @taktran
/packages/ag-charts-website/components/** @taktran
/packages/ag-charts-website/features/** @taktran
/packages/ag-charts-website/layouts/** @taktran
/packages/ag-charts-website/stores/** @taktran
/packages/ag-charts-website/utils/** @taktran

# Docs updates to be reviewed by Eng VP.
/packages/ag-charts-website/content/** @alantreadway @rmc-software
*.mdoc @rmc-software

# Charts library code to be reviewed by Chart TL.
/packages/ag-charts-community/** @alantreadway
/packages/ag-charts-enterprise/** @alantreadway

# Sensitive build/repo files to be reviewed by Chart TL.
**/package.json @alantreadway
nx.json @alantreadway
**/project.json @alantreadway
**/tsconfig.json @alantreadway
**/tsconfig.*.json @alantreadway
