Repository ag-grid/ag-charts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ag-grid/ag-charts-team, @markdurrant, @taktran, @alantreadway, @rmc-software

Revert "Revert "Fix CI lint execution.""
  .github/workflows/ci.yml
Owners: @ag-grid/ag-charts-team

AG-12600 Add dialog select styles
  packages/ag-charts-enterprise/src/components/dialog/dialog.css
  packages/ag-charts-enterprise/src/components/dialog/dialog.ts
Owners: @alantreadway

AG-12600 Change default alignment on line text
  packages/ag-charts-enterprise/src/features/annotations/annotationProperties.ts
  packages/ag-charts-enterprise/src/features/annotations/annotationsModule.ts
Owners: @alantreadway

AG-12600 Change CollidableLine to auto update collision box
  packages/ag-charts-enterprise/src/features/annotations/cross-line/crossLineScene.ts
  packages/ag-charts-enterprise/src/features/annotations/disjoint-channel/disjointChannelScene.ts
  packages/ag-charts-enterprise/src/features/annotations/line/lineScene.ts
  packages/ag-charts-enterprise/src/features/annotations/scenes/collidableLineScene.ts
Owners: @alantreadway

AG-12600 Fix lint issue
  packages/ag-charts-enterprise/src/features/annotations/parallel-channel/parallelChannelScene.ts
Owners: @alantreadway

AG-12600 Add line labels dialog icons and move icons to new file
  packages/ag-charts-community/src/dom/icons.css
  packages/ag-charts-types/src/chart/icons.ts
  packages/ag-charts-types/src/chart/toolbarOptions.ts
  packages/ag-charts-types/src/main.ts
Owners: @alantreadway, @ag-grid/ag-charts-team

AG-12600 Fix lint issues
  packages/ag-charts-enterprise/src/components/dialog/dialog.ts
  packages/ag-charts-enterprise/src/features/annotations/settings-dialog/settingsDialog.ts
Owners: @alantreadway

AG-12600 Add position, alignment and font size to line text dialog
  packages/ag-charts-community/src/dom/theme.css
  packages/ag-charts-enterprise/src/components/dialog/dialog.css
  packages/ag-charts-enterprise/src/components/dialog/dialog.ts
  packages/ag-charts-enterprise/src/components/menu/menu.css
  packages/ag-charts-enterprise/src/components/popover/popover.css
  packages/ag-charts-enterprise/src/components/popover/popover.ts
  packages/ag-charts-enterprise/src/features/annotations/annotations.ts
  packages/ag-charts-enterprise/src/features/annotations/annotationsConfig.ts
  packages/ag-charts-enterprise/src/features/annotations/annotationsStateMachine.ts
  packages/ag-charts-enterprise/src/features/annotations/scenes/lineWithTextScene.ts
  packages/ag-charts-enterprise/src/features/annotations/settings-dialog/settingsDialog.css
  packages/ag-charts-enterprise/src/features/annotations/settings-dialog/settingsDialog.ts
Owners: @alantreadway

AG-12600 Remove SceneFontChangeDetection to fix changing font size
  packages/ag-charts-community/src/scene/changeDetectable.ts
  packages/ag-charts-community/src/scene/shape/text.ts
Owners: @alantreadway

AG-12600 Change target to optional in state machine transitions
  packages/ag-charts-community/src/util/stateMachine.ts
  packages/ag-charts-enterprise/src/features/annotations/annotationsStateMachine.ts
Owners: @alantreadway

Remove non-installed import-x eslint rule
  eslint.config.mjs
  external/ag-website-shared/eslint.config.mjs
Owners: @ag-grid/ag-charts-team

Fix eslint with update to globals dev dependency
  package.json
  yarn.lock
Owners: @alantreadway, @ag-grid/ag-charts-team

Radial gauge corner radius docs, fixes
  packages/ag-charts-community/src/motion/fromToMotion.ts
  packages/ag-charts-enterprise/src/series/radial-gauge/radialGaugeSeries.ts
  packages/ag-charts-enterprise/src/series/radial-gauge/radialGaugeUtil.ts
  packages/ag-charts-website/src/content/docs/radial-gauge/_examples/corner-radius/index.html
  packages/ag-charts-website/src/content/docs/radial-gauge/_examples/corner-radius/main.ts
  packages/ag-charts-website/src/content/docs/radial-gauge/index.mdoc
Owners: @alantreadway, @ag-grid/ag-charts-team, @rmc-software

AG-12541 Fix bar fill on segmented radial gauge
  packages/ag-charts-enterprise/src/series/radial-gauge/radialGaugeSeries.ts
Owners: @alantreadway

e2e
  packages/ag-charts-website/e2e/examples.spec.ts
Owners: @ag-grid/ag-charts-team

AG-12613 - Use ag-grid-charts-enterprise CDN url instead of npm package
  external/ag-website-shared/src/components/automated-examples/examples/integrated-charts/indexPackages.ts
  packages/ag-charts-website/package.json
  packages/ag-charts-website/src/pages/index.astro
  yarn.lock
Owners: @ag-grid/ag-charts-team, @alantreadway, @taktran

AG-12613 - Fix homepage integrated charts enterprise bug (#2322)
  external/ag-website-shared/src/components/automated-examples/AutomatedIntegratedChartsPackages.tsx
  external/ag-website-shared/src/components/automated-examples/AutomatedIntegratedChartsWithCreate.tsx
  external/ag-website-shared/src/components/automated-examples/AutomatedIntegratedChartsWrapper.tsx
  external/ag-website-shared/src/components/automated-examples/examples/integrated-charts/createAutomatedIntegratedChartsWithCreateGrid.ts
  external/ag-website-shared/src/components/automated-examples/examples/integrated-charts/index.ts
  external/ag-website-shared/src/components/automated-examples/examples/integrated-charts/indexPackages.ts
  packages/ag-charts-website/package.json
  packages/ag-charts-website/src/pages/index.astro
  yarn.lock
Owners: @ag-grid/ag-charts-team, @alantreadway, @taktran

AG-12541 Update colour scales for radial gauge
  packages/ag-charts-community/src/api/preset/gauge.ts
  packages/ag-charts-enterprise/src/series/radial-gauge/radialGaugeModule.ts
  packages/ag-charts-enterprise/src/series/radial-gauge/radialGaugeSeries.ts
  packages/ag-charts-enterprise/src/series/radial-gauge/radialGaugeSeriesProperties.ts
  packages/ag-charts-types/src/series/gauge/radialGaugeOptions.ts
  packages/ag-charts-website/src/content/docs/radial-gauge/_examples/color-scales/index.html
  packages/ag-charts-website/src/content/docs/radial-gauge/_examples/color-scales/main.ts
  packages/ag-charts-website/src/content/docs/radial-gauge/_examples/scale-step/index.html
  packages/ag-charts-website/src/content/docs/radial-gauge/_examples/scale-step/main.ts
  packages/ag-charts-website/src/content/docs/radial-gauge/_examples/scale-values/main.ts
  packages/ag-charts-website/src/content/docs/radial-gauge/index.mdoc
Owners: @alantreadway, @ag-grid/ag-charts-team, @rmc-software

Fix link
  packages/ag-charts-website/src/content/versions/ag-charts-versions.json
Owners: @ag-grid/ag-charts-team

Lint
  packages/ag-charts-enterprise/src/series/radial-gauge/radialGaugeSeries.ts
Owners: @alantreadway

Gallery example
  packages/ag-charts-website/src/content/gallery/_examples/customised-radial-gauge/main.ts
Owners: @ag-grid/ag-charts-team

Gallery example
  packages/ag-charts-website/src/content/gallery/_examples/simple-radial-gauge/main.ts
Owners: @ag-grid/ag-charts-team

Reduce duplication in annotations module
  packages/ag-charts-enterprise/src/features/annotations/__image_snapshots__/annotations-test-ts-annotations-initial-should-render-a-callout-annotation-1-snap.png
  packages/ag-charts-enterprise/src/features/annotations/__image_snapshots__/annotations-test-ts-annotations-initial-should-render-a-comment-annotation-1-snap.png
  packages/ag-charts-enterprise/src/features/annotations/__image_snapshots__/annotations-test-ts-annotations-initial-should-render-a-note-annotation-1-snap.png
  packages/ag-charts-enterprise/src/features/annotations/__image_snapshots__/annotations-test-ts-annotations-initial-should-render-a-text-annotation-1-snap.png
  packages/ag-charts-enterprise/src/features/annotations/annotations.test.ts
  packages/ag-charts-enterprise/src/features/annotations/annotationsModule.ts
Owners: @alantreadway

Fix initial state annotations styling when theme changed
  packages/ag-charts-community/src/chart/chart.ts
  packages/ag-charts-website/src/content/docs/financial-charts-toolbar/_examples/line-drawings/main.ts
  packages/ag-charts-website/src/content/docs/financial-charts-toolbar/_examples/text-annotations/main.ts
Owners: @alantreadway, @ag-grid/ag-charts-team

Revert "Fix eslint with update to globals dev dependency"
  package.json
  yarn.lock
Owners: @alantreadway, @ag-grid/ag-charts-team

Update darwin e2e snapshots
  packages/ag-charts-website/e2e/financial-charts-showcase.spec.ts-snapshots/zoom-and-hover-on-out-of-y-range-prices-chromium-darwin.png
  packages/ag-charts-website/e2e/toolbar.spec.ts-snapshots/callout-1-start-chromium-darwin.png
  packages/ag-charts-website/e2e/toolbar.spec.ts-snapshots/callout-2-end-chromium-darwin.png
  packages/ag-charts-website/e2e/toolbar.spec.ts-snapshots/callout-3-input-chromium-darwin.png
  packages/ag-charts-website/e2e/toolbar.spec.ts-snapshots/callout-4-save-chromium-darwin.png
  packages/ag-charts-website/e2e/toolbar.spec.ts-snapshots/callout-6-change-fill-color-chromium-darwin.png
  packages/ag-charts-website/e2e/toolbar.spec.ts-snapshots/line-3-drawing-chromium-darwin.png
  packages/ag-charts-website/e2e/toolbar.spec.ts-snapshots/line-4-complete-chromium-darwin.png
  packages/ag-charts-website/e2e/toolbar.spec.ts-snapshots/text-4-start-chromium-darwin.png
  packages/ag-charts-website/e2e/toolbar.spec.ts-snapshots/text-5-input-chromium-darwin.png
  packages/ag-charts-website/e2e/toolbar.spec.ts-snapshots/text-6-save-chromium-darwin.png
  packages/ag-charts-website/e2e/toolbar.spec.ts-snapshots/text-7-editing-chromium-darwin.png
Owners: @ag-grid/ag-charts-team

Add failing case of stacked annotations with clip
  packages/ag-charts-enterprise/src/features/annotations/__image_snapshots__/annotations-test-ts-annotations-lines-with-text-should-render-stacked-annotations-with-text-1-snap.png
  packages/ag-charts-enterprise/src/features/annotations/annotations.test.ts
Owners: @alantreadway

fix
  packages/ag-charts-community/src/api/preset/gauge.ts
Owners: @alantreadway

AG-12600 Add double click to open annotation settings
  packages/ag-charts-enterprise/src/features/annotations/annotations.ts
  packages/ag-charts-enterprise/src/features/annotations/annotationsStateMachine.ts
  packages/ag-charts-enterprise/src/features/annotations/annotationsSuperTypes.ts
Owners: @alantreadway

AG-12600 Add text bbox to channel and crossline hit box
  packages/ag-charts-enterprise/src/features/annotations/cross-line/crossLineScene.ts
  packages/ag-charts-enterprise/src/features/annotations/scenes/channelScene.ts
Owners: @alantreadway

AG-3390 - Use new `suppressHeaderMenuButton` option
  packages/ag-charts-website/src/features/changelog/Changelog.tsx
Owners: @ag-grid/ag-charts-team

AG-12661 - Fix changelog applyFixVersionFilter
  packages/ag-charts-website/src/features/changelog/Changelog.tsx
Owners: @ag-grid/ag-charts-team

AG-12037 Fix bug with focus-reset on popdowns
  packages/ag-charts-community/src/util/keynavUtil.ts
  packages/ag-charts-enterprise/src/components/menu/menu.ts
  packages/ag-charts-enterprise/src/components/popover/popover.ts
Owners: @alantreadway

AG-12037 QA Feedback: Fix TC 2
  packages/ag-charts-enterprise/src/components/menu/menu.ts
  packages/ag-charts-enterprise/src/features/annotations/annotations.ts
  packages/ag-charts-enterprise/src/features/color-picker/colorPicker.ts
Owners: @alantreadway

AG-12037 QA Feedback: Fix TC 1
  packages/ag-charts-community/src/chart/interaction/interactionManager.ts
Owners: @alantreadway

AG-12037 CR Feedback: Fix TC 1
  packages/ag-charts-community/src/chart/interaction/interactionManager.ts
  packages/ag-charts-community/src/dom/domManager.ts
Owners: @alantreadway

AG-12037 Fix e2e tests
  packages/ag-charts-community/src/dom/domManager.ts
Owners: @alantreadway

AG-12037 Clear state in MenuCloser.finishClosing()
  packages/ag-charts-community/src/util/keynavUtil.ts
Owners: @alantreadway

Initial hero section design
  packages/ag-charts-website/src/pages-styles/homepage.module.scss
  packages/ag-charts-website/src/pages/index.astro
Owners: @markdurrant, @taktran

Refactor annotation config per type
  packages/ag-charts-enterprise/src/features/annotations/annotationProperties.ts
  packages/ag-charts-enterprise/src/features/annotations/annotationTypes.ts
  packages/ag-charts-enterprise/src/features/annotations/annotations.ts
  packages/ag-charts-enterprise/src/features/annotations/annotationsConfig.ts
  packages/ag-charts-enterprise/src/features/annotations/annotationsStateMachine.ts
  packages/ag-charts-enterprise/src/features/annotations/annotationsSuperTypes.ts
  packages/ag-charts-enterprise/src/features/annotations/arrow-down/arrowDownConfig.ts
  packages/ag-charts-enterprise/src/features/annotations/arrow-up/arrowUpConfig.ts
  packages/ag-charts-enterprise/src/features/annotations/callout/calloutConfig.ts
  packages/ag-charts-enterprise/src/features/annotations/comment/commentConfig.ts
  packages/ag-charts-enterprise/src/features/annotations/cross-line/crossLineConfig.ts
  packages/ag-charts-enterprise/src/features/annotations/disjoint-channel/disjointChannelConfig.ts
  packages/ag-charts-enterprise/src/features/annotations/line/lineConfig.ts
  packages/ag-charts-enterprise/src/features/annotations/note/noteConfig.ts
  packages/ag-charts-enterprise/src/features/annotations/parallel-channel/parallelChannelConfig.ts
  packages/ag-charts-enterprise/src/features/annotations/states/dragState.ts
  packages/ag-charts-enterprise/src/features/annotations/text/textConfig.ts
Owners: @alantreadway

.github/CODEOWNERS:

# NOTE: Order of entries matters - later entries have higher precedence.

# Attribute code-owners so default reviewers are assigned to PRs.
* @ag-grid/ag-charts-team

# Astro + website changes to be reviewed by website team.
*.scss @markdurrant
*.astro @taktran
/packages/ag-charts-website/astro/** @taktran
/packages/ag-charts-website/components/** @taktran
/packages/ag-charts-website/features/** @taktran
/packages/ag-charts-website/layouts/** @taktran
/packages/ag-charts-website/stores/** @taktran
/packages/ag-charts-website/utils/** @taktran

# Docs updates to be reviewed by Eng VP.
/packages/ag-charts-website/content/** @alantreadway @rmc-software
*.mdoc @rmc-software

# Charts library code to be reviewed by Chart TL.
/packages/ag-charts-community/** @alantreadway
/packages/ag-charts-enterprise/** @alantreadway

# Sensitive build/repo files to be reviewed by Chart TL.
**/package.json @alantreadway
nx.json @alantreadway
**/project.json @alantreadway
**/tsconfig.json @alantreadway
**/tsconfig.*.json @alantreadway
