Repository ag-grid/ag-charts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ag-grid/ag-charts-team, @markdurrant, @taktran, @alantreadway, @rmc-software

.github/CODEOWNERS:

# NOTE: Order of entries matters - later entries have higher precedence.

# Attribute code-owners so default reviewers are assigned to PRs.
* @ag-grid/ag-charts-team

# Astro + website changes to be reviewed by website team.
*.scss @markdurrant
*.astro @taktran
/packages/ag-charts-website/astro/** @taktran
/packages/ag-charts-website/components/** @taktran
/packages/ag-charts-website/features/** @taktran
/packages/ag-charts-website/layouts/** @taktran
/packages/ag-charts-website/stores/** @taktran
/packages/ag-charts-website/utils/** @taktran

# Docs updates to be reviewed by Eng VP.
/packages/ag-charts-website/content/** @alantreadway @rmc-software
*.mdoc @rmc-software

# Charts library code to be reviewed by Chart TL.
/packages/ag-charts-community/** @alantreadway
/packages/ag-charts-enterprise/** @alantreadway

# Sensitive build/repo files to be reviewed by Chart TL.
**/package.json @alantreadway
nx.json @alantreadway
**/project.json @alantreadway
**/tsconfig.json @alantreadway
**/tsconfig.*.json @alantreadway

wip
  packages/ag-charts-community/src/sandbox/bootstrap.ts
  packages/ag-charts-community/src/sandbox/chart/cartesianChart.ts
  packages/ag-charts-community/src/sandbox/chart/polarChart.ts
  packages/ag-charts-community/src/sandbox/defs/barSeriesModule.ts
  packages/ag-charts-community/src/sandbox/types/axisTypes.ts
  packages/ag-charts-community/src/sandbox/types/moduleTypes.ts
Owners: @alantreadway

wip
  packages/ag-charts-community/src/sandbox/chart/baseChart.ts
  packages/ag-charts-community/src/sandbox/defs/testDefs.ts
  packages/ag-charts-community/src/sandbox/types/agChartsTypes.ts
  packages/ag-charts-community/src/sandbox/types/commonTypes.ts
  packages/ag-charts-community/src/sandbox/util/validation.ts
Owners: @alantreadway

AG-11107 Add handler for 'blur' and 'focus' events
  packages/ag-charts-community/src/chart/interaction/interactionManager.ts
  packages/ag-charts-community/src/util/array.ts
Owners: @alantreadway

AG-11107 Add FocusInteractionEvent type
  packages/ag-charts-community/src/chart/axis/axis.ts
  packages/ag-charts-community/src/chart/caption.ts
  packages/ag-charts-community/src/chart/chart.ts
  packages/ag-charts-community/src/chart/interaction/interactionManager.ts
  packages/ag-charts-community/src/chart/interaction/regionManager.ts
  packages/ag-charts-community/src/chart/legend.ts
  packages/ag-charts-community/src/chart/navigator/navigator.ts
  packages/ag-charts-community/src/chart/pagination/pagination.ts
  packages/ag-charts-community/src/chart/tooltip/tooltip.ts
  packages/ag-charts-community/src/util/array.ts
  packages/ag-charts-enterprise/src/features/annotations/annotations.ts
  packages/ag-charts-enterprise/src/features/context-menu/contextMenu.ts
  packages/ag-charts-enterprise/src/features/crosshair/crosshair.ts
  packages/ag-charts-enterprise/src/features/zoom/zoom.ts
  packages/ag-charts-enterprise/src/features/zoom/zoomAxisDragger.ts
  packages/ag-charts-enterprise/src/features/zoom/zoomPanner.ts
  packages/ag-charts-enterprise/src/features/zoom/zoomScrollPanner.ts
  packages/ag-charts-enterprise/src/features/zoom/zoomScroller.ts
  packages/ag-charts-enterprise/src/features/zoom/zoomSelector.ts
Owners: @alantreadway

AG-11107 Remove bboxset.ts
  packages/ag-charts-community/src/chart/interaction/regionManager.ts
  packages/ag-charts-community/src/scene/node.ts
  packages/ag-charts-community/src/util/bboxset.ts
Owners: @alantreadway

AG-11107 Turn BBoxSet into a map type
  packages/ag-charts-community/src/chart/interaction/regionManager.ts
  packages/ag-charts-community/src/util/bboxset.ts
Owners: @alantreadway

AG-11107 Basic PoC focus indicator
  packages/ag-charts-community/src/chart/chart.ts
  packages/ag-charts-community/src/chart/interaction/keyNavManager.ts
  packages/ag-charts-community/src/chart/interaction/regionManager.ts
  packages/ag-charts-community/src/scene/bbox.ts
  packages/ag-charts-community/src/util/array.ts
Owners: @alantreadway

AG-11107 Add keyboard listeners
  packages/ag-charts-community/src/chart/interaction/interactionManager.ts
Owners: @alantreadway

AG-11107 Add KeyNavManager
  packages/ag-charts-community/src/chart/chart.ts
  packages/ag-charts-community/src/chart/interaction/keyNavManager.ts
Owners: @alantreadway

AG-11107 Add listeners for blur/focus on the container
  packages/ag-charts-community/src/chart/chart.ts
  packages/ag-charts-community/src/chart/interaction/interactionManager.ts
Owners: @alantreadway

AG-11107 Fix focus indicator translation
  packages/ag-charts-community/src/chart/chart.ts
  packages/ag-charts-community/src/chart/interaction/regionManager.ts
Owners: @alantreadway

AG-11107 Sonar error: Identical implementation
  packages/ag-charts-community/src/chart/interaction/interactionManager.ts
Owners: @alantreadway

AG-11190 CR: Move destroyFns to base class
  packages/ag-charts-community/src/chart/interaction/baseManager.ts
  packages/ag-charts-community/src/chart/interaction/keyNavManager.ts
Owners: @alantreadway

wip
  packages/ag-charts-community/src/sandbox/agCharts.ts
  packages/ag-charts-community/src/sandbox/bootstrap.ts
  packages/ag-charts-community/src/sandbox/chart/baseChart.ts
  packages/ag-charts-community/src/sandbox/chart/chartOptions.ts
  packages/ag-charts-community/src/sandbox/defs/barSeriesModule.ts
  packages/ag-charts-community/src/sandbox/defs/testDefs.ts
  packages/ag-charts-community/src/sandbox/sandbox.test.ts
  packages/ag-charts-community/src/sandbox/types.ts
  packages/ag-charts-community/src/sandbox/types/agChartsTypes.ts
  packages/ag-charts-community/src/sandbox/types/commonTypes.ts
  packages/ag-charts-community/src/sandbox/types/moduleTypes.ts
  packages/ag-charts-community/src/sandbox/types/seriesTypes.ts
  packages/ag-charts-community/src/sandbox/types/testTypes.ts
  packages/ag-charts-community/src/sandbox/util/stageQueue.ts
  packages/ag-charts-community/src/sandbox/util/testUtil.ts
Owners: @alantreadway

wip
  packages/ag-charts-community/src/sandbox/bootstrap.ts
  packages/ag-charts-community/src/sandbox/chart/baseChart.ts
  packages/ag-charts-community/src/sandbox/chart/cartesianChart.ts
  packages/ag-charts-community/src/sandbox/chart/polarChart.ts
  packages/ag-charts-community/src/sandbox/data/dataPipeline.ts
  packages/ag-charts-community/src/sandbox/modules/moduleRegistry.ts
  packages/ag-charts-community/src/sandbox/sandbox.test.ts
  packages/ag-charts-community/src/sandbox/series/areaSeries.ts
  packages/ag-charts-community/src/sandbox/series/scatterSeries.ts
  packages/ag-charts-community/src/sandbox/types/agChartsTypes.ts
Owners: @alantreadway

Remove redundant jest extend on test files
  packages/ag-charts-community/src/chart/caption.test.ts
  packages/ag-charts-community/src/chart/chart.test.ts
  packages/ag-charts-community/src/chart/chartHeapMemory.test.ts
  packages/ag-charts-community/src/chart/mapping/themes.test.ts
  packages/ag-charts-community/src/chart/overlay/overlay.test.ts
  packages/ag-charts-community/src/chart/series/cartesian/areaSeries.test.ts
  packages/ag-charts-community/src/chart/series/cartesian/barSeries.test.ts
  packages/ag-charts-community/src/chart/series/cartesian/bubbleSeries.test.ts
  packages/ag-charts-community/src/chart/series/cartesian/lineSeries.test.ts
  packages/ag-charts-community/src/chart/series/cartesian/lineUtil.test.ts
  packages/ag-charts-community/src/chart/series/cartesian/scatterSeries.test.ts
  packages/ag-charts-community/src/chart/series/polar/donutSeries.test.ts
  packages/ag-charts-community/src/chart/series/polar/pieSeries.test.ts
  packages/ag-charts-community/src/chart/series/polar/polarSeries.test.ts
  packages/ag-charts-community/src/chart/series/seriesLabels.test.ts
  packages/ag-charts-community/src/chart/tooltip/tooltip.test.ts
  packages/ag-charts-enterprise/src/axes/polar-crosslines/polarCrossLine.test.ts
  packages/ag-charts-enterprise/src/features/error-bar/errorBar.test.ts
  packages/ag-charts-enterprise/src/series/bullet/bulletSeries.test.ts
Owners: @alantreadway

wip
  packages/ag-charts-community/src/sandbox/agCharts.ts
  packages/ag-charts-community/src/sandbox/chart/baseChart.ts
  packages/ag-charts-community/src/sandbox/chart/chartOptions.ts
  packages/ag-charts-community/src/sandbox/sandbox.test.ts
  packages/ag-charts-community/src/sandbox/types.ts
  packages/ag-charts-community/src/sandbox/types/moduleTypes.ts
  packages/ag-charts-community/src/sandbox/types/testTypes.ts
Owners: @alantreadway

wip
  packages/ag-charts-community/src/sandbox/chart/baseChart.ts
  packages/ag-charts-community/src/sandbox/chart/topologyChart.ts
  packages/ag-charts-community/src/sandbox/sandbox.test.ts
  packages/ag-charts-community/src/sandbox/util/stageQueue.ts
Owners: @alantreadway

Fix memory leak in toolbar HTML buttons.
  packages/ag-charts-community/src/chart/toolbar/toolbar.ts
Owners: @alantreadway

Add expected memory limits to benchmarks.
  libraries/ag-charts-test/src/benchmarks/timing.ts
  packages/ag-charts-community/benchmarks/benchmark.ts
  packages/ag-charts-community/benchmarks/integratedChartsLargeScale.test.ts
  packages/ag-charts-community/benchmarks/largeDataset.test.ts
  packages/ag-charts-community/benchmarks/largeScaleMultiSeries.test.ts
  packages/ag-charts-community/benchmarks/multiSeries.test.ts
  packages/ag-charts-enterprise/benchmarks/multiSeries.test.ts
Owners: @ag-grid/ag-charts-team, @alantreadway

AG-11196 Add internal keyboard.enabled option
  packages/ag-charts-community/src/chart/chart.ts
  packages/ag-charts-community/src/chart/interaction/interactionManager.ts
  packages/ag-charts-community/src/chart/keyboard.ts
Owners: @alantreadway

AG-11196 fix eslint error
  packages/ag-charts-community/src/chart/interaction/interactionManager.ts
Owners: @alantreadway

wip
  packages/ag-charts-community/src/sandbox/agCharts.ts
  packages/ag-charts-community/src/sandbox/chart/cartesianChart.ts
  packages/ag-charts-community/src/sandbox/chart/chartOptions.ts
  packages/ag-charts-community/src/sandbox/defs/barSeriesModule.ts
  packages/ag-charts-community/src/sandbox/defs/testDefs.ts
  packages/ag-charts-community/src/sandbox/types.ts
  packages/ag-charts-community/src/sandbox/types/axisTypes.ts
  packages/ag-charts-community/src/sandbox/types/commonTypes.ts
  packages/ag-charts-community/src/sandbox/types/enums.ts
  packages/ag-charts-community/src/sandbox/types/moduleTypes.ts
  packages/ag-charts-community/src/sandbox/types/seriesTypes.ts
  packages/ag-charts-community/src/sandbox/util/stageQueue.ts
  packages/ag-charts-community/src/sandbox/util/testUtil.ts
Owners: @alantreadway

wip
  packages/ag-charts-community/src/sandbox/agCharts.ts
  packages/ag-charts-community/src/sandbox/chart/baseChart.ts
  packages/ag-charts-community/src/sandbox/chart/chartOptions.ts
  packages/ag-charts-community/src/sandbox/types.ts
  packages/ag-charts-community/src/sandbox/util/validation.ts
Owners: @alantreadway

wip
  packages/ag-charts-community/src/sandbox/__image_snapshots__/sandbox-test-ts-sandbox-tests-should-render-bar-series-correctly-1-snap.png
  packages/ag-charts-community/src/sandbox/sandbox.test.ts
  packages/ag-charts-community/src/sandbox/util/testUtil.ts
Owners: @alantreadway

AG-11107 Use PointerInteractionEvent everywhere else
  packages/ag-charts-community/src/chart/axis/axis.ts
  packages/ag-charts-community/src/chart/caption.ts
  packages/ag-charts-community/src/chart/chart.ts
  packages/ag-charts-community/src/chart/legend.ts
  packages/ag-charts-community/src/chart/navigator/navigator.ts
  packages/ag-charts-community/src/chart/pagination/pagination.ts
  packages/ag-charts-community/src/chart/tooltip/tooltip.ts
Owners: @alantreadway

AG-11107 Use PointerInteractionEvent in regionManager.ts
  packages/ag-charts-community/src/chart/interaction/interactionManager.ts
  packages/ag-charts-community/src/chart/interaction/regionManager.ts
Owners: @alantreadway

wip
  packages/ag-charts-community/src/sandbox/chart/baseChart.ts
  packages/ag-charts-community/src/sandbox/chart/cartesianChart.ts
  packages/ag-charts-community/src/sandbox/chart/chartOptions.ts
  packages/ag-charts-community/src/sandbox/defs/chartOptionsDef.ts
  packages/ag-charts-community/src/sandbox/defs/commonOptionsDefs.ts
  packages/ag-charts-community/src/sandbox/defs/testDefs.ts
  packages/ag-charts-community/src/sandbox/modules/moduleRegistry.ts
  packages/ag-charts-community/src/sandbox/sandbox.test.ts
  packages/ag-charts-community/src/sandbox/types/agChartsTypes.ts
  packages/ag-charts-community/src/sandbox/types/axisTypes.ts
  packages/ag-charts-community/src/sandbox/types/commonTypes.ts
  packages/ag-charts-community/src/sandbox/types/enums.ts
  packages/ag-charts-community/src/sandbox/types/seriesTypes.ts
  packages/ag-charts-community/src/sandbox/util/validation.ts
Owners: @alantreadway

Improve createElement DOM util + Set text measurement canvas size to 0x0
  packages/ag-charts-community/src/chart/chart.ts
  packages/ag-charts-community/src/chart/overlay/loadingSpinner.ts
  packages/ag-charts-community/src/chart/overlay/overlay.ts
  packages/ag-charts-community/src/chart/series/cartesian/barSeries.ts
  packages/ag-charts-community/src/chart/tooltip/tooltip.ts
  packages/ag-charts-community/src/scene/shape/text.ts
  packages/ag-charts-community/src/util/dom.ts
Owners: @alantreadway

fix
  packages/ag-charts-community/src/chart/series/cartesian/barSeries.ts
Owners: @alantreadway

AG-3390 - Add tracking
  packages/ag-charts-website/src/layouts/Layout.astro
Owners: @taktran

Improve createElement DOM util (#1394)
  packages/ag-charts-community/src/chart/chart.ts
  packages/ag-charts-community/src/chart/overlay/loadingSpinner.ts
  packages/ag-charts-community/src/chart/overlay/overlay.ts
  packages/ag-charts-community/src/chart/series/cartesian/barSeries.ts
  packages/ag-charts-community/src/chart/tooltip/tooltip.ts
  packages/ag-charts-community/src/scene/shape/text.ts
  packages/ag-charts-community/src/util/dom.ts
Owners: @alantreadway

AG-11191 Implement Up/Down key-nav in the legend
  packages/ag-charts-community/src/chart/interaction/keyNavManager.ts
  packages/ag-charts-community/src/chart/interaction/regionManager.ts
  packages/ag-charts-community/src/chart/legend.ts
Owners: @alantreadway

AG-11191 Reset highlight when blurring legend
  packages/ag-charts-community/src/chart/interaction/keyNavManager.ts
  packages/ag-charts-community/src/chart/interaction/regionManager.ts
  packages/ag-charts-community/src/chart/legend.ts
Owners: @alantreadway

AG-11191 Fix console errors with pagination keynav
  packages/ag-charts-community/src/chart/legend.ts
Owners: @alantreadway

AG-11191 Implement Left/Right in the legend
  packages/ag-charts-community/src/chart/interaction/keyNavManager.ts
  packages/ag-charts-community/src/chart/interaction/regionManager.ts
  packages/ag-charts-community/src/chart/legend.ts
Owners: @alantreadway

AG-11191 Make KeyNavEvent consumable
  packages/ag-charts-community/src/chart/interaction/consumableEvent.ts
  packages/ag-charts-community/src/chart/interaction/interactionManager.ts
  packages/ag-charts-community/src/chart/interaction/keyNavManager.ts
  packages/ag-charts-community/src/chart/interaction/regionManager.ts
Owners: @alantreadway

AG-11191 Add 'click' keynav emulation for legend
  packages/ag-charts-community/src/chart/interaction/keyNavManager.ts
  packages/ag-charts-community/src/chart/interaction/regionManager.ts
  packages/ag-charts-community/src/chart/legend.ts
Owners: @alantreadway

AG-11191 Emulate mouse hover in keyboard navigation
  packages/ag-charts-community/src/chart/legend.ts
  packages/ag-charts-community/src/scene/bbox.ts
Owners: @alantreadway

AG-11191 Add keynav support for legend pagination
  packages/ag-charts-community/src/chart/interaction/keyNavManager.ts
  packages/ag-charts-community/src/chart/interaction/regionManager.ts
  packages/ag-charts-community/src/chart/legend.ts
  packages/ag-charts-community/src/chart/pagination/pagination.ts
Owners: @alantreadway
