Repository ag-grid/ag-charts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ag-grid/ag-charts-team, @markdurrant, @taktran, @alantreadway, @rmc-software

.github/CODEOWNERS:

# NOTE: Order of entries matters - later entries have higher precedence.

# Attribute code-owners so default reviewers are assigned to PRs.
* @ag-grid/ag-charts-team

# Astro + website changes to be reviewed by website team.
*.scss @markdurrant
*.astro @taktran
/packages/ag-charts-website/astro/** @taktran
/packages/ag-charts-website/components/** @taktran
/packages/ag-charts-website/features/** @taktran
/packages/ag-charts-website/layouts/** @taktran
/packages/ag-charts-website/stores/** @taktran
/packages/ag-charts-website/utils/** @taktran

# Docs updates to be reviewed by Eng VP.
/packages/ag-charts-website/content/** @alantreadway @rmc-software
*.mdoc @rmc-software

# Charts library code to be reviewed by Chart TL.
/packages/ag-charts-community/** @alantreadway
/packages/ag-charts-enterprise/** @alantreadway

# Sensitive build/repo files to be reviewed by Chart TL.
**/package.json @alantreadway
nx.json @alantreadway
**/project.json @alantreadway
**/tsconfig.json @alantreadway
**/tsconfig.*.json @alantreadway

AG-12400 Fix updating font size while editing
  packages/ag-charts-enterprise/src/features/annotations/annotations.ts
  packages/ag-charts-enterprise/src/features/annotations/annotationsStateMachine.ts
  packages/ag-charts-enterprise/src/features/annotations/annotationsSuperTypes.ts
  packages/ag-charts-enterprise/src/features/annotations/states/textualPointState.ts
  packages/ag-charts-enterprise/src/features/annotations/states/textualStartEndState.ts
  packages/ag-charts-enterprise/src/features/annotations/text/textProperties.ts
  packages/ag-charts-enterprise/src/features/text-input/textInput.ts
Owners: @alantreadway

AG-12372 - Fix dark theme default annotation colors
  packages/ag-charts-community/src/chart/themes/darkTheme.ts
Owners: @alantreadway

AG-12403 - Fix axis button visibility on mouse out
  packages/ag-charts-community/src/chart/series/seriesAreaHighlightManager.ts
  packages/ag-charts-enterprise/src/features/annotations/axisButton.ts
Owners: @alantreadway

AG-12161 - Comment annotation default fontWeight 700
  packages/ag-charts-enterprise/src/features/annotations/annotationsModule.ts
Owners: @alantreadway

AG-12126 Cancel annotaiton placement state when opening annotation menu
  packages/ag-charts-enterprise/src/features/annotations/annotations.ts
Owners: @alantreadway

AG-12471 Fix escape key handling on annotations
  packages/ag-charts-community/src/util/stateMachine.ts
  packages/ag-charts-enterprise/src/features/annotations/annotations.ts
  packages/ag-charts-enterprise/src/features/annotations/annotationsStateMachine.ts
  packages/ag-charts-enterprise/src/features/annotations/disjoint-channel/disjointChannelState.ts
  packages/ag-charts-enterprise/src/features/annotations/line/lineState.ts
  packages/ag-charts-enterprise/src/features/annotations/parallel-channel/parallelChannelState.ts
  packages/ag-charts-enterprise/src/features/annotations/states/textualPointState.ts
  packages/ag-charts-enterprise/src/features/annotations/states/textualStartEndState.ts
Owners: @alantreadway

AG-12301 - Skip invisible regions.
  packages/ag-charts-community/src/chart/interaction/regionManager.ts
  packages/ag-charts-community/src/util/bboxinterface.ts
Owners: @alantreadway

AG-12301 - Fix highlighted datum stickiness.
  packages/ag-charts-community/src/chart/series/seriesAreaHighlightManager.ts
Owners: @alantreadway

AG-12301 - Add HighlightChangeEvent.callerId to help with debugging.
  packages/ag-charts-community/src/chart/interaction/highlightManager.ts
Owners: @alantreadway

AG-12301 - Snapshot update.
  packages/ag-charts-enterprise/src/features/zoom/__image_snapshots__/zoom-test-ts-zoom-panning-should-pan-both-axes-1-snap.png
Owners: @alantreadway

Automated package version bump to 10.0.2-beta.20240801.
  .env
  libraries/ag-charts-test/package.json
  package.json
  packages/ag-charts-angular/package.json
  packages/ag-charts-angular/projects/ag-charts-angular/package.json
  packages/ag-charts-community-examples/package.json
  packages/ag-charts-community/package.json
  packages/ag-charts-community/src/version.ts
  packages/ag-charts-enterprise/package.json
  packages/ag-charts-locale/package.json
  packages/ag-charts-react/package.json
  packages/ag-charts-types/package.json
  packages/ag-charts-vue3/package.json
  packages/ag-charts-website/.env.build
  packages/ag-charts-website/.env.build.archive
  packages/ag-charts-website/.env.build.production
  packages/ag-charts-website/.env.build.staging
  packages/ag-charts-website/.env.dev
  packages/ag-charts-website/.env.preview
  packages/ag-charts-website/.env.preview.production
  packages/ag-charts-website/.env.preview.staging
  packages/ag-charts-website/package.json
  plugins/ag-charts-generate-chart-thumbnail/package.json
  plugins/ag-charts-generate-code-reference-files/package.json
  plugins/ag-charts-generate-example-files/package.json
Owners: @ag-grid/ag-charts-team, @alantreadway

AG-12418 Fix callout placeholder text
  packages/ag-charts-enterprise/src/features/annotations/scenes/textualStartEndScene.ts
Owners: @alantreadway

AG-12400 Fix change font size when creating text annotations
  packages/ag-charts-enterprise/src/features/annotations/states/textualPointState.ts
  packages/ag-charts-enterprise/src/features/annotations/states/textualStartEndState.ts
Owners: @alantreadway

AG-12417 Add default comment padding which changes with font size
  packages/ag-charts-enterprise/src/features/annotations/callout/calloutScene.ts
  packages/ag-charts-enterprise/src/features/annotations/comment/commentProperties.ts
  packages/ag-charts-enterprise/src/features/annotations/comment/commentScene.ts
  packages/ag-charts-enterprise/src/features/annotations/scenes/textualPointScene.ts
  packages/ag-charts-enterprise/src/features/annotations/scenes/textualStartEndScene.ts
Owners: @alantreadway

AG-12456, AG-12069 - fontSize and color defaults per annotation type
  packages/ag-charts-enterprise/src/features/annotations/annotationTypes.ts
  packages/ag-charts-enterprise/src/features/annotations/annotations.ts
  packages/ag-charts-enterprise/src/features/annotations/annotationsConfig.ts
  packages/ag-charts-enterprise/src/features/annotations/annotationsStateMachine.ts
  packages/ag-charts-enterprise/src/features/annotations/annotationsSuperTypes.ts
  packages/ag-charts-enterprise/src/features/annotations/callout/calloutProperties.ts
  packages/ag-charts-enterprise/src/features/annotations/comment/commentProperties.ts
  packages/ag-charts-enterprise/src/features/annotations/note/noteProperties.ts
  packages/ag-charts-enterprise/src/features/annotations/states/textualPointState.ts
  packages/ag-charts-enterprise/src/features/annotations/states/textualStartEndState.ts
  packages/ag-charts-enterprise/src/features/annotations/text/textProperties.ts
Owners: @alantreadway

AG-12456, AG-12069 - Remove comments and fix lint error
  packages/ag-charts-enterprise/src/features/annotations/annotations.ts
  packages/ag-charts-enterprise/src/features/annotations/annotationsConfig.ts
Owners: @alantreadway

AG-12466 Set aria-hidden on hidden HTML elements
  packages/ag-charts-community/src/chart/toolbar/toolbar.ts
  packages/ag-charts-community/src/util/attributeUtil.ts
Owners: @alantreadway

AG-12369 Put the Chart Type and Annotation buttons in the same aria toolbar
  packages/ag-charts-community/src/chart/toolbar/toolbar.ts
  packages/ag-charts-locale/src/en-US.ts
Owners: @alantreadway, @ag-grid/ag-charts-team

AG-12466 Set role="presentation" on divs
  packages/ag-charts-community/src/chart/toolbar/toolbar.ts
Owners: @alantreadway

AG-12369 Update locale strings
  packages/ag-charts-locale/src/ar-EG.ts
  packages/ag-charts-locale/src/bg-BG.ts
  packages/ag-charts-locale/src/cs-CZ.ts
  packages/ag-charts-locale/src/da-DK.ts
  packages/ag-charts-locale/src/de-DE.ts
  packages/ag-charts-locale/src/el-GR.ts
  packages/ag-charts-locale/src/es-ES.ts
  packages/ag-charts-locale/src/fa-IR.ts
  packages/ag-charts-locale/src/fi-FI.ts
  packages/ag-charts-locale/src/fr-FR.ts
  packages/ag-charts-locale/src/he-IL.ts
  packages/ag-charts-locale/src/hr-HR.ts
  packages/ag-charts-locale/src/hu-HU.ts
  packages/ag-charts-locale/src/it-IT.ts
  packages/ag-charts-locale/src/ja-JP.ts
  packages/ag-charts-locale/src/ko-KR.ts
  packages/ag-charts-locale/src/nb-NO.ts
  packages/ag-charts-locale/src/nl-NL.ts
  packages/ag-charts-locale/src/pl-PL.ts
  packages/ag-charts-locale/src/pt-BR.ts
  packages/ag-charts-locale/src/pt-PT.ts
  packages/ag-charts-locale/src/ro-RO.ts
  packages/ag-charts-locale/src/sk-SK.ts
  packages/ag-charts-locale/src/sv-SE.ts
  packages/ag-charts-locale/src/tr-TR.ts
  packages/ag-charts-locale/src/uk-UA.ts
  packages/ag-charts-locale/src/ur-PK.ts
  packages/ag-charts-locale/src/vi-VN.ts
  packages/ag-charts-locale/src/zh-CN.ts
  packages/ag-charts-locale/src/zh-HK.ts
  packages/ag-charts-locale/src/zh-TW.ts
Owners: @ag-grid/ag-charts-team

AG-12358 Remove delay when updating annotations toolbar
  packages/ag-charts-enterprise/src/features/annotations/annotations.ts
  packages/ag-charts-enterprise/src/features/annotations/annotationsStateMachine.ts
  packages/ag-charts-enterprise/src/features/annotations/annotationsSuperTypes.ts
Owners: @alantreadway

Add updated locales
  packages/ag-charts-locale/src/ar-EG.ts
  packages/ag-charts-locale/src/bg-BG.ts
  packages/ag-charts-locale/src/cs-CZ.ts
  packages/ag-charts-locale/src/da-DK.ts
  packages/ag-charts-locale/src/de-DE.ts
  packages/ag-charts-locale/src/el-GR.ts
  packages/ag-charts-locale/src/es-ES.ts
  packages/ag-charts-locale/src/fa-IR.ts
  packages/ag-charts-locale/src/fi-FI.ts
  packages/ag-charts-locale/src/fr-FR.ts
  packages/ag-charts-locale/src/he-IL.ts
  packages/ag-charts-locale/src/hr-HR.ts
  packages/ag-charts-locale/src/hu-HU.ts
  packages/ag-charts-locale/src/it-IT.ts
  packages/ag-charts-locale/src/ja-JP.ts
  packages/ag-charts-locale/src/ko-KR.ts
  packages/ag-charts-locale/src/nb-NO.ts
  packages/ag-charts-locale/src/nl-NL.ts
  packages/ag-charts-locale/src/pl-PL.ts
  packages/ag-charts-locale/src/pt-BR.ts
  packages/ag-charts-locale/src/pt-PT.ts
  packages/ag-charts-locale/src/ro-RO.ts
  packages/ag-charts-locale/src/sk-SK.ts
  packages/ag-charts-locale/src/sv-SE.ts
  packages/ag-charts-locale/src/tr-TR.ts
  packages/ag-charts-locale/src/uk-UA.ts
  packages/ag-charts-locale/src/ur-PK.ts
  packages/ag-charts-locale/src/vi-VN.ts
  packages/ag-charts-locale/src/zh-CN.ts
  packages/ag-charts-locale/src/zh-HK.ts
  packages/ag-charts-locale/src/zh-TW.ts
Owners: @ag-grid/ag-charts-team

AG-12449 - Add better opacity support for swatches / annotations.
  packages/ag-charts-community/src/chart/interaction/toolbarManager.ts
  packages/ag-charts-enterprise/src/features/annotations/annotations.ts
  packages/ag-charts-enterprise/src/features/annotations/annotationsConfig.ts
  packages/ag-charts-enterprise/src/features/annotations/annotationsStateMachine.ts
  packages/ag-charts-enterprise/src/features/annotations/callout/calloutProperties.ts
  packages/ag-charts-enterprise/src/features/annotations/comment/commentProperties.ts
  packages/ag-charts-enterprise/src/features/annotations/cross-line/crossLineProperties.ts
  packages/ag-charts-enterprise/src/features/annotations/disjoint-channel/disjointChannelProperties.ts
  packages/ag-charts-enterprise/src/features/annotations/line/lineProperties.ts
  packages/ag-charts-enterprise/src/features/annotations/note/noteProperties.ts
  packages/ag-charts-enterprise/src/features/annotations/parallel-channel/parallelChannelProperties.ts
  packages/ag-charts-enterprise/src/features/annotations/properties/textualPointProperties.ts
  packages/ag-charts-enterprise/src/features/annotations/properties/textualStartEndProperties.ts
  packages/ag-charts-enterprise/src/features/annotations/states/textualPointState.ts
  packages/ag-charts-enterprise/src/features/annotations/states/textualStartEndState.ts
  packages/ag-charts-enterprise/src/features/color-picker/colorPicker.ts
Owners: @alantreadway

AG-12449 - Cleanup.
  packages/ag-charts-community/src/chart/interaction/toolbarManager.ts
  packages/ag-charts-enterprise/src/features/annotations/annotationsConfig.ts
Owners: @alantreadway

AG-12361 - pick nearest node for high low financial chart type
  packages/ag-charts-community/src/api/preset/priceVolumePreset.ts
  packages/ag-charts-enterprise/src/series/range-bar/rangeBarSeries.ts
Owners: @alantreadway

AG-12454 - Fix annotation options toolbar not appearing immediately after horizontal/vertical line annotation creation
  packages/ag-charts-enterprise/src/features/annotations/annotationsStateMachine.ts
  packages/ag-charts-enterprise/src/features/annotations/cross-line/crossLineState.ts
Owners: @alantreadway

AG-12449 - Add better opacity support for swatches / annotations.
  packages/ag-charts-enterprise/src/features/annotations/annotations.ts
Owners: @alantreadway

Cleanup layout page
  packages/ag-charts-website/src/content/docs/layout/index.mdoc
Owners: @rmc-software

feedback and format
  packages/ag-charts-website/src/content/docs/layout/index.mdoc
Owners: @rmc-software

feedback and format
  packages/ag-charts-website/src/content/docs/layout/index.mdoc
Owners: @rmc-software

Add annotations to FC showcase example
  packages/ag-charts-website/src/content/docs/financial-charts/_examples/financial-charts-showcase/main.ts
Owners: @ag-grid/ag-charts-team

AG-12476 - Fix broken delete
  packages/ag-charts-enterprise/src/features/annotations/annotations.ts
  packages/ag-charts-enterprise/src/features/annotations/annotationsStateMachine.ts
  packages/ag-charts-enterprise/src/features/annotations/states/textualPointState.ts
  packages/ag-charts-enterprise/src/features/annotations/states/textualStartEndState.ts
Owners: @alantreadway

AG-12476 - Add deleteAll for consistency
  packages/ag-charts-enterprise/src/features/annotations/annotations.ts
  packages/ag-charts-enterprise/src/features/annotations/annotationsStateMachine.ts
  packages/ag-charts-enterprise/src/features/annotations/annotationsSuperTypes.ts
Owners: @alantreadway

git subrepo pull external/ag-website-shared
  external/ag-website-shared/.gitrepo
  external/ag-website-shared/src/components/community/components/Events.module.scss
  external/ag-website-shared/src/components/community/components/Events.tsx
  external/ag-website-shared/src/components/community/components/ToolsExtensions.module.scss
  external/ag-website-shared/src/components/community/components/landing-page/UpcomingEvents.module.scss
  external/ag-website-shared/src/components/community/components/news-updates/Podcasts.module.scss
  external/ag-website-shared/src/components/community/components/news-updates/Videos.tsx
  external/ag-website-shared/src/content/community/events.json
  external/ag-website-shared/src/content/community/news-updates/blogs.json
  external/ag-website-shared/src/content/community/news-updates/videos.json
Owners: @ag-grid/ag-charts-team, @markdurrant

AG-12380 - Fix cancelling of annotation add when pressing toolbar button.
  packages/ag-charts-enterprise/src/features/annotations/cross-line/crossLineState.ts
  packages/ag-charts-enterprise/src/features/annotations/disjoint-channel/disjointChannelState.ts
  packages/ag-charts-enterprise/src/features/annotations/line/lineState.ts
  packages/ag-charts-enterprise/src/features/annotations/parallel-channel/parallelChannelState.ts
  packages/ag-charts-enterprise/src/features/annotations/states/textualPointState.ts
  packages/ag-charts-enterprise/src/features/annotations/states/textualStartEndState.ts
Owners: @alantreadway

New videos. Callout styling for dark-mode example runner issue
  packages/ag-charts-website/src/content/docs/financial-charts-toolbar/_examples/text-annotations/main.ts
  packages/ag-charts-website/src/content/docs/financial-charts-toolbar/index.mdoc
  packages/ag-charts-website/src/content/docs/financial-charts-toolbar/resources/chart-types-dark.mp4
  packages/ag-charts-website/src/content/docs/financial-charts-toolbar/resources/chart-types.mp4
  packages/ag-charts-website/src/content/docs/financial-charts/_examples/financial-charts-showcase/main.ts
  packages/ag-charts-website/src/content/docs/financial-charts/resources/annotations-dark.mp4
  packages/ag-charts-website/src/content/docs/financial-charts/resources/annotations.mp4
  packages/ag-charts-website/src/content/docs/financial-charts/resources/zoom-dark.mp4
  packages/ag-charts-website/src/content/docs/financial-charts/resources/zoom.mp4
Owners: @ag-grid/ag-charts-team, @rmc-software

Update based on feedback
  packages/ag-charts-website/src/content/docs/layout/index.mdoc
Owners: @rmc-software

Fix lint warnings.
  packages/ag-charts-enterprise/src/features/annotations/annotationsStateMachine.ts
Owners: @alantreadway

Improve scene debug tree inline attributes.
  packages/ag-charts-community/src/scene/sceneDebug.ts
Owners: @alantreadway

AG-12478 - Fix legend A11y proxy button positioning.
  packages/ag-charts-community/src/chart/legend.ts
  packages/ag-charts-community/src/chart/pagination/pagination.ts
Owners: @alantreadway
