Repository ag-grid/ag-charts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ag-grid/ag-charts-team, @markdurrant, @taktran, @alantreadway, @rmc-software

.github/CODEOWNERS:

# NOTE: Order of entries matters - later entries have higher precedence.

# Attribute code-owners so default reviewers are assigned to PRs.
* @ag-grid/ag-charts-team

# Astro + website changes to be reviewed by website team.
*.scss @markdurrant
*.astro @taktran
/packages/ag-charts-website/astro/** @taktran
/packages/ag-charts-website/components/** @taktran
/packages/ag-charts-website/features/** @taktran
/packages/ag-charts-website/layouts/** @taktran
/packages/ag-charts-website/stores/** @taktran
/packages/ag-charts-website/utils/** @taktran

# Docs updates to be reviewed by Eng VP.
/packages/ag-charts-website/content/** @alantreadway @rmc-software
*.mdoc @rmc-software

# Charts library code to be reviewed by Chart TL.
/packages/ag-charts-community/** @alantreadway
/packages/ag-charts-enterprise/** @alantreadway

# Sensitive build/repo files to be reviewed by Chart TL.
**/package.json @alantreadway
nx.json @alantreadway
**/project.json @alantreadway
**/tsconfig.json @alantreadway
**/tsconfig.*.json @alantreadway

AG-9880 - Rework main README.md.
  .github/banner-dark.png
  .github/banner-light.png
  .github/example-1-dark.png
  .github/example-1-light.png
  .github/example-2-dark.png
  .github/example-2-light.png
  .github/github-banner.png
  README.md
Owners: @ag-grid/ag-charts-team

AG-9895 Update Grid LicenseManager/Create Charts LicenseManager
  packages/ag-charts-enterprise/src/license/licenseManager.ts
Owners: @alantreadway

nx format.
  packages/ag-charts-enterprise/src/license/licenseManager.ts
Owners: @alantreadway

quickstart spelling/links/punctation
  packages/ag-charts-website/src/content/docs/create-a-basic-chart/index.mdoc
Owners: @rmc-software

Fix flickering on page
  packages/ag-charts-website/src/features/gallery/components/GalleryExampleImage.module.scss
  packages/ag-charts-website/src/features/gallery/components/GalleryExampleImage.tsx
  packages/ag-charts-website/src/features/gallery/components/GalleryExampleLink.tsx
  packages/ag-charts-website/src/features/gallery/components/GalleryExampleThemeDropdown.tsx
  packages/ag-charts-website/src/layouts/Layout.astro
Owners: @markdurrant, @ag-grid/ag-charts-team, @taktran

Rename darkmode
  packages/ag-charts-website/src/components/site-header/getDarkModeSnippet.ts
Owners: @ag-grid/ag-charts-team

cleanup
  packages/ag-charts-website/src/components/site-header/DarkModeToggle.jsx
  packages/ag-charts-website/src/components/site-header/getDarkModeSnippet.ts
  packages/ag-charts-website/src/features/gallery/components/GalleryExampleImage.tsx
  packages/ag-charts-website/src/features/gallery/components/GalleryExampleThemeDropdown.tsx
  packages/ag-charts-website/src/layouts/Layout.astro
  packages/ag-charts-website/src/stores/darkmodeStore.ts
  packages/ag-charts-website/src/stores/themeStore.ts
  packages/ag-charts-website/src/utils/hooks/useDarkmode.ts
  packages/ag-charts-website/src/utils/hooks/useTheme.ts
Owners: @ag-grid/ag-charts-team, @taktran

Fix snippets
  packages/ag-charts-website/src/components/site-header/getDarkModeSnippet.ts
Owners: @ag-grid/ag-charts-team

Fix gallery thumbnail dark/light mode on site reload.
  packages/ag-charts-website/src/features/gallery/components/GalleryExampleImage.tsx
  packages/ag-charts-website/src/features/gallery/components/GalleryExampleLink.tsx
Owners: @ag-grid/ag-charts-team

update links
  packages/ag-charts-website/src/content/docs/licensing/index.mdoc
Owners: @rmc-software

AG-9880 - Rework package README.md's.
  packages/ag-charts-angular/README.md
  packages/ag-charts-enterprise/README.md
  packages/ag-charts-react/README.md
  packages/ag-charts-vue/README.md
  packages/ag-charts-vue3/README.md
Owners: @ag-grid/ag-charts-team, @alantreadway

AG-9302 Polish up bullet series docs
  packages/ag-charts-website/src/content/docs/bullet-series/index.mdoc
Owners: @rmc-software

AG-9846 Feedback for bullet gallery examples
  packages/ag-charts-website/src/content/gallery/_examples/simple-bullet/main.ts
Owners: @ag-grid/ag-charts-team

AG-9880 - Use info@ag-grid.com for package.json author.
  packages/ag-charts-angular/package.json
  packages/ag-charts-community/package.json
  packages/ag-charts-enterprise/package.json
  packages/ag-charts-react/package.json
  packages/ag-charts-vue/package.json
  packages/ag-charts-vue3/package.json
Owners: @alantreadway

AG-9588 Add comment about abnormal validation
  packages/ag-charts-community/src/chart/mapping/themes.ts
Owners: @alantreadway

AG-9588 Add validation for user theme
  packages/ag-charts-community/src/chart/mapping/themes.ts
Owners: @alantreadway

AG-9588 Fix themes validation tests
  packages/ag-charts-community/src/chart/mapping/themes.test.ts
  packages/ag-charts-community/src/chart/mapping/themes.ts
Owners: @alantreadway

AG-9588 Add themes.test.ts for validation tests
  packages/ag-charts-community/src/chart/mapping/themes.test.ts
Owners: @alantreadway

AG-9609 Fix dark mode layout jumps
  packages/ag-charts-website/src/components/framework-selector/FrameworkSelector.module.scss
  packages/ag-charts-website/src/components/site-header/gridSiteHeader.module.scss
  packages/ag-charts-website/src/components/top-bar/TopBar.module.scss
  packages/ag-charts-website/src/design-system/_base.scss
  packages/ag-charts-website/src/pages/homepage.module.scss
Owners: @markdurrant

AG-9895 Update Grid LicenseManager/Create Charts LicenseManager
  packages/ag-charts-enterprise/src/license/licenseManager.ts
Owners: @alantreadway

AG-3390 - Lowercase bullet name to be consistent with the others
  packages/ag-charts-website/src/content/gallery/data.json
Owners: @ag-grid/ag-charts-team

AG-9574 - Add navigation selection on gallery page
  packages/ag-charts-website/src/pages/gallery.astro
Owners: @taktran

AG-3390 - Fix gallery image width jumping on load
  packages/ag-charts-website/src/pages/gallery.astro
Owners: @taktran

AG-9574 - Title case series links on gallery page
  packages/ag-charts-website/src/features/gallery/components/GallerySeriesLink.jsx
Owners: @ag-grid/ag-charts-team

More treemap updates
  packages/ag-charts-community/src/chart/series/test/examples.ts
  packages/ag-charts-website/src/content/docs/sunburst-series-test/_examples/org-chart/main.ts
  packages/ag-charts-website/src/content/docs/sunburst-series-test/index.mdoc
  packages/ag-charts-website/src/content/docs/sunburst-series/index.mdoc
  packages/ag-charts-website/src/content/docs/treemap-series-test/_examples/org-chart/main.ts
  packages/ag-charts-website/src/content/docs/treemap-series-test/index.mdoc
  packages/ag-charts-website/src/content/docs/treemap-series/_examples/nesting/data.ts
  packages/ag-charts-website/src/content/docs/treemap-series/_examples/nesting/index.html
  packages/ag-charts-website/src/content/docs/treemap-series/_examples/nesting/main.ts
  packages/ag-charts-website/src/content/docs/treemap-series/_examples/simple-treemap/data.ts
  packages/ag-charts-website/src/content/docs/treemap-series/index.mdoc
Owners: @alantreadway, @ag-grid/ag-charts-team, @rmc-software

AG-9570 - New simple box plot example
  packages/ag-charts-website/src/content/gallery/_examples/simple-box-plot/data.ts
  packages/ag-charts-website/src/content/gallery/_examples/simple-box-plot/main.ts
Owners: @ag-grid/ag-charts-team

AG-9570 - Update horizontal box plot example
  packages/ag-charts-website/src/content/gallery/_examples/horizontal-box-plot/main.ts
Owners: @ag-grid/ag-charts-team

AG-9570 - New multiple box plots example
  packages/ag-charts-website/src/content/gallery/_examples/box-plot-outliers/data.ts
  packages/ag-charts-website/src/content/gallery/_examples/box-plot-outliers/main.ts
  packages/ag-charts-website/src/content/gallery/_examples/multiple-box-plots/data.ts
  packages/ag-charts-website/src/content/gallery/_examples/multiple-box-plots/index.html
  packages/ag-charts-website/src/content/gallery/_examples/multiple-box-plots/main.ts
  packages/ag-charts-website/src/content/gallery/data.json
Owners: @ag-grid/ag-charts-team

AG-9570 - Rearrange gallery examples
  packages/ag-charts-website/src/content/gallery/data.json
Owners: @ag-grid/ag-charts-team

AG-9489: Minor content improvements
  packages/ag-charts-website/src/content/docs/create-a-basic-chart/_examples/basic-example/main.ts
  packages/ag-charts-website/src/content/docs/create-a-basic-chart/_examples/combination-charts-example/main.ts
  packages/ag-charts-website/src/content/docs/create-a-basic-chart/_examples/complete-formatted-example/main.ts
  packages/ag-charts-website/src/content/docs/create-a-basic-chart/_examples/format-series-example/main.ts
  packages/ag-charts-website/src/content/docs/create-a-basic-chart/_examples/legend-example/main.ts
  packages/ag-charts-website/src/content/docs/create-a-basic-chart/_examples/second-series-example/main.ts
  packages/ag-charts-website/src/content/docs/create-a-basic-chart/_examples/second-series-formatted-example/main.ts
  packages/ag-charts-website/src/content/docs/create-a-basic-chart/_examples/theme-example/main.ts
  packages/ag-charts-website/src/content/docs/create-a-basic-chart/_examples/title-example/main.ts
  packages/ag-charts-website/src/content/docs/create-a-basic-chart/index.mdoc
  packages/ag-charts-website/src/content/docs/quick-start/_examples/basic-example/main.ts
  packages/ag-charts-website/src/content/docs/quick-start/index.mdoc
Owners: @ag-grid/ag-charts-team, @rmc-software

Update packages/ag-charts-website/src/utils/hooks/useIsSsr.ts
  packages/ag-charts-website/src/utils/hooks/useIsSsr.ts
Owners: @ag-grid/ag-charts-team

AG-9609 Restored custom dark mode scroll bar
  packages/ag-charts-website/src/design-system/_base.scss
Owners: @markdurrant

Fix homepage hero
  packages/ag-charts-website/src/pages/index.astro
Owners: @taktran

wip
  packages/ag-charts-website/src/components/site-header/DarkModeToggle.jsx
  packages/ag-charts-website/src/components/site-header/DarkModeToggle.tsx
  packages/ag-charts-website/src/features/changelog/Changelog.tsx
  packages/ag-charts-website/src/features/license-pricing/LicensePricing.tsx
  packages/ag-charts-website/src/features/pipeline/Pipeline.tsx
  packages/ag-charts-website/src/stores/darkmodeStore.ts
  packages/ag-charts-website/src/utils/hooks/useDarkmode.ts
Owners: @ag-grid/ag-charts-team

Fix useIsSsr
  packages/ag-charts-website/src/components/site-header/DarkModeToggle.tsx
  packages/ag-charts-website/src/stores/darkmodeStore.ts
  packages/ag-charts-website/src/utils/hooks/useIsSsr.ts
Owners: @ag-grid/ag-charts-team

Fix dark mode examples
  packages/ag-charts-website/src/features/example-runner/components/ChartsExampleRunner.module.scss
  packages/ag-charts-website/src/pages/[internalFramework]/[pageName]/examples/[exampleName]/example-runner.astro
Owners: @markdurrant, @taktran

Fix gallery detail examples
  packages/ag-charts-website/src/pages/gallery/examples/[exampleName]/example-runner.astro
Owners: @taktran

Fix example flicker on load
  packages/ag-charts-website/src/features/example-runner/components/ExampleIFrame.tsx
Owners: @ag-grid/ag-charts-team

AG-9887 Added What's new page
  packages/ag-charts-website/src/components/version/Version.module.scss
  packages/ag-charts-website/src/components/version/Version.tsx
  packages/ag-charts-website/src/content/versions/data.json
  packages/ag-charts-website/src/pages/whats-new.astro
Owners: @markdurrant, @ag-grid/ag-charts-team, @taktran

Fix gallery initial frame of broken images and wrong layout.
  packages/ag-charts-website/public/images/blank.png
  packages/ag-charts-website/src/features/gallery/components/GalleryExampleImage.tsx
  packages/ag-charts-website/src/features/gallery/components/GalleryExampleLink.tsx
  packages/ag-charts-website/src/features/gallery/components/GalleryExampleThemeDropdown.tsx
  packages/ag-charts-website/src/pages/gallery.astro
  packages/ag-charts-website/src/pages/gallery.module.scss
Owners: @ag-grid/ag-charts-team, @taktran, @markdurrant
