Repository ag-grid/ag-charts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ag-grid/ag-charts-team, @markdurrant, @taktran, @alantreadway, @rmc-software

.github/CODEOWNERS:

# NOTE: Order of entries matters - later entries have higher precedence.

# Attribute code-owners so default reviewers are assigned to PRs.
* @ag-grid/ag-charts-team

# Astro + website changes to be reviewed by website team.
*.scss @markdurrant
*.astro @taktran
/packages/ag-charts-website/astro/** @taktran
/packages/ag-charts-website/components/** @taktran
/packages/ag-charts-website/features/** @taktran
/packages/ag-charts-website/layouts/** @taktran
/packages/ag-charts-website/stores/** @taktran
/packages/ag-charts-website/utils/** @taktran

# Docs updates to be reviewed by Eng VP.
/packages/ag-charts-website/content/** @alantreadway @rmc-software
*.mdoc @rmc-software

# Charts library code to be reviewed by Chart TL.
/packages/ag-charts-community/** @alantreadway
/packages/ag-charts-enterprise/** @alantreadway

# Sensitive build/repo files to be reviewed by Chart TL.
**/package.json @alantreadway
nx.json @alantreadway
**/project.json @alantreadway
**/tsconfig.json @alantreadway
**/tsconfig.*.json @alantreadway

e2e snapshot updates.
  packages/ag-charts-website/e2e/zoom.spec.ts-snapshots/after-navigator-drag-x-axis-chromium-darwin.png
  packages/ag-charts-website/e2e/zoom.spec.ts-snapshots/after-navigator-drag-y-axis-chromium-darwin.png
  packages/ag-charts-website/e2e/zoom.spec.ts-snapshots/before-navigator-drag-y-axis-chromium-darwin.png
  packages/ag-charts-website/e2e/zoom.spec.ts-snapshots/with-navigator-drag-x-axis-chromium-darwin.png
  packages/ag-charts-website/e2e/zoom.spec.ts-snapshots/with-navigator-drag-y-axis-chromium-darwin.png
Owners: @ag-grid/ag-charts-team

e2e snapshot updates.
  packages/ag-charts-website/e2e/financial-charts-showcase.spec.ts-snapshots/zoom-and-hover-on-out-of-y-range-prices-chromium-darwin.png
  packages/ag-charts-website/e2e/toolbar.spec.ts-snapshots/line-annotation-1-button-active-chromium-darwin.png
  packages/ag-charts-website/e2e/toolbar.spec.ts-snapshots/line-annotation-2-drawing-chromium-darwin.png
  packages/ag-charts-website/e2e/toolbar.spec.ts-snapshots/line-annotation-3-complete-chromium-darwin.png
  packages/ag-charts-website/e2e/zoom.spec.ts-snapshots/after-navigator-drag-x-axis-chromium-darwin.png
  packages/ag-charts-website/e2e/zoom.spec.ts-snapshots/after-navigator-drag-y-axis-chromium-darwin.png
  packages/ag-charts-website/e2e/zoom.spec.ts-snapshots/before-navigator-drag-y-axis-chromium-darwin.png
  packages/ag-charts-website/e2e/zoom.spec.ts-snapshots/with-navigator-drag-x-axis-chromium-darwin.png
  packages/ag-charts-website/e2e/zoom.spec.ts-snapshots/with-navigator-drag-y-axis-chromium-darwin.png
Owners: @ag-grid/ag-charts-team

CRT-423 - Tweak example subtitle.
  packages/ag-charts-website/src/content/docs/localisation/_examples/custom-text-values/main.ts
  packages/ag-charts-website/src/content/docs/localisation/_examples/installing-locale/main.ts
Owners: @ag-grid/ag-charts-team

Release prep for 10.1.0-beta.20240807.1338
  .env
  libraries/ag-charts-test/package.json
  package.json
  packages/ag-charts-angular/package.json
  packages/ag-charts-angular/projects/ag-charts-angular/package.json
  packages/ag-charts-community-examples/package.json
  packages/ag-charts-community/package.json
  packages/ag-charts-community/src/version.ts
  packages/ag-charts-enterprise/package.json
  packages/ag-charts-locale/package.json
  packages/ag-charts-react/package.json
  packages/ag-charts-types/package.json
  packages/ag-charts-vue3/package.json
  packages/ag-charts-website/.env.build
  packages/ag-charts-website/.env.build.archive
  packages/ag-charts-website/.env.build.production
  packages/ag-charts-website/.env.build.staging
  packages/ag-charts-website/.env.dev
  packages/ag-charts-website/.env.preview
  packages/ag-charts-website/.env.preview.production
  packages/ag-charts-website/.env.preview.staging
  packages/ag-charts-website/package.json
  plugins/ag-charts-generate-chart-thumbnail/package.json
  plugins/ag-charts-generate-code-reference-files/package.json
  plugins/ag-charts-generate-example-files/package.json
Owners: @ag-grid/ag-charts-team, @alantreadway

CRT-413 Area, line fixes
  packages/ag-charts-community/src/chart/series/cartesian/areaSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/lineSeries.ts
Owners: @alantreadway

Fix toolbar label alignment
  packages/ag-charts-community/src/chart/toolbar/toolbarStyles.css
Owners: @alantreadway

Release prep for 10.1.0-beta.20240807.1446
  .env
  libraries/ag-charts-test/package.json
  package.json
  packages/ag-charts-angular/package.json
  packages/ag-charts-angular/projects/ag-charts-angular/package.json
  packages/ag-charts-community-examples/package.json
  packages/ag-charts-community/package.json
  packages/ag-charts-community/src/version.ts
  packages/ag-charts-enterprise/package.json
  packages/ag-charts-locale/package.json
  packages/ag-charts-react/package.json
  packages/ag-charts-types/package.json
  packages/ag-charts-vue3/package.json
  packages/ag-charts-website/.env.build
  packages/ag-charts-website/.env.build.archive
  packages/ag-charts-website/.env.build.production
  packages/ag-charts-website/.env.build.staging
  packages/ag-charts-website/.env.dev
  packages/ag-charts-website/.env.preview
  packages/ag-charts-website/.env.preview.production
  packages/ag-charts-website/.env.preview.staging
  packages/ag-charts-website/package.json
  plugins/ag-charts-generate-chart-thumbnail/package.json
  plugins/ag-charts-generate-code-reference-files/package.json
  plugins/ag-charts-generate-example-files/package.json
Owners: @ag-grid/ag-charts-team, @alantreadway

CRT-440 - Allow shadow dom charts to render in example runner
  packages/ag-charts-website/src/content/docs/layout-test/_examples/layout-shadow-dom-relocation/exampleConfig.json
  packages/ag-charts-website/src/content/docs/layout-test/_examples/layout-shadow-dom/exampleConfig.json
  packages/ag-charts-website/src/features/example-generator/index.ts
  packages/ag-charts-website/src/features/example-runner/components/FrameworkTemplate.astro
  packages/ag-charts-website/src/features/example-runner/components/PostInitMessageScript.astro
  plugins/ag-charts-generate-example-files/src/executors/generate/generator/examplesGenerator.ts
  plugins/ag-charts-generate-example-files/src/executors/generate/generator/types.ts
  plugins/ag-charts-generate-example-files/src/executors/generate/generator/utils/getExampleConfig.ts
Owners: @ag-grid/ag-charts-team, @taktran

histogram docs cleanup
  packages/ag-charts-types/src/series/cartesian/histogramOptions.ts
  packages/ag-charts-website/src/content/docs/histogram-series/_examples/2d-histogram/data.ts
  packages/ag-charts-website/src/content/docs/histogram-series/_examples/2d-histogram/index.html
  packages/ag-charts-website/src/content/docs/histogram-series/_examples/2d-histogram/main.ts
  packages/ag-charts-website/src/content/docs/histogram-series/_examples/aggregation-histogram/data.ts
  packages/ag-charts-website/src/content/docs/histogram-series/_examples/aggregation-histogram/index.html
  packages/ag-charts-website/src/content/docs/histogram-series/_examples/aggregation-histogram/main.ts
  packages/ag-charts-website/src/content/docs/histogram-series/_examples/mean-histogram/index.html
  packages/ag-charts-website/src/content/docs/histogram-series/index.mdoc
Owners: @ag-grid/ag-charts-team, @rmc-software

Fix toolbar button border flash
  packages/ag-charts-community/src/chart/toolbar/toolbar.ts
  packages/ag-charts-community/src/chart/toolbar/toolbarStyles.css
  packages/ag-charts-community/src/chart/toolbar/toolbarStyles.ts
Owners: @alantreadway

CRT-440 - Allow iframe charts to render in example runner
  packages/ag-charts-website/src/content/docs/layout-test/_examples/layout-inline/exampleConfig.json
  packages/ag-charts-website/src/content/docs/layout-test/_examples/layout-matrix/exampleConfig.json
  packages/ag-charts-website/src/features/example-runner/components/FrameworkTemplate.astro
  packages/ag-charts-website/src/features/example-runner/components/PostInitMessageScript.astro
  plugins/ag-charts-generate-example-files/src/executors/generate/generator/types.ts
Owners: @ag-grid/ag-charts-team, @taktran

CRT-440 - Add timeout for charts loading
  packages/ag-charts-website/src/features/example-runner/components/PostInitMessageScript.astro
Owners: @taktran

Release 10.1.0
  .env
  libraries/ag-charts-test/package.json
  package.json
  packages/ag-charts-angular/package.json
  packages/ag-charts-angular/projects/ag-charts-angular/package.json
  packages/ag-charts-community-examples/package.json
  packages/ag-charts-community/package.json
  packages/ag-charts-community/src/version.ts
  packages/ag-charts-enterprise/package.json
  packages/ag-charts-locale/package.json
  packages/ag-charts-react/package.json
  packages/ag-charts-types/package.json
  packages/ag-charts-vue3/package.json
  packages/ag-charts-website/.env.build
  packages/ag-charts-website/.env.build.archive
  packages/ag-charts-website/.env.build.production
  packages/ag-charts-website/.env.build.staging
  packages/ag-charts-website/.env.dev
  packages/ag-charts-website/.env.preview
  packages/ag-charts-website/.env.preview.production
  packages/ag-charts-website/.env.preview.staging
  packages/ag-charts-website/package.json
  plugins/ag-charts-generate-chart-thumbnail/package.json
  plugins/ag-charts-generate-code-reference-files/package.json
  plugins/ag-charts-generate-example-files/package.json
Owners: @ag-grid/ag-charts-team, @alantreadway

fix example, next docs iteration
  packages/ag-charts-types/src/series/cartesian/histogramOptions.ts
  packages/ag-charts-website/src/content/docs/histogram-series/_examples/aggregation-histogram/main.ts
  packages/ag-charts-website/src/content/docs/histogram-series/index.mdoc
Owners: @ag-grid/ag-charts-team, @rmc-software

Remove API docs generics
  packages/ag-charts-website/src/features/api-documentation/apiReferenceHelpers.ts
Owners: @ag-grid/ag-charts-team

AG-12369 Rename toolbarManager.ts Event type
  packages/ag-charts-community/src/chart/interaction/toolbarManager.ts
Owners: @alantreadway

AG-12369 Fix keynav using initMenuKeyNav and correct aria roles
  packages/ag-charts-enterprise/src/features/popover/popover.ts
Owners: @alantreadway

AG-12369 Provide the sourceEvent: MouseEvent to popover.show
  packages/ag-charts-community/src/chart/interaction/toolbarManager.ts
  packages/ag-charts-community/src/chart/toolbar/toolbar.ts
  packages/ag-charts-enterprise/src/features/annotations/annotations.ts
  packages/ag-charts-enterprise/src/features/chart-toolbar/chartToolbar.ts
  packages/ag-charts-enterprise/src/features/popover/popover.ts
Owners: @alantreadway

AG-12369 Use one implementation of addRemovableEventListener
  packages/ag-charts-community/src/util/keynavUtil.ts
Owners: @alantreadway

AG-12369 Make initMenuKeyNav restore lastFocus when ESC is pressed
  packages/ag-charts-community/src/util/keynavUtil.ts
  packages/ag-charts-enterprise/src/features/context-menu/contextMenu.ts
  packages/ag-charts-enterprise/src/features/popover/popover.ts
Owners: @alantreadway

AG-12369 Detect mouse clicks downside menus and close them
  packages/ag-charts-community/src/util/keynavUtil.ts
  packages/ag-charts-enterprise/src/features/context-menu/contextMenu.ts
Owners: @alantreadway

Bump package version back to beta version.
  .env
  libraries/ag-charts-test/package.json
  package.json
  packages/ag-charts-angular/package.json
  packages/ag-charts-angular/projects/ag-charts-angular/package.json
  packages/ag-charts-community-examples/package.json
  packages/ag-charts-community/package.json
  packages/ag-charts-community/src/version.ts
  packages/ag-charts-enterprise/package.json
  packages/ag-charts-locale/package.json
  packages/ag-charts-react/package.json
  packages/ag-charts-types/package.json
  packages/ag-charts-vue3/package.json
  packages/ag-charts-website/.env.build
  packages/ag-charts-website/.env.build.archive
  packages/ag-charts-website/.env.build.production
  packages/ag-charts-website/.env.build.staging
  packages/ag-charts-website/.env.dev
  packages/ag-charts-website/.env.preview
  packages/ag-charts-website/.env.preview.production
  packages/ag-charts-website/.env.preview.staging
  packages/ag-charts-website/package.json
  plugins/ag-charts-generate-chart-thumbnail/package.json
  plugins/ag-charts-generate-code-reference-files/package.json
  plugins/ag-charts-generate-example-files/package.json
Owners: @ag-grid/ag-charts-team, @alantreadway

Re-enable CI e2e runs.
  .github/workflows/ci.yml
Owners: @ag-grid/ag-charts-team

Fix CI run with no cache.
  .github/actions/setup-nx/action.yml
Owners: @ag-grid/ag-charts-team

AG-3390 - Fix framework page redirect to go to url framework instead of localstorage framework
  packages/ag-charts-website/src/pages/[framework]/index.astro
Owners: @taktran

AG-12515 Add text annotation e2e tests and update line e2e tests
  packages/ag-charts-website/e2e/toolbar.spec.ts
  packages/ag-charts-website/e2e/toolbar.spec.ts-snapshots/line-1-popover-chromium-darwin.png
  packages/ag-charts-website/e2e/toolbar.spec.ts-snapshots/line-2-button-active-chromium-darwin.png
  packages/ag-charts-website/e2e/toolbar.spec.ts-snapshots/line-3-drawing-chromium-darwin.png
  packages/ag-charts-website/e2e/toolbar.spec.ts-snapshots/line-4-complete-chromium-darwin.png
  packages/ag-charts-website/e2e/toolbar.spec.ts-snapshots/line-annotation-1-button-active-chromium-darwin.png
  packages/ag-charts-website/e2e/toolbar.spec.ts-snapshots/line-annotation-1-button-active-chromium-linux.png
  packages/ag-charts-website/e2e/toolbar.spec.ts-snapshots/line-annotation-2-drawing-chromium-darwin.png
  packages/ag-charts-website/e2e/toolbar.spec.ts-snapshots/line-annotation-2-drawing-chromium-linux.png
  packages/ag-charts-website/e2e/toolbar.spec.ts-snapshots/line-annotation-3-complete-chromium-darwin.png
  packages/ag-charts-website/e2e/toolbar.spec.ts-snapshots/line-annotation-3-complete-chromium-linux.png
  packages/ag-charts-website/e2e/toolbar.spec.ts-snapshots/text-1-popover-chromium-darwin.png
  packages/ag-charts-website/e2e/toolbar.spec.ts-snapshots/text-2-button-active-chromium-darwin.png
  packages/ag-charts-website/e2e/toolbar.spec.ts-snapshots/text-3-start-chromium-darwin.png
  packages/ag-charts-website/e2e/toolbar.spec.ts-snapshots/text-4-input-chromium-darwin.png
  packages/ag-charts-website/e2e/toolbar.spec.ts-snapshots/text-5-save-chromium-darwin.png
  packages/ag-charts-website/e2e/toolbar.spec.ts-snapshots/text-6-font-size-popover-chromium-darwin.png
  packages/ag-charts-website/e2e/toolbar.spec.ts-snapshots/text-7-change-font-size-chromium-darwin.png
  packages/ag-charts-website/e2e/util.ts
  packages/ag-charts-website/src/content/docs/financial-charts-test/_examples/e2e-toolbar/data.ts
  packages/ag-charts-website/src/content/docs/financial-charts-test/_examples/e2e-toolbar/index.html
  packages/ag-charts-website/src/content/docs/financial-charts-test/_examples/e2e-toolbar/main.ts
  packages/ag-charts-website/src/content/docs/financial-charts-test/index.mdoc
Owners: @ag-grid/ag-charts-team, @rmc-software

AG-12515 Update zoom e2e tests to use focused example
  packages/ag-charts-website/e2e/icons.spec.ts
  packages/ag-charts-website/e2e/zoom.spec.ts
  packages/ag-charts-website/e2e/zoom.spec.ts-snapshots/after-navigator-drag-x-axis-chromium-darwin.png
  packages/ag-charts-website/e2e/zoom.spec.ts-snapshots/after-navigator-drag-x-axis-chromium-linux.png
  packages/ag-charts-website/e2e/zoom.spec.ts-snapshots/after-navigator-drag-y-axis-chromium-darwin.png
  packages/ag-charts-website/e2e/zoom.spec.ts-snapshots/after-navigator-drag-y-axis-chromium-linux.png
  packages/ag-charts-website/e2e/zoom.spec.ts-snapshots/before-navigator-drag-y-axis-chromium-darwin.png
  packages/ag-charts-website/e2e/zoom.spec.ts-snapshots/before-navigator-drag-y-axis-chromium-linux.png
  packages/ag-charts-website/e2e/zoom.spec.ts-snapshots/with-navigator-drag-x-axis-chromium-darwin.png
  packages/ag-charts-website/e2e/zoom.spec.ts-snapshots/with-navigator-drag-x-axis-chromium-linux.png
  packages/ag-charts-website/e2e/zoom.spec.ts-snapshots/with-navigator-drag-y-axis-chromium-darwin.png
  packages/ag-charts-website/e2e/zoom.spec.ts-snapshots/with-navigator-drag-y-axis-chromium-linux.png
  packages/ag-charts-website/e2e/zoom.spec.ts-snapshots/zoom-1-before-navigator-zoom-in-chromium-darwin.png
  packages/ag-charts-website/e2e/zoom.spec.ts-snapshots/zoom-2-before-navigator-drag-y-axis-chromium-darwin.png
  packages/ag-charts-website/e2e/zoom.spec.ts-snapshots/zoom-3-with-navigator-drag-y-axis-chromium-darwin.png
  packages/ag-charts-website/e2e/zoom.spec.ts-snapshots/zoom-4-with-navigator-drag-x-axis-chromium-darwin.png
  packages/ag-charts-website/e2e/zoom.spec.ts-snapshots/zoom-5-after-navigator-drag-y-axis-chromium-darwin.png
  packages/ag-charts-website/e2e/zoom.spec.ts-snapshots/zoom-6-after-navigator-drag-x-axis-chromium-darwin.png
  packages/ag-charts-website/src/content/docs/financial-charts-test/_examples/e2e-icons/index.html
  packages/ag-charts-website/src/content/docs/financial-charts-test/_examples/e2e-icons/main.ts
  packages/ag-charts-website/src/content/docs/financial-charts-test/_examples/e2e-zoom-navigator/data.ts
  packages/ag-charts-website/src/content/docs/financial-charts-test/_examples/e2e-zoom-navigator/index.html
  packages/ag-charts-website/src/content/docs/financial-charts-test/_examples/e2e-zoom-navigator/main.ts
  packages/ag-charts-website/src/content/docs/financial-charts-test/index.mdoc
Owners: @ag-grid/ag-charts-team, @rmc-software

AG-12515 Add text editing e2e test
  packages/ag-charts-website/e2e/toolbar.spec.ts
  packages/ag-charts-website/e2e/toolbar.spec.ts-snapshots/text-6-editing-chromium-darwin.png
  packages/ag-charts-website/e2e/toolbar.spec.ts-snapshots/text-6-font-size-popover-chromium-darwin.png
  packages/ag-charts-website/e2e/toolbar.spec.ts-snapshots/text-7-change-font-size-chromium-darwin.png
  packages/ag-charts-website/e2e/toolbar.spec.ts-snapshots/text-7-font-size-popover-chromium-darwin.png
  packages/ag-charts-website/e2e/toolbar.spec.ts-snapshots/text-8-change-font-size-chromium-darwin.png
  packages/ag-charts-website/e2e/toolbar.spec.ts-snapshots/text-9-deleted-chromium-darwin.png
Owners: @ag-grid/ag-charts-team

AG-12515 Add callout annotation e2e tests
  packages/ag-charts-website/e2e/toolbar.spec.ts
  packages/ag-charts-website/e2e/toolbar.spec.ts-snapshots/callout-1-start-chromium-darwin.png
  packages/ag-charts-website/e2e/toolbar.spec.ts-snapshots/callout-2-end-chromium-darwin.png
  packages/ag-charts-website/e2e/toolbar.spec.ts-snapshots/callout-3-input-chromium-darwin.png
  packages/ag-charts-website/e2e/toolbar.spec.ts-snapshots/callout-4-save-chromium-darwin.png
  packages/ag-charts-website/e2e/toolbar.spec.ts-snapshots/callout-5-fill-color-popover-chromium-darwin.png
  packages/ag-charts-website/e2e/toolbar.spec.ts-snapshots/callout-6-change-fill-color-chromium-darwin.png
Owners: @ag-grid/ag-charts-team

AG-12483 New Release Job on TC
  tools/release/downloadChangelog.sh
Owners: @ag-grid/ag-charts-team

AG-12524 Skip animation calculations when animations are skipped
  packages/ag-charts-community/src/chart/series/cartesian/cartesianSeries.ts
Owners: @alantreadway

Make light mode images the default
  README.md
  packages/ag-charts-angular/README.md
  packages/ag-charts-community/README.md
  packages/ag-charts-enterprise/README.md
  packages/ag-charts-locale/README.md
  packages/ag-charts-react/README.md
  packages/ag-charts-types/README.md
  packages/ag-charts-vue3/README.md
Owners: @ag-grid/ag-charts-team, @alantreadway

AG-12510 - Cleanup redundant uses of Node.tag.
  packages/ag-charts-community/src/chart/series/cartesian/areaSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/areaUtil.ts
  packages/ag-charts-community/src/chart/series/cartesian/histogramSeries.ts
  packages/ag-charts-enterprise/src/series/range-area/rangeArea.ts
Owners: @alantreadway

AG-12510 - Cleanup redundant use of Node.markDirtyTransform().
  packages/ag-charts-community/src/chart/legendMarkerLabel.ts
Owners: @alantreadway

AG-12510 - Add base transformable.ts.
  packages/ag-charts-community/src/scene/transformable.ts
Owners: @alantreadway

AG-12510 - Remove scaling support from Node.ts.
  packages/ag-charts-community/src/chart/marker/circle.ts
  packages/ag-charts-community/src/chart/marker/cross.ts
  packages/ag-charts-community/src/chart/marker/diamond.ts
  packages/ag-charts-community/src/chart/marker/heart.ts
  packages/ag-charts-community/src/chart/marker/marker.ts
  packages/ag-charts-community/src/chart/marker/pin.ts
  packages/ag-charts-community/src/chart/marker/plus.ts
  packages/ag-charts-community/src/chart/marker/square.ts
  packages/ag-charts-community/src/chart/marker/star.ts
  packages/ag-charts-community/src/chart/marker/triangle.ts
  packages/ag-charts-community/src/integrated-charts-scene.ts
  packages/ag-charts-community/src/scene/group.ts
  packages/ag-charts-community/src/scene/matrix.ts
  packages/ag-charts-community/src/scene/node.ts
  packages/ag-charts-enterprise/src/series/box-plot/boxPlotGroup.ts
  packages/ag-charts-enterprise/src/series/sunburst/sunburstSeries.ts
Owners: @alantreadway

AG-12516 Area series animation changes
  packages/ag-charts-community/src/chart/series/cartesian/areaSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/areaUtil.ts
  packages/ag-charts-community/src/chart/series/cartesian/lineUtil.ts
  packages/ag-charts-community/src/chart/series/cartesian/pathUtil.ts
Owners: @alantreadway

AG-12515 Fix callout to only show floating options once text input visible
  packages/ag-charts-enterprise/src/features/annotations/states/textualStartEndState.ts
  packages/ag-charts-website/e2e/toolbar.spec.ts-snapshots/callout-1-start-chromium-darwin.png
Owners: @alantreadway, @ag-grid/ag-charts-team

AG-12515 Change toolbar and zoom specs to target vanilla for perf
  packages/ag-charts-website/e2e/toolbar.spec.ts
  packages/ag-charts-website/e2e/zoom.spec.ts
Owners: @ag-grid/ag-charts-team

AG-12535 - Re-enable large examples
  packages/ag-charts-website/src/pages/[framework]/[pageName].astro
Owners: @taktran
