Repository ag-grid/ag-charts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ag-grid/ag-charts-team, @markdurrant, @taktran, @alantreadway, @rmc-software

Fix null active check
  packages/ag-charts-enterprise/src/features/annotations/annotationsStateMachine.ts
Owners: @alantreadway

AG-12145 Chart type button fixes
  packages/ag-charts-enterprise/src/features/chart-toolbar/chartToolbar.ts
  packages/ag-charts-website/src/content/docs/financial-charts-test/_examples/icons/index.html
Owners: @alantreadway, @ag-grid/ag-charts-team

Speculative fix for e2e failure message.
  .github/workflows/update-e2e-snapshots.yml
Owners: @ag-grid/ag-charts-team

Fix comment scene with initial text
  packages/ag-charts-enterprise/src/features/annotations/scenes/textualPointScene.ts
Owners: @alantreadway

Fix caching issue with nx pack step.
  nx.json
  packages/ag-charts-angular/project.json
  packages/ag-charts-community/project.json
  packages/ag-charts-enterprise/project.json
  packages/ag-charts-locale/project.json
  packages/ag-charts-react/project.json
  packages/ag-charts-types/project.json
  packages/ag-charts-vue3/project.json
Owners: @alantreadway

AG-12186 - Correct FC high-low status bar colours.
  packages/ag-charts-enterprise/src/features/status-bar/statusBar.ts
Owners: @alantreadway

AG-12160 - Add bounds interface
  packages/ag-charts-enterprise/src/features/annotations/annotationTypes.ts
Owners: @alantreadway

AG-12160 - Add label and handle positioning functions to textualStartEndScene
  packages/ag-charts-enterprise/src/features/annotations/scenes/textualStartEndScene.ts
Owners: @alantreadway

AG-11926 Toolabr swatch fixes
  packages/ag-charts-community/src/chart/toolbar/toolbar.ts
  packages/ag-charts-community/src/chart/toolbar/toolbarProperties.ts
  packages/ag-charts-community/src/chart/toolbar/toolbarStyles.css
Owners: @alantreadway

AG-12378 Z-indices for UI overlay elements
  packages/ag-charts-community/src/chart/dom/theme.css
  packages/ag-charts-enterprise/src/features/color-picker/colorPickerStyles.css
  packages/ag-charts-enterprise/src/features/context-menu/contextMenuStyles.css
  packages/ag-charts-enterprise/src/features/popover/popover.css
Owners: @alantreadway

Fix textual point anchor
  packages/ag-charts-enterprise/src/features/annotations/scenes/textualPointScene.ts
Owners: @alantreadway

AG-12267 - Tweak Axis minRectDistance to a more sensible lower bound.
  packages/ag-charts-community/src/chart/axis/axis.ts
Owners: @alantreadway

AG-12396 Add user resizing handle for label collisions example
  packages/ag-charts-website/src/content/docs/axes-intervals/_examples/axis-min-max-spacing/index.html
  packages/ag-charts-website/src/content/docs/axes-intervals/_examples/axis-min-max-spacing/styles.css
  packages/ag-charts-website/src/content/docs/axes-labels/_examples/axis-label-rotation/index.html
  packages/ag-charts-website/src/content/docs/axes-labels/_examples/axis-label-rotation/styles.css
Owners: @ag-grid/ag-charts-team

AG-11926 Update border for fill palette in toolbar
  packages/ag-charts-community/src/chart/toolbar/toolbarStyles.css
Owners: @alantreadway

AG-12368 Update translation
  packages/ag-charts-locale/src/en-US.ts
Owners: @ag-grid/ag-charts-team

Add chart resize benchmarks.
  packages/ag-charts-community/benchmarks/__image_snapshots__/resize-test-ts-resize-benchmark-after-load-10-x-resize-1-snap.png
  packages/ag-charts-community/benchmarks/__image_snapshots__/resize-test-ts-resize-benchmark-initial-load-1-snap.png
  packages/ag-charts-community/benchmarks/resize.test.ts
  packages/ag-charts-website/src/content/docs/benchmarks/_examples/resize/data.ts
  packages/ag-charts-website/src/content/docs/benchmarks/_examples/resize/index.html
  packages/ag-charts-website/src/content/docs/benchmarks/_examples/resize/main.ts
  packages/ag-charts-website/src/content/docs/benchmarks/_examples/summary/data.ts
  packages/ag-charts-website/src/content/docs/benchmarks/index.mdoc
Owners: @alantreadway, @ag-grid/ag-charts-team, @rmc-software

Fix benchmark test result example.
  packages/ag-charts-website/src/content/docs/benchmarks/_examples/summary/main.ts
Owners: @ag-grid/ag-charts-team

Fix benchmark test result example.
  packages/ag-charts-community/project.json
Owners: @alantreadway

AG-12160 - Fix textualStartEndScene annotation options anchor position
  packages/ag-charts-enterprise/src/features/annotations/scenes/textualStartEndScene.ts
Owners: @alantreadway

AG-12160 - Fix textualStartEndScene multi line updates
  packages/ag-charts-enterprise/src/features/annotations/scenes/textualStartEndScene.ts
Owners: @alantreadway

AG-12160 - Update snapshots
  packages/ag-charts-community/src/module/__snapshots__/optionsModule.test.ts.snap
Owners: @alantreadway

AG-12161 - Fix comment scene contains point function
  packages/ag-charts-enterprise/src/features/annotations/comment/commentScene.ts
Owners: @alantreadway

AG-3390 - Update title for license and pricing page
  packages/ag-charts-website/src/pages/license-pricing.astro
Owners: @taktran

number.ts util function micro-optimizations.
  packages/ag-charts-community/src/util/number.ts
Owners: @alantreadway

Optimise TextMeasurer use + caching.
  packages/ag-charts-community/src/chart/axis/axis.ts
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/line-series-test-ts-line-series-create-for-line-category-x-axis-invalid-domain-log-y-axis-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/line-series-test-ts-line-series-create-for-line-category-x-axis-invalid-domain-log-y-axis-reversed-axes-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/bubbleSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/scatterSeries.ts
  packages/ag-charts-community/src/scene/sceneDebug.ts
  packages/ag-charts-community/src/scene/shape/__snapshots__/text.test.ts.snap
  packages/ag-charts-community/src/util/number.ts
  packages/ag-charts-community/src/util/textMeasurer.ts
Owners: @alantreadway

Benchmark update.
  packages/ag-charts-website/src/content/docs/benchmarks/_examples/summary/data.ts
Owners: @ag-grid/ag-charts-team

Cleanup caching of TextMeasurer.
  packages/ag-charts-community/src/chart/axis/axis.ts
  packages/ag-charts-community/src/chart/axis/axisTicks.ts
  packages/ag-charts-community/src/chart/caption.ts
  packages/ag-charts-community/src/chart/label.ts
  packages/ag-charts-community/src/chart/legend.ts
  packages/ag-charts-community/src/chart/series/cartesian/bubbleSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/scatterSeries.ts
  packages/ag-charts-community/src/integrated-charts-scene.ts
  packages/ag-charts-community/src/scene/sceneDebug.ts
  packages/ag-charts-community/src/scene/shape/text.ts
  packages/ag-charts-community/src/util/textMeasurer.ts
  packages/ag-charts-community/src/util/textWrapper.ts
  packages/ag-charts-enterprise/src/axes/angle/angleAxis.ts
  packages/ag-charts-enterprise/src/features/status-bar/statusBar.ts
  packages/ag-charts-enterprise/src/series/chord/chordSeries.ts
  packages/ag-charts-enterprise/src/series/map-line/mapLineSeries.ts
  packages/ag-charts-enterprise/src/series/map-marker/mapMarkerSeries.ts
  packages/ag-charts-enterprise/src/series/map-shape/mapShapeSeries.ts
  packages/ag-charts-enterprise/src/series/sankey/sankeySeries.ts
  packages/ag-charts-enterprise/src/series/treemap/treemapSeries.ts
  packages/ag-charts-enterprise/src/series/util/labelFormatter.ts
Owners: @alantreadway

Fix tests.
  packages/ag-charts-community/src/scene/shape/text.test.ts
  packages/ag-charts-enterprise/src/series/util/labelFormatter.test.ts
Owners: @alantreadway

AG-12161 - Remove unused layout stuff
  packages/ag-charts-enterprise/src/features/annotations/scenes/textualStartEndScene.ts
Owners: @alantreadway

AG-12161 - clean up
  packages/ag-charts-enterprise/src/features/annotations/states/textualStartEndState.ts
Owners: @alantreadway

AG-3390 - Create FrameworkRedirectPage shared component
  external/ag-website-shared/src/components/framework-redirect-page/FrameworkRedirectPage.astro
  packages/ag-charts-website/src/features/docs/constants.ts
  packages/ag-charts-website/src/pages/[framework]/index.astro
  packages/ag-charts-website/src/pages/documentation.astro
Owners: @taktran, @ag-grid/ag-charts-team

git subrepo push external/ag-website-shared
  external/ag-website-shared/.gitrepo
Owners: @ag-grid/ag-charts-team

Update snapshots
  packages/ag-charts-website/e2e/financial-charts-showcase.spec.ts-snapshots/zoom-and-hover-on-out-of-y-range-prices-chromium-darwin.png
  packages/ag-charts-website/e2e/toolbar.spec.ts-snapshots/line-annotation-1-button-active-chromium-darwin.png
  packages/ag-charts-website/e2e/toolbar.spec.ts-snapshots/line-annotation-2-drawing-chromium-darwin.png
  packages/ag-charts-website/e2e/toolbar.spec.ts-snapshots/line-annotation-3-complete-chromium-darwin.png
  packages/ag-charts-website/e2e/zoom.spec.ts-snapshots/after-navigator-drag-x-axis-chromium-darwin.png
  packages/ag-charts-website/e2e/zoom.spec.ts-snapshots/after-navigator-drag-y-axis-chromium-darwin.png
  packages/ag-charts-website/e2e/zoom.spec.ts-snapshots/before-navigator-drag-y-axis-chromium-darwin.png
  packages/ag-charts-website/e2e/zoom.spec.ts-snapshots/with-navigator-drag-x-axis-chromium-darwin.png
  packages/ag-charts-website/e2e/zoom.spec.ts-snapshots/with-navigator-drag-y-axis-chromium-darwin.png
Owners: @ag-grid/ag-charts-team

Fix sonarcloud imports and types
  packages/ag-charts-enterprise/src/features/annotations/comment/commentProperties.ts
  packages/ag-charts-enterprise/src/features/annotations/properties/textualPointProperties.ts
  packages/ag-charts-enterprise/src/features/annotations/properties/textualStartEndProperties.ts
  packages/ag-charts-enterprise/src/features/annotations/scenes/textualPointScene.ts
Owners: @alantreadway

AG-12376 - Update license message to link to troubleshooting page
  packages/ag-charts-enterprise/src/license/licenseManager.ts
  packages/ag-charts-website/src/features/docs/constants.ts
  packages/ag-charts-website/src/pages/licensing.astro
Owners: @alantreadway, @ag-grid/ag-charts-team, @taktran

Remove incomplete note scene
  packages/ag-charts-enterprise/src/features/annotations/note/noteScene.ts
Owners: @alantreadway

AG-12330 Add toolbar font size picker
  packages/ag-charts-community/src/chart/interaction/toolbarManager.ts
  packages/ag-charts-community/src/chart/toolbar/toolbarModule.ts
  packages/ag-charts-enterprise/src/features/annotations/annotations.ts
  packages/ag-charts-enterprise/src/features/annotations/annotationsStateMachine.ts
  packages/ag-charts-enterprise/src/features/chart-toolbar/chartToolbar.ts
  packages/ag-charts-enterprise/src/features/popover/popover.ts
  packages/ag-charts-locale/src/en-US.ts
  packages/ag-charts-types/src/chart/toolbarOptions.ts
Owners: @alantreadway, @ag-grid/ag-charts-team

Fix use of text measurer in text annotations
  packages/ag-charts-enterprise/src/features/annotations/scenes/textualPointScene.ts
  packages/ag-charts-enterprise/src/features/annotations/scenes/textualStartEndScene.ts
Owners: @alantreadway

Fix mockConsole cleanup when console assertions fail.
  libraries/ag-charts-test/src/console/mock-console.ts
Owners: @ag-grid/ag-charts-team

AG-12391 - Fix PieSeries overlapping key animation.
  packages/ag-charts-enterprise/src/series/pie/__image_snapshots__/pie-series-test-ts-pie-series-switching-data-should-switch-between-datasets-with-overlapping-keys-1-snap.png
  packages/ag-charts-enterprise/src/series/pie/__image_snapshots__/pie-series-test-ts-pie-series-switching-data-should-switch-between-datasets-with-overlapping-keys-2-snap.png
  packages/ag-charts-enterprise/src/series/pie/__image_snapshots__/pie-series-test-ts-pie-series-switching-data-should-switch-between-datasets-with-overlapping-keys-3-snap.png
  packages/ag-charts-enterprise/src/series/pie/pieSeries.test.ts
Owners: @alantreadway

.github/CODEOWNERS:

# NOTE: Order of entries matters - later entries have higher precedence.

# Attribute code-owners so default reviewers are assigned to PRs.
* @ag-grid/ag-charts-team

# Astro + website changes to be reviewed by website team.
*.scss @markdurrant
*.astro @taktran
/packages/ag-charts-website/astro/** @taktran
/packages/ag-charts-website/components/** @taktran
/packages/ag-charts-website/features/** @taktran
/packages/ag-charts-website/layouts/** @taktran
/packages/ag-charts-website/stores/** @taktran
/packages/ag-charts-website/utils/** @taktran

# Docs updates to be reviewed by Eng VP.
/packages/ag-charts-website/content/** @alantreadway @rmc-software
*.mdoc @rmc-software

# Charts library code to be reviewed by Chart TL.
/packages/ag-charts-community/** @alantreadway
/packages/ag-charts-enterprise/** @alantreadway

# Sensitive build/repo files to be reviewed by Chart TL.
**/package.json @alantreadway
nx.json @alantreadway
**/project.json @alantreadway
**/tsconfig.json @alantreadway
**/tsconfig.*.json @alantreadway
