Repository ag-grid/ag-charts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ag-grid/ag-charts-team, @markdurrant, @taktran, @alantreadway, @rmc-software

Add titles to hierarchy tooltips
  packages/ag-charts-community/src/options/series/hierarchy/sunburstOptions.ts
  packages/ag-charts-community/src/options/series/hierarchy/treemapOptions.ts
  packages/ag-charts-enterprise/src/series/sunburst/sunburstSeries.ts
  packages/ag-charts-enterprise/src/series/treemap/treemapSeries.ts
Owners: @alantreadway

AG-9254 Fix animation duration example on frameworks
  packages/ag-charts-website/src/content/docs/animation/_examples/data-updates/index.html
  packages/ag-charts-website/src/content/docs/animation/_examples/duration/index.html
  packages/ag-charts-website/src/content/docs/animation/_examples/duration/main.ts
Owners: @ag-grid/ag-charts-team

Add secondary label to tooltips
  packages/ag-charts-enterprise/src/series/sunburst/sunburstSeries.ts
  packages/ag-charts-enterprise/src/series/treemap/treemapSeries.ts
Owners: @alantreadway

AG-9254 Add text hint to animation duration example
  packages/ag-charts-website/src/content/docs/animation/index.mdoc
Owners: @rmc-software

Fix validation messages, overflow strategy defaults, fill and stroke defaults
  packages/ag-charts-community-examples/src/charts-overview/examples/market-index-treemap/main.ts
  packages/ag-charts-community/src/chart/series/hierarchy/__snapshots__/hierarchySeries.test.ts.snap
  packages/ag-charts-community/src/chart/series/hierarchy/hierarchySeries.ts
  packages/ag-charts-community/src/chart/series/polar/pieSeries.ts
  packages/ag-charts-community/src/chart/themes/chartTheme.ts
  packages/ag-charts-community/src/chart/themes/defaultColors.ts
  packages/ag-charts-community/src/util/validation.ts
  packages/ag-charts-enterprise/src/series/sunburst/sunburstSeriesModule.ts
  packages/ag-charts-enterprise/src/series/treemap/treemapSeriesModule.ts
  packages/ag-charts-website/src/content/gallery/_examples/market-index-treemap/main.ts
Owners: @ag-grid/ag-charts-team, @alantreadway

Cleanup Cross Line docs and examples
  packages/ag-charts-website/src/content/docs/axes-cross-lines/_examples/axis-cross-lines-customising/main.ts
  packages/ag-charts-website/src/content/docs/axes-cross-lines/_examples/polar-axes-crosslines-angle/data.ts
  packages/ag-charts-website/src/content/docs/axes-cross-lines/_examples/polar-axes-crosslines-angle/main.ts
  packages/ag-charts-website/src/content/docs/axes-cross-lines/_examples/polar-axes-crosslines-radius/data.ts
  packages/ag-charts-website/src/content/docs/axes-cross-lines/_examples/polar-axes-crosslines-radius/index.html
  packages/ag-charts-website/src/content/docs/axes-cross-lines/_examples/polar-axes-crosslines-radius/main.ts
  packages/ag-charts-website/src/content/docs/axes-cross-lines/index.mdoc
  packages/ag-charts-website/src/content/menu/data.json
Owners: @ag-grid/ag-charts-team, @rmc-software

Fix example snippets in treemap docs
  packages/ag-charts-website/src/content/docs/treemap-series/index.mdoc
Owners: @rmc-software

Tweak package.json exports to fix Grid import.
  packages/ag-charts-community/package.json
  packages/ag-charts-enterprise/package.json
Owners: @alantreadway

Warn about using enterprise features without importing enterprise
  packages/ag-charts-community/src/chart/background/background.ts
  packages/ag-charts-community/src/chart/factory/chartTypes.ts
  packages/ag-charts-community/src/chart/factory/expectedEnterpriseModules.ts
  packages/ag-charts-community/src/chart/mapping/prepare.ts
  packages/ag-charts-community/src/module-support.ts
  packages/ag-charts-community/src/module/enterpriseModule.ts
  packages/ag-charts-community/src/util/json.test.ts
  packages/ag-charts-community/src/util/json.ts
  packages/ag-charts-enterprise/.prettierignore
  packages/ag-charts-enterprise/src/features/background/background.ts
  packages/ag-charts-enterprise/src/license/licenseManager.ts
  packages/ag-charts-enterprise/src/main.ts
Owners: @alantreadway

cleanup unnecessary changes
  packages/ag-charts-enterprise/src/license/licenseManager.ts
Owners: @alantreadway

Revert "Tweak package.json exports to fix Grid import."
  packages/ag-charts-community/package.json
  packages/ag-charts-enterprise/package.json
Owners: @alantreadway

Sunburst docs
  packages/ag-charts-enterprise/src/__image_snapshots__/gallery-examples-test-ts-gallery-examples-ag-chart-v-2-create-for-market-index-sunburst-graph-example-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-enterprise/src/series/sunburst/__image_snapshots__/sunburst-series-test-ts-sunburst-chart-series-highlighting-should-render-a-complex-chart-1-snap.png
  packages/ag-charts-enterprise/src/series/sunburst/__image_snapshots__/sunburst-series-test-ts-sunburst-chart-series-highlighting-should-render-highlight-at-depth-0-1-snap.png
  packages/ag-charts-enterprise/src/series/sunburst/__image_snapshots__/sunburst-series-test-ts-sunburst-chart-series-highlighting-should-render-highlight-at-depth-1-1-snap.png
  packages/ag-charts-enterprise/src/series/sunburst/__image_snapshots__/sunburst-series-test-ts-sunburst-chart-series-highlighting-should-render-highlight-at-depth-2-1-snap.png
  packages/ag-charts-enterprise/src/series/sunburst/__image_snapshots__/sunburst-series-test-ts-sunburst-chart-series-highlighting-should-render-highlight-at-depth-3-1-snap.png
  packages/ag-charts-enterprise/src/series/sunburst/__image_snapshots__/sunburst-series-test-ts-sunburst-chart-series-labels-for-sunburst-series-labels-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-enterprise/src/series/sunburst/sunburstSeries.ts
  packages/ag-charts-enterprise/src/series/sunburst/sunburstSeriesModule.ts
  packages/ag-charts-enterprise/src/series/treemap/treemapSeries.ts
  packages/ag-charts-website/src/content/docs/sunburst-series/_examples/color-range/data.ts
  packages/ag-charts-website/src/content/docs/sunburst-series/_examples/color-range/index.html
  packages/ag-charts-website/src/content/docs/sunburst-series/_examples/color-range/main.ts
  packages/ag-charts-website/src/content/docs/sunburst-series/_examples/labels/data.ts
  packages/ag-charts-website/src/content/docs/sunburst-series/_examples/labels/index.html
  packages/ag-charts-website/src/content/docs/sunburst-series/_examples/labels/main.ts
  packages/ag-charts-website/src/content/docs/sunburst-series/_examples/org-chart/main.ts
  packages/ag-charts-website/src/content/docs/sunburst-series/_examples/other-colors/data.ts
  packages/ag-charts-website/src/content/docs/sunburst-series/_examples/other-colors/index.html
  packages/ag-charts-website/src/content/docs/sunburst-series/_examples/other-colors/main.ts
  packages/ag-charts-website/src/content/docs/sunburst-series/_examples/sizing/data.ts
  packages/ag-charts-website/src/content/docs/sunburst-series/_examples/sizing/index.html
  packages/ag-charts-website/src/content/docs/sunburst-series/_examples/sizing/main.ts
  packages/ag-charts-website/src/content/docs/sunburst-series/index.mdoc
  packages/ag-charts-website/src/content/docs/treemap-series/index.mdoc
Owners: @alantreadway, @ag-grid/ag-charts-team, @rmc-software

Update theme for dark heatmap
  packages/ag-charts-community/src/chart/themes/darkTheme.ts
Owners: @alantreadway

Change package.json exports to fix Grid import due to ESM/CJS mixup.
  packages/ag-charts-community/package.json
  packages/ag-charts-community/project.json
  packages/ag-charts-enterprise/package.json
  packages/ag-charts-enterprise/project.json
Owners: @alantreadway

Change package.json exports to fix Grid import due to ESM/CJS mixup.
  packages/ag-charts-enterprise/project.json
Owners: @alantreadway

remove enterprise options if not imported
  packages/ag-charts-community/src/chart/factory/expectedEnterpriseModules.ts
  packages/ag-charts-community/src/chart/mapping/prepare.ts
Owners: @alantreadway

cleanup
  packages/ag-charts-community/src/chart/factory/expectedEnterpriseModules.ts
Owners: @alantreadway

Update packages/ag-charts-community/src/module-support.ts
  packages/ag-charts-community/src/module-support.ts
Owners: @alantreadway

Automated package version bump to 9.0.0-beta.20231120.
  packages/ag-charts-angular/package.json
  packages/ag-charts-community-examples/package.json
  packages/ag-charts-community/package.json
  packages/ag-charts-enterprise/package.json
  packages/ag-charts-react/package.json
  packages/ag-charts-vue/package.json
  packages/ag-charts-vue3/package.json
  packages/ag-charts-website/package.json
Owners: @alantreadway

Change package.json exports to fix Grid import due to ESM/CJS mixup.
  packages/ag-charts-community/package.json
  packages/ag-charts-community/project.json
  packages/ag-charts-enterprise/package.json
  packages/ag-charts-enterprise/project.json
Owners: @alantreadway

Change package.json exports to fix Grid import due to ESM/CJS mixup.
  packages/ag-charts-enterprise/project.json
Owners: @alantreadway

watermark wip
  packages/ag-charts-community/src/chart/agChartV2.ts
  packages/ag-charts-community/src/chart/interaction/interactionManager.ts
  packages/ag-charts-community/src/chart/tooltip/tooltip.ts
  packages/ag-charts-community/src/module-support.ts
  packages/ag-charts-community/src/util/dom.ts
  packages/ag-charts-enterprise/src/license/watermark.ts
Owners: @alantreadway

AG-3390 - Add dummy release notes content for testing
  packages/ag-charts-website/public/changelog/releaseVersionNotes.json
  packages/ag-charts-website/public/changelog/releases/30_2_1.md
Owners: @ag-grid/ag-charts-team

AG-3390 - Fix formatting issue
  packages/ag-charts-website/public/changelog/releases/30_2_1.md
Owners: @ag-grid/ag-charts-team

AG-9818 - Fix ag-charts-community JS hot-reload.
  packages/all/project.json
Owners: @alantreadway

working watermark
  packages/ag-charts-community/src/chart/agChartV2.ts
  packages/ag-charts-community/src/module/enterpriseModule.ts
  packages/ag-charts-enterprise/src/license/watermark.ts
  packages/ag-charts-enterprise/src/main.ts
Owners: @alantreadway

AG-9323 Add OPT_NON_EMPTY_ARRAY validation
  packages/ag-charts-community/src/util/validation.ts
  packages/ag-charts-enterprise/src/series/bullet/bulletSeries.ts
Owners: @alantreadway

AG-9323 Ignore empty colorRange[] array
  packages/ag-charts-enterprise/src/series/bullet/__image_snapshots__/bullet-series-test-ts-bullet-series-should-ignore-empty-color-range-arrays-1-snap.png
  packages/ag-charts-enterprise/src/series/bullet/bulletSeries.test.ts
  packages/ag-charts-enterprise/src/series/bullet/bulletSeries.ts
Owners: @alantreadway

AG-9323 Fix eslint errors
  packages/ag-charts-enterprise/src/series/bullet/bulletSeries.test.ts
Owners: @alantreadway

AG-9323 Fix empty colorRange[] test
  packages/ag-charts-enterprise/src/series/bullet/__image_snapshots__/bullet-series-test-ts-bullet-series-validation-should-ignore-empty-color-range-arrays-1-snap.png
  packages/ag-charts-enterprise/src/series/bullet/bulletSeries.test.ts
Owners: @alantreadway

AG-9301 Disable crosshair on bullet series
  packages/ag-charts-enterprise/src/series/bullet/__image_snapshots__/bullet-series-test-ts-bullet-series-should-not-render-crosshair-1-snap.png
  packages/ag-charts-enterprise/src/series/bullet/bulletDefaults.ts
  packages/ag-charts-enterprise/src/series/bullet/bulletSeries.test.ts
Owners: @alantreadway

Treemap theme updates
  packages/ag-charts-community-examples/src/charts-overview/examples/market-index-treemap/main.ts
  packages/ag-charts-community/src/chart/series/test/examples.ts
  packages/ag-charts-community/src/options/series/hierarchy/treemapOptions.ts
  packages/ag-charts-enterprise/src/__image_snapshots__/gallery-examples-test-ts-gallery-examples-ag-chart-v-2-create-for-market-index-treemap-graph-example-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-enterprise/src/series/sunburst/sunburstSeries.ts
  packages/ag-charts-enterprise/src/series/treemap/__image_snapshots__/treemap-series-test-ts-hierarchy-chart-series-highlighting-should-render-a-complex-chart-1-snap.png
  packages/ag-charts-enterprise/src/series/treemap/__image_snapshots__/treemap-series-test-ts-hierarchy-chart-series-highlighting-should-render-highlight-at-depth-0-1-snap.png
  packages/ag-charts-enterprise/src/series/treemap/__image_snapshots__/treemap-series-test-ts-hierarchy-chart-series-highlighting-should-render-highlight-at-depth-1-1-snap.png
  packages/ag-charts-enterprise/src/series/treemap/__image_snapshots__/treemap-series-test-ts-hierarchy-chart-series-highlighting-should-render-highlight-at-depth-2-1-snap.png
  packages/ag-charts-enterprise/src/series/treemap/__image_snapshots__/treemap-series-test-ts-hierarchy-chart-series-highlighting-should-render-highlight-at-depth-3-1-snap.png
  packages/ag-charts-enterprise/src/series/treemap/__image_snapshots__/treemap-series-test-ts-hierarchy-chart-series-labels-for-treemap-series-labels-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-enterprise/src/series/treemap/treemapSeries.ts
  packages/ag-charts-enterprise/src/series/treemap/treemapSeriesModule.ts
  packages/ag-charts-website/src/content/docs/sunburst-series/_examples/labels/data.ts
  packages/ag-charts-website/src/content/docs/sunburst-series/_examples/labels/index.html
  packages/ag-charts-website/src/content/docs/sunburst-series/_examples/labels/main.ts
  packages/ag-charts-website/src/content/docs/treemap-series/_examples/color-scale/main.ts
  packages/ag-charts-website/src/content/docs/treemap-series/_examples/labels/main.ts
  packages/ag-charts-website/src/content/docs/treemap-series/_examples/layout/main.ts
  packages/ag-charts-website/src/content/docs/treemap-series/_examples/other-colors/main.ts
  packages/ag-charts-website/src/content/docs/treemap-series/index.mdoc
Owners: @ag-grid/ag-charts-team, @alantreadway, @rmc-software

Update docs for overflow strategy
  packages/ag-charts-community/src/options/chart/types.ts
Owners: @alantreadway

AG-9018 Fix data and error randomisation
  packages/ag-charts-website/src/content/docs/error-bars-test/_examples/temperatures/main.ts
Owners: @ag-grid/ag-charts-team

AG-9018 Find & replace AgEnterpriseCharts to AgCharts
  packages/ag-charts-website/src/content/docs/error-bars-test/_examples/boyles/main.ts
  packages/ag-charts-website/src/content/docs/error-bars-test/_examples/temperatures/main.ts
Owners: @ag-grid/ag-charts-team

Updates to charts dark mode styling
  packages/ag-charts-community/src/chart/themes/darkTheme.ts
  packages/ag-charts-website/src/components/search/gridSearchBox.module.scss
  packages/ag-charts-website/src/design-system/_base.scss
  packages/ag-charts-website/src/design-system/components/_code.scss
  packages/ag-charts-website/src/design-system/components/_containers.scss
  packages/ag-charts-website/src/design-system/core/_variables.scss
  packages/ag-charts-website/src/features/example-runner/components/ExampleRunner.module.scss
  packages/ag-charts-website/src/features/example-runner/framework-templates/lib/ExampleStyle.tsx
Owners: @alantreadway, @markdurrant, @ag-grid/ag-charts-team

Scrollbar colour fixes in dark mode
  packages/ag-charts-website/src/design-system/_base.scss
Owners: @markdurrant

Fix some sunburst geometry edgecases
  packages/ag-charts-community/src/scene/shape/__image_snapshots__/sector-test-ts-sector-rendering-should-render-as-expected-1-snap.png
  packages/ag-charts-community/src/scene/shape/sector.test.ts
  packages/ag-charts-community/src/scene/shape/sector.ts
Owners: @alantreadway

Updates to background color
  packages/ag-charts-website/src/pages/gallery.astro
Owners: @taktran

Add missing import that somehow vanished
  packages/ag-charts-enterprise/src/series/bullet/bulletSeries.test.ts
Owners: @alantreadway

.github/CODEOWNERS:

# NOTE: Order of entries matters - later entries have higher precedence.

# Attribute code-owners so default reviewers are assigned to PRs.
* @ag-grid/ag-charts-team

# Astro + website changes to be reviewed by website team.
*.scss @markdurrant
*.astro @taktran
/packages/ag-charts-website/astro/** @taktran
/packages/ag-charts-website/components/** @taktran
/packages/ag-charts-website/features/** @taktran
/packages/ag-charts-website/layouts/** @taktran
/packages/ag-charts-website/stores/** @taktran
/packages/ag-charts-website/utils/** @taktran

# Docs updates to be reviewed by Eng VP.
/packages/ag-charts-website/content/** @alantreadway @rmc-software
*.mdoc @rmc-software

# Charts library code to be reviewed by Chart TL.
/packages/ag-charts-community/** @alantreadway
/packages/ag-charts-enterprise/** @alantreadway

# Sensitive build/repo files to be reviewed by Chart TL.
**/package.json @alantreadway
nx.json @alantreadway
**/project.json @alantreadway
**/tsconfig.json @alantreadway
**/tsconfig.*.json @alantreadway
