Repository ag-grid/ag-charts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ag-grid/ag-charts-team, @markdurrant, @taktran, @alantreadway, @rmc-software

.github/CODEOWNERS:

# NOTE: Order of entries matters - later entries have higher precedence.

# Attribute code-owners so default reviewers are assigned to PRs.
* @ag-grid/ag-charts-team

# Astro + website changes to be reviewed by website team.
*.scss @markdurrant
*.astro @taktran
/packages/ag-charts-website/astro/** @taktran
/packages/ag-charts-website/components/** @taktran
/packages/ag-charts-website/features/** @taktran
/packages/ag-charts-website/layouts/** @taktran
/packages/ag-charts-website/stores/** @taktran
/packages/ag-charts-website/utils/** @taktran

# Docs updates to be reviewed by Eng VP.
/packages/ag-charts-website/content/** @alantreadway @rmc-software
*.mdoc @rmc-software

# Charts library code to be reviewed by Chart TL.
/packages/ag-charts-community/** @alantreadway
/packages/ag-charts-enterprise/** @alantreadway

# Sensitive build/repo files to be reviewed by Chart TL.
**/package.json @alantreadway
nx.json @alantreadway
**/project.json @alantreadway
**/tsconfig.json @alantreadway
**/tsconfig.*.json @alantreadway

AG-9570 - Remove stroke from stacked area example cross range
  packages/ag-charts-website/src/content/gallery/_examples/stacked-area/main.ts
Owners: @ag-grid/ag-charts-team

AG-9574 - Remove gallery separator line
  packages/ag-charts-website/src/pages/gallery.astro
Owners: @taktran

Improve consistency between process data invariants
  packages/ag-charts-community/src/chart/series/cartesian/areaSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/barSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/bubbleSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/lineSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/scatterSeries.ts
  packages/ag-charts-community/src/chart/series/polar/pieSeries.ts
Owners: @alantreadway

AG-9574 - Update gallery simple scatter example
  packages/ag-charts-website/src/content/gallery/_examples/simple-scatter/data.ts
  packages/ag-charts-website/src/content/gallery/_examples/simple-scatter/main.ts
Owners: @ag-grid/ag-charts-team

AG-9574 - Update gallery multiple line series example
  packages/ag-charts-website/src/content/gallery/_examples/multiple-line-series/data.ts
  packages/ag-charts-website/src/content/gallery/_examples/multiple-line-series/main.ts
Owners: @ag-grid/ag-charts-team

WIP: nx format
  packages/ag-charts-website/update-algolia.js
Owners: @ag-grid/ag-charts-team

WIP: fix lint + scroll position
  packages/ag-charts-website/src/components/top-bar/TopBar.module.scss
  packages/ag-charts-website/src/design-system/_base.scss
  packages/ag-charts-website/src/features/api-documentation/components/ApiReference.tsx
  packages/ag-charts-website/src/features/api-documentation/components/ApiReferencePage.module.scss
  packages/ag-charts-website/src/features/api-documentation/utils/useHistory.ts
  packages/ag-charts-website/src/layouts/APIViewLayout.astro
Owners: @markdurrant, @ag-grid/ag-charts-team, @taktran

WIP: cleanup
  packages/ag-charts-website/src/components/link-icon/LinkIcon.module.scss
  packages/ag-charts-website/src/components/link-icon/LinkIcon.tsx
  packages/ag-charts-website/src/features/api-documentation/components/ApiReference.module.scss
  packages/ag-charts-website/src/features/api-documentation/components/ApiReference.tsx
  packages/ag-charts-website/src/features/api-documentation/components/ApiReferencePage.tsx
  packages/ag-charts-website/src/features/api-documentation/components/Properies.tsx
  packages/ag-charts-website/src/features/api-documentation/constants.ts
  packages/ag-charts-website/src/features/api-documentation/types.d.ts
  packages/ag-charts-website/src/features/api-documentation/utils/documentationHelpers.ts
  packages/ag-charts-website/src/features/api-documentation/utils/dom.ts
  packages/ag-charts-website/src/features/api-documentation/utils/getShouldLimitChildren.test.ts
  packages/ag-charts-website/src/features/api-documentation/utils/getShouldLimitChildren.ts
  packages/ag-charts-website/src/features/api-documentation/utils/getShouldLimitParent.test.ts
  packages/ag-charts-website/src/features/api-documentation/utils/getShouldLimitParent.ts
  packages/ag-charts-website/src/features/api-documentation/utils/getTopLevelSelectionChanged.test.ts
  packages/ag-charts-website/src/features/api-documentation/utils/getTopLevelSelectionChanged.ts
  packages/ag-charts-website/src/features/api-documentation/utils/getTypeLinks.ts
  packages/ag-charts-website/src/features/api-documentation/utils/modelPath.test.ts
  packages/ag-charts-website/src/features/api-documentation/utils/modelPath.ts
  packages/ag-charts-website/src/features/api-documentation/utils/navigation.ts
  packages/ag-charts-website/src/features/api-documentation/utils/removeTopLevelPath.test.ts
  packages/ag-charts-website/src/features/api-documentation/utils/removeTopLevelPath.ts
  packages/ag-charts-website/src/features/api-documentation/utils/useHistory.ts
  packages/ag-charts-website/src/features/api-explorer/components/Editors.tsx
  packages/ag-charts-website/src/features/api-explorer/components/Options.tsx
  packages/ag-charts-website/src/features/api-explorer/utils/model.ts
  packages/ag-charts-website/src/features/api-explorer/utils/utils.ts
  packages/ag-charts-website/src/pages/debug/interface-models/[interfaceName].json.ts
Owners: @markdurrant, @ag-grid/ag-charts-team

WIP: cleanup
  packages/ag-charts-website/src/components/ChildrenSeparator.tsx
  packages/ag-charts-website/src/design-system/components/_containers.scss
  packages/ag-charts-website/src/features/api-documentation/components/Properies.tsx
  packages/ag-charts-website/src/features/api-documentation/components/SearchBox.tsx
  packages/ag-charts-website/src/features/api-documentation/utils/navigation.ts
  packages/ag-charts-website/src/layouts/APIViewLayout.astro
Owners: @ag-grid/ag-charts-team, @markdurrant, @taktran

AG-9655 Implement algolia search in charts
  packages/ag-charts-website/src/components/search/Search.tsx
Owners: @ag-grid/ag-charts-team

nx format
  packages/ag-charts-website/update-algolia.js
Owners: @ag-grid/ag-charts-team

AG-9272 Apply highlightStyle.series.dimOpacity on error bars
  packages/ag-charts-enterprise/src/features/error-bar/__image_snapshots__/error-bar-test-ts-error-bars-should-dim-opacity-on-highlight-1-snap.png
  packages/ag-charts-enterprise/src/features/error-bar/__image_snapshots__/error-bar-test-ts-error-bars-should-dim-opacity-on-highlight-2-snap.png
  packages/ag-charts-enterprise/src/features/error-bar/errorBar.test.ts
  packages/ag-charts-enterprise/src/features/error-bar/errorBar.ts
Owners: @alantreadway

AG-9022 Docs: Add tooltip/formatter API tabs for error bars
  packages/ag-charts-community/src/options/chart/errorBarOptions.ts
  packages/ag-charts-enterprise/src/features/error-bar/errorBar.ts
  packages/ag-charts-enterprise/src/features/error-bar/errorBarNode.ts
  packages/ag-charts-website/src/content/docs/error-bars/index.mdoc
Owners: @alantreadway, @rmc-software

AG-8636 Fix zoom min visible items when swapping axes
  packages/ag-charts-enterprise/src/features/zoom/zoom.ts
Owners: @alantreadway

AG-8636 Add 'update-complete' event with min rect to fix zoom
  packages/ag-charts-community/src/chart/cartesianChart.ts
  packages/ag-charts-community/src/chart/chart.ts
  packages/ag-charts-community/src/chart/layout/layoutService.ts
  packages/ag-charts-community/src/chart/updateService.ts
  packages/ag-charts-enterprise/src/features/zoom/zoom.ts
Owners: @alantreadway

AG-8636 Fix zoom tests for min visible items
  packages/ag-charts-enterprise/src/features/zoom/__image_snapshots__/zoom-test-ts-zoom-flipped-axes-should-zoom-on-the-flipped-axis-1-snap.png
  packages/ag-charts-enterprise/src/features/zoom/__image_snapshots__/zoom-test-ts-zoom-flipped-axes-should-zoom-to-minimum-visible-items-1-snap.png
  packages/ag-charts-enterprise/src/features/zoom/__image_snapshots__/zoom-test-ts-zoom-min-visible-items-should-not-zoom-past-the-minimum-visible-items-1-snap.png
  packages/ag-charts-enterprise/src/features/zoom/zoom.test.ts
Owners: @alantreadway

AG-9574 - Update gallery bubble with categories example
  packages/ag-charts-website/src/content/gallery/_examples/bubble-with-categories/main.ts
Owners: @ag-grid/ag-charts-team

Add CartesianSeriesNodeDataContext.visible.
  packages/ag-charts-community/src/chart/series/cartesian/areaSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/barSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/bubbleSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/cartesianSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/lineSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/scatterSeries.ts
  packages/ag-charts-enterprise/src/series/box-plot/boxPlotSeries.ts
  packages/ag-charts-enterprise/src/series/heatmap/heatmapSeries.ts
  packages/ag-charts-enterprise/src/series/histogram/histogramSeries.ts
  packages/ag-charts-enterprise/src/series/range-area/rangeArea.ts
  packages/ag-charts-enterprise/src/series/range-bar/rangeBar.ts
  packages/ag-charts-enterprise/src/series/waterfall/waterfallSeries.ts
Owners: @alantreadway

Cleanup dev-server tooling.
  packages/ag-charts-community/.eslintignore
  packages/ag-charts-community/tools/dev-server/.gitignore
  packages/ag-charts-community/tools/dev-server/README.md
  packages/ag-charts-community/tools/dev-server/dev-server.js
  packages/ag-charts-community/tools/dev-server/index.js
  packages/ag-charts-community/tools/dev-server/livereload-server.js
  packages/ag-charts-community/tools/dev-server/templates/example.html
  packages/ag-charts-community/tools/dev-server/templates/index.html
  packages/ag-charts-community/tools/dev-server/transpiler.js
  packages/ag-charts-community/tools/dev-server/tsconfig.json
  packages/ag-charts-community/tools/dev-server/types.d.ts
  packages/ag-charts-community/tools/dev-server/utils.js
Owners: @alantreadway

Remove redundant console.log.
  packages/ag-charts-website/src/components/search/Search.tsx
Owners: @ag-grid/ag-charts-team

AG-8648 Add module conflicts handling for zoom and navigator
  packages/ag-charts-community/src/chart/factory/setupModules.ts
  packages/ag-charts-community/src/chart/mapping/defaults.ts
  packages/ag-charts-community/src/chart/mapping/prepare.ts
  packages/ag-charts-community/src/module/coreModules.ts
  packages/ag-charts-community/src/module/module.ts
  packages/ag-charts-enterprise/src/features/zoom/zoomModule.ts
  packages/ag-charts-website/src/content/docs/zoom/index.mdoc
Owners: @alantreadway, @rmc-software

Fix warn message duplication of prefix
  packages/ag-charts-community/src/chart/mapping/prepare.ts
Owners: @alantreadway

AreaSeries legend toggle improvements.
  packages/ag-charts-community/src/chart/series/cartesian/areaSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/areaUtil.ts
  packages/ag-charts-community/src/chart/series/cartesian/cartesianSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/lineSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/lineUtil.ts
  packages/ag-charts-community/src/chart/series/cartesian/markerUtil.ts
  packages/ag-charts-community/src/chart/series/cartesian/pathUtil.ts
  packages/ag-charts-enterprise/src/series/range-area/rangeArea.ts
Owners: @alantreadway

Fix PieSeries innerCircle radius animation.
  packages/ag-charts-community/src/chart/series/polar/pieSeries.ts
  packages/ag-charts-community/src/chart/series/polar/pieUtil.ts
  packages/ag-charts-website/src/content/docs/pie-series-test/_examples/animation-doughnut/index.html
  packages/ag-charts-website/src/content/docs/pie-series-test/_examples/animation-doughnut/main.ts
  packages/ag-charts-website/src/content/docs/pie-series-test/index.mdoc
Owners: @alantreadway, @ag-grid/ag-charts-team, @rmc-software

Remove redundant example buttons.
  packages/ag-charts-website/src/content/docs/pie-series-test/_examples/animation-doughnut/index.html
Owners: @ag-grid/ag-charts-team

AG-8648 Fix module conflicts to actually override the options
  packages/ag-charts-community/src/chart/mapping/defaults.ts
  packages/ag-charts-community/src/chart/mapping/prepare.ts
Owners: @alantreadway

AG-9655 - Fix documentation link
  packages/ag-charts-website/src/pages/documentation.astro
Owners: @taktran

AG-9655 - Make `SITE_URL` accessible on client side
  packages/ag-charts-website/.env.build
  packages/ag-charts-website/.env.build.production
  packages/ag-charts-website/.env.build.staging
  packages/ag-charts-website/.env.dev
  packages/ag-charts-website/.env.preview
  packages/ag-charts-website/.env.preview.production
  packages/ag-charts-website/.env.preview.staging
  packages/ag-charts-website/astro.config.mjs
  packages/ag-charts-website/src/features/example-runner/framework-templates/lib/SystemJs.tsx
  packages/ag-charts-website/src/features/gallery/utils/urlPaths.ts
  packages/ag-charts-website/src/utils/env.ts
Owners: @ag-grid/ag-charts-team

AG-9655 - Make `SITE_BASE_URL` accessible on the client side
  packages/ag-charts-website/.env.build.staging
  packages/ag-charts-website/.env.preview.staging
  packages/ag-charts-website/astro.config.mjs
  packages/ag-charts-website/src/constants.ts
  packages/ag-charts-website/src/features/docs/utils/urlPaths.ts
Owners: @ag-grid/ag-charts-team

AG-8648 Update zoom and navigator to reset on enable/disable
  packages/ag-charts-enterprise/src/features/navigator/navigator.ts
  packages/ag-charts-enterprise/src/features/zoom/zoom.ts
Owners: @alantreadway

AG-9655 - Make site url env vars accessible on client side (#430)
  packages/ag-charts-website/.env.build
  packages/ag-charts-website/.env.build.production
  packages/ag-charts-website/.env.build.staging
  packages/ag-charts-website/.env.dev
  packages/ag-charts-website/.env.preview
  packages/ag-charts-website/.env.preview.production
  packages/ag-charts-website/.env.preview.staging
  packages/ag-charts-website/astro.config.mjs
  packages/ag-charts-website/src/constants.ts
  packages/ag-charts-website/src/features/docs/utils/urlPaths.ts
  packages/ag-charts-website/src/features/example-runner/framework-templates/lib/SystemJs.tsx
  packages/ag-charts-website/src/features/gallery/utils/urlPaths.ts
  packages/ag-charts-website/src/pages/documentation.astro
  packages/ag-charts-website/src/utils/env.ts
Owners: @ag-grid/ag-charts-team, @taktran

Ensure consistency with bar chart axes
  packages/ag-charts-community/src/chart/factory/seriesTypes.ts
  packages/ag-charts-community/src/chart/mapping/prepareSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/barSeriesModule.ts
  packages/ag-charts-community/src/module/coreModules.ts
Owners: @alantreadway

Remove gradient from treemap
  packages/ag-charts-community/src/chart/series/test/examples.ts
  packages/ag-charts-community/src/options/series/hierarchy/treemapOptions.ts
  packages/ag-charts-enterprise/src/series/treemap/treemapSeries.ts
  packages/ag-charts-enterprise/src/series/treemap/treemapSeriesModule.ts
Owners: @alantreadway

Update series options type constraint
  packages/ag-charts-community/src/module/coreModules.ts
Owners: @alantreadway

Infer series options
  packages/ag-charts-community/src/chart/series/cartesian/barSeriesModule.ts
  packages/ag-charts-community/src/module/coreModules.ts
Owners: @alantreadway

AG-9655 Implement algolia search in charts
  packages/ag-charts-website/src/components/search/SearchResult.tsx
  packages/ag-charts-website/src/constants.ts
Owners: @ag-grid/ag-charts-team

AG-9655 Implement algolia search in charts
  .gitignore
  packages/ag-charts-website/update-algolia.js
Owners: @ag-grid/ag-charts-team

Fix typescript
  packages/ag-charts-community/src/module/coreModules.ts
  packages/ag-charts-community/src/module/module.ts
Owners: @alantreadway

Update tests, snapshots
  packages/ag-charts-community/src/options/series/hierarchy/treemapOptions.ts
  packages/ag-charts-enterprise/src/__image_snapshots__/gallery-examples-test-ts-gallery-examples-ag-chart-v-2-create-for-market-index-treemap-graph-example-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-enterprise/src/series/treemap/__image_snapshots__/treemap-series-test-ts-hierarchy-chart-series-highlighting-should-render-a-complex-chart-1-snap.png
  packages/ag-charts-enterprise/src/series/treemap/__image_snapshots__/treemap-series-test-ts-hierarchy-chart-series-highlighting-should-render-highlight-at-depth-0-1-snap.png
  packages/ag-charts-enterprise/src/series/treemap/__image_snapshots__/treemap-series-test-ts-hierarchy-chart-series-highlighting-should-render-highlight-at-depth-1-1-snap.png
  packages/ag-charts-enterprise/src/series/treemap/__image_snapshots__/treemap-series-test-ts-hierarchy-chart-series-highlighting-should-render-highlight-at-depth-2-1-snap.png
  packages/ag-charts-enterprise/src/series/treemap/__image_snapshots__/treemap-series-test-ts-hierarchy-chart-series-highlighting-should-render-highlight-at-depth-3-1-snap.png
  packages/ag-charts-enterprise/src/series/treemap/__image_snapshots__/treemap-series-test-ts-hierarchy-chart-series-labels-for-treemap-series-labels-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-enterprise/src/series/treemap/treemapSeriesModule.ts
  packages/ag-charts-website/src/content/docs/treemap-series/_examples/custom-colors/main.ts
Owners: @alantreadway, @ag-grid/ag-charts-team

AG-8524 Change zoom to skip animation on that update
  packages/ag-charts-community/src/chart/chart.ts
  packages/ag-charts-community/src/chart/updateService.ts
  packages/ag-charts-enterprise/src/features/zoom/zoom.ts
Owners: @alantreadway
