Repository ag-grid/ag-charts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ag-grid/ag-charts-team, @markdurrant, @taktran, @alantreadway, @rmc-software

.github/CODEOWNERS:

# NOTE: Order of entries matters - later entries have higher precedence.

# Attribute code-owners so default reviewers are assigned to PRs.
* @ag-grid/ag-charts-team

# Astro + website changes to be reviewed by website team.
*.scss @markdurrant
*.astro @taktran
/packages/ag-charts-website/astro/** @taktran
/packages/ag-charts-website/components/** @taktran
/packages/ag-charts-website/features/** @taktran
/packages/ag-charts-website/layouts/** @taktran
/packages/ag-charts-website/stores/** @taktran
/packages/ag-charts-website/utils/** @taktran

# Docs updates to be reviewed by Eng VP.
/packages/ag-charts-website/content/** @alantreadway @rmc-software
*.mdoc @rmc-software

# Charts library code to be reviewed by Chart TL.
/packages/ag-charts-community/** @alantreadway
/packages/ag-charts-enterprise/** @alantreadway

# Sensitive build/repo files to be reviewed by Chart TL.
**/package.json @alantreadway
nx.json @alantreadway
**/project.json @alantreadway
**/tsconfig.json @alantreadway
**/tsconfig.*.json @alantreadway

WIP
  packages/ag-charts-community/src/chart/series/polar/pieSeries.ts
  packages/ag-charts-community/src/scene/shape/sector.ts
  packages/ag-charts-enterprise/src/series/radial-bar/radialBarSeries.ts
Owners: @alantreadway

AG-11084 - Only force legend grid layout result if both width and height constraints are set
  packages/ag-charts-community/src/chart/legend.ts
Owners: @alantreadway

Update benchmarks for latest.
  packages/ag-charts-website/src/content/docs/benchmarks/_examples/summary/data.ts
Owners: @ag-grid/ag-charts-team

AG-11080 Fix zoom range example with defined dates
  packages/ag-charts-website/src/content/docs/zoom/_examples/zoom-range/main.ts
Owners: @ag-grid/ag-charts-team

Improve debug stats completeness on short-circuited updates.
  packages/ag-charts-community/src/chart/chart.ts
  packages/ag-charts-community/src/scene/scene.ts
  packages/ag-charts-community/src/scene/sceneDebug.ts
Owners: @alantreadway

Automated package version bump to 9.2.0-beta.20240321.
  .env
  libraries/ag-charts-test/package.json
  package.json
  packages/ag-charts-angular/package.json
  packages/ag-charts-angular/projects/ag-charts-angular/package.json
  packages/ag-charts-community-examples/package.json
  packages/ag-charts-community/package.json
  packages/ag-charts-community/src/version.ts
  packages/ag-charts-enterprise/package.json
  packages/ag-charts-react/package.json
  packages/ag-charts-vue/package.json
  packages/ag-charts-vue3/package.json
  packages/ag-charts-website/.env.build
  packages/ag-charts-website/.env.build.archive
  packages/ag-charts-website/.env.build.production
  packages/ag-charts-website/.env.build.staging
  packages/ag-charts-website/.env.dev
  packages/ag-charts-website/.env.preview
  packages/ag-charts-website/.env.preview.production
  packages/ag-charts-website/.env.preview.staging
  packages/ag-charts-website/package.json
  plugins/ag-charts-generate-chart-thumbnail/package.json
  plugins/ag-charts-generate-code-reference-files/package.json
  plugins/ag-charts-generate-example-files/package.json
Owners: @ag-grid/ag-charts-team, @alantreadway

Restore alpha features.
  packages/ag-charts-community/src/chart/chartAxesTypes.ts
  packages/ag-charts-community/src/chart/mapping/prepareAxis.ts
  packages/ag-charts-community/src/module/coreModules.ts
  packages/ag-charts-community/src/module/coreModulesTypes.ts
  packages/ag-charts-community/src/options/agChartOptions.ts
  packages/ag-charts-community/src/options/chart/chartOptions.ts
  packages/ag-charts-community/src/options/chart/navigatorOptions.ts
  packages/ag-charts-community/src/options/chart/themeOptions.ts
  packages/ag-charts-community/src/options/next.ts
  packages/ag-charts-community/src/options/series/cartesian/cartesianOptions.ts
  packages/ag-charts-community/src/options/series/cartesian/cartesianSeriesTypes.ts
  packages/ag-charts-enterprise/src/axes/ordinal/ordinalTimeAxisModule.ts
  packages/ag-charts-enterprise/src/series/candlestick/candlestickGroup.ts
  packages/ag-charts-enterprise/src/series/candlestick/candlestickModule.ts
  packages/ag-charts-enterprise/src/series/candlestick/candlestickSeries.ts
  packages/ag-charts-enterprise/src/series/candlestick/candlestickSeriesProperties.ts
  packages/ag-charts-website/src/components/pages-navigation/PagesNavigation.tsx
  packages/ag-charts-website/src/content/config.ts
  packages/ag-charts-website/src/content/docs/financial-charts/_examples/candlestick-plus-volume/main.ts
  packages/ag-charts-website/src/content/docs/financial-charts/_examples/candlestick-volume-combo/main.ts
  packages/ag-charts-website/src/content/docs/financial-charts/_examples/stock-tracking/main.ts
  packages/ag-charts-website/src/content/menu/data.json
Owners: @alantreadway, @ag-grid/ag-charts-team

AG-10196 Add corner radius to polar series
  packages/ag-charts-community/src/chart/series/polar/donutSeries.ts
  packages/ag-charts-community/src/chart/series/polar/donutSeriesProperties.ts
  packages/ag-charts-community/src/chart/series/polar/pieSeries.ts
  packages/ag-charts-community/src/chart/series/polar/pieSeriesProperties.ts
  packages/ag-charts-community/src/scene/shape/sector.ts
  packages/ag-charts-enterprise/src/series/nightingale/nightingaleSeries.ts
  packages/ag-charts-enterprise/src/series/nightingale/nightingaleSeriesProperties.ts
  packages/ag-charts-enterprise/src/series/radial-bar/radialBarSeries.ts
  packages/ag-charts-enterprise/src/series/radial-bar/radialBarSeriesProperties.ts
  packages/ag-charts-enterprise/src/series/sunburst/sunburstSeries.ts
  packages/ag-charts-enterprise/src/series/sunburst/sunburstSeriesProperties.ts
Owners: @alantreadway

AG-10851 - Add financial charts menu group
  packages/ag-charts-website/src/components/pages-navigation/PagesNavigation.tsx
  packages/ag-charts-website/src/content/menu/data.json
  packages/ag-charts-website/src/design-system/modules/PagesNavigation.module.scss
Owners: @ag-grid/ag-charts-team, @markdurrant

AG-10847 - Increase highlight strokeWidth default for candlestick series items to make hollow bars stand out
  packages/ag-charts-enterprise/src/series/candlestick/candlestickThemes.ts
Owners: @alantreadway

AG-10851 - Fix typo
  packages/ag-charts-website/src/components/pages-navigation/PagesNavigation.tsx
Owners: @ag-grid/ag-charts-team

AG-10196 Fix sector corner radii edge cases
  packages/ag-charts-community/src/scene/shape/sector.ts
Owners: @alantreadway

Update snapshots
  packages/ag-charts-community/src/chart/__image_snapshots__/integrated-charts-examples-test-ts-integrated-charts-examples-changing-chart-type-for-donut-basic-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-community/src/chart/__image_snapshots__/integrated-charts-examples-test-ts-integrated-charts-examples-changing-chart-type-for-pie-basic-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-community/src/chart/series/polar/__image_snapshots__/donut-series-test-ts-donut-series-create-one-zerosum-donut-1-snap.png
  packages/ag-charts-community/src/chart/series/polar/__image_snapshots__/donut-series-test-ts-donut-series-create-two-zerosum-donuts-1-snap.png
  packages/ag-charts-community/src/chart/series/polar/__image_snapshots__/donut-series-test-ts-donut-series-create-zerosum-donut-1-snap.png
  packages/ag-charts-community/src/chart/series/polar/__image_snapshots__/pie-series-test-ts-pie-series-create-zerosum-pie-1-snap.png
  packages/ag-charts-community/src/chart/series/polar/__image_snapshots__/polar-series-test-ts-polar-series-add-animation-for-pie-series-should-animate-at-0-1-snap.png
  packages/ag-charts-community/src/chart/series/polar/__image_snapshots__/polar-series-test-ts-polar-series-create-for-pie-series-negative-values-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-community/src/chart/series/polar/__image_snapshots__/polar-series-test-ts-polar-series-initial-animation-for-pie-series-should-animate-at-0-1-snap.png
Owners: @alantreadway

Change cornerRadiusBBox to clipBBox
  packages/ag-charts-community/src/chart/__image_snapshots__/cartesian-chart-test-ts-cartesian-chart-stacked-bar-series-highlighting-should-correctly-change-highlighting-state-and-reset-1-snap.png
  packages/ag-charts-community/src/chart/__image_snapshots__/cartesian-chart-test-ts-cartesian-chart-stacked-bar-series-highlighting-should-correctly-change-highlighting-state-and-reset-2-snap.png
  packages/ag-charts-community/src/chart/__image_snapshots__/cartesian-chart-test-ts-cartesian-chart-stacked-bar-series-highlighting-should-render-series-with-y-key-local-authority-appropriately-1-snap.png
  packages/ag-charts-community/src/chart/__image_snapshots__/cartesian-chart-test-ts-cartesian-chart-stacked-bar-series-highlighting-should-render-series-with-y-key-owner-occupied-appropriately-1-snap.png
  packages/ag-charts-community/src/chart/__image_snapshots__/cartesian-chart-test-ts-cartesian-chart-stacked-bar-series-highlighting-should-render-series-with-y-key-private-rented-appropriately-1-snap.png
  packages/ag-charts-community/src/chart/__image_snapshots__/gallery-examples-test-ts-gallery-examples-ag-chart-v-2-create-for-stacked-column-graph-example-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/barSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/barUtil.ts
  packages/ag-charts-community/src/chart/series/cartesian/histogramSeriesProperties.ts
  packages/ag-charts-community/src/module-support.ts
  packages/ag-charts-community/src/scene/shape/rect.test.ts
  packages/ag-charts-community/src/scene/shape/rect.ts
  packages/ag-charts-community/src/scene/util/shapes.ts
  packages/ag-charts-enterprise/src/features/crosshair/__image_snapshots__/crosshair-test-ts-crosshair-should-follow-mouse-pointer-on-series-hover-6-snap.png
  packages/ag-charts-enterprise/src/features/crosshair/__image_snapshots__/crosshair-test-ts-crosshair-should-snap-to-the-closest-highlighted-node-datum-6-snap.png
  packages/ag-charts-enterprise/src/series/box-plot/boxPlotGroup.ts
  packages/ag-charts-enterprise/src/series/bullet/bulletSeries.ts
  packages/ag-charts-enterprise/src/series/range-bar/rangeBar.ts
  packages/ag-charts-enterprise/src/series/waterfall/waterfallSeries.ts
Owners: @alantreadway

Experimental BathPath rendering with ScatterSeries.
  packages/ag-charts-community/src/chart/series/cartesian/cartesianSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/scatterSeries.ts
  packages/ag-charts-community/src/scene/group.ts
  packages/ag-charts-community/src/scene/shape/batchPath.ts
Owners: @alantreadway

Cleanup redundant decorator.
  packages/ag-charts-community/src/scene/shape/batchPath.ts
Owners: @alantreadway

AG-8416 Add unused per-series tooltip.range option
  packages/ag-charts-community/src/chart/series/cartesian/barSeriesModule.ts
  packages/ag-charts-community/src/chart/series/seriesTooltip.ts
  packages/ag-charts-community/src/options/chart/tooltipOptions.ts
Owners: @alantreadway

AG-8416 Compile fixes
  packages/ag-charts-community/src/chart/chart.ts
  packages/ag-charts-community/src/module/optionsModule.ts
Owners: @alantreadway

AG-8416 Process per-series tooltip.range option
  packages/ag-charts-community/src/chart/chart.ts
  packages/ag-charts-community/src/chart/factory/seriesRegistry.ts
  packages/ag-charts-community/src/chart/series/cartesian/barSeriesModule.ts
  packages/ag-charts-community/src/module/coreModules.ts
  packages/ag-charts-community/src/module/optionsModule.ts
Owners: @alantreadway

AG-8416 Fix unit tests
  packages/ag-charts-community/src/chart/chart.ts
Owners: @alantreadway

AG-8416 nx format
  packages/ag-charts-community/src/chart/chart.ts
Owners: @alantreadway

AG-8416 Update snapshots
  packages/ag-charts-community/src/chart/mapping/__snapshots__/prepare.test.ts.snap
  packages/ag-charts-community/src/module/optionsModule.test.ts
Owners: @alantreadway

nx format
  packages/ag-charts-community/src/module/coreModules.ts
Owners: @alantreadway

AG-8416 Hide per-series tooltip.range from the options contract for now
  packages/ag-charts-community/src/options/chart/tooltipOptions.ts
Owners: @alantreadway

AG-8416 Fix compiler errors
  packages/ag-charts-community/src/module/optionsModule.ts
Owners: @alantreadway

AG-10196 Add sector tests
  packages/ag-charts-community/src/scene/shape/__image_snapshots__/sector-test-ts-sector-rendering-should-render-as-expected-1-snap.png
  packages/ag-charts-community/src/scene/shape/sector.test.ts
Owners: @alantreadway

AG-10196 Fix sector tests
  packages/ag-charts-community/src/scene/shape/__image_snapshots__/sector-test-ts-sector-rendering-should-render-as-expected-1-snap.png
  packages/ag-charts-community/src/scene/shape/sector.ts
Owners: @alantreadway

AG-10851 - Candlestick series docs examples
  packages/ag-charts-website/src/components/icon/Icon.tsx
  packages/ag-charts-website/src/content/docs/candlestick-series/_examples/candlestick-customisations/data.ts
  packages/ag-charts-website/src/content/docs/candlestick-series/_examples/candlestick-customisations/index.html
  packages/ag-charts-website/src/content/docs/candlestick-series/_examples/candlestick-customisations/main.ts
  packages/ag-charts-website/src/content/docs/candlestick-series/_examples/simple-candlestick/data.ts
  packages/ag-charts-website/src/content/docs/candlestick-series/_examples/simple-candlestick/index.html
  packages/ag-charts-website/src/content/docs/candlestick-series/_examples/simple-candlestick/main.ts
  packages/ag-charts-website/src/content/docs/candlestick-series/index.mdoc
  packages/ag-charts-website/src/content/menu/data.json
Owners: @ag-grid/ag-charts-team, @rmc-software

AG-10851 - Update customisation example
  packages/ag-charts-website/src/content/docs/candlestick-series/_examples/candlestick-customisations/data.ts
  packages/ag-charts-website/src/content/docs/candlestick-series/_examples/candlestick-customisations/main.ts
Owners: @ag-grid/ag-charts-team

AG-10851 - Update snippet
  packages/ag-charts-website/src/content/docs/candlestick-series/index.mdoc
Owners: @rmc-software

AG-10851 - Remove axis configuration from simple candlestick example
  packages/ag-charts-website/src/content/docs/candlestick-series/_examples/simple-candlestick/main.ts
Owners: @ag-grid/ag-charts-team

Automated package version bump to 9.2.0-beta.20240324.
  .env
  libraries/ag-charts-test/package.json
  package.json
  packages/ag-charts-angular/package.json
  packages/ag-charts-angular/projects/ag-charts-angular/package.json
  packages/ag-charts-community-examples/package.json
  packages/ag-charts-community/package.json
  packages/ag-charts-community/src/version.ts
  packages/ag-charts-enterprise/package.json
  packages/ag-charts-react/package.json
  packages/ag-charts-vue/package.json
  packages/ag-charts-vue3/package.json
  packages/ag-charts-website/.env.build
  packages/ag-charts-website/.env.build.archive
  packages/ag-charts-website/.env.build.production
  packages/ag-charts-website/.env.build.staging
  packages/ag-charts-website/.env.dev
  packages/ag-charts-website/.env.preview
  packages/ag-charts-website/.env.preview.production
  packages/ag-charts-website/.env.preview.staging
  packages/ag-charts-website/package.json
  plugins/ag-charts-generate-chart-thumbnail/package.json
  plugins/ag-charts-generate-code-reference-files/package.json
  plugins/ag-charts-generate-example-files/package.json
Owners: @ag-grid/ag-charts-team, @alantreadway

Switch to nx:run-commands for Benchmark test launch.
  packages/ag-charts-community/project.json
  packages/ag-charts-enterprise/project.json
Owners: @alantreadway

Test fixes.
  libraries/ag-charts-test/src/console/mock-console.ts
  packages/ag-charts-community/benchmarks/benchmark.ts
  packages/ag-charts-community/src/chart/cartesianChart.test.ts
  packages/ag-charts-community/src/chart/chart.test.ts
  packages/ag-charts-community/src/chart/data/processors.ts
  packages/ag-charts-community/src/chart/series/cartesian/areaSeries.test.ts
  packages/ag-charts-community/src/chart/series/cartesian/areaSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/barSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/cartesianSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/histogramSeries.test.ts
  packages/ag-charts-community/src/chart/series/cartesian/lineSeries.test.ts
  packages/ag-charts-community/src/util/deprecation.test.ts
  packages/ag-charts-community/src/util/validation.test.ts
  packages/ag-charts-enterprise/src/features/error-bar/errorBar.test.ts
  packages/ag-charts-enterprise/src/galleryExamples.test.ts
  packages/ag-charts-enterprise/src/series/bullet/bulletSeries.test.ts
  packages/ag-charts-enterprise/src/series/map-line/mapLineSeries.test.ts
  packages/ag-charts-enterprise/src/series/map-marker/mapMarkerSeries.test.ts
  packages/ag-charts-enterprise/src/series/map-shape/mapShapeSeries.test.ts
  packages/ag-charts-enterprise/src/series/range-bar/rangeBar.ts
  packages/ag-charts-enterprise/src/series/sunburst/sunburstSeries.test.ts
  packages/ag-charts-enterprise/src/series/treemap/treemapSeries.test.ts
  packages/ag-charts-website/src/utils/urlWithPrefix.test.ts
  packages/all/project.json
Owners: @ag-grid/ag-charts-team, @alantreadway

Cleanup CartesianSeries subGroup support.
  packages/ag-charts-community/src/chart/series/cartesian/areaSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/barSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/bubbleSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/cartesianSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/histogramSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/lineSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/markerUtil.ts
  packages/ag-charts-community/src/chart/series/cartesian/pathUtil.ts
  packages/ag-charts-community/src/chart/series/cartesian/scatterSeries.ts
  packages/ag-charts-community/src/chart/series/hierarchy/hierarchySeries.test.ts
  packages/ag-charts-community/src/chart/series/polar/donutSeries.ts
  packages/ag-charts-community/src/chart/series/polar/pieSeries.ts
  packages/ag-charts-community/src/chart/series/series.ts
  packages/ag-charts-community/src/chart/series/seriesLabelUtil.ts
  packages/ag-charts-enterprise/src/features/error-bar/errorBar.ts
  packages/ag-charts-enterprise/src/series/box-plot/boxPlotSeries.ts
  packages/ag-charts-enterprise/src/series/bullet/bulletSeries.ts
  packages/ag-charts-enterprise/src/series/candlestick/candlestickSeries.ts
  packages/ag-charts-enterprise/src/series/heatmap/heatmapSeries.ts
  packages/ag-charts-enterprise/src/series/map-line-background/mapLineBackgroundSeries.ts
  packages/ag-charts-enterprise/src/series/map-line/mapLineSeries.ts
  packages/ag-charts-enterprise/src/series/map-marker/mapMarkerSeries.ts
  packages/ag-charts-enterprise/src/series/map-shape-background/mapShapeBackgroundSeries.ts
  packages/ag-charts-enterprise/src/series/map-shape/mapShapeSeries.ts
  packages/ag-charts-enterprise/src/series/radar/radarSeries.ts
  packages/ag-charts-enterprise/src/series/radial-bar/radialBarSeries.ts
  packages/ag-charts-enterprise/src/series/radial-column/radialColumnSeriesBase.ts
  packages/ag-charts-enterprise/src/series/range-area/rangeArea.ts
  packages/ag-charts-enterprise/src/series/range-bar/rangeBar.ts
  packages/ag-charts-enterprise/src/series/sunburst/sunburstSeries.ts
  packages/ag-charts-enterprise/src/series/treemap/treemapSeries.ts
  packages/ag-charts-enterprise/src/series/waterfall/waterfallSeries.ts
Owners: @alantreadway

Cleanup CartesianAnimationData property names.
  packages/ag-charts-community/src/chart/series/cartesian/areaSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/barSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/bubbleSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/cartesianSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/histogramSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/lineSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/scatterSeries.ts
  packages/ag-charts-enterprise/src/series/box-plot/boxPlotSeries.ts
  packages/ag-charts-enterprise/src/series/bullet/bulletSeries.ts
  packages/ag-charts-enterprise/src/series/candlestick/candlestickSeries.ts
  packages/ag-charts-enterprise/src/series/range-area/rangeArea.ts
  packages/ag-charts-enterprise/src/series/range-bar/rangeBar.ts
  packages/ag-charts-enterprise/src/series/waterfall/waterfallSeries.ts
Owners: @alantreadway

AG-6576 Add heap statistics to benchmark charts
  packages/ag-charts-website/src/content/docs/benchmarks/_examples/summary/main.ts
Owners: @ag-grid/ag-charts-team

AG-6576 Collect heap statistics in benchmark tests
  libraries/ag-charts-test/src/benchmarks/timing.ts
  packages/ag-charts-community/benchmarks/benchmark.ts
  packages/ag-charts-community/project.json
  packages/ag-charts-enterprise/project.json
  packages/ag-charts-website/src/content/docs/benchmarks/_examples/summary/data.ts
  packages/ag-charts-website/src/content/docs/benchmarks/_examples/summary/main.ts
Owners: @ag-grid/ag-charts-team, @alantreadway

AG-10196 Add support for stacked radial bar corner radii
  packages/ag-charts-community/src/scene/shape/__image_snapshots__/sector-test-ts-sector-rendering-should-render-as-expected-1-snap.png
  packages/ag-charts-community/src/scene/shape/sector.ts
  packages/ag-charts-enterprise/src/series/radial-bar/radialBarSeries.ts
  packages/ag-charts-enterprise/src/series/radial-bar/radialBarUtil.ts
  packages/ag-charts-enterprise/src/series/sunburst/sunburstSeries.test.ts
  packages/ag-charts-enterprise/src/series/sunburst/sunburstSeries.ts
Owners: @alantreadway

Update series corner radius logic
  packages/ag-charts-community/src/chart/series/polar/donutSeries.ts
  packages/ag-charts-community/src/chart/series/polar/pieSeries.ts
  packages/ag-charts-enterprise/src/series/nightingale/nightingaleSeries.ts
  packages/ag-charts-enterprise/src/series/nightingale/nightingaleSeriesProperties.ts
Owners: @alantreadway
