Repository ag-grid/ag-charts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ag-grid/ag-charts-team, @markdurrant, @taktran, @alantreadway, @rmc-software

AG-9847 - Add sitemap astro integration
  packages/ag-charts-website/astro.config.mjs
  packages/ag-charts-website/package.json
  packages/ag-charts-website/src/layouts/Layout.astro
  packages/ag-charts-website/src/utils/sitemap.ts
  yarn.lock
Owners: @ag-grid/ag-charts-team, @alantreadway, @taktran

lint
  packages/ag-charts-enterprise/src/series/treemap/treemapSeries.ts
Owners: @alantreadway

AG-8555 Fix zoom tick perf clamping ticks to match chart min rect
  packages/ag-charts-community/src/chart/axis/axis.ts
Owners: @alantreadway

AG-9846 Move 5-bullets to gallery
  packages/ag-charts-website/src/content/docs/bullet-series/index.mdoc
  packages/ag-charts-website/src/content/gallery/_examples/5-bullets/index.html
  packages/ag-charts-website/src/content/gallery/_examples/5-bullets/main.ts
  packages/ag-charts-website/src/content/gallery/data.json
Owners: @rmc-software, @ag-grid/ag-charts-team

AG-9846 Fix errors when `options` variable is undefined
  packages/ag-charts-website/src/features/gallery/utils/transformPlainEntryFile.ts
Owners: @ag-grid/ag-charts-team

AG-9846 Add horizontal bullet graph gallery example
  packages/ag-charts-website/src/content/gallery/_examples/5-bullets-horizontal/index.html
  packages/ag-charts-website/src/content/gallery/_examples/5-bullets-horizontal/main.ts
  packages/ag-charts-website/src/content/gallery/data.json
Owners: @ag-grid/ag-charts-team

nx format
  packages/ag-charts-website/src/features/gallery/utils/transformPlainEntryFile.ts
Owners: @ag-grid/ag-charts-team

AG-9847 - Add generated robots.txt file
  packages/ag-charts-website/src/pages/robots.txt.ts
  packages/ag-charts-website/src/utils/env.ts
  packages/ag-charts-website/src/utils/pages.ts
  packages/ag-charts-website/src/utils/sitemap.ts
  packages/ag-charts-website/src/utils/sitemapPages.ts
Owners: @ag-grid/ag-charts-team

AG-9847 - Add `noindex` to any non-production websites
  packages/ag-charts-website/src/layouts/Layout.astro
Owners: @taktran

AG-8489 - Simplify PieSeries animation cases.
  packages/ag-charts-community/src/chart/series/polar/pieSeries.ts
  packages/ag-charts-website/src/content/docs/pie-series-test/_examples/animation/index.html
  packages/ag-charts-website/src/content/docs/pie-series-test/_examples/animation/main.ts
Owners: @alantreadway, @ag-grid/ag-charts-team

AG-9847 - Add sitemap, robots, `noindex` (#594)
  packages/ag-charts-website/astro.config.mjs
  packages/ag-charts-website/package.json
  packages/ag-charts-website/src/layouts/Layout.astro
  packages/ag-charts-website/src/pages/robots.txt.ts
  packages/ag-charts-website/src/utils/env.ts
  packages/ag-charts-website/src/utils/pages.ts
  packages/ag-charts-website/src/utils/sitemap.ts
  packages/ag-charts-website/src/utils/sitemapPages.ts
  yarn.lock
Owners: @ag-grid/ag-charts-team, @alantreadway, @taktran

AG-8489 - Fix tests.
  packages/ag-charts-community/src/chart/series/polar/__image_snapshots__/polar-series-test-ts-polar-series-add-animation-for-pie-series-should-animate-at-0-1-snap.png
  packages/ag-charts-community/src/chart/series/polar/__image_snapshots__/polar-series-test-ts-polar-series-add-animation-for-pie-series-should-animate-at-25-1-snap.png
  packages/ag-charts-community/src/chart/series/polar/__image_snapshots__/polar-series-test-ts-polar-series-add-animation-for-pie-series-should-animate-at-50-1-snap.png
  packages/ag-charts-community/src/chart/series/polar/__image_snapshots__/polar-series-test-ts-polar-series-add-animation-for-pie-series-should-animate-at-75-1-snap.png
  packages/ag-charts-community/src/chart/series/polar/__image_snapshots__/polar-series-test-ts-polar-series-remove-animation-for-pie-series-should-animate-at-0-1-snap.png
  packages/ag-charts-community/src/chart/series/polar/__image_snapshots__/polar-series-test-ts-polar-series-remove-animation-for-pie-series-should-animate-at-100-1-snap.png
  packages/ag-charts-community/src/chart/series/polar/__image_snapshots__/polar-series-test-ts-polar-series-remove-animation-for-pie-series-should-animate-at-25-1-snap.png
  packages/ag-charts-community/src/chart/series/polar/__image_snapshots__/polar-series-test-ts-polar-series-remove-animation-for-pie-series-should-animate-at-50-1-snap.png
  packages/ag-charts-community/src/chart/series/polar/__image_snapshots__/polar-series-test-ts-polar-series-remove-animation-for-pie-series-should-animate-at-75-1-snap.png
  packages/ag-charts-community/src/chart/series/polar/polarSeries.test.ts
Owners: @alantreadway

Hierarchy gallery examples
  packages/ag-charts-community/src/chart/series/hierarchy/hierarchySeries.ts
  packages/ag-charts-website/src/content/gallery/_examples/simple-sunburst/data.ts
  packages/ag-charts-website/src/content/gallery/_examples/simple-sunburst/main.ts
  packages/ag-charts-website/src/content/gallery/_examples/simple-treemap/data.ts
  packages/ag-charts-website/src/content/gallery/_examples/simple-treemap/index.html
  packages/ag-charts-website/src/content/gallery/_examples/simple-treemap/main.ts
  packages/ag-charts-website/src/content/gallery/_examples/sunburst-with-color-range/data.ts
  packages/ag-charts-website/src/content/gallery/_examples/sunburst-with-color-range/index.html
  packages/ag-charts-website/src/content/gallery/_examples/sunburst-with-color-range/main.ts
  packages/ag-charts-website/src/content/gallery/_examples/treemap-with-color-range/data.ts
  packages/ag-charts-website/src/content/gallery/_examples/treemap-with-color-range/main.ts
  packages/ag-charts-website/src/content/gallery/data.json
Owners: @alantreadway, @ag-grid/ag-charts-team

Remove icicle example
  packages/ag-charts-website/src/content/menu/data.json
Owners: @ag-grid/ag-charts-team

AG-3390 - Fix up staging preview env vars to match staging build
  packages/ag-charts-website/.env.preview.staging
Owners: @ag-grid/ag-charts-team

AG-3390 - Remove documentation archive link in footer
  packages/ag-charts-website/src/components/footer/footer-items.json
Owners: @ag-grid/ag-charts-team

AG-9489: Update formatter to handle 'NaN' case
  packages/ag-charts-website/src/content/docs/create-a-basic-chart/_examples/complete-formatted-example/provided/modules/vanilla/main.js
Owners: @ag-grid/ag-charts-team

AG-9869 - Fix RadarSeries resize.
  packages/ag-charts-community/src/chart/series/cartesian/cartesianSeries.ts
  packages/ag-charts-community/src/chart/series/hierarchy/hierarchySeries.ts
  packages/ag-charts-community/src/chart/series/polar/polarSeries.ts
  packages/ag-charts-community/src/chart/series/series.ts
  packages/ag-charts-enterprise/src/series/radar/radarSeries.ts
Owners: @alantreadway

AG-8555 Fix zoom ticks when no maxSpacing defined
  packages/ag-charts-community/src/chart/axis/axis.ts
Owners: @alantreadway

AG-9872 - Remove react classes and rename functional to Javascript and Typescript
  packages/ag-charts-website/src/constants.ts
  packages/ag-charts-website/src/features/example-runner/components/CodeOptions.tsx
  packages/ag-charts-website/src/features/example-runner/components/FrameworkTemplate.astro
  packages/ag-charts-website/src/features/examples-generator/transformation-scripts/chart-vanilla-to-react.ts
  packages/ag-charts-website/src/features/examples-generator/utils/fileUtils.test.ts
  packages/ag-charts-website/src/features/examples-generator/utils/fileUtils.ts
  packages/ag-charts-website/src/features/examples-generator/utils/frameworkFilesGenerator.ts
  packages/ag-charts-website/src/stores/frameworkStore.ts
  packages/ag-charts-website/src/types/ag-grid.d.ts
  packages/ag-charts-website/src/utils/framework.test.ts
  packages/ag-charts-website/src/utils/framework.ts
Owners: @ag-grid/ag-charts-team, @taktran

AG-9872 - Remove `createReactFilesGenerator` function
  packages/ag-charts-website/src/features/examples-generator/utils/frameworkFilesGenerator.ts
Owners: @ag-grid/ag-charts-team

AG-9302 Move multi-series bullet example to test page
  packages/ag-charts-website/src/content/docs/bullet-series-test/_examples/5-bullets/index.html
  packages/ag-charts-website/src/content/docs/bullet-series-test/_examples/5-bullets/main.ts
  packages/ag-charts-website/src/content/docs/bullet-series-test/index.mdoc
  packages/ag-charts-website/src/content/docs/bullet-series/index.mdoc
Owners: @ag-grid/ag-charts-team, @rmc-software

nx format
  packages/ag-charts-website/src/content/docs/bullet-series/index.mdoc
Owners: @rmc-software

AG-9302 Document that bullet series don't support negatives
  packages/ag-charts-website/src/content/docs/bullet-series/index.mdoc
Owners: @rmc-software

nx format
  packages/ag-charts-community/src/options/chart/tooltipOptions.ts
Owners: @alantreadway

AG-8598 Validate individual tooltip properties
  packages/ag-charts-community/src/chart/mapping/prepare.ts
  packages/ag-charts-community/src/chart/tooltip/tooltip.test.ts
  packages/ag-charts-community/src/options/chart/tooltipOptions.ts
Owners: @alantreadway

AG-9826 - Add RadarLine test examples.
  packages/ag-charts-website/src/content/docs/radar-line-series-test/_examples/animation/data.ts
  packages/ag-charts-website/src/content/docs/radar-line-series-test/_examples/animation/index.html
  packages/ag-charts-website/src/content/docs/radar-line-series-test/_examples/animation/main.ts
  packages/ag-charts-website/src/content/docs/radar-line-series-test/index.mdoc
Owners: @ag-grid/ag-charts-team, @rmc-software

Add gallery examples, update docs
  packages/ag-charts-enterprise/src/series/sunburst/sunburstSeriesModule.ts
  packages/ag-charts-enterprise/src/series/treemap/treemapSeries.ts
  packages/ag-charts-enterprise/src/series/treemap/treemapSeriesModule.ts
  packages/ag-charts-website/src/content/docs/sunburst-series/_examples/color-range/main.ts
  packages/ag-charts-website/src/content/docs/sunburst-series/_examples/labels/main.ts
  packages/ag-charts-website/src/content/docs/sunburst-series/_examples/other-colors/main.ts
  packages/ag-charts-website/src/content/docs/sunburst-series/_examples/sizing/main.ts
  packages/ag-charts-website/src/content/docs/sunburst-series/index.mdoc
  packages/ag-charts-website/src/content/docs/treemap-series/_examples/color-scale/main.ts
  packages/ag-charts-website/src/content/docs/treemap-series/_examples/labels/main.ts
  packages/ag-charts-website/src/content/docs/treemap-series/_examples/layout/main.ts
  packages/ag-charts-website/src/content/docs/treemap-series/_examples/other-colors/main.ts
  packages/ag-charts-website/src/content/docs/treemap-series/_examples/sizing/main.ts
  packages/ag-charts-website/src/content/docs/treemap-series/index.mdoc
  packages/ag-charts-website/src/content/gallery/_examples/calendar-heatmap/main.ts
  packages/ag-charts-website/src/content/gallery/_examples/monochrome-heatmap/data.ts
  packages/ag-charts-website/src/content/gallery/_examples/monochrome-heatmap/index.html
  packages/ag-charts-website/src/content/gallery/_examples/monochrome-heatmap/main.ts
  packages/ag-charts-website/src/content/gallery/data.json
  packages/ag-charts-website/src/features/api-documentation/apiReferenceHelpers.ts
Owners: @alantreadway, @ag-grid/ag-charts-team, @rmc-software

AG-9872 - Remove React Classes (#601)
  packages/ag-charts-website/src/constants.ts
  packages/ag-charts-website/src/features/example-runner/components/CodeOptions.tsx
  packages/ag-charts-website/src/features/example-runner/components/FrameworkTemplate.astro
  packages/ag-charts-website/src/features/examples-generator/transformation-scripts/chart-vanilla-to-react.ts
  packages/ag-charts-website/src/features/examples-generator/utils/fileUtils.test.ts
  packages/ag-charts-website/src/features/examples-generator/utils/fileUtils.ts
  packages/ag-charts-website/src/features/examples-generator/utils/frameworkFilesGenerator.ts
  packages/ag-charts-website/src/stores/frameworkStore.ts
  packages/ag-charts-website/src/types/ag-grid.d.ts
  packages/ag-charts-website/src/utils/framework.test.ts
  packages/ag-charts-website/src/utils/framework.ts
Owners: @ag-grid/ag-charts-team, @taktran

AG-9483 - Fix axis line enable/disable handling.
  packages/ag-charts-community/src/chart/axis/axis.ts
Owners: @alantreadway

Add missing docs
  packages/ag-charts-community/src/options/series/hierarchy/sunburstOptions.ts
  packages/ag-charts-community/src/options/series/hierarchy/treemapOptions.ts
Owners: @alantreadway

Add docs
  packages/ag-charts-website/src/content/docs/sunburst-series/index.mdoc
  packages/ag-charts-website/src/content/docs/treemap-series/index.mdoc
Owners: @rmc-software

AG-3390 - Fix gallery menu SVG bug
  packages/ag-charts-website/src/pages/gallery.astro
Owners: @taktran

AG-3390 - Improve darkmode scrollbar styling
  packages/ag-charts-website/src/design-system/_base.scss
Owners: @markdurrant

AG-3390 - Add plausible analytics
  packages/ag-charts-website/src/layouts/Layout.astro
Owners: @taktran

AG-3390 - Consolidate staging/production site url vars
  packages/ag-charts-website/src/constants.ts
  packages/ag-charts-website/src/utils/env.ts
Owners: @ag-grid/ag-charts-team

AG-9399 - Remove series, DevEx, & benefits sections from homepage
  packages/ag-charts-website/src/pages/homepage.module.scss
  packages/ag-charts-website/src/pages/index.astro
Owners: @markdurrant, @taktran

AG-9399 - Add benefits titles & icons, make AG Grid logo bigger
  packages/ag-charts-website/src/components/icon/Icon.tsx
  packages/ag-charts-website/src/pages/homepage.module.scss
  packages/ag-charts-website/src/pages/index.astro
Owners: @ag-grid/ag-charts-team, @markdurrant, @taktran

AG-9489: Implement feedback 1 of 2
  packages/ag-charts-website/src/content/docs/create-a-basic-chart/_examples/complete-formatted-example/main.ts
  packages/ag-charts-website/src/content/docs/create-a-basic-chart/_examples/complete-formatted-example/provided/modules/angular/app.component.ts
  packages/ag-charts-website/src/content/docs/create-a-basic-chart/_examples/complete-formatted-example/provided/modules/reactFunctional/index.jsx
  packages/ag-charts-website/src/content/docs/create-a-basic-chart/_examples/complete-formatted-example/provided/modules/reactFunctionalTs/index.tsx
  packages/ag-charts-website/src/content/docs/create-a-basic-chart/_examples/complete-formatted-example/provided/modules/typescript/main.ts
  packages/ag-charts-website/src/content/docs/create-a-basic-chart/_examples/complete-formatted-example/provided/modules/vanilla/main.js
  packages/ag-charts-website/src/content/docs/create-a-basic-chart/_examples/complete-formatted-example/provided/modules/vue/main.js
  packages/ag-charts-website/src/content/docs/create-a-basic-chart/_examples/complete-formatted-example/provided/modules/vue3/main.js
  packages/ag-charts-website/src/content/docs/create-a-basic-chart/_examples/format-series-example/main.ts
  packages/ag-charts-website/src/content/docs/create-a-basic-chart/_examples/format-series-example/provided/modules/angular/app.component.ts
  packages/ag-charts-website/src/content/docs/create-a-basic-chart/_examples/format-series-example/provided/modules/reactFunctional/index.jsx
  packages/ag-charts-website/src/content/docs/create-a-basic-chart/_examples/format-series-example/provided/modules/reactFunctionalTs/index.tsx
  packages/ag-charts-website/src/content/docs/create-a-basic-chart/_examples/format-series-example/provided/modules/typescript/main.ts
  packages/ag-charts-website/src/content/docs/create-a-basic-chart/_examples/format-series-example/provided/modules/vanilla/main.js
  packages/ag-charts-website/src/content/docs/create-a-basic-chart/_examples/format-series-example/provided/modules/vue/main.js
  packages/ag-charts-website/src/content/docs/create-a-basic-chart/_examples/format-series-example/provided/modules/vue3/main.js
  packages/ag-charts-website/src/content/docs/create-a-basic-chart/_examples/legend-example/main.ts
  packages/ag-charts-website/src/content/docs/create-a-basic-chart/_examples/legend-example/provided/modules/angular/app.component.ts
  packages/ag-charts-website/src/content/docs/create-a-basic-chart/_examples/legend-example/provided/modules/reactFunctional/index.jsx
  packages/ag-charts-website/src/content/docs/create-a-basic-chart/_examples/legend-example/provided/modules/reactFunctionalTs/index.tsx
  packages/ag-charts-website/src/content/docs/create-a-basic-chart/_examples/legend-example/provided/modules/typescript/main.ts
  packages/ag-charts-website/src/content/docs/create-a-basic-chart/_examples/legend-example/provided/modules/vanilla/main.js
  packages/ag-charts-website/src/content/docs/create-a-basic-chart/_examples/legend-example/provided/modules/vue/main.js
  packages/ag-charts-website/src/content/docs/create-a-basic-chart/_examples/legend-example/provided/modules/vue3/main.js
  packages/ag-charts-website/src/content/docs/create-a-basic-chart/_examples/second-series-formatted-example/provided/modules/angular/app.component.ts
  packages/ag-charts-website/src/content/docs/create-a-basic-chart/_examples/second-series-formatted-example/provided/modules/reactFunctional/index.jsx
  packages/ag-charts-website/src/content/docs/create-a-basic-chart/_examples/second-series-formatted-example/provided/modules/reactFunctionalTs/index.tsx
  packages/ag-charts-website/src/content/docs/create-a-basic-chart/_examples/second-series-formatted-example/provided/modules/typescript/main.ts
  packages/ag-charts-website/src/content/docs/create-a-basic-chart/_examples/second-series-formatted-example/provided/modules/vanilla/main.js
  packages/ag-charts-website/src/content/docs/create-a-basic-chart/_examples/second-series-formatted-example/provided/modules/vue/main.js
  packages/ag-charts-website/src/content/docs/create-a-basic-chart/_examples/second-series-formatted-example/provided/modules/vue3/main.js
  packages/ag-charts-website/src/content/docs/create-a-basic-chart/index.mdoc
Owners: @ag-grid/ag-charts-team, @rmc-software

AG-9399 - Add gallery scroller to homepage
  packages/ag-charts-website/public/images/gallery-dark@0.5x.jpg
  packages/ag-charts-website/public/images/gallery-light@0.5x.jpg
  packages/ag-charts-website/src/components/icon/Icon.tsx
  packages/ag-charts-website/src/pages/homepage.module.scss
  packages/ag-charts-website/src/pages/index.astro
Owners: @ag-grid/ag-charts-team, @markdurrant, @taktran

.github/CODEOWNERS:

# NOTE: Order of entries matters - later entries have higher precedence.

# Attribute code-owners so default reviewers are assigned to PRs.
* @ag-grid/ag-charts-team

# Astro + website changes to be reviewed by website team.
*.scss @markdurrant
*.astro @taktran
/packages/ag-charts-website/astro/** @taktran
/packages/ag-charts-website/components/** @taktran
/packages/ag-charts-website/features/** @taktran
/packages/ag-charts-website/layouts/** @taktran
/packages/ag-charts-website/stores/** @taktran
/packages/ag-charts-website/utils/** @taktran

# Docs updates to be reviewed by Eng VP.
/packages/ag-charts-website/content/** @alantreadway @rmc-software
*.mdoc @rmc-software

# Charts library code to be reviewed by Chart TL.
/packages/ag-charts-community/** @alantreadway
/packages/ag-charts-enterprise/** @alantreadway

# Sensitive build/repo files to be reviewed by Chart TL.
**/package.json @alantreadway
nx.json @alantreadway
**/project.json @alantreadway
**/tsconfig.json @alantreadway
**/tsconfig.*.json @alantreadway
