Repository ag-grid/ag-charts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ag-grid/ag-charts-team, @markdurrant, @taktran, @alantreadway, @rmc-software

.github/CODEOWNERS:

# NOTE: Order of entries matters - later entries have higher precedence.

# Attribute code-owners so default reviewers are assigned to PRs.
* @ag-grid/ag-charts-team

# Astro + website changes to be reviewed by website team.
*.scss @markdurrant
*.astro @taktran
/packages/ag-charts-website/astro/** @taktran
/packages/ag-charts-website/components/** @taktran
/packages/ag-charts-website/features/** @taktran
/packages/ag-charts-website/layouts/** @taktran
/packages/ag-charts-website/stores/** @taktran
/packages/ag-charts-website/utils/** @taktran

# Docs updates to be reviewed by Eng VP.
/packages/ag-charts-website/content/** @alantreadway @rmc-software
*.mdoc @rmc-software

# Charts library code to be reviewed by Chart TL.
/packages/ag-charts-community/** @alantreadway
/packages/ag-charts-enterprise/** @alantreadway

# Sensitive build/repo files to be reviewed by Chart TL.
**/package.json @alantreadway
nx.json @alantreadway
**/project.json @alantreadway
**/tsconfig.json @alantreadway
**/tsconfig.*.json @alantreadway

AG-12126 Text annotations submenu
  packages/ag-charts-community/src/chart/toolbar/toolbarModule.ts
  packages/ag-charts-community/src/module/__snapshots__/optionsModule.test.ts.snap
  packages/ag-charts-enterprise/src/features/annotations/annotations.ts
  packages/ag-charts-enterprise/src/features/error-bar/__snapshots__/errorBar.test.ts.snap
  packages/ag-charts-locale/src/en-US.ts
  packages/ag-charts-types/src/chart/toolbarOptions.ts
Owners: @alantreadway, @ag-grid/ag-charts-team

AG-12231: API search for `avoidCollisions` does not return the axis label property
  packages/ag-charts-website/src/features/api-documentation/apiReferenceHelpers.ts
Owners: @ag-grid/ag-charts-team

AG-12330 linting
  .vscode/settings.json
  packages/ag-charts-enterprise/src/features/annotations/annotationsStateMachine.ts
Owners: @ag-grid/ag-charts-team, @alantreadway

AG-12413 - Update e2e snapshots
  packages/ag-charts-website/e2e/financial-charts-showcase.spec.ts-snapshots/zoom-and-hover-on-out-of-y-range-prices-chromium-darwin.png
  packages/ag-charts-website/e2e/icons.spec.ts-snapshots/icons-chromium-darwin.png
  packages/ag-charts-website/e2e/keyboard-nav.spec.ts-snapshots/1st-datum-focus-chromium-darwin.png
  packages/ag-charts-website/e2e/keyboard-nav.spec.ts-snapshots/3rd-datum-2nd-series-focus-chromium-darwin.png
  packages/ag-charts-website/e2e/keyboard-nav.spec.ts-snapshots/legend-2nd-page-focus-chromium-darwin.png
  packages/ag-charts-website/e2e/keyboard-nav.spec.ts-snapshots/legend-focus-chromium-darwin.png
  packages/ag-charts-website/e2e/keyboard-nav.spec.ts-snapshots/legend-page-control-focus-chromium-darwin.png
  packages/ag-charts-website/e2e/keyboard-nav.spec.ts-snapshots/tabbed-back-into-chart-chromium-darwin.png
  packages/ag-charts-website/e2e/keyboard-nav.spec.ts-snapshots/tabbed-out-of-chart-chromium-darwin.png
  packages/ag-charts-website/e2e/toolbar.spec.ts-snapshots/line-annotation-1-button-active-chromium-darwin.png
  packages/ag-charts-website/e2e/toolbar.spec.ts-snapshots/line-annotation-2-drawing-chromium-darwin.png
  packages/ag-charts-website/e2e/toolbar.spec.ts-snapshots/line-annotation-3-complete-chromium-darwin.png
  packages/ag-charts-website/e2e/zoom.spec.ts-snapshots/after-navigator-drag-x-axis-chromium-darwin.png
  packages/ag-charts-website/e2e/zoom.spec.ts-snapshots/after-navigator-drag-y-axis-chromium-darwin.png
  packages/ag-charts-website/e2e/zoom.spec.ts-snapshots/before-navigator-drag-y-axis-chromium-darwin.png
  packages/ag-charts-website/e2e/zoom.spec.ts-snapshots/with-navigator-drag-x-axis-chromium-darwin.png
  packages/ag-charts-website/e2e/zoom.spec.ts-snapshots/with-navigator-drag-y-axis-chromium-darwin.png
Owners: @ag-grid/ag-charts-team

Ag 12413 range button styles (#2086)
  packages/ag-charts-community/src/chart/dom/theme.css
  packages/ag-charts-community/src/chart/toolbar/toolbarStyles.css
  packages/ag-charts-website/e2e/financial-charts-showcase.spec.ts-snapshots/zoom-and-hover-on-out-of-y-range-prices-chromium-darwin.png
  packages/ag-charts-website/e2e/financial-charts-showcase.spec.ts-snapshots/zoom-and-hover-on-out-of-y-range-prices-chromium-linux.png
  packages/ag-charts-website/e2e/icons.spec.ts-snapshots/icons-chromium-darwin.png
  packages/ag-charts-website/e2e/keyboard-nav.spec.ts-snapshots/1st-datum-focus-chromium-darwin.png
  packages/ag-charts-website/e2e/keyboard-nav.spec.ts-snapshots/3rd-datum-2nd-series-focus-chromium-darwin.png
  packages/ag-charts-website/e2e/keyboard-nav.spec.ts-snapshots/legend-2nd-page-focus-chromium-darwin.png
  packages/ag-charts-website/e2e/keyboard-nav.spec.ts-snapshots/legend-focus-chromium-darwin.png
  packages/ag-charts-website/e2e/keyboard-nav.spec.ts-snapshots/legend-page-control-focus-chromium-darwin.png
  packages/ag-charts-website/e2e/keyboard-nav.spec.ts-snapshots/tabbed-back-into-chart-chromium-darwin.png
  packages/ag-charts-website/e2e/keyboard-nav.spec.ts-snapshots/tabbed-out-of-chart-chromium-darwin.png
  packages/ag-charts-website/e2e/toolbar.spec.ts-snapshots/line-annotation-1-button-active-chromium-darwin.png
  packages/ag-charts-website/e2e/toolbar.spec.ts-snapshots/line-annotation-1-button-active-chromium-linux.png
  packages/ag-charts-website/e2e/toolbar.spec.ts-snapshots/line-annotation-2-drawing-chromium-darwin.png
  packages/ag-charts-website/e2e/toolbar.spec.ts-snapshots/line-annotation-2-drawing-chromium-linux.png
  packages/ag-charts-website/e2e/toolbar.spec.ts-snapshots/line-annotation-3-complete-chromium-darwin.png
  packages/ag-charts-website/e2e/toolbar.spec.ts-snapshots/line-annotation-3-complete-chromium-linux.png
  packages/ag-charts-website/e2e/zoom.spec.ts-snapshots/after-navigator-drag-x-axis-chromium-darwin.png
  packages/ag-charts-website/e2e/zoom.spec.ts-snapshots/after-navigator-drag-x-axis-chromium-linux.png
  packages/ag-charts-website/e2e/zoom.spec.ts-snapshots/after-navigator-drag-y-axis-chromium-darwin.png
  packages/ag-charts-website/e2e/zoom.spec.ts-snapshots/after-navigator-drag-y-axis-chromium-linux.png
  packages/ag-charts-website/e2e/zoom.spec.ts-snapshots/before-navigator-drag-y-axis-chromium-darwin.png
  packages/ag-charts-website/e2e/zoom.spec.ts-snapshots/before-navigator-drag-y-axis-chromium-linux.png
  packages/ag-charts-website/e2e/zoom.spec.ts-snapshots/with-navigator-drag-x-axis-chromium-darwin.png
  packages/ag-charts-website/e2e/zoom.spec.ts-snapshots/with-navigator-drag-x-axis-chromium-linux.png
  packages/ag-charts-website/e2e/zoom.spec.ts-snapshots/with-navigator-drag-y-axis-chromium-darwin.png
  packages/ag-charts-website/e2e/zoom.spec.ts-snapshots/with-navigator-drag-y-axis-chromium-linux.png
Owners: @alantreadway, @ag-grid/ag-charts-team

AG-12341 - Make use of textAlign to left align for multi line
  packages/ag-charts-enterprise/src/features/annotations/annotations.ts
  packages/ag-charts-enterprise/src/features/annotations/scenes/textualStartEndScene.ts
  packages/ag-charts-enterprise/src/features/text-input/textInput.ts
Owners: @alantreadway

AG-12160 - Callout annotation
  packages/ag-charts-community/src/integrated-charts-scene.ts
  packages/ag-charts-enterprise/src/features/annotations/annotationsModule.ts
  packages/ag-charts-enterprise/src/features/annotations/callout/calloutScene.ts
Owners: @alantreadway

AG-12160 - Fix updating shape stroke when text color picker is used
  packages/ag-charts-enterprise/src/features/annotations/annotationsConfig.ts
Owners: @alantreadway

AG-12160 - Add separate color pickers for fill, stroke and text
  packages/ag-charts-community/src/chart/toolbar/toolbarModule.ts
  packages/ag-charts-enterprise/src/features/annotations/annotationProperties.ts
  packages/ag-charts-enterprise/src/features/annotations/annotationTypes.ts
  packages/ag-charts-enterprise/src/features/annotations/annotations.ts
  packages/ag-charts-enterprise/src/features/annotations/annotationsConfig.ts
  packages/ag-charts-enterprise/src/features/annotations/annotationsStateMachine.ts
  packages/ag-charts-enterprise/src/features/annotations/callout/calloutProperties.ts
  packages/ag-charts-enterprise/src/features/annotations/comment/commentProperties.ts
  packages/ag-charts-enterprise/src/features/annotations/cross-line/crossLineProperties.ts
  packages/ag-charts-enterprise/src/features/annotations/disjoint-channel/disjointChannelProperties.ts
  packages/ag-charts-enterprise/src/features/annotations/line/lineProperties.ts
  packages/ag-charts-enterprise/src/features/annotations/parallel-channel/parallelChannelProperties.ts
  packages/ag-charts-enterprise/src/features/annotations/properties/textualPointProperties.ts
  packages/ag-charts-enterprise/src/features/annotations/properties/textualStartEndProperties.ts
  packages/ag-charts-types/src/chart/toolbarOptions.ts
Owners: @alantreadway, @ag-grid/ag-charts-team

AG-12160 - Update community snapshots
  packages/ag-charts-community/src/module/__snapshots__/optionsModule.test.ts.snap
Owners: @alantreadway

AG-12160 - Fix lint errors
  packages/ag-charts-enterprise/src/features/annotations/annotations.ts
  packages/ag-charts-enterprise/src/features/text-input/textInput.ts
Owners: @alantreadway

AG-12160 - Update e2e snapshots
  packages/ag-charts-website/e2e/toolbar.spec.ts-snapshots/line-annotation-3-complete-chromium-darwin.png
Owners: @ag-grid/ag-charts-team

AG-12160 - Update callout scene
  packages/ag-charts-enterprise/src/features/annotations/callout/calloutScene.ts
Owners: @alantreadway

Fix test snapshots
  packages/ag-charts-enterprise/src/features/error-bar/__snapshots__/errorBar.test.ts.snap
  packages/ag-charts-website/e2e/financial-charts-showcase.spec.ts-snapshots/zoom-and-hover-on-out-of-y-range-prices-chromium-darwin.png
  packages/ag-charts-website/e2e/toolbar.spec.ts-snapshots/line-annotation-1-button-active-chromium-darwin.png
  packages/ag-charts-website/e2e/toolbar.spec.ts-snapshots/line-annotation-2-drawing-chromium-darwin.png
  packages/ag-charts-website/e2e/toolbar.spec.ts-snapshots/line-annotation-3-complete-chromium-darwin.png
  packages/ag-charts-website/e2e/zoom.spec.ts-snapshots/after-navigator-drag-x-axis-chromium-darwin.png
  packages/ag-charts-website/e2e/zoom.spec.ts-snapshots/after-navigator-drag-y-axis-chromium-darwin.png
  packages/ag-charts-website/e2e/zoom.spec.ts-snapshots/before-navigator-drag-y-axis-chromium-darwin.png
  packages/ag-charts-website/e2e/zoom.spec.ts-snapshots/with-navigator-drag-x-axis-chromium-darwin.png
  packages/ag-charts-website/e2e/zoom.spec.ts-snapshots/with-navigator-drag-y-axis-chromium-darwin.png
Owners: @alantreadway, @ag-grid/ag-charts-team

deprecated AgIconLegacyName
  packages/ag-charts-types/src/chart/toolbarOptions.ts
Owners: @ag-grid/ag-charts-team

AG-12162 Fix textual annotation line height
  packages/ag-charts-enterprise/src/features/annotations/scenes/textualPointScene.ts
  packages/ag-charts-enterprise/src/features/text-input/textInputStyles.css
Owners: @alantreadway

AG-12162 Add note annotation default background colours
  packages/ag-charts-enterprise/src/features/annotations/annotationsModule.ts
Owners: @alantreadway

AG-12162 Update options snapshot
  packages/ag-charts-community/src/module/__snapshots__/optionsModule.test.ts.snap
Owners: @alantreadway

Fix lint issue
  packages/ag-charts-community/src/scene/shape/svgPath.ts
Owners: @alantreadway

AG-12162 Fix note annotation interactions
  packages/ag-charts-enterprise/src/features/annotations/annotations.ts
  packages/ag-charts-enterprise/src/features/annotations/note/noteScene.ts
  packages/ag-charts-enterprise/src/features/annotations/scenes/annotationScene.ts
  packages/ag-charts-enterprise/src/features/annotations/scenes/textualPointScene.ts
Owners: @alantreadway

AG-12162 Add note annotation
  packages/ag-charts-community/src/chart/toolbar/toolbarModule.ts
  packages/ag-charts-community/src/integrated-charts-scene.ts
  packages/ag-charts-community/src/scene/shape/svgPath.ts
  packages/ag-charts-enterprise/src/features/annotations/annotationTypes.ts
  packages/ag-charts-enterprise/src/features/annotations/annotations.ts
  packages/ag-charts-enterprise/src/features/annotations/annotationsModule.ts
  packages/ag-charts-enterprise/src/features/annotations/annotationsStateMachine.ts
  packages/ag-charts-enterprise/src/features/annotations/note/noteProperties.ts
  packages/ag-charts-enterprise/src/features/annotations/note/noteScene.ts
  packages/ag-charts-enterprise/src/features/annotations/properties/textualPointProperties.ts
  packages/ag-charts-enterprise/src/features/annotations/properties/textualStartEndProperties.ts
  packages/ag-charts-enterprise/src/features/annotations/scenes/textualPointScene.ts
  packages/ag-charts-enterprise/src/features/text-input/textInput.ts
  packages/ag-charts-types/src/chart/annotationsOptions.ts
  packages/ag-charts-types/src/chart/toolbarOptions.ts
Owners: @alantreadway, @ag-grid/ag-charts-team

AG-12162 Add missing textual annotations en-US translations
  packages/ag-charts-community/src/chart/toolbar/toolbarModule.ts
  packages/ag-charts-community/src/module/__snapshots__/optionsModule.test.ts.snap
  packages/ag-charts-locale/src/en-US.ts
Owners: @alantreadway, @ag-grid/ag-charts-team

AG-12162 Fix en us text annotations
  packages/ag-charts-locale/src/en-US.ts
Owners: @ag-grid/ag-charts-team

Fix update-e2e-snapshots.yml checkout for latest.
  .github/workflows/update-e2e-snapshots.yml
Owners: @ag-grid/ag-charts-team

Fix update-e2e-snapshots.yml checkout for latest.
  .github/workflows/update-e2e-snapshots.yml
Owners: @ag-grid/ag-charts-team

Fix conflicts
  packages/ag-charts-community/src/chart/toolbar/toolbarModule.ts
  packages/ag-charts-community/src/module/__snapshots__/optionsModule.test.ts.snap
Owners: @alantreadway

Remove duplicate icon name
  packages/ag-charts-types/src/chart/toolbarOptions.ts
Owners: @ag-grid/ag-charts-team

AG-12428 CSS docs
  packages/ag-charts-website/src/content/docs/layout/_examples/chart-class/styles.css
  packages/ag-charts-website/src/content/docs/layout/index.mdoc
  packages/ag-charts-website/src/features/example-runner/framework-templates/AngularTemplate.astro
Owners: @ag-grid/ag-charts-team, @rmc-software, @taktran

AG-12162 Cleanup code
  packages/ag-charts-enterprise/src/features/annotations/note/noteScene.ts
  packages/ag-charts-enterprise/src/features/text-input/textInput.ts
Owners: @alantreadway

AG-12162 Fix visible color buttons
  packages/ag-charts-enterprise/src/features/annotations/annotations.ts
  packages/ag-charts-enterprise/src/features/annotations/annotationsConfig.ts
Owners: @alantreadway

AG-12162 Update e2e snapshots
  packages/ag-charts-website/e2e/toolbar.spec.ts-snapshots/line-annotation-3-complete-chromium-darwin.png
Owners: @ag-grid/ag-charts-team

AG-12129 - Correct FC series type default theme colors.
  packages/ag-charts-community/src/chart/themes/chartTheme.ts
  packages/ag-charts-community/src/chart/themes/darkTheme.ts
  packages/ag-charts-community/src/chart/themes/defaultColors.ts
  packages/ag-charts-community/src/chart/themes/financialDark.ts
  packages/ag-charts-community/src/chart/themes/financialLight.ts
  packages/ag-charts-community/src/chart/themes/materialDark.ts
  packages/ag-charts-community/src/chart/themes/materialLight.ts
  packages/ag-charts-community/src/chart/themes/polychromaDark.ts
  packages/ag-charts-community/src/chart/themes/polychromaLight.ts
  packages/ag-charts-community/src/chart/themes/sheetsDark.ts
  packages/ag-charts-community/src/chart/themes/sheetsLight.ts
  packages/ag-charts-community/src/chart/themes/vividDark.ts
  packages/ag-charts-community/src/chart/themes/vividLight.ts
  packages/ag-charts-community/src/module/coreModulesTypes.ts
  packages/ag-charts-community/src/module/optionsModule.ts
  packages/ag-charts-enterprise/src/series/waterfall/waterfallModule.ts
  packages/ag-charts-types/src/chart/themeOptions.ts
Owners: @alantreadway, @ag-grid/ag-charts-team

AG-12162 Fix note annotation colors
  packages/ag-charts-enterprise/src/features/annotations/annotations.ts
  packages/ag-charts-enterprise/src/features/annotations/annotationsConfig.ts
  packages/ag-charts-enterprise/src/features/annotations/note/noteProperties.ts
Owners: @alantreadway

AG-12442 - Remove extra space above first item in examples files lists
  packages/ag-charts-website/src/features/example-runner/components/CodeViewer.module.scss
Owners: @markdurrant

AG-12161 - Fix handle stroke color on color picker changes
  packages/ag-charts-enterprise/src/features/annotations/annotationsModule.ts
  packages/ag-charts-enterprise/src/features/annotations/callout/calloutScene.ts
  packages/ag-charts-enterprise/src/features/annotations/comment/commentScene.ts
Owners: @alantreadway

Update e2e snapshots.
  packages/ag-charts-website/e2e/keyboard-nav.spec.ts-snapshots/1st-datum-focus-chromium-darwin.png
  packages/ag-charts-website/e2e/keyboard-nav.spec.ts-snapshots/3rd-datum-2nd-series-focus-chromium-darwin.png
  packages/ag-charts-website/e2e/keyboard-nav.spec.ts-snapshots/legend-2nd-page-focus-chromium-darwin.png
  packages/ag-charts-website/e2e/keyboard-nav.spec.ts-snapshots/legend-focus-chromium-darwin.png
  packages/ag-charts-website/e2e/keyboard-nav.spec.ts-snapshots/legend-page-control-focus-chromium-darwin.png
  packages/ag-charts-website/e2e/keyboard-nav.spec.ts-snapshots/tabbed-back-into-chart-chromium-darwin.png
  packages/ag-charts-website/e2e/keyboard-nav.spec.ts-snapshots/tabbed-out-of-chart-chromium-darwin.png
Owners: @ag-grid/ag-charts-team

AG-12442 - Remove extra space above first item in examples files lists (#2091)
  packages/ag-charts-website/src/features/example-runner/components/CodeViewer.module.scss
Owners: @markdurrant

AG-12161 - Fix annotations hanging around when empty
  packages/ag-charts-enterprise/src/features/annotations/annotationsStateMachine.ts
  packages/ag-charts-enterprise/src/features/annotations/comment/commentProperties.ts
  packages/ag-charts-enterprise/src/features/annotations/states/textualPointState.ts
  packages/ag-charts-enterprise/src/features/annotations/states/textualStartEndState.ts
Owners: @alantreadway

AG-12161 - Make null check stricter
  packages/ag-charts-enterprise/src/features/annotations/annotationsStateMachine.ts
  packages/ag-charts-enterprise/src/features/annotations/states/textualPointState.ts
  packages/ag-charts-enterprise/src/features/annotations/states/textualStartEndState.ts
Owners: @alantreadway

AG-12162 Fix changing font size on note annotations
  packages/ag-charts-enterprise/src/features/annotations/annotationsStateMachine.ts
  packages/ag-charts-enterprise/src/features/annotations/scenes/textualPointScene.ts
  packages/ag-charts-enterprise/src/features/annotations/scenes/textualStartEndScene.ts
Owners: @alantreadway
