Repository ag-grid/ag-charts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ag-grid/ag-charts-team, @markdurrant, @taktran, @alantreadway, @rmc-software

.github/CODEOWNERS:

# NOTE: Order of entries matters - later entries have higher precedence.

# Attribute code-owners so default reviewers are assigned to PRs.
* @ag-grid/ag-charts-team

# Astro + website changes to be reviewed by website team.
*.scss @markdurrant
*.astro @taktran
/packages/ag-charts-website/astro/** @taktran
/packages/ag-charts-website/components/** @taktran
/packages/ag-charts-website/features/** @taktran
/packages/ag-charts-website/layouts/** @taktran
/packages/ag-charts-website/stores/** @taktran
/packages/ag-charts-website/utils/** @taktran

# Docs updates to be reviewed by Eng VP.
/packages/ag-charts-website/content/** @alantreadway @rmc-software
*.mdoc @rmc-software

# Charts library code to be reviewed by Chart TL.
/packages/ag-charts-community/** @alantreadway
/packages/ag-charts-enterprise/** @alantreadway

# Sensitive build/repo files to be reviewed by Chart TL.
**/package.json @alantreadway
nx.json @alantreadway
**/project.json @alantreadway
**/tsconfig.json @alantreadway
**/tsconfig.*.json @alantreadway

AG-9649 - Detect major series configuration changes & force animation restart.
  packages/ag-charts-community/src/chart/agChartV2.ts
Owners: @alantreadway

AG-9649 - Test fixes.
  packages/ag-charts-community/src/chart/chart.test.ts
  packages/ag-charts-community/src/chart/chart.ts
  packages/ag-charts-enterprise/src/series/radial-bar/__image_snapshots__/radial-bar-test-ts-radial-bar-chart-add-animation-for-example-options-should-animate-at-0-1-snap.png
  packages/ag-charts-enterprise/src/series/radial-bar/__image_snapshots__/radial-bar-test-ts-radial-bar-chart-add-animation-for-example-options-should-animate-at-25-1-snap.png
  packages/ag-charts-enterprise/src/series/radial-bar/__image_snapshots__/radial-bar-test-ts-radial-bar-chart-add-animation-for-example-options-should-animate-at-50-1-snap.png
  packages/ag-charts-enterprise/src/series/radial-bar/__image_snapshots__/radial-bar-test-ts-radial-bar-chart-remove-animation-for-example-options-should-animate-at-0-1-snap.png
  packages/ag-charts-enterprise/src/series/radial-bar/__image_snapshots__/radial-bar-test-ts-radial-bar-chart-remove-animation-for-example-options-should-animate-at-25-1-snap.png
  packages/ag-charts-enterprise/src/series/radial-bar/__image_snapshots__/radial-bar-test-ts-radial-bar-chart-remove-animation-for-example-options-should-animate-at-50-1-snap.png
  packages/ag-charts-enterprise/src/series/treemap/treemapSeries.test.ts
Owners: @alantreadway

Bring over grid example runner layout & styles
  packages/ag-charts-website/src/components/icon/Icon.tsx
  packages/ag-charts-website/src/components/open-in-cta/OpenInCTA.module.scss
  packages/ag-charts-website/src/components/open-in-cta/OpenInCTA.tsx
  packages/ag-charts-website/src/features/example-runner/components/CodeOptions.module.scss
  packages/ag-charts-website/src/features/example-runner/components/CodeViewer.module.scss
  packages/ag-charts-website/src/features/example-runner/components/ExampleRunner.module.scss
  packages/ag-charts-website/src/features/example-runner/components/ExampleRunner.tsx
  packages/ag-charts-website/src/images/inline-svgs/new-tab.svg
Owners: @ag-grid/ag-charts-team, @markdurrant

Initial sunburst
  packages/ag-charts-community/src/chart/factory/expectedEnterpriseModules.ts
  packages/ag-charts-community/src/chart/series/hierarchy/hierarchySeries.ts
  packages/ag-charts-community/src/options/agChartOptions.ts
  packages/ag-charts-community/src/options/chart/themeOptions.ts
  packages/ag-charts-community/src/options/series/hierarchy/hierarchyOptions.ts
  packages/ag-charts-community/src/options/series/hierarchy/sunburstOptions.ts
  packages/ag-charts-community/src/options/series/hierarchy/treemapOptions.ts
  packages/ag-charts-enterprise/src/main.ts
  packages/ag-charts-enterprise/src/series/sunburst/sunburstSeries.ts
  packages/ag-charts-enterprise/src/series/sunburst/sunburstSeriesModule.ts
  packages/ag-charts-website/src/content/docs/sunburst-series/_examples/org-chart/data.ts
  packages/ag-charts-website/src/content/docs/sunburst-series/_examples/org-chart/index.html
  packages/ag-charts-website/src/content/docs/sunburst-series/_examples/org-chart/main.ts
  packages/ag-charts-website/src/content/docs/sunburst-series/index.mdoc
Owners: @alantreadway, @ag-grid/ag-charts-team, @rmc-software

Add highlighting support
  packages/ag-charts-community/src/options/series/hierarchy/sunburstOptions.ts
  packages/ag-charts-enterprise/src/series/sunburst/sunburstSeries.ts
  packages/ag-charts-website/src/content/docs/sunburst-series/_examples/org-chart/main.ts
Owners: @alantreadway, @ag-grid/ag-charts-team

Add specific styles for charts example runner
  packages/ag-charts-website/src/features/example-runner/components/ChartsExampleRunner.module.scss
  packages/ag-charts-website/src/features/example-runner/components/ExampleRunner.tsx
Owners: @markdurrant, @ag-grid/ag-charts-team

Bump to Nx 17.
  .prettierignore
  nx.json
  package.json
  packages/ag-charts-angular/project.json
  packages/ag-charts-community-examples/project.json
  packages/ag-charts-community/.swcrc
  packages/ag-charts-community/package.json
  packages/ag-charts-community/project.json
  packages/ag-charts-community/src/chart/test/utils.ts
  packages/ag-charts-enterprise/.swcrc
  packages/ag-charts-enterprise/project.json
  packages/ag-charts-react/project.json
  packages/ag-charts-vue/project.json
  packages/ag-charts-vue3/project.json
  packages/ag-charts-website/project.json
  packages/all/project.json
  patches/@nx+rollup+17.0.3.patch
  plugins/ag-charts-build-tools/project.json
  tsconfig.base.json
  yarn.lock
Owners: @ag-grid/ag-charts-team, @alantreadway

AG-3390 - Prettier fixes
  packages/ag-charts-website/src/pages/gallery.astro
Owners: @taktran

AG-3390 - Move contentViewport and aside into docs astro file
  packages/ag-charts-website/src/layouts/Layout.astro
  packages/ag-charts-website/src/pages/[framework]/[pageName].astro
  packages/ag-charts-website/src/pages/gallery.astro
Owners: @taktran

Fix .scss formating issues
  packages/ag-charts-website/src/design-system/elements/_button.scss
  packages/ag-charts-website/src/design-system/elements/_inline.scss
Owners: @markdurrant

Ag 9609 darkmode grid updates (#499)
  packages/ag-charts-website/src/components/alert/Alert.module.scss
  packages/ag-charts-website/src/components/icon/Icon.tsx
  packages/ag-charts-website/src/components/open-in-cta/OpenInCTA.module.scss
  packages/ag-charts-website/src/components/open-in-cta/OpenInCTA.tsx
  packages/ag-charts-website/src/components/pages-navigation/SideNavigation.module.scss
  packages/ag-charts-website/src/components/search/SearchBox.module.scss
  packages/ag-charts-website/src/design-system/_base.scss
  packages/ag-charts-website/src/design-system/_root.scss
  packages/ag-charts-website/src/design-system/_typography.scss
  packages/ag-charts-website/src/design-system/color.module.scss
  packages/ag-charts-website/src/design-system/components/_code.scss
  packages/ag-charts-website/src/design-system/components/_containers.scss
  packages/ag-charts-website/src/design-system/core/_variables.scss
  packages/ag-charts-website/src/design-system/elements/_block.scss
  packages/ag-charts-website/src/design-system/elements/_button.scss
  packages/ag-charts-website/src/design-system/elements/_form-elements.scss
  packages/ag-charts-website/src/design-system/elements/_inline.scss
  packages/ag-charts-website/src/design-system/elements/_table.scss
  packages/ag-charts-website/src/features/example-runner/components/ChartsExampleRunner.module.scss
  packages/ag-charts-website/src/features/example-runner/components/CodeOptions.module.scss
  packages/ag-charts-website/src/features/example-runner/components/CodeViewer.module.scss
  packages/ag-charts-website/src/features/example-runner/components/ExampleRunner.module.scss
  packages/ag-charts-website/src/features/example-runner/components/ExampleRunner.tsx
  packages/ag-charts-website/src/images/inline-svgs/new-tab.svg
Owners: @markdurrant, @ag-grid/ag-charts-team

Fix package.json devDependencies sort.
  package.json
Owners: @alantreadway

AG-9571 - New Grouped Stacked Bar gallery example
  packages/ag-charts-website/src/content/gallery/_examples/grouped-stack-bar/data.ts
  packages/ag-charts-website/src/content/gallery/_examples/grouped-stack-bar/main.ts
  packages/ag-charts-website/src/content/gallery/_examples/grouped-stack-column/data.ts
  packages/ag-charts-website/src/content/gallery/_examples/grouped-stack-column/index.html
  packages/ag-charts-website/src/content/gallery/_examples/grouped-stack-column/main.ts
  packages/ag-charts-website/src/content/gallery/_examples/grouped-stacked-bar/data.ts
  packages/ag-charts-website/src/content/gallery/_examples/grouped-stacked-bar/index.html
  packages/ag-charts-website/src/content/gallery/_examples/grouped-stacked-bar/main.ts
  packages/ag-charts-website/src/content/gallery/data.json
Owners: @ag-grid/ag-charts-team

AG-9571 - Update stacked bar example
  packages/ag-charts-website/src/content/gallery/_examples/stacked-bar/data.ts
  packages/ag-charts-website/src/content/gallery/_examples/stacked-bar/main.ts
Owners: @ag-grid/ag-charts-team

AG-9571 - Update stacked horizontal bar example
  packages/ag-charts-website/src/content/gallery/_examples/stacked-horizontal-bar/data.ts
  packages/ag-charts-website/src/content/gallery/_examples/stacked-horizontal-bar/main.ts
  packages/ag-charts-website/src/content/gallery/data.json
Owners: @ag-grid/ag-charts-team

AG-9571 - Update grouped horizontal bar example
  packages/ag-charts-website/src/content/gallery/_examples/grouped-horizontal-bar/data.ts
  packages/ag-charts-website/src/content/gallery/_examples/grouped-horizontal-bar/main.ts
Owners: @ag-grid/ag-charts-team

AG-9571 - Update Simple Horizontal Bar example
  packages/ag-charts-website/src/content/gallery/_examples/simple-horizontal-bar/main.ts
Owners: @ag-grid/ag-charts-team

AG-9571 - Remove grouped bar example
  packages/ag-charts-website/src/content/gallery/_examples/grouped-bar/data.ts
  packages/ag-charts-website/src/content/gallery/_examples/grouped-bar/index.html
  packages/ag-charts-website/src/content/gallery/_examples/grouped-bar/main.ts
Owners: @ag-grid/ag-charts-team

AG-9571 - Remove typing from example getData
  packages/ag-charts-website/src/content/gallery/_examples/grouped-horizontal-bar/data.ts
Owners: @ag-grid/ag-charts-team

wip
  packages/ag-charts-community/src/options/series/hierarchy/sunburstOptions.ts
  packages/ag-charts-community/src/scene/shape/sector.ts
  packages/ag-charts-enterprise/src/series/sunburst/sunburstSeries.ts
  packages/ag-charts-enterprise/src/series/sunburst/sunburstSeriesModule.ts
  packages/ag-charts-enterprise/src/series/treemap/treemapSeries.ts
  packages/ag-charts-website/src/content/docs/sunburst-series/_examples/org-chart/main.ts
Owners: @alantreadway, @ag-grid/ag-charts-team

AG-9571 - Format
  packages/ag-charts-website/src/content/gallery/_examples/grouped-horizontal-bar/main.ts
  packages/ag-charts-website/src/content/gallery/_examples/grouped-stacked-bar/data.ts
  packages/ag-charts-website/src/content/gallery/_examples/grouped-stacked-bar/main.ts
  packages/ag-charts-website/src/content/gallery/_examples/simple-horizontal-bar/main.ts
  packages/ag-charts-website/src/content/gallery/_examples/stacked-bar/main.ts
  packages/ag-charts-website/src/content/gallery/_examples/stacked-horizontal-bar/data.ts
Owners: @ag-grid/ag-charts-team

AG-9571 - Update stacked bar example
  packages/ag-charts-website/src/content/gallery/_examples/stacked-bar/main.ts
Owners: @ag-grid/ag-charts-team

labels
  packages/ag-charts-community/src/chart/series/hierarchy/hierarchySeries.ts
  packages/ag-charts-community/src/options/series/hierarchy/sunburstOptions.ts
  packages/ag-charts-enterprise/src/series/sunburst/sunburstSeries.ts
  packages/ag-charts-enterprise/src/series/treemap/treemapSeries.ts
Owners: @alantreadway

AG-5670 Join duplicate bar-like series code into AbstractBarSeries
  packages/ag-charts-community/src/chart/series/cartesian/abstractBarSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/barSeries.ts
  packages/ag-charts-community/src/module-support.ts
  packages/ag-charts-enterprise/src/series/box-plot/boxPlotSeries.ts
  packages/ag-charts-enterprise/src/series/bullet/bulletSeries.ts
  packages/ag-charts-enterprise/src/series/range-bar/rangeBar.ts
  packages/ag-charts-enterprise/src/series/waterfall/waterfallSeries.ts
Owners: @alantreadway

AG-5670 Fix BoxPlotGroup rendering logic
  packages/ag-charts-enterprise/src/series/box-plot/boxPlotDefaults.ts
  packages/ag-charts-enterprise/src/series/box-plot/boxPlotSeries.ts
Owners: @alantreadway

Secondary labels
  packages/ag-charts-community/src/options/series/hierarchy/sunburstOptions.ts
  packages/ag-charts-community/src/scene/shape/sector.ts
  packages/ag-charts-enterprise/src/series/sunburst/sunburstSeries.ts
  packages/ag-charts-enterprise/src/series/sunburst/sunburstSeriesModule.ts
  packages/ag-charts-enterprise/src/series/treemap/treemapLabelFormatter.test.ts
  packages/ag-charts-enterprise/src/series/treemap/treemapLabelFormatter.ts
  packages/ag-charts-enterprise/src/series/treemap/treemapSeries.ts
  packages/ag-charts-website/src/content/docs/sunburst-series/_examples/org-chart/main.ts
Owners: @alantreadway, @ag-grid/ag-charts-team

AG-9361: Fixed when pie data includes negative values, colours do not display correctly
  packages/ag-charts-community/src/chart/data/aggregateFunctions.ts
  packages/ag-charts-community/src/chart/series/polar/pieSeries.ts
  packages/ag-charts-community/src/chart/series/series.ts
Owners: @alantreadway

clean up secondary labels
  packages/ag-charts-enterprise/src/series/sunburst/sunburstSeries.ts
  packages/ag-charts-enterprise/src/series/treemap/treemapSeries.ts
Owners: @alantreadway

AG-9675: Make `sizeKey` required in `bubble` series
  packages/ag-charts-community/src/chart/series/cartesian/bubbleSeries.ts
  packages/ag-charts-community/src/options/series/cartesian/bubbleOptions.ts
Owners: @alantreadway

Move files around
  packages/ag-charts-community/src/options/series/hierarchy/sunburstOptions.ts
  packages/ag-charts-enterprise/src/series/sunburst/sunburstSeries.ts
  packages/ag-charts-enterprise/src/series/treemap/treemapSeries.ts
  packages/ag-charts-enterprise/src/series/util/labelFormatter.test.ts
  packages/ag-charts-enterprise/src/series/util/labelFormatter.ts
Owners: @alantreadway

lint
  packages/ag-charts-enterprise/src/series/sunburst/sunburstSeries.ts
Owners: @alantreadway

AG-9267: Gracefully handle histograms without data
  packages/ag-charts-enterprise/src/series/histogram/histogramSeries.ts
Owners: @alantreadway

AG-9675: Make `sizeKey` required in `bubble` series (#502)
  packages/ag-charts-community/src/chart/series/cartesian/bubbleSeries.ts
  packages/ag-charts-community/src/options/series/cartesian/bubbleOptions.ts
Owners: @alantreadway

AG-9267: Gracefully handle histograms without data (#503)
  packages/ag-charts-enterprise/src/series/histogram/histogramSeries.ts
Owners: @alantreadway

cleanup
  packages/ag-charts-community/src/chart/series/hierarchy/hierarchySeries.test.ts
  packages/ag-charts-community/src/chart/series/hierarchy/hierarchySeries.ts
  packages/ag-charts-community/src/options/chart/types.ts
  packages/ag-charts-community/src/options/series/hierarchy/sunburstOptions.ts
  packages/ag-charts-community/src/options/series/hierarchy/treemapOptions.ts
  packages/ag-charts-enterprise/src/series/sunburst/sunburstSeries.ts
  packages/ag-charts-enterprise/src/series/treemap/treemapSeries.ts
Owners: @alantreadway

Fix skinny wedges in sunburst
  packages/ag-charts-community-examples/src/charts-overview/gallery.json
  packages/ag-charts-community/src/chart/series/hierarchy/hierarchySeries.ts
  packages/ag-charts-community/src/chart/test/examples.ts
  packages/ag-charts-community/src/scene/shape/sector.ts
  packages/ag-charts-enterprise/src/series/sunburst/sunburstSeries.ts
  packages/ag-charts-website/src/content/docs/charts-overview/_gallery.md
  packages/ag-charts-website/src/content/gallery/_examples/market-index-treemap/main.ts
  packages/ag-charts-website/src/content/gallery/data.json
Owners: @ag-grid/ag-charts-team, @alantreadway

maths
  packages/ag-charts-community/src/scene/shape/sector.ts
Owners: @alantreadway

AG-3390 - Remove getting started page
  packages/ag-charts-website/src/components/footer/footer-items.json
  packages/ag-charts-website/src/content/docs/getting-started/_examples/beverage-expenses-captions/index.html
  packages/ag-charts-website/src/content/docs/getting-started/_examples/beverage-expenses-captions/main.ts
  packages/ag-charts-website/src/content/docs/getting-started/_examples/beverage-expenses-labels/index.html
  packages/ag-charts-website/src/content/docs/getting-started/_examples/beverage-expenses-labels/main.ts
  packages/ag-charts-website/src/content/docs/getting-started/_examples/beverage-expenses-no-labels/index.html
  packages/ag-charts-website/src/content/docs/getting-started/_examples/beverage-expenses-no-labels/main.ts
  packages/ag-charts-website/src/content/docs/getting-started/_examples/line-chart-legend/index.html
  packages/ag-charts-website/src/content/docs/getting-started/_examples/line-chart-legend/main.ts
  packages/ag-charts-website/src/content/docs/getting-started/index.mdoc
  packages/ag-charts-website/src/content/docs/overview/index.mdoc
  packages/ag-charts-website/src/pages/documentation.astro
  packages/ag-charts-website/src/pages/getting-started.astro
  packages/ag-charts-website/src/pages/index.astro
Owners: @ag-grid/ag-charts-team, @rmc-software, @taktran

AG-3390 - Redirect documentation page based on selected framework
  packages/ag-charts-website/src/pages/documentation.astro
Owners: @taktran

test negative accumulated values are not decreasing the resulting sum
  packages/ag-charts-community/src/chart/data/dataModel.test.ts
Owners: @alantreadway
