Repository ag-grid/ag-charts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ag-grid/ag-charts-team, @markdurrant, @taktran, @alantreadway, @rmc-software

.github/CODEOWNERS:

# NOTE: Order of entries matters - later entries have higher precedence.

# Attribute code-owners so default reviewers are assigned to PRs.
* @ag-grid/ag-charts-team

# Astro + website changes to be reviewed by website team.
*.scss @markdurrant
*.astro @taktran
/packages/ag-charts-website/astro/** @taktran
/packages/ag-charts-website/components/** @taktran
/packages/ag-charts-website/features/** @taktran
/packages/ag-charts-website/layouts/** @taktran
/packages/ag-charts-website/stores/** @taktran
/packages/ag-charts-website/utils/** @taktran

# Docs updates to be reviewed by Eng VP.
/packages/ag-charts-website/content/** @alantreadway @rmc-software
*.mdoc @rmc-software

# Charts library code to be reviewed by Chart TL.
/packages/ag-charts-community/** @alantreadway
/packages/ag-charts-enterprise/** @alantreadway

# Sensitive build/repo files to be reviewed by Chart TL.
**/package.json @alantreadway
nx.json @alantreadway
**/project.json @alantreadway
**/tsconfig.json @alantreadway
**/tsconfig.*.json @alantreadway

AG-10486 Enforce type-safety for ContextTypes 'series' and 'all'
  packages/ag-charts-community/src/options/chart/contextMenuOptions.ts
  packages/ag-charts-community/src/options/chart/eventOptions.ts
  packages/ag-charts-enterprise/src/features/context-menu/contextMenu.ts
Owners: @alantreadway

AG-10486 Enforce type-safety in ContextMenu.groups
  packages/ag-charts-community/src/options/agChartOptions.ts
  packages/ag-charts-enterprise/src/features/context-menu/contextMenu.ts
Owners: @alantreadway

AG-10486 CR: Use a ContextMenuActionEventMap type
  packages/ag-charts-community/src/chart/interaction/contextMenuRegistry.ts
Owners: @alantreadway

fix series visible default
  packages/ag-charts-community/src/chart/themes/chartTheme.ts
  packages/ag-charts-community/src/module/optionsModule.ts
Owners: @alantreadway

re-update snapshots update merge
  packages/ag-charts-community/src/module/__snapshots__/optionsModule.test.ts.snap
  packages/ag-charts-community/src/module/optionsModule.test.ts
Owners: @alantreadway

Fix SonarCloud-identified dangling statement.
  packages/ag-charts-enterprise/src/series/flow-proportion/flowProportionSeries.ts
Owners: @alantreadway

Fix SonarCloud status reporting on latest.
  .github/workflows/ci.yml
Owners: @ag-grid/ag-charts-team

Temporarily skip broken test.
  packages/ag-charts-enterprise/src/series/sankey/sankeySeries.test.ts
Owners: @alantreadway

AG-11527 - Fix example types.
  packages/ag-charts-website/src/content/docs/candlestick-series-test/_examples/candlestick-animation-remove-data/main.ts
  packages/ag-charts-website/src/content/docs/candlestick-series-test/_examples/candlestick-animation-update-value/main.ts
  packages/ag-charts-website/src/content/docs/legend-test/_examples/legend-layout-horizontal/main.ts
  packages/ag-charts-website/src/content/docs/legend-test/_examples/legend-layout-vertical/main.ts
  packages/ag-charts-website/src/content/docs/legend-test/_examples/legend-pagination/main.ts
  packages/ag-charts-website/src/content/docs/legend/_examples/legend-constraints/main.ts
  packages/ag-charts-website/src/content/docs/legend/_examples/legend-customisation/main.ts
  packages/ag-charts-website/src/content/docs/legend/_examples/legend-position/main.ts
  packages/ag-charts-website/src/content/docs/legend/_examples/legend-seriesStroke/main.ts
  packages/ag-charts-website/src/content/docs/line-series-test/_examples/category-animation/main.ts
  packages/ag-charts-website/src/content/docs/line-series-test/_examples/continuous-animation/main.ts
  packages/ag-charts-website/src/content/docs/line-series-test/_examples/easeOut-very-slow/main.ts
  packages/ag-charts-website/src/content/docs/line-series/_examples/gap-line/main.ts
  packages/ag-charts-website/src/content/docs/line-series/_examples/line-style/main.ts
  packages/ag-charts-website/src/content/docs/pie-series-test/_examples/animation/main.ts
  packages/ag-charts-website/src/content/docs/radar-line-series-test/_examples/animation/main.ts
  packages/ag-charts-website/src/content/docs/range-area-series/_examples/range-area-missing-data/main.ts
  packages/ag-charts-website/src/content/docs/range-bar-series-test/_examples/horizontal-range-bar-animation-add-data/main.ts
  packages/ag-charts-website/src/content/docs/range-bar-series-test/_examples/horizontal-range-bar-animation-remove-data/main.ts
  packages/ag-charts-website/src/content/docs/range-bar-series-test/_examples/horizontal-range-bar-animation-shuffle-data/main.ts
  packages/ag-charts-website/src/content/docs/range-bar-series-test/_examples/horizontal-range-bar-animation-update-data/main.ts
  packages/ag-charts-website/src/content/docs/range-bar-series-test/_examples/horizontal-range-bar-animation/main.ts
  packages/ag-charts-website/src/content/docs/range-bar-series-test/_examples/range-bar-animation-add-data/main.ts
  packages/ag-charts-website/src/content/docs/range-bar-series-test/_examples/range-bar-animation-remove-data/main.ts
  packages/ag-charts-website/src/content/docs/range-bar-series-test/_examples/range-bar-animation-shuffle-data/main.ts
  packages/ag-charts-website/src/content/docs/range-bar-series-test/_examples/range-bar-animation-update-data/main.ts
  packages/ag-charts-website/src/content/docs/range-bar-series-test/_examples/range-bar-animation/main.ts
  packages/ag-charts-website/src/content/docs/range-bar-series/_examples/range-bar-missing-data/main.ts
  packages/ag-charts-website/src/content/docs/sankey-series/_examples/alignment/main.ts
  packages/ag-charts-website/src/content/docs/scatter-series/_examples/scatter-chart-labels/main.ts
  packages/ag-charts-website/src/content/docs/themes/_examples/advanced-theme/main.ts
  packages/ag-charts-website/src/content/docs/themes/_examples/stock-themes/main.ts
  packages/ag-charts-website/src/content/docs/tooltips/_examples/tooltip-position/main.ts
Owners: @ag-grid/ag-charts-team

AG-11527 - Add basic Financial Charts preset.
  packages/ag-charts-community/src/api/agCharts.ts
  packages/ag-charts-community/src/api/preset/candlestickVolumePreset.ts
  packages/ag-charts-community/src/api/preset/presets.ts
  packages/ag-charts-community/src/chart/chart.ts
  packages/ag-charts-community/src/chart/chartProxy.ts
  packages/ag-charts-community/src/module/optionsModule.ts
  packages/ag-charts-community/src/options/agChartOptions.ts
  packages/ag-charts-community/src/options/api/presetOptions.ts
  packages/ag-charts-community/src/options/chart/chartOptions.ts
Owners: @alantreadway

AG-11527 - Fix example types.
  packages/ag-charts-community/src/api/agCharts.ts
  packages/ag-charts-website/src/content/docs/animation/_examples/data-updates/main.ts
  packages/ag-charts-website/src/content/docs/animation/_examples/duration/main.ts
  packages/ag-charts-website/src/content/docs/animation/_examples/initial-load/main.ts
  packages/ag-charts-website/src/content/docs/api-create-update/_examples/create-update/main.ts
  packages/ag-charts-website/src/content/docs/area-series-test/_examples/category-animation/main.ts
  packages/ag-charts-website/src/content/docs/area-series-test/_examples/continuous-animation/main.ts
  packages/ag-charts-website/src/content/docs/area-series/_examples/missing-data-area/main.ts
  packages/ag-charts-website/src/content/docs/background/_examples/background-fill/main.ts
  packages/ag-charts-website/src/content/docs/bubble-series/_examples/bubble-chart-labels/main.ts
  packages/ag-charts-website/src/content/docs/candlestick-series-test/_examples/candlestick-animation-add-data/main.ts
  packages/ag-charts-website/src/content/docs/financial-charts/_examples/candlestick-volume-combo/main.ts
Owners: @alantreadway, @ag-grid/ag-charts-team

AG-11527 - Update first Financial Charts example.
  packages/ag-charts-website/src/content/docs/financial-charts/_examples/candlestick-volume-combo/main.ts
Owners: @ag-grid/ag-charts-team

AG-11527 - Fix example types.
  packages/ag-charts-website/src/content/docs/animation/_examples/data-updates/main.ts
  packages/ag-charts-website/src/content/docs/animation/_examples/duration/main.ts
  packages/ag-charts-website/src/content/docs/animation/_examples/initial-load/main.ts
  packages/ag-charts-website/src/content/docs/api-create-update/_examples/create-update/main.ts
  packages/ag-charts-website/src/content/docs/area-series-test/_examples/category-animation/main.ts
Owners: @ag-grid/ag-charts-team

AG-11133 Add annotation delete on floating toolbar
  packages/ag-charts-community/src/chart/interaction/toolbarManager.ts
  packages/ag-charts-community/src/chart/toolbar/toolbar.ts
  packages/ag-charts-community/src/chart/toolbar/toolbarModule.ts
  packages/ag-charts-community/src/chart/toolbar/toolbarProperties.ts
  packages/ag-charts-community/src/chart/toolbar/toolbarStyles.ts
  packages/ag-charts-community/src/chart/toolbar/toolbarTypes.ts
  packages/ag-charts-community/src/chart/toolbar/toolbarUtil.ts
  packages/ag-charts-community/src/module/__snapshots__/optionsModule.test.ts.snap
  packages/ag-charts-community/src/options/chart/toolbarOptions.ts
  packages/ag-charts-community/src/styles/icons.ts
  packages/ag-charts-community/src/styles/theme-default.ts
  packages/ag-charts-community/src/util/id.ts
  packages/ag-charts-enterprise/src/features/annotations/annotationProperties.ts
  packages/ag-charts-enterprise/src/features/annotations/annotationTypes.ts
  packages/ag-charts-enterprise/src/features/annotations/annotations.ts
  packages/ag-charts-enterprise/src/features/annotations/disjoint-channel/disjointChannelState.ts
  packages/ag-charts-enterprise/src/features/annotations/line/lineScene.ts
  packages/ag-charts-enterprise/src/features/annotations/line/lineState.ts
  packages/ag-charts-enterprise/src/features/annotations/parallel-channel/parallelChannelState.ts
  packages/ag-charts-enterprise/src/features/annotations/scenes/annotation.ts
  packages/ag-charts-enterprise/src/features/annotations/scenes/channelScene.ts
  packages/ag-charts-enterprise/src/features/zoom/zoom.ts
  packages/ag-charts-enterprise/src/features/zoom/zoomToolbar.ts
  packages/ag-charts-website/src/content/docs/annotations/_examples/annotation-editing/main.ts
  packages/ag-charts-website/src/content/docs/annotations/_examples/annotation-save-restore/main.ts
Owners: @alantreadway, @ag-grid/ag-charts-team

Skip test for sankey and chord charts that is not yet supported
  packages/ag-charts-enterprise/src/series/chord/chordSeries.test.ts
  packages/ag-charts-enterprise/src/series/sankey/sankeySeries.test.ts
Owners: @alantreadway

new theme implementation, nest step is to replace existing one + minor theme cleanup
  packages/ag-charts-community/src/chart/themes/chartTheme.ts
  packages/ag-charts-community/src/module/__snapshots__/optionsModule.test.ts.snap
  packages/ag-charts-community/src/sandbox/themes/agDefaultDarkTheme.ts
  packages/ag-charts-community/src/sandbox/themes/agDefaultTheme.ts
  packages/ag-charts-community/src/sandbox/themes/agMaterialDarkTheme.ts
  packages/ag-charts-community/src/sandbox/themes/agMaterialTheme.ts
  packages/ag-charts-community/src/sandbox/themes/agPolychromaDarkTheme.ts
  packages/ag-charts-community/src/sandbox/themes/agPolychromaTheme.ts
  packages/ag-charts-community/src/sandbox/themes/agSheetsDarkTheme.ts
  packages/ag-charts-community/src/sandbox/themes/agSheetsTheme.ts
  packages/ag-charts-community/src/sandbox/themes/agVividDarkTheme.ts
  packages/ag-charts-community/src/sandbox/themes/agVividTheme.ts
  packages/ag-charts-community/src/sandbox/themes/themeDefinition.ts
  packages/ag-charts-community/src/sandbox/themes/themeMap.ts
  packages/ag-charts-community/src/sandbox/themes/themeTypes.ts
  packages/ag-charts-community/src/sandbox/themes/themeVariables.ts
  packages/ag-charts-community/src/util/object.ts
Owners: @alantreadway

AG-11132 Fix dragging unselected annotations
  packages/ag-charts-enterprise/src/features/annotations/annotations.ts
Owners: @alantreadway

AG-11132 Fix disjoint channel handle constraints
  packages/ag-charts-enterprise/src/features/annotations/disjoint-channel/disjointChannelScene.ts
  packages/ag-charts-enterprise/src/features/annotations/disjoint-channel/disjointChannelState.ts
Owners: @alantreadway

AG-11148 Fix prevent annotations restoration when disabled
  packages/ag-charts-enterprise/src/features/annotations/annotations.ts
Owners: @alantreadway

new options validation used on themes
  packages/ag-charts-community/src/chart/mapping/themes.test.ts
  packages/ag-charts-community/src/chart/mapping/themes.ts
  packages/ag-charts-community/src/sandbox/util/string.util.ts
  packages/ag-charts-community/src/sandbox/util/validation.test.ts
  packages/ag-charts-community/src/sandbox/util/validation.ts
Owners: @alantreadway

Fix nx dev rebuild of ag-charts-community.
  packages/all/watch.js
Owners: @ag-grid/ag-charts-team

AG-11527 - Fix rendering of Preset type.
  packages/ag-charts-website/src/features/api-documentation/apiReferenceHelpers.ts
Owners: @ag-grid/ag-charts-team

themesMap
  packages/ag-charts-community/src/chart/mapping/themes.test.ts
  packages/ag-charts-community/src/chart/mapping/themes.ts
  packages/ag-charts-community/src/integrated-charts-theme.ts
Owners: @alantreadway

AG-11683 Fix parallel channel middle visible property
  packages/ag-charts-enterprise/src/features/annotations/annotationProperties.ts
  packages/ag-charts-enterprise/src/features/annotations/parallel-channel/parallelChannelScene.ts
Owners: @alantreadway

Use snapshots with tests warning messages
  libraries/ag-charts-test/src/console/mock-console.ts
  packages/ag-charts-community/src/chart/data/__snapshots__/dataModel.test.ts.snap
  packages/ag-charts-community/src/chart/data/dataModel.test.ts
  packages/ag-charts-community/src/chart/mapping/__snapshots__/themes.test.ts.snap
  packages/ag-charts-community/src/chart/mapping/themes.test.ts
  packages/ag-charts-community/src/chart/overlay/__snapshots__/overlay.test.ts.snap
  packages/ag-charts-community/src/chart/overlay/overlay.test.ts
  packages/ag-charts-community/src/chart/series/polar/__snapshots__/donutSeries.test.ts.snap
  packages/ag-charts-community/src/chart/series/polar/__snapshots__/pieSeries.test.ts.snap
  packages/ag-charts-community/src/chart/series/polar/donutSeries.test.ts
  packages/ag-charts-community/src/chart/series/polar/pieSeries.test.ts
  packages/ag-charts-community/src/chart/tooltip/__snapshots__/tooltip.test.ts.snap
  packages/ag-charts-community/src/chart/tooltip/tooltip.test.ts
  packages/ag-charts-community/src/util/__snapshots__/properties.test.ts.snap
  packages/ag-charts-community/src/util/properties.test.ts
  packages/ag-charts-community/src/util/test/mockConsole.ts
  packages/ag-charts-enterprise/src/features/features.test.ts
  packages/ag-charts-enterprise/src/series/bullet/bulletSeries.test.ts
  packages/ag-charts-enterprise/src/series/range-area/rangeArea.test.ts
  packages/ag-charts-enterprise/src/series/waterfall/waterfall.test.ts
Owners: @ag-grid/ag-charts-team, @alantreadway

Automated package version bump to 9.3.1-beta.20240530.
  .env
  libraries/ag-charts-test/package.json
  package.json
  packages/ag-charts-angular/package.json
  packages/ag-charts-angular/projects/ag-charts-angular/package.json
  packages/ag-charts-community-examples/package.json
  packages/ag-charts-community/package.json
  packages/ag-charts-community/src/version.ts
  packages/ag-charts-enterprise/package.json
  packages/ag-charts-react/package.json
  packages/ag-charts-vue3/package.json
  packages/ag-charts-website/.env.build
  packages/ag-charts-website/.env.build.archive
  packages/ag-charts-website/.env.build.production
  packages/ag-charts-website/.env.build.staging
  packages/ag-charts-website/.env.dev
  packages/ag-charts-website/.env.preview
  packages/ag-charts-website/.env.preview.production
  packages/ag-charts-website/.env.preview.staging
  packages/ag-charts-website/package.json
  plugins/ag-charts-generate-chart-thumbnail/package.json
  plugins/ag-charts-generate-code-reference-files/package.json
  plugins/ag-charts-generate-example-files/package.json
Owners: @ag-grid/ag-charts-team, @alantreadway

AG-11683 Add annotations required properties check
  packages/ag-charts-community/src/util/properties.ts
  packages/ag-charts-enterprise/src/features/annotations/annotations.ts
  packages/ag-charts-enterprise/src/features/annotations/disjoint-channel/disjointChannelProperties.ts
  packages/ag-charts-enterprise/src/features/annotations/parallel-channel/parallelChannelProperties.ts
Owners: @alantreadway

Use snapshots with tests warning messages
  libraries/ag-charts-test/src/console/mock-console.ts
  packages/ag-charts-community/src/chart/caption.test.ts
  packages/ag-charts-community/src/chart/crossline/crossLine.test.ts
  packages/ag-charts-community/src/chart/data/dataModel.test.ts
  packages/ag-charts-community/src/chart/mapping/themes.test.ts
  packages/ag-charts-community/src/chart/memento.test.ts
  packages/ag-charts-community/src/chart/overlay/overlay.test.ts
  packages/ag-charts-community/src/chart/series/cartesian/barSeries.test.ts
  packages/ag-charts-community/src/chart/series/polar/donutSeries.test.ts
  packages/ag-charts-community/src/chart/series/polar/pieSeries.test.ts
  packages/ag-charts-community/src/chart/tooltip/tooltip.test.ts
  packages/ag-charts-community/src/util/properties.test.ts
  packages/ag-charts-community/src/util/test/mockConsole.ts
  packages/ag-charts-enterprise/src/features/features.test.ts
  packages/ag-charts-enterprise/src/series/bullet/bulletSeries.test.ts
  packages/ag-charts-enterprise/src/series/range-area/rangeArea.test.ts
  packages/ag-charts-enterprise/src/series/waterfall/waterfall.test.ts
Owners: @ag-grid/ag-charts-team, @alantreadway

Fix toggling of crossfiltering pie/donut series items.
  packages/ag-charts-community/src/chart/series/polar/donutSeries.ts
  packages/ag-charts-community/src/chart/series/polar/pieSeries.ts
Owners: @alantreadway

More breaking changes, comment corrections and docs edits
  packages/ag-charts-community/src/options/chart/legendOptions.ts
  packages/ag-charts-community/src/options/series/cartesian/bubbleOptions.ts
  packages/ag-charts-community/src/options/series/cartesian/commonOptions.ts
  packages/ag-charts-community/src/options/series/flow-proportion/chordOptions.ts
  packages/ag-charts-community/src/options/series/flow-proportion/sankeyOptions.ts
  packages/ag-charts-website/src/content/docs/layout/index.mdoc
  packages/ag-charts-website/src/content/docs/legend/index.mdoc
  packages/ag-charts-website/src/content/docs/upgrade-to-ag-charts-10/index.mdoc
Owners: @alantreadway, @rmc-software

snapshot image renames
  packages/ag-charts-enterprise/src/features/__image_snapshots__/features-test-ts-feature-combinations-navigator-and-zoom-should-prioritise-zoom-ratio-over-navigator-min-max-2-snap.png
  packages/ag-charts-enterprise/src/series/bullet/__image_snapshots__/bullet-series-test-ts-bullet-series-validation-should-filter-bullet-series-from-line-chart-2-snap.png
  packages/ag-charts-enterprise/src/series/bullet/__image_snapshots__/bullet-series-test-ts-bullet-series-validation-should-ignore-empty-color-range-arrays-1-snap.png
  packages/ag-charts-enterprise/src/series/bullet/__image_snapshots__/bullet-series-test-ts-bullet-series-validation-should-ignore-other-trailing-series-2-snap.png
  packages/ag-charts-enterprise/src/series/bullet/__image_snapshots__/bullet-series-test-ts-bullet-series-validation-should-ignore-trailing-bullet-series-2-snap.png
  packages/ag-charts-enterprise/src/series/bullet/__image_snapshots__/bullet-series-test-ts-bullet-series-validation-warning-negative-color-range-stop-2-snap.png
  packages/ag-charts-enterprise/src/series/bullet/__image_snapshots__/bullet-series-test-ts-bullet-series-validation-warning-negative-max-ignore-max-2-snap.png
  packages/ag-charts-enterprise/src/series/bullet/__image_snapshots__/bullet-series-test-ts-bullet-series-validation-warning-negative-target-2-snap.png
  packages/ag-charts-enterprise/src/series/bullet/__image_snapshots__/bullet-series-test-ts-bullet-series-validation-warning-negative-value-2-snap.png
Owners: @alantreadway

set properties.test.ts missing inline snapshots
  libraries/ag-charts-test/src/console/mock-console.ts
  packages/ag-charts-community/src/util/properties.test.ts
Owners: @ag-grid/ag-charts-team, @alantreadway

cleanup
  libraries/ag-charts-test/src/console/mock-console.ts
Owners: @ag-grid/ag-charts-team

Use snapshots with tests warning messages (#1642)
  libraries/ag-charts-test/src/console/mock-console.ts
  packages/ag-charts-community/src/chart/caption.test.ts
  packages/ag-charts-community/src/chart/crossline/crossLine.test.ts
  packages/ag-charts-community/src/chart/data/dataModel.test.ts
  packages/ag-charts-community/src/chart/mapping/themes.test.ts
  packages/ag-charts-community/src/chart/memento.test.ts
  packages/ag-charts-community/src/chart/overlay/overlay.test.ts
  packages/ag-charts-community/src/chart/series/cartesian/barSeries.test.ts
  packages/ag-charts-community/src/chart/series/polar/donutSeries.test.ts
  packages/ag-charts-community/src/chart/series/polar/pieSeries.test.ts
  packages/ag-charts-community/src/chart/tooltip/tooltip.test.ts
  packages/ag-charts-community/src/util/properties.test.ts
  packages/ag-charts-community/src/util/test/mockConsole.ts
  packages/ag-charts-enterprise/src/features/__image_snapshots__/features-test-ts-feature-combinations-navigator-and-zoom-should-prioritise-zoom-ratio-over-navigator-min-max-2-snap.png
  packages/ag-charts-enterprise/src/features/features.test.ts
  packages/ag-charts-enterprise/src/series/bullet/__image_snapshots__/bullet-series-test-ts-bullet-series-validation-should-filter-bullet-series-from-line-chart-2-snap.png
  packages/ag-charts-enterprise/src/series/bullet/__image_snapshots__/bullet-series-test-ts-bullet-series-validation-should-ignore-empty-color-range-arrays-1-snap.png
  packages/ag-charts-enterprise/src/series/bullet/__image_snapshots__/bullet-series-test-ts-bullet-series-validation-should-ignore-other-trailing-series-2-snap.png
  packages/ag-charts-enterprise/src/series/bullet/__image_snapshots__/bullet-series-test-ts-bullet-series-validation-should-ignore-trailing-bullet-series-2-snap.png
  packages/ag-charts-enterprise/src/series/bullet/__image_snapshots__/bullet-series-test-ts-bullet-series-validation-warning-negative-color-range-stop-2-snap.png
  packages/ag-charts-enterprise/src/series/bullet/__image_snapshots__/bullet-series-test-ts-bullet-series-validation-warning-negative-max-ignore-max-2-snap.png
  packages/ag-charts-enterprise/src/series/bullet/__image_snapshots__/bullet-series-test-ts-bullet-series-validation-warning-negative-target-2-snap.png
  packages/ag-charts-enterprise/src/series/bullet/__image_snapshots__/bullet-series-test-ts-bullet-series-validation-warning-negative-value-2-snap.png
  packages/ag-charts-enterprise/src/series/bullet/bulletSeries.test.ts
  packages/ag-charts-enterprise/src/series/range-area/rangeArea.test.ts
  packages/ag-charts-enterprise/src/series/waterfall/waterfall.test.ts
Owners: @ag-grid/ag-charts-team, @alantreadway

fix tests
  packages/ag-charts-community/src/chart/mapping/themes.test.ts
  packages/ag-charts-community/src/chart/series/seriesLabels.test.ts
Owners: @alantreadway

AG-11683 Rename channel annotation size properties to height
  packages/ag-charts-community/src/options/chart/annotationsOptions.ts
  packages/ag-charts-enterprise/src/features/annotations/disjoint-channel/disjointChannelProperties.ts
  packages/ag-charts-enterprise/src/features/annotations/disjoint-channel/disjointChannelScene.ts
  packages/ag-charts-enterprise/src/features/annotations/disjoint-channel/disjointChannelState.ts
  packages/ag-charts-enterprise/src/features/annotations/parallel-channel/parallelChannelProperties.ts
  packages/ag-charts-enterprise/src/features/annotations/parallel-channel/parallelChannelScene.ts
  packages/ag-charts-enterprise/src/features/annotations/parallel-channel/parallelChannelState.ts
  packages/ag-charts-website/src/content/docs/annotations/_examples/annotation-customisation/main.ts
  packages/ag-charts-website/src/content/docs/annotations/_examples/annotation-disjoint-channel/main.ts
  packages/ag-charts-website/src/content/docs/annotations/_examples/annotation-parallel-channel/main.ts
  packages/ag-charts-website/src/content/docs/annotations/index.mdoc
Owners: @alantreadway, @ag-grid/ag-charts-team, @rmc-software

AG-11136 - Add axis regions to region manager
  packages/ag-charts-community/src/chart/axis/axis.ts
  packages/ag-charts-community/src/chart/chart.ts
  packages/ag-charts-community/src/chart/chartAxis.ts
  packages/ag-charts-community/src/chart/interaction/regionManager.ts
Owners: @alantreadway

AG-11136 - Add vertical and horizontal crossline annotations
  packages/ag-charts-community/src/chart/interaction/interactionManager.ts
  packages/ag-charts-community/src/chart/interaction/regionManager.ts
  packages/ag-charts-community/src/options/chart/annotationsOptions.ts
  packages/ag-charts-enterprise/src/features/annotations/annotationProperties.ts
  packages/ag-charts-enterprise/src/features/annotations/annotationTypes.ts
  packages/ag-charts-enterprise/src/features/annotations/annotations.ts
  packages/ag-charts-enterprise/src/features/annotations/annotationsModule.ts
  packages/ag-charts-enterprise/src/features/annotations/cross-line/crossLineProperties.ts
  packages/ag-charts-enterprise/src/features/annotations/cross-line/crossLineScene.ts
  packages/ag-charts-enterprise/src/features/annotations/cross-line/crossLineState.ts
  packages/ag-charts-enterprise/src/features/annotations/scenes/handle.ts
Owners: @alantreadway

AG-11136 - Fix axes regions related bugs
  packages/ag-charts-community/src/chart/axis/axis.ts
  packages/ag-charts-community/src/chart/chart.ts
  packages/ag-charts-community/src/chart/interaction/interactionManager.ts
  packages/ag-charts-community/src/chart/interaction/keyNavManager.ts
  packages/ag-charts-community/src/chart/interaction/regionManager.ts
  packages/ag-charts-enterprise/src/features/annotations/annotations.ts
  packages/ag-charts-enterprise/src/features/zoom/zoom.ts
Owners: @alantreadway

AG-9558 - Add crossline on axis click
  packages/ag-charts-enterprise/src/features/annotations/cross-line/crossLineState.ts
Owners: @alantreadway
