Repository ag-grid/ag-charts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ag-grid/ag-charts-team, @markdurrant, @taktran, @alantreadway, @rmc-software

AG-13031 - Extract essential layout CSS into all templates
  external/ag-website-shared/src/components/example-runner/example-base.css
  external/ag-website-shared/src/components/example-runner/example-controls.css
  packages/ag-charts-website/src/features/example-runner/framework-templates/AngularTemplate.astro
  packages/ag-charts-website/src/features/example-runner/framework-templates/JavascriptTemplate.astro
  packages/ag-charts-website/src/features/example-runner/framework-templates/ReactTemplate.astro
  packages/ag-charts-website/src/features/example-runner/framework-templates/TypescriptTemplate.astro
  packages/ag-charts-website/src/features/example-runner/framework-templates/VueTemplate.astro
Owners: @ag-grid/ag-charts-team, @taktran

AG-13031 - Remove 'extraStyles' option. Add CodeSandbox fix to base CSS
  external/ag-website-shared/src/components/example-runner/example-base.css
  external/ag-website-shared/src/components/example-runner/example-controls.css
  packages/ag-charts-website/src/content/docs/layout-test/_examples/layout-matrix/main.ts
  packages/ag-charts-website/src/features/docs/components/DocsFrameworkTemplate.astro
  packages/ag-charts-website/src/features/example-runner/components/FrameworkTemplate.astro
  packages/ag-charts-website/src/features/example-runner/framework-templates/AngularTemplate.astro
  packages/ag-charts-website/src/features/example-runner/framework-templates/JavascriptTemplate.astro
  packages/ag-charts-website/src/features/example-runner/framework-templates/ReactTemplate.astro
  packages/ag-charts-website/src/features/example-runner/framework-templates/TypescriptTemplate.astro
  packages/ag-charts-website/src/features/example-runner/framework-templates/VueTemplate.astro
  packages/ag-charts-website/src/features/gallery/components/GalleryFrameworkTemplate.astro
  packages/ag-charts-website/src/pages/[internalFramework]/[pageName]/examples/[exampleName]/codesandbox.astro
  packages/ag-charts-website/src/pages/gallery/examples/[exampleName]/codesandbox.astro
Owners: @ag-grid/ag-charts-team, @taktran

Update E2E snapshots. (#2818)
  packages/ag-charts-website/e2e/context-menu.spec.ts-snapshots/pan-to-here-chromium-linux.png
  packages/ag-charts-website/e2e/context-menu.spec.ts-snapshots/zoom-to-here-chromium-linux.png
Owners: @ag-grid/ag-charts-team

Automated package version bump to 10.3.0-beta.20241022.1441.
  .env
  libraries/ag-charts-test/package.json
  package.json
  packages/ag-charts-angular/package.json
  packages/ag-charts-angular/projects/ag-charts-angular/package.json
  packages/ag-charts-community-examples/package.json
  packages/ag-charts-community/package.json
  packages/ag-charts-community/src/version.ts
  packages/ag-charts-enterprise/package.json
  packages/ag-charts-locale/package.json
  packages/ag-charts-react/package.json
  packages/ag-charts-types/package.json
  packages/ag-charts-vue3/package.json
  packages/ag-charts-website/.env.build
  packages/ag-charts-website/.env.build.archive
  packages/ag-charts-website/.env.build.production
  packages/ag-charts-website/.env.build.staging
  packages/ag-charts-website/.env.dev
  packages/ag-charts-website/.env.preview
  packages/ag-charts-website/.env.preview.production
  packages/ag-charts-website/.env.preview.staging
  packages/ag-charts-website/.env.test:e2e
  packages/ag-charts-website/.env.test:e2e.docker
  packages/ag-charts-website/package.json
  plugins/ag-charts-generate-chart-thumbnail/package.json
  plugins/ag-charts-generate-code-reference-files/package.json
  plugins/ag-charts-generate-example-files/package.json
Owners: @ag-grid/ag-charts-team, @alantreadway

AG-13167 Defer focus() call until after CSS bounds are set
  packages/ag-charts-enterprise/src/components/dialog/dialog.ts
  packages/ag-charts-enterprise/src/components/popover/popover.ts
  packages/ag-charts-enterprise/src/features/annotations/settings-dialog/settingsDialog.ts
Owners: @alantreadway

AG-13228 Add aria-label to the axisButton
  packages/ag-charts-enterprise/src/features/annotations/axisButton.ts
  packages/ag-charts-locale/src/en-US.ts
Owners: @alantreadway, @ag-grid/ag-charts-team

AG-12655 Update line series to use area series code
  packages/ag-charts-community/src/chart/__image_snapshots__/gallery-examples-test-ts-gallery-examples-ag-chart-v-2-create-for-line-graph-with-gaps-example-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-community/src/chart/__image_snapshots__/legend-test-ts-legend-large-series-count-chart-should-render-legend-correctly-at-width-800-1-snap.png
  packages/ag-charts-community/src/chart/__image_snapshots__/legend-test-ts-legend-show-series-stroke-line-dash-1-snap.png
  packages/ag-charts-community/src/chart/crossline/__image_snapshots__/cross-line-test-ts-cross-line-create-for-line-crosslines-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-community/src/chart/series/__image_snapshots__/series-labels-test-ts-series-labels-create-for-line-series-labels-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/area-series-test-ts-area-series-create-for-stacked-area-stroke-marker-label-rendering-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/area-series-test-ts-area-series-create-for-stacked-area-stroke-marker-label-rendering-reversed-axes-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/area-series-test-ts-area-series-legend-toggle-animation-show-for-stacked-area-graph-example-should-animate-at-25-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/line-series-test-ts-line-series-category-animation-should-animate-updating-points-to-undefined-at-0-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/line-series-test-ts-line-series-category-animation-should-animate-updating-points-to-undefined-at-50-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/line-series-test-ts-line-series-create-for-line-missing-y-data-example-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/line-series-test-ts-line-series-create-for-line-missing-y-data-example-reversed-axes-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/areaSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/areaUtil.ts
  packages/ag-charts-community/src/chart/series/cartesian/lineInterpolationPlotting.ts
  packages/ag-charts-community/src/chart/series/cartesian/lineInterpolationUtil.ts
  packages/ag-charts-community/src/chart/series/cartesian/lineSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/lineSeriesProperties.ts
  packages/ag-charts-community/src/chart/series/cartesian/lineUtil.ts
  packages/ag-charts-community/src/chart/series/cartesian/lineUtilLegacy.ts
  packages/ag-charts-community/src/module-support.ts
  packages/ag-charts-enterprise/src/series/range-area/rangeArea.ts
Owners: @alantreadway

lint
  packages/ag-charts-community/src/chart/series/cartesian/lineInterpolationUtil.ts
Owners: @alantreadway

Incremental axis cleanup (3) wip
  packages/ag-charts-community/src/chart/__image_snapshots__/cartesian-chart-test-ts-cartesian-chart-small-chart-height-should-render-chart-correctly-at-height-80-1-snap.png
  packages/ag-charts-community/src/chart/cartesianChart.ts
  packages/ag-charts-community/src/chart/chart.ts
  packages/ag-charts-community/src/chart/chartProperties.ts
  packages/ag-charts-community/src/scene/bbox.ts
Owners: @alantreadway

AG-13233 - Add styleContainer to avoid detached DOM causing styling issues.
  packages/ag-charts-community/src/api/agCharts.ts
  packages/ag-charts-community/src/chart/chart.ts
  packages/ag-charts-community/src/chart/chartContext.ts
  packages/ag-charts-community/src/dom/domManager.ts
  packages/ag-charts-community/src/module/optionsModule.ts
  packages/ag-charts-website/src/content/docs/layout-test/_examples/layout-detached-shadow-dom/exampleConfig.json
  packages/ag-charts-website/src/content/docs/layout-test/_examples/layout-detached-shadow-dom/index.html
  packages/ag-charts-website/src/content/docs/layout-test/_examples/layout-detached-shadow-dom/main.ts
  packages/ag-charts-website/src/content/docs/layout-test/_examples/layout-detached-shadow-dom/styles.css
  packages/ag-charts-website/src/content/docs/layout-test/index.mdoc
Owners: @alantreadway, @ag-grid/ag-charts-team, @rmc-software

Automated package version bump to 10.3.0-beta.20241022.1441.
  .env
  libraries/ag-charts-test/package.json
  package.json
  packages/ag-charts-angular/package.json
  packages/ag-charts-angular/projects/ag-charts-angular/package.json
  packages/ag-charts-community-examples/package.json
  packages/ag-charts-community/package.json
  packages/ag-charts-community/src/version.ts
  packages/ag-charts-enterprise/package.json
  packages/ag-charts-locale/package.json
  packages/ag-charts-react/package.json
  packages/ag-charts-types/package.json
  packages/ag-charts-vue3/package.json
  packages/ag-charts-website/.env.build
  packages/ag-charts-website/.env.build.archive
  packages/ag-charts-website/.env.build.production
  packages/ag-charts-website/.env.build.staging
  packages/ag-charts-website/.env.dev
  packages/ag-charts-website/.env.preview
  packages/ag-charts-website/.env.preview.production
  packages/ag-charts-website/.env.preview.staging
  packages/ag-charts-website/.env.test:e2e
  packages/ag-charts-website/.env.test:e2e.docker
  packages/ag-charts-website/package.json
  plugins/ag-charts-generate-chart-thumbnail/package.json
  plugins/ag-charts-generate-code-reference-files/package.json
  plugins/ag-charts-generate-example-files/package.json
Owners: @ag-grid/ag-charts-team, @alantreadway

Automated package version bump to 10.3.0-beta.20241023.
  .env
  libraries/ag-charts-test/package.json
  package.json
  packages/ag-charts-angular/package.json
  packages/ag-charts-angular/projects/ag-charts-angular/package.json
  packages/ag-charts-community-examples/package.json
  packages/ag-charts-community/package.json
  packages/ag-charts-community/src/version.ts
  packages/ag-charts-enterprise/package.json
  packages/ag-charts-locale/package.json
  packages/ag-charts-react/package.json
  packages/ag-charts-types/package.json
  packages/ag-charts-vue3/package.json
  packages/ag-charts-website/.env.build
  packages/ag-charts-website/.env.build.archive
  packages/ag-charts-website/.env.build.production
  packages/ag-charts-website/.env.build.staging
  packages/ag-charts-website/.env.dev
  packages/ag-charts-website/.env.preview
  packages/ag-charts-website/.env.preview.production
  packages/ag-charts-website/.env.preview.staging
  packages/ag-charts-website/.env.test:e2e
  packages/ag-charts-website/.env.test:e2e.docker
  packages/ag-charts-website/package.json
  plugins/ag-charts-generate-chart-thumbnail/package.json
  plugins/ag-charts-generate-code-reference-files/package.json
  plugins/ag-charts-generate-example-files/package.json
Owners: @ag-grid/ag-charts-team, @alantreadway

wip
  packages/ag-charts-community/src/chart/cartesianChart.ts
Owners: @alantreadway

AG-13247 Use new area series code in range area series
  packages/ag-charts-community/src/chart/series/cartesian/areaSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/areaUtil.ts
  packages/ag-charts-community/src/chart/series/cartesian/lineSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/lineUtil.ts
  packages/ag-charts-community/src/module-support.ts
  packages/ag-charts-enterprise/src/series/range-area/rangeArea.ts
  packages/ag-charts-enterprise/src/series/range-area/rangeAreaUtil.ts
Owners: @alantreadway

wip
  packages/ag-charts-community/src/chart/cartesianChart.ts
Owners: @alantreadway

CRT-530 Fix line annotation dragging by the handles
  packages/ag-charts-enterprise/src/features/annotations/scenes/startEndScene.ts
  packages/ag-charts-enterprise/src/features/annotations/scenes/textualStartEndScene.ts
Owners: @alantreadway

AG-13230 Set fast=true on map series
  packages/ag-charts-enterprise/src/series/map-line-background/mapLineBackgroundSeries.ts
  packages/ag-charts-enterprise/src/series/map-line/mapLineSeries.ts
  packages/ag-charts-enterprise/src/series/map-marker/mapMarkerSeries.ts
  packages/ag-charts-enterprise/src/series/map-shape-background/mapShapeBackgroundSeries.ts
  packages/ag-charts-enterprise/src/series/map-shape/mapShapeSeries.ts
Owners: @alantreadway

wip
  packages/ag-charts-community/src/chart/cartesianChart.ts
Owners: @alantreadway

AG-5950 Remove deprecated bar label placements
  packages/ag-charts-community/src/chart/series/cartesian/barSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/barSeriesProperties.ts
  packages/ag-charts-enterprise/src/series/waterfall/waterfallSeries.ts
  packages/ag-charts-enterprise/src/series/waterfall/waterfallSeriesProperties.ts
  packages/ag-charts-types/src/series/cartesian/barOptions.ts
  packages/ag-charts-types/src/series/cartesian/waterfallOptions.ts
Owners: @alantreadway, @ag-grid/ag-charts-team

AG-13103 Sparkline docs
  packages/ag-charts-types/src/chartBuilderOptions.ts
  packages/ag-charts-types/src/presets/sparkline/sparklineOptions.ts
  packages/ag-charts-website/src/content/docs/sparklines/index.mdoc
Owners: @ag-grid/ag-charts-team, @rmc-software

wip
  packages/ag-charts-community/src/chart/cartesianChart.ts
  packages/ag-charts-community/src/scene/bbox.ts
Owners: @alantreadway

wip
  packages/ag-charts-community/src/chart/cartesianChart.ts
Owners: @alantreadway

BRANCH prep for 10.3.1-beta.20241023
  .env
  libraries/ag-charts-test/package.json
  package.json
  packages/ag-charts-angular/package.json
  packages/ag-charts-angular/projects/ag-charts-angular/package.json
  packages/ag-charts-community-examples/package.json
  packages/ag-charts-community/package.json
  packages/ag-charts-community/src/version.ts
  packages/ag-charts-enterprise/package.json
  packages/ag-charts-enterprise/src/license/licenseManager.ts
  packages/ag-charts-locale/package.json
  packages/ag-charts-react/package.json
  packages/ag-charts-types/package.json
  packages/ag-charts-vue3/package.json
  packages/ag-charts-website/.env.build
  packages/ag-charts-website/.env.build.archive
  packages/ag-charts-website/.env.build.production
  packages/ag-charts-website/.env.build.staging
  packages/ag-charts-website/.env.dev
  packages/ag-charts-website/.env.preview
  packages/ag-charts-website/.env.preview.production
  packages/ag-charts-website/.env.preview.staging
  packages/ag-charts-website/.env.test:e2e
  packages/ag-charts-website/.env.test:e2e.docker
  packages/ag-charts-website/package.json
  plugins/ag-charts-generate-chart-thumbnail/package.json
  plugins/ag-charts-generate-code-reference-files/package.json
  plugins/ag-charts-generate-example-files/package.json
Owners: @ag-grid/ag-charts-team, @alantreadway

wip
  packages/ag-charts-community/src/chart/cartesianChart.ts
  packages/ag-charts-community/src/chart/series/series.ts
  packages/ag-charts-community/src/scene/bbox.ts
  packages/ag-charts-community/src/scene/node.ts
Owners: @alantreadway

CRT-530 Fix line annotation dragging by the handles
  packages/ag-charts-enterprise/src/features/annotations/scenes/startEndScene.ts
  packages/ag-charts-enterprise/src/features/annotations/scenes/textualStartEndScene.ts
Owners: @alantreadway

CRT-530 Fix line annotation dragging by the handles
  packages/ag-charts-enterprise/src/features/annotations/scenes/startEndScene.ts
  packages/ag-charts-enterprise/src/features/annotations/scenes/textualStartEndScene.ts
Owners: @alantreadway

update snapshots
  packages/ag-charts-community/src/chart/__image_snapshots__/gallery-examples-test-ts-gallery-examples-ag-chart-v-2-create-for-line-graph-with-gaps-example-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-community/src/chart/__image_snapshots__/legend-test-ts-legend-large-series-count-chart-should-render-legend-correctly-at-width-800-1-snap.png
  packages/ag-charts-community/src/chart/__image_snapshots__/legend-test-ts-legend-show-series-stroke-line-dash-1-snap.png
  packages/ag-charts-community/src/chart/crossline/__image_snapshots__/cross-line-test-ts-cross-line-create-for-line-crosslines-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-community/src/chart/series/__image_snapshots__/series-labels-test-ts-series-labels-create-for-line-series-labels-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/area-series-test-ts-area-series-create-for-stacked-area-stroke-marker-label-rendering-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/area-series-test-ts-area-series-create-for-stacked-area-stroke-marker-label-rendering-reversed-axes-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/area-series-test-ts-area-series-legend-toggle-animation-show-for-stacked-area-graph-example-should-animate-at-25-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/line-series-test-ts-line-series-category-animation-should-animate-updating-points-to-undefined-at-0-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/line-series-test-ts-line-series-category-animation-should-animate-updating-points-to-undefined-at-50-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/line-series-test-ts-line-series-create-for-line-missing-y-data-example-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/line-series-test-ts-line-series-create-for-line-missing-y-data-example-reversed-axes-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-enterprise/src/series/range-area/__image_snapshots__/range-area-test-ts-range-area-series-initial-animation-for-range-area-options-should-animate-at-100-1-snap.png
  packages/ag-charts-enterprise/src/series/range-area/__image_snapshots__/range-area-test-ts-range-area-series-should-render-a-range-area-chart-as-expected-1-snap.png
  packages/ag-charts-enterprise/src/series/range-area/__image_snapshots__/range-area-test-ts-range-area-series-should-render-a-range-area-chart-with-a-number-x-axis-1-snap.png
  packages/ag-charts-enterprise/src/series/range-area/__image_snapshots__/range-area-test-ts-range-area-series-should-render-a-range-area-chart-with-a-time-x-axis-1-snap.png
  packages/ag-charts-enterprise/src/series/range-area/__image_snapshots__/range-area-test-ts-range-area-series-should-render-a-range-area-chart-with-inverted-high-and-low-values-1-snap.png
  packages/ag-charts-enterprise/src/series/range-area/__image_snapshots__/range-area-test-ts-range-area-series-should-render-a-range-area-chart-with-missing-and-invalid-x-values-1-snap.png
  packages/ag-charts-enterprise/src/series/range-area/__image_snapshots__/range-area-test-ts-range-area-series-should-render-a-range-area-chart-with-missing-and-invalid-y-values-1-snap.png
  packages/ag-charts-enterprise/src/series/range-area/__image_snapshots__/range-area-test-ts-range-area-series-should-render-a-range-area-chart-with-reversed-axes-1-snap.png
  packages/ag-charts-enterprise/src/series/range-area/__image_snapshots__/range-area-test-ts-range-area-series-should-render-a-range-area-chart-with-reversed-number-x-axis-1-snap.png
  packages/ag-charts-enterprise/src/series/range-area/__image_snapshots__/range-area-test-ts-range-area-series-should-render-a-range-area-chart-with-reversed-time-x-axis-1-snap.png
  packages/ag-charts-enterprise/src/series/range-area/__image_snapshots__/range-area-test-ts-range-area-series-should-render-a-range-area-chart-with-some-inverted-high-and-low-values-1-snap.png
Owners: @alantreadway

AG-13233 - Add styleContainer to avoid detached DOM causing styling issues.
  packages/ag-charts-community/src/api/agCharts.ts
  packages/ag-charts-community/src/chart/chart.ts
  packages/ag-charts-community/src/chart/chartContext.ts
  packages/ag-charts-community/src/dom/domManager.ts
  packages/ag-charts-community/src/module/optionsModule.ts
  packages/ag-charts-website/src/content/docs/layout-test/_examples/layout-detached-shadow-dom/exampleConfig.json
  packages/ag-charts-website/src/content/docs/layout-test/_examples/layout-detached-shadow-dom/index.html
  packages/ag-charts-website/src/content/docs/layout-test/_examples/layout-detached-shadow-dom/main.ts
  packages/ag-charts-website/src/content/docs/layout-test/_examples/layout-detached-shadow-dom/styles.css
  packages/ag-charts-website/src/content/docs/layout-test/index.mdoc
Owners: @alantreadway, @ag-grid/ag-charts-team, @rmc-software

Range area fix
  packages/ag-charts-enterprise/src/series/gauge-util/segmentation.ts
  packages/ag-charts-enterprise/src/series/range-area/rangeArea.ts
Owners: @alantreadway

update snapshots
  packages/ag-charts-community/benchmarks/__image_snapshots__/integrated-charts-large-scale-test-ts-integrated-charts-large-scale-benchmark-after-load-1-x-legend-toggle-1-snap.png
  packages/ag-charts-community/benchmarks/__image_snapshots__/integrated-charts-large-scale-test-ts-integrated-charts-large-scale-benchmark-after-load-4-x-legend-toggle-1-snap.png
  packages/ag-charts-community/benchmarks/__image_snapshots__/integrated-charts-large-scale-test-ts-integrated-charts-large-scale-benchmark-initial-load-1-snap.png
  packages/ag-charts-community/benchmarks/__image_snapshots__/large-dataset-test-ts-large-dataset-benchmark-after-load-1-x-datum-highlight-1-snap.png
  packages/ag-charts-community/benchmarks/__image_snapshots__/large-dataset-test-ts-large-dataset-benchmark-after-load-1-x-legend-toggle-1-snap.png
  packages/ag-charts-community/benchmarks/__image_snapshots__/large-dataset-test-ts-large-dataset-benchmark-after-load-4-x-datum-highlight-1-snap.png
  packages/ag-charts-community/benchmarks/__image_snapshots__/large-dataset-test-ts-large-dataset-benchmark-initial-load-1-snap.png
  packages/ag-charts-community/benchmarks/__image_snapshots__/large-scale-multi-series-test-ts-large-scale-multi-series-benchmark-after-load-1-x-legend-toggle-1-snap.png
  packages/ag-charts-community/benchmarks/__image_snapshots__/large-scale-multi-series-test-ts-large-scale-multi-series-benchmark-after-load-4-x-legend-toggle-1-snap.png
  packages/ag-charts-community/benchmarks/__image_snapshots__/large-scale-multi-series-test-ts-large-scale-multi-series-benchmark-initial-load-1-snap.png
  packages/ag-charts-community/benchmarks/__image_snapshots__/multi-series-test-ts-multi-series-benchmark-after-load-1-x-datum-highlight-1-snap.png
  packages/ag-charts-community/benchmarks/__image_snapshots__/multi-series-test-ts-multi-series-benchmark-after-load-1-x-legend-toggle-1-snap.png
  packages/ag-charts-community/benchmarks/__image_snapshots__/multi-series-test-ts-multi-series-benchmark-after-load-10-x-legend-toggle-1-snap.png
  packages/ag-charts-community/benchmarks/__image_snapshots__/multi-series-test-ts-multi-series-benchmark-after-load-15-x-datum-highlight-1-snap.png
  packages/ag-charts-community/benchmarks/__image_snapshots__/multi-series-test-ts-multi-series-benchmark-initial-load-1-snap.png
  packages/ag-charts-community/benchmarks/__image_snapshots__/resize-test-ts-resize-benchmark-after-load-10-x-resize-1-snap.png
  packages/ag-charts-community/benchmarks/__image_snapshots__/resize-test-ts-resize-benchmark-initial-load-1-snap.png
  packages/ag-charts-community/benchmarks/__image_snapshots__/simple-chart-test-ts-simple-chart-benchmark-after-load-1-x-legend-toggle-1-snap.png
  packages/ag-charts-community/benchmarks/__image_snapshots__/simple-chart-test-ts-simple-chart-benchmark-after-load-10-x-legend-toggle-1-snap.png
  packages/ag-charts-community/benchmarks/__image_snapshots__/simple-chart-test-ts-simple-chart-benchmark-initial-load-1-snap.png
Owners: @alantreadway

lint
  packages/ag-charts-enterprise/src/series/range-area/rangeArea.ts
Owners: @alantreadway

Fix build break.
  packages/ag-charts-enterprise/src/series/range-area/__image_snapshots__/range-area-test-ts-range-area-series-initial-animation-for-range-area-options-should-animate-at-100-1-snap.png
  packages/ag-charts-enterprise/src/series/range-area/__image_snapshots__/range-area-test-ts-range-area-series-should-render-a-range-area-chart-as-expected-1-snap.png
  packages/ag-charts-enterprise/src/series/range-area/__image_snapshots__/range-area-test-ts-range-area-series-should-render-a-range-area-chart-with-a-number-x-axis-1-snap.png
  packages/ag-charts-enterprise/src/series/range-area/__image_snapshots__/range-area-test-ts-range-area-series-should-render-a-range-area-chart-with-a-time-x-axis-1-snap.png
  packages/ag-charts-enterprise/src/series/range-area/__image_snapshots__/range-area-test-ts-range-area-series-should-render-a-range-area-chart-with-inverted-high-and-low-values-1-snap.png
  packages/ag-charts-enterprise/src/series/range-area/__image_snapshots__/range-area-test-ts-range-area-series-should-render-a-range-area-chart-with-missing-and-invalid-x-values-1-snap.png
  packages/ag-charts-enterprise/src/series/range-area/__image_snapshots__/range-area-test-ts-range-area-series-should-render-a-range-area-chart-with-missing-and-invalid-y-values-1-snap.png
  packages/ag-charts-enterprise/src/series/range-area/__image_snapshots__/range-area-test-ts-range-area-series-should-render-a-range-area-chart-with-reversed-axes-1-snap.png
  packages/ag-charts-enterprise/src/series/range-area/__image_snapshots__/range-area-test-ts-range-area-series-should-render-a-range-area-chart-with-reversed-number-x-axis-1-snap.png
  packages/ag-charts-enterprise/src/series/range-area/__image_snapshots__/range-area-test-ts-range-area-series-should-render-a-range-area-chart-with-reversed-time-x-axis-1-snap.png
  packages/ag-charts-enterprise/src/series/range-area/__image_snapshots__/range-area-test-ts-range-area-series-should-render-a-range-area-chart-with-some-inverted-high-and-low-values-1-snap.png
Owners: @alantreadway

AG-13145 Add state machine hierarchy properties
  packages/ag-charts-community/src/util/stateMachine.ts
  packages/ag-charts-enterprise/src/features/annotations/annotations.ts
  packages/ag-charts-enterprise/src/features/annotations/annotationsStateMachine.ts
  packages/ag-charts-enterprise/src/features/annotations/annotationsSuperTypes.ts
  packages/ag-charts-enterprise/src/features/annotations/arrow-down/arrowDownConfig.ts
  packages/ag-charts-enterprise/src/features/annotations/arrow-up/arrowUpConfig.ts
  packages/ag-charts-enterprise/src/features/annotations/callout/calloutConfig.ts
  packages/ag-charts-enterprise/src/features/annotations/comment/commentConfig.ts
  packages/ag-charts-enterprise/src/features/annotations/cross-line/crossLineConfig.ts
  packages/ag-charts-enterprise/src/features/annotations/cross-line/crossLineState.ts
  packages/ag-charts-enterprise/src/features/annotations/disjoint-channel/disjointChannelConfig.ts
  packages/ag-charts-enterprise/src/features/annotations/disjoint-channel/disjointChannelState.ts
  packages/ag-charts-enterprise/src/features/annotations/line/lineConfig.ts
  packages/ag-charts-enterprise/src/features/annotations/line/lineState.ts
  packages/ag-charts-enterprise/src/features/annotations/measurer/measurerConfig.ts
  packages/ag-charts-enterprise/src/features/annotations/measurer/measurerState.ts
  packages/ag-charts-enterprise/src/features/annotations/note/noteConfig.ts
  packages/ag-charts-enterprise/src/features/annotations/parallel-channel/parallelChannelConfig.ts
  packages/ag-charts-enterprise/src/features/annotations/parallel-channel/parallelChannelState.ts
  packages/ag-charts-enterprise/src/features/annotations/states/dragState.ts
  packages/ag-charts-enterprise/src/features/annotations/states/pointState.ts
  packages/ag-charts-enterprise/src/features/annotations/states/stateTypes.ts
  packages/ag-charts-enterprise/src/features/annotations/states/textualPointState.ts
  packages/ag-charts-enterprise/src/features/annotations/states/textualStartEndState.ts
  packages/ag-charts-enterprise/src/features/annotations/text/textConfig.ts
  packages/ag-charts-enterprise/src/features/annotations/utils/coords.ts
Owners: @alantreadway

Version Bump
  .env
  libraries/ag-charts-test/package.json
  package.json
  packages/ag-charts-angular/package.json
  packages/ag-charts-angular/projects/ag-charts-angular/package.json
  packages/ag-charts-community-examples/package.json
  packages/ag-charts-community/package.json
  packages/ag-charts-community/src/version.ts
  packages/ag-charts-enterprise/package.json
  packages/ag-charts-locale/package.json
  packages/ag-charts-react/package.json
  packages/ag-charts-types/package.json
  packages/ag-charts-vue3/package.json
  packages/ag-charts-website/.env.build
  packages/ag-charts-website/.env.build.archive
  packages/ag-charts-website/.env.build.production
  packages/ag-charts-website/.env.build.staging
  packages/ag-charts-website/.env.dev
  packages/ag-charts-website/.env.preview
  packages/ag-charts-website/.env.preview.production
  packages/ag-charts-website/.env.preview.staging
  packages/ag-charts-website/.env.test:e2e
  packages/ag-charts-website/.env.test:e2e.docker
  packages/ag-charts-website/package.json
  plugins/ag-charts-generate-chart-thumbnail/package.json
  plugins/ag-charts-generate-code-reference-files/package.json
  plugins/ag-charts-generate-example-files/package.json
Owners: @ag-grid/ag-charts-team, @alantreadway

AG-13233 - Fix event handling for disconnected shadow-DOM cases.
  packages/ag-charts-community/src/dom/domManager.ts
Owners: @alantreadway

AG-13145 Add parallel state machines
  packages/ag-charts-community/src/util/stateMachine.ts
  packages/ag-charts-enterprise/src/features/annotations/annotations.ts
  packages/ag-charts-enterprise/src/features/annotations/annotationsStateMachine.ts
  packages/ag-charts-enterprise/src/features/annotations/annotationsSuperTypes.ts
  packages/ag-charts-enterprise/src/features/annotations/disjoint-channel/disjointChannelState.ts
  packages/ag-charts-enterprise/src/features/annotations/line/lineState.ts
  packages/ag-charts-enterprise/src/features/annotations/parallel-channel/parallelChannelState.ts
  packages/ag-charts-enterprise/src/features/annotations/states/dragState.ts
  packages/ag-charts-enterprise/src/features/annotations/states/textualStartEndState.ts
Owners: @alantreadway

Version Bump
  .env
  libraries/ag-charts-test/package.json
  package.json
  packages/ag-charts-angular/package.json
  packages/ag-charts-angular/projects/ag-charts-angular/package.json
  packages/ag-charts-community-examples/package.json
  packages/ag-charts-community/package.json
  packages/ag-charts-community/src/version.ts
  packages/ag-charts-enterprise/package.json
  packages/ag-charts-locale/package.json
  packages/ag-charts-react/package.json
  packages/ag-charts-types/package.json
  packages/ag-charts-vue3/package.json
  packages/ag-charts-website/.env.build
  packages/ag-charts-website/.env.build.archive
  packages/ag-charts-website/.env.build.production
  packages/ag-charts-website/.env.build.staging
  packages/ag-charts-website/.env.dev
  packages/ag-charts-website/.env.preview
  packages/ag-charts-website/.env.preview.production
  packages/ag-charts-website/.env.preview.staging
  packages/ag-charts-website/.env.test:e2e
  packages/ag-charts-website/.env.test:e2e.docker
  packages/ag-charts-website/package.json
  plugins/ag-charts-generate-chart-thumbnail/package.json
  plugins/ag-charts-generate-code-reference-files/package.json
  plugins/ag-charts-generate-example-files/package.json
Owners: @ag-grid/ag-charts-team, @alantreadway

AG-13233 - Fix event handling for disconnected shadow-DOM cases.
  packages/ag-charts-community/src/dom/domManager.ts
Owners: @alantreadway

AG-13145 Add state machine tests for properties and parallelism
  packages/ag-charts-community/src/util/stateMachine.test.ts
Owners: @alantreadway

AG-3390 - Sync up shared folder with grid
  external/ag-website-shared/src/components/automated-examples/examples/integrated-charts/createAutomatedIntegratedChartsWithCreateGrid.ts
  external/ag-website-shared/src/components/automated-examples/examples/integrated-charts/createScript.ts
  external/ag-website-shared/src/components/automated-examples/examples/row-grouping/index.ts
  external/ag-website-shared/src/components/docs-navigation/DocsNav.module.scss
  external/ag-website-shared/src/components/whats-new/components/Version.tsx
  external/ag-website-shared/src/components/whats-new/pages/whats-new.astro
  external/ag-website-shared/src/design-system/elements/_button.scss
  external/ag-website-shared/src/design-system/elements/_inline.scss
Owners: @ag-grid/ag-charts-team, @markdurrant, @taktran

.github/CODEOWNERS:

# NOTE: Order of entries matters - later entries have higher precedence.

# Attribute code-owners so default reviewers are assigned to PRs.
* @ag-grid/ag-charts-team

# Astro + website changes to be reviewed by website team.
*.scss @markdurrant
*.astro @taktran
/packages/ag-charts-website/astro/** @taktran
/packages/ag-charts-website/components/** @taktran
/packages/ag-charts-website/features/** @taktran
/packages/ag-charts-website/layouts/** @taktran
/packages/ag-charts-website/stores/** @taktran
/packages/ag-charts-website/utils/** @taktran

# Docs updates to be reviewed by Eng VP.
/packages/ag-charts-website/content/** @alantreadway @rmc-software
*.mdoc @rmc-software

# Charts library code to be reviewed by Chart TL.
/packages/ag-charts-community/** @alantreadway
/packages/ag-charts-enterprise/** @alantreadway

# Sensitive build/repo files to be reviewed by Chart TL.
**/package.json @alantreadway
nx.json @alantreadway
**/project.json @alantreadway
**/tsconfig.json @alantreadway
**/tsconfig.*.json @alantreadway
