Repository ag-grid/ag-charts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ag-grid/ag-charts-team, @markdurrant, @taktran, @alantreadway, @rmc-software

visually test pie series with negative accumulated values
  packages/ag-charts-community/src/chart/series/polar/__image_snapshots__/polar-series-test-ts-polar-series-create-for-pie-series-negative-values-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-community/src/chart/series/polar/polarSeries.test.ts
  packages/ag-charts-community/src/chart/series/polar/test/data.ts
  packages/ag-charts-community/src/chart/series/polar/test/examples.ts
Owners: @alantreadway

AG-9571 - Use fillOpacity from formatter when styling bars
  packages/ag-charts-community/src/chart/series/cartesian/barUtil.ts
Owners: @alantreadway

AG-9571 - Update gallery bar examples
  packages/ag-charts-website/src/content/gallery/_examples/simple-horizontal-bar/main.ts
  packages/ag-charts-website/src/content/gallery/_examples/stacked-horizontal-bar/main.ts
Owners: @ag-grid/ag-charts-team

AG-9571 - Update gallery simple pie
  packages/ag-charts-website/src/content/gallery/_examples/simple-pie/main.ts
Owners: @ag-grid/ag-charts-team

AG-9571 - Update gallery simple doughnut
  packages/ag-charts-website/src/content/gallery/_examples/simple-doughnut/main.ts
Owners: @ag-grid/ag-charts-team

AG-9571 - Update gallery pie with variable radius
  packages/ag-charts-website/src/content/gallery/_examples/pie-with-variable-radius/main.ts
Owners: @ag-grid/ag-charts-team

AG-9571 - Provide fills and strokes in pie series formatter
  packages/ag-charts-community/src/chart/series/polar/pieSeries.ts
  packages/ag-charts-community/src/options/series/polar/pieOptions.ts
Owners: @alantreadway

AG-9361: Fixed when pie data includes negative values, colours do not… (#501)
  packages/ag-charts-community/src/chart/data/aggregateFunctions.ts
  packages/ag-charts-community/src/chart/data/dataModel.test.ts
  packages/ag-charts-community/src/chart/series/polar/__image_snapshots__/polar-series-test-ts-polar-series-create-for-pie-series-negative-values-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-community/src/chart/series/polar/pieSeries.ts
  packages/ag-charts-community/src/chart/series/polar/polarSeries.test.ts
  packages/ag-charts-community/src/chart/series/polar/test/data.ts
  packages/ag-charts-community/src/chart/series/polar/test/examples.ts
  packages/ag-charts-community/src/chart/series/series.ts
Owners: @alantreadway

AG-3390 - menu tweaks
  packages/ag-charts-website/src/components/pages-navigation/PagesNavigation.module.scss
  packages/ag-charts-website/src/components/pages-navigation/gridMenu.module.scss
  packages/ag-charts-website/src/components/site-header/HeaderNav.tsx
  packages/ag-charts-website/src/content/docs/api-download/index.mdoc
  packages/ag-charts-website/src/content/docs/download/index.mdoc
  packages/ag-charts-website/src/content/menu/data.json
Owners: @markdurrant, @ag-grid/ag-charts-team, @rmc-software

AG-3390 - menu tweaks
  packages/ag-charts-website/src/content/menu/data.json
Owners: @ag-grid/ag-charts-team

AG-3390 - menu tweaks
  packages/ag-charts-website/src/components/pages-navigation/PagesNavigation.module.scss
  packages/ag-charts-website/src/components/pages-navigation/gridMenu.module.scss
  packages/ag-charts-website/src/content/menu/data.json
Owners: @markdurrant, @ag-grid/ag-charts-team

AG-3390 - menu tweaks
  packages/ag-charts-website/src/components/pages-navigation/PagesNavigation.module.scss
Owners: @markdurrant

AG-3390 - menu tweaks
  packages/ag-charts-website/src/content/menu/data.json
Owners: @ag-grid/ag-charts-team

AG-3390 - menu tweaks
  packages/ag-charts-website/src/components/pages-navigation/gridMenu.module.scss
Owners: @markdurrant

AG-9789 - made website dark mode toggle update color scheme of gallery examples
  packages/ag-charts-website/src/components/pages-navigation/gridMenu.module.scss
  packages/ag-charts-website/src/content/gallery/data.json
  packages/ag-charts-website/src/features/gallery/components/GalleryExampleThemeDropdown.tsx
  packages/ag-charts-website/src/pages/index.astro
Owners: @markdurrant, @ag-grid/ag-charts-team, @taktran

AG-9297 [Charts] Create chart specific pipeline and changelog for charts website
  packages/ag-charts-website/markdoc.config.ts
  packages/ag-charts-website/package.json
  packages/ag-charts-website/public/changelog/changelog.json
  packages/ag-charts-website/public/changelog/releaseVersionNotes.json
  packages/ag-charts-website/public/images/issue-type-icons/bug-icon.svg
  packages/ag-charts-website/public/images/issue-type-icons/task-icon.svg
  packages/ag-charts-website/public/pipeline/pipeline.json
  packages/ag-charts-website/public/theme-icons/alpine/tree-closed.svg
  packages/ag-charts-website/public/theme-icons/alpine/tree-open.svg
  packages/ag-charts-website/src/components/grid/ChevronButtonRenderer.jsx
  packages/ag-charts-website/src/components/grid/ChevronButtonRenderer.module.scss
  packages/ag-charts-website/src/components/grid/DetailCellRendererComponent.jsx
  packages/ag-charts-website/src/components/grid/DetailCellRendererComponent.module.scss
  packages/ag-charts-website/src/components/grid/Grid.jsx
  packages/ag-charts-website/src/components/grid/IssueTypeRenderer.jsx
  packages/ag-charts-website/src/components/grid/PaddingCellRenderer.jsx
  packages/ag-charts-website/src/components/grid/VersionDropdownMenu.jsx
  packages/ag-charts-website/src/components/release-notes/Collapsible.module.scss
  packages/ag-charts-website/src/components/release-notes/Collapsible.tsx
  packages/ag-charts-website/src/components/release-notes/ReleaseVersionNotes.jsx
  packages/ag-charts-website/src/components/release-notes/ReleaseVersionNotes.module.scss
  packages/ag-charts-website/src/components/top-bar/TopBar.tsx
  packages/ag-charts-website/src/content/docs/changelog/index.mdoc
  packages/ag-charts-website/src/content/docs/pipeline/index.mdoc
  packages/ag-charts-website/src/content/menu/data.json
  packages/ag-charts-website/src/features/changelog/Changelog.astro
  packages/ag-charts-website/src/features/changelog/Changelog.tsx
  packages/ag-charts-website/src/features/changelog/pipelineChangelog.module.scss
  packages/ag-charts-website/src/features/docs/components/Header.tsx
  packages/ag-charts-website/src/features/pipeline/Pipeline.astro
  packages/ag-charts-website/src/features/pipeline/Pipeline.tsx
  packages/ag-charts-website/src/features/pipeline/pipelineChangelog.module.scss
  packages/ag-charts-website/src/layouts/Layout.astro
  yarn.lock
Owners: @ag-grid/ag-charts-team, @alantreadway, @markdurrant, @rmc-software, @taktran

AG-9297 [Charts] Create chart specific pipeline and changelog for charts website
  packages/ag-charts-website/src/components/grid/ChevronButtonRenderer.jsx
  packages/ag-charts-website/src/components/grid/IssueTypeRenderer.jsx
  packages/ag-charts-website/src/content/menu/data.json
Owners: @ag-grid/ag-charts-team

AG-9790 - Add support for website dark mode toggling to example runner
  packages/ag-charts-website/src/components/site-header/DarkModeToggle.jsx
  packages/ag-charts-website/src/content/docs/combination-series/_examples/combination/main.ts
  packages/ag-charts-website/src/content/docs/line-series/_examples/real-time/main.ts
  packages/ag-charts-website/src/features/example-runner/components/CodeViewer.tsx
  packages/ag-charts-website/src/features/example-runner/components/ExampleIFrame.tsx
  packages/ag-charts-website/src/features/examples-generator/examplesGenerator.ts
  packages/ag-charts-website/src/features/examples-generator/transformation-scripts/chart-vanilla-to-angular.ts
  packages/ag-charts-website/src/features/examples-generator/transformation-scripts/chart-vanilla-to-react-functional.ts
  packages/ag-charts-website/src/features/examples-generator/transformation-scripts/chart-vanilla-to-react.ts
  packages/ag-charts-website/src/features/examples-generator/transformation-scripts/chart-vanilla-to-vue.ts
  packages/ag-charts-website/src/features/examples-generator/transformation-scripts/chart-vanilla-to-vue3.ts
  packages/ag-charts-website/src/features/examples-generator/utils/frameworkFilesGenerator.ts
  packages/ag-charts-website/src/features/gallery/utils/examplesGenerator.ts
Owners: @ag-grid/ag-charts-team

AG-9790 - temp removed prettier
  packages/ag-charts-website/src/pages/[internalFramework]/[pageName]/examples/[exampleName]/contents.json.ts
Owners: @ag-grid/ag-charts-team

AG-9790 - fixed broken examples and reinstated prettier.
  packages/ag-charts-website/src/content/docs/overlays/_examples/no-data/main.ts
  packages/ag-charts-website/src/features/examples-generator/utils/frameworkFilesGenerator.ts
  packages/ag-charts-website/src/pages/[internalFramework]/[pageName]/examples/[exampleName]/contents.json.ts
Owners: @ag-grid/ag-charts-team

Add debug-mode attachment of ProcessedData to window.
  packages/ag-charts-community/src/chart/data/dataController.ts
Owners: @alantreadway

Make example content prettier reformat a warning.
  packages/ag-charts-website/src/pages/[internalFramework]/[pageName]/examples/[exampleName]/contents.json.ts
Owners: @ag-grid/ag-charts-team

AG-9715 - Rewrite tabs as astro component
  packages/ag-charts-website/src/components/tabs/TabsWithHtmlChildren.astro
  packages/ag-charts-website/src/components/tabs/TabsWithHtmlChildren.tsx
  packages/ag-charts-website/src/components/tabs/utils.ts
Owners: @taktran, @ag-grid/ag-charts-team

Fix RadarSeries animation handling.
  packages/ag-charts-enterprise/src/series/radar-area/radarAreaSeries.ts
  packages/ag-charts-enterprise/src/series/radar/radarSeries.ts
  packages/ag-charts-enterprise/src/series/radial-bar/radialBarSeries.ts
  packages/ag-charts-enterprise/src/series/radial-column/radialColumnSeriesBase.ts
  packages/ag-charts-enterprise/src/series/range-bar/rangeBar.ts
Owners: @alantreadway

Fix RadarSeries animation handling.
  packages/ag-charts-enterprise/src/series/radial-bar/radialBarSeries.ts
  packages/ag-charts-enterprise/src/series/radial-column/radialColumnSeriesBase.ts
  packages/ag-charts-enterprise/src/series/range-bar/rangeBar.ts
Owners: @alantreadway

Fix RadarSeries animation handling.
  packages/ag-charts-enterprise/src/series/radar-area/__image_snapshots__/radar-area-test-ts-radar-area-chart-initial-animation-for-example-options-should-animate-at-25-1-snap.png
  packages/ag-charts-enterprise/src/series/radar-area/__image_snapshots__/radar-area-test-ts-radar-area-chart-initial-animation-for-example-options-should-animate-at-50-1-snap.png
  packages/ag-charts-enterprise/src/series/radar-area/__image_snapshots__/radar-area-test-ts-radar-area-chart-initial-animation-for-example-options-should-animate-at-75-1-snap.png
  packages/ag-charts-enterprise/src/series/radar-line/__image_snapshots__/radar-line-test-ts-radar-line-chart-initial-animation-for-example-options-should-animate-at-25-1-snap.png
  packages/ag-charts-enterprise/src/series/radar-line/__image_snapshots__/radar-line-test-ts-radar-line-chart-initial-animation-for-example-options-should-animate-at-50-1-snap.png
  packages/ag-charts-enterprise/src/series/radar-line/__image_snapshots__/radar-line-test-ts-radar-line-chart-initial-animation-for-example-options-should-animate-at-75-1-snap.png
Owners: @alantreadway

AG-9649 - Short-circuit animation in unsupported cases.
  packages/ag-charts-community/src/chart/data/__snapshots__/dataModel.test.ts.snap
  packages/ag-charts-community/src/chart/data/dataModel.ts
  packages/ag-charts-community/src/chart/data/processors.ts
  packages/ag-charts-community/src/chart/series/cartesian/areaSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/barSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/bubbleSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/cartesianSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/lineSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/scatterSeries.ts
  packages/ag-charts-community/src/chart/series/dataModelSeries.ts
  packages/ag-charts-community/src/chart/series/polar/pieSeries.ts
  packages/ag-charts-community/src/chart/series/polar/polarSeries.ts
  packages/ag-charts-community/src/motion/states.ts
  packages/ag-charts-enterprise/src/series/box-plot/boxPlotSeries.ts
  packages/ag-charts-enterprise/src/series/histogram/histogramSeries.ts
  packages/ag-charts-enterprise/src/series/radial-bar/radialBarSeries.ts
  packages/ag-charts-enterprise/src/series/radial-column/radialColumnSeriesBase.ts
  packages/ag-charts-enterprise/src/series/range-bar/rangeBar.ts
  packages/ag-charts-enterprise/src/series/waterfall/waterfallSeries.ts
Owners: @alantreadway

AG-9715 - Unlisten to browser history when tabs disconnect from DOM
  packages/ag-charts-website/src/components/tabs/TabsWithHtmlChildren.astro
Owners: @taktran

AG-9715 - Rewrite tabs as astro component (#504)
  packages/ag-charts-website/src/components/tabs/TabsWithHtmlChildren.astro
  packages/ag-charts-website/src/components/tabs/TabsWithHtmlChildren.tsx
  packages/ag-charts-website/src/components/tabs/utils.ts
Owners: @taktran, @ag-grid/ag-charts-team

Sector tests
  packages/ag-charts-community/src/scene/shape/__image_snapshots__/sector-test-ts-sector-rendering-should-render-as-expected-1-snap.png
  packages/ag-charts-community/src/scene/shape/sector.test.ts
  packages/ag-charts-community/src/scene/shape/sector.ts
  packages/ag-charts-enterprise/src/series/sunburst/__image_snapshots__/sunburst-series-test-ts-sunburst-chart-series-highlighting-should-render-a-complex-chart-1-snap.png
  packages/ag-charts-enterprise/src/series/sunburst/__image_snapshots__/sunburst-series-test-ts-sunburst-chart-series-highlighting-should-render-highlight-at-depth-0-1-snap.png
  packages/ag-charts-enterprise/src/series/sunburst/__image_snapshots__/sunburst-series-test-ts-sunburst-chart-series-highlighting-should-render-highlight-at-depth-1-1-snap.png
  packages/ag-charts-enterprise/src/series/sunburst/__image_snapshots__/sunburst-series-test-ts-sunburst-chart-series-highlighting-should-render-highlight-at-depth-2-1-snap.png
  packages/ag-charts-enterprise/src/series/sunburst/__image_snapshots__/sunburst-series-test-ts-sunburst-chart-series-highlighting-should-render-highlight-at-depth-3-1-snap.png
  packages/ag-charts-enterprise/src/series/sunburst/__image_snapshots__/sunburst-series-test-ts-sunburst-chart-series-labels-for-treemap-series-labels-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-enterprise/src/series/sunburst/sunburstSeries.test.ts
  packages/ag-charts-website/src/content/gallery/_examples/market-index-sunburst/data.ts
  packages/ag-charts-website/src/content/gallery/_examples/market-index-sunburst/index.html
  packages/ag-charts-website/src/content/gallery/_examples/market-index-sunburst/main.ts
Owners: @alantreadway, @ag-grid/ag-charts-team

Update other prettier formatting examples to output a warning
  packages/ag-charts-website/src/middleware/index.ts
  packages/ag-charts-website/src/pages/gallery/examples/[exampleName]/contents.json.ts
Owners: @ag-grid/ag-charts-team

Sunburst tests
  packages/ag-charts-community-examples/src/charts-overview/examples/market-index-sunburst/data.ts
  packages/ag-charts-community-examples/src/charts-overview/examples/market-index-sunburst/index.html
  packages/ag-charts-community-examples/src/charts-overview/examples/market-index-sunburst/main.ts
  packages/ag-charts-community/src/chart/series/test/examples.ts
  packages/ag-charts-community/src/chart/test/examples-gallery.ts
  packages/ag-charts-community/src/scene/shape/sector.ts
  packages/ag-charts-enterprise/src/__image_snapshots__/gallery-examples-test-ts-gallery-examples-ag-chart-v-2-create-for-market-index-sunburst-graph-example-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-enterprise/src/series/sunburst/__image_snapshots__/sunburst-series-test-ts-sunburst-chart-series-highlighting-should-render-highlight-at-depth-0-1-snap.png
  packages/ag-charts-enterprise/src/series/sunburst/__image_snapshots__/sunburst-series-test-ts-sunburst-chart-series-highlighting-should-render-highlight-at-depth-1-1-snap.png
  packages/ag-charts-enterprise/src/series/sunburst/__image_snapshots__/sunburst-series-test-ts-sunburst-chart-series-highlighting-should-render-highlight-at-depth-2-1-snap.png
  packages/ag-charts-enterprise/src/series/sunburst/__image_snapshots__/sunburst-series-test-ts-sunburst-chart-series-highlighting-should-render-highlight-at-depth-3-1-snap.png
  packages/ag-charts-enterprise/src/series/sunburst/__image_snapshots__/sunburst-series-test-ts-sunburst-chart-series-labels-for-sunburst-series-labels-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-enterprise/src/series/sunburst/__image_snapshots__/sunburst-series-test-ts-sunburst-chart-series-labels-for-treemap-series-labels-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-enterprise/src/series/sunburst/sunburstSeries.test.ts
  packages/ag-charts-website/src/content/gallery/data.json
Owners: @ag-grid/ag-charts-team, @alantreadway

AG-9649 - Add PieSeries example for duplicate labels.
  packages/ag-charts-website/src/content/docs/pie-series-test/_examples/duplicate-labels/index.html
  packages/ag-charts-website/src/content/docs/pie-series-test/_examples/duplicate-labels/main.ts
  packages/ag-charts-website/src/content/docs/pie-series-test/index.mdoc
Owners: @ag-grid/ag-charts-team, @rmc-software

Fix AG-9675
  packages/ag-charts-community/src/chart/series/cartesian/bubbleSeries.ts
Owners: @alantreadway

AG-9649 - Update testing example to exercise label position move.
  packages/ag-charts-website/src/content/docs/bar-series-test/_examples/animation/index.html
  packages/ag-charts-website/src/content/docs/bar-series-test/_examples/animation/main.ts
Owners: @ag-grid/ag-charts-team

AG-9649 - Fix initial load for several series.
  packages/ag-charts-community/src/chart/series/cartesian/bubbleSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/cartesianSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/scatterSeries.ts
  packages/ag-charts-community/src/chart/series/dataModelSeries.ts
  packages/ag-charts-enterprise/src/series/radar/radarSeries.ts
  packages/ag-charts-enterprise/src/series/range-area/rangeArea.ts
Owners: @alantreadway

Update color scale to use HSL interpolation
  packages/ag-charts-community/src/scale/colorScale.test.ts
  packages/ag-charts-community/src/scale/colorScale.ts
  packages/ag-charts-enterprise/src/__image_snapshots__/gallery-examples-test-ts-gallery-examples-ag-chart-v-2-create-for-market-index-treemap-graph-example-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-enterprise/src/series/heatmap/__image_snapshots__/heatmap-test-ts-chart-should-render-placeholder-chart-as-expected-1-snap.png
  packages/ag-charts-enterprise/src/series/treemap/__image_snapshots__/treemap-series-test-ts-hierarchy-chart-series-highlighting-should-render-a-complex-chart-1-snap.png
  packages/ag-charts-enterprise/src/series/treemap/__image_snapshots__/treemap-series-test-ts-hierarchy-chart-series-highlighting-should-render-highlight-at-depth-0-1-snap.png
  packages/ag-charts-enterprise/src/series/treemap/__image_snapshots__/treemap-series-test-ts-hierarchy-chart-series-highlighting-should-render-highlight-at-depth-1-1-snap.png
  packages/ag-charts-enterprise/src/series/treemap/__image_snapshots__/treemap-series-test-ts-hierarchy-chart-series-highlighting-should-render-highlight-at-depth-2-1-snap.png
  packages/ag-charts-enterprise/src/series/treemap/__image_snapshots__/treemap-series-test-ts-hierarchy-chart-series-highlighting-should-render-highlight-at-depth-3-1-snap.png
  packages/ag-charts-enterprise/src/series/treemap/__image_snapshots__/treemap-series-test-ts-hierarchy-chart-series-labels-for-treemap-series-labels-it-should-render-to-canvas-as-expected-1-snap.png
Owners: @alantreadway

Move and rename test
  packages/ag-charts-community/src/scale/colorScale.test.ts
Owners: @alantreadway

AG-9321 Add bullet defaults/styling/themes
  packages/ag-charts-community/src/options/series/cartesian/bulletOptions.ts
  packages/ag-charts-enterprise/src/series/bullet/bulletDefaults.ts
  packages/ag-charts-enterprise/src/series/bullet/bulletModule.ts
  packages/ag-charts-enterprise/src/series/bullet/bulletSeries.ts
  packages/ag-charts-enterprise/src/series/bullet/bulletThemes.ts
Owners: @alantreadway

AG-9324 Fix customDefaultAxesSwapper param&return types
  packages/ag-charts-community/src/chart/factory/seriesTypes.ts
  packages/ag-charts-community/src/module/coreModules.ts
  packages/ag-charts-enterprise/src/series/bullet/bulletModule.ts
Owners: @alantreadway

.github/CODEOWNERS:

# NOTE: Order of entries matters - later entries have higher precedence.

# Attribute code-owners so default reviewers are assigned to PRs.
* @ag-grid/ag-charts-team

# Astro + website changes to be reviewed by website team.
*.scss @markdurrant
*.astro @taktran
/packages/ag-charts-website/astro/** @taktran
/packages/ag-charts-website/components/** @taktran
/packages/ag-charts-website/features/** @taktran
/packages/ag-charts-website/layouts/** @taktran
/packages/ag-charts-website/stores/** @taktran
/packages/ag-charts-website/utils/** @taktran

# Docs updates to be reviewed by Eng VP.
/packages/ag-charts-website/content/** @alantreadway @rmc-software
*.mdoc @rmc-software

# Charts library code to be reviewed by Chart TL.
/packages/ag-charts-community/** @alantreadway
/packages/ag-charts-enterprise/** @alantreadway

# Sensitive build/repo files to be reviewed by Chart TL.
**/package.json @alantreadway
nx.json @alantreadway
**/project.json @alantreadway
**/tsconfig.json @alantreadway
**/tsconfig.*.json @alantreadway
