Repository ag-grid/ag-charts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ag-grid/ag-charts-team, @markdurrant, @taktran, @alantreadway, @rmc-software

Add map example
  packages/ag-charts-website/src/pages/index.astro
Owners: @taktran

git subrepo pull external/ag-website-shared
  external/ag-website-shared/.gitrepo
  external/ag-website-shared/src/components/license-pricing/license-pricing.module.scss
  external/ag-website-shared/src/components/product-dropdown/ProductDropdown.module.scss
  external/ag-website-shared/src/components/search/SearchHits.module.scss
  external/ag-website-shared/src/content/license-features/chartsFeaturesMatrix.json
  external/ag-website-shared/src/design-system/_root.scss
  external/ag-website-shared/src/design-system/style-guide/Colors.tsx
Owners: @ag-grid/ag-charts-team, @markdurrant

AG-12635 - Add jetbrains font for docs
  packages/ag-charts-website/src/pages/[framework]/[pageName].astro
Owners: @taktran

AG-12066 Remove annotation cappable options from public api
  packages/ag-charts-types/src/chart/annotationsOptions.ts
Owners: @ag-grid/ag-charts-team

Add detail to financial charts (remove maps)
  packages/ag-charts-website/src/pages-styles/homepage.module.scss
  packages/ag-charts-website/src/pages/index.astro
Owners: @markdurrant, @taktran

Rework sections
  packages/ag-charts-website/src/pages-styles/homepage.module.scss
  packages/ag-charts-website/src/pages/index.astro
Owners: @markdurrant, @taktran

AG-3390 - Fix sitemap title
  packages/ag-charts-website/src/pages/sitemap.astro
Owners: @taktran

Automated package version bump to 10.1.0-beta.20240830.
  .env
  libraries/ag-charts-test/package.json
  package.json
  packages/ag-charts-angular/package.json
  packages/ag-charts-angular/projects/ag-charts-angular/package.json
  packages/ag-charts-community-examples/package.json
  packages/ag-charts-community/package.json
  packages/ag-charts-community/src/version.ts
  packages/ag-charts-enterprise/package.json
  packages/ag-charts-locale/package.json
  packages/ag-charts-react/package.json
  packages/ag-charts-types/package.json
  packages/ag-charts-vue3/package.json
  packages/ag-charts-website/.env.build
  packages/ag-charts-website/.env.build.archive
  packages/ag-charts-website/.env.build.production
  packages/ag-charts-website/.env.build.staging
  packages/ag-charts-website/.env.dev
  packages/ag-charts-website/.env.preview
  packages/ag-charts-website/.env.preview.production
  packages/ag-charts-website/.env.preview.staging
  packages/ag-charts-website/package.json
  plugins/ag-charts-generate-chart-thumbnail/package.json
  plugins/ag-charts-generate-code-reference-files/package.json
  plugins/ag-charts-generate-example-files/package.json
Owners: @ag-grid/ag-charts-team, @alantreadway

content updates
  packages/ag-charts-website/src/pages/index.astro
Owners: @taktran

add faqs placeholder
  packages/ag-charts-website/src/pages/index.astro
Owners: @taktran

Improve focus path for keyboard navigation
  packages/ag-charts-community/src/dom/focusIndicator.ts
  packages/ag-charts-community/src/scene/extendedPath2D.ts
  packages/ag-charts-community/src/scene/shape/path.ts
  packages/ag-charts-community/src/scene/transformable.ts
  packages/ag-charts-enterprise/src/series/radial-gauge/radialGaugeSeries.ts
Owners: @alantreadway

Add additional series type support
  packages/ag-charts-website/src/features/homepage/components/IndexGalleryExampleRunner.astro
  packages/ag-charts-website/src/features/homepage/components/IndexGalleryExampleRunner.module copy.scss
  packages/ag-charts-website/src/features/homepage/components/IndexGalleryExampleRunner.tsx
  packages/ag-charts-website/src/features/homepage/components/TabControl.module.scss
  packages/ag-charts-website/src/features/homepage/components/TabControl.tsx
  packages/ag-charts-website/src/pages-styles/homepage.module.scss
  packages/ag-charts-website/src/pages/index.astro
Owners: @taktran, @markdurrant, @ag-grid/ag-charts-team

AG-12568 - Rename Anchor to ToolbarAnchor, index to floatingToolbarId + other review feedback
  packages/ag-charts-community/src/chart/interaction/toolbarManager.ts
  packages/ag-charts-community/src/chart/toolbar/toolbar.ts
  packages/ag-charts-community/src/chart/toolbar/toolbarProperties.ts
  packages/ag-charts-community/src/chart/toolbar/toolbarTypes.ts
  packages/ag-charts-enterprise/src/features/annotations/arrow-down/arrowDownScene.ts
  packages/ag-charts-enterprise/src/features/annotations/scenes/annotationScene.ts
  packages/ag-charts-enterprise/src/features/annotations/scenes/pointScene.ts
  packages/ag-charts-enterprise/src/features/annotations/scenes/textualPointScene.ts
  packages/ag-charts-enterprise/src/features/annotations/scenes/textualStartEndScene.ts
Owners: @alantreadway

Remove scaling from targets
  packages/ag-charts-enterprise/src/series/radial-gauge/radialGaugeSeries.ts
Owners: @alantreadway

wip
  packages/ag-charts-community/src/sandbox/chart/baseChart.ts
  packages/ag-charts-community/src/sandbox/defs/commonOptionsDefs.ts
  packages/ag-charts-community/src/sandbox/drawing/nodes/sceneGroup.ts
  packages/ag-charts-community/src/sandbox/drawing/nodes/textNode.ts
  packages/ag-charts-community/src/sandbox/sandbox.test.ts
  packages/ag-charts-community/src/sandbox/series/seriesTypes.ts
  packages/ag-charts-community/src/sandbox/types/commonTypes.ts
  packages/ag-charts-community/src/util/canvas.util.ts
Owners: @alantreadway

add FAQ content
  external/ag-website-shared/src/design-system/core/_breakpoints.scss
  packages/ag-charts-website/src/features/homepage/components/faqs/Faqs.module.scss
  packages/ag-charts-website/src/features/homepage/components/faqs/Faqs.tsx
  packages/ag-charts-website/src/features/homepage/components/faqs/faqs.json
  packages/ag-charts-website/src/pages-styles/homepage.module.scss
  packages/ag-charts-website/src/pages/index.astro
Owners: @markdurrant, @ag-grid/ag-charts-team, @taktran

Detach DOM Manager from Scene implementation
  packages/ag-charts-community/src/chart/chartContext.ts
  packages/ag-charts-community/src/scene/canvas/hdpiCanvas.ts
  packages/ag-charts-community/src/scene/scene.ts
Owners: @alantreadway

minor renames
  packages/ag-charts-community/src/chart/chart.ts
  packages/ag-charts-community/src/chart/chartContext.ts
  packages/ag-charts-community/src/scene/canvas/hdpiCanvas.ts
Owners: @alantreadway

AG-12681 Remove duplicate series ids
  packages/ag-charts-community/src/chart/chart.ts
Owners: @alantreadway

remove dead code
  packages/ag-charts-community/src/scene/scene.ts
Owners: @alantreadway

Detach DOM Manager from Scene implementation (#2353)
  packages/ag-charts-community/src/chart/chart.ts
  packages/ag-charts-community/src/chart/chartContext.ts
  packages/ag-charts-community/src/scene/canvas/hdpiCanvas.ts
  packages/ag-charts-community/src/scene/scene.ts
Owners: @alantreadway

AG-NONE Fix impending AG Grid Sparkline breakage
  packages/ag-charts-community/src/scene/scene.ts
Owners: @alantreadway

Automated package version bump to 10.1.0-beta.20240901.
  .env
  libraries/ag-charts-test/package.json
  package.json
  packages/ag-charts-angular/package.json
  packages/ag-charts-angular/projects/ag-charts-angular/package.json
  packages/ag-charts-community-examples/package.json
  packages/ag-charts-community/package.json
  packages/ag-charts-community/src/version.ts
  packages/ag-charts-enterprise/package.json
  packages/ag-charts-locale/package.json
  packages/ag-charts-react/package.json
  packages/ag-charts-types/package.json
  packages/ag-charts-vue3/package.json
  packages/ag-charts-website/.env.build
  packages/ag-charts-website/.env.build.archive
  packages/ag-charts-website/.env.build.production
  packages/ag-charts-website/.env.build.staging
  packages/ag-charts-website/.env.dev
  packages/ag-charts-website/.env.preview
  packages/ag-charts-website/.env.preview.production
  packages/ag-charts-website/.env.preview.staging
  packages/ag-charts-website/package.json
  plugins/ag-charts-generate-chart-thumbnail/package.json
  plugins/ag-charts-generate-code-reference-files/package.json
  plugins/ag-charts-generate-example-files/package.json
Owners: @ag-grid/ag-charts-team, @alantreadway

AG-12481 a11y
  packages/ag-charts-enterprise/src/series/radial-gauge/radialGaugeSeries.ts
Owners: @alantreadway

AG-12516 Area series legend toggle tests
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/area-series-test-ts-area-series-legend-toggle-animation-hide-for-stacked-area-graph-example-should-animate-at-0-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/area-series-test-ts-area-series-legend-toggle-animation-hide-for-stacked-area-graph-example-should-animate-at-100-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/area-series-test-ts-area-series-legend-toggle-animation-hide-for-stacked-area-graph-example-should-animate-at-25-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/area-series-test-ts-area-series-legend-toggle-animation-hide-for-stacked-area-graph-example-should-animate-at-50-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/area-series-test-ts-area-series-legend-toggle-animation-hide-for-stacked-area-graph-example-should-animate-at-75-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/area-series-test-ts-area-series-legend-toggle-animation-show-for-stacked-area-graph-example-should-animate-at-0-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/area-series-test-ts-area-series-legend-toggle-animation-show-for-stacked-area-graph-example-should-animate-at-100-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/area-series-test-ts-area-series-legend-toggle-animation-show-for-stacked-area-graph-example-should-animate-at-25-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/area-series-test-ts-area-series-legend-toggle-animation-show-for-stacked-area-graph-example-should-animate-at-50-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/area-series-test-ts-area-series-legend-toggle-animation-show-for-stacked-area-graph-example-should-animate-at-75-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/areaSeries.test.ts
Owners: @alantreadway

AG-12614 Add unit test (correct fails)
  packages/ag-charts-community/src/chart/__image_snapshots__/legend-test-ts-legend-ag-12614-update-delta-line-to-bar-1-snap.png
  packages/ag-charts-community/src/chart/__image_snapshots__/legend-test-ts-legend-ag-12614-update-delta-line-to-bar-2-snap.png
  packages/ag-charts-community/src/chart/legend.test.ts
Owners: @alantreadway

AG-12614 Fix eslint error
  packages/ag-charts-community/src/chart/legend.test.ts
Owners: @alantreadway

AG-12614 Update benchmark snapshot
  packages/ag-charts-community/benchmarks/__image_snapshots__/multi-series-test-ts-multi-series-benchmark-after-load-10-x-legend-toggle-1-snap.png
  packages/ag-charts-website/src/content/docs/benchmarks/_examples/summary/data.ts
Owners: @alantreadway, @ag-grid/ag-charts-team

AG-12614 Simplify marker update logic using a dirty flag
  packages/ag-charts-community/src/chart/legend.ts
Owners: @alantreadway

AG-12614 Remove entry from benchmark data.ts
  packages/ag-charts-website/src/content/docs/benchmarks/_examples/summary/data.ts
Owners: @ag-grid/ag-charts-team

AG-12568 - Remove padding from drag handle button
  packages/ag-charts-community/src/chart/toolbar/toolbarStyles.css
Owners: @alantreadway

AG-12685 Fix tooltip causing scrollbars to show
  packages/ag-charts-community/src/chart/tooltip/tooltip.ts
Owners: @alantreadway

AG-12568 - Switch to grabbing cursor on drag start
  packages/ag-charts-community/src/chart/toolbar/toolbar.ts
  packages/ag-charts-community/src/chart/toolbar/toolbarStyles.css
  packages/ag-charts-community/src/chart/toolbar/toolbarStyles.ts
Owners: @alantreadway

AG-12356 Add first, last class modifiers to toolabr buttons
  packages/ag-charts-community/src/chart/toolbar/toolbar.ts
  packages/ag-charts-community/src/chart/toolbar/toolbarStyles.css
  packages/ag-charts-community/src/chart/toolbar/toolbarStyles.ts
Owners: @alantreadway

AG-12568 - Fix floating toolbar becoming visible with stale anchor
  packages/ag-charts-enterprise/src/features/annotations/annotations.ts
Owners: @alantreadway

AG-12568 - Update e2e snapshots
  packages/ag-charts-website/e2e/toolbar.spec.ts-snapshots/callout-2-end-chromium-darwin.png
  packages/ag-charts-website/e2e/toolbar.spec.ts-snapshots/callout-3-input-chromium-darwin.png
  packages/ag-charts-website/e2e/toolbar.spec.ts-snapshots/callout-5-fill-color-popover-chromium-darwin.png
  packages/ag-charts-website/e2e/toolbar.spec.ts-snapshots/line-4-complete-chromium-darwin.png
  packages/ag-charts-website/e2e/toolbar.spec.ts-snapshots/text-4-start-chromium-darwin.png
  packages/ag-charts-website/e2e/toolbar.spec.ts-snapshots/text-5-input-chromium-darwin.png
  packages/ag-charts-website/e2e/toolbar.spec.ts-snapshots/text-7-editing-chromium-darwin.png
  packages/ag-charts-website/e2e/toolbar.spec.ts-snapshots/text-8-font-size-popover-chromium-darwin.png
  packages/ag-charts-website/e2e/toolbar.spec.ts-snapshots/text-9-change-font-size-chromium-darwin.png
Owners: @ag-grid/ag-charts-team

AG-12486 Add list / listitem to ProxyInteractionSerivce
  packages/ag-charts-community/src/dom/proxyInteractionService.ts
Owners: @alantreadway

AG-12486 Use role="switch" for legend item
  packages/ag-charts-community/src/chart/legend.ts
  packages/ag-charts-community/src/chart/legendMarkerLabel.ts
  packages/ag-charts-community/src/dom/proxyInteractionService.ts
  packages/ag-charts-locale/src/en-US.ts
Owners: @alantreadway, @ag-grid/ag-charts-team

AG-12486 Use role="list" for the legend items
  packages/ag-charts-community/src/chart/legend.ts
  packages/ag-charts-community/src/chart/legendMarkerLabel.ts
  packages/ag-charts-community/src/dom/proxyInteractionService.ts
  packages/ag-charts-community/src/util/keynavUtil.ts
Owners: @alantreadway

AG-12486 Set parent of role="list" element in ProxyInteractionService
  packages/ag-charts-community/src/dom/proxyInteractionService.ts
Owners: @alantreadway

.github/CODEOWNERS:

# NOTE: Order of entries matters - later entries have higher precedence.

# Attribute code-owners so default reviewers are assigned to PRs.
* @ag-grid/ag-charts-team

# Astro + website changes to be reviewed by website team.
*.scss @markdurrant
*.astro @taktran
/packages/ag-charts-website/astro/** @taktran
/packages/ag-charts-website/components/** @taktran
/packages/ag-charts-website/features/** @taktran
/packages/ag-charts-website/layouts/** @taktran
/packages/ag-charts-website/stores/** @taktran
/packages/ag-charts-website/utils/** @taktran

# Docs updates to be reviewed by Eng VP.
/packages/ag-charts-website/content/** @alantreadway @rmc-software
*.mdoc @rmc-software

# Charts library code to be reviewed by Chart TL.
/packages/ag-charts-community/** @alantreadway
/packages/ag-charts-enterprise/** @alantreadway

# Sensitive build/repo files to be reviewed by Chart TL.
**/package.json @alantreadway
nx.json @alantreadway
**/project.json @alantreadway
**/tsconfig.json @alantreadway
**/tsconfig.*.json @alantreadway
