Repository ag-grid/ag-charts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ag-grid/ag-charts-team, @markdurrant, @taktran, @alantreadway, @rmc-software

.github/CODEOWNERS:

# NOTE: Order of entries matters - later entries have higher precedence.

# Attribute code-owners so default reviewers are assigned to PRs.
* @ag-grid/ag-charts-team

# Astro + website changes to be reviewed by website team.
*.scss @markdurrant
*.astro @taktran
/packages/ag-charts-website/astro/** @taktran
/packages/ag-charts-website/components/** @taktran
/packages/ag-charts-website/features/** @taktran
/packages/ag-charts-website/layouts/** @taktran
/packages/ag-charts-website/stores/** @taktran
/packages/ag-charts-website/utils/** @taktran

# Docs updates to be reviewed by Eng VP.
/packages/ag-charts-website/content/** @alantreadway @rmc-software
*.mdoc @rmc-software

# Charts library code to be reviewed by Chart TL.
/packages/ag-charts-community/** @alantreadway
/packages/ag-charts-enterprise/** @alantreadway

# Sensitive build/repo files to be reviewed by Chart TL.
**/package.json @alantreadway
nx.json @alantreadway
**/project.json @alantreadway
**/tsconfig.json @alantreadway
**/tsconfig.*.json @alantreadway

AG-10528 - Animate IC add/remove series and data-change cases.
  packages/ag-charts-community/src/chart/agChartV2.ts
  packages/ag-charts-community/src/chart/mapping/prepareSeries.ts
Owners: @alantreadway

AG-10528 - Fix IC animation for LineSeries data-change cases.
  packages/ag-charts-community/src/chart/series/cartesian/lineUtil.ts
Owners: @alantreadway

AG-10565/10567: Add an enterprise SyncModule [WIP]
  packages/ag-charts-community/src/chart/agChartV2.ts
  packages/ag-charts-community/src/chart/chart.ts
  packages/ag-charts-community/src/chart/data/dataService.ts
  packages/ag-charts-community/src/chart/factory/expectedEnterpriseModules.ts
  packages/ag-charts-community/src/chart/interaction/syncManager.ts
  packages/ag-charts-community/src/chart/test/mockConsole.ts
  packages/ag-charts-community/src/chart/updateService.ts
  packages/ag-charts-community/src/module-support.ts
  packages/ag-charts-community/src/module/moduleContext.ts
  packages/ag-charts-community/src/module/optionsModule.test.ts
  packages/ag-charts-community/src/module/optionsModule.ts
  packages/ag-charts-community/src/options/chart/chartOptions.ts
  packages/ag-charts-community/src/scene/changeDetectable.ts
  packages/ag-charts-community/src/util/deprecation.test.ts
  packages/ag-charts-community/src/util/function.ts
  packages/ag-charts-community/src/util/listeners.ts
  packages/ag-charts-community/src/util/properties.ts
  packages/ag-charts-enterprise/src/features/sync/chartSync.ts
  packages/ag-charts-enterprise/src/features/sync/syncModule.ts
  packages/ag-charts-enterprise/src/main.ts
  plugins/ag-charts-generate-code-reference-files/src/executors/generate/types-utils.ts
Owners: @alantreadway, @ag-grid/ag-charts-team

AG-10565/10567: Add an enterprise SyncModule [WIP]
  packages/ag-charts-community/src/chart/chart.ts
Owners: @alantreadway

Improve global throttle/debounce implementation + minor cleanups
  packages/ag-charts-community/src/chart/agChartV2.ts
  packages/ag-charts-community/src/chart/test/mockConsole.ts
  packages/ag-charts-community/src/module/optionsModule.test.ts
  packages/ag-charts-community/src/module/optionsModule.ts
  packages/ag-charts-community/src/scene/changeDetectable.ts
  packages/ag-charts-community/src/util/deprecation.test.ts
  packages/ag-charts-community/src/util/function.ts
  packages/ag-charts-community/src/util/listeners.ts
  packages/ag-charts-community/src/util/properties.ts
Owners: @alantreadway

cleanup
  packages/ag-charts-enterprise/src/features/sync/chartSync.ts
Owners: @alantreadway

cleanup
  packages/ag-charts-enterprise/src/features/sync/chartSync.ts
Owners: @alantreadway

AG-10014 - Re-align SeriesTooltip.format with implementation.
  packages/ag-charts-community/src/options/chart/tooltipOptions.ts
Owners: @alantreadway

cleanup
  packages/ag-charts-community/src/module-support.ts
  packages/ag-charts-community/src/options/chart/chartOptions.ts
  packages/ag-charts-enterprise/src/features/sync/chartSync.ts
Owners: @alantreadway

AG-10528 - Animate IC add/remove series and data-change cases.
  packages/ag-charts-community/src/chart/agChart.test.ts
  packages/ag-charts-community/src/chart/agChartV2.ts
Owners: @alantreadway

Add test for tooltips in errorbars
  packages/ag-charts-enterprise/src/features/error-bar/__snapshots__/errorBar.test.ts.snap
  packages/ag-charts-enterprise/src/features/error-bar/errorBar.test.ts
Owners: @alantreadway

Clean up unnecessary `opts` variable
  packages/ag-charts-enterprise/src/features/error-bar/errorBar.test.ts
Owners: @alantreadway

Fix AgCharts import
  packages/ag-charts-enterprise/src/test/utils.ts
Owners: @alantreadway

Tidy up errorBar.test.ts Typescript errors
  packages/ag-charts-community/src/chart/test/utils.ts
  packages/ag-charts-enterprise/src/features/error-bar/errorBar.test.ts
  packages/ag-charts-enterprise/src/test/utils.ts
Owners: @alantreadway

nx format
  packages/ag-charts-enterprise/src/test/utils.ts
Owners: @alantreadway

AG-10525 Add regression test for tooltips
  packages/ag-charts-enterprise/src/features/error-bar/__snapshots__/errorBar.test.ts.snap
  packages/ag-charts-enterprise/src/features/error-bar/errorBar.test.ts
Owners: @alantreadway

Reduce size of the tooltip snapshot
  packages/ag-charts-enterprise/src/features/error-bar/__snapshots__/errorBar.test.ts.snap
  packages/ag-charts-enterprise/src/features/error-bar/errorBar.test.ts
Owners: @alantreadway

Fix tests
  packages/ag-charts-community/src/chart/series/polar/__image_snapshots__/donut-series-test-ts-donut-series-create-zerosum-donut-1-snap.png
  packages/ag-charts-community/src/chart/series/polar/donutSeries.test.ts
  packages/ag-charts-community/src/chart/series/polar/donutSeries.ts
Owners: @alantreadway

AG-10528 - Fix IC animation for AreaSeries data-change cases.
  packages/ag-charts-community/src/chart/agChartV2.ts
  packages/ag-charts-community/src/chart/series/cartesian/lineUtil.ts
Owners: @alantreadway

AG-10595 - Skip legend validation in IC cases.
  packages/ag-charts-community/src/chart/chart.ts
Owners: @alantreadway

AG-9505 Update license manager for combo apps
  packages/ag-charts-enterprise/src/license/licenseManager.ts
Owners: @alantreadway

Automated package version bump to 9.0.2-beta.20240205.
  .env
  libraries/ag-charts-test/package.json
  package.json
  packages/ag-charts-angular/package.json
  packages/ag-charts-angular/projects/ag-charts-angular/package.json
  packages/ag-charts-community-examples/package.json
  packages/ag-charts-community/package.json
  packages/ag-charts-community/src/version.ts
  packages/ag-charts-enterprise/package.json
  packages/ag-charts-react/package.json
  packages/ag-charts-vue/package.json
  packages/ag-charts-vue3/package.json
  packages/ag-charts-website/.env.build
  packages/ag-charts-website/.env.build.archive
  packages/ag-charts-website/.env.build.production
  packages/ag-charts-website/.env.build.staging
  packages/ag-charts-website/.env.dev
  packages/ag-charts-website/.env.preview
  packages/ag-charts-website/.env.preview.production
  packages/ag-charts-website/.env.preview.staging
  packages/ag-charts-website/package.json
  plugins/ag-charts-generate-chart-thumbnail/package.json
  plugins/ag-charts-generate-code-reference-files/package.json
  plugins/ag-charts-generate-example-files/package.json
Owners: @ag-grid/ag-charts-team, @alantreadway

AG-10518 Update logic for hiding a donut series with no inner radius props
  packages/ag-charts-community/src/chart/series/polar/donutSeries.ts
Owners: @alantreadway

Add tests for function.ts utils
  packages/ag-charts-community/src/util/function.test.ts
Owners: @alantreadway

AG-9505 Update license manager for combo apps
  packages/ag-charts-community/src/chart/agChartV2.ts
  packages/ag-charts-community/src/module/enterpriseModule.ts
  packages/ag-charts-enterprise/src/license/licenseManager.ts
Owners: @alantreadway

Automated package version bump to 9.0.2-beta.20240206.
  .env
  libraries/ag-charts-test/package.json
  package.json
  packages/ag-charts-angular/package.json
  packages/ag-charts-angular/projects/ag-charts-angular/package.json
  packages/ag-charts-community-examples/package.json
  packages/ag-charts-community/package.json
  packages/ag-charts-community/src/version.ts
  packages/ag-charts-enterprise/package.json
  packages/ag-charts-react/package.json
  packages/ag-charts-vue/package.json
  packages/ag-charts-vue3/package.json
  packages/ag-charts-website/.env.build
  packages/ag-charts-website/.env.build.archive
  packages/ag-charts-website/.env.build.production
  packages/ag-charts-website/.env.build.staging
  packages/ag-charts-website/.env.dev
  packages/ag-charts-website/.env.preview
  packages/ag-charts-website/.env.preview.production
  packages/ag-charts-website/.env.preview.staging
  packages/ag-charts-website/package.json
  plugins/ag-charts-generate-chart-thumbnail/package.json
  plugins/ag-charts-generate-code-reference-files/package.json
  plugins/ag-charts-generate-example-files/package.json
Owners: @ag-grid/ag-charts-team, @alantreadway

Add tests for function.ts utils (#950)
  packages/ag-charts-community/src/util/function.test.ts
Owners: @alantreadway

Fix scene debug data being generated when debug is off
  packages/ag-charts-community/src/scene/scene.ts
Owners: @alantreadway

Temporarily disable batched build.
  .github/workflows/ci.yml
Owners: @ag-grid/ag-charts-team

AG-9505 Update license manager for combo apps
  packages/ag-charts-community/src/chart/agChartV2.ts
  packages/ag-charts-enterprise/src/license/licenseManager.ts
Owners: @alantreadway

Automated package version bump to 9.0.2-beta.20240206.1319.
  .env
  libraries/ag-charts-test/package.json
  package.json
  packages/ag-charts-angular/package.json
  packages/ag-charts-angular/projects/ag-charts-angular/package.json
  packages/ag-charts-community-examples/package.json
  packages/ag-charts-community/package.json
  packages/ag-charts-community/src/version.ts
  packages/ag-charts-enterprise/package.json
  packages/ag-charts-react/package.json
  packages/ag-charts-vue/package.json
  packages/ag-charts-vue3/package.json
  packages/ag-charts-website/.env.build
  packages/ag-charts-website/.env.build.archive
  packages/ag-charts-website/.env.build.production
  packages/ag-charts-website/.env.build.staging
  packages/ag-charts-website/.env.dev
  packages/ag-charts-website/.env.preview
  packages/ag-charts-website/.env.preview.production
  packages/ag-charts-website/.env.preview.staging
  packages/ag-charts-website/package.json
  plugins/ag-charts-generate-chart-thumbnail/package.json
  plugins/ag-charts-generate-code-reference-files/package.json
  plugins/ag-charts-generate-example-files/package.json
Owners: @ag-grid/ag-charts-team, @alantreadway

Temporarily disable batched build.
  packages/all/.env
Owners: @ag-grid/ag-charts-team

Cleanup debug output checking; fix redundant calls to Scene.buildTree().
  packages/ag-charts-community/src/chart/agChartV2.ts
  packages/ag-charts-community/src/chart/chart.ts
  packages/ag-charts-community/src/chart/data/dataController.ts
  packages/ag-charts-community/src/chart/data/dataModel.ts
  packages/ag-charts-community/src/chart/interaction/animationManager.ts
  packages/ag-charts-community/src/chart/series/cartesian/markerUtil.ts
  packages/ag-charts-community/src/scene/scene.ts
  packages/ag-charts-community/src/util/debug.ts
Owners: @alantreadway

Fix sync defaults
  packages/ag-charts-community/src/chart/chart.ts
  packages/ag-charts-community/src/util/function.test.ts
  packages/ag-charts-enterprise/src/features/sync/syncModule.ts
Owners: @alantreadway

Fix sync defaults (#953)
  packages/ag-charts-community/src/chart/chart.ts
  packages/ag-charts-community/src/util/function.test.ts
  packages/ag-charts-enterprise/src/features/sync/syncModule.ts
Owners: @alantreadway

Remove circular import dependency
  packages/ag-charts-community/src/options/chart/gradientLegendOptions.ts
Owners: @alantreadway

Remove circular import dependency
  packages/ag-charts-community/src/chart/factory/expectedEnterpriseModules.ts
Owners: @alantreadway

Add moduleConflicts.ts to avoid circular imports
  packages/ag-charts-community/src/chart/factory/setupModules.ts
  packages/ag-charts-community/src/module/module.ts
  packages/ag-charts-community/src/module/moduleConflicts.ts
  packages/ag-charts-community/src/module/optionsModule.ts
Owners: @alantreadway

Avoid circular imports
  packages/ag-charts-community/src/chart/agChartV2.ts
  packages/ag-charts-community/src/chart/factory/seriesTypes.ts
  packages/ag-charts-community/src/chart/series/series.ts
Owners: @alantreadway

Fix circular dependencies.
  packages/ag-charts-community/src/chart/agChartV2.ts
  packages/ag-charts-community/src/chart/caption.ts
  packages/ag-charts-community/src/chart/captionLike.ts
  packages/ag-charts-community/src/chart/chart.ts
  packages/ag-charts-community/src/chart/chartService.ts
  packages/ag-charts-community/src/chart/factory/axisTypes.ts
  packages/ag-charts-community/src/chart/factory/expectedEnterpriseModules.ts
  packages/ag-charts-community/src/chart/factory/legendTypes.ts
  packages/ag-charts-community/src/chart/factory/registerInbuiltModules.ts
  packages/ag-charts-community/src/chart/factory/seriesTypes.ts
  packages/ag-charts-community/src/chart/interaction/syncManager.ts
  packages/ag-charts-community/src/chart/interaction/zoomManager.ts
  packages/ag-charts-community/src/chart/series/polar/pieTheme.ts
  packages/ag-charts-community/src/chart/series/series.ts
  packages/ag-charts-community/src/chart/series/seriesTypes.ts
  packages/ag-charts-community/src/chart/updateService.ts
  packages/ag-charts-community/src/module-support.ts
  packages/ag-charts-community/src/module/coreModules.ts
  packages/ag-charts-community/src/module/coreModulesTypes.ts
  packages/ag-charts-community/src/module/module.ts
  packages/ag-charts-community/src/module/optionsModule.ts
  packages/ag-charts-community/src/module/optionsModuleTypes.ts
  packages/ag-charts-community/src/util/theme.ts
Owners: @alantreadway
