Repository ag-grid/ag-charts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ag-grid/ag-charts-team, @markdurrant, @taktran, @alantreadway, @rmc-software

AG-11291 - Ensure Event.preventDefault() on consumed keyboard events.
  packages/ag-charts-community/src/chart/chart.ts
  packages/ag-charts-community/src/chart/interaction/consumableEvent.ts
  packages/ag-charts-community/src/chart/interaction/keyNavManager.ts
  packages/ag-charts-community/src/chart/interaction/regionManager.ts
  packages/ag-charts-community/src/chart/legend.ts
Owners: @alantreadway

AG-11338 - Align default focus colour with Quartz.
  packages/ag-charts-community/src/styles/theme-default.ts
Owners: @alantreadway

AG-11327 Move cartesian pickFocus into dataModelSeries
  packages/ag-charts-community/src/chart/series/cartesian/cartesianSeries.ts
  packages/ag-charts-community/src/chart/series/dataModelSeries.ts
  packages/ag-charts-community/src/chart/series/polar/polarSeries.ts
  packages/ag-charts-enterprise/src/series/map-line-background/mapLineBackgroundSeries.ts
  packages/ag-charts-enterprise/src/series/map-line/mapLineSeries.ts
  packages/ag-charts-enterprise/src/series/map-marker/mapMarkerSeries.ts
  packages/ag-charts-enterprise/src/series/map-shape/mapShapeSeries.ts
Owners: @alantreadway

AG-11327 Implement DataModelSeries.getNodeData() for polar series
  packages/ag-charts-community/src/chart/series/polar/donutSeries.ts
  packages/ag-charts-community/src/chart/series/polar/pieSeries.ts
  packages/ag-charts-community/src/chart/series/polar/polarSeries.ts
  packages/ag-charts-enterprise/src/series/radar/radarSeries.ts
  packages/ag-charts-enterprise/src/series/radial-bar/radialBarSeries.ts
  packages/ag-charts-enterprise/src/series/radial-column/radialColumnSeriesBase.ts
Owners: @alantreadway

AG-11327 Make DataModelSeries.getNodeData public
  packages/ag-charts-community/src/chart/series/dataModelSeries.ts
  packages/ag-charts-community/src/chart/series/polar/polarSeries.ts
  packages/ag-charts-enterprise/src/series/map-line-background/mapLineBackgroundSeries.ts
  packages/ag-charts-enterprise/src/series/map-line/mapLineSeries.ts
  packages/ag-charts-enterprise/src/series/map-marker/mapMarkerSeries.ts
  packages/ag-charts-enterprise/src/series/map-shape/mapShapeSeries.ts
Owners: @alantreadway

AG-11291 - Fix focus indicator positioning with fixed width/height chart.
  packages/ag-charts-community/src/chart/chart.ts
  packages/ag-charts-community/src/chart/chartContext.ts
  packages/ag-charts-community/src/chart/interaction/focusStyles.ts
  packages/ag-charts-community/src/chart/interaction/regionManager.ts
Owners: @alantreadway

Simplified accessibility example
  packages/ag-charts-website/src/content/docs/accessibility/_examples/keyboard-navigation/data.ts
  packages/ag-charts-website/src/content/docs/accessibility/_examples/keyboard-navigation/main.ts
  packages/ag-charts-website/src/content/docs/upgrade-to-ag-charts-9-3/index.mdoc
Owners: @ag-grid/ag-charts-team, @rmc-software

AG-11327 Implement computeFocusBounds on polar series
  packages/ag-charts-community/src/chart/series/polar/donutSeries.ts
  packages/ag-charts-community/src/chart/series/polar/pieSeries.ts
  packages/ag-charts-community/src/chart/series/polar/pieUtil.ts
  packages/ag-charts-community/src/chart/series/polar/polarSeries.ts
  packages/ag-charts-community/src/module-support.ts
  packages/ag-charts-community/src/util/angle.ts
  packages/ag-charts-enterprise/src/series/radar/radarSeries.ts
  packages/ag-charts-enterprise/src/series/radial-bar/radialBarSeries.ts
  packages/ag-charts-enterprise/src/series/radial-column/radialColumnSeriesBase.ts
Owners: @alantreadway

Revert "AG-11291 - Ensure Event.preventDefault() on consumed keyboard events."
  packages/ag-charts-community/src/chart/chart.ts
  packages/ag-charts-community/src/chart/interaction/consumableEvent.ts
  packages/ag-charts-community/src/chart/interaction/keyNavManager.ts
  packages/ag-charts-community/src/chart/interaction/regionManager.ts
  packages/ag-charts-community/src/chart/legend.ts
Owners: @alantreadway

AG-11291 preventDefault when navigating with the keyboard
  packages/ag-charts-community/src/chart/interaction/regionManager.ts
Owners: @alantreadway

AG-11327 Fix sector focus bounds calculation
  packages/ag-charts-community/src/chart/series/polar/pieUtil.ts
Owners: @alantreadway

nx format
  packages/ag-charts-community/src/chart/series/polar/pieUtil.ts
Owners: @alantreadway

AG-11264 - Move privacy page to shared folder
  external/ag-website-shared/src/components/policies/pages/privacy.astro
  external/ag-website-shared/src/components/policies/policyPage.module.scss
  external/ag-website-shared/src/content/policies/cookies.mdoc
  external/ag-website-shared/src/content/policies/privacy.mdoc
  packages/ag-charts-website/src/pages/privacy.astro
Owners: @taktran, @markdurrant, @rmc-software

AG-11264 - Move cookies page to shared folder
  external/ag-website-shared/src/components/policies/components/OneTrustCookiesDetails.astro
  external/ag-website-shared/src/components/policies/pages/cookies.astro
  external/ag-website-shared/src/markdoc/tags/oneTrustCookies.ts
  packages/ag-charts-website/markdoc.config.ts
  packages/ag-charts-website/src/pages/cookies.astro
Owners: @taktran, @ag-grid/ag-charts-team

git subrepo push external/ag-website-shared
  external/ag-website-shared/.gitrepo
Owners: @ag-grid/ag-charts-team

AG-11291 - Fix premature consumption of 'tab' events when moving between regions.
  packages/ag-charts-community/src/chart/interaction/keyNavManager.ts
  packages/ag-charts-community/src/chart/interaction/regionManager.ts
Owners: @alantreadway

AG-11191 - Fix legend pagination buttons.
  packages/ag-charts-community/src/chart/pagination/pagination.ts
Owners: @alantreadway

AG-11264 - Add description to policy pages
  external/ag-website-shared/src/components/policies/pages/cookies.astro
  external/ag-website-shared/src/components/policies/pages/privacy.astro
Owners: @taktran

git subrepo push external/ag-website-shared
  external/ag-website-shared/.gitrepo
Owners: @ag-grid/ag-charts-team

AG-10879 - Add default theme palette colors for candlestick and ohlc series items
  packages/ag-charts-community/src/chart/themes/chartTheme.ts
  packages/ag-charts-community/src/chart/themes/darkTheme.ts
  packages/ag-charts-community/src/chart/themes/materialDark.ts
  packages/ag-charts-community/src/chart/themes/materialLight.ts
  packages/ag-charts-community/src/chart/themes/polychromaDark.ts
  packages/ag-charts-community/src/chart/themes/polychromaLight.ts
  packages/ag-charts-community/src/chart/themes/sheetsDark.ts
  packages/ag-charts-community/src/chart/themes/sheetsLight.ts
  packages/ag-charts-community/src/chart/themes/symbols.ts
  packages/ag-charts-community/src/chart/themes/vividDark.ts
  packages/ag-charts-community/src/chart/themes/vividLight.ts
  packages/ag-charts-enterprise/src/series/candlestick/candlestickModule.ts
  packages/ag-charts-enterprise/src/series/ohlc/ohlcModule.ts
Owners: @alantreadway

AG-10879 - Add default theme palette colors for candlestick and ohlc series items
  packages/ag-charts-enterprise/src/series/candlestick/candlestickModule.ts
  packages/ag-charts-enterprise/src/series/ohlc/ohlcModule.ts
Owners: @alantreadway

AG-3390 - Add prettier ignore file for local dev
  .prettierignore.local
  .vscode/settings.json
Owners: @ag-grid/ag-charts-team

AG-10851 - Update customisation example
  packages/ag-charts-website/src/content/docs/candlestick-series/_examples/candlestick-customisations/main.ts
  packages/ag-charts-website/src/content/docs/candlestick-series/index.mdoc
Owners: @ag-grid/ag-charts-team, @rmc-software

AG-10851 - Update snapshots
  packages/ag-charts-enterprise/src/series/candlestick/__image_snapshots__/candlestick-series-test-ts-candlestick-series-should-render-a-candlestick-chart-with-a-reversed-time-x-axis-1-snap.png
  packages/ag-charts-enterprise/src/series/candlestick/__image_snapshots__/candlestick-series-test-ts-candlestick-series-should-render-a-candlestick-chart-with-a-time-x-axis-1-snap.png
Owners: @alantreadway

Remove unused code path in zoom
  packages/ag-charts-enterprise/src/features/zoom/zoom.ts
Owners: @alantreadway

Refactor out zoom context menu and toolbar
  packages/ag-charts-enterprise/src/features/zoom/zoom.ts
  packages/ag-charts-enterprise/src/features/zoom/zoomContextMenu.ts
  packages/ag-charts-enterprise/src/features/zoom/zoomScroller.ts
  packages/ag-charts-enterprise/src/features/zoom/zoomSelector.ts
  packages/ag-charts-enterprise/src/features/zoom/zoomToolbar.ts
  packages/ag-charts-enterprise/src/features/zoom/zoomTypes.ts
  packages/ag-charts-enterprise/src/features/zoom/zoomUtils.ts
Owners: @alantreadway

Refactor zoom to remove aliases of ctx properties
  packages/ag-charts-enterprise/src/features/zoom/zoom.ts
Owners: @alantreadway

AG-11227 - Add ohlc docs page
  packages/ag-charts-website/src/content/docs/ohlc-series/_examples/ohlc-customisations/data.ts
  packages/ag-charts-website/src/content/docs/ohlc-series/_examples/ohlc-customisations/index.html
  packages/ag-charts-website/src/content/docs/ohlc-series/_examples/ohlc-customisations/main.ts
  packages/ag-charts-website/src/content/docs/ohlc-series/_examples/simple-ohlc/data.ts
  packages/ag-charts-website/src/content/docs/ohlc-series/_examples/simple-ohlc/index.html
  packages/ag-charts-website/src/content/docs/ohlc-series/_examples/simple-ohlc/main.ts
  packages/ag-charts-website/src/content/docs/ohlc-series/index.mdoc
  packages/ag-charts-website/src/content/menu/data.json
Owners: @ag-grid/ag-charts-team, @rmc-software

AG-11367 Add zoom toolbar buttons proxy in zoom module
  packages/ag-charts-community/src/chart/interaction/toolbarManager.ts
  packages/ag-charts-community/src/chart/toolbar/toolbar.ts
  packages/ag-charts-community/src/chart/toolbar/toolbarModule.ts
  packages/ag-charts-community/src/chart/toolbar/toolbarProperties.ts
  packages/ag-charts-community/src/chart/toolbar/toolbarStyles.ts
  packages/ag-charts-community/src/chart/toolbar/toolbarTypes.ts
  packages/ag-charts-community/src/options/chart/toolbarOptions.ts
  packages/ag-charts-community/src/options/chart/zoomOptions.ts
  packages/ag-charts-community/src/styles/theme-default.ts
  packages/ag-charts-community/src/util/listeners.ts
  packages/ag-charts-enterprise/src/features/zoom/zoom.ts
  packages/ag-charts-enterprise/src/features/zoom/zoomModule.ts
Owners: @alantreadway

Update test snapshot
  packages/ag-charts-community/src/chart/mapping/__snapshots__/prepare.test.ts.snap
Owners: @alantreadway

git subrepo pull external/ag-website-shared
  external/ag-website-shared/.gitrepo
  external/ag-website-shared/src/markdoc/tags/br.ts
  external/ag-website-shared/src/markdoc/tags/enterpriseIcon.ts
  external/ag-website-shared/src/markdoc/tags/idea.ts
  external/ag-website-shared/src/markdoc/tags/note.ts
  external/ag-website-shared/src/markdoc/tags/openInCTA.ts
  external/ag-website-shared/src/markdoc/tags/warning.ts
Owners: @ag-grid/ag-charts-team

AG-10879 - extract a type for default colors
  packages/ag-charts-community/src/chart/themes/chartTheme.ts
  packages/ag-charts-community/src/chart/themes/darkTheme.ts
  packages/ag-charts-community/src/chart/themes/defaultColors.ts
  packages/ag-charts-community/src/module-support.ts
  packages/ag-charts-enterprise/src/series/candlestick/candlestickModule.ts
  packages/ag-charts-enterprise/src/series/ohlc/ohlcModule.ts
Owners: @alantreadway

AG-11264 - Use markdoc components from shared folder
  packages/ag-charts-website/markdoc.config.ts
Owners: @ag-grid/ag-charts-team

AG-11371 Implement keynav on candlestick/ohlc series
  packages/ag-charts-enterprise/src/series/candlestick/candlestickSeries.ts
  packages/ag-charts-enterprise/src/series/candlestick/candlestickUtil.ts
  packages/ag-charts-enterprise/src/series/ohlc/ohlcSeries.ts
Owners: @alantreadway

Automated package version bump to 9.2.1-beta.20240421.
  .env
  libraries/ag-charts-test/package.json
  package.json
  packages/ag-charts-angular/package.json
  packages/ag-charts-angular/projects/ag-charts-angular/package.json
  packages/ag-charts-community-examples/package.json
  packages/ag-charts-community/package.json
  packages/ag-charts-community/src/version.ts
  packages/ag-charts-enterprise/package.json
  packages/ag-charts-react/package.json
  packages/ag-charts-vue/package.json
  packages/ag-charts-vue3/package.json
  packages/ag-charts-website/.env.build
  packages/ag-charts-website/.env.build.archive
  packages/ag-charts-website/.env.build.production
  packages/ag-charts-website/.env.build.staging
  packages/ag-charts-website/.env.dev
  packages/ag-charts-website/.env.preview
  packages/ag-charts-website/.env.preview.production
  packages/ag-charts-website/.env.preview.staging
  packages/ag-charts-website/package.json
  plugins/ag-charts-generate-chart-thumbnail/package.json
  plugins/ag-charts-generate-code-reference-files/package.json
  plugins/ag-charts-generate-example-files/package.json
Owners: @ag-grid/ag-charts-team, @alantreadway

AG-11290 - Stop showing tooltip for invalid BarSeries datums.
  packages/ag-charts-community/src/chart/series/cartesian/areaUtil.ts
  packages/ag-charts-community/src/chart/series/cartesian/barSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/bubbleSeriesProperties.ts
  packages/ag-charts-community/src/chart/series/cartesian/cartesianSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/scatterSeriesProperties.ts
  packages/ag-charts-community/src/chart/series/polar/pieUtil.ts
  packages/ag-charts-community/src/chart/series/series.ts
  packages/ag-charts-community/src/chart/series/seriesTypes.ts
  packages/ag-charts-enterprise/src/series/heatmap/heatmapSeries.ts
  packages/ag-charts-enterprise/src/series/range-area/rangeAreaProperties.ts
Owners: @alantreadway

AG-11329 Implement keyboard navigation in map series
  packages/ag-charts-enterprise/src/series/map-line-background/mapLineBackgroundSeries.ts
  packages/ag-charts-enterprise/src/series/map-line/mapLineSeries.ts
  packages/ag-charts-enterprise/src/series/map-shape-background/mapShapeBackgroundSeries.ts
  packages/ag-charts-enterprise/src/series/map-shape/mapShapeSeries.ts
  packages/ag-charts-enterprise/src/series/map-util/mapUtil.ts
Owners: @alantreadway

AG-11329 Disable focusing on map-shape-background
  packages/ag-charts-enterprise/src/series/map-shape-background/mapShapeBackgroundSeries.ts
Owners: @alantreadway

AG-11329 Disable focusing on map-line-background
  packages/ag-charts-enterprise/src/series/map-line-background/mapLineBackgroundSeries.ts
Owners: @alantreadway

AG-11290 - Stop showing tooltip for invalid BarSeries datums.
  packages/ag-charts-community/src/chart/series/cartesian/barSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/cartesianSeries.ts
  packages/ag-charts-community/src/chart/series/polar/pieUtil.ts
  packages/ag-charts-community/src/chart/series/series.ts
  packages/ag-charts-community/src/chart/series/seriesTypes.ts
Owners: @alantreadway

.github/CODEOWNERS:

# NOTE: Order of entries matters - later entries have higher precedence.

# Attribute code-owners so default reviewers are assigned to PRs.
* @ag-grid/ag-charts-team

# Astro + website changes to be reviewed by website team.
*.scss @markdurrant
*.astro @taktran
/packages/ag-charts-website/astro/** @taktran
/packages/ag-charts-website/components/** @taktran
/packages/ag-charts-website/features/** @taktran
/packages/ag-charts-website/layouts/** @taktran
/packages/ag-charts-website/stores/** @taktran
/packages/ag-charts-website/utils/** @taktran

# Docs updates to be reviewed by Eng VP.
/packages/ag-charts-website/content/** @alantreadway @rmc-software
*.mdoc @rmc-software

# Charts library code to be reviewed by Chart TL.
/packages/ag-charts-community/** @alantreadway
/packages/ag-charts-enterprise/** @alantreadway

# Sensitive build/repo files to be reviewed by Chart TL.
**/package.json @alantreadway
nx.json @alantreadway
**/project.json @alantreadway
**/tsconfig.json @alantreadway
**/tsconfig.*.json @alantreadway
