Repository ag-grid/ag-charts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ag-grid/ag-charts-team, @markdurrant, @taktran, @alantreadway, @rmc-software

.github/CODEOWNERS:

# NOTE: Order of entries matters - later entries have higher precedence.

# Attribute code-owners so default reviewers are assigned to PRs.
* @ag-grid/ag-charts-team

# Astro + website changes to be reviewed by website team.
*.scss @markdurrant
*.astro @taktran
/packages/ag-charts-website/astro/** @taktran
/packages/ag-charts-website/components/** @taktran
/packages/ag-charts-website/features/** @taktran
/packages/ag-charts-website/layouts/** @taktran
/packages/ag-charts-website/stores/** @taktran
/packages/ag-charts-website/utils/** @taktran

# Docs updates to be reviewed by Eng VP.
/packages/ag-charts-website/content/** @alantreadway @rmc-software
*.mdoc @rmc-software

# Charts library code to be reviewed by Chart TL.
/packages/ag-charts-community/** @alantreadway
/packages/ag-charts-enterprise/** @alantreadway

# Sensitive build/repo files to be reviewed by Chart TL.
**/package.json @alantreadway
nx.json @alantreadway
**/project.json @alantreadway
**/tsconfig.json @alantreadway
**/tsconfig.*.json @alantreadway

Abstract out magic numbers
  packages/ag-charts-community/src/chart/series/series.ts
Owners: @alantreadway

Move types
  packages/ag-charts-types/src/main.ts
  packages/ag-charts-types/src/presets/gauge/gaugeOptions.ts
  packages/ag-charts-types/src/presets/presetOptions.ts
Owners: @ag-grid/ag-charts-team

Align crossfiltering to work with grid requirements
  packages/ag-charts-community/src/chart/series/cartesian/bubbleSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/bubbleSeriesProperties.ts
  packages/ag-charts-community/src/chart/series/cartesian/scatterSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/scatterSeriesProperties.ts
Owners: @alantreadway

Code cleanup
  packages/ag-charts-community/src/chart/series/cartesian/areaSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/lineSeries.ts
Owners: @alantreadway

Code cleanup
  packages/ag-charts-community/src/chart/series/cartesian/areaSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/lineSeries.ts
  packages/ag-charts-community/src/chart/series/series.ts
Owners: @alantreadway

tsc
  packages/ag-charts-types/src/chartBuilderOptions.ts
Owners: @ag-grid/ag-charts-team

AG-12498 Add initial focus and key nav to settings dialog tab
  packages/ag-charts-enterprise/src/components/dialog/dialog.ts
  packages/ag-charts-enterprise/src/components/popover/popover.ts
Owners: @alantreadway

AG-12498 Change settings dialog to use propagated esc keydown listener
  packages/ag-charts-enterprise/src/components/dialog/dialog.ts
Owners: @alantreadway

move types
  packages/ag-charts-types/src/chartBuilderOptions.ts
  packages/ag-charts-types/src/main.ts
  packages/ag-charts-types/src/presets/financial/financialOptions.ts
  packages/ag-charts-types/src/presets/financial/priceVolumeOptions.ts
  packages/ag-charts-types/src/presets/gauge/commonOptions.ts
  packages/ag-charts-types/src/presets/gauge/gaugeOptions.ts
  packages/ag-charts-types/src/presets/gauge/linearGaugeOptions.ts
  packages/ag-charts-types/src/presets/gauge/radialGaugeOptions.ts
  packages/ag-charts-types/src/presets/presetOptions.ts
Owners: @ag-grid/ag-charts-team

AG-12613 Grid links according to env
  packages/ag-charts-website/src/constants.ts
  packages/ag-charts-website/src/pages/index.astro
  packages/ag-charts-website/src/utils/env.ts
Owners: @ag-grid/ag-charts-team, @taktran

AG-12498 Fix dialog css theme variable names and colors
  packages/ag-charts-community/src/dom/elements.css
  packages/ag-charts-community/src/dom/theme.css
  packages/ag-charts-enterprise/src/components/dialog/dialog.css
Owners: @alantreadway

AG-12489 Add button transitions after update complete
  packages/ag-charts-community/src/chart/toolbar/toolbar.ts
Owners: @alantreadway

Fix bundle lint check for ag-chart-types + caching of lint:depcruise.
  packages/ag-charts-community/project.json
  packages/ag-charts-enterprise/project.json
  packages/ag-charts-types/.dependency-cruiser.js
  packages/ag-charts-types/project.json
Owners: @alantreadway, @ag-grid/ag-charts-team

AG-12731 - Fix large examples layout bug on smaller screens
  packages/ag-charts-website/src/features/example-runner/components/ExampleRunnerContainer.astro
Owners: @taktran

AG-12114 - Don't pass offset as argument for copy
  packages/ag-charts-enterprise/src/features/annotations/annotations.ts
  packages/ag-charts-enterprise/src/features/annotations/annotationsSuperTypes.ts
  packages/ag-charts-enterprise/src/features/annotations/arrow-down/arrowDownConfig.ts
  packages/ag-charts-enterprise/src/features/annotations/arrow-up/arrowUpConfig.ts
  packages/ag-charts-enterprise/src/features/annotations/callout/calloutConfig.ts
  packages/ag-charts-enterprise/src/features/annotations/comment/commentConfig.ts
  packages/ag-charts-enterprise/src/features/annotations/cross-line/crossLineConfig.ts
  packages/ag-charts-enterprise/src/features/annotations/cross-line/crossLineScene.ts
  packages/ag-charts-enterprise/src/features/annotations/disjoint-channel/disjointChannelConfig.ts
  packages/ag-charts-enterprise/src/features/annotations/disjoint-channel/disjointChannelScene.ts
  packages/ag-charts-enterprise/src/features/annotations/line/lineConfig.ts
  packages/ag-charts-enterprise/src/features/annotations/note/noteConfig.ts
  packages/ag-charts-enterprise/src/features/annotations/parallel-channel/parallelChannelConfig.ts
  packages/ag-charts-enterprise/src/features/annotations/parallel-channel/parallelChannelScene.ts
  packages/ag-charts-enterprise/src/features/annotations/scenes/linearScene.ts
  packages/ag-charts-enterprise/src/features/annotations/scenes/pointScene.ts
  packages/ag-charts-enterprise/src/features/annotations/scenes/textualPointScene.ts
  packages/ag-charts-enterprise/src/features/annotations/text/textConfig.ts
Owners: @alantreadway

Remove transition for darkmode toggle
  packages/ag-charts-community/src/chart/chart.ts
  packages/ag-charts-community/src/chart/toolbar/toolbar.ts
  packages/ag-charts-community/src/chart/updateService.ts
Owners: @alantreadway

AG-12114 - Move createAnnotation function up
  packages/ag-charts-enterprise/src/features/annotations/annotations.ts
Owners: @alantreadway

Automated package version bump to 10.1.0-beta.20240911.
  .env
  libraries/ag-charts-test/package.json
  package.json
  packages/ag-charts-angular/package.json
  packages/ag-charts-angular/projects/ag-charts-angular/package.json
  packages/ag-charts-community-examples/package.json
  packages/ag-charts-community/package.json
  packages/ag-charts-community/src/version.ts
  packages/ag-charts-enterprise/package.json
  packages/ag-charts-locale/package.json
  packages/ag-charts-react/package.json
  packages/ag-charts-types/package.json
  packages/ag-charts-vue3/package.json
  packages/ag-charts-website/.env.build
  packages/ag-charts-website/.env.build.archive
  packages/ag-charts-website/.env.build.production
  packages/ag-charts-website/.env.build.staging
  packages/ag-charts-website/.env.dev
  packages/ag-charts-website/.env.preview
  packages/ag-charts-website/.env.preview.production
  packages/ag-charts-website/.env.preview.staging
  packages/ag-charts-website/package.json
  plugins/ag-charts-generate-chart-thumbnail/package.json
  plugins/ag-charts-generate-code-reference-files/package.json
  plugins/ag-charts-generate-example-files/package.json
Owners: @ag-grid/ag-charts-team, @alantreadway

code cleanup
  packages/ag-charts-community/src/chart/toolbar/toolbar.ts
Owners: @alantreadway

AG-12731 - Fix large examples layout bug on smaller screens (#2444)
  packages/ag-charts-website/src/features/example-runner/components/ExampleRunnerContainer.astro
Owners: @taktran

AG-12640 Scroller updates
  packages/ag-charts-website/public/images/scroller-10.png
  packages/ag-charts-website/public/images/scroller-11.png
  packages/ag-charts-website/public/images/scroller-12.png
  packages/ag-charts-website/public/images/scroller-9.png
  packages/ag-charts-website/src/features/homepage/components/hero/ImageCarousel.scss
  packages/ag-charts-website/src/features/homepage/components/hero/ImageCarousel.tsx
Owners: @ag-grid/ag-charts-team, @markdurrant

AG-12437 - Update default label styling
  external/ag-website-shared/src/components/reference-documentation/ApiReference.module.scss
  packages/ag-charts-website/src/features/api-documentation/components/Properties.tsx
Owners: @markdurrant, @ag-grid/ag-charts-team

AG-12437 - Fix required/prop name alignment issues
  external/ag-website-shared/src/components/reference-documentation/ApiReference.module.scss
  packages/ag-charts-website/src/features/api-documentation/components/Properties.tsx
Owners: @markdurrant, @ag-grid/ag-charts-team

AG-12437 - Update API type label colours
  external/ag-website-shared/src/components/reference-documentation/ApiReference.module.scss
  external/ag-website-shared/src/design-system/_root.scss
Owners: @markdurrant

Ag 12640 hero animation (#2446)
  packages/ag-charts-website/public/images/scroller-10.png
  packages/ag-charts-website/public/images/scroller-11.png
  packages/ag-charts-website/public/images/scroller-12.png
  packages/ag-charts-website/public/images/scroller-9.png
  packages/ag-charts-website/src/features/homepage/components/hero/ImageCarousel.scss
  packages/ag-charts-website/src/features/homepage/components/hero/ImageCarousel.tsx
Owners: @ag-grid/ag-charts-team, @markdurrant

AG-12498 Fix history and defaults for settings dialog changes
  packages/ag-charts-enterprise/src/components/dialog/dialog.ts
  packages/ag-charts-enterprise/src/features/annotations/annotationDefaults.ts
  packages/ag-charts-enterprise/src/features/annotations/annotations.ts
  packages/ag-charts-enterprise/src/features/annotations/annotationsStateMachine.ts
  packages/ag-charts-enterprise/src/features/annotations/settings-dialog/settingsDialog.ts
Owners: @alantreadway

AG-12498 Fix select input font size
  packages/ag-charts-community/src/dom/elements.css
Owners: @alantreadway

AG-12712 Fix flicker when mounting segments in radial gauge
  packages/ag-charts-community/src/chart/axis/axisUtil.ts
  packages/ag-charts-community/src/motion/fromToMotion.ts
  packages/ag-charts-enterprise/src/series/linear-gauge/linearGaugeSeries.ts
  packages/ag-charts-enterprise/src/series/radial-gauge/radialGaugeSeries.ts
  packages/ag-charts-enterprise/src/series/radial-gauge/radialGaugeUtil.ts
Owners: @alantreadway

Lint
  packages/ag-charts-community/src/motion/fromToMotion.ts
Owners: @alantreadway

Fix cross filtering for scatter, bubble series
  packages/ag-charts-community/src/chart/series/cartesian/bubbleSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/scatterSeries.ts
Owners: @alantreadway

lint
  packages/ag-charts-enterprise/src/series/radial-gauge/radialGaugeUtil.ts
Owners: @alantreadway

AG-12498 Fix settings dialog color picker escape handling
  packages/ag-charts-enterprise/src/components/popover/popover.ts
  packages/ag-charts-enterprise/src/features/annotations/annotations.ts
  packages/ag-charts-enterprise/src/features/annotations/annotationsStateMachine.ts
  packages/ag-charts-enterprise/src/features/annotations/annotationsSuperTypes.ts
  packages/ag-charts-enterprise/src/features/color-picker/colorPicker.ts
Owners: @alantreadway

AG-12728 Rename margin -> spacing in radial gauge, remove label props from linear gauge
  packages/ag-charts-community/src/api/preset/gauge.ts
  packages/ag-charts-enterprise/src/series/radial-gauge/radialGaugeSeries.ts
  packages/ag-charts-enterprise/src/series/radial-gauge/radialGaugeSeriesProperties.ts
  packages/ag-charts-types/src/presets/gauge/linearGaugeOptions.ts
  packages/ag-charts-types/src/presets/gauge/radialGaugeOptions.ts
Owners: @alantreadway, @ag-grid/ag-charts-team

Remove "Series" from gauge docs
  packages/ag-charts-types/src/presets/gauge/linearGaugeOptions.ts
  packages/ag-charts-types/src/presets/gauge/radialGaugeOptions.ts
Owners: @ag-grid/ag-charts-team

AG-12437 - Fix child prop names layout bug, improve prop name link styling
  external/ag-website-shared/src/components/reference-documentation/ApiReference.module.scss
Owners: @markdurrant

Ag 12437 api table updates (#2447)
  external/ag-website-shared/src/components/reference-documentation/ApiReference.module.scss
  external/ag-website-shared/src/design-system/_root.scss
  packages/ag-charts-website/src/features/api-documentation/components/Properties.tsx
Owners: @markdurrant, @ag-grid/ag-charts-team

Remove labels from linear gauge docs
  packages/ag-charts-website/src/content/docs/linear-gauge/_examples/labels/main.ts
  packages/ag-charts-website/src/content/docs/linear-gauge/index.mdoc
Owners: @ag-grid/ag-charts-team, @rmc-software

AG-NONE Partially revert computeSVGDataPath for arcs
  packages/ag-charts-community/src/scene/extendedPath2D.ts
Owners: @alantreadway

Docs updates
  packages/ag-charts-types/src/presets/gauge/commonOptions.ts
  packages/ag-charts-types/src/presets/gauge/linearGaugeOptions.ts
  packages/ag-charts-types/src/presets/gauge/radialGaugeOptions.ts
Owners: @ag-grid/ag-charts-team

AG-12556 - Fix imports
  packages/ag-charts-website/src/pages/index.astro
Owners: @taktran
