Repository ag-grid/ag-charts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ag-grid/ag-charts-team, @markdurrant, @taktran, @alantreadway, @rmc-software

.github/CODEOWNERS:

# NOTE: Order of entries matters - later entries have higher precedence.

# Attribute code-owners so default reviewers are assigned to PRs.
* @ag-grid/ag-charts-team

# Astro + website changes to be reviewed by website team.
*.scss @markdurrant
*.astro @taktran
/packages/ag-charts-website/astro/** @taktran
/packages/ag-charts-website/components/** @taktran
/packages/ag-charts-website/features/** @taktran
/packages/ag-charts-website/layouts/** @taktran
/packages/ag-charts-website/stores/** @taktran
/packages/ag-charts-website/utils/** @taktran

# Docs updates to be reviewed by Eng VP.
/packages/ag-charts-website/content/** @alantreadway @rmc-software
*.mdoc @rmc-software

# Charts library code to be reviewed by Chart TL.
/packages/ag-charts-community/** @alantreadway
/packages/ag-charts-enterprise/** @alantreadway

# Sensitive build/repo files to be reviewed by Chart TL.
**/package.json @alantreadway
nx.json @alantreadway
**/project.json @alantreadway
**/tsconfig.json @alantreadway
**/tsconfig.*.json @alantreadway

CRT-530 Fix drag callout end handle relative to mouse pointer
  packages/ag-charts-enterprise/src/features/annotations/scenes/startEndScene.ts
Owners: @alantreadway

CRT-548 Only consider cartesian axes for region manager
  packages/ag-charts-community/src/chart/axis/axis.ts
  packages/ag-charts-community/src/chart/axis/cartesianAxis.ts
  packages/ag-charts-community/src/chart/chart.ts
  packages/ag-charts-community/src/chart/chartAxis.ts
Owners: @alantreadway

CRT-558 Ensure display: none is set when legend is hidden
  packages/ag-charts-community/src/chart/legend.ts
  packages/ag-charts-community/src/util/attributeUtil.ts
Owners: @alantreadway

CRT-547 - Match AreaSeries missing X/Y value handling for RangeBar.
  packages/ag-charts-enterprise/src/series/range-bar/rangeBarSeries.ts
Owners: @alantreadway

CRT-542 Add formatter for pyramid series stage label
  packages/ag-charts-enterprise/src/series/pyramid/pyramidProperties.ts
  packages/ag-charts-enterprise/src/series/pyramid/pyramidSeries.ts
  packages/ag-charts-types/src/series/standalone/pyramidOptions.ts
Owners: @alantreadway, @ag-grid/ag-charts-team

CRT-545 Radial gauge docs
  packages/ag-charts-types/src/presets/gauge/radialGaugeOptions.ts
Owners: @ag-grid/ag-charts-team

CRT-561 Fix axis button to hide when tab out like crosshairs
  packages/ag-charts-enterprise/src/features/annotations/axisButton.ts
Owners: @alantreadway

CRT-549 Remove clipping from standalone charts
  packages/ag-charts-community/src/chart/standaloneChart.ts
Owners: @alantreadway

Version Bump
  .env
  libraries/ag-charts-test/package.json
  package.json
  packages/ag-charts-angular/package.json
  packages/ag-charts-angular/projects/ag-charts-angular/package.json
  packages/ag-charts-community-examples/package.json
  packages/ag-charts-community/package.json
  packages/ag-charts-community/src/version.ts
  packages/ag-charts-enterprise/package.json
  packages/ag-charts-locale/package.json
  packages/ag-charts-react/package.json
  packages/ag-charts-types/package.json
  packages/ag-charts-vue3/package.json
  packages/ag-charts-website/.env.build
  packages/ag-charts-website/.env.build.archive
  packages/ag-charts-website/.env.build.production
  packages/ag-charts-website/.env.build.staging
  packages/ag-charts-website/.env.dev
  packages/ag-charts-website/.env.preview
  packages/ag-charts-website/.env.preview.production
  packages/ag-charts-website/.env.preview.staging
  packages/ag-charts-website/.env.test:e2e
  packages/ag-charts-website/.env.test:e2e.docker
  packages/ag-charts-website/package.json
  plugins/ag-charts-generate-chart-thumbnail/package.json
  plugins/ag-charts-generate-code-reference-files/package.json
  plugins/ag-charts-generate-example-files/package.json
Owners: @ag-grid/ag-charts-team, @alantreadway

CRT-535 Remove extendStart & extendEnd from measurer options
  packages/ag-charts-types/src/chart/annotationsOptions.ts
Owners: @ag-grid/ag-charts-team

CRT-547 - Rollback AreaSeries missing X value handling for RangeBar.
  packages/ag-charts-enterprise/src/series/range-bar/rangeBarSeries.ts
Owners: @alantreadway

CRT-557 - Disable thumbnail gradient legend.
  plugins/ag-charts-generate-chart-thumbnail/src/executors/generate/generator/patchOptions.ts
Owners: @ag-grid/ag-charts-team

CRT-529 - Fix zoom pan not working when an annotation is selected
  packages/ag-charts-enterprise/src/features/annotations/annotationsStateMachine.ts
Owners: @alantreadway

CRT-555 - Remove axis theme overrides from funnel examples
  packages/ag-charts-website/src/content/gallery/_examples/customised-funnel/main.ts
  packages/ag-charts-website/src/content/gallery/_examples/simple-cone-funnel/main.ts
Owners: @ag-grid/ag-charts-team

CRT-555 - Use theme overrides for linear gauge target styles
  packages/ag-charts-website/src/content/gallery/_examples/simple-linear-gauge/main.ts
Owners: @ag-grid/ag-charts-team

CRT-562 Change axis button to not be keyboard focusable
  packages/ag-charts-enterprise/src/features/annotations/axisButton.ts
Owners: @alantreadway

CRT-555 - Update linear gauge example
  packages/ag-charts-website/src/content/gallery/_examples/simple-linear-gauge/main.ts
Owners: @ag-grid/ag-charts-team

CRT-544 - Fix Polar Series key-nav context menu.
  packages/ag-charts-community/src/chart/series/seriesAreaManager.ts
Owners: @alantreadway

CRT-528 Do not call preventDefault on navigator sliders
  packages/ag-charts-community/src/chart/navigator/navigator.ts
Owners: @alantreadway

CRT-528 Initialise slider values
  packages/ag-charts-community/src/chart/navigator/navigator.ts
Owners: @alantreadway

Fix faulty import
  packages/ag-charts-community/src/chart/legend.ts
  packages/ag-charts-community/src/chart/navigator/navigator.ts
Owners: @alantreadway

CRT-555 - Update pyramid example
  packages/ag-charts-website/src/content/gallery/_examples/simple-pyramid/data.ts
  packages/ag-charts-website/src/content/gallery/_examples/simple-pyramid/main.ts
Owners: @ag-grid/ag-charts-team

CRT-536 Add both keynav orientations to the legend
  packages/ag-charts-community/src/chart/legend.ts
Owners: @alantreadway

CRT-543 Set hoverDevice to 'mouse' on 'hover' events
  packages/ag-charts-community/src/chart/series/seriesAreaManager.ts
Owners: @alantreadway

Version Bump
  .env
  libraries/ag-charts-test/package.json
  package.json
  packages/ag-charts-angular/package.json
  packages/ag-charts-angular/projects/ag-charts-angular/package.json
  packages/ag-charts-community-examples/package.json
  packages/ag-charts-community/package.json
  packages/ag-charts-community/src/version.ts
  packages/ag-charts-enterprise/package.json
  packages/ag-charts-locale/package.json
  packages/ag-charts-react/package.json
  packages/ag-charts-types/package.json
  packages/ag-charts-vue3/package.json
  packages/ag-charts-website/.env.build
  packages/ag-charts-website/.env.build.archive
  packages/ag-charts-website/.env.build.production
  packages/ag-charts-website/.env.build.staging
  packages/ag-charts-website/.env.dev
  packages/ag-charts-website/.env.preview
  packages/ag-charts-website/.env.preview.production
  packages/ag-charts-website/.env.preview.staging
  packages/ag-charts-website/.env.test:e2e
  packages/ag-charts-website/.env.test:e2e.docker
  packages/ag-charts-website/package.json
  plugins/ag-charts-generate-chart-thumbnail/package.json
  plugins/ag-charts-generate-code-reference-files/package.json
  plugins/ag-charts-generate-example-files/package.json
Owners: @ag-grid/ag-charts-team, @alantreadway

CRT-531 Give all legend <buttons> the same CSS height
  packages/ag-charts-community/src/chart/legend.ts
Owners: @alantreadway

CRT-545 Fix radius types
  packages/ag-charts-types/src/presets/gauge/radialGaugeOptions.ts
Owners: @ag-grid/ag-charts-team

CRT-528 - Fix navigator reference during thumbnail rendering.
  packages/ag-charts-community/src/util/number.ts
Owners: @alantreadway

AG-3390 - Fix clicking of homepage automated example
  external/ag-website-shared/src/components/automated-examples/examples/integrated-charts/createScript.ts
  external/ag-website-shared/src/components/automated-examples/lib/agElements/agElementsConfig.ts
  external/ag-website-shared/src/components/automated-examples/lib/constants.ts
Owners: @ag-grid/ag-charts-team

CRT-555 - Update bullet example
  packages/ag-charts-website/src/content/gallery/_examples/simple-bullet/main.ts
Owners: @ag-grid/ag-charts-team

CRT-555 - Update bullet example
  packages/ag-charts-website/src/content/gallery/_examples/simple-bullet/main.ts
Owners: @ag-grid/ag-charts-team

Version Bump
  .env
  libraries/ag-charts-test/package.json
  package.json
  packages/ag-charts-angular/package.json
  packages/ag-charts-angular/projects/ag-charts-angular/package.json
  packages/ag-charts-community-examples/package.json
  packages/ag-charts-community/package.json
  packages/ag-charts-community/src/version.ts
  packages/ag-charts-enterprise/package.json
  packages/ag-charts-locale/package.json
  packages/ag-charts-react/package.json
  packages/ag-charts-types/package.json
  packages/ag-charts-vue3/package.json
  packages/ag-charts-website/.env.build
  packages/ag-charts-website/.env.build.archive
  packages/ag-charts-website/.env.build.production
  packages/ag-charts-website/.env.build.staging
  packages/ag-charts-website/.env.dev
  packages/ag-charts-website/.env.preview
  packages/ag-charts-website/.env.preview.production
  packages/ag-charts-website/.env.preview.staging
  packages/ag-charts-website/.env.test:e2e
  packages/ag-charts-website/.env.test:e2e.docker
  packages/ag-charts-website/package.json
  plugins/ag-charts-generate-chart-thumbnail/package.json
  plugins/ag-charts-generate-code-reference-files/package.json
  plugins/ag-charts-generate-example-files/package.json
Owners: @ag-grid/ag-charts-team, @alantreadway

Version Bump
  .env
  libraries/ag-charts-test/package.json
  package.json
  packages/ag-charts-angular/package.json
  packages/ag-charts-angular/projects/ag-charts-angular/package.json
  packages/ag-charts-community-examples/package.json
  packages/ag-charts-community/package.json
  packages/ag-charts-community/src/version.ts
  packages/ag-charts-enterprise/package.json
  packages/ag-charts-locale/package.json
  packages/ag-charts-react/package.json
  packages/ag-charts-types/package.json
  packages/ag-charts-vue3/package.json
  packages/ag-charts-website/.env.build
  packages/ag-charts-website/.env.build.archive
  packages/ag-charts-website/.env.build.production
  packages/ag-charts-website/.env.build.staging
  packages/ag-charts-website/.env.dev
  packages/ag-charts-website/.env.preview
  packages/ag-charts-website/.env.preview.production
  packages/ag-charts-website/.env.preview.staging
  packages/ag-charts-website/.env.test:e2e
  packages/ag-charts-website/.env.test:e2e.docker
  packages/ag-charts-website/package.json
  plugins/ag-charts-generate-chart-thumbnail/package.json
  plugins/ag-charts-generate-code-reference-files/package.json
  plugins/ag-charts-generate-example-files/package.json
Owners: @ag-grid/ag-charts-team, @alantreadway

Update benchmarks.
  packages/ag-charts-website/src/content/docs/benchmarks/_examples/summary/data.ts
Owners: @ag-grid/ag-charts-team

BRANCH prep for 10.3.0-beta.20241021
  .env
  libraries/ag-charts-test/package.json
  package.json
  packages/ag-charts-angular/package.json
  packages/ag-charts-angular/projects/ag-charts-angular/package.json
  packages/ag-charts-community-examples/package.json
  packages/ag-charts-community/package.json
  packages/ag-charts-community/src/version.ts
  packages/ag-charts-enterprise/package.json
  packages/ag-charts-enterprise/src/license/licenseManager.ts
  packages/ag-charts-locale/package.json
  packages/ag-charts-react/package.json
  packages/ag-charts-types/package.json
  packages/ag-charts-vue3/package.json
  packages/ag-charts-website/.env.build
  packages/ag-charts-website/.env.build.archive
  packages/ag-charts-website/.env.build.production
  packages/ag-charts-website/.env.build.staging
  packages/ag-charts-website/.env.dev
  packages/ag-charts-website/.env.preview
  packages/ag-charts-website/.env.preview.production
  packages/ag-charts-website/.env.preview.staging
  packages/ag-charts-website/.env.test:e2e
  packages/ag-charts-website/.env.test:e2e.docker
  packages/ag-charts-website/package.json
  plugins/ag-charts-generate-chart-thumbnail/package.json
  plugins/ag-charts-generate-code-reference-files/package.json
  plugins/ag-charts-generate-example-files/package.json
Owners: @ag-grid/ag-charts-team, @alantreadway

CRT-538 Fix annotations copy & paste to ignore ephemeral annotations
  packages/ag-charts-enterprise/src/features/annotations/annotationsStateMachine.ts
Owners: @alantreadway

CRT-559 Change text to use dragStart to ensure new mouse action
  packages/ag-charts-enterprise/src/features/annotations/annotations.ts
  packages/ag-charts-enterprise/src/features/annotations/states/textualPointState.ts
  packages/ag-charts-enterprise/src/features/annotations/states/textualStartEndState.ts
Owners: @alantreadway

Version Bump
  .env
  libraries/ag-charts-test/package.json
  package.json
  packages/ag-charts-angular/package.json
  packages/ag-charts-angular/projects/ag-charts-angular/package.json
  packages/ag-charts-community-examples/package.json
  packages/ag-charts-community/package.json
  packages/ag-charts-community/src/version.ts
  packages/ag-charts-enterprise/package.json
  packages/ag-charts-locale/package.json
  packages/ag-charts-react/package.json
  packages/ag-charts-types/package.json
  packages/ag-charts-vue3/package.json
  packages/ag-charts-website/.env.build
  packages/ag-charts-website/.env.build.archive
  packages/ag-charts-website/.env.build.production
  packages/ag-charts-website/.env.build.staging
  packages/ag-charts-website/.env.dev
  packages/ag-charts-website/.env.preview
  packages/ag-charts-website/.env.preview.production
  packages/ag-charts-website/.env.preview.staging
  packages/ag-charts-website/.env.test:e2e
  packages/ag-charts-website/.env.test:e2e.docker
  packages/ag-charts-website/package.json
  plugins/ag-charts-generate-chart-thumbnail/package.json
  plugins/ag-charts-generate-code-reference-files/package.json
  plugins/ag-charts-generate-example-files/package.json
Owners: @ag-grid/ag-charts-team, @alantreadway

CRT-537 Remove ephemeral annotations from create & delete history
  packages/ag-charts-enterprise/src/features/annotations/annotationsStateMachine.ts
  packages/ag-charts-enterprise/src/features/annotations/measurer/measurerState.ts
Owners: @alantreadway

Remove leading zero from timestamp
  tools/calculate-next-version.js
Owners: @ag-grid/ag-charts-team
