Repository ag-grid/ag-charts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ag-grid/ag-charts-team, @markdurrant, @taktran, @alantreadway, @rmc-software

Move showSeriesStroke default value to the chart-theme
  packages/ag-charts-community/src/chart/legend.ts
  packages/ag-charts-community/src/chart/themes/chartTheme.ts
Owners: @alantreadway

Fix e2e Slack message change history.
  .github/workflows/e2e.yml
Owners: @ag-grid/ag-charts-team

Temporary disable automated e2e test execution.
  .github/workflows/ci.yml
Owners: @ag-grid/ag-charts-team

Automated package version bump to 9.3.1-beta.20240620.
  .env
  libraries/ag-charts-test/package.json
  package.json
  packages/ag-charts-angular/package.json
  packages/ag-charts-angular/projects/ag-charts-angular/package.json
  packages/ag-charts-community-examples/package.json
  packages/ag-charts-community/package.json
  packages/ag-charts-community/src/version.ts
  packages/ag-charts-enterprise/package.json
  packages/ag-charts-locale/package.json
  packages/ag-charts-react/package.json
  packages/ag-charts-types/package.json
  packages/ag-charts-vue3/package.json
  packages/ag-charts-website/.env.build
  packages/ag-charts-website/.env.build.archive
  packages/ag-charts-website/.env.build.production
  packages/ag-charts-website/.env.build.staging
  packages/ag-charts-website/.env.dev
  packages/ag-charts-website/.env.preview
  packages/ag-charts-website/.env.preview.production
  packages/ag-charts-website/.env.preview.staging
  packages/ag-charts-website/package.json
  plugins/ag-charts-generate-chart-thumbnail/package.json
  plugins/ag-charts-generate-code-reference-files/package.json
  plugins/ag-charts-generate-example-files/package.json
Owners: @ag-grid/ag-charts-team, @alantreadway

AG-10318 - Fix packaging + checks for ag-charts-locale.
  packages/ag-charts-locale/LICENSE.txt
  packages/ag-charts-locale/README.md
  tools/readme/sync-readme.js
  tools/sanity-check-package.js
Owners: @ag-grid/ag-charts-team

Add nx pack:verify to CI tests.
  .github/workflows/ci.yml
Owners: @ag-grid/ag-charts-team

update snapshot
  packages/ag-charts-community/src/module/__snapshots__/optionsModule.test.ts.snap
Owners: @alantreadway

AG-11686 Update toolbar small button size
  packages/ag-charts-community/src/styles/styles.css
Owners: @alantreadway

Update statusbar positioning
  packages/ag-charts-community/src/chart/toolbar/toolbar.ts
  packages/ag-charts-enterprise/src/features/status-bar/main.ts
  packages/ag-charts-enterprise/src/features/status-bar/statusBar.ts
  packages/ag-charts-enterprise/src/features/status-bar/statusBarModule.ts
Owners: @alantreadway

AG-11686 Add toolbar floating detection range back in
  packages/ag-charts-community/src/chart/toolbar/toolbar.ts
Owners: @alantreadway

Fix tests
  packages/ag-charts-community/src/chart/factory/expectedEnterpriseModules.ts
Owners: @alantreadway

Fix tests
  packages/ag-charts-enterprise/src/features/status-bar/statusBar.ts
Owners: @alantreadway

AG-11917 AG-11899 Set pointer-events: none on overlay
  packages/ag-charts-community/src/chart/dom/domManager.ts
Owners: @alantreadway

AG-11932 Include boxplot whiskers in focus indicator
  packages/ag-charts-enterprise/src/series/box-plot/boxPlotSeries.ts
Owners: @alantreadway

AG-11527 - Cleanup Financial Charts Preset types.
  packages/ag-charts-community/src/api/agCharts.ts
  packages/ag-charts-community/src/api/preset/candlestickVolumePreset.ts
  packages/ag-charts-community/src/api/preset/presets.ts
  packages/ag-charts-types/src/api/presetOptions.ts
  packages/ag-charts-types/src/chart/chartBuilderOptions.ts
Owners: @alantreadway, @ag-grid/ag-charts-team

Fix showSeriesStroke toggle behaviour
  packages/ag-charts-community/src/chart/legend.ts
  packages/ag-charts-website/src/content/docs/legend/index.mdoc
Owners: @alantreadway, @rmc-software

cleanup
  packages/ag-charts-community/src/chart/legend.ts
Owners: @alantreadway

update snapshots
  packages/ag-charts-community/benchmarks/__image_snapshots__/multi-series-test-ts-multi-series-benchmark-after-load-1-x-datum-highlight-1-snap.png
  packages/ag-charts-community/benchmarks/__image_snapshots__/multi-series-test-ts-multi-series-benchmark-after-load-1-x-legend-toggle-1-snap.png
  packages/ag-charts-community/benchmarks/__image_snapshots__/multi-series-test-ts-multi-series-benchmark-after-load-10-x-legend-toggle-1-snap.png
  packages/ag-charts-community/benchmarks/__image_snapshots__/multi-series-test-ts-multi-series-benchmark-after-load-15-x-datum-highlight-1-snap.png
  packages/ag-charts-community/benchmarks/__image_snapshots__/multi-series-test-ts-multi-series-benchmark-initial-load-1-snap.png
Owners: @alantreadway

AG-11695: Options API page - annotations.initial array
  packages/ag-charts-website/src/features/api-documentation/apiReferenceHelpers.ts
  packages/ag-charts-website/src/features/api-documentation/components/OptionsNavigation.tsx
  packages/ag-charts-website/src/pages/options/[...memberName]/[type].astro
Owners: @ag-grid/ag-charts-team, @taktran

cleanup
  packages/ag-charts-website/src/features/api-documentation/components/OptionsNavigation.tsx
Owners: @ag-grid/ag-charts-team

AG-11900 Change linear annotations drag to be constrained by axis bounds
  packages/ag-charts-enterprise/src/features/annotations/annotationUtils.ts
  packages/ag-charts-enterprise/src/features/annotations/disjoint-channel/disjointChannelScene.ts
  packages/ag-charts-enterprise/src/features/annotations/parallel-channel/parallelChannelProperties.ts
  packages/ag-charts-enterprise/src/features/annotations/parallel-channel/parallelChannelScene.ts
  packages/ag-charts-enterprise/src/features/annotations/scenes/linearScene.ts
Owners: @alantreadway

fix zIndex + update snapshots
  packages/ag-charts-community/benchmarks/__image_snapshots__/multi-series-test-ts-multi-series-benchmark-after-load-1-x-datum-highlight-1-snap.png
  packages/ag-charts-community/benchmarks/__image_snapshots__/multi-series-test-ts-multi-series-benchmark-after-load-1-x-legend-toggle-1-snap.png
  packages/ag-charts-community/benchmarks/__image_snapshots__/multi-series-test-ts-multi-series-benchmark-after-load-10-x-legend-toggle-1-snap.png
  packages/ag-charts-community/benchmarks/__image_snapshots__/multi-series-test-ts-multi-series-benchmark-after-load-15-x-datum-highlight-1-snap.png
  packages/ag-charts-community/benchmarks/__image_snapshots__/multi-series-test-ts-multi-series-benchmark-initial-load-1-snap.png
  packages/ag-charts-community/src/chart/__image_snapshots__/legend-test-ts-legend-show-series-stroke-combination-1-snap.png
  packages/ag-charts-community/src/chart/__image_snapshots__/legend-test-ts-legend-show-series-stroke-line-length-1-snap.png
  packages/ag-charts-community/src/chart/__image_snapshots__/legend-test-ts-legend-show-series-stroke-line-stroke-width-override-1-snap.png
  packages/ag-charts-community/src/chart/legend.ts
Owners: @alantreadway

AG-11905 Fix toolbar buttons with labels
  packages/ag-charts-community/src/chart/toolbar/toolbarStyles.css
  packages/ag-charts-community/src/styles/styles.css
Owners: @alantreadway

fix marker size
  packages/ag-charts-community/src/chart/legend.ts
Owners: @alantreadway

AG-11527 - Improve API doc rendering for AgFinancialChartOptions.
  packages/ag-charts-community/src/api/preset/candlestickVolumePreset.ts
  packages/ag-charts-types/src/chart/chartBuilderOptions.ts
  packages/ag-charts-website/src/content/docs/financial-charts/index.mdoc
Owners: @alantreadway, @ag-grid/ag-charts-team, @rmc-software

Automated package version bump to 9.3.1-beta.20240620.1329.
  .env
  libraries/ag-charts-test/package.json
  package.json
  packages/ag-charts-angular/package.json
  packages/ag-charts-angular/projects/ag-charts-angular/package.json
  packages/ag-charts-community-examples/package.json
  packages/ag-charts-community/package.json
  packages/ag-charts-community/src/version.ts
  packages/ag-charts-enterprise/package.json
  packages/ag-charts-locale/package.json
  packages/ag-charts-react/package.json
  packages/ag-charts-types/package.json
  packages/ag-charts-vue3/package.json
  packages/ag-charts-website/.env.build
  packages/ag-charts-website/.env.build.archive
  packages/ag-charts-website/.env.build.production
  packages/ag-charts-website/.env.build.staging
  packages/ag-charts-website/.env.dev
  packages/ag-charts-website/.env.preview
  packages/ag-charts-website/.env.preview.production
  packages/ag-charts-website/.env.preview.staging
  packages/ag-charts-website/package.json
  plugins/ag-charts-generate-chart-thumbnail/package.json
  plugins/ag-charts-generate-code-reference-files/package.json
  plugins/ag-charts-generate-example-files/package.json
Owners: @ag-grid/ag-charts-team, @alantreadway

AG-11527 - candlestick-volume preset example improvements.
  packages/ag-charts-community/src/api/preset/candlestickVolumePreset.ts
  packages/ag-charts-website/src/content/docs/financial-charts/_examples/candlestick-volume-combo/main.ts
Owners: @alantreadway, @ag-grid/ag-charts-team

fix itemStylers params
  packages/ag-charts-community/src/chart/series/cartesian/barSeries.ts
  packages/ag-charts-community/src/chart/series/polar/donutSeries.ts
  packages/ag-charts-community/src/chart/series/polar/pieSeries.ts
  packages/ag-charts-enterprise/src/features/error-bar/errorBarNode.ts
  packages/ag-charts-enterprise/src/series/box-plot/boxPlotSeries.ts
Owners: @alantreadway

AG-11920 Fix colour picker issues
  packages/ag-charts-community/src/chart/dom/domManager.ts
  packages/ag-charts-community/src/chart/interaction/interactionManager.ts
  packages/ag-charts-enterprise/src/features/color-picker/colorPicker.ts
  packages/ag-charts-enterprise/src/features/color-picker/colorPickerStyles.css
  packages/ag-charts-enterprise/src/features/color-picker/colorPickerTemplate.html
Owners: @alantreadway

Fix pointer events
  packages/ag-charts-community/src/chart/dom/domManager.ts
  packages/ag-charts-enterprise/src/features/color-picker/colorPicker.ts
Owners: @alantreadway

AG-11897 Fix toolbar alignment to series rect
  packages/ag-charts-community/src/chart/toolbar/toolbar.ts
  packages/ag-charts-community/src/chart/toolbar/toolbarStyles.css
  packages/ag-charts-community/src/styles/styles.css
Owners: @alantreadway

cr changes
  packages/ag-charts-website/src/features/api-documentation/apiReferenceHelpers.ts
  packages/ag-charts-website/src/features/api-documentation/components/ApiReferencePage.tsx
  packages/ag-charts-website/src/features/api-documentation/components/OptionsNavigation.tsx
Owners: @ag-grid/ag-charts-team

AG-11136 - Change annotation types to `horizontal-line` and `vertical-line`
  packages/ag-charts-enterprise/src/features/annotations/annotationProperties.ts
  packages/ag-charts-enterprise/src/features/annotations/annotationTypes.ts
  packages/ag-charts-enterprise/src/features/annotations/annotationUtils.ts
  packages/ag-charts-enterprise/src/features/annotations/annotations.ts
  packages/ag-charts-enterprise/src/features/annotations/annotationsModule.ts
  packages/ag-charts-enterprise/src/features/annotations/cross-line/crossLineProperties.ts
  packages/ag-charts-enterprise/src/features/annotations/cross-line/crossLineScene.ts
  packages/ag-charts-enterprise/src/features/annotations/cross-line/crossLineState.ts
Owners: @alantreadway

AG-11136 - Update API reference
  packages/ag-charts-types/src/chart/annotationsOptions.ts
  packages/ag-charts-types/src/series/cartesian/commonOptions.ts
Owners: @ag-grid/ag-charts-team

AG-11136 - clean up
  packages/ag-charts-enterprise/src/features/annotations/cross-line/crossLineScene.ts
Owners: @alantreadway

AG-11136 - Update tests
  packages/ag-charts-enterprise/src/features/annotations/annotations.test.ts
Owners: @alantreadway

AG-11398 Add zoom independent axes option
  packages/ag-charts-enterprise/src/features/zoom/zoom.ts
  packages/ag-charts-enterprise/src/features/zoom/zoomModule.ts
  packages/ag-charts-enterprise/src/features/zoom/zoomScroller.ts
  packages/ag-charts-enterprise/src/features/zoom/zoomToolbar.ts
  packages/ag-charts-enterprise/src/features/zoom/zoomTypes.ts
  packages/ag-charts-enterprise/src/features/zoom/zoomUtils.ts
  packages/ag-charts-types/src/chart/zoomOptions.ts
Owners: @alantreadway, @ag-grid/ag-charts-team

AG-11136 - Fix circular dependency
  packages/ag-charts-enterprise/src/features/annotations/annotationUtils.ts
  packages/ag-charts-enterprise/src/features/annotations/cross-line/crossLineProperties.ts
Owners: @alantreadway

AG-11945 - Fix incorrect stroke order for vivid-dark theme
  packages/ag-charts-community/src/chart/themes/vividDark.ts
Owners: @alantreadway

Improve robustness of e2e test cache usage.
  .github/workflows/ci.yml
  .github/workflows/e2e.yml
Owners: @ag-grid/ag-charts-team

.github/CODEOWNERS:

# NOTE: Order of entries matters - later entries have higher precedence.

# Attribute code-owners so default reviewers are assigned to PRs.
* @ag-grid/ag-charts-team

# Astro + website changes to be reviewed by website team.
*.scss @markdurrant
*.astro @taktran
/packages/ag-charts-website/astro/** @taktran
/packages/ag-charts-website/components/** @taktran
/packages/ag-charts-website/features/** @taktran
/packages/ag-charts-website/layouts/** @taktran
/packages/ag-charts-website/stores/** @taktran
/packages/ag-charts-website/utils/** @taktran

# Docs updates to be reviewed by Eng VP.
/packages/ag-charts-website/content/** @alantreadway @rmc-software
*.mdoc @rmc-software

# Charts library code to be reviewed by Chart TL.
/packages/ag-charts-community/** @alantreadway
/packages/ag-charts-enterprise/** @alantreadway

# Sensitive build/repo files to be reviewed by Chart TL.
**/package.json @alantreadway
nx.json @alantreadway
**/project.json @alantreadway
**/tsconfig.json @alantreadway
**/tsconfig.*.json @alantreadway
