Repository ag-grid/ag-charts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ag-grid/ag-charts-team, @markdurrant, @taktran, @alantreadway, @rmc-software

AG-10755 - Remove unused import
  packages/ag-charts-community/src/options/series/cartesian/candlestickOptions.ts
Owners: @alantreadway

AG-10900 Fix context menu 'zoom to here' action and add tests
  packages/ag-charts-community/src/chart/test/utils.ts
  packages/ag-charts-enterprise/src/features/__snapshots__/features.test.ts.snap
  packages/ag-charts-enterprise/src/features/context-menu/__snapshots__/contextMenu.test.ts.snap
  packages/ag-charts-enterprise/src/features/context-menu/contextMenu.test.ts
  packages/ag-charts-enterprise/src/features/features.test.ts
  packages/ag-charts-enterprise/src/features/zoom/zoom.ts
Owners: @alantreadway

AG-10217 - Allow time stamps as well as date objects
  packages/ag-charts-community/src/scale/ordinalTimeScale.ts
  packages/ag-charts-enterprise/src/axes/ordinal/ordinalTimeAxis.ts
Owners: @alantreadway

Merge b9.1.1 license manager changes back to latest.
  packages/ag-charts-enterprise/src/license/licenseManager.ts
Owners: @alantreadway

Add missing .npmignore entries.
  packages/ag-charts-community/.npmignore
  packages/ag-charts-enterprise/.npmignore
Owners: @alantreadway

Bump to version 9.1.1 to match release version.
  .env
  libraries/ag-charts-test/package.json
  package.json
  packages/ag-charts-angular/package.json
  packages/ag-charts-angular/projects/ag-charts-angular/package.json
  packages/ag-charts-community-examples/package.json
  packages/ag-charts-community/package.json
  packages/ag-charts-community/src/version.ts
  packages/ag-charts-enterprise/package.json
  packages/ag-charts-react/package.json
  packages/ag-charts-vue/package.json
  packages/ag-charts-vue3/package.json
  packages/ag-charts-website/.env.build
  packages/ag-charts-website/.env.build.archive
  packages/ag-charts-website/.env.build.production
  packages/ag-charts-website/.env.build.staging
  packages/ag-charts-website/.env.dev
  packages/ag-charts-website/.env.preview
  packages/ag-charts-website/.env.preview.production
  packages/ag-charts-website/.env.preview.staging
  packages/ag-charts-website/package.json
  plugins/ag-charts-generate-chart-thumbnail/package.json
  plugins/ag-charts-generate-code-reference-files/package.json
  plugins/ag-charts-generate-example-files/package.json
Owners: @ag-grid/ag-charts-team, @alantreadway

Update packages/ag-charts-enterprise/tsconfig.lib.json
  packages/ag-charts-enterprise/tsconfig.lib.json
Owners: @alantreadway

AG-10853 Migrate axis.ts to use RegionManager
  packages/ag-charts-community/src/chart/axis/axis.ts
Owners: @alantreadway

AG-10853 Migrate caption.ts to use RegionManager
  packages/ag-charts-community/src/chart/caption.ts
  packages/ag-charts-community/src/chart/chart.ts
  packages/ag-charts-community/src/chart/interaction/regionManager.ts
Owners: @alantreadway

Add missing Nx dependency.
  packages/ag-charts-enterprise/project.json
Owners: @alantreadway

Update zoom scrolling and panning speed to be faster
  packages/ag-charts-enterprise/src/features/zoom/zoomScrollPanner.ts
  packages/ag-charts-enterprise/src/features/zoom/zoomScroller.ts
Owners: @alantreadway

Revert "Update zoom scrolling and panning speed to be faster"
  packages/ag-charts-enterprise/src/features/zoom/zoomScrollPanner.ts
  packages/ag-charts-enterprise/src/features/zoom/zoomScroller.ts
Owners: @alantreadway

AG-10782 Fix range buttons to extend from end of domain not now
  packages/ag-charts-enterprise/src/features/range-buttons/rangeTypes.ts
  packages/ag-charts-enterprise/src/features/zoom/zoom.ts
  packages/ag-charts-enterprise/src/features/zoom/zoomRange.ts
Owners: @alantreadway

Fix DPI scaling in Safari
  packages/ag-charts-community/src/scene/canvas/hdpiCanvas.ts
  packages/ag-charts-community/src/scene/canvas/hdpiOffscreenCanvas.ts
Owners: @alantreadway

AG-10782 Fix zoom range buttons not triggering update after nav
  packages/ag-charts-enterprise/src/features/zoom/zoomRange.ts
Owners: @alantreadway

Navigator interaction optimisations
  packages/ag-charts-community/src/chart/chart.ts
  packages/ag-charts-community/src/scene/shape/text.ts
  packages/ag-charts-community/src/util/memo.ts
Owners: @alantreadway

misc cleanups + remove splitText trim
  packages/ag-charts-community/src/chart/axis/logAxis.ts
  packages/ag-charts-community/src/chart/series/cartesian/cartesianSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/lineUtil.ts
  packages/ag-charts-community/src/chart/series/topology/mapMarkerSeries.ts
  packages/ag-charts-community/src/scene/shape/text.ts
Owners: @alantreadway

AG-10217 - disable label autoRotate
  packages/ag-charts-enterprise/src/axes/ordinal/ordinalTimeAxisThemes.ts
Owners: @alantreadway

AG-10217 - Make invalid property consistent across different scales
  packages/ag-charts-community/src/scale/colorScale.ts
  packages/ag-charts-community/src/scale/continuousScale.ts
Owners: @alantreadway

Re-enable CI batch builds to improve speed.
  .github/workflows/ci.yml
Owners: @ag-grid/ag-charts-team

AG-10923 Fix regression where clicks reset the zoom
  packages/ag-charts-enterprise/src/features/zoom/zoom.ts
  packages/ag-charts-enterprise/src/features/zoom/zoomSelector.ts
Owners: @alantreadway

Topology updates
  packages/ag-charts-community/src/chart/label.ts
  packages/ag-charts-community/src/chart/marker/map-pin.ts
  packages/ag-charts-community/src/chart/marker/marker.ts
  packages/ag-charts-community/src/chart/marker/star.ts
  packages/ag-charts-community/src/chart/marker/util.ts
  packages/ag-charts-community/src/chart/series/cartesian/areaUtil.ts
  packages/ag-charts-community/src/chart/series/cartesian/barSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/bubbleSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/bubbleSeriesProperties.ts
  packages/ag-charts-community/src/chart/series/cartesian/histogramSeriesProperties.ts
  packages/ag-charts-community/src/chart/series/cartesian/lineSeriesProperties.ts
  packages/ag-charts-community/src/chart/series/cartesian/scatterSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/scatterSeriesProperties.ts
  packages/ag-charts-community/src/options/chart/types.ts
  packages/ag-charts-community/src/options/series/topology/mapMarkerOptions.ts
  packages/ag-charts-community/src/options/series/topology/mapOptions.ts
  packages/ag-charts-community/src/scene/util/labelPlacement.ts
  packages/ag-charts-community/src/sparklines-util.ts
  packages/ag-charts-community/src/util/validation.ts
  packages/ag-charts-enterprise/src/series/heatmap/heatmapSeries.ts
  packages/ag-charts-enterprise/src/series/map-marker/mapMarkerSeries.ts
  packages/ag-charts-enterprise/src/series/map-marker/mapMarkerSeriesProperties.ts
  packages/ag-charts-enterprise/src/series/map/mapModule.ts
  packages/ag-charts-enterprise/src/series/map/mapSeries.ts
  packages/ag-charts-enterprise/src/series/map/mapSeriesProperties.ts
  packages/ag-charts-website/src/content/docs/map-lines/index.mdoc
  packages/ag-charts-website/src/content/docs/map-markers/index.mdoc
  packages/ag-charts-website/src/content/docs/map-shapes/index.mdoc
Owners: @alantreadway, @rmc-software

Linting
  packages/ag-charts-community/src/chart/legend.ts
  packages/ag-charts-community/src/chart/legendDatum.ts
  packages/ag-charts-community/src/chart/marker/map-pin.ts
  packages/ag-charts-community/src/chart/marker/marker.ts
  packages/ag-charts-community/src/chart/marker/pin.ts
  packages/ag-charts-community/src/chart/marker/star.ts
  packages/ag-charts-community/src/chart/marker/util.ts
  packages/ag-charts-community/src/chart/series/cartesian/bubbleSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/bubbleSeriesProperties.ts
  packages/ag-charts-community/src/chart/series/cartesian/scatterSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/scatterSeriesProperties.ts
  packages/ag-charts-community/src/options/chart/types.ts
  packages/ag-charts-community/src/scene/util/labelPlacement.ts
  packages/ag-charts-enterprise/src/series/map-marker/mapMarkerSeries.ts
  packages/ag-charts-enterprise/src/series/map/mapSeries.ts
Owners: @alantreadway

Fix tests
  packages/ag-charts-community/src/chart/series/polar/donutSeries.ts
  packages/ag-charts-community/src/chart/series/polar/pieSeries.ts
  packages/ag-charts-enterprise/src/series/waterfall/waterfallThemes.ts
Owners: @alantreadway

Snapshots
  packages/ag-charts-community/src/chart/mapping/__snapshots__/prepare.test.ts.snap
  packages/ag-charts-community/src/chart/navigator/__image_snapshots__/navigator-test-ts-navigator-create-for-nav-zoomed-clipped-crosslines-1-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-community/src/chart/navigator/__image_snapshots__/navigator-test-ts-navigator-create-for-nav-zoomed-clipped-crosslines-2-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-community/src/chart/navigator/__image_snapshots__/navigator-test-ts-navigator-create-for-nav-zoomed-crosslines-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-community/src/chart/navigator/__image_snapshots__/navigator-test-ts-navigator-create-for-nav-zoomed-edge-crosslines-1-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-community/src/chart/navigator/__image_snapshots__/navigator-test-ts-navigator-create-for-nav-zoomed-edge-crosslines-2-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-community/src/chart/navigator/__image_snapshots__/navigator-test-ts-navigator-create-for-nav-zoomed-edge-crosslines-3-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-community/src/chart/navigator/__image_snapshots__/navigator-test-ts-navigator-create-for-nav-zoomed-edge-crosslines-4-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-community/src/chart/navigator/__image_snapshots__/navigator-test-ts-navigator-create-for-nav-zoomed-inside-crosslines-1-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-community/src/chart/navigator/__image_snapshots__/navigator-test-ts-navigator-create-for-nav-zoomed-inside-crosslines-2-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-community/src/chart/navigator/__image_snapshots__/navigator-test-ts-navigator-create-for-nav-zoomed-no-crosslines-2-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-community/src/chart/navigator/__image_snapshots__/navigator-test-ts-navigator-create-for-nav-zoomed-no-crosslines-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-community/src/chart/navigator/shapes/rangeMask.ts
  packages/ag-charts-enterprise/src/features/__image_snapshots__/features-test-ts-feature-combinations-navigator-and-zoom-should-init-with-navigator-min-max-1-snap.png
  packages/ag-charts-enterprise/src/features/__image_snapshots__/features-test-ts-feature-combinations-navigator-and-zoom-should-init-with-zoom-min-max-1-snap.png
  packages/ag-charts-enterprise/src/features/__image_snapshots__/features-test-ts-feature-combinations-navigator-and-zoom-should-prioritise-zoom-min-max-over-navigator-min-max-1-snap.png
  packages/ag-charts-enterprise/src/features/__image_snapshots__/features-test-ts-feature-combinations-navigator-and-zoom-should-prioritise-zoom-range-over-navigator-min-max-1-snap.png
  packages/ag-charts-enterprise/src/features/__image_snapshots__/features-test-ts-feature-combinations-navigator-and-zoom-should-zoom-then-navigate-1-snap.png
  packages/ag-charts-enterprise/src/features/__image_snapshots__/features-test-ts-feature-combinations-navigator-and-zoom-should-zoom-then-navigate-2-snap.png
  packages/ag-charts-enterprise/src/features/__image_snapshots__/features-test-ts-feature-combinations-navigator-and-zoom-should-zoom-then-navigate-3-snap.png
  packages/ag-charts-enterprise/src/features/data-source/__image_snapshots__/data-source-test-ts-data-source-should-clip-asynchronous-data-outside-domain-1-snap.png
  packages/ag-charts-enterprise/src/features/data-source/__image_snapshots__/data-source-test-ts-data-source-should-load-data-asynchronously-1-snap.png
  packages/ag-charts-enterprise/src/features/data-source/__image_snapshots__/data-source-test-ts-data-source-with-window-should-change-the-window-after-a-change-in-zoom-1-snap.png
  packages/ag-charts-enterprise/src/features/data-source/__image_snapshots__/data-source-test-ts-data-source-with-window-should-change-the-window-after-a-change-in-zoom-2-snap.png
  packages/ag-charts-enterprise/src/features/data-source/__image_snapshots__/data-source-test-ts-data-source-with-window-should-load-a-window-at-the-end-1-snap.png
  packages/ag-charts-enterprise/src/features/data-source/__image_snapshots__/data-source-test-ts-data-source-with-window-should-load-a-window-in-the-middle-1-snap.png
  packages/ag-charts-enterprise/src/features/navigator/__image_snapshots__/navigator-test-ts-navigator-create-for-line-area-series-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-enterprise/src/features/navigator/__image_snapshots__/navigator-test-ts-navigator-create-for-mini-chart-navigator-handles-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-enterprise/src/features/navigator/__image_snapshots__/navigator-test-ts-navigator-create-for-mini-chart-series-override-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-enterprise/src/features/navigator/__image_snapshots__/navigator-test-ts-navigator-create-for-single-line-series-it-should-render-to-canvas-as-expected-1-snap.png
Owners: @alantreadway

Update snapshots
  packages/ag-charts-enterprise/src/features/navigator/__image_snapshots__/navigator-test-ts-navigator-create-for-line-area-series-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-enterprise/src/features/navigator/__image_snapshots__/navigator-test-ts-navigator-create-for-mini-chart-navigator-handles-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-enterprise/src/features/navigator/__image_snapshots__/navigator-test-ts-navigator-create-for-mini-chart-series-override-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-enterprise/src/features/navigator/__image_snapshots__/navigator-test-ts-navigator-create-for-single-line-series-it-should-render-to-canvas-as-expected-1-snap.png
Owners: @alantreadway

Cleanup + minor optimizations of Text
  packages/ag-charts-community/src/chart/axis/axis.ts
  packages/ag-charts-community/src/scene/shape/text.ts
  packages/ag-charts-community/src/scene/shape/textMeasurer.ts
Owners: @alantreadway

fix lint
  packages/ag-charts-community/src/chart/axis/axis.ts
  packages/ag-charts-community/src/scene/shape/text.ts
  packages/ag-charts-community/src/scene/shape/textMeasurer.ts
Owners: @alantreadway

Fix alignment for navigator on 1x screen
  packages/ag-charts-community/src/chart/navigator/__image_snapshots__/navigator-test-ts-navigator-create-for-nav-zoomed-clipped-crosslines-1-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-community/src/chart/navigator/__image_snapshots__/navigator-test-ts-navigator-create-for-nav-zoomed-clipped-crosslines-2-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-community/src/chart/navigator/__image_snapshots__/navigator-test-ts-navigator-create-for-nav-zoomed-crosslines-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-community/src/chart/navigator/__image_snapshots__/navigator-test-ts-navigator-create-for-nav-zoomed-edge-crosslines-1-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-community/src/chart/navigator/__image_snapshots__/navigator-test-ts-navigator-create-for-nav-zoomed-edge-crosslines-2-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-community/src/chart/navigator/__image_snapshots__/navigator-test-ts-navigator-create-for-nav-zoomed-edge-crosslines-3-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-community/src/chart/navigator/__image_snapshots__/navigator-test-ts-navigator-create-for-nav-zoomed-edge-crosslines-4-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-community/src/chart/navigator/__image_snapshots__/navigator-test-ts-navigator-create-for-nav-zoomed-inside-crosslines-1-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-community/src/chart/navigator/__image_snapshots__/navigator-test-ts-navigator-create-for-nav-zoomed-inside-crosslines-2-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-community/src/chart/navigator/__image_snapshots__/navigator-test-ts-navigator-create-for-nav-zoomed-no-crosslines-2-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-community/src/chart/navigator/__image_snapshots__/navigator-test-ts-navigator-create-for-nav-zoomed-no-crosslines-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-community/src/chart/navigator/navigator.ts
  packages/ag-charts-community/src/chart/navigator/shapes/rangeHandle.ts
  packages/ag-charts-community/src/chart/navigator/shapes/rangeMask.ts
  packages/ag-charts-enterprise/src/features/__image_snapshots__/features-test-ts-feature-combinations-navigator-and-zoom-should-init-with-navigator-min-max-1-snap.png
  packages/ag-charts-enterprise/src/features/__image_snapshots__/features-test-ts-feature-combinations-navigator-and-zoom-should-init-with-zoom-ratio-1-snap.png
  packages/ag-charts-enterprise/src/features/__image_snapshots__/features-test-ts-feature-combinations-navigator-and-zoom-should-prioritise-zoom-range-over-navigator-min-max-1-snap.png
  packages/ag-charts-enterprise/src/features/__image_snapshots__/features-test-ts-feature-combinations-navigator-and-zoom-should-prioritise-zoom-ratio-over-navigator-min-max-1-snap.png
  packages/ag-charts-enterprise/src/features/__image_snapshots__/features-test-ts-feature-combinations-navigator-and-zoom-should-zoom-then-navigate-1-snap.png
  packages/ag-charts-enterprise/src/features/__image_snapshots__/features-test-ts-feature-combinations-navigator-and-zoom-should-zoom-then-navigate-2-snap.png
  packages/ag-charts-enterprise/src/features/__image_snapshots__/features-test-ts-feature-combinations-navigator-and-zoom-should-zoom-then-navigate-3-snap.png
  packages/ag-charts-enterprise/src/features/data-source/__image_snapshots__/data-source-test-ts-data-source-should-clip-asynchronous-data-outside-domain-1-snap.png
  packages/ag-charts-enterprise/src/features/data-source/__image_snapshots__/data-source-test-ts-data-source-should-load-data-asynchronously-1-snap.png
  packages/ag-charts-enterprise/src/features/data-source/__image_snapshots__/data-source-test-ts-data-source-with-window-should-change-the-window-after-a-change-in-zoom-1-snap.png
  packages/ag-charts-enterprise/src/features/data-source/__image_snapshots__/data-source-test-ts-data-source-with-window-should-change-the-window-after-a-change-in-zoom-2-snap.png
  packages/ag-charts-enterprise/src/features/data-source/__image_snapshots__/data-source-test-ts-data-source-with-window-should-load-a-window-at-the-end-1-snap.png
  packages/ag-charts-enterprise/src/features/data-source/__image_snapshots__/data-source-test-ts-data-source-with-window-should-load-a-window-in-the-middle-1-snap.png
  packages/ag-charts-enterprise/src/features/navigator/__image_snapshots__/navigator-test-ts-navigator-create-for-line-area-series-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-enterprise/src/features/navigator/__image_snapshots__/navigator-test-ts-navigator-create-for-mini-chart-navigator-handles-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-enterprise/src/features/navigator/__image_snapshots__/navigator-test-ts-navigator-create-for-mini-chart-series-override-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-enterprise/src/features/navigator/__image_snapshots__/navigator-test-ts-navigator-create-for-single-line-series-it-should-render-to-canvas-as-expected-1-snap.png
Owners: @alantreadway

Allow example, thumbnail generation to happen async with nx dev
  packages/ag-charts-website/src/features/example-generator/index.ts
  packages/ag-charts-website/src/features/example-runner/components/FrameworkTemplate.astro
Owners: @ag-grid/ag-charts-team, @taktran

add className to candlestickSeries
  packages/ag-charts-enterprise/src/series/candlestick/candlestickSeries.ts
Owners: @alantreadway

revert text context lazy load
  packages/ag-charts-community/src/scene/shape/text.ts
Owners: @alantreadway

Fix waterfall cognitive complexity warning
  packages/ag-charts-enterprise/src/series/waterfall/waterfallSeries.ts
Owners: @alantreadway

Improve robustness of nx dev watch process.
  package.json
  packages/all/dev.sh
  packages/all/project.json
  packages/all/watch.sh
  plugins/ag-charts-task-autogen/src/index.ts
Owners: @alantreadway, @ag-grid/ag-charts-team

Add SeriesConstructorOpts type
  packages/ag-charts-community/src/chart/series/cartesian/cartesianSeries.ts
  packages/ag-charts-community/src/chart/series/series.ts
Owners: @alantreadway

Fix batched execution of non-batching targets on CI.
  .github/workflows/ci.yml
  .github/workflows/nx-cloud.yml
  libraries/ag-charts-test/project.json
  packages/ag-charts-community-examples/project.json
  packages/ag-charts-community/project.json
  packages/ag-charts-enterprise/project.json
  packages/ag-charts-react/project.json
  plugins/ag-charts-task-autogen/project.json
Owners: @ag-grid/ag-charts-team, @alantreadway

cleanups
  packages/ag-charts-community/src/chart/axis/axis.ts
  packages/ag-charts-community/src/chart/chart.ts
  packages/ag-charts-community/src/scale/continuousScale.ts
Owners: @alantreadway

AG-10835 Fix waterfall connectors animation to not collapse
  packages/ag-charts-enterprise/src/series/waterfall/waterfallSeries.ts
Owners: @alantreadway

Remove redundant if checks
  packages/ag-charts-community/src/motion/animation.ts
Owners: @alantreadway

Cleanup console output for nx dev watch process.
  packages/all/dev.sh
Owners: @ag-grid/ag-charts-team

.github/CODEOWNERS:

# NOTE: Order of entries matters - later entries have higher precedence.

# Attribute code-owners so default reviewers are assigned to PRs.
* @ag-grid/ag-charts-team

# Astro + website changes to be reviewed by website team.
*.scss @markdurrant
*.astro @taktran
/packages/ag-charts-website/astro/** @taktran
/packages/ag-charts-website/components/** @taktran
/packages/ag-charts-website/features/** @taktran
/packages/ag-charts-website/layouts/** @taktran
/packages/ag-charts-website/stores/** @taktran
/packages/ag-charts-website/utils/** @taktran

# Docs updates to be reviewed by Eng VP.
/packages/ag-charts-website/content/** @alantreadway @rmc-software
*.mdoc @rmc-software

# Charts library code to be reviewed by Chart TL.
/packages/ag-charts-community/** @alantreadway
/packages/ag-charts-enterprise/** @alantreadway

# Sensitive build/repo files to be reviewed by Chart TL.
**/package.json @alantreadway
nx.json @alantreadway
**/project.json @alantreadway
**/tsconfig.json @alantreadway
**/tsconfig.*.json @alantreadway
