Repository ag-grid/ag-charts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ag-grid/ag-charts-team, @markdurrant, @taktran, @alantreadway, @rmc-software

.github/CODEOWNERS:

# NOTE: Order of entries matters - later entries have higher precedence.

# Attribute code-owners so default reviewers are assigned to PRs.
* @ag-grid/ag-charts-team

# Astro + website changes to be reviewed by website team.
*.scss @markdurrant
*.astro @taktran
/packages/ag-charts-website/astro/** @taktran
/packages/ag-charts-website/components/** @taktran
/packages/ag-charts-website/features/** @taktran
/packages/ag-charts-website/layouts/** @taktran
/packages/ag-charts-website/stores/** @taktran
/packages/ag-charts-website/utils/** @taktran

# Docs updates to be reviewed by Eng VP.
/packages/ag-charts-website/content/** @alantreadway @rmc-software
*.mdoc @rmc-software

# Charts library code to be reviewed by Chart TL.
/packages/ag-charts-community/** @alantreadway
/packages/ag-charts-enterprise/** @alantreadway

# Sensitive build/repo files to be reviewed by Chart TL.
**/package.json @alantreadway
nx.json @alantreadway
**/project.json @alantreadway
**/tsconfig.json @alantreadway
**/tsconfig.*.json @alantreadway

AG-9846 - Validate user provided colorRanges
  packages/ag-charts-enterprise/src/series/bullet/bulletSeries.ts
  packages/ag-charts-enterprise/src/series/bullet/bulletSeriesProperties.ts
Owners: @alantreadway

AG-9846 - Update snapshots
  packages/ag-charts-enterprise/src/series/bullet/__image_snapshots__/bullet-series-test-ts-bullet-series-rendering-should-clip-everything-to-scale-max-1-snap.png
  packages/ag-charts-enterprise/src/series/bullet/__image_snapshots__/bullet-series-test-ts-bullet-series-rendering-should-extend-final-color-to-scale-max-1-snap.png
  packages/ag-charts-enterprise/src/series/bullet/__image_snapshots__/bullet-series-test-ts-bullet-series-rendering-should-not-render-crosshair-1-snap.png
  packages/ag-charts-enterprise/src/series/bullet/__image_snapshots__/bullet-series-test-ts-bullet-series-rendering-should-process-first-datum-only-1-snap.png
  packages/ag-charts-enterprise/src/series/bullet/__image_snapshots__/bullet-series-test-ts-bullet-series-rendering-should-render-a-horizontal-bullet-as-expected-1-snap.png
  packages/ag-charts-enterprise/src/series/bullet/__image_snapshots__/bullet-series-test-ts-bullet-series-rendering-should-render-a-vertical-bullet-by-default-1-snap.png
  packages/ag-charts-enterprise/src/series/bullet/__image_snapshots__/bullet-series-test-ts-bullet-series-rendering-should-render-simple-bullet-1-snap.png
  packages/ag-charts-enterprise/src/series/bullet/__image_snapshots__/bullet-series-test-ts-bullet-series-rendering-should-use-explicit-axis-max-1-snap.png
  packages/ag-charts-enterprise/src/series/bullet/__image_snapshots__/bullet-series-test-ts-bullet-series-validation-should-ignore-empty-color-range-arrays-1-snap.png
  packages/ag-charts-enterprise/src/series/bullet/__image_snapshots__/bullet-series-test-ts-bullet-series-validation-should-ignore-other-trailing-series-1-snap.png
  packages/ag-charts-enterprise/src/series/bullet/__image_snapshots__/bullet-series-test-ts-bullet-series-validation-should-ignore-trailing-bullet-series-1-snap.png
  packages/ag-charts-enterprise/src/series/bullet/__image_snapshots__/bullet-series-test-ts-bullet-series-validation-warning-negative-color-range-stop-1-snap.png
  packages/ag-charts-enterprise/src/series/bullet/__image_snapshots__/bullet-series-test-ts-bullet-series-validation-warning-negative-target-1-snap.png
Owners: @alantreadway

AG-10131 Fix dark mode in stock themes example
  packages/ag-charts-website/src/content/docs/themes/_examples/stock-themes/main.ts
  packages/ag-charts-website/src/content/docs/themes/_examples/stock-themes/provided/modules/reactFunctional/index.jsx
  packages/ag-charts-website/src/content/docs/themes/_examples/stock-themes/provided/modules/reactFunctionalTs/index.tsx
Owners: @ag-grid/ag-charts-team

AG-9846 - Simple bullet gallery example
  packages/ag-charts-website/src/content/gallery/_examples/simple-bullet/index.html
  packages/ag-charts-website/src/content/gallery/_examples/simple-bullet/main.ts
Owners: @ag-grid/ag-charts-team

AG-9846 - Horizontal bullet gallery example
  packages/ag-charts-website/src/content/gallery/_examples/horizontal-bullet/index.html
  packages/ag-charts-website/src/content/gallery/_examples/horizontal-bullet/main.ts
Owners: @ag-grid/ag-charts-team

AG-9846 - Reversed bullet gallery example
  packages/ag-charts-website/src/content/gallery/_examples/reversed-bullet/index.html
  packages/ag-charts-website/src/content/gallery/_examples/reversed-bullet/main.ts
Owners: @ag-grid/ag-charts-team

AG-9846 - Add examples to gallery
  packages/ag-charts-website/src/content/gallery/data.json
Owners: @ag-grid/ag-charts-team

AG-9989 nx format
  packages/ag-charts-community/src/chart/series/cartesian/pathUtil.ts
Owners: @alantreadway

AG-9989 Do not animate error bars when theme changes
  packages/ag-charts-community/src/chart/series/cartesian/lineSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/lineUtil.ts
  packages/ag-charts-community/src/chart/series/cartesian/pathUtil.ts
Owners: @alantreadway

AG-9989 Only animation when data or scales change
  packages/ag-charts-community/src/chart/series/cartesian/cartesianSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/lineSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/lineUtil.ts
  packages/ag-charts-community/src/chart/series/cartesian/pathUtil.ts
  packages/ag-charts-community/src/chart/series/cartesian/scaling.ts
Owners: @alantreadway

AG-9846 Fix gallery thumbnail generation for horizontal layouts
  packages/ag-charts-community/src/chart/themes/chartTheme.ts
  packages/ag-charts-community/src/chart/themes/darkTheme.ts
  plugins/ag-charts-generate-chart-thumbnail/src/executors/generate/generator/constants.ts
  plugins/ag-charts-generate-chart-thumbnail/src/executors/generate/generator/thumbnailGenerator.ts
Owners: @alantreadway, @ag-grid/ag-charts-team

AG-8112 Fix radar missing data for invalid first point
  packages/ag-charts-enterprise/src/series/radar/radarSeries.ts
Owners: @alantreadway

AG-10131 Add darkmode snippet to provided framework examples
  plugins/ag-charts-generate-example-files/src/executors/generate/generator/examplesGenerator.ts
Owners: @ag-grid/ag-charts-team

AG-10044 - Sync Grid & Charts design systems
  packages/ag-charts-website/src/design-system/blog-output.scss
  packages/ag-charts-website/src/design-system/components/_code.scss
  packages/ag-charts-website/src/design-system/elements/_button.scss
  packages/ag-charts-website/src/design-system/modules/CodeViewer.module.scss
  packages/ag-charts-website/src/design-system/modules/FeaturesList.module.scss
  packages/ag-charts-website/src/design-system/modules/Gif.module.scss
  packages/ag-charts-website/src/design-system/modules/LearningVideos.module.scss
Owners: @markdurrant

AG-10044 - Fix formatting issues
  packages/ag-charts-website/src/design-system/elements/_button.scss
  packages/ag-charts-website/src/design-system/modules/CodeViewer.module.scss
  packages/ag-charts-website/src/design-system/modules/Gif.module.scss
  packages/ag-charts-website/src/design-system/modules/LearningVideos.module.scss
Owners: @markdurrant

AG-8112 Add connectMissingData option for range area series
  packages/ag-charts-community/src/options/series/cartesian/rangeAreaOptions.ts
  packages/ag-charts-enterprise/src/series/range-area/rangeArea.ts
  packages/ag-charts-enterprise/src/series/range-area/rangeAreaProperties.ts
  packages/ag-charts-website/src/content/docs/range-area-series/_examples/range-area-missing-data/index.html
  packages/ag-charts-website/src/content/docs/range-area-series/_examples/range-area-missing-data/main.ts
  packages/ag-charts-website/src/content/docs/range-area-series/index.mdoc
Owners: @alantreadway, @ag-grid/ag-charts-team, @rmc-software

AG-10002 Add minified bundles
  esbuild.config.cjs
Owners: @ag-grid/ag-charts-team

Improve nx format:check and nx blt consistency.
  packages/all/project.json
Owners: @alantreadway

Perf
  esbuild.config.cjs
Owners: @ag-grid/ag-charts-team

AG-9965 Add warning for invalid values that are not replaced
  packages/ag-charts-community/src/chart/data/dataModel.ts
Owners: @alantreadway

AG-10131 Add darkmode logic do updateDelta API
  plugins/ag-charts-generate-example-files/src/executors/generate/generator/utils/getDarkModeSnippet.ts
Owners: @ag-grid/ag-charts-team

AG-10245 - Reversed axis domain docs
  packages/ag-charts-website/src/content/docs/axes-domain/_examples/cartesian-axis-reversed/index.html
  packages/ag-charts-website/src/content/docs/axes-domain/_examples/cartesian-axis-reversed/main.ts
  packages/ag-charts-website/src/content/docs/axes-domain/_examples/cartesian-axis-reversed/styles.css
  packages/ag-charts-website/src/content/docs/axes-domain/_examples/polar-axis-reversed/data.ts
  packages/ag-charts-website/src/content/docs/axes-domain/_examples/polar-axis-reversed/index.html
  packages/ag-charts-website/src/content/docs/axes-domain/_examples/polar-axis-reversed/main.ts
  packages/ag-charts-website/src/content/docs/axes-domain/_examples/polar-axis-reversed/styles.css
  packages/ag-charts-website/src/content/docs/axes-domain/index.mdoc
Owners: @ag-grid/ag-charts-team, @rmc-software

AG-10002 - Improve minified bundle naming.
  esbuild.config.cjs
Owners: @ag-grid/ag-charts-team

Cleanup redundant build-tsc targets and out-tsc directory.
  .gitignore
  libraries/ag-charts-test/tsconfig.lib.json
  libraries/ag-charts-test/tsconfig.spec.json
  nx.json
  packages/ag-charts-angular/.gitignore
  packages/ag-charts-angular/projects/ag-charts-angular/tsconfig.lib.json
  packages/ag-charts-angular/projects/ag-charts-angular/tsconfig.spec.json
  packages/ag-charts-angular/tsconfig.json
  packages/ag-charts-community-examples/project.json
  packages/ag-charts-community-examples/tsconfig.lib.json
  packages/ag-charts-community-examples/tsconfig.spec.json
  packages/ag-charts-community/project.json
  packages/ag-charts-community/tsconfig.lib.json
  packages/ag-charts-community/tsconfig.spec.json
  packages/ag-charts-community/tsconfig.types.json
  packages/ag-charts-enterprise/project.json
  packages/ag-charts-enterprise/tsconfig.lib.json
  packages/ag-charts-enterprise/tsconfig.spec.json
  packages/ag-charts-enterprise/tsconfig.types.json
  packages/ag-charts-react/tsconfig.lib.json
  packages/ag-charts-react/tsconfig.spec.json
  packages/ag-charts-website-e2e/tsconfig.json
  packages/ag-charts-website/tsconfig.spec.json
  packages/all/project.json
  plugins/ag-charts-generate-chart-thumbnail/tsconfig.lib.json
  plugins/ag-charts-generate-chart-thumbnail/tsconfig.spec.json
  plugins/ag-charts-generate-code-reference-files/tsconfig.lib.json
  plugins/ag-charts-generate-code-reference-files/tsconfig.spec.json
  plugins/ag-charts-generate-example-files/tsconfig.lib.json
  plugins/ag-charts-generate-example-files/tsconfig.spec.json
  plugins/ag-charts-task-autogen/tsconfig.lib.json
  plugins/ag-charts-task-autogen/tsconfig.spec.json
  tools/tsconfig.tools.json
Owners: @ag-grid/ag-charts-team, @alantreadway

Automated package version bump to 9.0.1-beta.20240111.
  .env
  libraries/ag-charts-test/package.json
  package.json
  packages/ag-charts-angular/package.json
  packages/ag-charts-angular/projects/ag-charts-angular/package.json
  packages/ag-charts-community-examples/package.json
  packages/ag-charts-community/package.json
  packages/ag-charts-community/src/version.ts
  packages/ag-charts-enterprise/package.json
  packages/ag-charts-react/package.json
  packages/ag-charts-vue/package.json
  packages/ag-charts-vue3/package.json
  packages/ag-charts-website/.env.build
  packages/ag-charts-website/.env.build.archive
  packages/ag-charts-website/.env.build.production
  packages/ag-charts-website/.env.build.staging
  packages/ag-charts-website/.env.dev
  packages/ag-charts-website/.env.preview
  packages/ag-charts-website/.env.preview.production
  packages/ag-charts-website/.env.preview.staging
  packages/ag-charts-website/package.json
  plugins/ag-charts-generate-chart-thumbnail/package.json
  plugins/ag-charts-generate-code-reference-files/package.json
  plugins/ag-charts-generate-example-files/package.json
Owners: @ag-grid/ag-charts-team, @alantreadway

AG-8196 showSeriesStroke docs
  packages/ag-charts-website/src/content/docs/legend/_examples/legend-seriesStroke/index.html
  packages/ag-charts-website/src/content/docs/legend/_examples/legend-seriesStroke/main.ts
  packages/ag-charts-website/src/content/docs/legend/_examples/legend-seriesStroke/styles.css
  packages/ag-charts-website/src/content/docs/legend/index.mdoc
Owners: @ag-grid/ag-charts-team, @rmc-software

AG-8196 Add legend.item.line.length
  packages/ag-charts-community/src/chart/legend.ts
  packages/ag-charts-community/src/chart/legendDatum.ts
  packages/ag-charts-community/src/chart/series/cartesian/areaSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/lineSeries.ts
  packages/ag-charts-community/src/options/chart/legendOptions.ts
  packages/ag-charts-enterprise/src/series/range-area/rangeArea.ts
  packages/ag-charts-website/src/content/docs/legend/_examples/legend-seriesStroke/main.ts
Owners: @alantreadway, @ag-grid/ag-charts-team

AG-8196 Fix caption typo
  packages/ag-charts-website/src/content/docs/legend/_examples/legend-seriesStroke/main.ts
Owners: @ag-grid/ag-charts-team

AG-10131 Fix darkmode in examples that define theme overrides but no base theme
  plugins/ag-charts-generate-example-files/src/executors/generate/generator/utils/getDarkModeSnippet.ts
Owners: @ag-grid/ag-charts-team

AG-10044 - Fix RHS nav scrollbar bug, make 'javascript' text formatting the same as Grid
  packages/ag-charts-website/src/constants.ts
  packages/ag-charts-website/src/design-system/modules/SideNavigation.module.scss
Owners: @ag-grid/ag-charts-team, @markdurrant

AG-8112 Update range area missing data docs to be simpler
  packages/ag-charts-website/src/content/docs/range-area-series/_examples/range-area-missing-data/data.ts
  packages/ag-charts-website/src/content/docs/range-area-series/_examples/range-area-missing-data/index.html
  packages/ag-charts-website/src/content/docs/range-area-series/_examples/range-area-missing-data/main.ts
  packages/ag-charts-website/src/content/docs/range-area-series/index.mdoc
Owners: @ag-grid/ag-charts-team, @rmc-software

AG-8112 Fix missing data example toggles for frameworks
  packages/ag-charts-website/src/content/docs/area-series/_examples/missing-data-area/main.ts
  packages/ag-charts-website/src/content/docs/line-series/_examples/gap-line/main.ts
Owners: @ag-grid/ag-charts-team

Stop using watch config for website dev build.
  packages/all/project.json
Owners: @alantreadway

AG-3390 - Fix changelog and pipeline nav links
  packages/ag-charts-website/src/components/pages-navigation/PagesNavigationFromLocalStorage.tsx
  packages/ag-charts-website/src/pages/changelog.astro
  packages/ag-charts-website/src/pages/pipeline.astro
Owners: @ag-grid/ag-charts-team, @taktran

AG-9939 - Fix changelog version dropdown from being clickable
  packages/ag-charts-website/src/components/release-notes/Collapsible.tsx
  packages/ag-charts-website/src/design-system/modules/Collapsible.module.scss
  packages/ag-charts-website/src/features/changelog/Changelog.tsx
Owners: @ag-grid/ag-charts-team, @markdurrant

AG-3390 - Fix plausible reference
  packages/ag-charts-website/src/pages/404.astro
Owners: @taktran

AG-3390 - Fix 404 page layout and page links
  packages/ag-charts-website/src/pages/404.astro
Owners: @taktran

AG-10245 - Reverse axis on histogram gallery example
  packages/ag-charts-website/src/content/gallery/_examples/histogram-with-missing-bins/main.ts
Owners: @ag-grid/ag-charts-team

AG-10245 - Nightingale reverse axis gallery example
  packages/ag-charts-website/src/content/gallery/_examples/reversed-nightingale/data.ts
  packages/ag-charts-website/src/content/gallery/_examples/reversed-nightingale/index.html
  packages/ag-charts-website/src/content/gallery/_examples/reversed-nightingale/main.ts
  packages/ag-charts-website/src/content/gallery/data.json
Owners: @ag-grid/ag-charts-team

AG-9965 Add expected invalid value warnings to tests
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/line-series-test-ts-line-series-create-for-line-category-x-axis-invalid-domain-log-y-axis-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/line-series-test-ts-line-series-create-for-line-category-x-axis-invalid-domain-log-y-axis-reversed-axes-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/areaSeries.test.ts
  packages/ag-charts-community/src/chart/series/cartesian/lineSeries.test.ts
  packages/ag-charts-community/src/chart/test/utils.ts
  packages/ag-charts-enterprise/src/series/range-area/rangeArea.test.ts
  packages/ag-charts-enterprise/src/series/waterfall/waterfall.test.ts
Owners: @alantreadway
