Repository ag-grid/ag-charts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ag-grid/ag-charts-team, @markdurrant, @taktran, @alantreadway, @rmc-software

AG-10409 Add quadtree.ts utility class
  packages/ag-charts-community/src/scene/bbox.ts
  packages/ag-charts-community/src/scene/util/quadtree.ts
Owners: @alantreadway

AG-10409 Fix lint errors
  packages/ag-charts-community/src/scene/util/quadtree.ts
Owners: @alantreadway

AG-10873 Fix infinitely growing canvas
  packages/ag-charts-community/src/scene/canvas/hdpiCanvas.ts
Owners: @alantreadway

lint
  packages/ag-charts-community/src/chart/series/topology/mapSeries.ts
  packages/ag-charts-community/src/chart/series/topology/mapUtil.ts
  packages/ag-charts-community/src/options/series/topology/mapOptions.ts
  packages/ag-charts-website/src/content/docs/map-series-test/_examples/heatmap-series/main.ts
  packages/ag-charts-website/src/content/docs/map-series-test/_examples/multiple-series/data.ts
Owners: @alantreadway, @ag-grid/ag-charts-team

Narrow depcruise allowed library dependencies.
  packages/ag-charts-community/.dependency-cruiser.js
  packages/ag-charts-enterprise/.dependency-cruiser.js
Owners: @alantreadway

dataModel + navigator test
  packages/ag-charts-community/src/chart/data/dataModel.ts
  packages/ag-charts-community/src/util/function.test.ts
  packages/ag-charts-community/src/util/function.ts
  packages/ag-charts-enterprise/src/features/navigator/__image_snapshots__/navigator-test-ts-navigator-create-for-mini-chart-navigator-handles-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-enterprise/src/features/navigator/navigator.test.ts
Owners: @alantreadway

AG-10869 Fix updates to visiblility property on pie/donut series
  packages/ag-charts-community/src/chart/series/polar/donutSeries.ts
  packages/ag-charts-community/src/chart/series/polar/pieSeries.ts
Owners: @alantreadway

AG-10654 Fix error with secondary categoric axes
  packages/ag-charts-community/src/chart/axis/__image_snapshots__/axis-examples-test-ts-axis-examples-ag-10654-should-render-secondary-category-axis-1-snap.png
  packages/ag-charts-community/src/chart/axis/axis.ts
  packages/ag-charts-community/src/chart/axis/axisExamples.test.ts
Owners: @alantreadway

dataController
  packages/ag-charts-community/src/chart/data/dataController.ts
  packages/ag-charts-community/src/util/dom.ts
  packages/ag-charts-community/src/util/json.ts
Owners: @alantreadway

dataModel scopes cache
  packages/ag-charts-community/src/chart/data/dataModel.test.ts
  packages/ag-charts-community/src/chart/data/dataModel.ts
Owners: @alantreadway

AG-10217 - Create default time format util
  packages/ag-charts-community/src/module-support.ts
  packages/ag-charts-community/src/scale/timeScale.ts
  packages/ag-charts-community/src/util/timeFormatDefaults.ts
Owners: @alantreadway

fix lint
  packages/ag-charts-community/src/chart/data/dataController.ts
  packages/ag-charts-community/src/chart/data/dataModel.ts
  packages/ag-charts-community/src/util/function.test.ts
Owners: @alantreadway

AG-10217 - Create ordinal time scale
  packages/ag-charts-community/src/chart/axis/categoryAxis.ts
  packages/ag-charts-community/src/integrated-charts-scene.ts
  packages/ag-charts-community/src/scale/bandScale.ts
  packages/ag-charts-community/src/scale/ordinalTimeScale.ts
Owners: @alantreadway

AG-10217 - Fix community time scale tests
  packages/ag-charts-community/src/scale/timeScale.test.ts
  packages/ag-charts-community/src/scale/timeScale.ts
Owners: @alantreadway

AG-10217 - Create ordinal time axis enterprise module
  packages/ag-charts-community/src/chart/chartAxesTypes.ts
  packages/ag-charts-community/src/chart/factory/expectedEnterpriseModules.ts
  packages/ag-charts-community/src/chart/mapping/prepareAxis.ts
  packages/ag-charts-community/src/chart/themes/constants.ts
  packages/ag-charts-community/src/options/series/cartesian/cartesianOptions.ts
  packages/ag-charts-enterprise/src/axes/ordinal/main.ts
  packages/ag-charts-enterprise/src/axes/ordinal/ordinalTimeAxis.ts
  packages/ag-charts-enterprise/src/axes/ordinal/ordinalTimeAxisModule.ts
  packages/ag-charts-enterprise/src/axes/ordinal/ordinalTimeAxisThemes.ts
  packages/ag-charts-enterprise/src/setup.ts
Owners: @alantreadway

AG-10217 - Fix types
  packages/ag-charts-community/src/chart/axis/categoryAxis.ts
  packages/ag-charts-enterprise/src/axes/ordinal/ordinalTimeAxis.ts
Owners: @alantreadway

AG-8255 - Use ordinal time scale as default for candlestick x axis
  packages/ag-charts-community/src/options/series/cartesian/cartesianOptions.ts
  packages/ag-charts-enterprise/src/series/candlestick/candlestickModule.ts
Owners: @alantreadway

Data model & controller optimisations (#1125)
  packages/ag-charts-community/src/chart/data/dataController.ts
  packages/ag-charts-community/src/chart/data/dataModel.test.ts
  packages/ag-charts-community/src/chart/data/dataModel.ts
  packages/ag-charts-community/src/util/dom.ts
  packages/ag-charts-community/src/util/function.test.ts
  packages/ag-charts-community/src/util/function.ts
  packages/ag-charts-community/src/util/json.ts
  packages/ag-charts-enterprise/src/features/navigator/__image_snapshots__/navigator-test-ts-navigator-create-for-mini-chart-navigator-handles-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-enterprise/src/features/navigator/navigator.test.ts
Owners: @alantreadway

AG-10789 - Refine series grouping change detection vs. animation behavior.
  packages/ag-charts-website/src/content/docs/bar-series-test/_examples/animation/main.ts
Owners: @ag-grid/ag-charts-team

AG-10789 - Refactor options processing to reduce cyclomatic complexity.
  packages/ag-charts-community/src/chart/chart.ts
  packages/ag-charts-community/src/chart/mapping/prepareSeries.ts
Owners: @alantreadway

AG-10789 - Refine series grouping change detection vs. animation behavior.
  packages/ag-charts-community/src/chart/chart.ts
  packages/ag-charts-community/src/chart/mapping/prepareSeries.ts
  packages/ag-charts-website/src/content/docs/bar-series-test/_examples/animation/index.html
  packages/ag-charts-website/src/content/docs/bar-series-test/_examples/animation/main.ts
Owners: @alantreadway, @ag-grid/ag-charts-team

AG-10789 - Refine series grouping change detection vs. animation behavior.
  packages/ag-charts-community/src/chart/chart.ts
Owners: @alantreadway

Add single example generation targets.
  packages/all/project.json
Owners: @alantreadway

AG-10755 Fix zoom and navigator conflicts and add tests
  packages/ag-charts-community/src/chart/interaction/interactionManager.ts
  packages/ag-charts-community/src/chart/interaction/zoomManager.ts
  packages/ag-charts-community/src/chart/navigator/navigator.ts
  packages/ag-charts-community/src/chart/navigator/shapes/rangeHandle.ts
  packages/ag-charts-community/src/chart/navigator/shapes/rangeMask.ts
  packages/ag-charts-community/src/chart/navigator/shapes/rangeSelector.ts
  packages/ag-charts-community/src/chart/test/utils.ts
  packages/ag-charts-community/src/sparklines-util.ts
  packages/ag-charts-enterprise/src/features/__image_snapshots__/features-test-ts-feature-combinations-navigator-and-zoom-should-init-with-navigator-min-max-1-snap.png
  packages/ag-charts-enterprise/src/features/__image_snapshots__/features-test-ts-feature-combinations-navigator-and-zoom-should-init-with-zoom-min-max-1-snap.png
  packages/ag-charts-enterprise/src/features/__image_snapshots__/features-test-ts-feature-combinations-navigator-and-zoom-should-prioritise-zoom-min-max-over-navigator-min-max-1-snap.png
  packages/ag-charts-enterprise/src/features/__image_snapshots__/features-test-ts-feature-combinations-navigator-and-zoom-should-prioritise-zoom-range-over-navigator-min-max-1-snap.png
  packages/ag-charts-enterprise/src/features/__image_snapshots__/features-test-ts-feature-combinations-navigator-and-zoom-should-zoom-then-navigate-1-snap.png
  packages/ag-charts-enterprise/src/features/__image_snapshots__/features-test-ts-feature-combinations-navigator-and-zoom-should-zoom-then-navigate-2-snap.png
  packages/ag-charts-enterprise/src/features/__image_snapshots__/features-test-ts-feature-combinations-navigator-and-zoom-should-zoom-then-navigate-3-snap.png
  packages/ag-charts-enterprise/src/features/features.test.ts
  packages/ag-charts-enterprise/src/features/navigator/navigator.ts
  packages/ag-charts-enterprise/src/features/zoom/__image_snapshots__/zoom-test-ts-zoom-axis-dragging-should-zoom-the-x-axis-from-the-end-1-snap.png
  packages/ag-charts-enterprise/src/features/zoom/__image_snapshots__/zoom-test-ts-zoom-axis-dragging-should-zoom-the-y-axis-from-the-middle-1-snap.png
  packages/ag-charts-enterprise/src/features/zoom/__image_snapshots__/zoom-test-ts-zoom-horizontal-scrolling-should-pan-1-snap.png
  packages/ag-charts-enterprise/src/features/zoom/__image_snapshots__/zoom-test-ts-zoom-horizontal-scrolling-should-pan-2-snap.png
  packages/ag-charts-enterprise/src/features/zoom/__image_snapshots__/zoom-test-ts-zoom-panning-should-pan-both-axes-1-snap.png
  packages/ag-charts-enterprise/src/features/zoom/zoom.test.ts
  packages/ag-charts-enterprise/src/features/zoom/zoom.ts
  packages/ag-charts-enterprise/src/features/zoom/zoomPanner.ts
  packages/ag-charts-enterprise/src/features/zoom/zoomRange.ts
  packages/ag-charts-enterprise/src/features/zoom/zoomScrollPanner.ts
  packages/ag-charts-enterprise/src/features/zoom/zoomScroller.ts
  packages/ag-charts-enterprise/src/features/zoom/zoomTypes.ts
Owners: @alantreadway

Implement animations, map backgrounds
  packages/ag-charts-community/src/chart/series/cartesian/cartesianSeries.ts
  packages/ag-charts-community/src/chart/series/hierarchy/hierarchySeries.ts
  packages/ag-charts-community/src/chart/series/polar/polarSeries.ts
  packages/ag-charts-community/src/chart/series/topology/geometryUtil.ts
  packages/ag-charts-community/src/chart/series/topology/mapSeries.ts
  packages/ag-charts-community/src/chart/series/topology/mapSeriesModule.ts
  packages/ag-charts-community/src/chart/series/topology/mapSeriesProperties.ts
  packages/ag-charts-community/src/chart/series/topology/mapUtil.ts
  packages/ag-charts-community/src/chart/themes/chartTheme.ts
  packages/ag-charts-community/src/options/series/topology/mapOptions.ts
  packages/ag-charts-website/src/content/docs/map-series-test/_examples/heatmap-series/main.ts
  packages/ag-charts-website/src/content/docs/map-series-test/_examples/markers/backgroundTopology.ts
  packages/ag-charts-website/src/content/docs/map-series-test/_examples/markers/data.ts
  packages/ag-charts-website/src/content/docs/map-series-test/_examples/markers/index.html
  packages/ag-charts-website/src/content/docs/map-series-test/_examples/markers/main.ts
  packages/ag-charts-website/src/content/docs/map-series-test/_examples/markers/topology.ts
  packages/ag-charts-website/src/content/docs/map-series-test/_examples/multiple-series/main.ts
  packages/ag-charts-website/src/content/docs/map-series-test/_examples/routing/main.ts
  packages/ag-charts-website/src/content/docs/map-series-test/index.mdoc
Owners: @alantreadway, @ag-grid/ag-charts-team, @rmc-software

Improve dataModel cache, prevent style calc on empty selection
  packages/ag-charts-community/src/chart/data/dataModel.ts
  packages/ag-charts-community/src/chart/series/cartesian/areaSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/bubbleSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/lineSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/scatterSeries.ts
  packages/ag-charts-community/src/scene/canvas/hdpiCanvas.ts
  packages/ag-charts-community/src/scene/selection.ts
  packages/ag-charts-enterprise/src/series/range-area/rangeArea.ts
Owners: @alantreadway

AG-10869 Fixes for donut series
  packages/ag-charts-community/src/chart/series/polar/donutSeries.ts
Owners: @alantreadway

revert canvas size changes, for now
  packages/ag-charts-community/src/scene/canvas/hdpiCanvas.ts
Owners: @alantreadway

AG-10875 Fix navigator bounding box region
  packages/ag-charts-community/src/chart/navigator/shapes/rangeSelector.ts
Owners: @alantreadway

AG-8255 - Fix default time formatting and rendering when value axis is reversed
  packages/ag-charts-community/src/scale/ordinalTimeScale.ts
  packages/ag-charts-enterprise/src/axes/ordinal/ordinalTimeAxis.ts
  packages/ag-charts-enterprise/src/series/candlestick/candlestickGroup.ts
Owners: @alantreadway

AG-8255 - change typing
  packages/ag-charts-community/src/chart/axis/categoryAxis.ts
  packages/ag-charts-community/src/scale/bandScale.ts
Owners: @alantreadway

fix tests
  packages/ag-charts-community/src/chart/chart.ts
  packages/ag-charts-community/src/chart/interaction/interactionManager.ts
  packages/ag-charts-community/src/chart/tooltip/tooltip.ts
  packages/ag-charts-community/src/scene/canvas/hdpiCanvas.ts
  packages/ag-charts-community/src/util/sizeMonitor.ts
Owners: @alantreadway

AG-8255 - Snapshot tests
  packages/ag-charts-enterprise/src/series/candlestick/__image_snapshots__/candlestick-series-test-ts-candlestick-series-initial-animation-for-candlestick-options-should-animate-at-25-1-snap.png
  packages/ag-charts-enterprise/src/series/candlestick/__image_snapshots__/candlestick-series-test-ts-candlestick-series-initial-animation-for-candlestick-options-should-animate-at-50-1-snap.png
  packages/ag-charts-enterprise/src/series/candlestick/__image_snapshots__/candlestick-series-test-ts-candlestick-series-initial-animation-for-candlestick-options-should-animate-at-75-1-snap.png
  packages/ag-charts-enterprise/src/series/candlestick/__image_snapshots__/candlestick-series-test-ts-candlestick-series-should-render-a-candlestick-chart-as-expected-1-snap.png
  packages/ag-charts-enterprise/src/series/candlestick/__image_snapshots__/candlestick-series-test-ts-candlestick-series-should-render-a-candlestick-chart-as-expected-with-default-ordinal-time-x-axis-1-snap.png
  packages/ag-charts-enterprise/src/series/candlestick/__image_snapshots__/candlestick-series-test-ts-candlestick-series-should-render-a-candlestick-chart-as-expected-with-reversed-axes-1-snap.png
  packages/ag-charts-enterprise/src/series/candlestick/__image_snapshots__/candlestick-series-test-ts-candlestick-series-should-render-a-candlestick-chart-with-a-reversed-time-x-axis-1-snap.png
  packages/ag-charts-enterprise/src/series/candlestick/__image_snapshots__/candlestick-series-test-ts-candlestick-series-should-render-a-candlestick-chart-with-a-time-x-axis-1-snap.png
  packages/ag-charts-enterprise/src/series/candlestick/candlestickSeries.test.ts
Owners: @alantreadway

cleanup
  packages/ag-charts-community/src/scene/canvas/hdpiCanvas.ts
Owners: @alantreadway

cleanup
  packages/ag-charts-community/src/scene/canvas/hdpiCanvas.ts
Owners: @alantreadway

AG-8255 - Fix lint error
  packages/ag-charts-community/src/scale/ordinalTimeScale.ts
Owners: @alantreadway

Fix legend translation not updating on Animation skip.
  packages/ag-charts-community/src/motion/fromToMotion.ts
Owners: @alantreadway

Fix React variant of stock tracking chart.
  packages/ag-charts-website/src/content/docs/financial-charts/_examples/stock-tracking/main.ts
Owners: @ag-grid/ag-charts-team

Use inaccessibility pole for label placement, allow highlighting lines in series
  packages/ag-charts-community/src/chart/series/topology/bboxUtil.ts
  packages/ag-charts-community/src/chart/series/topology/geoGeometry.ts
  packages/ag-charts-community/src/chart/series/topology/geometryUtil.ts
  packages/ag-charts-community/src/chart/series/topology/lineStringUtil.ts
  packages/ag-charts-community/src/chart/series/topology/mapSeries.ts
  packages/ag-charts-community/src/chart/series/topology/polygonUtil.ts
  packages/ag-charts-website/src/content/docs/map-series-test/_examples/routing/main.ts
Owners: @alantreadway, @ag-grid/ag-charts-team

AG-8218 Add warning when navigator initial values are rejected
  packages/ag-charts-community/src/chart/interaction/zoomManager.ts
  packages/ag-charts-community/src/chart/navigator/navigator.ts
  packages/ag-charts-enterprise/src/features/features.test.ts
Owners: @alantreadway

.github/CODEOWNERS:

# NOTE: Order of entries matters - later entries have higher precedence.

# Attribute code-owners so default reviewers are assigned to PRs.
* @ag-grid/ag-charts-team

# Astro + website changes to be reviewed by website team.
*.scss @markdurrant
*.astro @taktran
/packages/ag-charts-website/astro/** @taktran
/packages/ag-charts-website/components/** @taktran
/packages/ag-charts-website/features/** @taktran
/packages/ag-charts-website/layouts/** @taktran
/packages/ag-charts-website/stores/** @taktran
/packages/ag-charts-website/utils/** @taktran

# Docs updates to be reviewed by Eng VP.
/packages/ag-charts-website/content/** @alantreadway @rmc-software
*.mdoc @rmc-software

# Charts library code to be reviewed by Chart TL.
/packages/ag-charts-community/** @alantreadway
/packages/ag-charts-enterprise/** @alantreadway

# Sensitive build/repo files to be reviewed by Chart TL.
**/package.json @alantreadway
nx.json @alantreadway
**/project.json @alantreadway
**/tsconfig.json @alantreadway
**/tsconfig.*.json @alantreadway
