Repository ag-grid/ag-charts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ag-grid/ag-charts-team, @markdurrant, @taktran, @alantreadway, @rmc-software

.github/CODEOWNERS:

# NOTE: Order of entries matters - later entries have higher precedence.

# Attribute code-owners so default reviewers are assigned to PRs.
* @ag-grid/ag-charts-team

# Astro + website changes to be reviewed by website team.
*.scss @markdurrant
*.astro @taktran
/packages/ag-charts-website/astro/** @taktran
/packages/ag-charts-website/components/** @taktran
/packages/ag-charts-website/features/** @taktran
/packages/ag-charts-website/layouts/** @taktran
/packages/ag-charts-website/stores/** @taktran
/packages/ag-charts-website/utils/** @taktran

# Docs updates to be reviewed by Eng VP.
/packages/ag-charts-website/content/** @alantreadway @rmc-software
*.mdoc @rmc-software

# Charts library code to be reviewed by Chart TL.
/packages/ag-charts-community/** @alantreadway
/packages/ag-charts-enterprise/** @alantreadway

# Sensitive build/repo files to be reviewed by Chart TL.
**/package.json @alantreadway
nx.json @alantreadway
**/project.json @alantreadway
**/tsconfig.json @alantreadway
**/tsconfig.*.json @alantreadway

CRT-407 Fix sprite X-translation rendering
  packages/ag-charts-community/src/chart/legendMarkerLabel.ts
  packages/ag-charts-community/src/scene/spriteRenderer.ts
Owners: @alantreadway

CRT-407 Normalise boolean|undefined type
  packages/ag-charts-community/src/chart/legend.ts
Owners: @alantreadway

CRT-407 Fix clipping bug due to incorrect marker size
  packages/ag-charts-community/src/chart/legend.ts
Owners: @alantreadway

CRT-417 Fix range buttons z-index of hover < active < focused
  packages/ag-charts-community/src/chart/toolbar/toolbarStyles.css
Owners: @alantreadway

CRT-443 Fix Community events page console error (#2174)
  external/ag-website-shared/src/components/community/components/Events.tsx
Owners: @ag-grid/ag-charts-team

CRT-418 Fix enterprise icon spacing in gallery (#2182)
  packages/ag-charts-website/src/features/gallery/components/GallerySeriesLink.module.scss
  packages/ag-charts-website/src/pages/gallery/[pageName].astro
Owners: @markdurrant, @taktran

CRT-438: State API AgChartsInstance docs types are incomplete
  packages/ag-charts-website/src/features/api-documentation/apiReferenceHelpers.ts
Owners: @ag-grid/ag-charts-team

CRT-453: Excess padding beneath gradient legend
  packages/ag-charts-community/src/chart/legend.ts
  packages/ag-charts-community/src/scene/changeDetectable.ts
  packages/ag-charts-community/src/scene/group.ts
  packages/ag-charts-community/src/scene/image.ts
  packages/ag-charts-community/src/scene/node.ts
  packages/ag-charts-community/src/scene/shape/path.ts
  packages/ag-charts-community/src/scene/util/changeDetectableProperties.ts
  packages/ag-charts-enterprise/src/__image_snapshots__/gallery-examples-test-ts-gallery-examples-ag-chart-v-2-create-for-simple-sunburst-example-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-enterprise/src/__image_snapshots__/gallery-examples-test-ts-gallery-examples-ag-chart-v-2-create-for-treemap-with-color-range-example-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-enterprise/src/features/annotations/scenes/textualPointScene.ts
  packages/ag-charts-enterprise/src/features/annotations/scenes/textualStartEndScene.ts
  packages/ag-charts-enterprise/src/gradient-legend/__image_snapshots__/gradient-legend-test-ts-gradient-legend-should-render-placeholder-chart-as-expected-1-snap.png
  packages/ag-charts-enterprise/src/gradient-legend/gradientLegend.ts
  packages/ag-charts-enterprise/src/series/heatmap/__image_snapshots__/heatmap-test-ts-heatmap-series-should-render-placeholder-chart-as-expected-1-snap.png
  packages/ag-charts-enterprise/src/series/sunburst/__image_snapshots__/sunburst-series-test-ts-sunburst-series-series-highlighting-should-render-a-complex-chart-1-snap.png
  packages/ag-charts-enterprise/src/series/sunburst/__image_snapshots__/sunburst-series-test-ts-sunburst-series-series-highlighting-should-render-highlight-at-depth-0-1-snap.png
  packages/ag-charts-enterprise/src/series/sunburst/__image_snapshots__/sunburst-series-test-ts-sunburst-series-series-highlighting-should-render-highlight-at-depth-1-1-snap.png
  packages/ag-charts-enterprise/src/series/sunburst/__image_snapshots__/sunburst-series-test-ts-sunburst-series-series-highlighting-should-render-highlight-at-depth-2-1-snap.png
  packages/ag-charts-enterprise/src/series/sunburst/__image_snapshots__/sunburst-series-test-ts-sunburst-series-series-highlighting-should-render-highlight-at-depth-3-1-snap.png
  packages/ag-charts-enterprise/src/series/treemap/__image_snapshots__/treemap-series-test-ts-treemap-series-series-highlighting-should-render-a-complex-chart-1-snap.png
  packages/ag-charts-enterprise/src/series/treemap/__image_snapshots__/treemap-series-test-ts-treemap-series-series-highlighting-should-render-highlight-at-depth-0-1-snap.png
  packages/ag-charts-enterprise/src/series/treemap/__image_snapshots__/treemap-series-test-ts-treemap-series-series-highlighting-should-render-highlight-at-depth-1-1-snap.png
  packages/ag-charts-enterprise/src/series/treemap/__image_snapshots__/treemap-series-test-ts-treemap-series-series-highlighting-should-render-highlight-at-depth-2-1-snap.png
  packages/ag-charts-enterprise/src/series/treemap/__image_snapshots__/treemap-series-test-ts-treemap-series-series-highlighting-should-render-highlight-at-depth-3-1-snap.png
  packages/ag-charts-website/e2e/financial-charts-showcase.spec.ts-snapshots/zoom-and-hover-on-out-of-y-range-prices-chromium-darwin.png
  packages/ag-charts-website/e2e/toolbar.spec.ts-snapshots/line-annotation-1-button-active-chromium-darwin.png
  packages/ag-charts-website/e2e/toolbar.spec.ts-snapshots/line-annotation-2-drawing-chromium-darwin.png
  packages/ag-charts-website/e2e/toolbar.spec.ts-snapshots/line-annotation-3-complete-chromium-darwin.png
  packages/ag-charts-website/e2e/zoom.spec.ts-snapshots/before-navigator-drag-y-axis-chromium-darwin.png
Owners: @alantreadway, @ag-grid/ag-charts-team

CRT-451 Fix range bar series corner radius
  packages/ag-charts-community/src/chart/series/cartesian/barUtil.ts
Owners: @alantreadway

CRT-446 Area series fixes
  packages/ag-charts-community/src/chart/series/cartesian/lineInterpolationUtil.ts
Owners: @alantreadway

CRT-406 Update code snippet
  packages/ag-charts-website/src/content/docs/map-topology/index.mdoc
Owners: @rmc-software

CRT-462 - Fix incorrect text annotation shape size on font size change
  packages/ag-charts-enterprise/src/features/annotations/properties/textualPointProperties.ts
  packages/ag-charts-enterprise/src/features/annotations/scenes/textualPointScene.ts
  packages/ag-charts-enterprise/src/features/annotations/states/textualPointState.ts
Owners: @alantreadway

CRT-461 Use a moveTo SVG command when d-buffer is empty
  packages/ag-charts-community/src/scene/extendedPath2D.ts
Owners: @alantreadway

lint
  packages/ag-charts-community/src/chart/series/cartesian/lineInterpolationUtil.ts
Owners: @alantreadway

CRT-412 - Update homepage FW icon links to correct URLs (#2187)
  packages/ag-charts-website/src/pages/index.astro
Owners: @taktran

Update snapshots.
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/line-series-test-ts-line-series-legend-toggle-animation-hide-should-animate-at-0-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/line-series-test-ts-line-series-legend-toggle-animation-hide-should-animate-at-10-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/line-series-test-ts-line-series-legend-toggle-animation-hide-should-animate-at-100-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/line-series-test-ts-line-series-legend-toggle-animation-hide-should-animate-at-20-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/line-series-test-ts-line-series-legend-toggle-animation-hide-should-animate-at-30-1-snap.png
  packages/ag-charts-enterprise/src/features/error-bar/__image_snapshots__/error-bar-test-ts-error-bars-should-toggle-visibility-as-expected-1-snap.png
  packages/ag-charts-enterprise/src/features/error-bar/__image_snapshots__/error-bar-test-ts-error-bars-should-toggle-visibility-as-expected-3-snap.png
Owners: @alantreadway

CRT-414 - Align homepage FW icons for mobile (#2180)
  packages/ag-charts-website/src/components/framework-selector/FrameworkSelector.module.scss
Owners: @markdurrant

CRT-449 - Fix stacked/grouped series changes not triggering new series instances.
  packages/ag-charts-community/src/chart/agChart.test.ts
  packages/ag-charts-community/src/module/__snapshots__/optionsModule.test.ts.snap
  packages/ag-charts-community/src/module/optionsModule.test.ts
Owners: @alantreadway

new release date
  packages/ag-charts-website/public/changelog/releases/10_1_0.md
  packages/ag-charts-website/src/content/versions/ag-charts-versions.json
Owners: @ag-grid/ag-charts-team

CRT-449 - Fix stacked/grouped series changes not triggering new series instances.
  packages/ag-charts-community/src/chart/mapping/prepareSeries.ts
  packages/ag-charts-community/src/module/optionsModule.ts
Owners: @alantreadway

CRT-454 Remove styles for layout examples
  packages/ag-charts-website/src/content/docs/layout/_examples/chart-class/index.html
  packages/ag-charts-website/src/content/docs/layout/_examples/chart-class/main.ts
  packages/ag-charts-website/src/content/docs/layout/_examples/chart-parent-grid/index.html
  packages/ag-charts-website/src/content/docs/layout/_examples/chart-parent-grid/main.ts
  packages/ag-charts-website/src/content/docs/layout/_examples/chart-unsized/main.ts
  packages/ag-charts-website/src/content/docs/layout/index.mdoc
  packages/ag-charts-website/src/features/example-runner/framework-templates/AngularTemplate.astro
  packages/ag-charts-website/src/features/example-runner/framework-templates/JavascriptTemplate.astro
  packages/ag-charts-website/src/features/example-runner/framework-templates/ReactTemplate.astro
  packages/ag-charts-website/src/features/example-runner/framework-templates/TypescriptTemplate.astro
  packages/ag-charts-website/src/features/example-runner/framework-templates/VueTemplate.astro
  packages/ag-charts-website/src/features/example-runner/framework-templates/lib/ExampleStyle.tsx
  plugins/ag-charts-generate-example-files/src/executors/generate/generator/examplesGenerator.ts
  plugins/ag-charts-generate-example-files/src/executors/generate/generator/types.ts
Owners: @ag-grid/ag-charts-team, @rmc-software, @taktran

CRT-411 - Make sure homepage see the charts link goes to the correct URL across enviroments (#2190)
  packages/ag-charts-website/src/pages/index.astro
Owners: @taktran

RTI-2236 - Expose alt up/down for use by Integrated.
  packages/ag-charts-community/src/chart/themes/chartTheme.ts
  packages/ag-charts-community/src/chart/themes/symbols.ts
Owners: @alantreadway

CRT-460 - Fix text input layout and canvas shape updates on fontSize changes
  packages/ag-charts-enterprise/src/features/annotations/annotations.ts
  packages/ag-charts-enterprise/src/features/annotations/annotationsStateMachine.ts
  packages/ag-charts-enterprise/src/features/annotations/callout/calloutProperties.ts
  packages/ag-charts-enterprise/src/features/annotations/callout/calloutScene.ts
  packages/ag-charts-enterprise/src/features/annotations/comment/commentProperties.ts
  packages/ag-charts-enterprise/src/features/annotations/comment/commentScene.ts
  packages/ag-charts-enterprise/src/features/annotations/note/noteProperties.ts
  packages/ag-charts-enterprise/src/features/annotations/note/noteScene.ts
  packages/ag-charts-enterprise/src/features/annotations/properties/textualPointProperties.ts
  packages/ag-charts-enterprise/src/features/annotations/properties/textualStartEndProperties.ts
  packages/ag-charts-enterprise/src/features/annotations/states/textualPointState.ts
  packages/ag-charts-enterprise/src/features/annotations/states/textualStartEndState.ts
  packages/ag-charts-enterprise/src/features/text-input/textInput.ts
Owners: @alantreadway

Update benchmark snapshots.
  packages/ag-charts-community/benchmarks/__image_snapshots__/large-dataset-test-ts-large-dataset-benchmark-after-load-1-x-datum-highlight-1-snap.png
  packages/ag-charts-community/benchmarks/__image_snapshots__/large-dataset-test-ts-large-dataset-benchmark-after-load-1-x-legend-toggle-1-snap.png
  packages/ag-charts-community/benchmarks/__image_snapshots__/large-dataset-test-ts-large-dataset-benchmark-after-load-4-x-datum-highlight-1-snap.png
  packages/ag-charts-community/benchmarks/__image_snapshots__/large-dataset-test-ts-large-dataset-benchmark-initial-load-1-snap.png
  packages/ag-charts-community/benchmarks/__image_snapshots__/multi-series-test-ts-multi-series-benchmark-after-load-10-x-legend-toggle-1-snap.png
Owners: @alantreadway

CRT-429 Remove extraneous div for overlays
  packages/ag-charts-community/src/chart/overlay/overlay.ts
Owners: @alantreadway

revert markDirty change
  packages/ag-charts-community/src/chart/legend.ts
  packages/ag-charts-community/src/scene/changeDetectable.ts
  packages/ag-charts-community/src/scene/group.ts
  packages/ag-charts-community/src/scene/image.ts
  packages/ag-charts-community/src/scene/node.ts
  packages/ag-charts-community/src/scene/shape/path.ts
  packages/ag-charts-community/src/scene/util/changeDetectableProperties.ts
  packages/ag-charts-enterprise/src/features/annotations/scenes/textualPointScene.ts
  packages/ag-charts-enterprise/src/features/annotations/scenes/textualStartEndScene.ts
  packages/ag-charts-enterprise/src/gradient-legend/gradientLegend.ts
Owners: @alantreadway

CRT-459 - Update benchmark snapshots.
  packages/ag-charts-community/benchmarks/__image_snapshots__/multi-series-test-ts-multi-series-benchmark-after-load-1-x-datum-highlight-1-snap.png
  packages/ag-charts-community/benchmarks/__image_snapshots__/multi-series-test-ts-multi-series-benchmark-after-load-15-x-datum-highlight-1-snap.png
  packages/ag-charts-community/benchmarks/__image_snapshots__/multi-series-test-ts-multi-series-benchmark-initial-load-1-snap.png
Owners: @alantreadway

Attempt to fix e2e snapshot update job condition logic.
  .github/workflows/update-e2e-snapshots.yml
Owners: @ag-grid/ag-charts-team

Attempt to fix e2e snapshot update job condition logic.
  .github/workflows/update-e2e-snapshots.yml
Owners: @ag-grid/ag-charts-team

CRT-459 - Fix legend paginated layout on legend item toggle.
  packages/ag-charts-community/src/chart/pagination/pagination.ts
  packages/ag-charts-community/src/scene/node.ts
Owners: @alantreadway

CRT-408 - Fix pointer cursor update conflicts.
  packages/ag-charts-community/src/chart/series/seriesAreaHighlightManager.ts
  packages/ag-charts-enterprise/src/features/annotations/callout/calloutScene.ts
  packages/ag-charts-enterprise/src/features/annotations/line/lineScene.ts
  packages/ag-charts-enterprise/src/features/annotations/scenes/annotationScene.ts
  packages/ag-charts-enterprise/src/features/annotations/scenes/handle.ts
  packages/ag-charts-enterprise/src/features/annotations/scenes/textualPointScene.ts
  packages/ag-charts-enterprise/src/features/annotations/scenes/textualStartEndScene.ts
Owners: @alantreadway

Attempt to fix e2e snapshot update job condition logic.
  .github/workflows/update-e2e-snapshots.yml
Owners: @ag-grid/ag-charts-team

Add missing styles
  packages/ag-charts-website/src/content/docs/layout/_examples/chart-parent-grid/styles.css
Owners: @ag-grid/ag-charts-team

CRT-432 - Fix Safari/Firefox hover events on tab focus.
  packages/ag-charts-community/src/chart/interaction/interactionManager.ts
Owners: @alantreadway

lint
  plugins/ag-charts-generate-example-files/src/executors/generate/generator/examplesGenerator.ts
Owners: @ag-grid/ag-charts-team

CRT-431 - Update legend highlight change after animation batch completes.
  packages/ag-charts-community/src/chart/legend.ts
Owners: @alantreadway

CRT-463 - Fix axis hover detection for zoom module.
  packages/ag-charts-community/src/chart/axis/axis.ts
  packages/ag-charts-community/src/chart/chart.ts
  packages/ag-charts-community/src/chart/chartAxis.ts
  packages/ag-charts-community/src/chart/interaction/regionManager.ts
  packages/ag-charts-community/src/chart/interaction/regions.ts
  packages/ag-charts-community/src/chart/navigator/navigator.ts
  packages/ag-charts-community/src/module-support.ts
  packages/ag-charts-community/src/util/bboxinterface.ts
  packages/ag-charts-enterprise/src/features/zoom/zoom.ts
Owners: @alantreadway

Attempt to fix e2e snapshot update job condition logic.
  .github/workflows/update-e2e-snapshots.yml
Owners: @ag-grid/ag-charts-team

Release prep for 10.1.0-beta.20240806
  .env
  libraries/ag-charts-test/package.json
  package.json
  packages/ag-charts-angular/package.json
  packages/ag-charts-angular/projects/ag-charts-angular/package.json
  packages/ag-charts-community-examples/package.json
  packages/ag-charts-community/package.json
  packages/ag-charts-community/src/version.ts
  packages/ag-charts-enterprise/package.json
  packages/ag-charts-locale/package.json
  packages/ag-charts-react/package.json
  packages/ag-charts-types/package.json
  packages/ag-charts-vue3/package.json
  packages/ag-charts-website/.env.build
  packages/ag-charts-website/.env.build.archive
  packages/ag-charts-website/.env.build.production
  packages/ag-charts-website/.env.build.staging
  packages/ag-charts-website/.env.dev
  packages/ag-charts-website/.env.preview
  packages/ag-charts-website/.env.preview.production
  packages/ag-charts-website/.env.preview.staging
  packages/ag-charts-website/package.json
  plugins/ag-charts-generate-chart-thumbnail/package.json
  plugins/ag-charts-generate-code-reference-files/package.json
  plugins/ag-charts-generate-example-files/package.json
Owners: @ag-grid/ag-charts-team, @alantreadway
