Repository ag-grid/ag-charts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ag-grid/ag-charts-team, @markdurrant, @taktran, @alantreadway, @rmc-software

.github/CODEOWNERS:

# NOTE: Order of entries matters - later entries have higher precedence.

# Attribute code-owners so default reviewers are assigned to PRs.
* @ag-grid/ag-charts-team

# Astro + website changes to be reviewed by website team.
*.scss @markdurrant
*.astro @taktran
/packages/ag-charts-website/astro/** @taktran
/packages/ag-charts-website/components/** @taktran
/packages/ag-charts-website/features/** @taktran
/packages/ag-charts-website/layouts/** @taktran
/packages/ag-charts-website/stores/** @taktran
/packages/ag-charts-website/utils/** @taktran

# Docs updates to be reviewed by Eng VP.
/packages/ag-charts-website/content/** @alantreadway @rmc-software
*.mdoc @rmc-software

# Charts library code to be reviewed by Chart TL.
/packages/ag-charts-community/** @alantreadway
/packages/ag-charts-enterprise/** @alantreadway

# Sensitive build/repo files to be reviewed by Chart TL.
**/package.json @alantreadway
nx.json @alantreadway
**/project.json @alantreadway
**/tsconfig.json @alantreadway
**/tsconfig.*.json @alantreadway

cleanup
  packages/ag-charts-community/src/chart/navigator/navigator.ts
Owners: @alantreadway

cleanup
  packages/ag-charts-enterprise/src/features/zoom/zoom.ts
Owners: @alantreadway

Automated package version bump to 9.0.2-beta.20240208.
  .env
  libraries/ag-charts-test/package.json
  package.json
  packages/ag-charts-angular/package.json
  packages/ag-charts-angular/projects/ag-charts-angular/package.json
  packages/ag-charts-community-examples/package.json
  packages/ag-charts-community/package.json
  packages/ag-charts-community/src/version.ts
  packages/ag-charts-enterprise/package.json
  packages/ag-charts-react/package.json
  packages/ag-charts-vue/package.json
  packages/ag-charts-vue3/package.json
  packages/ag-charts-website/.env.build
  packages/ag-charts-website/.env.build.archive
  packages/ag-charts-website/.env.build.production
  packages/ag-charts-website/.env.build.staging
  packages/ag-charts-website/.env.dev
  packages/ag-charts-website/.env.preview
  packages/ag-charts-website/.env.preview.production
  packages/ag-charts-website/.env.preview.staging
  packages/ag-charts-website/package.json
  plugins/ag-charts-generate-chart-thumbnail/package.json
  plugins/ag-charts-generate-code-reference-files/package.json
  plugins/ag-charts-generate-example-files/package.json
Owners: @ag-grid/ag-charts-team, @alantreadway

Change order of donut properties validation
  packages/ag-charts-community/src/chart/series/polar/donutSeriesProperties.ts
Owners: @alantreadway

Update module import locations
  packages/ag-charts-community/src/chart/navigator/miniChart.ts
  packages/ag-charts-community/src/module/baseModule.ts
Owners: @alantreadway

Update donut series validation
  packages/ag-charts-community/src/chart/series/polar/donutSeriesProperties.ts
Owners: @alantreadway

Enforce avoidance of importing top-level bundles.
  packages/ag-charts-community/.dependency-cruiser.js
  packages/ag-charts-community/src/chart/crossline/crossLine.ts
  packages/ag-charts-community/src/chart/factory/seriesTypes.ts
  packages/ag-charts-community/src/chart/navigator/navigator.test.ts
  packages/ag-charts-community/src/chart/series/cartesian/areaSeries.test.ts
  packages/ag-charts-community/src/chart/series/cartesian/cartesianSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/histogramSeries.ts
  packages/ag-charts-community/src/chart/series/hierarchy/hierarchySeries.ts
  packages/ag-charts-community/src/chart/test/load-example.ts
  packages/ag-charts-community/src/chart/test/utils.ts
  packages/ag-charts-community/src/motion/animation.ts
  packages/ag-charts-community/src/util/interpolate.test.ts
  packages/ag-charts-community/src/util/interpolate.ts
Owners: @alantreadway

Add depcruise to ag-charts-enterprise
  packages/ag-charts-enterprise/.dependency-cruiser.js
  packages/ag-charts-enterprise/project.json
  packages/ag-charts-enterprise/src/axes/polar-crosslines/polarCrossLine.test.ts
  packages/ag-charts-enterprise/src/axes/polarAxes.test.ts
  packages/ag-charts-enterprise/src/features/background/backgroundImage.test.ts
  packages/ag-charts-enterprise/src/features/crosshair/crosshair.test.ts
  packages/ag-charts-enterprise/src/features/zoom/zoom.test.ts
  packages/ag-charts-enterprise/src/gradient-legend/gradientLegend.test.ts
  packages/ag-charts-enterprise/src/main.ts
  packages/ag-charts-enterprise/src/series/box-plot/boxPlotSeries.test.ts
  packages/ag-charts-enterprise/src/series/bullet/bulletSeries.test.ts
  packages/ag-charts-enterprise/src/series/heatmap/heatmap.test.ts
  packages/ag-charts-enterprise/src/series/nightingale/nightingale.test.ts
  packages/ag-charts-enterprise/src/series/radar-area/radarArea.test.ts
  packages/ag-charts-enterprise/src/series/radar-line/radarLine.test.ts
  packages/ag-charts-enterprise/src/series/radial-bar/radialBar.test.ts
  packages/ag-charts-enterprise/src/series/radial-column/radialColumn.test.ts
  packages/ag-charts-enterprise/src/series/range-area/rangeArea.test.ts
  packages/ag-charts-enterprise/src/series/range-bar/rangeBar.test.ts
  packages/ag-charts-enterprise/src/series/sunburst/sunburstSeries.test.ts
  packages/ag-charts-enterprise/src/series/treemap/treemapSeries.test.ts
  packages/ag-charts-enterprise/src/series/waterfall/waterfall.test.ts
  packages/ag-charts-enterprise/src/setup.ts
  packages/ag-charts-enterprise/src/test/utils.ts
Owners: @alantreadway

Fix depcruise violations.
  packages/ag-charts-community/src/chart/navigator/miniChart.ts
  packages/ag-charts-community/src/module/baseModule.ts
Owners: @alantreadway

AG-10409 Remove unnecessary 'as'
  packages/ag-charts-community/src/chart/chart.ts
  packages/ag-charts-community/src/chart/interaction/tooltipManager.ts
  packages/ag-charts-community/src/chart/tooltip/tooltip.ts
Owners: @alantreadway

AG-10409 Add PointerData type
  packages/ag-charts-community/src/chart/caption.ts
  packages/ag-charts-community/src/chart/chart.ts
  packages/ag-charts-community/src/chart/interaction/interactionManager.ts
  packages/ag-charts-community/src/chart/interaction/tooltipManager.ts
  packages/ag-charts-community/src/chart/legend.ts
  packages/ag-charts-community/src/chart/tooltip/tooltip.ts
Owners: @alantreadway

AG-10409 Tidy up Chart.lastPick
  packages/ag-charts-community/src/chart/chart.ts
Owners: @alantreadway

AG-10409 Remove pageX/pageY from TooltipMeta
  packages/ag-charts-community/src/chart/caption.ts
  packages/ag-charts-community/src/chart/chart.ts
  packages/ag-charts-community/src/chart/interaction/interactionManager.ts
  packages/ag-charts-community/src/chart/interaction/tooltipManager.ts
  packages/ag-charts-community/src/chart/legend.ts
  packages/ag-charts-community/src/chart/tooltip/tooltip.ts
Owners: @alantreadway

nx format
  packages/ag-charts-community/src/chart/caption.ts
  packages/ag-charts-community/src/chart/legend.ts
  packages/ag-charts-community/src/chart/tooltip/tooltip.ts
Owners: @alantreadway

fix tests
  packages/ag-charts-community/src/chart/interaction/zoomManager.ts
  packages/ag-charts-community/src/chart/navigator/navigator.ts
Owners: @alantreadway

fix tests
  packages/ag-charts-community/src/chart/navigator/navigator.ts
Owners: @alantreadway

AG-10430 Add overlay when lazy loading data
  packages/ag-charts-community/src/chart/chart.ts
  packages/ag-charts-community/src/chart/data/dataService.ts
  packages/ag-charts-community/src/chart/overlay/chartOverlays.ts
  packages/ag-charts-community/src/chart/update/overlaysProcessor.ts
  packages/ag-charts-community/src/chart/update/processor.ts
  packages/ag-charts-community/src/options/chart/chartOptions.ts
  packages/ag-charts-website/src/content/docs/lazy-loading/_examples/lazy-loading-window/data.ts
  packages/ag-charts-website/src/content/docs/lazy-loading/_examples/lazy-loading/data.ts
  packages/ag-charts-website/src/content/docs/overlays/_examples/lazy-loading/index.html
  packages/ag-charts-website/src/content/docs/overlays/_examples/lazy-loading/main.ts
  packages/ag-charts-website/src/content/docs/overlays/index.mdoc
Owners: @alantreadway, @ag-grid/ag-charts-team, @rmc-software

fix tests
  packages/ag-charts-community/src/chart/navigator/__image_snapshots__/navigator-test-ts-navigator-create-for-nav-zoomed-edge-crosslines-1-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-community/src/chart/navigator/__image_snapshots__/navigator-test-ts-navigator-create-for-nav-zoomed-no-crosslines-2-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-community/src/chart/navigator/__image_snapshots__/navigator-test-ts-navigator-create-for-nav-zoomed-no-crosslines-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-community/src/chart/navigator/navigator.ts
Owners: @alantreadway

fix tests
  packages/ag-charts-community/src/chart/navigator/navigator.ts
Owners: @alantreadway

Support zoom and navigator modules working together (#965)
  packages/ag-charts-community/src/chart/factory/setupModules.ts
  packages/ag-charts-community/src/chart/interaction/zoomManager.ts
  packages/ag-charts-community/src/chart/navigator/__image_snapshots__/navigator-test-ts-navigator-create-for-nav-zoomed-edge-crosslines-1-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-community/src/chart/navigator/__image_snapshots__/navigator-test-ts-navigator-create-for-nav-zoomed-no-crosslines-2-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-community/src/chart/navigator/__image_snapshots__/navigator-test-ts-navigator-create-for-nav-zoomed-no-crosslines-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-community/src/chart/navigator/navigator.ts
  packages/ag-charts-community/src/module/coreModules.ts
  packages/ag-charts-community/src/module/moduleConflicts.ts
  packages/ag-charts-community/src/module/optionsModule.ts
  packages/ag-charts-enterprise/src/features/sync/chartSync.ts
  packages/ag-charts-enterprise/src/features/zoom/zoom.ts
  packages/ag-charts-enterprise/src/features/zoom/zoomModule.ts
Owners: @alantreadway

Navigator interaction fix + docs update
  packages/ag-charts-community/src/chart/navigator/navigator.ts
  packages/ag-charts-website/src/content/docs/zoom/index.mdoc
Owners: @alantreadway, @rmc-software

Navigator interaction fix + docs update (#966)
  packages/ag-charts-community/src/chart/navigator/navigator.ts
  packages/ag-charts-website/src/content/docs/zoom/index.mdoc
Owners: @alantreadway, @rmc-software

Navigator preserve Y axis (currently resets on use)
  packages/ag-charts-community/src/chart/interaction/zoomManager.ts
  packages/ag-charts-community/src/chart/navigator/navigator.ts
Owners: @alantreadway

cleanup
  packages/ag-charts-community/src/chart/navigator/navigator.ts
Owners: @alantreadway

Navigator preserve Y axis (currently resets on use) (#967)
  packages/ag-charts-community/src/chart/interaction/zoomManager.ts
  packages/ag-charts-community/src/chart/navigator/navigator.ts
Owners: @alantreadway

AG-10638 - Update grid to latest
  packages/ag-charts-website/package.json
  yarn.lock
Owners: @alantreadway, @ag-grid/ag-charts-team

AG-10617 Add labels to navigator minichart
  packages/ag-charts-community/src/chart/chartAxis.ts
  packages/ag-charts-community/src/chart/navigator/miniChart.ts
  packages/ag-charts-community/src/chart/navigator/navigator.ts
  packages/ag-charts-community/src/chart/navigator/shapes/rangeSelector.ts
Owners: @alantreadway

AG-10632 - Add example TS validation.
  packages/ag-charts-website/tsconfig.examples.json
  packages/all/project.json
  plugins/ag-charts-task-autogen/src/index.ts
Owners: @alantreadway, @ag-grid/ag-charts-team

AG-10632 - Fix example TS compile errors.
  packages/ag-charts-community/src/options/series/cartesian/rangeBarOptions.ts
  packages/ag-charts-website/src/content/docs/area-series-test/_examples/continuous-animation/main.ts
  packages/ag-charts-website/src/content/docs/bar-series/_examples/customising-corner-radius/main.ts
  packages/ag-charts-website/src/content/docs/line-series-test/_examples/continuous-animation/main.ts
  packages/ag-charts-website/src/content/docs/range-bar-series/_examples/customising-corner-radius/main.ts
  packages/ag-charts-website/src/content/docs/waterfall-series/_examples/customising-corner-radius/main.ts
  packages/ag-charts-website/src/content/gallery/_examples/bubble-with-labels/main.ts
  packages/ag-charts-website/src/content/gallery/_examples/multiple-range-areas/main.ts
  packages/ag-charts-website/src/content/gallery/_examples/range-bar-line-combination/data.ts
  packages/ag-charts-website/src/content/gallery/_examples/range-bar-line-combination/index.html
  packages/ag-charts-website/src/content/gallery/_examples/range-bar-line-combination/main.ts
  packages/ag-charts-website/src/content/gallery/_examples/range-bar-with-labels/main.ts
  packages/ag-charts-website/src/content/gallery/_examples/simple-range-area/main.ts
Owners: @alantreadway, @ag-grid/ag-charts-team

AG-10632 - Add CI example validation step.
  .github/workflows/ci.yml
  plugins/ag-charts-task-autogen/src/index.ts
Owners: @ag-grid/ag-charts-team

AG-10632 - Cleanup unused parameters.
  packages/ag-charts-website/src/content/docs/area-series-test/_examples/continuous-animation/main.ts
  packages/ag-charts-website/src/content/docs/error-bars-test/_examples/boyles/main.ts
  packages/ag-charts-website/src/content/gallery/_examples/multiple-line-series/main.ts
  packages/ag-charts-website/src/content/gallery/_examples/scatter-with-multiple-axes/main.ts
  packages/ag-charts-website/tsconfig.examples.json
  plugins/ag-charts-task-autogen/src/index.ts
Owners: @ag-grid/ag-charts-team, @alantreadway

AG-10409 Remove redundant checks
  packages/ag-charts-community/src/chart/chart.ts
Owners: @alantreadway

Ring-fence src/util dependency direction.
  packages/ag-charts-community/.dependency-cruiser.js
  packages/ag-charts-community/src/chart/axis/axis.ts
  packages/ag-charts-community/src/chart/chart.ts
  packages/ag-charts-community/src/chart/label.ts
  packages/ag-charts-community/src/chart/series/cartesian/areaSeriesModule.ts
  packages/ag-charts-community/src/chart/series/cartesian/barSeriesModule.ts
  packages/ag-charts-community/src/chart/series/cartesian/bubbleSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/bubbleSeriesModule.ts
  packages/ag-charts-community/src/chart/series/cartesian/cartesianSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/lineSeriesModule.ts
  packages/ag-charts-community/src/chart/series/cartesian/scatterSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/scatterSeriesModule.ts
  packages/ag-charts-community/src/chart/series/hierarchy/hierarchySeries.ts
  packages/ag-charts-community/src/chart/series/polar/donutSeries.ts
  packages/ag-charts-community/src/chart/series/polar/pieSeries.ts
  packages/ag-charts-community/src/chart/series/polar/polarSeries.ts
  packages/ag-charts-community/src/chart/series/series.ts
  packages/ag-charts-community/src/chart/series/seriesMarker.ts
  packages/ag-charts-community/src/module-support.ts
  packages/ag-charts-community/src/module/theme.ts
  packages/ag-charts-community/src/scale/linearScale.test.ts
  packages/ag-charts-community/src/scene/dropShadow.ts
  packages/ag-charts-community/src/scene/shape/sector.ts
  packages/ag-charts-community/src/scene/util/changeDetectableProperties.ts
  packages/ag-charts-community/src/scene/util/labelPlacement.ts
  packages/ag-charts-community/src/scene/util/sector.ts
  packages/ag-charts-community/src/scene/util/shapes.ts
  packages/ag-charts-community/src/sparklines-util.ts
  packages/ag-charts-community/src/util/numberFormat.test.ts
  packages/ag-charts-community/src/util/properties.ts
Owners: @alantreadway

Ring-fence src/scale dependency direction.
  packages/ag-charts-community/.dependency-cruiser.js
Owners: @alantreadway

Ring-fence src/scene dependency direction.
  packages/ag-charts-community/.dependency-cruiser.js
  packages/ag-charts-community/src/chart/__image_snapshots__/scene-test-ts-scene-on-translation-only-change-should-render-bar-series-correctly-after-update-1-snap.png
  packages/ag-charts-community/src/chart/__image_snapshots__/scene-test-ts-scene-on-translation-only-change-should-render-line-series-correctly-after-update-1-snap.png
  packages/ag-charts-community/src/chart/scene.test.ts
  packages/ag-charts-community/src/chart/test/utils.ts
  packages/ag-charts-community/src/scene/shape/range.test.ts
  packages/ag-charts-community/src/scene/shape/rect.test.ts
  packages/ag-charts-community/src/scene/shape/sector.test.ts
  packages/ag-charts-community/src/scene/shape/text.test.ts
  packages/ag-charts-community/src/scene/shape/text.ts
  packages/ag-charts-community/src/util/test/mockCanvas.ts
Owners: @alantreadway

validations
  packages/ag-charts-community/src/chart/axis/cartesianAxis.ts
  packages/ag-charts-community/src/chart/interaction/syncManager.ts
  packages/ag-charts-enterprise/src/features/sync/chartSync.ts
  packages/ag-charts-website/src/content/docs/sync/_examples/axes-sync/data.ts
  packages/ag-charts-website/src/content/docs/sync/_examples/axes-sync/main.ts
  packages/ag-charts-website/src/content/docs/sync/index.mdoc
Owners: @alantreadway, @ag-grid/ag-charts-team, @rmc-software

AG-10409 Move SeriesNodePickMode enum into a separate file
  packages/ag-charts-community/src/chart/chart.ts
  packages/ag-charts-community/src/chart/series/cartesian/areaSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/barSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/bubbleSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/histogramSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/lineSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/scatterSeries.ts
  packages/ag-charts-community/src/chart/series/hierarchy/hierarchySeries.ts
  packages/ag-charts-community/src/chart/series/polar/polarSeries.ts
  packages/ag-charts-community/src/chart/series/series.ts
  packages/ag-charts-community/src/chart/series/seriesNodePick.ts
  packages/ag-charts-community/src/module-support.ts
Owners: @alantreadway

Enforce circular dependency lint checks.
  packages/ag-charts-community/src/chart/data/dataModel.ts
  packages/ag-charts-community/src/chart/factory/seriesTypes.ts
  packages/ag-charts-community/src/chart/series/cartesian/bubbleSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/bubbleSeriesProperties.ts
  packages/ag-charts-community/src/chart/series/cartesian/histogramSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/histogramSeriesProperties.ts
  packages/ag-charts-community/src/chart/series/cartesian/lineSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/lineSeriesProperties.ts
  packages/ag-charts-community/src/chart/series/cartesian/scatterSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/scatterSeriesProperties.ts
Owners: @alantreadway

Fix sync and nav bugs
  packages/ag-charts-community/src/chart/agChartV2.ts
  packages/ag-charts-community/src/chart/axis/cartesianAxis.ts
  packages/ag-charts-community/src/chart/chart.ts
  packages/ag-charts-community/src/chart/interaction/syncManager.ts
  packages/ag-charts-community/src/chart/interaction/zoomManager.ts
  packages/ag-charts-community/src/chart/navigator/navigator.ts
  packages/ag-charts-community/src/options/chart/chartOptions.ts
  packages/ag-charts-enterprise/src/features/sync/chartSync.ts
  packages/ag-charts-enterprise/src/features/zoom/zoom.ts
Owners: @alantreadway

AG-10622 Fix z ordering for minichart
  packages/ag-charts-community/src/chart/navigator/miniChart.ts
  packages/ag-charts-community/src/chart/navigator/shapes/rangeSelector.ts
Owners: @alantreadway
