Repository ag-grid/ag-charts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ag-grid/ag-charts-team, @markdurrant, @taktran, @alantreadway, @rmc-software

.github/CODEOWNERS:

# NOTE: Order of entries matters - later entries have higher precedence.

# Attribute code-owners so default reviewers are assigned to PRs.
* @ag-grid/ag-charts-team

# Astro + website changes to be reviewed by website team.
*.scss @markdurrant
*.astro @taktran
/packages/ag-charts-website/astro/** @taktran
/packages/ag-charts-website/components/** @taktran
/packages/ag-charts-website/features/** @taktran
/packages/ag-charts-website/layouts/** @taktran
/packages/ag-charts-website/stores/** @taktran
/packages/ag-charts-website/utils/** @taktran

# Docs updates to be reviewed by Eng VP.
/packages/ag-charts-website/content/** @alantreadway @rmc-software
*.mdoc @rmc-software

# Charts library code to be reviewed by Chart TL.
/packages/ag-charts-community/** @alantreadway
/packages/ag-charts-enterprise/** @alantreadway

# Sensitive build/repo files to be reviewed by Chart TL.
**/package.json @alantreadway
nx.json @alantreadway
**/project.json @alantreadway
**/tsconfig.json @alantreadway
**/tsconfig.*.json @alantreadway

Move collidable line scene
  packages/ag-charts-enterprise/src/features/annotations/cross-line/crossLineScene.ts
  packages/ag-charts-enterprise/src/features/annotations/line/lineScene.ts
  packages/ag-charts-enterprise/src/features/annotations/scenes/channelScene.ts
  packages/ag-charts-enterprise/src/features/annotations/scenes/collidableLineScene.ts
Owners: @alantreadway

Remove marker animation logic from area animation
  packages/ag-charts-community/src/chart/series/cartesian/areaSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/areaUtil.ts
Owners: @alantreadway

tests
  packages/ag-charts-community/src/chart/series/cartesian/lineInterpolation.test.ts
Owners: @alantreadway

AG-12126 Add keyboard cancellation to annotation placement
  packages/ag-charts-community/src/chart/dom/domManager.ts
  packages/ag-charts-enterprise/src/features/annotations/annotations.ts
Owners: @alantreadway

Remove diffing from area series
  packages/ag-charts-community/src/chart/series/cartesian/areaSeries.ts
Owners: @alantreadway

AG-12066 Add arrow drawing and line arrow caps
  packages/ag-charts-community/src/chart/dom/icons.css
  packages/ag-charts-community/src/chart/toolbar/toolbarModule.ts
  packages/ag-charts-community/src/util/vector.ts
  packages/ag-charts-enterprise/src/features/annotations/annotationProperties.ts
  packages/ag-charts-enterprise/src/features/annotations/annotationTypes.ts
  packages/ag-charts-enterprise/src/features/annotations/annotations.ts
  packages/ag-charts-enterprise/src/features/annotations/annotationsConfig.ts
  packages/ag-charts-enterprise/src/features/annotations/annotationsModule.ts
  packages/ag-charts-enterprise/src/features/annotations/annotationsStateMachine.ts
  packages/ag-charts-enterprise/src/features/annotations/cross-line/crossLineProperties.ts
  packages/ag-charts-enterprise/src/features/annotations/line/lineScene.ts
  packages/ag-charts-enterprise/src/features/annotations/scenes/capScene.ts
  packages/ag-charts-locale/src/en-US.ts
  packages/ag-charts-types/src/chart/annotationsOptions.ts
  packages/ag-charts-types/src/chart/toolbarOptions.ts
Owners: @alantreadway, @ag-grid/ag-charts-team

AG-12066 Update e2e snapshots
  packages/ag-charts-website/e2e/financial-charts-showcase.spec.ts-snapshots/zoom-and-hover-on-out-of-y-range-prices-chromium-darwin.png
  packages/ag-charts-website/e2e/icons.spec.ts-snapshots/icons-chromium-darwin.png
  packages/ag-charts-website/e2e/toolbar.spec.ts-snapshots/callout-1-start-chromium-darwin.png
  packages/ag-charts-website/e2e/toolbar.spec.ts-snapshots/callout-2-end-chromium-darwin.png
  packages/ag-charts-website/e2e/toolbar.spec.ts-snapshots/callout-3-input-chromium-darwin.png
  packages/ag-charts-website/e2e/toolbar.spec.ts-snapshots/callout-4-save-chromium-darwin.png
  packages/ag-charts-website/e2e/toolbar.spec.ts-snapshots/callout-5-fill-color-popover-chromium-darwin.png
  packages/ag-charts-website/e2e/toolbar.spec.ts-snapshots/callout-6-change-fill-color-chromium-darwin.png
  packages/ag-charts-website/e2e/toolbar.spec.ts-snapshots/line-1-popover-chromium-darwin.png
  packages/ag-charts-website/e2e/toolbar.spec.ts-snapshots/line-2-button-active-chromium-darwin.png
  packages/ag-charts-website/e2e/toolbar.spec.ts-snapshots/line-3-drawing-chromium-darwin.png
  packages/ag-charts-website/e2e/toolbar.spec.ts-snapshots/line-4-complete-chromium-darwin.png
  packages/ag-charts-website/e2e/toolbar.spec.ts-snapshots/text-1-popover-chromium-darwin.png
  packages/ag-charts-website/e2e/toolbar.spec.ts-snapshots/text-2-button-active-chromium-darwin.png
  packages/ag-charts-website/e2e/toolbar.spec.ts-snapshots/text-3-start-chromium-darwin.png
  packages/ag-charts-website/e2e/toolbar.spec.ts-snapshots/text-4-input-chromium-darwin.png
  packages/ag-charts-website/e2e/toolbar.spec.ts-snapshots/text-5-save-chromium-darwin.png
  packages/ag-charts-website/e2e/toolbar.spec.ts-snapshots/text-6-editing-chromium-darwin.png
  packages/ag-charts-website/e2e/toolbar.spec.ts-snapshots/text-7-font-size-popover-chromium-darwin.png
  packages/ag-charts-website/e2e/toolbar.spec.ts-snapshots/text-8-change-font-size-chromium-darwin.png
  packages/ag-charts-website/e2e/toolbar.spec.ts-snapshots/text-9-deleted-chromium-darwin.png
  packages/ag-charts-website/src/content/docs/financial-charts-test/_examples/e2e-icons/index.html
Owners: @ag-grid/ag-charts-team

AG-12509 Skip no-op animations
  packages/ag-charts-community/src/chart/axis/axis.ts
  packages/ag-charts-community/src/chart/series/cartesian/lineSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/lineUtil.ts
Owners: @alantreadway

AG-12066 Update options module snapshot
  packages/ag-charts-community/src/module/__snapshots__/optionsModule.test.ts.snap
Owners: @alantreadway

snapshots
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/area-series-test-ts-area-series-add-update-remove-animation-add-for-stacked-area-graph-example-should-animate-at-100-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/area-series-test-ts-area-series-add-update-remove-animation-add-for-stacked-area-graph-example-should-animate-at-25-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/area-series-test-ts-area-series-add-update-remove-animation-add-for-stacked-area-graph-example-should-animate-at-50-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/area-series-test-ts-area-series-add-update-remove-animation-add-for-stacked-area-graph-example-should-animate-at-75-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/area-series-test-ts-area-series-add-update-remove-animation-remove-for-stacked-area-graph-example-should-animate-at-100-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/area-series-test-ts-area-series-add-update-remove-animation-remove-for-stacked-area-graph-example-should-animate-at-25-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/area-series-test-ts-area-series-add-update-remove-animation-remove-for-stacked-area-graph-example-should-animate-at-50-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/area-series-test-ts-area-series-add-update-remove-animation-remove-for-stacked-area-graph-example-should-animate-at-75-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/bar-series-test-ts-bar-series-add-animation-for-column-time-x-axis-number-y-axis-should-animate-at-0-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/bar-series-test-ts-bar-series-add-animation-for-column-time-x-axis-number-y-axis-should-animate-at-25-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/bar-series-test-ts-bar-series-add-animation-for-column-time-x-axis-number-y-axis-should-animate-at-50-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/bar-series-test-ts-bar-series-remove-animation-for-column-time-x-axis-number-y-axis-should-animate-at-100-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/bar-series-test-ts-bar-series-remove-animation-for-column-time-x-axis-number-y-axis-should-animate-at-25-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/bar-series-test-ts-bar-series-remove-animation-for-column-time-x-axis-number-y-axis-should-animate-at-50-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/bar-series-test-ts-bar-series-remove-animation-for-column-time-x-axis-number-y-axis-should-animate-at-75-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/bar-series-test-ts-bar-series-update-animation-for-column-time-x-axis-number-y-axis-should-animate-at-100-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/bar-series-test-ts-bar-series-update-animation-for-column-time-x-axis-number-y-axis-should-animate-at-25-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/bar-series-test-ts-bar-series-update-animation-for-column-time-x-axis-number-y-axis-should-animate-at-50-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/bar-series-test-ts-bar-series-update-animation-for-column-time-x-axis-number-y-axis-should-animate-at-75-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/line-series-test-ts-line-series-legend-toggle-animation-hide-should-animate-at-100-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/line-series-test-ts-line-series-legend-toggle-animation-hide-should-animate-at-30-1-snap.png
Owners: @alantreadway

leftover
  packages/ag-charts-community/src/api/agCharts.ts
Owners: @alantreadway

fix e2e tests
  packages/ag-charts-community/src/chart/chart.ts
Owners: @alantreadway

AG-11993 Update examples to use initialState instead of nav.min/max
  packages/ag-charts-website/src/content/docs/navigator/_examples/mini-chart-styling/main.ts
  packages/ag-charts-website/src/content/docs/navigator/_examples/mini-chart/main.ts
  packages/ag-charts-website/src/content/docs/navigator/_examples/navigator-styling/main.ts
  packages/ag-charts-website/src/content/docs/sync/_examples/basic-sync/main.ts
Owners: @ag-grid/ag-charts-team

Fix Feature Matrix links & names
  external/ag-website-shared/src/content/license-features/chartsFeaturesMatrix.json
Owners: @ag-grid/ag-charts-team

AG-11993 Remove zoom range docs and deprecated examples
  packages/ag-charts-website/src/content/docs/range-buttons/_examples/toolbar-positions/data.ts
  packages/ag-charts-website/src/content/docs/range-buttons/_examples/toolbar-positions/index.html
  packages/ag-charts-website/src/content/docs/range-buttons/_examples/toolbar-positions/main.ts
  packages/ag-charts-website/src/content/docs/zoom/_examples/zoom-range/data.ts
  packages/ag-charts-website/src/content/docs/zoom/_examples/zoom-range/index.html
  packages/ag-charts-website/src/content/docs/zoom/_examples/zoom-range/main.ts
  packages/ag-charts-website/src/content/docs/zoom/index.mdoc
Owners: @ag-grid/ag-charts-team, @rmc-software

AG-12545 Improve animation on area series when changing interpolation type
  packages/ag-charts-community/src/chart/series/cartesian/areaSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/areaUtil.ts
  packages/ag-charts-community/src/chart/series/cartesian/lineInterpolation.ts
  packages/ag-charts-community/src/chart/series/cartesian/lineInterpolationPlotting.ts
Owners: @alantreadway

AG-11958 Remove annotations enabled toggle hack
  packages/ag-charts-enterprise/src/features/annotations/annotations.ts
Owners: @alantreadway

Add radial gauge series
  packages/ag-charts-community/src/api/agCharts.ts
  packages/ag-charts-community/src/chart/background/backgroundModule.ts
  packages/ag-charts-community/src/chart/chart.ts
  packages/ag-charts-community/src/chart/factory/chartTypes.ts
  packages/ag-charts-community/src/chart/factory/expectedEnterpriseModules.ts
  packages/ag-charts-community/src/chart/factory/registerInbuiltModules.ts
  packages/ag-charts-community/src/chart/factory/seriesRegistry.ts
  packages/ag-charts-community/src/chart/gaugeChart.ts
  packages/ag-charts-community/src/chart/legendModule.ts
  packages/ag-charts-community/src/chart/locale/localeModule.ts
  packages/ag-charts-community/src/chart/mapping/types.ts
  packages/ag-charts-community/src/chart/series/gauge/radialGaugeModule.ts
  packages/ag-charts-community/src/chart/series/gauge/radialGaugeSeries.ts
  packages/ag-charts-community/src/chart/series/gauge/radialGaugeSeriesProperties.ts
  packages/ag-charts-community/src/chart/series/seriesAreaFocusManager.ts
  packages/ag-charts-community/src/chart/series/seriesAreaManager.ts
  packages/ag-charts-community/src/chart/themes/chartTheme.ts
  packages/ag-charts-community/src/module/baseModule.ts
  packages/ag-charts-community/src/module/optionsModule.ts
  packages/ag-charts-community/src/module/optionsModuleTypes.ts
  packages/ag-charts-enterprise/src/features/animation/animationModule.ts
  packages/ag-charts-enterprise/src/features/background/backgroundModule.ts
  packages/ag-charts-enterprise/src/features/context-menu/contextMenuModule.ts
  packages/ag-charts-enterprise/src/features/data-source/dataSourceModule.ts
  packages/ag-charts-enterprise/src/features/foreground/foregroundModule.ts
  packages/ag-charts-enterprise/src/gradient-legend/gradientLegendModule.ts
  packages/ag-charts-types/src/chart/chartBuilderOptions.ts
  packages/ag-charts-types/src/chart/themeOptions.ts
  packages/ag-charts-types/src/main.ts
  packages/ag-charts-types/src/series/gauge/gaugeOptions.ts
  packages/ag-charts-types/src/series/gauge/radialGaugeOptions.ts
Owners: @alantreadway, @ag-grid/ag-charts-team

Normalise layout manipulation, support order
  packages/ag-charts-community/src/chart/axis/axis.ts
  packages/ag-charts-community/src/chart/background/background.ts
  packages/ag-charts-community/src/chart/caption.ts
  packages/ag-charts-community/src/chart/cartesianChart.ts
  packages/ag-charts-community/src/chart/chart.ts
  packages/ag-charts-community/src/chart/chartAxis.ts
  packages/ag-charts-community/src/chart/chartContext.ts
  packages/ag-charts-community/src/chart/flowProportionChart.ts
  packages/ag-charts-community/src/chart/hierarchyChart.ts
  packages/ag-charts-community/src/chart/interaction/ariaAnnouncementServices.ts
  packages/ag-charts-community/src/chart/interaction/zoomManager.ts
  packages/ag-charts-community/src/chart/layout/layoutManager.ts
  packages/ag-charts-community/src/chart/legend.ts
  packages/ag-charts-community/src/chart/navigator/navigator.ts
  packages/ag-charts-community/src/chart/polarChart.ts
  packages/ag-charts-community/src/chart/series/seriesAreaClickManager.ts
  packages/ag-charts-community/src/chart/series/seriesAreaFocusManager.ts
  packages/ag-charts-community/src/chart/series/seriesAreaHighlightManager.ts
  packages/ag-charts-community/src/chart/series/seriesAreaTooltipManager.ts
  packages/ag-charts-community/src/chart/toolbar/toolbar.ts
  packages/ag-charts-community/src/chart/topologyChart.ts
  packages/ag-charts-community/src/chart/update/baseLayoutProcessor.ts
  packages/ag-charts-community/src/chart/update/overlaysProcessor.ts
  packages/ag-charts-community/src/module-support.ts
  packages/ag-charts-community/src/module/baseModule.ts
  packages/ag-charts-community/src/module/moduleContext.ts
  packages/ag-charts-community/src/module/moduleMap.ts
  packages/ag-charts-community/src/scene/scene.ts
  packages/ag-charts-community/src/util/padding.ts
  packages/ag-charts-enterprise/src/features/annotations/annotations.ts
  packages/ag-charts-enterprise/src/features/chart-toolbar/chartToolbar.ts
  packages/ag-charts-enterprise/src/features/crosshair/crosshair.ts
  packages/ag-charts-enterprise/src/features/navigator/navigator.ts
  packages/ag-charts-enterprise/src/features/status-bar/statusBar.ts
  packages/ag-charts-enterprise/src/features/zoom/zoom.ts
  packages/ag-charts-enterprise/src/gradient-legend/gradientLegend.ts
Owners: @alantreadway

merge conflicts fix
  packages/ag-charts-community/src/chart/gaugeChart.ts
Owners: @alantreadway

cleanups
  packages/ag-charts-community/src/chart/cartesianChart.ts
  packages/ag-charts-community/src/chart/dom/domManager.ts
  packages/ag-charts-community/src/chart/flowProportionChart.ts
  packages/ag-charts-community/src/chart/polarChart.ts
  packages/ag-charts-enterprise/src/features/status-bar/statusBar.ts
Owners: @alantreadway

Normalise layout manipulation, support order (#2260)
  packages/ag-charts-community/src/chart/axis/axis.ts
  packages/ag-charts-community/src/chart/background/background.ts
  packages/ag-charts-community/src/chart/caption.ts
  packages/ag-charts-community/src/chart/cartesianChart.ts
  packages/ag-charts-community/src/chart/chart.ts
  packages/ag-charts-community/src/chart/chartAxis.ts
  packages/ag-charts-community/src/chart/chartContext.ts
  packages/ag-charts-community/src/chart/dom/domManager.ts
  packages/ag-charts-community/src/chart/flowProportionChart.ts
  packages/ag-charts-community/src/chart/gaugeChart.ts
  packages/ag-charts-community/src/chart/hierarchyChart.ts
  packages/ag-charts-community/src/chart/interaction/ariaAnnouncementServices.ts
  packages/ag-charts-community/src/chart/interaction/zoomManager.ts
  packages/ag-charts-community/src/chart/layout/layoutManager.ts
  packages/ag-charts-community/src/chart/legend.ts
  packages/ag-charts-community/src/chart/navigator/navigator.ts
  packages/ag-charts-community/src/chart/polarChart.ts
  packages/ag-charts-community/src/chart/series/seriesAreaClickManager.ts
  packages/ag-charts-community/src/chart/series/seriesAreaFocusManager.ts
  packages/ag-charts-community/src/chart/series/seriesAreaHighlightManager.ts
  packages/ag-charts-community/src/chart/series/seriesAreaTooltipManager.ts
  packages/ag-charts-community/src/chart/toolbar/toolbar.ts
  packages/ag-charts-community/src/chart/topologyChart.ts
  packages/ag-charts-community/src/chart/update/baseLayoutProcessor.ts
  packages/ag-charts-community/src/chart/update/overlaysProcessor.ts
  packages/ag-charts-community/src/module-support.ts
  packages/ag-charts-community/src/module/baseModule.ts
  packages/ag-charts-community/src/module/moduleContext.ts
  packages/ag-charts-community/src/module/moduleMap.ts
  packages/ag-charts-community/src/scene/scene.ts
  packages/ag-charts-community/src/util/padding.ts
  packages/ag-charts-enterprise/src/features/annotations/annotations.ts
  packages/ag-charts-enterprise/src/features/chart-toolbar/chartToolbar.ts
  packages/ag-charts-enterprise/src/features/crosshair/crosshair.ts
  packages/ag-charts-enterprise/src/features/navigator/navigator.ts
  packages/ag-charts-enterprise/src/features/status-bar/statusBar.ts
  packages/ag-charts-enterprise/src/features/zoom/zoom.ts
  packages/ag-charts-enterprise/src/gradient-legend/gradientLegend.ts
Owners: @alantreadway

Cleanup iterator utils
  packages/ag-charts-community/src/chart/data/dataModel.ts
  packages/ag-charts-community/src/chart/legendMarkerLabel.ts
  packages/ag-charts-community/src/scene/node.ts
  packages/ag-charts-community/src/util/function.test.ts
  packages/ag-charts-community/src/util/function.ts
  packages/ag-charts-community/src/util/iterator.test.ts
  packages/ag-charts-community/src/util/iterator.ts
Owners: @alantreadway

AG-12510 - Remove redundant markDirtyTransform().
  packages/ag-charts-enterprise/src/features/error-bar/errorBarNode.ts
Owners: @alantreadway

AG-12510 - Add RegionEvent + regionOffset{x,y}.
  packages/ag-charts-community/src/chart/interaction/regionManager.ts
  packages/ag-charts-community/src/chart/interaction/regions.ts
  packages/ag-charts-community/src/chart/legend.ts
  packages/ag-charts-community/src/chart/navigator/navigator.ts
  packages/ag-charts-community/src/chart/pagination/pagination.ts
  packages/ag-charts-community/src/chart/series/seriesAreaClickManager.ts
  packages/ag-charts-community/src/chart/series/seriesAreaManager.ts
  packages/ag-charts-enterprise/src/features/crosshair/crosshair.ts
Owners: @alantreadway

AG-12510 - Fix legend positioning.
  packages/ag-charts-community/src/chart/legend.ts
  packages/ag-charts-community/src/chart/legendMarkerLabel.ts
  packages/ag-charts-community/src/scene/transformable.ts
Owners: @alantreadway

AG-12510 - Fix merge conflicts.
  packages/ag-charts-community/src/chart/chartAxis.ts
  packages/ag-charts-community/src/chart/series/seriesAreaTooltipManager.ts
Owners: @alantreadway

AG-12510 - Test fixes.
  packages/ag-charts-community/src/chart/__image_snapshots__/cartesian-chart-test-ts-cartesian-chart-stacked-bar-series-highlighting-should-correctly-change-highlighting-state-and-reset-1-snap.png
  packages/ag-charts-community/src/chart/__image_snapshots__/cartesian-chart-test-ts-cartesian-chart-stacked-bar-series-highlighting-should-correctly-change-highlighting-state-and-reset-2-snap.png
  packages/ag-charts-community/src/chart/__image_snapshots__/cartesian-chart-test-ts-cartesian-chart-stacked-bar-series-highlighting-should-correctly-change-highlighting-state-and-reset-3-snap.png
  packages/ag-charts-community/src/chart/__image_snapshots__/cartesian-chart-test-ts-cartesian-chart-stacked-bar-series-highlighting-should-render-series-with-y-key-housing-association-appropriately-1-snap.png
  packages/ag-charts-community/src/chart/__image_snapshots__/cartesian-chart-test-ts-cartesian-chart-stacked-bar-series-highlighting-should-render-series-with-y-key-local-authority-appropriately-1-snap.png
  packages/ag-charts-community/src/chart/__image_snapshots__/cartesian-chart-test-ts-cartesian-chart-stacked-bar-series-highlighting-should-render-series-with-y-key-owner-occupied-appropriately-1-snap.png
  packages/ag-charts-community/src/chart/__image_snapshots__/cartesian-chart-test-ts-cartesian-chart-stacked-bar-series-highlighting-should-render-series-with-y-key-private-rented-appropriately-1-snap.png
  packages/ag-charts-community/src/chart/__image_snapshots__/gallery-examples-test-ts-gallery-examples-ag-chart-v-2-create-for-stacked-bar-chart-example-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-community/src/chart/__image_snapshots__/scene-test-ts-scene-on-translation-only-change-should-render-bar-series-correctly-after-update-1-snap.png
  packages/ag-charts-community/src/chart/__image_snapshots__/scene-test-ts-scene-on-translation-only-change-should-render-line-series-correctly-after-update-1-snap.png
  packages/ag-charts-community/src/chart/axis/__snapshots__/timeAxis.test.ts.snap
  packages/ag-charts-community/src/chart/axis/timeAxis.test.ts
  packages/ag-charts-community/src/chart/chart.test.ts
  packages/ag-charts-community/src/chart/series/cartesian/areaSeries.test.ts
  packages/ag-charts-community/src/chart/series/cartesian/quadtreeUtil.ts
  packages/ag-charts-community/src/chart/series/polar/pieSeries.test.ts
  packages/ag-charts-community/src/chart/series/polar/polarSeries.test.ts
  packages/ag-charts-community/src/chart/tooltip/tooltip.test.ts
  packages/ag-charts-enterprise/src/features/error-bar/errorBar.test.ts
  packages/ag-charts-enterprise/src/series/bullet/bulletSeries.test.ts
  packages/ag-charts-enterprise/src/series/chord/chordSeries.test.ts
  packages/ag-charts-enterprise/src/series/map-line/mapLineSeries.test.ts
  packages/ag-charts-enterprise/src/series/map-marker/mapMarkerSeries.test.ts
  packages/ag-charts-enterprise/src/series/map-shape/mapShapeSeries.test.ts
  packages/ag-charts-enterprise/src/series/sankey/sankeySeries.test.ts
  packages/ag-charts-enterprise/src/series/sunburst/sunburstSeries.test.ts
  packages/ag-charts-enterprise/src/series/treemap/treemapSeries.test.ts
Owners: @alantreadway

AG-12510 - Add RegionEvent + regionOffset{x,y}.
  packages/ag-charts-community/src/chart/axis/axis.ts
  packages/ag-charts-community/src/chart/chartService.ts
  packages/ag-charts-community/src/chart/crossline/crossLineLabelPosition.ts
  packages/ag-charts-community/src/chart/interaction/regionManager.ts
  packages/ag-charts-community/src/chart/legend.ts
  packages/ag-charts-community/src/chart/marker/marker.ts
  packages/ag-charts-community/src/chart/navigator/navigator.ts
  packages/ag-charts-community/src/chart/series/cartesian/cartesianSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/histogramSeries.test.ts
  packages/ag-charts-community/src/chart/series/cartesian/quadtreeUtil.ts
  packages/ag-charts-community/src/chart/series/seriesAreaClickManager.ts
  packages/ag-charts-community/src/chart/series/seriesAreaHighlightManager.ts
  packages/ag-charts-community/src/chart/series/seriesAreaManager.ts
  packages/ag-charts-community/src/chart/series/seriesAreaTooltipManager.ts
  packages/ag-charts-community/src/scene/group.ts
  packages/ag-charts-community/src/scene/node.ts
  packages/ag-charts-community/src/scene/transformable.ts
  packages/ag-charts-community/src/util/bboxinterface.ts
  packages/ag-charts-community/src/util/nearest.ts
  packages/ag-charts-enterprise/src/features/error-bar/errorBar.ts
  packages/ag-charts-enterprise/src/features/error-bar/errorBarNode.ts
  packages/ag-charts-enterprise/src/gradient-legend/gradientLegend.ts
  packages/ag-charts-enterprise/src/series/map-marker/mapMarkerSeries.ts
  packages/ag-charts-enterprise/src/series/radar/radarSeries.ts
Owners: @alantreadway

remove redundant tests
  packages/ag-charts-community/src/util/iterator.test.ts
Owners: @alantreadway

AG-12369 Experiment with aria-descendents
  packages/ag-charts-community/src/util/keynavUtil.ts
Owners: @alantreadway

AG-12369 Experimental code
  packages/ag-charts-community/src/util/keynavUtil.ts
  packages/ag-charts-enterprise/src/features/context-menu/contextMenuStyles.css
Owners: @alantreadway

AG-12510 - Cleanup TransformableNode.
  packages/ag-charts-community/src/chart/axis/groupedCategoryAxis.ts
  packages/ag-charts-community/src/chart/caption.ts
  packages/ag-charts-community/src/chart/chart.test.ts
  packages/ag-charts-community/src/chart/dom/focusIndicator.ts
  packages/ag-charts-community/src/chart/interaction/regionManager.ts
  packages/ag-charts-community/src/chart/interaction/regions.ts
  packages/ag-charts-community/src/chart/interaction/tooltipManager.ts
  packages/ag-charts-community/src/chart/keyboardUtil.ts
  packages/ag-charts-community/src/chart/legend.ts
  packages/ag-charts-community/src/chart/navigator/navigator.ts
  packages/ag-charts-community/src/chart/pagination/pagination.ts
  packages/ag-charts-community/src/chart/series/cartesian/areaSeries.test.ts
  packages/ag-charts-community/src/chart/series/cartesian/barUtil.ts
  packages/ag-charts-community/src/chart/series/cartesian/histogramSeries.test.ts
  packages/ag-charts-community/src/chart/series/cartesian/markerUtil.ts
  packages/ag-charts-community/src/chart/series/polar/pieSeries.test.ts
  packages/ag-charts-community/src/chart/series/polar/polarSeries.test.ts
  packages/ag-charts-community/src/chart/series/seriesAreaClickManager.ts
  packages/ag-charts-community/src/integrated-charts-scene.ts
  packages/ag-charts-community/src/scene/group.ts
  packages/ag-charts-community/src/scene/sceneDebug.ts
  packages/ag-charts-community/src/scene/shape/linearGradientFill.ts
  packages/ag-charts-community/src/scene/shape/rect.ts
  packages/ag-charts-community/src/scene/transformable.ts
  packages/ag-charts-community/src/util/bboxinterface.ts
  packages/ag-charts-enterprise/src/axes/angle/angleAxis.ts
  packages/ag-charts-enterprise/src/features/annotations/scenes/annotationScene.ts
  packages/ag-charts-enterprise/src/features/error-bar/errorBar.test.ts
  packages/ag-charts-enterprise/src/series/bullet/bulletSeries.test.ts
  packages/ag-charts-enterprise/src/series/chord/chordSeries.test.ts
  packages/ag-charts-enterprise/src/series/map-line/mapLineSeries.test.ts
  packages/ag-charts-enterprise/src/series/map-line/mapLineSeries.ts
  packages/ag-charts-enterprise/src/series/map-marker/mapMarkerSeries.test.ts
  packages/ag-charts-enterprise/src/series/map-shape/mapShapeSeries.test.ts
  packages/ag-charts-enterprise/src/series/sankey/sankeySeries.test.ts
  packages/ag-charts-enterprise/src/series/sankey/sankeySeries.ts
  packages/ag-charts-enterprise/src/series/sunburst/sunburstSeries.test.ts
  packages/ag-charts-enterprise/src/series/treemap/treemapSeries.test.ts
  packages/ag-charts-enterprise/src/series/treemap/treemapSeries.ts
Owners: @alantreadway

AG-12510 - Test fixes.
  packages/ag-charts-community/benchmarks/__image_snapshots__/large-dataset-test-ts-large-dataset-benchmark-after-load-1-x-datum-highlight-1-snap.png
  packages/ag-charts-community/benchmarks/__image_snapshots__/large-dataset-test-ts-large-dataset-benchmark-after-load-4-x-datum-highlight-1-snap.png
  packages/ag-charts-community/benchmarks/__image_snapshots__/multi-series-test-ts-multi-series-benchmark-after-load-1-x-datum-highlight-1-snap.png
  packages/ag-charts-community/benchmarks/__image_snapshots__/multi-series-test-ts-multi-series-benchmark-after-load-15-x-datum-highlight-1-snap.png
  packages/ag-charts-website/src/content/docs/benchmarks/_examples/summary/data.ts
Owners: @alantreadway, @ag-grid/ag-charts-team

AG-12510 - Add Transformable util method docs.
  packages/ag-charts-community/src/scene/transformable.ts
Owners: @alantreadway

AG-12510 - Annotation fixes.
  packages/ag-charts-enterprise/src/features/annotations/annotations.ts
  packages/ag-charts-enterprise/src/features/annotations/cross-line/crossLineScene.ts
  packages/ag-charts-enterprise/src/features/annotations/line/lineScene.ts
  packages/ag-charts-enterprise/src/features/annotations/scenes/channelScene.ts
Owners: @alantreadway

Refactor popovers and color picker into anchored popover and menu
  packages/ag-charts-enterprise/src/components/menu/menu.css
  packages/ag-charts-enterprise/src/components/menu/menu.ts
  packages/ag-charts-enterprise/src/components/popover/anchoredPopover.ts
  packages/ag-charts-enterprise/src/components/popover/popover.css
  packages/ag-charts-enterprise/src/components/popover/popover.ts
  packages/ag-charts-enterprise/src/features/annotations/annotations.css
  packages/ag-charts-enterprise/src/features/annotations/annotations.ts
  packages/ag-charts-enterprise/src/features/chart-toolbar/chartToolbar.ts
  packages/ag-charts-enterprise/src/features/color-picker/colorPicker.ts
  packages/ag-charts-enterprise/src/features/color-picker/colorPickerStyles.css
  packages/ag-charts-enterprise/src/features/color-picker/colorPickerTemplate.html
  packages/ag-charts-enterprise/src/features/popover/popover.ts
  packages/ag-charts-enterprise/src/styles.css
  packages/ag-charts-website/e2e/toolbar.spec.ts
Owners: @alantreadway, @ag-grid/ag-charts-team

Radial gauge first cut
  packages/ag-charts-community/src/chart/series/gauge/radialGaugeModule.ts
  packages/ag-charts-community/src/chart/series/gauge/radialGaugeSeries.ts
  packages/ag-charts-community/src/chart/series/gauge/radialGaugeSeriesProperties.ts
  packages/ag-charts-community/src/chart/series/gauge/radialGaugeUtil.ts
  packages/ag-charts-types/src/series/gauge/radialGaugeOptions.ts
Owners: @alantreadway, @ag-grid/ag-charts-team

AG-12510 - Zoom fixes.
  packages/ag-charts-community/src/chart/chart.ts
  packages/ag-charts-community/src/chart/interaction/regionManager.ts
  packages/ag-charts-community/src/chart/interaction/regions.ts
  packages/ag-charts-enterprise/src/features/zoom/zoom.ts
  packages/ag-charts-enterprise/src/features/zoom/zoomAxisDragger.ts
Owners: @alantreadway

Radial gauge corner radius customisation
  packages/ag-charts-community/src/chart/series/gauge/radialGaugeSeries.ts
  packages/ag-charts-community/src/chart/series/gauge/radialGaugeSeriesProperties.ts
  packages/ag-charts-community/src/chart/series/gauge/radialGaugeUtil.ts
Owners: @alantreadway
