Repository ag-grid/ag-charts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ag-grid/ag-charts-team, @markdurrant, @taktran, @alantreadway, @rmc-software

.github/CODEOWNERS:

# NOTE: Order of entries matters - later entries have higher precedence.

# Attribute code-owners so default reviewers are assigned to PRs.
* @ag-grid/ag-charts-team

# Astro + website changes to be reviewed by website team.
*.scss @markdurrant
*.astro @taktran
/packages/ag-charts-website/astro/** @taktran
/packages/ag-charts-website/components/** @taktran
/packages/ag-charts-website/features/** @taktran
/packages/ag-charts-website/layouts/** @taktran
/packages/ag-charts-website/stores/** @taktran
/packages/ag-charts-website/utils/** @taktran

# Docs updates to be reviewed by Eng VP.
/packages/ag-charts-website/content/** @alantreadway @rmc-software
*.mdoc @rmc-software

# Charts library code to be reviewed by Chart TL.
/packages/ag-charts-community/** @alantreadway
/packages/ag-charts-enterprise/** @alantreadway

# Sensitive build/repo files to be reviewed by Chart TL.
**/package.json @alantreadway
nx.json @alantreadway
**/project.json @alantreadway
**/tsconfig.json @alantreadway
**/tsconfig.*.json @alantreadway

AG-11191 Fix focusing logic for pagination buttons
  packages/ag-charts-community/src/chart/legend.ts
Owners: @alantreadway

AG-11191 Fix bug with Shift+TAB from pagination to legend items
  packages/ag-charts-community/src/chart/legend.ts
Owners: @alantreadway

AG-11191 Reset focus-mode to legends items after blurring
  packages/ag-charts-community/src/chart/legend.ts
Owners: @alantreadway

AG-7538 - Revert formatting tooltip/crosshair datum values using configured formatter
  packages/ag-charts-community/src/chart/axis/axis.ts
  packages/ag-charts-community/src/chart/axis/numberAxis.ts
  packages/ag-charts-community/src/chart/axis/timeAxis.ts
Owners: @alantreadway

AG-11191 Fix eslint error: unused import
  packages/ag-charts-community/src/chart/legend.ts
Owners: @alantreadway

AG-7538 - Update tests
  packages/ag-charts-community/src/chart/tooltip/tooltip.test.ts
  packages/ag-charts-enterprise/src/features/error-bar/__snapshots__/errorBar.test.ts.snap
  packages/ag-charts-enterprise/src/series/bullet/bulletSeries.test.ts
Owners: @alantreadway

AG-11191 nx format
  packages/ag-charts-community/src/chart/legend.ts
Owners: @alantreadway

AG-10851 - Docs fixes
  packages/ag-charts-website/src/content/docs/candlestick-series/index.mdoc
  packages/ag-charts-website/src/content/menu/data.json
Owners: @rmc-software, @ag-grid/ag-charts-team

AG-8448 Add toolbar button tooltips
  packages/ag-charts-community/src/chart/mapping/__snapshots__/prepare.test.ts.snap
  packages/ag-charts-community/src/chart/toolbar/toolbar.ts
  packages/ag-charts-community/src/chart/toolbar/toolbarModule.ts
  packages/ag-charts-community/src/chart/toolbar/toolbarTypes.ts
  packages/ag-charts-community/src/options/chart/toolbarOptions.ts
Owners: @alantreadway

AG-11338 - Implement CSS variables for focus indicator styling.
  packages/ag-charts-community/src/chart/interaction/focusStyles.ts
  packages/ag-charts-community/src/chart/interaction/regionManager.ts
Owners: @alantreadway

Add accessibility example to docs
  packages/ag-charts-community/src/options/chart/chartOptions.ts
  packages/ag-charts-website/src/content/docs/accessibility/_examples/keyboard-navigation/data.ts
  packages/ag-charts-website/src/content/docs/accessibility/_examples/keyboard-navigation/index.html
  packages/ag-charts-website/src/content/docs/accessibility/_examples/keyboard-navigation/main.ts
  packages/ag-charts-website/src/content/docs/accessibility/index.mdoc
  packages/ag-charts-website/src/content/versions/data.json
Owners: @alantreadway, @ag-grid/ag-charts-team, @rmc-software

git subrepo pull external/ag-website-shared
  external/ag-website-shared/.gitrepo
  external/ag-website-shared/src/components/icon/Icon.tsx
  external/ag-website-shared/src/components/tabs/TabsWithHtmlChildren.astro
  external/ag-website-shared/src/images/inline-svgs/figma-logo.svg
Owners: @ag-grid/ag-charts-team, @taktran

git subrepo pull external/ag-website-shared
  external/ag-website-shared/.gitrepo
  external/ag-website-shared/src/components/icon/Icon.tsx
  external/ag-website-shared/src/components/video-section/VideoSection.astro
  external/ag-website-shared/src/components/video-section/VideoSection.module.scss
  external/ag-website-shared/src/markdoc/tags/videoSection.ts
Owners: @ag-grid/ag-charts-team, @taktran, @markdurrant

AG-11264 - Use video section from shared folder
  packages/ag-charts-website/markdoc.config.ts
  packages/ag-charts-website/src/components/video-section/VideoSection.tsx
  packages/ag-charts-website/src/content/docs/create-a-basic-chart/index.mdoc
  packages/ag-charts-website/src/legacy-design-system/modules/VideoSection.module.scss
Owners: @ag-grid/ag-charts-team, @rmc-software, @markdurrant

AG-11339 Remove error when keyboard navigating an unsupported series
  packages/ag-charts-community/src/chart/series/series.ts
Owners: @alantreadway

AG-11192 TC6 Ignore mouse event when browser focus is absent
  packages/ag-charts-community/src/chart/interaction/keyNavManager.ts
Owners: @alantreadway

Automated package version bump to 9.2.1-beta.20240418.
  .env
  libraries/ag-charts-test/package.json
  package.json
  packages/ag-charts-angular/package.json
  packages/ag-charts-angular/projects/ag-charts-angular/package.json
  packages/ag-charts-community-examples/package.json
  packages/ag-charts-community/package.json
  packages/ag-charts-community/src/version.ts
  packages/ag-charts-enterprise/package.json
  packages/ag-charts-react/package.json
  packages/ag-charts-vue/package.json
  packages/ag-charts-vue3/package.json
  packages/ag-charts-website/.env.build
  packages/ag-charts-website/.env.build.archive
  packages/ag-charts-website/.env.build.production
  packages/ag-charts-website/.env.build.staging
  packages/ag-charts-website/.env.dev
  packages/ag-charts-website/.env.preview
  packages/ag-charts-website/.env.preview.production
  packages/ag-charts-website/.env.preview.staging
  packages/ag-charts-website/package.json
  plugins/ag-charts-generate-chart-thumbnail/package.json
  plugins/ag-charts-generate-code-reference-files/package.json
  plugins/ag-charts-generate-example-files/package.json
Owners: @ag-grid/ag-charts-team, @alantreadway

AG-10217 - Add ordinal time axis to axis types docs page
  packages/ag-charts-website/src/content/docs/axes-types/index.mdoc
Owners: @rmc-software

AG-10217 - Fix no ticks showing for domains less than 2
  packages/ag-charts-community/src/scale/ordinalTimeScale.ts
Owners: @alantreadway

AG-11191 Announce legend/pagination button actions
  packages/ag-charts-community/src/chart/legend.ts
Owners: @alantreadway

AG-11272 Set the aria-label on the chart to avoid saying it twice
  packages/ag-charts-community/src/chart/chart.ts
  packages/ag-charts-community/src/util/attributeUtil.ts
Owners: @alantreadway

AG-11272 Update snapshots
  packages/ag-charts-enterprise/src/features/error-bar/__snapshots__/errorBar.test.ts.snap
Owners: @alantreadway

AG-11272 Change chart's aria-label to include series count
  packages/ag-charts-community/src/chart/chart.ts
Owners: @alantreadway

AG-11272 Add aria-hidden attribute to some elements
  packages/ag-charts-community/src/chart/tooltip/tooltip.ts
  packages/ag-charts-community/src/sparklines-util.ts
  packages/ag-charts-community/src/util/attributeUtil.ts
  packages/ag-charts-enterprise/src/features/crosshair/crosshairLabel.ts
Owners: @alantreadway

AG-11291 TC2 Trigger mouseBlur when dragging
  packages/ag-charts-community/src/chart/interaction/keyNavManager.ts
Owners: @alantreadway

AG-11291 Refactor Series.pickFocus
  packages/ag-charts-community/src/chart/chart.ts
  packages/ag-charts-community/src/chart/series/cartesian/cartesianSeries.ts
  packages/ag-charts-community/src/chart/series/series.ts
Owners: @alantreadway

AG-11291 Refactor Cartesian.computeFocusBounds
  packages/ag-charts-community/src/chart/series/cartesian/areaSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/barSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/barUtil.ts
  packages/ag-charts-community/src/chart/series/cartesian/bubbleSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/cartesianSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/histogramSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/lineSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/scatterSeries.ts
  packages/ag-charts-enterprise/src/series/box-plot/boxPlotSeries.ts
  packages/ag-charts-enterprise/src/series/bullet/bulletSeries.ts
  packages/ag-charts-enterprise/src/series/candlestick/candlestickSeries.ts
  packages/ag-charts-enterprise/src/series/heatmap/heatmapSeries.ts
  packages/ag-charts-enterprise/src/series/ohlc/ohlcSeries.ts
  packages/ag-charts-enterprise/src/series/range-area/rangeArea.ts
  packages/ag-charts-enterprise/src/series/range-bar/rangeBar.ts
  packages/ag-charts-enterprise/src/series/waterfall/waterfallSeries.ts
Owners: @alantreadway

AG-11291 Clip focus indicator on bar-like series
  packages/ag-charts-community/src/chart/series/cartesian/barUtil.ts
  packages/ag-charts-community/src/scene/bbox.ts
Owners: @alantreadway

AG-11272 CR feedback
  packages/ag-charts-community/src/chart/chart.ts
Owners: @alantreadway

AG-11291 nx format
  packages/ag-charts-community/src/chart/series/series.ts
Owners: @alantreadway

AG-11272 - Rework Chart DOM update method naming.
  packages/ag-charts-community/src/chart/chart.ts
Owners: @alantreadway

AG-10851 - Fix candlestick wicks shifting to the left of the candlestick body when lots of data items present
  packages/ag-charts-enterprise/src/series/candlestick/candlestickGroup.ts
Owners: @alantreadway

Allow menu items to be hidden from data.json.
  packages/ag-charts-website/src/components/pages-navigation/PagesNavigation.tsx
  packages/ag-charts-website/src/content/config.ts
  packages/ag-charts-website/src/content/menu/data.json
Owners: @ag-grid/ag-charts-team

Add hidden page metadata.
  packages/ag-charts-website/src/content/config.ts
  packages/ag-charts-website/src/content/docs/annotations/index.mdoc
  packages/ag-charts-website/src/content/docs/financial-charts/index.mdoc
  packages/ag-charts-website/src/content/docs/toolbar/index.mdoc
Owners: @ag-grid/ag-charts-team, @rmc-software

Explicitly hide benchmark page.
  packages/ag-charts-website/src/utils/sitemap.ts
Owners: @ag-grid/ag-charts-team

Skip hidden pages for Algolia search metadata.
  packages/ag-charts-website/update-algolia.js
Owners: @ag-grid/ag-charts-team

Disallow hidden pages in robots.txt.
  packages/ag-charts-website/src/content/docs/benchmarks/index.mdoc
  packages/ag-charts-website/src/pages/robots.txt.ts
  packages/ag-charts-website/src/utils/pages.ts
  packages/ag-charts-website/src/utils/sitemapPages.ts
Owners: @rmc-software, @ag-grid/ag-charts-team

git subrepo pull external/ag-website-shared
  external/ag-website-shared/.gitrepo
  external/ag-website-shared/src/components/whats-new/WhatsNew.module.scss
  external/ag-website-shared/src/components/whats-new/components/Version.tsx
  external/ag-website-shared/src/components/whats-new/pages/whats-new.astro
  external/ag-website-shared/src/content/whats-new/data.json
  external/ag-website-shared/src/utils/chartsUrlWithPrefix.ts
  external/ag-website-shared/src/utils/parseVersion.ts
Owners: @ag-grid/ag-charts-team, @markdurrant, @taktran

AG-11264 - Use what's new from shared folder
  external/ag-website-shared/src/components/whats-new/pages/whats-new.astro
  packages/ag-charts-website/src/components/pages-navigation/components/PagesNavigation.tsx
  packages/ag-charts-website/src/components/pages-navigation/components/PagesNavigationFromLocalStorage.tsx
  packages/ag-charts-website/src/components/pages-navigation/components/SideNavigation.tsx
  packages/ag-charts-website/src/components/pages-navigation/hooks/useScrollSpy.ts
  packages/ag-charts-website/src/components/version/Version.tsx
  packages/ag-charts-website/src/constants.ts
  packages/ag-charts-website/src/legacy-design-system/modules/WhatsNew.module.scss
  packages/ag-charts-website/src/pages/404.astro
  packages/ag-charts-website/src/pages/[framework]/[pageName].astro
  packages/ag-charts-website/src/pages/changelog.astro
  packages/ag-charts-website/src/pages/pipeline.astro
  packages/ag-charts-website/src/pages/whats-new.astro
Owners: @taktran, @ag-grid/ag-charts-team, @markdurrant

git subrepo push external/ag-website-shared
  external/ag-website-shared/.gitrepo
Owners: @ag-grid/ag-charts-team
