Repository ag-grid/ag-charts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ag-grid/ag-charts-team, @markdurrant, @taktran, @alantreadway, @rmc-software

Updates to framework selector
  packages/ag-charts-website/src/components/framework-selector/FrameworkSelector.module.scss
Owners: @markdurrant

Get started update section
  packages/ag-charts-website/src/components/framework-selector/FrameworkSelector.module.scss
  packages/ag-charts-website/src/pages/homepage.module.scss
Owners: @markdurrant

AG-9818 - Rework rollup config to support UMD-only build.
  packages/ag-charts-enterprise/rollup.config.cjs
  rollup.base.cjs
Owners: @alantreadway, @ag-grid/ag-charts-team

AG-9022: QA Feedback: Remove error bar API tabs
  packages/ag-charts-website/src/content/docs/error-bars/index.mdoc
Owners: @rmc-software

AG-9017 QA Feedback: Move the `formatter` errorbar option
  packages/ag-charts-community/src/options/chart/errorBarOptions.ts
Owners: @alantreadway

AG-9609 - Improve get started CTA (#547)
  packages/ag-charts-website/src/components/framework-selector/FrameworkSelector.module.scss
  packages/ag-charts-website/src/pages/homepage.module.scss
Owners: @markdurrant

AG-9302 Add 'Multiple Bullets' section
  packages/ag-charts-website/src/content/docs/bullet-series/_examples/5-bullets/index.html
  packages/ag-charts-website/src/content/docs/bullet-series/_examples/5-bullets/main.ts
  packages/ag-charts-website/src/content/docs/bullet-series/index.mdoc
Owners: @ag-grid/ag-charts-team, @rmc-software

AG-9302 Update 'Simple Bullet' section
  packages/ag-charts-website/src/content/docs/bullet-series/_examples/simple-bullet/index.html
  packages/ag-charts-website/src/content/docs/bullet-series/_examples/simple-bullet/main.ts
  packages/ag-charts-website/src/content/docs/bullet-series/index.mdoc
Owners: @ag-grid/ag-charts-team, @rmc-software

AG-9302 Add 'Horizontal Bullet' section
  packages/ag-charts-website/src/content/docs/bullet-series/_examples/horizontal-bullet/index.html
  packages/ag-charts-website/src/content/docs/bullet-series/_examples/horizontal-bullet/main.ts
  packages/ag-charts-website/src/content/docs/bullet-series/index.mdoc
Owners: @ag-grid/ag-charts-team, @rmc-software

AG-9302 Use chart options to set width/height of bullet examples
  packages/ag-charts-website/src/content/docs/bullet-series/_examples/horizontal-bullet/index.html
  packages/ag-charts-website/src/content/docs/bullet-series/_examples/horizontal-bullet/main.ts
  packages/ag-charts-website/src/content/docs/bullet-series/_examples/simple-bullet/index.html
  packages/ag-charts-website/src/content/docs/bullet-series/_examples/simple-bullet/main.ts
Owners: @ag-grid/ag-charts-team

AG-3390 - Update meta titles
  packages/ag-charts-website/src/layouts/APIViewLayout.astro
  packages/ag-charts-website/src/pages/[framework]/[pageName].astro
  packages/ag-charts-website/src/pages/changelog.astro
  packages/ag-charts-website/src/pages/cookies.astro
  packages/ag-charts-website/src/pages/gallery.astro
  packages/ag-charts-website/src/pages/gallery/[pageName].astro
  packages/ag-charts-website/src/pages/options.astro
  packages/ag-charts-website/src/pages/options/[memberName]/[type].astro
  packages/ag-charts-website/src/pages/pipeline.astro
  packages/ag-charts-website/src/pages/privacy.astro
  packages/ag-charts-website/src/pages/themes-api.astro
  packages/ag-charts-website/src/pages/themes-api/overrides/[memberName].astro
Owners: @taktran

AG-9321 Remove FillOptions for bullet target line
  packages/ag-charts-community/src/options/series/cartesian/bulletOptions.ts
Owners: @alantreadway

Automated package version bump to 9.0.0-beta.20231116.
  packages/ag-charts-angular/package.json
  packages/ag-charts-community-examples/package.json
  packages/ag-charts-community/package.json
  packages/ag-charts-enterprise/package.json
  packages/ag-charts-react/package.json
  packages/ag-charts-vue/package.json
  packages/ag-charts-vue3/package.json
  packages/ag-charts-website/package.json
Owners: @alantreadway

Update treemap docs
  packages/ag-charts-community/src/chart/series/hierarchy/hierarchySeries.ts
  packages/ag-charts-enterprise/src/series/sunburst/sunburstSeries.ts
  packages/ag-charts-enterprise/src/series/treemap/treemapSeries.ts
  packages/ag-charts-enterprise/src/series/treemap/treemapSeriesModule.ts
  packages/ag-charts-website/src/content/docs/treemap-series/_examples/color-scale/data.ts
  packages/ag-charts-website/src/content/docs/treemap-series/_examples/color-scale/index.html
  packages/ag-charts-website/src/content/docs/treemap-series/_examples/color-scale/main.ts
  packages/ag-charts-website/src/content/docs/treemap-series/_examples/colors/data.ts
  packages/ag-charts-website/src/content/docs/treemap-series/_examples/colors/index.html
  packages/ag-charts-website/src/content/docs/treemap-series/_examples/colors/main.ts
  packages/ag-charts-website/src/content/docs/treemap-series/_examples/custom-colors/data.ts
  packages/ag-charts-website/src/content/docs/treemap-series/_examples/custom-colors/main.ts
  packages/ag-charts-website/src/content/docs/treemap-series/_examples/labels/data.ts
  packages/ag-charts-website/src/content/docs/treemap-series/_examples/labels/index.html
  packages/ag-charts-website/src/content/docs/treemap-series/_examples/labels/main.ts
  packages/ag-charts-website/src/content/docs/treemap-series/_examples/layout/data.ts
  packages/ag-charts-website/src/content/docs/treemap-series/_examples/layout/index.html
  packages/ag-charts-website/src/content/docs/treemap-series/_examples/layout/main.ts
  packages/ag-charts-website/src/content/docs/treemap-series/_examples/org-chart/data.ts
  packages/ag-charts-website/src/content/docs/treemap-series/_examples/org-chart/main.ts
  packages/ag-charts-website/src/content/docs/treemap-series/_examples/simple-treemap/data.ts
  packages/ag-charts-website/src/content/docs/treemap-series/_examples/simple-treemap/index.html
  packages/ag-charts-website/src/content/docs/treemap-series/_examples/simple-treemap/main.ts
  packages/ag-charts-website/src/content/docs/treemap-series/_examples/sizing/data.ts
  packages/ag-charts-website/src/content/docs/treemap-series/_examples/sizing/index.html
  packages/ag-charts-website/src/content/docs/treemap-series/_examples/sizing/main.ts
  packages/ag-charts-website/src/content/docs/treemap-series/_examples/stock-market-index/data.ts
  packages/ag-charts-website/src/content/docs/treemap-series/_examples/stock-market-index/main.ts
  packages/ag-charts-website/src/content/docs/treemap-series/_examples/tile-padding/data.ts
  packages/ag-charts-website/src/content/docs/treemap-series/index.mdoc
Owners: @alantreadway, @ag-grid/ag-charts-team, @rmc-software

Fix treemap sizing
  packages/ag-charts-enterprise/src/series/treemap/treemapSeries.ts
Owners: @alantreadway

Update snapshots
  packages/ag-charts-community/src/chart/series/hierarchy/__snapshots__/hierarchySeries.test.ts.snap
  packages/ag-charts-enterprise/src/series/treemap/__image_snapshots__/treemap-series-test-ts-hierarchy-chart-series-labels-for-treemap-series-labels-it-should-render-to-canvas-as-expected-1-snap.png
Owners: @alantreadway

Change colours in heatmap examples
  packages/ag-charts-website/src/content/docs/heatmap-series/_examples/color-range-with-many-values/main.ts
  packages/ag-charts-website/src/content/docs/heatmap-series/_examples/customising-color-range/main.ts
  packages/ag-charts-website/src/content/docs/heatmap-series/index.mdoc
Owners: @ag-grid/ag-charts-team, @rmc-software

AG-3390 - Fix top nav menu highlight
  packages/ag-charts-website/src/components/site-header/HeaderNav.tsx
  packages/ag-charts-website/src/components/site-header/SiteHeader.astro
  packages/ag-charts-website/src/content/config.ts
  packages/ag-charts-website/src/content/menu/data.json
Owners: @ag-grid/ag-charts-team, @taktran

AG-9824 Updated charts website search bar and framework selector
  packages/ag-charts-website/src/components/framework-selector-inside-doc/FrameworkSelectorInsideDocs.module.scss
  packages/ag-charts-website/src/components/framework-selector-inside-doc/FrameworkSelectorInsideDocs.tsx
  packages/ag-charts-website/src/components/search/Search.module.scss
  packages/ag-charts-website/src/components/site-header/SiteHeader.astro
  packages/ag-charts-website/src/components/site-header/SiteHeader.module.scss
  packages/ag-charts-website/src/components/top-bar/TopBar.tsx
  packages/ag-charts-website/src/layouts/APIViewLayout.astro
  packages/ag-charts-website/src/layouts/Layout.astro
  packages/ag-charts-website/src/pages/[framework]/[pageName].astro
  packages/ag-charts-website/src/styles/docs.module.scss
Owners: @markdurrant, @ag-grid/ag-charts-team, @taktran

AG-9824 Updated css for siteHeader / search
  packages/ag-charts-website/src/components/site-header/SiteHeader.astro
  packages/ag-charts-website/src/components/site-header/SiteHeader.module.scss
Owners: @taktran, @markdurrant

AG-9824 Updated framework selector comp
  packages/ag-charts-website/src/components/framework-selector-inside-doc/FrameworkSelectorInsideDocs.tsx
Owners: @ag-grid/ag-charts-team

AG-9042 - Disable key paths for Integrated Charts cases.
  packages/ag-charts-community/src/chart/chart.ts
  packages/ag-charts-community/src/chart/chartMode.ts
  packages/ag-charts-community/src/chart/data/dataController.ts
  packages/ag-charts-community/src/chart/data/dataModel.ts
  packages/ag-charts-community/src/chart/series/series.ts
  packages/ag-charts-community/src/module/moduleContext.ts
Owners: @alantreadway

AG-9824 Updated charts website search bar and framework selector
  packages/ag-charts-website/src/components/framework-selector-inside-doc/FrameworkSelectorInsideDocs.module.scss
  packages/ag-charts-website/src/components/framework-selector-inside-doc/FrameworkSelectorInsideDocs.tsx
  packages/ag-charts-website/src/components/search/Search.module.scss
  packages/ag-charts-website/src/components/site-header/SiteHeader.astro
  packages/ag-charts-website/src/components/site-header/SiteHeader.module.scss
  packages/ag-charts-website/src/components/top-bar/TopBar.tsx
  packages/ag-charts-website/src/layouts/APIViewLayout.astro
  packages/ag-charts-website/src/layouts/Layout.astro
  packages/ag-charts-website/src/pages/[framework]/[pageName].astro
  packages/ag-charts-website/src/styles/docs.module.scss
Owners: @markdurrant, @ag-grid/ag-charts-team, @taktran

AG-9323 Add optionConstructor for 'series[].colorRanges'
  packages/ag-charts-enterprise/src/series/bullet/bulletModule.ts
  packages/ag-charts-enterprise/src/series/bullet/bulletSeries.ts
Owners: @alantreadway

AG-3390 - Fix API pages layout bugs
  packages/ag-charts-website/src/layouts/APIViewLayout.astro
  packages/ag-charts-website/src/pages/[framework]/[pageName].astro
Owners: @taktran

AG-9818 - Rework build to output expected dist/ structure and contents.
  nx.json
  packages/ag-charts-community/.npmignore
  packages/ag-charts-community/package.json
  packages/ag-charts-community/project.json
  packages/ag-charts-community/rollup.config.cjs
  packages/ag-charts-community/rollup.umd.config.cjs
  packages/ag-charts-enterprise/.npmignore
  packages/ag-charts-enterprise/package.json
  packages/ag-charts-enterprise/project.json
  packages/ag-charts-enterprise/rollup.config.cjs
  packages/ag-charts-enterprise/rollup.umd.config.cjs
  rollup.base.cjs
Owners: @alantreadway, @ag-grid/ag-charts-team

AG-9818 - Rework development/Astro setup to work with new dist/ structure.
  packages/ag-charts-enterprise/tsconfig.spec.json
  packages/ag-charts-website/public/example-runner/charts-angular-boilerplate/systemjs.config.dev.js
  packages/ag-charts-website/public/example-runner/charts-react-boilerplate/systemjs.config.dev.js
  packages/ag-charts-website/public/example-runner/charts-react-ts-boilerplate/systemjs.config.dev.js
  packages/ag-charts-website/public/example-runner/charts-typescript-boilerplate/systemjs.config.dev.js
  packages/ag-charts-website/public/example-runner/charts-vue-boilerplate/systemjs.config.dev.js
  packages/ag-charts-website/public/example-runner/charts-vue3-boilerplate/systemjs.config.dev.js
  packages/ag-charts-website/src/features/example-runner/framework-templates/lib/SystemJs.tsx
  packages/ag-charts-website/src/utils/chartLibraryPaths.ts
  packages/all/project.json
Owners: @alantreadway, @ag-grid/ag-charts-team

AG-3390 - Keep `palette` and `overrides` expanded by default
  packages/ag-charts-website/src/features/api-documentation/components/ApiReference.tsx
  packages/ag-charts-website/src/features/api-documentation/components/ApiReferencePage.tsx
  packages/ag-charts-website/src/features/api-documentation/components/OptionsNavigation.tsx
  packages/ag-charts-website/src/pages/themes-api.astro
  packages/ag-charts-website/src/pages/themes-api/overrides/[memberName].astro
Owners: @ag-grid/ag-charts-team, @taktran

AG-3390 - Update header, search, & FW selector styles
  packages/ag-charts-website/src/components/framework-selector-inside-doc/FrameworkSelectorInsideDocs.module.scss
  packages/ag-charts-website/src/components/framework-selector/FrameworkSelector.module.scss
  packages/ag-charts-website/src/components/search/Search.module.scss
  packages/ag-charts-website/src/components/search/Search.tsx
  packages/ag-charts-website/src/components/search/SearchBox.tsx
  packages/ag-charts-website/src/components/search/SearchResult.tsx
  packages/ag-charts-website/src/components/search/gridSearch.module.scss
  packages/ag-charts-website/src/components/search/gridSearchBox.module.scss
  packages/ag-charts-website/src/components/search/gridSearchResult.module.scss
  packages/ag-charts-website/src/components/site-header/DarkModeToggle.jsx
  packages/ag-charts-website/src/components/site-header/HeaderNav.tsx
  packages/ag-charts-website/src/components/site-header/SiteHeader.astro
  packages/ag-charts-website/src/components/site-header/SiteLogo.tsx
  packages/ag-charts-website/src/components/site-header/gridSiteHeader.module.scss
  packages/ag-charts-website/src/design-system/core/_breakpoints.scss
  packages/ag-charts-website/src/features/docs/components/Header.module.scss
  packages/ag-charts-website/src/features/docs/components/Header.tsx
  packages/ag-charts-website/src/pages/[framework]/[pageName].astro
  packages/ag-charts-website/src/styles/docs.module.scss
Owners: @markdurrant, @ag-grid/ag-charts-team, @taktran

AG-3390 - Fix .scss import bug
  packages/ag-charts-website/src/components/framework-selector/FrameworkSelector.module.scss
Owners: @markdurrant

AG-3390 - Improve darkmode toggle icon, improve scroll offsets, fix FR selector bug
  packages/ag-charts-website/src/components/site-header/DarkModeToggle.module.scss
  packages/ag-charts-website/src/components/top-bar/ApiTopBar.module.scss
  packages/ag-charts-website/src/components/top-bar/TopBar.module.scss
  packages/ag-charts-website/src/components/top-bar/TopBar.tsx
  packages/ag-charts-website/src/design-system/_root.scss
  packages/ag-charts-website/src/features/api-documentation/components/ApiReferencePage.module.scss
  packages/ag-charts-website/src/features/api-documentation/components/OptionsNavigation.module.scss
  packages/ag-charts-website/src/layouts/Layout.astro
  packages/ag-charts-website/src/pages/[framework]/[pageName].astro
Owners: @markdurrant, @ag-grid/ag-charts-team, @taktran

Treemap docs updates
  packages/ag-charts-community/src/chart/series/hierarchy/hierarchySeries.ts
  packages/ag-charts-website/src/content/docs/treemap-series/_examples/color-scale/main.ts
  packages/ag-charts-website/src/content/docs/treemap-series/_examples/colors/data.ts
  packages/ag-charts-website/src/content/docs/treemap-series/_examples/colors/main.ts
  packages/ag-charts-website/src/content/docs/treemap-series/_examples/labels/data.ts
  packages/ag-charts-website/src/content/docs/treemap-series/_examples/layout/data.ts
  packages/ag-charts-website/src/content/docs/treemap-series/_examples/layout/main.ts
  packages/ag-charts-website/src/content/docs/treemap-series/_examples/other-colors/data.ts
  packages/ag-charts-website/src/content/docs/treemap-series/_examples/other-colors/index.html
  packages/ag-charts-website/src/content/docs/treemap-series/_examples/other-colors/main.ts
  packages/ag-charts-website/src/content/docs/treemap-series/_examples/simple-treemap/data.ts
  packages/ag-charts-website/src/content/docs/treemap-series/_examples/simple-treemap/main.ts
  packages/ag-charts-website/src/content/docs/treemap-series/_examples/sizing/data.ts
  packages/ag-charts-website/src/content/docs/treemap-series/_examples/sizing/main.ts
  packages/ag-charts-website/src/content/docs/treemap-series/index.mdoc
Owners: @alantreadway, @ag-grid/ag-charts-team, @rmc-software

AG-9827 Implement Prod Docs Deploy for Charts
  tools/release/createDocsReleaseBundle.sh
Owners: @ag-grid/ag-charts-team

AG-9827 Implement Prod Docs Deploy for Charts
  tools/release/createDocsReleaseBundle.sh
  tools/release/uploadReleaseZip.sh
Owners: @ag-grid/ag-charts-team

AG-9827 Implement Prod Docs Deploy for Charts
  tools/release/archiveCurrentRelease.sh
Owners: @ag-grid/ag-charts-team

AG-9827 Implement Prod Docs Deploy for Charts
  tools/release/archiveCurrentRelease.sh
Owners: @ag-grid/ag-charts-team

AG-9827 Implement Prod Docs Deploy for Charts
  tools/release/prepareNewChartsDeployment.sh
  tools/release/prepareNewChartsDeploymentRemote.sh
Owners: @ag-grid/ag-charts-team

AG-9818 - Fix UMD exports and use.
  packages/ag-charts-enterprise/rollup.config.cjs
  packages/ag-charts-enterprise/rollup.umd.config.cjs
  packages/ag-charts-enterprise/src/main.ts
  packages/ag-charts-website/src/features/example-runner/framework-templates/JavascriptTemplate.astro
Owners: @alantreadway, @taktran

Update packages/ag-charts-website/src/features/example-runner/framework-templates/JavascriptTemplate.astro
  packages/ag-charts-website/src/features/example-runner/framework-templates/JavascriptTemplate.astro
Owners: @taktran

AG-9827 Implement Prod Docs Deploy for Charts
  tools/release/prepareNewChartsDeployment.sh
  tools/release/prepareNewChartsDeploymentRemote.sh
  tools/release/switchChartsReleaseRemote.sh
  tools/release/switchRelease.sh
Owners: @ag-grid/ag-charts-team

.github/CODEOWNERS:

# NOTE: Order of entries matters - later entries have higher precedence.

# Attribute code-owners so default reviewers are assigned to PRs.
* @ag-grid/ag-charts-team

# Astro + website changes to be reviewed by website team.
*.scss @markdurrant
*.astro @taktran
/packages/ag-charts-website/astro/** @taktran
/packages/ag-charts-website/components/** @taktran
/packages/ag-charts-website/features/** @taktran
/packages/ag-charts-website/layouts/** @taktran
/packages/ag-charts-website/stores/** @taktran
/packages/ag-charts-website/utils/** @taktran

# Docs updates to be reviewed by Eng VP.
/packages/ag-charts-website/content/** @alantreadway @rmc-software
*.mdoc @rmc-software

# Charts library code to be reviewed by Chart TL.
/packages/ag-charts-community/** @alantreadway
/packages/ag-charts-enterprise/** @alantreadway

# Sensitive build/repo files to be reviewed by Chart TL.
**/package.json @alantreadway
nx.json @alantreadway
**/project.json @alantreadway
**/tsconfig.json @alantreadway
**/tsconfig.*.json @alantreadway
