Repository ag-grid/ag-charts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ag-grid/ag-charts-team, @markdurrant, @taktran, @alantreadway, @rmc-software

Fix toolbar font size
  packages/ag-charts-community/src/chart/toolbar/toolbarStyles.css
  packages/ag-charts-website/e2e/financial-charts-showcase.spec.ts-snapshots/zoom-and-hover-on-out-of-y-range-prices-chromium-darwin.png
  packages/ag-charts-website/e2e/toolbar.spec.ts-snapshots/line-annotation-1-button-active-chromium-darwin.png
  packages/ag-charts-website/e2e/toolbar.spec.ts-snapshots/line-annotation-2-drawing-chromium-darwin.png
  packages/ag-charts-website/e2e/toolbar.spec.ts-snapshots/line-annotation-3-complete-chromium-darwin.png
  packages/ag-charts-website/e2e/zoom.spec.ts-snapshots/after-navigator-drag-x-axis-chromium-darwin.png
  packages/ag-charts-website/e2e/zoom.spec.ts-snapshots/after-navigator-drag-y-axis-chromium-darwin.png
  packages/ag-charts-website/e2e/zoom.spec.ts-snapshots/before-navigator-drag-y-axis-chromium-darwin.png
  packages/ag-charts-website/e2e/zoom.spec.ts-snapshots/with-navigator-drag-x-axis-chromium-darwin.png
  packages/ag-charts-website/e2e/zoom.spec.ts-snapshots/with-navigator-drag-y-axis-chromium-darwin.png
Owners: @alantreadway, @ag-grid/ag-charts-team

AG-12350 - Fix tests that tried to click outside series area.
  packages/ag-charts-community/src/chart/chart.test.ts
Owners: @alantreadway

next iteration of financial charts toolbar docs
  packages/ag-charts-website/src/content/docs/financial-charts-configuration/index.mdoc
  packages/ag-charts-website/src/content/docs/financial-charts-test/_examples/chart-types/data.ts
  packages/ag-charts-website/src/content/docs/financial-charts-test/_examples/chart-types/index.html
  packages/ag-charts-website/src/content/docs/financial-charts-test/_examples/chart-types/main.ts
  packages/ag-charts-website/src/content/docs/financial-charts-test/index.mdoc
  packages/ag-charts-website/src/content/docs/financial-charts-toolbar/_examples/annotation-customisation/data.ts
  packages/ag-charts-website/src/content/docs/financial-charts-toolbar/_examples/annotation-customisation/main.ts
  packages/ag-charts-website/src/content/docs/financial-charts-toolbar/_examples/annotation-disjoint-channel/data.ts
  packages/ag-charts-website/src/content/docs/financial-charts-toolbar/_examples/annotation-disjoint-channel/main.ts
  packages/ag-charts-website/src/content/docs/financial-charts-toolbar/_examples/annotation-editing/main.ts
  packages/ag-charts-website/src/content/docs/financial-charts-toolbar/_examples/annotation-initial/index.html
  packages/ag-charts-website/src/content/docs/financial-charts-toolbar/_examples/annotation-initial/main.ts
  packages/ag-charts-website/src/content/docs/financial-charts-toolbar/_examples/annotation-line/data.ts
  packages/ag-charts-website/src/content/docs/financial-charts-toolbar/_examples/annotation-line/index.html
  packages/ag-charts-website/src/content/docs/financial-charts-toolbar/_examples/annotation-parallel-channel/data.ts
  packages/ag-charts-website/src/content/docs/financial-charts-toolbar/_examples/annotation-parallel-channel/index.html
  packages/ag-charts-website/src/content/docs/financial-charts-toolbar/_examples/annotation-parallel-channel/main.ts
  packages/ag-charts-website/src/content/docs/financial-charts-toolbar/_examples/annotation-save-restore/data.ts
  packages/ag-charts-website/src/content/docs/financial-charts-toolbar/_examples/annotation-save-restore/index.html
  packages/ag-charts-website/src/content/docs/financial-charts-toolbar/_examples/annotation-save-restore/main.ts
  packages/ag-charts-website/src/content/docs/financial-charts-toolbar/_examples/annotation-text/data.ts
  packages/ag-charts-website/src/content/docs/financial-charts-toolbar/_examples/annotation-text/index.html
  packages/ag-charts-website/src/content/docs/financial-charts-toolbar/_examples/annotation-text/main.ts
  packages/ag-charts-website/src/content/docs/financial-charts-toolbar/_examples/line-drawings/data.ts
  packages/ag-charts-website/src/content/docs/financial-charts-toolbar/_examples/line-drawings/index.html
  packages/ag-charts-website/src/content/docs/financial-charts-toolbar/_examples/line-drawings/main.ts
  packages/ag-charts-website/src/content/docs/financial-charts-toolbar/_examples/text-annotations/data.ts
  packages/ag-charts-website/src/content/docs/financial-charts-toolbar/_examples/text-annotations/index.html
  packages/ag-charts-website/src/content/docs/financial-charts-toolbar/_examples/text-annotations/main.ts
  packages/ag-charts-website/src/content/docs/financial-charts-toolbar/index.mdoc
  packages/ag-charts-website/src/content/docs/financial-charts-toolbar/resources/series-type-dark.mp4
  packages/ag-charts-website/src/content/docs/financial-charts-toolbar/resources/series-type.mp4
  packages/ag-charts-website/src/content/versions/ag-charts-versions.json
Owners: @rmc-software, @ag-grid/ag-charts-team

Ensure invalid chart types don't break status bar
  packages/ag-charts-enterprise/src/features/status-bar/statusBar.ts
Owners: @alantreadway

AG-12270 Add warning for invalid financial chart type
  packages/ag-charts-community/src/api/preset/priceVolumePreset.ts
  packages/ag-charts-enterprise/src/features/chart-toolbar/chartToolbar.ts
Owners: @alantreadway

Add text shape theme options
  packages/ag-charts-types/src/chart/annotationsOptions.ts
Owners: @ag-grid/ag-charts-team

AG-12270 - Snapshot updates.
  packages/ag-charts-website/e2e/financial-charts-showcase.spec.ts-snapshots/zoom-and-hover-on-out-of-y-range-prices-chromium-darwin.png
  packages/ag-charts-website/e2e/toolbar.spec.ts-snapshots/line-annotation-1-button-active-chromium-darwin.png
  packages/ag-charts-website/e2e/toolbar.spec.ts-snapshots/line-annotation-2-drawing-chromium-darwin.png
  packages/ag-charts-website/e2e/toolbar.spec.ts-snapshots/line-annotation-3-complete-chromium-darwin.png
  packages/ag-charts-website/e2e/zoom.spec.ts-snapshots/after-navigator-drag-x-axis-chromium-darwin.png
  packages/ag-charts-website/e2e/zoom.spec.ts-snapshots/after-navigator-drag-y-axis-chromium-darwin.png
  packages/ag-charts-website/e2e/zoom.spec.ts-snapshots/before-navigator-drag-y-axis-chromium-darwin.png
  packages/ag-charts-website/e2e/zoom.spec.ts-snapshots/with-navigator-drag-x-axis-chromium-darwin.png
  packages/ag-charts-website/e2e/zoom.spec.ts-snapshots/with-navigator-drag-y-axis-chromium-darwin.png
Owners: @ag-grid/ag-charts-team

AG-12270 - Remove redundant comment.
  packages/ag-charts-enterprise/src/features/chart-toolbar/chartToolbar.ts
Owners: @alantreadway

AG-12302 - Update toolbar & popover active/focus/hover state styles
  packages/ag-charts-community/src/chart/dom/icons.css
  packages/ag-charts-community/src/chart/dom/theme.css
  packages/ag-charts-community/src/chart/toolbar/toolbarStyles.css
  packages/ag-charts-enterprise/src/features/popover/popover.css
Owners: @alantreadway

AG-12204 - Remove redundant eslint rules
  packages/ag-charts-website/.eslintrc.json
Owners: @ag-grid/ag-charts-team

AG-12302 - Refactor toolbar button active state to only set border color
  packages/ag-charts-community/src/chart/toolbar/toolbarStyles.css
Owners: @alantreadway

AG-12164 Change text annotation alignment to bottom
  packages/ag-charts-enterprise/src/features/annotations/text/textProperties.ts
Owners: @alantreadway

Update text annotation icon
  packages/ag-charts-community/src/chart/dom/icons.css
Owners: @alantreadway

Fix comments appearing in the api docs
  packages/ag-charts-types/src/chart/annotationsOptions.ts
Owners: @ag-grid/ag-charts-team

AG-12164 Fix textual floating toolbar position to above left pinned
  packages/ag-charts-community/src/chart/interaction/toolbarManager.ts
  packages/ag-charts-community/src/chart/toolbar/toolbar.ts
  packages/ag-charts-enterprise/src/features/annotations/cross-line/crossLineScene.ts
  packages/ag-charts-enterprise/src/features/annotations/scenes/annotationScene.ts
  packages/ag-charts-enterprise/src/features/annotations/scenes/textualScene.ts
Owners: @alantreadway

AG-12164 Fix handle on 0th indexed selected annotation
  packages/ag-charts-enterprise/src/features/annotations/annotations.ts
Owners: @alantreadway

AG-12164 Fix text color tooltip and deprecate old generic color one
  packages/ag-charts-community/src/chart/toolbar/toolbarModule.ts
  packages/ag-charts-community/src/chart/toolbar/toolbarProperties.ts
  packages/ag-charts-locale/src/en-US.ts
Owners: @alantreadway, @ag-grid/ag-charts-team

AG-12164 Fix floating toolbar rounded corners
  packages/ag-charts-community/src/chart/toolbar/toolbarStyles.css
Owners: @alantreadway

AG-12164 Fix default text annotation color to use same default as stroke
  packages/ag-charts-community/src/chart/themes/chartTheme.ts
  packages/ag-charts-community/src/chart/themes/darkTheme.ts
  packages/ag-charts-community/src/chart/themes/financialDark.ts
  packages/ag-charts-community/src/chart/themes/financialLight.ts
  packages/ag-charts-community/src/chart/themes/materialDark.ts
  packages/ag-charts-community/src/chart/themes/materialLight.ts
  packages/ag-charts-community/src/chart/themes/polychromaDark.ts
  packages/ag-charts-community/src/chart/themes/polychromaLight.ts
  packages/ag-charts-community/src/chart/themes/sheetsDark.ts
  packages/ag-charts-community/src/chart/themes/sheetsLight.ts
  packages/ag-charts-community/src/chart/themes/symbols.ts
  packages/ag-charts-community/src/chart/themes/vividDark.ts
  packages/ag-charts-community/src/chart/themes/vividLight.ts
  packages/ag-charts-enterprise/src/features/annotations/annotationsModule.ts
Owners: @alantreadway

AG-12164 Change default handle inactive stroke width to 2px
  packages/ag-charts-enterprise/src/features/annotations/scenes/handle.ts
Owners: @alantreadway

AG-12164 Add text save on enter
  packages/ag-charts-enterprise/src/features/annotations/annotations.ts
  packages/ag-charts-enterprise/src/features/annotations/annotationsStateMachine.ts
  packages/ag-charts-enterprise/src/features/annotations/states/textualState.ts
Owners: @alantreadway

AG-12164 Fix textual handles to use text color for stroke
  packages/ag-charts-enterprise/src/features/annotations/annotationsModule.ts
  packages/ag-charts-enterprise/src/features/annotations/scenes/textualScene.ts
Owners: @alantreadway

AG-12164 Change textual annotation create to reset toolbar active states
  packages/ag-charts-enterprise/src/features/annotations/annotations.ts
  packages/ag-charts-enterprise/src/features/annotations/annotationsSuperTypes.ts
  packages/ag-charts-enterprise/src/features/annotations/states/textualState.ts
Owners: @alantreadway

AG-12164 Fix textual locked handle and remove unnecessary class prop
  packages/ag-charts-enterprise/src/features/annotations/cross-line/crossLineScene.ts
  packages/ag-charts-enterprise/src/features/annotations/line/lineScene.ts
  packages/ag-charts-enterprise/src/features/annotations/scenes/annotationScene.ts
  packages/ag-charts-enterprise/src/features/annotations/scenes/channelScene.ts
  packages/ag-charts-enterprise/src/features/annotations/scenes/textualScene.ts
Owners: @alantreadway

Fix lint issue
  packages/ag-charts-community/src/chart/toolbar/toolbar.ts
Owners: @alantreadway

AG-12164 Fix textual annotations handle and toolbar position on first render
  packages/ag-charts-enterprise/src/features/annotations/annotations.ts
  packages/ag-charts-enterprise/src/features/annotations/annotationsStateMachine.ts
  packages/ag-charts-enterprise/src/features/annotations/annotationsSuperTypes.ts
  packages/ag-charts-enterprise/src/features/annotations/scenes/textualScene.ts
  packages/ag-charts-enterprise/src/features/annotations/states/textualState.ts
Owners: @alantreadway

AG-12164 Update options snapshot
  packages/ag-charts-community/src/module/__snapshots__/optionsModule.test.ts.snap
Owners: @alantreadway

AG-12164 Fix comment annotation handle and options styles
  packages/ag-charts-enterprise/src/features/annotations/comment/commentScene.ts
Owners: @alantreadway

AG-12164 Fix textual annotation overflow of overlay to wrap
  packages/ag-charts-enterprise/src/features/text-input/textInput.ts
Owners: @alantreadway

AG-12164 Update e2e snapshots
  packages/ag-charts-website/e2e/financial-charts-showcase.spec.ts-snapshots/zoom-and-hover-on-out-of-y-range-prices-chromium-darwin.png
  packages/ag-charts-website/e2e/icons.spec.ts-snapshots/icons-chromium-darwin.png
  packages/ag-charts-website/e2e/toolbar.spec.ts-snapshots/line-annotation-1-button-active-chromium-darwin.png
  packages/ag-charts-website/e2e/toolbar.spec.ts-snapshots/line-annotation-2-drawing-chromium-darwin.png
  packages/ag-charts-website/e2e/toolbar.spec.ts-snapshots/line-annotation-3-complete-chromium-darwin.png
  packages/ag-charts-website/e2e/zoom.spec.ts-snapshots/after-navigator-drag-x-axis-chromium-darwin.png
  packages/ag-charts-website/e2e/zoom.spec.ts-snapshots/after-navigator-drag-y-axis-chromium-darwin.png
  packages/ag-charts-website/e2e/zoom.spec.ts-snapshots/before-navigator-drag-y-axis-chromium-darwin.png
  packages/ag-charts-website/e2e/zoom.spec.ts-snapshots/with-navigator-drag-x-axis-chromium-darwin.png
  packages/ag-charts-website/e2e/zoom.spec.ts-snapshots/with-navigator-drag-y-axis-chromium-darwin.png
Owners: @ag-grid/ag-charts-team

AG-12164 Fix comment annotation anchor default padding
  packages/ag-charts-enterprise/src/features/annotations/comment/commentScene.ts
Owners: @alantreadway

AG-12164 Fix comment annotations default color for fill not text
  packages/ag-charts-enterprise/src/features/annotations/annotationsConfig.ts
Owners: @alantreadway

AG-12164 Improve deprecation notice on toolbarAnnotationsColor
  packages/ag-charts-locale/src/en-US.ts
Owners: @ag-grid/ag-charts-team

AG-12186 - Fix status bar label selections.
  packages/ag-charts-enterprise/src/features/status-bar/statusBar.ts
Owners: @alantreadway

AG-10151 - Improve loading spinner to only remove when chart is initialised
  packages/ag-charts-website/src/features/example-runner/components/PostInitMessageScript.astro
  packages/ag-charts-website/src/features/example-runner/constants.ts
Owners: @taktran, @ag-grid/ag-charts-team

AG-3390 - Remove unused imports
  packages/ag-charts-website/src/features/docs/components/DocsExampleRunner.tsx
Owners: @ag-grid/ag-charts-team

AG-12186 - Fix status bar label colors for single item-type series.
  packages/ag-charts-enterprise/src/features/status-bar/statusBar.ts
Owners: @alantreadway

AG-12302 - Update test screenshots to avoid latest conflicts
  packages/ag-charts-website/e2e/toolbar.spec.ts-snapshots/line-annotation-1-button-active-chromium-linux.png
  packages/ag-charts-website/e2e/toolbar.spec.ts-snapshots/line-annotation-2-drawing-chromium-linux.png
Owners: @ag-grid/ag-charts-team

AG-12302 - Update test screenshots to avoid latest conflicts
  packages/ag-charts-website/e2e/toolbar.spec.ts-snapshots/line-annotation-1-button-active-chromium-linux.png
  packages/ag-charts-website/e2e/toolbar.spec.ts-snapshots/line-annotation-2-drawing-chromium-linux.png
Owners: @ag-grid/ag-charts-team

AG-12302 - Update toolbar & popover active/focus/hover state styles (#2055)
  packages/ag-charts-community/src/chart/dom/icons.css
  packages/ag-charts-community/src/chart/dom/theme.css
  packages/ag-charts-community/src/chart/toolbar/toolbarStyles.css
  packages/ag-charts-enterprise/src/features/popover/popover.css
Owners: @alantreadway

.github/CODEOWNERS:

# NOTE: Order of entries matters - later entries have higher precedence.

# Attribute code-owners so default reviewers are assigned to PRs.
* @ag-grid/ag-charts-team

# Astro + website changes to be reviewed by website team.
*.scss @markdurrant
*.astro @taktran
/packages/ag-charts-website/astro/** @taktran
/packages/ag-charts-website/components/** @taktran
/packages/ag-charts-website/features/** @taktran
/packages/ag-charts-website/layouts/** @taktran
/packages/ag-charts-website/stores/** @taktran
/packages/ag-charts-website/utils/** @taktran

# Docs updates to be reviewed by Eng VP.
/packages/ag-charts-website/content/** @alantreadway @rmc-software
*.mdoc @rmc-software

# Charts library code to be reviewed by Chart TL.
/packages/ag-charts-community/** @alantreadway
/packages/ag-charts-enterprise/** @alantreadway

# Sensitive build/repo files to be reviewed by Chart TL.
**/package.json @alantreadway
nx.json @alantreadway
**/project.json @alantreadway
**/tsconfig.json @alantreadway
**/tsconfig.*.json @alantreadway
