Repository ag-grid/ag-charts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ag-grid/ag-charts-team, @markdurrant, @taktran, @alantreadway, @rmc-software

.github/CODEOWNERS:

# NOTE: Order of entries matters - later entries have higher precedence.

# Attribute code-owners so default reviewers are assigned to PRs.
* @ag-grid/ag-charts-team

# Astro + website changes to be reviewed by website team.
*.scss @markdurrant
*.astro @taktran
/packages/ag-charts-website/astro/** @taktran
/packages/ag-charts-website/components/** @taktran
/packages/ag-charts-website/features/** @taktran
/packages/ag-charts-website/layouts/** @taktran
/packages/ag-charts-website/stores/** @taktran
/packages/ag-charts-website/utils/** @taktran

# Docs updates to be reviewed by Eng VP.
/packages/ag-charts-website/content/** @alantreadway @rmc-software
*.mdoc @rmc-software

# Charts library code to be reviewed by Chart TL.
/packages/ag-charts-community/** @alantreadway
/packages/ag-charts-enterprise/** @alantreadway

# Sensitive build/repo files to be reviewed by Chart TL.
**/package.json @alantreadway
nx.json @alantreadway
**/project.json @alantreadway
**/tsconfig.json @alantreadway
**/tsconfig.*.json @alantreadway

AG-11951 - Fix legend MarkerLabel naming.
  packages/ag-charts-community/src/chart/legend.ts
  packages/ag-charts-community/src/chart/legendMarkerLabel.ts
Owners: @alantreadway

AG-11951 - Review feedback fixes.
  packages/ag-charts-community/src/chart/legend.ts
Owners: @alantreadway

AG-11951 - Cleanup.
  packages/ag-charts-community/src/scene/canvas/hdpiCanvas.ts
  packages/ag-charts-community/src/scene/canvas/hdpiOffscreenCanvas.ts
  packages/ag-charts-community/src/scene/node.ts
Owners: @alantreadway

AG-11951 - Cleanup & fix sprite rendering corruption.
  packages/ag-charts-community/src/scene/spriteRenderer.ts
Owners: @alantreadway

AG-11951 - Benchmark updates.
  packages/ag-charts-community/benchmarks/largeDataset.test.ts
Owners: @alantreadway

Fix annotation comments to not appear in docs
  packages/ag-charts-types/src/chart/annotationsOptions.ts
Owners: @ag-grid/ag-charts-team

e2e
  packages/ag-charts-community/src/chart/toolbar/toolbar.ts
  packages/ag-charts-website/e2e/toolbar.spec.ts
Owners: @alantreadway, @ag-grid/ag-charts-team

CSS updates
  packages/ag-charts-community/src/chart/dom/theme.css
  packages/ag-charts-enterprise/src/features/popover/popover.css
Owners: @alantreadway

AG-12294 Update icon names and deprecate old ones
  packages/ag-charts-community/src/chart/dom/icons.css
  packages/ag-charts-community/src/chart/toolbar/toolbarModule.ts
  packages/ag-charts-community/src/chart/toolbar/toolbarProperties.ts
  packages/ag-charts-enterprise/src/features/chart-toolbar/chartToolbar.ts
  packages/ag-charts-types/src/chart/toolbarOptions.ts
  packages/ag-charts-website/src/content/docs/financial-charts-test/_examples/icons/index.html
Owners: @alantreadway, @ag-grid/ag-charts-team

AG-12300 Change locked/unlocked button icons to show state not action
  packages/ag-charts-community/src/chart/toolbar/toolbarModule.ts
Owners: @alantreadway

AG-11990 - Only pick non-visible datums for Financial Charts cases.
  packages/ag-charts-community/src/api/preset/priceVolumePreset.ts
  packages/ag-charts-community/src/chart/series/cartesian/cartesianSeries.ts
Owners: @alantreadway

AG-12253 Export annotations with chart download
  packages/ag-charts-community/src/chart/chartProxy.ts
  packages/ag-charts-enterprise/src/features/context-menu/contextMenu.ts
Owners: @alantreadway

AG-12294 Update snapshots
  packages/ag-charts-website/e2e/icons.spec.ts-snapshots/icons-chromium-darwin.png
  packages/ag-charts-website/e2e/toolbar.spec.ts-snapshots/line-annotation-1-button-active-chromium-darwin.png
  packages/ag-charts-website/e2e/toolbar.spec.ts-snapshots/line-annotation-2-drawing-chromium-darwin.png
  packages/ag-charts-website/e2e/toolbar.spec.ts-snapshots/line-annotation-3-complete-chromium-darwin.png
  packages/ag-charts-website/e2e/zoom.spec.ts-snapshots/after-navigator-drag-x-axis-chromium-darwin.png
  packages/ag-charts-website/e2e/zoom.spec.ts-snapshots/after-navigator-drag-y-axis-chromium-darwin.png
  packages/ag-charts-website/e2e/zoom.spec.ts-snapshots/before-navigator-drag-y-axis-chromium-darwin.png
  packages/ag-charts-website/e2e/zoom.spec.ts-snapshots/with-navigator-drag-x-axis-chromium-darwin.png
  packages/ag-charts-website/e2e/zoom.spec.ts-snapshots/with-navigator-drag-y-axis-chromium-darwin.png
Owners: @ag-grid/ag-charts-team

AG-12186 Allow hiding status bar labels for certain series presets
  packages/ag-charts-enterprise/src/features/status-bar/statusBar.ts
  packages/ag-charts-enterprise/src/features/status-bar/statusBarModule.ts
Owners: @alantreadway

AG-12294 Update options snapshots for default icons
  packages/ag-charts-community/src/module/__snapshots__/optionsModule.test.ts.snap
Owners: @alantreadway

lint
  packages/ag-charts-community/src/chart/chartProxy.ts
Owners: @alantreadway

AG-11951 -Fix legend marker update resulting in 0x0 sprite error.
  packages/ag-charts-community/src/scene/spriteRenderer.ts
Owners: @alantreadway

AG-12333 Update font styles
  packages/ag-charts-community/src/chart/dom/theme.css
  packages/ag-charts-community/src/chart/toolbar/toolbarStyles.css
  packages/ag-charts-enterprise/src/features/popover/popover.css
Owners: @alantreadway

Update variables
  packages/ag-charts-community/src/chart/dom/theme.css
  packages/ag-charts-community/src/chart/toolbar/toolbarStyles.css
  packages/ag-charts-enterprise/src/features/popover/popover.css
Owners: @alantreadway

AG-12025 Add backwards compat for button ids
  packages/ag-charts-community/src/chart/toolbar/toolbar.ts
  packages/ag-charts-community/src/chart/toolbar/toolbarProperties.ts
  packages/ag-charts-enterprise/src/features/zoom/zoomToolbar.ts
  packages/ag-charts-website/src/content/docs/toolbar/_examples/toolbar-buttons/main.ts
  packages/ag-charts-website/src/content/docs/toolbar/index.mdoc
Owners: @alantreadway, @ag-grid/ag-charts-team, @rmc-software

Update todos
  packages/ag-charts-community/src/chart/toolbar/toolbar.ts
  packages/ag-charts-community/src/chart/toolbar/toolbarProperties.ts
Owners: @alantreadway

Automated package version bump to 10.0.2-beta.20240721.
  .env
  libraries/ag-charts-test/package.json
  package.json
  packages/ag-charts-angular/package.json
  packages/ag-charts-angular/projects/ag-charts-angular/package.json
  packages/ag-charts-community-examples/package.json
  packages/ag-charts-community/package.json
  packages/ag-charts-community/src/version.ts
  packages/ag-charts-enterprise/package.json
  packages/ag-charts-locale/package.json
  packages/ag-charts-react/package.json
  packages/ag-charts-types/package.json
  packages/ag-charts-vue3/package.json
  packages/ag-charts-website/.env.build
  packages/ag-charts-website/.env.build.archive
  packages/ag-charts-website/.env.build.production
  packages/ag-charts-website/.env.build.staging
  packages/ag-charts-website/.env.dev
  packages/ag-charts-website/.env.preview
  packages/ag-charts-website/.env.preview.production
  packages/ag-charts-website/.env.preview.staging
  packages/ag-charts-website/package.json
  plugins/ag-charts-generate-chart-thumbnail/package.json
  plugins/ag-charts-generate-code-reference-files/package.json
  plugins/ag-charts-generate-example-files/package.json
Owners: @ag-grid/ag-charts-team, @alantreadway

AG-12294 Fix icon type callout-annotation
  packages/ag-charts-types/src/chart/toolbarOptions.ts
Owners: @ag-grid/ag-charts-team

Fix api-state/state-save-restore e2e config.
  packages/ag-charts-website/e2e/examples.spec.ts
Owners: @ag-grid/ag-charts-team

AG-12161 - Fix falsy check and shape width
  packages/ag-charts-enterprise/src/features/annotations/annotations.ts
  packages/ag-charts-enterprise/src/features/annotations/annotationsStateMachine.ts
  packages/ag-charts-enterprise/src/features/annotations/comment/commentScene.ts
  packages/ag-charts-enterprise/src/features/annotations/states/textualState.ts
Owners: @alantreadway

AG-12161 - Initial comment text annotation
  packages/ag-charts-community/src/chart/toolbar/toolbarModule.ts
  packages/ag-charts-community/src/integrated-charts-scene.ts
  packages/ag-charts-community/src/scene/shape/rect.ts
  packages/ag-charts-community/src/scene/util/corner.ts
  packages/ag-charts-enterprise/src/features/annotations/annotationTypes.ts
  packages/ag-charts-enterprise/src/features/annotations/annotationsModule.ts
  packages/ag-charts-enterprise/src/features/annotations/annotationsStateMachine.ts
  packages/ag-charts-enterprise/src/features/annotations/comment/commentProperties.ts
  packages/ag-charts-enterprise/src/features/annotations/comment/commentScene.ts
  packages/ag-charts-enterprise/src/features/annotations/properties/textualProperties.ts
  packages/ag-charts-enterprise/src/features/annotations/scenes/handle.ts
  packages/ag-charts-enterprise/src/features/annotations/scenes/textualScene.ts
  packages/ag-charts-enterprise/src/features/annotations/states/textualState.ts
  packages/ag-charts-types/src/chart/toolbarOptions.ts
Owners: @alantreadway, @ag-grid/ag-charts-team

AG-12161 - Update icon name
  packages/ag-charts-community/src/chart/toolbar/toolbarModule.ts
Owners: @alantreadway

AG-12261 Fix links
  README.md
  packages/ag-charts-angular/README.md
  packages/ag-charts-community/README.md
  packages/ag-charts-enterprise/README.md
  packages/ag-charts-locale/README.md
  packages/ag-charts-react/README.md
  packages/ag-charts-types/README.md
  packages/ag-charts-vue3/README.md
Owners: @ag-grid/ag-charts-team, @alantreadway

AG-12161 - Update community snapshots
  packages/ag-charts-community/src/module/__snapshots__/optionsModule.test.ts.snap
Owners: @alantreadway

AG-12306 - Replace Javascript with JavaScript
  packages/ag-charts-website/src/components/framework-selector/FrameworkSelector.tsx
  packages/ag-charts-website/src/constants.ts
  packages/ag-charts-website/src/features/example-runner/components/CodeOptions.tsx
Owners: @ag-grid/ag-charts-team

Fix e2e test failures.
  packages/ag-charts-website/e2e/examples.spec.ts
Owners: @ag-grid/ag-charts-team

AG-11951 - Fix legend bbox calculation, update snapshots.
  packages/ag-charts-community/src/chart/__image_snapshots__/legend-test-ts-legend-clicking-a-legend-should-hide-the-related-series-1-snap.png
  packages/ag-charts-community/src/chart/__image_snapshots__/legend-test-ts-legend-double-clicking-a-legend-should-hide-all-other-series-except-this-one-1-snap.png
  packages/ag-charts-community/src/chart/__image_snapshots__/legend-test-ts-legend-large-faded-symbols-stroke-width-10-1-snap.png
  packages/ag-charts-community/src/chart/axis/__image_snapshots__/axis-examples-test-ts-axis-examples-no-series-cases-for-area-chart-no-series-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-community/src/chart/axis/__image_snapshots__/axis-examples-test-ts-axis-examples-no-series-cases-for-area-chart-stacked-normalised-no-series-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/area-series-test-ts-area-series-legend-toggle-animation-hide-for-stacked-area-graph-example-should-animate-at-0-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/area-series-test-ts-area-series-legend-toggle-animation-hide-for-stacked-area-graph-example-should-animate-at-100-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/area-series-test-ts-area-series-legend-toggle-animation-hide-for-stacked-area-graph-example-should-animate-at-25-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/area-series-test-ts-area-series-legend-toggle-animation-hide-for-stacked-area-graph-example-should-animate-at-50-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/area-series-test-ts-area-series-legend-toggle-animation-hide-for-stacked-area-graph-example-should-animate-at-75-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/line-series-test-ts-line-series-legend-toggle-animation-hide-should-animate-at-0-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/line-series-test-ts-line-series-legend-toggle-animation-hide-should-animate-at-10-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/line-series-test-ts-line-series-legend-toggle-animation-hide-should-animate-at-100-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/line-series-test-ts-line-series-legend-toggle-animation-hide-should-animate-at-20-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/line-series-test-ts-line-series-legend-toggle-animation-hide-should-animate-at-30-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/line-util-test-ts-line-util-ag-10152-markers-stay-visible-2-snap.png
  packages/ag-charts-community/src/scene/group.ts
  packages/ag-charts-enterprise/src/features/error-bar/__image_snapshots__/error-bar-test-ts-error-bars-should-toggle-visibility-as-expected-1-snap.png
  packages/ag-charts-enterprise/src/features/error-bar/__image_snapshots__/error-bar-test-ts-error-bars-should-toggle-visibility-as-expected-3-snap.png
Owners: @alantreadway

AG-11951 - Update benchmark snapshots.
  packages/ag-charts-community/benchmarks/__image_snapshots__/large-dataset-test-ts-large-dataset-benchmark-after-load-1-x-datum-highlight-1-snap.png
  packages/ag-charts-community/benchmarks/__image_snapshots__/large-dataset-test-ts-large-dataset-benchmark-after-load-1-x-legend-toggle-1-snap.png
  packages/ag-charts-community/benchmarks/__image_snapshots__/large-dataset-test-ts-large-dataset-benchmark-after-load-4-x-datum-highlight-1-snap.png
  packages/ag-charts-community/benchmarks/__image_snapshots__/large-dataset-test-ts-large-dataset-benchmark-initial-load-1-snap.png
  packages/ag-charts-community/benchmarks/__image_snapshots__/multi-series-test-ts-multi-series-benchmark-after-load-10-x-legend-toggle-1-snap.png
Owners: @alantreadway

AG-12142 Update focus indicator on resize
  packages/ag-charts-community/src/chart/keyboardUtil.ts
Owners: @alantreadway

AG-12261 Att UTM codes to links
  README.md
  packages/ag-charts-angular/README.md
  packages/ag-charts-community/README.md
  packages/ag-charts-enterprise/README.md
  packages/ag-charts-locale/README.md
  packages/ag-charts-react/README.md
  packages/ag-charts-types/README.md
  packages/ag-charts-vue3/README.md
Owners: @ag-grid/ag-charts-team, @alantreadway

AG-12142 - Fix stale sector path causing Pie focus box to be incorrect on resize.
  packages/ag-charts-community/src/chart/chart.ts
  packages/ag-charts-community/src/chart/series/seriesAreaFocusManager.ts
  packages/ag-charts-community/src/scene/shape/path.ts
Owners: @alantreadway

AG-12321 - Add regression test for PieSeries nodeClicks.
  packages/ag-charts-community/src/chart/series/polar/pieSeries.test.ts
Owners: @alantreadway

AG-12164 Fix text annotation theme options to include font options
  packages/ag-charts-types/src/chart/annotationsOptions.ts
Owners: @ag-grid/ag-charts-team

AG-12321 - Fix lint error.
  packages/ag-charts-community/src/chart/series/polar/pieSeries.test.ts
Owners: @alantreadway

AG-12350 - Restrict series nodeClick handling to series-area.
  packages/ag-charts-community/src/chart/series/cartesian/areaSeries.test.ts
  packages/ag-charts-community/src/chart/series/seriesAreaClickManager.ts
Owners: @alantreadway
