Repository ag-grid/ag-charts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ag-grid/ag-charts-team, @markdurrant, @taktran, @alantreadway, @rmc-software

lint
  packages/ag-charts-community/src/chart/axis/cartesianAxis.ts
Owners: @alantreadway

fix zIndex
  packages/ag-charts-enterprise/src/features/status-bar/statusBar.ts
  packages/ag-charts-enterprise/src/features/status-bar/statusBarModule.ts
Owners: @alantreadway

Remove unused import
  packages/ag-charts-website/src/features/homepage/components/faqs/Faqs.tsx
Owners: @ag-grid/ag-charts-team

AG-12700 Fix infinite loops
  packages/ag-charts-community/src/util/ticks.ts
Owners: @alantreadway

Automated package version bump to 10.1.0-beta.20240910.
  .env
  libraries/ag-charts-test/package.json
  package.json
  packages/ag-charts-angular/package.json
  packages/ag-charts-angular/projects/ag-charts-angular/package.json
  packages/ag-charts-community-examples/package.json
  packages/ag-charts-community/package.json
  packages/ag-charts-community/src/version.ts
  packages/ag-charts-enterprise/package.json
  packages/ag-charts-locale/package.json
  packages/ag-charts-react/package.json
  packages/ag-charts-types/package.json
  packages/ag-charts-vue3/package.json
  packages/ag-charts-website/.env.build
  packages/ag-charts-website/.env.build.archive
  packages/ag-charts-website/.env.build.production
  packages/ag-charts-website/.env.build.staging
  packages/ag-charts-website/.env.dev
  packages/ag-charts-website/.env.preview
  packages/ag-charts-website/.env.preview.production
  packages/ag-charts-website/.env.preview.staging
  packages/ag-charts-website/package.json
  plugins/ag-charts-generate-chart-thumbnail/package.json
  plugins/ag-charts-generate-code-reference-files/package.json
  plugins/ag-charts-generate-example-files/package.json
Owners: @ag-grid/ag-charts-team, @alantreadway

AG-12640-Update-Homepage (#2424)
  packages/ag-charts-website/src/content/docs/map-lines/_examples/map-shapes-lines/index.html
  packages/ag-charts-website/src/content/docs/map-lines/_examples/map-shapes-lines/londonBoroughData.ts
  packages/ag-charts-website/src/content/docs/map-lines/_examples/map-shapes-lines/londonBoroughTopology.ts
  packages/ag-charts-website/src/content/docs/map-lines/_examples/map-shapes-lines/main.ts
  packages/ag-charts-website/src/content/docs/map-lines/_examples/map-shapes-lines/otherCountiesData.ts
  packages/ag-charts-website/src/content/docs/map-lines/_examples/map-shapes-lines/otherCountiesTopology.ts
  packages/ag-charts-website/src/content/docs/map-lines/_examples/map-shapes-lines/tubeData.ts
  packages/ag-charts-website/src/content/docs/map-lines/_examples/map-shapes-lines/tubeTopology.ts
  packages/ag-charts-website/src/features/homepage/components/IndexDocsExampleRunner.astro
  packages/ag-charts-website/src/features/homepage/components/IndexExampleRunner.tsx
  packages/ag-charts-website/src/features/homepage/components/IndexExampleRunnerContainer.astro
  packages/ag-charts-website/src/features/homepage/components/IndexGalleryExampleRunner.tsx
  packages/ag-charts-website/src/features/homepage/components/faqs/Faqs.tsx
  packages/ag-charts-website/src/pages-styles/homepage.module.scss
  packages/ag-charts-website/src/pages/index.astro
Owners: @ag-grid/ag-charts-team, @taktran, @markdurrant

AG-12486 Fix TC2: Restore index/count legend item label
  packages/ag-charts-community/src/chart/legend.ts
  packages/ag-charts-community/src/dom/proxyInteractionService.ts
  packages/ag-charts-locale/src/en-US.ts
Owners: @alantreadway, @ag-grid/ag-charts-team

AG-NONE Do not set aria-hidden="true" on interactive elements
  packages/ag-charts-community/src/chart/legend.ts
Owners: @alantreadway

AG-12486 Fix TC1: Set correct aria-checked value
  packages/ag-charts-community/src/chart/legend.ts
Owners: @alantreadway

Update .gitrepo parent sha
  external/ag-website-shared/.gitrepo
Owners: @ag-grid/ag-charts-team

Update packages/ag-charts-community/src/util/ticks.ts
  packages/ag-charts-community/src/util/ticks.ts
Owners: @alantreadway

Revise FAQs content
  packages/ag-charts-website/src/features/homepage/components/faqs/Faqs.tsx
  packages/ag-charts-website/src/features/homepage/components/faqs/faqs.json
Owners: @ag-grid/ag-charts-team

Add UTM tracking to homepage CTAs
  packages/ag-charts-website/src/pages/index.astro
Owners: @taktran

AG-12498 Add line/channel styles and extending to dialog
  packages/ag-charts-community/src/chart/toolbar/toolbarModule.ts
  packages/ag-charts-community/src/dom/domStyles.css
  packages/ag-charts-community/src/dom/elements.css
  packages/ag-charts-community/src/dom/elements.ts
  packages/ag-charts-community/src/dom/icons.css
  packages/ag-charts-community/src/dom/theme.css
  packages/ag-charts-community/src/module-support.ts
  packages/ag-charts-community/src/module/__snapshots__/optionsModule.test.ts.snap
  packages/ag-charts-enterprise/src/components/dialog/dialog.css
  packages/ag-charts-enterprise/src/components/dialog/dialog.ts
  packages/ag-charts-enterprise/src/features/annotations/annotations.ts
  packages/ag-charts-enterprise/src/features/annotations/annotationsMenuOptions.ts
  packages/ag-charts-enterprise/src/features/annotations/annotationsStateMachine.ts
  packages/ag-charts-enterprise/src/features/annotations/settings-dialog/settingsDialog.css
  packages/ag-charts-enterprise/src/features/annotations/settings-dialog/settingsDialog.ts
  packages/ag-charts-enterprise/src/features/text-input/textInput.ts
  packages/ag-charts-enterprise/src/features/text-input/textInputStyles.css
  packages/ag-charts-locale/src/en-US.ts
  packages/ag-charts-types/src/chart/icons.ts
  packages/ag-charts-website/e2e/toolbar.spec.ts-snapshots/line-4-complete-chromium-darwin.png
Owners: @alantreadway, @ag-grid/ag-charts-team

fix zIndex
  packages/ag-charts-community/src/chart/layers.ts
  packages/ag-charts-enterprise/src/features/status-bar/statusBar.ts
Owners: @alantreadway

Cleanup dead feature (#2416)
  packages/ag-charts-community/src/chart/layers.ts
  packages/ag-charts-community/src/scene/scene.ts
  packages/ag-charts-community/src/scene/sceneDebug.ts
  packages/ag-charts-enterprise/src/features/status-bar/statusBar.ts
  packages/ag-charts-enterprise/src/features/status-bar/statusBarModule.ts
  packages/ag-charts-website/e2e/financial-charts-showcase.spec.ts-snapshots/zoom-and-hover-on-out-of-y-range-prices-chromium-linux.png
Owners: @alantreadway, @ag-grid/ag-charts-team

Tweak performance FAQ
  packages/ag-charts-website/src/features/homepage/components/faqs/faqs.json
Owners: @ag-grid/ag-charts-team

Fix CI affected E2E count of zero from failing.
  .github/workflows/ci.yml
Owners: @ag-grid/ag-charts-team

AG-12489 - Revert redundant type change.
  packages/ag-charts-community/src/chart/chart.ts
Owners: @alantreadway

restore correct snapshots
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/area-series-test-ts-area-series-legend-toggle-animation-hide-for-stacked-area-graph-example-should-animate-at-25-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/area-series-test-ts-area-series-legend-toggle-animation-hide-for-stacked-area-graph-example-should-animate-at-50-1-snap.png
Owners: @alantreadway

Update packages/ag-charts-website/src/features/homepage/components/faqs/Faqs.tsx
  packages/ag-charts-website/src/features/homepage/components/faqs/Faqs.tsx
Owners: @ag-grid/ag-charts-team

Update packages/ag-charts-website/src/pages/index.astro
  packages/ag-charts-website/src/pages/index.astro
Owners: @taktran

Update packages/ag-charts-website/src/pages/index.astro
  packages/ag-charts-website/src/pages/index.astro
Owners: @taktran

Update packages/ag-charts-website/src/pages/index.astro
  packages/ag-charts-website/src/pages/index.astro
Owners: @taktran

Update packages/ag-charts-website/src/pages/index.astro
  packages/ag-charts-website/src/pages/index.astro
Owners: @taktran

fix area series line animation visibility
  packages/ag-charts-community/src/motion/fromToMotion.ts
Owners: @alantreadway

update fromToMotion.ts jsdocs
  packages/ag-charts-community/src/motion/fromToMotion.ts
Owners: @alantreadway

AG-12805 Implement new charts hero scrolling carousel
  packages/ag-charts-website/public/images/scroller-1.png
  packages/ag-charts-website/public/images/scroller-2.png
  packages/ag-charts-website/public/images/scroller-3.png
  packages/ag-charts-website/public/images/scroller-4.png
  packages/ag-charts-website/public/images/scroller-5.png
  packages/ag-charts-website/public/images/scroller-6.png
  packages/ag-charts-website/public/images/scroller-7.png
  packages/ag-charts-website/public/images/scroller-8.png
  packages/ag-charts-website/src/features/homepage/components/hero/ImageCarousel.scss
  packages/ag-charts-website/src/features/homepage/components/hero/ImageCarousel.tsx
  packages/ag-charts-website/src/pages-styles/homepage.module.scss
  packages/ag-charts-website/src/pages/index.astro
Owners: @ag-grid/ag-charts-team, @markdurrant, @taktran

AG-12114 - Allow copy/pasting annotations
  packages/ag-charts-community/src/util/stateMachine.ts
  packages/ag-charts-enterprise/src/features/annotations/annotations.ts
  packages/ag-charts-enterprise/src/features/annotations/annotationsStateMachine.ts
  packages/ag-charts-enterprise/src/features/annotations/annotationsSuperTypes.ts
  packages/ag-charts-enterprise/src/features/annotations/arrow-down/arrowDownConfig.ts
  packages/ag-charts-enterprise/src/features/annotations/arrow-up/arrowUpConfig.ts
  packages/ag-charts-enterprise/src/features/annotations/callout/calloutConfig.ts
  packages/ag-charts-enterprise/src/features/annotations/comment/commentConfig.ts
  packages/ag-charts-enterprise/src/features/annotations/cross-line/crossLineConfig.ts
  packages/ag-charts-enterprise/src/features/annotations/cross-line/crossLineScene.ts
  packages/ag-charts-enterprise/src/features/annotations/disjoint-channel/disjointChannelConfig.ts
  packages/ag-charts-enterprise/src/features/annotations/disjoint-channel/disjointChannelScene.ts
  packages/ag-charts-enterprise/src/features/annotations/line/lineConfig.ts
  packages/ag-charts-enterprise/src/features/annotations/note/noteConfig.ts
  packages/ag-charts-enterprise/src/features/annotations/parallel-channel/parallelChannelConfig.ts
  packages/ag-charts-enterprise/src/features/annotations/parallel-channel/parallelChannelScene.ts
  packages/ag-charts-enterprise/src/features/annotations/scenes/linearScene.ts
  packages/ag-charts-enterprise/src/features/annotations/scenes/pointScene.ts
  packages/ag-charts-enterprise/src/features/annotations/scenes/textualPointScene.ts
  packages/ag-charts-enterprise/src/features/annotations/text/textConfig.ts
Owners: @alantreadway

AG-12114 - Add snapshot tests
  packages/ag-charts-website/e2e/toolbar.spec.ts
  packages/ag-charts-website/e2e/toolbar.spec.ts-snapshots/line-7-copy-chromium-darwin.png
  packages/ag-charts-website/e2e/toolbar.spec.ts-snapshots/line-8-paste-chromium-darwin.png
Owners: @ag-grid/ag-charts-team

Initial draft of linear gauge docs
  packages/ag-charts-website/src/content/docs/linear-gauge/_examples/angles/index.html
  packages/ag-charts-website/src/content/docs/linear-gauge/_examples/angles/main.ts
  packages/ag-charts-website/src/content/docs/linear-gauge/_examples/appearance/index.html
  packages/ag-charts-website/src/content/docs/linear-gauge/_examples/appearance/main.ts
  packages/ag-charts-website/src/content/docs/linear-gauge/_examples/bullet/index.html
  packages/ag-charts-website/src/content/docs/linear-gauge/_examples/bullet/main.ts
  packages/ag-charts-website/src/content/docs/linear-gauge/_examples/color-scales/index.html
  packages/ag-charts-website/src/content/docs/linear-gauge/_examples/color-scales/main.ts
  packages/ag-charts-website/src/content/docs/linear-gauge/_examples/corner-radius/index.html
  packages/ag-charts-website/src/content/docs/linear-gauge/_examples/corner-radius/main.ts
  packages/ag-charts-website/src/content/docs/linear-gauge/_examples/custom-targets/index.html
  packages/ag-charts-website/src/content/docs/linear-gauge/_examples/custom-targets/main.ts
  packages/ag-charts-website/src/content/docs/linear-gauge/_examples/horizontal-linear-gauge/index.html
  packages/ag-charts-website/src/content/docs/linear-gauge/_examples/horizontal-linear-gauge/main.ts
  packages/ag-charts-website/src/content/docs/linear-gauge/_examples/labels/index.html
  packages/ag-charts-website/src/content/docs/linear-gauge/_examples/labels/main.ts
  packages/ag-charts-website/src/content/docs/linear-gauge/_examples/scale-values/index.html
  packages/ag-charts-website/src/content/docs/linear-gauge/_examples/scale-values/main.ts
  packages/ag-charts-website/src/content/docs/linear-gauge/_examples/simple-linear-gauge/index.html
  packages/ag-charts-website/src/content/docs/linear-gauge/_examples/simple-linear-gauge/main.ts
  packages/ag-charts-website/src/content/docs/linear-gauge/_examples/targets/index.html
  packages/ag-charts-website/src/content/docs/linear-gauge/_examples/targets/main.ts
  packages/ag-charts-website/src/content/docs/linear-gauge/_examples/thickness/index.html
  packages/ag-charts-website/src/content/docs/linear-gauge/_examples/thickness/main.ts
  packages/ag-charts-website/src/content/docs/linear-gauge/index.mdoc
  packages/ag-charts-website/src/content/menu/data.json
Owners: @ag-grid/ag-charts-team, @rmc-software

Initial draft of linear gauge docs
  packages/ag-charts-website/src/content/docs/linear-gauge/_examples/angles/index.html
  packages/ag-charts-website/src/content/docs/linear-gauge/_examples/angles/main.ts
Owners: @ag-grid/ag-charts-team

Fix thumbnail generation.
  packages/ag-charts-community/src/chart/interaction/animationManager.ts
  packages/ag-charts-community/src/chart/toolbar/toolbar.ts
  packages/ag-charts-community/src/util/render.ts
  packages/ag-charts-enterprise/src/components/dialog/dialog.ts
  packages/ag-charts-enterprise/src/components/popover/anchoredPopover.ts
  packages/ag-charts-enterprise/src/features/zoom/zoomPanner.ts
  plugins/ag-charts-generate-chart-thumbnail/src/executors/generate/generator/thumbnailGenerator.ts
Owners: @alantreadway, @ag-grid/ag-charts-team

AG-12805 - Adjust gradient
  packages/ag-charts-website/src/features/homepage/components/hero/ImageCarousel.scss
Owners: @markdurrant

AG-12640 Update Homepage Copy (#2426)
  packages/ag-charts-website/src/features/homepage/components/faqs/Faqs.tsx
  packages/ag-charts-website/src/features/homepage/components/faqs/faqs.json
  packages/ag-charts-website/src/pages/index.astro
Owners: @ag-grid/ag-charts-team, @taktran

small example updates
  packages/ag-charts-website/src/content/docs/bubble-series/_examples/bubble-chart-labels/main.ts
  packages/ag-charts-website/src/content/docs/legend/_examples/legend-customisation/main.ts
  packages/ag-charts-website/src/content/docs/legend/index.mdoc
  packages/ag-charts-website/src/content/docs/scatter-series/_examples/scatter-chart-labels/main.ts
Owners: @ag-grid/ag-charts-team, @rmc-software

AG-12640 - Footer vertical spacing
  packages/ag-charts-website/src/pages-styles/homepage.module.scss
Owners: @markdurrant

AG-12640 - Refactor hero header for SEO
  packages/ag-charts-website/src/pages-styles/homepage.module.scss
  packages/ag-charts-website/src/pages/index.astro
Owners: @markdurrant, @taktran

AG-12640 - Reduce maps examples heights
  packages/ag-charts-website/src/pages-styles/homepage.module.scss
  packages/ag-charts-website/src/pages/index.astro
Owners: @markdurrant, @taktran

AG-12640 - Split headers onto two lines for larger devices
  packages/ag-charts-website/src/pages-styles/homepage.module.scss
  packages/ag-charts-website/src/pages/index.astro
Owners: @markdurrant, @taktran

.github/CODEOWNERS:

# NOTE: Order of entries matters - later entries have higher precedence.

# Attribute code-owners so default reviewers are assigned to PRs.
* @ag-grid/ag-charts-team

# Astro + website changes to be reviewed by website team.
*.scss @markdurrant
*.astro @taktran
/packages/ag-charts-website/astro/** @taktran
/packages/ag-charts-website/components/** @taktran
/packages/ag-charts-website/features/** @taktran
/packages/ag-charts-website/layouts/** @taktran
/packages/ag-charts-website/stores/** @taktran
/packages/ag-charts-website/utils/** @taktran

# Docs updates to be reviewed by Eng VP.
/packages/ag-charts-website/content/** @alantreadway @rmc-software
*.mdoc @rmc-software

# Charts library code to be reviewed by Chart TL.
/packages/ag-charts-community/** @alantreadway
/packages/ag-charts-enterprise/** @alantreadway

# Sensitive build/repo files to be reviewed by Chart TL.
**/package.json @alantreadway
nx.json @alantreadway
**/project.json @alantreadway
**/tsconfig.json @alantreadway
**/tsconfig.*.json @alantreadway
