Repository ag-grid/ag-charts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ag-grid/ag-charts-team, @markdurrant, @taktran, @alantreadway, @rmc-software

Revert "AG-13165 - Fix crossline add regression after AG-13168."
  packages/ag-charts-community/src/chart/interaction/regionManager.ts
Owners: @alantreadway

AG-13165 - Fix crossline add regression after AG-13168.
  packages/ag-charts-community/src/chart/interaction/regionManager.ts
Owners: @alantreadway

Lint
  packages/ag-charts-community/src/scene/group.ts
  packages/ag-charts-community/src/scene/image.ts
  packages/ag-charts-community/src/scene/layersManager.ts
  packages/ag-charts-community/src/scene/node.ts
  packages/ag-charts-community/src/scene/scene.ts
  packages/ag-charts-community/src/scene/shape/text.ts
Owners: @alantreadway

lint
  packages/ag-charts-community/src/chart/series/cartesian/lineSeries.test.ts
Owners: @alantreadway

AG-13051 Update dataSources snapshots and delay after clickAction
  packages/ag-charts-enterprise/src/features/data-source/__image_snapshots__/data-source-test-ts-data-source-should-clip-asynchronous-data-outside-domain-1-snap.png
  packages/ag-charts-enterprise/src/features/data-source/__image_snapshots__/data-source-test-ts-data-source-should-load-data-asynchronously-1-snap.png
  packages/ag-charts-enterprise/src/features/data-source/__image_snapshots__/data-source-test-ts-data-source-with-window-should-change-the-window-after-a-change-in-zoom-1-snap.png
  packages/ag-charts-enterprise/src/features/data-source/dataSource.test.ts
Owners: @alantreadway

AG-13051 Clear tooltip/highlight on series area clicks
  packages/ag-charts-community/src/chart/series/seriesAreaManager.ts
  packages/ag-charts-website/e2e/keyboard-nav.spec.ts
  packages/ag-charts-website/e2e/keyboard-nav.spec.ts-snapshots/nofocus-nohighlight-chromium-linux.png
Owners: @alantreadway, @ag-grid/ag-charts-team

AG-13051 Update snapshots
  packages/ag-charts-enterprise/src/features/__image_snapshots__/features-test-ts-feature-combinations-navigator-and-zoom-should-init-with-navigator-min-max-1-snap.png
  packages/ag-charts-enterprise/src/features/__image_snapshots__/features-test-ts-feature-combinations-navigator-and-zoom-should-init-with-zoom-ratio-1-snap.png
  packages/ag-charts-enterprise/src/features/__image_snapshots__/features-test-ts-feature-combinations-navigator-and-zoom-should-prioritise-zoom-range-over-navigator-min-max-1-snap.png
  packages/ag-charts-enterprise/src/features/__image_snapshots__/features-test-ts-feature-combinations-navigator-and-zoom-should-prioritise-zoom-ratio-over-navigator-min-max-1-snap.png
  packages/ag-charts-enterprise/src/features/data-source/__image_snapshots__/data-source-test-ts-data-source-with-window-should-load-a-window-at-the-end-1-snap.png
  packages/ag-charts-enterprise/src/features/data-source/__image_snapshots__/data-source-test-ts-data-source-with-window-should-load-a-window-in-the-middle-1-snap.png
  packages/ag-charts-enterprise/src/features/zoom/__image_snapshots__/zoom-test-ts-zoom-range-should-extend-the-range-to-the-end-1-snap.png
  packages/ag-charts-enterprise/src/features/zoom/__image_snapshots__/zoom-test-ts-zoom-range-should-extend-the-range-to-the-start-1-snap.png
  packages/ag-charts-enterprise/src/features/zoom/__image_snapshots__/zoom-test-ts-zoom-range-should-start-with-the-given-range-1-snap.png
  packages/ag-charts-enterprise/src/features/zoom/__image_snapshots__/zoom-test-ts-zoom-ratio-should-start-at-the-given-zoom-1-snap.png
Owners: @alantreadway

Use OffscreenCanvas for offscreen canvases
  packages/ag-charts-community/src/scene/canvas/canvasUtil.ts
  packages/ag-charts-community/src/scene/canvas/hdpiCanvas.ts
  packages/ag-charts-community/src/scene/canvas/hdpiOffscreenCanvas.ts
  packages/ag-charts-community/src/scene/group.ts
  packages/ag-charts-community/src/scene/layersManager.ts
Owners: @alantreadway

AG-13051 Turn off crosshairs and highlight-styling in dataSource.test.ts
  packages/ag-charts-enterprise/src/features/data-source/__image_snapshots__/data-source-test-ts-data-source-should-clip-asynchronous-data-outside-domain-1-snap.png
  packages/ag-charts-enterprise/src/features/data-source/__image_snapshots__/data-source-test-ts-data-source-should-load-data-asynchronously-1-snap.png
  packages/ag-charts-enterprise/src/features/data-source/__image_snapshots__/data-source-test-ts-data-source-with-window-should-change-the-window-after-a-change-in-zoom-1-snap.png
  packages/ag-charts-enterprise/src/features/data-source/__image_snapshots__/data-source-test-ts-data-source-with-window-should-load-a-window-at-the-end-1-snap.png
  packages/ag-charts-enterprise/src/features/data-source/__image_snapshots__/data-source-test-ts-data-source-with-window-should-load-a-window-in-the-middle-1-snap.png
  packages/ag-charts-enterprise/src/features/data-source/dataSource.test.ts
Owners: @alantreadway

AG-13051 Use tooltip.range instead of theme.override
  packages/ag-charts-enterprise/src/features/data-source/dataSource.test.ts
Owners: @alantreadway

AG-12631 - Retain docs nav scroll position when changing pages
  external/ag-website-shared/src/components/docs-navigation/DocsNav.tsx
  packages/ag-charts-website/src/pages/[framework]/[pageName].astro
Owners: @ag-grid/ag-charts-team, @taktran

AG-12631 - Retain docs nav scroll position when changing pages (#2761)
  external/ag-website-shared/src/components/docs-navigation/DocsNav.tsx
  packages/ag-charts-website/src/pages/[framework]/[pageName].astro
Owners: @ag-grid/ag-charts-team, @taktran

Fix tests
  packages/ag-charts-community/src/chart/legend.ts
  packages/ag-charts-community/src/chart/marker/marker.ts
  packages/ag-charts-community/src/chart/navigator/shapes/rangeHandle.ts
  packages/ag-charts-community/src/scene/group.ts
  packages/ag-charts-community/src/scene/matrix.ts
  packages/ag-charts-community/src/scene/shape/path.ts
  packages/ag-charts-community/src/scene/spriteRenderer.ts
  packages/ag-charts-community/src/scene/transformable.ts
Owners: @alantreadway

AG-3390 - API refrenence: change chevron direction when type expanded
  external/ag-website-shared/src/components/reference-documentation/ApiReference.module.scss
Owners: @markdurrant

AG-13145 Add typing to state machine event data
  packages/ag-charts-community/src/chart/axis/axis.ts
  packages/ag-charts-community/src/chart/series/cartesian/cartesianSeries.ts
  packages/ag-charts-community/src/chart/series/hierarchy/hierarchySeries.ts
  packages/ag-charts-community/src/chart/series/polar/polarSeries.ts
  packages/ag-charts-community/src/util/stateMachine.test.ts
  packages/ag-charts-community/src/util/stateMachine.ts
  packages/ag-charts-enterprise/src/features/annotations/annotations.ts
  packages/ag-charts-enterprise/src/features/annotations/annotationsStateMachine.ts
  packages/ag-charts-enterprise/src/features/annotations/cross-line/crossLineState.ts
  packages/ag-charts-enterprise/src/features/annotations/disjoint-channel/disjointChannelState.ts
  packages/ag-charts-enterprise/src/features/annotations/line/lineState.ts
  packages/ag-charts-enterprise/src/features/annotations/measurer/measurerState.ts
  packages/ag-charts-enterprise/src/features/annotations/parallel-channel/parallelChannelState.ts
  packages/ag-charts-enterprise/src/features/annotations/states/dragState.ts
  packages/ag-charts-enterprise/src/features/annotations/states/pointState.ts
  packages/ag-charts-enterprise/src/features/annotations/states/stateTypes.ts
  packages/ag-charts-enterprise/src/features/annotations/states/textualPointState.ts
  packages/ag-charts-enterprise/src/features/annotations/states/textualStartEndState.ts
  packages/ag-charts-enterprise/src/series/linear-gauge/linearGaugeSeries.ts
  packages/ag-charts-enterprise/src/series/map-marker/mapMarkerSeries.ts
  packages/ag-charts-enterprise/src/series/radial-gauge/radialGaugeSeries.ts
Owners: @alantreadway

Update all translations
  packages/ag-charts-locale/src/ar-EG.ts
  packages/ag-charts-locale/src/bg-BG.ts
  packages/ag-charts-locale/src/cs-CZ.ts
  packages/ag-charts-locale/src/da-DK.ts
  packages/ag-charts-locale/src/de-DE.ts
  packages/ag-charts-locale/src/el-GR.ts
  packages/ag-charts-locale/src/es-ES.ts
  packages/ag-charts-locale/src/fa-IR.ts
  packages/ag-charts-locale/src/fi-FI.ts
  packages/ag-charts-locale/src/fr-FR.ts
  packages/ag-charts-locale/src/he-IL.ts
  packages/ag-charts-locale/src/hr-HR.ts
  packages/ag-charts-locale/src/hu-HU.ts
  packages/ag-charts-locale/src/it-IT.ts
  packages/ag-charts-locale/src/ja-JP.ts
  packages/ag-charts-locale/src/ko-KR.ts
  packages/ag-charts-locale/src/nb-NO.ts
  packages/ag-charts-locale/src/nl-NL.ts
  packages/ag-charts-locale/src/pl-PL.ts
  packages/ag-charts-locale/src/pt-BR.ts
  packages/ag-charts-locale/src/pt-PT.ts
  packages/ag-charts-locale/src/ro-RO.ts
  packages/ag-charts-locale/src/sk-SK.ts
  packages/ag-charts-locale/src/sv-SE.ts
  packages/ag-charts-locale/src/tr-TR.ts
  packages/ag-charts-locale/src/uk-UA.ts
  packages/ag-charts-locale/src/ur-PK.ts
  packages/ag-charts-locale/src/vi-VN.ts
  packages/ag-charts-locale/src/zh-CN.ts
  packages/ag-charts-locale/src/zh-HK.ts
  packages/ag-charts-locale/src/zh-TW.ts
Owners: @ag-grid/ag-charts-team

AG-13051 Dispatch mousemouse event in click/dblclick event tests
  packages/ag-charts-community/src/chart/test/utils.ts
Owners: @alantreadway

Fix tests
  libraries/ag-charts-test/src/canvas/mock-canvas.ts
  packages/ag-charts-community/src/chart/legend.ts
  packages/ag-charts-community/src/chart/marker/marker.ts
  packages/ag-charts-community/src/scene/matrix.ts
  packages/ag-charts-community/src/scene/shape/path.ts
  packages/ag-charts-community/src/scene/transformable.ts
Owners: @ag-grid/ag-charts-team, @alantreadway

Fix formatting
  packages/ag-charts-locale/src/ar-EG.ts
  packages/ag-charts-locale/src/bg-BG.ts
  packages/ag-charts-locale/src/cs-CZ.ts
  packages/ag-charts-locale/src/da-DK.ts
  packages/ag-charts-locale/src/de-DE.ts
  packages/ag-charts-locale/src/el-GR.ts
  packages/ag-charts-locale/src/es-ES.ts
  packages/ag-charts-locale/src/fa-IR.ts
  packages/ag-charts-locale/src/fi-FI.ts
  packages/ag-charts-locale/src/fr-FR.ts
  packages/ag-charts-locale/src/he-IL.ts
  packages/ag-charts-locale/src/hr-HR.ts
  packages/ag-charts-locale/src/hu-HU.ts
  packages/ag-charts-locale/src/it-IT.ts
  packages/ag-charts-locale/src/ja-JP.ts
  packages/ag-charts-locale/src/ko-KR.ts
  packages/ag-charts-locale/src/nb-NO.ts
  packages/ag-charts-locale/src/nl-NL.ts
  packages/ag-charts-locale/src/pl-PL.ts
  packages/ag-charts-locale/src/pt-BR.ts
  packages/ag-charts-locale/src/pt-PT.ts
  packages/ag-charts-locale/src/ro-RO.ts
  packages/ag-charts-locale/src/sk-SK.ts
  packages/ag-charts-locale/src/sv-SE.ts
  packages/ag-charts-locale/src/tr-TR.ts
  packages/ag-charts-locale/src/uk-UA.ts
  packages/ag-charts-locale/src/ur-PK.ts
  packages/ag-charts-locale/src/vi-VN.ts
  packages/ag-charts-locale/src/zh-CN.ts
  packages/ag-charts-locale/src/zh-HK.ts
  packages/ag-charts-locale/src/zh-TW.ts
Owners: @ag-grid/ag-charts-team

Add ability to write scene graph to disk.
  packages/ag-charts-community/src/scene/scene.ts
  packages/ag-charts-community/src/scene/sceneDebug.ts
Owners: @alantreadway

snapshots
  packages/ag-charts-community/benchmarks/__image_snapshots__/resize-test-ts-resize-benchmark-after-load-10-x-resize-1-snap.png
Owners: @alantreadway

Update locale translations for 10.3 (#2763)
  packages/ag-charts-locale/src/ar-EG.ts
  packages/ag-charts-locale/src/bg-BG.ts
  packages/ag-charts-locale/src/cs-CZ.ts
  packages/ag-charts-locale/src/da-DK.ts
  packages/ag-charts-locale/src/de-DE.ts
  packages/ag-charts-locale/src/el-GR.ts
  packages/ag-charts-locale/src/es-ES.ts
  packages/ag-charts-locale/src/fa-IR.ts
  packages/ag-charts-locale/src/fi-FI.ts
  packages/ag-charts-locale/src/fr-FR.ts
  packages/ag-charts-locale/src/he-IL.ts
  packages/ag-charts-locale/src/hr-HR.ts
  packages/ag-charts-locale/src/hu-HU.ts
  packages/ag-charts-locale/src/it-IT.ts
  packages/ag-charts-locale/src/ja-JP.ts
  packages/ag-charts-locale/src/ko-KR.ts
  packages/ag-charts-locale/src/nb-NO.ts
  packages/ag-charts-locale/src/nl-NL.ts
  packages/ag-charts-locale/src/pl-PL.ts
  packages/ag-charts-locale/src/pt-BR.ts
  packages/ag-charts-locale/src/pt-PT.ts
  packages/ag-charts-locale/src/ro-RO.ts
  packages/ag-charts-locale/src/sk-SK.ts
  packages/ag-charts-locale/src/sv-SE.ts
  packages/ag-charts-locale/src/tr-TR.ts
  packages/ag-charts-locale/src/uk-UA.ts
  packages/ag-charts-locale/src/ur-PK.ts
  packages/ag-charts-locale/src/vi-VN.ts
  packages/ag-charts-locale/src/zh-CN.ts
  packages/ag-charts-locale/src/zh-HK.ts
  packages/ag-charts-locale/src/zh-TW.ts
Owners: @ag-grid/ag-charts-team

AG-13110 Add untested ZoomManager.panToBBox
  packages/ag-charts-community/src/chart/interaction/zoomManager.ts
  packages/ag-charts-community/src/scene/bbox.ts
Owners: @alantreadway

AG-13110 Fix import
  packages/ag-charts-community/src/chart/interaction/zoomManager.ts
Owners: @alantreadway

Apply suggestions from code review
  packages/ag-charts-community/src/chart/interaction/zoomManager.ts
  packages/ag-charts-community/src/chart/keyboardUtil.ts
  packages/ag-charts-community/src/util/panToBBox.ts
Owners: @alantreadway

AG-13110 Initial (flimsy) panToBBox implementation
  packages/ag-charts-community/src/chart/interaction/zoomManager.ts
  packages/ag-charts-community/src/chart/keyboardUtil.ts
  packages/ag-charts-community/src/chart/series/seriesAreaManager.ts
Owners: @alantreadway

AG-13110 Move calcPanToBBox to src/util/
  packages/ag-charts-community/src/chart/interaction/zoomManager.ts
  packages/ag-charts-community/src/util/panToBBox.ts
Owners: @alantreadway

Apply suggestions from code review to panToBBox.ts
  packages/ag-charts-community/src/util/panToBBox.ts
Owners: @alantreadway

nx format
  packages/ag-charts-community/src/chart/interaction/zoomManager.ts
Owners: @alantreadway

AG-13110 CR: Allow panToBBox to work with zoom disabled on 1 axis
  packages/ag-charts-community/src/chart/interaction/zoomManager.ts
  packages/ag-charts-community/src/util/panToBBox.ts
Owners: @alantreadway

AG-13110 Only call panToBBox for kbd-users (isFocusVisible)
  packages/ag-charts-community/src/chart/series/seriesAreaManager.ts
Owners: @alantreadway

Fix homepage examples
  packages/ag-charts-website/src/features/homepage/components/HomepageGalleryExamples.module.scss
Owners: @markdurrant

AG-13166 Fix the '+' key processing
  packages/ag-charts-community/src/chart/interaction/keyNavManager.ts
Owners: @alantreadway

Update benchmarks.
  packages/ag-charts-website/src/content/docs/benchmarks/_examples/summary/data.ts
Owners: @ag-grid/ag-charts-team

AG-13166 Do not always show focus indicator on -/+ key presses
  packages/ag-charts-community/src/chart/interaction/keyNavManager.ts
Owners: @alantreadway

AG-13166 Add e2e test for +/- keys
  packages/ag-charts-website/e2e/zoom.spec.ts
  packages/ag-charts-website/e2e/zoom.spec.ts-snapshots/zoom-minuskey-focus-visible-chromium-linux.png
  packages/ag-charts-website/e2e/zoom.spec.ts-snapshots/zoom-minuskey-no-focus-visible-chromium-linux.png
  packages/ag-charts-website/e2e/zoom.spec.ts-snapshots/zoom-pluskey-focus-visible-chromium-linux.png
  packages/ag-charts-website/e2e/zoom.spec.ts-snapshots/zoom-pluskey-no-focus-visible-chromium-linux.png
Owners: @ag-grid/ag-charts-team

nx format
  packages/ag-charts-website/e2e/zoom.spec.ts
Owners: @ag-grid/ag-charts-team

AG-13181 - Update funnel/cone-funnel gallery examples
  packages/ag-charts-website/src/content/gallery/_examples/customised-funnel/data.ts
  packages/ag-charts-website/src/content/gallery/_examples/customised-funnel/main.ts
  packages/ag-charts-website/src/content/gallery/_examples/simple-cone-funnel/data.ts
  packages/ag-charts-website/src/content/gallery/_examples/simple-cone-funnel/main.ts
  packages/ag-charts-website/src/content/gallery/_examples/simple-funnel/data.ts
  packages/ag-charts-website/src/content/gallery/_examples/simple-funnel/main.ts
Owners: @ag-grid/ag-charts-team

AG-13108 - Fix types
  packages/ag-charts-website/src/content/gallery/_examples/customised-funnel/main.ts
Owners: @ag-grid/ag-charts-team

AG-3390 - Revert previous examples height changes
  packages/ag-charts-website/src/features/example-runner/components/ExampleRunner.module.scss
  packages/ag-charts-website/src/features/example-runner/components/ExampleRunner.tsx
  packages/ag-charts-website/src/features/example-runner/components/ExampleRunnerContainer.astro
Owners: @markdurrant, @ag-grid/ag-charts-team, @taktran

.github/CODEOWNERS:

# NOTE: Order of entries matters - later entries have higher precedence.

# Attribute code-owners so default reviewers are assigned to PRs.
* @ag-grid/ag-charts-team

# Astro + website changes to be reviewed by website team.
*.scss @markdurrant
*.astro @taktran
/packages/ag-charts-website/astro/** @taktran
/packages/ag-charts-website/components/** @taktran
/packages/ag-charts-website/features/** @taktran
/packages/ag-charts-website/layouts/** @taktran
/packages/ag-charts-website/stores/** @taktran
/packages/ag-charts-website/utils/** @taktran

# Docs updates to be reviewed by Eng VP.
/packages/ag-charts-website/content/** @alantreadway @rmc-software
*.mdoc @rmc-software

# Charts library code to be reviewed by Chart TL.
/packages/ag-charts-community/** @alantreadway
/packages/ag-charts-enterprise/** @alantreadway

# Sensitive build/repo files to be reviewed by Chart TL.
**/package.json @alantreadway
nx.json @alantreadway
**/project.json @alantreadway
**/tsconfig.json @alantreadway
**/tsconfig.*.json @alantreadway
