Repository ag-grid/ag-charts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ag-grid/ag-charts-team, @markdurrant, @taktran, @alantreadway, @rmc-software

.github/CODEOWNERS:

# NOTE: Order of entries matters - later entries have higher precedence.

# Attribute code-owners so default reviewers are assigned to PRs.
* @ag-grid/ag-charts-team

# Astro + website changes to be reviewed by website team.
*.scss @markdurrant
*.astro @taktran
/packages/ag-charts-website/astro/** @taktran
/packages/ag-charts-website/components/** @taktran
/packages/ag-charts-website/features/** @taktran
/packages/ag-charts-website/layouts/** @taktran
/packages/ag-charts-website/stores/** @taktran
/packages/ag-charts-website/utils/** @taktran

# Docs updates to be reviewed by Eng VP.
/packages/ag-charts-website/content/** @alantreadway @rmc-software
*.mdoc @rmc-software

# Charts library code to be reviewed by Chart TL.
/packages/ag-charts-community/** @alantreadway
/packages/ag-charts-enterprise/** @alantreadway

# Sensitive build/repo files to be reviewed by Chart TL.
**/package.json @alantreadway
nx.json @alantreadway
**/project.json @alantreadway
**/tsconfig.json @alantreadway
**/tsconfig.*.json @alantreadway

add dropdown menu to cta
  packages/ag-charts-website/src/features/homepage/components/ctas/DropdownButton.module.scss
  packages/ag-charts-website/src/features/homepage/components/ctas/DropdownButton.tsx
  packages/ag-charts-website/src/pages/index.astro
Owners: @markdurrant, @ag-grid/ag-charts-team, @taktran

AG-12489 Ensure styles are added before initialising modules
  packages/ag-charts-community/src/api/agCharts.ts
  packages/ag-charts-community/src/chart/chart.ts
  packages/ag-charts-community/src/chart/toolbar/toolbar.ts
Owners: @alantreadway

AG-12568 - Remove event listener already captured on window from toolbar element
  packages/ag-charts-community/src/chart/toolbar/toolbar.ts
Owners: @alantreadway

AG-12563 - Fix menu pop over styles
  packages/ag-charts-enterprise/src/components/menu/menu.css
  packages/ag-charts-enterprise/src/features/annotations/toolbar.css
Owners: @alantreadway

content& styling updates
  packages/ag-charts-website/src/features/homepage/components/IndexDocsExampleRunner.tsx
  packages/ag-charts-website/src/features/homepage/components/IndexGalleryExampleRunner.module.scss
  packages/ag-charts-website/src/features/homepage/components/IndexGalleryExampleRunner.tsx
  packages/ag-charts-website/src/features/homepage/components/ctas/DropdownButton.module.scss
  packages/ag-charts-website/src/features/homepage/components/ctas/DropdownButton.tsx
  packages/ag-charts-website/src/pages-styles/homepage.module.scss
  packages/ag-charts-website/src/pages/index.astro
Owners: @ag-grid/ag-charts-team, @markdurrant, @taktran

AG-12563 - Add lineStyle to options
  packages/ag-charts-community/src/chart/toolbar/toolbarModule.ts
  packages/ag-charts-enterprise/src/features/annotations/annotationProperties.ts
  packages/ag-charts-enterprise/src/features/annotations/annotationTypes.ts
  packages/ag-charts-enterprise/src/features/annotations/annotations.ts
  packages/ag-charts-locale/src/en-US.ts
  packages/ag-charts-types/src/chart/annotationsOptions.ts
Owners: @alantreadway, @ag-grid/ag-charts-team

AG-12563 - Apply lineStyle on restore
  packages/ag-charts-enterprise/src/features/annotations/cross-line/crossLineProperties.ts
  packages/ag-charts-enterprise/src/features/annotations/cross-line/crossLineScene.ts
  packages/ag-charts-enterprise/src/features/annotations/disjoint-channel/disjointChannelProperties.ts
  packages/ag-charts-enterprise/src/features/annotations/disjoint-channel/disjointChannelScene.ts
  packages/ag-charts-enterprise/src/features/annotations/line/lineProperties.ts
  packages/ag-charts-enterprise/src/features/annotations/line/lineScene.ts
  packages/ag-charts-enterprise/src/features/annotations/parallel-channel/parallelChannelProperties.ts
  packages/ag-charts-enterprise/src/features/annotations/parallel-channel/parallelChannelScene.ts
  packages/ag-charts-enterprise/src/features/annotations/utils/has.ts
  packages/ag-charts-enterprise/src/features/annotations/utils/styles.ts
Owners: @alantreadway

AG-12563 - Update snapshots
  packages/ag-charts-community/src/module/__snapshots__/optionsModule.test.ts.snap
Owners: @alantreadway

AG-12563 - Fix circular dependencies
  packages/ag-charts-enterprise/src/features/annotations/cross-line/crossLineProperties.ts
  packages/ag-charts-enterprise/src/features/annotations/disjoint-channel/disjointChannelProperties.ts
  packages/ag-charts-enterprise/src/features/annotations/line/lineProperties.ts
  packages/ag-charts-enterprise/src/features/annotations/parallel-channel/parallelChannelProperties.ts
  packages/ag-charts-enterprise/src/features/annotations/properties/util.ts
  packages/ag-charts-enterprise/src/features/annotations/utils/styles.ts
Owners: @alantreadway

fix example (hack)
  packages/ag-charts-website/src/pages-styles/homepage.module.scss
  packages/ag-charts-website/src/pages/index.astro
Owners: @markdurrant, @taktran

Reword sections
  packages/ag-charts-website/src/pages-styles/homepage.module.scss
  packages/ag-charts-website/src/pages/index.astro
Owners: @markdurrant, @taktran

content updates
  packages/ag-charts-website/src/pages/index.astro
Owners: @taktran

AG-12700 Fix decimal place calculation
  packages/ag-charts-community/src/chart/axis/axis.ts
  packages/ag-charts-community/src/chart/axis/axisTicks.ts
  packages/ag-charts-community/src/util/number.test.ts
  packages/ag-charts-community/src/util/number.ts
  packages/ag-charts-community/src/util/ticks.ts
Owners: @alantreadway

content updates
  packages/ag-charts-website/src/pages/index.astro
Owners: @taktran

styling
  packages/ag-charts-website/src/pages-styles/homepage.module.scss
  packages/ag-charts-website/src/pages/index.astro
Owners: @markdurrant, @taktran

lint
  packages/ag-charts-community/src/util/ticks.ts
Owners: @alantreadway

AG-12563 - Move util file
  packages/ag-charts-enterprise/src/features/annotations/cross-line/crossLineProperties.ts
  packages/ag-charts-enterprise/src/features/annotations/disjoint-channel/disjointChannelProperties.ts
  packages/ag-charts-enterprise/src/features/annotations/line/lineProperties.ts
  packages/ag-charts-enterprise/src/features/annotations/parallel-channel/parallelChannelProperties.ts
  packages/ag-charts-enterprise/src/features/annotations/utils/line.ts
  packages/ag-charts-enterprise/src/features/annotations/utils/styles.ts
  packages/ag-charts-types/src/chart/annotationsOptions.ts
Owners: @alantreadway, @ag-grid/ag-charts-team

AG-12563 - Fix import
  packages/ag-charts-enterprise/src/features/annotations/annotations.ts
Owners: @alantreadway

AG-12560 - cap annotation options stroke width line to icon height
  packages/ag-charts-community/src/chart/toolbar/toolbarStyles.css
Owners: @alantreadway

AG-12711 Fix download state updates not being applied
  packages/ag-charts-community/src/chart/chartProxy.ts
Owners: @alantreadway

AG-12712 Radial gauge fixes
  packages/ag-charts-enterprise/src/series/radial-gauge/radialGaugeSeries.ts
  packages/ag-charts-enterprise/src/series/radial-gauge/radialGaugeUtil.ts
  packages/ag-charts-types/src/chart/chartBuilderOptions.ts
  packages/ag-charts-website/src/content/docs/radial-gauge/index.mdoc
Owners: @alantreadway, @ag-grid/ag-charts-team, @rmc-software

e2e
  packages/ag-charts-website/e2e/examples.spec.ts
Owners: @ag-grid/ag-charts-team

lint
  packages/ag-charts-types/src/chart/chartBuilderOptions.ts
Owners: @ag-grid/ag-charts-team

AG-12120 Always show data point for financial chart status bar
  packages/ag-charts-enterprise/src/features/status-bar/statusBar.ts
Owners: @alantreadway

AG-12563 - Fix line style changes not applying when lineDash configured in theme for initial state
  packages/ag-charts-enterprise/src/features/annotations/utils/line.ts
  packages/ag-charts-enterprise/src/features/annotations/utils/styles.ts
Owners: @alantreadway

AG-12563 - Add a comment for the `lineStyle` property
  packages/ag-charts-types/src/chart/annotationsOptions.ts
Owners: @ag-grid/ag-charts-team

AG-12625 - New styles for ApiReference component
  external/ag-website-shared/src/design-system/components/_containers.scss
  packages/ag-charts-website/src/features/api-documentation/components/ApiReference.module.scss
  packages/ag-charts-website/src/features/api-documentation/components/ApiReference.tsx
  packages/ag-charts-website/src/features/api-documentation/components/Properies.tsx
  packages/ag-charts-website/src/pages/[framework]/[pageName].astro
Owners: @markdurrant, @ag-grid/ag-charts-team, @taktran

AG-12625 - Fix spelling mistake of Properties component
  packages/ag-charts-website/src/features/api-documentation/components/ApiReference.tsx
  packages/ag-charts-website/src/features/api-documentation/components/ApiReferencePage.tsx
  packages/ag-charts-website/src/features/api-documentation/components/Properties.tsx
Owners: @ag-grid/ag-charts-team

AG-12625 - Remove unnecessary td styles
  packages/ag-charts-website/src/features/api-documentation/components/ApiReference.module.scss
Owners: @markdurrant

AG-12625 - Move styles to shared folder
  external/ag-website-shared/src/components/reference-documentation/ApiReference.module.scss
  packages/ag-charts-website/src/features/api-documentation/components/ApiReference.tsx
  packages/ag-charts-website/src/features/api-documentation/components/Properties.tsx
Owners: @markdurrant, @ag-grid/ag-charts-team

AG-12625 - Remove unnecessary 500 weight for jetbrains mono
  packages/ag-charts-website/src/pages/[framework]/[pageName].astro
Owners: @taktran

AG-12625 - Add note for future use of isInitial
  packages/ag-charts-website/src/features/api-documentation/components/Properties.tsx
Owners: @ag-grid/ag-charts-team

AG-12625 - Sync up grid API reference styles
  external/ag-website-shared/src/components/reference-documentation/ApiReference.module.scss
Owners: @markdurrant

AG-12686 Partially revert 2c70a83a09883bf9c5cf2ef6874cd8a1e56ed6a2
  packages/ag-charts-enterprise/src/features/color-picker/colorPickerStyles.css
Owners: @alantreadway

Automated package version bump to 10.1.0-beta.20240903.
  .env
  libraries/ag-charts-test/package.json
  package.json
  packages/ag-charts-angular/package.json
  packages/ag-charts-angular/projects/ag-charts-angular/package.json
  packages/ag-charts-community-examples/package.json
  packages/ag-charts-community/package.json
  packages/ag-charts-community/src/version.ts
  packages/ag-charts-enterprise/package.json
  packages/ag-charts-locale/package.json
  packages/ag-charts-react/package.json
  packages/ag-charts-types/package.json
  packages/ag-charts-vue3/package.json
  packages/ag-charts-website/.env.build
  packages/ag-charts-website/.env.build.archive
  packages/ag-charts-website/.env.build.production
  packages/ag-charts-website/.env.build.staging
  packages/ag-charts-website/.env.dev
  packages/ag-charts-website/.env.preview
  packages/ag-charts-website/.env.preview.production
  packages/ag-charts-website/.env.preview.staging
  packages/ag-charts-website/package.json
  plugins/ag-charts-generate-chart-thumbnail/package.json
  plugins/ag-charts-generate-code-reference-files/package.json
  plugins/ag-charts-generate-example-files/package.json
Owners: @ag-grid/ag-charts-team, @alantreadway

AG-12568 - Fix flashing floating toolbar
  packages/ag-charts-community/src/chart/toolbar/toolbar.ts
Owners: @alantreadway

AG-12568 - Fix flashing floating toolbar
  packages/ag-charts-community/src/chart/toolbar/toolbar.ts
Owners: @alantreadway

AG-12625 - Align ApiReference styles with grid
  external/ag-website-shared/src/components/link-icon/LinkIcon.tsx
  external/ag-website-shared/src/components/reference-documentation/ApiReference.module.scss
  external/ag-website-shared/src/utils/navigation.ts
  packages/ag-charts-website/src/features/api-documentation/components/Properties.tsx
Owners: @ag-grid/ag-charts-team, @markdurrant

AG-12501 - Don't allow dragging via midline if it's not visible
  packages/ag-charts-enterprise/src/features/annotations/parallel-channel/parallelChannelScene.ts
Owners: @alantreadway

AG-12078 Add history manager with undo/redo of annotations
  packages/ag-charts-community/src/api/state/historyManager.ts
  packages/ag-charts-community/src/chart/annotation/annotationManager.ts
  packages/ag-charts-community/src/chart/chart.ts
  packages/ag-charts-community/src/chart/chartContext.ts
  packages/ag-charts-community/src/module-support.ts
  packages/ag-charts-community/src/module/moduleContext.ts
  packages/ag-charts-community/src/util/json.ts
  packages/ag-charts-enterprise/src/components/popover/popover.ts
  packages/ag-charts-enterprise/src/features/annotations/annotationDefaults.ts
  packages/ag-charts-enterprise/src/features/annotations/annotations.ts
  packages/ag-charts-enterprise/src/features/annotations/annotationsStateMachine.ts
  packages/ag-charts-enterprise/src/features/annotations/annotationsSuperTypes.ts
  packages/ag-charts-enterprise/src/features/annotations/cross-line/crossLineState.ts
  packages/ag-charts-enterprise/src/features/annotations/disjoint-channel/disjointChannelState.ts
  packages/ag-charts-enterprise/src/features/annotations/line/lineState.ts
  packages/ag-charts-enterprise/src/features/annotations/parallel-channel/parallelChannelState.ts
  packages/ag-charts-enterprise/src/features/annotations/states/dragState.ts
  packages/ag-charts-enterprise/src/features/annotations/states/textualPointState.ts
  packages/ag-charts-enterprise/src/features/annotations/states/textualStartEndState.ts
  packages/ag-charts-enterprise/src/features/annotations/utils/styles.ts
  packages/ag-charts-enterprise/src/features/color-picker/colorPicker.ts
  packages/ag-charts-website/e2e/toolbar.spec.ts
  packages/ag-charts-website/e2e/toolbar.spec.ts-snapshots/line-5-undo-chromium-darwin.png
  packages/ag-charts-website/e2e/toolbar.spec.ts-snapshots/line-6-redo-chromium-darwin.png
Owners: @alantreadway, @ag-grid/ag-charts-team
