Repository ag-grid/ag-charts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ag-grid/ag-charts-team, @markdurrant, @taktran, @alantreadway, @rmc-software

Update tube map gallery example topology
  packages/ag-charts-website/src/content/docs/map-lines/index.mdoc
  packages/ag-charts-website/src/content/docs/map-shapes/index.mdoc
  packages/ag-charts-website/src/content/gallery/_examples/map-shapes-lines/londonBoroughTopology.ts
  packages/ag-charts-website/src/content/gallery/_examples/map-shapes-lines/main.ts
  packages/ag-charts-website/src/content/gallery/_examples/map-shapes-lines/otherCountiesTopology.ts
Owners: @rmc-software, @ag-grid/ag-charts-team

AG-10923 - Fix phantom highlight on zoom selection.
  packages/ag-charts-community/src/chart/chart.ts
Owners: @alantreadway

AG-8416 Move bar-series quadtree initialisation logic into util file
  packages/ag-charts-community/src/chart/series/cartesian/barSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/quadtreeUtil.ts
Owners: @alantreadway

AG-8416 Add support for 'nearest' in histograms
  packages/ag-charts-community/src/chart/series/cartesian/histogramSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/histogramSeriesModule.ts
  packages/ag-charts-community/src/chart/series/cartesian/quadtreeUtil.ts
Owners: @alantreadway

Fix linecap for map line series
  packages/ag-charts-enterprise/src/series/map-line/mapLineSeries.ts
Owners: @alantreadway

AG-8416 Add better abstraction for getQuadTree()
  packages/ag-charts-community/src/chart/series/cartesian/barSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/cartesianSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/histogramSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/quadtreeUtil.ts
Owners: @alantreadway

AG-8416 Fix quadtree root box
  packages/ag-charts-community/src/chart/series/cartesian/cartesianSeries.ts
Owners: @alantreadway

AG-11003 - Allow hiding of alpha features from console warnings.
  packages/ag-charts-community/src/chart/factory/axisRegistry.ts
  packages/ag-charts-community/src/chart/factory/chartTypes.ts
  packages/ag-charts-community/src/chart/factory/registerInbuiltModules.ts
  packages/ag-charts-community/src/chart/factory/seriesRegistry.ts
  packages/ag-charts-community/src/module/axisModule.ts
  packages/ag-charts-community/src/module/coreModules.ts
  packages/ag-charts-community/src/module/optionsModule.ts
  packages/ag-charts-enterprise/src/axes/ordinal/ordinalTimeAxisModule.ts
  packages/ag-charts-enterprise/src/series/candlestick/candlestickModule.ts
Owners: @alantreadway

AG-10867 - Tweak enterprise warning message for Integrated cases.
  packages/ag-charts-community/src/chart/factory/processEnterpriseOptions.ts
Owners: @alantreadway

AG-11046/11047: Fix options defaults
  packages/ag-charts-community/src/chart/factory/seriesRegistry.ts
  packages/ag-charts-community/src/chart/series/cartesian/areaSeriesModule.ts
  packages/ag-charts-community/src/chart/series/cartesian/barSeriesModule.ts
  packages/ag-charts-community/src/chart/series/cartesian/bubbleSeriesModule.ts
  packages/ag-charts-community/src/chart/series/cartesian/histogramSeriesModule.ts
  packages/ag-charts-community/src/chart/series/cartesian/lineSeriesModule.ts
  packages/ag-charts-community/src/chart/series/cartesian/scatterSeriesModule.ts
  packages/ag-charts-community/src/chart/series/polar/donutSeriesModule.ts
  packages/ag-charts-community/src/chart/series/polar/pieSeriesModule.ts
  packages/ag-charts-community/src/module/baseModule.ts
  packages/ag-charts-community/src/module/coreModules.ts
  packages/ag-charts-community/src/module/module.ts
  packages/ag-charts-community/src/module/optionsModule.ts
  packages/ag-charts-enterprise/src/gradient-legend/gradientLegendModule.ts
  packages/ag-charts-enterprise/src/gradient-legend/gradientLegendThemes.ts
  packages/ag-charts-enterprise/src/gradient-legend/main.ts
  packages/ag-charts-enterprise/src/series/box-plot/boxPlotModule.ts
  packages/ag-charts-enterprise/src/series/bullet/bulletModule.ts
  packages/ag-charts-enterprise/src/series/candlestick/candlestickModule.ts
  packages/ag-charts-enterprise/src/series/heatmap/heatmapModule.ts
  packages/ag-charts-enterprise/src/series/map-line/mapLineModule.ts
  packages/ag-charts-enterprise/src/series/map-marker/mapMarkerModule.ts
  packages/ag-charts-enterprise/src/series/map-shape/mapShapeModule.ts
  packages/ag-charts-enterprise/src/series/nightingale/nightingaleModule.ts
  packages/ag-charts-enterprise/src/series/radar-area/radarAreaModule.ts
  packages/ag-charts-enterprise/src/series/radar-line/radarLineModule.ts
  packages/ag-charts-enterprise/src/series/radial-bar/radialBarModule.ts
  packages/ag-charts-enterprise/src/series/radial-column/radialColumnModule.ts
  packages/ag-charts-enterprise/src/series/range-area/rangeAreaModule.ts
  packages/ag-charts-enterprise/src/series/range-bar/rangeBarModule.ts
  packages/ag-charts-enterprise/src/series/sunburst/sunburstModule.ts
  packages/ag-charts-enterprise/src/series/treemap/treemapModule.ts
  packages/ag-charts-enterprise/src/series/waterfall/waterfallModule.ts
  packages/ag-charts-enterprise/src/setup.ts
Owners: @alantreadway

cleanup
  packages/ag-charts-enterprise/src/series/map-shape-background/mapShapeBackgroundModule.ts
Owners: @alantreadway

cleanup
  packages/ag-charts-enterprise/src/series/candlestick/candlestickModule.ts
Owners: @alantreadway

Automated package version bump to 9.1.1-beta.20240315.
  .env
  libraries/ag-charts-test/package.json
  package.json
  packages/ag-charts-angular/package.json
  packages/ag-charts-angular/projects/ag-charts-angular/package.json
  packages/ag-charts-community-examples/package.json
  packages/ag-charts-community/package.json
  packages/ag-charts-community/src/version.ts
  packages/ag-charts-enterprise/package.json
  packages/ag-charts-react/package.json
  packages/ag-charts-vue/package.json
  packages/ag-charts-vue3/package.json
  packages/ag-charts-website/.env.build
  packages/ag-charts-website/.env.build.archive
  packages/ag-charts-website/.env.build.production
  packages/ag-charts-website/.env.build.staging
  packages/ag-charts-website/.env.dev
  packages/ag-charts-website/.env.preview
  packages/ag-charts-website/.env.preview.production
  packages/ag-charts-website/.env.preview.staging
  packages/ag-charts-website/package.json
  plugins/ag-charts-generate-chart-thumbnail/package.json
  plugins/ag-charts-generate-code-reference-files/package.json
  plugins/ag-charts-generate-example-files/package.json
Owners: @ag-grid/ag-charts-team, @alantreadway

AG-11006 Improve label placement performance
  packages/ag-charts-enterprise/src/series/map-shape/mapShapeSeries.ts
  packages/ag-charts-enterprise/src/series/map-util/polygonLabelUtil.ts
  packages/ag-charts-enterprise/src/series/map-util/polygonPointSearch.ts
  packages/ag-charts-website/src/content/docs/map-lines/index.mdoc
  packages/ag-charts-website/src/content/docs/map-shapes/index.mdoc
Owners: @alantreadway, @rmc-software

Add generate-gallery-thumbnail convenience target.
  packages/all/project.json
Owners: @alantreadway

York gallery example
  packages/ag-charts-website/src/content/gallery/_examples/map-lines-markers/cycleRouteData.ts
  packages/ag-charts-website/src/content/gallery/_examples/map-lines-markers/cycleRouteTopology.ts
  packages/ag-charts-website/src/content/gallery/_examples/map-lines-markers/data.ts
  packages/ag-charts-website/src/content/gallery/_examples/map-lines-markers/main.ts
  packages/ag-charts-website/src/content/gallery/_examples/map-lines-markers/topology.ts
  packages/ag-charts-website/src/content/gallery/_examples/map-lines-markers/yorkData.ts
  packages/ag-charts-website/src/content/gallery/_examples/map-lines-markers/yorkRoadsData.ts
  packages/ag-charts-website/src/content/gallery/_examples/map-lines-markers/yorkRoadsTopology.ts
  packages/ag-charts-website/src/content/gallery/_examples/map-lines-markers/yorkTopology.ts
Owners: @ag-grid/ag-charts-team

9.2 release notes
  packages/ag-charts-website/public/changelog/releaseVersionNotes.json
  packages/ag-charts-website/public/changelog/releases/9_2_0.md
  packages/ag-charts-website/src/content/docs/upgrade-to-ag-charts-9-2/index.mdoc
  packages/ag-charts-website/src/content/menu/data.json
  packages/ag-charts-website/src/content/versions/data.json
Owners: @ag-grid/ag-charts-team, @rmc-software

AG-10955 Add map-line-background series
  packages/ag-charts-community/src/chart/factory/expectedEnterpriseModules.ts
  packages/ag-charts-community/src/chart/topologyChart.ts
  packages/ag-charts-community/src/module/optionsModule.ts
  packages/ag-charts-community/src/options/agChartOptions.ts
  packages/ag-charts-community/src/options/chart/themeOptions.ts
  packages/ag-charts-community/src/options/series/topology/mapLineBackgroundOptions.ts
  packages/ag-charts-community/src/options/series/topology/topologyOptions.ts
  packages/ag-charts-enterprise/src/series/map-line-background/main.ts
  packages/ag-charts-enterprise/src/series/map-line-background/mapLineBackgroundModule.ts
  packages/ag-charts-enterprise/src/series/map-line-background/mapLineBackgroundSeries.ts
  packages/ag-charts-enterprise/src/series/map-line-background/mapLineBackgroundSeriesProperties.ts
  packages/ag-charts-enterprise/src/series/map-shape-background/mapShapeBackgroundModule.ts
  packages/ag-charts-enterprise/src/setup.ts
Owners: @alantreadway

Fix example generation for files with multiple data and topology files
  plugins/ag-charts-generate-chart-thumbnail/src/executors/generate/generator/thumbnailGenerator.ts
Owners: @ag-grid/ag-charts-team

Fix gallery example
  packages/ag-charts-website/src/content/gallery/_examples/map-shapes-lines/data.ts
  packages/ag-charts-website/src/content/gallery/_examples/map-shapes-lines/main.ts
  packages/ag-charts-website/src/content/gallery/_examples/map-shapes-lines/topology.ts
Owners: @ag-grid/ag-charts-team

lint
  packages/ag-charts-enterprise/src/series/map-line-background/mapLineBackgroundSeriesProperties.ts
Owners: @alantreadway

Add docs for map-line-background
  packages/ag-charts-website/src/content/docs/map-lines/_examples/backgrounds/backgroundTopology.ts
  packages/ag-charts-website/src/content/docs/map-lines/_examples/backgrounds/index.html
  packages/ag-charts-website/src/content/docs/map-lines/_examples/backgrounds/main.ts
  packages/ag-charts-website/src/content/docs/map-lines/_examples/backgrounds/topology.ts
  packages/ag-charts-website/src/content/docs/map-lines/index.mdoc
Owners: @ag-grid/ag-charts-team, @rmc-software

Fix thumbnail label rendering.
  packages/ag-charts-community/src/scene/shape/text.ts
Owners: @alantreadway

AG-10842 Change bar examples corner radii to be more obvious
  packages/ag-charts-website/src/content/gallery/_examples/grouped-horizontal-bar/main.ts
  packages/ag-charts-website/src/content/gallery/_examples/simple-bar/main.ts
Owners: @ag-grid/ag-charts-team

AG-10955 Use hierarchy colours for map backgrounds
  packages/ag-charts-community/src/chart/themes/chartTheme.ts
  packages/ag-charts-community/src/chart/themes/darkTheme.ts
  packages/ag-charts-community/src/chart/themes/symbols.ts
  packages/ag-charts-community/src/module/optionsModule.ts
  packages/ag-charts-enterprise/src/series/map-line-background/mapLineBackgroundModule.ts
  packages/ag-charts-enterprise/src/series/map-shape-background/mapShapeBackgroundModule.ts
Owners: @alantreadway

Fix thumbnail rendering.
  packages/ag-charts-community/src/scene/shape/text.ts
Owners: @alantreadway

AG-10578 Fix scope removal for array datums
  packages/ag-charts-community/src/chart/data/dataController.test.ts
  packages/ag-charts-community/src/chart/data/dataController.ts
Owners: @alantreadway

AG-11057 Show correct marker shape for map marker legend items
  packages/ag-charts-enterprise/src/series/map-marker/mapMarkerSeries.ts
Owners: @alantreadway

Update tube map gallery
  packages/ag-charts-website/src/content/gallery/_examples/map-shapes-lines/main.ts
  packages/ag-charts-website/src/content/gallery/_examples/map-shapes-lines/tubeData.ts
  packages/ag-charts-website/src/content/gallery/_examples/map-shapes-lines/tubeTopology.ts
Owners: @ag-grid/ag-charts-team

AG-11006 Imrpove precision of label placements, fix x position of truncated labels
  packages/ag-charts-enterprise/src/series/map-shape/mapShapeSeries.ts
  packages/ag-charts-enterprise/src/series/map-util/polygonLabelUtil.test.ts
  packages/ag-charts-enterprise/src/series/map-util/polygonLabelUtil.ts
Owners: @alantreadway

Update tube map gallery example labels
  packages/ag-charts-enterprise/src/series/map-shape/mapShapeSeries.ts
  packages/ag-charts-website/src/content/gallery/_examples/map-shapes-lines/main.ts
Owners: @alantreadway, @ag-grid/ag-charts-team

Update tube line styles
  packages/ag-charts-website/src/content/gallery/_examples/map-shapes-lines/main.ts
Owners: @ag-grid/ag-charts-team

Add legal disclaimer to links
  packages/ag-charts-website/src/content/docs/map-topology/index.mdoc
Owners: @rmc-software

AG-10957 - Update map with shapes and lines gallery example
  packages/ag-charts-website/src/content/gallery/_examples/map-shapes-lines/data.ts
  packages/ag-charts-website/src/content/gallery/_examples/map-shapes-lines/main.ts
Owners: @ag-grid/ag-charts-team

AG-10957 - Update map with lines and markers example
  packages/ag-charts-website/src/content/gallery/_examples/map-lines-markers/main.ts
  packages/ag-charts-website/src/content/gallery/_examples/map-lines-markers/yorkRoadsData.ts
Owners: @ag-grid/ag-charts-team

Add gallery thumbnail sanity checks.
  packages/ag-charts-website/project.json
  packages/ag-charts-website/tools/compare-gallery-thumbnails.js
  packages/ag-charts-website/tools/expected-thumbnails/ag-charts-website/gallery/_examples/grouped-horizontal-bar/ag-default.png
  packages/ag-charts-website/tools/expected-thumbnails/ag-charts-website/gallery/_examples/map-lines-markers/ag-default.png
  packages/ag-charts-website/tools/expected-thumbnails/ag-charts-website/gallery/_examples/map-shapes-lines/ag-default.png
  packages/ag-charts-website/tools/expected-thumbnails/ag-charts-website/gallery/_examples/radar-with-markers/.skip
  packages/ag-charts-website/tools/expected-thumbnails/ag-charts-website/gallery/_examples/real-time-data-updates/.skip
  packages/ag-charts-website/tools/expected-thumbnails/ag-charts-website/gallery/_examples/reversed-radar-with-markers/.skip
  packages/ag-charts-website/tools/expected-thumbnails/ag-charts-website/gallery/_examples/simple-bar/ag-default.png
Owners: @alantreadway, @ag-grid/ag-charts-team

AG-10957 - World map example
  packages/ag-charts-website/src/content/gallery/_examples/map-world/data.ts
  packages/ag-charts-website/src/content/gallery/_examples/map-world/main.ts
  packages/ag-charts-website/src/content/gallery/_examples/map-world/topology.ts
Owners: @ag-grid/ag-charts-team

Update gallery snapshots.
  packages/ag-charts-website/tools/expected-thumbnails/ag-charts-website/gallery/_examples/map-shapes-lines/ag-default.png
Owners: @ag-grid/ag-charts-team

AG-10957 - World map example hide marker series from legend
  packages/ag-charts-website/src/content/gallery/_examples/map-world/main.ts
Owners: @ag-grid/ag-charts-team

Automated package version bump to 9.1.1-beta.20240315.1516.
  .env
  libraries/ag-charts-test/package.json
  package.json
  packages/ag-charts-angular/package.json
  packages/ag-charts-angular/projects/ag-charts-angular/package.json
  packages/ag-charts-community-examples/package.json
  packages/ag-charts-community/package.json
  packages/ag-charts-community/src/version.ts
  packages/ag-charts-enterprise/package.json
  packages/ag-charts-react/package.json
  packages/ag-charts-vue/package.json
  packages/ag-charts-vue3/package.json
  packages/ag-charts-website/.env.build
  packages/ag-charts-website/.env.build.archive
  packages/ag-charts-website/.env.build.production
  packages/ag-charts-website/.env.build.staging
  packages/ag-charts-website/.env.dev
  packages/ag-charts-website/.env.preview
  packages/ag-charts-website/.env.preview.production
  packages/ag-charts-website/.env.preview.staging
  packages/ag-charts-website/package.json
  plugins/ag-charts-generate-chart-thumbnail/package.json
  plugins/ag-charts-generate-code-reference-files/package.json
  plugins/ag-charts-generate-example-files/package.json
Owners: @ag-grid/ag-charts-team, @alantreadway

.github/CODEOWNERS:

# NOTE: Order of entries matters - later entries have higher precedence.

# Attribute code-owners so default reviewers are assigned to PRs.
* @ag-grid/ag-charts-team

# Astro + website changes to be reviewed by website team.
*.scss @markdurrant
*.astro @taktran
/packages/ag-charts-website/astro/** @taktran
/packages/ag-charts-website/components/** @taktran
/packages/ag-charts-website/features/** @taktran
/packages/ag-charts-website/layouts/** @taktran
/packages/ag-charts-website/stores/** @taktran
/packages/ag-charts-website/utils/** @taktran

# Docs updates to be reviewed by Eng VP.
/packages/ag-charts-website/content/** @alantreadway @rmc-software
*.mdoc @rmc-software

# Charts library code to be reviewed by Chart TL.
/packages/ag-charts-community/** @alantreadway
/packages/ag-charts-enterprise/** @alantreadway

# Sensitive build/repo files to be reviewed by Chart TL.
**/package.json @alantreadway
nx.json @alantreadway
**/project.json @alantreadway
**/tsconfig.json @alantreadway
**/tsconfig.*.json @alantreadway
