Repository ag-grid/ag-charts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ag-grid/ag-charts-team, @markdurrant, @taktran, @alantreadway, @rmc-software

.github/CODEOWNERS:

# NOTE: Order of entries matters - later entries have higher precedence.

# Attribute code-owners so default reviewers are assigned to PRs.
* @ag-grid/ag-charts-team

# Astro + website changes to be reviewed by website team.
*.scss @markdurrant
*.astro @taktran
/packages/ag-charts-website/astro/** @taktran
/packages/ag-charts-website/components/** @taktran
/packages/ag-charts-website/features/** @taktran
/packages/ag-charts-website/layouts/** @taktran
/packages/ag-charts-website/stores/** @taktran
/packages/ag-charts-website/utils/** @taktran

# Docs updates to be reviewed by Eng VP.
/packages/ag-charts-website/content/** @alantreadway @rmc-software
*.mdoc @rmc-software

# Charts library code to be reviewed by Chart TL.
/packages/ag-charts-community/** @alantreadway
/packages/ag-charts-enterprise/** @alantreadway

# Sensitive build/repo files to be reviewed by Chart TL.
**/package.json @alantreadway
nx.json @alantreadway
**/project.json @alantreadway
**/tsconfig.json @alantreadway
**/tsconfig.*.json @alantreadway

AG-7332 - log scale inverted axis
  packages/ag-charts-community/src/scale/logScale.ts
Owners: @alantreadway

Fix bump-versions.sh sed use.
  tools/bump-versions.sh
Owners: @ag-grid/ag-charts-team

Fix bump-versions.sh sed use.
  tools/bump-versions.sh
Owners: @ag-grid/ag-charts-team

Automated package version bump to 9.0.1-beta.20231211.
  package.json
  packages/ag-charts-angular/package.json
  packages/ag-charts-angular/projects/ag-charts-angular/package.json
  packages/ag-charts-community-examples/package.json
  packages/ag-charts-community/package.json
  packages/ag-charts-community/src/version.ts
  packages/ag-charts-enterprise/package.json
  packages/ag-charts-react/package.json
  packages/ag-charts-vue/package.json
  packages/ag-charts-vue3/package.json
  packages/ag-charts-website/.env.build
  packages/ag-charts-website/.env.build.archive
  packages/ag-charts-website/.env.build.production
  packages/ag-charts-website/.env.build.staging
  packages/ag-charts-website/.env.dev
  packages/ag-charts-website/.env.preview
  packages/ag-charts-website/.env.preview.production
  packages/ag-charts-website/.env.preview.staging
  packages/ag-charts-website/package.json
Owners: @alantreadway, @ag-grid/ag-charts-team

Add thumbnail incremental rebuild for nx & dependency on package version.
  package.json
  packages/all/project.json
  plugins/ag-charts-task-autogen/src/generate-chart-thumbnails.ts
  plugins/ag-charts-task-autogen/src/index.ts
  yarn.lock
Owners: @alantreadway, @ag-grid/ag-charts-team

Update plugins/ag-charts-build-tools/src/executors/generate-chart-thumbnail/generator/environment.ts
  plugins/ag-charts-build-tools/src/executors/generate-chart-thumbnail/generator/environment.ts
Owners: @ag-grid/ag-charts-team

Update plugins/ag-charts-task-autogen/src/index.ts
  plugins/ag-charts-task-autogen/src/index.ts
Owners: @ag-grid/ag-charts-team

AG-10003 - Review fixes.
  plugins/ag-charts-task-autogen/src/index.ts
Owners: @ag-grid/ag-charts-team

AG-10003 -Build fix.
  plugins/ag-charts-task-autogen/src/generate-chart-thumbnails.ts
Owners: @ag-grid/ag-charts-team

wip
  packages/ag-charts-community/src/chart/axis/groupedCategoryAxis.ts
  packages/ag-charts-community/src/scale/bandScale.ts
Owners: @alantreadway

solve conflicts
  packages/ag-charts-community/src/chart/tooltip/tooltip.ts
  packages/ag-charts-enterprise/src/gradient-legend/gradientLegend.ts
Owners: @alantreadway

AG-10003 - Fix internal project references.
  plugins/ag-charts-build-tools/package.json
Owners: @alantreadway

AG-8487 - Scene render on mouse leave to hide crosshair lines
  packages/ag-charts-community/src/chart/chart.ts
  packages/ag-charts-enterprise/src/features/crosshair/crosshair.ts
Owners: @alantreadway

AG-10003 - Fix skipping of large scale example thumbnail.
  plugins/ag-charts-task-autogen/src/index.ts
Owners: @ag-grid/ag-charts-team

wip
  packages/ag-charts-community/src/chart/axis/groupedCategoryAxis.ts
  packages/ag-charts-website/src/features/plunkr/components/OpenInPlunkr.tsx
Owners: @alantreadway, @ag-grid/ag-charts-team

fix merge issues
  packages/ag-charts-community/src/chart/tooltip/tooltip.ts
Owners: @alantreadway

WIP: AG-9896 typo support
  packages/ag-charts-community/src/util/fuzzyMatch.ts
  packages/ag-charts-community/src/util/json.ts
Owners: @alantreadway

fix merge issues
  packages/ag-charts-enterprise/src/gradient-legend/gradientLegend.ts
Owners: @alantreadway

AG-10003 - Add missing build dependency.
  packages/ag-charts-website/project.json
Owners: @alantreadway

Fix HMR within plunker running locally
  packages/ag-charts-website/package.json
  packages/ag-charts-website/src/features/docs/components/DocsExampleRunner.tsx
  packages/ag-charts-website/src/features/example-runner/utils/removeGeneratedAstroTags.ts
  packages/ag-charts-website/src/features/gallery/components/GalleryExampleRunner.tsx
  packages/ag-charts-website/src/features/plunkr/components/OpenInPlunkr.tsx
  packages/ag-charts-website/src/middleware/index.ts
  yarn.lock
Owners: @alantreadway, @ag-grid/ag-charts-team

Use node-heml-parser for rewriting astro content
  packages/ag-charts-website/package.json
  packages/ag-charts-website/src/middleware/index.ts
  yarn.lock
Owners: @alantreadway, @ag-grid/ag-charts-team

Remove unrelated change
  packages/ag-charts-community/src/scale/logScale.ts
Owners: @alantreadway

AG-10003 - Fix jq reference.
  plugins/ag-charts-task-autogen/src/generate-chart-thumbnails.ts
Owners: @ag-grid/ag-charts-team

Reduce `latest` branch CI races / cache corruption.
  .github/workflows/ci.yml
Owners: @ag-grid/ag-charts-team

AG-10003 - Reduce `latest` branch CI races / cache corruption.
  .env
  package.json
  plugins/ag-charts-task-autogen/src/generate-chart-thumbnails.ts
  tools/bump-versions.sh
  yarn.lock
Owners: @ag-grid/ag-charts-team, @alantreadway

cleanup
  packages/ag-charts-community/src/chart/axis/axisTick.ts
  packages/ag-charts-community/src/chart/series/cartesian/histogramSeries.ts
  packages/ag-charts-community/src/chart/series/seriesMarker.ts
  packages/ag-charts-enterprise/src/axes/angle/angleAxis.ts
Owners: @alantreadway

AG-10005 - Reduce watches needed for nx dev.
  packages/all/project.json
Owners: @alantreadway

AG-10005 - Improve batching of nx dev builds.
  packages/all/dev.sh
  packages/all/project.json
Owners: @ag-grid/ag-charts-team, @alantreadway

Fix incorrectly linked monorepo packages.
  .github/workflows/ci.yml
Owners: @ag-grid/ag-charts-team

AG-10007 - Upgrade to astro 3.x + update astro patches
  package.json
  packages/ag-charts-website/package.json
  patches/astro+2.8.0.patch
  patches/astro+3.6.4.patch
  patches/prettier+3.1.1.patch
  yarn.lock
Owners: @alantreadway, @ag-grid/ag-charts-team

AG-10007 - Upgrade vite-plugin-svgr and update imports
  package.json
  packages/ag-charts-website/package.json
  packages/ag-charts-website/src/components/icon/Icon.tsx
  packages/ag-charts-website/src/components/logo/LogoMark.tsx
  packages/ag-charts-website/src/components/site-header/HeaderNav.tsx
  packages/ag-charts-website/src/components/site-header/SiteLogo.tsx
  packages/ag-charts-website/src/features/example-runner/components/ExampleRunnerContainer.astro
  packages/ag-charts-website/src/images/fw-logos/index.ts
  packages/ag-charts-website/src/pages/index.astro
  packages/ag-charts-website/src/utils/favicons/index.ts
  yarn.lock
Owners: @alantreadway, @ag-grid/ag-charts-team, @taktran

AG-10007 - Update nx commands to use `cwd`
  packages/ag-charts-website/project.json
Owners: @alantreadway

AG-10007 - Use `astro` commands instead of `@nxextensions/astro`
  nx.json
  package.json
  packages/ag-charts-website/project.json
  yarn.lock
Owners: @alantreadway, @ag-grid/ag-charts-team

AG-10007 - Uppercase http endpoints
  packages/ag-charts-website/src/pages/[internalFramework]/[pageName]/examples/[exampleName]/[fileName].ts
  packages/ag-charts-website/src/pages/[internalFramework]/[pageName]/examples/[exampleName]/contents.json.ts
  packages/ag-charts-website/src/pages/debug/meta.json.ts
  packages/ag-charts-website/src/pages/dev/[...filePath].ts
  packages/ag-charts-website/src/pages/gallery/examples/[exampleName]/[fileName].ts
  packages/ag-charts-website/src/pages/gallery/examples/[exampleName]/[theme]-plain.[format].ts
  packages/ag-charts-website/src/pages/gallery/examples/[exampleName]/contents.json.ts
  packages/ag-charts-website/src/pages/robots.txt.ts
Owners: @ag-grid/ag-charts-team

AG-10007 - Extract PORT env var
  packages/ag-charts-website/.env.build
  packages/ag-charts-website/.env.dev
  packages/ag-charts-website/.env.preview
  packages/ag-charts-website/astro.config.mjs
  packages/ag-charts-website/package.json
  packages/ag-charts-website/project.json
  yarn.lock
Owners: @ag-grid/ag-charts-team, @alantreadway

AG-10007 - Remove deprecated icons_react types
  package.json
  yarn.lock
Owners: @alantreadway, @ag-grid/ag-charts-team

AG-10007 - Upgrade website to Astro 3 (#678)
  nx.json
  package.json
  packages/ag-charts-website/.env.build
  packages/ag-charts-website/.env.dev
  packages/ag-charts-website/.env.preview
  packages/ag-charts-website/astro.config.mjs
  packages/ag-charts-website/package.json
  packages/ag-charts-website/project.json
  packages/ag-charts-website/src/components/icon/Icon.tsx
  packages/ag-charts-website/src/components/logo/LogoMark.tsx
  packages/ag-charts-website/src/components/site-header/HeaderNav.tsx
  packages/ag-charts-website/src/components/site-header/SiteLogo.tsx
  packages/ag-charts-website/src/features/example-runner/components/ExampleRunnerContainer.astro
  packages/ag-charts-website/src/images/fw-logos/index.ts
  packages/ag-charts-website/src/pages/[internalFramework]/[pageName]/examples/[exampleName]/[fileName].ts
  packages/ag-charts-website/src/pages/[internalFramework]/[pageName]/examples/[exampleName]/contents.json.ts
  packages/ag-charts-website/src/pages/debug/meta.json.ts
  packages/ag-charts-website/src/pages/dev/[...filePath].ts
  packages/ag-charts-website/src/pages/gallery/examples/[exampleName]/[fileName].ts
  packages/ag-charts-website/src/pages/gallery/examples/[exampleName]/[theme]-plain.[format].ts
  packages/ag-charts-website/src/pages/gallery/examples/[exampleName]/contents.json.ts
  packages/ag-charts-website/src/pages/index.astro
  packages/ag-charts-website/src/pages/robots.txt.ts
  packages/ag-charts-website/src/utils/favicons/index.ts
  patches/astro+2.8.0.patch
  patches/astro+3.6.4.patch
  patches/prettier+3.1.1.patch
  yarn.lock
Owners: @alantreadway, @ag-grid/ag-charts-team, @taktran

fix merge issues
  packages/ag-charts-community/src/chart/axis/axis.ts
Owners: @alantreadway

nx format
  packages/ag-charts-community/src/chart/legendDatum.ts
  packages/ag-charts-community/src/util/types.ts
  packages/ag-charts-enterprise/src/series/treemap/treemapSeries.ts
  packages/ag-charts-website/src/constants.ts
  packages/ag-charts-website/src/content/gallery/_examples/simple-range-area/main.ts
  packages/ag-charts-website/src/features/api-documentation/components/OptionsNavigation.tsx
  packages/ag-charts-website/src/features/example-runner/framework-templates/lib/SystemJs.tsx
  packages/ag-charts-website/src/pages/license-pricing.astro
Owners: @alantreadway, @ag-grid/ag-charts-team, @taktran

AG-3390 - Remove unused homepage example runner code
  packages/ag-charts-website/src/content/docs/homepage/_examples/hero-chart/data.ts
  packages/ag-charts-website/src/content/docs/homepage/_examples/hero-chart/index.html
  packages/ag-charts-website/src/content/docs/homepage/_examples/hero-chart/main.ts
  packages/ag-charts-website/src/content/docs/homepage/index.mdoc
  packages/ag-charts-website/src/features/homepage/components/HomepageChart.astro
  packages/ag-charts-website/src/features/homepage/components/HomepageExampleRunner.astro
  packages/ag-charts-website/src/features/homepage/components/HomepageSeriesSelector.module.scss
  packages/ag-charts-website/src/features/homepage/components/HomepageSeriesSelector.tsx
  plugins/ag-charts-build-tools/src/executors/generate-example-files/generator/utils/getDarkModeSnippet.ts
Owners: @ag-grid/ag-charts-team, @rmc-software, @taktran, @markdurrant
