Repository ag-grid/ag-charts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ag-grid/ag-charts-team, @markdurrant, @taktran, @alantreadway, @rmc-software

.github/CODEOWNERS:

# NOTE: Order of entries matters - later entries have higher precedence.

# Attribute code-owners so default reviewers are assigned to PRs.
* @ag-grid/ag-charts-team

# Astro + website changes to be reviewed by website team.
*.scss @markdurrant
*.astro @taktran
/packages/ag-charts-website/astro/** @taktran
/packages/ag-charts-website/components/** @taktran
/packages/ag-charts-website/features/** @taktran
/packages/ag-charts-website/layouts/** @taktran
/packages/ag-charts-website/stores/** @taktran
/packages/ag-charts-website/utils/** @taktran

# Docs updates to be reviewed by Eng VP.
/packages/ag-charts-website/content/** @alantreadway @rmc-software
*.mdoc @rmc-software

# Charts library code to be reviewed by Chart TL.
/packages/ag-charts-community/** @alantreadway
/packages/ag-charts-enterprise/** @alantreadway

# Sensitive build/repo files to be reviewed by Chart TL.
**/package.json @alantreadway
nx.json @alantreadway
**/project.json @alantreadway
**/tsconfig.json @alantreadway
**/tsconfig.*.json @alantreadway

AG-10326 Add OptionalPropertiesArray validation type
  packages/ag-charts-community/src/util/properties.ts
  packages/ag-charts-community/src/util/validation.ts
  packages/ag-charts-enterprise/src/series/bullet/bulletModule.ts
  packages/ag-charts-enterprise/src/series/bullet/bulletSeries.ts
  packages/ag-charts-enterprise/src/series/bullet/bulletSeriesProperties.ts
Owners: @alantreadway

AG-10326 Use an empty colorRange as the default
  packages/ag-charts-enterprise/src/series/bullet/bulletSeries.test.ts
  packages/ag-charts-enterprise/src/series/bullet/bulletSeriesProperties.ts
Owners: @alantreadway

Revert "AG-10326 Add OptionalPropertiesArray validation type"
  packages/ag-charts-community/src/util/properties.ts
  packages/ag-charts-community/src/util/validation.ts
  packages/ag-charts-enterprise/src/series/bullet/bulletModule.ts
  packages/ag-charts-enterprise/src/series/bullet/bulletSeries.ts
  packages/ag-charts-enterprise/src/series/bullet/bulletSeriesProperties.ts
Owners: @alantreadway

AG-10326 Fix sonar error
  packages/ag-charts-enterprise/src/series/bullet/bulletSeries.ts
Owners: @alantreadway

AG-3390 - Mobile header docs button / search spacing
  packages/ag-charts-website/src/design-system/modules/Search.module.scss
Owners: @markdurrant

AG-3390 - Mobile header item border improvements
  packages/ag-charts-website/src/design-system/modules/SiteHeader.module.scss
Owners: @markdurrant

AG-3390 - Mobile header item border improvements, again again
  packages/ag-charts-website/src/design-system/modules/Search.module.scss
  packages/ag-charts-website/src/design-system/modules/SiteHeader.module.scss
Owners: @markdurrant

AG-3390 Fix mobile search bar and side nav overflow
  packages/ag-charts-website/src/components/site-header/DarkModeToggle.tsx
  packages/ag-charts-website/src/design-system/_root.scss
  packages/ag-charts-website/src/design-system/modules/HeaderNav.module.scss
  packages/ag-charts-website/src/design-system/modules/SiteHeader.module.scss
Owners: @ag-grid/ag-charts-team, @markdurrant

AG-3390 - Mobile header item border improvements, again
  packages/ag-charts-website/src/components/site-header/DarkModeToggle.tsx
  packages/ag-charts-website/src/design-system/modules/SiteHeader.module.scss
Owners: @ag-grid/ag-charts-team, @markdurrant

AG-10439 - Sync DS changes with grid repo
  packages/ag-charts-website/src/design-system/modules/Licenses.module.scss
  packages/ag-charts-website/src/design-system/modules/SiteHeader.module.scss
  packages/ag-charts-website/src/design-system/modules/license-pricing.module.scss
Owners: @markdurrant

AG-10434 - Fix marker shape update
  packages/ag-charts-community/src/chart/series/polar/polarSeries.ts
  packages/ag-charts-enterprise/src/series/radar/radarSeries.ts
Owners: @alantreadway

update tests
  packages/ag-charts-community/src/chart/mapping/prepareSeries.test.ts
  packages/ag-charts-community/src/module/__snapshots__/optionModules.test.ts.snap
  packages/ag-charts-community/src/module/optionModules.test.ts
  packages/ag-charts-community/src/module/optionModules.ts
Owners: @alantreadway

update tests
  packages/ag-charts-enterprise/src/axes/polarAxes.test.ts
Owners: @alantreadway

cleanup
  packages/ag-charts-community/src/chart/agChartV2.ts
  packages/ag-charts-community/src/chart/axis/axis.ts
  packages/ag-charts-community/src/chart/mapping/prepare.test.ts
  packages/ag-charts-community/src/chart/series/series.ts
  packages/ag-charts-community/src/module-support.ts
  packages/ag-charts-community/src/module/module.ts
  packages/ag-charts-community/src/module/optionsModule.test.ts
  packages/ag-charts-community/src/module/optionsModule.ts
Owners: @alantreadway

Automated package version bump to 9.0.2-beta.20240123.1425.
  .env
  libraries/ag-charts-test/package.json
  package.json
  packages/ag-charts-angular/package.json
  packages/ag-charts-angular/projects/ag-charts-angular/package.json
  packages/ag-charts-community-examples/package.json
  packages/ag-charts-community/package.json
  packages/ag-charts-community/src/version.ts
  packages/ag-charts-enterprise/package.json
  packages/ag-charts-react/package.json
  packages/ag-charts-vue/package.json
  packages/ag-charts-vue3/package.json
  packages/ag-charts-website/.env.build
  packages/ag-charts-website/.env.build.archive
  packages/ag-charts-website/.env.build.production
  packages/ag-charts-website/.env.build.staging
  packages/ag-charts-website/.env.dev
  packages/ag-charts-website/.env.preview
  packages/ag-charts-website/.env.preview.production
  packages/ag-charts-website/.env.preview.staging
  packages/ag-charts-website/package.json
  plugins/ag-charts-generate-chart-thumbnail/package.json
  plugins/ag-charts-generate-code-reference-files/package.json
  plugins/ag-charts-generate-example-files/package.json
Owners: @ag-grid/ag-charts-team, @alantreadway

AG-10400 - Fix API search results in dark mode
  packages/ag-charts-website/src/design-system/modules/OptionsNavigation.module.scss
Owners: @markdurrant

fix tests
  packages/ag-charts-community/src/module/__snapshots__/optionsModule.test.ts.snap
Owners: @alantreadway

Ag 10439 mobile search bug (#898)
  packages/ag-charts-website/src/components/site-header/DarkModeToggle.tsx
  packages/ag-charts-website/src/design-system/_root.scss
  packages/ag-charts-website/src/design-system/modules/HeaderNav.module.scss
  packages/ag-charts-website/src/design-system/modules/Licenses.module.scss
  packages/ag-charts-website/src/design-system/modules/Search.module.scss
  packages/ag-charts-website/src/design-system/modules/SiteHeader.module.scss
  packages/ag-charts-website/src/design-system/modules/license-pricing.module.scss
Owners: @ag-grid/ag-charts-team, @markdurrant

AG-10399 - Reduce toolbar width scrollbar in API page
  packages/ag-charts-website/src/design-system/modules/Toolbar.module.scss
Owners: @markdurrant

cleanup
  packages/ag-charts-community/src/chart/cartesianChart.ts
  packages/ag-charts-community/src/chart/chart.ts
  packages/ag-charts-community/src/chart/interaction/zoomManager.ts
  packages/ag-charts-enterprise/src/features/zoom/zoom.ts
  packages/ag-charts-enterprise/src/features/zoom/zoomAxisDragger.ts
Owners: @alantreadway

Allow disablement of FW builds in nx dev.
  packages/all/.env
  packages/all/project.json
Owners: @ag-grid/ag-charts-team, @alantreadway

AG-10411 - Detect @deprecated options and hide them in the API section.
  plugins/ag-charts-generate-code-reference-files/src/executors/generate/types-utils.ts
Owners: @ag-grid/ag-charts-team

AG-10411 - Fix @deprecation formats.
  packages/ag-charts-community/src/chart/agChartV2.ts
  packages/ag-charts-community/src/options/chart/gradientLegendOptions.ts
Owners: @alantreadway

AG-10402 - Add Node.js and Yarn version checks.
  package.json
Owners: @alantreadway

misc cleanup
  packages/ag-charts-community/src/chart/axis/tree.ts
  packages/ag-charts-community/src/chart/cartesianChart.ts
  packages/ag-charts-community/src/chart/chart.ts
  packages/ag-charts-community/src/chart/interaction/zoomManager.ts
  packages/ag-charts-community/src/chart/polarChart.ts
  packages/ag-charts-community/src/scale/colorScale.ts
  packages/ag-charts-community/src/scale/timeScale.ts
  packages/ag-charts-enterprise/src/axes/angle-category/angleCategoryAxis.ts
  packages/ag-charts-enterprise/src/axes/angle-number/angleNumberAxis.ts
Owners: @alantreadway

misc cleanup
  packages/ag-charts-community/src/chart/chart.ts
  packages/ag-charts-community/src/chart/interaction/animationManager.ts
  packages/ag-charts-community/src/chart/interaction/interactionManager.ts
  packages/ag-charts-community/src/chart/legend.ts
  packages/ag-charts-community/src/chart/navigator/navigator.ts
  packages/ag-charts-community/src/motion/animation.ts
  packages/ag-charts-enterprise/src/features/context-menu/contextMenu.ts
  packages/ag-charts-enterprise/src/features/zoom/zoom.ts
  packages/ag-charts-enterprise/src/features/zoom/zoomTransformers.ts
Owners: @alantreadway

Automated package version bump to 9.0.2-beta.20240124.
  .env
  libraries/ag-charts-test/package.json
  package.json
  packages/ag-charts-angular/package.json
  packages/ag-charts-angular/projects/ag-charts-angular/package.json
  packages/ag-charts-community-examples/package.json
  packages/ag-charts-community/package.json
  packages/ag-charts-community/src/version.ts
  packages/ag-charts-enterprise/package.json
  packages/ag-charts-react/package.json
  packages/ag-charts-vue/package.json
  packages/ag-charts-vue3/package.json
  packages/ag-charts-website/.env.build
  packages/ag-charts-website/.env.build.archive
  packages/ag-charts-website/.env.build.production
  packages/ag-charts-website/.env.build.staging
  packages/ag-charts-website/.env.dev
  packages/ag-charts-website/.env.preview
  packages/ag-charts-website/.env.preview.production
  packages/ag-charts-website/.env.preview.staging
  packages/ag-charts-website/package.json
  plugins/ag-charts-generate-chart-thumbnail/package.json
  plugins/ag-charts-generate-code-reference-files/package.json
  plugins/ag-charts-generate-example-files/package.json
Owners: @ag-grid/ag-charts-team, @alantreadway

misc cleanup
  packages/ag-charts-community/src/chart/series/cartesian/histogramSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/pathUtil.ts
  packages/ag-charts-community/src/util/number.ts
  packages/ag-charts-enterprise/src/features/zoom/zoom.ts
Owners: @alantreadway

misc cleanup
  packages/ag-charts-community/src/chart/chart.ts
Owners: @alantreadway

misc cleanup
  packages/ag-charts-community/src/chart/data/dataModel.ts
  packages/ag-charts-community/src/chart/series/cartesian/barUtil.ts
Owners: @alantreadway

misc cleanup
  packages/ag-charts-community/src/chart/series/cartesian/pathUtil.ts
Owners: @alantreadway

Fix nx pack race condition.
  packages/ag-charts-angular/project.json
  packages/ag-charts-community/project.json
  packages/ag-charts-enterprise/project.json
  packages/ag-charts-react/project.json
  packages/ag-charts-vue/project.json
  packages/ag-charts-vue3/project.json
Owners: @alantreadway

Fix BackgroundImage document reference.
  packages/ag-charts-enterprise/src/features/background/background.ts
  packages/ag-charts-enterprise/src/features/background/backgroundImage.test.ts
  packages/ag-charts-enterprise/src/features/background/backgroundImage.ts
Owners: @alantreadway

AG-10323 Fix tooltips on mobile devices
  packages/ag-charts-community/src/chart/chart.ts
Owners: @alantreadway

misc cleanup
  packages/ag-charts-community/src/chart/themes/chartTheme.ts
  packages/ag-charts-community/src/chart/themes/darkTheme.ts
  packages/ag-charts-community/src/chart/themes/materialDark.ts
  packages/ag-charts-community/src/chart/themes/materialLight.ts
  packages/ag-charts-community/src/chart/themes/polychromaDark.ts
  packages/ag-charts-community/src/chart/themes/polychromaLight.ts
  packages/ag-charts-community/src/chart/themes/sheetsDark.ts
  packages/ag-charts-community/src/chart/themes/sheetsLight.ts
  packages/ag-charts-community/src/chart/themes/vividDark.ts
  packages/ag-charts-community/src/chart/themes/vividLight.ts
Owners: @alantreadway

Fix series theme resolving
  packages/ag-charts-community/src/module/optionsModule.ts
Owners: @alantreadway

Automated package version bump to 9.0.2-beta.20240125.
  .env
  libraries/ag-charts-test/package.json
  package.json
  packages/ag-charts-angular/package.json
  packages/ag-charts-angular/projects/ag-charts-angular/package.json
  packages/ag-charts-community-examples/package.json
  packages/ag-charts-community/package.json
  packages/ag-charts-community/src/version.ts
  packages/ag-charts-enterprise/package.json
  packages/ag-charts-react/package.json
  packages/ag-charts-vue/package.json
  packages/ag-charts-vue3/package.json
  packages/ag-charts-website/.env.build
  packages/ag-charts-website/.env.build.archive
  packages/ag-charts-website/.env.build.production
  packages/ag-charts-website/.env.build.staging
  packages/ag-charts-website/.env.dev
  packages/ag-charts-website/.env.preview
  packages/ag-charts-website/.env.preview.production
  packages/ag-charts-website/.env.preview.staging
  packages/ag-charts-website/package.json
  plugins/ag-charts-generate-chart-thumbnail/package.json
  plugins/ag-charts-generate-code-reference-files/package.json
  plugins/ag-charts-generate-example-files/package.json
Owners: @ag-grid/ag-charts-team, @alantreadway

Exclude image snapshots from build target input scope.
  nx.json
Owners: @alantreadway

Revert "AG-10225 Change context menu to use highlight node for charts without markers"
  packages/ag-charts-community/src/chart/interaction/interactionManager.ts
  packages/ag-charts-enterprise/src/features/context-menu/contextMenu.ts
  packages/ag-charts-enterprise/src/features/zoom/zoom.ts
Owners: @alantreadway

Fix spurious ; character.
  packages/ag-charts-website/src/content/docs/context-menu/index.mdoc
Owners: @rmc-software
