Repository ag-grid/ag-charts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ag-grid/ag-charts-team, @markdurrant, @taktran, @alantreadway, @rmc-software

Remove unnecessary defaulted parameters
  packages/ag-charts-community/src/chart/chart.ts
  packages/ag-charts-community/src/chart/data/processors.ts
Owners: @alantreadway

Remove redundant generic constraint to `any`
  packages/ag-charts-community/src/api/state/memento.ts
Owners: @alantreadway

Change to use optional chain expression
  packages/ag-charts-enterprise/src/features/annotations/disjoint-channel/disjointChannelScene.ts
  packages/ag-charts-enterprise/src/features/zoom/zoomContextMenu.ts
Owners: @alantreadway

Add md5.ts to sonar exclusions
  sonar-project.properties
Owners: @ag-grid/ag-charts-team

Remove useless assignments
  packages/ag-charts-community/src/scene/shape/rect.ts
  packages/ag-charts-community/src/scene/util/sector.ts
Owners: @alantreadway

Remove assignment to loop counter within loop body
  packages/ag-charts-community/src/util/textWrapper.ts
Owners: @alantreadway

Remove redundant type alias
  packages/ag-charts-enterprise/src/features/crosshair/crosshair.ts
Owners: @alantreadway

Remove redundant await on a non-promise
  packages/ag-charts-community/src/chart/chartProxy.ts
Owners: @alantreadway

Move z index to array
  packages/ag-charts-community/src/chart/__image_snapshots__/cartesian-chart-test-ts-cartesian-chart-series-highlighting-should-correctly-change-highlighting-state-and-reset-1-snap.png
  packages/ag-charts-community/src/chart/__image_snapshots__/cartesian-chart-test-ts-cartesian-chart-series-highlighting-should-correctly-change-highlighting-state-and-reset-2-snap.png
  packages/ag-charts-community/src/chart/__image_snapshots__/cartesian-chart-test-ts-cartesian-chart-series-highlighting-should-render-series-with-y-key-adults-appropriately-1-snap.png
  packages/ag-charts-community/src/chart/__image_snapshots__/cartesian-chart-test-ts-cartesian-chart-series-highlighting-should-render-series-with-y-key-women-appropriately-1-snap.png
  packages/ag-charts-community/src/chart/__image_snapshots__/gallery-examples-test-ts-gallery-examples-ag-chart-v-2-create-for-simple-pie-chart-example-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-community/src/chart/axis/axis.ts
  packages/ag-charts-community/src/chart/chart.ts
  packages/ag-charts-community/src/chart/series/__image_snapshots__/series-labels-test-ts-series-labels-create-for-pie-series-labels-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/cartesianSeries.ts
  packages/ag-charts-community/src/chart/series/polar/__image_snapshots__/polar-series-test-ts-polar-series-create-for-pie-callout-labels-collisions-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-community/src/chart/series/polar/__image_snapshots__/polar-series-test-ts-polar-series-create-for-pie-sectors-different-radii-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-community/src/chart/series/polar/__image_snapshots__/polar-series-test-ts-polar-series-create-for-pie-sectors-different-radii-small-radius-min-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-community/src/chart/series/polar/__image_snapshots__/polar-series-test-ts-polar-series-create-for-pie-series-negative-values-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-community/src/chart/series/polar/__image_snapshots__/polar-series-test-ts-polar-series-remove-animation-for-pie-series-should-animate-at-100-1-snap.png
  packages/ag-charts-community/src/chart/series/polar/donutSeries.ts
  packages/ag-charts-community/src/chart/series/polar/pieSeries.ts
  packages/ag-charts-community/src/chart/series/polar/polarSeries.ts
  packages/ag-charts-community/src/chart/series/series.ts
  packages/ag-charts-community/src/chart/series/seriesLayerManager.ts
  packages/ag-charts-community/src/scene/group.ts
  packages/ag-charts-community/src/scene/layer.ts
  packages/ag-charts-community/src/scene/layersManager.ts
  packages/ag-charts-community/src/scene/node.ts
  packages/ag-charts-community/src/scene/sceneDebug.ts
  packages/ag-charts-community/src/scene/zIndex.test.ts
  packages/ag-charts-community/src/scene/zIndex.ts
  packages/ag-charts-enterprise/src/axes/angle/angleAxis.ts
  packages/ag-charts-enterprise/src/axes/polar-crosslines/angleCrossLine.ts
  packages/ag-charts-enterprise/src/features/error-bar/errorBar.ts
  packages/ag-charts-enterprise/src/series/funnel/baseFunnelSeries.ts
  packages/ag-charts-enterprise/src/series/map-marker/mapMarkerSeries.ts
  packages/ag-charts-enterprise/src/series/radar-area/radarAreaSeries.ts
  packages/ag-charts-enterprise/src/series/radar/radarSeries.ts
Owners: @alantreadway

lint
  packages/ag-charts-community/src/chart/series/cartesian/cartesianSeries.ts
  packages/ag-charts-community/src/chart/series/seriesLayerManager.ts
  packages/ag-charts-community/src/scene/sceneDebug.ts
  packages/ag-charts-enterprise/src/axes/polar-crosslines/angleCrossLine.ts
Owners: @alantreadway

AG-12966 Pyramid docs updates
  packages/ag-charts-enterprise/src/series/pyramid/pyramidSeries.ts
  packages/ag-charts-website/src/content/docs/layout-test/_examples/layout-shadow-dom-relocation/index.html
  packages/ag-charts-website/src/content/docs/pyramid-series/_examples/pyramid-aspect-ratio/index.html
  packages/ag-charts-website/src/content/docs/pyramid-series/_examples/pyramid-aspect-ratio/main.ts
Owners: @alantreadway, @ag-grid/ag-charts-team

Fix unexpected empty functions
  packages/ag-charts-community/src/chart/axis/polarAxis.ts
  packages/ag-charts-enterprise/src/series/chord/chordSeries.ts
  packages/ag-charts-enterprise/src/series/flow-proportion/flowProportionSeries.ts
  packages/ag-charts-enterprise/src/series/pyramid/pyramidSeries.ts
Owners: @alantreadway

lint
  packages/ag-charts-community/src/chart/series/cartesian/barSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/labelUtil.ts
  packages/ag-charts-enterprise/src/series/linear-gauge/linearGaugeSeriesProperties.ts
  packages/ag-charts-enterprise/src/series/linear-gauge/linearGaugeUtil.ts
  packages/ag-charts-enterprise/src/series/waterfall/waterfallSeries.ts
  packages/ag-charts-types/src/presets/gauge/linearGaugeOptions.ts
  packages/ag-charts-website/src/content/docs/pyramid-series/_examples/pyramid-aspect-ratio/main.ts
Owners: @alantreadway, @ag-grid/ag-charts-team

lint
  packages/ag-charts-website/src/content/docs/linear-gauge/_examples/labels/main.ts
  packages/ag-charts-website/src/content/docs/pyramid-series/_examples/pyramid-aspect-ratio/main.ts
Owners: @ag-grid/ag-charts-team

Remove virtual children wip
  packages/ag-charts-community/src/chart/series/series.ts
  packages/ag-charts-community/src/scene/debug.util.ts
  packages/ag-charts-community/src/scene/group.ts
  packages/ag-charts-community/src/scene/layer.ts
  packages/ag-charts-community/src/scene/node.ts
  packages/ag-charts-community/src/scene/sceneDebug.ts
Owners: @alantreadway

tests
  packages/ag-charts-enterprise/src/series/linear-gauge/__image_snapshots__/linear-gauge-series-test-ts-linear-gauge-series-series-labels-horizontal-should-render-label-at-placement-inside-center-1-snap.png
  packages/ag-charts-enterprise/src/series/linear-gauge/__image_snapshots__/linear-gauge-series-test-ts-linear-gauge-series-series-labels-horizontal-should-render-multi-line-labels-at-placement-inside-center-1-snap.png
  packages/ag-charts-enterprise/src/series/linear-gauge/__image_snapshots__/linear-gauge-series-test-ts-linear-gauge-series-series-labels-vertical-should-render-label-at-placement-inside-center-1-snap.png
  packages/ag-charts-enterprise/src/series/linear-gauge/__image_snapshots__/linear-gauge-series-test-ts-linear-gauge-series-series-labels-vertical-should-render-multi-line-labels-at-placement-inside-center-1-snap.png
  packages/ag-charts-enterprise/src/series/linear-gauge/linearGaugeSeries.test.ts
Owners: @alantreadway

AG-12985 - Fix Radial Gauge download.
  packages/ag-charts-community/src/chart/chartProxy.ts
  packages/ag-charts-community/src/chart/factory/processEnterpriseOptions.ts
  packages/ag-charts-community/src/chart/mapping/types.ts
  packages/ag-charts-community/src/module/optionsModule.ts
  packages/ag-charts-enterprise/src/series/radial-gauge/radialGaugeSeries.test.ts
Owners: @alantreadway

Add next branch as CI target.
  .github/workflows/ci.yml
Owners: @ag-grid/ag-charts-team

Add next branch as CI target.
  .github/workflows/ci.yml
Owners: @ag-grid/ag-charts-team

AG-12876 - Fix rapid stacked option toggling leading to corrupt series grouping state.
  packages/ag-charts-community/src/chart/series/series.ts
  packages/ag-charts-community/src/chart/series/seriesStateManager.ts
Owners: @alantreadway

AG-12985 - Add Radial Gauge download regression test.
  packages/ag-charts-enterprise/src/series/radial-gauge/__image_snapshots__/radial-gauge-series-test-ts-radial-gauge-series-it-should-export-image-as-expected-ag-12985-1-snap.png
  packages/ag-charts-enterprise/src/series/radial-gauge/radialGaugeSeries.test.ts
Owners: @alantreadway

AG-12985 - Cleanup.
  packages/ag-charts-community/src/chart/chartProxy.ts
Owners: @alantreadway

Fix example generation
  packages/ag-charts-website/src/content/docs/pyramid-series/_examples/pyramid-aspect-ratio/index.html
Owners: @ag-grid/ag-charts-team

Docs for new features in 10.3 release
  packages/ag-charts-types/src/series/cartesian/coneFunnelOptions.ts
  packages/ag-charts-types/src/series/cartesian/funnelOptions.ts
  packages/ag-charts-types/src/series/standalone/pyramidOptions.ts
  packages/ag-charts-website/src/content/docs/financial-charts-toolbar/_examples/measuring-tools/data.ts
  packages/ag-charts-website/src/content/docs/financial-charts-toolbar/_examples/measuring-tools/index.html
  packages/ag-charts-website/src/content/docs/financial-charts-toolbar/_examples/measuring-tools/main.ts
  packages/ag-charts-website/src/content/docs/financial-charts-toolbar/index.mdoc
  packages/ag-charts-website/src/content/docs/upgrade-to-ag-charts-10-3/index.mdoc
  packages/ag-charts-website/src/content/versions/ag-charts-versions.json
Owners: @ag-grid/ag-charts-team, @rmc-software

AG-12093 Fix dotted bounding lines disappearing
  packages/ag-charts-enterprise/src/features/annotations/measurer/measurerScene.ts
Owners: @alantreadway

AG-12093 Fix caps to not overflow bounding lines
  packages/ag-charts-enterprise/src/features/annotations/measurer/measurerScene.ts
Owners: @alantreadway

AG-12093 Add basic tests for date range and price range drawings
  packages/ag-charts-enterprise/src/features/annotations/__image_snapshots__/annotations-test-ts-annotations-initial-should-render-a-date-range-annotation-1-snap.png
  packages/ag-charts-enterprise/src/features/annotations/__image_snapshots__/annotations-test-ts-annotations-initial-should-render-a-price-range-annotation-1-snap.png
  packages/ag-charts-enterprise/src/features/annotations/annotations.test.ts
Owners: @alantreadway

AG-12094 Add missing translation
  packages/ag-charts-locale/src/en-US.ts
Owners: @ag-grid/ag-charts-team

AG-12094 Change default percent formatter to use 2dp
  packages/ag-charts-community/src/util/number.ts
Owners: @alantreadway

AG-12094 Fix vertical line clip mask to only clip when crossing line
  packages/ag-charts-enterprise/src/features/annotations/measurer/measurerScene.ts
Owners: @alantreadway

AG-12985 - Review fixes.
  packages/ag-charts-community/src/chart/mapping/types.ts
Owners: @alantreadway

Refactor virtual children
  packages/ag-charts-community/src/chart/cartesianChart.ts
  packages/ag-charts-community/src/chart/chart.ts
  packages/ag-charts-community/src/chart/flowProportionChart.ts
  packages/ag-charts-community/src/chart/gaugeChart.ts
  packages/ag-charts-community/src/chart/hierarchyChart.ts
  packages/ag-charts-community/src/chart/series/cartesian/areaSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/cartesianSeries.ts
  packages/ag-charts-community/src/chart/series/hierarchy/hierarchySeries.ts
  packages/ag-charts-community/src/chart/series/polar/donutSeries.ts
  packages/ag-charts-community/src/chart/series/polar/pieSeries.ts
  packages/ag-charts-community/src/chart/series/polar/polarSeries.ts
  packages/ag-charts-community/src/chart/series/polar/polarZIndexMap.ts
  packages/ag-charts-community/src/chart/series/series.ts
  packages/ag-charts-community/src/chart/series/seriesLayerManager.ts
  packages/ag-charts-community/src/chart/series/seriesZIndexMap.ts
  packages/ag-charts-community/src/chart/series/util.ts
  packages/ag-charts-community/src/chart/standaloneChart.ts
  packages/ag-charts-community/src/chart/topologyChart.ts
  packages/ag-charts-enterprise/src/features/navigator/miniChart.ts
  packages/ag-charts-enterprise/src/series/bullet/bulletSeries.ts
  packages/ag-charts-enterprise/src/series/chord/chordSeries.ts
  packages/ag-charts-enterprise/src/series/linear-gauge/linearGaugeSeries.ts
  packages/ag-charts-enterprise/src/series/map-line-background/mapLineBackgroundSeries.ts
  packages/ag-charts-enterprise/src/series/map-line/mapLineSeries.ts
  packages/ag-charts-enterprise/src/series/map-marker/mapMarkerSeries.ts
  packages/ag-charts-enterprise/src/series/map-shape-background/mapShapeBackgroundSeries.ts
  packages/ag-charts-enterprise/src/series/map-shape/mapShapeSeries.ts
  packages/ag-charts-enterprise/src/series/map-util/mapZIndexMap.ts
  packages/ag-charts-enterprise/src/series/radial-gauge/radialGaugeSeries.ts
  packages/ag-charts-enterprise/src/series/sankey/sankeySeries.ts
Owners: @alantreadway

AG-12094 Fix statistics and divider options
  packages/ag-charts-types/src/chart/annotationsOptions.ts
Owners: @ag-grid/ag-charts-team

AG-12094 Fix statistics theme colors and add dark mode
  packages/ag-charts-community/src/chart/themes/chartTheme.ts
  packages/ag-charts-community/src/chart/themes/darkTheme.ts
  packages/ag-charts-community/src/chart/themes/symbols.ts
  packages/ag-charts-enterprise/src/features/annotations/annotationsModule.ts
  packages/ag-charts-enterprise/src/features/annotations/measurer/measurerStatisticsScene.ts
Owners: @alantreadway

Remove virtual children
  packages/ag-charts-community/src/chart/cartesianChart.ts
  packages/ag-charts-community/src/chart/chart.ts
  packages/ag-charts-community/src/chart/flowProportionChart.ts
  packages/ag-charts-community/src/chart/gaugeChart.ts
  packages/ag-charts-community/src/chart/hierarchyChart.ts
  packages/ag-charts-community/src/chart/series/cartesian/areaSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/cartesianSeries.ts
  packages/ag-charts-community/src/chart/series/polar/donutSeries.ts
  packages/ag-charts-community/src/chart/series/polar/pieSeries.ts
  packages/ag-charts-community/src/chart/series/series.ts
  packages/ag-charts-community/src/chart/standaloneChart.ts
  packages/ag-charts-community/src/chart/topologyChart.ts
  packages/ag-charts-enterprise/src/features/crosshair/__image_snapshots__/crosshair-test-ts-crosshair-should-follow-mouse-pointer-on-series-hover-8-snap.png
  packages/ag-charts-enterprise/src/features/crosshair/__image_snapshots__/crosshair-test-ts-crosshair-should-follow-mouse-pointer-on-series-hover-9-snap.png
  packages/ag-charts-enterprise/src/features/crosshair/__image_snapshots__/crosshair-test-ts-crosshair-should-layout-correctly-with-series-area-padding-8-snap.png
  packages/ag-charts-enterprise/src/features/crosshair/__image_snapshots__/crosshair-test-ts-crosshair-should-layout-correctly-with-series-area-padding-9-snap.png
  packages/ag-charts-enterprise/src/features/crosshair/__image_snapshots__/crosshair-test-ts-crosshair-should-snap-to-the-closest-highlighted-node-datum-8-snap.png
  packages/ag-charts-enterprise/src/features/crosshair/__image_snapshots__/crosshair-test-ts-crosshair-should-snap-to-the-closest-highlighted-node-datum-9-snap.png
  packages/ag-charts-enterprise/src/features/error-bar/errorBar.test.ts
  packages/ag-charts-enterprise/src/features/error-bar/errorBar.ts
  packages/ag-charts-enterprise/src/features/navigator/miniChart.ts
  packages/ag-charts-enterprise/src/series/bullet/__image_snapshots__/bullet-series-test-ts-bullet-series-rendering-should-clip-everything-to-scale-max-1-snap.png
  packages/ag-charts-enterprise/src/series/bullet/__image_snapshots__/bullet-series-test-ts-bullet-series-rendering-should-extend-final-color-to-scale-max-1-snap.png
  packages/ag-charts-enterprise/src/series/bullet/__image_snapshots__/bullet-series-test-ts-bullet-series-rendering-should-not-render-crosshair-1-snap.png
  packages/ag-charts-enterprise/src/series/bullet/__image_snapshots__/bullet-series-test-ts-bullet-series-rendering-should-process-first-datum-only-1-snap.png
  packages/ag-charts-enterprise/src/series/bullet/__image_snapshots__/bullet-series-test-ts-bullet-series-rendering-should-render-a-horizontal-bullet-as-expected-1-snap.png
  packages/ag-charts-enterprise/src/series/bullet/__image_snapshots__/bullet-series-test-ts-bullet-series-rendering-should-render-a-vertical-bullet-by-default-1-snap.png
  packages/ag-charts-enterprise/src/series/bullet/__image_snapshots__/bullet-series-test-ts-bullet-series-rendering-should-render-simple-bullet-1-snap.png
  packages/ag-charts-enterprise/src/series/bullet/__image_snapshots__/bullet-series-test-ts-bullet-series-rendering-should-use-explicit-axis-max-1-snap.png
  packages/ag-charts-enterprise/src/series/bullet/__image_snapshots__/bullet-series-test-ts-bullet-series-validation-should-filter-bullet-series-from-line-chart-2-snap.png
  packages/ag-charts-enterprise/src/series/bullet/__image_snapshots__/bullet-series-test-ts-bullet-series-validation-should-ignore-other-trailing-series-2-snap.png
  packages/ag-charts-enterprise/src/series/bullet/__image_snapshots__/bullet-series-test-ts-bullet-series-validation-should-ignore-trailing-bullet-series-2-snap.png
  packages/ag-charts-enterprise/src/series/bullet/__image_snapshots__/bullet-series-test-ts-bullet-series-validation-warning-negative-color-range-stop-2-snap.png
  packages/ag-charts-enterprise/src/series/bullet/__image_snapshots__/bullet-series-test-ts-bullet-series-validation-warning-negative-max-ignore-max-2-snap.png
  packages/ag-charts-enterprise/src/series/bullet/__image_snapshots__/bullet-series-test-ts-bullet-series-validation-warning-negative-target-2-snap.png
  packages/ag-charts-enterprise/src/series/bullet/__image_snapshots__/bullet-series-test-ts-bullet-series-validation-warning-negative-value-2-snap.png
  packages/ag-charts-enterprise/src/series/bullet/bulletSeries.test.ts
  packages/ag-charts-enterprise/src/series/pie/__image_snapshots__/pie-series-test-ts-pie-series-switching-data-should-switch-between-datasets-with-overlapping-keys-1-snap.png
  packages/ag-charts-enterprise/src/series/pie/__image_snapshots__/pie-series-test-ts-pie-series-switching-data-should-switch-between-datasets-with-overlapping-keys-3-snap.png
Owners: @alantreadway

AG-12094 Fix statistics zIndex to above handles when dragged into corner
  packages/ag-charts-enterprise/src/features/annotations/measurer/measurerScene.ts
Owners: @alantreadway

AG-12094 Fix hiding statistics volume
  packages/ag-charts-enterprise/src/features/annotations/annotations.ts
  packages/ag-charts-enterprise/src/features/annotations/measurer/measurerProperties.ts
Owners: @alantreadway

AG-13165 - Stop axis '+' button from flickering when the mouse is hovering over it
  packages/ag-charts-community/src/chart/interaction/regionManager.ts
Owners: @alantreadway

Update benchmarks pre-10.3.0 release.
  packages/ag-charts-website/src/content/docs/benchmarks/_examples/summary/data.ts
Owners: @ag-grid/ag-charts-team

simplify scale.convert() signature
  packages/ag-charts-community/src/chart/crossline/cartesianCrossLine.ts
  packages/ag-charts-community/src/scale/continuousScale.ts
  packages/ag-charts-community/src/scale/linearScale.test.ts
  packages/ag-charts-community/src/scale/logScale.ts
  packages/ag-charts-community/src/scale/scale.ts
  packages/ag-charts-community/src/scale/timeScale.ts
  packages/ag-charts-enterprise/src/series/map-line/mapLineSeries.ts
  packages/ag-charts-enterprise/src/series/map-marker/mapMarkerSeries.ts
  packages/ag-charts-enterprise/src/series/radial-bar/radialBarSeries.ts
Owners: @alantreadway

.github/CODEOWNERS:

# NOTE: Order of entries matters - later entries have higher precedence.

# Attribute code-owners so default reviewers are assigned to PRs.
* @ag-grid/ag-charts-team

# Astro + website changes to be reviewed by website team.
*.scss @markdurrant
*.astro @taktran
/packages/ag-charts-website/astro/** @taktran
/packages/ag-charts-website/components/** @taktran
/packages/ag-charts-website/features/** @taktran
/packages/ag-charts-website/layouts/** @taktran
/packages/ag-charts-website/stores/** @taktran
/packages/ag-charts-website/utils/** @taktran

# Docs updates to be reviewed by Eng VP.
/packages/ag-charts-website/content/** @alantreadway @rmc-software
*.mdoc @rmc-software

# Charts library code to be reviewed by Chart TL.
/packages/ag-charts-community/** @alantreadway
/packages/ag-charts-enterprise/** @alantreadway

# Sensitive build/repo files to be reviewed by Chart TL.
**/package.json @alantreadway
nx.json @alantreadway
**/project.json @alantreadway
**/tsconfig.json @alantreadway
**/tsconfig.*.json @alantreadway
