Repository ag-grid/ag-charts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ag-grid/ag-charts-team, @markdurrant, @taktran, @alantreadway, @rmc-software

.github/CODEOWNERS:

# NOTE: Order of entries matters - later entries have higher precedence.

# Attribute code-owners so default reviewers are assigned to PRs.
* @ag-grid/ag-charts-team

# Astro + website changes to be reviewed by website team.
*.scss @markdurrant
*.astro @taktran
/packages/ag-charts-website/astro/** @taktran
/packages/ag-charts-website/components/** @taktran
/packages/ag-charts-website/features/** @taktran
/packages/ag-charts-website/layouts/** @taktran
/packages/ag-charts-website/stores/** @taktran
/packages/ag-charts-website/utils/** @taktran

# Docs updates to be reviewed by Eng VP.
/packages/ag-charts-website/content/** @alantreadway @rmc-software
*.mdoc @rmc-software

# Charts library code to be reviewed by Chart TL.
/packages/ag-charts-community/** @alantreadway
/packages/ag-charts-enterprise/** @alantreadway

# Sensitive build/repo files to be reviewed by Chart TL.
**/package.json @alantreadway
nx.json @alantreadway
**/project.json @alantreadway
**/tsconfig.json @alantreadway
**/tsconfig.*.json @alantreadway

Allow E2E CI job OS config.
  .github/workflows/ci.yml
Owners: @ag-grid/ag-charts-team

Fix dangling e2e tests.
  .github/workflows/ci.yml
Owners: @ag-grid/ag-charts-team

AG-3390 Fix broken link
  packages/ag-charts-website/src/content/versions/ag-charts-versions.json
Owners: @ag-grid/ag-charts-team

AG-11811 Exclude redirect pages from sitemap
  packages/ag-charts-website/src/utils/sitemap.ts
Owners: @ag-grid/ag-charts-team

AG-11811 Add header to sitemap page
  external/ag-website-shared/src/components/sitemap/Sitemap.tsx
  external/ag-website-shared/src/components/sitemap/sitemap.module.scss
  packages/ag-charts-website/src/pages/sitemap.astro
Owners: @ag-grid/ag-charts-team, @markdurrant, @taktran

AG-11887 Hide bar labels for undefined datum
  packages/ag-charts-community/src/chart/series/cartesian/barSeries.ts
Owners: @alantreadway

AG-11811 Exclude specific pages from sitemap & indexing
  packages/ag-charts-website/src/layouts/Layout.astro
  packages/ag-charts-website/src/pages/style-guide.astro
  packages/ag-charts-website/src/utils/sitemap.ts
Owners: @taktran, @ag-grid/ag-charts-team

AG-11811 Remove H1 to prevent CLS
  packages/ag-charts-website/src/pages/[framework]/index.astro
  packages/ag-charts-website/src/pages/documentation.astro
Owners: @taktran

AG-11811 Move <h1> to astro component for SSR
  packages/ag-charts-website/src/features/changelog/Changelog.tsx
  packages/ag-charts-website/src/features/pipeline/Pipeline.tsx
  packages/ag-charts-website/src/pages/changelog.astro
  packages/ag-charts-website/src/pages/pipeline.astro
Owners: @ag-grid/ag-charts-team, @taktran

AG-11997: Treemap - A particular label is not shown when there is enough space
  packages/ag-charts-community/src/util/textWrapper.ts
  packages/ag-charts-enterprise/src/series/util/labelFormatter.ts
Owners: @alantreadway

fix lint
  packages/ag-charts-enterprise/src/series/util/labelFormatter.ts
Owners: @alantreadway

solve sonarqube warning
  packages/ag-charts-community/src/util/textWrapper.ts
  packages/ag-charts-enterprise/src/series/util/labelFormatter.ts
Owners: @alantreadway

solve sonarqube warning
  packages/ag-charts-community/src/util/textWrapper.ts
Owners: @alantreadway

Add dynamic E2E matrix calculation.
  .github/actions/setup-nx/action.yml
  .github/workflows/ci.yml
  packages/ag-charts-website/e2e/examples.spec.ts
  tools/test/calculate-shards.js
Owners: @ag-grid/ag-charts-team

Add dynamic E2E matrix calculation.
  tools/test/calculate-shards.js
Owners: @ag-grid/ag-charts-team

Add dynamic E2E matrix calculation.
  tools/test/calculate-shards.js
Owners: @ag-grid/ag-charts-team

Fix dynamic E2E matrix calculation on latest.
  .github/workflows/ci.yml
Owners: @ag-grid/ag-charts-team

Fix CI cached node_modules handling.
  .github/actions/setup-nx/action.yml
Owners: @ag-grid/ag-charts-team

Fix CI cached node_modules handling.
  .github/actions/setup-nx/action.yml
Owners: @ag-grid/ag-charts-team

AG-11990 - Add tests for FC zoom case.
  packages/ag-charts-website/e2e/financial-charts-showcase.spec.ts
  packages/ag-charts-website/e2e/financial-charts-showcase.spec.ts-snapshots/zoom-and-hover-on-out-of-y-range-prices-chromium-darwin.png
  packages/ag-charts-website/e2e/util.ts
  packages/ag-charts-website/e2e/zoom.spec.ts
Owners: @ag-grid/ag-charts-team

AG-11990 - Add Linux snapshot.
  packages/ag-charts-website/e2e/financial-charts-showcase.spec.ts-snapshots/zoom-and-hover-on-out-of-y-range-prices-chromium-linux.png
Owners: @ag-grid/ag-charts-team

AG-11990 - Fix snapshot handling.
  packages/ag-charts-website/e2e/financial-charts-showcase.spec.ts
Owners: @ag-grid/ag-charts-team

Automated package version bump to 10.0.1-beta.20240705.
  .env
  libraries/ag-charts-test/package.json
  package.json
  packages/ag-charts-angular/package.json
  packages/ag-charts-angular/projects/ag-charts-angular/package.json
  packages/ag-charts-community-examples/package.json
  packages/ag-charts-community/package.json
  packages/ag-charts-community/src/version.ts
  packages/ag-charts-enterprise/package.json
  packages/ag-charts-locale/package.json
  packages/ag-charts-react/package.json
  packages/ag-charts-types/package.json
  packages/ag-charts-vue3/package.json
  packages/ag-charts-website/.env.build
  packages/ag-charts-website/.env.build.archive
  packages/ag-charts-website/.env.build.production
  packages/ag-charts-website/.env.build.staging
  packages/ag-charts-website/.env.dev
  packages/ag-charts-website/.env.preview
  packages/ag-charts-website/.env.preview.production
  packages/ag-charts-website/.env.preview.staging
  packages/ag-charts-website/package.json
  plugins/ag-charts-generate-chart-thumbnail/package.json
  plugins/ag-charts-generate-code-reference-files/package.json
  plugins/ag-charts-generate-example-files/package.json
Owners: @ag-grid/ag-charts-team, @alantreadway

Add automated Playwright snapshot updates.
  .github/actions/setup-nx/action.yml
  .github/workflows/ci.yml
  .github/workflows/update-e2e-snapshots.yml
Owners: @ag-grid/ag-charts-team

Fix CI break.
  .github/actions/setup-nx/action.yml
Owners: @ag-grid/ag-charts-team

Automated package version bump to 10.0.1-beta.20240707.
  .env
  libraries/ag-charts-test/package.json
  package.json
  packages/ag-charts-angular/package.json
  packages/ag-charts-angular/projects/ag-charts-angular/package.json
  packages/ag-charts-community-examples/package.json
  packages/ag-charts-community/package.json
  packages/ag-charts-community/src/version.ts
  packages/ag-charts-enterprise/package.json
  packages/ag-charts-locale/package.json
  packages/ag-charts-react/package.json
  packages/ag-charts-types/package.json
  packages/ag-charts-vue3/package.json
  packages/ag-charts-website/.env.build
  packages/ag-charts-website/.env.build.archive
  packages/ag-charts-website/.env.build.production
  packages/ag-charts-website/.env.build.staging
  packages/ag-charts-website/.env.dev
  packages/ag-charts-website/.env.preview
  packages/ag-charts-website/.env.preview.production
  packages/ag-charts-website/.env.preview.staging
  packages/ag-charts-website/package.json
  plugins/ag-charts-generate-chart-thumbnail/package.json
  plugins/ag-charts-generate-code-reference-files/package.json
  plugins/ag-charts-generate-example-files/package.json
Owners: @ag-grid/ag-charts-team, @alantreadway

AG-11947 Fix examples
  packages/ag-charts-website/src/content/docs/layout-test/_examples/layout-inline/main.ts
  packages/ag-charts-website/src/content/docs/layout-test/_examples/layout-matrix/main.ts
Owners: @ag-grid/ag-charts-team

AG-12086 - Move image caption component to ag-website-shared
  external/ag-website-shared/src/components/imageCaption/ImageCaption.astro
  external/ag-website-shared/src/components/imageCaption/ImageCaption.module.scss
  external/ag-website-shared/src/components/imageCaption/ImageCaption.tsx
  external/ag-website-shared/src/markdoc/tags/imageCaption.ts
  packages/ag-charts-website/markdoc.config.ts
  packages/ag-charts-website/src/components/image/ImageCaptionLegacy.tsx
  packages/ag-charts-website/src/content/docs/axes/index.mdoc
  packages/ag-charts-website/src/content/docs/axes/resources/axes.png
  packages/ag-charts-website/src/content/docs/layout/index.mdoc
  packages/ag-charts-website/src/content/docs/layout/resources/cartesian-chart-layout.png
Owners: @taktran, @markdurrant, @ag-grid/ag-charts-team, @rmc-software

AG-12086 - Remove unused docs images
  packages/ag-charts-website/public/docs/charts-area-series/custom-area-tooltip.png
  packages/ag-charts-website/public/docs/charts-area-series/default-area-tooltip.png
  packages/ag-charts-website/public/docs/charts-getting-started/vue-cli-step.png
  packages/ag-charts-website/public/docs/charts-line-series/tooltip-titles.png
  packages/ag-charts-website/public/docs/charts-tooltips/tooltip-no-title.png
  packages/ag-charts-website/public/docs/charts-tooltips/tooltip-with-title.png
Owners: @ag-grid/ag-charts-team

AG-12086 - Add missing alt tag
  external/ag-website-shared/src/components/imageCaption/ImageCaption.astro
Owners: @taktran

small rename
  packages/ag-charts-community/src/util/validation.test.ts
  packages/ag-charts-community/src/util/validation.ts
Owners: @alantreadway

AG-12086 - Move image caption to shared folder (#1984)
  external/ag-website-shared/src/components/imageCaption/ImageCaption.astro
  external/ag-website-shared/src/components/imageCaption/ImageCaption.module.scss
  external/ag-website-shared/src/components/imageCaption/ImageCaption.tsx
  external/ag-website-shared/src/markdoc/tags/imageCaption.ts
  packages/ag-charts-website/markdoc.config.ts
  packages/ag-charts-website/public/docs/charts-area-series/custom-area-tooltip.png
  packages/ag-charts-website/public/docs/charts-area-series/default-area-tooltip.png
  packages/ag-charts-website/public/docs/charts-getting-started/vue-cli-step.png
  packages/ag-charts-website/public/docs/charts-line-series/tooltip-titles.png
  packages/ag-charts-website/public/docs/charts-tooltips/tooltip-no-title.png
  packages/ag-charts-website/public/docs/charts-tooltips/tooltip-with-title.png
  packages/ag-charts-website/src/components/image/ImageCaptionLegacy.tsx
  packages/ag-charts-website/src/content/docs/axes/index.mdoc
  packages/ag-charts-website/src/content/docs/axes/resources/axes.png
  packages/ag-charts-website/src/content/docs/layout/index.mdoc
  packages/ag-charts-website/src/content/docs/layout/resources/cartesian-chart-layout.png
Owners: @taktran, @markdurrant, @ag-grid/ag-charts-team, @rmc-software

git subrepo push external/ag-website-shared
  external/ag-website-shared/.gitrepo
Owners: @ag-grid/ag-charts-team

Add debugging to e2e snapshot update CI job.
  .github/workflows/update-e2e-snapshots.yml
Owners: @ag-grid/ag-charts-team

AG-12086 - Remove gif support in image caption
  external/ag-website-shared/src/components/imageCaption/ImageCaption.astro
  external/ag-website-shared/src/markdoc/tags/imageCaption.ts
Owners: @taktran, @ag-grid/ag-charts-team

git subrepo push external/ag-website-shared
  external/ag-website-shared/.gitrepo
Owners: @ag-grid/ag-charts-team

improve tests and module encapsulation
  packages/ag-charts-community/src/util/validate.test.ts
  packages/ag-charts-community/src/util/validate.ts
Owners: @alantreadway

Add debugging to e2e snapshot update CI job.
  .github/workflows/update-e2e-snapshots.yml
Owners: @ag-grid/ag-charts-team

cleanup, prefer snapshots
  packages/ag-charts-community/src/util/__snapshots__/validate.test.ts.snap
  packages/ag-charts-community/src/util/validate.test.ts
Owners: @alantreadway

AG-12088 Rename annotation classes and add stub text annotation
  packages/ag-charts-enterprise/src/features/annotations/annotationProperties.ts
  packages/ag-charts-enterprise/src/features/annotations/annotationTypes.ts
  packages/ag-charts-enterprise/src/features/annotations/annotations.ts
  packages/ag-charts-enterprise/src/features/annotations/cross-line/crossLineProperties.ts
  packages/ag-charts-enterprise/src/features/annotations/cross-line/crossLineScene.ts
  packages/ag-charts-enterprise/src/features/annotations/cross-line/crossLineState.ts
  packages/ag-charts-enterprise/src/features/annotations/disjoint-channel/disjointChannelProperties.ts
  packages/ag-charts-enterprise/src/features/annotations/disjoint-channel/disjointChannelScene.ts
  packages/ag-charts-enterprise/src/features/annotations/disjoint-channel/disjointChannelState.ts
  packages/ag-charts-enterprise/src/features/annotations/line/lineProperties.ts
  packages/ag-charts-enterprise/src/features/annotations/line/lineScene.ts
  packages/ag-charts-enterprise/src/features/annotations/line/lineState.ts
  packages/ag-charts-enterprise/src/features/annotations/parallel-channel/parallelChannelProperties.ts
  packages/ag-charts-enterprise/src/features/annotations/parallel-channel/parallelChannelScene.ts
  packages/ag-charts-enterprise/src/features/annotations/parallel-channel/parallelChannelState.ts
  packages/ag-charts-enterprise/src/features/annotations/scenes/annotationScene.ts
  packages/ag-charts-enterprise/src/features/annotations/scenes/axisLabelScene.ts
  packages/ag-charts-enterprise/src/features/annotations/scenes/linearScene.ts
  packages/ag-charts-enterprise/src/features/annotations/text/textProperties.ts
  packages/ag-charts-enterprise/src/features/annotations/text/textScene.ts
  packages/ag-charts-enterprise/src/features/annotations/text/textState.ts
  packages/ag-charts-types/src/chart/annotationsOptions.ts
  packages/ag-charts-types/src/chart/toolbarOptions.ts
Owners: @alantreadway, @ag-grid/ag-charts-team
