Repository ag-grid/ag-charts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ag-grid/ag-charts-team, @markdurrant, @taktran, @alantreadway, @rmc-software

AG-3390 - Sync Pricing page, Policy pages, Pipeline & Changelog, & Grid pages Sass
  packages/ag-charts-website/src/design-system/core/_breakpoints.scss
  packages/ag-charts-website/src/design-system/modules/ComparisonTable.module.scss
  packages/ag-charts-website/src/design-system/modules/ComparisonTableRenderers.module.scss
  packages/ag-charts-website/src/design-system/modules/FAQ.module.scss
  packages/ag-charts-website/src/design-system/modules/GridHomepage.module.scss
  packages/ag-charts-website/src/design-system/modules/GridIndex.module.scss
  packages/ag-charts-website/src/design-system/modules/Licenses.module.scss
  packages/ag-charts-website/src/design-system/modules/SocialProof.module.scss
  packages/ag-charts-website/src/design-system/modules/pipelineChangelog.module.scss
  packages/ag-charts-website/src/design-system/modules/policyPage.module.scss
Owners: @markdurrant

AG-3390 - Sync menu & docs outer Sass
  packages/ag-charts-website/src/design-system/modules/MatrixTable.module.scss
  packages/ag-charts-website/src/design-system/modules/Menu.module.scss
  packages/ag-charts-website/src/design-system/modules/docs.module.scss
Owners: @markdurrant

AG-3390 - Sass formatting
  packages/ag-charts-website/src/design-system/_root.scss
  packages/ag-charts-website/src/design-system/modules/FAQ.module.scss
  packages/ag-charts-website/src/design-system/modules/Licenses.module.scss
  packages/ag-charts-website/src/design-system/modules/Search.module.scss
  packages/ag-charts-website/src/design-system/modules/SocialProof.module.scss
  packages/ag-charts-website/src/design-system/modules/community-section/EventsNew.module.scss
  packages/ag-charts-website/src/design-system/modules/community-section/Layout.module.scss
  packages/ag-charts-website/src/design-system/modules/community-section/Showcase.module.scss
  packages/ag-charts-website/src/design-system/modules/community-section/ToolsExtensions.module.scss
  packages/ag-charts-website/src/design-system/modules/community-section/index.module.scss
  packages/ag-charts-website/src/design-system/modules/community-section/landing-page/Support.module.scss
  packages/ag-charts-website/src/design-system/modules/community-section/news-updates/Events.module.scss
  packages/ag-charts-website/src/design-system/modules/community-section/news-updates/FeaturedNews.module.scss
  packages/ag-charts-website/src/design-system/modules/community-section/news-updates/Podcasts.module.scss
Owners: @markdurrant

AG-3390 - Sync What's New page with grid site
  packages/ag-charts-website/src/components/version/Version.tsx
  packages/ag-charts-website/src/design-system/modules/Version.module.scss
  packages/ag-charts-website/src/design-system/modules/WhatsNew.module.scss
  packages/ag-charts-website/src/pages/whats-new.astro
Owners: @ag-grid/ag-charts-team, @markdurrant, @taktran

AG-3390 - Replace pricing page iframe with Astro page + grid components
  packages/ag-charts-website/public/images/developer-quotes/orgIcons/google-developer-expert-logo.png
  packages/ag-charts-website/public/images/developer-quotes/orgIcons/solid.svg
  packages/ag-charts-website/public/images/developer-quotes/orgIcons/tanstack-logo.png
  packages/ag-charts-website/public/images/developer-quotes/portraits/brian-love-portrait.png
  packages/ag-charts-website/public/images/developer-quotes/portraits/ryan-carniato-portrait.png
  packages/ag-charts-website/public/images/developer-quotes/portraits/tanner-linsley-portrait.png
  packages/ag-charts-website/src/components/license-pricing/FAQ.tsx
  packages/ag-charts-website/src/components/license-pricing/InfoEmailLink.tsx
  packages/ag-charts-website/src/components/license-pricing/LicensePricing.tsx
  packages/ag-charts-website/src/components/license-pricing/Licenses.tsx
  packages/ag-charts-website/src/components/license-pricing/SocialProof.jsx
  packages/ag-charts-website/src/components/license-pricing/comparison-table/ComparisonTable.tsx
  packages/ag-charts-website/src/components/license-pricing/comparison-table/renderers/Feature.tsx
  packages/ag-charts-website/src/components/license-pricing/comparison-table/renderers/Label.tsx
  packages/ag-charts-website/src/components/license-pricing/comparison-table/utils/createRowDataFilter.test.ts
  packages/ag-charts-website/src/components/license-pricing/comparison-table/utils/createRowDataFilter.ts
  packages/ag-charts-website/src/components/quotes/Quotes.tsx
  packages/ag-charts-website/src/components/quotes/quotesData.ts
  packages/ag-charts-website/src/content/licence-features/chartsFeaturesMatrix.json
  packages/ag-charts-website/src/content/licence-features/gridFeaturesMatrix.json
  packages/ag-charts-website/src/features/license-pricing/LicensePricing.tsx
  packages/ag-charts-website/src/images/inline-svgs/pricing/charts-active.svg
  packages/ag-charts-website/src/images/inline-svgs/pricing/charts-inactive.svg
  packages/ag-charts-website/src/images/inline-svgs/pricing/grid-active.svg
  packages/ag-charts-website/src/images/inline-svgs/pricing/grid-inactive.svg
  packages/ag-charts-website/src/images/inline-svgs/pricing/toggle-background.svg
  packages/ag-charts-website/src/pages/license-pricing.astro
Owners: @ag-grid/ag-charts-team, @taktran

AG-3390 - Sync core DS Sass files
  packages/ag-charts-website/src/design-system/_base.scss
  packages/ag-charts-website/src/design-system/_layout.scss
  packages/ag-charts-website/src/design-system/_root.scss
Owners: @markdurrant

AG-10933 Add zoom theme defaults to fix setting to undefined
  packages/ag-charts-enterprise/src/features/zoom/zoomModule.ts
Owners: @alantreadway

Fix position of off-centre markers in legend
  packages/ag-charts-community/src/chart/markerLabel.ts
Owners: @alantreadway

fix test
  packages/ag-charts-community/src/chart/chart.ts
  packages/ag-charts-community/src/chart/chartProperties.ts
  packages/ag-charts-community/src/util/properties.test.ts
Owners: @alantreadway

cleanup
  packages/ag-charts-community/src/util/json.ts
Owners: @alantreadway

AG-10953 - Switch to static GeoJSON format definition.
  packages/ag-charts-community/.dependency-cruiser.js
  packages/ag-charts-community/package.json
  packages/ag-charts-community/src/chart/series/topology/geojson.ts
  packages/ag-charts-community/src/chart/series/topology/mercatorScale.ts
  packages/ag-charts-community/src/module-support.ts
  packages/ag-charts-enterprise/.dependency-cruiser.js
  packages/ag-charts-enterprise/package.json
  packages/ag-charts-enterprise/src/series/map-marker/mapMarkerSeries.ts
  packages/ag-charts-enterprise/src/series/map-marker/mapMarkerSeriesProperties.ts
  packages/ag-charts-enterprise/src/series/map-util/geoGeometry.ts
  packages/ag-charts-enterprise/src/series/map-util/geometryUtil.ts
  packages/ag-charts-enterprise/src/series/map-util/lineStringUtil.ts
  packages/ag-charts-enterprise/src/series/map-util/polygonUtil.ts
  packages/ag-charts-enterprise/src/series/map/mapSeries.ts
  packages/ag-charts-enterprise/src/series/map/mapSeriesProperties.ts
  yarn.lock
Owners: @alantreadway, @ag-grid/ag-charts-team

fix tests
  packages/ag-charts-community/src/chart/overlay/overlay.test.ts
  packages/ag-charts-community/src/util/properties.test.ts
  packages/ag-charts-community/src/util/properties.ts
Owners: @alantreadway

AG-3390 - Fix linting & formatting issues
  packages/ag-charts-website/package.json
  packages/ag-charts-website/src/components/license-pricing/FAQ.tsx
  packages/ag-charts-website/src/components/license-pricing/Licenses.tsx
  packages/ag-charts-website/src/components/license-pricing/SocialProof.jsx
  packages/ag-charts-website/src/components/license-pricing/comparison-table/ComparisonTable.tsx
  packages/ag-charts-website/src/components/license-pricing/comparison-table/renderers/Feature.tsx
  packages/ag-charts-website/src/components/license-pricing/comparison-table/renderers/Label.tsx
  packages/ag-charts-website/src/components/quotes/Quotes.tsx
  packages/ag-charts-website/src/components/quotes/quotesData.ts
  packages/ag-charts-website/src/components/search/Search.tsx
  packages/ag-charts-website/src/components/snippet/Snippet.tsx
  packages/ag-charts-website/src/content/licence-features/chartsFeaturesMatrix.json
  packages/ag-charts-website/src/content/licence-features/gridFeaturesMatrix.json
  packages/ag-charts-website/src/features/changelog/Changelog.tsx
  packages/ag-charts-website/src/features/example-runner/components/FrameworkTemplate.astro
  packages/ag-charts-website/src/features/pipeline/Pipeline.tsx
  packages/ag-charts-website/src/utils/pathJoin.ts
Owners: @alantreadway, @ag-grid/ag-charts-team, @taktran

AG-3390 - Fix depancies issue
  packages/ag-charts-website/package.json
Owners: @alantreadway

AG-10217 - Only allow one tick per band
  packages/ag-charts-community/src/scale/ordinalTimeScale.ts
Owners: @alantreadway

AG-10217 - Ordinal time scale unit tests
  packages/ag-charts-community/src/scale/__snapshots__/ordinalTimeScale.test.ts.snap
  packages/ag-charts-community/src/scale/ordinalTimeScale.test.ts
Owners: @alantreadway

AG-10780 Update minichart series API docs
  packages/ag-charts-community/src/options/chart/navigatorOptions.ts
  plugins/ag-charts-generate-code-reference-files/src/executors/generate/types-utils.ts
Owners: @alantreadway, @ag-grid/ag-charts-team

AG-10961 Docs for scatter/bubble label position
  packages/ag-charts-community/src/options/series/cartesian/bubbleOptions.ts
  packages/ag-charts-community/src/options/series/cartesian/scatterOptions.ts
Owners: @alantreadway

Lint
  packages/ag-charts-community/src/options/series/cartesian/scatterOptions.ts
Owners: @alantreadway

Normalizing chart's properties (#1187)
  packages/ag-charts-community/src/chart/axis/axis.ts
  packages/ag-charts-community/src/chart/axis/axisLabel.ts
  packages/ag-charts-community/src/chart/axis/axisTick.ts
  packages/ag-charts-community/src/chart/axis/axisTitle.ts
  packages/ag-charts-community/src/chart/caption.test.ts
  packages/ag-charts-community/src/chart/caption.ts
  packages/ag-charts-community/src/chart/chart.ts
  packages/ag-charts-community/src/chart/chartAxis.ts
  packages/ag-charts-community/src/chart/chartHighlight.ts
  packages/ag-charts-community/src/chart/chartOptions.ts
  packages/ag-charts-community/src/chart/chartProperties.ts
  packages/ag-charts-community/src/chart/interaction/interactionManager.ts
  packages/ag-charts-community/src/chart/interaction/regionManager.ts
  packages/ag-charts-community/src/chart/interaction/tooltipManager.ts
  packages/ag-charts-community/src/chart/overlay/chartOverlays.ts
  packages/ag-charts-community/src/chart/overlay/loadingSpinner.ts
  packages/ag-charts-community/src/chart/overlay/overlay.test.ts
  packages/ag-charts-community/src/chart/overlay/overlay.ts
  packages/ag-charts-community/src/chart/tooltip/tooltip.ts
  packages/ag-charts-community/src/chart/update/baseLayoutProcessor.ts
  packages/ag-charts-community/src/chart/update/overlaysProcessor.ts
  packages/ag-charts-community/src/chart/update/processor.ts
  packages/ag-charts-community/src/scale/continuousScale.ts
  packages/ag-charts-community/src/scene/node.ts
  packages/ag-charts-community/src/util/dom.ts
  packages/ag-charts-community/src/util/json.test.ts
  packages/ag-charts-community/src/util/json.ts
  packages/ag-charts-community/src/util/object.ts
  packages/ag-charts-community/src/util/properties.test.ts
  packages/ag-charts-community/src/util/properties.ts
  packages/ag-charts-community/src/util/validation.ts
  packages/ag-charts-enterprise/src/features/crosshair/crosshairLabel.ts
  packages/ag-charts-enterprise/src/license/watermark.ts
Owners: @alantreadway

AG-10943 Enable series highlight style for map series
  packages/ag-charts-enterprise/src/series/map-line/mapLineSeries.ts
  packages/ag-charts-enterprise/src/series/map-marker/mapMarkerSeries.ts
  packages/ag-charts-enterprise/src/series/map-shape/mapShapeSeries.ts
Owners: @alantreadway

AG-8416 Make nearestSquared() take an Iterable instead of a []
  packages/ag-charts-community/src/scene/nearest.ts
Owners: @alantreadway

AG-8416 Use numbers instead of Points in nearest.ts
  packages/ag-charts-community/src/scene/bbox.ts
  packages/ag-charts-community/src/scene/nearest.ts
  packages/ag-charts-community/src/scene/util/quadtree.ts
  packages/ag-charts-enterprise/src/features/error-bar/errorBar.ts
  packages/ag-charts-enterprise/src/features/error-bar/errorBarNode.ts
Owners: @alantreadway

AG-8416 Create an abstraction for QuadTree nearest&exact match lookups.
  packages/ag-charts-community/src/scene/util/quadtree.ts
Owners: @alantreadway

AG-8416 Add support to override distanceSquared() function in quadtree
  packages/ag-charts-community/src/scene/util/quadtree.ts
Owners: @alantreadway

AG-10942 Ad formatters for map series
  packages/ag-charts-community/src/options/agChartOptions.ts
  packages/ag-charts-community/src/options/series/topology/mapLineOptions.ts
  packages/ag-charts-community/src/options/series/topology/mapMarkerOptions.ts
  packages/ag-charts-community/src/options/series/topology/mapShapeOptions.ts
  packages/ag-charts-community/src/sparklines-util.ts
  packages/ag-charts-enterprise/src/series/map-line/mapLineSeries.ts
  packages/ag-charts-enterprise/src/series/map-marker/mapMarkerSeries.ts
  packages/ag-charts-enterprise/src/series/map-shape/mapShapeSeries.ts
Owners: @alantreadway

AG-10961 Fix docs for bubble, scatter series marker placement
  packages/ag-charts-community/src/options/series/cartesian/bubbleOptions.ts
  packages/ag-charts-community/src/options/series/cartesian/scatterOptions.ts
  packages/ag-charts-community/src/options/series/topology/mapMarkerOptions.ts
Owners: @alantreadway

AG-10904 - Fix line and area no-op animation cases.
  packages/ag-charts-community/src/chart/data/processors.ts
  packages/ag-charts-community/src/chart/interaction/animationManager.ts
  packages/ag-charts-community/src/chart/series/cartesian/areaSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/areaUtil.ts
  packages/ag-charts-community/src/chart/series/cartesian/lineSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/lineUtil.ts
  packages/ag-charts-community/src/motion/animation.ts
  packages/ag-charts-community/src/motion/fromToMotion.ts
Owners: @alantreadway

AG-10904 - Lint fix.
  packages/ag-charts-community/src/util/json.test.ts
Owners: @alantreadway

AG-10923 Add a new 'zoom-pan-start' ZoomManager event.
  packages/ag-charts-community/src/chart/chart.ts
  packages/ag-charts-community/src/chart/interaction/zoomManager.ts
  packages/ag-charts-community/src/chart/navigator/navigator.ts
  packages/ag-charts-enterprise/src/features/zoom/zoom.ts
Owners: @alantreadway

AG-10217 - Fix ordinal time scale for line series
  packages/ag-charts-community/src/chart/series/cartesian/lineSeries.ts
Owners: @alantreadway

AG-10217 - Update enterprise candlestick snapshot
  packages/ag-charts-enterprise/src/series/candlestick/__image_snapshots__/candlestick-series-test-ts-candlestick-series-should-render-a-candlestick-chart-as-expected-with-reversed-axes-1-snap.png
Owners: @alantreadway

AG-10217 - Ordinal time axis tick interval options
  packages/ag-charts-community/src/options/series/cartesian/cartesianOptions.ts
Owners: @alantreadway

AG-10217 - Ordinal time axis snapshot tests
  packages/ag-charts-enterprise/src/axes/ordinal/__image_snapshots__/ordinal-time-axis-test-ts-ordinal-time-axis-examples-for-basic-ordinal-time-axis-example-flip-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-enterprise/src/axes/ordinal/__image_snapshots__/ordinal-time-axis-test-ts-ordinal-time-axis-examples-for-basic-ordinal-time-axis-example-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-enterprise/src/axes/ordinal/__image_snapshots__/ordinal-time-axis-test-ts-ordinal-time-axis-examples-for-basic-ordinal-time-axis-example-manual-rotation-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-enterprise/src/axes/ordinal/__image_snapshots__/ordinal-time-axis-test-ts-ordinal-time-axis-examples-for-basic-ordinal-time-axis-example-reversed-axes-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-enterprise/src/axes/ordinal/__image_snapshots__/ordinal-time-axis-test-ts-ordinal-time-axis-examples-for-ordinal-time-axis-tick-min-spacing-flip-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-enterprise/src/axes/ordinal/__image_snapshots__/ordinal-time-axis-test-ts-ordinal-time-axis-examples-for-ordinal-time-axis-tick-min-spacing-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-enterprise/src/axes/ordinal/__image_snapshots__/ordinal-time-axis-test-ts-ordinal-time-axis-examples-for-ordinal-time-axis-tick-min-spacing-manual-rotation-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-enterprise/src/axes/ordinal/__image_snapshots__/ordinal-time-axis-test-ts-ordinal-time-axis-examples-for-ordinal-time-axis-tick-min-spacing-reversed-axes-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-enterprise/src/axes/ordinal/__image_snapshots__/ordinal-time-axis-test-ts-ordinal-time-axis-examples-for-ordinal-time-axis-tick-values-flip-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-enterprise/src/axes/ordinal/__image_snapshots__/ordinal-time-axis-test-ts-ordinal-time-axis-examples-for-ordinal-time-axis-tick-values-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-enterprise/src/axes/ordinal/__image_snapshots__/ordinal-time-axis-test-ts-ordinal-time-axis-examples-for-ordinal-time-axis-tick-values-manual-rotation-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-enterprise/src/axes/ordinal/__image_snapshots__/ordinal-time-axis-test-ts-ordinal-time-axis-examples-for-ordinal-time-axis-tick-values-reversed-axes-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-enterprise/src/axes/ordinal/__image_snapshots__/ordinal-time-axis-test-ts-ordinal-time-axis-examples-for-ordinal-time-axis-time-stamp-data-flip-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-enterprise/src/axes/ordinal/__image_snapshots__/ordinal-time-axis-test-ts-ordinal-time-axis-examples-for-ordinal-time-axis-time-stamp-data-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-enterprise/src/axes/ordinal/__image_snapshots__/ordinal-time-axis-test-ts-ordinal-time-axis-examples-for-ordinal-time-axis-time-stamp-data-manual-rotation-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-enterprise/src/axes/ordinal/__image_snapshots__/ordinal-time-axis-test-ts-ordinal-time-axis-examples-for-ordinal-time-axis-time-stamp-data-reversed-axes-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-enterprise/src/axes/ordinal/ordinalTimeAxis.test.ts
Owners: @alantreadway

AG-10217 - time scale snapshot test
  packages/ag-charts-community/src/scale/__snapshots__/ordinalTimeScale.test.ts.snap
Owners: @alantreadway

AG-10923 Defer canvas 'leave' events when dragging
  packages/ag-charts-community/src/chart/chart.ts
  packages/ag-charts-community/src/chart/interaction/interactionManager.ts
  packages/ag-charts-community/src/chart/interaction/regionManager.ts
Owners: @alantreadway

AG-10742: Fix SI Prefix when value is zero
  packages/ag-charts-community/src/util/numberFormat.ts
Owners: @alantreadway

Automated package version bump to 9.1.1-beta.20240310.
  .env
  libraries/ag-charts-test/package.json
  package.json
  packages/ag-charts-angular/package.json
  packages/ag-charts-angular/projects/ag-charts-angular/package.json
  packages/ag-charts-community-examples/package.json
  packages/ag-charts-community/package.json
  packages/ag-charts-community/src/version.ts
  packages/ag-charts-enterprise/package.json
  packages/ag-charts-react/package.json
  packages/ag-charts-vue/package.json
  packages/ag-charts-vue3/package.json
  packages/ag-charts-website/.env.build
  packages/ag-charts-website/.env.build.archive
  packages/ag-charts-website/.env.build.production
  packages/ag-charts-website/.env.build.staging
  packages/ag-charts-website/.env.dev
  packages/ag-charts-website/.env.preview
  packages/ag-charts-website/.env.preview.production
  packages/ag-charts-website/.env.preview.staging
  packages/ag-charts-website/package.json
  plugins/ag-charts-generate-chart-thumbnail/package.json
  plugins/ag-charts-generate-code-reference-files/package.json
  plugins/ag-charts-generate-example-files/package.json
Owners: @ag-grid/ag-charts-team, @alantreadway

Remove --prefer-offline for Yarn install - try to fix corrupt node-canvas binaries.
  .github/workflows/ci.yml
  .github/workflows/nx-cloud.yml
  .github/workflows/publish.yml
  .github/workflows/sonar-scanner-release.yml
Owners: @ag-grid/ag-charts-team

Try to fix corrupt node-canvas binaries.
  .github/workflows/ci.yml
  .github/workflows/nx-cloud.yml
Owners: @ag-grid/ag-charts-team

.github/CODEOWNERS:

# NOTE: Order of entries matters - later entries have higher precedence.

# Attribute code-owners so default reviewers are assigned to PRs.
* @ag-grid/ag-charts-team

# Astro + website changes to be reviewed by website team.
*.scss @markdurrant
*.astro @taktran
/packages/ag-charts-website/astro/** @taktran
/packages/ag-charts-website/components/** @taktran
/packages/ag-charts-website/features/** @taktran
/packages/ag-charts-website/layouts/** @taktran
/packages/ag-charts-website/stores/** @taktran
/packages/ag-charts-website/utils/** @taktran

# Docs updates to be reviewed by Eng VP.
/packages/ag-charts-website/content/** @alantreadway @rmc-software
*.mdoc @rmc-software

# Charts library code to be reviewed by Chart TL.
/packages/ag-charts-community/** @alantreadway
/packages/ag-charts-enterprise/** @alantreadway

# Sensitive build/repo files to be reviewed by Chart TL.
**/package.json @alantreadway
nx.json @alantreadway
**/project.json @alantreadway
**/tsconfig.json @alantreadway
**/tsconfig.*.json @alantreadway
