Repository ag-grid/ag-charts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ag-grid/ag-charts-team, @markdurrant, @taktran, @alantreadway, @rmc-software

Number format regex fixes
  packages/ag-charts-community/src/chart/tooltip/tooltip.ts
  packages/ag-charts-community/src/scene/shape/shape.ts
  packages/ag-charts-community/src/util/numberFormat.test.ts
  packages/ag-charts-community/src/util/numberFormat.ts
  packages/ag-charts-community/src/util/ticks.ts
  packages/ag-charts-enterprise/src/license/licenseManager.ts
Owners: @alantreadway

tooltip and theme docs updates
  packages/ag-charts-community/src/chart/chart.ts
  packages/ag-charts-community/src/options/chart/tooltipOptions.ts
  packages/ag-charts-website/src/content/docs/accessibility/index.mdoc
  packages/ag-charts-website/src/content/docs/axes-crosshairs/index.mdoc
  packages/ag-charts-website/src/content/docs/themes/_examples/advanced-theme/main.ts
  packages/ag-charts-website/src/content/docs/themes/_examples/custom-theme/main.ts
  packages/ag-charts-website/src/content/docs/themes/index.mdoc
  packages/ag-charts-website/src/content/docs/tooltips/index.mdoc
Owners: @alantreadway, @rmc-software, @ag-grid/ag-charts-team

AG-11136 - Add scaleInvertNearest and scaleDomain to axis context
  packages/ag-charts-community/src/chart/axis/axis.ts
  packages/ag-charts-community/src/module/axisContext.ts
  packages/ag-charts-community/src/scale/scale.ts
Owners: @alantreadway

AG-11136 - export cross line label positioning util functions
  packages/ag-charts-community/src/module-support.ts
Owners: @alantreadway

AG-11136 - positioning utility functions
  packages/ag-charts-enterprise/src/features/crosshair/crosshair.ts
  packages/ag-charts-enterprise/src/features/crosshair/crosshairLabel.ts
  packages/ag-charts-enterprise/src/utils/position.ts
Owners: @alantreadway

AG-11136 - Use axis context for annotation update and validation
  packages/ag-charts-enterprise/src/features/annotations/annotationProperties.ts
  packages/ag-charts-enterprise/src/features/annotations/annotationTypes.ts
  packages/ag-charts-enterprise/src/features/annotations/annotationUtils.ts
  packages/ag-charts-enterprise/src/features/annotations/annotations.ts
  packages/ag-charts-enterprise/src/features/annotations/cross-line/crossLineProperties.ts
  packages/ag-charts-enterprise/src/features/annotations/cross-line/crossLineScene.ts
  packages/ag-charts-enterprise/src/features/annotations/disjoint-channel/disjointChannelProperties.ts
  packages/ag-charts-enterprise/src/features/annotations/disjoint-channel/disjointChannelScene.ts
  packages/ag-charts-enterprise/src/features/annotations/line/lineProperties.ts
  packages/ag-charts-enterprise/src/features/annotations/line/lineScene.ts
  packages/ag-charts-enterprise/src/features/annotations/parallel-channel/parallelChannelProperties.ts
  packages/ag-charts-enterprise/src/features/annotations/parallel-channel/parallelChannelScene.ts
  packages/ag-charts-enterprise/src/features/annotations/scenes/annotation.ts
  packages/ag-charts-enterprise/src/features/annotations/scenes/channelScene.ts
Owners: @alantreadway

AG-11136 - Update image snapshots
  packages/ag-charts-enterprise/src/features/annotations/__image_snapshots__/annotations-test-ts-annotations-cross-line-when-x-axis-is-clicked-it-should-create-a-vertical-cross-line-1-snap.png
  packages/ag-charts-enterprise/src/features/annotations/__image_snapshots__/annotations-test-ts-annotations-cross-line-when-y-axis-is-clicked-it-should-create-a-horizontal-cross-line-1-snap.png
  packages/ag-charts-enterprise/src/features/annotations/__image_snapshots__/annotations-test-ts-annotations-initial-should-render-a-horizontal-cross-line-annotation-1-snap.png
  packages/ag-charts-enterprise/src/features/annotations/__image_snapshots__/annotations-test-ts-annotations-initial-should-render-a-vertical-cross-line-annotation-1-snap.png
Owners: @alantreadway

AG-11136 - Add annotation axis label
  packages/ag-charts-enterprise/src/features/annotations/annotationProperties.ts
  packages/ag-charts-enterprise/src/features/annotations/annotationsModule.ts
  packages/ag-charts-enterprise/src/features/annotations/cross-line/crossLineProperties.ts
  packages/ag-charts-enterprise/src/features/annotations/cross-line/crossLineScene.ts
  packages/ag-charts-enterprise/src/features/annotations/scenes/axisLabel.ts
Owners: @alantreadway

AG-11136 - Review feedback
  packages/ag-charts-enterprise/src/features/annotations/annotationProperties.ts
  packages/ag-charts-enterprise/src/features/annotations/annotationUtils.ts
  packages/ag-charts-enterprise/src/features/annotations/annotations.ts
  packages/ag-charts-enterprise/src/features/annotations/cross-line/crossLineScene.ts
Owners: @alantreadway

AG-11702 Update annotations color picker to persist latest color
  packages/ag-charts-enterprise/src/features/annotations/annotations.ts
Owners: @alantreadway

Remove eval
  packages/ag-charts-community/src/chart/data/dataModel.test.ts
  packages/ag-charts-community/src/chart/data/dataModel.ts
  packages/ag-charts-community/src/chart/interaction/animationManager.ts
Owners: @alantreadway

AG-11702 Fix annotations hide color picker on click select
  packages/ag-charts-enterprise/src/features/annotations/annotations.ts
Owners: @alantreadway

Fix AG-9515
  packages/ag-charts-community-examples/src/charts-overview/examples/chart-customisation/main.ts
  packages/ag-charts-community-examples/src/charts-overview/examples/histogram-with-specified-bins/main.ts
  packages/ag-charts-community-examples/src/charts-overview/examples/simple-area/main.ts
  packages/ag-charts-community-examples/src/charts-overview/examples/simple-histogram/main.ts
  packages/ag-charts-community-examples/src/charts-overview/examples/simple-line/main.ts
  packages/ag-charts-community-examples/src/charts-overview/examples/stacked-area/main.ts
  packages/ag-charts-community/src/api/preset/candlestickVolumePreset.ts
  packages/ag-charts-community/src/chart/axis/axis.ts
  packages/ag-charts-community/src/chart/axis/axisInterval.ts
  packages/ag-charts-community/src/chart/axis/numberAxis.ts
  packages/ag-charts-community/src/chart/axis/timeAxis.test.ts
  packages/ag-charts-community/src/chart/axis/timeAxis.ts
  packages/ag-charts-community/src/chart/cartesianChart.test.ts
  packages/ag-charts-community/src/chart/chart.ts
  packages/ag-charts-community/src/chart/chartAxis.ts
  packages/ag-charts-community/src/chart/series/test/examples.ts
  packages/ag-charts-community/src/chart/test/examples-axes.ts
  packages/ag-charts-community/src/chart/test/examples.ts
  packages/ag-charts-community/src/module-support.ts
  packages/ag-charts-community/src/module/__snapshots__/optionsModule.test.ts.snap
  packages/ag-charts-community/src/module/optionsModule.test.ts
  packages/ag-charts-community/src/options/chart/axisOptions.ts
  packages/ag-charts-community/src/options/chart/polarAxisOptions.ts
  packages/ag-charts-community/src/options/chart/radiusAxisOptions.ts
  packages/ag-charts-community/src/options/series/cartesian/cartesianOptions.ts
  packages/ag-charts-enterprise/src/axes/angle-category/angleCategoryAxis.ts
  packages/ag-charts-enterprise/src/axes/angle-number/angleAxisInterval.ts
  packages/ag-charts-enterprise/src/axes/angle-number/angleNumberAxis.ts
  packages/ag-charts-enterprise/src/axes/ordinal/ordinalTimeAxis.test.ts
  packages/ag-charts-enterprise/src/axes/ordinal/ordinalTimeAxis.ts
  packages/ag-charts-enterprise/src/axes/radius/radiusAxis.ts
  packages/ag-charts-website/src/features/api-documentation/apiReferenceHelpers.ts
Owners: @ag-grid/ag-charts-team, @alantreadway

fix lint
  packages/ag-charts-community/src/options/chart/axisOptions.ts
  packages/ag-charts-community/src/options/series/cartesian/cartesianOptions.ts
Owners: @alantreadway

fix examples
  packages/ag-charts-website/src/content/docs/area-series-test/_examples/continuous-animation/main.ts
  packages/ag-charts-website/src/content/docs/axes-labels/_examples/axis-label-format/main.ts
  packages/ag-charts-website/src/content/docs/axes-ticks/_examples/axis-tick-interval/main.ts
  packages/ag-charts-website/src/content/docs/axes-ticks/_examples/axis-tick-min-max-spacing/main.ts
  packages/ag-charts-website/src/content/docs/axes-ticks/_examples/axis-tick-values/main.ts
  packages/ag-charts-website/src/content/docs/axes-ticks/_examples/time-axis-label-format/main.ts
  packages/ag-charts-website/src/content/docs/axes-ticks/index.mdoc
  packages/ag-charts-website/src/content/docs/financial-charts/_examples/candlestick-plus-volume/main.ts
  packages/ag-charts-website/src/content/docs/histogram-series-test/_examples/animation/main.ts
  packages/ag-charts-website/src/content/docs/histogram-series/_examples/irregular-intervals/main.ts
  packages/ag-charts-website/src/content/docs/histogram-series/_examples/mean-histogram/main.ts
  packages/ag-charts-website/src/content/docs/histogram-series/_examples/simple/main.ts
  packages/ag-charts-website/src/content/docs/histogram-series/_examples/sum-histogram/main.ts
  packages/ag-charts-website/src/content/docs/navigator/_examples/mini-chart-styling/main.ts
  packages/ag-charts-website/src/content/docs/navigator/_examples/mini-chart/main.ts
  packages/ag-charts-website/src/content/docs/navigator/_examples/navigator-styling/main.ts
  packages/ag-charts-website/src/content/docs/navigator/_examples/navigator/main.ts
  packages/ag-charts-website/src/content/docs/sync/_examples/basic-sync/main.ts
  packages/ag-charts-website/src/content/docs/zoom/_examples/zoom-anchor-point/main.ts
  packages/ag-charts-website/src/content/docs/zoom/_examples/zoom-async/main.ts
  packages/ag-charts-website/src/content/docs/zoom/_examples/zoom-axes/main.ts
  packages/ag-charts-website/src/content/docs/zoom/_examples/zoom-axis-dragging/main.ts
  packages/ag-charts-website/src/content/docs/zoom/_examples/zoom-buttons/main.ts
  packages/ag-charts-website/src/content/docs/zoom/_examples/zoom-context-menu/main.ts
  packages/ag-charts-website/src/content/docs/zoom/_examples/zoom-custom-buttons/main.ts
  packages/ag-charts-website/src/content/docs/zoom/_examples/zoom-min-visible-items/main.ts
  packages/ag-charts-website/src/content/docs/zoom/_examples/zoom-pan-key/main.ts
  packages/ag-charts-website/src/content/docs/zoom/_examples/zoom-range/main.ts
  packages/ag-charts-website/src/content/docs/zoom/_examples/zoom-scrolling-step/main.ts
  packages/ag-charts-website/src/content/docs/zoom/_examples/zoom-selecting/main.ts
  packages/ag-charts-website/src/content/docs/zoom/_examples/zoom/main.ts
Owners: @ag-grid/ag-charts-team, @rmc-software

fix examples
  packages/ag-charts-website/src/content/docs/axes-ticks/_examples/axis-tick-interval/main.ts
  packages/ag-charts-website/src/content/docs/axes-ticks/_examples/axis-tick-min-max-spacing/main.ts
  packages/ag-charts-website/src/content/docs/axes-ticks/_examples/axis-tick-values/main.ts
  packages/ag-charts-website/src/content/docs/axes-types/_examples/number-vs-log/main.ts
  packages/ag-charts-website/src/content/docs/benchmarks/_examples/large-scale-multi-series/main.ts
  packages/ag-charts-website/src/content/docs/line-series-test/_examples/continuous-animation/main.ts
  packages/ag-charts-website/src/content/gallery/_examples/reversed-radar-with-markers/main.ts
  packages/ag-charts-website/src/content/gallery/_examples/simple-radial-bar/main.ts
Owners: @ag-grid/ag-charts-team

fix examples
  packages/ag-charts-website/src/content/docs/axes-ticks/_examples/time-axis-label-format/main.ts
  packages/ag-charts-website/src/content/gallery/_examples/area-with-labels/main.ts
  packages/ag-charts-website/src/content/gallery/_examples/bar-line-combination/main.ts
  packages/ag-charts-website/src/content/gallery/_examples/bubble-with-custom-markers/main.ts
  packages/ag-charts-website/src/content/gallery/_examples/candlestick-hollow/main.ts
  packages/ag-charts-website/src/content/gallery/_examples/candlestick/main.ts
  packages/ag-charts-website/src/content/gallery/_examples/chart-customisation/main.ts
  packages/ag-charts-website/src/content/gallery/_examples/customised-waterfall/main.ts
  packages/ag-charts-website/src/content/gallery/_examples/line-with-labels/main.ts
  packages/ag-charts-website/src/content/gallery/_examples/map-heatmap-series/main.ts
  packages/ag-charts-website/src/content/gallery/_examples/multiple-horizontal-range-bars/main.ts
  packages/ag-charts-website/src/content/gallery/_examples/multiple-line-series-large-data/main.ts
  packages/ag-charts-website/src/content/gallery/_examples/multiple-line-series/main.ts
  packages/ag-charts-website/src/content/gallery/_examples/multiple-range-areas/main.ts
  packages/ag-charts-website/src/content/gallery/_examples/ohlc/main.ts
  packages/ag-charts-website/src/content/gallery/_examples/radar-area-with-labels/main.ts
  packages/ag-charts-website/src/content/gallery/_examples/reversed-bar/main.ts
  packages/ag-charts-website/src/content/gallery/_examples/reversed-horizontal-bar/main.ts
  packages/ag-charts-website/src/content/gallery/_examples/reversed-nightingale/main.ts
  packages/ag-charts-website/src/content/gallery/_examples/scatter-with-large-data/main.ts
  packages/ag-charts-website/src/content/gallery/_examples/scatter-with-multiple-axes/main.ts
  packages/ag-charts-website/src/content/gallery/_examples/simple-box-plot/main.ts
  packages/ag-charts-website/src/content/gallery/_examples/simple-radial-column/main.ts
  packages/ag-charts-website/src/content/gallery/_examples/simple-range-area/main.ts
  packages/ag-charts-website/src/content/gallery/_examples/simple-range-bar/main.ts
  packages/ag-charts-website/src/content/gallery/_examples/simple-waterfall/main.ts
  packages/ag-charts-website/src/content/gallery/_examples/stacked-horizontal-bar/main.ts
Owners: @ag-grid/ag-charts-team

Handle string escapes in property paths
  packages/ag-charts-community/src/chart/data/dataModel.test.ts
  packages/ag-charts-community/src/chart/data/dataModel.ts
Owners: @alantreadway

AG-11699 Update crosshairs to show when drawing annotations
  packages/ag-charts-community/src/chart/chart.ts
  packages/ag-charts-community/src/chart/interaction/tooltipManager.ts
  packages/ag-charts-community/src/chart/tooltip/tooltip.ts
  packages/ag-charts-enterprise/src/features/crosshair/crosshair.ts
Owners: @alantreadway

AG-11370 Fix CSS bounding rects of legend pagination buttons
  packages/ag-charts-community/src/chart/legend.ts
  packages/ag-charts-community/src/chart/pagination/pagination.ts
Owners: @alantreadway

AG-11370 nx format
  packages/ag-charts-community/src/chart/legend.ts
Owners: @alantreadway

AG-11707 - Add tests.
  packages/ag-charts-community/src/chart/axis/__image_snapshots__/axis-examples-test-ts-axis-examples-complex-layout-cases-for-combo-series-area-padding-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-community/src/chart/axis/__image_snapshots__/axis-examples-test-ts-axis-examples-complex-layout-cases-for-combo-series-complex-layout-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-community/src/chart/axis/axisExamples.test.ts
  packages/ag-charts-community/src/chart/test/examples-axes.ts
Owners: @alantreadway

AG-11707 - Allow finer control over axis layout for Financial Charts.
  packages/ag-charts-community/src/api/preset/candlestickVolumePreset.ts
  packages/ag-charts-community/src/chart/axis/axis.ts
  packages/ag-charts-community/src/chart/cartesianChart.ts
  packages/ag-charts-community/src/chart/chartAxis.ts
  packages/ag-charts-enterprise/src/features/navigator/miniChart.ts
Owners: @alantreadway

AG-11707 - Cleanup Candlestick Preset after review.
  packages/ag-charts-community/src/api/preset/candlestickVolumePreset.ts
Owners: @alantreadway

AG-11853 Add separate react components for each chart type
  .eslintrc.json
  package.json
  packages/ag-charts-react/.eslintrc.json
  packages/ag-charts-react/.npmignore
  packages/ag-charts-react/package.json
  packages/ag-charts-react/project.json
  packages/ag-charts-react/rollup.config.cjs
  packages/ag-charts-react/src/agChartsReact.ts
  yarn.lock
Owners: @ag-grid/ag-charts-team, @alantreadway

AG-11707 - Re-enable all axisExample tests.
  packages/ag-charts-community/src/chart/axis/axisExamples.test.ts
Owners: @alantreadway

Automated package version bump to 9.3.1-beta.20240611.
  .env
  libraries/ag-charts-test/package.json
  package.json
  packages/ag-charts-angular/package.json
  packages/ag-charts-angular/projects/ag-charts-angular/package.json
  packages/ag-charts-community-examples/package.json
  packages/ag-charts-community/package.json
  packages/ag-charts-community/src/version.ts
  packages/ag-charts-enterprise/package.json
  packages/ag-charts-react/package.json
  packages/ag-charts-vue3/package.json
  packages/ag-charts-website/.env.build
  packages/ag-charts-website/.env.build.archive
  packages/ag-charts-website/.env.build.production
  packages/ag-charts-website/.env.build.staging
  packages/ag-charts-website/.env.dev
  packages/ag-charts-website/.env.preview
  packages/ag-charts-website/.env.preview.production
  packages/ag-charts-website/.env.preview.staging
  packages/ag-charts-website/package.json
  plugins/ag-charts-generate-chart-thumbnail/package.json
  plugins/ag-charts-generate-code-reference-files/package.json
  plugins/ag-charts-generate-example-files/package.json
Owners: @ag-grid/ag-charts-team, @alantreadway

Update example generator
  esbuild.config.cjs
  packages/ag-charts-website/src/content/docs/api-download/index.mdoc
  packages/ag-charts-website/src/content/docs/installation/index.mdoc
  packages/ag-charts-website/src/content/docs/localisation/index.mdoc
  packages/ag-charts-website/src/content/docs/quick-start/index.mdoc
  plugins/ag-charts-generate-example-files/src/executors/generate/generator/transformation-scripts/chart-vanilla-to-react-functional-ts.ts
  plugins/ag-charts-generate-example-files/src/executors/generate/generator/transformation-scripts/chart-vanilla-to-react-functional.ts
  plugins/ag-charts-generate-example-files/src/executors/generate/generator/transformation-scripts/parser-utils.ts
  plugins/ag-charts-generate-example-files/src/executors/generate/generator/transformation-scripts/react-utils.ts
Owners: @ag-grid/ag-charts-team, @rmc-software

Fix annotations datum validation for pseudo-continuous ordinal scales
  packages/ag-charts-enterprise/src/features/annotations/annotationUtils.ts
Owners: @alantreadway

Add missing types package
  package.json
  yarn.lock
Owners: @alantreadway, @ag-grid/ag-charts-team

Update docs for AG-11258
  packages/ag-charts-website/src/content/docs/security/index.mdoc
  packages/ag-charts-website/src/content/docs/upgrade-to-ag-charts-10/index.mdoc
Owners: @rmc-software

git subrepo pull external/ag-website-shared
  external/ag-website-shared/.gitrepo
  external/ag-website-shared/scripts/subrepo/src/cli.ts
  external/ag-website-shared/src/utils/cleanIndexHtml.ts
Owners: @ag-grid/ag-charts-team

git subrepo clone --branch=latest https://github.com/ag-grid/ag-shared.git external/ag-shared
  external/ag-shared/.gitrepo
  external/ag-shared/README.md
  external/ag-shared/project.json
  external/ag-shared/src/index.js
Owners: @ag-grid/ag-charts-team, @alantreadway

Format file
  external/ag-shared/src/index.js
Owners: @ag-grid/ag-charts-team

git subrepo push external/ag-shared
  external/ag-shared/.gitrepo
Owners: @ag-grid/ag-charts-team

Add preinstall check for python-setuptools.
  package.json
  tools/dependencies/check-versions.sh
Owners: @alantreadway, @ag-grid/ag-charts-team

Add scaffolding/boilerplate
  external/ag-shared/package.json
  external/ag-shared/project.json
  external/ag-shared/src/index.js
  external/ag-shared/src/interfaces.ts
  external/ag-shared/src/main.ts
  external/ag-shared/tsconfig.json
  external/ag-shared/tsconfig.lib.json
  external/ag-shared/tsconfig.spec.json
  external/ag-shared/tsconfig.types.json
  external/ag-shared/tsconfig.types.test.json
  external/ag-shared/tsconfig.types.watch.json
  external/ag-shared/tsconfig.watch.json
Owners: @alantreadway, @ag-grid/ag-charts-team

Add scaffolding/boilerplate
  package.json
  packages/ag-charts-community/package.json
  packages/ag-charts-community/src/options/chart/themeOptions.ts
Owners: @alantreadway

git subrepo push external/ag-shared
  external/ag-shared/.gitrepo
Owners: @ag-grid/ag-charts-team

Removed errorBar cap formatter in favour of a top level formatter
  packages/ag-charts-community/src/options/chart/errorBarOptions.ts
  packages/ag-charts-enterprise/src/features/error-bar/errorBar.test.ts
  packages/ag-charts-enterprise/src/features/error-bar/errorBarNode.ts
  packages/ag-charts-enterprise/src/features/error-bar/errorBarProperties.ts
Owners: @alantreadway

.github/CODEOWNERS:

# NOTE: Order of entries matters - later entries have higher precedence.

# Attribute code-owners so default reviewers are assigned to PRs.
* @ag-grid/ag-charts-team

# Astro + website changes to be reviewed by website team.
*.scss @markdurrant
*.astro @taktran
/packages/ag-charts-website/astro/** @taktran
/packages/ag-charts-website/components/** @taktran
/packages/ag-charts-website/features/** @taktran
/packages/ag-charts-website/layouts/** @taktran
/packages/ag-charts-website/stores/** @taktran
/packages/ag-charts-website/utils/** @taktran

# Docs updates to be reviewed by Eng VP.
/packages/ag-charts-website/content/** @alantreadway @rmc-software
*.mdoc @rmc-software

# Charts library code to be reviewed by Chart TL.
/packages/ag-charts-community/** @alantreadway
/packages/ag-charts-enterprise/** @alantreadway

# Sensitive build/repo files to be reviewed by Chart TL.
**/package.json @alantreadway
nx.json @alantreadway
**/project.json @alantreadway
**/tsconfig.json @alantreadway
**/tsconfig.*.json @alantreadway
