Repository ag-grid/ag-charts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ag-grid/ag-charts-team, @markdurrant, @taktran, @alantreadway, @rmc-software

AG-10836 - Update snapshots
  packages/ag-charts-enterprise/src/series/candlestick/__image_snapshots__/candlestick-series-test-ts-candlestick-series-initial-animation-for-candlestick-options-should-animate-at-0-1-snap.png
  packages/ag-charts-enterprise/src/series/candlestick/__image_snapshots__/candlestick-series-test-ts-candlestick-series-initial-animation-for-candlestick-options-should-animate-at-100-1-snap.png
  packages/ag-charts-enterprise/src/series/candlestick/__image_snapshots__/candlestick-series-test-ts-candlestick-series-should-render-a-candlestick-chart-as-expected-with-default-ordinal-time-x-axis-1-snap.png
  packages/ag-charts-enterprise/src/series/candlestick/__image_snapshots__/candlestick-series-test-ts-candlestick-series-should-render-a-candlestick-chart-as-expected-with-reversed-axes-1-snap.png
  packages/ag-charts-enterprise/src/series/candlestick/__image_snapshots__/candlestick-series-test-ts-candlestick-series-should-render-a-candlestick-chart-with-a-reversed-time-x-axis-1-snap.png
  packages/ag-charts-enterprise/src/series/candlestick/__image_snapshots__/candlestick-series-test-ts-candlestick-series-should-render-a-candlestick-chart-with-a-time-x-axis-1-snap.png
  packages/ag-charts-enterprise/src/series/ohlc/__image_snapshots__/ohlc-series-test-ts-ohlc-series-initial-animation-for-ohlc-options-should-animate-at-0-1-snap.png
Owners: @alantreadway

AG-10217 - Animate Candlestick and Ohlc groups instead of rect and line nodes separately
  packages/ag-charts-enterprise/src/series/candlestick/candlestickGroup.ts
  packages/ag-charts-enterprise/src/series/candlestick/candlestickSeries.ts
  packages/ag-charts-enterprise/src/series/candlestick/candlestickSeriesBase.ts
  packages/ag-charts-enterprise/src/series/candlestick/candlestickUtil.ts
  packages/ag-charts-enterprise/src/series/ohlc/ohlcGroup.ts
  packages/ag-charts-enterprise/src/series/ohlc/ohlcSeries.ts
  packages/ag-charts-enterprise/src/series/ohlc/ohlcUtil.ts
Owners: @alantreadway

AG-10836 - 'remove' animation
  packages/ag-charts-community/src/motion/fromToMotion.ts
  packages/ag-charts-enterprise/src/series/candlestick/candlestickSeriesBase.ts
  packages/ag-charts-enterprise/src/series/candlestick/candlestickUtil.ts
Owners: @alantreadway

AG-10217 - Snapshot updates
  packages/ag-charts-enterprise/src/series/candlestick/__image_snapshots__/candlestick-series-test-ts-candlestick-series-initial-animation-for-candlestick-options-should-animate-at-0-1-snap.png
  packages/ag-charts-enterprise/src/series/candlestick/__image_snapshots__/candlestick-series-test-ts-candlestick-series-initial-animation-for-candlestick-options-should-animate-at-100-1-snap.png
  packages/ag-charts-enterprise/src/series/candlestick/__image_snapshots__/candlestick-series-test-ts-candlestick-series-should-render-a-candlestick-chart-as-expected-with-default-ordinal-time-x-axis-1-snap.png
  packages/ag-charts-enterprise/src/series/candlestick/__image_snapshots__/candlestick-series-test-ts-candlestick-series-should-render-a-candlestick-chart-as-expected-with-reversed-axes-1-snap.png
  packages/ag-charts-enterprise/src/series/candlestick/__image_snapshots__/candlestick-series-test-ts-candlestick-series-should-render-a-candlestick-chart-with-a-reversed-time-x-axis-1-snap.png
  packages/ag-charts-enterprise/src/series/candlestick/__image_snapshots__/candlestick-series-test-ts-candlestick-series-should-render-a-candlestick-chart-with-a-time-x-axis-1-snap.png
  packages/ag-charts-enterprise/src/series/ohlc/__image_snapshots__/ohlc-series-test-ts-ohlc-series-initial-animation-for-ohlc-options-should-animate-at-0-1-snap.png
  packages/ag-charts-enterprise/src/series/ohlc/__image_snapshots__/ohlc-series-test-ts-ohlc-series-initial-animation-for-ohlc-options-should-animate-at-100-1-snap.png
  packages/ag-charts-enterprise/src/series/ohlc/__image_snapshots__/ohlc-series-test-ts-ohlc-series-should-render-a-ohlc-chart-as-expected-with-default-ordinal-time-x-axis-1-snap.png
  packages/ag-charts-enterprise/src/series/ohlc/__image_snapshots__/ohlc-series-test-ts-ohlc-series-should-render-a-ohlc-chart-as-expected-with-reversed-axes-1-snap.png
  packages/ag-charts-enterprise/src/series/ohlc/__image_snapshots__/ohlc-series-test-ts-ohlc-series-should-render-a-ohlc-chart-with-a-reversed-time-x-axis-1-snap.png
  packages/ag-charts-enterprise/src/series/ohlc/__image_snapshots__/ohlc-series-test-ts-ohlc-series-should-render-a-ohlc-chart-with-a-time-x-axis-1-snap.png
Owners: @alantreadway

AG-10217 - clean up
  packages/ag-charts-enterprise/src/series/ohlc/ohlcGroup.ts
Owners: @alantreadway

AG-10836 - Update animation examples
  packages/ag-charts-website/src/content/docs/candlestick-series-test/_examples/candlestick-animation-add-data/main.ts
  packages/ag-charts-website/src/content/docs/candlestick-series-test/_examples/candlestick-animation-remove-data/main.ts
  packages/ag-charts-website/src/content/docs/candlestick-series-test/_examples/candlestick-animation-update-value/data.ts
  packages/ag-charts-website/src/content/docs/candlestick-series-test/_examples/candlestick-animation-update-value/main.ts
Owners: @ag-grid/ag-charts-team

AG-10217 - Snapshot updates
  packages/ag-charts-enterprise/src/series/candlestick/__image_snapshots__/candlestick-series-test-ts-candlestick-series-initial-animation-for-candlestick-options-should-animate-at-25-1-snap.png
  packages/ag-charts-enterprise/src/series/candlestick/__image_snapshots__/candlestick-series-test-ts-candlestick-series-initial-animation-for-candlestick-options-should-animate-at-50-1-snap.png
  packages/ag-charts-enterprise/src/series/candlestick/__image_snapshots__/candlestick-series-test-ts-candlestick-series-initial-animation-for-candlestick-options-should-animate-at-75-1-snap.png
  packages/ag-charts-enterprise/src/series/ohlc/__image_snapshots__/ohlc-series-test-ts-ohlc-series-initial-animation-for-ohlc-options-should-animate-at-25-1-snap.png
  packages/ag-charts-enterprise/src/series/ohlc/__image_snapshots__/ohlc-series-test-ts-ohlc-series-initial-animation-for-ohlc-options-should-animate-at-50-1-snap.png
  packages/ag-charts-enterprise/src/series/ohlc/__image_snapshots__/ohlc-series-test-ts-ohlc-series-initial-animation-for-ohlc-options-should-animate-at-75-1-snap.png
Owners: @alantreadway

AG-11283 Fix incorrect descriptions on pages with a VideoSection component
  packages/ag-charts-website/src/utils/markdoc/getFirstParagraphText.ts
Owners: @ag-grid/ag-charts-team

AG-11287 Improve metadata for SEO
  packages/ag-charts-website/src/pages/[framework]/[pageName].astro
Owners: @taktran

AG-11251 - Fix time axis label formatting for minute data
  packages/ag-charts-community/src/scale/timeScale.test.ts
  packages/ag-charts-community/src/util/timeFormatDefaults.ts
Owners: @alantreadway

AG-11272 Move ModuleContext values to ChartContext.ts
  packages/ag-charts-community/src/chart/chart.ts
  packages/ag-charts-community/src/chart/chartContext.ts
  packages/ag-charts-community/src/chart/interaction/interactionManager.ts
  packages/ag-charts-community/src/chart/updateService.ts
  packages/ag-charts-community/src/module/moduleContext.ts
Owners: @alantreadway

AG-11272 Fix build
  packages/ag-charts-community/src/chart/agChartV2.ts
  packages/ag-charts-community/src/chart/cartesianChart.ts
  packages/ag-charts-community/src/chart/chart.ts
  packages/ag-charts-community/src/chart/hierarchyChart.ts
  packages/ag-charts-community/src/chart/interaction/syncManager.ts
  packages/ag-charts-community/src/chart/polarChart.ts
  packages/ag-charts-community/src/chart/test/utils.ts
  packages/ag-charts-community/src/chart/topologyChart.ts
  packages/ag-charts-enterprise/src/features/sync/chartSync.ts
Owners: @alantreadway

AG-11272 Fix initialisation error in CartesianSeries
  packages/ag-charts-community/src/chart/cartesianChart.ts
  packages/ag-charts-community/src/chart/chart.ts
  packages/ag-charts-community/src/chart/chartContext.ts
Owners: @alantreadway

AG-11272 Fix test
  packages/ag-charts-community/src/chart/cartesianChart.test.ts
Owners: @alantreadway

AG-11272 Fix build after rebase
  packages/ag-charts-community/src/chart/chart.ts
Owners: @alantreadway

AG-11272 Fix tests
  packages/ag-charts-community/src/chart/chart.test.ts
  packages/ag-charts-enterprise/src/series/map-line/mapLineSeries.test.ts
  packages/ag-charts-enterprise/src/series/map-marker/mapMarkerSeries.test.ts
  packages/ag-charts-enterprise/src/series/map-shape/mapShapeSeries.test.ts
  packages/ag-charts-enterprise/src/series/sunburst/sunburstSeries.test.ts
  packages/ag-charts-enterprise/src/series/treemap/treemapSeries.test.ts
Owners: @alantreadway

wip
  packages/ag-charts-community/src/chart/themes/chartTheme.ts
  packages/ag-charts-community/src/sandbox/chart/chartOptions.ts
  packages/ag-charts-community/src/sandbox/chart/chartTheme.ts
  packages/ag-charts-community/src/sandbox/defs/animationModule.ts
  packages/ag-charts-community/src/sandbox/defs/barSeriesModule.ts
  packages/ag-charts-community/src/sandbox/defs/chartOptionsDef.ts
  packages/ag-charts-community/src/sandbox/defs/commonOptionsDefs.ts
  packages/ag-charts-community/src/sandbox/defs/testDefs.ts
  packages/ag-charts-community/src/sandbox/render/stage.ts
  packages/ag-charts-community/src/sandbox/types/moduleTypes.ts
  packages/ag-charts-community/src/sandbox/util/isValid.ts
  packages/ag-charts-community/src/sandbox/util/pool.ts
  packages/ag-charts-community/src/sandbox/util/validation.test.ts
Owners: @alantreadway

AG-11251 - Fix conflicting default datetime axis label formatting.
  packages/ag-charts-community/jest.config.ts
  packages/ag-charts-community/src/scale/timeScale.test.ts
  packages/ag-charts-community/src/util/timeFormatDefaults.test.ts
  packages/ag-charts-community/src/util/timeFormatDefaults.ts
  packages/ag-charts-enterprise/jest.config.ts
Owners: @alantreadway

AG-11264 - Add type alias for shared folder
  packages/ag-charts-website/tsconfig.json
Owners: @alantreadway

AG-11264 - Move license pricing to shared repo and make it configurable
  packages/ag-charts-website/src/ag-website-shared/src/components/license-pricing/FAQ.tsx
  packages/ag-charts-website/src/ag-website-shared/src/components/license-pricing/InfoEmailLink.tsx
  packages/ag-charts-website/src/ag-website-shared/src/components/license-pricing/LicensePricing.tsx
  packages/ag-charts-website/src/ag-website-shared/src/components/license-pricing/Licenses.tsx
  packages/ag-charts-website/src/ag-website-shared/src/components/license-pricing/SocialProof.jsx
  packages/ag-charts-website/src/ag-website-shared/src/components/license-pricing/comparison-table/ComparisonTable.tsx
  packages/ag-charts-website/src/ag-website-shared/src/components/license-pricing/comparison-table/renderers/Feature.tsx
  packages/ag-charts-website/src/ag-website-shared/src/components/license-pricing/comparison-table/renderers/Label.tsx
  packages/ag-charts-website/src/ag-website-shared/src/components/license-pricing/comparison-table/utils/createRowDataFilter.test.ts
  packages/ag-charts-website/src/ag-website-shared/src/components/license-pricing/comparison-table/utils/createRowDataFilter.ts
  packages/ag-charts-website/src/ag-website-shared/src/content/license-features/chartsFeaturesMatrix.json
  packages/ag-charts-website/src/ag-website-shared/src/content/license-features/gridFeaturesMatrix.json
  packages/ag-charts-website/src/pages/license-pricing.astro
Owners: @ag-grid/ag-charts-team, @taktran

git subrepo pull packages/ag-charts-website/src/ag-website-shared
  packages/ag-charts-website/src/ag-website-shared/.gitrepo
  packages/ag-charts-website/src/ag-website-shared/src/components/search/Search.tsx
  packages/ag-charts-website/src/ag-website-shared/src/components/search/SearchBox.jsx
  packages/ag-charts-website/src/ag-website-shared/src/components/search/SearchControls.jsx
  packages/ag-charts-website/src/ag-website-shared/src/components/search/SearchHits.jsx
  packages/ag-charts-website/src/ag-website-shared/src/components/search/SearchModal.jsx
Owners: @ag-grid/ag-charts-team

git subrepo push packages/ag-charts-website/src/ag-website-shared
  packages/ag-charts-website/src/ag-website-shared/.gitrepo
Owners: @ag-grid/ag-charts-team

git subrepo push packages/ag-charts-website/src/ag-website-shared
  packages/ag-charts-website/src/ag-website-shared/.gitrepo
Owners: @ag-grid/ag-charts-team

git subrepo push packages/ag-charts-website/src/ag-website-shared
  packages/ag-charts-website/src/ag-website-shared/.gitrepo
Owners: @ag-grid/ag-charts-team

AG-11264 - Move framework images to shared folder
  packages/ag-charts-website/src/ag-website-shared/src/images/fw-logos/angular.svg
  packages/ag-charts-website/src/ag-website-shared/src/images/fw-logos/index.ts
  packages/ag-charts-website/src/ag-website-shared/src/images/fw-logos/javascript.svg
  packages/ag-charts-website/src/ag-website-shared/src/images/fw-logos/react.svg
  packages/ag-charts-website/src/ag-website-shared/src/images/fw-logos/solid.svg
  packages/ag-charts-website/src/ag-website-shared/src/images/fw-logos/vue.svg
  packages/ag-charts-website/src/ag-website-shared/src/images/fw-logos/vue_inverted.svg
  packages/ag-charts-website/src/components/framework-selector-inside-doc/FrameworkSelectorInsideDocs.tsx
  packages/ag-charts-website/src/components/framework-selector/FrameworkSelector.tsx
Owners: @ag-grid/ag-charts-team

git subrepo push packages/ag-charts-website/src/ag-website-shared
  packages/ag-charts-website/src/ag-website-shared/.gitrepo
Owners: @ag-grid/ag-charts-team

git subrepo pull external/ag-website-shared
  external/ag-website-shared/.gitrepo
  external/ag-website-shared/README.md
Owners: @ag-grid/ag-charts-team

git subrepo pull packages/ag-charts-website/src/ag-website-shared
  packages/ag-charts-website/src/ag-website-shared/.gitrepo
  packages/ag-charts-website/src/ag-website-shared/README.md
Owners: @ag-grid/ag-charts-team

AG-11264 - Fix formatting
  packages/ag-charts-website/src/ag-website-shared/.vscode/settings.json
  packages/ag-charts-website/src/ag-website-shared/src/components/search/SearchModal.jsx
Owners: @ag-grid/ag-charts-team

AG-11264 - Update file references in shared module scss
  external/ag-website-shared/src/components/license-pricing/FAQ.tsx
  external/ag-website-shared/src/components/license-pricing/LicensePricing.tsx
  external/ag-website-shared/src/components/license-pricing/Licenses.tsx
  external/ag-website-shared/src/components/license-pricing/SocialProof.jsx
  external/ag-website-shared/src/components/license-pricing/comparison-table/ComparisonTable.tsx
  external/ag-website-shared/src/components/license-pricing/comparison-table/renderers/Feature.tsx
  external/ag-website-shared/src/components/license-pricing/comparison-table/renderers/Label.tsx
  external/ag-website-shared/src/components/search/Search.tsx
  external/ag-website-shared/src/components/search/SearchBox.jsx
  external/ag-website-shared/src/components/search/SearchControls.jsx
  external/ag-website-shared/src/components/search/SearchHits.jsx
  external/ag-website-shared/src/components/search/SearchModal.jsx
Owners: @ag-grid/ag-charts-team

AG-11264 - Move shared references to external folder
  packages/ag-charts-website/markdoc.config.ts
  packages/ag-charts-website/tsconfig.json
Owners: @ag-grid/ag-charts-team, @alantreadway

git subrepo pull external/ag-website-shared
  external/ag-website-shared/.gitrepo
  external/ag-website-shared/README.md
  external/ag-website-shared/src/components/license-pricing/FAQ.module.scss
  external/ag-website-shared/src/components/license-pricing/Licenses.module.scss
  external/ag-website-shared/src/components/license-pricing/SocialProof.module.scss
  external/ag-website-shared/src/components/license-pricing/comparison-table/ComparisonTable.module.scss
  external/ag-website-shared/src/components/license-pricing/comparison-table/renderers/ComparisonTableRenderers.module.scss
  external/ag-website-shared/src/components/license-pricing/license-pricing.module.scss
  external/ag-website-shared/src/components/search/Search.module.scss
  external/ag-website-shared/src/components/search/SearchBox.module.scss
  external/ag-website-shared/src/components/search/SearchControls.module.scss
  external/ag-website-shared/src/components/search/SearchHits.module.scss
  external/ag-website-shared/src/components/search/SearchModal.module.scss
Owners: @ag-grid/ag-charts-team, @markdurrant

git subrepo push external/ag-website-shared
  external/ag-website-shared/.gitrepo
Owners: @ag-grid/ag-charts-team

AG-11264 - Remove css modules files that have already been moved to shared folder
  packages/ag-charts-website/src/legacy-design-system/modules/ComparisonTable.module.scss
  packages/ag-charts-website/src/legacy-design-system/modules/ComparisonTableRenderers.module.scss
  packages/ag-charts-website/src/legacy-design-system/modules/FAQ.module.scss
  packages/ag-charts-website/src/legacy-design-system/modules/Licenses.module.scss
  packages/ag-charts-website/src/legacy-design-system/modules/Search.module.scss
  packages/ag-charts-website/src/legacy-design-system/modules/SearchBox.module.scss
  packages/ag-charts-website/src/legacy-design-system/modules/SearchControls.module.scss
  packages/ag-charts-website/src/legacy-design-system/modules/SearchHits.module.scss
  packages/ag-charts-website/src/legacy-design-system/modules/SearchModal.module.scss
  packages/ag-charts-website/src/legacy-design-system/modules/SocialProof.module.scss
  packages/ag-charts-website/src/legacy-design-system/modules/license-pricing.module.scss
Owners: @markdurrant

AG-11264 - Update subrepo parent after a rebase
  external/ag-website-shared/.gitrepo
Owners: @ag-grid/ag-charts-team

AG-11264 - Move search to use shared component
  packages/ag-charts-website/src/components/search/Search.tsx
  packages/ag-charts-website/src/components/search/SearchBox.tsx
  packages/ag-charts-website/src/components/search/SearchControls.tsx
  packages/ag-charts-website/src/components/search/SearchHits.tsx
  packages/ag-charts-website/src/components/search/SearchModal.tsx
  packages/ag-charts-website/src/components/site-header/SiteHeader.astro
Owners: @ag-grid/ag-charts-team, @taktran

git subrepo pull external/ag-website-shared
  external/ag-website-shared/.gitrepo
  external/ag-website-shared/src/design-system/_typography.scss
Owners: @ag-grid/ag-charts-team, @markdurrant

git subrepo pull external/ag-website-shared
  external/ag-website-shared/.gitrepo
  external/ag-website-shared/src/components/license-pricing/LicensePricing.tsx
Owners: @ag-grid/ag-charts-team

git subrepo pull external/ag-website-shared
  external/ag-website-shared/.gitrepo
  external/ag-website-shared/src/components/alert/Alert.module.scss
  external/ag-website-shared/src/components/alert/Alert.tsx
  external/ag-website-shared/src/components/alert/Idea.tsx
  external/ag-website-shared/src/components/alert/Note.tsx
  external/ag-website-shared/src/components/alert/Warning.tsx
  external/ag-website-shared/src/design-system/style-guide/Alerts.tsx
Owners: @ag-grid/ag-charts-team, @markdurrant

git subrepo pull external/ag-website-shared
  external/ag-website-shared/.gitrepo
  external/ag-website-shared/src/components/product-dropdown/ProductDropdown.module.scss
  external/ag-website-shared/src/components/product-dropdown/ProductDropdown.tsx
Owners: @ag-grid/ag-charts-team, @markdurrant

.github/CODEOWNERS:

# NOTE: Order of entries matters - later entries have higher precedence.

# Attribute code-owners so default reviewers are assigned to PRs.
* @ag-grid/ag-charts-team

# Astro + website changes to be reviewed by website team.
*.scss @markdurrant
*.astro @taktran
/packages/ag-charts-website/astro/** @taktran
/packages/ag-charts-website/components/** @taktran
/packages/ag-charts-website/features/** @taktran
/packages/ag-charts-website/layouts/** @taktran
/packages/ag-charts-website/stores/** @taktran
/packages/ag-charts-website/utils/** @taktran

# Docs updates to be reviewed by Eng VP.
/packages/ag-charts-website/content/** @alantreadway @rmc-software
*.mdoc @rmc-software

# Charts library code to be reviewed by Chart TL.
/packages/ag-charts-community/** @alantreadway
/packages/ag-charts-enterprise/** @alantreadway

# Sensitive build/repo files to be reviewed by Chart TL.
**/package.json @alantreadway
nx.json @alantreadway
**/project.json @alantreadway
**/tsconfig.json @alantreadway
**/tsconfig.*.json @alantreadway
