Repository ag-grid/ag-charts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ag-grid/ag-charts-team, @markdurrant, @taktran, @alantreadway, @rmc-software

.github/CODEOWNERS:

# NOTE: Order of entries matters - later entries have higher precedence.

# Attribute code-owners so default reviewers are assigned to PRs.
* @ag-grid/ag-charts-team

# Astro + website changes to be reviewed by website team.
*.scss @markdurrant
*.astro @taktran
/packages/ag-charts-website/astro/** @taktran
/packages/ag-charts-website/components/** @taktran
/packages/ag-charts-website/features/** @taktran
/packages/ag-charts-website/layouts/** @taktran
/packages/ag-charts-website/stores/** @taktran
/packages/ag-charts-website/utils/** @taktran

# Docs updates to be reviewed by Eng VP.
/packages/ag-charts-website/content/** @alantreadway @rmc-software
*.mdoc @rmc-software

# Charts library code to be reviewed by Chart TL.
/packages/ag-charts-community/** @alantreadway
/packages/ag-charts-enterprise/** @alantreadway

# Sensitive build/repo files to be reviewed by Chart TL.
**/package.json @alantreadway
nx.json @alantreadway
**/project.json @alantreadway
**/tsconfig.json @alantreadway
**/tsconfig.*.json @alantreadway

AG-12758 - Add homepage gallery example footer link back in
  packages/ag-charts-website/src/features/example-runner/components/ExampleRunner.tsx
  packages/ag-charts-website/src/features/gallery/components/GalleryExampleRunner.tsx
  packages/ag-charts-website/src/features/homepage/components/HomepageGalleryExamples.tsx
Owners: @ag-grid/ag-charts-team

AG-12556 - Simplify homepage gallery examples
  packages/ag-charts-website/src/features/homepage/components/HomepageGalleryExamples.astro
  packages/ag-charts-website/src/features/homepage/components/HomepageGalleryExamples.module.scss
  packages/ag-charts-website/src/features/homepage/components/HomepageGalleryExamples.tsx
  packages/ag-charts-website/src/features/homepage/components/IndexGalleryExampleRunner.astro
  packages/ag-charts-website/src/features/homepage/components/IndexGalleryExampleRunner.tsx
  packages/ag-charts-website/src/pages/index.astro
Owners: @taktran, @markdurrant, @ag-grid/ag-charts-team

AG-12556 - Simplify homepage docs examples and clean up folder
  packages/ag-charts-website/src/features/docs/components/DocsExampleRunner.astro
  packages/ag-charts-website/src/features/docs/components/DocsExampleRunner.tsx
  packages/ag-charts-website/src/features/example-runner/components/ExampleRunner.tsx
  packages/ag-charts-website/src/features/homepage/components/FreeChartsExamples.tsx
  packages/ag-charts-website/src/features/homepage/components/HomepageDocsExample.astro
  packages/ag-charts-website/src/features/homepage/components/IndexCodeOptions.module.scss
  packages/ag-charts-website/src/features/homepage/components/IndexCodeOptions.tsx
  packages/ag-charts-website/src/features/homepage/components/IndexCodeViewer.module.scss
  packages/ag-charts-website/src/features/homepage/components/IndexCodeViewer.tsx
  packages/ag-charts-website/src/features/homepage/components/IndexDocsExampleRunner.astro
  packages/ag-charts-website/src/features/homepage/components/IndexDocsExampleRunner.tsx
  packages/ag-charts-website/src/features/homepage/components/IndexExampleIFrame.module.scss
  packages/ag-charts-website/src/features/homepage/components/IndexExampleIFrame.tsx
  packages/ag-charts-website/src/features/homepage/components/IndexExampleRunner.module.scss
  packages/ag-charts-website/src/features/homepage/components/IndexExampleRunner.tsx
  packages/ag-charts-website/src/features/homepage/components/IndexExampleRunnerContainer.astro
  packages/ag-charts-website/src/features/homepage/components/IndexLegacyExampleRunner.module.scss
  packages/ag-charts-website/src/features/homepage/components/InstallText.module.scss
  packages/ag-charts-website/src/features/homepage/components/InstallText.tsx
  packages/ag-charts-website/src/features/homepage/components/TabControl.module.scss
  packages/ag-charts-website/src/features/homepage/components/TabControl.tsx
  packages/ag-charts-website/src/pages/index.astro
Owners: @taktran, @ag-grid/ag-charts-team, @markdurrant

AG-12758 - Fix spacing around example runner on homepage
  packages/ag-charts-website/markdoc.config.ts
  packages/ag-charts-website/src/content/gallery/data.json
  packages/ag-charts-website/src/features/docs/components/DocsExampleRunner.astro
  packages/ag-charts-website/src/features/example-runner/components/ExampleRunnerContainer.astro
  packages/ag-charts-website/src/features/gallery/components/GalleryExampleRunner.astro
  packages/ag-charts-website/src/features/gallery/constants.ts
  packages/ag-charts-website/src/features/homepage/constants.ts
  packages/ag-charts-website/src/pages/gallery/[pageName].astro
Owners: @ag-grid/ag-charts-team, @taktran

AG-12810 Add padding to the focus indicator match the mouse hitbox
  packages/ag-charts-community/src/chart/legend.ts
Owners: @alantreadway

AG-12810 Fix Legend.getLegendItemHitboxProvider() method
  packages/ag-charts-community/src/chart/legend.ts
Owners: @alantreadway

AG-12810 Update darwin e2e snapshots
  packages/ag-charts-website/e2e/keyboard-nav.spec.ts-snapshots/legend-2nd-page-focus-chromium-darwin.png
  packages/ag-charts-website/e2e/keyboard-nav.spec.ts-snapshots/legend-focus-chromium-darwin.png
Owners: @ag-grid/ag-charts-team

AG-12810 Fix CSS bounds of legend items with pagination
  packages/ag-charts-community/src/chart/legend.ts
Owners: @alantreadway

AG-12810 nx format
  packages/ag-charts-community/src/chart/legend.ts
Owners: @alantreadway

AG-12810 CR nit
  packages/ag-charts-community/src/chart/legend.ts
Owners: @alantreadway

AG-12498 Fix settings dialog color change history recording
  packages/ag-charts-enterprise/src/components/dialog/dialog.ts
  packages/ag-charts-enterprise/src/features/annotations/annotations.ts
  packages/ag-charts-enterprise/src/features/annotations/annotationsStateMachine.ts
  packages/ag-charts-enterprise/src/features/annotations/disjoint-channel/disjointChannelProperties.ts
  packages/ag-charts-enterprise/src/features/annotations/line/lineProperties.ts
  packages/ag-charts-enterprise/src/features/annotations/parallel-channel/parallelChannelProperties.ts
  packages/ag-charts-enterprise/src/features/annotations/settings-dialog/settingsDialog.ts
Owners: @alantreadway

AG-12758 - Refactor homepage example runners (#2452)
  packages/ag-charts-website/markdoc.config.ts
  packages/ag-charts-website/src/content/gallery/data.json
  packages/ag-charts-website/src/features/docs/components/DocsExampleRunner.astro
  packages/ag-charts-website/src/features/docs/components/DocsExampleRunner.tsx
  packages/ag-charts-website/src/features/example-runner/components/ExampleRunner.tsx
  packages/ag-charts-website/src/features/example-runner/components/ExampleRunnerContainer.astro
  packages/ag-charts-website/src/features/gallery/components/GalleryExampleRunner.astro
  packages/ag-charts-website/src/features/gallery/components/GalleryExampleRunner.tsx
  packages/ag-charts-website/src/features/gallery/constants.ts
  packages/ag-charts-website/src/features/homepage/components/FreeChartsExamples.tsx
  packages/ag-charts-website/src/features/homepage/components/HomepageDocsExample.astro
  packages/ag-charts-website/src/features/homepage/components/HomepageGalleryExamples.astro
  packages/ag-charts-website/src/features/homepage/components/HomepageGalleryExamples.module.scss
  packages/ag-charts-website/src/features/homepage/components/HomepageGalleryExamples.tsx
  packages/ag-charts-website/src/features/homepage/components/IndexCodeOptions.module.scss
  packages/ag-charts-website/src/features/homepage/components/IndexCodeOptions.tsx
  packages/ag-charts-website/src/features/homepage/components/IndexCodeViewer.module.scss
  packages/ag-charts-website/src/features/homepage/components/IndexCodeViewer.tsx
  packages/ag-charts-website/src/features/homepage/components/IndexDocsExampleRunner.astro
  packages/ag-charts-website/src/features/homepage/components/IndexDocsExampleRunner.tsx
  packages/ag-charts-website/src/features/homepage/components/IndexExampleIFrame.module.scss
  packages/ag-charts-website/src/features/homepage/components/IndexExampleIFrame.tsx
  packages/ag-charts-website/src/features/homepage/components/IndexExampleRunner.module.scss
  packages/ag-charts-website/src/features/homepage/components/IndexExampleRunner.tsx
  packages/ag-charts-website/src/features/homepage/components/IndexExampleRunnerContainer.astro
  packages/ag-charts-website/src/features/homepage/components/IndexGalleryExampleRunner.astro
  packages/ag-charts-website/src/features/homepage/components/IndexGalleryExampleRunner.tsx
  packages/ag-charts-website/src/features/homepage/components/IndexLegacyExampleRunner.module.scss
  packages/ag-charts-website/src/features/homepage/components/InstallText.module.scss
  packages/ag-charts-website/src/features/homepage/components/InstallText.tsx
  packages/ag-charts-website/src/features/homepage/components/TabControl.module.scss
  packages/ag-charts-website/src/features/homepage/components/TabControl.tsx
  packages/ag-charts-website/src/features/homepage/constants.ts
  packages/ag-charts-website/src/pages/gallery/[pageName].astro
  packages/ag-charts-website/src/pages/index.astro
Owners: @ag-grid/ag-charts-team, @taktran, @markdurrant

AG-12498 Fix settings dialog to update toolbar button icons
  packages/ag-charts-enterprise/src/features/annotations/annotations.ts
Owners: @alantreadway

AG-12821 - Fix mouse cursor for homepage integrated example
  packages/ag-charts-website/src/layouts/Layout.astro
Owners: @taktran

AG-12640 - Hide maps example titles
  packages/ag-charts-website/src/pages-styles/homepage.module.scss
Owners: @markdurrant

AG-12598 Fix escape to cancel creating annotation
  packages/ag-charts-enterprise/src/features/annotations/annotations.ts
Owners: @alantreadway

AG-12640 - Hide maps example titles (#2453)
  packages/ag-charts-website/src/pages-styles/homepage.module.scss
Owners: @markdurrant

AG-12640 - Fix example runner background bug
  packages/ag-charts-website/src/features/example-runner/framework-templates/lib/ExampleStyle.tsx
Owners: @ag-grid/ag-charts-team

AG-12437 Small spacing homepage improvements
  packages/ag-charts-website/src/features/homepage/components/HomepageGalleryExamples.module.scss
  packages/ag-charts-website/src/pages-styles/homepage.module.scss
Owners: @markdurrant

AG-12498 Add aria roles to dialog tabs
  packages/ag-charts-enterprise/src/components/dialog/dialog.ts
Owners: @alantreadway

AG-12777 Fix missing settings dialog l10n
  packages/ag-charts-enterprise/src/features/annotations/settings-dialog/settingsDialog.ts
  packages/ag-charts-locale/src/en-US.ts
Owners: @alantreadway, @ag-grid/ag-charts-team

AG-12776 Revert fix for CRT-420
  packages/ag-charts-community/src/chart/interaction/keyNavManager.ts
Owners: @alantreadway

AG-3390 - Fix Sass depriciated nesting issue
  packages/ag-charts-website/src/pages-styles/homepage.module.scss
Owners: @markdurrant

AG-12712 Gauge updates
  packages/ag-charts-enterprise/src/series/gauge-util/defaultColorStops.ts
  packages/ag-charts-enterprise/src/series/gauge-util/stops.ts
  packages/ag-charts-enterprise/src/series/linear-gauge/linearGaugeModule.ts
  packages/ag-charts-enterprise/src/series/linear-gauge/linearGaugeSeries.ts
  packages/ag-charts-enterprise/src/series/linear-gauge/linearGaugeUtil.ts
  packages/ag-charts-enterprise/src/series/radial-gauge/radialGaugeModule.ts
  packages/ag-charts-enterprise/src/series/radial-gauge/radialGaugeSeries.ts
  packages/ag-charts-website/src/content/docs/linear-gauge/_examples/corner-radius/index.html
  packages/ag-charts-website/src/content/docs/linear-gauge/_examples/corner-radius/main.ts
  packages/ag-charts-website/src/content/docs/linear-gauge/_examples/thickness/main.ts
  packages/ag-charts-website/src/content/docs/linear-gauge/index.mdoc
  packages/ag-charts-website/src/content/docs/radial-gauge/_examples/appearance/index.html
  packages/ag-charts-website/src/content/docs/radial-gauge/_examples/corner-radius/index.html
  packages/ag-charts-website/src/content/docs/radial-gauge/_examples/corner-radius/main.ts
  packages/ag-charts-website/src/content/docs/radial-gauge/_examples/fill-mode/index.html
  packages/ag-charts-website/src/content/docs/radial-gauge/_examples/fill-mode/main.ts
  packages/ag-charts-website/src/content/docs/radial-gauge/index.mdoc
Owners: @alantreadway, @ag-grid/ag-charts-team, @rmc-software

AG-12820: Radial Bar rendering in incorrect position with one data item
  packages/ag-charts-enterprise/src/series/radial-bar/__image_snapshots__/radial-bar-test-ts-radial-bar-series-should-render-single-datum-radial-bar-as-expected-1-snap.png
  packages/ag-charts-enterprise/src/series/radial-bar/radialBar.test.ts
  packages/ag-charts-enterprise/src/series/radial-bar/radialBarSeries.ts
Owners: @alantreadway

AG-12712 Update cross filtering
  packages/ag-charts-community/src/chart/series/cartesian/areaSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/areaUtil.ts
  packages/ag-charts-community/src/chart/series/cartesian/bubbleSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/lineSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/scatterSeries.ts
Owners: @alantreadway

Fix defaults
  packages/ag-charts-enterprise/src/series/linear-gauge/linearGaugeModule.ts
  packages/ag-charts-website/src/content/docs/linear-gauge/_examples/thickness/main.ts
Owners: @alantreadway, @ag-grid/ag-charts-team

fix links
  packages/ag-charts-website/src/features/homepage/components/faqs/Faqs.tsx
Owners: @ag-grid/ag-charts-team

update copy
  packages/ag-charts-website/src/features/homepage/components/faqs/faqs.json
Owners: @ag-grid/ag-charts-team

Fix typo
  packages/ag-charts-website/src/pages/index.astro
Owners: @taktran

Update wording
  packages/ag-charts-website/src/pages/index.astro
Owners: @taktran

AG-3390 - Fix issues with single code blocks in tabs
  external/ag-website-shared/src/components/tabs/Tabs.module.scss
  external/ag-website-shared/src/components/tabs/TabsWithHtmlChildren.astro
  external/ag-website-shared/src/markdoc/tags/tabs.ts
  packages/ag-charts-website/src/content/docs/installation/index.mdoc
  packages/ag-charts-website/src/content/docs/localisation/index.mdoc
  packages/ag-charts-website/src/content/docs/quick-start/index.mdoc
Owners: @markdurrant, @taktran, @ag-grid/ag-charts-team, @rmc-software

e2e
  packages/ag-charts-website/e2e/examples.spec.ts
  packages/ag-charts-website/src/content/docs/linear-gauge/_examples/corner-radius/index.html
  packages/ag-charts-website/src/content/docs/radial-gauge/_examples/corner-radius/index.html
Owners: @ag-grid/ag-charts-team

Fix nesting order - resolves devconsole warning
  packages/ag-charts-website/src/pages-styles/homepage.module.scss
Owners: @markdurrant

AG-3390 - Prevent white flash when switching chart type on homepage
  packages/ag-charts-website/src/features/example-runner/framework-templates/lib/ExampleStyle.tsx
Owners: @ag-grid/ag-charts-team

Revert "AG-12810 Update darwin e2e snapshots"
  packages/ag-charts-website/e2e/keyboard-nav.spec.ts-snapshots/legend-2nd-page-focus-chromium-darwin.png
  packages/ag-charts-website/e2e/keyboard-nav.spec.ts-snapshots/legend-focus-chromium-darwin.png
Owners: @ag-grid/ag-charts-team

Revert "Update snapshots."
  packages/ag-charts-website/e2e/keyboard-nav.spec.ts-snapshots/legend-2nd-page-focus-chromium-linux.png
  packages/ag-charts-website/e2e/keyboard-nav.spec.ts-snapshots/legend-focus-chromium-linux.png
Owners: @ag-grid/ag-charts-team

AG-12810 Revert Legend.getLegendItemHitbox logic
  packages/ag-charts-community/src/chart/legend.ts
Owners: @alantreadway

Ag 3390 website fixes (#2460)
  external/ag-website-shared/src/components/tabs/Tabs.module.scss
  external/ag-website-shared/src/components/tabs/TabsWithHtmlChildren.astro
  external/ag-website-shared/src/markdoc/tags/tabs.ts
  packages/ag-charts-website/src/content/docs/installation/index.mdoc
  packages/ag-charts-website/src/content/docs/localisation/index.mdoc
  packages/ag-charts-website/src/content/docs/quick-start/index.mdoc
  packages/ag-charts-website/src/features/example-runner/framework-templates/lib/ExampleStyle.tsx
  packages/ag-charts-website/src/pages-styles/homepage.module.scss
Owners: @markdurrant, @taktran, @ag-grid/ag-charts-team, @rmc-software

AG-12659 - Fix for multiple resize on website example load.
  packages/ag-charts-community/src/util/sizeMonitor.ts
Owners: @alantreadway
