Repository ag-grid/ag-charts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ag-grid/ag-charts-team, @markdurrant, @taktran, @alantreadway, @rmc-software

AG-12563 + AG-12560 - Rename css variable
  packages/ag-charts-community/src/chart/toolbar/toolbarStyles.css
Owners: @alantreadway

AG-12563 + AG-12560 - Add line style to vertical cross line annotation
  packages/ag-charts-enterprise/src/features/annotations/cross-line/crossLineProperties.ts
Owners: @alantreadway

AG-12563 + AG-12560 - update snapshots
  packages/ag-charts-community/src/module/__snapshots__/optionsModule.test.ts.snap
Owners: @alantreadway

AG-12563 + AG-12560 - icons in alphabetical order
  packages/ag-charts-community/src/dom/icons.css
Owners: @alantreadway

AG-12516 Fix animation cases
  packages/ag-charts-community/src/chart/series/cartesian/lineInterpolationUtil.ts
Owners: @alantreadway

Revert "AG-12605 - Temporary CI fix."
  packages/ag-charts-community/src/util/type-guards.ts
Owners: @alantreadway

AG-12510 - Fix lint error.
  packages/ag-charts-community/src/scene/sceneDebug.ts
Owners: @alantreadway

Fix update e2e snapshots.
  .github/workflows/update-e2e-snapshots.yml
Owners: @ag-grid/ag-charts-team

AG-12510 - Update snapshots.
  packages/ag-charts-website/e2e/keyboard-nav.spec.ts-snapshots/1st-datum-focus-chromium-darwin.png
  packages/ag-charts-website/e2e/keyboard-nav.spec.ts-snapshots/3rd-datum-2nd-series-focus-chromium-darwin.png
  packages/ag-charts-website/e2e/keyboard-nav.spec.ts-snapshots/legend-2nd-page-focus-chromium-darwin.png
  packages/ag-charts-website/e2e/keyboard-nav.spec.ts-snapshots/legend-focus-chromium-darwin.png
  packages/ag-charts-website/e2e/keyboard-nav.spec.ts-snapshots/legend-page-control-focus-chromium-darwin.png
  packages/ag-charts-website/e2e/keyboard-nav.spec.ts-snapshots/tabbed-back-into-chart-chromium-darwin.png
  packages/ag-charts-website/e2e/keyboard-nav.spec.ts-snapshots/tabbed-out-of-chart-chromium-darwin.png
Owners: @ag-grid/ag-charts-team

AG-12510 - Update benchmark snapshots.
  packages/ag-charts-community/benchmarks/__image_snapshots__/integrated-charts-large-scale-test-ts-integrated-charts-large-scale-benchmark-initial-load-1-snap.png
  packages/ag-charts-community/benchmarks/__image_snapshots__/large-scale-multi-series-test-ts-large-scale-multi-series-benchmark-initial-load-1-snap.png
  packages/ag-charts-community/benchmarks/__image_snapshots__/multi-series-test-ts-multi-series-benchmark-after-load-1-x-datum-highlight-1-snap.png
  packages/ag-charts-community/benchmarks/__image_snapshots__/multi-series-test-ts-multi-series-benchmark-after-load-15-x-datum-highlight-1-snap.png
  packages/ag-charts-community/benchmarks/__image_snapshots__/multi-series-test-ts-multi-series-benchmark-initial-load-1-snap.png
Owners: @alantreadway

cleanup
  packages/ag-charts-community/src/chart/axis/axis.ts
  packages/ag-charts-community/src/chart/axis/cartesianAxis.ts
  packages/ag-charts-community/src/chart/cartesianChart.ts
  packages/ag-charts-community/src/chart/chartAxis.ts
  packages/ag-charts-community/src/scene/group.ts
  packages/ag-charts-enterprise/src/features/navigator/miniChart.ts
Owners: @alantreadway

gauge-api
  packages/ag-charts-community/src/api/agCharts.ts
  packages/ag-charts-community/src/api/preset/gauge.ts
  packages/ag-charts-community/src/api/preset/presets.ts
  packages/ag-charts-enterprise/src/series/radial-gauge/radialGaugeSeries.ts
  packages/ag-charts-enterprise/src/series/radial-gauge/radialGaugeUtil.ts
  packages/ag-charts-types/src/chart/chartBuilderOptions.ts
  packages/ag-charts-types/src/series/gauge/radialGaugeOptions.ts
Owners: @alantreadway, @ag-grid/ag-charts-team

cleanup
  packages/ag-charts-community/src/scene/transformable.ts
Owners: @alantreadway

Area series test case
  packages/ag-charts-website/src/content/docs/area-series-test/_examples/category-changes/data.ts
  packages/ag-charts-website/src/content/docs/area-series-test/_examples/category-changes/index.html
  packages/ag-charts-website/src/content/docs/area-series-test/_examples/category-changes/main.ts
  packages/ag-charts-website/src/content/docs/area-series-test/index.mdoc
Owners: @ag-grid/ag-charts-team, @rmc-software

lint
  packages/ag-charts-community/src/api/preset/gauge.ts
Owners: @alantreadway

AG-12601 Refactor adding child elements to popovers
  packages/ag-charts-enterprise/src/components/menu/menu.ts
  packages/ag-charts-enterprise/src/components/popover/anchoredPopover.ts
  packages/ag-charts-enterprise/src/components/popover/popover.ts
  packages/ag-charts-enterprise/src/features/color-picker/colorPicker.ts
Owners: @alantreadway

AG-12601 Cleanup popover classes
  packages/ag-charts-community/src/util/dom.ts
  packages/ag-charts-enterprise/src/components/menu/menu.ts
  packages/ag-charts-enterprise/src/components/popover/popover.ts
  packages/ag-charts-enterprise/src/features/color-picker/colorPicker.ts
  packages/ag-charts-enterprise/src/features/color-picker/colorPickerStyles.css
Owners: @alantreadway

AG-12601 Add dialog popover and annotation settings dialog
  packages/ag-charts-community/src/chart/toolbar/toolbarModule.ts
  packages/ag-charts-community/src/util/vector.ts
  packages/ag-charts-enterprise/src/components/dialog/dialog.css
  packages/ag-charts-enterprise/src/components/dialog/dialog.ts
  packages/ag-charts-enterprise/src/features/annotations/annotations.css
  packages/ag-charts-enterprise/src/features/annotations/annotations.ts
  packages/ag-charts-enterprise/src/features/annotations/line/lineScene.ts
  packages/ag-charts-enterprise/src/features/annotations/settings-dialog/settingsDialog.css
  packages/ag-charts-enterprise/src/features/annotations/settings-dialog/settingsDialog.ts
  packages/ag-charts-enterprise/src/styles.css
  packages/ag-charts-locale/src/en-US.ts
  packages/ag-charts-types/src/chart/toolbarOptions.ts
Owners: @alantreadway, @ag-grid/ag-charts-team

AG-12601 Refactor menu closer out of non-menu popovers
  packages/ag-charts-enterprise/src/components/menu/menu.ts
  packages/ag-charts-enterprise/src/components/popover/popover.ts
  packages/ag-charts-enterprise/src/features/color-picker/colorPicker.ts
Owners: @alantreadway

AG-12601 Refactor popover hide event to be reactive not active
  packages/ag-charts-enterprise/src/components/menu/menu.ts
  packages/ag-charts-enterprise/src/components/popover/popover.ts
  packages/ag-charts-enterprise/src/features/annotations/annotations.ts
  packages/ag-charts-enterprise/src/features/chart-toolbar/chartToolbar.ts
  packages/ag-charts-enterprise/src/features/color-picker/colorPicker.ts
Owners: @alantreadway

AG-12601 Fix lint issues
  packages/ag-charts-enterprise/src/components/dialog/dialog.ts
  packages/ag-charts-enterprise/src/features/annotations/annotations.ts
Owners: @alantreadway

Remove domain padding logic from axis.ts and fixNumericExtent
  packages/ag-charts-community/src/chart/axis/axis.ts
  packages/ag-charts-community/src/chart/axis/timeAxis.ts
  packages/ag-charts-community/src/chart/chartAxis.ts
  packages/ag-charts-community/src/chart/data/dataModel.ts
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/line-series-test-ts-line-series-create-for-line-number-axes-0-x-domain-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/line-series-test-ts-line-series-create-for-line-number-axes-0-x-domain-reversed-axes-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/line-series-test-ts-line-series-create-for-line-number-axes-0-y-domain-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/line-series-test-ts-line-series-create-for-line-number-axes-0-y-domain-reversed-axes-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/line-series-test-ts-line-series-create-for-line-number-x-axis-time-y-axis-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/line-series-test-ts-line-series-create-for-line-number-x-axis-time-y-axis-reversed-axes-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/line-series-test-ts-line-series-create-for-line-time-x-axis-number-y-axis-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/line-series-test-ts-line-series-create-for-line-time-x-axis-number-y-axis-reversed-axes-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/areaSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/barSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/bubbleSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/lineSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/scatterSeries.ts
  packages/ag-charts-enterprise/src/axes/ordinal/__image_snapshots__/ordinal-time-axis-test-ts-ordinal-time-axis-examples-for-ordinal-time-axis-yearly-data-flip-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-enterprise/src/axes/ordinal/__image_snapshots__/ordinal-time-axis-test-ts-ordinal-time-axis-examples-for-ordinal-time-axis-yearly-data-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-enterprise/src/axes/ordinal/__image_snapshots__/ordinal-time-axis-test-ts-ordinal-time-axis-examples-for-ordinal-time-axis-yearly-data-manual-rotation-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-enterprise/src/axes/ordinal/__image_snapshots__/ordinal-time-axis-test-ts-ordinal-time-axis-examples-for-ordinal-time-axis-yearly-data-reversed-axes-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-enterprise/src/features/error-bar/errorBar.ts
  packages/ag-charts-enterprise/src/series/box-plot/boxPlotSeries.ts
  packages/ag-charts-enterprise/src/series/ohlc/ohlcSeriesBase.ts
  packages/ag-charts-enterprise/src/series/radial-bar/radialBarSeries.ts
  packages/ag-charts-enterprise/src/series/radial-column/radialColumnSeriesBase.ts
  packages/ag-charts-enterprise/src/series/range-area/rangeArea.ts
  packages/ag-charts-enterprise/src/series/range-bar/rangeBarSeries.ts
  packages/ag-charts-enterprise/src/series/waterfall/waterfallSeries.ts
Owners: @alantreadway

Add needle support to radial gauges
  packages/ag-charts-community/src/integrated-charts-scene.ts
  packages/ag-charts-community/src/scene/shape/svgPath.ts
  packages/ag-charts-enterprise/src/series/radial-gauge/radialGaugeModule.ts
  packages/ag-charts-enterprise/src/series/radial-gauge/radialGaugeNeedle.ts
  packages/ag-charts-enterprise/src/series/radial-gauge/radialGaugeSeries.ts
  packages/ag-charts-enterprise/src/series/radial-gauge/radialGaugeSeriesProperties.ts
  packages/ag-charts-enterprise/src/series/radial-gauge/radialGaugeUtil.ts
  packages/ag-charts-types/src/series/gauge/radialGaugeOptions.ts
Owners: @alantreadway, @ag-grid/ag-charts-team

AG-12601 Update options snapshots
  packages/ag-charts-community/src/module/__snapshots__/optionsModule.test.ts.snap
Owners: @alantreadway

AG-12601 Fix hiding line style menus
  packages/ag-charts-enterprise/src/features/annotations/annotations.ts
Owners: @alantreadway

Move gauge foreground to dedicated object
  packages/ag-charts-enterprise/src/series/radial-gauge/radialGaugeModule.ts
  packages/ag-charts-enterprise/src/series/radial-gauge/radialGaugeSeries.ts
  packages/ag-charts-enterprise/src/series/radial-gauge/radialGaugeSeriesProperties.ts
  packages/ag-charts-types/src/series/gauge/radialGaugeOptions.ts
Owners: @alantreadway, @ag-grid/ag-charts-team

Cleanup annotation types and function names
  packages/ag-charts-enterprise/src/features/annotations/annotationProperties.ts
  packages/ag-charts-enterprise/src/features/annotations/annotations.ts
  packages/ag-charts-enterprise/src/features/annotations/annotationsConfig.ts
  packages/ag-charts-enterprise/src/features/annotations/annotationsStateMachine.ts
  packages/ag-charts-enterprise/src/features/annotations/annotationsSuperTypes.ts
  packages/ag-charts-enterprise/src/features/annotations/cross-line/crossLineProperties.ts
  packages/ag-charts-enterprise/src/features/annotations/disjoint-channel/disjointChannelProperties.ts
  packages/ag-charts-enterprise/src/features/annotations/parallel-channel/parallelChannelProperties.ts
  packages/ag-charts-enterprise/src/features/annotations/states/textualPointState.ts
  packages/ag-charts-enterprise/src/features/annotations/states/textualStartEndState.ts
Owners: @alantreadway

AG-12066 Refactor arrow annotation to be its own type
  packages/ag-charts-enterprise/src/features/annotations/annotationProperties.ts
  packages/ag-charts-enterprise/src/features/annotations/annotationTypes.ts
  packages/ag-charts-enterprise/src/features/annotations/annotations.ts
  packages/ag-charts-enterprise/src/features/annotations/annotationsConfig.ts
  packages/ag-charts-enterprise/src/features/annotations/annotationsModule.ts
  packages/ag-charts-enterprise/src/features/annotations/annotationsStateMachine.ts
  packages/ag-charts-enterprise/src/features/annotations/annotationsSuperTypes.ts
  packages/ag-charts-enterprise/src/features/annotations/line/lineProperties.ts
  packages/ag-charts-enterprise/src/features/annotations/line/lineScene.ts
  packages/ag-charts-enterprise/src/features/annotations/line/lineState.ts
Owners: @alantreadway

Update API contract
  packages/ag-charts-community/src/api/agCharts.ts
  packages/ag-charts-community/src/api/preset/gauge.ts
  packages/ag-charts-enterprise/src/series/radial-gauge/radialGaugeModule.ts
  packages/ag-charts-enterprise/src/series/radial-gauge/radialGaugeSeries.ts
  packages/ag-charts-types/src/chart/chartBuilderOptions.ts
  packages/ag-charts-types/src/series/gauge/radialGaugeOptions.ts
Owners: @alantreadway, @ag-grid/ag-charts-team

lint
  packages/ag-charts-enterprise/src/series/radial-gauge/radialGaugeSeries.ts
  packages/ag-charts-enterprise/src/series/radial-gauge/radialGaugeUtil.ts
Owners: @alantreadway

cleanup
  packages/ag-charts-community/src/chart/axis/axis.ts
  packages/ag-charts-community/src/chart/axis/axisManager.ts
  packages/ag-charts-community/src/chart/axis/cartesianAxis.ts
  packages/ag-charts-community/src/chart/axis/timeAxis.ts
  packages/ag-charts-community/src/chart/chartAxis.ts
  packages/ag-charts-community/src/chart/data/dataModel.ts
  packages/ag-charts-community/src/sparklines-util.ts
  packages/ag-charts-community/src/util/array.test.ts
  packages/ag-charts-community/src/util/array.ts
Owners: @alantreadway

AG-12369 Fix menu hover & focus styles and add e2e test
  packages/ag-charts-enterprise/src/components/menu/menu.css
  packages/ag-charts-website/e2e/toolbar.spec.ts
  packages/ag-charts-website/e2e/toolbar.spec.ts-snapshots/text-10-deleted-chromium-darwin.png
  packages/ag-charts-website/e2e/toolbar.spec.ts-snapshots/text-2-button-hover-chromium-darwin.png
  packages/ag-charts-website/e2e/toolbar.spec.ts-snapshots/text-3-button-active-chromium-darwin.png
  packages/ag-charts-website/e2e/toolbar.spec.ts-snapshots/text-4-start-chromium-darwin.png
  packages/ag-charts-website/e2e/toolbar.spec.ts-snapshots/text-5-input-chromium-darwin.png
  packages/ag-charts-website/e2e/toolbar.spec.ts-snapshots/text-6-save-chromium-darwin.png
  packages/ag-charts-website/e2e/toolbar.spec.ts-snapshots/text-7-editing-chromium-darwin.png
  packages/ag-charts-website/e2e/toolbar.spec.ts-snapshots/text-8-font-size-popover-chromium-darwin.png
  packages/ag-charts-website/e2e/toolbar.spec.ts-snapshots/text-9-change-font-size-chromium-darwin.png
Owners: @alantreadway, @ag-grid/ag-charts-team

cleanup
  packages/ag-charts-community/src/chart/axis/axis.ts
  packages/ag-charts-community/src/chart/axis/axisTitle.ts
  packages/ag-charts-community/src/chart/axis/groupedCategoryAxis.ts
  packages/ag-charts-enterprise/src/axes/radius/radiusAxis.ts
Owners: @alantreadway

AG-12510 - Update benchmark results.
  packages/ag-charts-website/src/content/docs/benchmarks/_examples/summary/data.ts
Owners: @ag-grid/ag-charts-team

AG-12613 - Add AG Grid integrated charts example on homepage
  external/ag-website-shared/src/components/automated-examples/AutomatedIntegratedCharts.module.scss
  external/ag-website-shared/src/components/automated-examples/AutomatedIntegratedCharts.tsx
  external/ag-website-shared/src/components/automated-examples/AutomatedIntegratedChartsWrapper.tsx
  packages/ag-charts-website/package.json
  packages/ag-charts-website/public/images/automated-examples/replay-demo-icon-dark.svg
  packages/ag-charts-website/public/images/automated-examples/replay-demo-icon.svg
  packages/ag-charts-website/public/images/integrated-charts-dark.png
  packages/ag-charts-website/public/images/integrated-charts-light.png
  packages/ag-charts-website/src/pages-styles/homepage.module.scss
  packages/ag-charts-website/src/pages/index.astro
  packages/ag-charts-website/src/utils/analytics.ts
  yarn.lock
Owners: @markdurrant, @ag-grid/ag-charts-team, @alantreadway, @taktran

cleanup
  packages/ag-charts-community/src/chart/axis/cartesianAxis.ts
  packages/ag-charts-community/src/chart/axis/categoryAxis.ts
  packages/ag-charts-community/src/chart/series/cartesian/cartesianSeries.ts
  packages/ag-charts-community/src/scale/bandScale.ts
  packages/ag-charts-community/src/scale/continuousScale.ts
  packages/ag-charts-community/src/scale/ordinalTimeScale.ts
  packages/ag-charts-community/src/util/array.ts
  packages/ag-charts-community/src/util/stateMachine.ts
  packages/ag-charts-community/src/util/timeFormatDefaults.ts
Owners: @alantreadway

cleanup
  packages/ag-charts-community/src/sandbox/chart/baseChart.ts
  packages/ag-charts-community/src/sandbox/chart/chartOptions.ts
  packages/ag-charts-community/src/sandbox/chart/chartTypes.ts
  packages/ag-charts-community/src/sandbox/defs/animationModule.ts
  packages/ag-charts-community/src/sandbox/defs/barSeriesModule.ts
  packages/ag-charts-community/src/sandbox/defs/chartOptionsDef.ts
  packages/ag-charts-community/src/sandbox/defs/commonOptionsDefs.ts
  packages/ag-charts-community/src/sandbox/defs/themeOptionsDef.ts
  packages/ag-charts-community/src/sandbox/drawing/drawingTypes.ts
  packages/ag-charts-community/src/sandbox/drawing/stage.ts
  packages/ag-charts-community/src/sandbox/modules/modulesTypes.ts
  packages/ag-charts-community/src/sandbox/util/eventEmitter.ts
  packages/ag-charts-community/src/sandbox/util/interpolate.util.ts
  packages/ag-charts-community/src/sandbox/util/string.util.ts
  packages/ag-charts-community/src/sandbox/util/validation.test.ts
  packages/ag-charts-community/src/sandbox/util/validation.ts
Owners: @alantreadway

AG-12369 Remove old linux snapshots
  packages/ag-charts-website/e2e/toolbar.spec.ts-snapshots/text-2-button-active-chromium-linux.png
  packages/ag-charts-website/e2e/toolbar.spec.ts-snapshots/text-3-start-chromium-linux.png
  packages/ag-charts-website/e2e/toolbar.spec.ts-snapshots/text-4-input-chromium-linux.png
  packages/ag-charts-website/e2e/toolbar.spec.ts-snapshots/text-5-save-chromium-linux.png
  packages/ag-charts-website/e2e/toolbar.spec.ts-snapshots/text-6-editing-chromium-linux.png
  packages/ag-charts-website/e2e/toolbar.spec.ts-snapshots/text-7-font-size-popover-chromium-linux.png
  packages/ag-charts-website/e2e/toolbar.spec.ts-snapshots/text-8-change-font-size-chromium-linux.png
  packages/ag-charts-website/e2e/toolbar.spec.ts-snapshots/text-9-deleted-chromium-linux.png
Owners: @ag-grid/ag-charts-team

AG-12613 - Fix darkmode bug for automated integrated charts example
  external/ag-website-shared/src/components/automated-examples/AutomatedIntegratedCharts.module.scss
  external/ag-website-shared/src/components/automated-examples/AutomatedIntegratedCharts.tsx
Owners: @markdurrant, @ag-grid/ag-charts-team

AG-12613 - Default darkmode to OS darkmode if it is not set by localstorage
  packages/ag-charts-website/src/stores/darkmodeStore.ts
Owners: @ag-grid/ag-charts-team

.github/CODEOWNERS:

# NOTE: Order of entries matters - later entries have higher precedence.

# Attribute code-owners so default reviewers are assigned to PRs.
* @ag-grid/ag-charts-team

# Astro + website changes to be reviewed by website team.
*.scss @markdurrant
*.astro @taktran
/packages/ag-charts-website/astro/** @taktran
/packages/ag-charts-website/components/** @taktran
/packages/ag-charts-website/features/** @taktran
/packages/ag-charts-website/layouts/** @taktran
/packages/ag-charts-website/stores/** @taktran
/packages/ag-charts-website/utils/** @taktran

# Docs updates to be reviewed by Eng VP.
/packages/ag-charts-website/content/** @alantreadway @rmc-software
*.mdoc @rmc-software

# Charts library code to be reviewed by Chart TL.
/packages/ag-charts-community/** @alantreadway
/packages/ag-charts-enterprise/** @alantreadway

# Sensitive build/repo files to be reviewed by Chart TL.
**/package.json @alantreadway
nx.json @alantreadway
**/project.json @alantreadway
**/tsconfig.json @alantreadway
**/tsconfig.*.json @alantreadway
