Repository ag-grid/ag-charts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ag-grid/ag-charts-team, @markdurrant, @taktran, @alantreadway, @rmc-software

.github/CODEOWNERS:

# NOTE: Order of entries matters - later entries have higher precedence.

# Attribute code-owners so default reviewers are assigned to PRs.
* @ag-grid/ag-charts-team

# Astro + website changes to be reviewed by website team.
*.scss @markdurrant
*.astro @taktran
/packages/ag-charts-website/astro/** @taktran
/packages/ag-charts-website/components/** @taktran
/packages/ag-charts-website/features/** @taktran
/packages/ag-charts-website/layouts/** @taktran
/packages/ag-charts-website/stores/** @taktran
/packages/ag-charts-website/utils/** @taktran

# Docs updates to be reviewed by Eng VP.
/packages/ag-charts-website/content/** @alantreadway @rmc-software
*.mdoc @rmc-software

# Charts library code to be reviewed by Chart TL.
/packages/ag-charts-community/** @alantreadway
/packages/ag-charts-enterprise/** @alantreadway

# Sensitive build/repo files to be reviewed by Chart TL.
**/package.json @alantreadway
nx.json @alantreadway
**/project.json @alantreadway
**/tsconfig.json @alantreadway
**/tsconfig.*.json @alantreadway

simplify registerSeries signature
  packages/ag-charts-community/src/chart/factory/seriesTypes.ts
  packages/ag-charts-community/src/chart/factory/setupModules.ts
  packages/ag-charts-community/src/module/optionModules.ts
Owners: @alantreadway

Update test name
  packages/ag-charts-community/src/chart/mapping/themes.test.ts
Owners: @alantreadway

Revert "AG-3390 - Don't hoist `ng-packagr`"
  package.json
Owners: @alantreadway

Revert "AG-3390 - Delete dist folders within packages"
  packages/all/project.json
Owners: @alantreadway

AG-8900 - Polar crossline options validation
  packages/ag-charts-enterprise/src/axes/polar-crosslines/angleCrossLine.ts
  packages/ag-charts-enterprise/src/axes/polar-crosslines/polarCrossLine.ts
  packages/ag-charts-enterprise/src/axes/polar-crosslines/radiusCrossLine.ts
Owners: @alantreadway

AG-8900 - Cartesian crossline options validation
  packages/ag-charts-community/src/chart/crossline/cartesianCrossLine.ts
  packages/ag-charts-community/src/chart/crossline/crossLine.ts
  packages/ag-charts-community/src/util/validation.ts
Owners: @alantreadway

AG-8900 - tests
  packages/ag-charts-community/src/chart/crossline/__image_snapshots__/cross-line-test-ts-cross-line-invalid-options-for-invalid-line-value-crosslines-it-should-render-to-canvas-without-cross-lines-and-show-warning-1-snap.png
  packages/ag-charts-community/src/chart/crossline/__image_snapshots__/cross-line-test-ts-cross-line-invalid-options-for-invalid-line-with-range-type-crossline-it-should-render-to-canvas-without-cross-lines-and-show-warning-1-snap.png
  packages/ag-charts-community/src/chart/crossline/__image_snapshots__/cross-line-test-ts-cross-line-invalid-options-for-invalid-line-without-type-crossline-it-should-render-to-canvas-without-cross-lines-and-show-warning-1-snap.png
  packages/ag-charts-community/src/chart/crossline/__image_snapshots__/cross-line-test-ts-cross-line-invalid-options-for-invalid-range-crosslines-it-should-render-to-canvas-without-cross-lines-and-show-warning-1-snap.png
  packages/ag-charts-community/src/chart/crossline/__image_snapshots__/cross-line-test-ts-cross-line-invalid-options-for-invalid-range-length-crossline-it-should-render-to-canvas-without-cross-lines-and-show-warning-1-snap.png
  packages/ag-charts-community/src/chart/crossline/__image_snapshots__/cross-line-test-ts-cross-line-invalid-options-for-invalid-range-with-line-type-crossline-it-should-render-to-canvas-without-cross-lines-and-show-warning-1-snap.png
  packages/ag-charts-community/src/chart/crossline/__image_snapshots__/cross-line-test-ts-cross-line-invalid-options-for-invalid-range-without-type-crossline-it-should-render-to-canvas-without-cross-lines-and-show-warning-1-snap.png
  packages/ag-charts-community/src/chart/crossline/crossLine.test.ts
  packages/ag-charts-community/src/chart/crossline/test/examples.ts
Owners: @alantreadway

simplify registerSeries signature + wip to use new chart-options module
  packages/ag-charts-community/src/chart/chart.ts
  packages/ag-charts-community/src/chart/factory/processEnterpriseOptions.ts
  packages/ag-charts-community/src/chart/factory/seriesTypes.ts
  packages/ag-charts-community/src/chart/mapping/prepare.ts
  packages/ag-charts-community/src/chart/mapping/themes.test.ts
  packages/ag-charts-community/src/chart/mapping/themes.ts
  packages/ag-charts-community/src/chart/themes/chartTheme.ts
  packages/ag-charts-community/src/module-support.ts
  packages/ag-charts-community/src/module/coreModules.ts
  packages/ag-charts-community/src/module/optionModules.ts
  packages/ag-charts-community/src/util/array.ts
  packages/ag-charts-community/src/util/json.ts
  packages/ag-charts-community/src/util/type-guards.ts
  packages/ag-charts-enterprise/src/series/bullet/bulletDefaults.ts
  packages/ag-charts-enterprise/src/series/bullet/bulletModule.ts
Owners: @alantreadway

Update vue examples
  plugins/ag-charts-generate-example-files/src/executors/generate/generator/utils/frameworkFilesGenerator.ts
  plugins/ag-charts-generate-example-files/src/executors/generate/generator/utils/getDarkModeSnippet.ts
Owners: @ag-grid/ag-charts-team

Re-enable prettier for html files
  packages/ag-charts-website/src/middleware/index.ts
Owners: @ag-grid/ag-charts-team

remove unnecessary filter
  packages/ag-charts-community/src/chart/crossline/crossLine.ts
Owners: @alantreadway

Fix darkmode in examples with custom themes
  packages/ag-charts-website/src/content/docs/themes/_examples/custom-theme/index.html
  packages/ag-charts-website/src/content/docs/themes/_examples/stock-themes/main.ts
  packages/ag-charts-website/src/features/example-runner/components/CodeViewer.tsx
  packages/ag-charts-website/src/middleware/index.ts
  plugins/ag-charts-generate-example-files/src/executors/generate/generator/transformation-scripts/chart-vanilla-to-angular.ts
  plugins/ag-charts-generate-example-files/src/executors/generate/generator/transformation-scripts/chart-vanilla-to-react-functional-ts.ts
  plugins/ag-charts-generate-example-files/src/executors/generate/generator/transformation-scripts/chart-vanilla-to-react-functional.ts
  plugins/ag-charts-generate-example-files/src/executors/generate/generator/transformation-scripts/chart-vanilla-to-typescript.ts
  plugins/ag-charts-generate-example-files/src/executors/generate/generator/transformation-scripts/chart-vanilla-to-vue.ts
  plugins/ag-charts-generate-example-files/src/executors/generate/generator/transformation-scripts/chart-vanilla-to-vue3.ts
  plugins/ag-charts-generate-example-files/src/executors/generate/generator/utils/frameworkFilesGenerator.ts
  plugins/ag-charts-generate-example-files/src/executors/generate/generator/utils/getDarkModeSnippet.ts
Owners: @ag-grid/ag-charts-team

Fix lint
  plugins/ag-charts-generate-example-files/package.json
Owners: @alantreadway

AG-10110 Fix theme overrides in example thumbnails
  plugins/ag-charts-generate-chart-thumbnail/src/executors/generate/generator/thumbnailGenerator.ts
Owners: @ag-grid/ag-charts-team

AG-10155 - Format data on gallery examples
  packages/ag-charts-website/src/content/gallery/_examples/area-with-markers/main.ts
  packages/ag-charts-website/src/content/gallery/_examples/horizontal-range-bar-with-labels/main.ts
  packages/ag-charts-website/src/content/gallery/_examples/range-bar-with-labels/main.ts
  packages/ag-charts-website/src/content/gallery/_examples/scatter-with-custom-markers/main.ts
Owners: @ag-grid/ag-charts-team

AG-10219 - Update line with gaps gallery example with new data
  packages/ag-charts-website/src/content/gallery/_examples/line-with-gaps/data.ts
  packages/ag-charts-website/src/content/gallery/_examples/line-with-gaps/main.ts
Owners: @ag-grid/ag-charts-team

Automated package version bump to 9.0.1-beta.20240108.
  .env
  libraries/ag-charts-test/package.json
  package.json
  packages/ag-charts-angular/package.json
  packages/ag-charts-angular/projects/ag-charts-angular/package.json
  packages/ag-charts-community-examples/package.json
  packages/ag-charts-community/package.json
  packages/ag-charts-community/src/version.ts
  packages/ag-charts-enterprise/package.json
  packages/ag-charts-react/package.json
  packages/ag-charts-vue/package.json
  packages/ag-charts-vue3/package.json
  packages/ag-charts-website/.env.build
  packages/ag-charts-website/.env.build.archive
  packages/ag-charts-website/.env.build.production
  packages/ag-charts-website/.env.build.staging
  packages/ag-charts-website/.env.dev
  packages/ag-charts-website/.env.preview
  packages/ag-charts-website/.env.preview.production
  packages/ag-charts-website/.env.preview.staging
  packages/ag-charts-website/package.json
  plugins/ag-charts-generate-chart-thumbnail/package.json
  plugins/ag-charts-generate-code-reference-files/package.json
  plugins/ag-charts-generate-example-files/package.json
Owners: @ag-grid/ag-charts-team, @alantreadway

AG-10131 Fix darkmode when no theme is explicitly set
  plugins/ag-charts-generate-example-files/src/executors/generate/generator/utils/getDarkModeSnippet.ts
Owners: @ag-grid/ag-charts-team

AG-10149 Use nice domain when specifying axis values
  packages/ag-charts-community/src/chart/axis/axis.ts
Owners: @alantreadway

AG-10180 - Fix crossline label being shown when series are hidden
  packages/ag-charts-community/src/chart/crossline/cartesianCrossLine.ts
  packages/ag-charts-enterprise/src/axes/polar-crosslines/angleCrossLine.ts
  packages/ag-charts-enterprise/src/axes/polar-crosslines/radiusCrossLine.ts
Owners: @alantreadway

AG-10220 - Series item highlight style defaults
  packages/ag-charts-community/src/chart/series/seriesProperties.ts
Owners: @alantreadway

Snapshots
  packages/ag-charts-community/src/chart/axis/__image_snapshots__/axis-examples-test-ts-axis-examples-configured-tick-values-cases-for-log-axis-tick-values-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-community/src/chart/axis/__image_snapshots__/axis-examples-test-ts-axis-examples-configured-tick-values-cases-for-log-axis-tick-values-reversed-axes-it-should-render-to-canvas-as-expected-1-snap.png
Owners: @alantreadway

AG-5716 Remove animations for bar series with corner radius
  packages/ag-charts-community/src/chart/series/cartesian/barSeries.ts
Owners: @alantreadway

Correct waterfall docs
  packages/ag-charts-community/src/options/series/cartesian/waterfallOptions.ts
Owners: @alantreadway

wip options creation process
  packages/ag-charts-community/src/chart/factory/seriesTypes.ts
  packages/ag-charts-community/src/chart/mapping/defaults.ts
  packages/ag-charts-community/src/chart/mapping/prepare.ts
  packages/ag-charts-community/src/chart/themes/chartTheme.ts
  packages/ag-charts-community/src/module/optionModules.ts
  packages/ag-charts-community/src/util/json.ts
  packages/ag-charts-community/src/util/object.ts
  packages/ag-charts-community/src/util/type-guards.ts
Owners: @alantreadway

AG-10110 Refactor thumbnail option overrides for gallery, add minimum aspect ratio
  plugins/ag-charts-generate-chart-thumbnail/src/executors/generate/generator/constants.ts
  plugins/ag-charts-generate-chart-thumbnail/src/executors/generate/generator/patchOptions.ts
  plugins/ag-charts-generate-chart-thumbnail/src/executors/generate/generator/thumbnailGenerator.ts
  plugins/ag-charts-generate-chart-thumbnail/src/executors/generate/generator/transformPlainEntryFile.ts
Owners: @ag-grid/ag-charts-team

AG-10131 Update waterfall docs, hide corner radius from bar series docs
  packages/ag-charts-community/src/options/series/cartesian/barOptions.ts
  packages/ag-charts-community/src/options/series/cartesian/waterfallOptions.ts
Owners: @alantreadway

tests
  plugins/ag-charts-generate-chart-thumbnail/src/executors/generate/generator/__snapshots__/transformPlainEntryFile.test.ts.snap
  plugins/ag-charts-generate-chart-thumbnail/src/executors/generate/generator/transformPlainEntryFile.test.ts
Owners: @ag-grid/ag-charts-team

AG-5716 Fix build
  packages/ag-charts-community/src/chart/series/cartesian/barUtil.ts
  packages/ag-charts-community/src/options/series/cartesian/barOptions.ts
Owners: @alantreadway

AG-10162 Make range area legend data the same as area legend data
  packages/ag-charts-enterprise/src/series/range-area/rangeArea.ts
Owners: @alantreadway

AG-10162 Update range-area snapshot
  packages/ag-charts-enterprise/src/series/range-area/__image_snapshots__/range-area-test-ts-range-area-series-should-render-the-legend-shape-as-expected-1-snap.png
Owners: @alantreadway

AG-10131 Apply darkmode to custom theme examples
  packages/ag-charts-website/src/content/docs/themes/_examples/advanced-theme/main.ts
  packages/ag-charts-website/src/content/docs/themes/_examples/custom-theme/main.ts
  plugins/ag-charts-generate-example-files/src/executors/generate/generator/utils/getDarkModeSnippet.ts
Owners: @ag-grid/ag-charts-team

AG-5716 Hide corner radius from other series types
  packages/ag-charts-community/src/options/series/cartesian/rangeBarOptions.ts
  packages/ag-charts-community/src/options/series/cartesian/waterfallOptions.ts
  packages/ag-charts-website/src/content/docs/bar-series/index.mdoc
  packages/ag-charts-website/src/content/docs/range-bar-series/index.mdoc
  packages/ag-charts-website/src/content/docs/waterfall-series/index.mdoc
Owners: @alantreadway, @rmc-software

AG-10160 Use area fill style if markers are disabled.
  packages/ag-charts-community/src/chart/__image_snapshots__/cartesian-chart-test-ts-cartesian-chart-area-series-highlighting-should-correctly-change-highlighting-state-and-reset-1-snap.png
  packages/ag-charts-community/src/chart/__image_snapshots__/cartesian-chart-test-ts-cartesian-chart-area-series-highlighting-should-correctly-change-highlighting-state-and-reset-2-snap.png
  packages/ag-charts-community/src/chart/__image_snapshots__/cartesian-chart-test-ts-cartesian-chart-area-series-highlighting-should-correctly-change-highlighting-state-and-reset-3-snap.png
  packages/ag-charts-community/src/chart/__image_snapshots__/cartesian-chart-test-ts-cartesian-chart-area-series-highlighting-should-render-series-with-y-key-coal-appropriately-1-snap.png
  packages/ag-charts-community/src/chart/__image_snapshots__/cartesian-chart-test-ts-cartesian-chart-area-series-highlighting-should-render-series-with-y-key-manufactured-fuels-appropriately-1-snap.png
  packages/ag-charts-community/src/chart/__image_snapshots__/cartesian-chart-test-ts-cartesian-chart-area-series-highlighting-should-render-series-with-y-key-natural-gas-appropriately-1-snap.png
  packages/ag-charts-community/src/chart/__image_snapshots__/cartesian-chart-test-ts-cartesian-chart-area-series-highlighting-should-render-series-with-y-key-petroleum-appropriately-1-snap.png
  packages/ag-charts-community/src/chart/__image_snapshots__/cartesian-chart-test-ts-cartesian-chart-area-series-highlighting-should-render-series-with-y-key-primary-oil-appropriately-1-snap.png
  packages/ag-charts-community/src/chart/__image_snapshots__/gallery-examples-test-ts-gallery-examples-ag-chart-v-2-create-for-area-graph-with-negative-values-example-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-community/src/chart/__image_snapshots__/gallery-examples-test-ts-gallery-examples-ag-chart-v-2-create-for-one-hundred-percent-stacked-area-graph-example-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-community/src/chart/__image_snapshots__/gallery-examples-test-ts-gallery-examples-ag-chart-v-2-create-for-simple-area-graph-example-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-community/src/chart/__image_snapshots__/legend-test-ts-legend-show-series-stroke-areas-1-snap.png
  packages/ag-charts-community/src/chart/__image_snapshots__/legend-test-ts-legend-show-series-stroke-combination-1-snap.png
  packages/ag-charts-community/src/chart/__image_snapshots__/legend-test-ts-legend-show-series-stroke-no-markers-1-snap.png
  packages/ag-charts-community/src/chart/axis/__image_snapshots__/axis-examples-test-ts-axis-examples-no-series-cases-for-area-chart-stacked-normalised-no-series-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-community/src/chart/crossline/__image_snapshots__/cross-line-test-ts-cross-line-create-for-area-crosslines-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-community/src/chart/series/__image_snapshots__/series-labels-test-ts-series-labels-create-for-stacked-area-series-labels-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/area-series-test-ts-area-series-create-for-stacked-area-stroke-marker-label-rendering-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/__image_snapshots__/area-series-test-ts-area-series-create-for-stacked-area-stroke-marker-label-rendering-reversed-axes-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-community/src/chart/series/cartesian/areaSeries.ts
Owners: @alantreadway

AG-10044 - Sync Grid & Charts Design systems
  packages/ag-charts-website/src/design-system/_interactions.scss
  packages/ag-charts-website/src/design-system/modules/Header.module.scss
  packages/ag-charts-website/src/design-system/modules/Menu.module.scss
  packages/ag-charts-website/src/design-system/modules/PagesNavigation.module.scss
Owners: @markdurrant

AG-10044 - Sync Grid & Charts Design systems
  packages/ag-charts-website/src/design-system/_root.scss
  packages/ag-charts-website/src/design-system/core/_breakpoints.scss
  packages/ag-charts-website/src/design-system/modules/Alert.module.scss
  packages/ag-charts-website/src/design-system/modules/Example.module.scss
  packages/ag-charts-website/src/design-system/modules/GridDocs.module.scss
  packages/ag-charts-website/src/design-system/modules/GridMenu.module.scss
  packages/ag-charts-website/src/design-system/modules/Menu.module.scss
  packages/ag-charts-website/src/design-system/modules/PagesNavigation.module.scss
  packages/ag-charts-website/src/design-system/modules/SideNavigation.module.scss
  packages/ag-charts-website/src/design-system/modules/SiteHeader.module.scss
  packages/ag-charts-website/src/design-system/modules/about.module.scss
  packages/ag-charts-website/src/design-system/modules/docs.module.scss
Owners: @markdurrant

AG-10044 - Show docs menu on changelog & pipeline pages
  packages/ag-charts-website/src/features/changelog/Changelog.tsx
  packages/ag-charts-website/src/features/pipeline/Pipeline.tsx
  packages/ag-charts-website/src/pages/changelog.astro
  packages/ag-charts-website/src/pages/pipeline.astro
Owners: @ag-grid/ag-charts-team, @taktran

AG-10044 - Remove bold weight from RHS nav
  packages/ag-charts-website/src/design-system/modules/SideNavigation.module.scss
Owners: @markdurrant

AG-10044 - Reduce contrast for series API tables
  packages/ag-charts-website/src/design-system/components/_containers.scss
  packages/ag-charts-website/src/design-system/modules/ApiReference.module.scss
Owners: @markdurrant

AG-10044 - Sync Grid & Charts Design systems
  packages/ag-charts-website/src/design-system/modules/SideNavigation.module.scss
Owners: @markdurrant
