Repository ag-grid/ag-charts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ag-grid/ag-charts-team, @markdurrant, @taktran, @alantreadway, @rmc-software

Automated package version bump to 9.1.1-beta.20240307.
  .env
  libraries/ag-charts-test/package.json
  package.json
  packages/ag-charts-angular/package.json
  packages/ag-charts-angular/projects/ag-charts-angular/package.json
  packages/ag-charts-community-examples/package.json
  packages/ag-charts-community/package.json
  packages/ag-charts-community/src/version.ts
  packages/ag-charts-enterprise/package.json
  packages/ag-charts-react/package.json
  packages/ag-charts-vue/package.json
  packages/ag-charts-vue3/package.json
  packages/ag-charts-website/.env.build
  packages/ag-charts-website/.env.build.archive
  packages/ag-charts-website/.env.build.production
  packages/ag-charts-website/.env.build.staging
  packages/ag-charts-website/.env.dev
  packages/ag-charts-website/.env.preview
  packages/ag-charts-website/.env.preview.production
  packages/ag-charts-website/.env.preview.staging
  packages/ag-charts-website/package.json
  plugins/ag-charts-generate-chart-thumbnail/package.json
  plugins/ag-charts-generate-code-reference-files/package.json
  plugins/ag-charts-generate-example-files/package.json
Owners: @ag-grid/ag-charts-team, @alantreadway

Add SeriesConstructorOpts type (#1182)
  packages/ag-charts-community/src/chart/series/cartesian/cartesianSeries.ts
  packages/ag-charts-community/src/chart/series/series.ts
Owners: @alantreadway

AG-10900 Fix context menu zoom actions toggling when zoomed in
  packages/ag-charts-enterprise/src/features/zoom/zoom.ts
Owners: @alantreadway

Fix nx dev watch.sh etime regexp + cleanup output.
  packages/all/dev.sh
  packages/all/watch.sh
  plugins/ag-charts-generate-example-files/project.json
Owners: @ag-grid/ag-charts-team, @alantreadway

wip
  packages/ag-charts-community/src/chart/axis/axisLabel.ts
  packages/ag-charts-community/src/chart/axis/axisTick.ts
  packages/ag-charts-community/src/chart/chart.ts
  packages/ag-charts-community/src/chart/chartAxis.ts
  packages/ag-charts-community/src/chart/chartOptions.ts
  packages/ag-charts-community/src/util/json.ts
  packages/ag-charts-community/src/util/object.ts
Owners: @alantreadway

Make zoom panning slippy, like in Google Maps
  packages/ag-charts-enterprise/src/features/zoom/zoom.ts
  packages/ag-charts-enterprise/src/features/zoom/zoomPanner.ts
Owners: @alantreadway

AG-8416 Add support to override distanceSquared() function in quadtree
  packages/ag-charts-community/src/scene/util/quadtree.ts
Owners: @alantreadway

AG-8416 Make nearestSquared() take an Iterable instead of a []
  packages/ag-charts-community/src/scene/nearest.ts
Owners: @alantreadway

AG-8416 Use numbers instead of Points in nearest.ts
  packages/ag-charts-community/src/scene/bbox.ts
  packages/ag-charts-community/src/scene/nearest.ts
  packages/ag-charts-community/src/scene/util/quadtree.ts
  packages/ag-charts-enterprise/src/features/error-bar/errorBar.ts
  packages/ag-charts-enterprise/src/features/error-bar/errorBarNode.ts
Owners: @alantreadway

Untangle label interface types, update map pin marker
  packages/ag-charts-community/src/chart/axis/axis.ts
  packages/ag-charts-community/src/chart/label.ts
  packages/ag-charts-community/src/chart/marker/pin.ts
  packages/ag-charts-community/src/scene/util/labelPlacement.ts
Owners: @alantreadway

wip
  packages/ag-charts-community/src/chart/axis/axis.ts
  packages/ag-charts-community/src/chart/axis/axisTitle.ts
  packages/ag-charts-community/src/chart/chart.ts
  packages/ag-charts-community/src/chart/chartOptions.ts
Owners: @alantreadway

wip
  packages/ag-charts-community/src/chart/caption.test.ts
  packages/ag-charts-community/src/chart/caption.ts
  packages/ag-charts-community/src/chart/chart.ts
  packages/ag-charts-community/src/chart/chartProperties.ts
  packages/ag-charts-community/src/chart/interaction/regionManager.ts
  packages/ag-charts-community/src/chart/update/baseLayoutProcessor.ts
  packages/ag-charts-community/src/chart/update/processor.ts
  packages/ag-charts-community/src/scene/node.ts
Owners: @alantreadway

Add unit.ts
  packages/ag-charts-community/src/util/unit.ts
Owners: @alantreadway

wip
  packages/ag-charts-community/src/chart/chart.ts
  packages/ag-charts-community/src/util/json.test.ts
  packages/ag-charts-community/src/util/json.ts
Owners: @alantreadway

AG-10217 - Treat ordinal scale as continuous when generating ticks
  packages/ag-charts-community/src/chart/axis/axis.ts
Owners: @alantreadway

AG-10217 - Build the same default format sting for both timeScale ticks and ordinalTimeScale ticks
  packages/ag-charts-community/src/scale/ordinalTimeScale.ts
  packages/ag-charts-community/src/scale/timeScale.ts
  packages/ag-charts-community/src/util/timeFormatDefaults.ts
Owners: @alantreadway

add tests
  packages/ag-charts-community/src/util/json.ts
  packages/ag-charts-community/src/util/properties.test.ts
  packages/ag-charts-community/src/util/properties.ts
Owners: @alantreadway

AG-10553 - Fix initial load animation when initial zoom is configured.
  packages/ag-charts-community/src/chart/chart.ts
Owners: @alantreadway

Improve label placement in map series
  packages/ag-charts-enterprise/src/series/map-util/geoGeometry.ts
  packages/ag-charts-enterprise/src/series/map-util/geometryUtil.ts
  packages/ag-charts-enterprise/src/series/map-util/lineStringUtil.ts
  packages/ag-charts-enterprise/src/series/map-util/polygonUtil.ts
  packages/ag-charts-enterprise/src/series/map/mapSeries.ts
Owners: @alantreadway

fix conflicts
  packages/ag-charts-community/src/chart/axis/axis.ts
Owners: @alantreadway

AG-10217 - Generate ordinalTimeScale ticks using timeScale time intervals
  packages/ag-charts-community/src/scale/ordinalTimeScale.ts
  packages/ag-charts-community/src/scale/timeScale.ts
Owners: @alantreadway

AG-10217 - Add support for ordinalTimeScale time interval option
  packages/ag-charts-community/src/scale/continuousScale.ts
  packages/ag-charts-community/src/scale/linearScale.ts
  packages/ag-charts-community/src/scale/logScale.ts
  packages/ag-charts-community/src/scale/ordinalTimeScale.ts
  packages/ag-charts-community/src/scale/timeScale.ts
  packages/ag-charts-community/src/sparklines-util.ts
  packages/ag-charts-community/src/util/ticks.ts
  packages/ag-charts-enterprise/src/axes/angle-number/linearAngleScale.ts
Owners: @alantreadway

fix tests
  packages/ag-charts-community/src/util/json.ts
Owners: @alantreadway

nx format
  packages/ag-charts-community/src/util/unit.ts
Owners: @alantreadway

AG-10217 - Ordinal time scale interval type
  packages/ag-charts-community/src/chart/axis/axisTick.ts
  packages/ag-charts-community/src/chart/axis/cartesianAxis.ts
  packages/ag-charts-community/src/chart/axis/categoryAxis.ts
  packages/ag-charts-community/src/scale/bandScale.ts
  packages/ag-charts-community/src/scale/ordinalTimeScale.ts
Owners: @alantreadway

Add gallery examples
  libraries/ag-charts-test/src/examples/load-example.ts
  packages/ag-charts-website/src/content/gallery/_examples/map-heatmap-series/data.ts
  packages/ag-charts-website/src/content/gallery/_examples/map-heatmap-series/index.html
  packages/ag-charts-website/src/content/gallery/_examples/map-heatmap-series/main.ts
  packages/ag-charts-website/src/content/gallery/_examples/map-heatmap-series/topology.ts
  packages/ag-charts-website/src/content/gallery/_examples/map-marker-series/backgroundTopology.ts
  packages/ag-charts-website/src/content/gallery/_examples/map-marker-series/data.ts
  packages/ag-charts-website/src/content/gallery/_examples/map-marker-series/index.html
  packages/ag-charts-website/src/content/gallery/_examples/map-marker-series/main.ts
  packages/ag-charts-website/src/content/gallery/_examples/multiple-map-series/data.ts
  packages/ag-charts-website/src/content/gallery/_examples/multiple-map-series/index.html
  packages/ag-charts-website/src/content/gallery/_examples/multiple-map-series/main.ts
  packages/ag-charts-website/src/content/gallery/_examples/multiple-map-series/topology.ts
  packages/ag-charts-website/src/content/gallery/data.json
  plugins/ag-charts-generate-chart-thumbnail/src/executors-utils.ts
  plugins/ag-charts-generate-chart-thumbnail/src/executors/generate/generator/thumbnailGenerator.ts
  plugins/ag-charts-generate-example-files/src/executors/generate/generator/examplesGenerator.ts
  plugins/ag-charts-generate-example-files/src/executors/generate/generator/transformPlainEntryFile.ts
Owners: @ag-grid/ag-charts-team

Perf
  packages/ag-charts-enterprise/src/series/map-util/lineStringUtil.ts
Owners: @alantreadway

wip
  packages/ag-charts-community/src/chart/chartHighlight.ts
  packages/ag-charts-community/src/chart/chartProperties.ts
  packages/ag-charts-community/src/chart/interaction/interactionManager.ts
  packages/ag-charts-community/src/chart/overlay/chartOverlays.ts
  packages/ag-charts-community/src/chart/overlay/overlay.ts
  packages/ag-charts-community/src/chart/tooltip/tooltip.ts
  packages/ag-charts-community/src/chart/update/overlaysProcessor.ts
  packages/ag-charts-community/src/util/dom.ts
  packages/ag-charts-community/src/util/json.ts
  packages/ag-charts-community/src/util/validation.ts
  packages/ag-charts-enterprise/src/license/watermark.ts
Owners: @alantreadway

AG-10953 - Quick fix for inclusion of geojson types in NPM package outputs.
  packages/ag-charts-community/src/chart/series/topology/mercatorScale.ts
  packages/ag-charts-enterprise/src/series/map-marker/mapMarkerSeries.ts
  packages/ag-charts-enterprise/src/series/map-marker/mapMarkerSeriesProperties.ts
  packages/ag-charts-enterprise/src/series/map-util/geoGeometry.ts
  packages/ag-charts-enterprise/src/series/map-util/geometryUtil.ts
  packages/ag-charts-enterprise/src/series/map-util/lineStringUtil.ts
  packages/ag-charts-enterprise/src/series/map-util/polygonUtil.ts
  packages/ag-charts-enterprise/src/series/map/mapSeries.ts
  packages/ag-charts-enterprise/src/series/map/mapSeriesProperties.ts
Owners: @alantreadway

Automated package version bump to 9.1.1-beta.20240307.1739.
  .env
  libraries/ag-charts-test/package.json
  package.json
  packages/ag-charts-angular/package.json
  packages/ag-charts-angular/projects/ag-charts-angular/package.json
  packages/ag-charts-community-examples/package.json
  packages/ag-charts-community/package.json
  packages/ag-charts-community/src/version.ts
  packages/ag-charts-enterprise/package.json
  packages/ag-charts-react/package.json
  packages/ag-charts-vue/package.json
  packages/ag-charts-vue3/package.json
  packages/ag-charts-website/.env.build
  packages/ag-charts-website/.env.build.archive
  packages/ag-charts-website/.env.build.production
  packages/ag-charts-website/.env.build.staging
  packages/ag-charts-website/.env.dev
  packages/ag-charts-website/.env.preview
  packages/ag-charts-website/.env.preview.production
  packages/ag-charts-website/.env.preview.staging
  packages/ag-charts-website/package.json
  plugins/ag-charts-generate-chart-thumbnail/package.json
  plugins/ag-charts-generate-code-reference-files/package.json
  plugins/ag-charts-generate-example-files/package.json
Owners: @ag-grid/ag-charts-team, @alantreadway

docs
  packages/ag-charts-enterprise/src/series/map-util/lineStringUtil.ts
Owners: @alantreadway

AG-10578 Remove scoped data even if not extracting
  packages/ag-charts-community/src/chart/data/dataController.test.ts
  packages/ag-charts-community/src/chart/data/dataController.ts
Owners: @alantreadway

Add validation errors for map series
  packages/ag-charts-community/src/chart/marker/star.ts
  packages/ag-charts-community/src/chart/series/series.ts
  packages/ag-charts-community/src/chart/update/overlaysProcessor.ts
  packages/ag-charts-community/src/chart/update/processor.ts
  packages/ag-charts-community/src/util/validation.ts
  packages/ag-charts-enterprise/src/series/map-marker/mapMarkerSeriesProperties.ts
  packages/ag-charts-enterprise/src/series/map-util/geoGeometry.ts
  packages/ag-charts-enterprise/src/series/map-util/validation.ts
  packages/ag-charts-enterprise/src/series/map/mapSeries.ts
  packages/ag-charts-enterprise/src/series/map/mapSeriesProperties.ts
Owners: @alantreadway

Rename map series to map-shape series
  packages/ag-charts-community/src/chart/factory/expectedEnterpriseModules.ts
  packages/ag-charts-community/src/chart/test/utils.ts
  packages/ag-charts-community/src/chart/topologyChart.ts
  packages/ag-charts-community/src/module/optionsModule.ts
  packages/ag-charts-community/src/options/agChartOptions.ts
  packages/ag-charts-community/src/options/chart/themeOptions.ts
  packages/ag-charts-community/src/options/series/topology/mapShapeOptions.ts
  packages/ag-charts-community/src/options/series/topology/topologyOptions.ts
  packages/ag-charts-enterprise/src/series/map-marker/mapMarkerSeries.ts
  packages/ag-charts-enterprise/src/series/map-shape/main.ts
  packages/ag-charts-enterprise/src/series/map-shape/mapShapeModule.ts
  packages/ag-charts-enterprise/src/series/map-shape/mapShapeSeries.ts
  packages/ag-charts-enterprise/src/series/map-shape/mapShapeSeriesProperties.ts
  packages/ag-charts-enterprise/src/series/map/main.ts
  packages/ag-charts-enterprise/src/setup.ts
  packages/ag-charts-website/src/content/docs/map-lines/_examples/background/main.ts
  packages/ag-charts-website/src/content/docs/map-lines/_examples/lines/main.ts
  packages/ag-charts-website/src/content/docs/map-lines/index.mdoc
  packages/ag-charts-website/src/content/docs/map-markers/_examples/markers/main.ts
  packages/ag-charts-website/src/content/docs/map-markers/index.mdoc
  packages/ag-charts-website/src/content/docs/map-series-test/_examples/routing/main.ts
  packages/ag-charts-website/src/content/docs/map-shapes/_examples/heatmap-series/main.ts
  packages/ag-charts-website/src/content/docs/map-shapes/_examples/labels/main.ts
  packages/ag-charts-website/src/content/docs/map-shapes/_examples/multiple-series/main.ts
  packages/ag-charts-website/src/content/docs/map-shapes/index.mdoc
  packages/ag-charts-website/src/content/gallery/_examples/map-heatmap-series/main.ts
  packages/ag-charts-website/src/content/gallery/_examples/multiple-map-series/main.ts
Owners: @alantreadway, @ag-grid/ag-charts-team, @rmc-software

Split map series into map shape, line, and marker series
  packages/ag-charts-community/src/chart/factory/expectedEnterpriseModules.ts
  packages/ag-charts-community/src/chart/topologyChart.ts
  packages/ag-charts-community/src/options/agChartOptions.ts
  packages/ag-charts-community/src/options/chart/themeOptions.ts
  packages/ag-charts-community/src/options/series/topology/mapLineOptions.ts
  packages/ag-charts-community/src/options/series/topology/mapMarkerOptions.ts
  packages/ag-charts-community/src/options/series/topology/topologyOptions.ts
  packages/ag-charts-enterprise/src/series/map-line/main.ts
  packages/ag-charts-enterprise/src/series/map-line/mapLineModule.ts
  packages/ag-charts-enterprise/src/series/map-line/mapLineSeries.ts
  packages/ag-charts-enterprise/src/series/map-line/mapLineSeriesProperties.ts
  packages/ag-charts-enterprise/src/series/map-marker/mapMarkerModule.ts
  packages/ag-charts-enterprise/src/series/map-marker/mapMarkerSeries.ts
  packages/ag-charts-enterprise/src/series/map-marker/mapMarkerSeriesProperties.ts
  packages/ag-charts-enterprise/src/series/map-shape/mapShapeModule.ts
  packages/ag-charts-enterprise/src/series/map-shape/mapShapeSeriesProperties.ts
  packages/ag-charts-enterprise/src/series/map-util/geoGeometry.ts
  packages/ag-charts-enterprise/src/series/map-util/geometryUtil.ts
  packages/ag-charts-enterprise/src/series/map-util/lineStringUtil.ts
  packages/ag-charts-enterprise/src/setup.ts
  packages/ag-charts-website/src/content/docs/map-lines/_examples/background/main.ts
  packages/ag-charts-website/src/content/docs/map-lines/_examples/lines/main.ts
  packages/ag-charts-website/src/content/docs/map-lines/index.mdoc
  packages/ag-charts-website/src/content/docs/map-markers/_examples/markers/main.ts
  packages/ag-charts-website/src/content/docs/map-markers/index.mdoc
  packages/ag-charts-website/src/content/docs/map-series-test/_examples/routing/main.ts
  packages/ag-charts-website/src/content/docs/map-shapes/index.mdoc
Owners: @alantreadway, @ag-grid/ag-charts-team, @rmc-software

Lint
  packages/ag-charts-community/src/chart/factory/expectedEnterpriseModules.ts
  packages/ag-charts-community/src/chart/mapping/types.ts
  packages/ag-charts-enterprise/src/series/map-line/mapLineSeries.ts
  packages/ag-charts-enterprise/src/series/map-marker/mapMarkerSeries.ts
Owners: @alantreadway

wip - overlays done
  packages/ag-charts-community/src/chart/chart.ts
  packages/ag-charts-community/src/chart/interaction/tooltipManager.ts
  packages/ag-charts-community/src/chart/overlay/chartOverlays.ts
  packages/ag-charts-community/src/chart/overlay/loadingSpinner.ts
  packages/ag-charts-community/src/chart/overlay/overlay.test.ts
  packages/ag-charts-community/src/chart/overlay/overlay.ts
  packages/ag-charts-community/src/chart/update/overlaysProcessor.ts
  packages/ag-charts-community/src/util/json.ts
  packages/ag-charts-community/src/util/properties.ts
  packages/ag-charts-enterprise/src/features/crosshair/crosshairLabel.ts
Owners: @alantreadway

fix test
  packages/ag-charts-community/src/util/json.test.ts
  packages/ag-charts-community/src/util/json.ts
Owners: @alantreadway

AG-3390 - Sync Grid & Charts design systems, new charts Sass
  packages/ag-charts-website/src/design-system/modules/AutomatedExamplesVars.module.scss
  packages/ag-charts-website/src/design-system/modules/AutomatedIntegratedCharts.module.scss
  packages/ag-charts-website/src/design-system/modules/AutomatedRowGrouping.module.scss
  packages/ag-charts-website/src/design-system/modules/EnterpriseIcon.module.scss
  packages/ag-charts-website/src/design-system/modules/FeaturesList.module.scss
  packages/ag-charts-website/src/design-system/modules/HeroGrid.module.scss
  packages/ag-charts-website/src/design-system/modules/PromoBanner.module.scss
  packages/ag-charts-website/src/design-system/modules/community-section/CommunityMenu.module.scss
  packages/ag-charts-website/src/design-system/modules/community-section/EventsNew.module.scss
  packages/ag-charts-website/src/design-system/modules/community-section/Layout.module.scss
  packages/ag-charts-website/src/design-system/modules/community-section/NewsUpdates.module.scss
  packages/ag-charts-website/src/design-system/modules/community-section/Showcase.module.scss
  packages/ag-charts-website/src/design-system/modules/community-section/ToolsExtensions.module.scss
  packages/ag-charts-website/src/design-system/modules/community-section/index.module.scss
  packages/ag-charts-website/src/design-system/modules/community-section/landing-page/Socials.module.scss
  packages/ag-charts-website/src/design-system/modules/community-section/landing-page/Support.module.scss
  packages/ag-charts-website/src/design-system/modules/community-section/news-updates/Events.module.scss
  packages/ag-charts-website/src/design-system/modules/community-section/news-updates/FeaturedNews.module.scss
  packages/ag-charts-website/src/design-system/modules/community-section/news-updates/Podcasts.module.scss
  packages/ag-charts-website/src/design-system/modules/community-section/news-updates/Videos.module.scss
Owners: @markdurrant

AG-3390 - Update search & site header Sass
  packages/ag-charts-website/src/design-system/modules/Search.module.scss
  packages/ag-charts-website/src/design-system/modules/SearchBox.module.scss
  packages/ag-charts-website/src/design-system/modules/SearchControls.module.scss
  packages/ag-charts-website/src/design-system/modules/SearchHits.module.scss
  packages/ag-charts-website/src/design-system/modules/SearchModal.module.scss
  packages/ag-charts-website/src/design-system/modules/SiteHeader.module.scss
Owners: @markdurrant

.github/CODEOWNERS:

# NOTE: Order of entries matters - later entries have higher precedence.

# Attribute code-owners so default reviewers are assigned to PRs.
* @ag-grid/ag-charts-team

# Astro + website changes to be reviewed by website team.
*.scss @markdurrant
*.astro @taktran
/packages/ag-charts-website/astro/** @taktran
/packages/ag-charts-website/components/** @taktran
/packages/ag-charts-website/features/** @taktran
/packages/ag-charts-website/layouts/** @taktran
/packages/ag-charts-website/stores/** @taktran
/packages/ag-charts-website/utils/** @taktran

# Docs updates to be reviewed by Eng VP.
/packages/ag-charts-website/content/** @alantreadway @rmc-software
*.mdoc @rmc-software

# Charts library code to be reviewed by Chart TL.
/packages/ag-charts-community/** @alantreadway
/packages/ag-charts-enterprise/** @alantreadway

# Sensitive build/repo files to be reviewed by Chart TL.
**/package.json @alantreadway
nx.json @alantreadway
**/project.json @alantreadway
**/tsconfig.json @alantreadway
**/tsconfig.*.json @alantreadway
