Repository ag-grid/ag-charts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ag-grid/ag-charts-team, @markdurrant, @taktran, @alantreadway, @rmc-software

Update gallery examples
  packages/ag-charts-website/src/content/gallery/data.json
Owners: @ag-grid/ag-charts-team

CRT-295 - Update LHS menu to create new maps menu group
  packages/ag-charts-website/src/components/pages-navigation/PagesNavigation.tsx
  packages/ag-charts-website/src/content/config.ts
  packages/ag-charts-website/src/content/menu/data.json
  packages/ag-charts-website/src/design-system/modules/Menu.module.scss
  packages/ag-charts-website/src/design-system/modules/PagesNavigation.module.scss
Owners: @ag-grid/ag-charts-team, @markdurrant

Release prep for 9.2.0-beta.20240319.1635
  .env
  libraries/ag-charts-test/package.json
  package.json
  packages/ag-charts-angular/package.json
  packages/ag-charts-angular/projects/ag-charts-angular/package.json
  packages/ag-charts-community-examples/package.json
  packages/ag-charts-community/package.json
  packages/ag-charts-community/src/version.ts
  packages/ag-charts-enterprise/package.json
  packages/ag-charts-react/package.json
  packages/ag-charts-vue/package.json
  packages/ag-charts-vue3/package.json
  packages/ag-charts-website/.env.build
  packages/ag-charts-website/.env.build.archive
  packages/ag-charts-website/.env.build.production
  packages/ag-charts-website/.env.build.staging
  packages/ag-charts-website/.env.dev
  packages/ag-charts-website/.env.preview
  packages/ag-charts-website/.env.preview.production
  packages/ag-charts-website/.env.preview.staging
  packages/ag-charts-website/package.json
  plugins/ag-charts-generate-chart-thumbnail/package.json
  plugins/ag-charts-generate-code-reference-files/package.json
  plugins/ag-charts-generate-example-files/package.json
Owners: @ag-grid/ag-charts-team, @alantreadway

CRT-295 - Update LHS menu styling
  packages/ag-charts-website/src/design-system/modules/PagesNavigation.module.scss
Owners: @markdurrant

CRT-282 - Fix cookies button on cookies page
  packages/ag-charts-website/markdoc.config.ts
  packages/ag-charts-website/src/components/OneTrustCookiesDetails.astro
  packages/ag-charts-website/src/content/policies/cookies.mdoc
Owners: @ag-grid/ag-charts-team, @taktran, @rmc-software

CRT-295 - Tweak menu width
  packages/ag-charts-website/src/design-system/modules/Menu.module.scss
Owners: @markdurrant

Revert build fix that invalidates batching.
  packages/all/project.json
Owners: @alantreadway

Remove titles on maps overview page
  packages/ag-charts-website/src/content/docs/maps/_examples/bubble-map/main.ts
  packages/ag-charts-website/src/content/docs/maps/_examples/lines/main.ts
  packages/ag-charts-website/src/content/docs/maps/_examples/world-colour-map/main.ts
Owners: @ag-grid/ag-charts-team

Release prep for 9.2.0-beta.20240319.1659
  .env
  libraries/ag-charts-test/package.json
  package.json
  packages/ag-charts-angular/package.json
  packages/ag-charts-angular/projects/ag-charts-angular/package.json
  packages/ag-charts-community-examples/package.json
  packages/ag-charts-community/package.json
  packages/ag-charts-community/src/version.ts
  packages/ag-charts-enterprise/package.json
  packages/ag-charts-react/package.json
  packages/ag-charts-vue/package.json
  packages/ag-charts-vue3/package.json
  packages/ag-charts-website/.env.build
  packages/ag-charts-website/.env.build.archive
  packages/ag-charts-website/.env.build.production
  packages/ag-charts-website/.env.build.staging
  packages/ag-charts-website/.env.dev
  packages/ag-charts-website/.env.preview
  packages/ag-charts-website/.env.preview.production
  packages/ag-charts-website/.env.preview.staging
  packages/ag-charts-website/package.json
  plugins/ag-charts-generate-chart-thumbnail/package.json
  plugins/ag-charts-generate-code-reference-files/package.json
  plugins/ag-charts-generate-example-files/package.json
Owners: @ag-grid/ag-charts-team, @alantreadway

AG-10957 - update maps overview geographic areas example
  packages/ag-charts-website/src/content/docs/maps/_examples/world-colour-map/main.ts
Owners: @ag-grid/ag-charts-team

Final build
  .env
  libraries/ag-charts-test/package.json
  package.json
  packages/ag-charts-angular/package.json
  packages/ag-charts-angular/projects/ag-charts-angular/package.json
  packages/ag-charts-community-examples/package.json
  packages/ag-charts-community/package.json
  packages/ag-charts-community/src/version.ts
  packages/ag-charts-enterprise/package.json
  packages/ag-charts-react/package.json
  packages/ag-charts-vue/package.json
  packages/ag-charts-vue3/package.json
  packages/ag-charts-website/.env.build
  packages/ag-charts-website/.env.build.archive
  packages/ag-charts-website/.env.build.production
  packages/ag-charts-website/.env.build.staging
  packages/ag-charts-website/.env.dev
  packages/ag-charts-website/.env.preview
  packages/ag-charts-website/.env.preview.production
  packages/ag-charts-website/.env.preview.staging
  packages/ag-charts-website/package.json
  plugins/ag-charts-generate-chart-thumbnail/package.json
  plugins/ag-charts-generate-code-reference-files/package.json
  plugins/ag-charts-generate-example-files/package.json
Owners: @ag-grid/ag-charts-team, @alantreadway

Gallery thumbnail test improvements.
  packages/ag-charts-website/project.json
  packages/ag-charts-website/tools/compare-gallery-thumbnails.js
  plugins/ag-charts-generate-chart-thumbnail/src/executors/generate/generator/thumbnailGenerator.ts
Owners: @alantreadway, @ag-grid/ag-charts-team

Add missing ag-charts-website:dev dependencies.
  packages/ag-charts-website/project.json
Owners: @alantreadway

AG-11090 - Fix default waterfall series label placement
  packages/ag-charts-enterprise/src/series/waterfall/waterfallThemes.ts
Owners: @alantreadway

wip
  packages/ag-charts-community/src/chart/crossline/crossLine.ts
  packages/ag-charts-community/src/chart/data/dataController.test.ts
  packages/ag-charts-community/src/chart/data/dataModel.test.ts
  packages/ag-charts-community/src/chart/data/dataModel.ts
  packages/ag-charts-community/src/chart/data/newProcessors.ts
  packages/ag-charts-community/src/chart/data/processors.ts
  packages/ag-charts-community/src/chart/series/cartesian/areaSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/barSeries.ts
  packages/ag-charts-community/src/chart/series/dataModelSeries.ts
  packages/ag-charts-community/src/chart/series/polar/donutSeries.ts
  packages/ag-charts-community/src/chart/series/polar/pieSeries.ts
  packages/ag-charts-community/src/util/value.ts
  packages/ag-charts-enterprise/src/series/radial-bar/radialBarSeries.ts
  packages/ag-charts-enterprise/src/series/radial-column/radialColumnSeriesBase.ts
Owners: @alantreadway

wip
  packages/ag-charts-community/src/chart/data/dataController.test.ts
  packages/ag-charts-community/src/chart/data/dataController.ts
  packages/ag-charts-community/src/chart/data/dataModel.test.ts
  packages/ag-charts-community/src/chart/data/dataModel.ts
  packages/ag-charts-community/src/chart/data/newProcessors.ts
  packages/ag-charts-community/src/chart/data/processors.ts
  packages/ag-charts-community/src/chart/series/cartesian/areaSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/barSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/bubbleSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/histogramSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/lineSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/scatterSeries.ts
  packages/ag-charts-community/src/chart/series/dataModelSeries.ts
  packages/ag-charts-community/src/chart/series/polar/donutSeries.ts
  packages/ag-charts-community/src/chart/series/polar/pieSeries.ts
  packages/ag-charts-enterprise/src/series/box-plot/boxPlotSeries.ts
  packages/ag-charts-enterprise/src/series/bullet/bulletSeries.ts
  packages/ag-charts-enterprise/src/series/candlestick/candlestickSeries.ts
  packages/ag-charts-enterprise/src/series/heatmap/heatmapSeries.ts
  packages/ag-charts-enterprise/src/series/map-line/mapLineSeries.ts
  packages/ag-charts-enterprise/src/series/map-marker/mapMarkerSeries.ts
  packages/ag-charts-enterprise/src/series/map-shape/mapShapeSeries.ts
  packages/ag-charts-enterprise/src/series/radar/radarSeries.ts
  packages/ag-charts-enterprise/src/series/radial-bar/radialBarSeries.ts
  packages/ag-charts-enterprise/src/series/radial-column/radialColumnSeriesBase.ts
  packages/ag-charts-enterprise/src/series/range-area/rangeArea.ts
  packages/ag-charts-enterprise/src/series/range-bar/rangeBar.ts
  packages/ag-charts-enterprise/src/series/waterfall/waterfallSeries.ts
Owners: @alantreadway

Fix issues with CI rendering differences
  packages/ag-charts-enterprise/src/series/map-shape/mapShapeSeries.test.ts
Owners: @alantreadway

Benchmark updates.
  packages/ag-charts-website/src/content/docs/benchmarks/_examples/summary/data.ts
Owners: @ag-grid/ag-charts-team

Experimental lazy-initialisation of offscreen canvases to reduce memory footprint.
  packages/ag-charts-community/src/scene/group.ts
  packages/ag-charts-community/src/scene/node.ts
  packages/ag-charts-community/src/scene/scene.ts
Owners: @alantreadway

Fix lazy init layer zIndexes.
  packages/ag-charts-community/src/scene/group.ts
Owners: @alantreadway

AG-6725, cleanup highlighting docs
  packages/ag-charts-website/src/content/docs/series-highlighting/_examples/basic-pie-theme/index.html
  packages/ag-charts-website/src/content/docs/series-highlighting/_examples/basic-pie-theme/main.ts
  packages/ag-charts-website/src/content/docs/series-highlighting/_examples/basic-pie/index.html
  packages/ag-charts-website/src/content/docs/series-highlighting/_examples/basic-pie/main.ts
  packages/ag-charts-website/src/content/docs/series-highlighting/index.mdoc
  packages/ag-charts-website/src/content/gallery/_examples/map-heatmap-series/data.ts
Owners: @ag-grid/ag-charts-team, @rmc-software

Reduce highlight and annotation layers.
  packages/ag-charts-community/src/chart/cartesianChart.ts
  packages/ag-charts-community/src/chart/chart.ts
  packages/ag-charts-community/src/chart/hierarchyChart.ts
  packages/ag-charts-community/src/chart/layers.ts
  packages/ag-charts-community/src/chart/series/series.ts
  packages/ag-charts-community/src/chart/series/seriesLayerManager.ts
  packages/ag-charts-community/src/chart/topologyChart.ts
  packages/ag-charts-community/src/scene/group.ts
  packages/ag-charts-community/src/scene/node.ts
Owners: @alantreadway

Fix highlight layer zIndex for empty children.
  packages/ag-charts-community/src/scene/group.ts
Owners: @alantreadway

AG-11092: Fix multiline labels measurement
  packages/ag-charts-community/src/chart/axis/axis.ts
  packages/ag-charts-community/src/scene/shape/__image_snapshots__/text-test-ts-text-rendering-should-render-as-expected-1-snap.png
  packages/ag-charts-community/src/scene/shape/__snapshots__/text.test.ts.snap
  packages/ag-charts-community/src/scene/shape/text.test.ts
  packages/ag-charts-community/src/scene/shape/text.ts
Owners: @alantreadway

Code cleanup.
  packages/ag-charts-community/src/scene/group.ts
Owners: @alantreadway

wip
  packages/ag-charts-community/src/chart/data/dataController.ts
  packages/ag-charts-community/src/chart/data/dataModel.ts
  packages/ag-charts-community/src/chart/series/cartesian/barSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/histogramSeries.ts
  packages/ag-charts-community/src/util/array.ts
  packages/ag-charts-community/src/util/set.ts
  packages/ag-charts-enterprise/src/features/error-bar/errorBar.ts
  packages/ag-charts-enterprise/src/series/box-plot/boxPlotSeries.ts
  packages/ag-charts-enterprise/src/series/candlestick/candlestickSeries.ts
  packages/ag-charts-enterprise/src/series/radar/radarSeries.ts
  packages/ag-charts-enterprise/src/series/radial-bar/radialBarSeries.ts
  packages/ag-charts-enterprise/src/series/radial-column/radialColumnSeriesBase.ts
  packages/ag-charts-enterprise/src/series/range-area/rangeArea.ts
  packages/ag-charts-enterprise/src/series/range-bar/rangeBar.ts
Owners: @alantreadway

AG-11077 - Fix regenerating fewer ticks when `avoidCollisions` is false
  packages/ag-charts-community/src/chart/axis/axis.ts
Owners: @alantreadway

wip
  packages/ag-charts-community/src/chart/data/dataController.ts
  packages/ag-charts-community/src/chart/data/dataModel.ts
  packages/ag-charts-community/src/chart/data/processors.ts
  packages/ag-charts-community/src/chart/series/series.ts
  packages/ag-charts-enterprise/src/features/error-bar/errorBar.ts
Owners: @alantreadway

Fix SeriesLayerManager.destroy()
  packages/ag-charts-community/src/chart/series/seriesLayerManager.ts
  packages/ag-charts-enterprise/src/features/error-bar/__image_snapshots__/error-bar-test-ts-error-bars-should-dim-opacity-on-highlight-1-snap.png
  packages/ag-charts-enterprise/src/features/error-bar/__image_snapshots__/error-bar-test-ts-error-bars-should-render-caps-over-highlight-1-snap.png
Owners: @alantreadway

wip
  packages/ag-charts-community/src/chart/data/dataModel.ts
  packages/ag-charts-community/src/chart/series/util.ts
  packages/ag-charts-enterprise/src/features/error-bar/errorBar.ts
Owners: @alantreadway

wip
  packages/ag-charts-community/src/chart/data/dataController.ts
  packages/ag-charts-community/src/chart/data/dataModel.ts
  packages/ag-charts-community/src/chart/series/cartesian/bubbleSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/histogramSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/scatterSeries.ts
  packages/ag-charts-enterprise/src/features/error-bar/errorBar.ts
  packages/ag-charts-enterprise/src/series/box-plot/boxPlotSeries.ts
  packages/ag-charts-enterprise/src/series/bullet/bulletSeries.ts
  packages/ag-charts-enterprise/src/series/candlestick/candlestickSeries.ts
  packages/ag-charts-enterprise/src/series/radial-bar/radialBarSeries.ts
  packages/ag-charts-enterprise/src/series/radial-column/radialColumnSeriesBase.ts
  packages/ag-charts-enterprise/src/series/range-area/rangeArea.ts
  packages/ag-charts-enterprise/src/series/waterfall/waterfallSeries.ts
  packages/ag-charts-website/src/content/docs/benchmarks/_examples/large-dataset/main.ts
Owners: @alantreadway, @ag-grid/ag-charts-team

AG-7538 - Use axis.label.formatter as well as axis.label.format for tooltip content, series label and crosshair label text formatting
  packages/ag-charts-community/src/chart/axis/axis.ts
  packages/ag-charts-community/src/chart/axis/numberAxis.ts
  packages/ag-charts-community/src/chart/axis/timeAxis.ts
  packages/ag-charts-community/src/module/moduleContext.ts
  packages/ag-charts-enterprise/src/features/crosshair/crosshair.ts
Owners: @alantreadway

wip
  packages/ag-charts-community/src/chart/data/dataModel.ts
  packages/ag-charts-community/src/chart/series/cartesian/barSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/bubbleSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/lineSeries.ts
  packages/ag-charts-community/src/chart/series/cartesian/scatterSeries.ts
  packages/ag-charts-community/src/chart/series/polar/donutSeries.ts
  packages/ag-charts-community/src/chart/series/polar/pieSeries.ts
  packages/ag-charts-enterprise/src/series/box-plot/boxPlotSeries.ts
  packages/ag-charts-enterprise/src/series/bullet/bulletSeries.ts
  packages/ag-charts-enterprise/src/series/candlestick/candlestickSeries.ts
  packages/ag-charts-enterprise/src/series/heatmap/heatmapSeries.ts
  packages/ag-charts-enterprise/src/series/map-line/mapLineSeries.ts
  packages/ag-charts-enterprise/src/series/map-marker/mapMarkerSeries.ts
  packages/ag-charts-enterprise/src/series/map-shape/mapShapeSeries.ts
  packages/ag-charts-enterprise/src/series/radar/radarSeries.ts
  packages/ag-charts-enterprise/src/series/radial-bar/radialBarSeries.ts
  packages/ag-charts-enterprise/src/series/radial-column/radialColumnSeriesBase.ts
  packages/ag-charts-enterprise/src/series/range-area/rangeArea.ts
  packages/ag-charts-enterprise/src/series/range-bar/rangeBar.ts
  packages/ag-charts-enterprise/src/series/waterfall/waterfallSeries.ts
Owners: @alantreadway

AG-7538 - Do not apply axis label formatter to series labels
  packages/ag-charts-community/src/chart/series/cartesian/barSeries.ts
  packages/ag-charts-enterprise/src/gradient-legend/gradientLegend.ts
  packages/ag-charts-enterprise/src/series/radar/radarSeries.ts
  packages/ag-charts-enterprise/src/series/radial-bar/radialBarSeries.ts
  packages/ag-charts-enterprise/src/series/radial-column/radialColumnSeriesBase.ts
  packages/ag-charts-enterprise/src/series/range-area/rangeArea.ts
  packages/ag-charts-enterprise/src/series/range-bar/rangeBar.ts
  packages/ag-charts-enterprise/src/series/waterfall/waterfallSeries.ts
Owners: @alantreadway

AG-7538 - Fix crosshair label formatting
  packages/ag-charts-community/src/chart/axis/axis.ts
Owners: @alantreadway

wip
  packages/ag-charts-community/src/chart/data/dataModel.ts
  packages/ag-charts-enterprise/src/series/map-shape/mapShapeSeries.ts
Owners: @alantreadway

çleanup
  packages/ag-charts-community/src/chart/data/newProcessors.ts
  packages/ag-charts-community/src/chart/series/cartesian/barSeries.ts
Owners: @alantreadway

AG-7538 - Update community image snapshots
  packages/ag-charts-community/src/chart/tooltip/__snapshots__/tooltip.test.ts.snap
Owners: @alantreadway

AG-7538 - Update enterprise image snapshots
  packages/ag-charts-enterprise/src/features/error-bar/__snapshots__/errorBar.test.ts.snap
  packages/ag-charts-enterprise/src/series/bullet/bulletSeries.test.ts
Owners: @alantreadway

AG-11088 Fix custom loading spinner in safari
  packages/ag-charts-website/src/content/docs/overlays/_examples/loading-custom/main.ts
  packages/ag-charts-website/src/content/docs/overlays/index.mdoc
Owners: @ag-grid/ag-charts-team, @rmc-software

.github/CODEOWNERS:

# NOTE: Order of entries matters - later entries have higher precedence.

# Attribute code-owners so default reviewers are assigned to PRs.
* @ag-grid/ag-charts-team

# Astro + website changes to be reviewed by website team.
*.scss @markdurrant
*.astro @taktran
/packages/ag-charts-website/astro/** @taktran
/packages/ag-charts-website/components/** @taktran
/packages/ag-charts-website/features/** @taktran
/packages/ag-charts-website/layouts/** @taktran
/packages/ag-charts-website/stores/** @taktran
/packages/ag-charts-website/utils/** @taktran

# Docs updates to be reviewed by Eng VP.
/packages/ag-charts-website/content/** @alantreadway @rmc-software
*.mdoc @rmc-software

# Charts library code to be reviewed by Chart TL.
/packages/ag-charts-community/** @alantreadway
/packages/ag-charts-enterprise/** @alantreadway

# Sensitive build/repo files to be reviewed by Chart TL.
**/package.json @alantreadway
nx.json @alantreadway
**/project.json @alantreadway
**/tsconfig.json @alantreadway
**/tsconfig.*.json @alantreadway
