Repository ag-grid/ag-charts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ag-grid/ag-charts-team, @markdurrant, @taktran, @alantreadway, @rmc-software

AG-3390 - Add prompts for subrepo command
  package.json
  yarn.lock
Owners: @alantreadway, @ag-grid/ag-charts-team

git subrepo pull external/ag-website-shared
  external/ag-website-shared/.gitrepo
  external/ag-website-shared/scripts/subrepo/src/cli.ts
Owners: @ag-grid/ag-charts-team

Fix sync examples
  packages/ag-charts-react/src/index.ts
  plugins/ag-charts-generate-example-files/src/executors/generate/generator/transformation-scripts/parser-utils.ts
Owners: @ag-grid/ag-charts-team

Make e2e tests more robust, add CI job.
  .github/workflows/ci.yml
  packages/ag-charts-community/src/chart/chart.ts
  packages/ag-charts-community/src/chart/dom/domManager.ts
  packages/ag-charts-website/e2e/examples.spec.ts
  packages/ag-charts-website/project.json
Owners: @ag-grid/ag-charts-team, @alantreadway

Automated package version bump to 9.3.1-beta.20240616.
  .env
  libraries/ag-charts-test/package.json
  package.json
  packages/ag-charts-angular/package.json
  packages/ag-charts-angular/projects/ag-charts-angular/package.json
  packages/ag-charts-community-examples/package.json
  packages/ag-charts-community/package.json
  packages/ag-charts-community/src/version.ts
  packages/ag-charts-enterprise/package.json
  packages/ag-charts-react/package.json
  packages/ag-charts-types/package.json
  packages/ag-charts-vue3/package.json
  packages/ag-charts-website/.env.build
  packages/ag-charts-website/.env.build.archive
  packages/ag-charts-website/.env.build.production
  packages/ag-charts-website/.env.build.staging
  packages/ag-charts-website/.env.dev
  packages/ag-charts-website/.env.preview
  packages/ag-charts-website/.env.preview.production
  packages/ag-charts-website/.env.preview.staging
  packages/ag-charts-website/package.json
  plugins/ag-charts-generate-chart-thumbnail/package.json
  plugins/ag-charts-generate-code-reference-files/package.json
  plugins/ag-charts-generate-example-files/package.json
Owners: @ag-grid/ag-charts-team, @alantreadway

Disable CI e2e job.
  .github/workflows/ci.yml
Owners: @ag-grid/ag-charts-team

Add removed Integrated dependencies.
  packages/ag-charts-community/src/sparklines-util.ts
Owners: @alantreadway

Automated package version bump to 9.3.1-beta.20240617.
  .env
  libraries/ag-charts-test/package.json
  package.json
  packages/ag-charts-angular/package.json
  packages/ag-charts-angular/projects/ag-charts-angular/package.json
  packages/ag-charts-community-examples/package.json
  packages/ag-charts-community/package.json
  packages/ag-charts-community/src/version.ts
  packages/ag-charts-enterprise/package.json
  packages/ag-charts-react/package.json
  packages/ag-charts-types/package.json
  packages/ag-charts-vue3/package.json
  packages/ag-charts-website/.env.build
  packages/ag-charts-website/.env.build.archive
  packages/ag-charts-website/.env.build.production
  packages/ag-charts-website/.env.build.staging
  packages/ag-charts-website/.env.dev
  packages/ag-charts-website/.env.preview
  packages/ag-charts-website/.env.preview.production
  packages/ag-charts-website/.env.preview.staging
  packages/ag-charts-website/package.json
  plugins/ag-charts-generate-chart-thumbnail/package.json
  plugins/ag-charts-generate-code-reference-files/package.json
  plugins/ag-charts-generate-example-files/package.json
Owners: @ag-grid/ag-charts-team, @alantreadway

AG-11853 Framework example fixes
  plugins/ag-charts-generate-example-files/src/executors/generate/generator/transformation-scripts/chart-vanilla-to-angular.ts
  plugins/ag-charts-generate-example-files/src/executors/generate/generator/utils/frameworkFilesGenerator.ts
Owners: @ag-grid/ag-charts-team

AG-11541 Fix scrolling quirks
  external/ag-website-shared/src/design-system/components/_code.scss
  packages/ag-charts-website/src/components/pages-navigation/components/Menu.module.scss
  packages/ag-charts-website/src/components/pages-navigation/components/PagesNavigation.module.scss
  packages/ag-charts-website/src/components/top-bar/TopBar.module.scss
Owners: @markdurrant

Fix gradient types
  packages/ag-charts-types/src/chart/gradientLegendOptions.ts
  packages/ag-charts-website/src/content/docs/map-series-test/_examples/routing/main.ts
  packages/ag-charts-website/src/content/docs/map-shapes/_examples/heatmap/main.ts
  packages/ag-charts-website/src/content/docs/map-shapes/_examples/labels/main.ts
  packages/ag-charts-website/src/content/gallery/_examples/map-heatmap-series/main.ts
Owners: @ag-grid/ag-charts-team

Fix gradient interval
  packages/ag-charts-enterprise/src/gradient-legend/gradientLegend.ts
Owners: @alantreadway

Sankey gallery updates
  packages/ag-charts-website/src/content/gallery/_examples/sankey-advanced/main.ts
  packages/ag-charts-website/src/content/gallery/_examples/sankey-customisation/index.html
  packages/ag-charts-website/src/content/gallery/_examples/sankey-customisation/main.ts
  packages/ag-charts-website/src/content/gallery/data.json
Owners: @ag-grid/ag-charts-team

Cleanup + improve accuracy of e2e tests.
  package.json
  packages/ag-charts-website/e2e/examples.spec.ts
Owners: @alantreadway, @ag-grid/ag-charts-team

AG-11437 Initial path-based focus indicator for pie series
  packages/ag-charts-community/src/chart/dom/focusIndicator.ts
  packages/ag-charts-community/src/chart/keyboardUtil.ts
  packages/ag-charts-community/src/chart/series/dataModelSeries.ts
  packages/ag-charts-community/src/chart/series/polar/pieSeries.ts
  packages/ag-charts-community/src/chart/series/polar/polarSeries.ts
  packages/ag-charts-community/src/chart/series/series.ts
  packages/ag-charts-community/src/scene/extendedPath2D.ts
  packages/ag-charts-community/src/scene/shape/path.ts
  packages/ag-charts-community/src/util/angle.ts
Owners: @alantreadway

AG-11437 Remove unused CSS class ag-charts-focus__wrapper
  packages/ag-charts-community/src/chart/dom/focusStyles.css
  packages/ag-charts-community/src/chart/dom/focusStyles.ts
Owners: @alantreadway

AG-11437 Fix build
  packages/ag-charts-community/src/chart/series/polar/pieSeries.ts
Owners: @alantreadway

AG-11437 Draw the focus indicator rect using an SVG
  packages/ag-charts-community/src/chart/dom/focusIndicator.ts
  packages/ag-charts-community/src/chart/dom/focusStyles.css
  packages/ag-charts-community/src/chart/dom/focusStyles.ts
  packages/ag-charts-community/src/styles/styles.css
Owners: @alantreadway

AG-11437 Join BBox and Path focus indicator interfaces
  packages/ag-charts-community/src/chart/chart.ts
  packages/ag-charts-community/src/chart/dom/focusIndicator.ts
  packages/ag-charts-community/src/chart/dom/proxyInteractionService.ts
  packages/ag-charts-community/src/chart/interaction/regionManager.ts
  packages/ag-charts-community/src/chart/keyboardUtil.ts
  packages/ag-charts-community/src/chart/legend.ts
  packages/ag-charts-community/src/chart/series/dataModelSeries.ts
  packages/ag-charts-community/src/chart/series/hierarchy/hierarchySeries.ts
  packages/ag-charts-community/src/chart/series/polar/pieSeries.ts
  packages/ag-charts-community/src/chart/series/series.ts
Owners: @alantreadway

AG-11437 Restore `box-shadow` CSS values on rect focus indicators
  packages/ag-charts-community/src/chart/dom/focusIndicator.ts
  packages/ag-charts-community/src/chart/dom/focusStyles.css
  packages/ag-charts-community/src/styles/styles.css
Owners: @alantreadway

AG-11437 Fix largeArcFlag computation on counterclockwise arcs
  packages/ag-charts-community/src/scene/extendedPath2D.ts
  packages/ag-charts-community/src/util/angle.ts
Owners: @alantreadway

AG-11437 Use path focus indicators on other series type
  packages/ag-charts-community/src/chart/series/polar/donutSeries.ts
  packages/ag-charts-community/src/chart/series/polar/pieSeries.ts
  packages/ag-charts-community/src/chart/series/polar/polarSeries.ts
  packages/ag-charts-enterprise/src/series/radar/radarSeries.ts
  packages/ag-charts-enterprise/src/series/radial-bar/radialBarSeries.ts
  packages/ag-charts-enterprise/src/series/radial-column/radialColumnSeriesBase.ts
Owners: @alantreadway

AG-11437 Fix incorrect auto-import
  packages/ag-charts-community/src/scene/extendedPath2D.ts
Owners: @alantreadway

Simple generics resolving for docs
  packages/ag-charts-types/src/chart/axisOptions.ts
  packages/ag-charts-website/src/features/api-documentation/apiReferenceHelpers.ts
  packages/ag-charts-website/src/features/api-documentation/components/ApiReference.tsx
Owners: @ag-grid/ag-charts-team

Cleanup
  packages/ag-charts-types/src/chart/axisOptions.ts
Owners: @ag-grid/ag-charts-team

fix existing resolving
  packages/ag-charts-website/src/features/api-documentation/apiReferenceHelpers.ts
Owners: @ag-grid/ag-charts-team

cleanup
  packages/ag-charts-website/src/features/api-documentation/apiReferenceHelpers.ts
Owners: @ag-grid/ag-charts-team

AG-11699 Fix annotations suppress tooltip when creating
  packages/ag-charts-enterprise/src/features/annotations/annotations.ts
Owners: @alantreadway

Ag-11700 Fix dragging locked annotations
  packages/ag-charts-enterprise/src/features/annotations/cross-line/crossLineScene.ts
  packages/ag-charts-enterprise/src/features/annotations/scenes/linearScene.ts
Owners: @alantreadway

Fix crosshair example date creation.
  packages/ag-charts-website/src/content/docs/axes-crosshairs/_examples/crosshair-default-label-custom-renderer/data.ts
Owners: @ag-grid/ag-charts-team

Move e2e CI tests to distinct GHA action.
  .github/workflows/ci.yml
  .github/workflows/e2e.yml
  package.json
  packages/ag-charts-website/e2e/examples.spec.ts
Owners: @ag-grid/ag-charts-team, @alantreadway

Move e2e CI tests to distinct GHA action.
  .github/workflows/e2e.yml
Owners: @ag-grid/ag-charts-team

AG-11136 - clamp buttons
  packages/ag-charts-enterprise/src/features/annotations/axisButton.ts
Owners: @alantreadway

AG-11136 - Fix seriesRegion bbox
  packages/ag-charts-community/src/chart/chart.ts
Owners: @alantreadway

AG-11136 - Make axisButton functions private
  packages/ag-charts-enterprise/src/features/annotations/annotations.ts
  packages/ag-charts-enterprise/src/features/annotations/axisButton.ts
Owners: @alantreadway

AG-11136 - use bem css naming
  packages/ag-charts-enterprise/src/features/annotations/axisButton.css
  packages/ag-charts-enterprise/src/features/annotations/axisButton.ts
Owners: @alantreadway

AG-11136 - Add annotations axis button
  packages/ag-charts-enterprise/src/features/annotations/annotations.test.ts
  packages/ag-charts-enterprise/src/features/annotations/annotations.ts
  packages/ag-charts-enterprise/src/features/annotations/axisButton.css
  packages/ag-charts-enterprise/src/features/annotations/axisButton.ts
Owners: @alantreadway

AG-11136 - Remove tests
  packages/ag-charts-enterprise/src/features/annotations/annotations.test.ts
Owners: @alantreadway

AG-11136 - css display property to hide button
  packages/ag-charts-enterprise/src/features/annotations/axisButton.css
Owners: @alantreadway

AG-11136 - use icon
  packages/ag-charts-community/src/styles/styles.css
  packages/ag-charts-enterprise/src/features/annotations/axisButton.css
  packages/ag-charts-enterprise/src/features/annotations/axisButton.ts
Owners: @alantreadway

.github/CODEOWNERS:

# NOTE: Order of entries matters - later entries have higher precedence.

# Attribute code-owners so default reviewers are assigned to PRs.
* @ag-grid/ag-charts-team

# Astro + website changes to be reviewed by website team.
*.scss @markdurrant
*.astro @taktran
/packages/ag-charts-website/astro/** @taktran
/packages/ag-charts-website/components/** @taktran
/packages/ag-charts-website/features/** @taktran
/packages/ag-charts-website/layouts/** @taktran
/packages/ag-charts-website/stores/** @taktran
/packages/ag-charts-website/utils/** @taktran

# Docs updates to be reviewed by Eng VP.
/packages/ag-charts-website/content/** @alantreadway @rmc-software
*.mdoc @rmc-software

# Charts library code to be reviewed by Chart TL.
/packages/ag-charts-community/** @alantreadway
/packages/ag-charts-enterprise/** @alantreadway

# Sensitive build/repo files to be reviewed by Chart TL.
**/package.json @alantreadway
nx.json @alantreadway
**/project.json @alantreadway
**/tsconfig.json @alantreadway
**/tsconfig.*.json @alantreadway
