Repository ag-grid/ag-charts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ag-grid/ag-charts-team, @markdurrant, @taktran, @alantreadway, @rmc-software

.github/CODEOWNERS:

# NOTE: Order of entries matters - later entries have higher precedence.

# Attribute code-owners so default reviewers are assigned to PRs.
* @ag-grid/ag-charts-team

# Astro + website changes to be reviewed by website team.
*.scss @markdurrant
*.astro @taktran
/packages/ag-charts-website/astro/** @taktran
/packages/ag-charts-website/components/** @taktran
/packages/ag-charts-website/features/** @taktran
/packages/ag-charts-website/layouts/** @taktran
/packages/ag-charts-website/stores/** @taktran
/packages/ag-charts-website/utils/** @taktran

# Docs updates to be reviewed by Eng VP.
/packages/ag-charts-website/content/** @alantreadway @rmc-software
*.mdoc @rmc-software

# Charts library code to be reviewed by Chart TL.
/packages/ag-charts-community/** @alantreadway
/packages/ag-charts-enterprise/** @alantreadway

# Sensitive build/repo files to be reviewed by Chart TL.
**/package.json @alantreadway
nx.json @alantreadway
**/project.json @alantreadway
**/tsconfig.json @alantreadway
**/tsconfig.*.json @alantreadway

Release prep for 10.0.0-beta.20240627
  .env
  libraries/ag-charts-test/package.json
  package.json
  packages/ag-charts-angular/package.json
  packages/ag-charts-angular/projects/ag-charts-angular/package.json
  packages/ag-charts-community-examples/package.json
  packages/ag-charts-community/package.json
  packages/ag-charts-community/src/version.ts
  packages/ag-charts-enterprise/package.json
  packages/ag-charts-locale/package.json
  packages/ag-charts-react/package.json
  packages/ag-charts-types/package.json
  packages/ag-charts-vue3/package.json
  packages/ag-charts-website/.env.build
  packages/ag-charts-website/.env.build.archive
  packages/ag-charts-website/.env.build.production
  packages/ag-charts-website/.env.build.staging
  packages/ag-charts-website/.env.dev
  packages/ag-charts-website/.env.preview
  packages/ag-charts-website/.env.preview.production
  packages/ag-charts-website/.env.preview.staging
  packages/ag-charts-website/package.json
  plugins/ag-charts-generate-chart-thumbnail/package.json
  plugins/ag-charts-generate-code-reference-files/package.json
  plugins/ag-charts-generate-example-files/package.json
Owners: @ag-grid/ag-charts-team, @alantreadway

CRT-337 Remove pointer events from elements that should not capture them
  packages/ag-charts-community/src/chart/update/overlaysProcessor.css
Owners: @alantreadway

CRT-365 Fix annotation handles strokeWidth when toggling lock
  packages/ag-charts-enterprise/src/features/annotations/scenes/handle.ts
Owners: @alantreadway

CRT-349 Set ariaHidden="true" on empty toolbars
  packages/ag-charts-community/src/util/keynavUtil.ts
Owners: @alantreadway

CRT-347 Fix annotation axis labels to use default color
  packages/ag-charts-enterprise/src/features/annotations/annotations.ts
Owners: @alantreadway

CRT-349 Set ariaHidden="true" on empty toolbars (#1914)
  packages/ag-charts-community/src/util/keynavUtil.ts
Owners: @alantreadway

CRT-366: Async Loading - Warning from example when lazy-loading
  packages/ag-charts-community/src/chart/axis/axis.ts
Owners: @alantreadway

CRT-390 - Fix API options object lines layout bug
  packages/ag-charts-website/src/features/api-documentation/components/OptionsNavigation.module.scss
Owners: @markdurrant

CRT-340 Fix candlesticks not rendered on narrow charts
  packages/ag-charts-enterprise/src/series/ohlc/ohlcSeriesBase.ts
Owners: @alantreadway

CRT-340 CR Feedback
  packages/ag-charts-enterprise/src/series/ohlc/ohlcSeriesBase.ts
Owners: @alantreadway

CRT-391: Bar series using nice time axis by default
  packages/ag-charts-community/src/chart/series/cartesian/barSeriesModule.ts
Owners: @alantreadway

CRT-354 - Add ag-financial theme type.
  packages/ag-charts-community/src/api/preset/priceVolumePreset.ts
  packages/ag-charts-types/src/chart/themeOptions.ts
Owners: @alantreadway, @ag-grid/ag-charts-team

CRT-368 - Update multiple donut gallery example to work when switching themes
  packages/ag-charts-website/src/content/gallery/_examples/multiple-donuts/main.ts
Owners: @ag-grid/ag-charts-team

CRT-394 - Fix status-bar z-index.
  packages/ag-charts-community/src/scene/scene.ts
  packages/ag-charts-enterprise/src/features/status-bar/statusBar.ts
Owners: @alantreadway

CRT-380 - Fix status bar vertical alignment when no title.
  packages/ag-charts-community/src/chart/update/baseLayoutProcessor.ts
  packages/ag-charts-enterprise/src/features/status-bar/statusBar.ts
Owners: @alantreadway

CRT-377: Website Example - Axis label collision avoidance example not resizable
  packages/ag-charts-website/src/content/docs/axes-labels/_examples/axis-label-rotation/styles.css
Owners: @ag-grid/ag-charts-team

fix all examples
  packages/ag-charts-website/src/content/docs/axes-intervals/_examples/axis-min-max-spacing/styles.css
  packages/ag-charts-website/src/content/docs/axes-labels-test/_examples/axis-label-rotation/styles.css
Owners: @ag-grid/ag-charts-team

CRT-340 - Update snapshots.
  packages/ag-charts-enterprise/src/series/candlestick/__image_snapshots__/candlestick-series-test-ts-candlestick-series-should-render-a-candlestick-chart-with-a-reversed-time-x-axis-1-snap.png
  packages/ag-charts-enterprise/src/series/candlestick/__image_snapshots__/candlestick-series-test-ts-candlestick-series-should-render-a-candlestick-chart-with-a-time-x-axis-1-snap.png
  packages/ag-charts-enterprise/src/series/ohlc/__image_snapshots__/ohlc-series-test-ts-ohlc-series-initial-animation-for-ohlc-options-should-animate-at-100-1-snap.png
  packages/ag-charts-enterprise/src/series/ohlc/__image_snapshots__/ohlc-series-test-ts-ohlc-series-initial-animation-for-ohlc-options-should-animate-at-25-1-snap.png
  packages/ag-charts-enterprise/src/series/ohlc/__image_snapshots__/ohlc-series-test-ts-ohlc-series-initial-animation-for-ohlc-options-should-animate-at-50-1-snap.png
  packages/ag-charts-enterprise/src/series/ohlc/__image_snapshots__/ohlc-series-test-ts-ohlc-series-initial-animation-for-ohlc-options-should-animate-at-75-1-snap.png
  packages/ag-charts-enterprise/src/series/ohlc/__image_snapshots__/ohlc-series-test-ts-ohlc-series-should-render-a-ohlc-chart-as-expected-with-default-ordinal-time-x-axis-1-snap.png
  packages/ag-charts-enterprise/src/series/ohlc/__image_snapshots__/ohlc-series-test-ts-ohlc-series-should-render-a-ohlc-chart-as-expected-with-reversed-axes-1-snap.png
  packages/ag-charts-enterprise/src/series/ohlc/__image_snapshots__/ohlc-series-test-ts-ohlc-series-should-render-a-ohlc-chart-with-a-reversed-time-x-axis-1-snap.png
  packages/ag-charts-enterprise/src/series/ohlc/__image_snapshots__/ohlc-series-test-ts-ohlc-series-should-render-a-ohlc-chart-with-a-time-x-axis-1-snap.png
Owners: @alantreadway

Release prep for 10.0.0-beta.20240627.1620
  .env
  libraries/ag-charts-test/package.json
  package.json
  packages/ag-charts-angular/package.json
  packages/ag-charts-angular/projects/ag-charts-angular/package.json
  packages/ag-charts-community-examples/package.json
  packages/ag-charts-community/package.json
  packages/ag-charts-community/src/version.ts
  packages/ag-charts-enterprise/package.json
  packages/ag-charts-locale/package.json
  packages/ag-charts-react/package.json
  packages/ag-charts-types/package.json
  packages/ag-charts-vue3/package.json
  packages/ag-charts-website/.env.build
  packages/ag-charts-website/.env.build.archive
  packages/ag-charts-website/.env.build.production
  packages/ag-charts-website/.env.build.staging
  packages/ag-charts-website/.env.dev
  packages/ag-charts-website/.env.preview
  packages/ag-charts-website/.env.preview.production
  packages/ag-charts-website/.env.preview.staging
  packages/ag-charts-website/package.json
  plugins/ag-charts-generate-chart-thumbnail/package.json
  plugins/ag-charts-generate-code-reference-files/package.json
  plugins/ag-charts-generate-example-files/package.json
Owners: @ag-grid/ag-charts-team, @alantreadway

CRT-379 - Reduce volume series height.
  packages/ag-charts-community/src/api/preset/priceVolumePreset.ts
Owners: @alantreadway

CRT-351 - Inline code block should switch example code to match the framework
  packages/ag-charts-website/src/content/docs/financial-chart-types/index.mdoc
Owners: @rmc-software

RTI-2168 - Expose up/down fills for Integrated charts.
  packages/ag-charts-community/src/chart/themes/chartTheme.ts
  packages/ag-charts-community/src/chart/themes/symbols.ts
Owners: @alantreadway

Release prep for 10.0.0-beta.20240627.1727
  .env
  libraries/ag-charts-test/package.json
  package.json
  packages/ag-charts-angular/package.json
  packages/ag-charts-angular/projects/ag-charts-angular/package.json
  packages/ag-charts-community-examples/package.json
  packages/ag-charts-community/package.json
  packages/ag-charts-community/src/version.ts
  packages/ag-charts-enterprise/package.json
  packages/ag-charts-locale/package.json
  packages/ag-charts-react/package.json
  packages/ag-charts-types/package.json
  packages/ag-charts-vue3/package.json
  packages/ag-charts-website/.env.build
  packages/ag-charts-website/.env.build.archive
  packages/ag-charts-website/.env.build.production
  packages/ag-charts-website/.env.build.staging
  packages/ag-charts-website/.env.dev
  packages/ag-charts-website/.env.preview
  packages/ag-charts-website/.env.preview.production
  packages/ag-charts-website/.env.preview.staging
  packages/ag-charts-website/package.json
  plugins/ag-charts-generate-chart-thumbnail/package.json
  plugins/ag-charts-generate-code-reference-files/package.json
  plugins/ag-charts-generate-example-files/package.json
Owners: @ag-grid/ag-charts-team, @alantreadway

CRT-378: Treemap - Improve label truncating
  packages/ag-charts-community/src/module-support.ts
  packages/ag-charts-enterprise/src/series/util/labelFormatter.ts
Owners: @alantreadway

CRT-383: Ordinal time axis - Center tick labels spread
  packages/ag-charts-community/src/scale/ordinalTimeScale.ts
Owners: @alantreadway

update ordinal time snapshots
  packages/ag-charts-enterprise/src/axes/ordinal/__image_snapshots__/ordinal-time-axis-test-ts-ordinal-time-axis-examples-for-ordinal-time-axis-tick-min-spacing-flip-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-enterprise/src/axes/ordinal/__image_snapshots__/ordinal-time-axis-test-ts-ordinal-time-axis-examples-for-ordinal-time-axis-tick-min-spacing-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-enterprise/src/axes/ordinal/__image_snapshots__/ordinal-time-axis-test-ts-ordinal-time-axis-examples-for-ordinal-time-axis-tick-min-spacing-manual-rotation-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-enterprise/src/axes/ordinal/__image_snapshots__/ordinal-time-axis-test-ts-ordinal-time-axis-examples-for-ordinal-time-axis-tick-min-spacing-reversed-axes-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-enterprise/src/axes/ordinal/__image_snapshots__/ordinal-time-axis-test-ts-ordinal-time-axis-examples-for-ordinal-time-axis-time-stamp-data-flip-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-enterprise/src/axes/ordinal/__image_snapshots__/ordinal-time-axis-test-ts-ordinal-time-axis-examples-for-ordinal-time-axis-time-stamp-data-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-enterprise/src/axes/ordinal/__image_snapshots__/ordinal-time-axis-test-ts-ordinal-time-axis-examples-for-ordinal-time-axis-time-stamp-data-manual-rotation-it-should-render-to-canvas-as-expected-1-snap.png
  packages/ag-charts-enterprise/src/axes/ordinal/__image_snapshots__/ordinal-time-axis-test-ts-ordinal-time-axis-examples-for-ordinal-time-axis-time-stamp-data-reversed-axes-it-should-render-to-canvas-as-expected-1-snap.png
Owners: @alantreadway

CRT-373 Animate the pie/donut highlight labels
  packages/ag-charts-community/src/chart/series/polar/donutSeries.ts
  packages/ag-charts-community/src/chart/series/polar/pieSeries.ts
Owners: @alantreadway

CRT-353 Fix floating toolbar shifting position when toggled by proxy
  packages/ag-charts-community/src/chart/toolbar/toolbar.ts
Owners: @alantreadway

CRT-398 Fix sector artefacting
  packages/ag-charts-community/src/scene/shape/sector.ts
Owners: @alantreadway

Revert "CRT-364 Fix context menu 'zoom to here' action when not clicking a node"
  packages/ag-charts-enterprise/src/features/zoom/zoomContextMenu.ts
Owners: @alantreadway

CRT-356: Website / Financial - Feature toggles do not appear in the API
  packages/ag-charts-types/src/api/presetOptions.ts
  packages/ag-charts-website/src/content/docs/financial-chart-types/index.mdoc
Owners: @ag-grid/ag-charts-team, @rmc-software

AG-11395 Make legend items role=switches
  packages/ag-charts-community/src/chart/dom/proxyInteractionService.ts
  packages/ag-charts-community/src/chart/legend.ts
Owners: @alantreadway

Revert "AG-11395 Add delimiter at the end of 'ariaLabelLegendItem' i18n key"
  packages/ag-charts-locale/src/ar-EG.ts
  packages/ag-charts-locale/src/bg-BG.ts
  packages/ag-charts-locale/src/cs-CZ.ts
  packages/ag-charts-locale/src/da-DK.ts
  packages/ag-charts-locale/src/de-DE.ts
  packages/ag-charts-locale/src/el-GR.ts
  packages/ag-charts-locale/src/en-US.ts
  packages/ag-charts-locale/src/es-ES.ts
  packages/ag-charts-locale/src/fa-IR.ts
  packages/ag-charts-locale/src/fi-FI.ts
  packages/ag-charts-locale/src/fr-FR.ts
  packages/ag-charts-locale/src/he-IL.ts
  packages/ag-charts-locale/src/hr-HR.ts
  packages/ag-charts-locale/src/hu-HU.ts
  packages/ag-charts-locale/src/it-IT.ts
  packages/ag-charts-locale/src/ja-JP.ts
  packages/ag-charts-locale/src/ko-KR.ts
  packages/ag-charts-locale/src/nb-NO.ts
  packages/ag-charts-locale/src/nl-NL.ts
  packages/ag-charts-locale/src/pl-PL.ts
  packages/ag-charts-locale/src/pt-BR.ts
  packages/ag-charts-locale/src/pt-PT.ts
  packages/ag-charts-locale/src/ro-RO.ts
  packages/ag-charts-locale/src/sk-SK.ts
  packages/ag-charts-locale/src/sv-SE.ts
  packages/ag-charts-locale/src/tr-TR.ts
  packages/ag-charts-locale/src/uk-UA.ts
  packages/ag-charts-locale/src/ur-PK.ts
  packages/ag-charts-locale/src/vi-VN.ts
  packages/ag-charts-locale/src/zh-HK.ts
  packages/ag-charts-locale/src/zh-TW.ts
Owners: @ag-grid/ag-charts-team

CRT-397 Move zoom context menu actions to extraSeriesActions
  packages/ag-charts-community/src/chart/interaction/contextMenuRegistry.ts
  packages/ag-charts-enterprise/src/features/context-menu/contextMenu.ts
  packages/ag-charts-enterprise/src/features/zoom/zoomContextMenu.ts
  packages/ag-charts-types/src/chart/contextMenuOptions.ts
Owners: @alantreadway, @ag-grid/ag-charts-team

Release prep for 10.0.0-beta.20240628
  .env
  libraries/ag-charts-test/package.json
  package.json
  packages/ag-charts-angular/package.json
  packages/ag-charts-angular/projects/ag-charts-angular/package.json
  packages/ag-charts-community-examples/package.json
  packages/ag-charts-community/package.json
  packages/ag-charts-community/src/version.ts
  packages/ag-charts-enterprise/package.json
  packages/ag-charts-locale/package.json
  packages/ag-charts-react/package.json
  packages/ag-charts-types/package.json
  packages/ag-charts-vue3/package.json
  packages/ag-charts-website/.env.build
  packages/ag-charts-website/.env.build.archive
  packages/ag-charts-website/.env.build.production
  packages/ag-charts-website/.env.build.staging
  packages/ag-charts-website/.env.dev
  packages/ag-charts-website/.env.preview
  packages/ag-charts-website/.env.preview.production
  packages/ag-charts-website/.env.preview.staging
  packages/ag-charts-website/package.json
  plugins/ag-charts-generate-chart-thumbnail/package.json
  plugins/ag-charts-generate-code-reference-files/package.json
  plugins/ag-charts-generate-example-files/package.json
Owners: @ag-grid/ag-charts-team, @alantreadway

CRT-396 Update i18n
  packages/ag-charts-locale/src/ar-EG.ts
  packages/ag-charts-locale/src/bg-BG.ts
  packages/ag-charts-locale/src/cs-CZ.ts
  packages/ag-charts-locale/src/da-DK.ts
  packages/ag-charts-locale/src/de-DE.ts
  packages/ag-charts-locale/src/el-GR.ts
  packages/ag-charts-locale/src/es-ES.ts
  packages/ag-charts-locale/src/fa-IR.ts
  packages/ag-charts-locale/src/fi-FI.ts
  packages/ag-charts-locale/src/fr-FR.ts
  packages/ag-charts-locale/src/he-IL.ts
  packages/ag-charts-locale/src/hr-HR.ts
  packages/ag-charts-locale/src/hu-HU.ts
  packages/ag-charts-locale/src/it-IT.ts
  packages/ag-charts-locale/src/ja-JP.ts
  packages/ag-charts-locale/src/ko-KR.ts
  packages/ag-charts-locale/src/main.test.ts
  packages/ag-charts-locale/src/nb-NO.ts
  packages/ag-charts-locale/src/nl-NL.ts
  packages/ag-charts-locale/src/pl-PL.ts
  packages/ag-charts-locale/src/pt-BR.ts
  packages/ag-charts-locale/src/pt-PT.ts
  packages/ag-charts-locale/src/ro-RO.ts
  packages/ag-charts-locale/src/sk-SK.ts
  packages/ag-charts-locale/src/sv-SE.ts
  packages/ag-charts-locale/src/tr-TR.ts
  packages/ag-charts-locale/src/uk-UA.ts
  packages/ag-charts-locale/src/ur-PK.ts
  packages/ag-charts-locale/src/vi-VN.ts
  packages/ag-charts-locale/src/zh-CN.ts
  packages/ag-charts-locale/src/zh-HK.ts
  packages/ag-charts-locale/src/zh-TW.ts
Owners: @ag-grid/ag-charts-team

CRT-358 Hide i18n frameowk examples for angular, vue
  packages/ag-charts-website/src/content/docs/localisation/index.mdoc
Owners: @rmc-software

CRT-337 - Fix click on canvas not focusing.
  packages/ag-charts-community/src/chart/chart.ts
  packages/ag-charts-community/src/chart/dom/domStyles.css
Owners: @alantreadway

CRT-337 - Fix click on canvas not focusing.
  packages/ag-charts-community/src/chart/interaction/keyNavManager.ts
Owners: @alantreadway

CRT-337 - Add comment to explain reset logic change.
  packages/ag-charts-community/src/chart/chart.ts
Owners: @alantreadway
