Repository ag-grid/ag-charts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ag-grid/ag-charts-team, @markdurrant, @taktran, @alantreadway, @rmc-software

.github/CODEOWNERS:

# NOTE: Order of entries matters - later entries have higher precedence.

# Attribute code-owners so default reviewers are assigned to PRs.
* @ag-grid/ag-charts-team

# Astro + website changes to be reviewed by website team.
*.scss @markdurrant
*.astro @taktran
/packages/ag-charts-website/astro/** @taktran
/packages/ag-charts-website/components/** @taktran
/packages/ag-charts-website/features/** @taktran
/packages/ag-charts-website/layouts/** @taktran
/packages/ag-charts-website/stores/** @taktran
/packages/ag-charts-website/utils/** @taktran

# Docs updates to be reviewed by Eng VP.
/packages/ag-charts-website/content/** @alantreadway @rmc-software
*.mdoc @rmc-software

# Charts library code to be reviewed by Chart TL.
/packages/ag-charts-community/** @alantreadway
/packages/ag-charts-enterprise/** @alantreadway

# Sensitive build/repo files to be reviewed by Chart TL.
**/package.json @alantreadway
nx.json @alantreadway
**/project.json @alantreadway
**/tsconfig.json @alantreadway
**/tsconfig.*.json @alantreadway

Fix e2e test CWD.
  .github/workflows/e2e.yml
Owners: @ag-grid/ag-charts-team

Make e2e tests fail-fast on 404s.
  packages/ag-charts-website/e2e/examples.spec.ts
Owners: @ag-grid/ag-charts-team

Fix React + Vue3 examples.
  plugins/ag-charts-generate-example-files/src/executors/generate/generator/transformation-scripts/chart-vanilla-to-react-functional.ts
  plugins/ag-charts-generate-example-files/src/executors/generate/generator/transformation-scripts/chart-vanilla-to-vue3.ts
Owners: @ag-grid/ag-charts-team

Optimise e2e git checkout + fix 404 tests.
  .github/workflows/e2e.yml
  packages/ag-charts-website/e2e/examples.spec.ts
Owners: @ag-grid/ag-charts-team

fix types
  packages/ag-charts-types/src/series/cartesian/candlestickOptions.ts
  packages/ag-charts-types/src/series/cartesian/ohlcOptions.ts
Owners: @ag-grid/ag-charts-team

Fix CI last success commit calculation.
  .github/workflows/e2e.yml
Owners: @ag-grid/ag-charts-team

fix types
  packages/ag-charts-enterprise/src/series/candlestick/candlestickSeriesProperties.ts
Owners: @alantreadway

Switch e2e tests to using latest-e2e-success tag for tracking last success SHA.
  .github/workflows/e2e.yml
Owners: @ag-grid/ag-charts-team

AG-11701 Update toolbar button focus style
  packages/ag-charts-community/src/chart/toolbar/toolbarStyles.css
  packages/ag-charts-community/src/styles/styles.css
Owners: @alantreadway

AG-11148 Add initial state to replace annotations initial
  packages/ag-charts-community/src/api/state/initialState.ts
  packages/ag-charts-community/src/api/state/initialStateModule.ts
  packages/ag-charts-community/src/api/state/memento.ts
  packages/ag-charts-community/src/chart/annotation/annotationManager.ts
  packages/ag-charts-community/src/chart/factory/registerInbuiltModules.ts
  packages/ag-charts-community/src/module/module.test.ts
  packages/ag-charts-community/src/module/module.ts
  packages/ag-charts-community/src/module/optionsModule.ts
  packages/ag-charts-enterprise/src/features/annotations/__image_snapshots__/annotations-test-ts-annotations-cross-line-when-x-axis-is-clicked-it-should-create-a-vertical-cross-line-1-snap.png
  packages/ag-charts-enterprise/src/features/annotations/__image_snapshots__/annotations-test-ts-annotations-cross-line-when-y-axis-is-clicked-it-should-create-a-horizontal-cross-line-1-snap.png
  packages/ag-charts-enterprise/src/features/annotations/annotations.test.ts
  packages/ag-charts-enterprise/src/features/annotations/annotations.ts
  packages/ag-charts-types/src/api/initialStateOptions.ts
  packages/ag-charts-types/src/chart/annotationsOptions.ts
  packages/ag-charts-types/src/chart/chartOptions.ts
  packages/ag-charts-website/src/content/docs/annotations/_examples/annotation-customisation/main.ts
  packages/ag-charts-website/src/content/docs/annotations/_examples/annotation-disjoint-channel/main.ts
  packages/ag-charts-website/src/content/docs/annotations/_examples/annotation-initial/main.ts
  packages/ag-charts-website/src/content/docs/annotations/_examples/annotation-line/main.ts
  packages/ag-charts-website/src/content/docs/annotations/_examples/annotation-parallel-channel/main.ts
Owners: @alantreadway, @ag-grid/ag-charts-team

AG-11148 Add initial state manager and switch dependency direction
  packages/ag-charts-community/src/api/state/initialState.ts
  packages/ag-charts-community/src/api/state/initialStateModule.ts
  packages/ag-charts-community/src/api/state/stateManager.ts
  packages/ag-charts-community/src/chart/chartContext.ts
  packages/ag-charts-community/src/module/moduleContext.ts
  packages/ag-charts-enterprise/src/features/annotations/annotations.ts
  packages/ag-charts-enterprise/src/features/annotations/annotationsModule.ts
Owners: @alantreadway

AG-11148 Change modules to error on missing dependency
  packages/ag-charts-community/src/module/module.test.ts
  packages/ag-charts-community/src/module/module.ts
Owners: @alantreadway

AG-11148 Fix annotations click and theme
  packages/ag-charts-community/src/module/optionsModule.ts
  packages/ag-charts-enterprise/src/features/annotations/annotations.ts
Owners: @alantreadway

AG-11891 Focus styles for colour picker
  packages/ag-charts-community/src/chart/chart.ts
  packages/ag-charts-community/src/chart/dom/domLayout.html
  packages/ag-charts-community/src/chart/dom/domManager.ts
  packages/ag-charts-community/src/chart/dom/domStyles.css
  packages/ag-charts-community/src/styles/styles.ts
  packages/ag-charts-enterprise/src/features/color-picker/colorPicker.ts
  packages/ag-charts-enterprise/src/features/color-picker/colorPickerStyles.css
Owners: @alantreadway

fix example
  packages/ag-charts-community/src/chart/series/polar/donutTheme.ts
  packages/ag-charts-community/src/chart/series/polar/pieTheme.ts
  packages/ag-charts-website/src/content/gallery/_examples/multiple-donuts/main.ts
Owners: @alantreadway, @ag-grid/ag-charts-team

update snapshots
  packages/ag-charts-community/src/module/__snapshots__/optionsModule.test.ts.snap
  packages/ag-charts-website/src/content/gallery/_examples/multiple-donuts/main.ts
Owners: @alantreadway, @ag-grid/ag-charts-team

AG-11398 - Hide independent zoom options and apply in FC preset.
  packages/ag-charts-community/src/api/preset/candlestickVolumePreset.ts
  packages/ag-charts-enterprise/src/features/zoom/zoom.ts
  packages/ag-charts-types/src/chart/zoomOptions.ts
Owners: @alantreadway, @ag-grid/ag-charts-team

Changes to docs for small breaking changes
  packages/ag-charts-types/src/chart/chartOptions.ts
  packages/ag-charts-types/src/chart/legendOptions.ts
  packages/ag-charts-types/src/chart/toolbarOptions.ts
  packages/ag-charts-website/src/content/docs/accessibility/_examples/keyboard-navigation/main.ts
  packages/ag-charts-website/src/content/docs/accessibility/index.mdoc
  packages/ag-charts-website/src/content/docs/donut-series/index.mdoc
  packages/ag-charts-website/src/content/docs/layout/index.mdoc
  packages/ag-charts-website/src/content/docs/legend/_examples/legend-seriesStroke/main.ts
  packages/ag-charts-website/src/content/docs/legend/index.mdoc
  packages/ag-charts-website/src/content/docs/upgrade-to-ag-charts-10/index.mdoc
  packages/ag-charts-website/src/content/docs/zoom/index.mdoc
Owners: @ag-grid/ag-charts-team, @rmc-software

Double number of test shards to shave ~1m off test execution time.
  .github/workflows/ci.yml
Owners: @ag-grid/ag-charts-team

AG-11148 Change initialState from a module to processed in factory
  packages/ag-charts-community/src/api/agCharts.ts
  packages/ag-charts-community/src/api/state/initialState.ts
  packages/ag-charts-community/src/api/state/initialStateModule.ts
  packages/ag-charts-community/src/api/state/stateManager.ts
  packages/ag-charts-community/src/chart/chart.ts
  packages/ag-charts-community/src/chart/factory/registerInbuiltModules.ts
  packages/ag-charts-community/src/module/optionsModule.ts
  packages/ag-charts-enterprise/src/features/annotations/annotations.ts
  packages/ag-charts-enterprise/src/features/annotations/annotationsModule.ts
Owners: @alantreadway

Fixup release creation CI job.
  .github/workflows/release-branch.yml
Owners: @ag-grid/ag-charts-team

Fix e2e report job failure.
  .github/workflows/e2e.yml
Owners: @ag-grid/ag-charts-team

AG-11503 Status bar updates
  packages/ag-charts-community/src/chart/chart.ts
  packages/ag-charts-enterprise/src/features/status-bar/statusBar.ts
Owners: @alantreadway

AG-11148 Update financial chart example with initial state
  packages/ag-charts-community/src/module/module.ts
  packages/ag-charts-types/src/chart/chartBuilderOptions.ts
  packages/ag-charts-website/src/content/docs/financial-charts/_examples/candlestick-volume-combo/main.ts
Owners: @alantreadway, @ag-grid/ag-charts-team

wip
  packages/ag-charts-enterprise/src/series/chord/chordSeries.ts
  packages/ag-charts-enterprise/src/series/chord/chordSeriesProperties.ts
  packages/ag-charts-enterprise/src/series/heatmap/heatmapSeries.ts
  packages/ag-charts-enterprise/src/series/heatmap/heatmapSeriesProperties.ts
  packages/ag-charts-enterprise/src/series/map-line/mapLineSeries.ts
  packages/ag-charts-enterprise/src/series/map-line/mapLineSeriesProperties.ts
  packages/ag-charts-enterprise/src/series/map-marker/mapMarkerSeriesProperties.ts
  packages/ag-charts-enterprise/src/series/nightingale/nightingaleSeries.ts
  packages/ag-charts-enterprise/src/series/radial-bar/radialBarSeriesProperties.ts
  packages/ag-charts-enterprise/src/series/radial-column/radialColumnSeriesBase.ts
  packages/ag-charts-enterprise/src/series/radial-column/radialColumnSeriesBaseProperties.ts
  packages/ag-charts-enterprise/src/series/range-bar/rangeBarProperties.ts
  packages/ag-charts-types/src/chart/callbackOptions.ts
  packages/ag-charts-types/src/series/cartesian/heatmapOptions.ts
  packages/ag-charts-types/src/series/cartesian/rangeBarOptions.ts
  packages/ag-charts-types/src/series/flow-proportion/chordOptions.ts
  packages/ag-charts-types/src/series/polar/radialOptions.ts
  packages/ag-charts-types/src/series/topology/mapLineOptions.ts
  packages/ag-charts-types/src/series/topology/mapMarkerOptions.ts
  packages/ag-charts-types/src/series/topology/mapShapeOptions.ts
Owners: @alantreadway, @ag-grid/ag-charts-team

remove __FORCE_MODULE_DETECTION
  packages/ag-charts-types/src/main.ts
  packages/ag-charts-types/src/series/cartesian/heatmapOptions.ts
  packages/ag-charts-types/src/series/cartesian/rangeAreaOptions.ts
  packages/ag-charts-types/src/series/cartesian/rangeBarOptions.ts
  packages/ag-charts-types/src/series/cartesian/waterfallOptions.ts
  packages/ag-charts-types/src/series/polar/nightingaleOptions.ts
  packages/ag-charts-types/src/series/polar/radarAreaOptions.ts
  packages/ag-charts-types/src/series/polar/radarLineOptions.ts
  packages/ag-charts-types/src/series/polar/radarOptions.ts
  packages/ag-charts-types/src/series/polar/radialBarOptions.ts
  packages/ag-charts-types/src/series/polar/radialColumnOptions.ts
  packages/ag-charts-types/src/series/polar/radialOptions.ts
Owners: @ag-grid/ag-charts-team

Update colour picker styles
  packages/ag-charts-community/src/chart/dom/domLayout.html
  packages/ag-charts-community/src/chart/dom/domStyles.css
  packages/ag-charts-community/src/chart/dom/focusStyles.css
  packages/ag-charts-enterprise/src/features/color-picker/colorPickerStyles.css
Owners: @alantreadway

Fix typo
  packages/ag-charts-enterprise/src/features/status-bar/statusBar.ts
Owners: @alantreadway

AG-11906 Update annotations default stroke to match fill
  packages/ag-charts-community/src/chart/themes/chartTheme.ts
  packages/ag-charts-community/src/chart/themes/darkTheme.ts
  packages/ag-charts-community/src/chart/themes/materialDark.ts
  packages/ag-charts-community/src/chart/themes/materialLight.ts
  packages/ag-charts-community/src/chart/themes/polychromaDark.ts
  packages/ag-charts-community/src/chart/themes/polychromaLight.ts
  packages/ag-charts-community/src/chart/themes/sheetsDark.ts
  packages/ag-charts-community/src/chart/themes/sheetsLight.ts
  packages/ag-charts-community/src/chart/themes/vividDark.ts
  packages/ag-charts-community/src/chart/themes/vividLight.ts
  packages/ag-charts-enterprise/src/features/annotations/__image_snapshots__/annotations-test-ts-annotations-initial-should-render-a-disjoint-channel-annotation-1-snap.png
  packages/ag-charts-enterprise/src/features/annotations/__image_snapshots__/annotations-test-ts-annotations-initial-should-render-a-horizontal-cross-line-annotation-1-snap.png
  packages/ag-charts-enterprise/src/features/annotations/__image_snapshots__/annotations-test-ts-annotations-initial-should-render-a-line-annotation-1-snap.png
  packages/ag-charts-enterprise/src/features/annotations/__image_snapshots__/annotations-test-ts-annotations-initial-should-render-a-parallel-channel-annotation-1-snap.png
  packages/ag-charts-enterprise/src/features/annotations/__image_snapshots__/annotations-test-ts-annotations-initial-should-render-a-vertical-cross-line-annotation-1-snap.png
Owners: @alantreadway

Fix redundant e2e report notifications.
  .github/workflows/e2e.yml
Owners: @ag-grid/ag-charts-team

Rework e2e example tests for future code re-use.
  packages/ag-charts-website/e2e/examples.spec.ts
  packages/ag-charts-website/e2e/util.ts
Owners: @ag-grid/ag-charts-team

Disable HTTPS for e2e tests.
  packages/ag-charts-website/e2e/examples.spec.ts
  packages/ag-charts-website/playwright.config.ts
Owners: @ag-grid/ag-charts-team

AG-11148 Remove old snapshots
  packages/ag-charts-enterprise/src/features/annotations/__image_snapshots__/annotations-test-ts-annotations-cross-line-when-x-axis-is-clicked-it-should-create-a-vertical-cross-line-1-snap.png
  packages/ag-charts-enterprise/src/features/annotations/__image_snapshots__/annotations-test-ts-annotations-cross-line-when-y-axis-is-clicked-it-should-create-a-horizontal-cross-line-1-snap.png
Owners: @alantreadway

AG-11915 Skip mouse events in chart overlays
  packages/ag-charts-community/src/chart/chart.ts
  packages/ag-charts-community/src/chart/dom/domManager.ts
  packages/ag-charts-community/src/chart/interaction/interactionManager.ts
  packages/ag-charts-community/src/chart/interaction/regionManager.ts
  packages/ag-charts-community/src/util/array.ts
Owners: @alantreadway

Re-enable e2e retries.
  packages/ag-charts-website/playwright.config.ts
Owners: @ag-grid/ag-charts-team

Add linux snapshots.
  packages/ag-charts-website/e2e/keyboard-nav.spec.ts-snapshots/1st-datum-focus-chromium-linux.png
  packages/ag-charts-website/e2e/keyboard-nav.spec.ts-snapshots/3rd-datum-2nd-series-focus-chromium-linux.png
  packages/ag-charts-website/e2e/keyboard-nav.spec.ts-snapshots/legend-2nd-page-focus-chromium-linux.png
  packages/ag-charts-website/e2e/keyboard-nav.spec.ts-snapshots/legend-focus-chromium-linux.png
  packages/ag-charts-website/e2e/keyboard-nav.spec.ts-snapshots/tabbed-out-of-chart-chromium-linux.png
Owners: @ag-grid/ag-charts-team

Add basic keyboard-nav tests.
  packages/ag-charts-website/e2e/keyboard-nav.spec.ts
  packages/ag-charts-website/e2e/keyboard-nav.spec.ts-snapshots/1st-datum-focus-chromium-darwin.png
  packages/ag-charts-website/e2e/keyboard-nav.spec.ts-snapshots/3rd-datum-2nd-series-focus-chromium-darwin.png
  packages/ag-charts-website/e2e/keyboard-nav.spec.ts-snapshots/legend-2nd-page-focus-chromium-darwin.png
  packages/ag-charts-website/e2e/keyboard-nav.spec.ts-snapshots/legend-focus-chromium-darwin.png
  packages/ag-charts-website/e2e/keyboard-nav.spec.ts-snapshots/legend-page-control-focus-chromium-darwin.png
  packages/ag-charts-website/e2e/keyboard-nav.spec.ts-snapshots/tabbed-back-into-chart-chromium-darwin.png
  packages/ag-charts-website/e2e/keyboard-nav.spec.ts-snapshots/tabbed-out-of-chart-chromium-darwin.png
Owners: @ag-grid/ag-charts-team

Allow e2e affected example execution.
  packages/ag-charts-website/e2e/examples.spec.ts
  packages/ag-charts-website/playwright.config.ts
  packages/ag-charts-website/project.json
Owners: @ag-grid/ag-charts-team, @alantreadway

Add temp state info to annotation docs
  packages/ag-charts-website/src/content/docs/annotations/index.mdoc
Owners: @rmc-software

AG-11892 Update color picker to align to the toolbar color button
  packages/ag-charts-community/src/chart/interaction/toolbarManager.ts
  packages/ag-charts-community/src/chart/toolbar/toolbar.ts
  packages/ag-charts-enterprise/src/features/annotations/annotations.ts
  packages/ag-charts-enterprise/src/features/color-picker/colorPicker.ts
Owners: @alantreadway
