Repository ag-grid/ag-charts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ag-grid/ag-charts-team, @markdurrant, @taktran, @alantreadway, @rmc-software

Automated package version bump to 9.0.0-beta.20231103.1656.
  packages/ag-charts-angular/package.json
  packages/ag-charts-community-examples/package.json
  packages/ag-charts-community/package.json
  packages/ag-charts-enterprise/package.json
  packages/ag-charts-react/package.json
  packages/ag-charts-vue/package.json
  packages/ag-charts-vue3/package.json
  packages/ag-charts-website/package.json
Owners: @alantreadway

AG-9702 Fix area series node picking for zoom reset
  packages/ag-charts-community/src/chart/series/cartesian/areaSeries.ts
Owners: @alantreadway

AG-9254 Fix build error for animation docs
  packages/ag-charts-website/src/content/docs/animation/_examples/data-updates/main.ts
Owners: @ag-grid/ag-charts-team

Add highlighting animation to selected api properties
  packages/ag-charts-website/src/features/api-documentation/components/ApiReference.module.scss
  packages/ag-charts-website/src/features/api-documentation/components/ApiReference.tsx
Owners: @markdurrant, @ag-grid/ag-charts-team

Fix trailing semi-colon in animation docs
  packages/ag-charts-website/src/content/docs/animation/index.mdoc
Owners: @rmc-software

nx format
  packages/ag-charts-website/src/features/api-documentation/components/ApiReference.module.scss
Owners: @markdurrant

cr changes - replace highlight color
  packages/ag-charts-website/src/features/api-documentation/components/ApiReference.module.scss
Owners: @markdurrant

Add highlighting animation to selected api properties (#454)
  packages/ag-charts-website/src/features/api-documentation/components/ApiReference.module.scss
  packages/ag-charts-website/src/features/api-documentation/components/ApiReference.tsx
Owners: @markdurrant, @ag-grid/ag-charts-team

AG-9503 Fix tooltip arrow not showing and fix styles
  packages/ag-charts-community/src/chart/series/seriesTooltip.ts
  packages/ag-charts-community/src/chart/themes/chartTheme.ts
  packages/ag-charts-community/src/chart/tooltip/tooltip.ts
  packages/ag-charts-website/src/content/docs/tooltips/_examples/tooltip-interaction/main.ts
Owners: @alantreadway, @ag-grid/ag-charts-team

AG-9638 Fix bubble tooltip size value undefined
  packages/ag-charts-community/src/chart/series/cartesian/bubbleSeries.ts
Owners: @alantreadway

AG-9640 Add error for invalid theme name
  packages/ag-charts-community/src/chart/mapping/themes.ts
Owners: @alantreadway

AG-9715 - Add scroll highlights for right hand side nav
  packages/ag-charts-website/src/pages/[framework]/[pageName].astro
  packages/ag-charts-website/src/types/markdoc.d.ts
  packages/ag-charts-website/src/utils/initScrolledHeadingTriggers.ts
Owners: @taktran, @ag-grid/ag-charts-team

AG-3390 - Use `flatMap` instead of `map().flat()`
  packages/ag-charts-website/src/features/docs/utils/filesData.ts
  packages/ag-charts-website/src/features/docs/utils/pageData.ts
  packages/ag-charts-website/src/features/gallery/utils/filesData.ts
Owners: @ag-grid/ag-charts-team

AG-9715 - Add tab labels to right side menu and allow them to change tabs
  packages/ag-charts-website/package.json
  packages/ag-charts-website/src/components/pages-navigation/SideNavigation.tsx
  packages/ag-charts-website/src/components/tabs/TabNavItem.tsx
  packages/ag-charts-website/src/components/tabs/TabsWithHtmlChildren.tsx
  packages/ag-charts-website/src/components/tabs/constants.ts
  packages/ag-charts-website/src/pages/[framework]/[pageName].astro
  packages/ag-charts-website/src/utils/addTabsToHeadings.ts
  yarn.lock
Owners: @alantreadway, @ag-grid/ag-charts-team, @taktran

AG-9715 - Move tab data generation to astro build time
  packages/ag-charts-website/markdoc.config.ts
  packages/ag-charts-website/src/components/tabs/TabsWithData.tsx
  packages/ag-charts-website/src/components/tabs/TabsWithHtmlChildren.astro
  packages/ag-charts-website/src/components/tabs/TabsWithHtmlChildren.tsx
  packages/ag-charts-website/src/components/tabs/constants.ts
  packages/ag-charts-website/src/components/tabs/types.d.ts
  packages/ag-charts-website/src/components/tabs/utils.ts
  packages/ag-charts-website/src/constants.ts
  packages/ag-charts-website/src/pages/[framework]/[pageName].astro
Owners: @ag-grid/ag-charts-team, @taktran

AG-9715 - Update hash when tab is selected
  packages/ag-charts-website/src/components/tabs/TabsWithData.tsx
Owners: @ag-grid/ag-charts-team

AG-9715 - Highlight right side menu tab heading on page load
  packages/ag-charts-website/src/pages/[framework]/[pageName].astro
  packages/ag-charts-website/src/utils/initScrolledHeadingTriggers.ts
Owners: @taktran, @ag-grid/ag-charts-team

AG-9715 - Listen to hash changes to update side menu selection
  packages/ag-charts-website/src/pages/[framework]/[pageName].astro
  packages/ag-charts-website/src/utils/initScrolledHeadingTriggers.ts
  packages/ag-charts-website/src/utils/navigation.ts
Owners: @taktran, @ag-grid/ag-charts-team

AG-9574 - Enterprise parseExampleOptions
  packages/ag-charts-enterprise/src/test/load-example.ts
  packages/ag-charts-website/src/features/gallery/utils/transformPlainEntryFile.ts
Owners: @alantreadway, @ag-grid/ag-charts-team

AG-9574 - New scatter gallery example with custom markers
  packages/ag-charts-website/src/content/gallery/_examples/scatter-with-custom-markers/data.ts
  packages/ag-charts-website/src/content/gallery/_examples/scatter-with-custom-markers/index.html
  packages/ag-charts-website/src/content/gallery/_examples/scatter-with-custom-markers/main.ts
  packages/ag-charts-website/src/content/gallery/data.json
Owners: @ag-grid/ag-charts-team

AG-9574 - New bubble series gallery example with custom markers
  packages/ag-charts-website/src/content/gallery/_examples/bubble-with-custom-markers/data.ts
  packages/ag-charts-website/src/content/gallery/_examples/bubble-with-custom-markers/index.html
  packages/ag-charts-website/src/content/gallery/_examples/bubble-with-custom-markers/main.ts
  packages/ag-charts-website/src/content/gallery/data.json
Owners: @ag-grid/ag-charts-team

AG-9715 - Move side menu nav scrolling into react hook
  packages/ag-charts-website/src/components/pages-navigation/SideNavigation.tsx
  packages/ag-charts-website/src/components/pages-navigation/useSideNavigationScrolling.ts
  packages/ag-charts-website/src/pages/[framework]/[pageName].astro
  packages/ag-charts-website/src/utils/initScrolledHeadingTriggers.ts
Owners: @ag-grid/ag-charts-team, @taktran

AG-9711 - Remove enforced pie-sector sorting for consistency.
  packages/ag-charts-community/src/chart/series/polar/pieSeries.ts
Owners: @alantreadway

AG-9022 Add 'error-bars-test' docs page
  packages/ag-charts-website/src/content/docs/error-bars-test/_examples/boyles/data.ts
  packages/ag-charts-website/src/content/docs/error-bars-test/_examples/boyles/index.html
  packages/ag-charts-website/src/content/docs/error-bars-test/_examples/boyles/main.ts
  packages/ag-charts-website/src/content/docs/error-bars-test/_examples/temperatures/data.ts
  packages/ag-charts-website/src/content/docs/error-bars-test/_examples/temperatures/index.html
  packages/ag-charts-website/src/content/docs/error-bars-test/_examples/temperatures/main.ts
  packages/ag-charts-website/src/content/docs/error-bars-test/index.mdoc
Owners: @ag-grid/ag-charts-team, @rmc-software

AG-9715 - Add documentation tabs to right hand side nav + scroll highlights (#453)
  packages/ag-charts-website/markdoc.config.ts
  packages/ag-charts-website/package.json
  packages/ag-charts-website/src/components/pages-navigation/SideNavigation.tsx
  packages/ag-charts-website/src/components/pages-navigation/useSideNavigationScrolling.ts
  packages/ag-charts-website/src/components/tabs/TabNavItem.tsx
  packages/ag-charts-website/src/components/tabs/TabsWithData.tsx
  packages/ag-charts-website/src/components/tabs/TabsWithHtmlChildren.astro
  packages/ag-charts-website/src/components/tabs/TabsWithHtmlChildren.tsx
  packages/ag-charts-website/src/components/tabs/types.d.ts
  packages/ag-charts-website/src/components/tabs/utils.ts
  packages/ag-charts-website/src/constants.ts
  packages/ag-charts-website/src/features/docs/utils/filesData.ts
  packages/ag-charts-website/src/features/docs/utils/pageData.ts
  packages/ag-charts-website/src/features/gallery/utils/filesData.ts
  packages/ag-charts-website/src/pages/[framework]/[pageName].astro
  packages/ag-charts-website/src/types/markdoc.d.ts
  packages/ag-charts-website/src/utils/addTabsToHeadings.ts
  packages/ag-charts-website/src/utils/initScrolledHeadingTriggers.ts
  packages/ag-charts-website/src/utils/navigation.ts
  yarn.lock
Owners: @ag-grid/ag-charts-team, @alantreadway, @taktran

Revert "AG-9715 - Add documentation tabs to right hand side nav + scroll highlights (#453)"
  packages/ag-charts-website/markdoc.config.ts
  packages/ag-charts-website/package.json
  packages/ag-charts-website/src/components/pages-navigation/SideNavigation.tsx
  packages/ag-charts-website/src/components/pages-navigation/useSideNavigationScrolling.ts
  packages/ag-charts-website/src/components/tabs/TabNavItem.tsx
  packages/ag-charts-website/src/components/tabs/TabsWithData.tsx
  packages/ag-charts-website/src/components/tabs/TabsWithHtmlChildren.astro
  packages/ag-charts-website/src/components/tabs/TabsWithHtmlChildren.tsx
  packages/ag-charts-website/src/components/tabs/types.d.ts
  packages/ag-charts-website/src/components/tabs/utils.ts
  packages/ag-charts-website/src/constants.ts
  packages/ag-charts-website/src/features/docs/utils/filesData.ts
  packages/ag-charts-website/src/features/docs/utils/pageData.ts
  packages/ag-charts-website/src/features/gallery/utils/filesData.ts
  packages/ag-charts-website/src/pages/[framework]/[pageName].astro
  packages/ag-charts-website/src/types/markdoc.d.ts
  packages/ag-charts-website/src/utils/addTabsToHeadings.ts
  packages/ag-charts-website/src/utils/initScrolledHeadingTriggers.ts
  packages/ag-charts-website/src/utils/navigation.ts
  yarn.lock
Owners: @ag-grid/ag-charts-team, @alantreadway, @taktran

AG-9301 Add inital target line in bullet charts
  packages/ag-charts-community/src/scene/selection.ts
  packages/ag-charts-enterprise/src/series/bullet/bulletSeries.ts
Owners: @alantreadway

AG-9301 Add Direction='vertical'|'horizontal' type
  packages/ag-charts-community/src/chart/series/cartesian/barSeries.ts
  packages/ag-charts-community/src/options/chart/types.ts
  packages/ag-charts-community/src/util/validation.ts
  packages/ag-charts-enterprise/src/series/box-plot/boxPlotSeries.ts
  packages/ag-charts-enterprise/src/series/bullet/bulletSeries.ts
  packages/ag-charts-enterprise/src/series/range-bar/rangeBar.ts
  packages/ag-charts-enterprise/src/series/waterfall/waterfallSeries.ts
Owners: @alantreadway

AG-9323 Add basic color ranges to bullet charts
  packages/ag-charts-community/src/options/series/cartesian/bulletOptions.ts
  packages/ag-charts-enterprise/src/series/bullet/bulletSeries.ts
Owners: @alantreadway

Revert "AG-9715 - Add documentation tabs to right hand side nav + scroll highlights (#453)" (#461)
  packages/ag-charts-website/markdoc.config.ts
  packages/ag-charts-website/package.json
  packages/ag-charts-website/src/components/pages-navigation/SideNavigation.tsx
  packages/ag-charts-website/src/components/pages-navigation/useSideNavigationScrolling.ts
  packages/ag-charts-website/src/components/tabs/TabNavItem.tsx
  packages/ag-charts-website/src/components/tabs/TabsWithData.tsx
  packages/ag-charts-website/src/components/tabs/TabsWithHtmlChildren.astro
  packages/ag-charts-website/src/components/tabs/TabsWithHtmlChildren.tsx
  packages/ag-charts-website/src/components/tabs/types.d.ts
  packages/ag-charts-website/src/components/tabs/utils.ts
  packages/ag-charts-website/src/constants.ts
  packages/ag-charts-website/src/features/docs/utils/filesData.ts
  packages/ag-charts-website/src/features/docs/utils/pageData.ts
  packages/ag-charts-website/src/features/gallery/utils/filesData.ts
  packages/ag-charts-website/src/pages/[framework]/[pageName].astro
  packages/ag-charts-website/src/types/markdoc.d.ts
  packages/ag-charts-website/src/utils/addTabsToHeadings.ts
  packages/ag-charts-website/src/utils/initScrolledHeadingTriggers.ts
  packages/ag-charts-website/src/utils/navigation.ts
  yarn.lock
Owners: @ag-grid/ag-charts-team, @alantreadway, @taktran

Fix Options page z-index bug
  packages/ag-charts-website/src/features/api-documentation/components/OptionsNavigation.module.scss
Owners: @markdurrant

Refactor API Options search box component
  packages/ag-charts-website/src/features/api-documentation/components/SearchBox.tsx
Owners: @ag-grid/ag-charts-team

Child properties styling
  packages/ag-charts-website/src/features/api-documentation/components/ApiReference.module.scss
  packages/ag-charts-website/src/features/api-documentation/components/ApiReference.tsx
Owners: @markdurrant, @ag-grid/ag-charts-team

Add 'We couldn't find any matches for...' message to options search box
  packages/ag-charts-website/src/features/api-documentation/components/SearchBox.tsx
Owners: @ag-grid/ag-charts-team

Update API ref description styling, tabs styling, & CSS fixes
  packages/ag-charts-website/src/content/docs/axes-types/index.mdoc
  packages/ag-charts-website/src/design-system/_typography.scss
  packages/ag-charts-website/src/design-system/components/_containers.scss
  packages/ag-charts-website/src/design-system/elements/_block.scss
  packages/ag-charts-website/src/features/api-documentation/components/ApiReference.module.scss
  packages/ag-charts-website/src/features/api-documentation/components/ApiReference.tsx
Owners: @rmc-software, @markdurrant, @ag-grid/ag-charts-team

Make API options page responsive
  packages/ag-charts-website/src/design-system/core/_breakpoints.scss
  packages/ag-charts-website/src/features/api-documentation/components/ApiReference.module.scss
  packages/ag-charts-website/src/features/api-documentation/components/ApiReferencePage.module.scss
  packages/ag-charts-website/src/features/api-documentation/components/OptionsNavigation.module.scss
Owners: @markdurrant

Options page search box styling
  packages/ag-charts-website/src/features/api-documentation/components/OptionsNavigation.module.scss
  packages/ag-charts-website/src/features/api-documentation/components/SearchBox.tsx
Owners: @markdurrant, @ag-grid/ag-charts-team

Add indentation for child properties
  packages/ag-charts-website/src/features/api-documentation/components/ApiReference.module.scss
  packages/ag-charts-website/src/features/api-documentation/components/ApiReference.tsx
Owners: @markdurrant, @ag-grid/ag-charts-team

Options search darkmode styling
  packages/ag-charts-website/src/features/api-documentation/components/OptionsNavigation.module.scss
Owners: @markdurrant

Refactor API options/refs <table> => <div>
  packages/ag-charts-website/src/features/api-documentation/components/ApiReference.module.scss
  packages/ag-charts-website/src/features/api-documentation/components/ApiReference.tsx
  packages/ag-charts-website/src/features/api-documentation/components/ApiReferencePage.tsx
Owners: @markdurrant, @ag-grid/ag-charts-team

.github/CODEOWNERS:

# NOTE: Order of entries matters - later entries have higher precedence.

# Attribute code-owners so default reviewers are assigned to PRs.
* @ag-grid/ag-charts-team

# Astro + website changes to be reviewed by website team.
*.scss @markdurrant
*.astro @taktran
/packages/ag-charts-website/astro/** @taktran
/packages/ag-charts-website/components/** @taktran
/packages/ag-charts-website/features/** @taktran
/packages/ag-charts-website/layouts/** @taktran
/packages/ag-charts-website/stores/** @taktran
/packages/ag-charts-website/utils/** @taktran

# Docs updates to be reviewed by Eng VP.
/packages/ag-charts-website/content/** @alantreadway @rmc-software
*.mdoc @rmc-software

# Charts library code to be reviewed by Chart TL.
/packages/ag-charts-community/** @alantreadway
/packages/ag-charts-enterprise/** @alantreadway

# Sensitive build/repo files to be reviewed by Chart TL.
**/package.json @alantreadway
nx.json @alantreadway
**/project.json @alantreadway
**/tsconfig.json @alantreadway
**/tsconfig.*.json @alantreadway
