Repository ag-grid/ag-charts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ag-grid/ag-charts-team, @markdurrant, @taktran, @alantreadway, @rmc-software

AG-11130 Fix creating annotations click events
  packages/ag-charts-community/src/chart/interaction/interactionManager.ts
  packages/ag-charts-enterprise/src/features/annotations/annotations.ts
Owners: @alantreadway

AG-10836 - Control visibility of candlestick and ohlc group children on render
  packages/ag-charts-enterprise/src/series/candlestick/candlestickGroup.ts
  packages/ag-charts-enterprise/src/series/ohlc/ohlcGroup.ts
Owners: @alantreadway

AG-10836 - Shift line based on strokeWidth
  packages/ag-charts-enterprise/src/series/ohlc/ohlcGroup.ts
Owners: @alantreadway

Expose non-nested Scene dependencies for Integrated charts.
  packages/ag-charts-community/src/chart/chart.ts
Owners: @alantreadway

Automated package version bump to 9.2.1-beta.20240415.
  .env
  libraries/ag-charts-test/package.json
  package.json
  packages/ag-charts-angular/package.json
  packages/ag-charts-angular/projects/ag-charts-angular/package.json
  packages/ag-charts-community-examples/package.json
  packages/ag-charts-community/package.json
  packages/ag-charts-community/src/version.ts
  packages/ag-charts-enterprise/package.json
  packages/ag-charts-react/package.json
  packages/ag-charts-vue/package.json
  packages/ag-charts-vue3/package.json
  packages/ag-charts-website/.env.build
  packages/ag-charts-website/.env.build.archive
  packages/ag-charts-website/.env.build.production
  packages/ag-charts-website/.env.build.staging
  packages/ag-charts-website/.env.dev
  packages/ag-charts-website/.env.preview
  packages/ag-charts-website/.env.preview.production
  packages/ag-charts-website/.env.preview.staging
  packages/ag-charts-website/package.json
  plugins/ag-charts-generate-chart-thumbnail/package.json
  plugins/ag-charts-generate-code-reference-files/package.json
  plugins/ag-charts-generate-example-files/package.json
Owners: @ag-grid/ag-charts-team, @alantreadway

AG-11190 Make caption non-focusable
  packages/ag-charts-community/src/chart/caption.ts
  packages/ag-charts-community/src/chart/interaction/regionManager.ts
Owners: @alantreadway

AG-11272 Set aria-label on chart container
  packages/ag-charts-community/src/chart/chart.ts
  packages/ag-charts-community/src/chart/interaction/ariaAnnouncementServices.ts
  packages/ag-charts-community/src/util/ariaUtil.ts
Owners: @alantreadway

AG-11190 Revert accidentally log change in caption
  packages/ag-charts-community/src/chart/caption.ts
Owners: @alantreadway

AG-11190 Fix build error: unused imports
  packages/ag-charts-community/src/chart/caption.ts
Owners: @alantreadway

AG-11190 Do not remember currentTabIndex when focusing
  packages/ag-charts-community/src/chart/chartContext.ts
  packages/ag-charts-community/src/chart/interaction/keyNavManager.ts
  packages/ag-charts-community/src/chart/interaction/regionManager.ts
Owners: @alantreadway

Clean up type
  packages/ag-charts-community/src/chart/interaction/keyNavManager.ts
Owners: @alantreadway

AG-3390 Remove old dropdown component
  packages/ag-charts-website/src/components/dropdown/Dropdown.tsx
Owners: @ag-grid/ag-charts-team

AG-11268 Add toolbar group alignment
  packages/ag-charts-community/src/chart/interaction/toolbarManager.ts
  packages/ag-charts-community/src/chart/mapping/__snapshots__/prepare.test.ts.snap
  packages/ag-charts-community/src/chart/toolbar/toolbar.ts
  packages/ag-charts-community/src/chart/toolbar/toolbarModule.ts
  packages/ag-charts-community/src/chart/toolbar/toolbarProperties.ts
  packages/ag-charts-community/src/chart/toolbar/toolbarStyles.ts
  packages/ag-charts-community/src/chart/toolbar/toolbarTypes.ts
  packages/ag-charts-community/src/options/chart/toolbarOptions.ts
  packages/ag-charts-community/src/styles/reset.ts
  packages/ag-charts-enterprise/src/features/zoom/zoom.ts
  packages/ag-charts-website/src/content/docs/toolbar/index.mdoc
Owners: @alantreadway, @rmc-software

AG-11268 Add toolbar svg icon option
  packages/ag-charts-community/src/chart/toolbar/toolbar.ts
  packages/ag-charts-community/src/chart/toolbar/toolbarProperties.ts
  packages/ag-charts-community/src/chart/toolbar/toolbarStyles.ts
  packages/ag-charts-community/src/chart/toolbar/toolbarTypes.ts
  packages/ag-charts-community/src/options/chart/toolbarOptions.ts
Owners: @alantreadway

Separate textWrap from Text node class
  packages/ag-charts-community/src/chart/axis/axis.ts
  packages/ag-charts-community/src/chart/caption.ts
  packages/ag-charts-community/src/module-support.ts
  packages/ag-charts-community/src/scene/shape/text.test.ts
  packages/ag-charts-community/src/scene/shape/text.ts
  packages/ag-charts-community/src/util/textWrap.ts
  packages/ag-charts-enterprise/src/axes/angle/angleAxis.ts
  packages/ag-charts-enterprise/src/series/treemap/treemapSeries.ts
  packages/ag-charts-enterprise/src/series/util/labelFormatter.test.ts
  packages/ag-charts-enterprise/src/series/util/labelFormatter.ts
Owners: @alantreadway

cleanup
  packages/ag-charts-community/src/chart/update/baseLayoutProcessor.ts
  packages/ag-charts-community/src/scene/shape/text.ts
  packages/ag-charts-community/src/util/textWrap.ts
  packages/ag-charts-enterprise/src/features/navigator/miniChart.ts
  packages/ag-charts-enterprise/src/series/map-shape/mapShapeSeries.ts
  packages/ag-charts-enterprise/src/series/util/labelFormatter.ts
Owners: @alantreadway

git subrepo pull external/ag-website-shared
  external/ag-website-shared/.gitrepo
  external/ag-website-shared/scripts/subrepo/package.json
  external/ag-website-shared/scripts/subrepo/src/cli.ts
  external/ag-website-shared/scripts/subrepo/src/lib/exec.ts
  external/ag-website-shared/scripts/subrepo/src/lib/runSubRepoCommand.ts
  external/ag-website-shared/scripts/subrepo/src/lib/terminal-colors.ts
  external/ag-website-shared/src/components/license-pricing/comparison-table/renderers/Label.tsx
  external/ag-website-shared/src/components/site-header/DarkModeToggle.tsx
  external/ag-website-shared/src/components/site-header/HeaderNav.tsx
  external/ag-website-shared/src/components/site-header/SiteHeader.astro
  external/ag-website-shared/src/components/site-header/SiteHeader.module.scss
  external/ag-website-shared/src/content/license-features/gridFeaturesMatrix.json
Owners: @ag-grid/ag-charts-team, @alantreadway, @taktran, @markdurrant

AG-11264 - Add subrepo script for push/pull
  package.json
  yarn.lock
Owners: @alantreadway, @ag-grid/ag-charts-team

Cleanup chart theme (#1411)
  packages/ag-charts-community/src/chart/mapping/__snapshots__/prepare.test.ts.snap
  packages/ag-charts-community/src/chart/series/cartesian/areaSeriesModule.ts
  packages/ag-charts-community/src/chart/series/cartesian/barSeriesModule.ts
  packages/ag-charts-community/src/chart/series/cartesian/bubbleSeriesModule.ts
  packages/ag-charts-community/src/chart/series/cartesian/histogramSeriesModule.ts
  packages/ag-charts-community/src/chart/series/cartesian/lineSeriesModule.ts
  packages/ag-charts-community/src/chart/series/cartesian/scatterSeriesModule.ts
  packages/ag-charts-community/src/chart/themes/chartTheme.ts
  packages/ag-charts-community/src/chart/themes/symbols.ts
  packages/ag-charts-enterprise/src/series/heatmap/heatmapThemes.ts
  packages/ag-charts-enterprise/src/series/nightingale/nightingaleThemes.ts
  packages/ag-charts-enterprise/src/series/radar/radarThemes.ts
  packages/ag-charts-enterprise/src/series/radial-bar/radialBarThemes.ts
  packages/ag-charts-enterprise/src/series/radial-column/radialColumnThemes.ts
  packages/ag-charts-enterprise/src/series/range-area/rangeAreaThemes.ts
  packages/ag-charts-enterprise/src/series/range-bar/rangeBarThemes.ts
Owners: @alantreadway

Revert "Cleanup Matrix and use native DOMMatrix where possible (#1408)"
  libraries/ag-charts-test/src/canvas/mock-canvas.ts
  packages/ag-charts-community/benchmarks/largeDataset.test.ts
  packages/ag-charts-community/jest.config.ts
  packages/ag-charts-community/jest.jsdom-env.cjs
  packages/ag-charts-community/jest.jsdom-with-timezone.cjs
  packages/ag-charts-community/jest.setup.ts
  packages/ag-charts-community/src/chart/agChart.test.ts
  packages/ag-charts-community/src/chart/agChartV2.test.ts
  packages/ag-charts-community/src/chart/axis/axis.ts
  packages/ag-charts-community/src/chart/axis/groupedCategoryAxis.ts
  packages/ag-charts-community/src/chart/chart.test.ts
  packages/ag-charts-community/src/chart/legend.test.ts
  packages/ag-charts-community/src/chart/mapping/prepare.test.ts
  packages/ag-charts-community/src/chart/series/cartesian/histogramSeries.test.ts
  packages/ag-charts-community/src/scene/matrix.test.ts
  packages/ag-charts-community/src/scene/matrix.ts
  packages/ag-charts-community/src/scene/node.ts
  packages/ag-charts-community/src/util/test/mockCanvas.ts
  packages/ag-charts-enterprise/jest.config.ts
  packages/ag-charts-enterprise/jest.setup.ts
  packages/ag-charts-enterprise/src/features/background/backgroundImage.test.ts
  packages/ag-charts-enterprise/src/features/context-menu/contextMenu.test.ts
  packages/ag-charts-enterprise/src/features/error-bar/errorBar.test.ts
  packages/ag-charts-enterprise/src/features/features.test.ts
  packages/ag-charts-enterprise/src/license/licenseManager.ts
  packages/ag-charts-enterprise/src/series/map-line/mapLineSeries.test.ts
  packages/ag-charts-enterprise/src/series/map-marker/mapMarkerSeries.test.ts
  packages/ag-charts-enterprise/src/series/map-shape/mapShapeSeries.test.ts
  packages/ag-charts-enterprise/src/series/sunburst/sunburstSeries.test.ts
  packages/ag-charts-enterprise/src/series/treemap/treemapSeries.test.ts
  packages/ag-charts-enterprise/src/series/treemap/treemapSeries.ts
  packages/ag-charts-enterprise/src/setup.ts
  packages/ag-charts-enterprise/src/test/utils.ts
  plugins/ag-charts-generate-chart-thumbnail/jest.config.ts
  plugins/ag-charts-generate-chart-thumbnail/src/executors/generate/executor.ts
Owners: @ag-grid/ag-charts-team, @alantreadway

Fix lint error.
  packages/ag-charts-website/src/utils/markdoc/getFirstParagraphText.ts
Owners: @ag-grid/ag-charts-team

AG-11190 Restore keyboard navigation highlight update
  packages/ag-charts-community/src/chart/chart.ts
Owners: @alantreadway

AG-11190 Restore keyboard navigation highlight update (#1419)
  packages/ag-charts-community/src/chart/chart.ts
Owners: @alantreadway

AG-11319 Add mouse handling KeyNavManager to clear focus indicator
  packages/ag-charts-community/src/chart/interaction/interactionManager.ts
  packages/ag-charts-community/src/chart/interaction/keyNavManager.ts
Owners: @alantreadway

Initial InteractionState as 'Animation'
  packages/ag-charts-community/src/chart/interaction/interactionManager.ts
Owners: @alantreadway

AG-11319 Rename KeyNavEvent<'focus'> to KeyNavEvent<'browserfocus'>
  packages/ag-charts-community/src/chart/interaction/keyNavManager.ts
  packages/ag-charts-community/src/chart/interaction/regionManager.ts
Owners: @alantreadway

AG-11319 Track focus during animation
  packages/ag-charts-community/src/chart/interaction/keyNavManager.ts
Owners: @alantreadway

Add support for repeated marker rendering.
  packages/ag-charts-community/src/chart/marker/marker.ts
  packages/ag-charts-community/src/scene/shape/shape.ts
Owners: @alantreadway

AG-11268 Fix toolbar toggling visibility and initial flash
  packages/ag-charts-community/src/chart/interaction/toolbarManager.ts
  packages/ag-charts-community/src/chart/toolbar/toolbar.ts
  packages/ag-charts-community/src/chart/toolbar/toolbarProperties.ts
  packages/ag-charts-community/src/chart/toolbar/toolbarStyles.ts
  packages/ag-charts-community/src/chart/toolbar/toolbarTypes.ts
  packages/ag-charts-community/src/options/chart/toolbarOptions.ts
Owners: @alantreadway

AG-11264 - Extract api paths to layout level and move product menu to shared content
  external/ag-website-shared/src/components/site-header/SiteHeader.astro
  external/ag-website-shared/src/content/products/menu.json
Owners: @taktran, @ag-grid/ag-charts-team

AG-11264 - Remove redundant children elements for site header
  external/ag-website-shared/src/components/site-header/HeaderNav.tsx
Owners: @ag-grid/ag-charts-team

AG-11264 - Update charts site header for using shared component
  packages/ag-charts-website/public/images/moon.svg
  packages/ag-charts-website/public/images/sun.svg
  packages/ag-charts-website/src/layouts/Layout.astro
Owners: @ag-grid/ag-charts-team, @taktran

git subrepo pull external/ag-website-shared
  external/ag-website-shared/.gitrepo
Owners: @ag-grid/ag-charts-team

git subrepo pull external/ag-website-shared
  external/ag-website-shared/.gitrepo
  external/ag-website-shared/src/components/product-dropdown/ProductDropdown.module.scss
  external/ag-website-shared/src/components/search/Search.module.scss
  external/ag-website-shared/src/components/site-header/SiteHeader.module.scss
Owners: @ag-grid/ag-charts-team, @markdurrant

git subrepo pull external/ag-website-shared
  external/ag-website-shared/.gitrepo
  external/ag-website-shared/src/components/product-dropdown/ProductDropdown.module.scss
  external/ag-website-shared/src/components/search/Search.module.scss
  external/ag-website-shared/src/components/site-header/SiteHeader.module.scss
Owners: @ag-grid/ag-charts-team, @markdurrant

git subrepo push external/ag-website-shared
  external/ag-website-shared/.gitrepo
Owners: @ag-grid/ag-charts-team

AG-11264 - Delete charts site header code
  packages/ag-charts-website/src/components/site-header/DarkModeToggle.tsx
  packages/ag-charts-website/src/components/site-header/HeaderNav.tsx
  packages/ag-charts-website/src/components/site-header/SiteHeader.astro
Owners: @ag-grid/ag-charts-team, @taktran

AG-11264 - Remove legacy SiteHeader.module.scss file
  packages/ag-charts-website/src/components/SiteLogo.tsx
  packages/ag-charts-website/src/legacy-design-system/modules/SiteHeader.module.scss
Owners: @ag-grid/ag-charts-team, @markdurrant

AG-11190 Fix TC13
  packages/ag-charts-community/src/chart/chart.ts
  packages/ag-charts-community/src/chart/interaction/regionManager.ts
Owners: @alantreadway

AG-11315 - Add support for specifying tabIndex.
  packages/ag-charts-community/src/chart/chart.ts
  packages/ag-charts-community/src/options/chart/chartOptions.ts
Owners: @alantreadway

.github/CODEOWNERS:

# NOTE: Order of entries matters - later entries have higher precedence.

# Attribute code-owners so default reviewers are assigned to PRs.
* @ag-grid/ag-charts-team

# Astro + website changes to be reviewed by website team.
*.scss @markdurrant
*.astro @taktran
/packages/ag-charts-website/astro/** @taktran
/packages/ag-charts-website/components/** @taktran
/packages/ag-charts-website/features/** @taktran
/packages/ag-charts-website/layouts/** @taktran
/packages/ag-charts-website/stores/** @taktran
/packages/ag-charts-website/utils/** @taktran

# Docs updates to be reviewed by Eng VP.
/packages/ag-charts-website/content/** @alantreadway @rmc-software
*.mdoc @rmc-software

# Charts library code to be reviewed by Chart TL.
/packages/ag-charts-community/** @alantreadway
/packages/ag-charts-enterprise/** @alantreadway

# Sensitive build/repo files to be reviewed by Chart TL.
**/package.json @alantreadway
nx.json @alantreadway
**/project.json @alantreadway
**/tsconfig.json @alantreadway
**/tsconfig.*.json @alantreadway
