Repository ag-grid/ag-charts, changes with the owners that .github/CODEOWNERS names for each.
All owners: @ag-grid/ag-charts-team, @markdurrant, @taktran, @alantreadway, @rmc-software

AG-10005 - Working nx dev watch configuration.
  packages/ag-charts-community/project.json
  packages/ag-charts-community/tsconfig.types.watch.json
  packages/ag-charts-enterprise/project.json
  packages/ag-charts-enterprise/tsconfig.types.watch.json
  packages/all/dev.sh
Owners: @alantreadway, @ag-grid/ag-charts-team

AG-10044 - Remove commented out CSS
  packages/ag-charts-website/src/components/release-notes/Collapsible.module.scss
Owners: @markdurrant

AG-10005 - Break thumbnail dependency on library code.
  plugins/ag-charts-task-autogen/src/generate-chart-thumbnails.ts
Owners: @ag-grid/ag-charts-team

AG-3390 - Add facebook and twitter meta tags
  packages/ag-charts-website/public/images/ag-charts-social.png
  packages/ag-charts-website/src/layouts/Layout.astro
Owners: @ag-grid/ag-charts-team, @taktran

AG-9184 Update data per series mismatched keys warning message
  packages/ag-charts-community/src/chart/data/dataController.ts
Owners: @alantreadway

AG-10005 - Add CI 'clean build' option.
  .github/workflows/ci.yml
Owners: @ag-grid/ag-charts-team

AG-3390 - Delete unused charts-overview folder
  packages/ag-charts-website/src/content/docs/charts-overview/_gallery.md
Owners: @ag-grid/ag-charts-team

AG-7332 - Fix domain for small charts with single tick
  packages/ag-charts-community/src/util/ticks.ts
Owners: @alantreadway

AG-7332 - Inverted domain with configured `tick.values` option
  packages/ag-charts-community/src/chart/axis/axis.ts
Owners: @alantreadway

AG-10089 Rename user defined ids to ensure no duplicates
  packages/ag-charts-community/src/chart/mapping/prepareSeries.ts
  packages/ag-charts-community/src/util/id.ts
Owners: @alantreadway

AG-10089 Add e2e test cases
  packages/ag-charts-community/src/chart/__image_snapshots__/ag-chart-v-2-test-ts-ag-chart-v-2-validation-series-id-renders-duplicates-1-snap.png
  packages/ag-charts-community/src/chart/agChartV2.test.ts
Owners: @alantreadway

AG-1089 Fix eslint error
  packages/ag-charts-community/src/chart/agChartV2.test.ts
Owners: @alantreadway

AG-10089 Add unit tests for createUniqueIds
  packages/ag-charts-community/src/util/id.test.ts
Owners: @alantreadway

AG-10089 Ensure that createUniqueIds creates unique IDs
  packages/ag-charts-community/src/util/id.test.ts
  packages/ag-charts-community/src/util/id.ts
Owners: @alantreadway

AG-10089 Ignore duplicate user IDs instead of modifying them
  packages/ag-charts-community/src/chart/agChartV2.test.ts
  packages/ag-charts-community/src/chart/mapping/prepareSeries.ts
  packages/ag-charts-community/src/util/id.test.ts
  packages/ag-charts-community/src/util/id.ts
Owners: @alantreadway

AG-10089 Fix eslint error
  packages/ag-charts-community/src/chart/agChartV2.test.ts
Owners: @alantreadway

AG-10089 Add tests for generated series IDs
  packages/ag-charts-community/src/chart/agChartV2.test.ts
Owners: @alantreadway

AG-10089 Add unit test for resetIds()
  packages/ag-charts-community/src/util/id.test.ts
Owners: @alantreadway

AG-10089 Ensure generated series IDs are unique
  packages/ag-charts-community/src/chart/agChartV2.ts
  packages/ag-charts-community/src/chart/series/series.ts
  packages/ag-charts-community/src/util/id.test.ts
  packages/ag-charts-community/src/util/id.ts
Owners: @alantreadway

AG-7332 - fix crosslines for inverted category axis
  packages/ag-charts-community/src/chart/axis/axis.ts
  packages/ag-charts-community/src/chart/crossline/cartesianCrossLine.ts
  packages/ag-charts-community/src/chart/crossline/crossLine.ts
Owners: @alantreadway

AG-10005 - Multi-threaded thumbnail generation.
  plugins/ag-charts-generate-chart-thumbnail/src/executors-utils.ts
  plugins/ag-charts-generate-chart-thumbnail/src/executors/generate/batch-executor.ts
  plugins/ag-charts-generate-chart-thumbnail/src/executors/generate/batch-instance.ts
  plugins/ag-charts-generate-chart-thumbnail/src/executors/generate/executor.ts
Owners: @ag-grid/ag-charts-team

AG-10005 - Cleanup post-install build.
  package.json
Owners: @alantreadway

Exclude all project from CI builds.
  .github/workflows/ci.yml
Owners: @ag-grid/ag-charts-team

Allow CI workflow on latest to perform full build.
  .github/workflows/ci.yml
Owners: @ag-grid/ag-charts-team

Allow CI workflow on latest to perform full build.
  .github/workflows/ci.yml
Owners: @ag-grid/ag-charts-team

Allow CI workflow on latest to perform full build.
  .github/workflows/ci.yml
Owners: @ag-grid/ag-charts-team

Ignore prettier-unparsable Astro file.
  .prettierignore
Owners: @ag-grid/ag-charts-team

Fix caching of docs-resolved-interfaces.
  packages/ag-charts-community/project.json
Owners: @alantreadway

WIP upgrade to systemjs 6
  packages/ag-charts-react/src/agChartsReact.ts
  packages/ag-charts-website/astro.config.mjs
  packages/ag-charts-website/package.json
  packages/ag-charts-website/public/example-runner/charts-react-boilerplate/systemjs.config.dev.js
  packages/ag-charts-website/public/example-runner/charts-react-boilerplate/systemjs.config.js
  packages/ag-charts-website/public/example-runner/charts-react-ts-boilerplate/systemjs.config.dev.js
  packages/ag-charts-website/public/example-runner/charts-typescript-boilerplate/systemjs.config.dev.js
  packages/ag-charts-website/public/example-runner/charts-typescript-boilerplate/systemjs.config.js
  packages/ag-charts-website/src/content/docs/zoom/_examples/zoom/main.ts
  packages/ag-charts-website/src/features/example-runner/framework-templates/lib/SystemJs.tsx
  packages/ag-charts-website/src/utils/pages.ts
  yarn.lock
Owners: @ag-grid/ag-charts-team, @alantreadway

AG-10005 - Switch to Map for results/resolvers.
  plugins/ag-charts-generate-chart-thumbnail/src/executors-utils.ts
Owners: @ag-grid/ag-charts-team

AG-10044 - Add layout stuff to style guide
  packages/ag-charts-website/src/design-system/core/_variables-refactor.scss
  packages/ag-charts-website/src/design-system/style-guide/StyleGuide.module.scss
  packages/ag-charts-website/src/design-system/style-guide/StyleGuide.tsx
Owners: @markdurrant, @ag-grid/ag-charts-team

AG-10044 - Add warning / util warning colors
  packages/ag-charts-website/src/design-system/core/_variables-refactor.scss
  packages/ag-charts-website/src/design-system/style-guide/Colors.tsx
Owners: @markdurrant, @ag-grid/ag-charts-team

AG-10044 - Add new style guide page
  packages/ag-charts-website/src/pages/style-guide.astro
Owners: @taktran

AG-10044 - Update Style guide styles
  packages/ag-charts-website/src/design-system/style-guide/Colors.tsx
  packages/ag-charts-website/src/design-system/style-guide/StyleGuide.module.scss
  packages/ag-charts-website/src/design-system/style-guide/StyleGuide.tsx
  packages/ag-charts-website/src/design-system/style-guide/TextStyles.tsx
Owners: @ag-grid/ag-charts-team, @markdurrant

AG-10044 - Refactor typography variables, add spacing Sass variables
  packages/ag-charts-website/src/design-system/core/_variables-refactor.scss
  packages/ag-charts-website/src/design-system/style-guide/Colors.tsx
  packages/ag-charts-website/src/design-system/style-guide/TextStyles.tsx
Owners: @markdurrant, @ag-grid/ag-charts-team

AG-10044 - Minor styleguide refactor
  packages/ag-charts-website/src/design-system/style-guide/Inputs.tsx
  packages/ag-charts-website/src/design-system/style-guide/StyleGuide.module.scss
Owners: @ag-grid/ag-charts-team, @markdurrant

AG-10044 - Typography refactor
  packages/ag-charts-website/src/design-system/core/_variables-refactor.scss
  packages/ag-charts-website/src/design-system/style-guide/TextStyles.tsx
Owners: @markdurrant, @ag-grid/ag-charts-team

AG-10044 - Add computed color variables, tidy up style guide
  packages/ag-charts-website/src/design-system/core/_variables-refactor.scss
  packages/ag-charts-website/src/design-system/core/_variables.scss
  packages/ag-charts-website/src/design-system/style-guide/Colors.tsx
  packages/ag-charts-website/src/design-system/style-guide/TextStyles.tsx
Owners: @markdurrant, @ag-grid/ag-charts-team

AG-10044 - Fix input value console error
  packages/ag-charts-website/src/design-system/style-guide/Inputs.tsx
Owners: @ag-grid/ag-charts-team

AG-10044 - Remove Sass variables
  packages/ag-charts-website/src/design-system/core/_variables-refactor.scss
Owners: @markdurrant

.github/CODEOWNERS:

# NOTE: Order of entries matters - later entries have higher precedence.

# Attribute code-owners so default reviewers are assigned to PRs.
* @ag-grid/ag-charts-team

# Astro + website changes to be reviewed by website team.
*.scss @markdurrant
*.astro @taktran
/packages/ag-charts-website/astro/** @taktran
/packages/ag-charts-website/components/** @taktran
/packages/ag-charts-website/features/** @taktran
/packages/ag-charts-website/layouts/** @taktran
/packages/ag-charts-website/stores/** @taktran
/packages/ag-charts-website/utils/** @taktran

# Docs updates to be reviewed by Eng VP.
/packages/ag-charts-website/content/** @alantreadway @rmc-software
*.mdoc @rmc-software

# Charts library code to be reviewed by Chart TL.
/packages/ag-charts-community/** @alantreadway
/packages/ag-charts-enterprise/** @alantreadway

# Sensitive build/repo files to be reviewed by Chart TL.
**/package.json @alantreadway
nx.json @alantreadway
**/project.json @alantreadway
**/tsconfig.json @alantreadway
**/tsconfig.*.json @alantreadway
